# Exploracion para el Catalogo de Datos
### ICFES - SABER11

In [1]:
import pandas as pd

In [2]:
%run -i tools/functions.py

## Antecedentes Escolares

   ### -Antecedentes 2009-2012
Nota: se estan cargando los archivos con solo 20 rows

In [15]:
ant2009 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/antecedentes2009-2012/antecedentes2009_2_v1.0.txt", delimiter="|", nrows = 20)
ant2010 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/antecedentes2009-2012/antecedentes2010_2_v1.0.txt", delimiter="|", nrows = 20)
ant2011_1 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/antecedentes2009-2012/antecedentes2011_1_v1.0.txt", delimiter="|", nrows = 20)
ant2011_2 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/antecedentes2009-2012/antecedentes2011_2_v1.0.txt", delimiter="|", nrows = 20)
ant2012_1 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/antecedentes2009-2012/antecedentes2012_1_v1.0.txt", delimiter="|", nrows = 20)
ant2012_2 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/antecedentes2009-2012/antecedentes2012_2_v1.0.txt", delimiter="|", nrows = 20)

In [43]:
print("File Shape", ant2009.shape)
print(shape_cols(ant2009))
#hay 4 que no son campos numericos (consecutivo, ciudad, universidad, ciudad deseada)
ant2009.describe()

File Shape (20, 41)
Columns found:  37
None

,INAD_ANOSPREESCOLAR,INAD_ANOPRIMERO,INAD_ANOQUINTO,INAD_ANOSEXTO,INAD_PERDIOPRIMERO,INAD_PERDIOSEGUNDO,INAD_PERDIOTERCERO,INAD_PERDIOCUARTO,INAD_PERDIOQUINTO,INAD_PERDIOSEXTO,...,INAD_RAZONUNIVEMPLEO,INAD_RAZONUNIVAMIGOS,INAD_RAZONUNIVOTRA,INAD_RAZONCARRERAVOCACION,INAD_RAZONCARRERATALLER,INAD_RAZONCARRERAGUIA,INAD_RAZONCARRERAINTERES,INAD_RAZONCARRERATRADICION,INAD_RAZONCARRERAECONOMICA,INAD_RAZONCARRERAINFLUENCIA
count,20.000000,20.000000,20.00000,20.000000,20.0,20.0,20.0,20.0,20.0,20.000000,...,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,1.300000,1998.350000,2002.65000,2003.500000,0.0,0.0,0.0,0.0,0.0,0.050000,...,0.850000,0.35000,0.400000,0.800000,0.550000,0.500000,0.950000,0.450000,0.900000,0.400000
std,1.080935,0.875094,0.48936,0.760886,0.0,0.0,0.0,0.0,0.0,0.223607,...,0.366348,0.48936,0.502625,0.615587,0.686333,0.688247,0.223607,0.510418,0.307794,0.502625
min,0.000000,1996.000000,2002.00000,2001.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.750000,1998.000000,2002.00000,2003.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,1.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
50%,1.000000,1999.000000,2003.00000,2004.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,1.000000,0.00000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,2.000000,1999.000000,2003.00000,2004.000000,0.0,0.0,0.0,0.0,0.0,0.000000,...,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,3.000000,1999.000000,2003.00000,2004.000000,0.0,0.0,0.0,0.0,0.0,1.000000,...,1.000000,1.00000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000

In [44]:
print("File Shape", ant2010.shape)
print(shape_cols(ant2010))
ant2010.describe()

File Shape (20, 41)
Columns found:  37
None

,INAD_ANOSPREESCOLAR,INAD_ANOPRIMERO,INAD_ANOQUINTO,INAD_ANOSEXTO,INAD_PERDIOPRIMERO,INAD_PERDIOSEGUNDO,INAD_PERDIOTERCERO,INAD_PERDIOCUARTO,INAD_PERDIOQUINTO,INAD_PERDIOSEXTO,...,INAD_RAZONUNIVEMPLEO,INAD_RAZONUNIVAMIGOS,INAD_RAZONUNIVOTRA,INAD_RAZONCARRERAVOCACION,INAD_RAZONCARRERATALLER,INAD_RAZONCARRERAGUIA,INAD_RAZONCARRERAINTERES,INAD_RAZONCARRERATRADICION,INAD_RAZONCARRERAECONOMICA,INAD_RAZONCARRERAINFLUENCIA
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.0,20.0,20.0,...,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,1.300000,1997.150000,2001.800000,2003.500000,0.100000,0.100000,0.050000,0.0,0.0,0.0,...,0.600000,0.300000,0.400000,0.500000,0.400000,0.500000,0.850000,0.050000,0.600000,0.300000
std,0.978721,3.759549,3.001754,1.670172,0.307794,0.307794,0.223607,0.0,0.0,0.0,...,0.502625,0.470162,0.502625,0.606977,0.753937,0.760886,0.366348,0.223607,0.502625,0.470162
min,0.000000,1985.000000,1993.000000,1997.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.750000,1997.750000,2003.000000,2004.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,1.000000,1999.000000,2003.000000,2004.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
75%,2.000000,1999.000000,2003.000000,2004.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,...,1.000000,1.000000,1.000000,1.000000,0.250000,1.000000,1.000000,0.000000,1.000000,1.000000
max,3.000000,1999.000000,2003.000000,2004.000000,1.000000,1.000000,1.000000,0.0,0.0,0.0,...,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000

In [45]:
print("File Shape", ant2011_1.shape)
print(shape_cols(ant2011_1))
ant2011_1.describe()

File Shape (20, 41)
Columns found:  37
None

,INAD_ANOSPREESCOLAR,INAD_ANOPRIMERO,INAD_ANOQUINTO,INAD_ANOSEXTO,INAD_PERDIOPRIMERO,INAD_PERDIOSEGUNDO,INAD_PERDIOTERCERO,INAD_PERDIOCUARTO,INAD_PERDIOQUINTO,INAD_PERDIOSEXTO,...,INAD_RAZONUNIVEMPLEO,INAD_RAZONUNIVAMIGOS,INAD_RAZONUNIVOTRA,INAD_RAZONCARRERAVOCACION,INAD_RAZONCARRERATALLER,INAD_RAZONCARRERAGUIA,INAD_RAZONCARRERAINTERES,INAD_RAZONCARRERATRADICION,INAD_RAZONCARRERAECONOMICA,INAD_RAZONCARRERAINFLUENCIA
count,20.000000,20.000000,20.000000,20.000000,20.0,20.000000,20.0,20.0,20.000000,20.000000,...,20.000000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,1.500000,1996.400000,2001.450000,2003.000000,0.0,0.050000,0.0,0.0,0.050000,0.050000,...,0.550000,0.300000,0.35000,0.700000,0.100000,0.100000,0.850000,0.100000,0.500000,0.100000
std,1.100239,5.164657,5.889107,5.656854,0.0,0.223607,0.0,0.0,0.223607,0.223607,...,0.510418,0.470162,0.48936,0.571241,0.447214,0.447214,0.366348,0.307794,0.512989,0.307794
min,0.000000,1985.000000,1985.000000,1985.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.750000,1997.000000,2002.000000,2003.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,2.000000,1998.500000,2003.500000,2005.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,1.000000,0.000000,0.00000,1.000000,0.000000,0.000000,1.000000,0.000000,0.500000,0.000000
75%,2.000000,2000.000000,2005.000000,2006.000000,0.0,0.000000,0.0,0.0,0.000000,0.000000,...,1.000000,1.000000,1.00000,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,3.000000,2000.000000,2005.000000,2006.000000,0.0,1.000000,0.0,0.0,1.000000,1.000000,...,1.000000,1.000000,1.00000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000

In [46]:
print("File Shape", ant2011_2.shape)
print(shape_cols(ant2011_2))
ant2011_2.describe()

File Shape (20, 41)
Columns found:  37
None

,INAD_ANOSPREESCOLAR,INAD_ANOPRIMERO,INAD_ANOQUINTO,INAD_ANOSEXTO,INAD_PERDIOPRIMERO,INAD_PERDIOSEGUNDO,INAD_PERDIOTERCERO,INAD_PERDIOCUARTO,INAD_PERDIOQUINTO,INAD_PERDIOSEXTO,...,INAD_RAZONUNIVEMPLEO,INAD_RAZONUNIVAMIGOS,INAD_RAZONUNIVOTRA,INAD_RAZONCARRERAVOCACION,INAD_RAZONCARRERATALLER,INAD_RAZONCARRERAGUIA,INAD_RAZONCARRERAINTERES,INAD_RAZONCARRERATRADICION,INAD_RAZONCARRERAECONOMICA,INAD_RAZONCARRERAINFLUENCIA
count,20.000000,20.000000,20.000000,20.00000,20.000000,20.0,20.000000,20.000000,20.000000,20.000000,...,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.0,19.000000
mean,1.200000,1997.800000,2003.250000,2004.40000,0.100000,0.0,0.150000,0.050000,0.100000,0.050000,...,0.578947,0.315789,0.368421,0.894737,0.842105,1.052632,0.894737,0.157895,1.0,0.315789
std,0.951453,4.958777,4.552327,4.71727,0.307794,0.0,0.366348,0.223607,0.307794,0.223607,...,0.507257,0.477567,0.495595,0.657836,0.958190,0.848115,0.315302,0.374634,0.0,0.477567
min,0.000000,1985.000000,1985.000000,1985.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000
25%,1.000000,1998.250000,2004.000000,2005.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.500000,0.000000,0.000000,1.000000,0.000000,1.0,0.000000
50%,1.000000,2000.000000,2004.500000,2006.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,0.000000
75%,1.250000,2001.000000,2005.000000,2006.00000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,0.000000,1.0,1.000000
max,3.000000,2001.000000,2007.000000,2008.00000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.0,1.000000

In [47]:
print("File Shape", ant2012_1.shape)
print(shape_cols(ant2012_1))
ant2012_1.describe()

File Shape (20, 41)
Columns found:  37
None

,INAD_ANOSPREESCOLAR,INAD_ANOPRIMERO,INAD_ANOQUINTO,INAD_ANOSEXTO,INAD_PERDIOPRIMERO,INAD_PERDIOSEGUNDO,INAD_PERDIOTERCERO,INAD_PERDIOCUARTO,INAD_PERDIOQUINTO,INAD_PERDIOSEXTO,...,INAD_RAZONUNIVEMPLEO,INAD_RAZONUNIVAMIGOS,INAD_RAZONUNIVOTRA,INAD_RAZONCARRERAVOCACION,INAD_RAZONCARRERATALLER,INAD_RAZONCARRERAGUIA,INAD_RAZONCARRERAINTERES,INAD_RAZONCARRERATRADICION,INAD_RAZONCARRERAECONOMICA,INAD_RAZONCARRERAINFLUENCIA
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,...,16.000,16.000000,16.000,16.00000,16.000000,16.000000,16.000000,16.000,16.000000,16.000000
mean,1.800000,1996.700000,2001.250000,2002.050000,0.050000,0.050000,0.100000,0.050000,0.100000,0.100000,...,0.625,0.437500,0.375,0.75000,0.875000,0.875000,0.875000,0.375,0.687500,0.437500
std,1.151658,6.173799,7.347574,7.373316,0.223607,0.223607,0.307794,0.223607,0.307794,0.307794,...,0.500,0.512348,0.500,0.57735,0.806226,0.885061,0.341565,0.500,0.478714,0.512348
min,0.000000,1985.000000,1985.000000,1985.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000,0.00000,0.000000,0.000000,0.000000,0.000,0.000000,0.000000
25%,1.000000,1996.000000,2000.500000,2001.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000,0.000000,0.000,0.00000,0.000000,0.000000,1.000000,0.000,0.000000,0.000000
50%,2.000000,1999.500000,2005.000000,2006.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000,0.000000,0.000,1.00000,1.000000,1.000000,1.000000,0.000,1.000000,0.000000
75%,3.000000,2001.000000,2006.000000,2006.250000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000,1.000000,1.000,1.00000,1.250000,2.000000,1.000000,1.000,1.000000,1.000000
max,3.000000,2002.000000,2007.000000,2008.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000,1.000000,1.000,2.00000,2.000000,2.000000,1.000000,1.000,1.000000,1.000000

In [48]:
print("File Shape", ant2012_2.shape)
print(shape_cols(ant2012_2))
ant2012_2.describe()

File Shape (20, 41)
Columns found:  37
None

,INAD_ANOSPREESCOLAR,INAD_ANOPRIMERO,INAD_ANOQUINTO,INAD_ANOSEXTO,INAD_PERDIOPRIMERO,INAD_PERDIOSEGUNDO,INAD_PERDIOTERCERO,INAD_PERDIOCUARTO,INAD_PERDIOQUINTO,INAD_PERDIOSEXTO,...,INAD_RAZONUNIVEMPLEO,INAD_RAZONUNIVAMIGOS,INAD_RAZONUNIVOTRA,INAD_RAZONCARRERAVOCACION,INAD_RAZONCARRERATALLER,INAD_RAZONCARRERAGUIA,INAD_RAZONCARRERAINTERES,INAD_RAZONCARRERATRADICION,INAD_RAZONCARRERAECONOMICA,INAD_RAZONCARRERAINFLUENCIA
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,...,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.000000,19.0,19.000000,19.000000
mean,1.300000,1999.850000,2004.950000,2006.450000,0.100000,0.100000,0.100000,0.050000,0.100000,0.150000,...,0.736842,0.315789,0.210526,0.631579,0.368421,0.578947,0.894737,0.0,0.684211,0.368421
std,0.732695,2.641272,1.538112,0.759155,0.307794,0.307794,0.307794,0.223607,0.307794,0.366348,...,0.452414,0.477567,0.418854,0.683986,0.760886,0.837708,0.315302,0.0,0.477567,0.495595
min,0.000000,1992.000000,1999.000000,2005.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000
25%,1.000000,2000.000000,2005.000000,2006.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.0,0.000000,0.000000
50%,1.000000,2001.000000,2005.000000,2006.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.0,1.000000,0.000000
75%,1.250000,2001.000000,2006.000000,2007.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,0.0,1.000000,1.000000
max,3.000000,2002.000000,2006.000000,2008.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,2.000000,2.000000,2.000000,1.000000,0.0,1.000000,1.000000

### -Antecedentes 2014
nota: muy pocas columnas numericas... revisar

In [56]:
ant2014_1 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/antecedentes2014/antecedentes_20141_v1-0.txt", delimiter="|", nrows = 20)
ant2014_2 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/antecedentes2014/antecedentes_20142_v1-0.txt", delimiter="|", nrows = 20)

In [58]:
print("File Shape", ant2014_1.shape)
print(shape_cols(ant2014_1))
ant2014_1.describe()

File Shape (20, 42)
Columns found:  12
None

,FINS_ANOSPREESCOLAR,FINS_ANOQUINTOTERMINOAPROBO,FINS_ANOMATRICULAPRIMERO,FINS_ANOMATRICULASEXTO,FINS_ANOSCOLEGIOACTUAL,FINS_CUANTOSCOLEGIOSESTUDIO,FINS_RETIRARSECOLEGIO,FINS_RAZONRETIRO,FINS_TOTALALUMNOSCURSO,FINS_TIPOCARRERADESEADA,FINS_INSTITUCIONDESEADA,MUNI_CODIGODANE
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,6.000000,20.000000,20.000000,20.000000,20.000000
mean,2.10000,2006.200000,2001.150000,2007.200000,4.400000,1.750000,1.400000,6.500000,26.950000,2.850000,8074.200000,43465.950000
std,0.91191,1.542384,1.871532,1.542384,2.779625,0.786398,0.680557,2.810694,6.984758,0.366348,2700.211992,30402.526151
min,0.00000,2001.000000,1994.000000,2002.000000,1.000000,1.000000,1.000000,3.000000,15.000000,2.000000,504.000000,11001.000000
25%,1.75000,2005.750000,2001.000000,2006.750000,2.000000,1.000000,1.000000,4.250000,24.250000,3.000000,9076.500000,17001.000000
50%,2.00000,2007.000000,2002.000000,2008.000000,4.500000,2.000000,1.000000,7.000000,25.000000,3.000000,9101.500000,25150.500000
75%,3.00000,2007.000000,2002.000000,2008.000000,7.250000,2.000000,2.000000,9.000000,30.500000,3.000000,9206.000000,76001.000000
max,3.00000,2007.000000,2002.000000,2008.000000,8.000000,3.000000,3.000000,9.000000,44.000000,3.000000,9224.000000,76001.000000

In [59]:
print("File Shape", ant2014_2.shape)
print(shape_cols(ant2014_2))
ant2014_2.describe()

File Shape (20, 42)
Columns found:  11
None

,FINS_ANOSPREESCOLAR,FINS_ANOQUINTOTERMINOAPROBO,FINS_ANOMATRICULAPRIMERO,FINS_ANOMATRICULASEXTO,FINS_ANOSCOLEGIOACTUAL,FINS_CUANTOSCOLEGIOSESTUDIO,FINS_RETIRARSECOLEGIO,FINS_RAZONRETIRO,FINS_TOTALALUMNOSCURSO,FINS_TIPOCARRERADESEADA,MUNI_CODIGODANE
count,20.00000,20.000000,20.000000,20.000000,20.000000,20.000000,20.0,0.0,20.000000,20.0,14.000000
mean,1.60000,2006.700000,2001.950000,2007.900000,6.200000,1.300000,1.0,NaN,29.900000,3.0,30572.428571
std,0.88258,0.978721,0.223607,0.447214,1.962812,0.656947,0.0,NaN,9.802792,0.0,26369.312834
min,0.00000,2003.000000,2001.000000,2006.000000,2.000000,1.000000,1.0,NaN,11.000000,3.0,5001.000000
25%,1.00000,2007.000000,2002.000000,2008.000000,5.500000,1.000000,1.0,NaN,25.000000,3.0,8751.000000
50%,1.00000,2007.000000,2002.000000,2008.000000,7.000000,1.000000,1.0,NaN,31.500000,3.0,13001.000000
75%,2.00000,2007.000000,2002.000000,2008.000000,8.000000,1.000000,1.0,NaN,35.000000,3.0,47001.000000
max,3.00000,2007.000000,2002.000000,2008.000000,8.000000,3.000000,1.0,NaN,53.000000,3.0,70001.000000

### -Expectativas 2014

In [66]:
exp2014_1 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/expectativas2014/expectativas_20141_v1-0.txt", delimiter="|", nrows = 20)
exp2014_2 = pd.read_csv("DatosFTPICFES/SABER11/SB11-ANTECEDENTESESCOLARES/expectativas2014/expectativas_20142_v1-0.txt", delimiter="|", nrows = 20)

In [67]:
print("File Shape", exp2014_1.shape)
print(shape_cols(exp2014_1))
exp2014_1.describe()

File Shape (20, 8)
Columns found:  7
None

,FINS_INGRESOCARRERAPROXIMOANO,FINS_PUNTAJEESPERADOMATEMATICA,FINS_PUNTAJEESPERADOLENGUAJE,FINS_PUNTAJEESPERADOINGLES,FINS_SALARIOESPERADOBACHILLER,FINS_SALARIOESPERADOTECNICO,FINS_SALARIOESPERADOPROFESIONA
count,20.00000,20.000000,20.00000,20.000000,20.000000,20.000000,20.000000
mean,3.40000,3.100000,3.25000,3.550000,1.650000,2.650000,4.250000
std,0.88258,0.852242,0.55012,0.686333,0.875094,0.875094,1.371707
min,1.00000,1.000000,2.00000,2.000000,1.000000,1.000000,1.000000
25%,3.00000,3.000000,3.00000,3.000000,1.000000,2.000000,3.750000
50%,4.00000,3.000000,3.00000,4.000000,1.000000,3.000000,4.000000
75%,4.00000,4.000000,4.00000,4.000000,2.000000,3.000000,5.000000
max,4.00000,4.000000,4.00000,4.000000,4.000000,4.000000,6.000000

In [68]:
print("File Shape", exp2014_2.shape)
print(shape_cols(exp2014_2))
exp2014_2.describe()

File Shape (20, 8)
Columns found:  7
None

,FINS_INGRESOCARRERAPROXIMOANO,FINS_PUNTAJEESPERADOMATEMATICA,FINS_PUNTAJEESPERADOLENGUAJE,FINS_PUNTAJEESPERADOINGLES,FINS_SALARIOESPERADOBACHILLER,FINS_SALARIOESPERADOTECNICO,FINS_SALARIOESPERADOPROFESIONA
count,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,2.750000,3.100000,3.300000,2.900000,1.900000,2.450000,3.550000
std,0.966546,0.552506,0.571241,0.852242,1.293709,0.998683,1.234376
min,1.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000
25%,2.000000,3.000000,3.000000,2.000000,1.000000,2.000000,3.000000
50%,3.000000,3.000000,3.000000,3.000000,1.500000,2.000000,3.000000
75%,3.250000,3.000000,4.000000,3.250000,2.000000,3.000000,4.000000
max,4.000000,4.000000,4.000000,4.000000,6.000000,5.000000,6.000000