In [314]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [315]:
data_2013 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20131-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (11,12,13,15,16,24,25,26,27,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [316]:
data_2013.shape

(86470, 113)

In [317]:
data_2013.head(3).T

,0,1,2
PERIODO,20131,20131,20131
ESTU_CONSECUTIVO,SABER1120131000001,SABER1120131000002,SABER1120131000003
ESTU_EDAD,27,27,23
ESTU_TIPO_DOCUMENTO,C,C,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,13,1,23
ESTU_NACIMIENTO_MES,7,5,1
ESTU_NACIMIENTO_ANNO,1985,1985,1990
ESTU_ETNIA,NaN,1,NaN
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,5837,5001,5837
ESTU_RESIDE_MCPIO,TURBO,MEDELLIN,TURBO
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_ZONA_RESIDE,10,4,10
ESTU_AREA_RESIDE,NaN,NaN,NaN
COLE_COD_ICFES,131219,131219,131219
COLE_COD_DANE_INSTITUCION,3.05837e+11,3.05837e+11,3.05837e+11
COLE_NOMBRE_SEDE,INSTITUTO CORFERRINI,INSTITUTO CORFERRINI,INSTITUTO CORFERRINI
COLE_CALENDARIO,F,F,F
COLE_GENERO,X,X,X
COLE_NATURALEZA,N,N,N
COLE_BILINGUE,NaN,NaN,NaN
COLE_JORNADA,SABATINA - DOMINICAL,SABATINA - DOMINICAL,SABATINA - DOMINICAL
...,...,...,...
FAMI_NIVEL_SISBEN,1,1,1
FAMI_PISOSHOGAR,2,2,2
FAMI_PERSONAS_HOGAR,5,6,8
FAMI_TELEFONO_FIJO,1,1,0
FAMI_CELULAR,1,1,1
FAMI_INTERNET,0,1,1
FAMI_SERVICIO_TELEVISION,1,0,1
FAMI_COMPUTADOR,0,0,1
FAMI_LAVADORA,1,1,0
FAMI_NEVERA,1,1,1
FAMI_HORNO,1,0,0
FAMI_DVD,1,1,0
FAMI_MICROONDAS,0,0,0
FAMI_AUTOMOVIL,0,0,0
FAMI_INGRESO_FMILIAR_MENSUAL,2,2,2
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
PUNT_LENGUAJE,47,27,57
PUNT_MATEMATICAS,22,38,42
PUNT_C_SOCIALES,46,31,41
PUNT_FILOSOFIA,30,43,41
PUNT_BIOLOGIA,44,39,54
PUNT_QUIMICA,39,34,45
PUNT_FISICA,37,47,45
PUNT_INGLES,40,40,43
DESEMP_INGLES,A-,A-,A1
NOMBRE_COMP_FLEXIBLE,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,VIOLENCIA Y SOCIEDAD,PROFUNDIZACIÓN EN LENGUAJE
PUNT_COMP_FLEXIBLE,4,28,5
DESEMP_COMP_FLEXIBLE,GB,NaN,I
ESTU_PUESTO,792,948,440

In [318]:
data_2013 = data_2013.drop(['PERIODO', 'ESTU_CONSECUTIVO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                           'COLE_NOMBRE_SEDE', 'ESTU_IES_COD_MPIO_DESEADA', 'ESTU_IES_DESEADA_NOMBRE',
                           'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_EXAM_NOMBREEXAMEN'], axis=1)

In [319]:
data_2013.shape

(86470, 104)

In [320]:
c = 'ESTU_EDAD'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([  9.0,  10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,
               18.0,  19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,
               27.0,  28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,
               36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,
               45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,
               54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,
               63.0,  64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  71.0,  74.0,
               75.0,  90.0, 113.0, 115.0, 363.0, 817.0, 818.0, 999.0],
             dtype='float64')
9          1
10       187
11        48
12         9
13        30
14        89
15      1368
16     12248
17     22190
18     14600
19      8099
20      5042
21      3517
22      2636
23      2029
24      1604
25      1257
26      1144
27       991
28       904
29       793
30       712
31       638
32       552
33       516
34       455
35       404
36       373
37       314
38       329
       ...
50       106
51       100
52        90
53        68
54        49
55        49
56        37
57        35
58        28
59        30
60        18
61        11
62         7
63         7
64         3
65         4
66         4
67        10
68         2
69         2
71         2
74         1
75         1
90         1
113       25
115        1
363        1
817        2
818        1
999      497
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 86469
__________________
(86469,)
None

In [321]:
for i in data_2013[c].value_counts().sort_index().index:
    if i > 90:
        data_2013[c] = data_2013[c].replace(i, np.nan)
        
idx = data_2013[data_2013[c].isnull()].index
data_2013 = data_2013.drop(idx)

In [322]:
c = 'ESTU_PAIS_RESIDE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['CO'], dtype='object')
CO    85937
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 85937
__________________
(85937,)
None

In [323]:
data_2013[c].fillna('CO', inplace=True)

In [324]:
c = 'ESTU_GENERO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['F', 'M'], dtype='object')
F    43614
M    41972
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 356
__________________
Elementos diferentes de null/NaN: 85586
__________________
(85586,)
None

In [325]:
Do_resamples(data_2013, c, str)

cant null antes: 356
cant null despues: 0

In [326]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     2859
2     2781
3     2838
4     2765
5     2889
6     2753
7     2794
8     2703
9     2773
10    2959
11    2808
12    2977
13    2730
14    2737
15    2903
16    2836
17    2835
18    2866
19    2813
20    2823
21    2659
22    2876
23    2805
24    2796
25    2782
26    2829
27    2894
28    2874
29    2567
30    2522
31    1535
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 361
__________________
Elementos diferentes de null/NaN: 85581
__________________
(85581,)
None

In [327]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     6947
2     6379
3     7162
4     6981
5     7270
6     7091
7     7224
8     7212
9     7556
10    7344
11    7008
12    7407
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 361
__________________
Elementos diferentes de null/NaN: 85581
__________________
(85581,)
None

In [328]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([  22.0,   96.0, 1922.0, 1937.0, 1939.0, 1941.0, 1942.0, 1943.0,
              1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2013.0],
             dtype='float64')
22          1
96          1
1922        1
1937        1
1939        1
1941        1
1942        1
1943        1
1944        1
1945       12
1946        3
1947        4
1948        3
1949        3
1950       10
1951       10
1952       15
1953       28
1954       31
1955       28
1956       36
1957       43
1958       45
1959       67
1960       85
1961      100
1962      104
1963      110
1964      137
1965      152
        ...
1976      352
1977      402
1978      456
1979      486
1980      562
1981      621
1982      690
1983      759
1984      862
1985      976
1986     1101
1987     1238
1988     1528
1989     1870
1990     2458
1991     3324
1992     4710
1993     7321
1994    12976
1995    21626
1996    15167
1997     2273
1998      150
1999       33
2000        8
2001       22
2002      191
2003        9
2004        3
2013        1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 361
__________________
Elementos diferentes de null/NaN: 85581
__________________
(85581,)
None

In [329]:
for i in data_2013[c].value_counts().sort_index().index:
    if i < 1923:
        data_2013[c] = data_2013[c].replace(i, np.nan)
    elif i > 2004:
        data_2013[c] = data_2013[c].replace(i, np.nan)
        
anno = data_2013[data_2013[c].isnull()].index
data_2013 = data_2013.drop(anno)

In [330]:
c = 'ESTU_ETNIA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 99.0],
             dtype='float64')
1     2658
2       75
3      266
4       20
5       58
6       86
7       71
8      217
9      134
10     173
11     959
12      45
13      49
14       7
15      13
16       6
17      51
18       1
99    6061
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 74627
__________________
Elementos diferentes de null/NaN: 10950
__________________
(10950,)
None

In [331]:
data_2013[c].fillna(99, inplace=True)

In [332]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['B'], dtype='object')
B    154
Name: ESTU_LIMITA_BAJAVISION, dtype: int64
Elementos null/NaN 85423
__________________
Elementos diferentes de null/NaN: 154
__________________
(154,)
None

In [333]:
data_2013 = data_2013.drop([c], axis=1)

In [334]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['C'], dtype='object')
C    1
Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64
Elementos null/NaN 85576
__________________
Elementos diferentes de null/NaN: 1
__________________
(1,)
None

In [335]:
data_2013 = data_2013.drop([c], axis=1)

In [336]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['G'], dtype='object')
G    46
Name: ESTU_LIMITA_COGNITIVA, dtype: int64
Elementos null/NaN 85531
__________________
Elementos diferentes de null/NaN: 46
__________________
(46,)
None

In [337]:
data_2013 = data_2013.drop([c], axis=1)

In [338]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['I'], dtype='object')
I    4
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 85573
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [339]:
data_2013 = data_2013.drop([c], axis=1)

In [340]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['M'], dtype='object')
M    105
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 85472
__________________
Elementos diferentes de null/NaN: 105
__________________
(105,)
None

In [341]:
data_2013 = data_2013.drop([c], axis=1)

In [342]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['R'], dtype='object')
R    17
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 85560
__________________
Elementos diferentes de null/NaN: 17
__________________
(17,)
None

In [343]:
data_2013 = data_2013.drop([c], axis=1)

In [344]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['S'], dtype='object')
S    30
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 85547
__________________
Elementos diferentes de null/NaN: 30
__________________
(30,)
None

In [345]:
data_2013 = data_2013.drop([c], axis=1)

In [346]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACEVEDO', 'ACHI', 'AGRADO',
       'AGUA DE DIOS', 'AGUACHICA', 'AGUADAS', 'AGUAZUL',
       ...
       'YOPAL', 'YOTOCO', 'YUMBO', 'ZAPATOCA', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=891)
ABEJORRAL                      7
ABREGO                         6
ACACIAS                       60
ACEVEDO                       36
ACHI                           2
AGRADO                        10
AGUA DE DIOS                  10
AGUACHICA                    145
AGUADAS                        9
AGUAZUL                       85
AGUSTIN CODAZZI               56
AIPE                          53
ALBAN                          2
ALBAN (SAN JOSE)              35
ALBANIA                       52
ALCALA                         8
ALDANA                        23
ALEJANDRIA                     3
ALGECIRAS                     70
ALMAGUER                       2
ALMEIDA                        1
ALPUJARRA                      2
ALTAMIRA                      10
ALTO BAUDO (PIE DE PATO)       4
ALTOS DEL ROSARIO              3
ALVARADO                       3
AMAGA                          6
AMALFI                         3
AMBALEMA                       1
ANAPOIMA                       5
                            ...
VILLA RICA                    51
VILLAGARZON                   32
VILLAGOMEZ                     1
VILLAHERMOSA                  12
VILLAMARIA                   118
VILLANUEVA                    97
VILLAPINZON                   11
VILLARRICA                     3
VILLAVICENCIO               1195
VILLAVIEJA                     8
VILLETA                       26
VIRACACHA                      2
VISTA HERMOSA                 29
VITERBO                        1
YACUANQUER                    30
YAGUARA                       32
YALI                          10
YARUMAL                        4
YOLOMBO                        1
YONDO (CASABE)                12
YOPAL                        376
YOTOCO                        23
YUMBO                         19
ZAPATOCA                       9
ZARAGOZA                       2
ZARZAL                        45
ZETAQUIRA                      2
ZIPACON                        3
ZIPAQUIRA                    209
ZONA BANANERA                  4
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [347]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              29
ANTIOQUIA           5345
ARAUCA               195
ATLÁNTICO           2078
BOGOTÁ             17482
BOLÍVAR             1150
BOYACÁ              4271
CALDAS              2219
CAQUETÁ              469
CASANARE             691
CAUCA               2811
CESAR                893
CHOCÓ                395
CUNDINAMARCA        2376
CÓRDOBA              733
GUAINÍA               11
GUAVIARE              65
HUILA               4183
LA GUAJIRA           435
MAGDALENA            619
META                1527
NARIÑO              6139
NORTE SANTANDER     1322
PUTUMAYO             750
QUINDÍO             1075
RISARALDA           1738
SAN ANDRÉS            30
SANTANDER           6389
SUCRE                410
TOLIMA              2538
VALLE              17197
VAUPÉS                 4
VICHADA                8
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [348]:
c = 'ESTU_ZONA_RESIDE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      7807
2      1566
3      2184
4     11145
5      3991
6      3568
7      2211
8      4139
9      3170
10    45796
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [349]:
c = 'ESTU_AREA_RESIDE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    23746
2     3447
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 58384
__________________
Elementos diferentes de null/NaN: 27193
__________________
(27193,)
None

In [350]:
Do_resamples(data_2013, c, float)

cant null antes: 58384
cant null despues: 0

In [351]:
c = 'COLE_COD_ICFES'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([     3.0,     59.0,     75.0,     91.0,    182.0,    216.0,
                 257.0,    265.0,    356.0,    380.0,
              ...
              170530.0, 170621.0, 170654.0, 171363.0, 172163.0, 172601.0,
              173302.0, 175182.0, 175695.0, 175802.0],
             dtype='float64', length=7059)
3         114
59          6
75          2
91          2
182        88
216         1
257         7
265       130
356         1
380         6
422         1
455         1
489         2
497         1
554         1
638       142
653         2
687         1
786        18
810         1
844         1
935         8
943         3
968         3
984         1
992         1
1016        2
1024        7
1057        1
1073        3
         ...
169979     15
169987     37
170019     59
170050     27
170076     12
170118      7
170142      5
170159     37
170183      1
170225      1
170274      6
170282     10
170365      2
170449     59
170456     73
170472      2
170480      6
170506      4
170514      4
170522      2
170530     12
170621     12
170654      2
171363      1
172163      1
172601      1
173302      1
175182      1
175695      1
175802      1
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 21065
__________________
Elementos diferentes de null/NaN: 64512
__________________
(64512,)
None

In [352]:
for i in data_2013[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2013[c] = data_2013[c].replace(i, np.nan)

data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [353]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([              0.0,     16340100097.0,     35283505003.0,
                  51100102546.0,    105001000108.0,    105001000256.0,
                 105001000396.0,    105001000418.0,    105001000485.0,
                 105001000566.0,
              ...
                 818001100022.0,    818001100035.0,    818001100040.0,
                 820536000005.0,    841006000001.0,    847001000005.0,
                 847001000023.0,    847001000027.0,    847001000035.0,
              3.76001003667e+12],
             dtype='float64', length=5678)
0.000000e+00    170
1.634010e+10      1
3.528351e+10      2
5.110010e+10      1
1.050010e+11      6
1.050010e+11     14
1.050010e+11      1
1.050010e+11      1
1.050010e+11      7
1.050010e+11     10
1.050010e+11      6
1.050010e+11      1
1.050010e+11      4
1.050010e+11      1
1.050010e+11      8
1.050010e+11      3
1.050010e+11     14
1.050010e+11      7
1.050010e+11      3
1.050010e+11      3
1.050010e+11      1
1.050010e+11      1
1.050010e+11      1
1.050010e+11      1
1.050010e+11      1
1.050010e+11      2
1.050010e+11     20
1.050010e+11      2
1.050010e+11     10
1.050010e+11      1
               ...
6.251580e+11     21
6.251810e+11     16
6.252140e+11     25
6.252430e+11      1
6.252690e+11      6
6.252690e+11     36
6.252690e+11     35
6.252690e+11     39
6.252690e+11     21
6.252860e+11     42
6.254380e+11      6
6.257450e+11      1
6.257990e+11      2
6.257990e+11      6
6.258170e+11      4
6.258860e+11     14
6.258990e+11     11
6.258990e+11     36
8.105360e+11      1
8.180011e+11      4
8.180011e+11     19
8.180011e+11      5
8.180011e+11     29
8.205360e+11      8
8.410060e+11      7
8.470010e+11      4
8.470010e+11      1
8.470010e+11      1
8.470010e+11      1
3.760010e+12      1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 21390
__________________
Elementos diferentes de null/NaN: 64187
__________________
(64187,)
None

In [354]:
data_2013[c] = data_2013[c].replace(0, np.nan)
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [355]:
c = 'COLE_CALENDARIO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['A', 'B', 'F'], dtype='object')
A    26575
B    14052
F    23719
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 21231
__________________
Elementos diferentes de null/NaN: 64346
__________________
(64346,)
None

In [356]:
Do_resamples(data_2013, c, str)

cant null antes: 21231
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [357]:
c = 'COLE_GENERO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['F', 'M', 'X'], dtype='object')
F     3625
M     1400
X    59207
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 21345
__________________
Elementos diferentes de null/NaN: 64232
__________________
(64232,)
None

In [358]:
Do_resamples(data_2013, c, str)

cant null antes: 21345
cant null despues: 0

In [359]:
c = 'COLE_NATURALEZA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['N', 'O'], dtype='object')
N    38823
O    25409
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 21345
__________________
Elementos diferentes de null/NaN: 64232
__________________
(64232,)
None

In [360]:
Do_resamples(data_2013, c, str)

cant null antes: 21345
cant null despues: 0

In [361]:
c = 'COLE_BILINGUE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    51728
1     4312
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 29537
__________________
Elementos diferentes de null/NaN: 56040
__________________
(56040,)
None

In [362]:
Do_resamples(data_2013, c, float)

cant null antes: 29537
cant null despues: 0

In [363]:
c = 'COLE_JORNADA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE', 'UNICA'],
      dtype='object')
COMPLETA U ORDINARIA    15251
MAÑANA                  26847
NOCHE                    8476
SABATINA - DOMINICAL     7388
TARDE                    6266
UNICA                       4
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 21345
__________________
Elementos diferentes de null/NaN: 64232
__________________
(64232,)
None

In [364]:
Do_resamples(data_2013, c, str)

cant null antes: 21345
cant null despues: 0

In [365]:
c = 'COLE_CARACTER'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              45890
ACADEMICO Y TECNICO     8431
DESCONOCIDO               18
NORMALISTA              1074
TECNICO                 8792
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 21372
__________________
Elementos diferentes de null/NaN: 64205
__________________
(64205,)
None

In [366]:
Do_resamples(data_2013, c, str)

cant null antes: 21372
cant null despues: 0

In [367]:
c = 'COLE_VALOR_PENSION'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0     11482
1       175
2       100
3        91
4        30
5        55
6        63
7         3
8      1548
9       882
10      650
11     1295
12     1070
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 68133
__________________
Elementos diferentes de null/NaN: 17444
__________________
(17444,)
None

In [368]:
Do_resamples(data_2013, c, float)

cant null antes: 68133
cant null despues: 0

In [369]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0      40
1      46
2      45
3    1784
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 83662
__________________
Elementos diferentes de null/NaN: 1915
__________________
(1915,)
None

In [370]:
Do_resamples(data_2013, c, float)

cant null antes: 83662
cant null despues: 0

In [371]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([  1101.0,   1102.0,   1103.0,   1104.0,   1105.0,   1106.0,
                1107.0,   1108.0,   1110.0,   1111.0,
              ...
               86074.0,  87981.0,  91249.0, 101998.0, 111856.0, 115667.0,
              132621.0, 149633.0, 158386.0, 165852.0],
             dtype='float64', length=201)
1101      330
1102       15
1103       12
1104        2
1105       18
1106       73
1107        4
1108       52
1110       63
1111       42
1112       67
1113        9
1114      133
1115        2
1117       10
1118        1
1119       17
1120        3
1121        3
1122        2
1124        1
1201       44
1202        4
1203      264
1204      212
1205        7
1206      162
1207       57
1208       33
1209       12
         ...
4825        1
4826        1
5802        2
9101        1
9102        2
9103       11
9104        6
9105        7
9107        1
9110       13
9111        1
9112        1
9114        2
9122        1
11924       1
21121       2
53413       1
53967       4
72702       1
85506       2
86074       3
87981       1
91249       1
101998      1
111856      1
115667      1
132621      1
149633      1
158386      1
165852      1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 83311
__________________
Elementos diferentes de null/NaN: 2266
__________________
(2266,)
None

In [372]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [373]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CAUCA', 'CESAR', 'CHOCÓ', 'CUNDINAMARCA',
       'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE SANTANDER', 'QUINDÍO', 'RISARALDA', 'SAN ANDRÉS', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           95
ARAUCA               1
ATLÁNTICO           23
BOGOTÁ             673
BOLÍVAR             19
BOYACÁ             138
CALDAS              90
CAQUETÁ              2
CAUCA               66
CESAR                3
CHOCÓ                1
CUNDINAMARCA        30
CÓRDOBA             10
HUILA              143
LA GUAJIRA           3
MAGDALENA            7
META                18
NARIÑO             169
NORTE SANTANDER     22
QUINDÍO             39
RISARALDA           52
SAN ANDRÉS           1
SANTANDER          264
SUCRE                3
TOLIMA              66
VALLE              328
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 83311
__________________
Elementos diferentes de null/NaN: 2266
__________________
(2266,)
None

In [374]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [375]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['AMAGA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA',
       'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.', 'BUCARAMANGA', 'BUENAVENTURA',
       'CALI', 'CARTAGENA', 'CARTAGO', 'CHIA', 'CISNEROS', 'COTA', 'CUCUTA',
       'DAGUA', 'DUITAMA', 'ESPINAL', 'FLORENCIA', 'FLORIAN', 'FUSAGASUGA',
       'GIRARDOT', 'IBAGUE', 'LA CUMBRE', 'MADRID', 'MANIZALES', 'MEDELLIN',
       'MONTERIA', 'NEIVA', 'OCAÑA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PEREIRA',
       'PIEDECUESTA', 'POPAYAN', 'QUIBDO', 'RIOHACHA', 'RIONEGRO',
       'SAN ANDRES', 'SAN GIL', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SINCELEJO', 'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TULUA', 'TUMACO',
       'TUNJA', 'VALLEDUPAR', 'VILLAVICENCIO'],
      dtype='object')
AMAGA                    1
ANDES                    1
APARTADO                 1
ARAUCA                   1
ARMENIA                 39
BARRANCABERMEJA          3
BARRANQUILLA            22
BELLO                    2
BOGOTÁ D.C.            673
BUCARAMANGA            256
BUENAVENTURA             2
CALI                   311
CARTAGENA               19
CARTAGO                  1
CHIA                    13
CISNEROS                 3
COTA                     4
CUCUTA                  13
DAGUA                    1
DUITAMA                  4
ESPINAL                  2
FLORENCIA                2
FLORIAN                  1
FUSAGASUGA               9
GIRARDOT                 2
IBAGUE                  64
LA CUMBRE                1
MADRID                   2
MANIZALES               90
MEDELLIN                86
MONTERIA                10
NEIVA                  143
OCAÑA                    1
PALMIRA                  2
PAMPLONA                 8
PASTO                  168
PEREIRA                 51
PIEDECUESTA              1
POPAYAN                 66
QUIBDO                   1
RIOHACHA                 3
RIONEGRO                 1
SAN ANDRES               1
SAN GIL                  1
SANTA MARTA              7
SANTA ROSA DE CABAL      1
SINCELEJO                3
SOCORRO                  2
SOGAMOSO                52
SOLEDAD                  1
TULUA                   10
TUMACO                   1
TUNJA                   82
VALLEDUPAR               3
VILLAVICENCIO           18
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 83311
__________________
Elementos diferentes de null/NaN: 2266
__________________
(2266,)
None

In [376]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [377]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 56.0,
              57.0, 58.0, 60.0, 61.0, 63.0, 64.0, 65.0, 70.0, 80.0, 81.0, 86.0,
              90.0, 94.0, 96.0, 99.0],
             dtype='float64')
1       2
2       1
3      10
4      10
5      15
6      18
7      26
8      20
9      14
10     54
11     20
12     48
13     38
14     49
15    125
16     55
17     69
18     79
19     43
20    189
21     73
22     79
23     81
24     76
25    222
26     67
27     95
28    105
29     58
30    224
     ...
41     24
42     34
43     27
44      6
45     29
46      8
47      3
48      9
49      5
50     16
51     11
52      4
53      7
54      9
56      1
57      3
58      7
60     14
61      1
63      7
64      1
65      1
70      1
80      2
81      8
86      2
90      8
94      5
96      1
99      1
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 82604
__________________
Elementos diferentes de null/NaN: 2973
__________________
(2973,)
None

In [378]:
Do_resamples(data_2013, c, float)

cant null antes: 82604
cant null despues: 0

In [379]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0],
             dtype='float64')
1985     127
1986      12
1987       9
1988      15
1989      11
1990      18
1991      22
1992      14
1993      12
1994      28
1995      55
1996      84
1997      86
1998     115
1999     190
2000     435
2001     621
2002    1121
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 82602
__________________
Elementos diferentes de null/NaN: 2975
__________________
(2975,)
None

In [380]:
Do_resamples(data_2013, c, float)

cant null antes: 82602
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [381]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0,
              1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
              2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0],
             dtype='float64')
1986     68
1987      8
1988      9
1989      9
1990     17
1991     15
1992      8
1993     13
1994     11
1995     15
1996     25
1997     24
1998     16
1999     41
2000     63
2001     82
2002     71
2003     87
2004    150
2005    584
2006    826
2007    833
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 82602
__________________
Elementos diferentes de null/NaN: 2975
__________________
(2975,)
None

In [382]:
Do_resamples(data_2013, c, float)

cant null antes: 82602
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [383]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1    898
2    514
3    279
4    128
5    110
6    212
7    140
8    692
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 82604
__________________
Elementos diferentes de null/NaN: 2973
__________________
(2973,)
None

In [384]:
Do_resamples(data_2013, c, float)

cant null antes: 82604
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [385]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0,
              1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0,
              2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0],
             dtype='float64')
1987     46
1988      8
1989      5
1990      8
1991     11
1992     16
1993      6
1994      9
1995     13
1996     11
1997     25
1998     18
1999     13
2000     40
2001     50
2002     66
2003     71
2004     84
2005    125
2006    573
2007    847
2008    928
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 82604
__________________
Elementos diferentes de null/NaN: 2973
__________________
(2973,)
None

In [386]:
Do_resamples(data_2013, c, float)

cant null antes: 82604
cant null despues: 0

In [387]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0    430
1    952
2    637
3    954
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 82604
__________________
Elementos diferentes de null/NaN: 2973
__________________
(2973,)
None

In [388]:
Do_resamples(data_2013, c, float)

cant null antes: 82604
cant null despues: 0

In [389]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    1806
2     754
3     413
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 82604
__________________
Elementos diferentes de null/NaN: 2973
__________________
(2973,)
None

In [390]:
Do_resamples(data_2013, c, float)

cant null antes: 82604
cant null despues: 0

In [391]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_CUARTO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [392]:
data_2013 = data_2013.drop([c], axis=1)

In [393]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_DECIMO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [394]:
data_2013 = data_2013.drop([c], axis=1)

In [395]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_NOVENO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [396]:
data_2013 = data_2013.drop([c], axis=1)

In [397]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_OCTAVO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [398]:
data_2013 = data_2013.drop([c], axis=1)

In [399]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_PRIMERO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [400]:
data_2013 = data_2013.drop([c], axis=1)

In [401]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_QUINTO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [402]:
data_2013 = data_2013.drop([c], axis=1)

In [403]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEGUNDO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [404]:
data_2013 = data_2013.drop([c], axis=1)

In [405]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEPTIMO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [406]:
data_2013 = data_2013.drop([c], axis=1)

In [407]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEXTO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [408]:
data_2013 = data_2013.drop([c], axis=1)

In [409]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_TERCERO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [410]:
data_2013 = data_2013.drop([c], axis=1)

In [411]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_ONCE_MAS, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [412]:
data_2013 = data_2013.drop([c], axis=1)

In [413]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['-'], dtype='object')
-    85577
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [414]:
data_2013 = data_2013.drop([c], axis=1)

In [415]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['-'], dtype='object')
-    85577
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [416]:
data_2013 = data_2013.drop([c], axis=1)

In [417]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [418]:
data_2013 = data_2013.drop([c], axis=1)

In [419]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['-'], dtype='object')
-    85577
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [420]:
data_2013 = data_2013.drop([c], axis=1)

In [421]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['-'], dtype='object')
-    85577
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [422]:
data_2013 = data_2013.drop([c], axis=1)

In [423]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [424]:
data_2013 = data_2013.drop([c], axis=1)

In [425]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [426]:
data_2013 = data_2013.drop([c], axis=1)

In [427]:
c = 'ESTU_RAZON_RETIRO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_RAZON_RETIRO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [428]:
data_2013 = data_2013.drop([c], axis=1)

In [429]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [430]:
data_2013 = data_2013.drop([c], axis=1)

In [431]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['-'], dtype='object')
-    85577
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [432]:
data_2013 = data_2013.drop([c], axis=1)

In [433]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['-'], dtype='object')
-    85577
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [434]:
data_2013 = data_2013.drop([c], axis=1)

In [435]:
c = 'ESTU_POR_OTRARAZON'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_OTRARAZON, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [436]:
data_2013 = data_2013.drop([c], axis=1)

In [437]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [438]:
data_2013 = data_2013.drop([c], axis=1)

In [439]:
c = 'ESTU_POR_UBICACION'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_UBICACION, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [440]:
data_2013 = data_2013.drop([c], axis=1)

In [441]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64)
Elementos null/NaN 85577
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [442]:
data_2013 = data_2013.drop([c], axis=1)

In [443]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['-'], dtype='object')
-    85577
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [444]:
data_2013 = data_2013.drop([c], axis=1)

In [445]:
c = 'ESTU_VECES_ESTADO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0        6
1    21612
2    24254
3     7310
4     4473
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 27922
__________________
Elementos diferentes de null/NaN: 57655
__________________
(57655,)
None

In [446]:
Do_resamples(data_2013, c, float)

cant null antes: 27922
cant null despues: 0

In [447]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['AGUACHICA', 'ALBANIA', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARBOSA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BOGOTÁ D.C.', 'BUCARAMANGA',
       'BUENAVENTURA', 'BUGA', 'CALI', 'CARTAGENA', 'CARTAGO', 'CAUCASIA',
       'CHAPARRAL', 'CHOCONTA', 'CUCUTA', 'EL DONCELLO', 'FACATATIVA',
       'FLORENCIA', 'FUSAGASUGA', 'GARZON', 'GIRARDOT', 'GRANADA', 'IBAGUE',
       'INIRIDA', 'IPIALES', 'ITSMINA', 'LA DORADA', 'LA PLATA', 'LETICIA',
       'MAGANGUE', 'MAICAO', 'MALAGA', 'MANIZALES', 'MEDELLIN', 'MITU',
       'MOCOA', 'MONIQUIRA', 'MONTELIBANO', 'MONTERIA', 'NEIVA', 'OCAÑA',
       'ORITO', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PATIA(EL BORDO)',
       'PAZ DE ARIPORO', 'PEREIRA', 'PIENDAMO', 'PITALITO', 'POPAYAN',
       'PUERTO ASIS', 'PUERTO CARREÑO', 'QUIBDO', 'RIOHACHA', 'RIONEGRO',
       'SAN ANDRES', 'SAN GIL', 'SAN JOSE DEL GUAVIARE', 'SANTA MARTA',
       'SANTANDER DE QUILICHAO', 'SIBUNDOY', 'SINCELEJO', 'SOGAMOSO', 'SONSON',
       'TAME', 'TULUA', 'TUMACO', 'TUNJA', 'TUQUERRES', 'VALLEDUPAR',
       'VILLA DE LEYVA', 'VILLAVICENCIO', 'YOPAL', 'ZIPAQUIRA'],
      dtype='object')
AGUACHICA                   180
ALBANIA                      95
APARTADO                    468
ARAUCA                      130
ARMENIA                    1123
BARBOSA                     230
BARRANCABERMEJA             560
BARRANQUILLA               2047
BOGOTÁ D.C.               17926
BUCARAMANGA                5391
BUENAVENTURA                507
BUGA                        685
CALI                      13068
CARTAGENA                  1002
CARTAGO                     384
CAUCASIA                     81
CHAPARRAL                   119
CHOCONTA                     57
CUCUTA                      875
EL DONCELLO                  65
FACATATIVA                  647
FLORENCIA                   398
FUSAGASUGA                  256
GARZON                      233
GIRARDOT                    235
GRANADA                     169
IBAGUE                     2186
INIRIDA                      11
IPIALES                     814
ITSMINA                      37
                          ...
PATIA(EL BORDO)             120
PAZ DE ARIPORO               70
PEREIRA                    1766
PIENDAMO                     77
PITALITO                    698
POPAYAN                    1807
PUERTO ASIS                 233
PUERTO CARREÑO                6
QUIBDO                      346
RIOHACHA                    163
RIONEGRO                    327
SAN ANDRES                   60
SAN GIL                     348
SAN JOSE DEL GUAVIARE        70
SANTA MARTA                 613
SANTANDER DE QUILICHAO      790
SIBUNDOY                    114
SINCELEJO                   448
SOGAMOSO                   1828
SONSON                        3
TAME                         58
TULUA                       740
TUMACO                      190
TUNJA                      2126
TUQUERRES                   136
VALLEDUPAR                  733
VILLA DE LEYVA              107
VILLAVICENCIO              1402
YOPAL                       563
ZIPAQUIRA                   862
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [448]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              29
ANTIOQUIA           5291
ARAUCA               188
ATLÁNTICO           2047
BOGOTÁ             17926
BOLÍVAR             1114
BOYACÁ              4141
CALDAS              2370
CAQUETÁ              463
CASANARE             633
CAUCA               2794
CESAR                913
CHOCÓ                383
CUNDINAMARCA        2057
CÓRDOBA              698
GUAINÍA               11
GUAVIARE              70
HUILA               4296
LA GUAJIRA           359
MAGDALENA            613
META                1571
NARIÑO              6046
NORTE SANTANDER     1283
PUTUMAYO             658
QUINDÍO             1123
RISARALDA           1766
SAN ANDRÉS            60
SANTANDER           6650
SUCRE                448
TOLIMA              2305
VALLE              17259
VAUPÉS                 6
VICHADA                6
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85577
__________________
(85577,)
None

In [449]:
c = 'FAMI_EDUCA_PADRE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0       377
1      3301
2     11842
3     10094
4      9662
5     18236
6      1464
7      4900
8      1656
9     12098
10     5541
11     4085
12     1078
13      103
14      278
15       69
16      291
17       77
99        1
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 424
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [450]:
Do_resamples(data_2013, c, float)

cant null antes: 424
cant null despues: 0

In [451]:
c = 'FAMI_EDUCA_MADRE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0       182
1      1810
2     10388
3      9788
4     10674
5     20428
6      1776
7      6433
8      1804
9     12515
10     4954
11     2377
12     1171
13      112
14      347
15       55
16      245
17       74
99       20
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 424
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [452]:
Do_resamples(data_2013, c, float)

cant null antes: 424
cant null despues: 0

In [453]:
c = 'FAMI_OCUPA_PADRE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0, 99.0],
             dtype='float64')
1      3077
2      2685
3      2513
4      1363
5      7153
6      1752
7     13381
8      4150
9     25755
10     1256
11     4626
12    12516
13       89
14      419
15       77
16       92
17      277
18      210
19      796
20      228
21     1439
22      114
23      342
26      842
99        1
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 424
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [454]:
Do_resamples(data_2013, c, float)

cant null antes: 424
cant null despues: 0

In [455]:
c = 'FAMI_OCUPA_MADRE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1      1312
2      2234
3      1421
4      1578
5      6442
6      4338
7      4489
8      3539
9      8998
10    37736
11     1513
12     6627
13       53
14      175
15       52
16      134
17      199
18      201
19      430
20      133
21      682
22     2254
23      169
26      444
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 424
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [456]:
Do_resamples(data_2013, c, float)

cant null antes: 424
cant null despues: 0

In [457]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    2355
2    3909
3    2241
4     478
5     140
6      55
8       6
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 76393
__________________
Elementos diferentes de null/NaN: 9184
__________________
(9184,)
None

In [458]:
data_2013[c] = data_2013[c].replace(8, 6)
Do_resamples(data_2013, c, float)

cant null antes: 76393
cant null despues: 0

In [459]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      3857
2     25676
3     36529
4     12645
5      3190
6       894
7       294
8       163
9        38
10      113
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 2178
__________________
Elementos diferentes de null/NaN: 83399
__________________
(83399,)
None

In [460]:
Do_resamples(data_2013, c, float)

cant null antes: 2178
cant null despues: 0

In [461]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    23708
2    18381
3     4054
4      844
5    38166
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 424
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [462]:
Do_resamples(data_2013, c, float)

cant null antes: 424
cant null despues: 0

In [463]:
c = 'FAMI_PISOSHOGAR'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     2261
2    30209
3     5382
4    47186
5      115
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 424
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [464]:
idx = data_2013[data_2013[c].isnull()].index
data_2013 = data_2013.drop(idx)

In [465]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       917
2      6330
3     18041
4     27900
5     18120
6      7581
7      3109
8      1544
9       611
10      417
11      168
12      415
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [466]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    33761
1    51391
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 85152
__________________
(85152,)
None

In [467]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [468]:
c = 'FAMI_CELULAR'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     4403
1    80746
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 4
__________________
Elementos diferentes de null/NaN: 85149
__________________
(85149,)
None

In [469]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [470]:
c = 'FAMI_INTERNET'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    34301
1    50852
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [471]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    25505
1    59648
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [472]:
c = 'FAMI_COMPUTADOR'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    24177
1    57412
3     3564
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [473]:
c = 'FAMI_LAVADORA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    26172
1    58980
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 85152
__________________
(85152,)
None

In [474]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [475]:
c = 'FAMI_NEVERA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7500
1    77649
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 4
__________________
Elementos diferentes de null/NaN: 85149
__________________
(85149,)
None

In [476]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [477]:
c = 'FAMI_HORNO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    43688
1    41464
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 85152
__________________
(85152,)
None

In [478]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [479]:
c = 'FAMI_DVD'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    28939
1    56214
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [480]:
c = 'FAMI_MICROONDAS'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    54991
1    30161
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 85152
__________________
(85152,)
None

In [481]:
data_2013[c].fillna(method='bfill', inplace=True)
data_2013[c].fillna(method='ffill', inplace=True)

In [482]:
c = 'FAMI_AUTOMOVIL'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    61296
1    23857
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [483]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    14174
2    36902
3    16050
4     8400
5     3128
6     2239
7     4260
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [484]:
c = 'ESTU_TRABAJA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    18454
1      330
2       18
3     1509
4      572
5      724
6      577
7      354
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 62615
__________________
Elementos diferentes de null/NaN: 22538
__________________
(22538,)
None

In [485]:
Do_resamples(data_2013, c, float)

cant null antes: 62615
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [486]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0        3
1        2
2        5
3       11
4       34
5       26
6       56
7       12
8      257
9       53
10      96
11       7
12      56
13       4
14      10
15      42
16      49
17       9
18      41
19      19
20    2139
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 82222
__________________
Elementos diferentes de null/NaN: 2931
__________________
(2931,)
None

In [487]:
Do_resamples(data_2013, c, float)

cant null antes: 82222
cant null despues: 0

## TARGET

In [488]:
c = 'PUNT_LENGUAJE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([  0.0,   7.0,   8.0,  16.0,  19.0,  22.0,  26.0,  27.0,  31.0,
               32.0,  36.0,  39.0,  40.0,  42.0,  43.0,  44.0,  46.0,  47.0,
               49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,  57.0,  58.0,
               60.0,  61.0,  62.0,  63.0,  64.0,  65.0,  66.0,  67.0,  69.0,
               70.0,  72.0,  73.0,  74.0,  75.0,  76.0,  78.0,  79.0,  80.0,
               83.0,  84.0,  85.0,  87.0,  89.0,  90.0,  95.0,  96.0,  97.0,
              100.0, 108.0, 109.0],
             dtype='float64')
0       149
7        24
8       237
16      575
19      194
22     1243
26      510
27     2318
31      719
32     3766
36     6350
39      759
40     6982
42      260
43     8585
44      262
46     2051
47     6852
49     2235
50     6481
51      244
52     1699
53      854
54     5434
55     2267
57     5479
58     1273
60     4504
61     1110
62      190
63     3779
64      338
65      161
66      743
67     2242
69      528
70     1480
72      116
73      304
74      751
75       80
76      183
78      382
79       41
80      101
83      185
84       25
85        9
87        4
89       60
90        8
95        3
96       18
97        3
100       1
108       1
109       1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [489]:
for i in data_2013[c].value_counts().sort_index().index:
    if i > 100:
        data_2013[c] = data_2013[c].replace(i, 100)
    elif i < 0:
        data_2013[c] = data_2013[c].replace(i, 0)

In [490]:
c = 'PUNT_MATEMATICAS'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([  0.0,   2.0,   3.0,   5.0,   7.0,  10.0,  13.0,  15.0,  16.0,
               17.0,  18.0,  20.0,  22.0,  23.0,  25.0,  26.0,  27.0,  29.0,
               30.0,  31.0,  33.0,  34.0,  35.0,  38.0,  39.0,  41.0,  42.0,
               44.0,  45.0,  48.0,  49.0,  51.0,  54.0,  55.0,  57.0,  58.0,
               60.0,  61.0,  63.0,  64.0,  65.0,  66.0,  67.0,  69.0,  70.0,
               73.0,  74.0,  77.0,  78.0,  82.0,  83.0,  84.0,  87.0,  88.0,
               89.0,  90.0,  91.0,  94.0,  95.0,  96.0,  97.0, 101.0, 103.0,
              105.0, 107.0, 108.0, 117.0, 122.0, 123.0, 125.0, 126.0, 127.0],
             dtype='float64')
0       104
2         5
3        33
5        18
7        18
10      180
13       10
15      100
16       57
17      558
18       73
20       27
22     1097
23      485
25      199
26       68
27     1963
29      873
30      138
31     3350
33      464
34     1162
35     4542
38     6901
39      676
41     2408
42     6060
44      982
45     7637
48     7948
       ...
67      408
69     1885
70      674
73     1497
74      450
77      262
78     1144
82      227
83      230
84      545
87       86
88      181
89       80
90       23
91      286
94       76
95       74
96       61
97       59
101       9
103     130
105      52
107      39
108      78
117       1
122      50
123      21
125      21
126      10
127      20
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [491]:
for i in data_2013[c].value_counts().sort_index().index:
    if i > 100:
        data_2013[c] = data_2013[c].replace(i, 100)
    elif i < 0:
        data_2013[c] = data_2013[c].replace(i, 0)

In [492]:
c = 'PUNT_C_SOCIALES'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 0.0, 11.0, 13.0, 14.0, 15.0, 19.0, 20.0, 21.0, 22.0, 24.0, 25.0,
              26.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0,
              38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0,
              49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0,
              60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0,
              71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 79.0, 80.0, 82.0, 84.0,
              85.0, 97.0],
             dtype='float64')
0      130
11       4
13      24
14       8
15       2
19      19
20      53
21      25
22      19
24      29
25     225
26      74
28     666
29     141
30      62
31    1318
32     358
33     193
34    2243
35     523
36    3390
37     797
38    4301
39    5127
40    1005
41    5527
42    2109
43    5244
44    5842
45    1778
      ...
54    2393
55    1011
56    2534
57     467
58    2410
59    1684
60     476
61    1295
62     363
63     931
64     236
65     131
66     606
67     116
68      64
69     373
70      28
71      29
72     184
73      14
74       6
75       7
76       9
77      75
79       6
80       1
82       2
84      17
85       1
97       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [493]:
c = 'PUNT_FILOSOFIA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([  0.0,   2.0,   4.0,   7.0,   8.0,  10.0,  12.0,  13.0,  16.0,
               18.0,  19.0,  21.0,  23.0,  25.0,  26.0,  27.0,  28.0,  29.0,
               30.0,  31.0,  32.0,  33.0,  35.0,  36.0,  38.0,  40.0,  41.0,
               42.0,  43.0,  44.0,  45.0,  46.0,  48.0,  50.0,  52.0,  53.0,
               55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,
               64.0,  65.0,  67.0,  68.0,  69.0,  71.0,  73.0,  74.0,  77.0,
               79.0,  80.0,  82.0,  86.0,  89.0,  91.0,  96.0, 107.0],
             dtype='float64')
0        41
2        52
4        11
7         5
8         7
10        8
12      250
13       27
16       75
18      723
19      127
21      182
23     1790
25      454
26     2704
27      306
28      625
29      174
30     4264
31      848
32      250
33     6590
35     6756
36     1100
38     7736
40     1098
41     6542
42     1043
43     6150
44      947
       ...
48     5942
50     5144
52      208
53     4282
55     1069
56     2764
57      149
58      775
59     2056
60      115
61      645
62     1491
63       80
64      528
65      991
67       53
68      313
69      566
71       30
73      162
74      294
77       15
79       29
80       97
82       34
86        5
89        9
91       23
96        6
107       2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [494]:
for i in data_2013[c].value_counts().sort_index().index:
    if i > 100:
        data_2013[c] = data_2013[c].replace(i, 100)
    elif i < 0:
        data_2013[c] = data_2013[c].replace(i, 0)

In [495]:
c = 'PUNT_BIOLOGIA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 0.0, 16.0, 19.0, 20.0, 21.0, 23.0, 26.0, 27.0, 28.0, 30.0, 31.0,
              32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0,
              43.0, 44.0, 45.0, 46.0, 47.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0,
              55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0,
              66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 74.0, 75.0, 80.0, 81.0,
              83.0, 84.0, 85.0],
             dtype='float64')
0       26
16       1
19       7
20       9
21      76
23       8
26      44
27     264
28      27
30     181
31     752
32      74
33     414
34    1759
35     216
36     649
37    2793
38    1429
39    5068
40     968
41    5758
42    6540
43    1311
44    7905
45    1255
46    6602
47    7396
49    6532
50    1051
51    4736
52    4936
53     769
54    3554
55     926
56    2501
57    2561
58     258
59    1963
60     206
61     227
62    1227
63     179
64     181
65     694
66     216
67      61
68     349
69      83
70      44
71      61
72      53
74     116
75      57
80      24
81      15
83      20
84       8
85      13
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [496]:
c = 'PUNT_QUIMICA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 0.0, 19.0, 20.0, 21.0, 26.0, 27.0, 28.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              67.0, 70.0, 71.0, 74.0, 75.0, 81.0, 82.0, 83.0, 92.0, 93.0, 94.0,
              95.0],
             dtype='float64')
0       56
19     154
20      63
21      44
26     577
27     261
28     237
30    1493
31      54
32     813
33     260
34    2743
35    1077
36    5056
37     196
38    1301
39    6371
40     293
41    8150
42     288
43    7345
44     882
45    6684
46     466
47    5769
48     335
49    4988
50    3558
51    1034
52    3280
53     794
54    2922
55     984
56    2401
57     880
58    2143
59     880
60    1869
61     562
62    1775
63     242
64     677
65    1068
66     224
67    1311
70     560
71     693
74     170
75     635
81     105
82      90
83     188
92       7
93      30
94     104
95      11
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [497]:
c = 'PUNT_FISICA'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([  0.0,   7.0,   8.0,  12.0,  13.0,  17.0,  18.0,  21.0,  22.0,
               23.0,  24.0,  27.0,  28.0,  29.0,  31.0,  32.0,  33.0,  34.0,
               36.0,  37.0,  39.0,  40.0,  42.0,  43.0,  44.0,  45.0,  47.0,
               49.0,  50.0,  52.0,  54.0,  55.0,  57.0,  59.0,  60.0,  62.0,
               63.0,  64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,
               72.0,  73.0,  74.0,  76.0,  77.0,  79.0,  80.0,  82.0,  83.0,
               85.0,  90.0,  91.0,  92.0,  93.0,  95.0, 106.0, 109.0],
             dtype='float64')
0        45
7        56
8         3
12       51
13       26
17      263
18       17
21       76
22      263
23      669
24       43
27     1777
28      736
29      110
31     2955
32     1691
33      185
34     4400
36     2683
37     5657
39     3273
40     6414
42     3379
43     6400
44     1102
45     7885
47     7898
49      297
50     5999
52     4997
       ...
57     3197
59      129
60     2420
62      696
63     1368
64       72
65      546
66     1001
67       57
68      314
69      153
70      570
71       38
72      277
73       56
74      406
76      119
77       68
79       19
80      186
82       63
83       31
85        9
90       62
91        8
92       12
93        2
95        4
106      17
109       1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [498]:
for i in data_2013[c].value_counts().sort_index().index:
    if i > 100:
        data_2013[c] = data_2013[c].replace(i, 100)
    elif i < 0:
        data_2013[c] = data_2013[c].replace(i, 0)

In [499]:
c = 'PUNT_INGLES'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ -1.0,   0.0,   3.0,   7.0,  10.0,  11.0,  14.0,  15.0,  17.0,
               20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,  29.0,
               30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,  37.0,  38.0,
               39.0,  40.0,  42.0,  43.0,  45.0,  46.0,  47.0,  48.0,  50.0,
               51.0,  52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,
               60.0,  61.0,  63.0,  65.0,  68.0,  70.0,  72.0,  75.0,  77.0,
               80.0,  83.0,  88.0,  89.0,  92.0,  94.0,  96.0, 100.0],
             dtype='float64')
-1        21
 0        49
 3        19
 7        18
 10        7
 11       12
 14       45
 15        1
 17       64
 20      185
 21        5
 22      136
 23      228
 24        7
 25      251
 26      426
 27      458
 29      783
 30      743
 31     1220
 32      982
 33     1852
 34     1218
 35     2701
 36     1318
 37     3347
 38     1581
 39     5038
 40     5440
 42     5273
        ...
 46     3737
 47     3203
 48     2797
 50     2430
 51     2030
 52     1776
 53     1558
 54     1085
 55      335
 56     1226
 57     1174
 58      809
 59      969
 60      950
 61      882
 63      840
 65      765
 68      775
 70      840
 72      846
 75      932
 77     1020
 80     1326
 83     1468
 88      159
 89     1408
 92      184
 94     1139
 96      160
 100     543
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [500]:
for i in data_2013[c].value_counts().sort_index().index:
    if i > 100:
        data_2013[c] = data_2013[c].replace(i, 100)
    elif i < 0:
        data_2013[c] = data_2013[c].replace(i, 0)

In [501]:
c = 'DESEMP_INGLES'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    38644
A1    25095
A2     8988
B+     5061
B1     7344
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 21
__________________
Elementos diferentes de null/NaN: 85132
__________________
(85132,)
None

In [502]:
Do_resamples(data_2013, c, str)

cant null antes: 21
cant null despues: 0

In [503]:
c = 'NOMBRE_COMP_FLEXIBLE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['MEDIO AMBIENTE', 'PROFUNDIZACIÓN EN BIOLOGÍA',
       'PROFUNDIZACIÓN EN CIENCIAS SOCIALES', 'PROFUNDIZACIÓN EN LENGUAJE',
       'PROFUNDIZACIÓN EN MATEMÁTICA', 'VIOLENCIA Y SOCIEDAD'],
      dtype='object')
MEDIO AMBIENTE                         23534
PROFUNDIZACIÓN EN BIOLOGÍA             12236
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     4986
PROFUNDIZACIÓN EN LENGUAJE              9437
PROFUNDIZACIÓN EN MATEMÁTICA           11776
VIOLENCIA Y SOCIEDAD                   23184
Name: NOMBRE_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [504]:
c = 'PUNT_COMP_FLEXIBLE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([ 0.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0, 22.0, 28.0, 32.0, 35.0,
              37.0, 40.0, 42.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0,
              52.0, 53.0, 54.0, 55.0, 57.0, 58.0, 59.0, 61.0, 64.0, 73.0],
             dtype='float64')
0       182
3       592
4      7796
5     23708
6      5647
7       577
8        34
22      211
28      560
32     1073
35     1578
37     2003
40     2305
42     2477
44     2520
45      163
46     2442
47      513
48     1026
49     3759
50     2177
51     7670
52     3229
53     3011
54     6025
55     1095
57      518
58     1211
59      150
61       15
64      667
73      219
Name: PUNT_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 85153
__________________
(85153,)
None

In [505]:
c = 'DESEMP_COMP_FLEXIBLE'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     19246
I      16094
II      2787
III      308
Name: DESEMP_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 46718
__________________
Elementos diferentes de null/NaN: 38435
__________________
(38435,)
None

In [506]:
Do_resamples(data_2013, c, str)

cant null antes: 46718
cant null despues: 0

In [507]:
c = 'ESTU_PUESTO'
print(data_2013[c].value_counts().sort_index().index)
print(data_2013[c].value_counts().sort_index())
print(missing_data(data_2013[c]))

Float64Index([   1.0,    2.0,    3.0,    4.0,    5.0,    6.0,    7.0,    8.0,
                 9.0,   10.0,
              ...
               991.0,  992.0,  993.0,  994.0,  995.0,  996.0,  997.0,  998.0,
               999.0, 1000.0],
             dtype='float64', length=1000)
1       86
2       87
3       87
4       87
5       86
6       87
7       86
8       86
9       87
10      87
11      87
12      87
13      87
14      86
15      87
16      87
17      87
18      87
19      87
20      87
21      86
22      87
23      87
24      86
25      85
26      87
27      86
28      86
29      87
30      87
        ..
971     83
972     85
973     84
974     84
975     84
976     85
977     85
978     87
979     84
980     84
981     85
982     87
983     83
984     85
985     84
986     86
987     83
988     85
989     84
990     83
991     87
992     83
993     83
994     82
995     79
996     46
997     19
998     44
999     15
1000    20
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 85152
__________________
(85152,)
None

In [509]:
idx = data_2013[data_2013[c].isnull()].index
data_2013 = data_2013.drop(idx)

___

___

___

___

___

In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

## FILE 2: 2013_2

In [116]:
data_2013_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20132-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (11,12,13,14,15,16,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [117]:
data_2013_2.shape

(573662, 113)

In [118]:
data_2013_2.head(3).T

,0,1,2
PERIODO,20132,20132,20132
ESTU_CONSECUTIVO,SABER1120132000001,SABER1120132000002,SABER1120132000003
ESTU_EDAD,24,25,30
ESTU_TIPO_DOCUMENTO,C,C,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,M,M,M
ESTU_NACIMIENTO_DIA,26,6,22
ESTU_NACIMIENTO_MES,6,3,6
ESTU_NACIMIENTO_ANNO,1988,1988,1982
ESTU_ETNIA,NaN,NaN,NaN
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,23001,23001,23001
ESTU_RESIDE_MCPIO,MONTERIA,MONTERIA,MONTERIA
ESTU_RESIDE_DEPTO,CÓRDOBA,CÓRDOBA,CÓRDOBA
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,1,1,1
COLE_COD_ICFES,NaN,NaN,NaN
COLE_COD_DANE_INSTITUCION,NaN,NaN,NaN
COLE_NOMBRE_SEDE,NaN,NaN,NaN
COLE_CALENDARIO,NaN,NaN,NaN
COLE_GENERO,NaN,NaN,NaN
COLE_NATURALEZA,NaN,NaN,NaN
COLE_BILINGUE,NaN,NaN,NaN
COLE_JORNADA,NaN,NaN,NaN
...,...,...,...
FAMI_NIVEL_SISBEN,NaN,NaN,NaN
FAMI_PISOSHOGAR,NaN,NaN,NaN
FAMI_PERSONAS_HOGAR,NaN,NaN,NaN
FAMI_TELEFONO_FIJO,NaN,NaN,NaN
FAMI_CELULAR,NaN,NaN,NaN
FAMI_INTERNET,NaN,NaN,NaN
FAMI_SERVICIO_TELEVISION,NaN,NaN,NaN
FAMI_COMPUTADOR,NaN,NaN,NaN
FAMI_LAVADORA,NaN,NaN,NaN
FAMI_NEVERA,NaN,NaN,NaN
FAMI_HORNO,NaN,NaN,NaN
FAMI_DVD,NaN,NaN,NaN
FAMI_MICROONDAS,NaN,NaN,NaN
FAMI_AUTOMOVIL,NaN,NaN,NaN
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
PUNT_LENGUAJE,40,42,45
PUNT_MATEMATICAS,57,52,23
PUNT_C_SOCIALES,36,37,46
PUNT_FILOSOFIA,38,20,43
PUNT_BIOLOGIA,39,37,44
PUNT_QUIMICA,34,34,47
PUNT_FISICA,27,47,35
PUNT_INGLES,35,37,42
DESEMP_INGLES,A-,A-,A-
NOMBRE_COMP_FLEXIBLE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_COMP_FLEXIBLE,32,32,51
DESEMP_COMP_FLEXIBLE,NaN,NaN,NaN
ESTU_PUESTO,751,776,809

In [119]:
data_2013_2 = data_2013_2.drop(['PERIODO', 'ESTU_CONSECUTIVO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'COLE_NOMBRE_SEDE', 'ESTU_IES_COD_MPIO_DESEADA', 'ESTU_IES_DESEADA_NOMBRE',
                               'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_EXAM_NOMBREEXAMEN'], axis=1)

In [120]:
c = 'ESTU_EDAD'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([  0.0,   6.0,   9.0,  10.0,  11.0,  12.0,  13.0,  14.0,  15.0,
               16.0,
              ...
              819.0, 820.0, 821.0, 822.0, 823.0, 916.0, 917.0, 919.0, 929.0,
              999.0],
             dtype='float64', length=102)
0           1
6           2
9           4
10         61
11         42
12         25
13        189
14       1990
15      44062
16     217610
17     147808
18      72070
19      28717
20      12283
21       6667
22       4445
23       3252
24       2651
25       2246
26       2088
27       1910
28       1737
29       1512
30       1448
31       1313
32       1223
33       1250
34       1096
35        991
36        931
        ...
80          2
82          1
84          2
87          1
88          1
96          1
99          1
100         4
106         1
113        15
117         2
124         1
125         1
133         1
321         1
343         1
815         2
816        19
817        36
818        19
819        14
820         3
821         5
822         1
823         1
916         1
917         3
919         1
929         1
999      5321
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 43
__________________
Elementos diferentes de null/NaN: 573619
__________________
(573619,)
None

In [121]:
for i in data_2013_2[c].value_counts().sort_index().index:
    if i > 88:
        data_2013_2[c] = data_2013_2[c].replace(i, np.nan)
    elif i < 9:
        data_2013_2[c] = data_2013_2[c].replace(i, np.nan)
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [122]:
c = 'ESTU_PAIS_RESIDE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['CO', 'MX'], dtype='object')
CO    573620
MX         2
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 40
__________________
Elementos diferentes de null/NaN: 573622
__________________
(573622,)
None

In [123]:
Do_resamples(data_2013_2, c, str)

cant null antes: 40
cant null despues: 0

In [124]:
c = 'ESTU_GENERO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['F', 'M'], dtype='object')
F    312170
M    259575
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 1917
__________________
Elementos diferentes de null/NaN: 571745
__________________
(571745,)
None

In [125]:
Do_resamples(data_2013_2, c, str)

cant null antes: 1917
cant null despues: 0

In [126]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     19038
2     18939
3     19031
4     18686
5     19270
6     18763
7     18887
8     18562
9     18766
10    19418
11    18691
12    19168
13    18219
14    18605
15    18868
16    18896
17    18844
18    19148
19    19341
20    19692
21    18459
22    18752
23    18493
24    18451
25    18559
26    18514
27    18534
28    18620
29    16957
30    17040
31    10530
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 1921
__________________
Elementos diferentes de null/NaN: 571741
__________________
(571741,)
None

In [127]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     46804
2     42934
3     47404
4     45563
5     49409
6     45350
7     47440
8     48995
9     50819
10    49793
11    48194
12    49036
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 1921
__________________
Elementos diferentes de null/NaN: 571741
__________________
(571741,)
None

In [128]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([   1.0,    2.0,    3.0,    4.0,    5.0,    6.0,    7.0,    8.0,
                 9.0,   10.0,
              ...
              2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0,
              2013.0, 2015.0],
             dtype='float64', length=193)
1            4
2           11
3           10
4            8
5            5
6           95
7          133
8          145
9          137
10         134
11         130
12         151
13         122
14         115
15         145
16         132
17         139
18         139
19         151
20         119
21         143
22         128
23         127
24         144
25         151
26         133
27         152
28         132
29         147
30         129
         ...
1980      1258
1981      1248
1982      1408
1983      1481
1984      1580
1985      1844
1986      1974
1987      2189
1988      2415
1989      2872
1990      3856
1991      5288
1992      9024
1993     18757
1994     48905
1995    110361
1996    209965
1997    120959
1998      8372
1999       442
2000        24
2001        30
2002        72
2003        17
2004         4
2005         2
2006         1
2007         1
2013         1
2015         2
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 1921
__________________
Elementos diferentes de null/NaN: 571741
__________________
(571741,)
None

In [129]:
for i in data_2013_2[c].value_counts().sort_index().index:
    if i <1925:
        data_2013_2[c] = data_2013_2[c].replace(i, np.nan)
    elif i > 2004:
        data_2013_2[c] = data_2013_2[c].replace(i, np.nan)
        
anno = data_2013_2[data_2013_2[c].isnull()].index
data_2013_2 = data_2013_2.drop(anno)

In [130]:
c = 'ESTU_ETNIA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     28266
2       614
3      2066
4       194
5       275
6      1220
7       328
8      1368
9      1639
10     4406
11     2810
12      276
13      318
14       65
15      135
16      119
17       62
99    31256
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 491115
__________________
Elementos diferentes de null/NaN: 75417
__________________
(75417,)
None

In [131]:
data_2013_2[c].fillna(99, inplace=True)

In [132]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [133]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [134]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['C'], dtype='object')
C    101
Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64
Elementos null/NaN 566431
__________________
Elementos diferentes de null/NaN: 101
__________________
(101,)
None

In [135]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [136]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['G'], dtype='object')
G    559
Name: ESTU_LIMITA_COGNITIVA, dtype: int64
Elementos null/NaN 565973
__________________
Elementos diferentes de null/NaN: 559
__________________
(559,)
None

In [137]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [138]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['I'], dtype='object')
I    105
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 566427
__________________
Elementos diferentes de null/NaN: 105
__________________
(105,)
None

In [139]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [140]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['M'], dtype='object')
M    620
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 565912
__________________
Elementos diferentes de null/NaN: 620
__________________
(620,)
None

In [141]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [142]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['R'], dtype='object')
R    365
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 566167
__________________
Elementos diferentes de null/NaN: 365
__________________
(365,)
None

In [143]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [144]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['S'], dtype='object')
S    195
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 566337
__________________
Elementos diferentes de null/NaN: 195
__________________
(195,)
None

In [145]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [146]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1027)
ABEJORRAL                    209
ABREGO                       212
ABRIAQUI                      29
ACACIAS                     1396
ACANDI                        60
ACEVEDO                      206
ACHI                         300
AGRADO                        72
AGUA DE DIOS                 154
AGUACHICA                    956
AGUADA                        20
AGUADAS                      281
AGUAZUL                      690
AGUSTIN CODAZZI              696
AIPE                         127
ALBAN                        102
ALBAN (SAN JOSE)             202
ALBANIA                       99
ALCALA                       151
ALDANA                        64
ALEJANDRIA                    53
ALGARROBO                    143
ALGECIRAS                    198
ALMAGUER                     241
ALMEIDA                       25
ALPUJARRA                     48
ALTAMIRA                      49
ALTO BAUDO (PIE DE PATO)      42
ALTOS DEL ROSARIO             80
ALVARADO                      87
                            ...
VILLANUEVA                   819
VILLAPINZON                  234
VILLARRICA                    57
VILLAVICENCIO               6481
VILLAVIEJA                    77
VILLETA                      394
VIOTA                        219
VIRACACHA                     25
VISTA HERMOSA                174
VITERBO                      254
YACOPI                       131
YACUANQUER                   129
YAGUARA                       96
YALI                         111
YARUMAL                      650
YAVARATE                       4
YOLOMBO                      256
YONDO (CASABE)               121
YOPAL                       2740
YOTOCO                       136
YUMBO                       1207
ZAMBRANO                     160
ZAPATOCA                     120
ZAPAYAN                       85
ZARAGOZA                     248
ZARZAL                       665
ZETAQUIRA                    117
ZIPACON                       68
ZIPAQUIRA                   1809
ZONA BANANERA                662
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [147]:
data_2013_2.fillna(method='bfill', inplace=True)
data_2013_2.fillna(method='ffill', inplace=True)

In [148]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS             787
ANTIOQUIA          75264
ARAUCA              2735
ATLÁNTICO          29219
BOGOTÁ             95169
BOLÍVAR            25114
BOYACÁ             17843
CALDAS             12340
CAQUETÁ             4136
CASANARE            5829
CAUCA              14296
CESAR              12162
CHOCÓ               4251
CUNDINAMARCA       35512
CÓRDOBA            19200
GUAINÍA              206
GUAVIARE            1046
HUILA              13671
LA GUAJIRA          6974
MAGDALENA          14600
META               11777
NARIÑO             18818
NORTE SANTANDER    15995
PUTUMAYO            4298
QUINDÍO             7486
RISARALDA          11567
SAN ANDRÉS           717
SANTANDER          29101
SUCRE              11216
TOLIMA             17498
VALLE              46943
VAUPÉS               323
VICHADA              439
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [149]:
data_2013_2.fillna(method='bfill', inplace=True)
data_2013_2.fillna(method='ffill', inplace=True)

In [150]:
c = 'ESTU_ZONA_RESIDE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      19121
2       7163
3      12909
4      47814
5      18329
6      12644
7      14714
8      27422
9      25439
10    380977
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [151]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [152]:
c = 'ESTU_AREA_RESIDE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    472623
2     93909
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [153]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [154]:
c = 'COLE_COD_ICFES'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([     3.0,     59.0,     75.0,     83.0,     91.0,    125.0,
                 141.0,    174.0,    190.0,    208.0,
              ...
              176297.0, 176305.0, 176321.0, 176354.0, 176362.0, 176388.0,
              176412.0, 176420.0, 176438.0, 176446.0],
             dtype='float64', length=12666)
3           80
59        1110
75          47
83          28
91          86
125        102
141        131
174        118
190         74
208         82
216         20
232         35
240         55
257         54
265        147
281         66
315        115
349         19
356         48
364         63
372         58
380         82
398         24
406         22
422         13
430        117
448         20
455        101
463        114
471        161
          ...
175992      13
176008       4
176016       5
176024       2
176032       2
176073      12
176099      28
176107       6
176131       4
176149       1
176156       3
176164      13
176180       5
176214      17
176222      15
176230       5
176248       5
176263      11
176271       6
176289      12
176297       5
176305      12
176321       9
176354      62
176362      32
176388      36
176412       5
176420       9
176438      29
176446      10
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [155]:
for i in data_2013_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2013_2[c] = data_2013_2[c].replace(i, np.nan)
        
Do_resamples(data_2013_2, c, float)

cant null antes: 80
cant null despues: 0

In [156]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2013_2[c].value_counts().index)
print(data_2013_2[c].value_counts())
print(missing_data(data_2013_2[c]))

Index([105001000108.0, 311001105863.0, 311001105391.0, 105615000236.0,
       105001013340.0, 176001005813.0, 119001000265.0, 305001003963.0,
       105154000301.0, 168001003591.0,
       ...
       '325754002979', 325754001131.0, 285250000574.0, '108001078530',
       '250450000198', '305001022593', '297001002107', '376001038231',
       '247245001997', '276736000143'],
      dtype='object', length=19650)
105001000108.0    790
311001105863.0    730
311001105391.0    540
105615000236.0    514
105001013340.0    489
176001005813.0    477
119001000265.0    470
305001003963.0    441
105154000301.0    425
168001003591.0    411
152001000785.0    381
313001006701.0    376
111001024732.0    364
305001004293.0    359
173001000308.0    331
305001007861.0    328
111001006122.0    328
166001002339.0    327
305088020551.0    326
111001076376.0    325
105001000108      320
111001019411.0    319
111102000753.0    318
163001002941.0    318
141001000066.0    310
111001010910.0    309
144430000511.0    309
311001004820.0    305
152001000777.0    304
168001002421.0    292
                 ...
311001008221.0      1
405873000325        1
376109003573        1
368001000010        1
325269000305.0      1
352001000903        1
311001000590        1
215299000202        1
311001002011.0      1
350001006639.0      1
273001011509        1
320013000004        1
225805000289        1
308573000450        1
425175032470        1
463594000498        1
376001001591.0      1
319001002151        1
373168003022.0      1
376001013084.0      1
325754002979        1
325754001131.0      1
285250000574.0      1
108001078530        1
250450000198        1
305001022593        1
297001002107        1
376001038231        1
247245001997        1
276736000143        1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [159]:
data_2013_2[c] = data_2013_2[c].replace('PENDIENTE', np.nan)
for i in data_2013_2[c].value_counts().index:
    if ' ' in str(i):
        data_2013_2[c] = data_2013_2[c].replace(i, np.nan)
    elif type(i) == str:
        data_2013_2[c] = data_2013_2[c].replace(i, float(i))
        
Do_resamples(data_2013_2, c, float)

cant null antes: 29
cant null despues: 0

In [160]:
c = 'COLE_CALENDARIO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    472891
B      1589
F     92052
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [161]:
Do_resamples(data_2013_2, c, str)

cant null antes: 0
cant null despues: 0

In [162]:
c = 'COLE_GENERO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     26780
M      6569
X    533183
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [163]:
Do_resamples(data_2013_2, c, str)

cant null antes: 0
cant null despues: 0

In [164]:
c = 'COLE_NATURALEZA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['N', 'O'], dtype='object')
N    143838
O    422694
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [165]:
Do_resamples(data_2013_2, c, str)

cant null antes: 0
cant null despues: 0

In [166]:
c = 'COLE_BILINGUE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    560092
1      6440
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [167]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [168]:
c = 'COLE_JORNADA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE', 'UNICA'],
      dtype='object')
COMPLETA U ORDINARIA    109449
MAÑANA                  291719
NOCHE                    42149
SABATINA - DOMINICAL     33488
TARDE                    89613
UNICA                      114
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [169]:
Do_resamples(data_2013_2, c, str)

cant null antes: 0
cant null despues: 0

In [170]:
c = 'COLE_CARACTER'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              363003
ACADEMICO Y TECNICO     91463
DESCONOCIDO               315
NORMALISTA              12778
TECNICO                 98973
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [171]:
Do_resamples(data_2013_2, c, str)

cant null antes: 0
cant null despues: 0

In [172]:
c = 'COLE_VALOR_PENSION'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0, 9.0, 12.0], dtype='float64')
0       6473
1     441147
2      42547
3      18138
4      11731
5      23135
6      23145
8         58
9          5
12       153
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [173]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [174]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     25979
1     64130
2     50853
3    425570
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [175]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [176]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([    59.0,    653.0,   1115.0,   1206.0,   1222.0,   1230.0,
                1255.0,   1263.0,   1289.0,   1297.0,
              ...
              167957.0, 167965.0, 167981.0, 168047.0, 168054.0, 168120.0,
              168450.0, 168476.0, 168583.0, 169094.0],
             dtype='float64', length=1059)
59          392
653          47
1115         36
1206        147
1222       3403
1230       1474
1255       1513
1263        104
1289        224
1297        214
1644       5062
1651      14884
1669        143
1677        659
1685         83
1693        160
1701        229
1727         98
1792          1
1933         28
2261         31
2501         12
2923         32
3152          3
3186         40
3756         25
4622         34
4788         59
5306          7
5397         34
          ...
165019      903
165035        1
165050       71
165092        5
165209       29
165381     1598
165845     1827
165852     5172
166041       23
166231       13
166330      152
166439        7
166447      621
166462        3
166470       64
166561      482
166678      794
166769       20
166850        8
167544       12
167957        7
167965       55
167981     5924
168047       21
168054      363
168120      342
168450       28
168476       13
168583       70
169094       30
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [177]:
for i in data_2013_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2013_2[c] = data_2013_2[c].replace(i, np.nan)
        
        
data_2013_2[c].fillna(method='bfill', inplace=True)
data_2013_2[c].fillna(method='ffill', inplace=True)

In [178]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE', 'VICHADA'],
      dtype='object')
AMAZONAS               49
ANTIOQUIA          186466
ARAUCA                967
ATLÁNTICO            9009
BOGOTÁ             120035
BOLÍVAR             13584
BOYACÁ                999
CALDAS               1040
CAQUETÁ               349
CASANARE             4300
CAUCA                2949
CESAR                 640
CHOCÓ                1688
CUNDINAMARCA        87693
CÓRDOBA              3269
GUAVIARE              699
HUILA                5193
LA GUAJIRA           1836
MAGDALENA            2823
META                 3140
NARIÑO               1728
NORTE SANTANDER      3820
PUTUMAYO              118
QUINDÍO               177
RISARALDA            1928
SANTANDER           27916
SUCRE               26797
TOLIMA               7111
VALLE               44282
VICHADA              5927
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [179]:
data_2013_2[c].fillna(method='bfill', inplace=True)
data_2013_2[c].fillna(method='ffill', inplace=True)

In [180]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['ABREGO', 'ACACIAS', 'ACHI', 'AGUSTIN CODAZZI', 'ALEJANDRIA',
       'ALGARROBO', 'ALGECIRAS', 'AMAGA', 'AMALFI', 'AMBALEMA',
       ...
       'VILLETA', 'VISTA HERMOSA', 'VITERBO', 'YALI', 'YOPAL', 'YUMBO',
       'ZARAGOZA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=378)
ABREGO              1817
ACACIAS                5
ACHI                   8
AGUSTIN CODAZZI       14
ALEJANDRIA             2
ALGARROBO             55
ALGECIRAS             32
AMAGA               3405
AMALFI              9117
AMBALEMA               7
ANCUYA                24
ANDES              10708
ANGELOPOLIS          107
ANGOSTURA             15
ANSERMA               15
ANSERMANUEVO          35
ANZA                 149
ANZOATEGUI           873
APARTADO            1386
APIA                  75
ARACATACA              7
ARATOCA              270
ARAUCA                23
ARBOLEDAS            156
ARBOLETES             58
ARGELIA                8
ARMENIA              135
BALBOA                46
BARBOSA               11
BARRANCABERMEJA      215
                   ...
TRUJILLO               3
TUCHÍN                 4
TULUA                 30
TUMACO               323
TUNJA                 68
TUQUERRES              8
TURBACO               16
TURBO                 10
UBALA                  3
UBATE               3193
UMBITA                45
VALENCIA              42
VALLEDUPAR           284
VEGACHI               19
VENECIA                6
VETAS               1598
VIANI                 87
VILLAMARIA            65
VILLANUEVA            36
VILLAVICENCIO        152
VILLETA               88
VISTA HERMOSA         28
VITERBO                6
YALI                  23
YOPAL               1736
YUMBO               3426
ZARAGOZA              72
ZIPACON               96
ZIPAQUIRA             25
ZONA BANANERA         30
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [181]:
data_2013_2[c].fillna(method='bfill', inplace=True)
data_2013_2[c].fillna(method='ffill', inplace=True)

In [182]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              67.0, 68.0, 69.0, 70.0, 72.0, 73.0, 74.0, 76.0, 77.0, 78.0, 80.0,
              81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 90.0, 93.0, 97.0],
             dtype='float64')
1        73
2       260
3       500
4       913
5      1408
6      1273
7      1620
8      1807
9      1849
10     2626
11     2489
12     3143
13     2202
14     5030
15     6623
16     5795
17     5136
18     6828
19     7537
20    10196
21     7377
22    10960
23    10986
24    14051
25    22772
26    24540
27    19790
28    21631
29    17983
30    30636
      ...
57      215
58      147
59      169
60      570
61      186
62      133
63       81
64      153
65      138
66        1
67       73
68      115
69       23
70      214
72       52
73       43
74      151
76       16
77       19
78       90
80       58
81      207
82        6
83      122
84       26
85        8
86       32
90       53
93        8
97        4
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [183]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [184]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0],
             dtype='float64')
1985      8001
1986      1429
1987      1142
1988       905
1989      1002
1990      1620
1991      1322
1992      1540
1993      1301
1994      1746
1995      3826
1996      4356
1997      6810
1998      9812
1999     16970
2000     44812
2001     97968
2002    361970
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [185]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [186]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0,
              1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
              2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0],
             dtype='float64')
1986      3925
1987       485
1988       546
1989       706
1990      1591
1991       909
1992      1069
1993      1018
1994       935
1995      1859
1996      1633
1997      1311
1998      1776
1999      2824
2000      3715
2001      5033
2002      5394
2003      9413
2004     11909
2005     62792
2006    143795
2007    303894
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [187]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [188]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1     61033
2     62785
3     48027
4     33896
5     37046
6    118751
7     59595
8    145399
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [189]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [190]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0,
              1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0,
              2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0],
             dtype='float64')
1987      2470
1988       299
1989       438
1990       695
1991       979
1992       759
1993       778
1994       571
1995       936
1996      1768
1997      1410
1998      1405
1999      1301
2000      1926
2001      2495
2002      3707
2003      4359
2004      6625
2005     11130
2006     60349
2007    142189
2008    319943
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [191]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [192]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     78641
1    316715
2     87274
3     83902
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [193]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [194]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    393643
2    105104
3     67785
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [195]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [196]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_CUARTO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [197]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [198]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_DECIMO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [199]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [200]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_NOVENO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [201]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [202]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_OCTAVO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [203]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [204]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_PRIMERO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [205]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [206]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_QUINTO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [207]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [208]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEGUNDO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [209]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [210]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEPTIMO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [211]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [212]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEXTO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [213]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [214]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_TERCERO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [215]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [216]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_ONCE_MAS, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [217]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [218]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['-'], dtype='object')
-    566532
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [219]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [220]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['-'], dtype='object')
-    566532
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [221]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [222]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [223]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [224]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['-'], dtype='object')
-    566532
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [225]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [226]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['-'], dtype='object')
-    566532
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [227]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [228]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [229]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [230]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [231]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [232]:
c = 'ESTU_RAZON_RETIRO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([3.0, 4.0], dtype='float64')
3    123180
4    443352
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [233]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [234]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [235]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [236]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['-'], dtype='object')
-    566532
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [237]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [238]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['-'], dtype='object')
-    566532
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [239]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [240]:
c = 'ESTU_POR_OTRARAZON'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_OTRARAZON, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [241]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [242]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [243]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [244]:
c = 'ESTU_POR_UBICACION'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_UBICACION, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [245]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [246]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64)
Elementos null/NaN 566532
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [247]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [248]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['-'], dtype='object')
-    566532
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [249]:
data_2013_2 = data_2013_2.drop([c], axis=1)

In [250]:
c = 'ESTU_VECES_ESTADO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0       463
1     23837
2    478354
3     55346
4      8532
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [251]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [252]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLETA', 'VIOTA', 'YARUMAL', 'YOLOMBO', 'YOPAL', 'YUMBO', 'ZAPATOCA',
       'ZARAGOZA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=433)
ABEJORRAL                     209
ABREGO                        224
ACACIAS                      1699
ACANDI                         59
ACHI                          383
AGUACHICA                    1265
AGUADAS                       290
AGUAZUL                       691
AGUSTIN CODAZZI               760
AIPE                          164
ALBAN (SAN JOSE)              295
ALCALA                        221
ALTO BAUDO (PIE DE PATO)       30
AMAGA                         797
AMALFI                        398
ANDALUCIA                     231
ANDES                         883
ANOLAIMA                      293
ANSERMA                       826
ANSERMANUEVO                  215
APARTADO                     1626
APIA                          288
ARACATACA                     453
ARAUCA                       1044
ARAUQUITA                     287
ARBELAEZ                      200
ARBOLEDAS                     236
ARBOLETES                     508
ARIGUANI (EL DIFICIL)         325
ARJONA                        861
                             ...
TURBO                        1387
TURMEQUE                      240
TUTA                          137
UBATE                        1386
UNGUIA                         96
URIBIA                        332
URRAO                         804
VALLEDUPAR                   5982
VALPARAISO                    138
VEGACHI                       268
VELEZ                         906
VENADILLO                     145
VENTAQUEMADA                  178
VIGIA DEL FUERTE               78
VILLA DE LEYVA                308
VILLA DEL ROSARIO             909
VILLA GUAMEZ (LA HORMIGA)     806
VILLAGARZON                   370
VILLANUEVA                    959
VILLAVICENCIO                6977
VILLETA                       621
VIOTA                         219
YARUMAL                      1050
YOLOMBO                       207
YOPAL                        2822
YUMBO                        1400
ZAPATOCA                      145
ZARAGOZA                      231
ZARZAL                        614
ZIPAQUIRA                    3231
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [253]:
data_2013_2[c].fillna(method='bfill', inplace=True)
data_2013_2[c].fillna(method='ffill', inplace=True)

In [254]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS             775
ANTIOQUIA          75123
ARAUCA              2920
ATLÁNTICO          29835
BOGOTÁ             95225
BOLÍVAR            24254
BOYACÁ             18467
CALDAS             12595
CAQUETÁ             4232
CASANARE            5956
CAUCA              13982
CESAR              12493
CHOCÓ               4249
CUNDINAMARCA       34505
CÓRDOBA            19137
GUAINÍA              207
GUAVIARE            1126
HUILA              13922
LA GUAJIRA          6972
MAGDALENA          14375
META               11820
NARIÑO             19050
NORTE SANTANDER    16153
PUTUMAYO            4460
QUINDÍO             7460
RISARALDA          11516
SAN ANDRÉS           808
SANTANDER          28960
SUCRE              11234
TOLIMA             17098
VALLE              46841
VAUPÉS               325
VICHADA              457
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [255]:
data_2013_2[c].fillna(method='bfill', inplace=True)
data_2013_2[c].fillna(method='ffill', inplace=True)

In [256]:
c = 'FAMI_EDUCA_PADRE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0       1164
1      28050
2     115028
3      87104
4      78370
5     121557
6       8064
7      26423
8       7451
9      45356
10     12821
11     28014
12      4669
13       351
14      1001
15       234
16       757
17       116
99         2
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [257]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [258]:
c = 'FAMI_EDUCA_MADRE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0        496
1      14334
2     101168
3      87137
4      92424
5     139425
6      10150
7      34671
8       8255
9      44892
10     13117
11     12302
12      5283
13       398
14      1385
15       197
16       707
17       135
99        56
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [259]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [260]:
c = 'FAMI_OCUPA_PADRE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1       8625
2      13620
3       8680
4       5765
5      37459
6      10713
7     119636
8      14908
9     208038
10      6276
11     18267
12     96369
13       311
14      1337
15       273
16       447
17       906
18       742
19      4229
20       738
21      5261
22       361
23       584
26      2987
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [261]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [262]:
c = 'FAMI_OCUPA_MADRE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1       3703
2      10716
3       4379
4       6172
5      30886
6      23935
7      37657
8      12634
9      60675
10    305657
11      4999
12     46943
13       122
14       514
15       177
16       411
17       603
18       678
19      2079
20       426
21      2424
22      8784
23       212
26      1746
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [263]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [264]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    177183
2    237531
3    123572
4     22623
5      3948
6      1236
8       439
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [265]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [266]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      25993
2     203819
3     231574
4      73823
5      20204
6       6649
7       2262
8       1167
9        426
10       615
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [267]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [268]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    258828
2    129513
3     23904
4      4102
5    150185
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [269]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [270]:
c = 'FAMI_PISOSHOGAR'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     32823
2    261658
3     29440
4    242432
5       179
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [271]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [272]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       2848
2      27345
3      91720
4     168770
5     134470
6      69692
7      33087
8      18252
9       8137
10      5451
11      2443
12      4317
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [273]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [274]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    308334
1    258198
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [275]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [276]:
c = 'FAMI_CELULAR'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     32406
1    534126
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [277]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [278]:
c = 'FAMI_INTERNET'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    295776
1    270756
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [279]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [280]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    212529
1    354003
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [281]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [282]:
c = 'FAMI_COMPUTADOR'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    230578
1    323702
3     12252
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [283]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [284]:
c = 'FAMI_LAVADORA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    204913
1    361619
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [285]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [286]:
c = 'FAMI_NEVERA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     71982
1    494550
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [287]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [288]:
c = 'FAMI_HORNO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    326646
1    239886
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [289]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [290]:
c = 'FAMI_DVD'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    199763
1    366769
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [291]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [292]:
c = 'FAMI_MICROONDAS'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    413705
1    152827
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [293]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [294]:
c = 'FAMI_AUTOMOVIL'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    460112
1    106420
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [295]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [296]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    177862
2    247474
3     80739
4     37422
5     11951
6      5841
7      5243
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [297]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [298]:
c = 'ESTU_TRABAJA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
0     22235
1    478435
2     29284
3     26602
4      5219
5      4756
6         1
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [299]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

In [300]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0       2392
1        163
2       3625
3       2585
4       8658
5       6091
6       9040
7       3814
8      59721
9      11878
10     20286
11      2296
12     12027
13       918
14      1456
15      6990
16      9107
17       619
18      7481
19      1362
20    396023
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [301]:
Do_resamples(data_2013_2, c, float)

cant null antes: 0
cant null despues: 0

## TARGETS

In [302]:
c = 'PUNT_LENGUAJE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0, 20.0, 21.0, 27.0, 28.0, 29.0, 32.0, 33.0, 35.0, 36.0, 38.0,
              39.0, 40.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0,
              52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0,
              63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 71.0, 72.0, 75.0, 76.0, 80.0,
              83.0, 94.0, 95.0],
             dtype='float64')
0       348
20      714
21      305
27     2747
28     1024
29      214
32    10646
33      621
35    21441
36     1629
38    34147
39     2614
40    45876
42    33445
43    23814
44     3891
45    57065
46    19914
47    40833
48    44874
49    11615
50    50024
52    42827
53     1541
54    32831
55     1111
56    25827
57      777
58    19488
59      563
60    13510
61      562
62     8849
63      357
64     1535
65     3911
66      130
67     2314
68      693
71     1345
72       20
75      254
76      180
80        1
83       94
94        7
95        4
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [303]:
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [304]:
c = 'PUNT_MATEMATICAS'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([  0.0,   1.0,   5.0,  11.0,  12.0,  13.0,  15.0,  18.0,  22.0,
               23.0,  24.0,  27.0,  28.0,  29.0,  31.0,  32.0,  33.0,  34.0,
               35.0,  37.0,  38.0,  40.0,  41.0,  43.0,  44.0,  46.0,  47.0,
               48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,  57.0,
               58.0,  59.0,  60.0,  61.0,  62.0,  63.0,  64.0,  65.0,  66.0,
               67.0,  68.0,  70.0,  71.0,  73.0,  74.0,  75.0,  78.0,  79.0,
               80.0,  82.0,  83.0,  84.0,  86.0,  88.0,  89.0,  90.0,  93.0,
               96.0,  98.0,  99.0, 100.0, 113.0, 114.0, 116.0],
             dtype='float64')
0        414
1         22
5          4
11       509
12       598
13      1127
15        45
18       326
22      4362
23      4636
24       772
27       229
28     12881
29     11935
31       425
32      1905
33     23155
34     22247
35      2532
37     35355
38     33018
40     41853
41     37111
43     42574
44     34584
46     37233
47     28868
48       853
49     28570
50     22208
       ...
62      7941
63      2293
64       467
65      7542
66       104
67       421
68      5706
70        70
71      4519
73        56
74      2089
75      1088
78      1418
79       504
80       254
82       227
83       819
84        27
86       196
88       143
89       279
90       147
93         4
96       130
98       106
99        49
100       63
113       62
114       17
116       11
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [305]:
for i in data_2013_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2013_2[c] = data_2013_2[c].replace(i, 100)
    elif i < 0:
        data_2013_2[c] = data_2013_2[c].replace(i, 0)
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [306]:
c = 'PUNT_C_SOCIALES'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0,  8.0,  9.0, 14.0, 16.0, 17.0, 19.0, 21.0, 22.0, 23.0, 25.0,
              26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0,
              37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0,
              48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0,
              59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0,
              70.0, 72.0, 73.0, 74.0, 76.0, 77.0, 78.0, 79.0, 84.0, 85.0, 86.0,
              87.0, 91.0, 97.0, 98.0, 99.0],
             dtype='float64')
0       546
8         5
9       128
14        3
16       26
17      418
19       14
21      405
22     1042
23       50
25     1087
26     2755
27      108
28     2282
29     5811
30      173
31    11131
32     3838
33    11405
34    11753
35     7924
36    24092
37    21468
38    19213
39    34608
40    13032
41    47165
42    16316
43    36430
44    35804
      ...
56     6882
57    11679
58      640
59     9163
60      518
61     7150
62      335
63     4244
64     1305
65     2160
66     1527
67      161
68     1440
69      986
70      112
72     1182
73      270
74       52
76      206
77      370
78      129
79       14
84       70
85      124
86       36
87        6
91        1
97       18
98       15
99        8
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [307]:
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [308]:
c = 'PUNT_FILOSOFIA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([  0.0,   7.0,   8.0,   9.0,  10.0,  11.0,  16.0,  18.0,  19.0,
               20.0,  21.0,  24.0,  25.0,  26.0,  28.0,  29.0,  30.0,  31.0,
               32.0,  33.0,  34.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,
               42.0,  43.0,  44.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,
               51.0,  52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,
               60.0,  61.0,  62.0,  63.0,  64.0,  65.0,  66.0,  67.0,  68.0,
               69.0,  70.0,  71.0,  72.0,  75.0,  76.0,  77.0,  78.0,  84.0,
               86.0,  99.0, 101.0],
             dtype='float64')
0        697
7         21
8        319
9        790
10      1355
11      1156
16        69
18      1346
19      2963
20      8529
21       199
24      3383
25      7761
26     18709
28      6465
29     14051
30     17908
31     13278
32     10755
33     18858
34     42065
36     34354
37     27163
38     18701
39     17521
40     43802
41     30246
42     18681
43     35866
44     10775
       ...
51     20116
52      4275
53     10589
54      3710
55      3461
56      9054
57       161
58      2009
59      5693
60        93
61      1373
62      2619
63      1200
64       158
65       611
66      2155
67        39
68       101
69       344
70       842
71       324
72        51
75       334
76       151
77       133
78        21
84       165
86        55
99        45
101        7
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [309]:
for i in data_2013_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2013_2[c] = data_2013_2[c].replace(i, 100)
    elif i < 0:
        data_2013_2[c] = data_2013_2[c].replace(i, 0)
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [310]:
c = 'PUNT_BIOLOGIA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0, 13.0, 14.0, 15.0, 16.0, 21.0, 22.0, 23.0, 24.0, 26.0, 27.0,
              28.0, 29.0, 30.0, 31.0, 33.0, 34.0, 36.0, 37.0, 38.0, 39.0, 41.0,
              42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0,
              53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0,
              64.0, 65.0, 67.0, 68.0, 69.0, 71.0, 72.0, 75.0, 76.0, 77.0, 78.0,
              83.0, 84.0, 85.0, 86.0, 96.0, 97.0, 98.0, 99.0],
             dtype='float64')
0       128
13       18
14      132
15      438
16        9
21       91
22     1710
23     1058
24       49
26      289
27     5178
28     2962
29      186
30      640
31    18004
33     1590
34    30602
36     2391
37    43992
38     3147
39    54613
41    48473
42    14807
43    13747
44    48920
45    31883
46    25878
47    27665
48    22937
49    33223
      ...
53    27076
54      297
55    19266
56     1279
57     7521
58     7479
59     5001
60     5014
61     1204
62     4773
63      491
64     1877
65     1972
67     1070
68      920
69      197
71      528
72      568
75       93
76      250
77      137
78       61
83       85
84       21
85       52
86       38
96       12
97        9
98       12
99       31
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [311]:
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [312]:
c = 'PUNT_QUIMICA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0, 16.0, 17.0, 23.0, 24.0, 28.0, 29.0, 31.0, 32.0, 34.0, 35.0,
              36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
              47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0,
              58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 65.0, 66.0, 68.0, 69.0, 70.0,
              71.0, 73.0, 76.0, 77.0, 80.0, 88.0, 89.0, 92.0],
             dtype='float64')
0       174
16      759
17       48
23     2337
24     1041
28     8652
29      512
31     8895
32    10386
34    30623
35     1658
36     6866
37    35871
38     3193
39    51234
40     3565
41    55641
42     3577
43    55599
44     3249
45    51539
46    10696
47    37243
48    21873
49    19834
50    16895
51    16274
52    14153
53    12826
54    11581
55    10283
56     9484
57     8178
58      213
59    13564
60      187
61     2168
62     8186
63      135
65     4671
66     3196
68      309
69     2807
70     1918
71       77
73      241
76      655
77     2154
80      165
88      687
89      393
92       67
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [313]:
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [314]:
c = 'PUNT_FISICA'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([  0.0,   2.0,   8.0,   9.0,  10.0,  12.0,  15.0,  16.0,  17.0,
               19.0,  21.0,  22.0,  23.0,  26.0,  27.0,  30.0,  31.0,  33.0,
               34.0,  35.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,
               44.0,  45.0,  46.0,  47.0,  50.0,  52.0,  53.0,  55.0,  56.0,
               57.0,  59.0,  60.0,  62.0,  63.0,  65.0,  66.0,  69.0,  70.0,
               73.0,  74.0,  75.0,  77.0,  79.0,  80.0,  81.0,  83.0,  86.0,
               87.0,  90.0,  91.0,  97.0,  99.0, 101.0, 107.0, 116.0, 118.0,
              119.0, 121.0],
             dtype='float64')
0        469
2          1
8        622
9         88
10       815
12        22
15       499
16      1590
17      2494
19        78
21      4613
22       542
23      5591
26      8914
27     11621
30     14407
31     18461
33      6584
34     28524
35     11171
37     27500
38     30211
39       943
40     31258
41     33144
42       851
43     10942
44     56085
45       776
46     10961
       ...
56     25709
57       393
59     22775
60       274
62     14526
63       205
65      4082
66      5137
69      2367
70      3033
73       689
74      2239
75        60
77       104
79       627
80       958
81        27
83        62
86       294
87       484
90        41
91        14
97       132
99       221
101        9
107        8
116       22
118       30
119       23
121        4
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [315]:
for i in data_2013_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2013_2[c] = data_2013_2[c].replace(i, 100)
    elif i < 0:
        data_2013_2[c] = data_2013_2[c].replace(i, 0)
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [316]:
c = 'PUNT_INGLES'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ -1.0,   0.0,   3.0,   7.0,  11.0,  14.0,  15.0,  17.0,  18.0,
               20.0,  21.0,  23.0,  24.0,  26.0,  27.0,  29.0,  30.0,  31.0,
               32.0,  33.0,  35.0,  37.0,  38.0,  39.0,  40.0,  42.0,  43.0,
               45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,
               54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  63.0,
               65.0,  66.0,  68.0,  70.0,  71.0,  72.0,  74.0,  75.0,  77.0,
               80.0,  83.0,  88.0,  89.0,  92.0,  94.0,  96.0, 100.0],
             dtype='float64')
-1        320
 0        173
 3         88
 7        114
 11       149
 14       160
 15        28
 17       397
 18        55
 20       924
 21       104
 23      2036
 24       226
 26      4075
 27       399
 29      7446
 30       646
 31     12491
 32       972
 33     18775
 35     28400
 37     36715
 38      1921
 39     42059
 40     49364
 42     50953
 43     93130
 45     37143
 46     30135
 47     23878
        ...
 50     14130
 51     11249
 52      9244
 53      7728
 54      6279
 55       395
 56      5688
 57      5238
 58      4381
 59      4299
 60      4225
 61       254
 63      3748
 65       224
 66      3346
 68      3448
 70       214
 71      2984
 72       183
 74      2873
 75       217
 77      2923
 80      2779
 83      2768
 88        57
 89      2440
 92        35
 94      1697
 96        18
 100      872
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [317]:
for i in data_2013_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2013_2[c] = data_2013_2[c].replace(i, 100)
    elif i < 0:
        data_2013_2[c] = data_2013_2[c].replace(i, 0)
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [318]:
c = 'DESEMP_INGLES'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    307640
A1    189558
A2     38502
B+      7889
B1     22943
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [319]:
Do_resamples(data_2013_2, c, str)

cant null antes: 0
cant null despues: 0

In [320]:
c = 'NOMBRE_COMP_FLEXIBLE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Index(['MEDIO AMBIENTE', 'PROFUNDIZACIÓN EN BIOLOGÍA',
       'PROFUNDIZACIÓN EN CIENCIAS SOCIALES', 'PROFUNDIZACIÓN EN LENGUAJE',
       'PROFUNDIZACIÓN EN MATEMÁTICA', 'VIOLENCIA Y SOCIEDAD'],
      dtype='object')
MEDIO AMBIENTE                         208353
PROFUNDIZACIÓN EN BIOLOGÍA              53730
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     33717
PROFUNDIZACIÓN EN LENGUAJE              68994
PROFUNDIZACIÓN EN MATEMÁTICA            54009
VIOLENCIA Y SOCIEDAD                   147729
Name: NOMBRE_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [321]:
Do_resamples(data_2013_2, c, str)

cant null antes: 0
cant null despues: 0

In [322]:
c = 'PUNT_COMP_FLEXIBLE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 20.0, 27.0, 32.0,
              35.0, 39.0, 42.0, 45.0, 46.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0,
              54.0, 55.0, 56.0, 58.0, 59.0, 62.0, 64.0, 72.0, 84.0],
             dtype='float64')
0       1799
3       3615
4      39862
5     115965
6      47079
7       2843
8        403
9         19
20      1751
27      4761
32      9260
35     13852
39     18125
42     19947
45     20504
46      4333
48     31129
49     22065
50     29423
51     46847
52     50241
53     17987
54     13852
55     29786
56      4751
58      2617
59      8818
62       241
64      3562
72       998
84        97
Name: PUNT_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [323]:
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [324]:
c = 'PUNT_COMP_FLEXIBLE'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Float64Index([ 0.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 20.0, 27.0, 32.0,
              35.0, 39.0, 42.0, 45.0, 46.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0,
              54.0, 55.0, 56.0, 58.0, 59.0, 62.0, 64.0, 72.0, 84.0],
             dtype='float64')
0       1799
3       3615
4      39862
5     115965
6      47079
7       2843
8        403
9         19
20      1751
27      4761
32      9260
35     13852
39     18125
42     19947
45     20504
46      4333
48     31129
49     22065
50     29423
51     46847
52     50241
53     17987
54     13852
55     29786
56      4751
58      2617
59      8818
62       241
64      3562
72       998
84        97
Name: PUNT_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

In [325]:
data_2013_2[c].fillna(int(np.mean(data_2013_2[c])), inplace=True)

In [326]:
c = 'ESTU_PUESTO'
print(data_2013_2[c].value_counts().sort_index().index)
print(data_2013_2[c].value_counts().sort_index())
print(missing_data(data_2013_2[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       572
2       574
3       575
4       575
5       573
6       574
7       573
8       572
9       571
10      573
11      571
12      574
13      575
14      573
15      572
16      575
17      574
18      572
19      574
20      574
21      571
22      573
23      573
24      574
25      572
26      573
27      575
28      576
29      574
30      572
       ...
971     564
972     569
973     568
974     566
975     567
976     567
977     571
978     560
979     570
980     568
981     569
982     567
983     563
984     564
985     564
986     565
987     566
988     566
989     571
990     562
991     571
992     564
993     568
994     567
995     561
996     564
997     559
998     501
999     259
1000    212
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 566532
__________________
(566532,)
None

Now i can transform the obtained Dataframes in csv files

In [330]:
data_2013 = label_encoder(data_2013)
data_2013_2 = label_encoder(data_2013_2)

In [331]:
data_2013.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2013_1.csv', sep=';', index=False)
data_2013_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2013_2.csv', sep=';', index=False)