In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2017 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20171-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (54) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2017.shape

(12993, 80)

In [4]:
data_2017.head(3).T

,0,1,2
ESTU_TIPODOCUMENTO,CC,CC,CC
ESTU_NACIONALIDAD,COLOMBIA,COLOMBIA,COLOMBIA
ESTU_GENERO,Masculino,Femenino,Masculino
ESTU_FECHANACIMIENTO,18/08/1998,07/06/1998,30/03/1998
PERIODO,20171,20171,20171
ESTU_CONSECUTIVO,SB11201710017249,SB11201710014556,SB11201710001800
ESTU_ESTUDIANTE,ESTUDIANTE,ESTUDIANTE,ESTUDIANTE
ESTU_TIENEETNIA,NO,NO,NO
ESTU_ETNIA,NaN,NaN,NaN
ESTU_PAIS_RESIDE,COLOMBIA,COLOMBIA,COLOMBIA
ESTU_DEPTO_RESIDE,VALLE,CAUCA,VALLE
ESTU_COD_RESIDE_DEPTO,76,19,76
ESTU_MCPIO_RESIDE,CALI,POPAYAN,CALI
ESTU_COD_RESIDE_MCPIO,76001,19001,76001
ESTU_HORASSEMANATRABAJA,0,0,NaN
FAMI_EDUCACIONPADRE,Educación Profesional Completa,Educación Profesional Completa,NaN
FAMI_EDUCACIONMADRE,Educación Técnica o Tecnológica Completa,Educación Profesional Completa,NaN
FAMI_ESTRATOVIVIENDA,Estrato 3,Estrato 3,NaN
FAMI_TIENEINTERNET,SI,SI,NaN
FAMI_TIENE_SERVICIOTV,SI,SI,NaN
FAMI_TIENECOMPUTADOR,SI,SI,NaN
FAMI_TIENELAVADORA,SI,SI,NaN
FAMI_TIENEHORNOMICROOGAS,SI,SI,NaN
FAMI_TIENEAUTOMOVIL,NO,SI,NaN
FAMI_TIENEMOTOCICLETA,NO,NO,NaN
FAMI_TIENE_CONSOLAVIDEOJUEGOS,NO,SI,NaN
FAMI_NUMLIBROS,26 A 100 LIBROS,26 A 100 LIBROS,NaN
ESTU_DEDICACIONLECTURADIARIA,Entre 30 y 60 minutos,30 minutos o menos,NaN
FAMI_COME_LECHEDERIVADOS,3 a 5 veces por semana,Todos o casi todos los días,NaN
FAMI_COME_CARNEPESCADOHUEVO,3 a 5 veces por semana,Todos o casi todos los dias,NaN
...,...,...,...
COLE_COD_MCPIO_UBICACION,76001,19001,76001
COLE_MCPIO_UBICACION,CALI,POPAYAN,CALI
COLE_COD_DEPTO_UBICACION,76,19,76
COLE_DEPTO_UBICACION,VALLE,CAUCA,VALLE
ESTU_PRIVADO_LIBERTAD,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,76001,19001,76001
ESTU_MCPIO_PRESENTACION,CALI,POPAYAN,CALI
ESTU_DEPTO_PRESENTACION,VALLE,CAUCA,VALLE
ESTU_COD_DEPTO_PRESENTACION,76,19,76
PUNT_MATEMATICAS,31,61,86
DESEMP_MATEMATICAS,1,3,4
PERCENTIL_MATEMATICAS,4,62,99
PUNT_INGLES,45,55,100
PERCENTIL_INGLES,26,43,100
DESEMP_INGLES,A-,A1,B+
PUNT_C_NATURALES,35,66,70
DESEMP_C_NATURALES,1,3,3
PERCENTIL_C_NATURALES,5,75,84
PUNT_LECTURA_CRITICA,44,67,72
DESEMP_LECTURA_CRITICA,2,4,4
PERCENTIL_LECTURA_CRITICA,15,78,91
DESEMP_SOCIALES_CIUDADANAS,1,3,3
PUNT_SOCIALES_CIUDADANAS,28,70,66
PERCENTIL_SOCIALES_CIUDADANAS,1,85,76
PUNT_GLOBAL,177,326,378
PERCENTIL_GLOBAL,4,71,94
ESTU_INSE_INDIVIDUAL,59.2052,72.972,NaN
ESTU_NSE_INDIVIDUAL,NSE3,NSE4,NaN
ESTU_NSE_ESTABLECIMIENTO,3,3,4
ESTU_ESTADOINVESTIGACION,Publicar,Publicar,Publicar

In [5]:
c = 'ESTU_NACIONALIDAD'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ALEMANIA', 'ARGENTINA', 'AUSTRIA', 'BRASIL', 'BÉLGICA', 'CHILE',
       'COLOMBIA', 'COMORAS', 'COREA DEL SUR', 'ECUADOR', 'EL SALVADOR',
       'ESPAÑA', 'ESTADOS UNIDOS', 'FRANCIA', 'GUATEMALA', 'IRÁN', 'ITALIA',
       'MÉXICO', 'NICARAGUA', 'PANAMÁ', 'PAÍSES BAJOS - HOLANDA', 'PERÚ',
       'PORTUGAL', 'REINO UNIDO', 'SUIZA', 'TURQUÍA', 'VENEZUELA'],
      dtype='object')
ALEMANIA                      3
ARGENTINA                     9
AUSTRIA                       1
BRASIL                        5
BÉLGICA                       2
CHILE                         3
COLOMBIA                  12862
COMORAS                       2
COREA DEL SUR                 1
ECUADOR                       4
EL SALVADOR                   2
ESPAÑA                       11
ESTADOS UNIDOS               27
FRANCIA                       6
GUATEMALA                     1
IRÁN                          1
ITALIA                        3
MÉXICO                        5
NICARAGUA                     1
PANAMÁ                        1
PAÍSES BAJOS - HOLANDA        2
PERÚ                          2
PORTUGAL                      1
REINO UNIDO                   1
SUIZA                         1
TURQUÍA                       1
VENEZUELA                    35
Name: ESTU_NACIONALIDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [6]:
Do_resamples(data_2017, c, str)

cant null antes: 0
cant null despues: 0

In [7]:
c = 'ESTU_GENERO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Femenino', 'Masculino'], dtype='object')
Femenino     6742
Masculino    6251
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [8]:
c = 'ESTU_FECHANACIMIENTO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['01/01/1998', '01/01/1999', '01/01/2000', '01/01/2001', '01/02/1998',
       '01/02/1999', '01/02/2000', '01/02/2001', '01/03/1998', '01/03/1999',
       ...
       '31/08/1998', '31/08/1999', '31/08/2000', '31/08/2001', '31/10/1998',
       '31/10/1999', '31/10/2000', '31/12/1998', '31/12/1999', '31/12/2000'],
      dtype='object', length=1540)
01/01/1998     3
01/01/1999     6
01/01/2000    10
01/01/2001     7
01/02/1998     1
01/02/1999    12
01/02/2000    12
01/02/2001    11
01/03/1998     2
01/03/1999    15
01/03/2000    18
01/03/2001     7
01/04/1997     1
01/04/1998     4
01/04/1999     8
01/04/2000    22
01/04/2001     5
01/05/1998     1
01/05/1999    17
01/05/2000     9
01/05/2001     2
01/06/1998     3
01/06/1999    14
01/06/2000    12
01/07/1998     5
01/07/1999    19
01/07/2000    19
01/07/2001     1
01/08/1998     6
01/08/1999    11
              ..
30/12/1997     2
30/12/1998     9
30/12/1999    11
30/12/2000     9
31/01/1999    10
31/01/2000    14
31/01/2001     5
31/01/2002     1
31/03/1997     1
31/03/1999    11
31/03/2000    17
31/03/2001     4
31/05/1996     1
31/05/1998     1
31/05/1999    15
31/05/2000    13
31/05/2001     2
31/07/1999     9
31/07/2000    12
31/07/2001     1
31/08/1998     7
31/08/1999    19
31/08/2000     7
31/08/2001     2
31/10/1998    10
31/10/1999     7
31/10/2000    13
31/12/1998     6
31/12/1999    13
31/12/2000     6
Name: ESTU_FECHANACIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [9]:
Sep_Col = pd.DataFrame(data_2017.ESTU_FECHANACIMIENTO.str.split('/').tolist(), columns=['ESTU_NACIMIENTO_DIA', 
                                                                                         'ESTU_NACIMIENTO_MES',
                                                                                         'ESTU_NACIMIENTO_ANNO'])
data_2017 = pd.concat([data_2017, Sep_Col], axis=1)
data_2017 = data_2017.drop(c, axis=1)

In [10]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31'],
      dtype='object')
01    438
02    413
03    441
04    407
05    427
06    435
07    418
08    423
09    478
10    461
11    404
12    419
13    377
14    468
15    463
16    453
17    443
18    462
19    411
20    417
21    421
22    428
23    404
24    439
25    409
26    421
27    417
28    428
29    388
30    373
31    207
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [11]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], dtype='object')
01    1067
02     973
03    1093
04    1067
05    1044
06    1077
07    1142
08    1137
09    1165
10    1134
11     986
12    1108
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [12]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['0099', '0200', '1961', '1963', '1980', '1989', '1991', '1992', '1993',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2006', '2007', '2009', '2010', '2016', '2017'],
      dtype='object')
0099       1
0200       2
1961       1
1963       1
1980       2
1989       2
1991       4
1992       1
1993       3
1995       4
1996      12
1997     190
1998    1750
1999    4842
2000    5258
2001     874
2002      32
2003       1
2006       2
2007       1
2009       2
2010       1
2016       6
2017       1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [13]:
for i in data_2017[c].value_counts().sort_index().index:
    if int(i) < 1961:
        data_2017[c] = data_2017[c].replace(i, np.nan)
    elif int(i) > 2007:
        data_2017[c] = data_2017[c].replace(i, np.nan)
    elif type(i) == str:
        data_2017[c] = data_2017[c].replace(i, float(i))
        
Do_resamples(data_2017, c, float)

cant null antes: 13
cant null despues: 0

In [14]:
c = 'PERIODO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([20171], dtype='int64')
20171    12993
Name: PERIODO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [15]:
data_2017 = data_2017.drop(c, axis=1)

In [16]:
c = 'ESTU_CONSECUTIVO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['SB11201710000001', 'SB11201710000006', 'SB11201710000007',
       'SB11201710000008', 'SB11201710000009', 'SB11201710000010',
       'SB11201710000011', 'SB11201710000012', 'SB11201710000013',
       'SB11201710000014',
       ...
       'SB11201710090079', 'SB11201710090080', 'SB11201710090100',
       'SB11201710090103', 'SB11201710090105', 'SB11201710090108',
       'SB11201710090110', 'SB11201710090113', 'SB11201710090165',
       'SB11201710090211'],
      dtype='object', length=12993)
SB11201710000001    1
SB11201710000006    1
SB11201710000007    1
SB11201710000008    1
SB11201710000009    1
SB11201710000010    1
SB11201710000011    1
SB11201710000012    1
SB11201710000013    1
SB11201710000014    1
SB11201710000015    1
SB11201710000016    1
SB11201710000017    1
SB11201710000018    1
SB11201710000019    1
SB11201710000020    1
SB11201710000021    1
SB11201710000023    1
SB11201710000024    1
SB11201710000025    1
SB11201710000026    1
SB11201710000035    1
SB11201710000036    1
SB11201710000037    1
SB11201710000038    1
SB11201710000039    1
SB11201710000040    1
SB11201710000041    1
SB11201710000664    1
SB11201710000691    1
                   ..
SB11201710086398    1
SB11201710087833    1
SB11201710087836    1
SB11201710087901    1
SB11201710088240    1
SB11201710088337    1
SB11201710088343    1
SB11201710088349    1
SB11201710089941    1
SB11201710089942    1
SB11201710089944    1
SB11201710089945    1
SB11201710089946    1
SB11201710089947    1
SB11201710090040    1
SB11201710090045    1
SB11201710090053    1
SB11201710090056    1
SB11201710090077    1
SB11201710090078    1
SB11201710090079    1
SB11201710090080    1
SB11201710090100    1
SB11201710090103    1
SB11201710090105    1
SB11201710090108    1
SB11201710090110    1
SB11201710090113    1
SB11201710090165    1
SB11201710090211    1
Name: ESTU_CONSECUTIVO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [17]:
data_2017 = data_2017.drop(c, axis=1)

In [18]:
c = 'ESTU_ESTUDIANTE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ESTUDIANTE'], dtype='object')
ESTUDIANTE    12993
Name: ESTU_ESTUDIANTE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [19]:
data_2017 = data_2017.drop(c, axis=1)

In [20]:
c = 'ESTU_TIENEETNIA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO    11858
SI      164
Name: ESTU_TIENEETNIA, dtype: int64
Elementos null/NaN 971
__________________
Elementos diferentes de null/NaN: 12022
__________________
(12022,)
None

In [21]:
Do_resamples(data_2017, c, str)

cant null antes: 971
cant null despues: 0

In [22]:
c = 'ESTU_ETNIA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Comunidad Rom (gitana)', 'Comunidad afrodescendiente', 'Guambiano',
       'Inga', 'Ninguno', 'Otro grupo étnico minoritario', 'Paez',
       'Palenquero', 'Pasto', 'Pijao', 'Raizal', 'Wayúu'],
      dtype='object')
Comunidad Rom (gitana)             1
Comunidad afrodescendiente       134
Guambiano                          1
Inga                               1
Ninguno                           12
Otro grupo étnico minoritario     24
Paez                               3
Palenquero                         1
Pasto                              5
Pijao                              1
Raizal                             1
Wayúu                              3
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 12806
__________________
Elementos diferentes de null/NaN: 187
__________________
(187,)
None

In [23]:
data_2017[c].fillna('Ninguno', inplace=True)

In [24]:
c = 'ESTU_PAIS_RESIDE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ALEMANIA', 'ARGENTINA', 'AUSTRIA', 'BRASIL', 'BÉLGICA', 'CHILE',
       'COLOMBIA', 'COMORAS', 'COREA DEL SUR', 'ECUADOR', 'EL SALVADOR',
       'ESPAÑA', 'ESTADOS UNIDOS', 'FRANCIA', 'GUATEMALA', 'IRÁN', 'ITALIA',
       'MÉXICO', 'NICARAGUA', 'PANAMÁ', 'PAÍSES BAJOS - HOLANDA', 'PERÚ',
       'PORTUGAL', 'REINO UNIDO', 'SUIZA', 'TURQUÍA', 'VENEZUELA'],
      dtype='object')
ALEMANIA                      3
ARGENTINA                     9
AUSTRIA                       1
BRASIL                        5
BÉLGICA                       2
CHILE                         3
COLOMBIA                  12862
COMORAS                       2
COREA DEL SUR                 1
ECUADOR                       4
EL SALVADOR                   2
ESPAÑA                       11
ESTADOS UNIDOS               27
FRANCIA                       6
GUATEMALA                     1
IRÁN                          1
ITALIA                        3
MÉXICO                        5
NICARAGUA                     1
PANAMÁ                        1
PAÍSES BAJOS - HOLANDA        2
PERÚ                          2
PORTUGAL                      1
REINO UNIDO                   1
SUIZA                         1
TURQUÍA                       1
VENEZUELA                    35
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [25]:
c = 'ESTU_DEPTO_RESIDE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'CALDAS',
       'CAUCA', 'CESAR', 'CORDOBA', 'CUNDINAMARCA', 'LA GUAJIRA', 'MAGDALENA',
       'NARIÑO', 'QUINDIO', 'RISARALDA', 'SANTANDER', 'VALLE'],
      dtype='object')
AMAZONAS           1
ANTIOQUIA        513
ATLANTICO        691
BOGOTA          2926
BOLIVAR          128
CALDAS           187
CAUCA            604
CESAR             48
CORDOBA           25
CUNDINAMARCA     340
LA GUAJIRA        49
MAGDALENA         89
NARIÑO           286
QUINDIO           55
RISARALDA        114
SANTANDER         93
VALLE           6844
Name: ESTU_DEPTO_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [26]:
c = 'ESTU_COD_RESIDE_DEPTO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([5, 8, 11, 13, 17, 19, 20, 23, 25, 44, 47, 52, 63, 66, 68, 76, 91], dtype='int64')
5      513
8      691
11    2926
13     128
17     187
19     604
20      48
23      25
25     340
44      49
47      89
52     286
63      55
66     114
68      93
76    6844
91       1
Name: ESTU_COD_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [27]:
data_2017 = data_2017.drop(c, axis=1)

In [28]:
c = 'ESTU_MCPIO_RESIDE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ALBANIA', 'ARMENIA', 'BARRANQUILLA', 'BOGOTÁ D.C.', 'BOJACÁ',
       'BOLIVAR', 'BUCARAMANGA', 'BUGA', 'CACHIPAY', 'CAICEDONIA', 'CAJICA',
       'CALDAS', 'CALI', 'CALIMA (DARIEN)', 'CANDELARIA', 'CARTAGENA',
       'CARTAGO', 'CHIA', 'CIENAGA', 'CIENAGA DE ORO', 'CIRCASIA', 'COTA',
       'DOS QUEBRADAS', 'EL CAIRO', 'EL CERRITO', 'EL TAMBO', 'ENVIGADO',
       'FACATATIVA', 'FLORIDA', 'FLORIDABLANCA', 'FUNZA', 'GINEBRA', 'GIRON',
       'GUACARI', 'GUACHENÉ', 'HATONUEVO', 'ITAGUI', 'JAMUNDI', 'LA CALERA',
       'LA ESTRELLA', 'LA UNION', 'LETICIA', 'LOS SANTOS', 'MADRID', 'MAICAO',
       'MANIZALES', 'MEDELLIN', 'MIRANDA', 'MONTERIA', 'MOSQUERA', 'NARIÑO',
       'PALMIRA', 'PASTO', 'PATIA(EL BORDO)', 'PEREIRA', 'PIEDECUESTA',
       'POPAYAN', 'PRADERA', 'PUERTO COLOMBIA', 'PUERTO TEJADA', 'RETIRO',
       'RIONEGRO', 'ROLDANILLO', 'SABANAGRANDE', 'SABANETA', 'SALENTO',
       'SAN PEDRO', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTANDER DE QUILICHAO', 'SOLEDAD', 'SOPO', 'SUBACHOQUE', 'TABIO',
       'TENJO', 'TIMBIO', 'TOCANCIPA', 'TULUA', 'VALLEDUPAR', 'VIJES',
       'VILLA RICA', 'VILLAMARIA', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object')
ALBANIA                     22
ARMENIA                     53
BARRANQUILLA               673
BOGOTÁ D.C.               2926
BOJACÁ                       1
BOLIVAR                      1
BUCARAMANGA                 30
BUGA                       245
CACHIPAY                     1
CAICEDONIA                   2
CAJICA                      56
CALDAS                       1
CALI                      5598
CALIMA (DARIEN)              2
CANDELARIA                  45
CARTAGENA                  128
CARTAGO                     91
CHIA                       199
CIENAGA                      2
CIENAGA DE ORO               1
CIRCASIA                     1
COTA                        31
DOS QUEBRADAS                2
EL CAIRO                     1
EL CERRITO                  69
EL TAMBO                     2
ENVIGADO                    89
FACATATIVA                   3
FLORIDA                      5
FLORIDABLANCA               53
                          ...
PIEDECUESTA                  8
POPAYAN                    521
PRADERA                     14
PUERTO COLOMBIA             16
PUERTO TEJADA               52
RETIRO                       3
RIONEGRO                     5
ROLDANILLO                  17
SABANAGRANDE                 1
SABANETA                    11
SALENTO                      1
SAN PEDRO                    1
SANTA MARTA                 87
SANTA ROSA DE CABAL          1
SANTANDER DE QUILICHAO       2
SOLEDAD                      1
SOPO                         8
SUBACHOQUE                   2
TABIO                        3
TENJO                        2
TIMBIO                       4
TOCANCIPA                    1
TULUA                        4
VALLEDUPAR                  48
VIJES                        5
VILLA RICA                   3
VILLAMARIA                  13
YUMBO                      113
ZARZAL                       6
ZIPAQUIRA                    7
Name: ESTU_MCPIO_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [29]:
c = 'ESTU_COD_RESIDE_MCPIO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([ 5001,  5129,  5266,  5360,  5380,  5607,  5615,  5631,  8001,
             8573,  8634,  8758, 11001, 13001, 17001, 17873, 19001, 19256,
            19300, 19455, 19532, 19573, 19698, 19807, 19845, 20001, 23001,
            23189, 25099, 25123, 25126, 25175, 25214, 25269, 25286, 25377,
            25430, 25473, 25758, 25769, 25785, 25799, 25817, 25899, 44035,
            44378, 44430, 47001, 47189, 52001, 52260, 52480, 63001, 63190,
            63690, 66001, 66170, 66682, 68001, 68276, 68307, 68418, 68547,
            76001, 76100, 76111, 76122, 76126, 76130, 76147, 76246, 76248,
            76275, 76306, 76318, 76364, 76400, 76520, 76563, 76622, 76670,
            76834, 76869, 76892, 76895, 91001],
           dtype='int64')
5001      391
5129        1
5266       89
5360        4
5380        9
5607        3
5615        5
5631       11
8001      673
8573       16
8634        1
8758        1
11001    2926
13001     128
17001     174
17873      13
19001     521
19256       1
19300       4
19455       1
19532      16
19573      52
19698       2
19807       4
19845       3
20001      48
23001      24
23189       1
25099       1
25123       1
         ...
66170       2
66682       1
68001      30
68276      53
68307       1
68418       1
68547       8
76001    5598
76100       1
76111     245
76122       2
76126       2
76130      45
76147      91
76246       1
76248      69
76275       5
76306       3
76318       2
76364     156
76400       1
76520     463
76563      14
76622      17
76670       1
76834       4
76869       5
76892     113
76895       6
91001       1
Name: ESTU_COD_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [30]:
data_2017 = data_2017.drop(c, axis=1)

In [31]:
c = 'ESTU_HORASSEMANATRABAJA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['0', 'Entre 11 y 20', 'Entre 21 y 30', 'Menos de 10', 'Más de 30'], dtype='object')
0                11224
Entre 11 y 20      296
Entre 21 y 30      149
Menos de 10        818
Más de 30          130
Name: ESTU_HORASSEMANATRABAJA, dtype: int64
Elementos null/NaN 376
__________________
Elementos diferentes de null/NaN: 12617
__________________
(12617,)
None

In [32]:
Do_resamples(data_2017, c, str)

cant null antes: 376
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [33]:
c = 'FAMI_EDUCACIONPADRE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Educación Profesional Completa', 'Educación Profesional Incompleta',
       'Educación Técnica o Tecnológica Completa',
       'Educación Técnica o Tecnológica Incompleta', 'Ninguno', 'No Aplica',
       'No Sabe', 'Postgrado', 'Primaria Completa', 'Primaria Incompleta',
       'Secundaria(Bachillerato) Completa',
       'Secundaria(Bachillerato) Incompleta'],
      dtype='object')
Educación Profesional Completa                4506
Educación Profesional Incompleta               577
Educación Técnica o Tecnológica Completa       938
Educación Técnica o Tecnológica Incompleta     218
Ninguno                                         51
No Aplica                                      147
No Sabe                                        657
Postgrado                                     2837
Primaria Completa                              204
Primaria Incompleta                            241
Secundaria(Bachillerato) Completa             1657
Secundaria(Bachillerato) Incompleta            613
Name: FAMI_EDUCACIONPADRE, dtype: int64
Elementos null/NaN 347
__________________
Elementos diferentes de null/NaN: 12646
__________________
(12646,)
None

In [34]:
Do_resamples(data_2017, c, str)

cant null antes: 347
cant null despues: 0

In [35]:
c = 'FAMI_EDUCACIONMADRE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Educación Profesional Completa', 'Educación Profesional Incompleta',
       'Educación Técnica o Tecnológica Completa',
       'Educación Técnica o Tecnológica Incompleta', 'Ninguno', 'No Aplica',
       'No Sabe', 'Postgrado', 'Primaria Completa', 'Primaria Incompleta',
       'Secundaria(Bachillerato) Completa',
       'Secundaria(Bachillerato) Incompleta'],
      dtype='object')
Educación Profesional Completa                5201
Educación Profesional Incompleta               738
Educación Técnica o Tecnológica Completa      1212
Educación Técnica o Tecnológica Incompleta     312
Ninguno                                         31
No Aplica                                       45
No Sabe                                        362
Postgrado                                     2466
Primaria Completa                              141
Primaria Incompleta                            164
Secundaria(Bachillerato) Completa             1555
Secundaria(Bachillerato) Incompleta            427
Name: FAMI_EDUCACIONMADRE, dtype: int64
Elementos null/NaN 339
__________________
Elementos diferentes de null/NaN: 12654
__________________
(12654,)
None

In [36]:
Do_resamples(data_2017, c, str)

cant null antes: 339
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [37]:
c = 'FAMI_ESTRATOVIVIENDA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Estrato 1', 'Estrato 2', 'Estrato 3', 'Estrato 4', 'Estrato 5',
       'Estrato 6', 'Sin Estrato'],
      dtype='object')
Estrato 1       252
Estrato 2      1170
Estrato 3      3139
Estrato 4      2861
Estrato 5      2538
Estrato 6      2594
Sin Estrato      77
Name: FAMI_ESTRATOVIVIENDA, dtype: int64
Elementos null/NaN 362
__________________
Elementos diferentes de null/NaN: 12631
__________________
(12631,)
None

In [38]:
Do_resamples(data_2017, c, str)

cant null antes: 362
cant null despues: 0

In [39]:
c = 'FAMI_TIENEINTERNET'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO      521
SI    12127
Name: FAMI_TIENEINTERNET, dtype: int64
Elementos null/NaN 345
__________________
Elementos diferentes de null/NaN: 12648
__________________
(12648,)
None

In [40]:
Do_resamples(data_2017, c, str)

cant null antes: 345
cant null despues: 0

In [41]:
c = 'FAMI_TIENE_SERVICIOTV'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO      514
SI    12086
Name: FAMI_TIENE_SERVICIOTV, dtype: int64
Elementos null/NaN 393
__________________
Elementos diferentes de null/NaN: 12600
__________________
(12600,)
None

In [42]:
Do_resamples(data_2017, c, str)

cant null antes: 393
cant null despues: 0

In [43]:
c = 'FAMI_TIENECOMPUTADOR'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO      554
SI    12047
Name: FAMI_TIENECOMPUTADOR, dtype: int64
Elementos null/NaN 392
__________________
Elementos diferentes de null/NaN: 12601
__________________
(12601,)
None

In [44]:
Do_resamples(data_2017, c, str)

cant null antes: 392
cant null despues: 0

In [45]:
c = 'FAMI_TIENELAVADORA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO      547
SI    12123
Name: FAMI_TIENELAVADORA, dtype: int64
Elementos null/NaN 323
__________________
Elementos diferentes de null/NaN: 12670
__________________
(12670,)
None

In [46]:
Do_resamples(data_2017, c, str)

cant null antes: 323
cant null despues: 0

In [47]:
c = 'FAMI_TIENEHORNOMICROOGAS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO     1563
SI    11100
Name: FAMI_TIENEHORNOMICROOGAS, dtype: int64
Elementos null/NaN 330
__________________
Elementos diferentes de null/NaN: 12663
__________________
(12663,)
None

In [48]:
Do_resamples(data_2017, c, str)

cant null antes: 330
cant null despues: 0

In [49]:
c = 'FAMI_TIENEAUTOMOVIL'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO    2695
SI    9955
Name: FAMI_TIENEAUTOMOVIL, dtype: int64
Elementos null/NaN 343
__________________
Elementos diferentes de null/NaN: 12650
__________________
(12650,)
None

In [50]:
Do_resamples(data_2017, c, str)

cant null antes: 343
cant null despues: 0

In [51]:
c = 'FAMI_TIENEMOTOCICLETA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO    9518
SI    3110
Name: FAMI_TIENEMOTOCICLETA, dtype: int64
Elementos null/NaN 365
__________________
Elementos diferentes de null/NaN: 12628
__________________
(12628,)
None

In [52]:
Do_resamples(data_2017, c, str)

cant null antes: 365
cant null despues: 0

In [53]:
c = 'FAMI_TIENE_CONSOLAVIDEOJUEGOS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO', 'SI'], dtype='object')
NO    4276
SI    8370
Name: FAMI_TIENE_CONSOLAVIDEOJUEGOS, dtype: int64
Elementos null/NaN 347
__________________
Elementos diferentes de null/NaN: 12646
__________________
(12646,)
None

In [54]:
Do_resamples(data_2017, c, str)

cant null antes: 347
cant null despues: 0

In [55]:
c = 'FAMI_NUMLIBROS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['0 A 10 LIBROS', '11 A 25 LIBROS', '26 A 100 LIBROS',
       'MÁS DE 100 LIBROS'],
      dtype='object')
0 A 10 LIBROS        1492
11 A 25 LIBROS       2473
26 A 100 LIBROS      4581
MÁS DE 100 LIBROS    4115
Name: FAMI_NUMLIBROS, dtype: int64
Elementos null/NaN 332
__________________
Elementos diferentes de null/NaN: 12661
__________________
(12661,)
None

In [56]:
Do_resamples(data_2017, c, str)

cant null antes: 332
cant null despues: 0

In [57]:
c = 'ESTU_DEDICACIONLECTURADIARIA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['30 minutos o menos', 'Entre 1 y 2 horas', 'Entre 30 y 60 minutos',
       'Más de 2 horas', 'No leo por entretenimiento'],
      dtype='object')
30 minutos o menos            4069
Entre 1 y 2 horas             1588
Entre 30 y 60 minutos         3602
Más de 2 horas                 763
No leo por entretenimiento    2643
Name: ESTU_DEDICACIONLECTURADIARIA, dtype: int64
Elementos null/NaN 328
__________________
Elementos diferentes de null/NaN: 12665
__________________
(12665,)
None

In [58]:
Do_resamples(data_2017, c, str)

cant null antes: 328
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [59]:
c = 'FAMI_COME_LECHEDERIVADOS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['1 o 2 veces por semana', '3 a 5 veces por semana',
       'Nunca o rara vez comemos eso', 'Todos o casi todos los días'],
      dtype='object')
1 o 2 veces por semana          1724
3 a 5 veces por semana          2478
Nunca o rara vez comemos eso     424
Todos o casi todos los días     8036
Name: FAMI_COME_LECHEDERIVADOS, dtype: int64
Elementos null/NaN 331
__________________
Elementos diferentes de null/NaN: 12662
__________________
(12662,)
None

In [60]:
Do_resamples(data_2017, c, str)

cant null antes: 331
cant null despues: 0

In [61]:
c = 'FAMI_COME_CARNEPESCADOHUEVO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['1 o 2 veces por semana', '3 a 5 veces por semana',
       'Nunca o rara vez comemos eso', 'Todos o casi todos los dias'],
      dtype='object')
1 o 2 veces por semana           923
3 a 5 veces por semana          2474
Nunca o rara vez comemos eso     177
Todos o casi todos los dias     9069
Name: FAMI_COME_CARNEPESCADOHUEVO, dtype: int64
Elementos null/NaN 350
__________________
Elementos diferentes de null/NaN: 12643
__________________
(12643,)
None

In [62]:
Do_resamples(data_2017, c, str)

cant null antes: 350
cant null despues: 0

In [63]:
c = 'FAMI_COME_CEREALFRUTOSLEGUMBRE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['1 o 2 veces por semana', '3 a 5 veces por semana',
       'Nunca o rara vez comemos eso', 'Todos o casi todos los días'],
      dtype='object')
1 o 2 veces por semana          2835
3 a 5 veces por semana          4349
Nunca o rara vez comemos eso     582
Todos o casi todos los días     4884
Name: FAMI_COME_CEREALFRUTOSLEGUMBRE, dtype: int64
Elementos null/NaN 343
__________________
Elementos diferentes de null/NaN: 12650
__________________
(12650,)
None

In [64]:
Do_resamples(data_2017, c, str)

cant null antes: 343
cant null despues: 0

In [65]:
c = 'FAMI_TRABAJOLABOR_PADRE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Es agricultor, pesquero o jornalero',
       'Es dueño de un negocio grande, tiene un cargo de nivel directivo o gerencial',
       'Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc.)',
       'Es operario de máquinas o conduce vehículos (taxita, chofer)',
       'Es vendedor o trabaja en atención al público', 'No Sabe', 'No aplica',
       'Pensionado',
       'Tiene un trabajo de tipo auxiliar administrativo (por ejemplo, secretario o asistente)',
       'Trabaja como personal de limpieza, mantenimiento, seguridad o construcción',
       'Trabaja como profesional (por ejemplo médico, abogado, ingeniero)',
       'Trabaja en el hogar, no trabaja o estudia',
       'Trabaja por cuenta propia (por ejemplo plomero, electricista)'],
      dtype='object')
Es agricultor, pesquero o jornalero                                                                        154
Es dueño de un negocio grande, tiene un cargo de nivel directivo o gerencial                              2013
Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc.)     936
Es operario de máquinas o conduce vehículos (taxita, chofer)                                               551
Es vendedor o trabaja en atención al público                                                               535
No Sabe                                                                                                    697
No aplica                                                                                                  762
Pensionado                                                                                                 421
Tiene un trabajo de tipo auxiliar administrativo (por ejemplo, secretario o asistente)                     497
Trabaja como personal de limpieza, mantenimiento, seguridad o construcción                                 192
Trabaja como profesional (por ejemplo médico, abogado, ingeniero)                                         4812
Trabaja en el hogar, no trabaja o estudia                                                                  351
Trabaja por cuenta propia (por ejemplo plomero, electricista)                                              671
Name: FAMI_TRABAJOLABOR_PADRE, dtype: int64
Elementos null/NaN 401
__________________
Elementos diferentes de null/NaN: 12592
__________________
(12592,)
None

In [66]:
Do_resamples(data_2017, c, str)

cant null antes: 401
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [67]:
c = 'FAMI_TRABAJOLABOR_MADRE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Es agricultor, pesquero o jornalero',
       'Es dueño de un negocio grande, tiene un cargo de nivel directivo o gerencial',
       'Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc.)',
       'Es operario de máquinas o conduce vehículos (taxita, chofer)',
       'Es vendedor o trabaja en atención al público', 'No aplica', 'No sabe',
       'Pensionado',
       'Tiene un trabajo de tipo auxiliar administrativo (por ejemplo, secretario o asistente)',
       'Trabaja como personal de limpieza, mantenimiento, seguridad o construcción',
       'Trabaja como profesional (por ejemplo médico, abogado, ingeniero)',
       'Trabaja en el hogar, no trabaja o estudia',
       'Trabaja por cuenta propia (por ejemplo plomero, electricista)'],
      dtype='object')
Es agricultor, pesquero o jornalero                                                                         24
Es dueño de un negocio grande, tiene un cargo de nivel directivo o gerencial                              1101
Es dueño de un negocio pequeño (tiene pocos empleados o no tiene, por ejemplo tienda, papelería, etc.)    1032
Es operario de máquinas o conduce vehículos (taxita, chofer)                                                69
Es vendedor o trabaja en atención al público                                                               650
No aplica                                                                                                  360
No sabe                                                                                                    237
Pensionado                                                                                                 164
Tiene un trabajo de tipo auxiliar administrativo (por ejemplo, secretario o asistente)                    1331
Trabaja como personal de limpieza, mantenimiento, seguridad o construcción                                 124
Trabaja como profesional (por ejemplo médico, abogado, ingeniero)                                         4162
Trabaja en el hogar, no trabaja o estudia                                                                 2987
Trabaja por cuenta propia (por ejemplo plomero, electricista)                                              368
Name: FAMI_TRABAJOLABOR_MADRE, dtype: int64
Elementos null/NaN 384
__________________
Elementos diferentes de null/NaN: 12609
__________________
(12609,)
None

In [68]:
Do_resamples(data_2017, c, str)

cant null antes: 384
cant null despues: 0

In [69]:
c = 'FAMI_PERSONASHOGAR'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['1 a 2', '3 a 4', '5 a 6', '7 a 8', '9 o más'], dtype='object')
1 a 2      1115
3 a 4      8082
5 a 6      3000
7 a 8       333
9 o más     103
Name: FAMI_PERSONASHOGAR, dtype: int64
Elementos null/NaN 360
__________________
Elementos diferentes de null/NaN: 12633
__________________
(12633,)
None

In [70]:
Do_resamples(data_2017, c, str)

cant null antes: 360
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [71]:
c = 'FAMI_CUARTOSHOGAR'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['1', '2', '3', '4', '5', '6 o más'], dtype='object')
1           264
2          2931
3          5915
4          2549
5           713
6 o más     275
Name: FAMI_CUARTOSHOGAR, dtype: int64
Elementos null/NaN 346
__________________
Elementos diferentes de null/NaN: 12647
__________________
(12647,)
None

In [72]:
Do_resamples(data_2017, c, str)

cant null antes: 346
cant null despues: 0

In [136]:
c = 'ESTU_DEDICACIONINTERNET'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['30 minutos o menos', 'Entre 1 y 3 horas', 'Entre 30 y 60 minutos',
       'Más de 3 horas', 'No navega en internet'],
      dtype='object')
30 minutos o menos       1001
Entre 1 y 3 horas        4775
Entre 30 y 60 minutos    2604
Más de 3 horas           3904
No navega en internet     154
Name: ESTU_DEDICACIONINTERNET, dtype: int64
Elementos null/NaN 214
__________________
Elementos diferentes de null/NaN: 12438
__________________
(12438,)
None

In [137]:
Do_resamples(data_2017, c, str)

cant null antes: 214
cant null despues: 0

In [74]:
c = 'ESTU_TIPOREMUNERACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['No', 'Si, en efectivo', 'Si, en efectivo y especie', 'Si, en especie'], dtype='object')
No                           11189
Si, en efectivo               1124
Si, en efectivo y especie      123
Si, en especie                 115
Name: ESTU_TIPOREMUNERACION, dtype: int64
Elementos null/NaN 442
__________________
Elementos diferentes de null/NaN: 12551
__________________
(12551,)
None

In [75]:
Do_resamples(data_2017, c, str)

cant null antes: 442
cant null despues: 0

In [76]:
c = 'FAMI_SITUACION_ECONOMICA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Igual', 'Mejor', 'Peor'], dtype='object')
Igual    7693
Mejor    3576
Peor     1360
Name: FAMI_SITUACION_ECONOMICA, dtype: int64
Elementos null/NaN 364
__________________
Elementos diferentes de null/NaN: 12629
__________________
(12629,)
None

In [77]:
Do_resamples(data_2017, c, str)

cant null antes: 364
cant null despues: 0

In [78]:
c = 'COLE_COD_DANE_ESTABLECIMIENTO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([176520007467, 305001000077, 305001003688, 305001003769,
            305001004668, 305001010781, 305001015503, 305001019681,
            305001021163, 305380019472,
            ...
            476001038251, 476130000571, 476248000478, 476520003791,
            476520006324, 476520007207, 476892099710, 476892099728,
            476892100092, 625214000001],
           dtype='int64', length=349)
176520007467     16
305001000077     29
305001003688    103
305001003769     56
305001004668     47
305001010781     53
305001015503      1
305001019681     69
305001021163     26
305380019472     69
305631000121     34
308001000122     13
308001000882     63
308001004209     85
308001007615     38
308001011353     22
308001012805      3
308001012813     23
308001013054     26
308001073952     34
308001074771     10
308001074789     24
308001075220     16
308001075645     10
308001077745     49
308001101153     66
308573000026     56
308573000450      8
308573074895     20
308573074909     75
               ...
425175001183      5
425175032127      7
425175032208     20
425175032328     13
425175032351     33
425175032402     16
425175032470     14
425175032674     69
425214000203     32
425377000529     35
425377076711     10
425758800009     15
425799000459     17
447001004284     39
463690000443     51
466001005641     10
466001006826      9
476001005957     23
476001029180     13
476001029953     31
476001038251     36
476130000571     48
476248000478     78
476520003791      9
476520006324     13
476520007207     91
476892099710     16
476892099728     11
476892100092      4
625214000001     22
Name: COLE_COD_DANE_ESTABLECIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [79]:
c = 'COLE_CODIGO_ICFES'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([   182,    372,    596,   2451,   3046,   3327,   3350,   3418,
              3459,   4234,
            ...
            190744, 190991, 197939, 197947, 199273, 199711, 595983, 628230,
            663120, 663617],
           dtype='int64', length=350)
182       103
372        56
596        47
2451       34
3046       63
3327       10
3350       13
3418       49
3459       85
4234       47
6023       93
7013       57
7070       51
7088       33
11262      73
11288      94
16667      60
16691     136
16709      62
16733      55
16741      78
16766      36
16774      91
16824      18
16832      46
16873      14
16881      17
16956      29
16972      71
16980     130
         ...
156604     69
156638     11
164145     14
164152     10
164228     33
164574      9
168864      3
169466     13
169615     25
170621     13
177089     33
177196      6
177469     63
177766     10
178038     15
178202     18
178236     15
179226     19
179358     75
179366      4
190744      9
190991     38
197939     18
197947     12
199273     10
199711      8
595983     16
628230     21
663120      9
663617      9
Name: COLE_CODIGO_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [80]:
for i in data_2017[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2017[c] = data_2017[c].replace(i, np.nan)
        
Do_resamples(data_2017, c, int)

cant null antes: 206
cant null despues: 0

In [81]:
c = 'COLE_NOMBRE_ESTABLECIMIENTO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO',
       'ACADEMIA GENERAL JOSE MARIA CABAL',
       'ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA', 'ALAS COLEGIO',
       'AMERICAN SCHOOL', 'ASOCIACION COLEGIO GRANADINO',
       'ASPAEN - GIMNASIO LOS ALCAZARES', 'ASPAEN COLEGIO JUANAMBÚ',
       'ASPAEN GIMNASIO CARTAGENA', 'ASPAEN GIMNASIO CARTAGENA DE INDIAS',
       ...
       'LICEO SUPERIOR JUAN PABLO II', 'LICEO TECNICO COMERCIAL AVANCEMOS',
       'NUEVO GIMNASIO CRISTIANO', 'REAL COL SAN FRANCISCO DE ASIS',
       'SAINT GEORGE SCHOOL - SAN JORGE', 'SANTA  MARIA STELLA MARIS',
       'SANTA MARIANA DE JESÚS', 'SEM DE CRISTO SACERDOTE',
       'SEMINARIO MENOR ARQUIDIOCESANO', 'VERNOT SCHOOL'],
      dtype='object', length=348)
ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO             14
ACADEMIA GENERAL JOSE MARIA CABAL                  12
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA         13
ALAS COLEGIO                                       18
AMERICAN SCHOOL                                    24
ASOCIACION COLEGIO GRANADINO                       42
ASPAEN - GIMNASIO LOS ALCAZARES                    34
ASPAEN COLEGIO JUANAMBÚ                            25
ASPAEN GIMNASIO CARTAGENA                          27
ASPAEN GIMNASIO CARTAGENA DE INDIAS                28
ASPAEN GIMNASIO IRAGUA                             62
ASPAEN GIMNASIO LOS CORALES                         3
ASPAEN LICEO TACURÍ                                25
ASPAEN-GIMNASIO LOS CEREZOS                        14
BOSQUECITO ENCANTADO Y COLEGIO EL BOSQUE            6
CENT EDUC Y CULT ESPAÑOL REYES CATOLICOS           53
CENT ESTUDIOS OCUPACIONALES CEO                     5
CENTRO DE EDUCACION INDIVIDUALIZADA                 4
CENTRO DOCENTE SANTA ANITA                         14
CENTRO DOCENTE TOMAS CIPRIANO  MOSQUERA            13
CENTRO EDUCATIVO DEL CAUCA                          8
CENTRO EDUCATIVO ETIEVAN -  COLEGIO ENCUENTROS     18
CENTRO EDUCATIVO INSCAT                            36
COL  MONTESSORI BRITISH SCHOOL                     63
COL ABRAHAM LINCOLN                                62
COL AGUSTINIANO CAMPESTRE                          49
COL ALEJANDRIA                                      6
COL ANA JULIA HOLGUIN  DE  HURTADO                 48
COL ANDINO                                        112
COL ANGLO COLOMBIANO                              121
                                                 ...
LIC FRANCES LOUIS PASTEUR                         127
LIC LA ENSEÑANZA                                   14
LIC LOS ANGELES                                    22
LIC MADRE ELISA                                    18
LIC MONTESSORI                                     15
LIC TALLER SAN MIGUEL                              25
LICEO  JUAN  XXIII                                 71
LICEO ANGLO COLOMBIANO                              3
LICEO BELLA SUIZA                                   8
LICEO BENALCAZAR                                   52
LICEO CARLOS CASTRO SAAVEDRA                        6
LICEO CARTAGO                                      38
LICEO COMERCIAL Y TECNOLOGICO DEL VALLE            12
LICEO DE LOS ANDES                                 26
LICEO FRANCES PAUL VALERY                          73
LICEO JESUS BERTIN                                 20
LICEO JUVENIL                                       7
LICEO LOS ALPES INSTITUCION EDUCATIVA S.A.S.       26
LICEO NUESTRA SEÑORA DE LOURDES                     8
LICEO QUIAL                                        29
LICEO SUPERIOR JUAN PABLO II                       24
LICEO TECNICO COMERCIAL AVANCEMOS                  51
NUEVO GIMNASIO CRISTIANO                           32
REAL COL SAN FRANCISCO DE ASIS                     51
SAINT GEORGE SCHOOL - SAN JORGE                     9
SANTA  MARIA STELLA MARIS                          29
SANTA MARIANA DE JESÚS                             32
SEM DE CRISTO SACERDOTE                            40
SEMINARIO MENOR ARQUIDIOCESANO                     36
VERNOT SCHOOL                                      13
Name: COLE_NOMBRE_ESTABLECIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [82]:
data_2017 = data_2017.drop(c, axis=1)

In [83]:
c = 'COLE_GENERO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['FEMENINO', 'MASCULINO', 'MIXTO'], dtype='object')
FEMENINO      1250
MASCULINO      476
MIXTO        11267
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [84]:
c = 'COLE_NATURALEZA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO OFICIAL'], dtype='object')
NO OFICIAL    12993
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [85]:
data_2017 = data_2017.drop(c, axis=1)

In [86]:
c = 'COLE_CALENDARIO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['B'], dtype='object')
B    12993
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [87]:
data_2017 = data_2017.drop(c, axis=1)

In [88]:
c = 'COLE_BILINGUE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['N', 'S'], dtype='object')
N    8035
S    3676
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 1282
__________________
Elementos diferentes de null/NaN: 11711
__________________
(11711,)
None

In [89]:
Do_resamples(data_2017, c, str)

cant null antes: 1282
cant null despues: 0

In [90]:
c = 'COLE_CARACTER'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ACADÉMICO', 'NO APLICA', 'TÉCNICO', 'TÉCNICO/ACADÉMICO'], dtype='object')
ACADÉMICO            10115
NO APLICA                3
TÉCNICO               1851
TÉCNICO/ACADÉMICO      960
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 64
__________________
Elementos diferentes de null/NaN: 12929
__________________
(12929,)
None

In [91]:
Do_resamples(data_2017, c, str)

cant null antes: 64
cant null despues: 0

In [92]:
c = 'COLE_COD_DANE_SEDE'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([176520007467, 305001000077, 305001003688, 305001003769,
            305001004668, 305001010781, 305001015503, 305001019681,
            305001021163, 305380019472,
            ...
            476001038251, 476130000571, 476248000478, 476520003791,
            476520006324, 476520007207, 476892099710, 476892099728,
            476892100092, 625214000001],
           dtype='int64', length=349)
176520007467     16
305001000077     29
305001003688    103
305001003769     56
305001004668     47
305001010781     53
305001015503      1
305001019681     69
305001021163     26
305380019472     69
305631000121     34
308001000122     13
308001000882     63
308001004209     85
308001007615     38
308001011353     22
308001012805      3
308001012813     23
308001013054     26
308001073952     34
308001074771     10
308001074789     24
308001075220     16
308001075645     10
308001077745     49
308001101153     66
308573000026     56
308573000450      8
308573074895     20
308573074909     75
               ...
425175032127      7
425175032208     20
425175032328     13
425175032351     33
425175032402     16
425175032470     14
425175032674     69
425214000203     32
425377000529     35
425377076711     10
425377800011     56
425758800009     15
425799000459     17
447001004284     39
463690000443     51
466001005641     10
466001006826      9
476001005957     23
476001029180     13
476001029953     31
476001038251     36
476130000571     48
476248000478     78
476520003791      9
476520006324     13
476520007207     91
476892099710     16
476892099728     11
476892100092      4
625214000001     22
Name: COLE_COD_DANE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [93]:
data_2017 = data_2017.drop(c, axis=1)

In [94]:
c = 'COLE_SEDE_PRINCIPAL'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['S'], dtype='object')
S    12993
Name: COLE_SEDE_PRINCIPAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [95]:
data_2017 = data_2017.drop(c, axis=1)

In [96]:
c = 'COLE_AREA_UBICACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['RURAL', 'URBANO'], dtype='object')
RURAL      1898
URBANO    11095
Name: COLE_AREA_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [97]:
c = 'COLE_COD_MCPIO_UBICACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([ 5001,  5266,  5380,  5607,  5631,  8001,  8573, 11001, 13001,
            17001, 17873, 19001, 19532, 19573, 20001, 23001, 25126, 25175,
            25214, 25377, 25758, 25799, 44035, 44430, 47001, 52001, 63190,
            63690, 66001, 68276, 76001, 76111, 76130, 76147, 76248, 76364,
            76520, 76563, 76622, 76892],
           dtype='int64')
5001      185
5266      199
5380       69
5607       24
5631       34
8001      307
8573      383
11001    2527
13001     128
17001     107
17873      80
19001     525
19532      16
19573      52
20001      48
23001      25
25126     124
25175     328
25214     136
25377     119
25758      15
25799      17
44035      24
44430      25
47001      89
52001     285
63190       3
63690      51
66001     119
68276      93
76001    5512
76111     254
76130      48
76147      89
76248      92
76364      81
76520     523
76563      10
76622      25
76892     222
Name: COLE_COD_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [98]:
data_2017 = data_2017.drop(c, axis=1)

In [99]:
c = 'COLE_MCPIO_UBICACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ALBANIA', 'BARRANQUILLA', 'BOGOTÁ D.C.', 'BUGA', 'CAJICA', 'CALI',
       'CANDELARIA', 'CARTAGENA', 'CARTAGO', 'CHIA', 'CIRCASIA', 'COTA',
       'EL CERRITO', 'ENVIGADO', 'FLORIDABLANCA', 'JAMUNDI', 'LA CALERA',
       'LA ESTRELLA', 'MAICAO', 'MANIZALES', 'MEDELLIN', 'MONTERIA', 'PALMIRA',
       'PASTO', 'PATIA(EL BORDO)', 'PEREIRA', 'POPAYAN', 'PRADERA',
       'PUERTO COLOMBIA', 'PUERTO TEJADA', 'RETIRO', 'ROLDANILLO', 'SABANETA',
       'SALENTO', 'SANTA MARTA', 'SOPO', 'TENJO', 'VALLEDUPAR', 'VILLAMARIA',
       'YUMBO'],
      dtype='object')
ALBANIA              24
BARRANQUILLA        307
BOGOTÁ D.C.        2527
BUGA                254
CAJICA              124
CALI               5512
CANDELARIA           48
CARTAGENA           128
CARTAGO              89
CHIA                328
CIRCASIA              3
COTA                136
EL CERRITO           92
ENVIGADO            199
FLORIDABLANCA        93
JAMUNDI              81
LA CALERA           119
LA ESTRELLA          69
MAICAO               25
MANIZALES           107
MEDELLIN            185
MONTERIA             25
PALMIRA             523
PASTO               285
PATIA(EL BORDO)      16
PEREIRA             119
POPAYAN             525
PRADERA              10
PUERTO COLOMBIA     383
PUERTO TEJADA        52
RETIRO               24
ROLDANILLO           25
SABANETA             34
SALENTO              51
SANTA MARTA          89
SOPO                 15
TENJO                17
VALLEDUPAR           48
VILLAMARIA           80
YUMBO               222
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [100]:
c = 'COLE_COD_DEPTO_UBICACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([5, 8, 11, 13, 17, 19, 20, 23, 25, 44, 47, 52, 63, 66, 68, 76], dtype='int64')
5      511
8      690
11    2527
13     128
17     187
19     593
20      48
23      25
25     739
44      49
47      89
52     285
63      54
66     119
68      93
76    6856
Name: COLE_COD_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [101]:
data_2017 = data_2017.drop(c, axis=1)

In [102]:
c = 'COLE_DEPTO_UBICACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ANTIOQUIA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'CALDAS', 'CAUCA',
       'CESAR', 'CORDOBA', 'CUNDINAMARCA', 'LA GUAJIRA', 'MAGDALENA', 'NARIÑO',
       'QUINDIO', 'RISARALDA', 'SANTANDER', 'VALLE'],
      dtype='object')
ANTIOQUIA        511
ATLANTICO        690
BOGOTA          2527
BOLIVAR          128
CALDAS           187
CAUCA            593
CESAR             48
CORDOBA           25
CUNDINAMARCA     739
LA GUAJIRA        49
MAGDALENA         89
NARIÑO           285
QUINDIO           54
RISARALDA        119
SANTANDER         93
VALLE           6856
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [103]:
c = 'ESTU_PRIVADO_LIBERTAD'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NO'], dtype='object')
NO    1
Name: ESTU_PRIVADO_LIBERTAD, dtype: int64
Elementos null/NaN 12992
__________________
Elementos diferentes de null/NaN: 1
__________________
(1,)
None

In [104]:
data_2017 = data_2017.drop(c, axis=1)

In [105]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([ 5001,  5615,  8001, 11001, 13001, 17001, 19001, 19532, 19698,
            20001, 23001, 25269, 25899, 44035, 44430, 47001, 52001, 52356,
            63001, 66001, 68001, 76001, 76111, 76147, 76520, 76622, 76834],
           dtype='int64')
5001      487
5615       25
8001      690
11001    3028
13001     128
17001     187
19001     526
19532      16
19698      54
20001      48
23001      25
25269      11
25899     227
44035      24
44430      25
47001      89
52001     285
52356       1
63001      54
66001     117
68001      93
76001    5891
76111     251
76147      91
76520     592
76622      25
76834       3
Name: ESTU_COD_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [106]:
data_2017 = data_2017.drop(c, axis=1)

In [107]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ALBANIA', 'ARMENIA', 'BARRANQUILLA', 'BOGOTÁ D.C.', 'BUCARAMANGA',
       'BUGA', 'CALI', 'CARTAGENA', 'CARTAGO', 'FACATATIVA', 'IPIALES',
       'MAICAO', 'MANIZALES', 'MEDELLIN', 'MONTERIA', 'PALMIRA', 'PASTO',
       'PATIA(EL BORDO)', 'PEREIRA', 'POPAYAN', 'RIONEGRO', 'ROLDANILLO',
       'SANTA MARTA', 'SANTANDER DE QUILICHAO', 'TULUA', 'VALLEDUPAR',
       'ZIPAQUIRA'],
      dtype='object')
ALBANIA                     24
ARMENIA                     54
BARRANQUILLA               690
BOGOTÁ D.C.               3028
BUCARAMANGA                 93
BUGA                       251
CALI                      5891
CARTAGENA                  128
CARTAGO                     91
FACATATIVA                  11
IPIALES                      1
MAICAO                      25
MANIZALES                  187
MEDELLIN                   487
MONTERIA                    25
PALMIRA                    592
PASTO                      285
PATIA(EL BORDO)             16
PEREIRA                    117
POPAYAN                    526
RIONEGRO                    25
ROLDANILLO                  25
SANTA MARTA                 89
SANTANDER DE QUILICHAO      54
TULUA                        3
VALLEDUPAR                  48
ZIPAQUIRA                  227
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [108]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['ANTIOQUIA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'CALDAS', 'CAUCA',
       'CESAR', 'CORDOBA', 'CUNDINAMARCA', 'LA GUAJIRA', 'MAGDALENA', 'NARIÑO',
       'QUINDIO', 'RISARALDA', 'SANTANDER', 'VALLE'],
      dtype='object')
ANTIOQUIA        512
ATLANTICO        690
BOGOTA          3028
BOLIVAR          128
CALDAS           187
CAUCA            596
CESAR             48
CORDOBA           25
CUNDINAMARCA     238
LA GUAJIRA        49
MAGDALENA         89
NARIÑO           286
QUINDIO           54
RISARALDA        117
SANTANDER         93
VALLE           6853
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [109]:
c = 'ESTU_COD_DEPTO_PRESENTACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([5, 8, 11, 13, 17, 19, 20, 23, 25, 44, 47, 52, 63, 66, 68, 76], dtype='int64')
5      512
8      690
11    3028
13     128
17     187
19     596
20      48
23      25
25     238
44      49
47      89
52     286
63      54
66     117
68      93
76    6853
Name: ESTU_COD_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [110]:
data_2017 = data_2017.drop(c, axis=1)

# TARGETS

In [111]:
c = 'PUNT_MATEMATICAS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([ 17,  19,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,
             32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,
             45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,
             58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
             71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
             84,  85,  86,  87,  88,  89,  90, 100],
           dtype='int64')
17       1
19       1
21       2
22       2
23       2
24       4
25       4
26       5
27      12
28       5
29      15
30      13
31      22
32      27
33      28
34      33
35      38
36      47
37      54
38      55
39      67
40      55
41      79
42     111
43     110
44     135
45     164
46     141
47     159
48     182
      ...
62     439
63     470
64     445
65     467
66     452
67     437
68     385
69     408
70     340
71     349
72     375
73     317
74     271
75     287
76     253
77     206
78     180
79     149
80     131
81     132
82     128
83     100
84      86
85      41
86      51
87      50
88      29
89      34
90       1
100     73
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [112]:
c = 'DESEMP_MATEMATICAS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([1, 2, 3, 4], dtype='int64')
1     214
2    1800
3    7736
4    3243
Name: DESEMP_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [113]:
c = 'PERCENTIL_MATEMATICAS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
1       18
2       23
3       24
4       26
5       28
6       31
7       25
8       35
9       30
10      29
11      44
12      33
13      48
14      38
15      34
16      40
17      49
18      63
19      56
20      52
21      66
22      68
23      67
24      82
25      83
26      76
27      61
28      85
29      77
30      80
      ...
71     183
72     192
73     189
74     181
75     187
76     183
77     191
78     188
79     193
80     192
81     194
82     197
83     189
84     194
85     191
86     194
87     195
88     199
89     194
90     194
91     198
92     199
93     199
94     199
95     198
96     200
97     198
98     201
99     203
100    199
Name: PERCENTIL_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [114]:
c = 'PUNT_INGLES'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([ 13,  14,  16,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
             28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
             41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
             54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
             67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
             80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
             93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
13       1
14       1
16       1
18       4
19       7
20       3
21       6
22       5
23      11
24       5
25      12
26      22
27      14
28      16
29      18
30      25
31      19
32      20
33      26
34      38
35      37
36      43
37      65
38      56
39      56
40      81
41      80
42      85
43      85
44     100
      ...
71     223
72     220
73     286
74     346
75     360
76     336
77     295
78     311
79     309
80     326
81     323
82     332
83     340
84     306
85     274
86     292
87     254
88     238
89     163
90     184
91     165
92     126
93     142
94      82
95      96
96      57
97      52
98      30
99      34
100    366
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [115]:
c = 'PERCENTIL_INGLES'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98, 100],
           dtype='int64')
1       14
2       15
3       17
4       34
5       20
6       29
7       27
8       23
9       22
10      30
11      29
12      36
13      34
14      40
15      50
16      34
17      37
18      49
19      40
20      49
21      63
22      58
23      52
24      63
25      64
26      75
27      69
28      81
29      82
30      68
      ...
70     181
71     183
72     183
73     187
74     189
75     186
76     194
77     190
78     194
79     188
80     195
81     193
82     194
83     196
84     196
85     194
86     191
87     192
88     196
89     196
90     202
91     198
92     197
93     193
94     199
95     193
96     195
97     197
98     196
100    399
Name: PERCENTIL_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [116]:
c = 'DESEMP_INGLES'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    1302
A1    1901
A2    2063
B+    4491
B1    3236
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [117]:
c = 'PUNT_C_NATURALES'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([ 23,  24,  25,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,
             37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,
             50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
             63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
             76,  77,  78,  79,  80,  81,  82,  83,  84,  85, 100],
           dtype='int64')
23       1
24       1
25       3
27       3
28       4
29       8
30       9
31      10
32      14
33      18
34      19
35      29
36      25
37      37
38      26
39      44
40      46
41      65
42      72
43      70
44     103
45     128
46     152
47     164
48     176
49     189
50     188
51     230
52     271
53     300
      ...
57     348
58     418
59     433
60     455
61     503
62     530
63     494
64     532
65     520
66     537
67     503
68     474
69     461
70     412
71     397
72     377
73     357
74     311
75     267
76     251
77     196
78     170
79     147
80     127
81      83
82      76
83      73
84      38
85       4
100    100
Name: PUNT_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [118]:
c = 'DESEMP_C_NATURALES'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([1, 2, 3, 4], dtype='int64')
1     297
2    2732
3    6990
4    2974
Name: DESEMP_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [119]:
c = 'PERCENTIL_C_NATURALES'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
1       25
2       23
3       26
4       24
5       33
6       23
7       28
8       30
9       34
10      26
11      34
12      45
13      43
14      44
15      44
16      43
17      44
18      60
19      59
20      62
21      61
22      61
23      71
24      59
25      78
26      72
27      75
28      80
29      85
30      79
      ...
71     184
72     188
73     190
74     193
75     188
76     193
77     188
78     192
79     189
80     186
81     188
82     190
83     197
84     189
85     196
86     193
87     195
88     199
89     188
90     189
91     196
92     197
93     199
94     201
95     195
96     201
97     198
98     197
99     202
100    200
Name: PERCENTIL_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [120]:
c = 'PUNT_LECTURA_CRITICA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([ 28,  29,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
             42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
             55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
             68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,
             81,  82,  83,  84,  85, 100],
           dtype='int64')
28       1
29       1
31       3
32       5
33      10
34      14
35      12
36      16
37      27
38      16
39      31
40      60
41      50
42      82
43      66
44      95
45      94
46     137
47     140
48     164
49     183
50     217
51     242
52     280
53     318
54     332
55     376
56     373
57     442
58     476
59     503
60     463
61     502
62     558
63     570
64     554
65     555
66     528
67     554
68     496
69     492
70     419
71     444
72     371
73     311
74     293
75     268
76     192
77     145
78     145
79     105
80      86
81      57
82      45
83      24
84      17
85      12
100     21
Name: PUNT_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [121]:
c = 'DESEMP_LECTURA_CRITICA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([1, 2, 3, 4], dtype='int64')
1      46
2    1378
3    6544
4    5025
Name: DESEMP_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [122]:
c = 'PERCENTIL_LECTURA_CRITICA'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
1       17
2       25
3       20
4       30
5       14
6       32
7       40
8       36
9       36
10      43
11      41
12      44
13      41
14      58
15      48
16      42
17      56
18      57
19      58
20      71
21      65
22      70
23      67
24      61
25      76
26      75
27      78
28      87
29      85
30      91
      ...
71     182
72     185
73     189
74     183
75     179
76     187
77     179
78     190
79     181
80     186
81     182
82     189
83     193
84     187
85     193
86     188
87     194
88     194
89     191
90     194
91     197
92     198
93     199
94     197
95     198
96     196
97     197
98     202
99     195
100    196
Name: PERCENTIL_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [123]:
c = 'DESEMP_SOCIALES_CIUDADANAS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([1, 2, 3, 4], dtype='int64')
1     449
2    3061
3    6562
4    2921
Name: DESEMP_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [124]:
c = 'PUNT_SOCIALES_CIUDADANAS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([ 19,  20,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,
             34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,
             47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,
             60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
             73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,
             86,  87,  88, 100],
           dtype='int64')
19       1
20       1
23       4
24       2
25       1
26       1
27      10
28       8
29       9
30      13
31      17
32      21
33      17
34      30
35      36
36      46
37      48
38      46
39      74
40      64
41      84
42      97
43     112
44     120
45     139
46     176
47     201
48     216
49     224
50     240
      ...
60     430
61     452
62     457
63     496
64     479
65     487
66     452
67     463
68     410
69     434
70     419
71     352
72     359
73     303
74     311
75     287
76     224
77     185
78     182
79     168
80     133
81     101
82      96
83      69
84      37
85      12
86      34
87       3
88       4
100     61
Name: PUNT_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [125]:
c = 'PERCENTIL_SOCIALES_CIUDADANAS'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
1       28
2       30
3       29
4       27
5       28
6       44
7       39
8       38
9       33
10      37
11      52
12      31
13      49
14      53
15      59
16      52
17      62
18      67
19      58
20      65
21      68
22      70
23      88
24      79
25      86
26      97
27      92
28      77
29      97
30     105
      ...
71     174
72     184
73     185
74     175
75     179
76     180
77     184
78     178
79     182
80     184
81     185
82     187
83     191
84     191
85     187
86     190
87     191
88     185
89     193
90     185
91     195
92     195
93     192
94     195
95     197
96     196
97     200
98     197
99     203
100    196
Name: PERCENTIL_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [126]:
c = 'PUNT_GLOBAL'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([145, 146, 148, 155, 156, 158, 159, 160, 161, 163,
            ...
            445, 447, 448, 449, 450, 452, 455, 456, 465, 476],
           dtype='int64', length=295)
145     1
146     1
148     1
155     1
156     1
158     1
159     1
160     1
161     2
163     3
164     1
167     5
168     4
170     4
171     1
172     2
173     4
174     3
175     4
176     1
177     1
178     3
179    10
180     4
181     3
182     5
183    11
184     2
185     5
186     8
       ..
422    11
423     5
424     3
425     6
426     4
427     4
428     7
429     1
430     6
431     4
432     5
433     6
434     2
435     3
436     1
437     2
438     1
440     1
441     1
443     4
445     2
447     4
448     1
449     3
450     2
452     2
455     2
456     1
465     1
476     1
Name: PUNT_GLOBAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [127]:
c = 'PERCENTIL_GLOBAL'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
1       10
2       17
3       14
4       19
5       22
6       23
7       21
8       33
9       27
10      19
11      25
12      43
13      42
14      32
15      30
16      41
17      41
18      49
19      50
20      77
21      42
22      60
23      59
24      76
25      69
26      84
27      72
28      75
29      82
30      70
      ...
71     178
72     203
73     166
74     218
75     158
76     188
77     203
78     219
79     152
80     195
81     225
82     168
83     211
84     181
85     184
86     213
87     179
88     200
89     199
90     186
91     202
92     210
93     178
94     197
95     207
96     203
97     194
98     202
99     195
100    200
Name: PERCENTIL_GLOBAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12993
__________________
(12993,)
None

In [128]:
c = 'ESTU_INSE_INDIVIDUAL'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Float64Index([27.89428373, 35.49944271, 35.82843731, 36.09360751, 36.55567971,
              36.74414314, 36.86705953, 36.94290831, 36.96442333,  36.9885562,
              ...
              81.04281273, 81.05295854, 81.56850411, 82.38718272, 82.67157446,
              83.27184852,  83.3471976, 83.35385884, 83.36137039, 83.36152314],
             dtype='float64', length=9681)
27.894284      1
35.499443      1
35.828437      1
36.093608      1
36.555680      1
36.744143      1
36.867060      1
36.942908      1
36.964423      1
36.988556      1
37.018761      1
37.129681      1
37.578858      1
38.461286      1
38.490871      1
38.679381      1
39.381749      1
39.681524      1
39.763029      1
39.942896      1
39.948593      1
39.999571      1
40.073659      1
40.119984      1
40.229543      1
40.240233      1
40.602855      1
40.926172      1
40.929184      1
41.058568      1
            ...
79.781771      4
79.795546      1
79.795937     70
79.814600     10
79.815825      2
79.971065      1
79.979575      7
80.000295      2
80.044318      2
80.154692      1
80.221348      6
80.278639     18
80.348855      7
80.383404      1
80.432146      1
80.465358      2
80.623374      4
80.649206      2
80.950393      1
80.955784     12
81.042813      2
81.052959     86
81.568504      2
82.387183      1
82.671574      9
83.271849      1
83.347198      1
83.353859      1
83.361370      2
83.361523    192
Name: ESTU_INSE_INDIVIDUAL, dtype: int64
Elementos null/NaN 309
__________________
Elementos diferentes de null/NaN: 12684
__________________
(12684,)
None

In [129]:
idx = data_2017[data_2017[c].isnull()].index
data_2017 = data_2017.drop(idx)

In [130]:
c = 'ESTU_NSE_INDIVIDUAL'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['NSE1', 'NSE2', 'NSE3', 'NSE4'], dtype='object')
NSE1      30
NSE2     583
NSE3    4531
NSE4    7540
Name: ESTU_NSE_INDIVIDUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12684
__________________
(12684,)
None

In [131]:
c = 'ESTU_NSE_ESTABLECIMIENTO'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Float64Index([2.0, 3.0, 4.0], dtype='float64')
2      66
3    4119
4    8467
Name: ESTU_NSE_ESTABLECIMIENTO, dtype: int64
Elementos null/NaN 32
__________________
Elementos diferentes de null/NaN: 12652
__________________
(12652,)
None

In [132]:
idx = data_2017[data_2017[c].isnull()].index
data_2017 = data_2017.drop(idx)

In [133]:
c = 'ESTU_ESTADOINVESTIGACION'
print(data_2017[c].value_counts().sort_index().index)
print(data_2017[c].value_counts().sort_index())
print(missing_data(data_2017[c]))

Index(['Publicar', 'Validez por oficina jurídica'], dtype='object')
Publicar                        12588
Validez por oficina jurídica       64
Name: ESTU_ESTADOINVESTIGACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 12652
__________________
(12652,)
None

In [134]:
dr = ['ESTU_TIPODOCUMENTO', 'COLE_NOMBRE_SEDE']
data_2017 = data_2017.drop(dr, axis=1)

Here i encode the DataFrame and transform it into .csv files

In [140]:
data_2017 = label_encoder(data_2017)

In [142]:
data_2017.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2017_1.csv', index = False, sep=';')