In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2010 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20101-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

In [3]:
data_2010.shape

(30321, 79)

In [4]:
data_2010.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11201010000001,SB11201010000002,SB11201010000003
PERIODO,20101,20101,20101
ESTU_TIPO_DOCUMENTO,C,C,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,M
ESTU_NACIMIENTO_DIA,24,5,3
ESTU_NACIMIENTO_MES,11,3,7
ESTU_NACIMIENTO_ANNO,1983,1988,1987
ESTU_EDAD,26,22,22
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,11001,95001,11001
ESTU_RESIDE_MCPIO,BOGOTÁ D.C.,SAN JOSE DEL GUAVIARE,BOGOTÁ D.C.
ESTU_RESIDE_DEPTO,BOGOTÁ,GUAVIARE,BOGOTÁ
ESTU_ZONA_RESIDE,8,10,10
ESTU_AREA_RESIDE,1,1,1
FAMI_EDUCA_PADRE,16,99,13
FAMI_EDUCA_MADRE,15,99,13
FAMI_OCUPA_PADRE,17,21,13
FAMI_OCUPA_MADRE,22,22,20
FAMI_ESTRATO_VIVIENDA,3,1,NaN
FAMI_NIVEL_SISBEN,5,1,3
FAMI_PERSONAS_HOGAR,3,3,4
FAMI_CUARTOS_HOGAR,3,1,2
...,...,...,...
IND_COD_ICFES_TERMINO,20974,146415,9110
COLE_COD_ICFES,20974,146415,85340
COLE_COD_DANE_INSTITUCION,111001009971,341078000785,
COLE_NOMBRE_SEDE,COL DIST REP DE COLOMBIA,INSTITUTO DE EXCELENCIA HUMANA Y ACADÉMICA ID...,COLEGIO INSCAP
COLE_CALENDARIO,F,F,F
COLE_GENERO,X,X,X
COLE_NATURALEZA,O,N,N
COLE_BILINGUE,0,NaN,0
COLE_JORNADA,NOCHE,SABATINA - DOMINICAL,NOCHE
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO Y TECNICO
ESTU_VECES_ESTADO,0,0,0
ESTU_COD_MCPIO_PRESENTACION,11001,95001,11001
ESTU_MCPIO_PRESENTACION,BOGOTÁ D.C.,SAN JOSE DEL GUAVIARE,BOGOTÁ D.C.
ESTU_DEPTO_PRESENTACION,BOGOTÁ,GUAVIARE,BOGOTÁ
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES)
PUNT_LENGUAJE,"48,81","56,74","46,68"
PUNT_MATEMATICAS,"43,99","46,77","40,78"
PUNT_C_SOCIALES,"41,9","46,27","41,9"
PUNT_FILOSOFIA,"29,03","45,93","45,93"
PUNT_BIOLOGIA,"34,33","55,46","43,61"
PUNT_QUIMICA,"37,51","41,72","45,33"
PUNT_FISICA,"32,27","36,7","40,06"
PUNT_INGLES,"28,64","47,79","35,25"
DESEMP_INGLES,A-,A1,A-
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN CIENCIAS SOCIALES
PUNT_PROFUNDIZACION,"3,2","4,2","5,4"
DESEMP_PROFUNDIZACION,GB,GB,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"50,78","47,71","35,93"
ESTU_PUESTO,872,413,666

In [5]:
data_2010 = data_2010.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                           'COLE_NOMBRE_SEDE', 'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_EXAM_NOMBREEXAMEN'],axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['AT', 'BR', 'CH', 'CL', 'CO', 'CR', 'CU', 'CZ', 'DE', 'EC', 'ES', 'GT',
       'IT', 'LB', 'MX', 'PE', 'RO', 'RU', 'US', 'VE'],
      dtype='object')
AT        2
BR        2
CH        1
CL        1
CO    30220
CR        1
CU        1
CZ        1
DE        2
EC        4
ES        7
GT        2
IT        1
LB        1
MX        2
PE        1
RO        1
RU        1
US        4
VE        6
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 60
__________________
Elementos diferentes de null/NaN: 30261
__________________
(30261,)
None

In [7]:
data_2010['ESTU_PAIS_RESIDE'].fillna('CO', inplace=True)

In [8]:
c = 'ESTU_GENERO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['F', 'M'], dtype='object')
F    15885
M    14419
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 30304
__________________
(30304,)
None

In [9]:
Do_resamples(data_2010, 'ESTU_GENERO', str)

cant null antes: 17
cant null despues: 0

In [12]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     1041
2      943
3      960
4     1024
5     1009
6      991
7     1006
8      996
9     1003
10    1055
11     948
12    1060
13    1009
14     971
15    1068
16     975
17     950
18    1035
19     959
20    1076
21     991
22    1020
23     986
24     975
25    1050
26    1001
27     984
28    1021
29     824
30     831
31     518
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 41
__________________
Elementos diferentes de null/NaN: 30280
__________________
(30280,)
None

In [13]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     2390
2     2237
3     2562
4     2399
5     2508
6     2475
7     2577
8     2608
9     2654
10    2657
11    2454
12    2759
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 41
__________________
Elementos diferentes de null/NaN: 30280
__________________
(30280,)
None

In [14]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1938.0, 1939.0, 1940.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0,
              1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0,
              1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0,
              1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0,
              1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0,
              1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0,
              1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0,
              1995.0, 1996.0, 1997.0, 2000.0, 2001.0, 2002.0, 2013.0],
             dtype='float64')
1938       1
1939       1
1940       2
1942       2
1943       1
1944       3
1945       1
1946       4
1947       5
1948       4
1949       4
1950       7
1951       5
1952      17
1953      16
1954      10
1955      11
1956      23
1957      24
1958      35
1959      33
1960      36
1961      34
1962      56
1963      57
1964      71
1965      68
1966      76
1967      82
1968     105
        ...
1972     117
1973     137
1974     144
1975     127
1976     145
1977     158
1978     197
1979     201
1980     240
1981     228
1982     256
1983     273
1984     310
1985     343
1986     381
1987     462
1988     598
1989     960
1990    1697
1991    4120
1992    7743
1993    8053
1994    2058
1995     153
1996      21
1997       6
2000      22
2001      21
2002       2
2013       1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 41
__________________
Elementos diferentes de null/NaN: 30280
__________________
(30280,)
None

In [15]:
data_2010['ESTU_NACIMIENTO_ANNO'] = data_2010['ESTU_NACIMIENTO_ANNO'].replace(2013, 2002)

In [16]:
anno = data_2010[data_2010[c].isnull()].index
data_2010 = data_2010.drop(anno)

In [19]:
c = 'ESTU_EDAD'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              67.0, 69.0, 70.0, 71.0],
             dtype='float64')
12       4
13      16
14      97
15    1300
16    7383
17    7931
18    4972
19    1931
20    1041
21     672
22     464
23     410
24     347
25     311
26     287
27     252
28     230
29     233
30     210
31     196
32     170
33     143
34     133
35     146
36     134
37     123
38     114
39     100
40     103
41     101
42      91
43      75
44      68
45      66
46      64
47      58
48      34
49      40
50      33
51      34
52      28
53      23
54      12
55      12
56      13
57      16
58       8
59       6
60       6
61       4
62       4
63       4
64       2
65       3
66       1
67       2
69       2
70       1
71       1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 30265
__________________
(30265,)
None

In [20]:
data_2010[c].fillna(int(np.mean(data_2010[c])), inplace=True)

In [21]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 30280
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [22]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 30280
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [23]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 30280
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [24]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 30280
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [25]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 30280
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [26]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 30280
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [27]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 30280
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [28]:
data_2010 = data_2010.drop(['ESTU_LIMITA_BAJAVISION', 'ESTU_LIMITA_SORDOCEGUERA', 'ESTU_LIMITA_COGNITIVA',
                           'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_MOTRIZ', 'ESTU_LIMITA_SORDOINTERPRETE', 
                           'ESTU_LIMITA_SORDONOINTERPRETE'], axis=1)

In [29]:
c = 'ESTU_ETNIA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     280
2       3
3      16
4       1
5       2
6       2
7       6
8       4
9      13
11     32
12      4
13      1
14      2
15      2
16      4
17     11
99    212
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 29685
__________________
Elementos diferentes de null/NaN: 595
__________________
(595,)
None

In [30]:
data_2010[c].fillna(99, inplace=True)

In [31]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['ABEJORRAL', 'ACACIAS', 'AGUA DE DIOS', 'AGUACHICA', 'AGUADA',
       'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE', 'ALBAN (SAN JOSE)', 'ALBANIA',
       ...
       'VISTA HERMOSA', 'YAGUARA', 'YALI', 'YARUMAL', 'YONDO (CASABE)',
       'YOPAL', 'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=357)
ABEJORRAL                     17
ACACIAS                       10
AGUA DE DIOS                   2
AGUACHICA                     38
AGUADA                         9
AGUAZUL                       10
AGUSTIN CODAZZI               15
AIPE                           1
ALBAN (SAN JOSE)               1
ALBANIA                       76
ALCALA                         1
ALEJANDRIA                    29
ANDALUCIA                      6
ANGELOPOLIS                    1
ANORI                          1
ANSERMANUEVO                  14
APARTADO                      65
ARAUCA                        25
ARCABUCO                      38
ARGELIA                        7
ARMENIA                       99
ARMERO (GUAYABAL)              2
ATACO                         14
BARBACOAS                      1
BARBOSA                       52
BARICHARA                      1
BARRANCA DE UPIA               1
BARRANCABERMEJA                8
BARRANCAS                      2
BARRANQUILLA                 665
                            ...
TRUJILLO                       1
TULUA                         52
TUMACO                        10
TUNJA                         92
TURBACO                       24
UBATE                         20
UNE                            2
VALDIVIA                       8
VALLEDUPAR                   123
VEGACHI                        1
VELEZ                         35
VIANI                          2
VILLA DE LEYVA                44
VILLA DEL ROSARIO              4
VILLA GUAMEZ (LA HORMIGA)     24
VILLA RICA                     4
VILLAMARIA                     5
VILLANUEVA                    11
VILLAVICENCIO                234
VILLETA                       16
VISTA HERMOSA                  6
YAGUARA                        1
YALI                          26
YARUMAL                        2
YONDO (CASABE)                 4
YOPAL                        192
YOTOCO                         6
YUMBO                        125
ZARZAL                        48
ZIPAQUIRA                     74
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30280
__________________
(30280,)
None

In [32]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SANTANDER', 'TOLIMA', 'VALLE', 'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              1
ANTIOQUIA          5109
ARAUCA               41
ATLÁNTICO           696
BOGOTÁ             6458
BOLÍVAR             314
BOYACÁ              438
CALDAS              447
CAQUETÁ             100
CASANARE            278
CAUCA              1119
CESAR               178
CHOCÓ                10
CUNDINAMARCA       1045
CÓRDOBA              40
GUAINÍA              36
GUAVIARE             28
HUILA               367
LA GUAJIRA          113
MAGDALENA            96
META                280
NARIÑO             1281
NORTE SANTANDER     160
PUTUMAYO            108
QUINDÍO             139
RISARALDA           270
SANTANDER           865
TOLIMA              500
VALLE              9755
VAUPÉS                7
VICHADA               1
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30280
__________________
(30280,)
None

In [33]:
c = 'ESTU_ZONA_RESIDE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      4721
2      1019
3       849
4      4334
5      1436
6      1824
7      1084
8      1458
9      1105
10    12442
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 8
__________________
Elementos diferentes de null/NaN: 30272
__________________
(30272,)
None

In [34]:
data_2010['ESTU_ZONA_RESIDE'].fillna(method='bfill', inplace=True)

In [35]:
c = 'ESTU_AREA_RESIDE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    26061
2     4215
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 4
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [36]:
Do_resamples(data_2010, 'ESTU_AREA_RESIDE', int)

cant null antes: 4
cant null despues: 0

In [37]:
c = 'FAMI_EDUCA_PADRE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0     1097
1        2
2        5
3        5
4        2
5        5
7        4
8        2
9     3441
10    4220
11    2677
12    5758
13     472
14    1368
15     666
16    6048
17    2695
99    1811
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 30278
__________________
(30278,)
None

In [38]:
Do_resamples(data_2010, 'FAMI_EDUCA_PADRE', float)

cant null antes: 2
cant null despues: 0

In [39]:
c = 'FAMI_EDUCA_MADRE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      732
1        2
2        5
3        4
4        5
5        8
7        4
9     3202
10    4354
11    3132
12    6335
13     569
14    1846
15     786
16    6193
17    2132
99     969
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 30278
__________________
(30278,)
None

In [40]:
Do_resamples(data_2010, 'FAMI_EDUCA_MADRE', int)

cant null antes: 2
cant null despues: 0

In [41]:
c = 'FAMI_OCUPA_PADRE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 1.0,  2.0,  3.0,  5.0,  7.0,  8.0,  9.0, 12.0, 13.0, 14.0, 15.0,
              16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
1        2
2        2
3        3
5        4
7        5
8        1
9       15
12       2
13    1882
14    2574
15    1558
16    1592
17    1959
18     863
19    4492
20    2515
21    6209
22     486
23    1254
26    4860
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 30278
__________________
(30278,)
None

In [42]:
Do_resamples(data_2010, 'FAMI_OCUPA_PADRE', int)

cant null antes: 2
cant null despues: 0

In [43]:
c = 'FAMI_OCUPA_MADRE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 1.0,  2.0,  3.0,  5.0,  6.0,  7.0,  9.0, 10.0, 12.0, 13.0, 14.0,
              15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
1         1
2         1
3         1
5         1
6         1
7         1
9         7
10       18
12        3
13      809
14     1290
15      957
16     1408
17     1807
18     1019
19     2721
20     1914
21     3040
22    11940
23      527
26     2812
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 30278
__________________
(30278,)
None

In [44]:
educa_P = data_2010[data_2010['FAMI_EDUCA_PADRE'].isnull()].index
educa_M = data_2010[data_2010['FAMI_EDUCA_MADRE'].isnull()].index
ocupa_P = data_2010[data_2010['FAMI_OCUPA_PADRE'].isnull()].index
ocupa_M = data_2010[data_2010['FAMI_OCUPA_MADRE'].isnull()].index
#Son los mismos 33 index... se eliminaran
data_2010 = data_2010.drop(ocupa_M)

In [45]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    4557
2    9222
3    7684
4    3482
5    2721
6    2513
8       1
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 98
__________________
Elementos diferentes de null/NaN: 30180
__________________
(30180,)
None

In [46]:
data_2010['FAMI_ESTRATO_VIVIENDA'] = data_2010['FAMI_ESTRATO_VIVIENDA'].replace(8, 6)
Do_resamples(data_2010, 'FAMI_ESTRATO_VIVIENDA', float)

cant null antes: 98
cant null despues: 0

In [47]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     5149
2     5758
3     1277
4      329
5    17765
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30278
__________________
(30278,)
None

In [48]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       306
2      2087
3      6264
4     10168
5      6378
6      2724
7      1114
8       575
9       290
10      167
11       78
12      127
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30278
__________________
(30278,)
None

In [49]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      1084
2      8023
3     13035
4      5530
5      1676
6       556
7       172
8       113
9        36
10       53
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30278
__________________
(30278,)
None

In [50]:
c = 'FAMI_PISOSHOGAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1      442
2     8888
3     1193
4    19673
5       82
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30278
__________________
(30278,)
None

In [51]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7387
1    22890
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 30277
__________________
(30277,)
None

In [52]:
data_2010 = data_2010.drop(data_2010[data_2010['FAMI_TELEFONO_FIJO'].isnull()].index)

In [53]:
c = 'FAMI_CELULAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     2935
1    27340
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [54]:
data_2010 = data_2010.drop(data_2010[data_2010['FAMI_CELULAR'].isnull()].index)

In [55]:
c = 'FAMI_INTERNET'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    13864
1    16411
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [56]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7914
1    22361
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [57]:
c = 'FAMI_COMPUTADOR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    10327
1       25
3    19923
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [58]:
c = 'FAMI_LAVADORA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     8629
1    21646
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [59]:
c = 'FAMI_NEVERA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     1949
1    28326
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [60]:
c = 'FAMI_HORNO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    11683
1    18592
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [61]:
c = 'FAMI_DVD'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7458
1    22817
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [62]:
c = 'FAMI_MICROONDAS'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    15924
1    14351
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [63]:
c = 'FAMI_AUTOMOVIL'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    18294
1    11981
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [64]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1     4231
2    11197
3     5094
4     3340
5     1783
6     1488
7     3142
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30275
__________________
(30275,)
None

In [65]:
c = 'ESTU_TRABAJA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    24344
1        2
2        1
3       63
4       33
5       56
6     1860
7     3870
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 46
__________________
Elementos diferentes de null/NaN: 30229
__________________
(30229,)
None

In [66]:
Do_resamples(data_2010, 'ESTU_TRABAJA', float)

cant null antes: 46
cant null despues: 0

In [67]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0, 11.0, 12.0, 15.0, 16.0, 18.0,
              20.0],
             dtype='float64')
3      1
4      3
5      2
6      2
7      1
8     10
10    10
11     1
12     3
15     2
16     3
18     3
20    80
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 30154
__________________
Elementos diferentes de null/NaN: 121
__________________
(121,)
None

In [68]:
Do_resamples(data_2010, 'ESTU_HORAS_TRABAJA', float)

cant null antes: 30154
cant null despues: 0

In [69]:
c = 'COLE_VALOR_PENSION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0, 5.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
0     7322
1        3
5        1
8     9868
9     2083
10    1440
11    2759
12    6782
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 30258
__________________
(30258,)
None

In [70]:
Do_resamples(data_2010, 'COLE_VALOR_PENSION', float)

cant null antes: 17
cant null despues: 0

In [71]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1993.0, 2006.0, 2009.0, 2010.0, 2011.0, 2012.0], dtype='float64')
1993        1
2006        1
2009       28
2010    30204
2011       29
2012        3
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 9
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [72]:
idx = data_2010[data_2010['IND_ANNO_TERMINO_BACHILLERATO'].isnull()].index
data_2010 = data_2010.drop(idx)

In [73]:
c = 'IND_MES_TERMINO_BACHILLERATO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       279
2       382
3      1232
4      1995
5      1357
6     15459
7      6404
8      1427
9       261
10      290
11      197
12      526
Name: IND_MES_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 457
__________________
Elementos diferentes de null/NaN: 29809
__________________
(29809,)
None

In [74]:
Do_resamples(data_2010, 'IND_MES_TERMINO_BACHILLERATO', float)

cant null antes: 457
cant null despues: 0

In [75]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0], dtype='float64')
1    1942
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 28324
__________________
Elementos diferentes de null/NaN: 1942
__________________
(1942,)
None

In [76]:
data_2010 = data_2010.drop(['IND_TERMINO_BACHILLERATO'], axis=1)

In [77]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([     2.0,      3.0,    182.0,    638.0,   3046.0,   3327.0,
                3418.0,   3459.0,   3525.0,   4234.0,
              ...
              167205.0, 168161.0, 168500.0, 169664.0, 170381.0, 170449.0,
              172098.0, 172734.0, 174003.0, 999999.0],
             dtype='float64', length=1154)
2           1
3          58
182       113
638       186
3046       57
3327        7
3418       38
3459       82
3525       74
4234       45
6023      110
6775       12
7013       53
7054        6
7070       73
7088       48
7682        1
8581       10
9110       96
9910        2
9985        9
9993       48
10009       1
10017       2
10041       1
11239      82
11254      32
11262      76
11270      82
11288     103
         ...
150128      8
150136     29
150185      1
150235      1
150243     19
150359      6
150391     22
150409     21
150458     36
150474      1
150482      3
150516     38
150581     18
151373      1
152660      1
156455      1
156554      1
159533      1
163022      1
164129      1
167205      1
168161      2
168500      1
169664      1
170381      1
170449      1
172098      1
172734      1
174003      1
999999     30
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 142
__________________
Elementos diferentes de null/NaN: 30124
__________________
(30124,)
None

In [78]:
Do_resamples(data_2010, 'IND_COD_ICFES_TERMINO', float)

cant null antes: 142
cant null despues: 0

In [79]:
c = 'COLE_COD_ICFES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Int64Index([   182,    638,   3046,   3327,   3418,   3459,   3525,   4234,
              6023,   6775,
            ...
            150128, 150136, 150243, 150359, 150391, 150409, 150458, 150482,
            150516, 150581],
           dtype='int64', length=1011)
182       113
638       189
3046       57
3327        7
3418       38
3459       82
3525       74
4234       45
6023      115
6775       12
7013       53
7054        6
7070       73
7088       49
8581       10
9985        9
11239      82
11254      33
11262      77
11270      83
11288     103
11312     162
11452      64
11460      39
11478      24
11627      44
11635      38
11684      23
11692      34
11700      26
         ...
148288      6
148833      6
149328     49
149476      8
149492      3
149559     10
149625      8
149682     25
149690     14
149781      6
149799      8
149849      6
149856      2
149864     13
149872      1
149898      8
149948      3
149997      6
150029     94
150037     44
150128     10
150136     35
150243     20
150359      7
150391     22
150409     21
150458     36
150482      3
150516     38
150581     18
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [80]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['            ', '010500103391', '034100105808', '051100116867',
       '105001000566', '105001002071', '105001003387', '105001003395',
       '105001003425', '105001024571',
       ...
       '576001091472', '576622134546', '625214000001', '625269000075',
       '625269000082', '625269000084', '625286000041', '625899000007',
       '625899000017', '818001100015'],
      dtype='object', length=936)
                550
010500103391     38
034100105808     14
051100116867      3
105001000566     18
105001002071      8
105001003387     19
105001003395     55
105001003425     17
105001024571    289
105088001512     50
105088002993     10
105088003175     23
105628000227      8
105667000013     18
105893001685      4
108001003289      8
111001009971     21
111001010031     27
111001010839     28
111001011029      8
111001012360     23
111001013129     32
111001034134     26
111001036781     27
111001092410     68
111001098876     20
111001098884     46
111001098965     17
111001102148     18
               ...
476130000961      9
476130001186     11
476130001208     25
476233002003     13
476248000478     82
476248000648      7
476248032012     33
476520003791     12
476520005646      4
476520006324     10
476520007207     95
476892001183     13
476892099710     11
476892099728     12
476895000382     35
519001000002     25
525899000016     39
550711000002      6
568001009690      6
568432001200     25
576001091472     21
576622134546     31
625214000001     28
625269000075     27
625269000082     24
625269000084      4
625286000041     51
625899000007      3
625899000017     26
818001100015      1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 79
__________________
Elementos diferentes de null/NaN: 30187
__________________
(30187,)
None

In [81]:
data_2010['COLE_COD_DANE_INSTITUCION'] = data_2010['COLE_COD_DANE_INSTITUCION'].replace('            ', np.nan)
Do_resamples(data_2010, 'COLE_COD_DANE_INSTITUCION', str)

cant null antes: 629
cant null despues: 0

In [82]:
c = 'COLE_CALENDARIO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['A', 'B', 'F'], dtype='object')
A     3177
B    11635
F    15454
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [83]:
c = 'COLE_GENERO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['F', 'M', 'X'], dtype='object')
F     1901
M      894
X    27471
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [84]:
c = 'COLE_NATURALEZA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['N', 'O'], dtype='object')
N    28599
O     1667
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [85]:
c = 'COLE_BILINGUE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    23057
1     3614
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 3595
__________________
Elementos diferentes de null/NaN: 26671
__________________
(26671,)
None

In [86]:
Do_resamples(data_2010, 'COLE_BILINGUE', float)

cant null antes: 3595
cant null despues: 0

In [87]:
c = 'COLE_JORNADA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    9555
MAÑANA                  9528
NOCHE                   4761
SABATINA - DOMINICAL    5432
TARDE                    990
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [88]:
c = 'COLE_CARACTER'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              24916
ACADEMICO Y TECNICO     2433
NORMALISTA                 4
TECNICO                 2913
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [89]:
c = 'ESTU_VECES_ESTADO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    23701
1     5355
2      972
3      236
4        2
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [90]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['AGUACHICA', 'ALBANIA', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALI', 'CARTAGENA', 'CARTAGO',
       'CAUCASIA', 'CHAPARRAL', 'CHIA', 'CUCUTA', 'EL TAMBO', 'ESPINAL',
       'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA', 'GARZON', 'GIRARDOT',
       'GRANADA', 'GUAMO', 'IBAGUE', 'INIRIDA', 'IPIALES', 'LA DORADA',
       'MAGANGUE', 'MAICAO', 'MALAGA', 'MANIZALES', 'MEDELLIN', 'MITU',
       'MOCOA', 'MONIQUIRA', 'MONTELIBANO', 'MONTERIA', 'NEIVA', 'OCAÑA',
       'PALMIRA', 'PAMPLONA', 'PASTO', 'PATIA(EL BORDO)', 'PAZ DE ARIPORO',
       'PEREIRA', 'PITALITO', 'POPAYAN', 'PUERTO ASIS', 'PUERTO CARREÑO',
       'PUERTO TEJADA', 'QUIBDO', 'RIOHACHA', 'RIONEGRO', 'ROLDANILLO',
       'SAN GIL', 'SAN JOSE DEL GUAVIARE', 'SANTA MARTA', 'SANTA ROSA DE OSOS',
       'SANTANDER DE QUILICHAO', 'SEVILLA', 'SIBUNDOY', 'SILVIA', 'SOACHA',
       'SOCORRO', 'SOGAMOSO', 'TAME', 'TULUA', 'TUMACO', 'TUNJA', 'VALLEDUPAR',
       'VELEZ', 'VILLA DE LEYVA', 'VILLAVICENCIO', 'YOPAL', 'YUMBO', 'ZARZAL',
       'ZIPAQUIRA'],
      dtype='object')
AGUACHICA                   41
ALBANIA                     61
APARTADO                   225
ARAUCA                      25
ARMENIA                    156
BARRANCABERMEJA             73
BARRANQUILLA               702
BELLO                      433
BOGOTÁ D.C.               6489
BUCARAMANGA                674
BUENAVENTURA               143
BUGA                       380
CALI                      7641
CARTAGENA                  303
CARTAGO                    342
CAUCASIA                    17
CHAPARRAL                  103
CHIA                       343
CUCUTA                     136
EL TAMBO                    18
ESPINAL                     18
FACATATIVA                 180
FLORENCIA                  100
FUSAGASUGA                  69
GARZON                     147
GIRARDOT                    41
GRANADA                     32
GUAMO                       52
IBAGUE                     292
INIRIDA                     36
                          ...
PUERTO ASIS                 72
PUERTO CARREÑO               1
PUERTO TEJADA               59
QUIBDO                       7
RIOHACHA                    25
RIONEGRO                   787
ROLDANILLO                  47
SAN GIL                     15
SAN JOSE DEL GUAVIARE       27
SANTA MARTA                 92
SANTA ROSA DE OSOS          58
SANTANDER DE QUILICHAO     172
SEVILLA                      7
SIBUNDOY                     1
SILVIA                       1
SOACHA                     204
SOCORRO                     13
SOGAMOSO                   154
TAME                        16
TULUA                       58
TUMACO                       2
TUNJA                      198
VALLEDUPAR                 143
VELEZ                       57
VILLA DE LEYVA               3
VILLAVICENCIO              273
YOPAL                      257
YUMBO                       85
ZARZAL                      44
ZIPAQUIRA                  125
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [91]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SANTANDER', 'TOLIMA', 'VALLE', 'VAUPÉS', 'VICHADA'],
      dtype='object')
ANTIOQUIA          5103
ARAUCA               41
ATLÁNTICO           702
BOGOTÁ             6489
BOLÍVAR             313
BOYACÁ              449
CALDAS              476
CAQUETÁ             100
CASANARE            268
CAUCA              1114
CESAR               184
CHOCÓ                 7
CUNDINAMARCA        962
CÓRDOBA              41
GUAINÍA              36
GUAVIARE             27
HUILA               370
LA GUAJIRA          114
MAGDALENA            92
META                305
NARIÑO             1290
NORTE SANTANDER     157
PUTUMAYO            106
QUINDÍO             156
RISARALDA           271
SANTANDER           858
TOLIMA              465
VALLE              9762
VAUPÉS                7
VICHADA               1
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

## TARGETS

In [92]:
c = 'PUNT_LENGUAJE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '19,25', '19,55', '27,17', '27,46', '32,13', '32,41', '35,89',
       '36,17', '39,01', '39,27', '41,72', '41,98', '44,17', '44,42', '46,44',
       '46,68', '48,57', '48,81', '50,62', '50,85', '52,61', '52,83', '54,57',
       '54,79', '56,52', '56,74', '58,49', '58,71', '60,51', '60,74', '62,61',
       '62,84', '64,83', '65,07', '67,22', '67,47', '69,87', '70,13', '72,91',
       '73,19', '76,6', '76,89', '81,48', '81,79'],
      dtype='object')
0          11
19,25      20
19,55      21
27,17      84
27,46      91
32,13     223
32,41     292
35,89     426
36,17     610
39,01     769
39,27    1015
41,72    1110
41,98    1410
44,17    1326
44,42    1595
46,44    1474
46,68    1712
48,57    1468
48,81    1714
50,62    1264
50,85    1477
52,61    1228
52,83    1244
54,57    1081
54,79    1100
56,52     875
56,74     994
58,49     785
58,71     854
60,51     662
60,74     712
62,61     499
62,84     607
64,83     359
65,07     405
67,22     229
67,47     216
69,87     100
70,13     108
72,91      35
73,19      33
76,6        9
76,89      13
81,48       2
81,79       4
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [93]:
clean_target(data_2010, 'PUNT_LENGUAJE')

In [94]:
c = 'PUNT_MATEMATICAS'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '103,94', '104,09', '12,92', '120,23', '120,39', '13,38', '22,65',
       '23,04', '28,78', '29,11', '33,46', '33,72', '37,36', '37,56', '40,78',
       '40,93', '43,88', '43,99', '46,77', '46,84', '49,52', '49,55', '52,17',
       '54,74', '54,77', '57,29', '57,34', '59,86', '59,93', '62,48', '62,56',
       '65,19', '65,27', '68,03', '68,11', '71,05', '71,12', '74,33', '74,38',
       '77,98', '78', '82,15', '82,16', '87,15', '87,21', '93,69', '93,8'],
      dtype='object')
0           22
103,94       9
104,09      12
12,92       33
120,23       2
120,39       2
13,38       29
22,65      121
23,04      154
28,78      363
29,11      410
33,46      802
33,72      902
37,36     1391
37,56     1364
40,78     1852
40,93     1792
43,88     1972
43,99     1944
46,77     1784
46,84     1882
49,52     1617
49,55     1495
52,17     2357
54,74      897
54,77      959
57,29      761
57,34      720
59,86      615
59,93      628
62,48      477
62,56      469
65,19      358
65,27      387
68,03      263
68,11      288
71,05      201
71,12      222
74,33      136
74,38      152
77,98       97
78         105
82,15       61
82,16       59
87,15       38
87,21       30
93,69       11
93,8        21
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [95]:
clean_target(data_2010, c)

In [96]:
c = 'PUNT_C_SOCIALES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '14,4', '14,65', '20,21', '20,49', '24,58', '24,9', '28,18',
       '28,54', '31,29', '31,7', '34,08', '34,54', '36,63', '37,14', '39,02',
       '39,58', '41,27', '41,9', '43,43', '44,12', '45,51', '46,27', '47,54',
       '48,37', '49,54', '5,09', '5,3', '50,44', '51,52', '52,49', '53,5',
       '54,54', '55,49', '56,6', '57,51', '58,7', '59,58', '60,83', '61,71',
       '63,04', '63,94', '65,33', '66,29', '67,76', '68,81', '70,35', '71,57',
       '73,17', '74,66', '76,32', '78,24', '79,96', '82,6', '97,74'],
      dtype='object')
0           4
14,4        7
14,65      14
20,21      37
20,49      45
24,58     100
24,9      135
28,18     234
28,54     275
31,29     396
31,7      497
34,08     621
34,54     783
36,63     897
37,14    1076
39,02    1075
39,58    1279
41,27    1213
41,9     1490
43,43    1283
44,12    1467
45,51    1228
46,27    1579
47,54    1266
48,37    1488
49,54    1104
5,09        2
5,3         4
50,44    1378
51,52     957
52,49    1258
53,5      887
54,54     995
55,49     740
56,6      823
57,51     620
58,7      607
59,58     496
60,83     431
61,71     351
63,04     288
63,94     220
65,33     175
66,29     137
67,76      89
68,81      89
70,35      31
71,57      43
73,17      19
74,66      21
76,32       3
78,24       5
79,96       1
82,6        2
97,74       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [97]:
clean_target(data_2010, c)

In [98]:
c = 'PUNT_FILOSOFIA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '13,56', '13,92', '22,82', '23,18', '28,68', '29,03', '33,15',
       '33,5', '36,89', '37,23', '40,17', '40,49', '43,15', '43,46', '45,93',
       '46,23', '48,58', '48,87', '51,15', '51,42', '53,66', '53,93', '56,17',
       '56,42', '58,71', '58,95', '61,3', '61,53', '64', '64,21', '66,85',
       '67,05', '69,92', '70,1', '73,3', '73,47', '77,16'],
      dtype='object')
0         174
13,56      46
13,92      45
22,82     156
23,18     147
28,68     373
29,03     405
33,15     806
33,5      822
36,89    1234
37,23    1280
40,17    1682
40,49    1717
43,15    1865
43,46    1952
45,93    2003
46,23    1911
48,58    1847
48,87    1701
51,15    1525
51,42    1494
53,66    1236
53,93    1239
56,17     904
56,42     924
58,71     658
58,95     638
61,3      416
61,53     388
64        215
64,21     210
66,85      92
67,05      96
69,92      29
70,1       24
73,3        5
73,47       6
77,16       1
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [99]:
clean_target(data_2010, c)

In [100]:
c = 'PUNT_BIOLOGIA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '14,55', '14,61', '22,34', '22,47', '27,25', '27,43', '30,99',
       '31,2', '34,09', '34,33', '36,79', '37,04', '39,23', '39,49', '41,48',
       '41,75', '43,61', '43,87', '45,64', '45,9', '47,62', '47,86', '49,56',
       '49,79', '51,5', '51,72', '53,46', '53,65', '55,46', '55,63', '57,54',
       '57,69', '59,74', '59,85', '62,11', '62,19', '64,74', '64,77', '67,73',
       '67,76', '71,31', '71,4', '76,04', '76,22', '83,64', '83,92', '96,5'],
      dtype='object')
0          17
14,55      10
14,61       8
22,34      52
22,47      43
27,25     123
27,43     117
30,99     327
31,2      339
34,09     616
34,33     666
36,79     925
37,04    1050
39,23    1333
39,49    1382
41,48    1622
41,75    1606
43,61    1749
43,87    1743
45,64    1598
45,9     1623
47,62    1454
47,86    1403
49,56    1220
49,79    1229
51,5     1058
51,72    1024
53,46     806
53,65     790
55,46     723
55,63     652
57,54     529
57,69     483
59,74     431
59,85     359
62,11     259
62,19     247
64,74     151
64,77     159
67,73      93
67,76     107
71,31      47
71,4       53
76,04      10
76,22      19
83,64       5
83,92       4
96,5        2
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [101]:
clean_target(data_2010, c)

In [102]:
c = 'PUNT_QUIMICA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '18,08', '18,2', '24,95', '25,08', '29,24', '29,37', '32,49',
       '32,63', '35,17', '35,31', '37,51', '37,65', '39,61', '39,76', '41,56',
       '41,72', '43,4', '43,56', '45,16', '45,33', '46,88', '47,05', '48,57',
       '48,74', '50,26', '50,44', '51,98', '52,15', '53,73', '53,91', '55,55',
       '55,74', '57,48', '57,67', '59,56', '59,76', '61,86', '62,07', '64,5',
       '64,73', '67,7', '67,94', '71,93', '72,2', '78,73', '79,02', '89,95',
       '90,26'],
      dtype='object')
0          21
18,08      30
18,2       22
24,95     102
25,08      99
29,24     268
29,37     271
32,49     595
32,63     524
35,17     887
35,31     848
37,51    1161
37,65    1168
39,61    1415
39,76    1371
41,56    1372
41,72    1369
43,4     1326
43,56    1372
45,16    1165
45,33    1288
46,88    1005
47,05    1087
48,57     899
48,74     996
50,26     831
50,44     881
51,98     762
52,15     799
53,73     682
53,91     709
55,55     665
55,74     606
57,48     532
57,67     469
59,56     455
59,76     418
61,86     352
62,07     315
64,5      266
64,73     227
67,7      165
67,94     174
71,93      96
72,2       83
78,73      44
79,02      50
89,95       5
90,26      19
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [103]:
clean_target(data_2010, c)

In [104]:
c = 'PUNT_FISICA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '101,55', '11,73', '12,22', '21,52', '22,04', '27,64', '28,19',
       '32,27', '32,84', '36,11', '36,7', '39,45', '40,06', '42,48', '43,11',
       '45,3', '45,94', '47,97', '48,62', '50,54', '51,21', '53,06', '53,74',
       '55,56', '56,25', '58,08', '58,78', '60,63', '61,34', '63,26', '63,99',
       '66,01', '66,75', '68,92', '69,68', '72,07', '72,85', '75,56', '76,36',
       '79,56', '80,37', '84,38', '85,2', '90,7', '91,53'],
      dtype='object')
0           78
101,55       2
11,73       50
12,22      101
21,52      187
22,04      296
27,64      526
28,19      705
32,27     1105
32,84     1217
36,11     1604
36,7      1722
39,45     1926
40,06     2128
42,48     2063
43,11     1942
45,3      1911
45,94     1709
47,97     1495
48,62     1350
50,54     1195
51,21     1070
53,06      919
53,74      779
55,56      632
56,25      619
58,08      431
58,78      474
60,63      330
61,34      347
63,26      253
63,99      246
66,01      163
66,75      175
68,92       90
69,68      108
72,07       75
72,85       76
75,56       48
76,36       35
79,56       28
80,37       23
84,38       11
85,2        16
90,7         3
91,53        3
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [105]:
clean_target(data_2010, c)

In [106]:
c = 'PUNT_INGLES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['-1', '0', '10,71', '100', '14,14', '17,39', '20,46', '23,36', '26,09',
       '28,64', '3,34', '31,02', '33,22', '35,25', '37,1', '38,78', '40,28',
       '41,61', '42,76', '43,48', '44,92', '46,35', '47,79', '49,22', '50,66',
       '52,09', '53,32', '54,64', '55,95', '57,27', '58,59', '59,9', '61,22',
       '62,69', '65,1', '67,51', '69,92', '7,11', '72,32', '74,73', '77,14',
       '79,55', '83,41', '87,56', '91,71', '95,85'],
      dtype='object')
-1          5
0           6
10,71       6
100       149
14,14      12
17,39      33
20,46      65
23,36     156
26,09     326
28,64     564
3,34        2
31,02     876
33,22    1257
35,25    1576
37,1     1928
38,78    2021
40,28    1974
41,61    1850
42,76    1690
43,48    1489
44,92    1276
46,35    1070
47,79     925
49,22     818
50,66     714
52,09     572
53,32     501
54,64     516
55,95     414
57,27     407
58,59     354
59,9      348
61,22     350
62,69     307
65,1      329
67,51     348
69,92     372
7,11        5
72,32     408
74,73     473
77,14     543
79,55     627
83,41     730
87,56     751
91,71     718
95,85     405
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [107]:
data_2010['PUNT_INGLES'] = data_2010['PUNT_INGLES'].replace('-1', '0')
clean_target(data_2010,c)

In [108]:
c = 'DESEMP_INGLES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['-1', 'A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
-1        5
A-    14347
A1     6864
A2     2890
B+     2753
B1     3407
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [109]:
data_2010['DESEMP_INGLES'] = data_2010['DESEMP_INGLES'].replace('-1', np.nan)
Do_resamples(data_2010, 'DESEMP_INGLES', str)

cant null antes: 5
cant null despues: 0

In [110]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             8433
PROFUNDIZACIÓN EN CIENCIAS SOCIALES    6722
PROFUNDIZACIÓN EN LENGUAJE             9513
PROFUNDIZACIÓN EN MATEMÁTICA           5598
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [111]:
c = 'PUNT_PROFUNDIZACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '10', '2,3', '2,9', '3', '3,2', '3,4', '3,7', '3,8', '4,1', '4,2',
       '4,3', '4,6', '4,7', '5', '5,1', '5,3', '5,4', '5,6', '5,7', '5,9', '6',
       '6,2', '6,3', '6,5', '6,6', '6,7', '6,8', '6,9', '7,1', '7,3', '7,5',
       '7,7', '7,9', '8', '8,6', '8,7', '8,8'],
      dtype='object')
0       203
10       16
2,3     204
2,9     232
3       219
3,2     665
3,4     248
3,7     546
3,8    1730
4,1     620
4,2    2223
4,3    1015
4,6    3496
4,7    1171
5      3295
5,1    1164
5,3    3046
5,4     923
5,6    2445
5,7     640
5,9    1886
6       416
6,2     852
6,3     787
6,5     401
6,6     331
6,7     314
6,8     249
6,9     207
7,1     287
7,3     131
7,5      76
7,7      45
7,9      99
8        27
8,6      14
8,7      38
8,8       5
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [112]:
clean_target(data_2010, c)

In [113]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     12996
I      13979
II      2946
III      345
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [114]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          15964
VIOLENCIA Y SOCIEDAD    14302
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [115]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '24,75', '31,51', '35,93', '39,41', '42,4', '45,12', '45,54',
       '47,27', '47,71', '48,4', '49,29', '50,07', '50,25', '50,78', '51,47',
       '52,16', '52,84', '52,88', '53,64', '54,49', '55,49', '55,56', '56,75',
       '58,53', '58,65', '61,55', '61,97', '66,29', '72,89', '83,26'],
      dtype='object')
0         222
24,75     454
31,51     995
35,93    1522
39,41    1923
42,4     1996
45,12    1808
45,54     194
47,27     560
47,71    1475
48,4     1024
49,29    1495
50,07    1710
50,25    1204
50,78    1927
51,47    1904
52,16    1696
52,84     940
52,88    1539
53,64    1388
54,49    1127
55,49     777
55,56     664
56,75     403
58,53     535
58,65     113
61,55      13
61,97     335
66,29     185
72,89     116
83,26      22
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

In [116]:
clean_target(data_2010, c)

In [117]:
c = 'ESTU_PUESTO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       89
2       81
3       77
4       70
5       60
6       71
7       64
8       64
9       70
10      55
11      69
12      43
13      55
14      60
15      61
16      66
17      59
18      56
19      55
20      55
21      67
22      53
23      62
24      47
25      55
26      63
27      46
28      45
29      59
30      59
        ..
971     52
972     50
973     45
974     50
975     51
976     45
977     44
978     50
979     42
980     40
981     44
982     48
983     45
984     44
985     56
986     41
987     49
988     48
989     47
990     53
991     48
992     44
993     57
994     54
995     47
996     49
997     54
998     19
999      3
1000     9
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30266
__________________
(30266,)
None

____

____

____

____

____

____

____

# FILE 2: 2010_2

In [24]:
data_2010_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20102-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10,11,12,13,14,15,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [25]:
data_2010_2.shape

(586779, 114)

In [26]:
data_2010_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120102000001,SABER1120102000002,SABER1120102000003
PERIODO,20102,20102,20102
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,M,M,F
ESTU_NACIMIENTO_DIA,8,7,19
ESTU_NACIMIENTO_MES,10,10,3
ESTU_NACIMIENTO_ANNO,1992,1993,1994
ESTU_EDAD,17,16,16
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,11001,68001,73483
ESTU_RESIDE_MCPIO,BOGOTÁ D.C.,BUCARAMANGA,NATAGAIMA
ESTU_RESIDE_DEPTO,BOGOTÁ,SANTANDER,TOLIMA
ESTU_ZONA_RESIDE,4,5,10
ESTU_AREA_RESIDE,1,1,2
IND_COD_ICFES_TERMINO,21766,14381,16451
COLE_COD_ICFES,21766,14381,16451
COLE_COD_DANE_INSTITUCION,3.11001e+11,1.68001e+11,1.73483e+11
COLE_NOMBRE_SEDE,COL PARROQ DE NSTRA SEÑORA,IE.TECNOLG.SALESIANO ELOY VALENZUELA,I.E.T. FRANCISCO JOSE DE CALDAS - SEDE PRINCIPAL
COLE_CALENDARIO,A,A,A
COLE_GENERO,X,M,X
COLE_NATURALEZA,N,O,O
COLE_BILINGUE,0,0,0
...,...,...,...
FAMI_PERSONAS_HOGAR,5,5,8
FAMI_CUARTOS_HOGAR,NaN,NaN,NaN
FAMI_PISOSHOGAR,4,4,2
FAMI_TELEFONO_FIJO,0,1,0
FAMI_CELULAR,1,1,1
FAMI_INTERNET,0,1,0
FAMI_SERVICIO_TELEVISION,1,1,0
FAMI_COMPUTADOR,3,3,0
FAMI_LAVADORA,1,1,0
FAMI_NEVERA,1,1,1
FAMI_HORNO,1,0,0
FAMI_DVD,1,1,1
FAMI_MICROONDAS,1,1,0
FAMI_AUTOMOVIL,1,1,0
FAMI_INGRESO_FMILIAR_MENSUAL,4,4,2
ESTU_TRABAJA,0,0,0
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
PUNT_LENGUAJE,"56,41","59,4","50,6"
PUNT_MATEMATICAS,"68,39","69,01","39,12"
PUNT_C_SOCIALES,"58,08","69,34","43,18"
PUNT_FILOSOFIA,"50,93","75,71","45,2"
PUNT_BIOLOGIA,"55,09","65,98","37,43"
PUNT_QUIMICA,59,"75,02","40,31"
PUNT_FISICA,"63,86","83,07","50,64"
PUNT_INGLES,"43,53","89,24","34,94"
DESEMP_INGLES,A-,B+,A-
NOMBRE_COMP_FLEXIBLE,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,PROFUNDIZACIÓN EN BIOLOGÍA,MEDIO AMBIENTE
PUNT_COMP_FLEXIBLE,"5,2","6,5","54,75"
DESEMP_COMP_FLEXIBLE,II,III,NaN
ESTU_PUESTO,127,15,807

In [27]:
data_2010_2 = data_2010_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'COLE_NOMBRE_SEDE', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA'], axis=1)

In [28]:
c = 'ESTU_PAIS_RESIDE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['AR', 'AW', 'BR', 'CL', 'CN', 'CO', 'CU', 'DE', 'EC', 'ES', 'GT', 'HN',
       'IT', 'MX', 'PA', 'PE', 'PY', 'RU', 'US', 'UY', 'VE', 'VN'],
      dtype='object')
AR         3
AW         1
BR         7
CL         2
CN         1
CO    586537
CU         6
DE         1
EC         6
ES         6
GT         3
HN         1
IT         1
MX         5
PA         2
PE         8
PY         3
RU         1
US        11
UY         1
VE        63
VN         1
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 109
__________________
Elementos diferentes de null/NaN: 586670
__________________
(586670,)
None

In [29]:
Do_resamples(data_2010_2, c, str)

cant null antes: 109
cant null despues: 0

In [30]:
c = 'ESTU_GENERO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['F', 'M'], dtype='object')
F    316897
M    265810
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 4072
__________________
Elementos diferentes de null/NaN: 582707
__________________
(582707,)
None

In [31]:
Do_resamples(data_2010_2, c, str)

cant null antes: 4072
cant null despues: 0

In [32]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     19598
2     19379
3     19382
4     19197
5     19393
6     19119
7     19193
8     19436
9     18781
10    19904
11    19197
12    19630
13    19192
14    18959
15    19675
16    19137
17    19021
18    19080
19    18831
20    19538
21    18818
22    19262
23    19166
24    19165
25    18826
26    18583
27    18899
28    19327
29    17370
30    17039
31    10422
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 4260
__________________
Elementos diferentes de null/NaN: 582519
__________________
(582519,)
None

In [33]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     47540
2     42975
3     48547
4     46507
5     48643
6     46209
7     48582
8     49216
9     52020
10    51449
11    48667
12    52164
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 4260
__________________
Elementos diferentes de null/NaN: 582519
__________________
(582519,)
None

In [34]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([  75.0,   78.0,   89.0,   90.0,   91.0,   92.0,   93.0,   94.0,
              1911.0, 1930.0, 1933.0, 1934.0, 1935.0, 1936.0, 1937.0, 1939.0,
              1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0,
              1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0,
              1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0,
              1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0,
              1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0,
              1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2013.0],
             dtype='float64')
75           1
78           1
89           1
90           1
91           2
92           7
93           6
94           3
1911         1
1930         3
1933         4
1934         2
1935         2
1936         1
1937         5
1939         7
1940         5
1941         9
1942         7
1943        13
1944        22
1945        16
1946        25
1947        24
1948        36
1949        40
1950        56
1951        65
1952        89
1953       102
         ...
1977      1574
1978      1572
1979      1791
1980      1986
1981      2202
1982      2658
1983      3017
1984      3094
1985      3391
1986      3933
1987      4974
1988      6703
1989     10899
1990     21675
1991     48739
1992    106895
1993    205401
1994    122278
1995      9322
1996       407
1997       119
1998       224
1999       196
2000      3952
2001       271
2002        61
2003        27
2004        27
2005         2
2013         2
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 4260
__________________
Elementos diferentes de null/NaN: 582519
__________________
(582519,)
None

In [35]:
for i in data_2010_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2010_2[c] = data_2010_2[c].replace(i, np.nan)
    elif i > 2001:
        data_2010_2[c] = data_2010_2[c].replace(i, np.nan)

In [37]:
anno = data_2010_2[data_2010_2[c].isnull()].index
data_2010_2 = data_2010_2.drop(anno)

In [40]:
c = 'ESTU_EDAD'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
              20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0,
              31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0,
              42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0,
              53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0,
              64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0,
              75.0, 76.0, 77.0, 79.0, 80.0],
             dtype='float64')
9       2866
10      1634
11       245
12       156
13       148
14      1524
15     32028
16    200764
17    157300
18     77119
19     34770
20     16010
21      8758
22      5746
23      4531
24      3657
25      3223
26      3092
27      2859
28      2426
29      2105
30      1925
31      1713
32      1523
33      1542
34      1355
35      1309
36      1123
37      1133
38      1018
       ...
50       296
51       220
52       194
53       169
54       152
55       165
56       112
57        87
58        87
59        51
60        51
61        45
62        28
63        26
64        17
65        17
66        18
67        12
68         8
69         9
70         6
71         3
72         2
73         3
74         3
75         1
76         2
77         2
79         1
80         3
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 250
__________________
Elementos diferentes de null/NaN: 582127
__________________
(582127,)
None

In [41]:
Do_resamples(data_2010_2, c, float)

cant null antes: 250
cant null despues: 0

In [42]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 582377
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [43]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['C'], dtype='object')
C    16
Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64
Elementos null/NaN 582361
__________________
Elementos diferentes de null/NaN: 16
__________________
(16,)
None

In [44]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['G'], dtype='object')
G    171
Name: ESTU_LIMITA_COGNITIVA, dtype: int64
Elementos null/NaN 582206
__________________
Elementos diferentes de null/NaN: 171
__________________
(171,)
None

In [45]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['I'], dtype='object')
I    72
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 582305
__________________
Elementos diferentes de null/NaN: 72
__________________
(72,)
None

In [46]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['M'], dtype='object')
M    324
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 582053
__________________
Elementos diferentes de null/NaN: 324
__________________
(324,)
None

In [47]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['R'], dtype='object')
R    230
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 582147
__________________
Elementos diferentes de null/NaN: 230
__________________
(230,)
None

In [48]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['S'], dtype='object')
S    92
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 582285
__________________
Elementos diferentes de null/NaN: 92
__________________
(92,)
None

In [50]:
data_2010_2 = data_2010_2.drop(['ESTU_LIMITA_SORDOCEGUERA', 'ESTU_LIMITA_BAJAVISION', 'ESTU_LIMITA_COGNITIVA', 
                                'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_MOTRIZ', 'ESTU_LIMITA_SORDOINTERPRETE',
                               'ESTU_LIMITA_SORDONOINTERPRETE'], axis=1)

In [51]:
c = 'ESTU_ETNIA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     18221
2        20
3      1571
4       184
5       126
6       799
7       243
8       558
9      1211
10     2560
11     1547
12      185
13      221
14       36
15       82
16       80
17      283
99     9012
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 545438
__________________
Elementos diferentes de null/NaN: 36939
__________________
(36939,)
None

In [52]:
data_2010_2[c].fillna(99, inplace=True)

In [56]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1030)
ABEJORRAL                    133
ABREGO                       242
ABRIAQUI                      14
ACACIAS                     1113
ACANDI                        56
ACEVEDO                      235
ACHI                         205
AGRADO                       146
AGUA DE DIOS                 167
AGUACHICA                   1056
AGUADA                        23
AGUADAS                      266
AGUAZUL                      592
AGUSTIN CODAZZI              612
AIPE                         193
ALBAN                        119
ALBAN (SAN JOSE)             130
ALBANIA                      308
ALCALA                       166
ALDANA                        62
ALEJANDRIA                    21
ALGARROBO                    161
ALGECIRAS                    214
ALMAGUER                      99
ALMEIDA                       26
ALPUJARRA                     59
ALTAMIRA                      54
ALTO BAUDO (PIE DE PATO)      46
ALTOS DEL ROSARIO             63
ALVARADO                      92
                            ...
VILLANUEVA                   879
VILLAPINZON                  321
VILLARRICA                    69
VILLAVICENCIO               6724
VILLAVIEJA                   106
VILLETA                      420
VIOTA                        179
VIRACACHA                     26
VISTA HERMOSA                 89
VITERBO                      241
YACOPI                       121
YACUANQUER                   110
YAGUARA                      124
YALI                          31
YARUMAL                      632
YAVARATE                      22
YOLOMBO                      261
YONDO (CASABE)               110
YOPAL                       2214
YOTOCO                       130
YUMBO                       1449
ZAMBRANO                     119
ZAPATOCA                     150
ZAPAYAN                       61
ZARAGOZA                     331
ZARZAL                       569
ZETAQUIRA                    110
ZIPACON                       81
ZIPAQUIRA                   1773
ZONA BANANERA                657
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 582376
__________________
(582376,)
None

In [57]:
Do_resamples(data_2010_2, c, str)

cant null antes: 1
cant null despues: 0

In [58]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              761
ANTIOQUIA           79802
ARAUCA               3067
ATLÁNTICO           28333
BOGOTÁ             103369
BOLÍVAR             25936
BOYACÁ              20296
CALDAS              13471
CAQUETÁ              4478
CASANARE             5009
CAUCA               13275
CESAR               12136
CHOCÓ                4406
CUNDINAMARCA        36484
CÓRDOBA             18564
GUAINÍA               163
GUAVIARE              835
HUILA               15443
LA GUAJIRA           6751
MAGDALENA           14048
META                11500
NARIÑO              18347
NORTE SANTANDER     17139
PUTUMAYO             3473
QUINDÍO              7798
RISARALDA           11897
SAN ANDRÉS            872
SANTANDER           30551
SUCRE               11219
TOLIMA              18222
VALLE               44034
VAUPÉS                255
VICHADA               443
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [59]:
Do_resamples(data_2010_2, c, str)

cant null antes: 0
cant null despues: 0

In [60]:
c = 'ESTU_ZONA_RESIDE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      22898
2       6345
3      14230
4      50227
5      22102
6      13665
7      14779
8      28607
9      24295
10    384713
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 516
__________________
Elementos diferentes de null/NaN: 581861
__________________
(581861,)
None

In [62]:
Do_resamples(data_2010_2, c, float)

TypeError: unorderable types: str() > float()

In [63]:
c = 'ESTU_AREA_RESIDE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    460020
2    122055
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 302
__________________
Elementos diferentes de null/NaN: 582075
__________________
(582075,)
None

In [64]:
Do_resamples(data_2010_2, c, float)

cant null antes: 302
cant null despues: 0

In [65]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([     0.0,      2.0,      3.0,     18.0,     26.0,     34.0,
                  42.0,     50.0,     51.0,     59.0,
              ...
              598235.0, 599506.0, 606046.0, 615914.0, 620948.0, 620963.0,
              627737.0, 629600.0, 637470.0, 999999.0],
             dtype='float64', length=13660)
0           48
2          336
3         4999
18          17
26           2
34           1
42           1
50           1
51           1
59        1166
67          14
75          63
77           1
83          33
90           2
91          98
117          1
125         79
141        111
158          1
174         85
190         84
208         94
216         32
224          2
226          1
232         29
240        104
257         86
265        219
          ...
259176       1
265066       1
265843       1
267237       1
268201       1
268672       1
272476       1
273029       1
275313       3
296657       1
344036       1
350728       1
383109       1
416560       1
464735       1
555219       1
581751       1
586115       1
594846       1
595306       1
598235       1
599506       1
606046       1
615914       1
620948       1
620963       1
627737       1
629600       1
637470       1
999999    1741
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 8323
__________________
Elementos diferentes de null/NaN: 574054
__________________
(574054,)
None

In [66]:
Do_resamples(data_2010_2, c, float)

cant null antes: 8323
cant null despues: 0

In [67]:
c = 'COLE_COD_ICFES'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([     2.0,      3.0,     18.0,     26.0,     34.0,     42.0,
                  59.0,     67.0,     75.0,     83.0,
              ...
              155846.0, 155879.0, 155887.0, 155895.0, 155903.0, 155911.0,
              155929.0, 155952.0, 155960.0, 999999.0],
             dtype='float64', length=12524)
2          421
3         3610
18          16
26           1
34           1
42           1
59        1212
67           5
75          64
83          33
91          97
125         80
141        111
174         85
190         84
208         93
216         32
232         29
240        108
257         94
265        224
273         59
281         64
315        136
349         24
356         32
364         53
372         65
380        115
398         18
          ...
155598      21
155606       2
155622       1
155630      23
155648     110
155671       5
155689      23
155697      31
155705       2
155713      10
155721      39
155739      46
155747      72
155754      13
155770      19
155796      22
155804       6
155812       8
155820      54
155838       9
155846      17
155879      18
155887      14
155895      17
155903      13
155911      56
155929       8
155952      15
155960       1
999999    1813
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 42
__________________
Elementos diferentes de null/NaN: 582335
__________________
(582335,)
None

In [68]:
Do_resamples(data_2010_2, c, float)

cant null antes: 42
cant null despues: 0

In [84]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2010_2[c].value_counts().index)
print(data_2010_2[c].value_counts())
print(missing_data(data_2010_2[c]))

Index([105001000108.0, 325754005072.0, 354001001520.0, 105001013340.0,
       168001003591.0, 311001105391.0, 111001019411.0, 111001010910.0,
       305001003963.0, 111001024732.0,
       ...
       '311265000369', '308758004168', '125612000139', '123466000021',
       '170717000059', '252260000054', '213212000063', '113001001816',
       '344001001737', '305266000541'],
      dtype='object', length=14124)
105001000108.0    1204
325754005072.0     877
354001001520.0     842
105001013340.0     773
168001003591.0     741
311001105391.0     676
111001019411.0     658
111001010910.0     591
305001003963.0     581
111001024732.0     571
111102000753.0     564
313001006701.0     556
105154000301.0     546
305266019802.0     535
311001004820.0     523
313001029264.0     513
176001005813.0     513
305001004293.0     505
368001005488.0     491
111001006122.0     485
125754003267.0     477
113001000852.0     475
141001003341.0     466
468266001200.0     465
405001018213.0     459
152001000777.0     444
117001001536.0     439
111001036781.0     437
311102000141.0     437
141001000066.0     436
                  ...
168679000401         1
376109008877         1
810536000005         1
354001011622         1
311279000094         1
141001004061         1
125875000427         1
218001003017         1
305001025495         1
368001007545         1
205154000896         1
111001046621         1
163001003528         1
311001040630         1
223660001611         1
111848003910         1
176001001656         1
325269000305         1
111001076201         1
376520005170         1
311265000369         1
308758004168         1
125612000139         1
123466000021         1
170717000059         1
252260000054         1
213212000063         1
113001001816         1
344001001737         1
305266000541         1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 13347
__________________
Elementos diferentes de null/NaN: 569030
__________________
(569030,)
None

In [87]:
for i in data_2010_2[c].value_counts().index:
    if ' ' in str(i):
        data_2010_2[c] = data_2010_2[c].replace(i, np.nan)
    elif type(i) == str:
        data_2010_2[c] = data_2010_2[c].replace(i, float(i))

Do_resamples(data_2010_2, c, float)

cant null antes: 13358
cant null despues: 0

In [88]:
c = 'COLE_CALENDARIO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    482562
B      3296
F     94664
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 1855
__________________
Elementos diferentes de null/NaN: 580522
__________________
(580522,)
None

In [89]:
Do_resamples(data_2010_2, c, str)

cant null antes: 1855
cant null despues: 0

In [90]:
c = 'COLE_GENERO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     29272
M      6971
X    540248
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 5886
__________________
Elementos diferentes de null/NaN: 576491
__________________
(576491,)
None

In [91]:
Do_resamples(data_2010_2, c, str)

cant null antes: 5886
cant null despues: 0

In [92]:
c = 'COLE_NATURALEZA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['N', 'O'], dtype='object')
N    148974
O    427517
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 5886
__________________
Elementos diferentes de null/NaN: 576491
__________________
(576491,)
None

In [93]:
Do_resamples(data_2010_2, c, str)

cant null antes: 5886
cant null despues: 0

In [94]:
c = 'COLE_BILINGUE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    493630
1      5085
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 83662
__________________
Elementos diferentes de null/NaN: 498715
__________________
(498715,)
None

In [95]:
Do_resamples(data_2010_2, c, float)

cant null antes: 83662
cant null despues: 0

In [96]:
c = 'COLE_JORNADA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE', 'UNICA'],
      dtype='object')
COMPLETA U ORDINARIA    106877
MAÑANA                  293949
NOCHE                    45501
SABATINA - DOMINICAL     33122
TARDE                    98750
UNICA                      105
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 4073
__________________
Elementos diferentes de null/NaN: 578304
__________________
(578304,)
None

In [97]:
Do_resamples(data_2010_2, c, str)

cant null antes: 4073
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [98]:
c = 'COLE_CARACTER'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              357724
ACADEMICO Y TECNICO    100131
DESCONOCIDO               332
NORMALISTA              14098
TECNICO                104196
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 5896
__________________
Elementos diferentes de null/NaN: 576481
__________________
(576481,)
None

In [99]:
Do_resamples(data_2010_2, c, str)

cant null antes: 5896
cant null despues: 0

In [100]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     2382
1     7025
2     4420
3    41526
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 527024
__________________
Elementos diferentes de null/NaN: 55353
__________________
(55353,)
None

In [101]:
Do_resamples(data_2010_2, c, float)

cant null antes: 527024
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [102]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([  1101.0,   1102.0,   1103.0,   1104.0,   1105.0,   1106.0,
                1107.0,   1108.0,   1109.0,   1110.0,
              ...
                9127.0,   9128.0,   9129.0,  21113.0,  21386.0,  41962.0,
               53967.0,  73049.0,  82149.0, 158386.0],
             dtype='float64', length=355)
1101      6005
1102       550
1103       214
1104       134
1105       551
1106       758
1107        75
1108       267
1109        45
1110       950
1111       912
1112       812
1113      1151
1114      1060
1115       340
1117       212
1118       269
1119       538
1120       643
1121        61
1122        84
1123        43
1124         8
1125        19
1201      4288
1202      1428
1203      3396
1204      1741
1205      1675
1206      1334
          ...
9101       105
9102        43
9103       152
9104       307
9105        92
9107        49
9110       858
9111       188
9112       502
9113        54
9114        91
9115        50
9117         5
9119        22
9120        24
9121         1
9122        10
9124         4
9125        15
9126        26
9127         4
9128         2
9129        16
21113        1
21386        1
41962        1
53967        1
73049        1
82149        1
158386       1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 523938
__________________
Elementos diferentes de null/NaN: 58439
__________________
(58439,)
None

In [103]:
data_2010_2.fillna(method='bfill', inplace=True)
data_2010_2.fillna(method='ffill', inplace=True)

In [104]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               50
ANTIOQUIA           84788
ARAUCA                 44
ATLÁNTICO           31721
BOGOTÁ             172740
BOLÍVAR             22221
BOYACÁ              13178
CALDAS              13916
CAQUETÁ              3296
CASANARE              312
CAUCA               11915
CESAR                7021
CHOCÓ                2711
CUNDINAMARCA        10117
CÓRDOBA             12533
HUILA               11689
LA GUAJIRA           3525
MAGDALENA           11347
META                 5557
NARIÑO              17803
NORTE SANTANDER     14902
PUTUMAYO              607
QUINDÍO              7292
RISARALDA           12554
SAN ANDRÉS            229
SANTANDER           32715
SUCRE                7980
TOLIMA              13013
VALLE               56601
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [105]:
data_2010_2.fillna(method='bfill', inplace=True)
data_2010_2.fillna(method='ffill', inplace=True)

In [106]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['AGUACHICA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'COTA', 'CUCUTA',
       'DUITAMA', 'ENVIGADO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA', 'FLORIAN',
       'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA', 'MADRID',
       'MALAGA', 'MANIZALES', 'MARINILLA', 'MEDELLIN', 'MOCOA', 'MONTERIA',
       'MOSQUERA', 'NEIVA', 'NILO', 'OCAÑA', 'OVEJAS', 'PALMIRA', 'PAMPLONA',
       'PASTO', 'PENSILVANIA', 'PEREIRA', 'POPAYAN', 'PUERTO BERRIO',
       'PUERTO TEJADA', 'QUIBDO', 'RIOHACHA', 'RIONEGRO', 'ROLDANILLO',
       'SABANETA', 'SAN ANDRES', 'SAN GIL', 'SAN JUAN DEL CESAR',
       'SANTA MARTA', 'SANTA ROSA DE CABAL', 'SANTA ROSA DE OSOS',
       'SANTAFÉ DE ANTIOQUIA', 'SEVILLA', 'SIBUNDOY', 'SINCELEJO', 'SOCORRO',
       'SOGAMOSO', 'SOLEDAD', 'TOLU', 'TULUA', 'TUNJA', 'TURBO', 'UBATE',
       'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                  513
ANDES                      155
APARTADO                    40
ARAUCA                      44
ARMENIA                   7292
BARRANCABERMEJA           1158
BARRANQUILLA             31222
BELLO                     4475
BOGOTÁ D.C.             172740
BUCARAMANGA              29823
BUENAVENTURA               771
BUGA                       929
CALDAS                     316
CALI                     50730
CARMEN DE VIBORAL          419
CARTAGENA                22221
CARTAGO                    407
CAUCASIA                   552
CERETE                      58
CHIA                      2778
CHIQUINQUIRA               448
CIENAGA                    242
COPACABANA                   5
COTA                        60
CUCUTA                   10350
DUITAMA                    606
ENVIGADO                   322
ESPINAL                    683
FACATATIVA                 171
FLORENCIA                 3296
                         ...
PEREIRA                  12255
POPAYAN                  11788
PUERTO BERRIO              101
PUERTO TEJADA              127
QUIBDO                    2711
RIOHACHA                  3516
RIONEGRO                   957
ROLDANILLO                 279
SABANETA                    69
SAN ANDRES                 229
SAN GIL                   1485
SAN JUAN DEL CESAR           9
SANTA MARTA              11105
SANTA ROSA DE CABAL        299
SANTA ROSA DE OSOS         141
SANTAFÉ DE ANTIOQUIA       285
SEVILLA                      6
SIBUNDOY                    19
SINCELEJO                 7719
SOCORRO                    164
SOGAMOSO                  2680
SOLEDAD                    499
TOLU                       211
TULUA                     1871
TUNJA                     9444
TURBO                      816
UBATE                      400
VALLEDUPAR                6508
VILLAVICENCIO             5557
YOPAL                      312
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [107]:
data_2010_2.fillna(method='bfill', inplace=True)
data_2010_2.fillna(method='ffill', inplace=True)

In [108]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0,
              22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0,
              33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0,
              44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0,
              55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0,
              66.0, 67.0, 68.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0,
              78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 88.0, 90.0,
              93.0, 94.0, 95.0, 96.0, 97.0, 98.0],
             dtype='float64')
0       344
1        33
2       168
3       600
4       920
5      1049
6      1734
7      1260
8      1579
9      1930
10     2078
11     2254
12     3725
13     3768
14     4464
15     5744
16     4219
17     5673
18     5545
19     5490
20    10692
21     7759
22     9485
23    11042
24    13173
25    17737
26    15246
27    16191
28    19672
29    18080
      ...
64      170
65      407
66      152
67      220
68      387
70       63
71      127
72      140
73       74
74       77
75      109
76      106
77      146
78      132
79        6
80      255
81        4
82       22
83      101
84      298
85       43
86       70
88       44
90      395
93       32
94       65
95        6
96      184
97        1
98        2
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [109]:
Do_resamples(data_2010_2, c, float)

cant null antes: 0
cant null despues: 0

In [110]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0],
             dtype='float64')
1985     15253
1986      1804
1987      2050
1988      2268
1989      2032
1990      3282
1991      2061
1992      2930
1993      3841
1994      6715
1995     10065
1996     17194
1997     34862
1998     72738
1999    181957
2000    223325
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [111]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0],
             dtype='float64')
1985      7963
1986       893
1987       996
1988       799
1989      1630
1990      2049
1991      1137
1992      1687
1993      1559
1994      2282
1995      3020
1996      2355
1997      3287
1998      4186
1999      6878
2000     11336
2001     13918
2002     30755
2003     94428
2004    331961
2005     59258
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [112]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      59253
2      67394
3      50309
4      32920
5      35172
6     140250
7      30448
8      19729
9      13400
10     20943
11    112559
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [113]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0],
             dtype='float64')
1985      5010
1986       527
1987       797
1988       860
1989       630
1990      1543
1991      1073
1992       850
1993      1409
1994      1555
1995      2297
1996      2705
1997      1770
1998      2594
1999      3518
2000      6426
2001     10176
2002     14572
2003     33015
2004    108925
2005    314710
2006     67415
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [114]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     99685
1    295716
2    101450
3     85526
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [115]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    359026
2    138155
3     85196
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [116]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    563579
1     18798
Name: ESTU_REPROBO_CUARTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [117]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    546867
1     35510
Name: ESTU_REPROBO_DECIMO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [118]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    554502
1     27875
Name: ESTU_REPROBO_NOVENO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [119]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    552006
1     30371
Name: ESTU_REPROBO_OCTAVO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [120]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    546046
1     36331
Name: ESTU_REPROBO_PRIMERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [121]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    564454
1     17923
Name: ESTU_REPROBO_QUINTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [122]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    556033
1     26344
Name: ESTU_REPROBO_SEGUNDO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [123]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    552894
1     29483
Name: ESTU_REPROBO_SEPTIMO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [124]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    553662
1     28715
Name: ESTU_REPROBO_SEXTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [125]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    554370
1     28007
Name: ESTU_REPROBO_TERCERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [126]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    568467
1     13910
Name: ESTU_REPROBO_ONCE_MAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [127]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['-'], dtype='object')
-    582377
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [128]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [129]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['-'], dtype='object')
-    582377
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [130]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [131]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    434214
1    148163
Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [132]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['-'], dtype='object')
-    582377
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [133]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [134]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['-'], dtype='object')
-    582377
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [135]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [136]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    495798
1     86579
Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [137]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0    275861
1    255936
2     50580
Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [138]:
c = 'ESTU_RAZON_RETIRO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
1     14690
2     25937
3    159053
4     51588
5     35707
6     21944
7      8445
8      6868
9    258145
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [139]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    433386
1    148991
Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [140]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['-'], dtype='object')
-    582377
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [141]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [142]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['-'], dtype='object')
-    582377
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [143]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [144]:
c = 'ESTU_POR_OTRARAZON'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    408561
1    173816
Name: ESTU_POR_OTRARAZON, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [145]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    144462
1    437915
Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [146]:
c = 'ESTU_POR_UBICACION'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    268599
1    313778
Name: ESTU_POR_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [147]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    455130
1    127247
Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [148]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['-'], dtype='object')
-    582377
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [149]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [150]:
c = 'COLE_VALOR_PENSION'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0     424258
1        346
2        137
3        115
4         41
5         47
6         18
7         17
8      84250
9      19389
10     13516
11     21661
12     18582
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [151]:
c = 'ESTU_VECES_ESTADO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    494538
1     64540
2     15327
3      7086
4       886
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [152]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Int64Index([ 5001,  5002,  5030,  5031,  5034,  5042,  5045,  5051,  5079,
             5088,
            ...
            95025, 95200, 97001, 97161, 97666, 97889, 99001, 99524, 99624,
            99773],
           dtype='int64', length=440)
5001     32160
5002       135
5030       855
5031       265
5034       969
5042      1236
5045      2121
5051       372
5079       603
5088      6753
5101       388
5120       343
5129      1312
5138       341
5147       444
5148       632
5154      1212
5172       724
5190       666
5212      1775
5237       252
5250       621
5266      3789
5284       491
5313        93
5318       558
5360      4643
5361       200
5368       338
5376       992
         ...
85400       55
85410      328
85440      449
86001      913
86568     1083
86573      160
86749      638
86865      589
86885      210
88001      832
88564       51
91001      597
91405       36
91407       33
91540       71
91798       23
94001      143
94343       22
95001      748
95015       55
95025       81
95200       32
97001      186
97161       24
97666       25
97889       23
99001      225
99524       87
99624       36
99773      117
Name: ESTU_COD_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [153]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [154]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO', 'YOPAL', 'YUMBO', 'ZAPATOCA',
       'ZARAGOZA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=423)
ABEJORRAL                     135
ABREGO                        245
ACACIAS                      1434
ACANDI                         56
ACHI                          270
AGUACHICA                    1309
AGUADAS                       273
AGUAZUL                       589
AGUSTIN CODAZZI               630
AIPE                          193
ALBAN (SAN JOSE)              195
ALCALA                        229
ALTO BAUDO (PIE DE PATO)       40
AMAGA                         855
AMALFI                        265
ANDALUCIA                     211
ANDES                         969
ANOLAIMA                      280
ANSERMA                       722
ANSERMANUEVO                  171
APARTADO                     2121
APIA                          171
ARACATACA                     438
ARAUCA                       1218
ARAUQUITA                     311
ARBELAEZ                      280
ARBOLEDAS                     173
ARBOLETES                     372
ARIGUANI (EL DIFICIL)         343
ARJONA                        952
                             ...
TURBO                        1394
TURMEQUE                      222
TUTA                          196
UBATE                        1328
UNGUIA                         94
URRAO                         567
VALLEDUPAR                   6010
VALPARAISO                    207
VEGACHI                       232
VELEZ                         756
VENADILLO                     174
VENTAQUEMADA                  141
VIGIA DEL FUERTE               92
VILLA DE LEYVA                389
VILLA DEL ROSARIO             934
VILLA GUAMEZ (LA HORMIGA)     589
VILLAGARZON                   210
VILLANUEVA                    982
VILLAVICENCIO                7315
VILLETA                       688
VIOTA                         137
YARUMAL                      1063
YAVARATE                       23
YOLOMBO                       245
YOPAL                        2458
YUMBO                        1614
ZAPATOCA                      184
ZARAGOZA                      316
ZARZAL                        601
ZIPAQUIRA                    2996
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [155]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              760
ANTIOQUIA           79357
ARAUCA               3250
ATLÁNTICO           29042
BOGOTÁ             103667
BOLÍVAR             25506
BOYACÁ              21070
CALDAS              13911
CAQUETÁ              4533
CASANARE             5029
CAUCA               13187
CESAR               12368
CHOCÓ                4417
CUNDINAMARCA        35144
CÓRDOBA             18557
GUAINÍA               165
GUAVIARE              916
HUILA               15597
LA GUAJIRA           6747
MAGDALENA           13673
META                11546
NARIÑO              18388
NORTE SANTANDER     17239
PUTUMAYO             3593
QUINDÍO              7858
RISARALDA           11866
SAN ANDRÉS            883
SANTANDER           30697
SUCRE               11034
TOLIMA              17730
VALLE               43924
VAUPÉS                258
VICHADA               465
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [156]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['EXAMEN SABER 11'], dtype='object')
EXAMEN SABER 11    582377
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [157]:
data_2010_2 = data_2010_2.drop([c], axis=1)

In [158]:
c = 'FAMI_EDUCA_PADRE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      24999
1        106
2        545
3        342
4        265
5        403
6         39
7        101
8         27
9     117275
10    104128
11     84166
12    123797
13      6368
14     22595
15      8527
16     44049
17     10225
99     34420
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [159]:
c = 'FAMI_EDUCA_MADRE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      15255
1         51
2        504
3        330
4        331
5        477
6         59
7        131
8         31
9     105097
10    106139
11    100899
12    139043
13      8615
14     28517
15      8962
16     41875
17     10005
99     16056
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [160]:
c = 'FAMI_OCUPA_PADRE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1         18
2         41
3         23
4         13
5        125
6         33
7        343
8         60
9        835
10        49
11       177
12       360
13      8989
14     40154
15     10464
16     15790
17     28983
18     22227
19    104889
20     24978
21    193121
22      9244
23     18986
26    102475
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [161]:
c = 'FAMI_OCUPA_MADRE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1         10
2         50
3          8
4         21
5         89
6         77
7        124
8         43
9        287
10      1153
11        63
12       152
13      4620
14     15180
15      6041
16     14478
17     22015
18     19652
19     54133
20     13766
21     63024
22    314721
23      6883
26     45787
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [162]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    217674
2    221212
3    112849
4     21135
5      6529
6      2913
8        65
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [163]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    239385
2    148050
3     27051
4      4868
5    163023
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [164]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       3353
2      26960
3      88355
4     163335
5     138989
6      75723
7      37715
8      21211
9      10282
10      7261
11      3176
12      6017
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [165]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      43912
2     202932
3     229954
4      71290
5      24526
6       7246
7        820
8       1279
9         63
10       355
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [166]:
c = 'FAMI_PISOSHOGAR'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     28457
2    268001
3     28698
4    256340
5       881
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [167]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    294469
1    287908
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [168]:
c = 'FAMI_CELULAR'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0     52523
1    529831
2        23
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [169]:
c = 'FAMI_INTERNET'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    390232
1    192145
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [170]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    243890
1    338487
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [171]:
c = 'FAMI_COMPUTADOR'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    313838
1      1309
3    267230
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [172]:
c = 'FAMI_LAVADORA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    252366
1    330011
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [173]:
c = 'FAMI_NEVERA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     76365
1    506012
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [174]:
c = 'FAMI_HORNO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    342393
1    239984
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [175]:
c = 'FAMI_DVD'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    215042
1    367335
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [176]:
c = 'FAMI_MICROONDAS'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    443932
1    138445
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [177]:
c = 'FAMI_AUTOMOVIL'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    485112
1     97265
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [178]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    190435
2    254441
3     80636
4     35606
5     11100
6      5365
7      4794
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [179]:
c = 'ESTU_TRABAJA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    509252
1       295
2        65
3      5823
4      3072
5      2839
6     35237
7     25794
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [180]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0        676
1        263
2       2468
3       1921
4       9235
5       7826
6       9599
7       5245
8      52595
9       9125
10     19108
11      1805
12     14057
13      1355
14      3301
15      6945
16     10618
17      1307
18      9900
19      1848
20    413180
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

## TARGETS

In [181]:
c = 'PUNT_LENGUAJE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['0', '101,71', '102,62', '11,98', '113,19', '12,18', '23,24', '23,43',
       '30,26', '30,45', '35,56', '35,76', '39,96', '40,12', '43,78', '43,94',
       '47,24', '47,41', '50,45', '50,6', '53,5', '53,63', '56,41', '56,55',
       '59,27', '59,4', '62,11', '62,21', '64,91', '65,03', '67,8', '67,92',
       '70,74', '70,87', '73,83', '73,98', '77,1', '77,28', '80,64', '80,86',
       '84,56', '84,87', '89,07', '89,5', '94,52', '95,14'],
      dtype='object')
0           299
101,71        7
102,62        8
11,98       687
113,19        1
12,18       706
23,24      2848
23,43      3041
30,26      7875
30,45      8323
35,56     16629
35,76     17339
39,96     26706
40,12     27883
43,78     35620
43,94     36482
47,24     40384
47,41     40197
50,45     39100
50,6      38840
53,5      34132
53,63     33491
56,41     27308
56,55     26277
59,27     20448
59,4      19735
62,11     14287
62,21     13830
64,91      9855
65,03      9660
67,8       6295
67,92      6365
70,74      3937
70,87      4043
73,83      2372
73,98      2393
77,1       1379
77,28      1483
80,64       644
80,86       651
84,56       266
84,87       291
89,07        86
89,5        108
94,52        31
95,14        35
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [185]:
clean_target(data_2010_2, c)
for i in data_2010_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2010_2[c] = data_2010_2[c].replace(i, 100)

In [186]:
c = 'PUNT_MATEMATICAS'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['0', '113,46', '114,88', '15,67', '16,12', '25,02', '25,39', '30,9',
       '31,19', '35,39', '35,59', '39,12', '39,25', '42,4', '42,46', '45,38',
       '48,09', '48,17', '50,67', '50,82', '53,16', '53,37', '55,62', '55,89',
       '58,05', '58,38', '60,51', '60,91', '63,02', '63,5', '65,63', '66,17',
       '68,39', '69,01', '71,35', '72,05', '74,62', '75,41', '78,36', '79,26',
       '82,87', '83,87', '88,79', '89,92', '98,19', '99,48'],
      dtype='object')
0           272
113,46      149
114,88       47
15,67       519
16,12       642
25,02      2311
25,39      2693
30,9       6674
31,19      7097
35,39     13998
35,59     14435
39,12     22549
39,25     22452
42,4      30230
42,46     29229
45,38     67559
48,09     32960
48,17     34477
50,67     31130
50,82     31992
53,16     27432
53,37     27815
55,62     22905
55,89     22774
58,05     18444
58,38     18049
60,51     14272
60,91     13844
63,02     10566
63,5      10295
65,63      7873
66,17      7333
68,39      5609
69,01      5212
71,35      3921
72,05      3538
74,62      2564
75,41      2337
78,36      1652
79,26      1423
82,87       875
83,87       822
88,79       474
89,92       476
98,19       196
99,48       261
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [187]:
clean_target(data_2010_2, c)
for i in data_2010_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2010_2[c] = data_2010_2[c].replace(i, 100)

In [188]:
c = 'PUNT_C_SOCIALES'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['0', '100,39', '100,49', '111,3', '14,22', '15,39', '21,1', '22,17',
       '26,28', '27,26', '3,18', '30,51', '31,42', '34,19', '35,02', '37,44',
       '38,22', '4,47', '40,42', '41,15', '43,18', '43,87', '45,79', '46,44',
       '48,28', '48,89', '50,68', '51,26', '53,02', '53,57', '55,32', '55,84',
       '57,6', '58,08', '59,87', '60,3', '62,16', '62,57', '64,48', '64,86',
       '66,87', '67,21', '69,34', '69,63', '71,91', '72,17', '74,64', '74,86',
       '77,58', '77,75', '80,79', '80,92', '84,39', '84,46', '88,56', '88,59',
       '93,65', '93,68'],
      dtype='object')
0           391
100,39        2
100,49        1
111,3         1
14,22       338
15,39       380
21,1       1173
22,17      1309
26,28      2948
27,26      3242
3,18        104
30,51      6121
31,42      6670
34,19     10118
35,02     11697
37,44     15611
38,22     16886
4,47        109
40,42     20578
41,15     22038
43,18     24693
43,87     26151
45,79     27581
46,44     28399
48,28     28045
48,89     28616
50,68     27948
51,26     27684
53,02     26015
53,57     25257
55,32     23610
55,84     22025
57,6      20153
58,08     18731
59,87     16715
60,3      15154
62,16     12923
62,57     11925
64,48      9734
64,86      8815
66,87      6705
67,21      6233
69,34      4560
69,63      4209
71,91      2730
72,17      2637
74,64      1458
74,86      1468
77,58       718
77,75       714
80,79       343
80,92       329
84,39       148
84,46       130
88,56        44
88,59        39
93,65        15
93,68         6
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [189]:
clean_target(data_2010_2, c)
for i in data_2010_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2010_2[c] = data_2010_2[c].replace(i, 100)

In [190]:
c = 'PUNT_FILOSOFIA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['0', '12,93', '13,78', '24,02', '24,85', '30,95', '31,78', '36,19',
       '37,03', '40,54', '41,38', '44,32', '45,2', '47,74', '48,66', '50,93',
       '51,89', '53,93', '54,95', '56,82', '57,9', '59,66', '60,81', '62,46',
       '63,68', '65,24', '66,58', '68,09', '69,52', '71', '72,54', '74,04',
       '75,71', '77,27', '79,06', '80,75', '82,67', '84,61', '86,67', '89,03',
       '91,23', '94,37', '96,7'],
      dtype='object')
0         1958
12,93      686
13,78     1187
24,02     2785
24,85     4037
30,95     7744
31,78    10150
36,19    16495
37,03    19497
40,54    26760
41,38    29996
44,32    36164
45,2     37834
47,74    41649
48,66    40791
50,93    40593
51,89    38855
53,93    35727
54,95    32892
56,82    28373
57,9     26135
59,66    20373
60,81    18969
62,46    13974
63,68    12721
65,24     8663
66,58     8054
68,09     5141
69,52     4691
71        2777
72,54     2537
74,04     1296
75,71     1134
77,27      508
79,06      484
80,75      203
82,67      175
84,61      169
86,67      162
89,03       19
91,23       15
94,37        1
96,7         3
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [191]:
clean_target(data_2010_2, c)

In [192]:
c = 'PUNT_BIOLOGIA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['0', '10,93', '104,95', '105,78', '122,17', '123', '20,03', '21,53',
       '26,84', '28,18', '32,02', '33,24', '36,32', '37,43', '40,06', '41,1',
       '43,43', '44,42', '46,57', '47,48', '49,51', '50,4', '52,34', '53,19',
       '55,09', '55,92', '57,8', '58,6', '60,48', '61,28', '63,2', '63,99',
       '65,98', '66,77', '68,87', '69,65', '71,9', '72,69', '75,16', '75,95',
       '78,77', '79,57', '82,9', '83,7', '87,87', '88,69', '9,22', '94,44',
       '95,26'],
      dtype='object')
0           118
10,93       377
104,95       37
105,78       36
122,17        8
123           5
20,03      1205
21,53      1649
26,84      3765
28,18      5020
32,02      8609
33,24     11521
36,32     15310
37,43     20101
40,06     22809
41,1      28859
43,43     29318
44,42     35975
46,57     32922
47,48     38969
49,51     33055
50,4      37782
52,34     30148
53,19     33627
55,09     25514
55,92     27991
57,8      20561
58,6      21870
60,48     15479
61,28     16201
63,2      11331
63,99     11590
65,98      7704
66,77      7935
68,87      5081
69,65      5221
71,9       3234
72,69      3246
75,16      1873
75,95      1977
78,77      1013
79,57      1092
82,9        618
83,7        543
87,87       300
88,69       293
9,22        285
94,44       104
95,26        96
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [193]:
clean_target(data_2010_2, c)
for i in data_2010_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2010_2[c] = data_2010_2[c].replace(i, 100)

In [194]:
c = 'PUNT_QUIMICA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['0', '102,71', '103,04', '118,5', '118,8', '15,71', '16,04', '25,41',
       '25,77', '31,49', '31,86', '36,08', '36,48', '39,88', '40,31', '43,19',
       '43,65', '46,19', '46,66', '48,96', '49,44', '51,58', '52,07', '54,1',
       '54,61', '56,56', '57,08', '59', '59,52', '61,43', '61,96', '63,93',
       '64,44', '66,48', '66,99', '69,14', '69,64', '71,97', '72,45', '75,02',
       '75,48', '78,39', '78,83', '82,24', '82,67', '86,89', '87,29', '92,99',
       '93,36'],
      dtype='object')
0           180
102,71      244
103,04      284
118,5        48
118,8        48
15,71       436
16,04       692
25,41      2204
25,77      3152
31,49      6591
31,86      9059
36,08     14229
36,48     18767
39,88     23342
40,31     29900
43,19     31054
43,65     37516
46,19     34288
46,66     40312
48,96     33456
49,44     37821
51,58     29363
52,07     32321
54,1      24045
54,61     26176
56,56     18900
57,08     20629
59        14867
59,52     15933
61,43     11109
61,96     11770
63,93      8107
64,44      8736
66,48      5709
66,99      6073
69,14      4027
69,64      4164
71,97      2672
72,45      2913
75,02      1996
75,48      1984
78,39      1416
78,83      1459
82,24       976
82,67      1034
86,89       716
87,29       719
92,99       466
93,36       474
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [195]:
clean_target(data_2010_2, c)
for i in data_2010_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2010_2[c] = data_2010_2[c].replace(i, 100)

In [196]:
c = 'PUNT_FISICA'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['0', '101,24', '101,7', '108,94', '109,41', '12,03', '12,07', '121,32',
       '121,79', '24,39', '24,43', '32,09', '32,14', '37,9', '37,96', '42,69',
       '42,77', '46,87', '46,97', '50,64', '50,75', '54,13', '54,26', '57,4',
       '57,57', '60,57', '60,76', '63,65', '63,86', '66,68', '66,93', '69,72',
       '69,98', '72,78', '73,09', '75,93', '76,27', '79,22', '79,58', '82,7',
       '83,07', '86,47', '86,86', '90,62', '91,05', '95,42', '95,86'],
      dtype='object')
0           361
101,24       12
101,7         8
108,94        2
109,41        5
12,03      1277
12,07      1013
121,32        2
121,79        1
24,39      5225
24,43      4293
32,09     14108
32,14     11603
37,9      27284
37,96     22713
42,69     39687
42,77     34385
46,87     48000
46,97     42056
50,64     48464
50,75     42236
54,13     42580
54,26     37004
57,4      32230
57,57     28326
60,57     22137
60,76     19604
63,65     14068
63,86     12214
66,68      7878
66,93      7014
69,72      4443
69,98      3835
72,78      2277
73,09      1906
75,93      1127
76,27      1006
79,22       504
79,58       451
82,7        312
83,07       300
86,47       150
86,86       143
90,62        45
91,05        42
95,42        19
95,86        27
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [197]:
clean_target(data_2010_2, c)
for i in data_2010_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2010_2[c] = data_2010_2[c].replace(i, 100)

In [198]:
c = 'PUNT_INGLES'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['-1', '0', '102,61', '102,96', '116,95', '117,29', '15,82', '16,08',
       '21,05', '21,34', '24,9', '25,22', '27,99', '28,32', '30,61', '30,95',
       '32,9', '33,25', '34,94', '35,31', '36,8', '37,19', '38,53', '38,92',
       '40,14', '40,54', '41,66', '42,07', '43,11', '43,53', '44,51', '44,93',
       '45,84', '46,27', '47,15', '47,58', '48,42', '48,86', '49,66', '50,1',
       '50,87', '51,33', '52,08', '52,54', '53,27', '53,73', '54,45', '54,92',
       '55,62', '56,09', '56,82', '57,29', '58,01', '58,47', '59,21', '59,67',
       '60,44', '60,9', '61,66', '62,13', '62,94', '63,4', '64,24', '64,7',
       '65,57', '66,03', '66,95', '67,41', '68,41', '68,86', '69,93', '7,21',
       '7,44', '70,37', '71,53', '71,98', '73,24', '73,68', '75,1', '75,52',
       '77,13', '77,55', '79,4', '79,81', '81,98', '82,38', '85,05', '85,44',
       '88,85', '89,24', '94,05', '94,41'],
      dtype='object')
-1          289
0            63
102,61      899
102,96      586
116,95      400
117,29      257
15,82        15
16,08         9
21,05        26
21,34        24
24,9         73
25,22        66
27,99       214
28,32       239
30,61       569
30,95       610
32,9       1433
33,25      1394
34,94      2864
35,31      2752
36,8       5492
37,19      5105
38,53      9314
38,92      8232
40,14     13751
40,54     11891
41,66     18588
42,07     15703
43,11     23453
43,53     19461
          ...
64,24      2908
64,7       2082
65,57      2641
66,03      1944
66,95      2493
67,41      1876
68,41      2247
68,86      1669
69,93      2192
7,21          6
7,44          5
70,37      1534
71,53      1984
71,98      1519
73,24      1956
73,68      1420
75,1       1806
75,52      1355
77,13      1690
77,55      1239
79,4       1600
79,81      1182
81,98      1523
82,38      1132
85,05      1499
85,44       994
88,85      1340
89,24       959
94,05      1182
94,41       791
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [199]:
clean_target(data_2010_2, c)
for i in data_2010_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2010_2[c] = data_2010_2[c].replace(i, 100)
    elif i < 0:
        data_2010_2[c] = data_2010_2[c].replace(i, 0)

In [200]:
c = 'DESEMP_INGLES'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    334112
A1    180660
A2     36561
B+      8909
B1     22135
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [201]:
c = 'NOMBRE_COMP_FLEXIBLE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['MEDIO AMBIENTE', 'PROFUNDIZACIÓN EN BIOLOGÍA',
       'PROFUNDIZACIÓN EN CIENCIAS SOCIALES', 'PROFUNDIZACIÓN EN LENGUAJE',
       'PROFUNDIZACIÓN EN MATEMÁTICA', 'VIOLENCIA Y SOCIEDAD'],
      dtype='object')
MEDIO AMBIENTE                         190820
PROFUNDIZACIÓN EN BIOLOGÍA              73298
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     41941
PROFUNDIZACIÓN EN LENGUAJE              83761
PROFUNDIZACIÓN EN MATEMÁTICA            55065
VIOLENCIA Y SOCIEDAD                   137492
Name: NOMBRE_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [202]:
c = 'PUNT_COMP_FLEXIBLE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['0', '1,8', '10,8', '105,44', '2,4', '2,5', '2,7', '20,65', '23,53',
       '25,31', '29,25', '3,3', '3,4', '3,5', '3,6', '3,8', '32,83', '34,83',
       '34,94', '38,82', '39,45', '4,1', '4,2', '4,3', '4,6', '4,7', '4,8',
       '4,9', '40,34', '43,34', '43,52', '46,11', '46,86', '47,56', '48,21',
       '5', '5,1', '5,2', '5,3', '5,4', '5,5', '5,6', '5,7', '5,8', '5,9',
       '50,17', '51,24', '51,59', '53,36', '54,75', '55,2', '56,57', '58,21',
       '59,9', '6,1', '6,2', '6,5', '6,6', '6,9', '61,76', '63,5', '65,51',
       '67,67', '69,66', '7,1', '7,3', '7,4', '7,7', '7,8', '7,9', '72,93',
       '74,52', '8,3', '8,4', '80,73', '81,07', '9,1', '9,3', '90,34',
       '94,04'],
      dtype='object')
0          1886
1,8         348
10,8         48
105,44       10
2,4        2372
2,5        1252
2,7        3387
20,65      1114
23,53      3231
25,31         6
29,25      3428
3,3        2100
3,4        3858
3,5        6826
3,6        6323
3,8        2982
32,83      9964
34,83        18
34,94      7573
38,82     18807
39,45     12343
4,1        7181
4,2       16659
4,3       10568
4,6       14706
4,7       12980
4,8       17043
4,9        5548
40,34        46
43,34     16530
          ...
55,2         38
56,57     14283
58,21     19956
59,9      11384
6,1       11689
6,2        7547
6,5        8838
6,6        1577
6,9        4444
61,76     13964
63,5       8221
65,51      8554
67,67      5112
69,66      4346
7,1         614
7,3        1522
7,4         416
7,7         504
7,8         398
7,9         152
72,93      2308
74,52      1727
8,3         225
8,4         149
80,73       505
81,07       642
9,1          21
9,3         145
90,34       104
94,04        88
Name: PUNT_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [203]:
clean_target(data_2010_2, c)
for i in data_2010_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2010_2[c] = data_2010_2[c].replace(i, 100)

In [204]:
c = 'DESEMP_COMP_FLEXIBLE'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB      70977
I      194890
II     229963
III     86547
Name: DESEMP_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

In [205]:
c = 'ESTU_PUESTO'
print(data_2010_2[c].value_counts().sort_index().index)
print(data_2010_2[c].value_counts().sort_index())
print(missing_data(data_2010_2[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       584
2       589
3       588
4       588
5       585
6       588
7       587
8       588
9       587
10      587
11      585
12      586
13      585
14      583
15      582
16      586
17      587
18      586
19      589
20      588
21      586
22      586
23      583
24      584
25      584
26      587
27      583
28      585
29      586
30      582
       ...
971     579
972     584
973     580
974     587
975     584
976     584
977     584
978     585
979     583
980     583
981     585
982     586
983     588
984     586
985     585
986     579
987     583
988     585
989     584
990     588
991     582
992     581
993     582
994     583
995     586
996     580
997     583
998     569
999     420
1000    250
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 582377
__________________
(582377,)
None

____

## Saving

Now i can encode and transform the obtained DataFrames into csv files

In [206]:
data_2010 = label_encoder(data_2010)
data_2010_2 = label_encoder(data_2010_2)

In [207]:
data_2010.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2010_1.csv', sep=';', index=False)
data_2010_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2010_2.csv', sep=';', index=False)