In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2016 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20161-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2016.shape

(74129, 64)

In [4]:
data_2016.head(3).T

,0,1,2
PERIODO,20161,20161,20161
ESTU_CONSECUTIVO,SABER11201611,SABER11201612,SABER11201613
ESTU_EDAD,38,36,26
ESTU_TIPO_DOCUMENTO,CC,CC,CC
ESTU_PAIS_RESIDE,1,1,1
ESTU_GENERO,M,M,M
ESTU_FECHA_NACIMIENTO,08/02/1978,30/01/1980,05/04/1989
ESTU_ETNIA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_CONDICIONESPECIAL,NaN,NaN,NaN
ESTU_LIMITA_SORDO,NaN,NaN,NaN
ESTU_LIMITA_SDOWN,NaN,NaN,NaN
ESTU_LIMITA_AUTISMO,NaN,NaN,NaN
ESTU_AREA_RESIDE,U,U,U
COLE_COD_MCPIO_UBICACION,52001,11001,11001
ESTU_RESIDE_MCPIO,PASTO,BOGOTÁ D.C.,BOGOTÁ D.C.
ESTU_RESIDE_DEPTO,NARIÑO,BOGOTA,BOGOTA
ESTU_ZONA_RESIDE,10,1,4
COLE_COD_DANE_INSTITUCION,NaN,NaN,NaN
COLE_COD_ICFES,NaN,NaN,NaN
COLE_NOMBRE_SEDE,NaN,NaN,NaN
COLE_JORNADA,NaN,NaN,NaN
ESTU_PRIVADO_LIBERTAD,N,N,N
ESTU_ANO_TERMINO_BACHILL,1997,1998,2008
ESTU_MES_TERMINO_BACHILL,7,10,11
ESTU_NUMERO_LIBROS,0 A 10 LIBROS,MÁS DE 100 LIBROS,0 A 10 LIBROS
ESTU_OTRO_PLANTEL,COLEGIO ANTONIO NARIÑO,NaN,NaN
ESTU_COD_OTRO_PAIS_PLANTEL,1,1,1
...,...,...,...
ESTU_DEPTO_PRESENTACION,NARIÑO,BOGOTA,BOGOTA
FAMI_EDUCA_PADRE,4,8,3
FAMI_EDUCA_MADRE,4,4,2
FAMI_OCUPA_PADRE,9,12,9
FAMI_OCUPA_MADRE,10,12,8
FAMI_NUM_HERMANOS,3,1,6
FAMI_ESTRATO_VIVIENDA,2,5,2
FAMI_NIVEL_SISBEN,5,5,2
FAMI_PERSONAS_HOGAR,4,1,2
FAMI_CUARTOS_HOGAR,2,1,2
FAMI_PISOSHOGAR,2,4,2
FAMI_TELEFONO_FIJO,N,S,N
FAMI_INTERNET,S,S,N
FAMI_TELEVISOR,S,N,S
FAMI_COMPUTADOR,S,S,N
FAMI_DVD,S,S,S
FAMI_LAVADORA,N,N,N
FAMI_MICROONDAS,S,N,N
FAMI_AUTOMOVIL,N,N,N
FAMI_HORNO,N,S,N
FAMI_INGRESO_FMILIAR_MENSUAL,2,5,2
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_RECIBE_SALARIO,NaN,NaN,NaN
ESTU_VECES_ESTADO_ESTUDIANTIL,4,2,1
PUNT_LECTURA_CRITICA,57,85,39
PUNT_MATEMATICAS,61,67,57
PUNT_C_NATURALES,61,55,51
PUNT_SOCIALES_CIUDADANAS,64,77,47
PUNT_INGLES,55,100,46
DESEMP_INGLES,A1,B+,A-

In [5]:
c = 'ESTU_CONSECUTIVO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['SABER11201611', 'SABER112016110', 'SABER1120161100',
       'SABER11201611000', 'SABER112016110000', 'SABER112016110001',
       'SABER112016110002', 'SABER112016110003', 'SABER112016110004',
       'SABER112016110005',
       ...
       'SABER11201619990', 'SABER11201619991', 'SABER11201619992',
       'SABER11201619993', 'SABER11201619994', 'SABER11201619995',
       'SABER11201619996', 'SABER11201619997', 'SABER11201619998',
       'SABER11201619999'],
      dtype='object', length=74129)
SABER11201611        1
SABER112016110       1
SABER1120161100      1
SABER11201611000     1
SABER112016110000    1
SABER112016110001    1
SABER112016110002    1
SABER112016110003    1
SABER112016110004    1
SABER112016110005    1
SABER112016110006    1
SABER112016110007    1
SABER112016110008    1
SABER112016110009    1
SABER11201611001     1
SABER112016110010    1
SABER112016110011    1
SABER112016110012    1
SABER112016110013    1
SABER112016110014    1
SABER112016110015    1
SABER112016110016    1
SABER112016110017    1
SABER112016110018    1
SABER112016110019    1
SABER11201611002     1
SABER112016110020    1
SABER112016110021    1
SABER112016110022    1
SABER112016110023    1
                    ..
SABER11201619972     1
SABER11201619973     1
SABER11201619974     1
SABER11201619975     1
SABER11201619976     1
SABER11201619977     1
SABER11201619978     1
SABER11201619979     1
SABER1120161998      1
SABER11201619980     1
SABER11201619981     1
SABER11201619982     1
SABER11201619983     1
SABER11201619984     1
SABER11201619985     1
SABER11201619986     1
SABER11201619987     1
SABER11201619988     1
SABER11201619989     1
SABER1120161999      1
SABER11201619990     1
SABER11201619991     1
SABER11201619992     1
SABER11201619993     1
SABER11201619994     1
SABER11201619995     1
SABER11201619996     1
SABER11201619997     1
SABER11201619998     1
SABER11201619999     1
Name: ESTU_CONSECUTIVO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74129
__________________
(74129,)
None

In [6]:
data_2016 = data_2016.drop(c, axis=1)

In [7]:
c = 'PERIODO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([20161], dtype='int64')
20161    74129
Name: PERIODO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74129
__________________
(74129,)
None

In [8]:
data_2016 = data_2016.drop(c, axis=1)

In [9]:
c = 'ESTU_EDAD'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([ -83,  -72,  -66,    0,    1,    2,    3,    5,    6,    7,    8,
               9,   10,   11,   12,   13,   14,   15,   16,   17,   18,   19,
              20,   21,   22,   23,   24,   25,   26,   27,   28,   29,   30,
              31,   32,   33,   34,   35,   36,   37,   38,   39,   40,   41,
              42,   43,   44,   45,   46,   47,   48,   49,   50,   51,   52,
              53,   54,   55,   56,   57,   58,   59,   60,   61,   62,   63,
              64,   65,   66,   67,   68,   70,   71,   73,  116,  134,  825,
            1023, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1928,
            1929, 1931, 1934, 1935, 1942, 1944, 1960, 1999, 2004],
           dtype='int64')
-83          1
-72          1
-66          1
 0         162
 1          23
 2           3
 3           4
 5           1
 6           5
 7           6
 8           5
 9           2
 10          4
 11          2
 12          1
 13          3
 14         35
 15        845
 16       9268
 17      17419
 18      12027
 19       6763
 20       4730
 21       3645
 22       2825
 23       2234
 24       1817
 25       1453
 26       1244
 27       1038
         ...
 65          3
 66          4
 67          6
 68          1
 70          2
 71          1
 73          1
 116        18
 134         1
 825         1
 1023        1
 1918        5
 1919        8
 1920        9
 1921        8
 1922        2
 1923        5
 1924        3
 1925        2
 1926        1
 1928        1
 1929        2
 1931        2
 1934        1
 1935        1
 1942        1
 1944        1
 1960        1
 1999        1
 2004        1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74129
__________________
(74129,)
None

In [10]:
c = 'ESTU_TIPO_DOCUMENTO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['CC', 'CE', 'CR', 'PC', 'PE', 'TI'], dtype='object')
CC    42198
CE      213
CR      715
PC       27
PE       91
TI    30885
Name: ESTU_TIPO_DOCUMENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74129
__________________
(74129,)
None

In [11]:
data_2016 = data_2016.drop(c, axis=1)

In [12]:
c = 'ESTU_PAIS_RESIDE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([  1,   5,  12,  17,  28,  33,  41,  46,  50,  52,  54,  56,  57,
             64,  65,  67,  76,  83,  91,  99, 105, 109, 110, 112, 118, 119,
            124, 129, 144, 152, 157, 160, 166, 171, 173, 174, 178, 209, 215,
            216, 227, 228, 236, 238, 241, 242],
           dtype='int64')
1      73796
5          1
12        17
17         1
28         8
33        11
41         3
46         7
50         8
52         1
54         3
56         1
57         2
64         1
65        28
67         2
76         8
83         7
91         1
99         1
105        1
109        1
110        1
112        2
118        1
119        2
124        1
129        1
144       11
152        1
157        2
160        1
166        1
171        4
173        1
174       23
178        1
209       15
215        1
216        2
227        1
228        1
236       30
238        2
241      112
242        3
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74129
__________________
(74129,)
None

In [13]:
c = 'ESTU_GENERO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['F', 'M'], dtype='object')
F    37735
M    36205
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 189
__________________
Elementos diferentes de null/NaN: 73940
__________________
(73940,)
None

In [14]:
Do_resamples(data_2016, c, str)

cant null antes: 189
cant null despues: 0

In [15]:
c = 'ESTU_FECHA_NACIMIENTO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['01/01/1900', '01/01/1962', '01/01/1966', '01/01/1967', '01/01/1970',
       '01/01/1974', '01/01/1976', '01/01/1977', '01/01/1978', '01/01/1980',
       ...
       '31/12/1991', '31/12/1992', '31/12/1993', '31/12/1994', '31/12/1995',
       '31/12/1996', '31/12/1997', '31/12/1998', '31/12/1999', '31/12/2000'],
      dtype='object', length=9789)
01/01/1900     13
01/01/1962      1
01/01/1966      1
01/01/1967      1
01/01/1970      1
01/01/1974      1
01/01/1976      1
01/01/1977      1
01/01/1978      1
01/01/1980      3
01/01/1981      1
01/01/1982      2
01/01/1983      2
01/01/1984      6
01/01/1985      5
01/01/1986      3
01/01/1987      3
01/01/1988      1
01/01/1989      4
01/01/1990      4
01/01/1991      5
01/01/1992      5
01/01/1993      6
01/01/1994      6
01/01/1995     16
01/01/1996     16
01/01/1997     19
01/01/1998     32
01/01/1999    456
01/01/2000     13
             ...
31/10/1997     38
31/10/1998     43
31/10/1999     12
31/10/2000      1
31/10/2016      1
31/12/1966      1
31/12/1969      1
31/12/1971      1
31/12/1972      2
31/12/1974      3
31/12/1976      2
31/12/1978      1
31/12/1979      4
31/12/1980      1
31/12/1983      1
31/12/1984      2
31/12/1986      3
31/12/1987      1
31/12/1988      2
31/12/1989      4
31/12/1991      4
31/12/1992      8
31/12/1993      7
31/12/1994      8
31/12/1995     10
31/12/1996     20
31/12/1997     27
31/12/1998     36
31/12/1999     14
31/12/2000      1
Name: ESTU_FECHA_NACIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74129
__________________
(74129,)
None

In [16]:
Sep_Col = pd.DataFrame(data_2016.ESTU_FECHA_NACIMIENTO.str.split('/').tolist(), columns=['ESTU_NACIMIENTO_DIA', 
                                                                                         'ESTU_NACIMIENTO_MES',
                                                                                         'ESTU_NACIMIENTO_ANNO'])
data_2016 = pd.concat([data_2016, Sep_Col], axis=1)

In [17]:
data_2016 = data_2016.drop(c, axis=1)

In [18]:
c = 'ESTU_ETNIA'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0,  99.0, 100.0],
             dtype='float64')
1      1160
2        40
3         3
4       133
5         6
6        79
7        63
8       120
9       395
10       10
11       28
12        4
13        5
14        6
15        8
16       10
17       27
18       83
19      545
99        1
100     888
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 70515
__________________
Elementos diferentes de null/NaN: 3614
__________________
(3614,)
None

In [19]:
data_2016[c].fillna(100, inplace=True)

In [20]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 74129
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [21]:
data_2016 = data_2016.drop(c, axis=1)

In [22]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['MOT'], dtype='object')
MOT    115
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 74014
__________________
Elementos diferentes de null/NaN: 115
__________________
(115,)
None

In [23]:
data_2016 = data_2016.drop(c, axis=1)

In [24]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['VIS'], dtype='object')
VIS    28
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 74101
__________________
Elementos diferentes de null/NaN: 28
__________________
(28,)
None

In [25]:
data_2016 = data_2016.drop(c, axis=1)

In [26]:
c = 'ESTU_LIMITA_CONDICIONESPECIAL'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['CE'], dtype='object')
CE    30
Name: ESTU_LIMITA_CONDICIONESPECIAL, dtype: int64
Elementos null/NaN 74099
__________________
Elementos diferentes de null/NaN: 30
__________________
(30,)
None

In [27]:
data_2016 = data_2016.drop(c, axis=1)

In [28]:
c = 'ESTU_LIMITA_SORDO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['AUD'], dtype='object')
AUD    13
Name: ESTU_LIMITA_SORDO, dtype: int64
Elementos null/NaN 74116
__________________
Elementos diferentes de null/NaN: 13
__________________
(13,)
None

In [29]:
data_2016 = data_2016.drop(c, axis=1)

In [30]:
c = 'ESTU_LIMITA_SDOWN'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['SD'], dtype='object')
SD    9
Name: ESTU_LIMITA_SDOWN, dtype: int64
Elementos null/NaN 74120
__________________
Elementos diferentes de null/NaN: 9
__________________
(9,)
None

In [31]:
data_2016 = data_2016.drop(c, axis=1)

In [32]:
c = 'ESTU_LIMITA_AUTISMO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['AA'], dtype='object')
AA    27
Name: ESTU_LIMITA_AUTISMO, dtype: int64
Elementos null/NaN 74102
__________________
Elementos diferentes de null/NaN: 27
__________________
(27,)
None

In [33]:
data_2016 = data_2016.drop(c, axis=1)

In [34]:
c = 'ESTU_AREA_RESIDE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['R', 'U'], dtype='object')
R    10572
U    61917
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72489
__________________
(72489,)
None

In [35]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [36]:
c = 'COLE_COD_MCPIO_UBICACION'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([ 5001.0,  5002.0,  5004.0,  5030.0,  5031.0,  5034.0,  5040.0,
               5042.0,  5045.0,  5051.0,
              ...
              94001.0, 94343.0, 94888.0, 95001.0, 95015.0, 95025.0, 97001.0,
              99001.0, 99524.0, 99999.0],
             dtype='float64', length=951)
5001     1831
5002        2
5004        1
5030        5
5031        4
5034        4
5040        3
5042        3
5045      229
5051        3
5079       17
5086        1
5088      250
5091        2
5101        2
5107        1
5113        1
5120        5
5125        2
5129       27
5134        2
5142        1
5147       97
5148       47
5154       52
5172       37
5190        1
5197        1
5209        1
5212       43
         ...
85410      24
85430      11
85440      29
86001     105
86219      13
86320      67
86568     114
86569       5
86571       9
86573       2
86749      78
86755      12
86757       4
86760      12
86865      58
86885      30
88001      30
88564       4
91001      14
91540       1
94001       8
94343       1
94888       1
95001      60
95015       4
95025       9
97001       8
99001      23
99524       2
99999       6
Name: COLE_COD_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [37]:
data_2016 = data_2016.drop(c, axis=1)

In [38]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACEVEDO', 'AGRADO',
       'AGUA DE DIOS', 'AGUACHICA', 'AGUADAS', 'AGUAZUL',
       ...
       'YOTOCO', 'YUMBO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=885)
ABEJORRAL                      2
ABREGO                        20
ABRIAQUI                       1
ACACIAS                       95
ACEVEDO                       40
AGRADO                         5
AGUA DE DIOS                  24
AGUACHICA                    168
AGUADAS                        5
AGUAZUL                       56
AGUSTIN CODAZZI               33
AIPE                          18
ALBAN                          2
ALBAN (SAN JOSE)              44
ALBANIA                       44
ALCALA                         3
ALDANA                        17
ALGECIRAS                     21
ALMAGUER                       4
ALPUJARRA                      3
ALTAMIRA                       3
ALTO BAUDO (PIE DE PATO)       2
ALTOS DEL ROSARIO              1
ALVARADO                       3
AMAGA                          5
AMALFI                         4
AMBALEMA                       1
ANAPOIMA                       5
ANCUYA                        40
ANDALUCIA                     23
                            ...
VILLAGARZON                   30
VILLAHERMOSA                   6
VILLAMARIA                   125
VILLANUEVA                    71
VILLAPINZON                    5
VILLARRICA                     1
VILLAVICENCIO               1005
VILLAVIEJA                    12
VILLETA                       30
VIOTA                          8
VIRACACHA                      5
VISTA HERMOSA                  8
VITERBO                        4
YACOPI                         3
YACUANQUER                    30
YAGUARA                       19
YARUMAL                       22
YOLOMBO                        3
YONDO (CASABE)                 9
YOPAL                        232
YOTOCO                        23
YUMBO                        230
ZAPATOCA                       5
ZAPAYAN                        1
ZARAGOZA                       5
ZARZAL                        77
ZETAQUIRA                      2
ZIPACON                        2
ZIPAQUIRA                    138
ZONA BANANERA                 13
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [39]:
idx = data_2016[data_2016[c].isnull()].index
data_2016 = data_2016.drop(idx)

In [40]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'EXTRANJERO', 'GUAINIA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE',
       'TOLIMA', 'VALLE', 'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS              15
ANTIOQUIA           3681
ARAUCA               256
ATLANTICO           2131
BOGOTA             15014
BOLIVAR             1176
BOYACA              3669
CALDAS              1761
CAQUETA              488
CASANARE             464
CAUCA               2130
CESAR               1080
CHOCO                386
CORDOBA              722
CUNDINAMARCA        2836
EXTRANJERO             6
GUAINIA               10
GUAVIARE              73
HUILA               3136
LA GUAJIRA           562
MAGDALENA            519
META                1342
NARIÑO              6570
NORTE SANTANDER     1664
PUTUMAYO             509
QUINDIO              870
RISARALDA           1428
SAN ANDRES            34
SANTANDER           4588
SUCRE                383
TOLIMA              2029
VALLE              14563
VAUPES                 8
VICHADA               25
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [41]:
c = 'ESTU_ZONA_RESIDE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')
1      8065
2       751
3      1654
4     10841
5      5894
6      2457
7      1632
8      3084
9      2609
10    37141
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [42]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([105001003425.0, 105045000318.0, 105088000486.0, 105088003175.0,
              105266000061.0, 111001011908.0, 111001013129.0, 111001013676.0,
              111001034134.0, 111001046477.0,
              ...
              476892099728.0, 485001004526.0, 486568061250.0, 519001000002.0,
              537610901165.0, 541001008097.0, 568001009730.0, 568432001300.0,
              625214000001.0, 625269000075.0],
             dtype='float64', length=584)
1.050010e+11     19
1.050450e+11     34
1.050880e+11      1
1.050880e+11     15
1.052660e+11     27
1.110010e+11     23
1.110010e+11     15
1.110010e+11     17
1.110010e+11     13
1.110010e+11     19
1.110011e+11     13
1.110011e+11     30
1.110011e+11     39
1.117690e+11     28
1.170010e+11      1
1.410010e+11      9
1.520830e+11      1
1.542610e+11      1
1.765200e+11     22
1.765200e+11     14
3.020060e+11     13
3.050010e+11     32
3.050010e+11     94
3.050010e+11      9
3.050010e+11     56
3.050010e+11     17
3.050010e+11     13
3.050010e+11     20
3.050010e+11      5
3.050010e+11     91
               ...
4.253770e+11     36
4.253771e+11      2
4.257990e+11     13
4.257990e+11      7
4.257990e+11     20
4.470010e+11     30
4.636900e+11     38
4.660010e+11      5
4.660010e+11     20
4.760010e+11     27
4.760010e+11     10
4.760010e+11     27
4.760010e+11     34
4.761300e+11     56
4.762480e+11    112
4.762480e+11     14
4.765200e+11     16
4.765200e+11     20
4.765200e+11    123
4.768921e+11      9
4.768921e+11     11
4.850010e+11      3
4.865681e+11      5
5.190010e+11     47
5.376109e+11      1
5.410010e+11     15
5.680010e+11      8
5.684320e+11      1
6.252140e+11     29
6.252690e+11      8
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 55475
__________________
Elementos diferentes de null/NaN: 18653
__________________
(18653,)
None

In [43]:
Do_resamples(data_2016, c, float)

cant null antes: 55475
cant null despues: 0

In [44]:
c = 'COLE_COD_ICFES'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([   182.0,   3046.0,   3327.0,   3350.0,   3418.0,   3459.0,
                4234.0,   5892.0,   6023.0,   7013.0,
              ...
              197947.0, 197954.0, 199273.0, 199430.0, 199588.0, 199653.0,
              199679.0, 199711.0, 199737.0, 199745.0],
             dtype='float64', length=623)
182        94
3046       84
3327       19
3350       12
3418       48
3459       64
4234       49
5892        1
6023       92
7013       66
7070       60
7088       53
9696        9
11262      75
11288      88
12435       1
16667      70
16691     157
16709      84
16733      44
16741      84
16766      45
16774      75
16824      20
16832      61
16873      36
16881      28
16956      29
16972      73
16980     157
         ...
188557      2
188581     30
190009     46
190280     14
190744     11
190991     36
191288      5
191304      5
191445      8
191833     43
191874     18
191882      9
192278     34
193268      2
195040      6
195057     24
195404     11
196667      6
197889      9
197939     26
197947     19
197954      9
199273      2
199430     27
199588     14
199653      5
199679      1
199711     12
199737     15
199745      6
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 55475
__________________
Elementos diferentes de null/NaN: 18653
__________________
(18653,)
None

In [45]:
Do_resamples(data_2016, c, float)

cant null antes: 55475
cant null despues: 0

In [46]:
c = 'COLE_NOMBRE_SEDE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['ACAD AMERICANA DE SISTEMAS Y COMERCIO',
       'ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO',
       'ACADEMIA COLOMBIANA DE ENSEÑANZA',
       'ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS',
       'ACADEMIA GENERAL JOSE MARIA CABAL - SEDE PRINCIPAL',
       'ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA',
       'ALAS COLEGIO  - SEDE PRINCIPAL', 'AMERICAN SCHOOL',
       'ASOCIACION COLEGIO GRANADINO',
       'ASPAEN COLEGIO JUANAMBÚ - SEDE PRINCIPAL',
       ...
       'SANTA MARIANA DE JESÚS', 'SEM DE CRISTO SACERDOTE',
       'SEMINARIO MENOR ARQUIDIOCESANO',
       'SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS',
       'SOC ESCUELA KARL C PARRISH',
       'STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION',
       'TANDEM - SEDE PRINCIPAL', 'TERRA INSTITUTI - SEDE PRINCIPAL',
       'UNITECNICAS - SEDE PRINCIPAL', 'VERNOT SCHOOL'],
      dtype='object', length=574)
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                                    2
ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO                                                                  21
ACADEMIA COLOMBIANA DE ENSEÑANZA                                                                        42
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                                               26
ACADEMIA GENERAL JOSE MARIA CABAL - SEDE PRINCIPAL                                                      19
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                                                               7
ALAS COLEGIO  - SEDE PRINCIPAL                                                                           8
AMERICAN SCHOOL                                                                                         31
ASOCIACION COLEGIO GRANADINO                                                                            45
ASPAEN COLEGIO JUANAMBÚ - SEDE PRINCIPAL                                                                14
ASPAEN GIMNASIO CARTAGENA                                                                               15
ASPAEN GIMNASIO IRAGUA                                                                                  82
ASPAEN LICEO TACURÍ                                                                                     26
ASPAEN LOS CORALES                                                                                      18
ASPAEN-GIMNASIO LOS CEREZOS                                                                             15
BACHILLERATO INTEGRAL DEL QUINDIO                                                                       18
BOSQUECITO ENCANTADO Y COLEGIO EL BOSQUE                                                                16
BTO DE ADULTOS UNAD                                                                                      7
BTO FORMAL DE ADULTOS DEL CAUCA                                                                         23
BTO PARA ADULTOS COLSUBSIDIO                                                                            49
C. E. FORMAL DISCENTER S - SEDE PRINCIPAL                                                               44
CARDENAS CENTRO                                                                                         22
CE PARA JOVENES Y ADULTOS PALMIRA - SEDE PRINCIPAL                                                      53
CENT DE CAPACITACION  LTDA (CENCABO)                                                                    25
CENT DE EDUC FORMAL ROBERT HOOKE                                                                        45
CENT DE ENSENANZA LATINOAMERICANA - CENLA                                                               13
CENT DE FORMACION EDUCATIVA CENFE                                                                        8
CENT DOCENTE PARA ADULTOS EDIMA                                                                         10
CENT EDUC DIST CAFAM BELLAVISTA                                                                         39
CENT EDUC DIST CAFAM LOS NARANJOS                                                                       30
                                                                                                        ..
LICEO COMERCIAL Y TECNOLOGICO DEL VALLE - SEDE PRINCIPAL                                                11
LICEO FRANCES PAUL VALERY                                                                               60
LICEO GALILEO GALILEI                                                                                   11
LICEO LATINO                                                                                             8
LICEO LOS PINOS                                                                                         14
LICEO MAYOR TECNICO DEL VALLE                                                                            5
LICEO NUESTRA SEÑORA DE LOURDES                                                                          7
LICEO QUIAL - SEDE PRINCIPAL                                                                            38
LICEO SUPERIOR JUAN PABLO II - SEDE PRINCIPAL                                                           32
NUEVO GIMNASIO CRISTIANO                                                                                43
NUEVO INSTITUTO SAN MIGUEL                                                                               2
POLITECNICO DE LOS ANDES SIGLO XXI                                                                       8
POLITECNICO INTEGRAL COLOMBIANO                                                                         16
POLITECNICO LA SALLE                                                                                    41
POLITECNICO MAYOR ANDINO                                                                                11
POLITECNICO SUPERIOR DEL VALLE                                                                           5
POLITECNICO UNIVERSAL DE CAPACITACION                                                                   22
REAL COL SAN FRANCISCO DE ASIS                                                                          60
SAINT GEORGE SCHOOL - SAN JORGE - SEDE PRINCIPAL                                                        20
SANTA  MARIA STELLA MARIS                                                                               32
SANTA MARIANA DE JESÚS                                                                                  29
SEM DE CRISTO SACERDOTE                                                                                 34
SEMINARIO MENOR ARQUIDIOCESANO                                                                          50
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                                                                61
SOC ESCUELA KARL C PARRISH                                                                              48
STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION                                               91
TANDEM - SEDE PRINCIPAL                                                                                 15
TERRA INSTITUTI - SEDE PRINCIPAL                                                                        83
UNITECNICAS - SEDE PRINCIPAL                                                                            10
VERNOT SCHOOL                                                                                           12
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 55475
__________________
Elementos diferentes de null/NaN: 18653
__________________
(18653,)
None

In [47]:
data_2016 = data_2016.drop(c, axis=1)

In [48]:
c = 'COLE_JORNADA'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['C', 'M', 'N', 'S', 'T', 'U'], dtype='object')
C    8936
M    6447
N    1303
S    1365
T     568
U      34
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 55475
__________________
Elementos diferentes de null/NaN: 18653
__________________
(18653,)
None

In [49]:
Do_resamples(data_2016, c, str)

cant null antes: 55475
cant null despues: 0

In [50]:
c = 'ESTU_PRIVADO_LIBERTAD'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    55301
S       19
Name: ESTU_PRIVADO_LIBERTAD, dtype: int64
Elementos null/NaN 18808
__________________
Elementos diferentes de null/NaN: 55320
__________________
(55320,)
None

In [51]:
Do_resamples(data_2016, c, str)

cant null antes: 18808
cant null despues: 0

In [52]:
c = 'ESTU_ANO_TERMINO_BACHILL'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0, 2014.0, 2015.0],
             dtype='float64')
1980      104
1981       24
1982       22
1983       27
1984       29
1985       30
1986       35
1987       36
1988       41
1989       58
1990       42
1991       62
1992       85
1993       97
1994      120
1995      132
1996      145
1997      201
1998      269
1999      311
2000      432
2001      418
2002      502
2003      582
2004      672
2005      755
2006      862
2007     1084
2008     1430
2009     1759
2010     2263
2011     2863
2012     3421
2013     4797
2014     8693
2015    22168
Name: ESTU_ANO_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 19557
__________________
Elementos diferentes de null/NaN: 54571
__________________
(54571,)
None

In [53]:
Do_resamples(data_2016, c, float)

cant null antes: 19557
cant null despues: 0

In [54]:
c = 'ESTU_MES_TERMINO_BACHILL'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       155
2       198
3       250
4       172
5       173
6      2723
7      3703
8       801
9       429
10      373
11    16914
12    28677
Name: ESTU_MES_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 19560
__________________
Elementos diferentes de null/NaN: 54568
__________________
(54568,)
None

In [55]:
Do_resamples(data_2016, c, float)

cant null antes: 19560
cant null despues: 0

In [56]:
c = 'ESTU_NUMERO_LIBROS'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['0 A 10 LIBROS', '11 A 25 LIBROS', '26 A 100 LIBROS',
       'MÁS DE 100 LIBROS'],
      dtype='object')
0 A 10 LIBROS        26634
11 A 25 LIBROS       20363
26 A 100 LIBROS      17322
MÁS DE 100 LIBROS     8169
Name: ESTU_NUMERO_LIBROS, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [57]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [58]:
c = 'ESTU_OTRO_PLANTEL'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index([' "isaac" newton ', ' Ateneo Autonomo De Colombia', ' CIET',
       ' COLEGIO ALFONSO LOPEZ PUMAREJO',
       ' COLEGIO MILITAR GENERAL RAFAEL REYES', ' COLEGIO SANTANDER',
       ' Colegio Mayor San Benito Apostol JM',
       ' EDUCATIVA TECNICA ANTONIO NARIÑO',
       ' Educativa Departamental San Gabriel ',
       ' Educativa Tecnica San Juan Bautista',
       ...
       'villa santana', 'villanelly sabatino', 'villas de san ignacio',
       'virtual andino', 'vista bella i-e-d', 'william shakespeare',
       'yoan quepler', 'zer international', 'zion school',
       '´validación icfes'],
      dtype='object', length=9502)
 "isaac" newton                             1
 Ateneo Autonomo De Colombia                1
 CIET                                       1
 COLEGIO ALFONSO LOPEZ PUMAREJO             1
 COLEGIO MILITAR GENERAL RAFAEL REYES       1
 COLEGIO SANTANDER                          1
 Colegio Mayor San Benito Apostol JM        1
 EDUCATIVA TECNICA ANTONIO NARIÑO           1
 Educativa Departamental San Gabriel        1
 Educativa Tecnica San Juan Bautista        1
 Fe y Alegria Madre sifFredi                1
 I E D MANUELA AYALA DE GAITAN              1
 I E Jorge Guillermo Mojica Marquez         1
 I. E san martin de porre                   1
 I.E. NUESTRA SEÑORA DEL ROSARIO            1
 I.E.D. Colegio Ricaurte                    1
 IED VILLA ELISA                            1
 IETIN " M.A.B"                             1
 INEM CARLOS ARTURO TORRES                  1
 INSTITUCION ALONSO RONQUILLO               1
 INSTITUCIÓN EDUCATIVA GENERAL FRANCISCO    1
 ISMAEL CONTRERAS MENESES                   1
 Inem Carlos Arturo Torres                  1
 Inem Francisco Jose de Caldas              1
 Institución Educativa Politécnico          1
 Instituto Fundetec                         1
 Instituto Gran Colombia                    1
 Instituto Nacional del Promocion Social    1
 Instìtuto Bolìvarìano Esdiseño             1
 JOSE EUSTACIO RIVERA - NOCTURNO            1
                                           ..
unitecnicas de colombia                     1
universidad a distancia                     1
universidad abierta y a distancia unad      1
universidad catolica de oriente             1
universidad cooperativa de colombia         1
universidad de antioquia                    1
universidad nacional abierta y a distanc    1
universidad pedagogica nacional             1
uparsistem                                  1
validacion                                  1
validacion icfes                            2
validación de bachillerato                  1
validante ICFES                             1
validantes taxis                            1
veintiun angeles                            1
veintiun angeles                            1
vernarda gonzales                           1
vernot school                               1
vida y paz rodrigo arenas betancur          1
villa margarita                             1
villa santana                               1
villanelly sabatino                         1
villas de san ignacio                       1
virtual andino                              1
vista bella i-e-d                           1
william shakespeare                         2
yoan quepler                                1
zer international                           1
zion school                                 1
´validación icfes                           1
Name: ESTU_OTRO_PLANTEL, dtype: int64
Elementos null/NaN 61830
__________________
Elementos diferentes de null/NaN: 12298
__________________
(12298,)
None

In [59]:
data_2016 = data_2016.drop(c, axis=1)

In [60]:
c = 'ESTU_COD_OTRO_PAIS_PLANTEL'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([  1.0,   2.0,  11.0,  12.0,  13.0,  17.0,  23.0,  28.0,  33.0,
               34.0,  36.0,  39.0,  40.0,  41.0,  42.0,  46.0,  50.0,  52.0,
               54.0,  55.0,  56.0,  57.0,  65.0,  67.0,  76.0,  91.0,  98.0,
               99.0, 103.0, 109.0, 110.0, 112.0, 118.0, 119.0, 131.0, 144.0,
              145.0, 152.0, 157.0, 160.0, 164.0, 166.0, 167.0, 168.0, 171.0,
              173.0, 174.0, 195.0, 199.0, 200.0, 202.0, 209.0, 216.0, 228.0,
              235.0, 236.0, 238.0, 240.0, 241.0, 242.0],
             dtype='float64')
1      54516
2          1
11         1
12        12
13         1
17         1
23         1
28         7
33         4
34         1
36         1
39         6
40         1
41         6
42        15
46        10
50        36
52         1
54         2
55         1
56         1
57         3
65        44
67         1
76         3
91         3
98         4
99         2
103        1
109        1
110        1
112        1
118        9
119        2
131        2
144        7
145        1
152        1
157        6
160        2
164        1
166        1
167        2
168        1
171       21
173        1
174       25
195        1
199        1
200        1
202        1
209       30
216        2
228        1
235        2
236       49
238        4
240        2
241      225
242        3
Name: ESTU_COD_OTRO_PAIS_PLANTEL, dtype: int64
Elementos null/NaN 19035
__________________
Elementos diferentes de null/NaN: 55093
__________________
(55093,)
None

In [61]:
Do_resamples(data_2016, c, float)

cant null antes: 19035
cant null despues: 0

In [62]:
c = 'COLE_VALOR_PENSION'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1     469
2    2936
3    1770
4    1140
5    2050
6    8629
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 57134
__________________
Elementos diferentes de null/NaN: 16994
__________________
(16994,)
None

In [63]:
Do_resamples(data_2016, c, float)

cant null antes: 57134
cant null despues: 0

In [64]:
c = 'ESTU_VECES_ESTADO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0        1
1    16665
2      293
3       20
4       15
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 57134
__________________
Elementos diferentes de null/NaN: 16994
__________________
(16994,)
None

In [65]:
Do_resamples(data_2016, c, float)

cant null antes: 57134
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [66]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([ 5001,  5045,  5154,  5615,  5756,  8001,  8758, 11001, 13001,
            13430, 15001, 15407, 15759, 17001, 17380, 18001, 18247, 19001,
            19532, 19698, 20001, 20011, 23001, 23466, 25183, 25269, 25290,
            25307, 25899, 27001, 27361, 41001, 41396, 44001, 44035, 44430,
            47001, 50001, 50313, 52001, 52356, 52835, 52838, 54001, 54498,
            54518, 63001, 66001, 68001, 68077, 68081, 68432, 68547, 68679,
            70001, 73001, 73268, 76001, 76109, 76111, 76147, 76520, 76622,
            76736, 76834, 81001, 81794, 85001, 85250, 86001, 86320, 86568,
            86749, 88001, 91001, 94001, 95001, 97001, 99001],
           dtype='int64')
5001      2905
5045       453
5154       102
5615       272
5756        29
8001      2135
8758        11
11001    16170
13001     1050
13430      104
15001     1826
15407      121
15759     1552
17001     1759
17380      239
18001      422
18247       59
19001     1751
19532       67
19698      508
20001      871
20011      227
23001      553
23466      100
25183       27
25269      579
25290      169
25307      273
25899      904
27001      367
         ...
68077      170
68081      339
68432       51
68547      413
68679      190
70001      420
73001     1564
73268      270
76001    11074
76109      353
76111      623
76147      278
76520     1571
76622      164
76736       67
76834      437
81001      152
81794       99
85001      370
85250       47
86001      119
86320       76
86568      109
86749       94
88001       45
91001       12
94001        9
95001       75
97001        8
99001       23
Name: ESTU_COD_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [67]:
data_2016 = data_2016.drop(c, axis=1)

In [68]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACEVEDO', 'AGRADO',
       'AGUA DE DIOS', 'AGUACHICA', 'AGUADAS', 'AGUAZUL',
       ...
       'YOTOCO', 'YUMBO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=885)
ABEJORRAL                      2
ABREGO                        20
ABRIAQUI                       1
ACACIAS                       95
ACEVEDO                       40
AGRADO                         5
AGUA DE DIOS                  24
AGUACHICA                    168
AGUADAS                        5
AGUAZUL                       56
AGUSTIN CODAZZI               33
AIPE                          18
ALBAN                          2
ALBAN (SAN JOSE)              44
ALBANIA                       44
ALCALA                         3
ALDANA                        17
ALGECIRAS                     21
ALMAGUER                       4
ALPUJARRA                      3
ALTAMIRA                       3
ALTO BAUDO (PIE DE PATO)       2
ALTOS DEL ROSARIO              1
ALVARADO                       3
AMAGA                          5
AMALFI                         4
AMBALEMA                       1
ANAPOIMA                       5
ANCUYA                        40
ANDALUCIA                     23
                            ...
VILLAGARZON                   30
VILLAHERMOSA                   6
VILLAMARIA                   125
VILLANUEVA                    71
VILLAPINZON                    5
VILLARRICA                     1
VILLAVICENCIO               1005
VILLAVIEJA                    12
VILLETA                       30
VIOTA                          8
VIRACACHA                      5
VISTA HERMOSA                  8
VITERBO                        4
YACOPI                         3
YACUANQUER                    30
YAGUARA                       19
YARUMAL                       22
YOLOMBO                        3
YONDO (CASABE)                 9
YOPAL                        232
YOTOCO                        23
YUMBO                        230
ZAPATOCA                       5
ZAPAYAN                        1
ZARAGOZA                       5
ZARZAL                        77
ZETAQUIRA                      2
ZIPACON                        2
ZIPAQUIRA                    138
ZONA BANANERA                 13
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [69]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS              12
ANTIOQUIA           3761
ARAUCA               251
ATLANTICO           2146
BOGOTA             16170
BOLIVAR             1154
BOYACA              3499
CALDAS              1998
CAQUETA              481
CASANARE             417
CAUCA               2326
CESAR               1098
CHOCO                389
CORDOBA              653
CUNDINAMARCA        1952
GUAINIA                9
GUAVIARE              75
HUILA               2989
LA GUAJIRA           462
MAGDALENA            482
META                1367
NARIÑO              6368
NORTE SANTANDER     1646
PUTUMAYO             398
QUINDIO              902
RISARALDA           1410
SAN ANDRES            45
SANTANDER           4816
SUCRE                420
TOLIMA              1834
VALLE              14567
VAUPES                 8
VICHADA               23
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [70]:
c = 'FAMI_EDUCA_PADRE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      3107
2     10823
3      8565
4      8044
5     16473
6      1262
7      5126
8      1382
9     10539
10     4782
11     2385
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [71]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 0

In [72]:
c = 'FAMI_EDUCA_MADRE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      1586
2      9109
3      8142
4      8956
5     18135
6      1684
7      7182
8      1587
9     11079
10     4380
11      648
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [73]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 0

In [74]:
c = 'FAMI_OCUPA_PADRE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      3133
2      1913
3      2498
4      1075
5      7015
6      1535
7     12057
8      3769
9     23395
10     1359
11     4039
12    10700
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [75]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 0

In [76]:
c = 'FAMI_OCUPA_MADRE'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      1435
2      1821
3      1501
4      1422
5      6667
6      4216
7      4104
8      3574
9      8915
10    31699
11     1537
12     5597
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [77]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 0

In [78]:
c = 'FAMI_NUM_HERMANOS'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'MÁS DE NUEVE'], dtype='object')
0                6860
1               21869
2               19580
3               10695
4                5734
5                3185
6                1686
7                1096
8                 644
9                 447
MÁS DE NUEVE      692
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [79]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [80]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    18570
2    26118
3    17025
4     5897
5     3438
6     3051
8        1
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 28
__________________
Elementos diferentes de null/NaN: 74100
__________________
(74100,)
None

In [81]:
Do_resamples(data_2016, c, float)

cant null antes: 28
cant null despues: 0

In [82]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    25372
2    13938
3     2487
4      857
5    29834
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [83]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [84]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       941
2      5974
3     16330
4     23843
5     14626
6      5903
7      2486
8      1265
9       432
10      324
11      106
12      258
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [85]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [86]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      3964
2     23874
3     31229
4      9863
5      2455
6       676
7       233
8        93
9        36
10       65
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [87]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 0

In [88]:
c = 'FAMI_PISOSHOGAR'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     1931
2    25857
3     4567
4    40133
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [89]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 0

In [90]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    31793
S    40695
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [91]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [92]:
c = 'FAMI_INTERNET'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    24030
S    48458
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [93]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [94]:
c = 'FAMI_TELEVISOR'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    18576
S    53912
Name: FAMI_TELEVISOR, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [95]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [96]:
c = 'FAMI_COMPUTADOR'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    19038
S    53450
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [97]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [98]:
c = 'FAMI_DVD'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    27313
S    45175
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [99]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [100]:
c = 'FAMI_LAVADORA'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    18837
S    53651
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [101]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [102]:
c = 'FAMI_MICROONDAS'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    45512
S    26976
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [103]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [104]:
c = 'FAMI_AUTOMOVIL'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    49700
S    22788
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [105]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [106]:
c = 'FAMI_HORNO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N    38930
S    33558
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [107]:
Do_resamples(data_2016, c, str)

cant null antes: 1640
cant null despues: 0

In [108]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    10145
2    30754
3    14269
4     7406
5     2907
6     2230
7     4777
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 1640
__________________
Elementos diferentes de null/NaN: 72488
__________________
(72488,)
None

In [109]:
Do_resamples(data_2016, c, float)

cant null antes: 1640
cant null despues: 0

In [110]:
c = 'ESTU_TRABAJA'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    15893
2      542
3      732
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 56961
__________________
Elementos diferentes de null/NaN: 17167
__________________
(17167,)
None

In [111]:
Do_resamples(data_2016, c, float)

cant null antes: 56961
cant null despues: 0

In [112]:
c = 'ESTU_RECIBE_SALARIO'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['N', 'S'], dtype='object')
N      51
S    1205
Name: ESTU_RECIBE_SALARIO, dtype: int64
Elementos null/NaN 72872
__________________
Elementos diferentes de null/NaN: 1256
__________________
(1256,)
None

In [113]:
Do_resamples(data_2016, c, str)

cant null antes: 72872
cant null despues: 0

In [114]:
c = 'ESTU_VECES_ESTADO_ESTUDIANTIL'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    22283
2    24760
3     5301
4     2684
Name: ESTU_VECES_ESTADO_ESTUDIANTIL, dtype: int64
Elementos null/NaN 19100
__________________
Elementos diferentes de null/NaN: 55028
__________________
(55028,)
None

In [115]:
Do_resamples(data_2016, c, float)

cant null antes: 19100
cant null despues: 0

# TARGETS

In [116]:
c = 'PUNT_LECTURA_CRITICA'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([  0,  10,  18,  19,  23,  24,  25,  27,  28,  29,  30,  31,  32,
             33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,
             46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,
             59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,
             72,  73,  74,  76,  77,  79,  80,  81,  83,  85,  88,  90,  93,
             96,  97, 100],
           dtype='int64')
0        61
10       12
18        2
19       14
23       36
24        2
25        1
27       73
28        5
29       10
30      169
31        4
32       28
33      354
34       32
35      585
36       57
37      951
38       90
39     1416
40      180
41     1938
42     2618
43      102
44     2961
45     3289
46      129
47     3682
48     3598
49     3579
       ...
58     3129
59     3117
60     2871
61      770
62     2076
63     2638
64     2347
65        1
66     2061
67      333
68     1378
69     1119
70      272
71      330
72      720
73       95
74      728
76      243
77      263
79      170
80      115
81       20
83       82
85       89
88       42
90        5
93       14
96       14
97        6
100       8
Name: PUNT_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [117]:
c = 'PUNT_MATEMATICAS'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([  0,   3,   5,   9,  10,  12,  14,  15,  17,  18,  19,  20,  21,
             22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,
             35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
             48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,
             61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,
             74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,
             87,  88,  89,  91,  92,  93,  94,  95,  97,  98, 100],
           dtype='int64')
0        27
3         1
5         9
9         1
10        1
12       13
14        4
15        2
17       45
18        7
19        8
20        6
21      101
22       11
23       12
24      232
25       24
26       16
27      427
28       70
29       34
30      847
31       76
32     1238
33      121
34      156
35     1680
36      202
37     2261
38      184
       ...
68     1418
69      411
70     1035
71     1201
72      208
73     1096
74      972
75      191
76     1015
77       96
78      883
79      192
80      776
81      202
82      710
83      180
84      603
85        1
86      594
87      165
88      480
89      242
91      360
92      150
93       74
94      331
95      118
97      335
98       88
100     821
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [118]:
c = 'PUNT_C_NATURALES'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([  0,   1,   9,  10,  13,  14,  15,  17,  18,  19,  20,  21,  22,
             23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
             36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
             49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
             62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,
             75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  88,
             89,  90,  92,  93,  95,  97, 100],
           dtype='int64')
0        30
1         4
9         6
10        1
13        1
14       10
15        2
17       11
18        2
19        7
20       29
21        1
22        2
23       46
24       10
25       73
26       24
27      110
28      158
29       16
30      190
31       55
32      284
33      409
34      504
35       58
36      739
37      844
38      979
39     1246
       ...
65     1813
66     1736
67     1429
68      264
69     1585
70     1307
71       97
72     1281
73      494
74      719
75      448
76      600
77      443
78      505
79      398
80       95
81      314
82      336
83       88
84      269
85      215
86       45
88      220
89      124
90       34
92        1
93      132
95       21
97       61
100      94
Name: PUNT_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [119]:
c = 'PUNT_SOCIALES_CIUDADANAS'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([  0,   4,   5,  10,  11,  13,  15,  16,  17,  18,  19,  20,  21,
             22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,
             35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
             48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,
             61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,
             74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,
             87,  89,  90,  93,  94,  95,  96, 100],
           dtype='int64')
0        33
4         7
5         2
10       11
11        2
13        1
15       35
16        1
17        4
18       55
19        5
20        5
21      109
22       17
23       16
24      135
25       42
26      236
27       61
28      414
29       94
30      593
31      133
32      764
33      144
34      972
35      203
36     1234
37     1465
38      260
       ...
65     2619
66      482
67     2054
68      835
69     1819
70      692
71     1538
72      630
73     1224
74      590
75      848
76      690
77      596
78      217
79      337
80      417
81      285
82      170
83      238
84      140
85      125
86       48
87      125
89      130
90       59
93       77
94       43
95       17
96       30
100      60
Name: PUNT_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [120]:
c = 'PUNT_INGLES'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Int64Index([  0,   7,  15,  22,  27,  31,  34,  37,  39,  40,  42,  44,  46,
             49,  51,  52,  53,  55,  56,  58,  59,  60,  61,  62,  64,  65,
             66,  67,  68,  70,  71,  73,  74,  76,  77,  79,  80,  82,  85,
             87,  90,  92,  95,  97, 100],
           dtype='int64')
0         85
7         17
15        24
22        24
27        34
31        97
34       244
37       511
39       984
40      1690
42      2556
44      3595
46      4471
49     10624
51      5489
52      5102
53      4208
55      3730
56      3048
58      2492
59      2015
60      1718
61      1465
62      1246
64      1112
65       981
66       955
67       924
68       919
70       794
71       833
73       798
74       824
76       848
77       843
79       804
80       952
82       928
85       957
87      1043
90      1144
92      1082
95      1002
97       645
100      271
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

In [121]:
c = 'DESEMP_INGLES'
print(data_2016[c].value_counts().sort_index().index)
print(data_2016[c].value_counts().sort_index())
print(missing_data(data_2016[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    19444
A1    29581
A2    11335
B+     6144
B1     7624
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74128
__________________
(74128,)
None

___

___

___

___

___

# YEAR 2016, Semester 1, V3

In [122]:
data_2016_1_V2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20161-RGSTRO-CLFCCN-V3-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (11,12,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [123]:
data_2016_1_V2.shape

(74127, 83)

In [124]:
c = 'PERIODO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([20161], dtype='int64')
20161    74127
Name: PERIODO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [125]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [126]:
c = 'ESTU_CONSECUTIVO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['SABER1120161000001', 'SABER1120161000002', 'SABER1120161000003',
       'SABER1120161000004', 'SABER1120161000005', 'SABER1120161000006',
       'SABER1120161000007', 'SABER1120161000008', 'SABER1120161000009',
       'SABER1120161000010',
       ...
       'SABER1120161074118', 'SABER1120161074119', 'SABER1120161074120',
       'SABER1120161074121', 'SABER1120161074122', 'SABER1120161074123',
       'SABER1120161074124', 'SABER1120161074125', 'SABER1120161074126',
       'SABER1120161074127'],
      dtype='object', length=74127)
SABER1120161000001    1
SABER1120161000002    1
SABER1120161000003    1
SABER1120161000004    1
SABER1120161000005    1
SABER1120161000006    1
SABER1120161000007    1
SABER1120161000008    1
SABER1120161000009    1
SABER1120161000010    1
SABER1120161000011    1
SABER1120161000012    1
SABER1120161000013    1
SABER1120161000014    1
SABER1120161000015    1
SABER1120161000016    1
SABER1120161000017    1
SABER1120161000018    1
SABER1120161000019    1
SABER1120161000020    1
SABER1120161000021    1
SABER1120161000022    1
SABER1120161000023    1
SABER1120161000024    1
SABER1120161000025    1
SABER1120161000026    1
SABER1120161000027    1
SABER1120161000028    1
SABER1120161000029    1
SABER1120161000030    1
                     ..
SABER1120161074098    1
SABER1120161074099    1
SABER1120161074100    1
SABER1120161074101    1
SABER1120161074102    1
SABER1120161074103    1
SABER1120161074104    1
SABER1120161074105    1
SABER1120161074106    1
SABER1120161074107    1
SABER1120161074108    1
SABER1120161074109    1
SABER1120161074110    1
SABER1120161074111    1
SABER1120161074112    1
SABER1120161074113    1
SABER1120161074114    1
SABER1120161074115    1
SABER1120161074116    1
SABER1120161074117    1
SABER1120161074118    1
SABER1120161074119    1
SABER1120161074120    1
SABER1120161074121    1
SABER1120161074122    1
SABER1120161074123    1
SABER1120161074124    1
SABER1120161074125    1
SABER1120161074126    1
SABER1120161074127    1
Name: ESTU_CONSECUTIVO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [127]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [128]:
c = 'ESTU_ESTUDIANTE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['ESTUDIANTE', 'INDIVIDUAL'], dtype='object')
ESTUDIANTE    18654
INDIVIDUAL    55473
Name: ESTU_ESTUDIANTE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [129]:
c = 'ESTU_EDAD'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              67.0, 68.0, 70.0, 71.0, 73.0],
             dtype='float64')
0       162
1        23
2         3
3         5
5         1
6         5
7         6
8         5
9         2
10        4
11        2
12        1
13        3
14       35
15      845
16     9284
17    17496
18    12025
19     6754
20     4715
21     3647
22     2823
23     2236
24     1819
25     1452
26     1247
27     1037
28      865
29      795
30      741
      ...
42      185
43      159
44      128
45      150
46      132
47      108
48      118
49       86
50       77
51       79
52       74
53       53
54       44
55       34
56       35
57       31
58       26
59       16
60       14
61       10
62       10
63        5
64        5
65        3
66        4
67        6
68        1
70        2
71        1
73        1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 74124
__________________
(74124,)
None

In [130]:
for i in data_2016_1_V2[c].value_counts().sort_index().index:
    if i < 9:
        data_2016_1_V2[c] = data_2016_1_V2[c].replace(i, np.nan)
        
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 213
cant null despues: 0

In [131]:
c = 'ESTU_TIPO_DOCUMENTO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['CC', 'CE', 'CR', 'PC', 'PE', 'TI'], dtype='object')
CC    42227
CE      213
CR      713
PC       27
PE       91
TI    30856
Name: ESTU_TIPO_DOCUMENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [132]:
c = 'ESTU_PAIS_RESIDE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  1,   5,  12,  17,  28,  33,  41,  46,  50,  52,  54,  56,  57,
             64,  65,  67,  76,  83,  91,  99, 105, 109, 110, 112, 118, 119,
            124, 129, 144, 152, 157, 160, 166, 171, 173, 174, 178, 209, 215,
            216, 227, 228, 236, 238, 241, 242],
           dtype='int64')
1      73794
5          1
12        17
17         1
28         8
33        11
41         3
46         7
50         8
52         1
54         3
56         1
57         2
64         1
65        28
67         2
76         8
83         7
91         1
99         1
105        1
109        1
110        1
112        2
118        1
119        2
124        1
129        1
144       11
152        1
157        2
160        1
166        1
171        4
173        1
174       23
178        1
209       15
215        1
216        2
227        1
228        1
236       30
238        2
241      112
242        3
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [133]:
c = 'ESTU_GENERO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['F', 'M'], dtype='object')
F    37687
M    36158
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 282
__________________
Elementos diferentes de null/NaN: 73845
__________________
(73845,)
None

In [134]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 282
cant null despues: 0

In [135]:
c = 'ESTU_FECHA_NACIMIENTO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['01/01/1962', '01/01/1966', '01/01/1970', '01/01/1974', '01/01/1976',
       '01/01/1977', '01/01/1978', '01/01/1980', '01/01/1981', '01/01/1982',
       ...
       '31/12/1991', '31/12/1992', '31/12/1993', '31/12/1994', '31/12/1995',
       '31/12/1996', '31/12/1997', '31/12/1998', '31/12/1999', '31/12/2000'],
      dtype='object', length=9728)
01/01/1962      1
01/01/1966      1
01/01/1970      1
01/01/1974      1
01/01/1976      1
01/01/1977      1
01/01/1978      1
01/01/1980      3
01/01/1981      1
01/01/1982      2
01/01/1983      2
01/01/1984      6
01/01/1985      5
01/01/1986      3
01/01/1987      3
01/01/1988      1
01/01/1989      4
01/01/1990      4
01/01/1991      5
01/01/1992      5
01/01/1993      6
01/01/1994      6
01/01/1995     16
01/01/1996     16
01/01/1997     18
01/01/1998     32
01/01/1999    544
01/01/2000     26
01/01/2016      1
01/02/1959      1
             ...
31/10/1997     38
31/10/1998     43
31/10/1999     12
31/10/2000      1
31/10/2016      1
31/12/1966      1
31/12/1969      1
31/12/1971      1
31/12/1972      2
31/12/1974      3
31/12/1976      2
31/12/1978      1
31/12/1979      4
31/12/1980      1
31/12/1983      1
31/12/1984      2
31/12/1986      3
31/12/1987      1
31/12/1988      2
31/12/1989      4
31/12/1991      4
31/12/1992      8
31/12/1993      7
31/12/1994      8
31/12/1995     10
31/12/1996     20
31/12/1997     28
31/12/1998     36
31/12/1999     14
31/12/2000      1
Name: ESTU_FECHA_NACIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [136]:
Sep_Col = pd.DataFrame(data_2016_1_V2.ESTU_FECHA_NACIMIENTO.str.split('/').tolist(), columns=['ESTU_NACIMIENTO_DIA', 
                                                                                         'ESTU_NACIMIENTO_MES',
                                                                                         'ESTU_NACIMIENTO_ANNO'])
data_2016_1_V2 = pd.concat([data_2016_1_V2, Sep_Col], axis=1)
data_2016_1_V2 = data_2016_1_V2.drop('ESTU_FECHA_NACIMIENTO', axis=1)

In [137]:
c = 'ESTU_ETNIA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0, 100.0],
             dtype='float64')
1      1162
2        40
3         2
4       135
5         7
6        79
7        67
8       125
9       391
10       11
11       22
12        5
13        5
14        5
15        6
16        9
17       26
18       83
19      545
100     890
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 70512
__________________
Elementos diferentes de null/NaN: 3615
__________________
(3615,)
None

In [138]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 70512
cant null despues: 0

In [139]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['MOT'], dtype='object')
MOT    115
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 74012
__________________
Elementos diferentes de null/NaN: 115
__________________
(115,)
None

In [140]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [141]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['VIS'], dtype='object')
VIS    28
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 74099
__________________
Elementos diferentes de null/NaN: 28
__________________
(28,)
None

In [142]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [143]:
c = 'ESTU_LIMITA_CONDICIONESPECIAL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['CE'], dtype='object')
CE    30
Name: ESTU_LIMITA_CONDICIONESPECIAL, dtype: int64
Elementos null/NaN 74097
__________________
Elementos diferentes de null/NaN: 30
__________________
(30,)
None

In [144]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [145]:
c = 'ESTU_LIMITA_SORDO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['AUD'], dtype='object')
AUD    13
Name: ESTU_LIMITA_SORDO, dtype: int64
Elementos null/NaN 74114
__________________
Elementos diferentes de null/NaN: 13
__________________
(13,)
None

In [146]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [147]:
c = 'ESTU_LIMITA_SDOWN'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['SD'], dtype='object')
SD    9
Name: ESTU_LIMITA_SDOWN, dtype: int64
Elementos null/NaN 74118
__________________
Elementos diferentes de null/NaN: 9
__________________
(9,)
None

In [148]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [149]:
c = 'ESTU_LIMITA_AUTISMO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['AA'], dtype='object')
AA    27
Name: ESTU_LIMITA_AUTISMO, dtype: int64
Elementos null/NaN 74100
__________________
Elementos diferentes de null/NaN: 27
__________________
(27,)
None

In [150]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [151]:
c = 'ESTU_AREA_RESIDE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['R', 'U'], dtype='object')
R    10537
U    61855
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [152]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [153]:
c = 'COLE_COD_MCPIO_UBICACION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([ 5001.0,  5045.0,  5088.0,  5266.0,  5360.0,  5380.0,  5607.0,
               5686.0,  5697.0,  8001.0,  8573.0, 11001.0, 13001.0, 15001.0,
              15238.0, 15759.0, 17001.0, 17174.0, 17380.0, 17524.0, 17873.0,
              19001.0, 19532.0, 19573.0, 20001.0, 20011.0, 23001.0, 25126.0,
              25175.0, 25214.0, 25269.0, 25286.0, 25290.0, 25377.0, 25754.0,
              25758.0, 25799.0, 25899.0, 41001.0, 44035.0, 44430.0, 47001.0,
              50001.0, 52001.0, 52083.0, 52356.0, 54001.0, 54261.0, 63001.0,
              63690.0, 66001.0, 66170.0, 68001.0, 68276.0, 68307.0, 68432.0,
              68547.0, 73001.0, 73168.0, 73319.0, 73443.0, 73449.0, 73483.0,
              76001.0, 76109.0, 76111.0, 76130.0, 76147.0, 76248.0, 76364.0,
              76520.0, 76563.0, 76622.0, 76834.0, 76892.0, 85001.0, 86568.0],
             dtype='float64')
5001      253
5045       45
5088       16
5266      228
5360        1
5380       54
5607       39
5686       13
5697       51
8001      353
8573      404
11001    5214
13001     153
15001      59
15238      24
15759       3
17001     132
17174      15
17380       7
17524       2
17873      94
19001     716
19532       8
19573      52
20001      42
20011      28
23001      17
25126     158
25175     432
25214     178
         ...
54261       1
63001      18
63690      38
66001     215
66170       7
68001      37
68276     129
68307      28
68432       1
68547      56
73001       2
73168      43
73319      13
73443      45
73449      25
73483      18
76001    6096
76109      30
76111     332
76130      56
76147      99
76248     157
76364      80
76520     787
76563      13
76622      41
76834      10
76892     235
85001       3
86568       5
Name: COLE_COD_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 55473
__________________
Elementos diferentes de null/NaN: 18654
__________________
(18654,)
None

In [154]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 55473
cant null despues: 0

In [155]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACEVEDO', 'AGRADO',
       'AGUA DE DIOS', 'AGUACHICA', 'AGUADAS', 'AGUAZUL',
       ...
       'YOTOCO', 'YUMBO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=885)
ABEJORRAL                      2
ABREGO                        20
ABRIAQUI                       1
ACACIAS                       95
ACEVEDO                       40
AGRADO                         5
AGUA DE DIOS                  24
AGUACHICA                    168
AGUADAS                        5
AGUAZUL                       56
AGUSTIN CODAZZI               33
AIPE                          18
ALBAN                          2
ALBAN (SAN JOSE)              44
ALBANIA                       44
ALCALA                         3
ALDANA                        17
ALGECIRAS                     21
ALMAGUER                       4
ALPUJARRA                      3
ALTAMIRA                       3
ALTO BAUDO (PIE DE PATO)       2
ALTOS DEL ROSARIO              1
ALVARADO                       3
AMAGA                          5
AMALFI                         4
AMBALEMA                       1
ANAPOIMA                       5
ANCUYA                        40
ANDALUCIA                     23
                            ...
VILLAGARZON                   30
VILLAHERMOSA                   6
VILLAMARIA                   125
VILLANUEVA                    71
VILLAPINZON                    5
VILLARRICA                     1
VILLAVICENCIO               1005
VILLAVIEJA                    12
VILLETA                       30
VIOTA                          8
VIRACACHA                      5
VISTA HERMOSA                  8
VITERBO                        4
YACOPI                         3
YACUANQUER                    28
YAGUARA                       19
YARUMAL                       22
YOLOMBO                        3
YONDO (CASABE)                 9
YOPAL                        232
YOTOCO                        23
YUMBO                        230
ZAPATOCA                       5
ZAPAYAN                        1
ZARAGOZA                       5
ZARZAL                        77
ZETAQUIRA                      2
ZIPACON                        2
ZIPAQUIRA                    138
ZONA BANANERA                 13
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 96
__________________
Elementos diferentes de null/NaN: 74031
__________________
(74031,)
None

In [156]:
data_2016_1_V2[c].fillna(method='bfill', inplace=True)
data_2016_1_V2[c].fillna(method='ffill', inplace=True)

In [157]:
c = 'ESTU_COD_RESIDE_DEPTO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([    5.0,     8.0,    11.0,    13.0,    15.0,    17.0,    18.0,
                 19.0,    20.0,    23.0,    25.0,    27.0,    41.0,    44.0,
                 47.0,    50.0,    52.0,    54.0,    63.0,    66.0,    68.0,
                 70.0,    73.0,    76.0,    81.0,    85.0,    86.0,    88.0,
                 91.0,    94.0,    95.0,    97.0,    99.0, 99999.0],
             dtype='float64')
5         3682
8         2131
11       15013
13        1176
15        3669
17        1759
18         488
19        2129
20        1080
23         722
25        2836
27         386
41        3135
44         562
47         519
50        1342
52        6484
54        1664
63         870
66        1427
68        4588
70         383
73        2029
76       14559
81         256
85         464
86         507
88          34
91          15
94          10
95          73
97           8
99          25
99999        6
Name: ESTU_COD_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 96
__________________
Elementos diferentes de null/NaN: 74031
__________________
(74031,)
None

In [158]:
data_2016_1_V2[c].fillna(method='bfill', inplace=True)
data_2016_1_V2[c].fillna(method='ffill', inplace=True)

In [159]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'EXTRANJERO', 'GUAINIA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE',
       'TOLIMA', 'VALLE', 'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS              15
ANTIOQUIA           3682
ARAUCA               256
ATLANTICO           2131
BOGOTA             15013
BOLIVAR             1176
BOYACA              3669
CALDAS              1759
CAQUETA              488
CASANARE             464
CAUCA               2129
CESAR               1080
CHOCO                386
CORDOBA              722
CUNDINAMARCA        2836
EXTRANJERO             6
GUAINIA               10
GUAVIARE              73
HUILA               3135
LA GUAJIRA           562
MAGDALENA            519
META                1342
NARIÑO              6484
NORTE SANTANDER     1664
PUTUMAYO             507
QUINDIO              870
RISARALDA           1427
SAN ANDRES            34
SANTANDER           4588
SUCRE                383
TOLIMA              2029
VALLE              14559
VAUPES                 8
VICHADA               25
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 96
__________________
Elementos diferentes de null/NaN: 74031
__________________
(74031,)
None

In [160]:
data_2016_1_V2[c].fillna(method='bfill', inplace=True)
data_2016_1_V2[c].fillna(method='ffill', inplace=True)

In [161]:
c = 'ESTU_COD_RESIDE_MCPIO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([ 5001.0,  5002.0,  5004.0,  5030.0,  5031.0,  5034.0,  5040.0,
               5042.0,  5045.0,  5051.0,
              ...
              94001.0, 94343.0, 94888.0, 95001.0, 95015.0, 95025.0, 97001.0,
              99001.0, 99524.0, 99999.0],
             dtype='float64', length=951)
5001     1831
5002        2
5004        1
5030        5
5031        4
5034        4
5040        3
5042        3
5045      229
5051        3
5079       17
5086        1
5088      250
5091        2
5101        2
5107        1
5113        1
5120        5
5125        2
5129       27
5134        2
5142        1
5147       97
5148       47
5154       52
5172       37
5190        1
5197        1
5209        1
5212       43
         ...
85410      24
85430      11
85440      29
86001     104
86219      13
86320      67
86568     114
86569       5
86571       9
86573       2
86749      77
86755      12
86757       4
86760      12
86865      58
86885      30
88001      30
88564       4
91001      14
91540       1
94001       8
94343       1
94888       1
95001      60
95015       4
95025       9
97001       8
99001      23
99524       2
99999       6
Name: ESTU_COD_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 96
__________________
Elementos diferentes de null/NaN: 74031
__________________
(74031,)
None

In [162]:
data_2016_1_V2[c].fillna(method='bfill', inplace=True)
data_2016_1_V2[c].fillna(method='ffill', inplace=True)

In [163]:
c = 'ESTU_ZONA_RESIDE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')
1      8066
2       751
3      1654
4     10842
5      5987
6      2457
7      1629
8      3084
9      2609
10    37048
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [164]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([105001003425.0, 105045000318.0, 105088000486.0, 105088003175.0,
              105266000061.0, 111001011908.0, 111001013129.0, 111001013676.0,
              111001034134.0, 111001046477.0,
              ...
              476892100092.0, 485001004526.0, 486568061250.0, 519001000002.0,
              537610901165.0, 541001008097.0, 568001009730.0, 568432001300.0,
              625214000001.0, 625269000075.0],
             dtype='float64', length=584)
1.050010e+11     19
1.050450e+11     34
1.050880e+11      1
1.050880e+11     15
1.052660e+11     27
1.110010e+11     23
1.110010e+11     15
1.110010e+11     17
1.110010e+11     13
1.110010e+11     19
1.110011e+11     13
1.110011e+11     30
1.110011e+11     39
1.117690e+11     28
1.170010e+11      1
1.410010e+11      9
1.520830e+11      1
1.542610e+11      1
1.765200e+11     22
1.765200e+11     14
3.020060e+11     13
3.050010e+11     32
3.050010e+11     94
3.050010e+11      9
3.050010e+11     56
3.050010e+11     17
3.050010e+11     13
3.050010e+11     20
3.050010e+11      5
3.050010e+11     91
               ...
4.253778e+11     64
4.257990e+11     13
4.257990e+11      7
4.257990e+11     20
4.470010e+11     30
4.636900e+11     38
4.660010e+11      5
4.660010e+11     20
4.760010e+11     27
4.760010e+11     10
4.760010e+11     27
4.760010e+11     34
4.761300e+11     56
4.762480e+11    112
4.762480e+11     14
4.765200e+11     16
4.765200e+11     20
4.765200e+11    123
4.768921e+11      9
4.768921e+11     11
4.768921e+11      6
4.850010e+11      3
4.865681e+11      5
5.190010e+11     47
5.376109e+11      1
5.410010e+11     15
5.680010e+11      8
5.684320e+11      1
6.252140e+11     29
6.252690e+11      8
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 55473
__________________
Elementos diferentes de null/NaN: 18654
__________________
(18654,)
None

In [165]:
data_2016_1_V2[c].fillna(method='bfill', inplace=True)
data_2016_1_V2[c].fillna(method='ffill', inplace=True)

In [166]:
c = 'COLE_COD_ICFES'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([   182.0,   3046.0,   3327.0,   3350.0,   3418.0,   3459.0,
                4234.0,   5892.0,   6023.0,   7013.0,
              ...
              197947.0, 197954.0, 199273.0, 199430.0, 199588.0, 199653.0,
              199679.0, 199711.0, 199737.0, 199745.0],
             dtype='float64', length=623)
182        94
3046       84
3327       19
3350       12
3418       48
3459       64
4234       49
5892        1
6023       92
7013       66
7070       60
7088       53
9696        9
11262      75
11288      88
12435       1
16667      70
16691     157
16709      84
16733      44
16741      84
16766      45
16774      75
16824      20
16832      61
16873      36
16881      28
16956      29
16972      73
16980     157
         ...
188557      2
188581     30
190009     46
190280     14
190744     11
190991     36
191288      5
191304      5
191445      8
191833     43
191874     18
191882      9
192278     34
193268      2
195040      6
195057     24
195404     11
196667      6
197889      9
197939     26
197947     19
197954      9
199273      2
199430     27
199588     14
199653      5
199679      1
199711     12
199737     15
199745      6
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 55473
__________________
Elementos diferentes de null/NaN: 18654
__________________
(18654,)
None

In [167]:
for i in data_2016_1_V2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2016_1_V2[c] = data_2016_1_V2[c].replace(i, np.nan)
        
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 55473
cant null despues: 0

In [168]:
c = 'COLE_NOMBRE_SEDE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['ACAD AMERICANA DE SISTEMAS Y COMERCIO',
       'ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO',
       'ACADEMIA COLOMBIANA DE ENSEÑANZA',
       'ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS',
       'ACADEMIA GENERAL JOSE MARIA CABAL - SEDE PRINCIPAL',
       'ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA',
       'ALAS COLEGIO  - SEDE PRINCIPAL', 'AMERICAN SCHOOL',
       'ASOCIACION COLEGIO GRANADINO',
       'ASPAEN COLEGIO JUANAMBÚ - SEDE PRINCIPAL',
       ...
       'SANTA  MARIA STELLA MARIS', 'SANTA MARIANA DE JESÚS',
       'SEM DE CRISTO SACERDOTE', 'SEMINARIO MENOR ARQUIDIOCESANO',
       'SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS',
       'STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION',
       'TANDEM - SEDE PRINCIPAL', 'TERRA INSTITUTI - SEDE PRINCIPAL',
       'UNITECNICAS - SEDE PRINCIPAL', 'VERNOT SCHOOL'],
      dtype='object', length=575)
ACAD AMERICANA DE SISTEMAS Y COMERCIO                         2
ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO                       21
ACADEMIA COLOMBIANA DE ENSEÑANZA                             42
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                    26
ACADEMIA GENERAL JOSE MARIA CABAL - SEDE PRINCIPAL           19
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                    7
ALAS COLEGIO  - SEDE PRINCIPAL                                8
AMERICAN SCHOOL                                              31
ASOCIACION COLEGIO GRANADINO                                 45
ASPAEN COLEGIO JUANAMBÚ - SEDE PRINCIPAL                     14
ASPAEN GIMNASIO CARTAGENA DE INDIAS                          42
ASPAEN GIMNASIO IRAGUA                                       82
ASPAEN GIMNASIO LOS CORALES                                  18
ASPAEN LICEO TACURÍ                                          26
ASPAEN-GIMNASIO LOS CEREZOS                                  15
BACHILLERATO INTEGRAL DEL QUINDIO                            18
BOSQUECITO ENCANTADO Y COLEGIO EL BOSQUE                     16
BTO DE ADULTOS UNAD                                           7
BTO FORMAL DE ADULTOS DEL CAUCA                              23
BTO PARA ADULTOS COLSUBSIDIO                                 49
C. E. FORMAL DISCENTER S - SEDE PRINCIPAL                    44
CARDENAS CENTRO                                              22
CE PARA JOVENES Y ADULTOS PALMIRA - SEDE PRINCIPAL           53
CENT DE CAPACITACION  LTDA (CENCABO)                         25
CENT DE EDUC FORMAL ROBERT HOOKE                             45
CENT DE ENSENANZA LATINOAMERICANA - CENLA                    13
CENT DE FORMACION EDUCATIVA CENFE                             8
CENT DOCENTE PARA ADULTOS EDIMA                              10
CENT EDUC DIST CAFAM BELLAVISTA                              39
CENT EDUC DIST CAFAM LOS NARANJOS                            30
                                                             ..
LICEO DE SANTA LIBRADA                                        9
LICEO FRANCES PAUL VALERY                                    60
LICEO GALILEO GALILEI                                        11
LICEO LATINO                                                  8
LICEO LOS ALPES INSTITUCION EDUCATIVA S.A.S.                 28
LICEO LOS PINOS                                              14
LICEO MAYOR TECNICO DEL VALLE                                 5
LICEO NUESTRA SEÑORA DE LOURDES                               7
LICEO QUIAL - SEDE PRINCIPAL                                 38
LICEO SUPERIOR JUAN PABLO II - SEDE PRINCIPAL                32
NUEVO GIMNASIO CRISTIANO                                     43
NUEVO INSTITUTO SAN MIGUEL - SEDE PRINCIPAL                   2
POLITECNICO DE LOS ANDES SIGLO XXI                            8
POLITECNICO INTEGRAL COLOMBIANO                              16
POLITECNICO LA SALLE                                         41
POLITECNICO MAYOR ANDINO                                     11
POLITECNICO SUPERIOR DEL VALLE                                5
POLITECNICO UNIVERSAL DE CAPACITACION                        22
REAL COL SAN FRANCISCO DE ASIS                               60
SAINT GEORGE SCHOOL - SAN JORGE - SEDE PRINCIPAL             20
SANTA  MARIA STELLA MARIS                                    32
SANTA MARIANA DE JESÚS                                       29
SEM DE CRISTO SACERDOTE                                      34
SEMINARIO MENOR ARQUIDIOCESANO                               50
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                     61
STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION    91
TANDEM - SEDE PRINCIPAL                                      15
TERRA INSTITUTI - SEDE PRINCIPAL                             83
UNITECNICAS - SEDE PRINCIPAL                                 10
VERNOT SCHOOL                                                12
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 55473
__________________
Elementos diferentes de null/NaN: 18654
__________________
(18654,)
None

In [169]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [170]:
c = 'COLE_JORNADA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['C', 'M', 'N', 'S', 'T', 'U'], dtype='object')
C    8936
M    6448
N    1303
S    1365
T     568
U      34
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 55473
__________________
Elementos diferentes de null/NaN: 18654
__________________
(18654,)
None

In [171]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 55473
cant null despues: 0

In [172]:
c = 'COLE_GENERO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['FEMENINO', 'MASCULINO', 'MIXTO'], dtype='object')
FEMENINO      1267
MASCULINO      416
MIXTO        16971
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 55473
__________________
Elementos diferentes de null/NaN: 18654
__________________
(18654,)
None

In [173]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 55473
cant null despues: 0

In [174]:
c = 'COLE_CARACTER'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['ACADÉMICO', 'NO_APLICA', 'TÉCNICO', 'TÉCNICO/ACADÉMICO'], dtype='object')
ACADÉMICO            15183
NO_APLICA               41
TÉCNICO               1928
TÉCNICO/ACADÉMICO     1265
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 55710
__________________
Elementos diferentes de null/NaN: 18417
__________________
(18417,)
None

In [175]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 55710
cant null despues: 0

In [176]:
c = 'COLE_NATURALEZA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['NO OFICIAL', 'OFICIAL', 'OTRO'], dtype='object')
NO OFICIAL    18319
OFICIAL         335
OTRO          55473
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [177]:
c = 'COLE_CALENDARIO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['A', 'B', 'O'], dtype='object')
A     2092
B    13215
O     3347
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 55473
__________________
Elementos diferentes de null/NaN: 18654
__________________
(18654,)
None

In [178]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 55473
cant null despues: 0

In [179]:
c = 'COLE_AREA_UBICACION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['R', 'U'], dtype='object')
R     2038
U    16616
Name: COLE_AREA_UBICACION, dtype: int64
Elementos null/NaN 55473
__________________
Elementos diferentes de null/NaN: 18654
__________________
(18654,)
None

In [180]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 55473
cant null despues: 0

In [181]:
c = 'ESTU_PRIVADO_LIBERTAD'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    55205
S       19
Name: ESTU_PRIVADO_LIBERTAD, dtype: int64
Elementos null/NaN 18903
__________________
Elementos diferentes de null/NaN: 55224
__________________
(55224,)
None

In [182]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 18903
cant null despues: 0

In [183]:
c = 'ESTU_ANO_TERMINO_BACHILL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0, 2014.0, 2015.0],
             dtype='float64')
1980      104
1981       24
1982       22
1983       27
1984       29
1985       30
1986       35
1987       36
1988       41
1989       58
1990       42
1991       62
1992       85
1993       96
1994      120
1995      131
1996      145
1997      201
1998      269
1999      310
2000      431
2001      418
2002      502
2003      582
2004      670
2005      753
2006      861
2007     1084
2008     1428
2009     1752
2010     2260
2011     2858
2012     3409
2013     4779
2014     8673
2015    22148
Name: ESTU_ANO_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 19652
__________________
Elementos diferentes de null/NaN: 54475
__________________
(54475,)
None

In [184]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 19652
cant null despues: 0

In [185]:
c = 'ESTU_MES_TERMINO_BACHILL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       155
2       198
3       250
4       171
5       173
6      2719
7      3694
8       801
9       423
10      372
11    16902
12    28614
Name: ESTU_MES_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 19655
__________________
Elementos diferentes de null/NaN: 54472
__________________
(54472,)
None

In [186]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 19655
cant null despues: 0

In [187]:
c = 'ESTU_NUMERO_LIBROS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['0 A 10 LIBROS', '11 A 25 LIBROS', '26 A 100 LIBROS',
       'MÁS DE 100 LIBROS'],
      dtype='object')
0 A 10 LIBROS        26606
11 A 25 LIBROS       20323
26 A 100 LIBROS      17299
MÁS DE 100 LIBROS     8164
Name: ESTU_NUMERO_LIBROS, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [188]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [189]:
c = 'ESTU_OTRO_PLANTEL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index([' "isaac" newton ', ' Ateneo Autonomo De Colombia', ' CIET',
       ' COLEGIO ALFONSO LOPEZ PUMAREJO',
       ' COLEGIO MILITAR GENERAL RAFAEL REYES', ' COLEGIO SANTANDER',
       ' Colegio Mayor San Benito Apostol JM',
       ' EDUCATIVA TECNICA ANTONIO NARIÑO',
       ' Educativa Departamental San Gabriel ',
       ' Educativa Tecnica San Juan Bautista',
       ...
       'villa santana', 'villanelly sabatino', 'villas de san ignacio',
       'virtual andino', 'vista bella i-e-d', 'william shakespeare',
       'yoan quepler', 'zer international', 'zion school',
       '´validación icfes'],
      dtype='object', length=9495)
 "isaac" newton                             1
 Ateneo Autonomo De Colombia                1
 CIET                                       1
 COLEGIO ALFONSO LOPEZ PUMAREJO             1
 COLEGIO MILITAR GENERAL RAFAEL REYES       1
 COLEGIO SANTANDER                          1
 Colegio Mayor San Benito Apostol JM        1
 EDUCATIVA TECNICA ANTONIO NARIÑO           1
 Educativa Departamental San Gabriel        1
 Educativa Tecnica San Juan Bautista        1
 Fe y Alegria Madre sifFredi                1
 I E D MANUELA AYALA DE GAITAN              1
 I E Jorge Guillermo Mojica Marquez         1
 I. E san martin de porre                   1
 I.E. NUESTRA SEÑORA DEL ROSARIO            1
 I.E.D. Colegio Ricaurte                    1
 IED VILLA ELISA                            1
 IETIN " M.A.B"                             1
 INEM CARLOS ARTURO TORRES                  1
 INSTITUCION ALONSO RONQUILLO               1
 INSTITUCIÓN EDUCATIVA GENERAL FRANCISCO    1
 ISMAEL CONTRERAS MENESES                   1
 Inem Carlos Arturo Torres                  1
 Inem Francisco Jose de Caldas              1
 Institución Educativa Politécnico          1
 Instituto Fundetec                         1
 Instituto Gran Colombia                    1
 Instituto Nacional del Promocion Social    1
 Instìtuto Bolìvarìano Esdiseño             1
 JOSE EUSTACIO RIVERA - NOCTURNO            1
                                           ..
unitecnicas de colombia                     1
universidad a distancia                     1
universidad abierta y a distancia unad      1
universidad catolica de oriente             1
universidad cooperativa de colombia         1
universidad de antioquia                    1
universidad nacional abierta y a distanc    1
universidad pedagogica nacional             1
uparsistem                                  1
validacion                                  1
validacion icfes                            2
validación de bachillerato                  1
validante ICFES                             1
validantes taxis                            1
veintiun angeles                            1
veintiun angeles                            1
vernarda gonzales                           1
vernot school                               1
vida y paz rodrigo arenas betancur          1
villa margarita                             1
villa santana                               1
villanelly sabatino                         1
villas de san ignacio                       1
virtual andino                              1
vista bella i-e-d                           1
william shakespeare                         2
yoan quepler                                1
zer international                           1
zion school                                 1
´validación icfes                           1
Name: ESTU_OTRO_PLANTEL, dtype: int64
Elementos null/NaN 61838
__________________
Elementos diferentes de null/NaN: 12289
__________________
(12289,)
None

In [190]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [191]:
c = 'ESTU_COD_OTRO_PAIS_PLANTEL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([  1.0,   2.0,  11.0,  12.0,  13.0,  17.0,  23.0,  28.0,  33.0,
               34.0,  36.0,  39.0,  40.0,  41.0,  42.0,  46.0,  50.0,  52.0,
               54.0,  55.0,  56.0,  57.0,  65.0,  67.0,  76.0,  91.0,  98.0,
               99.0, 103.0, 109.0, 110.0, 112.0, 118.0, 119.0, 131.0, 144.0,
              145.0, 152.0, 157.0, 160.0, 164.0, 166.0, 167.0, 168.0, 171.0,
              173.0, 174.0, 195.0, 199.0, 200.0, 202.0, 209.0, 216.0, 228.0,
              235.0, 236.0, 238.0, 240.0, 241.0, 242.0],
             dtype='float64')
1      54420
2          1
11         1
12        12
13         1
17         1
23         1
28         7
33         4
34         1
36         1
39         6
40         1
41         6
42        15
46        10
50        36
52         1
54         2
55         1
56         1
57         3
65        44
67         1
76         3
91         3
98         4
99         2
103        1
109        1
110        1
112        1
118        9
119        2
131        2
144        7
145        1
152        1
157        6
160        2
164        1
166        1
167        2
168        1
171       21
173        1
174       25
195        1
199        1
200        1
202        1
209       30
216        2
228        1
235        2
236       49
238        4
240        2
241      225
242        3
Name: ESTU_COD_OTRO_PAIS_PLANTEL, dtype: int64
Elementos null/NaN 19130
__________________
Elementos diferentes de null/NaN: 54997
__________________
(54997,)
None

In [192]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 19130
cant null despues: 0

In [193]:
c = 'COLE_VALOR_PENSION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1     469
2    2936
3    1770
4    1140
5    2050
6    8629
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 57133
__________________
Elementos diferentes de null/NaN: 16994
__________________
(16994,)
None

In [194]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 57133
cant null despues: 0

In [195]:
c = 'ESTU_VECES_ESTADO_ESTUDIANTIL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0        1
1    16665
2      293
3       20
4       15
Name: ESTU_VECES_ESTADO_ESTUDIANTIL, dtype: int64
Elementos null/NaN 57133
__________________
Elementos diferentes de null/NaN: 16994
__________________
(16994,)
None

In [196]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 57133
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [197]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([ 5001,  5045,  5154,  5615,  5756,  8001,  8758, 11001, 13001,
            13430, 15001, 15407, 15759, 17001, 17380, 18001, 18247, 19001,
            19532, 19698, 20001, 20011, 23001, 23466, 25183, 25269, 25290,
            25307, 25899, 27001, 27361, 41001, 41396, 44001, 44035, 44430,
            47001, 50001, 50313, 52001, 52356, 52835, 52838, 54001, 54498,
            54518, 63001, 66001, 68001, 68077, 68081, 68432, 68547, 68679,
            70001, 73001, 73268, 76001, 76109, 76111, 76147, 76520, 76622,
            76736, 76834, 81001, 81794, 85001, 85250, 86001, 86320, 86568,
            86749, 88001, 91001, 94001, 95001, 97001, 99001],
           dtype='int64')
5001      2999
5045       453
5154       102
5615       272
5756        29
8001      2135
8758        11
11001    16171
13001     1050
13430      104
15001     1826
15407      121
15759     1552
17001     1757
17380      239
18001      422
18247       59
19001     1750
19532       67
19698      508
20001      871
20011      227
23001      553
23466      100
25183       27
25269      579
25290      169
25307      273
25899      904
27001      367
         ...
68077      170
68081      339
68432       51
68547      413
68679      190
70001      420
73001     1564
73268      270
76001    11071
76109      353
76111      623
76147      278
76520     1571
76622      164
76736       67
76834      436
81001      152
81794       99
85001      370
85250       47
86001      118
86320       76
86568      109
86749       93
88001       45
91001       12
94001        9
95001       75
97001        8
99001       23
Name: ESTU_COD_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [198]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [199]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['AGUACHICA', 'ALBANIA', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARBOSA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BOGOTÁ D.C.', 'BUCARAMANGA',
       'BUENAVENTURA', 'BUGA', 'CALI', 'CARTAGENA', 'CARTAGO', 'CAUCASIA',
       'CHOCONTA', 'CUCUTA', 'EL DONCELLO', 'ESPINAL', 'FACATATIVA',
       'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'GRANADA', 'IBAGUE', 'INIRIDA',
       'IPIALES', 'ISTMINA', 'LA DORADA', 'LA PLATA', 'LETICIA', 'MAGANGUE',
       'MAICAO', 'MALAGA', 'MANIZALES', 'MEDELLIN', 'MITU', 'MOCOA',
       'MONTELIBANO', 'MONTERIA', 'NEIVA', 'OCAÑA', 'ORITO', 'PALMIRA',
       'PAMPLONA', 'PASTO', 'PATIA(EL BORDO)', 'PAZ DE ARIPORO', 'PEREIRA',
       'PIEDECUESTA', 'POPAYAN', 'PUERTO ASIS', 'PUERTO CARREÑO', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SAN ANDRES', 'SAN GIL',
       'SAN JOSE DEL GUAVIARE', 'SANTA MARTA', 'SANTANDER DE QUILICHAO',
       'SEVILLA', 'SIBUNDOY', 'SINCELEJO', 'SOGAMOSO', 'SOLEDAD', 'SONSON',
       'TAME', 'TULUA', 'TUMACO', 'TUNJA', 'TUQUERRES', 'VALLEDUPAR',
       'VILLA DE LEYVA', 'VILLAVICENCIO', 'YOPAL', 'ZIPAQUIRA'],
      dtype='object')
AGUACHICA                   227
ALBANIA                      92
APARTADO                    453
ARAUCA                      152
ARMENIA                     902
BARBOSA                     170
BARRANCABERMEJA             339
BARRANQUILLA               2135
BOGOTÁ D.C.               16171
BUCARAMANGA                3653
BUENAVENTURA                353
BUGA                        623
CALI                      11071
CARTAGENA                  1050
CARTAGO                     278
CAUCASIA                    102
CHOCONTA                     27
CUCUTA                     1235
EL DONCELLO                  59
ESPINAL                     270
FACATATIVA                  579
FLORENCIA                   422
FUSAGASUGA                  169
GIRARDOT                    273
GRANADA                     107
IBAGUE                     1564
INIRIDA                       9
IPIALES                     913
ISTMINA                      22
LA DORADA                   239
                          ...
PEREIRA                    1410
PIEDECUESTA                 413
POPAYAN                    1750
PUERTO ASIS                 109
PUERTO CARREÑO               23
QUIBDO                      367
RIOHACHA                    263
RIONEGRO                    272
ROLDANILLO                  164
SAN ANDRES                   45
SAN GIL                     190
SAN JOSE DEL GUAVIARE        75
SANTA MARTA                 482
SANTANDER DE QUILICHAO      508
SEVILLA                      67
SIBUNDOY                     93
SINCELEJO                   420
SOGAMOSO                   1552
SOLEDAD                      11
SONSON                       29
TAME                         99
TULUA                       436
TUMACO                      131
TUNJA                      1826
TUQUERRES                   244
VALLEDUPAR                  871
VILLA DE LEYVA              121
VILLAVICENCIO              1260
YOPAL                       370
ZIPAQUIRA                   904
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [200]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS              12
ANTIOQUIA           3855
ARAUCA               251
ATLANTICO           2146
BOGOTA             16171
BOLIVAR             1154
BOYACA              3499
CALDAS              1996
CAQUETA              481
CASANARE             417
CAUCA               2325
CESAR               1098
CHOCO                389
CORDOBA              653
CUNDINAMARCA        1952
GUAINIA                9
GUAVIARE              75
HUILA               2990
LA GUAJIRA           462
MAGDALENA            482
META                1367
NARIÑO              6280
NORTE SANTANDER     1646
PUTUMAYO             396
QUINDIO              902
RISARALDA           1410
SAN ANDRES            45
SANTANDER           4816
SUCRE                420
TOLIMA              1834
VALLE              14563
VAUPES                 8
VICHADA               23
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [201]:
c = 'ESTU_COD_DEPTO_PRESENTACION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([ 5,  8, 11, 13, 15, 17, 18, 19, 20, 23, 25, 27, 41, 44, 47, 50, 52,
            54, 63, 66, 68, 70, 73, 76, 81, 85, 86, 88, 91, 94, 95, 97, 99],
           dtype='int64')
5      3855
8      2146
11    16171
13     1154
15     3499
17     1996
18      481
19     2325
20     1098
23      653
25     1952
27      389
41     2990
44      462
47      482
50     1367
52     6280
54     1646
63      902
66     1410
68     4816
70      420
73     1834
76    14563
81      251
85      417
86      396
88       45
91       12
94        9
95       75
97        8
99       23
Name: ESTU_COD_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [202]:
data_2016_1_V2 = data_2016_1_V2.drop(c, axis=1)

In [203]:
c = 'FAMI_EDUCA_PADRE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      3104
2     10802
3      8547
4      8036
5     16448
6      1260
7      5124
8      1381
9     10529
10     4776
11     2385
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [204]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [205]:
c = 'FAMI_EDUCA_MADRE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      1584
2      9089
3      8126
4      8944
5     18108
6      1685
7      7169
8      1586
9     11077
10     4376
11      648
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [206]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 0

In [207]:
c = 'FAMI_OCUPA_PADRE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      3131
2      1913
3      2498
4      1075
5      7002
6      1534
7     12049
8      3767
9     23341
10     1356
11     4038
12    10688
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [208]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 0

In [209]:
c = 'FAMI_OCUPA_MADRE'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      1434
2      1819
3      1501
4      1422
5      6654
6      4213
7      4103
8      3572
9      8902
10    31645
11     1537
12     5590
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [210]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [211]:
c = 'FAMI_NUM_HERMANOS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0      6858
1     21835
2     19554
3     10682
4      5725
5      3181
6      1683
7      1094
8       643
9       446
10      691
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [212]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [213]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    18507
2    26092
3    17019
4     5896
5     3438
6     3052
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 123
__________________
Elementos diferentes de null/NaN: 74004
__________________
(74004,)
None

In [214]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 123
cant null despues: 0

In [215]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    25306
2    13923
3     2488
4      857
5    29818
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [216]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 0

In [217]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       941
2      5964
3     16309
4     23817
5     14602
6      5894
7      2483
8      1265
9       432
10      321
11      106
12      258
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [218]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 0

In [219]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      3955
2     23847
3     31188
4      9850
5      2449
6       676
7       233
8        93
9        36
10       65
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [220]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 0

In [221]:
c = 'FAMI_PISOSHOGAR'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     1922
2    25806
3     4560
4    40104
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [222]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [223]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    31712
S    40680
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [224]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [225]:
c = 'FAMI_INTERNET'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    23972
S    48420
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [226]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [227]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    18522
S    53870
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [228]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [229]:
c = 'FAMI_COMPUTADOR'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    19007
S    53385
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [230]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [231]:
c = 'FAMI_DVD'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    27263
S    45129
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [232]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [233]:
c = 'FAMI_LAVADORA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    18769
S    53623
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [234]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [235]:
c = 'FAMI_MICROONDAS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    45435
S    26957
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [236]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [237]:
c = 'FAMI_AUTOMOVIL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    49616
S    22776
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [238]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [239]:
c = 'FAMI_HORNO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N    38860
S    33532
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [240]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 1735
cant null despues: 0

In [241]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    10114
2    30721
3    14249
4     7397
5     2905
6     2229
7     4777
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 1735
__________________
Elementos diferentes de null/NaN: 72392
__________________
(72392,)
None

In [242]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 1735
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [243]:
c = 'ESTU_TRABAJA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    15893
2      542
3      732
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 56960
__________________
Elementos diferentes de null/NaN: 17167
__________________
(17167,)
None

In [244]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 56960
cant null despues: 0

In [245]:
c = 'ESTU_RECIBE_SALARIO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['N', 'S'], dtype='object')
N      51
S    1205
Name: ESTU_RECIBE_SALARIO, dtype: int64
Elementos null/NaN 72871
__________________
Elementos diferentes de null/NaN: 1256
__________________
(1256,)
None

In [246]:
Do_resamples(data_2016_1_V2, c, str)

cant null antes: 72871
cant null despues: 0

In [247]:
c = 'ESTU_VECES_ESTADO'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    22280
2    24733
3     5275
4     2642
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 19197
__________________
Elementos diferentes de null/NaN: 54930
__________________
(54930,)
None

In [248]:
Do_resamples(data_2016_1_V2, c, float)

cant null antes: 19197
cant null despues: 0

# TARGETS

In [249]:
c = 'PUNT_LECTURA_CRITICA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  0,  10,  18,  19,  23,  24,  25,  27,  28,  29,  30,  31,  32,
             33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,
             46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,
             59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,
             72,  73,  74,  76,  77,  79,  80,  81,  83,  85,  88,  90,  93,
             96,  97, 100],
           dtype='int64')
0        61
10       12
18        2
19       14
23       36
24        2
25        1
27       74
28        5
29       10
30      169
31        4
32       28
33      354
34       32
35      586
36       57
37      950
38       90
39     1420
40      180
41     1939
42     2623
43      102
44     2968
45     3295
46      129
47     3690
48     3603
49     3585
       ...
58     3134
59     3125
60     2872
61      770
62     2080
63     2632
64     2334
65        1
66     2048
67      333
68     1353
69     1111
70      272
71      330
72      703
73       95
74      728
76      243
77      263
79      170
80      115
81       20
83       82
85       89
88       42
90        5
93       14
96       14
97        6
100       8
Name: PUNT_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [250]:
c = 'DESEMP_LECTURA_CRITICA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([1, 2, 3, 4], dtype='int64')
1     1390
2    25097
3    39596
4     8044
Name: DESEMP_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [251]:
c = 'PERCENTIL_LECTURA_CRITICA'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  33,  34,  35,  36,  37,  38,  39,  40,
             41,  42,  43,  44,  45,  46,  47,  48,  49,  51,  52,  53,  54,
             55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
             68,  69,  70,  71,  73,  74,  75,  76,  77,  78,  79,  80,  81,
             82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,  94,
             95,  96,  97,  98,  99, 100],
           dtype='int64')
1      1418
2      1069
3      1482
4       205
5      1937
6       170
7      2368
8       209
9      2756
10      226
11      101
12     3073
13      129
14     3267
15      107
16      159
17      157
18     3339
19      118
20      304
21     3271
22      156
23      156
24      306
25     3276
26      150
27      170
28      160
29      154
30     3272
       ...
70      203
71      174
73     1845
74      193
75      179
76      215
77      172
78     1575
79      173
80      193
81      187
82     1292
83      202
84      335
85      138
86     1037
87      178
88      155
89      286
90      801
91      141
92      226
93      212
94      595
95      194
96      194
97      557
98      384
99      305
100     260
Name: PERCENTIL_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [252]:
c = 'PUNT_MATEMATICAS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  0,   3,   5,   9,  10,  12,  14,  15,  17,  18,  19,  20,  21,
             22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,
             35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
             48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,
             61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,
             74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,
             87,  88,  89,  91,  92,  93,  94,  95,  97,  98, 100],
           dtype='int64')
0        27
3         1
5         9
9         1
10        1
12       13
14        4
15        2
17       45
18        7
19        8
20        6
21      102
22       11
23       12
24      232
25       24
26       16
27      427
28       70
29       34
30      847
31       76
32     1240
33      121
34      156
35     1684
36      202
37     2263
38      184
       ...
68     1418
69      411
70     1039
71     1199
72      208
73     1093
74      963
75      191
76     1012
77       96
78      868
79      192
80      765
81      202
82      690
83      180
84      593
85        1
86      585
87      165
88      480
89      242
91      360
92      150
93       74
94      331
95      118
97      335
98       88
100     821
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [253]:
c = 'DESEMP_MATEMATICAS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([1, 2, 3, 4], dtype='int64')
1     5176
2    25676
3    31273
4    12002
Name: DESEMP_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [254]:
c = 'PERCENTIL_MATEMATICAS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  19,  20,  21,  22,  23,  24,  25,  26,  27,
             28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,
             41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
             54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
             67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,
             80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
             93,  94,  95,  96,  97, 100],
           dtype='int64')
1      1018
2       922
3      1331
4       221
5      1684
6       202
7      2207
8       240
9      2568
10      222
11      121
12     2803
13      207
14      122
15     2983
16      135
17      184
19     3272
20      209
21     3091
22      133
23      198
24     2907
25      240
26      224
27      121
28     2859
29      148
30      280
31     2736
       ...
69      229
70      174
71      905
72      202
73      992
74      101
75      862
76      191
77      186
78      826
79      180
80      696
81      192
82      180
83      673
84      202
85      594
86      189
87      517
88      263
89      486
90      165
91      480
92      168
93      434
94      224
95      331
96      329
97      212
100     821
Name: PERCENTIL_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [255]:
c = 'PUNT_C_NATURALES'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  0,   1,   9,  10,  13,  14,  15,  17,  18,  19,  20,  21,  22,
             23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
             36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
             49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
             62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,
             75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  88,
             89,  90,  92,  93,  95,  97, 100],
           dtype='int64')
0        30
1         4
9         6
10        1
13        1
14       11
15        2
17       11
18        2
19        7
20       29
21        1
22        2
23       45
24       10
25       73
26       24
27      110
28      158
29       16
30      190
31       55
32      284
33      408
34      505
35       58
36      740
37      847
38      982
39     1247
       ...
65     1813
66     1742
67     1429
68      264
69     1585
70     1306
71       97
72     1281
73      494
74      718
75      448
76      597
77      443
78      499
79      398
80       95
81      302
82      336
83       88
84      252
85      215
86       45
88      220
89      102
90       34
92        1
93      132
95       21
97       44
100      93
Name: PUNT_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [256]:
c = 'DESEMP_C_NATURALES'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([1, 2, 3, 4], dtype='int64')
1     7229
2    33998
3    25945
4     6955
Name: DESEMP_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [257]:
c = 'PERCENTIL_C_NATURALES'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,
             93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
1      1041
2       981
3       761
4       921
5      1011
6      1229
7      1286
8      1481
9      1516
10      197
11     1658
12     1765
13      228
14     1908
15      157
16     1988
17      166
18     1997
19      225
20     2088
21      144
22     2082
23      232
24     2097
25      175
26     2172
27      187
28      164
29     2078
30      177
       ...
70     1181
71      264
72      131
73      244
74     1089
75      256
76      121
77      132
78     1015
79      249
80      231
81      801
83      355
84      857
85      113
86      213
87      122
88      698
89      233
90      109
91      597
92      193
93      202
94      453
95      185
96      411
97      144
98      206
99      270
100     216
Name: PERCENTIL_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [258]:
c = 'PUNT_SOCIALES_CIUDADANAS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  0,   4,   5,  10,  11,  13,  15,  16,  17,  18,  19,  20,  21,
             22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,
             35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
             48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,
             61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,
             74,  75,  76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,
             87,  89,  90,  93,  94,  95,  96, 100],
           dtype='int64')
0        34
4         7
5         2
10       11
11        2
13        1
15       35
16        1
17        4
18       55
19        5
20        5
21      110
22       17
23       16
24      136
25       42
26      236
27       61
28      414
29       94
30      593
31      133
32      764
33      144
34      972
35      203
36     1237
37     1471
38      260
       ...
65     2596
66      482
67     2043
68      835
69     1805
70      692
71     1536
72      630
73     1224
74      590
75      850
76      690
77      596
78      217
79      337
80      417
81      285
82      170
83      238
84      140
85      125
86       48
87      125
89      130
90       59
93       77
94       43
95       17
96       30
100      60
Name: PUNT_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [259]:
c = 'DESEMP_SOCIALES_CIUDADANAS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([1, 2, 3, 4], dtype='int64')
1    10383
2    28028
3    27082
4     8634
Name: DESEMP_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [260]:
c = 'PERCENTIL_SOCIALES_CIUDADANAS'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  51,  52,  53,
             54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
             67,  68,  69,  70,  71,  72,  73,  74,  75,  77,  78,  79,  80,
             81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,  92,  93,
             94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
1      1213
2       801
3       908
4      1118
5      1294
6      1471
7       197
8      1612
9       138
10     1762
11      164
12     1837
13      235
14     1938
15      176
16     2056
17      189
18      194
19     2141
20      190
21     2247
22      212
23     2071
24      203
25      204
26     2360
27      232
28      116
29     2408
30      115
       ...
70     2067
71      189
72      182
73      154
74      129
75     1805
77      328
78      196
79      168
80     1715
81      144
82      162
83      145
84     1224
85      157
86      166
87      267
88     1005
89      138
90      273
91      124
92      813
93      122
94      215
95      604
96      187
97      459
98      125
99      303
100     286
Name: PERCENTIL_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [261]:
c = 'PUNT_INGLES'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  0,   7,  15,  22,  27,  31,  34,  37,  39,  40,  42,  44,  46,
             49,  51,  52,  53,  55,  56,  58,  59,  60,  61,  62,  64,  65,
             66,  67,  68,  70,  71,  73,  74,  76,  77,  79,  80,  82,  85,
             87,  90,  92,  95,  97, 100],
           dtype='int64')
0         86
7         18
15        25
22        26
27        36
31        97
34       245
37       516
39       986
40      1693
42      2557
44      3601
46      4480
49     10641
51      5495
52      5107
53      4216
55      3730
56      3053
58      2496
59      2016
60      1721
61      1467
62      1246
64      1112
65       980
66       954
67       923
68       920
70       790
71       833
73       797
74       823
76       848
77       842
79       804
80       949
82       928
85       951
87      1032
90      1087
92      1082
95      1002
97       645
100      271
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [262]:
c = 'DESEMP_INGLES'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    19484
A1    29619
A2    11340
B+     6070
B1     7614
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [263]:
c = 'PERCENTIL_INGLES'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  1,   3,   6,   9,  14,  18,  23,  28,  32,  36,  40,  42,  44,
             46,  48,  50,  51,  52,  54,  55,  56,  58,  59,  61,  62,  64,
             66,  68,  70,  72,  75,  78,  82,  86,  91,  96,  98, 100],
           dtype='int64')
1      2035
3      1693
6      2557
9      3601
14     4480
18     5118
23     5523
28     5495
32     5106
36     4217
40     3730
42     3053
44     2496
46     2016
48     1721
50     1467
51     1246
52     1112
54      980
55      954
56      923
58      920
59      790
61      833
62      797
64      823
66      848
68      842
70      804
72      949
75      928
78      951
82     1032
86     1087
91     1082
96     1002
98      645
100     271
Name: PERCENTIL_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [264]:
c = 'PUNT_GLOBAL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  0,   1,  13,  15,  20,  21,  22,  28,  40,  46,
            ...
            472, 473, 475, 476, 477, 479, 481, 483, 485, 494],
           dtype='int64', length=396)
0      1
1      1
13     1
15     1
20     1
21     1
22     1
28     1
40     1
46     2
48     1
58     1
77     1
78     1
81     1
82     3
85     1
86     2
88     1
89     1
90     1
91     2
95     2
97     3
98     1
100    1
102    4
105    3
106    1
107    1
      ..
451    5
452    9
453    9
454    7
455    5
456    1
457    5
458    6
459    2
460    3
461    1
462    4
463    5
464    3
465    3
466    1
467    3
468    2
469    1
470    1
472    3
473    2
475    1
476    3
477    1
479    2
481    1
483    1
485    1
494    1
Name: PUNT_GLOBAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

In [265]:
c = 'PERCENTIL_GLOBAL'
print(data_2016_1_V2[c].value_counts().sort_index().index)
print(data_2016_1_V2[c].value_counts().sort_index())
print(missing_data(data_2016_1_V2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
             14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             92,  93,  94,  95,  96,  97,  98,  99, 100],
           dtype='int64')
1      1156
2      1104
3      1057
4      1037
5      1074
6      1129
7      1122
8      1154
9      1080
10     1012
11     1024
12     1086
13     1146
14     1135
15     1068
16     1095
17     1016
18     1033
19     1012
20     1136
21     1029
22     1069
23     1025
24     1121
25     1014
26     1000
27     1048
28     1034
29      950
30     1104
       ...
71      466
72      457
73      433
74      411
75      420
76      459
77      403
78      385
79      366
80      391
81      365
82      379
83      344
84      339
85      320
86      324
87      318
88      321
89      278
90      288
91      272
92      265
93      275
94      273
95      259
96      267
97      264
98      232
99      223
100     228
Name: PERCENTIL_GLOBAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 74127
__________________
(74127,)
None

___

___

___

___

# YEAR 2016, Semester 2

In [266]:
data_2016_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20162-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10,11,12,13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [267]:
data_2016_2.shape

(605982, 81)

In [268]:
data_2016_2.head(3).T

,0,1,2
PERIODO,20162,20162,20162
ESTU_CONSECUTIVO,SABER1120162000001,SABER1120162000002,SABER1120162000003
ESTU_ESTUDIANTE,ESTUDIANTE,ESTUDIANTE,INDIVIDUAL
ESTU_EDAD,18,16,19
ESTU_TIPO_DOCUMENTO,CC,TI,CC
ESTU_PAIS_RESIDE,1,1,1
ESTU_GENERO,M,M,M
ESTU_FECHA_NACIMIENTO,25/03/1998,22/12/1999,29/10/1997
ESTU_ETNIA,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_CONDICIONESPECIAL,NaN,NaN,NaN
ESTU_LIMITA_SORDO,NaN,NaN,NaN
ESTU_LIMITA_SDOWN,NaN,NaN,NaN
ESTU_LIMITA_AUTISMO,NaN,NaN,NaN
ESTU_AREA_RESIDE,R,R,U
COLE_COD_MCPIO_UBICACION,5380,5380,NaN
ESTU_RESIDE_MCPIO,LA ESTRELLA,LA ESTRELLA,BOGOTÁ D.C.
ESTU_COD_RESIDE_DEPTO,5,5,11
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,BOGOTA
ESTU_COD_RESIDE_MCPIO,5380,5380,11001
ESTU_ZONA_RESIDE,10,10,5
COLE_COD_DANE_INSTITUCION,4.0538e+11,4.0538e+11,NaN
COLE_COD_ICFES,2204,2204,NaN
COLE_NOMBRE_SEDE,COLEGIO DIVINO SALVADOR( ANTES SEMINARIO DIVIN...,COLEGIO DIVINO SALVADOR( ANTES SEMINARIO DIVIN...,NaN
COLE_JORNADA,C,C,NaN
COLE_GENERO,MIXTO,MIXTO,NaN
COLE_CARACTER,ACADÉMICO,ACADÉMICO,NaN
COLE_NATURALEZA,NO OFICIAL,NO OFICIAL,OTRO
COLE_CALENDARIO,A,A,NaN
...,...,...,...
FAMI_PISOSHOGAR,4,4,4
FAMI_DVD,N,S,S
FAMI_TELEFONO_FIJO,S,S,S
FAMI_INTERNET,S,S,N
FAMI_SERVICIO_TELEVISION,S,S,S
FAMI_COMPUTADOR,S,S,S
FAMI_LAVADORA,S,S,S
FAMI_MICROONDAS,S,S,S
FAMI_HORNO,S,S,N
FAMI_AUTOMOVIL,N,S,N
ESTU_NUMERO_LIBROS,11 A 25 LIBROS,11 A 25 LIBROS,0 A 10 LIBROS
FAMI_INGRESO_FMILIAR_MENSUAL,3,6,3
ESTU_RECIBE_SALARIO,NaN,NaN,NaN
PUNT_LECTURA_CRITICA,66,60,45
PERCENTIL_LECTURA_CRITICA,92,76,25
DESEMP_LECTURA_CRITICA,4,3,2
PUNT_MATEMATICAS,64,58,40
PERCENTIL_MATEMATICAS,86,73,19
DESEMP_MATEMATICAS,3,3,2
PUNT_C_NATURALES,63,57,36
PERCENTIL_C_NATURALES,85,69,5
DESEMP_C_NATURALES,3,3,1
PUNT_SOCIALES_CIUDADANAS,63,51,36
PERCENTIL_SOCIALES_CIUDADANAS,88,53,9
DESEMP_SOCIALES_CIUDADANAS,3,2,1
PUNT_INGLES,51,67,0
PERCENTIL_INGLES,50,89,1
DESEMP_INGLES,A1,A2,A-
PUNT_GLOBAL,315,287,181
PERCENTIL_GLOBAL,88,73,5

In [269]:
c = 'PERIODO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Int64Index([20162], dtype='int64')
20162    605982
Name: PERIODO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605982
__________________
(605982,)
None

In [270]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [271]:
c = 'ESTU_CONSECUTIVO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['SABER1120162000001', 'SABER1120162000002', 'SABER1120162000003',
       'SABER1120162000004', 'SABER1120162000005', 'SABER1120162000006',
       'SABER1120162000007', 'SABER1120162000008', 'SABER1120162000009',
       'SABER1120162000010',
       ...
       'SABER1120162605973', 'SABER1120162605974', 'SABER1120162605975',
       'SABER1120162605976', 'SABER1120162605977', 'SABER1120162605978',
       'SABER1120162605979', 'SABER1120162605980', 'SABER1120162605981',
       'SABER1120162605982'],
      dtype='object', length=605982)
SABER1120162000001    1
SABER1120162000002    1
SABER1120162000003    1
SABER1120162000004    1
SABER1120162000005    1
SABER1120162000006    1
SABER1120162000007    1
SABER1120162000008    1
SABER1120162000009    1
SABER1120162000010    1
SABER1120162000011    1
SABER1120162000012    1
SABER1120162000013    1
SABER1120162000014    1
SABER1120162000015    1
SABER1120162000016    1
SABER1120162000017    1
SABER1120162000018    1
SABER1120162000019    1
SABER1120162000020    1
SABER1120162000021    1
SABER1120162000022    1
SABER1120162000023    1
SABER1120162000024    1
SABER1120162000025    1
SABER1120162000026    1
SABER1120162000027    1
SABER1120162000028    1
SABER1120162000029    1
SABER1120162000030    1
                     ..
SABER1120162605953    1
SABER1120162605954    1
SABER1120162605955    1
SABER1120162605956    1
SABER1120162605957    1
SABER1120162605958    1
SABER1120162605959    1
SABER1120162605960    1
SABER1120162605961    1
SABER1120162605962    1
SABER1120162605963    1
SABER1120162605964    1
SABER1120162605965    1
SABER1120162605966    1
SABER1120162605967    1
SABER1120162605968    1
SABER1120162605969    1
SABER1120162605970    1
SABER1120162605971    1
SABER1120162605972    1
SABER1120162605973    1
SABER1120162605974    1
SABER1120162605975    1
SABER1120162605976    1
SABER1120162605977    1
SABER1120162605978    1
SABER1120162605979    1
SABER1120162605980    1
SABER1120162605981    1
SABER1120162605982    1
Name: ESTU_CONSECUTIVO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605982
__________________
(605982,)
None

In [272]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [273]:
c = 'ESTU_ESTUDIANTE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['ESTUDIANTE', 'INDIVIDUAL'], dtype='object')
ESTUDIANTE    567777
INDIVIDUAL     38205
Name: ESTU_ESTUDIANTE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605982
__________________
(605982,)
None

In [274]:
c = 'ESTU_EDAD'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
            68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 81, 82, 83, 85, 95],
           dtype='int64')
0        230
1         79
2         12
3          4
4          1
5          8
6         35
7         71
8         65
9         67
10        32
11        17
12        14
13        74
14       422
15      9646
16    140320
17    212949
18    112670
19     51697
20     20823
21     10292
22      6552
23      4756
24      3714
25      3026
26      2618
27      2315
28      2053
29      1866
       ...
53       209
54       195
55       137
56       155
57        99
58       106
59        78
60        61
61        55
62        46
63        35
64        35
65        25
66        23
67        19
68        14
69        12
70        10
71         8
72         6
73         4
74         2
75         4
76         2
77         1
81         1
82         1
83         1
85         1
95         1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605982
__________________
(605982,)
None

In [275]:
for i in data_2016_2[c].value_counts().sort_index().index:
    if i < 9:
        data_2016_2[c] = data_2016_2[c].replace(i, np.nan)
    elif i > 80:
        data_2016_2[c] = data_2016_2[c].replace(i, np.nan)
        
Do_resamples(data_2016_2, c, int)

cant null antes: 510
cant null despues: 0

In [276]:
c = 'ESTU_TIPO_DOCUMENTO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['CC', 'CE', 'CR', 'PC', 'PE', 'PV', 'TI'], dtype='object')
CC    131797
CE       489
CR     11498
PC        24
PE        92
PV         2
TI    462080
Name: ESTU_TIPO_DOCUMENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605982
__________________
(605982,)
None

In [277]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [278]:
c = 'ESTU_PAIS_RESIDE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Int64Index([  1,   2,   8,  12,  14,  15,  18,  23,  28,  29,  33,  35,  41,
             46,  47,  50,  54,  55,  57,  59,  63,  64,  65,  67,  76,  83,
             89,  91,  98,  99, 103, 110, 112, 118, 119, 144, 154, 157, 171,
            174, 179, 202, 209, 218, 226, 228, 235, 236, 238, 241, 242, 249],
           dtype='int64')
1      605464
2           1
8           1
12         11
14          3
15          3
18          1
23          2
28          6
29          1
33          5
35          2
41          1
46          7
47          1
50         22
54          8
55          3
57          5
59          1
63          1
64          2
65         45
67          5
76          4
83          5
89          1
91          5
98          2
99          3
103         1
110         9
112         3
118        10
119         7
144        17
154         1
157         2
171        11
174        22
179         2
202         1
209        25
218         2
226         1
228         1
235         6
236        78
238         7
241       153
242         1
249         1
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605982
__________________
(605982,)
None

In [279]:
c = 'ESTU_GENERO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['F', 'M'], dtype='object')
F    328379
M    277602
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605981
__________________
(605981,)
None

In [280]:
idx = data_2016_2[data_2016_2[c].isnull()].index
data_2016_2 = data_2016_2.drop(idx)

In [281]:
c = 'ESTU_FECHA_NACIMIENTO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['01/01/1900', '01/01/1950', '01/01/1957', '01/01/1958', '01/01/1962',
       '01/01/1963', '01/01/1965', '01/01/1967', '01/01/1968', '01/01/1969',
       ...
       '31/12/1994', '31/12/1995', '31/12/1996', '31/12/1997', '31/12/1998',
       '31/12/1999', '31/12/2000', '31/12/2001', '31/12/2002', '31/12/2007'],
      dtype='object', length=14141)
01/01/1900     20
01/01/1950      1
01/01/1957      1
01/01/1958      1
01/01/1962      1
01/01/1963      3
01/01/1965      1
01/01/1967      3
01/01/1968      1
01/01/1969      3
01/01/1970      3
01/01/1971      6
01/01/1972      1
01/01/1974      2
01/01/1976      3
01/01/1977      6
01/01/1978      1
01/01/1980      5
01/01/1981      6
01/01/1982      4
01/01/1983      4
01/01/1984      5
01/01/1985      4
01/01/1986      3
01/01/1987      8
01/01/1988      7
01/01/1989     12
01/01/1990     14
01/01/1991     16
01/01/1992     10
             ...
31/12/1974      1
31/12/1975      2
31/12/1976      1
31/12/1977      2
31/12/1978      2
31/12/1979      1
31/12/1980      1
31/12/1981      3
31/12/1982      8
31/12/1983      1
31/12/1984      4
31/12/1985      1
31/12/1986      6
31/12/1987      5
31/12/1988      9
31/12/1989      8
31/12/1990     10
31/12/1991     12
31/12/1992     10
31/12/1993     18
31/12/1994     14
31/12/1995     37
31/12/1996     86
31/12/1997    202
31/12/1998    359
31/12/1999    606
31/12/2000     73
31/12/2001      6
31/12/2002      1
31/12/2007      1
Name: ESTU_FECHA_NACIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605981
__________________
(605981,)
None

In [282]:
Sep_Col = pd.DataFrame(data_2016_2.ESTU_FECHA_NACIMIENTO.str.split('/').tolist(), columns=['ESTU_NACIMIENTO_DIA', 
                                                                                         'ESTU_NACIMIENTO_MES',
                                                                                         'ESTU_NACIMIENTO_ANNO'])
data_2016_2 = pd.concat([data_2016_2, Sep_Col], axis=1)
data_2016_2 = data_2016_2.drop('ESTU_FECHA_NACIMIENTO', axis=1)

In [283]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['0001', '0002', '0015', '0068', '0083', '0086', '0088', '0089', '0091',
       '0092',
       ...
       '41', '42', '43', '44', '45', '46', '47', '48', '49', '5603'],
      dtype='object', length=113)
0001      2
0002      2
0015      1
0068      1
0083      1
0086      1
0088      1
0089      3
0091      1
0092      2
0093      4
0094      3
0095      2
0096      7
0097     10
0098     14
0099     16
0196      1
0199      2
0200      2
0994      1
1078      1
1098      1
1099      1
1194      1
1886      1
1887      1
1889      1
1900     23
1916      1
       ...
2003     62
2004     13
2005     19
2006     30
2007     74
2008     61
2009     74
2010     30
2011      7
2013      4
2014     13
2015     81
2016    225
21        1
31        1
33        1
34        1
35        1
39        1
40        2
41        4
42        3
43        3
44        6
45       11
46        7
47       12
48       14
49       19
5603      1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605981
__________________
(605981,)
None

In [284]:
for i in data_2016_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2016_2[c] = data_2016_2[c].replace(i, np.nan)
    elif type(i) == str:
        data_2016_2[c] = data_2016_2[c].replace(i, float(i))
    elif i < 1930:
        data_2016_2[c] = data_2016_2[c].replace(i, np.nan)
    elif i > 2007:
        data_2016_2[c] = data_2016_2[c].replace(i, np.nan)
        
idx = data_2016_2[data_2016_2[c].isnull()].index
data_2016_2 = data_2016_2.drop(idx)

In [285]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'], dtype='object')
01    50779
02    45578
03    50992
04    47931
05    50490
06    48598
07    50094
08    51423
09    54425
10    52985
11    50946
12    51653
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605894
__________________
(605894,)
None

In [286]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24',
       '25', '26', '27', '28', '29', '30', '31'],
      dtype='object')
01    20829
02    19802
03    20143
04    19937
05    19954
06    19887
07    19947
08    19863
09    19700
10    20396
11    20057
12    20420
13    19560
14    19789
15    20211
16    19799
17    19946
18    19854
19    19633
20    20411
21    19791
22    20147
23    19845
24    19626
25    19357
26    19567
27    19679
28    20146
29    18432
30    18298
31    10868
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 605894
__________________
(605894,)
None

In [287]:
idx = data_2016_2[data_2016_2[c].isnull()].index
data_2016_2 = data_2016_2.drop(idx)

In [288]:
c = 'ESTU_ETNIA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0, 100.0, 990.0],
             dtype='float64')
1      21737
2        485
3         35
4       2320
5        200
6       1048
7        719
8       2362
9       1704
10       185
11       293
12        71
13        76
14       116
15        89
16       126
17       254
18      3394
19      4448
100     1032
990        1
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 565199
__________________
Elementos diferentes de null/NaN: 40695
__________________
(40695,)
None

In [289]:
data_2016_2[c].replace(990, 100)
data_2016_2[c].fillna(100, inplace=True)

In [290]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['MOT'], dtype='object')
MOT    797
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 605097
__________________
Elementos diferentes de null/NaN: 797
__________________
(797,)
None

In [291]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [292]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['VIS'], dtype='object')
VIS    172
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 605722
__________________
Elementos diferentes de null/NaN: 172
__________________
(172,)
None

In [293]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [294]:
c = 'ESTU_LIMITA_CONDICIONESPECIAL'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['CE'], dtype='object')
CE    642
Name: ESTU_LIMITA_CONDICIONESPECIAL, dtype: int64
Elementos null/NaN 605252
__________________
Elementos diferentes de null/NaN: 642
__________________
(642,)
None

In [295]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [296]:
c = 'ESTU_LIMITA_SORDO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['AUD'], dtype='object')
AUD    141
Name: ESTU_LIMITA_SORDO, dtype: int64
Elementos null/NaN 605753
__________________
Elementos diferentes de null/NaN: 141
__________________
(141,)
None

In [297]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [298]:
c = 'ESTU_LIMITA_SDOWN'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['SD'], dtype='object')
SD    270
Name: ESTU_LIMITA_SDOWN, dtype: int64
Elementos null/NaN 605624
__________________
Elementos diferentes de null/NaN: 270
__________________
(270,)
None

In [299]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [300]:
c = 'ESTU_LIMITA_AUTISMO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['AA'], dtype='object')
AA    408
Name: ESTU_LIMITA_AUTISMO, dtype: int64
Elementos null/NaN 605486
__________________
Elementos diferentes de null/NaN: 408
__________________
(408,)
None

In [301]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [302]:
c = 'ESTU_AREA_RESIDE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['R', 'U'], dtype='object')
R    132665
U    467996
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 5233
__________________
Elementos diferentes de null/NaN: 600661
__________________
(600661,)
None

In [303]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5233
cant null despues: 0

In [304]:
c = 'COLE_COD_MCPIO_UBICACION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([ 5001.0,  5002.0,  5004.0,  5021.0,  5030.0,  5031.0,  5034.0,
               5036.0,  5038.0,  5040.0,
              ...
              95015.0, 95025.0, 95200.0, 97001.0, 97511.0, 97889.0, 99001.0,
              99524.0, 99624.0, 99773.0],
             dtype='float64', length=1111)
5001     30867
5002       155
5004        26
5021        30
5030       281
5031       375
5034       486
5036        63
5038       142
5040       188
5042       278
5044        61
5045      1492
5051       584
5055        90
5059        45
5079       548
5086        99
5088      5868
5091        76
5093       205
5101       284
5107        45
5113        83
5120       207
5125       117
5129       843
5134        41
5138       302
5142        51
         ...
86755       91
86757      245
86760       74
86865      458
86885      375
88001      639
88564       53
91001      731
91263       26
91405       29
91407        7
91460       14
91540       73
91669        2
91798       16
94001      152
94343       61
94663       11
94883       10
95001      748
95015       58
95025      101
95200       33
97001      379
97511       22
97889        9
99001      217
99524      112
99624       28
99773      142
Name: COLE_COD_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 38189
__________________
Elementos diferentes de null/NaN: 567705
__________________
(567705,)
None

In [305]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [306]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1031)
ABEJORRAL                    166
ABREGO                       249
ABRIAQUI                      30
ACACIAS                     1298
ACANDI                       108
ACEVEDO                      406
ACHI                         344
AGRADO                       110
AGUA DE DIOS                 174
AGUACHICA                   1357
AGUADA                        33
AGUADAS                      284
AGUAZUL                      694
AGUSTIN CODAZZI              742
AIPE                         204
ALBAN                         83
ALBAN (SAN JOSE)             171
ALBANIA                      330
ALCALA                       140
ALDANA                        82
ALEJANDRIA                    35
ALGARROBO                    186
ALGECIRAS                    326
ALMAGUER                     155
ALMEIDA                       28
ALPUJARRA                     50
ALTAMIRA                      30
ALTO BAUDO (PIE DE PATO)      73
ALTOS DEL ROSARIO             98
ALVARADO                      86
                            ...
VILLANUEVA                  1084
VILLAPINZON                  274
VILLARRICA                    57
VILLAVICENCIO               7015
VILLAVIEJA                    63
VILLETA                      406
VIOTA                        195
VIRACACHA                     42
VISTA HERMOSA                161
VITERBO                      148
YACOPI                       154
YACUANQUER                   156
YAGUARA                      120
YALI                          79
YARUMAL                      480
YAVARATE                       9
YOLOMBO                      237
YONDO (CASABE)               133
YOPAL                       2919
YOTOCO                       160
YUMBO                       1374
ZAMBRANO                     157
ZAPATOCA                     150
ZAPAYAN                       90
ZARAGOZA                     551
ZARZAL                       615
ZETAQUIRA                     75
ZIPACON                       71
ZIPAQUIRA                   1851
ZONA BANANERA                825
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 2407
__________________
Elementos diferentes de null/NaN: 603487
__________________
(603487,)
None

In [307]:
data_2016_2[c].fillna(method='bfill', inplace=True)
data_2016_2[c].fillna(method='ffill', inplace=True)

In [308]:
c = 'ESTU_COD_RESIDE_DEPTO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([    5.0,     8.0,    11.0,    13.0,    15.0,    17.0,    18.0,
                 19.0,    20.0,    23.0,    25.0,    27.0,    41.0,    44.0,
                 47.0,    50.0,    52.0,    54.0,    63.0,    66.0,    68.0,
                 70.0,    73.0,    76.0,    81.0,    85.0,    86.0,    88.0,
                 91.0,    94.0,    95.0,    97.0,    99.0, 99999.0],
             dtype='float64')
5        78739
8        32010
11       99844
13       26733
15       18811
17       12454
18        4867
19       15815
20       13474
23       20035
25       38350
27        4656
41       16015
44        8319
47       16693
50       12967
52       21231
54       16204
63        8248
66       11608
68       29488
70       11205
73       19332
76       47874
81        3209
85        6313
86        5121
88         719
91         923
94         244
95        1010
97         422
99         549
99999        5
Name: ESTU_COD_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 2407
__________________
Elementos diferentes de null/NaN: 603487
__________________
(603487,)
None

In [309]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [310]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'EXTRANJERO', 'GUAINIA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE',
       'TOLIMA', 'VALLE', 'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             923
ANTIOQUIA          78739
ARAUCA              3209
ATLANTICO          32010
BOGOTA             99844
BOLIVAR            26733
BOYACA             18811
CALDAS             12454
CAQUETA             4867
CASANARE            6313
CAUCA              15815
CESAR              13474
CHOCO               4656
CORDOBA            20035
CUNDINAMARCA       38350
EXTRANJERO             5
GUAINIA              244
GUAVIARE            1010
HUILA              16015
LA GUAJIRA          8319
MAGDALENA          16693
META               12967
NARIÑO             21231
NORTE SANTANDER    16204
PUTUMAYO            5121
QUINDIO             8248
RISARALDA          11608
SAN ANDRES           719
SANTANDER          29488
SUCRE              11205
TOLIMA             19332
VALLE              47874
VAUPES               422
VICHADA              549
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 2407
__________________
Elementos diferentes de null/NaN: 603487
__________________
(603487,)
None

In [311]:
data_2016_2[c].fillna(method='bfill', inplace=True)
data_2016_2[c].fillna(method='ffill', inplace=True)

In [312]:
c = 'ESTU_COD_RESIDE_MCPIO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([ 5001.0,  5002.0,  5004.0,  5021.0,  5030.0,  5031.0,  5034.0,
               5036.0,  5038.0,  5040.0,
              ...
              97001.0, 97161.0, 97511.0, 97666.0, 97889.0, 99001.0, 99524.0,
              99624.0, 99773.0, 99999.0],
             dtype='float64', length=1115)
5001     31155
5002       166
5004        30
5021        35
5030       301
5031       382
5034       509
5036        70
5038       137
5040       193
5042       292
5044        73
5045      1567
5051       554
5055        91
5059        48
5079       606
5086       106
5088      6258
5091        76
5093       207
5101       282
5107        70
5113        79
5120       263
5125       122
5129       936
5134        41
5138       306
5142        61
         ...
86865      525
86885      405
88001      664
88564       55
91001      756
91263       25
91405       29
91407        7
91430        2
91460       14
91540       73
91798       17
94001      161
94343       62
94663       11
94883       10
95001      827
95015       65
95025       81
95200       37
97001      330
97161       26
97511       22
97666       35
97889        9
99001      235
99524      112
99624       34
99773      168
99999        5
Name: ESTU_COD_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 2407
__________________
Elementos diferentes de null/NaN: 603487
__________________
(603487,)
None

In [313]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [314]:
c = 'ESTU_ZONA_RESIDE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      23358
2       5615
3      11921
4      40947
5      30428
6      13145
7      13259
8      28643
9      28285
10    410292
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605893
__________________
(605893,)
None

In [315]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([105001000001.0, 105001000043.0, 105001000108.0, 105001000132.0,
              105001000141.0, 105001000175.0, 105001000205.0, 105001000256.0,
              105001000353.0, 105001000396.0,
              ...
              625899000007.0, 813430000003.0, 818001100011.0, 818001100022.0,
              818001100027.0, 818001100040.0, 847001000005.0, 847001000023.0,
              847001000027.0, 847001000035.0],
             dtype='float64', length=10012)
1.050010e+11     33
1.050010e+11    119
1.050010e+11    971
1.050010e+11     68
1.050010e+11     18
1.050010e+11     80
1.050010e+11     49
1.050010e+11    170
1.050010e+11     57
1.050010e+11    132
1.050010e+11    106
1.050010e+11    159
1.050010e+11     68
1.050010e+11    139
1.050010e+11    114
1.050010e+11     44
1.050010e+11     80
1.050010e+11     27
1.050010e+11     82
1.050010e+11    181
1.050010e+11    137
1.050010e+11    153
1.050010e+11     72
1.050010e+11    181
1.050010e+11    104
1.050010e+11     32
1.050010e+11     67
1.050010e+11     47
1.050010e+11     47
1.050010e+11    100
               ...
5.540013e+11     31
5.540013e+11    126
5.680010e+11      3
5.680010e+11     15
5.684320e+11     13
5.684320e+11      5
6.252430e+11     28
6.252690e+11     73
6.252690e+11     10
6.252690e+11     51
6.252690e+11    172
6.252690e+11     65
6.252690e+11     22
6.254300e+11     23
6.257400e+11     12
6.257450e+11      7
6.257690e+11     27
6.257990e+11     12
6.258170e+11     56
6.258860e+11     17
6.258990e+11     83
8.134300e+11     62
8.180011e+11     55
8.180011e+11    102
8.180011e+11     93
8.180011e+11      8
8.470010e+11    203
8.470010e+11     47
8.470010e+11     85
8.470010e+11     42
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 38189
__________________
Elementos diferentes de null/NaN: 567705
__________________
(567705,)
None

In [316]:
data_2016_2[c].fillna(method='bfill', inplace=True)
data_2016_2[c].fillna(method='ffill', inplace=True)

In [317]:
c = 'COLE_COD_ICFES'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([    59.0,     75.0,     83.0,     91.0,    125.0,    141.0,
                 174.0,    190.0,    208.0,    216.0,
              ...
              662601.0, 662619.0, 662676.0, 662700.0, 662718.0, 662734.0,
              662742.0, 662775.0, 662841.0, 662858.0],
             dtype='float64', length=12217)
59        971
75         50
83         30
91         69
125        66
141        85
174       109
190       103
208        64
216        16
232        54
240        90
265       234
281        65
315        90
356        33
364        51
372        53
380        78
398        27
406        20
422        14
430        93
448        24
455        89
463       149
471        96
489        99
497        64
521        39
         ...
662213     31
662221     21
662247      5
662254     47
662262     13
662288     23
662296     12
662304     14
662312     94
662320     23
662338     60
662379     17
662395     38
662411     23
662445     22
662486     33
662494     79
662536     30
662551      5
662577     11
662601     10
662619     47
662676     19
662700    158
662718    259
662734     30
662742      1
662775     31
662841     23
662858     13
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 38189
__________________
Elementos diferentes de null/NaN: 567705
__________________
(567705,)
None

In [318]:
data_2016_2[c].fillna(method='bfill', inplace=True)
data_2016_2[c].fillna(method='ffill', inplace=True)

In [319]:
c = 'COLE_NOMBRE_SEDE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES',
       'ABSALON TORRES CAMACHO', 'ACAD AMERICANA DE SISTEMAS Y COMERCIO',
       'ACAD CENTRAL DE SISTEMAS ACSI', 'ACAD MILIT MARISCAL SUCRE',
       'ACAD PANTANO DE VARGAS', 'ACAD. MILITAR GRAL. CUSTODIO GARCIA R.',
       'ACADEMIA ACADEMIA SAM', 'ACADEMIA CIAL DE LOS ANDES',
       'ACADEMIA CORPETROL - SEDE PRINCIPAL',
       ...
       'VILLALOSADA', 'VILLANUEVA', 'VISTAHERMOSA', 'WINDSOR ROYAL SCHOL',
       'XINSTITUTO TECNICO COMERCIAL PILOTO',
       'YACHAY WASI RUNA YANAKUNA - SEDE PRINCIPAL', 'YAMAIN - SEDE PRINCIPAL',
       'YU LUUCX PISHAU', 'ZARAGOZA (sede principal)',
       'ZION SCHOOL                                                  - SEDE PRINCIPAL'],
      dtype='object', length=9399)
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                            25
ABSALON TORRES CAMACHO                                                           163
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                             27
ACAD CENTRAL DE SISTEMAS ACSI                                                     39
ACAD MILIT MARISCAL SUCRE                                                        100
ACAD PANTANO DE VARGAS                                                            32
ACAD. MILITAR GRAL. CUSTODIO GARCIA R.                                             8
ACADEMIA ACADEMIA SAM                                                              4
ACADEMIA CIAL DE LOS ANDES                                                        68
ACADEMIA CORPETROL - SEDE PRINCIPAL                                               40
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                         10
ACADEMIA E INSTITUTO CAMPAÑA LIBERTADORA                                           5
ACADEMIA GENERAL CARLOS JULIO GIL COLORADO   - SEDE PRINCIPAL                     18
ACADEMIA GUSTAVO ROJAS PINILLAS                                                   14
ACADEMIA MILITAR GENERAL JOSE ANTONIO ANZOATEGUI                                  30
ACADEMIA MILITAR GENERAL JOSÉ MARÍA CABAL                                         59
ACADEMIA MILITAR GRAL TOMAS CIPRIANO DE MOSQUERA                                  13
ACADEMIA MILITAR GUSTAVO MATAMOROS D COSTA - SEDE PRINCIPAL                       13
ACADEMIA MILITAR JOSE ANTONIO PAEZ                                                22
ACADEMIA MILITAR JOSE ANTONIO PAEZ - SEDE PRINCIPAL                               16
ACADEMIA POLITECNICA INTERACTIVA - SEDE PRINCIPAL                                 32
ACCION COMUNAL                                                                   106
ACEVEDO Y GOMEZ                                                                   59
ADVENTISTA DE QUIBDO BOLIVAR ESCANDON                                             18
AGRICOLA CAMPOALEGRE                                                              30
AGRICOLA PRESBITERO HORACIO GOMEZ GALLO                                           35
AGROAMBIENTAL JOEL SIERRA                                                         14
AGROECOLOGICO                                                                    147
AGROECOLOGICO AMAZONICO BUINAIMA                                                  31
AGROP DEL HUILA                                                                   24
                                                                                ...
URBANA MIXTA NO.1                                                                 56
URIBE (sede principal)                                                            13
VALENCIA (sede principal)                                                          3
VALENCIA DE LA PAZ                                                                 5
VALENTIN CARABALI (sede principal)                                                28
VALPARAISO                                                                        19
VALSALICE                                                                         84
VASCO NUÑEZ DE BALBOA                                                             67
VASCO NUÑEZ DE BALBOA (sede principal)                                            79
VEINTE DE JULIO                                                                    5
VENTIUN ANGELES (INST EDUC DIST)                                                 179
VERDE AMAZONICO                                                                   31
VEREDAS UNIDAS BARRAGAN (sede principal)                                          23
VICTOR MANUEL CHAUX VILLAMIL (sede principal)                                     16
VILLA CECILIA SEDE                                                                15
VILLA CLARA                                                                       32
VILLA CORELCA                                                                     60
VILLA DE LOS ANDES                                                                57
VILLA FANNY                                                                       39
VILLALOBOS (sede principal                                                        11
VILLALOSADA                                                                       12
VILLANUEVA                                                                        33
VISTAHERMOSA                                                                       7
WINDSOR ROYAL SCHOL                                                               32
XINSTITUTO TECNICO COMERCIAL PILOTO                                               11
YACHAY WASI RUNA YANAKUNA - SEDE PRINCIPAL                                        12
YAMAIN - SEDE PRINCIPAL                                                           12
YU LUUCX PISHAU                                                                    8
ZARAGOZA (sede principal)                                                          6
ZION SCHOOL                                                  - SEDE PRINCIPAL     21
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 38189
__________________
Elementos diferentes de null/NaN: 567705
__________________
(567705,)
None

In [320]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [321]:
c = 'COLE_JORNADA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['C', 'M', 'N', 'S', 'T', 'U'], dtype='object')
C    109222
M    294049
N     40145
S     39529
T     82410
U      2350
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 38189
__________________
Elementos diferentes de null/NaN: 567705
__________________
(567705,)
None

In [322]:
Do_resamples(data_2016_2, c, str)

cant null antes: 38189
cant null despues: 0

In [323]:
c = 'COLE_GENERO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['FEMENINO', 'MASCULINO', 'MIXTO'], dtype='object')
FEMENINO      15557
MASCULINO      4808
MIXTO        547340
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 38189
__________________
Elementos diferentes de null/NaN: 567705
__________________
(567705,)
None

In [324]:
Do_resamples(data_2016_2, c, str)

cant null antes: 38189
cant null despues: 0

In [325]:
c = 'COLE_CARACTER'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['ACADÉMICO', 'NO_APLICA', 'TÉCNICO', 'TÉCNICO/ACADÉMICO'], dtype='object')
ACADÉMICO            305751
NO_APLICA              3085
TÉCNICO               60434
TÉCNICO/ACADÉMICO    192678
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 43946
__________________
Elementos diferentes de null/NaN: 561948
__________________
(561948,)
None

In [326]:
Do_resamples(data_2016_2, c, str)

cant null antes: 43946
cant null despues: 0

In [327]:
c = 'COLE_NATURALEZA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['NO OFICIAL', 'OFICIAL', 'OTRO'], dtype='object')
NO OFICIAL    143488
OFICIAL       424217
OTRO           38188
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605893
__________________
(605893,)
None

In [328]:
c = 'COLE_CALENDARIO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['A', 'B', 'F', 'O'], dtype='object')
A    565125
B       325
F         2
O      2253
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 38189
__________________
Elementos diferentes de null/NaN: 567705
__________________
(567705,)
None

In [329]:
Do_resamples(data_2016_2, c, str)

cant null antes: 38189
cant null despues: 0

In [330]:
c = 'COLE_AREA_UBICACION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['R', 'U'], dtype='object')
R     80539
U    487166
Name: COLE_AREA_UBICACION, dtype: int64
Elementos null/NaN 38189
__________________
Elementos diferentes de null/NaN: 567705
__________________
(567705,)
None

In [331]:
Do_resamples(data_2016_2, c, str)

cant null antes: 38189
cant null despues: 0

In [332]:
c = 'ESTU_ANO_TERMINO_BACHILL'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([   2.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0,
              1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0,
              1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0,
              2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0,
              2011.0, 2012.0, 2013.0, 2014.0, 2015.0, 2016.0],
             dtype='float64')
2           1
1980       71
1981       18
1982       25
1983       15
1984       16
1985       32
1986       24
1987       41
1988       34
1989       37
1990       47
1991       70
1992       62
1993       88
1994      100
1995      134
1996      150
1997      186
1998      201
1999      276
2000      354
2001      360
2002      377
2003      461
2004      515
2005      530
2006      652
2007      788
2008      985
2009     1257
2010     1568
2011     1980
2012     2361
2013     3215
2014     4865
2015    12422
2016     2548
Name: ESTU_ANO_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 569028
__________________
Elementos diferentes de null/NaN: 36866
__________________
(36866,)
None

In [333]:
data_2016_2[c] = data_2016_2[c].replace(2, np.nan)
Do_resamples(data_2016_2, c, float)

cant null antes: 569029
cant null despues: 0

In [334]:
c = 'ESTU_MES_TERMINO_BACHILL'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       160
2       185
3       215
4       223
5       215
6      2480
7      2834
8       561
9       403
10      306
11    10800
12    19119
Name: ESTU_MES_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 568393
__________________
Elementos diferentes de null/NaN: 37501
__________________
(37501,)
None

In [335]:
Do_resamples(data_2016_2, c, float)

cant null antes: 568393
cant null despues: 0

In [336]:
c = 'COLE_VALOR_PENSION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    438262
2     42776
3     18214
4     12771
5     25476
6     27471
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 40924
__________________
Elementos diferentes de null/NaN: 564970
__________________
(564970,)
None

In [337]:
Do_resamples(data_2016_2, c, float)

cant null antes: 40924
cant null despues: 0

In [338]:
c = 'ESTU_VECES_ESTADO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    556599
2      7405
3       652
4       314
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 40924
__________________
Elementos diferentes de null/NaN: 564970
__________________
(564970,)
None

In [339]:
Do_resamples(data_2016_2, c, float)

cant null antes: 40924
cant null despues: 0

In [340]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([ 5001.0,  5002.0,  5030.0,  5031.0,  5034.0,  5042.0,  5045.0,
               5051.0,  5079.0,  5088.0,
              ...
              95200.0, 97001.0, 97161.0, 97511.0, 97666.0, 97889.0, 99001.0,
              99524.0, 99624.0, 99773.0],
             dtype='float64', length=464)
5001     29886
5002       163
5030       742
5031       589
5034       860
5042      1293
5045      1956
5051       730
5079       724
5088      6543
5101       310
5120       564
5129      1080
5138       302
5147       518
5148       627
5154      1311
5172       884
5190       422
5212      1749
5234       218
5237       224
5250       708
5266      3320
5284       336
5313       284
5318       525
5360      4635
5361       356
5368       387
         ...
86001     1208
86320      605
86568     1287
86573      266
86749      548
86865      785
86885      445
88001      696
88564       53
91001      735
91263       26
91405       29
91407       22
91540       95
91798       17
94001      171
94343       73
95001      887
95015       62
95025       94
95200       37
97001      330
97161       26
97511       22
97666       36
97889        9
99001      236
99524      134
99624       35
99773      156
Name: ESTU_COD_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605893
__________________
(605893,)
None

In [341]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [342]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO', 'YOPAL', 'YUMBO', 'ZAPATOCA',
       'ZARAGOZA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=447)
ABEJORRAL                     163
ABREGO                        249
ACACIAS                      1869
ACANDI                        107
ACHI                          365
AGUACHICA                    1590
AGUADAS                       283
AGUAZUL                       683
AGUSTIN CODAZZI               760
AIPE                          173
ALBAN                          95
ALBAN (SAN JOSE)              273
ALCALA                        180
ALTO BAUDO (PIE DE PATO)       53
AMAGA                         742
AMALFI                        589
ANDALUCIA                     276
ANDES                         860
ANOLAIMA                      281
ANSERMA                       833
ANSERMANUEVO                  210
APARTADO                     1956
APIA                          318
ARACATACA                     454
ARAUCA                       1221
ARAUQUITA                     315
ARBELAEZ                      190
ARBOLEDAS                     221
ARBOLETES                     730
ARENAL                         91
                             ...
TURMEQUE                      312
TUTA                          142
UBATE                        1406
UNGUIA                        131
URIBIA                        868
URRAO                         846
VALLEDUPAR                   6321
VALPARAISO                    138
VEGACHI                       265
VELEZ                         774
VENADILLO                     192
VENTAQUEMADA                  132
VIGIA DEL FUERTE              136
VILLA DE LEYVA                455
VILLA DEL ROSARIO             952
VILLA GUAMEZ (LA HORMIGA)     785
VILLAGARZON                   445
VILLANUEVA                   1065
VILLAVICENCIO                7479
VILLETA                       627
VIOTA                         199
YARUMAL                       818
YAVARATE                        9
YOLOMBO                       196
YOPAL                        3227
YUMBO                        1526
ZAPATOCA                      166
ZARAGOZA                      450
ZARZAL                        628
ZIPAQUIRA                    3317
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605893
__________________
(605893,)
None

In [343]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS              924
ANTIOQUIA           78991
ARAUCA               3373
ATLANTICO           32876
BOGOTA             100272
BOLIVAR             26074
BOYACA              19433
CALDAS              13085
CAQUETA              4947
CASANARE             6485
CAUCA               15624
CESAR               13708
CHOCO                4587
CORDOBA             19934
CUNDINAMARCA        37691
GUAINIA               244
GUAVIARE             1080
HUILA               16130
LA GUAJIRA           8290
MAGDALENA           16356
META                13027
NARIÑO              21279
NORTE SANTANDER     16322
PUTUMAYO             5144
QUINDIO              8329
RISARALDA           11596
SAN ANDRES            749
SANTANDER           29798
SUCRE               11147
TOLIMA              19004
VALLE               48410
VAUPES                423
VICHADA               561
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605893
__________________
(605893,)
None

In [344]:
c = 'ESTU_COD_DEPTO_PRESENTACION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([ 5.0,  8.0, 11.0, 13.0, 15.0, 17.0, 18.0, 19.0, 20.0, 23.0, 25.0,
              27.0, 41.0, 44.0, 47.0, 50.0, 52.0, 54.0, 63.0, 66.0, 68.0, 70.0,
              73.0, 76.0, 81.0, 85.0, 86.0, 88.0, 91.0, 94.0, 95.0, 97.0,
              99.0],
             dtype='float64')
5      78991
8      32876
11    100272
13     26074
15     19433
17     13085
18      4947
19     15624
20     13708
23     19934
25     37691
27      4587
41     16130
44      8290
47     16356
50     13027
52     21279
54     16322
63      8329
66     11596
68     29798
70     11147
73     19004
76     48410
81      3373
85      6485
86      5144
88       749
91       924
94       244
95      1080
97       423
99       561
Name: ESTU_COD_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605893
__________________
(605893,)
None

In [345]:
data_2016_2 = data_2016_2.drop(c, axis=1)

In [346]:
c = 'ESTU_TRABAJA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    509905
2     34065
3     21071
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 40853
__________________
Elementos diferentes de null/NaN: 565041
__________________
(565041,)
None

In [347]:
Do_resamples(data_2016_2, c, float)

cant null antes: 40853
cant null despues: 0

In [348]:
c = 'ESTU_VECES_ESTADO_ESTUDIANTIL'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    16607
2    12204
3     4045
4     2111
Name: ESTU_VECES_ESTADO_ESTUDIANTIL, dtype: int64
Elementos null/NaN 570927
__________________
Elementos diferentes de null/NaN: 34967
__________________
(34967,)
None

In [349]:
Do_resamples(data_2016_2, c, float)

cant null antes: 570927
cant null despues: 0

In [350]:
c = 'ESTU_PRIVADO_LIBERTAD'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    603306
S      2587
Name: ESTU_PRIVADO_LIBERTAD, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 605893
__________________
(605893,)
None

In [351]:
c = 'FAMI_EDUCA_PADRE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      31265
2     111459
3      95704
4      81523
5     148652
6       9497
7      34378
8       6904
9      45628
10      9959
11     25688
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [352]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5237
cant null despues: 0

In [353]:
c = 'FAMI_EDUCA_MADRE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      14223
2      93353
3      93292
4      93274
5     170855
6      12382
7      47330
8       8184
9      48923
10     10347
11      8494
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [354]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5237
cant null despues: 0

In [355]:
c = 'FAMI_OCUPA_PADRE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      10543
2      10491
3       9550
4       4777
5      45421
6      10893
7     139953
8      15074
9     225983
10      6664
11     17850
12    103457
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 5238
__________________
Elementos diferentes de null/NaN: 600656
__________________
(600656,)
None

In [356]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5238
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [357]:
c = 'FAMI_OCUPA_MADRE'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       4715
2       9978
3       5239
4       6444
5      38109
6      30163
7      48031
8      15897
9      76133
10    304902
11      5212
12     55833
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 5238
__________________
Elementos diferentes de null/NaN: 600656
__________________
(600656,)
None

In [358]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5238
cant null despues: 0

In [359]:
c = 'FAMI_NUM_HERMANOS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0      43965
1     153286
2     166139
3     104797
4      57381
5      30809
6      17646
7      10526
8       6463
9       4008
10      5637
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [360]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5237
cant null despues: 0

In [361]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    271012
2    207186
3     95926
4     18755
5      5612
6      2168
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 5235
__________________
Elementos diferentes de null/NaN: 600659
__________________
(600659,)
None

In [362]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5235
cant null despues: 0

In [363]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    315631
2    127951
3     20826
4      5368
5    130880
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 5238
__________________
Elementos diferentes de null/NaN: 600656
__________________
(600656,)
None

In [364]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5238
cant null despues: 0

In [365]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       4474
2      34871
3     109401
4     181881
5     136774
6      66930
7      31414
8      16471
9       7240
10      5074
11      2173
12      3954
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [366]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5237
cant null despues: 0

In [367]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      25885
2     223956
3     247861
4      73594
5      18796
6       6207
7       2192
8       1139
9        414
10       613
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [368]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5237
cant null despues: 0

In [369]:
c = 'FAMI_PISOSHOGAR'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     34766
2    271384
3     32270
4    262237
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [370]:
Do_resamples(data_2016_2, c, float)

cant null antes: 5237
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [371]:
c = 'FAMI_DVD'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    264879
S    335778
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [372]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [373]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    363601
S    237056
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [374]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [375]:
c = 'FAMI_INTERNET'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    286730
S    313927
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [376]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [377]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    198151
S    402506
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [378]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [379]:
c = 'FAMI_COMPUTADOR'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    250677
S    349980
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [380]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [381]:
c = 'FAMI_LAVADORA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    197529
S    403128
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [382]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [383]:
c = 'FAMI_MICROONDAS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    429401
S    171256
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [384]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [385]:
c = 'FAMI_HORNO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    366637
S    234020
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [386]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [387]:
c = 'FAMI_AUTOMOVIL'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N    481865
S    118792
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [388]:
Do_resamples(data_2016_2, c, str)

cant null antes: 5237
cant null despues: 0

In [389]:
c = 'ESTU_NUMERO_LIBROS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['0 A 10 LIBROS', '11 A 25 LIBROS', '26 A 100 LIBROS',
       'MÁS DE 100 LIBROS'],
      dtype='object')
0 A 10 LIBROS        283252
11 A 25 LIBROS       175704
26 A 100 LIBROS      110092
MÁS DE 100 LIBROS     31609
Name: ESTU_NUMERO_LIBROS, dtype: int64
Elementos null/NaN 5237
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [390]:
idx = data_2016_2[data_2016_2[c].isnull()].index
data_2016_2 = data_2016_2.drop(idx)

In [391]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    171860
2    275742
3     92879
4     36924
5     11695
6      5946
7      5611
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [392]:
c = 'ESTU_RECIBE_SALARIO'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['N', 'S'], dtype='object')
N     2747
S    50944
Name: ESTU_RECIBE_SALARIO, dtype: int64
Elementos null/NaN 546966
__________________
Elementos diferentes de null/NaN: 53691
__________________
(53691,)
None

In [393]:
Do_resamples(data_2016_2, c, str)

cant null antes: 546966
cant null despues: 0

# TARGETS

In [394]:
c = 'PUNT_LECTURA_CRITICA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  0.0,  25.0,  26.0,  27.0,  28.0,  29.0,  30.0,  31.0,  32.0,
               33.0,  34.0,  35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,
               42.0,  43.0,  44.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,
               51.0,  52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,
               60.0,  61.0,  62.0,  63.0,  64.0,  65.0,  66.0,  67.0,  68.0,
               69.0,  70.0,  71.0,  72.0,  73.0,  74.0,  75.0,  76.0,  77.0,
               78.0,  79.0,  80.0,  81.0,  82.0,  83.0,  84.0, 100.0],
             dtype='float64')
0      15312
25         1
26        23
27       112
28       287
29       470
30       774
31      1269
32      2072
33      2733
34      3934
35      5237
36      6779
37      8167
38      9861
39     11379
40     12762
41     14342
42     15268
43     16338
44     17052
45     17861
46     18486
47     19140
48     19934
49     21087
50     21428
51     21899
52     22221
53     22601
       ...
56     22055
57     21290
58     20198
59     18993
60     17597
61     16449
62     14907
63     13423
64     12136
65     10865
66      9684
67      8482
68      7501
69      6603
70      5521
71      4665
72      3806
73      3075
74      2549
75      1944
76      1431
77      1076
78       757
79       527
80       396
81       289
82       139
83       102
84        48
100       29
Name: PUNT_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [395]:
c = 'PERCENTIL_LECTURA_CRITICA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,
               28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,
               37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,
               46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,
               55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,
               64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,
               73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,
               82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0,  90.0,
               91.0,  92.0,  93.0,  94.0,  95.0,  96.0,  97.0,  98.0,  99.0,
              100.0],
             dtype='float64')
1      21542
2       6009
3       6049
4       5948
5       6009
6       5956
7       5882
8       5985
9       5937
10      5902
11      5967
12      5916
13      5888
14      5903
15      5889
16      5897
17      5851
18      5892
19      5883
20      5885
21      5869
22      5892
23      5878
24      5846
25      5867
26      5884
27      5826
28      5917
29      5869
30      5873
       ...
71      5763
72      5787
73      5801
74      5787
75      5770
76      5818
77      5762
78      5812
79      5803
80      5818
81      5788
82      5812
83      5805
84      5869
85      5860
86      5843
87      5842
88      5842
89      5848
90      5847
91      5819
92      5868
93      5866
94      5895
95      5858
96      5888
97      5885
98      5913
99      5942
100     6183
Name: PERCENTIL_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [396]:
c = 'DESEMP_LECTURA_CRITICA'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     35433
2    237570
3    274003
4     53651
Name: DESEMP_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [397]:
c = 'PUNT_MATEMATICAS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  0.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,
               28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,
               37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,
               46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,
               55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,
               64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,
               73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,
               82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0, 100.0],
             dtype='float64')
0      14755
20        26
21       108
22       336
23       585
24       936
25      1404
26      1970
27      2707
28      3490
29      4347
30      5222
31      6190
32      7287
33      8060
34      9164
35     10041
36     10602
37     11715
38     12332
39     12942
40     13359
41     14056
42     14608
43     15127
44     15498
45     15958
46     16505
47     17112
48     17621
       ...
61     14197
62     13154
63     11834
64     10981
65      9751
66      8620
67      7988
68      6945
69      6188
70      5482
71      4739
72      4160
73      3660
74      3050
75      2617
76      2139
77      1787
78      1296
79      1132
80       897
81       673
82       576
83       432
84       314
85       273
86       141
87       172
88        43
89         3
100      202
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [398]:
c = 'PERCENTIL_MATEMATICAS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,
               28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,
               37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,
               46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,
               55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,
               64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,
               73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,
               82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0,  90.0,
               91.0,  92.0,  93.0,  94.0,  95.0,  96.0,  97.0,  98.0,  99.0,
              100.0],
             dtype='float64')
1      20954
2       6106
3       6103
4       6083
5       6086
6       6106
7       6045
8       6041
9       6030
10      6016
11      5984
12      5927
13      5985
14      5977
15      5946
16      5900
17      5916
18      5948
19      5916
20      5898
21      5957
22      5892
23      5868
24      5886
25      5910
26      5882
27      5885
28      5882
29      5845
30      5902
       ...
71      5756
72      5780
73      5747
74      5744
75      5758
76      5769
77      5737
78      5736
79      5778
80      5759
81      5787
82      5757
83      5796
84      5767
85      5763
86      5776
87      5796
88      5782
89      5813
90      5788
91      5840
92      5771
93      5847
94      5864
95      5874
96      5873
97      5906
98      5952
99      5949
100     6240
Name: PERCENTIL_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [399]:
c = 'DESEMP_MATEMATICAS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     81867
2    227153
3    265771
4     25866
Name: DESEMP_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [400]:
c = 'PUNT_C_NATURALES'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  0.0,  25.0,  26.0,  27.0,  28.0,  29.0,  30.0,  31.0,  32.0,
               33.0,  34.0,  35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,
               42.0,  43.0,  44.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,
               51.0,  52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,
               60.0,  61.0,  62.0,  63.0,  64.0,  65.0,  66.0,  67.0,  68.0,
               69.0,  70.0,  71.0,  72.0,  73.0,  74.0,  75.0,  76.0,  77.0,
               78.0,  79.0,  80.0,  81.0,  82.0, 100.0],
             dtype='float64')
0      14839
25        88
26       281
27       556
28       893
29      1309
30      2002
31      2602
32      3458
33      4074
34      4750
35      5652
36      6764
37      7653
38      8365
39      9123
40     10454
41     11522
42     12645
43     13791
44     14989
45     16194
46     17602
47     19258
48     20250
49     21626
50     22855
51     23983
52     24036
53     24204
54     23952
55     23668
56     22727
57     21487
58     20351
59     19361
60     17876
61     16591
62     15467
63     13905
64     12647
65     11456
66     10155
67      8751
68      7370
69      6417
70      5246
71      4104
72      3257
73      2620
74      2051
75      1554
76      1145
77       869
78       556
79       500
80       278
81       256
82        20
100      202
Name: PUNT_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [401]:
c = 'PERCENTIL_C_NATURALES'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,
               28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,
               37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,
               46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,
               55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,
               64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,
               73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,
               82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0,  90.0,
               91.0,  92.0,  93.0,  94.0,  95.0,  96.0,  97.0,  98.0,  99.0,
              100.0],
             dtype='float64')
1      21082
2       6192
3       6102
4       6103
5       6109
6       6055
7       6003
8       6020
9       5977
10      5949
11      5987
12      5978
13      5972
14      5962
15      5932
16      5906
17      5938
18      5920
19      5880
20      5870
21      5846
22      5834
23      5934
24      5894
25      5869
26      5902
27      5859
28      5887
29      5825
30      5872
       ...
71      5737
72      5808
73      5799
74      5763
75      5787
76      5790
77      5780
78      5809
79      5794
80      5836
81      5821
82      5805
83      5782
84      5826
85      5832
86      5846
87      5837
88      5823
89      5810
90      5842
91      5859
92      5844
93      5847
94      5862
95      5874
96      5907
97      5899
98      5965
99      6012
100     6198
Name: PERCENTIL_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [402]:
c = 'DESEMP_C_NATURALES'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     88562
2    296195
3    200714
4     15186
Name: DESEMP_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [403]:
c = 'PUNT_SOCIALES_CIUDADANAS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  0.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,  28.0,
               29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,  37.0,
               38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,  46.0,
               47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,
               56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,  64.0,
               65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,  73.0,
               74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,  82.0,
               83.0,  84.0,  85.0, 100.0],
             dtype='float64')
0      14827
21         1
22        69
23       229
24       440
25       642
26       963
27      1465
28      2097
29      2843
30      3586
31      4871
32      5907
33      7175
34      8418
35      9827
36     10985
37     12232
38     13281
39     14160
40     15048
41     15716
42     15941
43     16447
44     17347
45     17534
46     17969
47     18574
48     18897
49     19117
       ...
57     17742
58     16937
59     16051
60     14960
61     14232
62     13002
63     12333
64     10766
65      9848
66      8663
67      7842
68      6785
69      5813
70      4987
71      4189
72      3488
73      2788
74      2230
75      1764
76      1392
77      1060
78       761
79       573
80       361
81       275
82       165
83       119
84        28
85        14
100       27
Name: PUNT_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [404]:
c = 'PERCENTIL_SOCIALES_CIUDADANAS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,
               28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,
               37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,
               46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,
               55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,
               64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,
               73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,
               82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0,  90.0,
               91.0,  92.0,  93.0,  94.0,  95.0,  96.0,  97.0,  98.0,  99.0,
              100.0],
             dtype='float64')
1      20967
2       6029
3       5976
4       5972
5       5935
6       5914
7       5910
8       5883
9       5937
10      5885
11      5885
12      5873
13      5921
14      5895
15      5861
16      5887
17      5837
18      5914
19      5881
20      5874
21      5828
22      5843
23      5807
24      5864
25      5861
26      5856
27      5835
28      5816
29      5863
30      5823
       ...
71      5831
72      5822
73      5853
74      5835
75      5859
76      5833
77      5847
78      5814
79      5820
80      5843
81      5863
82      5875
83      5839
84      5861
85      5851
86      5890
87      5835
88      5868
89      5875
90      5905
91      5895
92      5903
93      5867
94      5950
95      5916
96      5942
97      5943
98      5959
99      5949
100     5991
Name: PERCENTIL_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [405]:
c = 'DESEMP_SOCIALES_CIUDADANAS'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    136826
2    275622
3    171119
4     17090
Name: DESEMP_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [406]:
c = 'PUNT_INGLES'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  0.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,  37.0,
               38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,  46.0,
               47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,
               56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,  64.0,
               65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,  73.0,
               74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,  82.0,
               83.0,  84.0,  85.0,  86.0,  87.0,  88.0, 100.0],
             dtype='float64')
0      15471
30       164
31      2764
32      5725
33      8961
34     10714
35     10131
36      9947
37      9147
38     10007
39     10829
40     13279
41     15738
42     17527
43     19801
44     21033
45     21185
46     21549
47     21136
48     20418
49     19861
50     19560
51     18874
52     18675
53     18670
54     18091
55     17732
56     17354
57     16595
58     15542
       ...
60     12726
61     11632
62     10363
63      9112
64      8299
65      7701
66      7830
67      7707
68      6595
69      5834
70      6322
71      6919
72      4727
73      4018
74      4737
75      4845
76      3454
77      2949
78      2779
79      2393
80      2048
81      1793
82      1299
83      1598
84       427
85       106
86        27
87        97
88        32
100     1812
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [407]:
c = 'PERCENTIL_INGLES'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,
               28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,
               37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,
               46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,
               55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,
               64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,
               73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,
               82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0,  90.0,
               91.0,  92.0,  93.0,  94.0,  95.0,  96.0,  97.0,  98.0,  99.0,
              100.0],
             dtype='float64')
1      21674
2       5890
3       5952
4       5905
5       5885
6       5938
7       5949
8       5929
9       5966
10      5984
11      5979
12      5948
13      6000
14      5924
15      5896
16      5897
17      5920
18      5891
19      5919
20      5896
21      5887
22      5925
23      5885
24      5844
25      5910
26      5871
27      5883
28      5876
29      5841
30      5841
       ...
71      5727
72      5741
73      5708
74      5720
75      5710
76      5693
77      5694
78      5716
79      5743
80      5697
81      5730
82      5751
83      5793
84      5827
85      5810
86      5798
87      5903
88      5909
89      5899
90      5920
91      5919
92      5884
93      5811
94      5850
95      5883
96      5840
97      5824
98      5940
99      5875
100     5935
Name: PERCENTIL_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [408]:
c = 'DESEMP_INGLES'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    255281
A1    183685
A2    100392
B+     10501
B1     50798
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [409]:
c = 'PUNT_GLOBAL'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  0.0,  12.0,  13.0,  23.0,  24.0,  25.0,  26.0,  27.0,  28.0,
               29.0,
              ...
              448.0, 449.0, 450.0, 452.0, 453.0, 454.0, 455.0, 456.0, 458.0,
              468.0],
             dtype='float64', length=420)
0      14662
12         3
13         2
23         1
24         9
25         2
26         8
27         4
28         6
29        19
30         3
31         5
32        27
33         4
34         3
35         1
36         1
37         2
38         2
39         1
40         2
41         1
43         1
46         1
47         1
48         1
49         1
52         1
56         3
57         4
       ...
425       10
426        8
427        5
428        3
429        5
430        5
431        5
432        3
433        5
434        1
435        2
436        3
437        4
438        4
439        3
440        4
441        2
443        1
444        2
446        1
448        3
449        2
450        3
452        2
453        3
454        2
455        2
456        1
458        1
468        1
Name: PUNT_GLOBAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

In [410]:
c = 'PERCENTIL_GLOBAL'
print(data_2016_2[c].value_counts().sort_index().index)
print(data_2016_2[c].value_counts().sort_index())
print(missing_data(data_2016_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,
               28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,
               37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,
               46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,
               55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,
               64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,
               73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,
               82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0,  90.0,
               91.0,  92.0,  93.0,  94.0,  95.0,  96.0,  97.0,  98.0,  99.0,
              100.0],
             dtype='float64')
1      21321
2       5730
3       5798
4       5794
5       5768
6       5785
7       5802
8       5844
9       5803
10      5822
11      5837
12      5810
13      5807
14      5820
15      5822
16      5832
17      5811
18      5834
19      5781
20      5857
21      5806
22      5841
23      5824
24      5829
25      5836
26      5834
27      5816
28      5814
29      5814
30      5838
       ...
71      5815
72      5846
73      5828
74      5882
75      5860
76      5859
77      5852
78      5858
79      5893
80      5875
81      5871
82      5846
83      5862
84      5894
85      5898
86      5902
87      5911
88      5916
89      5929
90      5960
91      5974
92      5952
93      5952
94      5938
95      5980
96      6002
97      6065
98      6024
99      6004
100     6230
Name: PERCENTIL_GLOBAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 600657
__________________
(600657,)
None

Here i encode the data and transform it into csv files

In [416]:
data_2016 = label_encoder(data_2016)
data_2016_1_V2 = label_encoder(data_2016_1_V2)
data_2016_2 = label_encoder(data_2016_2)

In [417]:
data_2016.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2016_1.csv', sep=';', index=False)
data_2016_1_V2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2016_1_V2.csv', sep=';', index=False)
data_2016_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2016_2.csv', sep=';', index=False)