In [1]:
import pandas as pd

In [2]:
%run -i ../tools/functions.py

In [3]:
SBPRO_2006_ESP = pd.read_csv("../DatosFTPICFES/SABERPRO/SBPRO-20061-RGSTRO-RECLFCCN-ESP.txt", delimiter="|")

In [7]:
SBPRO_2006_ESP.head()

,ESTU_CONSECUTIVO,COMP_NOMBRE,COMP_ID,CACO_PUNTAJE,CACO_DESEMPENO,CACO_PERIODO,PRUE_ID,PRUE_NOMBRE
0,SBPRO20061001950,ESTU_PUNTAJE,0,"114,69",NaN,20061,0,TECNOLÓGICO EN SISTEMAS Y AFINES
1,SBPRO20061001950,BASES DE DATOS,950,"10,2",M,20061,153,TECNOLÓGICO EN SISTEMAS Y AFINES
2,SBPRO20061001950,INGENIERÍA DE SOFTWARE,951,"11,2",A,20061,153,TECNOLÓGICO EN SISTEMAS Y AFINES
3,SBPRO20061001950,INTRODUCCIÓN A LOS COMPUTADORES,952,"9,9",M,20061,153,TECNOLÓGICO EN SISTEMAS Y AFINES
4,SBPRO20061001950,MATEMÁTICA,953,"10,5",M,20061,153,TECNOLÓGICO EN SISTEMAS Y AFINES

In [6]:
print("File Shape", SBPRO_2006_ESP.shape)
print(shape_cols(SBPRO_2006_ESP))
SBPRO_2006_ESP.describe()

File Shape (255531, 8)
Columns found:  3
None

             COMP_ID  CACO_PERIODO        PRUE_ID
count  255531.000000        255531  255531.000000
mean      623.484677         20061      74.504796
std       391.690302             0      94.590870
min         0.000000         20061       0.000000
25%       535.000000         20061       4.000000
50%       589.000000         20061      39.000000
75%       861.000000         20061      42.000000
max      1312.000000         20061     288.000000