In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2003 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20031-RGSTRO-CLFCCN-V1-0.txt', delimiter="|",
                       encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3,5,8,9,13,14,16,17,19,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2003.shape

(69735, 57)

In [4]:
data_2003.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB1200310065481,SB1200310065480,SB1200310065479
COLE_COD_ICFES,18788,18788,18788
COLE_NOMBRE_SEDE,INSTITUCION EDUCATIVA BELISARIO PEÑA PIÑEIRO,INSTITUCION EDUCATIVA BELISARIO PEÑA PIÑEIRO,INSTITUCION EDUCATIVA BELISARIO PEÑA PIÑEIRO
IND_ANNO_TERMINO_BACHILLERATO,2003,2003,2003
COLE_JORNADA,C,C,C
COLE_VALOR_PENSION,8,8,NaN
ESTU_GENERO,M,F,M
ESTU_NACIMIENTO_DIA,18,4,18
ESTU_NACIMIENTO_MES,7,3,4
ESTU_NACIMIENTO_ANNO,1984,1981,1987
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_MCPIO_PRESENTACION,ROLDANILLO,ROLDANILLO,ROLDANILLO
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,46,36,34
PUNT_MATEMATICAS,32,46,46
PUNT_FILOSOFIA,48,45,42
PUNT_FISICA,54,45,39
PUNT_HISTORIA,35,37,49
PUNT_QUIMICA,47,43,40
PUNT_LENGUAJE,46,39,45
PUNT_GEOGRAFIA,45,37,37
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,60,59,61
COD_IDIOMA,51,51,51
PUNT_IDIOMA,38,41,36
ESTU_IES_COD_DESEADA,1203,4101,1203
ESTU_RAZONINSTITUTO,3,3,4
ESTU_CARRDESEADA_COD,48114,11113,48118
ESTU_CARRDESEADA_RAZON,1,4,2
FAMI_PERSONAS_HOGAR,4,6,8
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,NaN,N,NaN
FAMI_APORTANTES,2,3,1
FAMI_INGRESO_FMILIAR_MENSUAL,0,0,3
FAMI_LEE_ESCRIBE_PADRE,N,S,S
FAMI_LEE_ESCRIBE_MADRE,N,S,S
FAMI_EDUCA_PADRE,NaN,3,6
FAMI_EDUCA_MADRE,NaN,3,4
FAMI_OCUPA_PADRE,08,08,03
FAMI_OCUPA_MADRE,10,10,10
FAMI_NUM_HERMANOS,3,NaN,4
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,4
FAMI_POSICION_HERMANOS,3,9,5
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,3,1
COLE_CALENDARIO,B,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO
COLE_DEPTO_UBICACION,VALLE,VALLE,VALLE
COLE_MCPIO_UBICACION,ROLDANILLO,ROLDANILLO,ROLDANILLO
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_RESIDE_MCPIO,ROLDANILLO,ROLDANILLO,ROLDANILLO
ESTU_TIPO_DOCUMENTO,R,C,T

The first step is delete the columns that won't contribute to the work

In [5]:
data_2003 = data_2003.drop(['ESTU_TIPO_DOCUMENTO', 'ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE'], axis=1)

In [6]:
print(data_2003['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2003['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2003['COLE_COD_ICFES']))

Int64Index([   182,    265,    638,   1362,   1503,   2998,   3145,   3327,
              3418,   3459,
            ...
            106583, 106591, 106609, 106617, 106625, 106633, 106641, 106666,
            106682, 106690],
           dtype='int64', length=1863)
182        70
265       173
638        10
1362       47
1503       56
2998       37
3145       35
3327        9
3418       46
3459       66
3483       96
4234       39
5629       14
5843       13
6890       13
6973        5
6999       20
7013       72
7054       60
7070      153
7088       44
7500        7
7732        5
8581       69
9589       49
9696       17
9985       34
10082       8
10199      17
10298      34
         ...
106385     34
106393     20
106401     36
106419      4
106427      8
106435     11
106443     13
106450      7
106468     17
106476      9
106484     15
106492      6
106500     14
106518     10
106526     14
106534     19
106542     13
106559      4
106567      5
106575     62
106583     15
106591      2
106609     21
106617     45
106625     55
106633      2
106641     69
106666     51
106682     23
106690     15
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [7]:
print(data_2003['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index)
print(data_2003['IND_ANNO_TERMINO_BACHILLERATO'].value_counts())
print(missing_data(data_2003['IND_ANNO_TERMINO_BACHILLERATO']))

Index(['2003', '2002', 2003.0, 2002.0, '2000', '2001', 2000.0, 2001.0, '2 0@',
       '20 2', '2004', '2 02', 2004.0, '2902',  '20@', '2 @0', '20 3', '2903',
       '2 03',  '200', '2  2', '2012',    '2', '1995',   '@@',   '20',    '0',
       '2005',  '203',    '3', 1992.0, 2903.0, 2005.0, 2006.0,   '02', '2006',
       '1999',  '202', '2023',  '19@',  '0 2', '2013', '2009', '2008', '1002',
          2.0],
      dtype='object')
2003      34422
2002      18687
2003.0    14859
2002.0     1472
2000         77
2001         54
2000.0       25
2001.0        9
2 0@          8
20 2          7
2004          6
2 02          6
2004.0        5
2902          5
20@           5
2 @0          4
20 3          4
2903          4
2 03          4
200           3
2  2          2
2012          2
2             2
1995          2
@@            2
20            2
0             2
2005          2
203           2
3             1
1992.0        1
2903.0        1
2005.0        1
2006.0        1
02            1
2006          1
1999          1
202           1
2023          1
19@           1
0 2           1
2013          1
2009          1
2008          1
1002          1
2.0           1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 34
__________________
Elementos diferentes de null/NaN: 69701
__________________
(69701,)
None

In [99]:
for i in data_2003['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index:
    if type(i) == float:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, str(i)[:-2])

for i in data_2003['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index:
    if '@' in i:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif ' ' in i:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif float(i) == 0:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif float(i) > 2006:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif float(i) < 1950:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    if len(i)<4:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [101]:
Do_resamples(data_2003, 'IND_ANNO_TERMINO_BACHILLERATO', str)

cant null antes: 110
cant null despues: 0

In [102]:
print(data_2003['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2003['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2003['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C    16257
M    27863
N    16745
S     1116
T     7754
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [10]:
print(data_2003['COLE_VALOR_PENSION'].value_counts().index)
print(data_2003['COLE_VALOR_PENSION'].value_counts())
print(missing_data(data_2003['COLE_VALOR_PENSION']))

Index(['8', '1', '2', '3', 8.0, '5', '4', 1.0, 7.0, '0', 2.0, '6', 3.0, 4.0,
       5.0, '7', 6.0, 0.0, '9', 9.0, '@', '+'],
      dtype='object')
8      14165
1      12090
2       7061
3       5209
8.0     3573
5       3344
4       3180
1.0     3075
7.0     2741
0       2102
2.0     1814
6       1631
3.0     1144
4.0      989
5.0      940
7        827
6.0      779
0.0      499
9         61
9.0       14
@         13
+          3
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 4481
__________________
Elementos diferentes de null/NaN: 65254
__________________
(65254,)
None

In [11]:
for i in data_2003['COLE_VALOR_PENSION'].value_counts().index:
    if type(i) == float:
        data_2003['COLE_VALOR_PENSION'] = data_2003['COLE_VALOR_PENSION'].replace(i, str(i)[:-2])

data_2003['COLE_VALOR_PENSION'] = data_2003['COLE_VALOR_PENSION'].replace('+', '+9')
data_2003['COLE_VALOR_PENSION'] = data_2003['COLE_VALOR_PENSION'].replace('@', np.nan)

In [104]:
Do_resamples(data_2003, 'COLE_VALOR_PENSION', str)

cant null antes: 4494
cant null despues: 0

In [12]:
print(data_2003['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2003['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    37912
M    31823
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [13]:
print(data_2003['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2003['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2622
2.0     2316
3.0     2288
4.0     2335
5.0     2311
6.0     2251
7.0     2214
8.0     2367
9.0     2210
10.0    2396
11.0    2318
12.0    2255
13.0    2197
14.0    2263
15.0    2473
16.0    2292
17.0    2273
18.0    2274
19.0    2237
20.0    2300
21.0    2226
22.0    2261
23.0    2266
24.0    2224
25.0    2275
26.0    2263
27.0    2242
28.0    2361
29.0    2106
30.0    2080
31.0    1235
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 4
__________________
Elementos diferentes de null/NaN: 69731
__________________
(69731,)
None

In [14]:
print(data_2003['ESTU_NACIMIENTO_MES'].value_counts().index)
print(data_2003['ESTU_NACIMIENTO_MES'].value_counts())
print(missing_data(data_2003['ESTU_NACIMIENTO_MES']))

Index([ 9.0,  1.0,  3.0, 10.0, 12.0,  8.0,  5.0, 11.0,  7.0,  6.0,  4.0,  2.0,
       '01', '10', '07', '11', '09', '12', '05', '06', '08', '04', '03', '02',
        '@'],
      dtype='object')
9.0     4749
1.0     4694
3.0     4581
10.0    4522
12.0    4504
8.0     4444
5.0     4441
11.0    4419
7.0     4351
6.0     4303
4.0     4180
2.0     4143
01      1465
10      1449
07      1390
11      1385
09      1383
12      1377
05      1367
06      1359
08      1348
04      1343
03      1292
02      1211
@          1
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 34
__________________
Elementos diferentes de null/NaN: 69701
__________________
(69701,)
None

In [15]:
data_2003['ESTU_NACIMIENTO_MES'] = data_2003['ESTU_NACIMIENTO_MES'].replace('@', np.nan)
for i in data_2003['ESTU_NACIMIENTO_MES'].value_counts().index:
    if type(i) == str:
        data_2003['ESTU_NACIMIENTO_MES'] = data_2003['ESTU_NACIMIENTO_MES'].replace(i, float(i))

In [105]:
print(data_2003['ESTU_NACIMIENTO_MES'].value_counts().index)
print(data_2003['ESTU_NACIMIENTO_MES'].value_counts())
print(missing_data(data_2003['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 9.0, 10.0, 12.0, 3.0, 5.0, 11.0, 8.0, 7.0, 6.0, 4.0, 2.0], dtype='float64')
1.0     6159
9.0     6132
10.0    5971
12.0    5881
3.0     5873
5.0     5808
11.0    5804
8.0     5792
7.0     5741
6.0     5662
4.0     5523
2.0     5354
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 35
__________________
Elementos diferentes de null/NaN: 69700
__________________
(69700,)
None

In [16]:
print(data_2003['ESTU_NACIMIENTO_ANNO'].value_counts().index)
print(data_2003['ESTU_NACIMIENTO_ANNO'].value_counts())
print(missing_data(data_2003['ESTU_NACIMIENTO_ANNO']))

Index([1986.0, 1985.0, '1985', '1986', '1984', 1984.0, 1987.0, '1983', 1983.0,
       '1987',
       ...
        '197', '1940', '198@', 1935.0,  986.0, '1939', 1945.0, '1991',  197.0,
       '1992'],
      dtype='object', length=112)
1986.0    12072
1985.0     8614
1985       7315
1986       7222
1984       5076
1984.0     4941
1987.0     3564
1983       2708
1983.0     2350
1987       1928
1982       1605
1982.0     1274
1981       1025
1980        853
1981.0      670
1979        633
1978        496
1980.0      471
1977        397
1979.0      362
1976        338
1975        299
1974        290
1978.0      287
1972        243
1977.0      236
1973        228
1970        191
1971        188
1969        178
          ...
1947.0        6
1945          6
1947          5
1946          5
1949.0        4
1948.0        4
198.0         3
1943          3
1938          3
1935          3
1944          3
197@          2
1941          2
1937          2
1941.0        2
1942          2
1938.0        2
1942.0        2
1944.0        2
1946.0        2
197           2
1940          1
198@          1
1935.0        1
986.0         1
1939          1
1945.0        1
1991          1
197.0         1
1992          1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 8
__________________
Elementos diferentes de null/NaN: 69727
__________________
(69727,)
None

In [17]:
for i in data_2003['ESTU_NACIMIENTO_ANNO'].value_counts().index:
    if type(i) == float:
        data_2003['ESTU_NACIMIENTO_ANNO'] = data_2003['ESTU_NACIMIENTO_ANNO'].replace(i, str(i)[:-2])
        
for i in data_2003['ESTU_NACIMIENTO_ANNO'].value_counts().index:
    if len(str(i)) < 4:
        data_2003['ESTU_NACIMIENTO_ANNO'] = data_2003['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)
    elif '@' in i:
        data_2003['ESTU_NACIMIENTO_ANNO'] = data_2003['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [118]:
mes = data_2003[data_2003['ESTU_NACIMIENTO_MES'].isnull()].index
data_2003 = data_2003.drop(mes)
anno = data_2003[data_2003['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2003 = data_2003.drop(anno)

In [18]:
print(data_2003['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2003['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_DEPTO_PRESENTACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3290
ARAUCA                53
ATLANTICO            722
BOGOTA              8528
BOLIVAR              350
BOYACA               791
CALDAS               464
CAQUETA              183
CASANARE             165
CAUCA               1741
CESAR                105
CHOCO                 32
CORDOBA              215
CUNDINAMARCA        1945
GUAVIARE              41
HUILA                741
LA GUAJIRA           136
MAGDALENA            128
META                 586
NARIÑO             12053
NORTE SANTANDER      590
PUTUMAYO             104
QUINDIO              640
RISARALDA            523
SANTANDER           1175
SUCRE                 10
TOLIMA               652
VALLE              33772
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [19]:
print(data_2003['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2003['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_MCPIO_PRESENTACION']))

Index(['ACACIAS', 'AGUACHICA', 'ALBANIA', 'ALCALA', 'ANDALUCIA',
       'ANSERMANUEVO', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BALBOA',
       ...
       'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO', 'YOLOMBO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=136)
ACACIAS                      15
AGUACHICA                    15
ALBANIA                      37
ALCALA                      118
ANDALUCIA                   189
ANSERMANUEVO                 80
APARTADO                     78
ARAUCA                       21
ARMENIA                     541
BALBOA                        2
BARBACOAS                   137
BARRANCABERMEJA             116
BARRANQUILLA                722
BELLO                       409
BOGOTA D.C.                8528
BOLIVAR                      81
BOSCONIA                      5
BUCARAMANGA                 934
BUENAVENTURA               1986
BUESACO                     178
BUGA                       1395
BUGALAGRANDE                210
CAICEDONIA                  266
CALI                      17415
CALIMA (DARIEN)             153
CALOTO                       15
CAMPOALEGRE                  49
CANDELARIA                  595
CARTAGENA                   309
CARTAGO                    1364
                          ...
SANDONA                     234
SANTA MARTA                  56
SANTA ROSA DE OSOS           76
SANTANDER DE QUILICHAO      232
SARAVENA                     14
SEVILLA                     357
SILVIA                        2
SINCELEJO                    10
SOACHA                      361
SOGAMOSO                    269
TAME                         18
TAMINANGO                   157
TANGUA                       46
TIERRALTA                    18
TIMBIO                       55
TORO                        100
TRUJILLO                     98
TULUA                      1950
TUMACO                     1065
TUNJA                       469
TUQUERRES                   464
UBATE                        91
VALLEDUPAR                   85
VELEZ                        47
VILLAVICENCIO               488
YOLOMBO                      17
YOPAL                       155
YUMBO                       811
ZARZAL                      398
ZIPAQUIRA                   185
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [20]:
print(data_2003['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2003['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    63
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 69672
__________________
Elementos diferentes de null/NaN: 63
__________________
(63,)
None

In [21]:
print(data_2003['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2003['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    17
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 69718
__________________
Elementos diferentes de null/NaN: 17
__________________
(17,)
None

In [22]:
print(data_2003['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2003['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    27
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 69708
__________________
Elementos diferentes de null/NaN: 27
__________________
(27,)
None

In [23]:
print(data_2003['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2003['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    40
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 69695
__________________
Elementos diferentes de null/NaN: 40
__________________
(40,)
None

In [120]:
data_2003 = data_2003.drop(['ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE', 'ESTU_LIMITA_SORDONOINTERPRETE',
                           'ESTU_LIMITA_MOTRIZ'], axis=1)

In [24]:
print(data_2003['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2003['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_IES_COD_DESEADA']))

Index(['0', '00 1', '0000', '0001', '001', '0052', '0070', '01', '0128', '017',
       ...
       '@818', '@819', '@821', '@823', '@85', '@92', '@999', '@@', '@@4',
       '@@@@'],
      dtype='object', length=719)
0        6
00 1     1
0000     7
0001     2
001      6
0052     1
0070     1
01       3
0128     1
017      1
0201     3
0203    11
0204     1
0206     3
0207     1
021      1
04       1
0414     1
05       1
0656     2
069      1
07       1
0701     3
0702     5
0703     1
0704     2
0706     1
0707     1
0711     1
0720     1
        ..
@1       3
@1 1     1
@10      2
@101     5
@104     1
@106     5
@11      6
@114     1
@2       1
@2 0     1
@203     2
@206     1
@207     1
@208     1
@213     1
@3       1
@710     1
@716     1
@718     1
@8 0     1
@818     1
@819     1
@821     1
@823     1
@85      1
@92      1
@999     1
@@      15
@@4      1
@@@@    13
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 5913
__________________
Elementos diferentes de null/NaN: 63822
__________________
(63822,)
None

In [25]:
for i in data_2003['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '@' in i:
        data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif ' ' in i:
        data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif int(i) == 0:
        data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif int(i) < 1000:
        data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(i, np.nan)

In [123]:
Do_resamples(data_2003, 'ESTU_IES_COD_DESEADA', str)

cant null antes: 6481
cant null despues: 16
cant null antes: 16
cant null despues: 0

In [26]:
print(data_2003['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2003['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_RAZONINSTITUTO']))

Index(['1', '2', '3', '4', '5', '6', '7', '8', '@'], dtype='object')
1     1124
2    22773
3     8932
4     6309
5     8935
6     5643
7     4128
8     6603
@       43
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 5245
__________________
Elementos diferentes de null/NaN: 64490
__________________
(64490,)
None

In [27]:
data_2003['ESTU_RAZONINSTITUTO'] = data_2003['ESTU_RAZONINSTITUTO'].replace('@', np.nan)

In [124]:
Do_resamples(data_2003, 'ESTU_RAZONINSTITUTO', str)

cant null antes: 5274
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [28]:
print(data_2003['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2003['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_CARRDESEADA_COD']))

Index(['0', '00000', '00009', '01110', '01201', '01815', '03301', '03303',
       '04112', '04189',
       ...
       '@@', '@@  0', '@@  6', '@@  9', '@@ 4', '@@1', '@@106', '@@2', '@@4',
       '@@9'],
      dtype='object', length=2534)
0        5
00000    6
00009    1
01110    1
01201    1
01815    1
03301    1
03303    1
04112    2
04189    1
04813    1
05114    1
05204    1
05209    1
05223    1
05225    1
06106    1
06209    1
06241    1
0706     1
08038    1
08117    1
08120    1
08151    1
08217    2
092      1
0@6      1
1        7
1  07    1
1  18    1
        ..
@201     1
@212     1
@214     1
@3310    1
@3437    1
@4       2
@40      1
@40 4    1
@51 1    1
@5201    1
@5205    1
@553     1
@6       1
@6241    1
@6252    1
@6@      1
@71 3    1
@8109    1
@818     1
@86      1
@@       8
@@  0    1
@@  6    1
@@  9    1
@@ 4     1
@@1      6
@@106    1
@@2      1
@@4      1
@@9      2
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 3802
__________________
Elementos diferentes de null/NaN: 65933
__________________
(65933,)
None

In [29]:
for i in data_2003['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '@' in i:
        data_2003['ESTU_CARRDESEADA_COD'] = data_2003['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif ' ' in i:
        data_2003['ESTU_CARRDESEADA_COD'] = data_2003['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif int(i) == 0:
        data_2003['ESTU_CARRDESEADA_COD'] = data_2003['ESTU_CARRDESEADA_COD'].replace(i, np.nan)

In [126]:
Do_resamples(data_2003, 'ESTU_CARRDESEADA_COD', str)

cant null antes: 4188
cant null despues: 130
cant null antes: 130
cant null despues: 0

In [30]:
print(data_2003['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2003['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_CARRDESEADA_RAZON']))

Index(['1', '2', '3', '4', '5', '6', '@'], dtype='object')
1    18380
2    18450
3    17124
4     5197
5     5392
6     1620
@       28
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 3544
__________________
Elementos diferentes de null/NaN: 66191
__________________
(66191,)
None

In [31]:
data_2003['ESTU_CARRDESEADA_RAZON'] = data_2003['ESTU_CARRDESEADA_RAZON'].replace('@', np.nan)

In [127]:
Do_resamples(data_2003, 'ESTU_CARRDESEADA_RAZON', str)

cant null antes: 3559
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [32]:
print(data_2003['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2003['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_PERSONAS_HOGAR']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+     2225
1      331
2     2828
3     9103
4    18484
5    16680
6     9485
7     4990
8     2876
9     1740
@      159
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 834
__________________
Elementos diferentes de null/NaN: 68901
__________________
(68901,)
None

In [33]:
data_2003['FAMI_PERSONAS_HOGAR'] = data_2003['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2003['FAMI_PERSONAS_HOGAR'] = data_2003['FAMI_PERSONAS_HOGAR'].replace('@', np.nan)

In [128]:
Do_resamples(data_2003, 'FAMI_PERSONAS_HOGAR', str)

cant null antes: 984
cant null despues: 0

In [34]:
print(data_2003['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2003['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_VIVIENDA_PROPIA']))

Index(['*', 'N', 'S'], dtype='object')
*        7
N    21236
S    46009
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 2483
__________________
Elementos diferentes de null/NaN: 67252
__________________
(67252,)
None

In [35]:
data_2003['FAMI_VIVIENDA_PROPIA'] = data_2003['FAMI_VIVIENDA_PROPIA'].replace('*', np.nan)

In [129]:
Do_resamples(data_2003, 'FAMI_VIVIENDA_PROPIA', str)

cant null antes: 2481
cant null despues: 0

In [36]:
print(data_2003['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2003['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_DEUDA_VIVIENDA']))

Index(['*', 'N', 'S'], dtype='object')
*        6
N    31398
S     9553
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 28778
__________________
Elementos diferentes de null/NaN: 40957
__________________
(40957,)
None

In [37]:
data_2003['FAMI_DEUDA_VIVIENDA'] = data_2003['FAMI_DEUDA_VIVIENDA'].replace('*', np.nan)

In [130]:
Do_resamples(data_2003, 'FAMI_DEUDA_VIVIENDA', str)

cant null antes: 28759
cant null despues: 0

In [38]:
print(data_2003['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2003['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_APORTANTES']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+       59
0      223
1    33541
2    26563
3     5570
4     1607
5      469
6      154
7       48
8       28
9       15
@      120
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 1338
__________________
Elementos diferentes de null/NaN: 68397
__________________
(68397,)
None

In [39]:
data_2003['FAMI_APORTANTES'] = data_2003['FAMI_APORTANTES'].replace('+', '+9')
data_2003['FAMI_APORTANTES'] = data_2003['FAMI_APORTANTES'].replace('@', np.nan)

In [131]:
Do_resamples(data_2003, 'FAMI_APORTANTES', str)

cant null antes: 1450
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [40]:
print(data_2003['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2003['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_INGRESO_FMILIAR_MENSUAL']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+     1564
0    17364
1       62
2    27018
3    11219
4     5681
5     2165
6      996
7      832
8      514
9      526
@       47
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 1747
__________________
Elementos diferentes de null/NaN: 67988
__________________
(67988,)
None

In [41]:
data_2003['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2003['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('+', '+9')
data_2003['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2003['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('@', np.nan)

In [132]:
Do_resamples(data_2003, 'FAMI_INGRESO_FMILIAR_MENSUAL', str)

cant null antes: 1786
cant null despues: 0

In [42]:
print(data_2003['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_LEE_ESCRIBE_PADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       31
N     1938
S    60673
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 7093
__________________
Elementos diferentes de null/NaN: 62642
__________________
(62642,)
None

In [43]:
data_2003['FAMI_LEE_ESCRIBE_PADRE'] = data_2003['FAMI_LEE_ESCRIBE_PADRE'].replace('*', np.nan)

In [133]:
Do_resamples(data_2003, 'FAMI_LEE_ESCRIBE_PADRE', str)

cant null antes: 7111
cant null despues: 0

In [44]:
print(data_2003['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_LEE_ESCRIBE_MADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       37
N     2345
S    64513
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 2840
__________________
Elementos diferentes de null/NaN: 66895
__________________
(66895,)
None

In [45]:
data_2003['FAMI_LEE_ESCRIBE_MADRE'] = data_2003['FAMI_LEE_ESCRIBE_MADRE'].replace('*', np.nan)

In [134]:
Do_resamples(data_2003, 'FAMI_LEE_ESCRIBE_MADRE', str)

cant null antes: 2865
cant null despues: 0

In [46]:
print(data_2003['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_EDUCA_PADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', '@'], dtype='object')
*        2
1     2662
2      738
3    26872
4    15169
5     3245
6     3073
7     5963
8     3121
@      643
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 8247
__________________
Elementos diferentes de null/NaN: 61488
__________________
(61488,)
None

In [47]:
data_2003['FAMI_EDUCA_PADRE'] = data_2003['FAMI_EDUCA_PADRE'].replace('*', np.nan)
data_2003['FAMI_EDUCA_PADRE'] = data_2003['FAMI_EDUCA_PADRE'].replace('@', np.nan)

In [135]:
Do_resamples(data_2003, 'FAMI_EDUCA_PADRE', str)

cant null antes: 8875
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [48]:
print(data_2003['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_EDUCA_MADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', '@'], dtype='object')
*        2
1     2394
2      710
3    25848
4    16462
5     3772
6     2518
7     5061
8     2164
@      642
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 10162
__________________
Elementos diferentes de null/NaN: 59573
__________________
(59573,)
None

In [49]:
data_2003['FAMI_EDUCA_MADRE'] = data_2003['FAMI_EDUCA_MADRE'].replace('*', np.nan)
data_2003['FAMI_EDUCA_MADRE'] = data_2003['FAMI_EDUCA_MADRE'].replace('@', np.nan)

In [136]:
Do_resamples(data_2003, 'FAMI_EDUCA_MADRE', str)

cant null antes: 10758
cant null despues: 0

In [50]:
print(data_2003['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_OCUPA_PADRE']))

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '1', '10', '11',
       '12', '2', '3', '4', '5', '6', '7', '8', '@'],
      dtype='object')
01     1191
02     1643
03     3332
04     4136
05    15671
06     7631
07      457
08    13819
09     3455
1       315
10      800
11       27
12     1944
2       106
3      2598
4      1245
5       217
6       116
7       235
8        90
@      1438
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 9269
__________________
Elementos diferentes de null/NaN: 60466
__________________
(60466,)
None

In [51]:
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('1', '01')
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('2', '02')
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('3', '03')
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('4', '04')
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('5', '05')
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('6', '06')
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('7', '07')
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('8', '08')
data_2003['FAMI_OCUPA_PADRE'] = data_2003['FAMI_OCUPA_PADRE'].replace('@', np.nan)

In [137]:
Do_resamples(data_2003, 'FAMI_OCUPA_PADRE', str)

cant null antes: 10692
cant null despues: 0

In [52]:
print(data_2003['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_OCUPA_MADRE']))

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12',
       '@'],
      dtype='object')
01      627
02      877
03     1890
04     3999
05     9525
06     6528
07      502
08     5714
09     1279
10    30342
11      258
12     1559
@      1355
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 5280
__________________
Elementos diferentes de null/NaN: 64455
__________________
(64455,)
None

In [53]:
data_2003['FAMI_OCUPA_MADRE'] = data_2003['FAMI_OCUPA_MADRE'].replace('@', np.nan)

In [138]:
Do_resamples(data_2003, 'FAMI_OCUPA_MADRE', str)

cant null antes: 6615
cant null despues: 0

In [54]:
print(data_2003['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2003['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_NUM_HERMANOS']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+     1279
0     5653
1    16793
2    15848
3     9536
4     5716
5     3613
6     2371
7     1581
8     1040
9      839
@      247
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 5219
__________________
Elementos diferentes de null/NaN: 64516
__________________
(64516,)
None

In [55]:
data_2003['FAMI_NUM_HERMANOS'] = data_2003['FAMI_NUM_HERMANOS'].replace('+', '+9')
data_2003['FAMI_NUM_HERMANOS'] = data_2003['FAMI_NUM_HERMANOS'].replace('@', np.nan)

In [139]:
Do_resamples(data_2003, 'FAMI_NUM_HERMANOS', str)

cant null antes: 5443
cant null despues: 0

In [56]:
print(data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+      254
0    32480
1    16703
2     7132
3     2588
4     1246
5      671
6      418
7      292
8      185
9      162
@       58
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 7546
__________________
Elementos diferentes de null/NaN: 62189
__________________
(62189,)
None

In [57]:
data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')
data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('@', np.nan)

In [140]:
Do_resamples(data_2003, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', str)

cant null antes: 7589
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [58]:
print(data_2003['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2003['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_POSICION_HERMANOS']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+      543
1    22954
2    17667
3    10470
4     5191
5     2837
6     1695
7     1154
8     2120
9      425
@       11
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 4668
__________________
Elementos diferentes de null/NaN: 65067
__________________
(65067,)
None

In [59]:
data_2003['FAMI_POSICION_HERMANOS'] = data_2003['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2003['FAMI_POSICION_HERMANOS'] = data_2003['FAMI_POSICION_HERMANOS'].replace('@', np.nan)

In [141]:
Do_resamples(data_2003, 'FAMI_POSICION_HERMANOS', str)

cant null antes: 4669
cant null despues: 0

In [60]:
print(data_2003['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2003['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_SOST_PERSONAL']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@', 'N', 'P',
       'T'],
      dtype='object')
+        2
0     2669
1     1259
2      514
3      194
4       65
5       22
6       19
7       11
8        6
9        6
@        6
N     5158
P     8437
T    47783
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 3584
__________________
Elementos diferentes de null/NaN: 66151
__________________
(66151,)
None

In [61]:
"""This column must have just 4 type of values (N,P,T,S) and it has numbers"""
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('+', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('@', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('0', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('1', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('2', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('3', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('4', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('5', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('6', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('7', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('8', np.nan)
data_2003['FAMI_SOST_PERSONAL'] = data_2003['FAMI_SOST_PERSONAL'].replace('9', np.nan)

In [143]:
Do_resamples(data_2003, 'FAMI_SOST_PERSONAL', str)

cant null antes: 8309
cant null despues: 0

In [62]:
print(data_2003['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2003['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_TRABAJA']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@', 'N', 'S'], dtype='object')
*        1
+       73
1     1573
2     1232
3      849
4      515
5      285
6      204
7      119
8       90
9       83
@        1
N    51953
S     9455
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 3302
__________________
Elementos diferentes de null/NaN: 66433
__________________
(66433,)
None

In [63]:
data_2003['ESTU_TRABAJA'] = data_2003['ESTU_TRABAJA'].replace('*', np.nan)
data_2003['ESTU_TRABAJA'] = data_2003['ESTU_TRABAJA'].replace('+', np.nan)
data_2003['ESTU_TRABAJA'] = data_2003['ESTU_TRABAJA'].replace('@', np.nan)

In [144]:
Do_resamples(data_2003, 'ESTU_TRABAJA', str)

cant null antes: 3361
cant null despues: 0

In [64]:
print(data_2003['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2003['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_ACT_PROX_ANNO']))

Index(['1', '2', '3', '@', 'N', 'P', 'T'], dtype='object')
1    20422
2     1293
3    41909
@       32
N      810
P     1095
T     3265
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 909
__________________
Elementos diferentes de null/NaN: 68826
__________________
(68826,)
None

In [65]:
data_2003['ESTU_ACT_PROX_ANNO'] = data_2003['ESTU_ACT_PROX_ANNO'].replace('@', np.nan)
data_2003['ESTU_ACT_PROX_ANNO'] = data_2003['ESTU_ACT_PROX_ANNO'].replace('N', np.nan)
data_2003['ESTU_ACT_PROX_ANNO'] = data_2003['ESTU_ACT_PROX_ANNO'].replace('P', np.nan)
data_2003['ESTU_ACT_PROX_ANNO'] = data_2003['ESTU_ACT_PROX_ANNO'].replace('T', np.nan)

In [145]:
Do_resamples(data_2003, 'ESTU_ACT_PROX_ANNO', str)

cant null antes: 6063
cant null despues: 0

In [66]:
print(data_2003['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2003['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2003['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A      706
B    45690
F    23339
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [67]:
print(data_2003['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2003['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2003['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2079
2.0     181
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 67475
__________________
Elementos diferentes de null/NaN: 2260
__________________
(2260,)
None

In [147]:
Do_resamples(data_2003, 'COLE_BILINGUE', float)

TypeError: unorderable types: float() > str()

In [68]:
print(data_2003['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2003['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2003['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              37788
ACADEMICO Y TECNICO    14076
NORMALISTA               942
TECNICO                16929
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [69]:
print(data_2003['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2003['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2003['COLE_DEPTO_UBICACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3296
ARAUCA                52
ATLANTICO            722
BOGOTA              8062
BOLIVAR              359
BOYACA               800
CALDAS               453
CAQUETA              186
CASANARE             168
CAUCA               1740
CESAR                 69
CHOCO                 32
CORDOBA              225
CUNDINAMARCA        2247
GUAVIARE              22
HUILA                743
LA GUAJIRA           171
MAGDALENA            128
META                 608
NARIÑO             12057
NORTE SANTANDER      596
PUTUMAYO             105
QUINDIO              636
RISARALDA            518
SANTANDER           1187
SUCRE                  2
TOLIMA               772
VALLE              33779
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [70]:
print(data_2003['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2003['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2003['COLE_MCPIO_UBICACION']))

Index(['ACEVEDO', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA', 'AGUAZUL',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA', 'ALGECIRAS',
       ...
       'VILLETA', 'YACUANQUER', 'YAGUARA', 'YONDO (CASABE)', 'YOPAL', 'YOTOCO',
       'YUMBO', 'ZAPATOCA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=302)
ACEVEDO                     16
AGRADO                      11
AGUA DE DIOS                34
AGUACHICA                   15
AGUAZUL                     21
ALBAN (SAN JOSE)            56
ALBANIA                     37
ALCALA                     105
ALDANA                      63
ALGECIRAS                   12
ALMAGUER                     5
ANCUYA                      67
ANDALUCIA                  200
ANDES                       37
ANSERMANUEVO                86
ANTIOQUIA                   51
APARTADO                    52
APIA                        61
ARANZAZU                    19
ARAUCA                      36
ARBOLEDA (BERRUECOS)        59
ARGELIA                     46
ARMENIA                    386
BARAYA                       8
BARBACOAS                  111
BARBOSA                     50
BARRANCABERMEJA             53
BARRANQUILLA               661
BELEN                       74
BELEN DE LOS ANDAQUIES      15
                          ...
TOTORO                      86
TRUJILLO                    97
TULUA                     1764
TUMACO                     990
TUNJA                      346
TUQUERRES                  323
TURBACO                     53
TURBO                       23
TUTA                         8
UBATE                       49
ULLOA                       26
VALENCIA                    22
VALLEDUPAR                  36
VALPARAISO                  11
VELEZ                       39
VERSALLES                   64
VIJES                       56
VILLAGARZON                 16
VILLAMARIA                  13
VILLAVICENCIO              472
VILLETA                     79
YACUANQUER                 105
YAGUARA                     15
YONDO (CASABE)              17
YOPAL                      109
YOTOCO                      73
YUMBO                      789
ZAPATOCA                     8
ZARZAL                     371
ZIPAQUIRA                  125
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [71]:
print(data_2003['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2003['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_RESIDE_DEPTO']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3290
ARAUCA                53
ATLANTICO            722
BOGOTA              8528
BOLIVAR              350
BOYACA               791
CALDAS               464
CAQUETA              183
CASANARE             165
CAUCA               1741
CESAR                105
CHOCO                 32
CORDOBA              215
CUNDINAMARCA        1945
GUAVIARE              41
HUILA                741
LA GUAJIRA           136
MAGDALENA            128
META                 586
NARIÑO             12053
NORTE SANTANDER      590
PUTUMAYO             104
QUINDIO              640
RISARALDA            523
SANTANDER           1175
SUCRE                 10
TOLIMA               652
VALLE              33772
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [72]:
print(data_2003['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2003['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_RESIDE_MCPIO']))

Index(['ACACIAS', 'AGUACHICA', 'ALBANIA', 'ALCALA', 'ANDALUCIA',
       'ANSERMANUEVO', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BALBOA',
       ...
       'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO', 'YOLOMBO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=136)
ACACIAS                      15
AGUACHICA                    15
ALBANIA                      37
ALCALA                      118
ANDALUCIA                   189
ANSERMANUEVO                 80
APARTADO                     78
ARAUCA                       21
ARMENIA                     541
BALBOA                        2
BARBACOAS                   137
BARRANCABERMEJA             116
BARRANQUILLA                722
BELLO                       409
BOGOTA D.C.                8528
BOLIVAR                      81
BOSCONIA                      5
BUCARAMANGA                 934
BUENAVENTURA               1986
BUESACO                     178
BUGA                       1395
BUGALAGRANDE                210
CAICEDONIA                  266
CALI                      17415
CALIMA (DARIEN)             153
CALOTO                       15
CAMPOALEGRE                  49
CANDELARIA                  595
CARTAGENA                   309
CARTAGO                    1364
                          ...
SANDONA                     234
SANTA MARTA                  56
SANTA ROSA DE OSOS           76
SANTANDER DE QUILICHAO      232
SARAVENA                     14
SEVILLA                     357
SILVIA                        2
SINCELEJO                    10
SOACHA                      361
SOGAMOSO                    269
TAME                         18
TAMINANGO                   157
TANGUA                       46
TIERRALTA                    18
TIMBIO                       55
TORO                        100
TRUJILLO                     98
TULUA                      1950
TUMACO                     1065
TUNJA                       469
TUQUERRES                   464
UBATE                        91
VALLEDUPAR                   85
VELEZ                        47
VILLAVICENCIO               488
YOLOMBO                      17
YOPAL                       155
YUMBO                       811
ZARZAL                      398
ZIPAQUIRA                   185
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

### TARGETS

In [73]:
print(data_2003['PUNT_BIOLOGIA'].value_counts().index)
print(data_2003['PUNT_BIOLOGIA'].value_counts())
print(missing_data(data_2003['PUNT_BIOLOGIA']))

Index([ '40',  '42',  '43',  '39',  '44',  '37',  '46',  '47',  '36',  '48',
        '49',    43,    42,    40,  '34',    44,    39,    46,  '51',    47,
          37,  '52',    48,    49,  '31',  '53',    51,    36,    52,  '54',
          53,    34,    54,  '55',  '29',    55,    57,  '57',    58,    31,
        '58',    59,    61,  '26',  '59',    29,  '61',    63,  '63',    64,
        '21',    26,    66,  '64',  '66',    69,  '14',    21,    71,  '69',
       '---',    14,    74,   '0',  '86',    79],
      dtype='object')
40     4962
42     4895
43     4732
39     4380
44     4174
37     3631
46     3521
47     2929
36     2753
48     2421
49     1867
43     1756
42     1722
40     1714
34     1690
44     1645
39     1490
46     1455
51     1446
47     1290
37     1218
52     1059
48     1058
49      975
31      951
53      865
51      822
36      788
52      750
54      658
       ...
57      403
57      372
58      283
31      271
58      241
59      223
61      174
26      165
59      158
29      117
61      112
63       98
63       77
64       60
21       52
26       39
66       38
64       34
66       29
69       27
14       18
21       13
71       11
69        8
---       5
14        3
74        3
0         3
86        2
79        1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [74]:
data_2003['PUNT_BIOLOGIA'] = data_2003['PUNT_BIOLOGIA'].replace('---', np.nan)
for i in data_2003['PUNT_BIOLOGIA'].value_counts().index:
    if type(i) == str:
        data_2003['PUNT_BIOLOGIA'] = data_2003['PUNT_BIOLOGIA'].replace(i, int(i))

In [150]:
data_2003['PUNT_BIOLOGIA'].fillna(int(np.mean(data_2003['PUNT_BIOLOGIA'])), inplace=True)

In [153]:
print(data_2003['PUNT_MATEMATICAS'].value_counts().index)
print(data_2003['PUNT_MATEMATICAS'].value_counts())
print(missing_data(data_2003['PUNT_MATEMATICAS']))

Float64Index([  0.0,   1.0,   4.0,   9.0,  13.0,  17.0,  20.0,  22.0,  24.0,
               26.0,  28.0,  30.0,  32.0,  33.0,  35.0,  37.0,  38.0,  40.0,
               41.0,  43.0,  45.0,  46.0,  48.0,  49.0,  51.0,  53.0,  55.0,
               57.0,  59.0,  62.0,  65.0,  68.0,  73.0,  78.0,  87.0, 100.0],
             dtype='float64')
41.0     8625
43.0     8334
40.0     7906
45.0     7414
38.0     6808
46.0     5788
37.0     5169
48.0     4211
35.0     3542
49.0     2871
33.0     2186
51.0     1714
32.0     1229
53.0     1077
30.0      638
55.0      595
57.0      366
28.0      298
59.0      210
26.0      168
62.0      155
65.0       96
24.0       71
68.0       65
73.0       32
22.0       29
20.0       22
17.0       19
13.0        8
0.0         8
78.0        8
9.0         5
87.0        4
1.0         4
4.0         2
100.0       1
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 8
__________________
Elementos diferentes de null/NaN: 69678
__________________
(69678,)
None

In [152]:
data_2003['PUNT_MATEMATICAS'] = data_2003['PUNT_MATEMATICAS'].replace('---', np.nan)
for i in data_2003['PUNT_MATEMATICAS'].value_counts().index:
    if type(i) == str:
        data_2003['PUNT_MATEMATICAS'] = data_2003['PUNT_MATEMATICAS'].replace(i, int(i))
for i in data_2003['PUNT_MATEMATICAS'].value_counts().index:
    if i > 100:
        data_2003['PUNT_MATEMATICAS'] = data_2003['PUNT_MATEMATICAS'].replace(i, 100)

In [154]:
data_2003['PUNT_MATEMATICAS'].fillna(int(np.mean(data_2003['PUNT_MATEMATICAS'])), inplace=True)

In [155]:
print(data_2003['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2003['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_FILOSOFIA']))

Float64Index([ 0.0,  4.0, 13.0, 18.0, 22.0, 25.0, 28.0, 31.0, 33.0, 35.0, 36.0,
              38.0, 40.0, 42.0, 43.0, 45.0, 46.0, 48.0, 49.0, 51.0, 52.0, 54.0,
              55.0, 57.0, 59.0, 60.0, 62.0, 64.0],
             dtype='float64')
0.0        9
4.0       20
13.0      31
18.0      52
22.0     118
25.0     258
28.0     628
31.0    1274
33.0    2322
35.0    3817
36.0    5172
38.0    6401
40.0    7473
42.0    7925
43.0    7823
45.0    6993
46.0    5842
48.0    4452
49.0    3404
51.0    2335
52.0    1543
54.0     835
55.0     502
57.0     244
59.0     113
60.0      40
62.0      16
64.0       1
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 43
__________________
Elementos diferentes de null/NaN: 69643
__________________
(69643,)
None

In [78]:
data_2003['PUNT_FILOSOFIA'] = data_2003['PUNT_FILOSOFIA'].replace('---', np.nan)
for i in data_2003['PUNT_FILOSOFIA'].value_counts().sort_index().index:
    if type(i) == str:
        data_2003['PUNT_FILOSOFIA'] = data_2003['PUNT_FILOSOFIA'].replace(i, int(i))

In [156]:
data_2003['PUNT_FILOSOFIA'].fillna(int(np.mean(data_2003['PUNT_FILOSOFIA'])), inplace=True)

In [158]:
print(data_2003['PUNT_FISICA'].value_counts().index)
print(data_2003['PUNT_FISICA'].value_counts())
print(missing_data(data_2003['PUNT_FISICA']))

Float64Index([ 9.0, 18.0, 24.0, 28.0, 31.0, 34.0, 37.0, 39.0, 41.0, 43.0, 45.0,
              47.0, 49.0, 50.0, 52.0, 54.0, 55.0, 57.0, 58.0, 60.0, 62.0, 63.0,
              65.0, 67.0, 69.0, 71.0, 73.0, 75.0, 78.0],
             dtype='float64')
47.0    9055
45.0    8682
49.0    8037
43.0    7579
50.0    6777
41.0    5934
52.0    5108
39.0    4150
54.0    3779
37.0    2501
55.0    2379
57.0    1541
34.0    1242
58.0     926
31.0     572
60.0     545
62.0     278
28.0     192
63.0     159
65.0      81
24.0      47
67.0      46
69.0      27
71.0      15
18.0      15
73.0       7
9.0        5
75.0       3
78.0       2
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 69684
__________________
(69684,)
None

In [80]:
data_2003['PUNT_FISICA'] = data_2003['PUNT_FISICA'].replace('---', np.nan)
for i in data_2003['PUNT_FISICA'].value_counts().index:
    if type(i) == str:
        data_2003['PUNT_FISICA'] = data_2003['PUNT_FISICA'].replace(i, int(i))

In [159]:
data_2003['PUNT_FISICA'].fillna(int(np.mean(data_2003['PUNT_FISICA'])), inplace=True)

In [160]:
print(data_2003['PUNT_HISTORIA'].value_counts().index)
print(data_2003['PUNT_HISTORIA'].value_counts())
print(missing_data(data_2003['PUNT_HISTORIA']))

Float64Index([ 0.0,  8.0, 16.0, 20.0, 24.0, 27.0, 29.0, 31.0, 33.0, 35.0, 37.0,
              38.0, 40.0, 41.0, 43.0, 44.0, 46.0, 47.0, 48.0, 49.0, 51.0, 52.0,
              53.0, 55.0, 56.0, 58.0, 59.0, 61.0, 63.0, 65.0, 67.0],
             dtype='float64')
43.0    7107
41.0    6959
44.0    6712
40.0    6203
46.0    6179
38.0    5466
47.0    5267
48.0    4221
37.0    4034
49.0    3316
35.0    2915
51.0    2491
52.0    1887
33.0    1827
53.0    1271
31.0    1056
55.0     844
56.0     526
29.0     522
58.0     315
27.0     197
59.0     148
24.0      81
61.0      62
63.0      34
20.0      19
16.0       9
65.0       7
67.0       5
8.0        2
0.0        2
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 69684
__________________
(69684,)
None

In [82]:
data_2003['PUNT_HISTORIA'] = data_2003['PUNT_HISTORIA'].replace('---', np.nan)
for i in data_2003['PUNT_HISTORIA'].value_counts().index:
    if type(i) == str:
        data_2003['PUNT_HISTORIA'] = data_2003['PUNT_HISTORIA'].replace(i, int(i))

In [162]:
data_2003['PUNT_HISTORIA'].fillna(int(np.mean(data_2003['PUNT_HISTORIA'])), inplace=True)

In [83]:
print(data_2003['PUNT_QUIMICA'].value_counts().index)
print(data_2003['PUNT_QUIMICA'].value_counts())
print(missing_data(data_2003['PUNT_QUIMICA']))

Index([   42,    43,    41,    44,    46,    40,    47,    38,    48,    37,
          49,    50,  '43',  '42',  '44',  '46',  '41',    35,    51,  '47',
        '40',  '48',    52,  '49',  '38',    53,  '50',    55,    33,  '51',
        '37',    56,  '52',    57,  '53',    59,    31,  '35',  '55',    60,
        '56',    62,    63,  '57',  '59',  '33',    65,  '60',    29,  '62',
          68,  '63',    71,  '31',  '65',  '68',    75,    26,  '71',  '29',
          22,    81,  '81',  '75',    92,  '26', '---',     0],
      dtype='object')
42     5596
43     5510
41     5097
44     5096
46     4317
40     4304
47     3547
38     3181
48     2811
37     2134
49     2113
50     1632
43     1555
42     1529
44     1435
46     1366
41     1364
35     1278
51     1236
47     1218
40     1090
48     1000
52      905
49      828
38      770
53      756
50      654
55      633
33      620
51      584
       ...
55      273
60      270
56      262
62      213
63      162
57      161
59      152
33      133
65      128
60      110
29       94
62       92
68       91
63       80
71       70
31       61
65       47
68       35
75       31
26       28
71       25
29       20
22        9
81        8
81        8
75        7
92        5
26        4
---       1
0         1
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [84]:
data_2003['PUNT_QUIMICA'] = data_2003['PUNT_QUIMICA'].replace('---', np.nan)
for i in data_2003['PUNT_QUIMICA'].value_counts().index:
    if type(i)==str:
        data_2003['PUNT_QUIMICA'] = data_2003['PUNT_QUIMICA'].replace(i, int(i))

In [164]:
data_2003['PUNT_QUIMICA'].fillna(int(np.mean(data_2003['PUNT_QUIMICA'])), inplace=True)

In [85]:
print(data_2003['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2003['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_LENGUAJE']))

Int64Index([ 0, 13, 20, 25, 28, 31, 33, 35, 37, 39, 41, 42, 44, 45, 46, 48, 49,
            50, 52, 53, 54, 56, 57, 58, 60, 61, 63, 65, 67, 69, 71, 74, 77],
           dtype='int64')
0        1
13       2
20      12
25      37
28     172
31     372
33     795
35    1503
37    2439
39    3504
41    4570
42    5443
44    6340
45    6729
46    6310
48    5823
49    5315
50    4562
52    3776
53    2994
54    2456
56    1889
57    1448
58    1132
60     756
61     579
63     357
65     189
67     133
69      60
71      28
74       7
77       2
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [86]:
print(data_2003['PUNT_GEOGRAFIA'].value_counts().index)
print(data_2003['PUNT_GEOGRAFIA'].value_counts())
print(missing_data(data_2003['PUNT_GEOGRAFIA']))

Index([   43,    42,    45,    46,    40,    48,    39,    49,    50,    37,
          52,    35,    53,    54,  '45',  '43',  '46',    33,  '42',    56,
        '48',  '40',  '49',  '50',  '39',  '52',    57,  '37',    31,  '53',
          59,  '35',  '54',  '56',    60,    29,  '33',  '57',    62,  '31',
        '59',    26,  '60',    64,  '29',  '62',    22,  '26',    66,  '64',
        '66',    17,    68,     9,  '22',    70,  '68', '---',     0,    73,
         '9',  '70'],
      dtype='object')
43     4613
42     4557
45     4517
46     4236
40     4100
48     3791
39     3708
49     3427
50     3039
37     2964
52     2486
35     2169
53     2071
54     1634
45     1467
43     1418
46     1358
33     1313
42     1301
56     1239
48     1233
40     1187
49     1170
50     1030
39     1012
52      879
57      836
37      793
31      793
53      735
       ...
54      511
56      420
60      354
29      343
33      326
57      275
62      182
31      179
59      170
26      166
60      126
64       85
29       74
62       52
22       45
26       40
66       36
64       19
66       16
17       14
68       13
9         6
22        5
70        3
68        2
---       2
0         2
73        1
9         1
70        1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [87]:
data_2003['PUNT_GEOGRAFIA'] = data_2003['PUNT_GEOGRAFIA'].replace('---', np.nan)
for i in data_2003['PUNT_GEOGRAFIA'].value_counts().index:
    if type(i) == str:
        data_2003['PUNT_GEOGRAFIA'] = data_2003['PUNT_GEOGRAFIA'].replace(i, int(i))

In [165]:
data_2003['PUNT_GEOGRAFIA'].fillna(int(np.mean(data_2003['PUNT_GEOGRAFIA'])), inplace=True)

In [88]:
print(data_2003['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2003['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2003['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    34613
44    27647
45     7475
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [89]:
print(data_2003['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2003['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_INTERDISCIPLINAR']))

Index(['---', '0', '20', '21', '29', '31', '35', '38', '39', '42', '44', '45',
       '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59',
       '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '73',
       '74', '75', '80', '87', '98'],
      dtype='object')
---     120
0       161
20      191
21      578
29     1612
31      593
35     2940
38     1037
39     3950
42     4412
44     1345
45     4173
48     3429
49     1440
50        1
51     2641
52       10
53     1141
54       47
55     1866
56      268
57     1726
58     3087
59     4492
60     5959
61     6696
62     6987
63     4530
64     2459
65     1039
66      178
67      305
68       28
69      144
70        6
73        1
74       48
75       61
80       22
87       11
98        1
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [90]:
data_2003['PUNT_INTERDISCIPLINAR'] = data_2003['PUNT_INTERDISCIPLINAR'].replace('---', np.nan)
for i in data_2003['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index:
    if type(i) == str:
        data_2003['PUNT_INTERDISCIPLINAR'] = data_2003['PUNT_INTERDISCIPLINAR'].replace(i, int(i))

In [166]:
data_2003['PUNT_INTERDISCIPLINAR'].fillna(int(np.mean(data_2003['PUNT_INTERDISCIPLINAR'])), inplace=True)

In [91]:
print(data_2003['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2003['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2003['COD_IDIOMA']))

Int64Index([51, 52, 53, 99], dtype='int64')
51    69058
52      473
53       57
99      147
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [92]:
print(data_2003['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2003['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_IDIOMA']))

Index(['*', '---', '0', '14', '22', '26', '28', '29', '31', '32', '33', '34',
       '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45', '46',
       '47', '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58',
       '59', '60', '61', '62', '63', '64', '65', '66', '67', '68', '69', '70',
       '71', '74', '78', '79', '86', '98'],
      dtype='object')
*       147
---      11
0         6
14       37
22      118
26      460
28        7
29     1290
31       14
32     2739
33       14
34     4558
35       21
36     6407
37       34
38     7870
39     8259
40       34
41     7826
42     6298
43       33
44     4894
45     3604
46     2617
47     1897
48     1416
49        7
50     1119
51      894
52      785
53      713
54     1193
55        3
56      586
57        2
58      475
59        4
60      478
61      498
62        1
63      467
64      479
65        1
66      457
67        2
68       14
69      384
70        2
71      322
74      150
78       28
79       22
86       28
98       10
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [93]:
data_2003['PUNT_IDIOMA'] = data_2003['PUNT_IDIOMA'].replace('*', np.nan)
data_2003['PUNT_IDIOMA'] = data_2003['PUNT_IDIOMA'].replace('---', np.nan)
for i in data_2003['PUNT_IDIOMA'].value_counts().sort_index().index:
    if type(i) == str:
        data_2003['PUNT_IDIOMA'] = data_2003['PUNT_IDIOMA'].replace(i, int(i))

In [167]:
data_2003['PUNT_IDIOMA'].fillna(int(np.mean(data_2003['PUNT_IDIOMA'])), inplace=True)

# FILE 2 -> 2003_2

In [2]:
data_2003_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20032-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3,5,9,12,13,14,15,16,17,19,20,21,22,23,25,27,29,31,36,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2003_2.shape

(354700, 57)

In [4]:
data_2003_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200320000001,SB11200320000002,SB11200320000003
COLE_COD_ICFES,27714,101865,59
COLE_NOMBRE_SEDE,INSTITUCION EDUCATIVA EXTERNADO PATRIA,COLEGIO GABRIEL RESTREPO MORENO,CENTRO FORMATIVO DE ANTIOQUIA CEFA
IND_ANNO_TERMINO_BACHILLERATO,2003,2003,2003
COLE_JORNADA,M,T,M
COLE_VALOR_PENSION,8,8,8
ESTU_GENERO,M,M,F
ESTU_NACIMIENTO_DIA,11,13,2
ESTU_NACIMIENTO_MES,5,3,1
ESTU_NACIMIENTO_ANNO,1986,1984,1985
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_MCPIO_PRESENTACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,53,45,56
PUNT_MATEMATICAS,39,47,44
PUNT_FILOSOFIA,41,48,45
PUNT_FISICA,46,48,44
PUNT_HISTORIA,38,36,52
PUNT_QUIMICA,38,44,52
PUNT_LENGUAJE,37,46,58
PUNT_GEOGRAFIA,32,39,53
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,55,55,45
COD_IDIOMA,51,51,51
PUNT_IDIOMA,41,38,34
ESTU_IES_COD_DESEADA,1201,1201,1201
ESTU_RAZONINSTITUTO,7,7,5
ESTU_CARRDESEADA_COD,41201,43917,44111
ESTU_CARRDESEADA_RAZON,2,1,2
FAMI_PERSONAS_HOGAR,8,8,5
FAMI_VIVIENDA_PROPIA,N,S,N
FAMI_DEUDA_VIVIENDA,NaN,N,NaN
FAMI_APORTANTES,3,2,1
FAMI_INGRESO_FMILIAR_MENSUAL,1,0,1
FAMI_LEE_ESCRIBE_PADRE,S,NaN,S
FAMI_LEE_ESCRIBE_MADRE,S,NaN,S
FAMI_EDUCA_PADRE,3,NaN,4
FAMI_EDUCA_MADRE,1,NaN,4
FAMI_OCUPA_PADRE,09,NaN,06
FAMI_OCUPA_MADRE,10,NaN,05
FAMI_NUM_HERMANOS,1,3,3
FAMI_NUM_HERMANOS_EDUSUPERIOR,1,0,0
FAMI_POSICION_HERMANOS,2,1,3
FAMI_SOST_PERSONAL,NaN,T,T
ESTU_TRABAJA,N,S,N
ESTU_ACT_PROX_ANNO,3,3,1
COLE_CALENDARIO,A,F,A
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO Y TECNICO
COLE_DEPTO_UBICACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
COLE_MCPIO_UBICACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_RESIDE_MCPIO,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_TIPO_DOCUMENTO,T,C,T

The first step is delete the columns that won't contribute to the work

In [5]:
data_2003_2 = data_2003_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [6]:
print(data_2003_2['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2003_2['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_COD_ICFES']))

Int64Index([    18,     59,     75,     83,     91,    125,    141,    158,
               174,    190,
            ...
            110411, 110429, 110460, 110502, 110544, 110742, 110783, 110825,
            110866, 110908],
           dtype='int64', length=7325)
18          23
59        1143
75          49
83          42
91         100
125         65
141        116
158         22
174         97
190         78
208         97
216         57
232         27
240        168
257         28
265        262
273         70
281         78
315        154
349         33
356         32
364         73
372         59
380        228
398         35
406         50
422         34
430         98
448         36
455        107
          ...
110189      22
110197      18
110205      26
110213      12
110221      16
110239      11
110247      20
110254      21
110262      14
110270      61
110288      62
110304      12
110312      13
110320      53
110338      27
110346      16
110361       7
110379      24
110387      10
110403       4
110411       8
110429       9
110460      18
110502      33
110544       1
110742      56
110783      14
110825      17
110866      21
110908      14
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [7]:
print(data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index)
print(data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts())
print(missing_data(data_2003_2['IND_ANNO_TERMINO_BACHILLERATO']))

Index(['2003', 2003.0, '2002', '1980', '20 3', '2000',  '20*', '2 03',  '200',
       '2 0*',   '20', '2001',  '203', '2013', '2004', '200*', 2002.0,  '003',
        203.0, '20 *',    '2',  '0*3', 1980.0, 2000.0,   '03',  '0 3', '1996',
       '1999', '2030',    '0',   20.0],
      dtype='object')
2003      334523
2003.0     16233
2002         223
1980          37
20 3          31
2000          27
20*           23
2 03          22
200           18
2 0*          17
20             7
2001           6
203            5
2013           5
2004           3
200*           3
2002.0         2
003            2
203.0          2
20 *           2
2              2
0*3            1
1980.0         1
2000.0         1
03             1
0 3            1
1996           1
1999           1
2030           1
0              1
20.0           1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 3497
__________________
Elementos diferentes de null/NaN: 351203
__________________
(351203,)
None

In [8]:
for i in data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index:
    if type(i) == float:
        data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, str(i)[:-2])
for i in data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index:
    if '*' in i:
        data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif ' ' in i:
        data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif int(i) < 1980:
        data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif int(i) > 2005:
        data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [97]:
Do_resamples(data_2003_2, 'IND_ANNO_TERMINO_BACHILLERATO', str)

cant null antes: 3642
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [9]:
print(data_2003_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2003_2['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C     86656
M    156056
N     30181
S      2271
T     79536
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [10]:
print(data_2003_2['COLE_VALOR_PENSION'].value_counts().index)
print(data_2003_2['COLE_VALOR_PENSION'].value_counts())
print(missing_data(data_2003_2['COLE_VALOR_PENSION']))

Index(['8', '1', 8.0, 1.0, '2', '4', '3', '5', 2.0, 4.0, '6', 5.0, 3.0, 6.0,
       '7', 7.0, '@'],
      dtype='object')
8      75365
1      74902
8.0    48749
1.0    36425
2      16377
4      12967
3      11696
5      10820
2.0     8743
4.0     8621
6       8118
5.0     7813
3.0     7615
6.0     5340
7       3344
7.0     2479
@         22
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 15304
__________________
Elementos diferentes de null/NaN: 339396
__________________
(339396,)
None

In [11]:
for i in data_2003_2['COLE_VALOR_PENSION'].value_counts().index:
    if type(i) == float:
        data_2003_2['COLE_VALOR_PENSION'] = data_2003_2['COLE_VALOR_PENSION'].replace(i, str(i)[:-2])
data_2003_2['COLE_VALOR_PENSION'] = data_2003_2['COLE_VALOR_PENSION'].replace('@', np.nan)

In [99]:
Do_resamples(data_2003_2, 'COLE_VALOR_PENSION', str)

cant null antes: 15326
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [12]:
print(data_2003_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    190811
M    163889
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [13]:
print(data_2003_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2003_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_NACIMIENTO_DIA']))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0,
              22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
0.0         2
1.0     17245
2.0     11459
3.0     11582
4.0     11512
5.0     11838
6.0     11416
7.0     11539
8.0     11392
9.0     11227
10.0    12006
11.0    11376
12.0    11842
13.0    11096
14.0    11257
15.0    11712
16.0    11607
17.0    11482
18.0    11323
19.0    11139
20.0    11887
21.0    10921
22.0    11486
23.0    11280
24.0    11560
25.0    11418
26.0    11321
27.0    11419
28.0    11670
29.0    10434
30.0    10310
31.0     6282
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 660
__________________
Elementos diferentes de null/NaN: 354040
__________________
(354040,)
None

In [14]:
data_2003_2['ESTU_NACIMIENTO_DIA'] = data_2003_2['ESTU_NACIMIENTO_DIA'].replace(0.0, np.nan)

In [15]:
print(data_2003_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2003_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_NACIMIENTO_MES']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 17.0, 19.0, 21.0, 25.0],
             dtype='float64')
1.0     31106
2.0     26079
3.0     29161
4.0     28231
5.0     29367
6.0     28058
7.0     29320
8.0     29510
9.0     31464
10.0    31294
11.0    30156
12.0    30298
13.0        1
14.0        2
17.0        3
19.0        2
21.0        1
25.0        1
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 646
__________________
Elementos diferentes de null/NaN: 354054
__________________
(354054,)
None

In [16]:
data_2003_2['ESTU_NACIMIENTO_MES'] = data_2003_2['ESTU_NACIMIENTO_MES'].replace(13.0, np.nan)
data_2003_2['ESTU_NACIMIENTO_MES'] = data_2003_2['ESTU_NACIMIENTO_MES'].replace(14.0, np.nan)
data_2003_2['ESTU_NACIMIENTO_MES'] = data_2003_2['ESTU_NACIMIENTO_MES'].replace(17.0, np.nan)
data_2003_2['ESTU_NACIMIENTO_MES'] = data_2003_2['ESTU_NACIMIENTO_MES'].replace(19.0, np.nan)
data_2003_2['ESTU_NACIMIENTO_MES'] = data_2003_2['ESTU_NACIMIENTO_MES'].replace(21.0, np.nan)
data_2003_2['ESTU_NACIMIENTO_MES'] = data_2003_2['ESTU_NACIMIENTO_MES'].replace(25.0, np.nan)

In [17]:
print(data_2003_2['ESTU_NACIMIENTO_ANNO'].value_counts().index)
print(data_2003_2['ESTU_NACIMIENTO_ANNO'].value_counts())
print(missing_data(data_2003_2['ESTU_NACIMIENTO_ANNO']))

Index([1986.0, 1987.0, 1985.0, 1984.0, 1983.0, 1982.0, 1988.0, '1986', 1981.0,
       '1987',
       ...
       '1997', 1991.0, '1940',   '96', '1951', '1941', '2003', '1 0*', '1946',
          1.0],
      dtype='object', length=121)
1986.0    113532
1987.0     70634
1985.0     69292
1984.0     34695
1983.0     15112
1982.0      7340
1988.0      6216
1986        5985
1981.0      3952
1987        3544
1985        3364
1980.0      2662
1979.0      1800
1984        1444
1978.0      1258
1977.0      1102
1976.0       892
1975.0       795
1974.0       715
1973.0       679
1972.0       652
1971.0       564
1983         552
1970.0       507
1969.0       497
1968.0       466
1967.0       409
1966.0       398
1965.0       366
1964.0       338
           ...
1952           3
1954           2
19             2
1942           2
197            2
1945           2
1948           2
1949           2
1993.0         2
1897.0         1
1  2           1
1947           1
1939.0         1
988.0          1
986.0          1
98.0           1
84.0           1
1937           1
1 *6           1
**             1
1997           1
1991.0         1
1940           1
96             1
1951           1
1941           1
2003           1
1 0*           1
1946           1
1.0            1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 1387
__________________
Elementos diferentes de null/NaN: 353313
__________________
(353313,)
None

In [18]:
for i in data_2003_2['ESTU_NACIMIENTO_ANNO'].value_counts().index:
    if type(i) == float:
        data_2003_2['ESTU_NACIMIENTO_ANNO'] = data_2003_2['ESTU_NACIMIENTO_ANNO'].replace(i, str(i)[:-2])
for i in data_2003_2['ESTU_NACIMIENTO_ANNO'].value_counts().index:
    if '*' in i:
        data_2003_2['ESTU_NACIMIENTO_ANNO'] = data_2003_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)
    elif ' ' in i:
        data_2003_2['ESTU_NACIMIENTO_ANNO'] = data_2003_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)
    elif int(i) < 1935:
        data_2003_2['ESTU_NACIMIENTO_ANNO'] = data_2003_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [109]:
anno = data_2003_2[data_2003_2['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2003_2 = data_2003_2.drop(anno)
dia = data_2003_2[data_2003_2['ESTU_NACIMIENTO_DIA'].isnull()].index
data_2003_2 = data_2003_2.drop(dia)
mes = data_2003_2[data_2003_2['ESTU_NACIMIENTO_MES'].isnull()].index
data_2003_2 = data_2003_2.drop(mes)

In [19]:
print(data_2003_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2003_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_DEPTO_PRESENTACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             620
ANTIOQUIA          51929
ARAUCA              1498
ATLANTICO          25107
BOGOTA             75516
BOLIVAR            17488
BOYACA             15063
CALDAS              9856
CAQUETA             2316
CASANARE            2417
CAUCA               6681
CESAR               7819
CHOCO               3165
CORDOBA            13004
CUNDINAMARCA       22004
GUAINIA              125
GUAVIARE             501
HUILA               7717
LA GUAJIRA          4470
MAGDALENA           9636
META                6533
NARIÑO               465
NORTE SANTANDER    12291
PUTUMAYO            1581
QUINDIO             4893
RISARALDA           7684
SAN ANDRES           590
SANTANDER          20515
SUCRE               7411
TOLIMA             12165
VALLE               3245
VAUPES               142
VICHADA              253
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [20]:
print(data_2003_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2003_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_MCPIO_PRESENTACION']))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=338)
ABEJORRAL                    184
ABREGO                       108
ACACIAS                      695
ACANDI                        34
ACHI                          96
AGUACHICA                   1139
AGUADAS                      251
AGUAZUL                      303
AGUSTIN CODAZZI              415
AIPE                         118
ALTO BAUDO (PIE DE PATO)      43
AMAGA                        521
AMALFI                       334
ANDES                        539
ANSERMA                      516
ANTIOQUIA                    582
APARTADO                    1195
ARACATACA                    263
ARAUCA                       573
ARAUQUITA                    157
ARBELAEZ                     125
ARBOLEDAS                     50
ARBOLETES                    341
ARIGUANI (EL DIFICIL)        279
ARJONA                       616
ARMENIA                     3403
ASTREA                        77
AYAPEL                       298
BAGADO                        77
BAHIA SOLANO (MUTIS)          98
                            ...
TULUA                        263
TUMACO                        90
TUNJA                       3576
TURBACO                      763
TURBO                        879
TURMEQUE                     179
TUTA                         113
UBATE                        837
UNGUIA                        54
URRAO                        285
VALLEDUPAR                  4556
VELEZ                        372
VENADILLO                    201
VENTAQUEMADA                 127
VIGIA DEL FUERTE              26
VILLA DE LEYVA               238
VILLA DEL ROSARIO            628
VILLAGARZON                   44
VILLAMARIA                   170
VILLANUEVA                   665
VILLAVICENCIO               4545
VILLETA                      429
VIOTA                         62
YARUMAL                      632
YAVARATE                      14
YOLOMBO                      177
YOPAL                       1181
ZAPATOCA                     121
ZARAGOZA                     167
ZIPAQUIRA                   1883
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [21]:
print(data_2003_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2003_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    48
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 354652
__________________
Elementos diferentes de null/NaN: 48
__________________
(48,)
None

In [22]:
print(data_2003_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2003_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    87
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 354613
__________________
Elementos diferentes de null/NaN: 87
__________________
(87,)
None

In [23]:
print(data_2003_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2003_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    23
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 354677
__________________
Elementos diferentes de null/NaN: 23
__________________
(23,)
None

In [24]:
print(data_2003_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2003_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    102
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 354598
__________________
Elementos diferentes de null/NaN: 102
__________________
(102,)
None

In [110]:
data_2003_2 = data_2003_2.drop(['ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE', 'ESTU_LIMITA_SORDONOINTERPRETE',
                               'ESTU_LIMITA_MOTRIZ'], axis=1)

In [25]:
print(data_2003_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2003_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_IES_COD_DESEADA']))

Index(['*', '*  *', '*  4', '* *', '* 0', '* 01', '* 02', '* 04', '* 05',
       '* 06',
       ...
       '9708', '9803', '9813', '9837', '99', '99 9', '9914', '9977', '999',
       '9999'],
      dtype='object', length=1614)
*          32
*  *        8
*  4        1
* *        24
* 0         2
* 01        1
* 02        1
* 04        1
* 05        2
* 06        2
* 08        2
* 09        1
* 1         4
* 10        2
* 11        1
* 12        1
* 13        2
* 17        3
* 20        4
* 24        2
* 28        1
* 5         2
* 7         1
* 8         1
**         44
****        8
**2*        1
**88        1
**9*        1
*0          3
        ...
9112      896
9113       84
9114      219
9115       31
9117        1
9119        1
9121        2
9130        1
9135        1
9190        1
9192        2
9201        1
9204        2
9301        2
9404        2
9501        1
9505        1
9701        2
9702        1
9704        1
9708        1
9803        2
9813        1
9837        1
99         18
99 9       25
9914        1
9977        1
999        69
9999    17749
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 26900
__________________
Elementos diferentes de null/NaN: 327800
__________________
(327800,)
None

In [26]:
for i in data_2003_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '*' in i:
        data_2003_2['ESTU_IES_COD_DESEADA'] = data_2003_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif ' ' in i:
        data_2003_2['ESTU_IES_COD_DESEADA'] = data_2003_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif int(i) < 1000:
        data_2003_2['ESTU_IES_COD_DESEADA'] = data_2003_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)

In [112]:
Do_resamples(data_2003_2, 'ESTU_IES_COD_DESEADA', str)

cant null antes: 30028
cant null despues: 75
cant null antes: 75
cant null despues: 0

In [27]:
print(data_2003_2['ESTU_RAZONINSTITUTO'].value_counts().index)
print(data_2003_2['ESTU_RAZONINSTITUTO'].value_counts())
print(missing_data(data_2003_2['ESTU_RAZONINSTITUTO']))

Index(['2', '3', '8', '5', '4', '6', 2.0, '7', 3.0, 5.0, 8.0, 4.0, 6.0, '1',
       7.0, 1.0, '*'],
      dtype='object')
2      88790
3      36642
8      34526
5      34054
4      28048
6      26065
2.0    19647
7      17580
3.0     8632
5.0     7418
8.0     7360
4.0     7129
6.0     6545
1       4951
7.0     3836
1.0     1200
*         66
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 22211
__________________
Elementos diferentes de null/NaN: 332489
__________________
(332489,)
None

In [28]:
for i in data_2003_2['ESTU_RAZONINSTITUTO'].value_counts().index:
    if type(i) == float:
        data_2003_2['ESTU_RAZONINSTITUTO'] = data_2003_2['ESTU_RAZONINSTITUTO'].replace(i, str(i)[:-2])
        
data_2003_2['ESTU_RAZONINSTITUTO'] = data_2003_2['ESTU_RAZONINSTITUTO'].replace('*', np.nan)

In [114]:
Do_resamples(data_2003_2, 'ESTU_RAZONINSTITUTO', str)

cant null antes: 21523
cant null despues: 0

In [29]:
print(data_2003_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2003_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_CARRDESEADA_COD']))

Index(['*', '*  8', '* *', '* * 1', '* * 2', '* * 3', '* * 8', '* *0', '* *1',
       '* *6',
       ...
       '99101', '99104', '99105', '99111', '9915', '9947', '999', '999 9',
       '9999', '99999'],
      dtype='object', length=5891)
*            9
*  8         1
* *         14
* * 1        4
* * 2        2
* * 3        1
* * 8        1
* *0         2
* *1         2
* *6         1
* *8         2
* *9         1
* 0 *        1
* 05         1
* 1          1
* 1*         2
* 101        1
* 109        2
* 110        1
* 113        1
* 118        1
* 124        1
* 142        1
* 2          1
* 2 *        2
* 2*         3
* 202        2
* 22         1
* 25         1
* 29         1
         ...
98126        2
98131        1
98156        1
98186        1
98197        1
98201        1
98255        1
98257        2
98260        1
9833         1
9840         1
9853         1
9858         1
98756        1
9899         1
99           9
99  9        5
99 9         2
99 99       10
9909         2
99101        2
99104        1
99105        1
99111        1
9915         1
9947         1
999         42
999 9        8
9999       233
99999    15325
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 17974
__________________
Elementos diferentes de null/NaN: 336726
__________________
(336726,)
None

In [30]:
for i in data_2003_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2003_2['ESTU_CARRDESEADA_COD'] = data_2003_2['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif ' ' in i:
        data_2003_2['ESTU_CARRDESEADA_COD'] = data_2003_2['ESTU_CARRDESEADA_COD'].replace(i, np.nan)

In [116]:
Do_resamples(data_2003_2, 'ESTU_CARRDESEADA_COD', str)

cant null antes: 20087
cant null despues: 280
cant null antes: 280
cant null despues: 0

In [31]:
print(data_2003_2['ESTU_CARRDESEADA_RAZON'].value_counts().index)
print(data_2003_2['ESTU_CARRDESEADA_RAZON'].value_counts())
print(missing_data(data_2003_2['ESTU_CARRDESEADA_RAZON']))

Index(['3', '2', '1', '4', '5', '6', 1.0, 3.0, 2.0, 4.0, 5.0, 6.0, '*'], dtype='object')
3      90526
2      86953
1      85845
4      26651
5      25679
6       8288
1.0     5062
3.0     4042
2.0     3478
4.0     1474
5.0     1149
6.0      688
*         67
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 14798
__________________
Elementos diferentes de null/NaN: 339902
__________________
(339902,)
None

In [32]:
for i in data_2003_2['ESTU_CARRDESEADA_RAZON'].value_counts().index:
    if type(i) == float:
        data_2003_2['ESTU_CARRDESEADA_RAZON'] = data_2003_2['ESTU_CARRDESEADA_RAZON'].replace(i, str(i)[:-2])

data_2003_2['ESTU_CARRDESEADA_RAZON'] = data_2003_2['ESTU_CARRDESEADA_RAZON'].replace('*', np.nan)

In [118]:
Do_resamples(data_2003_2, 'ESTU_CARRDESEADA_RAZON', str)

cant null antes: 14119
cant null despues: 0

In [33]:
print(data_2003_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2003_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_PERSONAS_HOGAR']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+    12677
0       94
1      809
2    11135
3    37633
4    83809
5    91325
6    56118
7    29921
8    16288
9     9277
@      434
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 5180
__________________
Elementos diferentes de null/NaN: 349520
__________________
(349520,)
None

In [34]:
data_2003_2['FAMI_PERSONAS_HOGAR'] = data_2003_2['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2003_2['FAMI_PERSONAS_HOGAR'] = data_2003_2['FAMI_PERSONAS_HOGAR'].replace('@', np.nan)

In [119]:
Do_resamples(data_2003_2, 'FAMI_PERSONAS_HOGAR', str)

cant null antes: 4833
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [35]:
print(data_2003_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2003_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_VIVIENDA_PROPIA']))

Index(['*', 'N', 'S'], dtype='object')
*        33
N    101714
S    246038
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 6915
__________________
Elementos diferentes de null/NaN: 347785
__________________
(347785,)
None

In [36]:
data_2003_2['FAMI_VIVIENDA_PROPIA'] = data_2003_2['FAMI_VIVIENDA_PROPIA'].replace('*', np.nan)

In [120]:
Do_resamples(data_2003_2, 'FAMI_VIVIENDA_PROPIA', str)

cant null antes: 6280
cant null despues: 0

In [37]:
print(data_2003_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2003_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_DEUDA_VIVIENDA']))

Index(['*', 'N', 'S'], dtype='object')
*        16
N    169841
S     53875
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 130968
__________________
Elementos diferentes de null/NaN: 223732
__________________
(223732,)
None

In [38]:
data_2003_2['FAMI_DEUDA_VIVIENDA'] = data_2003_2['FAMI_DEUDA_VIVIENDA'].replace('*', np.nan)

In [121]:
Do_resamples(data_2003_2, 'FAMI_DEUDA_VIVIENDA', str)

cant null antes: 129948
cant null despues: 0

In [39]:
print(data_2003_2['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2003_2['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_APORTANTES']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       390
+       216
0      1424
1    180572
2    133139
3     23213
4      6214
5      1676
6       519
7       196
8       104
9        74
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 6963
__________________
Elementos diferentes de null/NaN: 347737
__________________
(347737,)
None

In [40]:
data_2003_2['FAMI_APORTANTES'] = data_2003_2['FAMI_APORTANTES'].replace('*', np.nan)
data_2003_2['FAMI_APORTANTES'] = data_2003_2['FAMI_APORTANTES'].replace('+', '+9')

In [122]:
Do_resamples(data_2003_2, 'FAMI_APORTANTES', str)

cant null antes: 6590
cant null despues: 0

In [41]:
print(data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().index)
print(data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts())
print(missing_data(data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL']))

Index(['1', '0', '2', 1.0, '3', 0.0, 2.0, '4', 3.0, 4.0, '*', '6', '5', '9',
       '7', '8', 5.0, 6.0],
      dtype='object')
1      112267
0       87571
2       43227
1.0     25352
3       22080
0.0     14918
2.0     11505
4        8250
3.0      6494
4.0      2562
*          40
6          15
5          13
9          10
7           8
8           4
5.0         2
6.0         1
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 20381
__________________
Elementos diferentes de null/NaN: 334319
__________________
(334319,)
None

In [42]:
for i in data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().index:
    if type(i) == float:
        data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'].replace(i, str(i)[:-2])
        
data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('*', np.nan)

In [123]:
Do_resamples(data_2003_2, 'FAMI_INGRESO_FMILIAR_MENSUAL', str)

cant null antes: 19651
cant null despues: 0

In [43]:
print(data_2003_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_LEE_ESCRIBE_PADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       178
N     13391
S    310889
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 30242
__________________
Elementos diferentes de null/NaN: 324458
__________________
(324458,)
None

In [44]:
data_2003_2['FAMI_LEE_ESCRIBE_PADRE'] = data_2003_2['FAMI_LEE_ESCRIBE_PADRE'].replace('*', np.nan)

In [124]:
Do_resamples(data_2003_2, 'FAMI_LEE_ESCRIBE_PADRE', str)

cant null antes: 29690
cant null despues: 0

In [45]:
print(data_2003_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_LEE_ESCRIBE_MADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       167
N     12162
S    330151
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 12220
__________________
Elementos diferentes de null/NaN: 342480
__________________
(342480,)
None

In [46]:
data_2003_2['FAMI_LEE_ESCRIBE_MADRE'] = data_2003_2['FAMI_LEE_ESCRIBE_MADRE'].replace('*', np.nan)

In [125]:
Do_resamples(data_2003_2, 'FAMI_LEE_ESCRIBE_MADRE', str)

cant null antes: 11700
cant null despues: 0

In [47]:
print(data_2003_2['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_EDUCA_PADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      2833
1     16689
2      3575
3    135979
4     81397
5     20471
6     17973
7     27836
8     11701
9        44
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 36202
__________________
Elementos diferentes de null/NaN: 318498
__________________
(318498,)
None

In [48]:
data_2003_2['FAMI_EDUCA_PADRE'] = data_2003_2['FAMI_EDUCA_PADRE'].replace('*', np.nan)

In [126]:
Do_resamples(data_2003_2, 'FAMI_EDUCA_PADRE', str)

cant null antes: 38188
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [49]:
print(data_2003_2['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_EDUCA_MADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      2954
1     13556
2      3667
3    142131
4     95780
5     25438
6     16095
7     22712
8     10403
9        49
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 21915
__________________
Elementos diferentes de null/NaN: 332785
__________________
(332785,)
None

In [50]:
data_2003_2['FAMI_EDUCA_MADRE'] = data_2003_2['FAMI_EDUCA_MADRE'].replace('*', np.nan)

In [127]:
Do_resamples(data_2003_2, 'FAMI_EDUCA_MADRE', str)

cant null antes: 24023
cant null despues: 0

In [51]:
print(data_2003_2['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_OCUPA_PADRE']))

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '1', '10', '11',
       '12', '2', '3', '4', '5', '6', '7', '8', '9', '@'],
      dtype='object')
01     3896
02     6033
03    16023
04    22586
05    99107
06    44625
07     2518
08    78346
09    15182
1        23
10     4026
11      186
12    13984
2        24
3        89
4       173
5       899
6       533
7        12
8       670
9       145
@      8054
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 37566
__________________
Elementos diferentes de null/NaN: 317134
__________________
(317134,)
None

In [52]:
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('1', '01')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('2', '02')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('3', '03')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('4', '04')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('5', '05')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('6', '06')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('7', '07')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('8', '08')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('9', '09')
data_2003_2['FAMI_OCUPA_PADRE'] = data_2003_2['FAMI_OCUPA_PADRE'].replace('@', np.nan)

In [128]:
Do_resamples(data_2003_2, 'FAMI_OCUPA_PADRE', str)

cant null antes: 44763
cant null despues: 0

In [53]:
print(data_2003_2['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_OCUPA_MADRE']))

Index(['01', '02', '03', '04', '05', '06', '07', '08', '09', '1', '10', '11',
       '12', '2', '3', '4', '5', '6', '7', '8', '9', '@'],
      dtype='object')
01      1702
02      3278
03      6399
04     21124
05     41177
06     35973
07      2235
08     24091
09      4528
1          4
10    179556
11      1187
12      8499
2          1
3         51
4        196
5        432
6        403
7         13
8        205
9         44
@       6328
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 17274
__________________
Elementos diferentes de null/NaN: 337426
__________________
(337426,)
None

In [54]:
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('1', '01')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('2', '02')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('3', '03')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('4', '04')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('5', '05')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('6', '06')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('7', '07')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('8', '08')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('9', '09')
data_2003_2['FAMI_OCUPA_MADRE'] = data_2003_2['FAMI_OCUPA_MADRE'].replace('@', np.nan)

In [129]:
Do_resamples(data_2003_2, 'FAMI_OCUPA_MADRE', str)

cant null antes: 22770
cant null despues: 0

In [55]:
print(data_2003_2['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2003_2['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_NUM_HERMANOS']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      466
+     6754
0    16213
1    68282
2    89110
3    60006
4    35128
5    21086
6    13142
7     8514
8     5792
9     3929
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 26278
__________________
Elementos diferentes de null/NaN: 328422
__________________
(328422,)
None

In [56]:
data_2003_2['FAMI_NUM_HERMANOS'] = data_2003_2['FAMI_NUM_HERMANOS'].replace('+', '+9')
data_2003_2['FAMI_NUM_HERMANOS'] = data_2003_2['FAMI_NUM_HERMANOS'].replace('*', np.nan)

In [130]:
Do_resamples(data_2003_2, 'FAMI_NUM_HERMANOS', str)

cant null antes: 25910
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [57]:
print(data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       212
+       172
0    174444
1     90146
2     36526
3     11504
4      3687
5      1386
6       569
7       267
8       133
9        86
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 35568
__________________
Elementos diferentes de null/NaN: 319132
__________________
(319132,)
None

In [58]:
data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')
data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('*', np.nan)

In [131]:
Do_resamples(data_2003_2, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', str)

cant null antes: 34919
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [59]:
print(data_2003_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2003_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_POSICION_HERMANOS']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+      3157
0        30
1    116607
2     91391
3     57324
4     29644
5     15620
6      8838
7      5583
8      3463
9      2380
@        35
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 20628
__________________
Elementos diferentes de null/NaN: 334072
__________________
(334072,)
None

In [60]:
data_2003_2['FAMI_POSICION_HERMANOS'] = data_2003_2['FAMI_POSICION_HERMANOS'].replace('0', np.nan)
data_2003_2['FAMI_POSICION_HERMANOS'] = data_2003_2['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2003_2['FAMI_POSICION_HERMANOS'] = data_2003_2['FAMI_POSICION_HERMANOS'].replace('@', np.nan)

In [132]:
Do_resamples(data_2003_2, 'FAMI_POSICION_HERMANOS', str)

cant null antes: 19877
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [61]:
print(data_2003_2['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2003_2['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_SOST_PERSONAL']))

Index(['*', 'N', 'P', 'T'], dtype='object')
*        20
N     13466
P     35460
T    291361
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 14393
__________________
Elementos diferentes de null/NaN: 340307
__________________
(340307,)
None

In [62]:
data_2003_2['FAMI_SOST_PERSONAL'] = data_2003_2['FAMI_SOST_PERSONAL'].replace('*', np.nan)

In [133]:
Do_resamples(data_2003_2, 'FAMI_SOST_PERSONAL', str)

cant null antes: 13610
cant null despues: 0

In [63]:
print(data_2003_2['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2003_2['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_TRABAJA']))

Index(['*', 'N', 'S'], dtype='object')
*        12
N    311031
S     30789
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 12868
__________________
Elementos diferentes de null/NaN: 341832
__________________
(341832,)
None

In [64]:
data_2003_2['ESTU_TRABAJA'] = data_2003_2['ESTU_TRABAJA'].replace('*', np.nan)

In [134]:
Do_resamples(data_2003_2, 'ESTU_TRABAJA', str)

cant null antes: 12120
cant null despues: 0

In [65]:
print(data_2003_2['ESTU_ACT_PROX_ANNO'].value_counts().index)
print(data_2003_2['ESTU_ACT_PROX_ANNO'].value_counts())
print(missing_data(data_2003_2['ESTU_ACT_PROX_ANNO']))

Index(['3', '1', 3.0, '2', 1.0, 2.0, '*'], dtype='object')
3      213138
1      115680
3.0     10587
2        6088
1.0      5287
2.0       363
*          74
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 3483
__________________
Elementos diferentes de null/NaN: 351217
__________________
(351217,)
None

In [66]:
data_2003_2['ESTU_ACT_PROX_ANNO'] = data_2003_2['ESTU_ACT_PROX_ANNO'].replace(3.0, str(3.0)[:-2])
data_2003_2['ESTU_ACT_PROX_ANNO'] = data_2003_2['ESTU_ACT_PROX_ANNO'].replace(2.0, str(2.0)[:-2])
data_2003_2['ESTU_ACT_PROX_ANNO'] = data_2003_2['ESTU_ACT_PROX_ANNO'].replace(1.0, str(1.0)[:-2])
data_2003_2['ESTU_ACT_PROX_ANNO'] = data_2003_2['ESTU_ACT_PROX_ANNO'].replace('*', np.nan)

In [ ]:
Do_resamples(data_2003_2, 'ESTU_ACT_PROX_ANNO', str)

cant null antes: 2833
cant null despues: 0

In [67]:
print(data_2003_2['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2003_2['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A    327373
B       918
F     26409
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [68]:
print(data_2003_2['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2003_2['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    1650
2.0     124
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 352926
__________________
Elementos diferentes de null/NaN: 1774
__________________
(1774,)
None

In [ ]:
Do_resamples(data_2003_2, 'COLE_BILINGUE', float)

cant null antes: 351488

In [69]:
print(data_2003_2['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2003_2['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              195494
ACADEMICO Y TECNICO     97346
NORMALISTA               7021
TECNICO                 54839
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [70]:
print(data_2003_2['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2003_2['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_DEPTO_UBICACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             620
ANTIOQUIA          52038
ARAUCA              1487
ATLANTICO          24407
BOGOTA             74308
BOLIVAR            18116
BOYACA             14744
CALDAS              9511
CAQUETA             2320
CASANARE            2420
CAUCA               6755
CESAR               7730
CHOCO               3180
CORDOBA            12943
CUNDINAMARCA       23530
GUAINIA              125
GUAVIARE             412
HUILA               7665
LA GUAJIRA          4487
MAGDALENA           9978
META                6487
NARIÑO               465
NORTE SANTANDER    12243
PUTUMAYO            1581
QUINDIO             4869
RISARALDA           7734
SAN ANDRES           589
SANTANDER          20244
SUCRE               7524
TOLIMA             12551
VALLE               3237
VAUPES               142
VICHADA              258
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [71]:
print(data_2003_2['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2003_2['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_MCPIO_UBICACION']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YOPAL', 'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=938)
ABEJORRAL                    134
ABREGO                       104
ABRIAQUI                      19
ACACIAS                      519
ACANDI                        34
ACEVEDO                       47
ACHI                          68
AGRADO                        39
AGUA DE DIOS                 147
AGUACHICA                    749
AGUADA                        11
AGUADAS                      249
AGUAZUL                      307
AGUSTIN CODAZZI              409
AIPE                         118
ALBAN                         52
ALBANIA                      108
ALEJANDRIA                    41
ALGARROBO                     50
ALGECIRAS                     92
ALMAGUER                      65
ALMEIDA                       31
ALPUJARRA                     35
ALTAMIRA                      24
ALTO BAUDO (PIE DE PATO)      43
ALTOS DEL ROSARIO             27
ALVARADO                      70
AMAGA                        218
AMALFI                       136
AMBALEMA                      98
                            ...
VILLAHERMOSA                  58
VILLAMARIA                   425
VILLANUEVA                   635
VILLAPINZON                  197
VILLARRICA                    32
VILLAVICENCIO               4257
VILLAVIEJA                    45
VILLETA                      272
VIOTA                        116
VIRACACHA                     23
VISTA HERMOSA                 28
VITERBO                      123
YACOPI                        72
YACUANQUER                     8
YAGUARA                       92
YALI                          39
YARUMAL                      335
YAVARATE                      14
YOLOMBO                      126
YONDO (CASABE)                73
YOPAL                        935
YUMBO                         84
ZAMBRANO                      98
ZAPATOCA                      88
ZAPAYAN                       30
ZARAGOZA                     165
ZETAQUIRA                     59
ZIPACON                       18
ZIPAQUIRA                   1135
ZONA BANANERA                309
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [72]:
print(data_2003_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_RESIDE_DEPTO']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             620
ANTIOQUIA          51929
ARAUCA              1498
ATLANTICO          25107
BOGOTA             75516
BOLIVAR            17488
BOYACA             15063
CALDAS              9856
CAQUETA             2316
CASANARE            2417
CAUCA               6681
CESAR               7819
CHOCO               3165
CORDOBA            13004
CUNDINAMARCA       22004
GUAINIA              125
GUAVIARE             501
HUILA               7717
LA GUAJIRA          4470
MAGDALENA           9636
META                6533
NARIÑO               465
NORTE SANTANDER    12291
PUTUMAYO            1581
QUINDIO             4893
RISARALDA           7684
SAN ANDRES           590
SANTANDER          20515
SUCRE               7411
TOLIMA             12165
VALLE               3245
VAUPES               142
VICHADA              253
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [73]:
print(data_2003_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_RESIDE_MCPIO']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YOTOCO', 'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=932)
ABEJORRAL                    143
ABREGO                       112
ABRIAQUI                      17
ACACIAS                      572
ACANDI                        34
ACEVEDO                       32
ACHI                         101
AGRADO                        41
AGUA DE DIOS                3767
AGUACHICA                    800
AGUADA                        10
AGUADAS                      249
AGUAZUL                      309
AGUSTIN CODAZZI              410
AIPE                         118
ALBAN                         52
ALBANIA                       42
ALCALA                         1
ALEJANDRIA                    42
ALGARROBO                      2
ALGECIRAS                     88
ALMAGUER                      49
ALMEIDA                       25
ALPUJARRA                     33
ALTAMIRA                      21
ALTO BAUDO (PIE DE PATO)      43
ALTOS DEL ROSARIO              5
ALVARADO                      63
AMAGA                        237
AMALFI                       146
                            ...
VILLAHERMOSA                  52
VILLAMARIA                   397
VILLANUEVA                   653
VILLAPINZON                  190
VILLARRICA                    25
VILLAVICENCIO               4259
VILLAVIEJA                    31
VILLETA                      279
VIOTA                        111
VIRACACHA                     19
VISTA HERMOSA                 28
VITERBO                      113
YACOPI                        53
YAGUARA                       88
YALI                          35
YARUMAL                      367
YAVARATE                      11
YOLOMBO                      145
YONDO (CASABE)                63
YOPAL                        984
YOTOCO                         1
YUMBO                         72
ZAMBRANO                      84
ZAPATOCA                      98
ZAPAYAN                       29
ZARAGOZA                     163
ZETAQUIRA                     55
ZIPACON                       10
ZIPAQUIRA                   1140
ZONA BANANERA                151
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

### TARGETS

In [74]:
print(data_2003_2['PUNT_BIOLOGIA'].value_counts().index)
print(data_2003_2['PUNT_BIOLOGIA'].value_counts())
print(missing_data(data_2003_2['PUNT_BIOLOGIA']))

Index(['44', '45', '42', '47', '41',   44,   45,   47, '48',   42,
       ...
         64,   66, '66',   68,   76,   26, '70',   19, '80', '76'],
      dtype='object', length=102)
44     18364
45     17889
42     17882
47     16594
41     16041
44     15657
45     15541
47     14887
48     14627
42     14618
48     13239
39     13184
49     12393
41     12367
49     11481
51     10248
39     10095
38      9959
51      9761
52      8094
52      7981
38      7386
36      6512
53      6305
53      6200
54      4877
54      4777
36      4639
34      3840
56      3513
       ...
69        28
11        25
33        23
---       20
31        19
72        15
11        13
72        10
0          9
75         8
75         8
31         7
61         7
61         7
58         7
64         4
58         4
26         4
0          4
80         3
64         3
66         2
66         2
68         1
76         1
26         1
70         1
19         1
80         1
76         1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [75]:
data_2003_2['PUNT_BIOLOGIA'] = data_2003_2['PUNT_BIOLOGIA'].replace('---', np.nan)
for i in data_2003_2['PUNT_BIOLOGIA'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_BIOLOGIA'] = data_2003_2['PUNT_BIOLOGIA'].replace(i, int(i))

In [ ]:
print(data_2003_2['PUNT_BIOLOGIA'].value_counts().index)
print(data_2003_2['PUNT_BIOLOGIA'].value_counts())
print(missing_data(data_2003_2['PUNT_BIOLOGIA']))

AQUI VOY

In [76]:
print(data_2003_2['PUNT_MATEMATICAS'].value_counts().index)
print(data_2003_2['PUNT_MATEMATICAS'].value_counts())
print(missing_data(data_2003_2['PUNT_MATEMATICAS']))

Index([ '41',  '42',  '39',  '44',  '37',  '46',  '47',  '35',    41,    42,
          44,    39,  '49',    46,  '34',    37,    47,  '51',    35,  '32',
          49,    34,  '53',    51,  '30',    32,  '55',    53,  '28',  '56',
          55,    30,  '58',    56,  '25',  '43',    28,  '38',    58,  '61',
        '23',  '40',    61,  '63',  '48',    25,  '20',    63,    43,  '16',
        '50',  '65',  '12',  '36',    65,    38,  '68',   '1',   '7', '---',
          40,    68,    23,  '71',    16,    48,    20,   '0',     7,    50,
        '54',  '75',     1,    71,    12,    36,  '26',    52,  '52',  '79',
          79,    21,    26,  '24',    24,    75,  '18',  '85',  '21',     0],
      dtype='object')
41    35255
42    34725
39    31052
44    30536
37    24327
46    24047
47    16580
35    16258
41    13265
42    13043
44    12070
39    11434
49    10212
46     9803
34     9765
37     8469
47     6967
51     5863
35     5734
32     5261
49     4664
34     3260
53     3252
51     2805
30     2392
32     1794
55     1672
53     1560
28     1035
56      897
      ...
40       41
68       38
23       37
71       25
16       24
48       23
20       21
0        18
7        16
50       14
54       11
75       11
1        11
71       10
12       10
36       10
26        9
52        6
52        6
79        5
79        4
21        3
26        3
24        1
24        1
75        1
18        1
85        1
21        1
0         1
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [77]:
data_2003_2['PUNT_MATEMATICAS'] = data_2003_2['PUNT_MATEMATICAS'].replace('---', np.nan)
for i in data_2003_2['PUNT_MATEMATICAS'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_MATEMATICAS'] = data_2003_2['PUNT_MATEMATICAS'].replace(i, int(i))

In [78]:
print(data_2003_2['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2003_2['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_FILOSOFIA']))

Index(['---', '0', '12', '18', '20', '23', '26', '27', '28', '30', '31', '32',
       '33', '35', '36', '38', '40', '41', '42', '43', '44', '45', '46', '47',
       '48', '49', '50', '51', '52', '53', '54', '55', '56', '57', '58', '59',
       '60', '61', '62', '63', '64', '66', '67', '68', '69', '70', '72', '73',
       '75', '77', '79'],
      dtype='object')
---      151
0         73
12       163
18         1
20       458
23         4
26      1368
27         4
28         2
30      3700
31        15
32         5
33      8321
35        11
36     15742
38     25644
40       180
41     35172
42        64
43     43108
44        93
45     46746
46     45463
47       211
48     39586
49       346
50     31321
51       156
52     22553
53     14739
54       186
55      9074
56      4827
57        13
58      2549
59      1291
60        90
61       539
62       292
63        70
64       126
66        78
67        50
68         7
69        27
70        33
72        19
73        15
75         8
77         4
79         2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [79]:
data_2003_2['PUNT_FILOSOFIA'] = data_2003_2['PUNT_FILOSOFIA'].replace('---', np.nan)
for i in data_2003_2['PUNT_FILOSOFIA'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_FILOSOFIA'] = data_2003_2['PUNT_FILOSOFIA'].replace(i, int(i))

In [80]:
print(data_2003_2['PUNT_FISICA'].value_counts().index)
print(data_2003_2['PUNT_FISICA'].value_counts())
print(missing_data(data_2003_2['PUNT_FISICA']))

Index([   46,    44,    48,    42,    50,    40,    51,  '46',  '44',  '48',
        '42',    53,    38,  '50',  '40',  '51',    55,  '38',    36,  '53',
          56,  '36',  '55',    33,    58,  '56',  '33',    60,    30,  '58',
          61,  '30',  '60',    63,    26,  '61',  '26',    65,  '63',    67,
          22,  '65',  '43',  '22',    69,  '45',  '47',  '67',  '41',  '39',
        '49',    45,    71,  '69',    47,    43,  '52',    16,    41,    49,
          39,    52,  '16',  '34',    75,  '27',    73,  '71',  '73',  '54',
          34,  '31',    78,    54,    59,     6,  '75', '---',    57,  '59',
         '6',  '57',  '78',     0,    31,    64,    81,    27,    84,    62,
        '23',   '0',  '64',    72,  '84',  '17',    23,  '81',    17,  '62'],
      dtype='object')
46     26930
44     26157
48     25393
42     22996
50     21804
40     17763
51     17125
46     15975
44     15350
48     14544
42     13833
53     12835
38     12785
50     12436
40     11112
51      9626
55      8872
38      7927
36      7828
53      6972
56      5823
36      5057
55      4744
33      4173
58      3662
56      3060
33      2729
60      2361
30      2026
58      1871
       ...
34        21
31        21
78        17
54        17
59        17
6         16
75        11
---       11
57        11
59        11
6         11
57         9
78         9
0          8
31         7
64         5
81         5
27         5
84         5
62         3
23         3
0          2
64         2
72         1
84         1
17         1
23         1
81         1
17         1
62         1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [81]:
data_2003_2['PUNT_FISICA'] = data_2003_2['PUNT_FISICA'].replace('---', np.nan)
for i in data_2003_2['PUNT_FISICA'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_FISICA'] = data_2003_2['PUNT_FISICA'].replace(i, int(i))

In [82]:
print(data_2003_2['PUNT_HISTORIA'].value_counts().index)
print(data_2003_2['PUNT_HISTORIA'].value_counts())
print(missing_data(data_2003_2['PUNT_HISTORIA']))

Index([   42,    43,    45,    41,  '42',  '41',    46,  '43',    39,  '39',
        '45',    47,  '38',    38,  '46',    48,  '47',  '36',    36,    50,
        '48',    51,  '35',    35,  '50',    52,  '51',  '33',    33,    53,
        '52',  '53',    55,  '31',    31,  '55',    56,  '56',  '29',    29,
          57,  '57',    59,  '26',    26,  '59',    61,  '40',  '49',  '61',
        '44',  '23',  '37',    23,    62,  '54',  '62',    49,    64,    40,
        '34',  '19',    19,    37,    44,  '32',  '64',    67,    54, '---',
          34,    32,  '58',  '67',  '30',  '12',    12,    30,     0,    58,
        '60',  '27',    69,  '69',    60,  '72',    27,   '0',  '24'],
      dtype='object')
42     18115
43     17941
45     17207
41     16873
42     16070
41     15747
46     15564
43     15198
39     14924
39     14157
45     13955
47     13641
38     12248
38     12160
46     12053
48     11144
47     10168
36      9450
36      9287
50      8871
48      8286
51      6908
35      6443
35      6341
50      6320
52      5111
51      4959
33      4072
33      3772
53      3623
       ...
40        44
34        37
19        35
19        33
37        29
44        29
32        27
64        26
67        16
54        16
---       16
34        13
32         8
58         8
67         8
30         8
12         7
12         7
30         5
0          5
58         5
60         4
27         3
69         2
69         2
60         1
72         1
27         1
0          1
24         1
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [83]:
data_2003_2['PUNT_HISTORIA'] = data_2003_2['PUNT_HISTORIA'].replace('---', np.nan)
for i in data_2003_2['PUNT_HISTORIA'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_HISTORIA'] = data_2003_2['PUNT_HISTORIA'].replace(i, int(i))

In [84]:
print(data_2003_2['PUNT_QUIMICA'].value_counts().index)
print(data_2003_2['PUNT_QUIMICA'].value_counts())
print(missing_data(data_2003_2['PUNT_QUIMICA']))

Index([   42,    41,    43,    39,    44,    46,    38,    47,    36,    48,
          49,    35,    51,    52,    33,  '42',  '41',  '39',  '43',    53,
        '44',  '38',  '46',    54,  '36',  '47',    31,    56,  '48',  '35',
          57,  '49',    59,  '51',  '33',    29,    60,  '52',  '53',    62,
        '31',  '54',    64,  '56',    26,    67,  '57',  '29',  '59',    70,
          40,  '60',  '62',    45,    74,    23,  '26',  '64',    37,  '67',
          50,    81,  '40',    34,  '70',    18,    55,  '23',  '45',  '74',
        '37',    32,  '18',    92,    30,  '81',    11,    58,    61,  '50',
        '34',  '32',    65,  '92', '---',  '55',    69,     0,  '11',  '30',
        '58',    27,  '65',    78,    24,    75,    22,    72,    71],
      dtype='object')
42     27498
41     26630
43     26123
39     24019
44     23670
46     20533
38     20525
47     17500
36     15777
48     13838
49     11149
35     10858
51      8801
52      6949
33      6627
42      6352
41      6258
39      5964
43      5880
53      5378
44      5236
38      5059
46      4578
54      4264
36      3884
47      3553
31      3438
56      3329
48      2965
35      2726
       ...
74        25
37        23
32        21
18        19
92        16
30        14
81        13
11        11
58        10
61         9
50         8
34         7
32         7
65         6
92         5
---        4
55         3
69         3
0          3
11         2
30         2
58         2
27         2
65         1
78         1
24         1
75         1
22         1
72         1
71         1
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [85]:
data_2003_2['PUNT_QUIMICA'] = data_2003_2['PUNT_QUIMICA'].replace('---', np.nan)
for i in data_2003_2['PUNT_QUIMICA'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_QUIMICA'] = data_2003_2['PUNT_QUIMICA'].replace(i, int(i))

In [86]:
print(data_2003_2['PUNT_LENGUAJE'].value_counts().index)
print(data_2003_2['PUNT_LENGUAJE'].value_counts())
print(missing_data(data_2003_2['PUNT_LENGUAJE']))

Index([  47,   49,   46,   50,   44,   52,   43,   53,   54,   41,
       ...
       '32', '68',   32,   76, '86',   87,  '0', '26', '76',   98],
      dtype='object', length=112)
47     22198
49     21957
46     21684
50     21058
44     20193
52     19721
43     18271
53     17722
54     15899
41     15065
56     13394
39     11828
58     11704
59      9613
37      8616
61      7931
62      6147
35      5750
44      5170
47      5148
46      5057
43      4903
49      4735
64      4644
41      4354
50      4343
52      3914
39      3453
33      3417
53      3368
       ...
63        17
72        17
70        15
79        14
77        13
38         9
86         8
0          7
77         7
91         6
36         6
38         6
12         5
79         5
90         4
---        4
34         4
36         3
103        3
34         3
32         2
68         2
32         1
76         1
86         1
87         1
0          1
26         1
76         1
98         1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [87]:
data_2003_2['PUNT_LENGUAJE'] = data_2003_2['PUNT_LENGUAJE'].replace('---', np.nan)
for i in data_2003_2['PUNT_LENGUAJE'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_LENGUAJE'] = data_2003_2['PUNT_LENGUAJE'].replace(i, int(i))

In [88]:
print(data_2003_2['PUNT_GEOGRAFIA'].value_counts().index)
print(data_2003_2['PUNT_GEOGRAFIA'].value_counts())
print(missing_data(data_2003_2['PUNT_GEOGRAFIA']))

Index([ '39',  '41',    41,    42,  '42',  '38',    39,    44,    38,  '44',
          45,  '36',    47,  '45',    36,    48,  '34',  '47',    34,    49,
        '48',    51,  '32',  '49',    52,    32,  '51',    53,  '52',  '30',
          55,  '53',    30,  '55',    56,  '28',    58,  '56',    28,    59,
        '58',  '25',  '59',    25,    61,  '61',    63,  '21',  '63',    65,
          21,  '46',  '65',  '54',    67,  '16',    46,  '50',  '57',    54,
        '67',  '60',    16,    50,    69,    57,  '62',    60,  '37',    37,
        '69',   '8',    72,  '33',  '72', '---',   '0',    33,     8,    62,
        '66',    27,    76,    64,  '71',    70,  '64',  '27',  '68',    66,
          68,    71,    80,  '70',  '76',  '31',  '24'],
      dtype='object')
39     16405
41     16352
41     16009
42     15680
42     15439
38     15357
39     15214
44     14686
38     13775
44     13729
45     13508
36     13372
47     12043
45     12015
36     11492
48     10617
34     10219
47      9916
34      8635
49      8618
48      8588
51      7254
32      7128
49      6798
52      5869
32      5718
51      5572
53      4546
52      4411
30      4286
       ...
60        25
37        24
37        21
69        19
8         19
72        14
33        12
72        11
---       11
0         10
33         8
8          7
62         7
66         7
27         4
76         3
64         3
71         2
70         2
64         2
27         2
68         2
66         1
68         1
71         1
80         1
70         1
76         1
31         1
24         1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [89]:
data_2003_2['PUNT_GEOGRAFIA'] = data_2003_2['PUNT_GEOGRAFIA'].replace('---', np.nan)
for i in data_2003_2['PUNT_GEOGRAFIA'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_GEOGRAFIA'] = data_2003_2['PUNT_GEOGRAFIA'].replace(i, int(i))

In [90]:
print(data_2003_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2003_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2003_2['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    186444
44    130583
45     37673
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [91]:
print(data_2003_2['PUNT_INTERDISCIPLINAR'].value_counts().index)
print(data_2003_2['PUNT_INTERDISCIPLINAR'].value_counts())
print(missing_data(data_2003_2['PUNT_INTERDISCIPLINAR']))

Index([ 45.0,  52.0,  55.0,  49.0,  58.0,  37.0,  61.0,  41.0,  47.0,  50.0,
       ...
        '78',  '82',  77.0,  '79',  '30',  74.0, 100.0,  98.0,  '81',  91.0],
      dtype='object', length=123)
45.0     34142
52.0     31174
55.0     30011
49.0     27619
58.0     21214
37.0     19437
61.0     18523
41.0     14593
47.0     14544
50.0     13116
54.0     11260
34.0      9873
40.0      9859
32.0      9166
57.0      8929
64.0      6737
29.0      6335
42.0      5690
67.0      5508
26.0      4261
46.0      4213
52        3773
45        3666
49        3400
55        3375
24.0      2992
51.0      2800
18.0      2403
58        2368
61        1783
         ...
48          13
88.0        13
25.0        12
66          11
72           8
17.0         7
69           6
80           6
87           5
78.0         5
79.0         5
82.0         5
63           4
30.0         3
19.0         3
25           3
19           3
22.0         2
17           2
---          2
78           1
82           1
77.0         1
79           1
30           1
74.0         1
100.0        1
98.0         1
81           1
91.0         1
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 487
__________________
Elementos diferentes de null/NaN: 354213
__________________
(354213,)
None

In [92]:
data_2003_2['PUNT_INTERDISCIPLINAR'] = data_2003_2['PUNT_INTERDISCIPLINAR'].replace('---', np.nan)
for i in data_2003_2['PUNT_INTERDISCIPLINAR'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_INTERDISCIPLINAR'] = data_2003_2['PUNT_INTERDISCIPLINAR'].replace(i, int(i))

In [93]:
print(data_2003_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2003_2['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2003_2['COD_IDIOMA']))

Int64Index([51, 52, 53, 99], dtype='int64')
51    352899
52      1426
53       204
99       171
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [94]:
print(data_2003_2['PUNT_IDIOMA'].value_counts().index)
print(data_2003_2['PUNT_IDIOMA'].value_counts())
print(missing_data(data_2003_2['PUNT_IDIOMA']))

Index(['39', '41', '38', '42', '36', '43', '45', '34', '46', '32',
       ...
         74, '89',   59,   64,   89,   30, '19',   82,   71,   62],
      dtype='object', length=112)
39    38266
41    37371
38    34263
42    32869
36    26423
43    26401
45    19629
34    17537
46    13514
32     9896
47     9402
48     6272
41     5648
39     5408
42     5233
38     4804
29     4530
50     4398
43     4313
36     3580
45     3347
51     3143
46     2525
52     2461
34     2325
53     1913
47     1874
55     1749
26     1658
56     1515
      ...
0        17
28       17
99       14
27       14
44       13
25       12
37       12
14        7
71        7
0         7
23        5
49        5
35        4
54        4
33        4
77        4
18        3
74        3
77        2
22        2
74        2
89        2
59        2
64        1
89        1
30        1
19        1
82        1
71        1
62        1
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354700
__________________
(354700,)
None

In [95]:
data_2003_2['PUNT_INTERDISCIPLINAR'] = data_2003_2['PUNT_INTERDISCIPLINAR'].replace('---', np.nan)
for i in data_2003_2['PUNT_INTERDISCIPLINAR'].value_counts().index:
    if type(i) == str:
        data_2003_2['PUNT_INTERDISCIPLINAR'] = data_2003_2['PUNT_INTERDISCIPLINAR'].replace(i, int(i))

Now i can transform the Data Frames to csv files

In [188]:
#data_2003.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2003_1.csv', sep=';', index=False)
#data_2003_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2003_2.csv', sep=';', index=False)