In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2009 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20091-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

In [3]:
data_2009.shape

(69743, 97)

In [4]:
data_2009.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB20091000001,SB20091000002,SB20091000003
PERIODO,20091,20091,20091
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,M
ESTU_NACIMIENTO_DIA,16,6,13
ESTU_NACIMIENTO_MES,5,11,12
ESTU_NACIMIENTO_ANNO,1992,1991,1991
ESTU_EDAD,16,17,17
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76892,76892,76892
ESTU_RESIDE_MCPIO,YUMBO,YUMBO,YUMBO
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,2,2,2
FAMI_EDUCA_PADRE,10,0,9
FAMI_EDUCA_MADRE,11,13,9
FAMI_OCUPA_PADRE,14,21,19
FAMI_OCUPA_MADRE,22,18,22
FAMI_EDUCA_HERMANO,88,NaN,88
FAMI_ESTRATO_VIVIENDA,2,1,2
FAMI_NIVEL_SISBEN,4,1,5
FAMI_PERSONAS_HOGAR,4,4,3
...,...,...,...
ESTU_VECES_ESTADO,0,1,0
ESTU_CARRDESEADA_TIPO,3,NaN,3
ESTU_CARRDESEADA_NUCLEO,42,NaN,41
ESTU_IES_COD_DESEADA,1203,1203,1203
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD DEL VALLE,UNIVERSIDAD DEL VALLE,UNIVERSIDAD DEL VALLE
ESTU_IES_COD_MPIO_DESEADA,76001,76001,76001
ESTU_IES_MPIO_DESEADA,CALI,CALI,CALI
ESTU_IES_DEPT_DESEADA,VALLE,VALLE,VALLE
ESTU_RAZONINSTITUTO,2,3,2
ESTU_CARRDESEADA_COD,NaN,NaN,NaN
ESTU_CARRDESEADA_RAZON,3,7,1
ESTU_COD_MCPIO_PRESENTACION,76892,76892,76892
ESTU_MCPIO_PRESENTACION,YUMBO,YUMBO,YUMBO
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES)
PUNT_LENGUAJE,"38,41","62,59","40,79"
PUNT_MATEMATICAS,"36,84","50,65","33,44"
PUNT_C_SOCIALES,"48,05","57,75","44,14"
PUNT_FILOSOFIA,"44,77","39,25","39,54"
PUNT_BIOLOGIA,"34,61",44,"27,68"
PUNT_QUIMICA,"45,27","49,97","43,56"
PUNT_FISICA,"38,62","31,11","34,84"
PUNT_INGLES,"40,5","40,5","41,6"
DESEMP_INGLES,A-,A-,A-
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN BIOLOGÍA
PUNT_PROFUNDIZACION,"4,38","4,38","4,17"
DESEMP_PROFUNDIZACION,GB,GB,GB
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"51,14","50,17","45,24"
ESTU_PUESTO,794,309,893

In [5]:
data_2009 = data_2009.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                           'COLE_NOMBRE_SEDE', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA',
                           'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_EXAM_NOMBREEXAMEN'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['AR', 'BR', 'CN', 'CO', 'CU', 'DE', 'DO', 'EC', 'ES', 'FR', 'IT', 'JP',
       'PE', 'RO', 'TW', 'US', 'VE'],
      dtype='object')
AR        2
BR        2
CN        1
CO    69629
CU        3
DE        1
DO        1
EC        3
ES        3
FR        1
IT        1
JP        1
PE        2
RO        1
TW        1
US        5
VE        5
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 81
__________________
Elementos diferentes de null/NaN: 69662
__________________
(69662,)
None

In [7]:
Do_resamples(data_2009, c, str)

cant null antes: 81
cant null despues: 0

In [8]:
c = 'ESTU_GENERO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['F', 'M'], dtype='object')
F    37773
M    31952
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 69725
__________________
(69725,)
None

In [9]:
Do_resamples(data_2009, c, str)

cant null antes: 18
cant null despues: 0

In [10]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     2401
2     2246
3     2375
4     2295
5     2279
6     2273
7     2317
8     2259
9     2269
10    2328
11    2340
12    2307
13    2204
14    2237
15    2327
16    2261
17    2333
18    2334
19    2274
20    2399
21    2246
22    2254
23    2321
24    2329
25    2307
26    2219
27    2316
28    2309
29    2095
30    2007
31    1257
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 25
__________________
Elementos diferentes de null/NaN: 69718
__________________
(69718,)
None

In [11]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     5508
2     5212
3     5805
4     5543
5     5899
6     5647
7     6049
8     6025
9     6284
10    5921
11    5618
12    6207
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 25
__________________
Elementos diferentes de null/NaN: 69718
__________________
(69718,)
None

In [12]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1930.0, 1941.0, 1942.0, 1944.0, 1945.0, 1946.0, 1947.0, 1948.0,
              1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0,
              1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0,
              1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0,
              1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0,
              1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0,
              1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0,
              1999.0, 2000.0, 2001.0, 2002.0],
             dtype='float64')
1930        2
1941        1
1942        3
1944        2
1945        1
1946        4
1947        2
1948        5
1949        3
1950       10
1951        5
1952       11
1953       16
1954       14
1955       20
1956       18
1957       23
1958       25
1959       28
1960       42
1961       40
1962       50
1963       61
1964       71
1965       60
1966       68
1967       69
1968       84
1969       97
1970      106
1971       94
1972      127
1973      110
1974      129
1975      121
1976      131
1977      160
1978      146
1979      197
1980      233
1981      210
1982      282
1983      315
1984      342
1985      445
1986      552
1987      835
1988     1425
1989     3100
1990     7806
1991    17010
1992    27076
1993     7436
1994      437
1995       34
1996        2
1999        1
2000       10
2001        8
2002        3
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 25
__________________
Elementos diferentes de null/NaN: 69718
__________________
(69718,)
None

In [13]:
for i in data_2009[c].value_counts().sort_index().index:
    if i < 1931:
        data_2009[c] = data_2009[c].replace(i, np.nan)
    elif i > 1996:
        data_2009[c] = data_2009[c].replace(i, np.nan)

In [14]:
anno = data_2009[data_2009[c].isnull()].index
data_2009 = data_2009.drop(anno)

In [17]:
c = 'ESTU_EDAD'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Int64Index([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
            30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
            47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63,
            64, 65, 66, 67],
           dtype='int64')
13       23
14      266
15     4545
16    25538
17    18917
18     9482
19     3689
20     1621
21      901
22      631
23      451
24      364
25      324
26      294
27      216
28      244
29      201
30      144
31      158
32      132
33      135
34      119
35      120
36      123
37       99
38      104
39      101
40       88
41       72
42       68
43       60
44       69
45       65
46       51
47       43
48       38
49       35
50       24
51       20
52       19
53       22
54       12
55       18
56        9
57        7
58        9
59        5
60        4
61        3
62        3
63        2
64        1
65        1
66        3
67        1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [18]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 69694
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [19]:
data_2009 = data_2009.drop([c], axis=1)

In [20]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 69694
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [21]:
data_2009 = data_2009.drop([c], axis=1)

In [22]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 69694
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [23]:
data_2009 = data_2009.drop([c], axis=1)

In [24]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 69694
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [25]:
data_2009 = data_2009.drop([c], axis=1)

In [26]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 69694
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [27]:
data_2009 = data_2009.drop([c], axis=1)

In [28]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 69694
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [29]:
data_2009 = data_2009.drop([c], axis=1)

In [30]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 69694
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [31]:
data_2009 = data_2009.drop([c], axis=1)

In [32]:
c = 'ESTU_ETNIA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     2758
2       45
3       69
4       12
5       10
6       16
7        6
8        7
9       12
10       1
11     996
12       2
13      24
14       2
15       2
16       2
17       3
99    1369
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 64358
__________________
Elementos diferentes de null/NaN: 5336
__________________
(5336,)
None

In [33]:
data_2009[c].fillna(99, inplace=True)

In [34]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['ABEJORRAL', 'ACACIAS', 'ACEVEDO', 'AGUACHICA', 'AGUAZUL',
       'AGUSTIN CODAZZI', 'AIPE', 'ALBAN', 'ALBAN (SAN JOSE)', 'ALBANIA',
       ...
       'VITERBO', 'YACUANQUER', 'YARUMAL', 'YOPAL', 'YOTOCO', 'YUMBO',
       'ZARAGOZA', 'ZARZAL', 'ZIPACON', 'ZIPAQUIRA'],
      dtype='object', length=413)
ABEJORRAL                      5
ACACIAS                        7
ACEVEDO                        1
AGUACHICA                     33
AGUAZUL                       14
AGUSTIN CODAZZI               11
AIPE                           1
ALBAN                          3
ALBAN (SAN JOSE)              88
ALBANIA                       83
ALCALA                        86
ALDANA                        80
ALGARROBO                      1
AMAGA                          1
ANCUYA                        96
ANDALUCIA                    196
ANDES                          2
ANGELOPOLIS                   25
ANORI                          2
ANSERMANUEVO                 148
APARTADO                      24
ARAUCA                        47
ARAUQUITA                     15
ARBOLEDA (BERRUECOS)          51
ARBOLETES                      2
ARCABUCO                       1
ARGELIA                       44
ARJONA                         2
ARMENIA                      145
ATACO                          1
                            ...
TUNJA                         72
TUQUERRES                    412
TURBACO                       27
TURBO                         22
UBATE                          8
ULLOA                          1
UNE                            4
VALDIVIA                       4
VALENCIA                       8
VALLEDUPAR                    66
VENECIA (OSPINA PEREZ)         1
VENTAQUEMADA                   1
VERSALLES                     75
VIJES                         80
VILLA GUAMEZ (LA HORMIGA)      7
VILLA RICA                     9
VILLAGARZON                    2
VILLAMARIA                     6
VILLAVICENCIO                248
VILLETA                       21
VITERBO                        1
YACUANQUER                   113
YARUMAL                       18
YOPAL                        110
YOTOCO                       110
YUMBO                        978
ZARAGOZA                      69
ZARZAL                       484
ZIPACON                        3
ZIPAQUIRA                     91
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [35]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE', 'VICHADA'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           3129
ARAUCA                89
ATLÁNTICO            694
BOGOTÁ              6252
BOLÍVAR              283
BOYACÁ               258
CALDAS               393
CAQUETÁ               66
CASANARE             194
CAUCA               1099
CESAR                115
CHOCÓ                  4
CUNDINAMARCA        1094
CÓRDOBA               59
HUILA                280
LA GUAJIRA           108
MAGDALENA             63
META                 275
NARIÑO             12222
NORTE SANTANDER      173
PUTUMAYO              92
QUINDÍO              189
RISARALDA            277
SANTANDER            589
SUCRE                 11
TOLIMA               351
VALLE              41328
VICHADA                6
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [38]:
c = 'ESTU_ZONA_RESIDE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      6724
2      3337
3      1208
4      6233
5      1993
6      3789
7      3891
8      1699
9      1768
10    38986
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 66
__________________
Elementos diferentes de null/NaN: 69628
__________________
(69628,)
None

In [39]:
Do_resamples(data_2009, c, float)

cant null antes: 66
cant null despues: 0

In [40]:
c = 'ESTU_AREA_RESIDE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    56618
2    13073
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 69691
__________________
(69691,)
None

In [41]:
Do_resamples(data_2009, c, float)

cant null antes: 3
cant null despues: 0

In [42]:
c = 'FAMI_EDUCA_PADRE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      1971
1         2
2        19
3         9
4         8
5        13
6         2
7         3
8         1
9     10641
10    11662
11     8791
12    16567
13      790
14     2658
15     1171
16     7789
17     2814
99     4783
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [43]:
c = 'FAMI_EDUCA_MADRE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      1168
1         4
2        15
3         9
4         9
5        19
6         1
7         2
8         1
9     10230
10    12125
11    10616
12    17591
13     1039
14     3027
15     1267
16     7678
17     2270
99     2623
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [44]:
c = 'FAMI_OCUPA_PADRE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 1.0,  3.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,
              16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
1         4
3         3
5         6
7         7
9        23
10        2
11        8
12       11
13     2424
14     4811
15     2171
16     2328
17     3745
18     2676
19    13426
20     3987
21    19118
22      838
23     2587
26    11519
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [45]:
c = 'FAMI_OCUPA_MADRE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,
              16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
5         3
6         3
7         3
8         2
9        10
10       36
11        2
12        5
13     1042
14     2294
15     1208
16     2099
17     2822
18     2260
19     6159
20     2488
21     7081
22    36017
23      900
26     5260
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [47]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1       906
2      2019
3      2993
4      9242
5       832
6      1681
7      1328
8      3599
9       545
88    34644
99     3596
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 8309
__________________
Elementos diferentes de null/NaN: 61385
__________________
(61385,)
None

In [48]:
Do_resamples(data_2009, c, float)

cant null antes: 8309
cant null despues: 0

In [49]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    20395
2    24702
3    14892
4     3888
5     2879
6     2339
8      340
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 259
__________________
Elementos diferentes de null/NaN: 69435
__________________
(69435,)
None

In [50]:
data_2009[c] = data_2009[c].replace(8.0, np.nan)

In [51]:
Do_resamples(data_2009, c, float)

cant null antes: 599
cant null despues: 0

In [52]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    21804
2    15519
3     2268
4      914
5    29189
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [53]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       441
2      3283
3     11689
4     21480
5     16087
6      7898
7      3779
8      2185
9      1073
10      770
11      315
12      694
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [54]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1       669
2      4714
3     12907
4     16851
5     14050
6      7926
7      3669
8      2026
9       840
10     1066
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 4976
__________________
Elementos diferentes de null/NaN: 64718
__________________
(64718,)
None

In [55]:
Do_resamples(data_2009, c, float)

cant null antes: 4976
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [56]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      3357
2     23318
3     28297
4     10623
5      2735
6       858
7       284
8       110
9        45
10       67
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [57]:
c = 'FAMI_PISOSHOGAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     1960
2    26491
3     3616
4    37254
5      373
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [58]:
c = 'FAMI_SANITARIO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0      432
1    60796
2     1240
3      118
4     3181
Name: FAMI_SANITARIO, dtype: int64
Elementos null/NaN 3927
__________________
Elementos diferentes de null/NaN: 65767
__________________
(65767,)
None

In [59]:
Do_resamples(data_2009, c, float)

cant null antes: 3927
cant null despues: 0

In [60]:
c = 'FAMI_CONEXION_SANITARIO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     3083
1    58953
Name: FAMI_CONEXION_SANITARIO, dtype: int64
Elementos null/NaN 7658
__________________
Elementos diferentes de null/NaN: 62036
__________________
(62036,)
None

In [61]:
Do_resamples(data_2009, c, float)

cant null antes: 7658
cant null despues: 0

In [63]:
c = 'FAMI_ELECTRICIDAD'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      418
1    60884
Name: FAMI_ELECTRICIDAD, dtype: int64
Elementos null/NaN 8392
__________________
Elementos diferentes de null/NaN: 61302
__________________
(61302,)
None

In [64]:
Do_resamples(data_2009, c, float)

cant null antes: 8392
cant null despues: 0

In [65]:
c = 'FAMI_ACUEDUCTO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     2340
1    58962
Name: FAMI_ACUEDUCTO, dtype: int64
Elementos null/NaN 8392
__________________
Elementos diferentes de null/NaN: 61302
__________________
(61302,)
None

In [66]:
Do_resamples(data_2009, c, float)

cant null antes: 8392
cant null despues: 0

In [67]:
c = 'FAMI_ALCANTARILLADO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     5769
1    55533
Name: FAMI_ALCANTARILLADO, dtype: int64
Elementos null/NaN 8392
__________________
Elementos diferentes de null/NaN: 61302
__________________
(61302,)
None

In [68]:
Do_resamples(data_2009, c, float)

cant null antes: 8392
cant null despues: 0

In [69]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    25649
1    44045
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [70]:
c = 'FAMI_ASEO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7458
1    53844
Name: FAMI_ASEO, dtype: int64
Elementos null/NaN 8392
__________________
Elementos diferentes de null/NaN: 61302
__________________
(61302,)
None

In [71]:
Do_resamples(data_2009, c, float)

cant null antes: 8392
cant null despues: 0

In [72]:
c = 'FAMI_INTERNET'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    48718
1    20976
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [73]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    23377
1    46317
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [74]:
c = 'FAMI_COMPUTADOR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    35883
1       38
3    33773
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [75]:
c = 'FAMI_TELEVISOR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     1658
1    59758
Name: FAMI_TELEVISOR, dtype: int64
Elementos null/NaN 8278
__________________
Elementos diferentes de null/NaN: 61416
__________________
(61416,)
None

In [76]:
Do_resamples(data_2009, c, float)

cant null antes: 8278
cant null despues: 0

In [77]:
c = 'FAMI_DVD'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    21440
1    48254
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [78]:
c = 'FAMI_AUTOMOVIL'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    53074
1    16620
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [79]:
c = 'FAMI_LAVADORA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    32278
1    37416
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [80]:
c = 'FAMI_HORNO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    44495
1    25199
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [81]:
c = 'FAMI_MICROONDAS'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    49185
1    20509
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [82]:
c = 'FAMI_NEVERA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     8553
1    61141
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [83]:
c = 'FAMI_ESTUFA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     3562
1    57740
Name: FAMI_ESTUFA, dtype: int64
Elementos null/NaN 8392
__________________
Elementos diferentes de null/NaN: 61302
__________________
(61302,)
None

In [84]:
Do_resamples(data_2009, c, float)

cant null antes: 8392
cant null despues: 0

In [85]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    17316
2    30421
3    10500
4     4756
5     1995
6     1392
7     3314
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [86]:
c = 'ESTU_TRABAJA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    62190
1     5611
2     1269
3      184
4      138
5      150
6       28
7       37
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 87
__________________
Elementos diferentes de null/NaN: 69607
__________________
(69607,)
None

In [87]:
Do_resamples(data_2009, c, float)

cant null antes: 87
cant null despues: 0

In [88]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0       21
1       24
2       63
3      116
4      275
5      211
6      264
7      104
8      723
9      137
10     321
11      55
12     238
13      29
14      97
15     160
16     149
17      20
18     110
19      51
20    4161
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 62365
__________________
Elementos diferentes de null/NaN: 7329
__________________
(7329,)
None

In [89]:
Do_resamples(data_2009, c, float)

cant null antes: 62365
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [90]:
c = 'COLE_VALOR_PENSION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
0     41239
1         4
8     14026
9      3360
10     1610
11     3199
12     6234
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 22
__________________
Elementos diferentes de null/NaN: 69672
__________________
(69672,)
None

In [91]:
Do_resamples(data_2009, c, float)

cant null antes: 22
cant null despues: 0

In [92]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1981.0, 1984.0, 1994.0, 1998.0, 2001.0, 2004.0, 2005.0, 2006.0,
              2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 9999.0],
             dtype='float64')
1981        1
1984        1
1994        1
1998        1
2001        1
2004        1
2005        1
2006        2
2007        2
2008       24
2009    69408
2010      235
2011        5
9999        2
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 9
__________________
Elementos diferentes de null/NaN: 69685
__________________
(69685,)
None

In [93]:
data_2009[c] = data_2009[c].replace(9999.0, np.nan)

In [94]:
Do_resamples(data_2009, c, float)

cant null antes: 11
cant null despues: 0

In [95]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      34
1    3445
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 66215
__________________
Elementos diferentes de null/NaN: 3479
__________________
(3479,)
None

In [96]:
data_2009 = data_2009.drop([c], axis=1)

In [97]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([     2.0,      3.0,    182.0,    638.0,   2816.0,   3046.0,
                3327.0,   3418.0,   3459.0,   3525.0,
              ...
              169664.0, 169748.0, 170399.0, 174524.0, 174862.0, 175190.0,
              175208.0, 175703.0, 175745.0, 999999.0],
             dtype='float64', length=1972)
2           1
3          72
182        94
638        76
2816        1
3046       55
3327       18
3418       40
3459       68
3525       85
4234       42
5108        1
6023      114
6114        1
6775       14
7013       57
7070       78
7088       50
7377        2
8904        1
9110      259
9795        1
9845        1
9878        1
9993        5
11072       1
11213     261
11239      74
11254      33
11262      54
         ...
150326      1
150342      1
150474      1
150557      1
151498      1
151878      5
151977      1
152173      2
153692      2
155911      1
155994      1
156190      1
156216      1
156802      1
158436      1
159491      1
160952      1
162180      1
164186      1
168237      1
169664      1
169748      2
170399      1
174524      1
174862      1
175190      1
175208      1
175703      1
175745      1
999999    194
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 206
__________________
Elementos diferentes de null/NaN: 69488
__________________
(69488,)
None

In [98]:
Do_resamples(data_2009, c, float)

cant null antes: 206
cant null despues: 0

In [99]:
c = 'COLE_COD_ICFES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Int64Index([   182,    638,   3046,   3327,   3418,   3459,   3525,   4234,
              6023,   6775,
            ...
            143677, 143735, 143776, 143818, 143826, 144006, 144014, 144022,
            144071, 144212],
           dtype='int64', length=1807)
182        94
638        78
3046       55
3327       18
3418       41
3459       68
3525       85
4234       42
6023      114
6775       14
7013       57
7070       80
7088       51
11213     268
11239      73
11254      32
11262      54
11270      85
11288      69
11296     334
11312     139
11320     121
11338     379
11379      23
11395      43
11403      34
11411      98
11429      59
11437     116
11445      70
         ...
143016     25
143024      6
143032     25
143065     25
143099      3
143149     43
143198      5
143230     22
143255     61
143263     16
143271      9
143396      6
143479      8
143495     17
143503     33
143578      7
143594      4
143636      7
143651     70
143669     32
143677      7
143735     13
143776     15
143818      5
143826     38
144006      5
144014     11
144022      4
144071     14
144212     16
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [100]:
data_2009[c] = data_2009[c].replace(182, np.nan)
data_2009[c] = data_2009[c].replace(638, np.nan)

In [101]:
Do_resamples(data_2009, c, int)

cant null antes: 172
cant null despues: 0

In [102]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['            ', '010500103391', '034100105808', '051100116867',
       '105001000175', '105001000566', '105001003387', '105001003395',
       '105001003425', '105001014397',
       ...
       '576001091472', '576622134546', '625214000001', '625269000075',
       '625269000078', '625269000082', '625269000084', '625286000041',
       '625899000017', '818001100015'],
      dtype='object', length=1601)
                806
010500103391     41
034100105808     13
051100116867      6
105001000175     13
105001000566     22
105001003387     17
105001003395     40
105001003425     16
105001014397      8
105001024571    216
105088001512     35
105088003175     15
111001009971     14
111001010031     37
111001010251     13
111001010839     31
111001011011      3
111001011029      9
111001012360     18
111001013129     17
111001030856     18
111001034134     23
111001036781     33
111001092410     36
111001098876     11
111001098884     43
111001098892     35
111001098965     20
111001102148      6
               ...
476126000418     16
476130000571     47
476130000902      9
476130000961      9
476130001186     18
476130001208     16
476233002003      8
476248000648      8
476248032012     54
476520003791     22
476520006324     12
476520007207    102
476892001183     12
476892099710     20
476895000382     31
519001000002     25
525899000016     23
537610908071     26
541548000100      5
568001009690     27
576001091472     21
576622134546     22
625214000001     25
625269000075     10
625269000078     36
625269000082     19
625269000084     10
625286000041     69
625899000017     35
818001100015      5
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 69676
__________________
(69676,)
None

In [103]:
data_2009[c] = data_2009[c].replace('            ', np.nan)

In [104]:
Do_resamples(data_2009, c, str)

cant null antes: 824
cant null despues: 0

In [105]:
c = 'COLE_CALENDARIO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['A', 'B', 'F'], dtype='object')
A    41934
B    12904
F    14856
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [106]:
c = 'COLE_GENERO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4083
M     1064
X    64547
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [107]:
c = 'COLE_NATURALEZA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['N', 'O'], dtype='object')
N    31169
O    38525
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [108]:
c = 'COLE_BILINGUE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    58458
1     4104
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 7132
__________________
Elementos diferentes de null/NaN: 62562
__________________
(62562,)
None

In [109]:
Do_resamples(data_2009, c, float)

cant null antes: 7132
cant null despues: 0

In [110]:
c = 'COLE_JORNADA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    10194
MAÑANA                  41407
NOCHE                    5767
SABATINA - DOMINICAL     4682
TARDE                    7644
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [111]:
c = 'COLE_CARACTER'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              38171
ACADEMICO Y TECNICO    11346
NORMALISTA              1583
TECNICO                18594
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [112]:
c = 'ESTU_VECES_ESTADO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    56264
1    10552
2     2208
3      656
4        7
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 7
__________________
Elementos diferentes de null/NaN: 69687
__________________
(69687,)
None

In [113]:
Do_resamples(data_2009, c, float)

cant null antes: 7
cant null despues: 0

In [114]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     4328
1     6263
2     5154
3    46736
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 7213
__________________
Elementos diferentes de null/NaN: 62481
__________________
(62481,)
None

In [115]:
Do_resamples(data_2009, c, float)

cant null antes: 7213
cant null despues: 0

In [116]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               11.0,  12.0,  13.0,  18.0,  19.0,  20.0,  21.0,  22.0,  23.0,
               24.0,  25.0,  26.0,  27.0,  28.0,  29.0,  30.0,  31.0,  32.0,
               33.0,  34.0,  35.0,  36.0,  37.0,  39.0,  40.0,  41.0,  42.0,
               44.0,  45.0,  46.0,  47.0,  48.0,  50.0,  53.0,  55.0,  56.0,
               57.0,  58.0,  59.0,  61.0,  62.0,  64.0,  66.0,  68.0,  69.0,
               70.0,  99.0, 122.0],
             dtype='float64')
1       774
2       480
3       638
4       456
5       139
6       433
7      2597
8       457
9      5865
11     1525
12     2134
13     1197
18     1287
19      154
20      829
21      551
22      345
23      640
24      343
25      939
26      127
27     4465
28      535
29     1096
30     1746
31     1724
32      377
33      328
34      490
35      174
36      101
37      204
39      171
40      404
41     3389
42      393
44      105
45     5198
46      179
47     2083
48      127
50      194
53      127
55       85
56      651
57     1867
58      551
59     2533
61     1247
62      170
64      712
66     2063
68      276
69      414
70       65
99     2003
122       1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 11536
__________________
Elementos diferentes de null/NaN: 58158
__________________
(58158,)
None

In [117]:
Do_resamples(data_2009, c, float)

cant null antes: 11536
cant null despues: 4
cant null antes: 4
cant null despues: 0

In [118]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1108.0, 1109.0,
              1110.0, 1111.0,
              ...
              9103.0, 9104.0, 9105.0, 9107.0, 9110.0, 9111.0, 9112.0, 9113.0,
              9114.0, 9115.0],
             dtype='float64', length=304)
1101     2061
1102      166
1103      172
1104      652
1105      149
1106      104
1108       26
1109        8
1110     1182
1111      768
1112      277
1113       36
1114       80
1115       49
1117       70
1118        7
1119      147
1120       52
1121       23
1122      562
1124        8
1125        1
1201     1029
1202       40
1203    25007
1204      190
1205       64
1206     6523
1207      172
1208      461
        ...
4810       26
4811       46
4812       11
4813       88
4814      105
4817        9
4818        5
4822       26
4825        1
4826        3
4827        4
4829        3
4832        9
4835       22
4836        1
4837        2
5801        4
5802       66
9101       69
9102        4
9103      523
9104      251
9105       50
9107       27
9110      381
9111     1633
9112      237
9113       29
9114       47
9115      346
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 4632
__________________
Elementos diferentes de null/NaN: 65062
__________________
(65062,)
None

In [119]:
Do_resamples(data_2009, c, float)

cant null antes: 4632
cant null despues: 0

In [120]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['ANDES', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA', 'BARRANQUILLA',
       'BELLO', 'BOGOTÁ D.C.', 'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS',
       'CALI', 'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CHIA',
       'CHIQUINQUIRA', 'CUCUTA', 'ENVIGADO', 'ESPINAL', 'FACATATIVA',
       'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA',
       'MADRID', 'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'MOSQUERA',
       'NEIVA', 'NILO', 'OCAÑA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PEREIRA',
       'POPAYAN', 'QUIBDO', 'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA',
       'SAN ANDRES', 'SAN GIL', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÉ DE ANTIOQUIA', 'SEVILLA', 'SINCELEJO',
       'SOCORRO', 'SOGAMOSO', 'TULUA', 'TUNJA', 'TURBO', 'UBATE', 'VALLEDUPAR',
       'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
ANDES                       6
ARAUCA                      8
ARMENIA                   550
BARRANCABERMEJA            11
BARRANQUILLA              502
BELLO                     551
BOGOTÁ D.C.             11313
BUCARAMANGA               459
BUENAVENTURA              562
BUGA                      397
CALDAS                     17
CALI                    33230
CARMEN DE VIBORAL           1
CARTAGENA                 153
CARTAGO                   128
CAUCASIA                   22
CHIA                      362
CHIQUINQUIRA                8
CUCUTA                    119
ENVIGADO                   22
ESPINAL                    39
FACATATIVA                  9
FLORENCIA                  49
FUSAGASUGA                129
GIRARDOT                   19
HONDA                      10
IBAGUE                    182
LETICIA                     1
MADRID                     15
MANIZALES                 682
                        ...
NEIVA                      91
NILO                        1
OCAÑA                       2
PALMIRA                   763
PAMPLONA                   60
PASTO                    7385
PEREIRA                   925
POPAYAN                  1286
QUIBDO                      7
RIOHACHA                   48
RIONEGRO                    6
ROLDANILLO                199
SABANETA                   12
SAN ANDRES                  1
SAN GIL                    56
SANTA MARTA                63
SANTA ROSA DE CABAL        33
SANTA ROSA DE OSOS         93
SANTAFÉ DE ANTIOQUIA        9
SEVILLA                     6
SINCELEJO                  11
SOCORRO                     2
SOGAMOSO                   26
TULUA                     999
TUNJA                     132
TURBO                       1
UBATE                      14
VALLEDUPAR                 52
VILLAVICENCIO             187
YOPAL                      41
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 4632
__________________
Elementos diferentes de null/NaN: 65062
__________________
(65062,)
None

In [121]:
Do_resamples(data_2009, c, str)

cant null antes: 4632
cant null despues: 0

In [122]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           3660
ARAUCA                 8
ATLÁNTICO            502
BOGOTÁ             11313
BOLÍVAR              153
BOYACÁ               166
CALDAS               682
CAQUETÁ               49
CASANARE              41
CAUCA               1286
CESAR                 52
CHOCÓ                  7
CUNDINAMARCA         578
CÓRDOBA               40
HUILA                 91
LA GUAJIRA            48
MAGDALENA             63
META                 187
NARIÑO              7385
NORTE SANTANDER      181
PUTUMAYO               6
QUINDÍO              550
RISARALDA            958
SAN ANDRÉS             1
SANTANDER            528
SUCRE                 11
TOLIMA               231
VALLE              36284
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 4632
__________________
Elementos diferentes de null/NaN: 65062
__________________
(65062,)
None

In [123]:
Do_resamples(data_2009, c, str)

cant null antes: 4632
cant null despues: 0

In [124]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1     1645
2    15499
3    29545
4     7019
5     5208
6     2471
7     2047
8     1642
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 4618
__________________
Elementos diferentes de null/NaN: 65076
__________________
(65076,)
None

In [125]:
Do_resamples(data_2009, c, float)

cant null antes: 4618
cant null despues: 0

In [126]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([  621.0,   643.0,  1820.0,  1869.0,  1870.0,  1882.0,  3647.0,
               4752.0,  4999.0,  6136.0,
              ...
              18129.0, 18548.0, 19902.0, 19918.0, 20143.0, 20146.0, 21612.0,
              21889.0, 22468.0, 22567.0],
             dtype='float64', length=122)
621       1
643       1
1820      1
1869      1
1870      1
1882      1
3647      1
4752      1
4999      1
6136      1
7343      2
7355      1
7387      1
8046      1
8145      3
8411      1
8651      1
8755      1
8803      1
9076      1
9390      3
9579     10
9718      1
9845      1
10082     3
10083     3
10132     3
10392     2
10742     4
10755     1
         ..
15312     2
15468     1
15570     1
15601     1
15650     1
15819     2
15955     2
15956     1
16058     3
16153     1
16242     1
16248     1
16307     1
16359     1
16552     1
16627     1
17527     1
17699     1
18004     1
18038     1
18129     1
18548     1
19902     1
19918     1
20143     7
20146     3
21612     1
21889     1
22468     1
22567     1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 69513
__________________
Elementos diferentes de null/NaN: 181
__________________
(181,)
None

In [127]:
Do_resamples(data_2009, c, float)

cant null antes: 69513
cant null despues: 9
cant null antes: 9
cant null despues: 0

In [128]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 6.0, 7.0], dtype='float64')
1    13367
2    28891
3     9641
4     7537
6      536
7     5104
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 4618
__________________
Elementos diferentes de null/NaN: 65076
__________________
(65076,)
None

In [129]:
Do_resamples(data_2009, c, float)

cant null antes: 4618
cant null despues: 0

In [130]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['AGUACHICA', 'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ANDALUCIA',
       'ANSERMANUEVO', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARBACOAS',
       ...
       'TUMACO', 'TUNJA', 'TUQUERRES', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=113)
AGUACHICA                    33
ALBAN (SAN JOSE)            148
ALBANIA                      42
ALCALA                       92
ANDALUCIA                   189
ANSERMANUEVO                145
APARTADO                     49
ARAUCA                       61
ARMENIA                     175
BARBACOAS                   231
BARRANCABERMEJA              44
BARRANQUILLA                694
BELLO                       230
BOGOTÁ D.C.                6217
BOLIVAR                      88
BUCARAMANGA                 526
BUENAVENTURA               2258
BUESACO                     191
BUGA                       1407
BUGALAGRANDE                248
CAICEDONIA                  277
CALI                      21684
CALIMA (DARIEN)             199
CANDELARIA                  648
CARTAGENA                   290
CARTAGO                    1548
CAUCASIA                    156
CHAPARRAL                    80
CHIA                        409
CONSACA                      95
                          ...
RIONEGRO                     20
ROLDANILLO                  553
SAMANIEGO                   330
SAN PABLO                   229
SANDONA                     298
SANTA MARTA                  62
SANTA ROSA DE OSOS          281
SANTANDER DE QUILICHAO      117
SEVILLA                     412
SILVIA                        8
SINCELEJO                     9
SOACHA                      175
SOCORRO                       3
SOGAMOSO                    134
TAME                         29
TAMINANGO                   243
TANGUA                       67
TORO                        120
TRUJILLO                    198
TULUA                      2699
TUMACO                       13
TUNJA                       121
TUQUERRES                   559
VALLEDUPAR                   85
VELEZ                         9
VILLAVICENCIO               255
YOPAL                       174
YUMBO                      1120
ZARZAL                      517
ZIPAQUIRA                   155
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [131]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE', 'VICHADA'],
      dtype='object')
ANTIOQUIA           3119
ARAUCA                90
ATLÁNTICO            694
BOGOTÁ              6217
BOLÍVAR              291
BOYACÁ               255
CALDAS               408
CAQUETÁ               64
CASANARE             196
CAUCA               1042
CESAR                118
CHOCÓ                  1
CUNDINAMARCA        1045
CÓRDOBA               58
HUILA                276
LA GUAJIRA           110
MAGDALENA             62
META                 271
NARIÑO             12323
NORTE SANTANDER      176
PUTUMAYO              88
QUINDÍO              175
RISARALDA            261
SANTANDER            582
SUCRE                  9
TOLIMA               322
VALLE              41435
VICHADA                6
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

## TARGETS

In [132]:
c = 'PUNT_LENGUAJE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '11,97', '11,98', '20,26', '20,35', '25,49', '25,65', '29,46',
       '29,66', '32,73', '32,96', '35,58', '35,83', '38,15', '38,41', '40,52',
       '40,79', '42,75', '43,03', '44,9', '45,18', '47', '47,28', '49,07',
       '49,34', '51,14', '51,41', '53,24', '53,5', '55,4', '55,65', '57,65',
       '57,88', '60,02', '60,24', '62,59', '62,78', '65,43', '65,59', '68,67',
       '68,8', '72,56', '72,67', '77,66', '77,73', '85,72', '85,76', '98,78'],
      dtype='object')
0           8
11,97       8
11,98      16
20,26      50
20,35      35
25,49     149
25,65     129
29,46     316
29,66     308
32,73     687
32,96     741
35,58    1180
35,83    1192
38,15    1806
38,41    1761
40,52    2395
40,79    2462
42,75    2833
43,03    3088
44,9     3379
45,18    3471
47       3555
47,28    3687
49,07    3754
49,34    3724
51,14    3464
51,41    3539
53,24    3123
53,5     3057
55,4     2601
55,65    2440
57,65    1962
57,88    1933
60,02    1457
60,24    1336
62,59     944
62,78     944
65,43     621
65,59     549
68,67     323
68,8      284
72,56     135
72,67     129
77,66      44
77,73      55
85,72      13
85,76       6
98,78       1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [133]:
clean_target(data_2009, c)

In [134]:
c = 'PUNT_MATEMATICAS'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '110,73', '111,15', '111,37', '18,64', '19,03', '19,12', '24,84',
       '25,18', '25,28', '29,55', '29,84', '29,94', '33,44', '33,69', '33,8',
       '36,84', '37,04', '37,17', '39,9', '40,08', '40,21', '42,74', '42,89',
       '43,03', '45,43', '45,56', '45,71', '48,03', '48,13', '48,29', '50,56',
       '50,65', '50,83', '53,09', '53,16', '53,35', '55,63', '55,7', '55,9',
       '58,22', '58,3', '58,5', '60,92', '61', '61,22', '63,76', '63,86',
       '64,09', '66,83', '66,96', '67,19', '70,23', '70,38', '70,62', '74,12',
       '74,32', '74,56', '78,81', '79,06', '79,3', '8,77', '84,99', '85,29',
       '85,53', '9,23', '9,31', '94,79', '94,8', '95,17', '95,4'],
      dtype='object')
0           25
110,73      36
111,15      14
111,37      14
18,64      314
19,03      156
19,12      149
24,84      809
25,18      438
25,28      469
29,55     1795
29,84      896
29,94      921
33,44     2823
33,69     1441
33,8      1459
36,84     3830
37,04     1887
37,17     1848
39,9      4109
40,08     2101
40,21     2108
42,74     3970
42,89     2037
43,03     1994
45,43     3570
45,56     1786
45,71     1729
48,03     2906
48,13     1390
          ...
58,3       563
58,5       617
60,92      972
61         449
61,22      483
63,76      839
63,86      372
64,09      403
66,83      671
66,96      348
67,19      315
70,23      532
70,38      283
70,62      273
74,12      440
74,32      215
74,56      210
78,81      324
79,06      151
79,3       178
8,77        70
84,99      198
85,29       96
85,53       89
9,23        37
9,31        39
94,79       47
94,8        52
95,17       29
95,4        40
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [135]:
clean_target(data_2009, c)

In [136]:
c = 'PUNT_C_SOCIALES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '13,5', '13,56', '19,3', '19,33', '23,66', '23,67', '27,22',
       '27,23', '30,28', '30,3', '33,02', '33,03', '35,51', '35,53', '37,83',
       '37,85', '4,15', '4,26', '40,03', '40,04', '42,12', '42,13', '44,14',
       '46,11', '48,04', '48,05', '49,96', '51,87', '51,88', '53,79', '53,8',
       '55,75', '57,75', '59,82', '61,97', '64,26', '66,7', '66,71', '69,38',
       '69,39', '72,38', '72,4', '75,87', '75,89', '80,16'],
      dtype='object')
0           2
13,5       11
13,56      17
19,3       44
19,33      64
23,66     121
23,67     208
27,22     430
27,23     310
30,28     890
30,3      587
33,02    1387
33,03    1094
35,51    2118
35,53    1616
37,83    2865
37,85    2135
4,15        2
4,26        4
40,03    3451
40,04    2746
42,12    3672
42,13    3198
44,14    7226
46,11    7344
48,04    3109
48,05    3528
49,96    5751
51,87    2411
51,88    2522
53,79    1879
53,8     1810
55,75    2712
57,75    1872
59,82    1206
61,97     713
64,26     379
66,7       67
66,71     107
69,38      23
69,39      36
72,38      11
72,4       10
75,87       2
75,89       3
80,16       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [137]:
clean_target(data_2009, c)

In [138]:
c = 'PUNT_FILOSOFIA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '13,25', '13,62', '17,21', '22,38', '22,73', '26,41', '28,11',
       '28,44', '32,22', '32,47', '32,78', '36,08', '36,39', '36,66', '39,25',
       '39,54', '40,37', '42,11', '42,4', '43,64', '44,77', '45,07', '46,63',
       '47,29', '47,61', '49,44', '49,72', '50,07', '52,09', '52,13', '52,48',
       '54,45', '54,78', '54,89', '56,81', '57,33', '57,41', '59,21', '59,84',
       '60,08', '61,69', '62,46', '62,84', '64,28', '65,24', '65,73', '67,02',
       '68,25', '68,84', '70,01', '71,6', '72,28', '73,32', '75,46', '76,19',
       '80,13', '80,88'],
      dtype='object')
0          36
13,25      59
13,62      17
17,21     112
22,38     285
22,73     104
26,41     440
28,11     833
28,44     271
32,22    1031
32,47    1794
32,78     628
36,08    3012
36,39    1043
36,66    1984
39,25    4363
39,54    1406
40,37    2835
42,11    5049
42,4     1808
43,64    3308
44,77    5475
45,07    1839
46,63    3286
47,29    5101
47,61    1523
49,44    2775
49,72    4031
50,07    1268
52,09    2988
52,13    2071
52,48     852
54,45    1888
54,78    1218
54,89     592
56,81    1130
57,33     355
57,41     683
59,21     646
59,84     219
60,08     371
61,69     279
62,46     108
62,84     169
64,28     135
65,24      49
65,73      66
67,02      68
68,25      14
68,84      21
70,01      21
71,6        5
72,28      13
73,32       8
75,46       3
76,19       3
80,13       1
80,88       2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [139]:
clean_target(data_2009, c)

In [140]:
c = 'PUNT_BIOLOGIA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '14,89', '14,99', '22,6', '22,76', '27,45', '27,68', '31,17',
       '31,45', '34,26', '34,61', '36,99', '37,4', '39,47', '39,93', '41,79',
       '42,3', '44', '44,56', '46,13', '46,74', '48,23', '48,87', '50,31',
       '50,99', '52,41', '53,11', '54,55', '55,27', '56,75', '57,49', '59,08',
       '59,82', '61,56', '62,31', '64,3', '65,04', '67,41', '68,14', '71,14',
       '71,85', '76,02', '76,71', '83,75', '84,42', '96,34', '96,99'],
      dtype='object')
0          21
14,89      41
14,99      74
22,6      228
22,76     260
27,45     587
27,68     673
31,17    1239
31,45    1380
34,26    2229
34,61    2360
36,99    2986
37,4     3118
39,47    3532
39,93    3771
41,79    4011
42,3     4098
44       3895
44,56    3793
46,13    3541
46,74    3471
48,23    3106
48,87    2957
50,31    2474
50,99    2445
52,41    1972
53,11    1929
54,55    1610
55,27    1414
56,75    1211
57,49    1056
59,08     888
59,82     785
61,56     589
62,31     557
64,3      350
65,04     362
67,41     167
68,14     213
71,14      94
71,85     101
76,02      35
76,71      40
83,75      10
84,42      17
96,34       3
96,99       1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [141]:
clean_target(data_2009, c)

In [142]:
c = 'PUNT_QUIMICA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '18,39', '18,56', '25,21', '25,4', '29,46', '29,66', '32,65',
       '32,87', '35,28', '35,51', '37,57', '37,8', '39,62', '39,86', '41,52',
       '41,77', '43,3', '43,56', '45,02', '45,27', '46,68', '46,94', '48,33',
       '48,59', '49,97', '50,23', '51,64', '51,89', '53,36', '53,59', '55,14',
       '55,37', '57,04', '57,25', '59,09', '59,28', '61,37', '61,54', '64',
       '64,14', '67,2', '67,3', '71,44', '71,51', '78,26', '78,28', '89,49',
       '89,5'],
      dtype='object')
0          96
18,39      44
18,56      66
25,21     155
25,4      252
29,46     449
29,66     641
32,65    1118
32,87    1327
35,28    2028
35,51    2226
37,57    2994
37,8     3069
39,62    3726
39,86    3782
41,52    4084
41,77    4161
43,3     4000
43,56    3823
45,02    3570
45,27    3297
46,68    3001
46,94    2871
48,33    2382
48,59    2310
49,97    1899
50,23    1759
51,64    1391
51,89    1376
53,36    1104
53,59    1093
55,14     822
55,37     829
57,04     667
57,25     604
59,09     490
59,28     470
61,37     358
61,54     358
64        229
64,14     245
67,2      145
67,3      151
71,44      75
71,51      75
78,26      26
78,28      31
89,49      13
89,5       12
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [143]:
clean_target(data_2009, c)

In [144]:
c = 'PUNT_FISICA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '102,75', '14,43', '15,26', '24,18', '25,03', '30,26', '31,11',
       '34,84', '35,7', '38,62', '39,49', '41,91', '42,78', '44,88', '45,75',
       '47,62', '48,49', '50,22', '51,08', '52,72', '53,57', '55,16', '56',
       '57,57', '58,4', '60', '60,81', '62,46', '63,27', '65', '65,79',
       '67,66', '68,44', '70,49', '71,25', '73,56', '74,31', '76,99', '77,71',
       '80,93', '81,64', '85,72', '86,41', '92,05', '92,71'],
      dtype='object')
0          325
102,75       1
14,43      178
15,26      223
24,18      662
25,03      900
30,26     1806
31,11     2252
34,84     3379
35,7      4353
38,62     5101
39,49     5613
41,91     6107
42,78     6359
44,88     5702
45,75     5264
47,62     4362
48,49     3857
50,22     3143
51,08     2489
52,72     1811
53,57     1464
55,16     1060
56         829
57,57      590
58,4       444
60         334
60,81      239
62,46      212
63,27      135
65         115
65,79       99
67,66       79
68,44       58
70,49       39
71,25       32
73,56       20
74,31       11
76,99       14
77,71        9
80,93        7
81,64        8
85,72        2
86,41        4
92,05        2
92,71        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [145]:
clean_target(data_2009, c)

In [146]:
c = 'PUNT_INGLES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '10,66', '100', '13,98', '17,17', '20,24', '23,16', '25,94',
       '28,58', '3,67', '31,05', '33,35', '35,47', '37,38', '39,07', '40,5',
       '41,6', '42,2', '43,48', '44,34', '45,2', '46,06', '46,92', '47,79',
       '48,65', '49,51', '50,37', '51,23', '52,09', '53,32', '54,64', '55,95',
       '57,27', '58,59', '59,9', '61,22', '62,69', '66,91', '7,22', '71,12',
       '75,34', '79,55', '83,41', '87,56', '91,71', '95,85'],
      dtype='object')
0           7
10,66       9
100         8
13,98      17
17,17      45
20,24     160
23,16     375
25,94     885
28,58    1542
3,67        1
31,05    2527
33,35    3595
35,47    4562
37,38    5423
39,07    5805
40,5     5756
41,6     5279
42,2     4660
43,48    4039
44,34    3213
45,2     2670
46,06    2215
46,92    1820
47,79    1495
48,65    1197
49,51    1043
50,37     872
51,23     767
52,09     655
53,32     560
54,64     540
55,95     501
57,27     505
58,59     449
59,9      442
61,22     484
62,69     526
66,91     531
7,22        4
71,12     641
75,34     721
79,55     778
83,41     835
87,56     795
91,71     542
95,85     198
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [147]:
clean_target(data_2009, c)

In [148]:
c = 'DESEMP_INGLES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['A- ', 'A1 ', 'A2 ', 'B+ ', 'B1', 'B1 '], dtype='object')
A-     40652
A1     19986
A2      3481
B+      2378
B1         1
B1      3196
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [149]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             21333
PROFUNDIZACIÓN EN CIENCIAS SOCIALES    13177
PROFUNDIZACIÓN EN LENGUAJE             22118
PROFUNDIZACIÓN EN MATEMÁTICA           13066
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [150]:
c = 'PUNT_PROFUNDIZACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '10', '2,51', '3,11', '3,37', '3,38', '3,4', '3,92', '3,94',
       '4,17', '4,36', '4,38', '4,46', '4,68', '4,73', '4,75', '4,88', '5,07',
       '5,08', '5,09', '5,23', '5,39', '5,41', '5,43', '5,56', '5,7', '5,72',
       '5,75', '5,86', '6,03', '6,04', '6,16', '6,33', '6,37', '6,38', '6,46',
       '6,62', '6,74', '6,75', '6,77', '6,92', '7,11', '7,18', '7,19', '7,25',
       '7,5', '7,63', '7,74', '8', '8,1', '8,61', '8,77', '8,83'],
      dtype='object')
0        379
10         9
2,51     695
3,11     511
3,37     713
3,38    1350
3,4      474
3,92    2901
3,94    2520
4,17    1608
4,36    1917
4,38    3612
4,46    2280
4,68    3136
4,73    2085
4,75    3931
4,88    2472
5,07    1887
5,08    4350
5,09    3425
5,23    2141
5,39    1515
5,41    2562
5,43    4336
5,56    1596
5,7     1124
5,72    1773
5,75    3256
5,86    1028
6,03     898
6,04    3166
6,16     628
6,33    1088
6,37     579
6,38     664
6,46     348
6,62     478
6,74     412
6,75     378
6,77     204
6,92     245
7,11     124
7,18     215
7,19     154
7,25     105
7,5       77
7,63      53
7,74     149
8         44
8,1       27
8,61      46
8,77      14
8,83      12
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [151]:
clean_target(data_2009, c)

In [152]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     28531
I      32993
II      7356
III      814
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [153]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          37185
VIOLENCIA Y SOCIEDAD    32509
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [154]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '20,95', '28,17', '32,86', '36,54', '39,69', '42,55', '45,24',
       '45,43', '47,62', '47,87', '49,05', '50,17', '50,53', '51,14', '52,02',
       '52,86', '53,32', '53,67', '54,5', '55,37', '56,32', '56,36', '57,42',
       '58,82', '59,9', '60,97', '64,4', '64,41', '71,4', '82,63'],
      dtype='object')
0         305
20,95     401
28,17    1210
32,86    2436
36,54    3510
39,69    4207
42,55    4135
45,24    3845
45,43     679
47,62    2017
47,87    3289
49,05    3750
50,17    5401
50,53    2842
51,14    5926
52,02    5854
52,86    4893
53,32    2401
53,67    3605
54,5     2329
55,37    1376
56,32     717
56,36    1899
57,42     290
58,82     112
59,9     1286
60,97      40
64,4        4
64,41     687
71,4      218
82,63      30
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

In [155]:
clean_target(data_2009, c)

In [156]:
c = 'ESTU_PUESTO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       107
2       103
3       116
4        84
5        90
6        82
7        84
8        76
9        91
10       83
11       82
12       82
13       82
14       76
15       72
16       75
17       69
18       79
19       78
20       67
21       66
22       73
23       75
24       72
25       69
26       64
27       70
28       65
29       73
30       71
       ...
971      86
972      79
973      86
974      94
975      93
976      86
977      85
978      88
979      86
980      86
981      91
982      97
983      89
984      85
985      94
986      86
987      86
988      87
989      92
990      81
991      89
992      79
993      76
994      94
995      97
996      88
997      83
998      70
999      17
1000      6
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69694
__________________
(69694,)
None

___

___

___

# FILE 2: 2009_2

In [2]:
data_2009_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20092-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2009_2.shape

(518220, 121)

In [4]:
data_2009_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120092000001,SABER1120092000002,SABER1120092000003
PERIODO,20092,20092,20092
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,4,25,16
ESTU_NACIMIENTO_MES,9,3,12
ESTU_NACIMIENTO_ANNO,1991,1992,1992
ESTU_EDAD,17,17,16
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,5736,11001,54001
ESTU_RESIDE_MCPIO,SEGOVIA,BOGOTÁ D.C.,CUCUTA
ESTU_RESIDE_DEPTO,ANTIOQUIA,BOGOTÁ,NORTE SANTANDER
ESTU_ZONA_RESIDE,10,8,10
ESTU_AREA_RESIDE,2,1,1
FAMI_EDUCA_PADRE,10,12,99
FAMI_EDUCA_MADRE,10,12,99
FAMI_OCUPA_PADRE,21,20,26
FAMI_OCUPA_MADRE,22,19,26
FAMI_ESTRATO_VIVIENDA,2,2,3
FAMI_NIVEL_SISBEN,1,1,5
FAMI_PERSONAS_HOGAR,6,4,4
FAMI_CUARTOS_HOGAR,3,4,5
...,...,...,...
ESTU_POR_AMIGOSESTUDIANDO,0,1,1
ESTU_POR_COSTOMATRICULA,-,-,-
ESTU_POR_OPORTUNIDADES,-,-,-
ESTU_POR_OTRARAZON,0,1,0
ESTU_PRESTIGIOINSTITUCION,0,1,1
ESTU_POR_UBICACION,0,1,1
ESTU_POR_UNICAQUEOFRECE,0,1,0
ESTU_RETIRARSE_COLEGIO,-,-,-
ESTU_PROGRAMA_ACADEMICODESEADO,-,-,-
ESTU_VECES_ESTADO,0,0,1
ESTU_CARRDESEADA_RAZON,NaN,NaN,NaN
ESTU_MCPIO_PRESENTACION,REMEDIOS,BOGOTÁ D.C.,CUCUTA
ESTU_COD_MCPIO_PRESENTACION,5604,11001,54001
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,BOGOTÁ,NORTE SANTANDER
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES)
PUNT_LENGUAJE,"41,63","43,99","43,85"
PUNT_MATEMATICAS,"34,91","49,14","51,6"
PUNT_C_SOCIALES,"53,33","55,22","41,83"
PUNT_FILOSOFIA,"44,51","51,28","49,02"
PUNT_BIOLOGIA,"37,73","48,79","50,78"
PUNT_QUIMICA,"50,85","50,85","50,85"
PUNT_FISICA,"42,59","45,57","50,94"
PUNT_INGLES,"42,76","58,06","49,63"
DESEMP_INGLES,A-,A2,A1
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,PROFUNDIZACIÓN EN MATEMÁTICA
PUNT_PROFUNDIZACION,"4,9","6,8","4,1"
DESEMP_PROFUNDIZACION,I,II,GB
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,MEDIO AMBIENTE
PUNT_INTERDISCIPLINAR,"56,55","67,71","55,56"
ESTU_PUESTO,648,173,238

In [5]:
data_2009_2 = data_2009_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'COLE_NOMBRE_SEDE', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA',
                               'ESTU_COD_MCPIO_PRESENTACION'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AR', 'AT', 'AU', 'BO', 'BR', 'CL', 'CN', 'CO', 'CU', 'DE', 'EC', 'ES',
       'FR', 'IT', 'JP', 'KP', 'KR', 'LT', 'MX', 'NL', 'PA', 'PE', 'PY', 'RU',
       'US', 'VE'],
      dtype='object')
AR         7
AT         1
AU         1
BO         3
BR         5
CL         4
CN         2
CO    517946
CU         4
DE         2
EC         9
ES         3
FR         1
IT         2
JP         2
KP         1
KR         2
LT         1
MX         5
NL         1
PA         3
PE         9
PY         1
RU         1
US        11
VE        35
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 158
__________________
Elementos diferentes de null/NaN: 518062
__________________
(518062,)
None

In [7]:
Do_resamples(data_2009_2, c, str)

cant null antes: 158
cant null despues: 0

In [8]:
c = 'ESTU_GENERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['F', 'M'], dtype='object')
F    279064
M    235694
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 3462
__________________
Elementos diferentes de null/NaN: 514758
__________________
(514758,)
None

In [9]:
Do_resamples(data_2009_2, c, str)

cant null antes: 3462
cant null despues: 0

In [10]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     17259
2     17104
3     16957
4     17158
5     17068
6     16681
7     17091
8     16965
9     16619
10    17537
11    16927
12    16987
13    16899
14    16751
15    17196
16    17245
17    16712
18    17012
19    16652
20    17460
21    16662
22    17065
23    16777
24    16834
25    16830
26    16777
27    16800
28    16843
29    15461
30    15065
31     9299
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 3527
__________________
Elementos diferentes de null/NaN: 514693
__________________
(514693,)
None

In [11]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     41657
2     37759
3     42179
4     40433
5     42402
6     40507
7     43106
8     43779
9     45883
10    44816
11    43004
12    49168
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 3527
__________________
Elementos diferentes de null/NaN: 514693
__________________
(514693,)
None

In [12]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([  90.0, 1930.0, 1931.0, 1933.0, 1934.0, 1935.0, 1936.0, 1937.0,
              1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0,
              1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0,
              1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0,
              1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0,
              1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0,
              1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0,
              1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0,
              1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
              2002.0, 2003.0, 2004.0, 2015.0, 2093.0],
             dtype='float64')
90           1
1930         7
1931         3
1933         5
1934         4
1935         1
1936         1
1937         4
1938         3
1939         3
1940         4
1941         2
1942         9
1943         6
1944         9
1945        16
1946        16
1947        25
1948        29
1949        30
1950        52
1951        60
1952        64
1953        94
1954        99
1955       115
1956       125
1957       152
1958       197
1959       210
         ...
1977      1317
1978      1415
1979      1713
1980      1863
1981      2034
1982      2456
1983      2581
1984      2877
1985      3531
1986      4463
1987      6116
1988      9469
1989     18839
1990     42068
1991     92509
1992    180818
1993    114712
1994     12117
1995       901
1996        34
1997         8
1998        14
1999         9
2000       146
2001        49
2002        18
2003        25
2004        18
2015         1
2093         1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 3527
__________________
Elementos diferentes de null/NaN: 514693
__________________
(514693,)
None

In [13]:
for i in data_2009_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2009_2[c] = data_2009_2[c].replace(i, np.nan)
    elif i > 1996:
        data_2009_2[c] = data_2009_2[c].replace(i, np.nan)

In [14]:
anno = data_2009_2[data_2009_2[c].isnull()].index
data_2009_2 = data_2009_2.drop(anno)

In [15]:
c = 'ESTU_EDAD'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0,
              35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0,
              46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0,
              57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0,
              68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 78.0,
              79.0],
             dtype='float64')
13       168
14      2673
15     35574
16    181489
17    136145
18     66550
19     29855
20     13949
21      7688
22      5356
23      4053
24      3337
25      2648
26      2557
27      2289
28      1929
29      1855
30      1560
31      1353
32      1276
33      1140
34      1131
35      1010
36       902
37       860
38       772
39       750
40       663
41       578
42       510
       ...
49       258
50       198
51       192
52       137
53       127
54       111
55        85
56        81
57        61
58        68
59        35
60        28
61        27
62        21
63        17
64        14
65         9
66         6
67         7
68         3
69         4
70         5
71         3
72         3
73         1
74         3
75         3
76         4
78         5
79         6
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 514403
__________________
(514403,)
None

In [16]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 514403
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [17]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [18]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 514403
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [19]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [20]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 514403
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [21]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [22]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 514403
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [23]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [24]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 514403
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [25]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [26]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 514403
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [27]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [28]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 514403
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [29]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [30]:
c = 'ESTU_ETNIA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     13238
2       753
3      1402
4       163
5       111
6       686
7       176
8       608
9      1144
10     2254
11      507
12      225
13      172
14       63
15       93
16      102
17       24
99     6369
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 486313
__________________
Elementos diferentes de null/NaN: 28090
__________________
(28090,)
None

In [31]:
data_2009_2[c].fillna(99, inplace=True)

In [32]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1026)
ABEJORRAL                    188
ABREGO                       182
ABRIAQUI                      24
ACACIAS                     1094
ACANDI                        72
ACEVEDO                      163
ACHI                         206
AGRADO                       106
AGUA DE DIOS                 144
AGUACHICA                   1067
AGUADA                        20
AGUADAS                      231
AGUAZUL                      499
AGUSTIN CODAZZI              557
AIPE                         211
ALBAN                         91
ALBAN (SAN JOSE)              23
ALBANIA                      336
ALCALA                        11
ALDANA                        27
ALEJANDRIA                    34
ALGARROBO                    153
ALGECIRAS                    286
ALMAGUER                     106
ALMEIDA                       25
ALPUJARRA                     54
ALTAMIRA                      56
ALTO BAUDO (PIE DE PATO)      35
ALTOS DEL ROSARIO             57
ALVARADO                     106
                            ...
VILLANUEVA                   974
VILLAPINZON                  286
VILLARRICA                    83
VILLAVICENCIO               6057
VILLAVIEJA                    83
VILLETA                      406
VIOTA                        159
VIRACACHA                     41
VISTA HERMOSA                 98
VITERBO                      223
YACOPI                       104
YACUANQUER                    30
YAGUARA                      139
YALI                          42
YARUMAL                      550
YAVARATE                      23
YOLOMBO                      234
YONDO (CASABE)               107
YOPAL                       2016
YOTOCO                        12
YUMBO                        382
ZAMBRANO                     131
ZAPATOCA                     133
ZAPAYAN                       57
ZARAGOZA                     211
ZARZAL                        54
ZETAQUIRA                     72
ZIPACON                       74
ZIPAQUIRA                   1583
ZONA BANANERA                600
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 514403
__________________
(514403,)
None

In [33]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              776
ANTIOQUIA           71812
ARAUCA               3077
ATLÁNTICO           27879
BOGOTÁ             101404
BOLÍVAR             24855
BOYACÁ              19345
CALDAS              12765
CAQUETÁ              4295
CASANARE             4764
CAUCA               12379
CESAR               11977
CHOCÓ                4240
CUNDINAMARCA        33769
CÓRDOBA             17409
GUAINÍA               165
GUAVIARE              793
HUILA               15449
LA GUAJIRA           7063
MAGDALENA           13835
META                10734
NARIÑO               7715
NORTE SANTANDER     16550
PUTUMAYO             3198
QUINDÍO              7412
RISARALDA           11553
SAN ANDRÉS            812
SANTANDER           28099
SUCRE               10540
TOLIMA              17668
VALLE               11380
VAUPÉS                262
VICHADA               429
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 514403
__________________
(514403,)
None

In [34]:
c = 'ESTU_ZONA_RESIDE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      21836
2       3658
3      13877
4      47609
5      19032
6      10194
7      11443
8      26955
9      21278
10    337623
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 898
__________________
Elementos diferentes de null/NaN: 513505
__________________
(513505,)
None

In [35]:
Do_resamples(data_2009_2, c, float)

cant null antes: 898
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [36]:
c = 'ESTU_AREA_RESIDE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    407355
2    106968
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 80
__________________
Elementos diferentes de null/NaN: 514323
__________________
(514323,)
None

In [37]:
Do_resamples(data_2009_2, c, float)

cant null antes: 80
cant null despues: 0

In [38]:
c = 'FAMI_EDUCA_PADRE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      20862
1         61
2        280
3        170
4        152
5        245
6         26
7         55
8         14
9     100949
10     94131
11     74300
12    107509
13      5809
14     19714
15      8078
16     43869
17     10471
99     27125
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 583
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [39]:
Do_resamples(data_2009_2, c, float)

cant null antes: 583
cant null despues: 0

In [40]:
c = 'FAMI_EDUCA_MADRE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      12207
1         35
2        276
3        186
4        175
5        278
6         24
7         70
8         15
9      89667
10     95539
11     89785
12    119746
13      7799
14     24632
15      8780
16     42051
17     10191
99     12364
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 583
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [41]:
Do_resamples(data_2009_2, c, float)

cant null antes: 583
cant null despues: 0

In [42]:
c = 'FAMI_OCUPA_PADRE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1         15
2         31
3          8
4          6
5         79
6         10
7        191
8         27
9        433
10        35
11       116
12       219
13      9626
14     38968
15     11007
16     15344
17     26905
18     19775
19     88775
20     25264
21    166367
22      8317
23     17323
26     84979
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 583
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [43]:
idx = data_2009_2[data_2009_2[c].isnull()].index
data_2009_2= data_2009_2.drop(idx)

In [44]:
c = 'FAMI_OCUPA_MADRE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1         15
2         22
3          4
4         12
5         61
6         35
7         57
8         18
9        143
10       653
11        48
12       102
13      4640
14     14962
15      6407
16     14139
17     20974
18     17494
19     46715
20     13751
21     54492
22    274871
23      6482
26     37723
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [45]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    176616
2    195227
3    105124
4     22096
5      7244
6      3774
8      2944
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 795
__________________
Elementos diferentes de null/NaN: 513025
__________________
(513025,)
None

In [46]:
data_2009_2[c] = data_2009_2[c].replace(8.0, np.nan)

In [47]:
Do_resamples(data_2009_2, c, float)

cant null antes: 3739
cant null despues: 0

In [48]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    198715
2    128682
3     24923
4      5619
5    155881
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [49]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       3649
2      22987
3      74704
4     140660
5     124704
6      69075
7      34359
8      19130
9       9318
10      6549
11      2983
12      5702
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [50]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1       7139
2      45625
3     104940
4     124985
5      95821
6      47738
7      19963
8      10068
9       4370
10      5400
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 47771
__________________
Elementos diferentes de null/NaN: 466049
__________________
(466049,)
None

In [51]:
Do_resamples(data_2009_2, c, float)

cant null antes: 47771
cant null despues: 0

In [52]:
c = 'FAMI_PISOSHOGAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     23200
2    227543
3     25804
4    236150
5      1123
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [53]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    234985
1    278833
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 513818
__________________
(513818,)
None

In [54]:
Do_resamples(data_2009_2, c, float)

cant null antes: 2
cant null despues: 0

In [55]:
c = 'FAMI_CELULAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     72582
1    440947
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 291
__________________
Elementos diferentes de null/NaN: 513529
__________________
(513529,)
None

In [56]:
Do_resamples(data_2009_2, c, float)

cant null antes: 291
cant null despues: 0

In [57]:
c = 'FAMI_INTERNET'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    362694
1    151126
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [58]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    216110
1    297710
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [59]:
c = 'FAMI_COMPUTADOR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    289334
1       765
3    223721
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [60]:
c = 'FAMI_LAVADORA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    222965
1    290853
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 513818
__________________
(513818,)
None

In [61]:
Do_resamples(data_2009_2, c, float)

cant null antes: 2
cant null despues: 0

In [62]:
c = 'FAMI_NEVERA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     66353
1    447463
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 4
__________________
Elementos diferentes de null/NaN: 513816
__________________
(513816,)
None

In [63]:
Do_resamples(data_2009_2, c, float)

cant null antes: 4
cant null despues: 0

In [64]:
c = 'FAMI_HORNO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    296145
1    217673
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 513818
__________________
(513818,)
None

In [65]:
Do_resamples(data_2009_2, c, float)

cant null antes: 2
cant null despues: 0

In [66]:
c = 'FAMI_DVD'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    192125
1    321695
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [67]:
c = 'FAMI_MICROONDAS'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    388046
1    125772
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 513818
__________________
(513818,)
None

In [68]:
Do_resamples(data_2009_2, c, float)

cant null antes: 2
cant null despues: 0

In [69]:
c = 'FAMI_AUTOMOVIL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    420044
1     93776
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [70]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    148710
2    221682
3     80569
4     38592
5     12286
6      5910
7      6071
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [71]:
c = 'ESTU_TRABAJA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    417104
1       438
2       156
3      5478
4      1721
5      2420
6     28394
7     20859
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 37250
__________________
Elementos diferentes de null/NaN: 476570
__________________
(476570,)
None

In [72]:
Do_resamples(data_2009_2, c, float)

cant null antes: 37250
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [73]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0       18
1       12
2       36
3       55
4      166
5      137
6      183
7       67
8      832
9      161
10     341
11      26
12     194
13      22
14      52
15     138
16     181
17      21
18     157
19      52
20    6841
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 504128
__________________
Elementos diferentes de null/NaN: 9692
__________________
(9692,)
None

In [74]:
Do_resamples(data_2009_2, c, float)

cant null antes: 504128
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [75]:
c = 'COLE_VALOR_PENSION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0     319138
1        406
2        124
3         92
4         83
5         63
6         40
7         30
8      80261
9      19261
10     13483
11     18794
12     17617
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 44428
__________________
Elementos diferentes de null/NaN: 469392
__________________
(469392,)
None

In [76]:
Do_resamples(data_2009_2, c, float)

cant null antes: 44428
cant null despues: 0

In [77]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0, 2014.0, 2015.0, 9999.0],
             dtype='float64')
1980        15
1981         6
1982         5
1983         8
1984         2
1985         4
1986         8
1987         4
1988        10
1989        10
1990       127
1991       150
1992       174
1993       179
1994       236
1995       276
1996       366
1997       461
1998       557
1999       653
2000       755
2001       788
2002      1058
2003      1259
2004      1544
2005      1900
2006      2698
2007      4629
2008     10999
2009    471963
2010     11520
2011       539
2012        20
2013         6
2014         3
2015         3
9999       693
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 192
__________________
Elementos diferentes de null/NaN: 513628
__________________
(513628,)
None

In [78]:
Do_resamples(data_2009_2, c, float)

cant null antes: 192
cant null despues: 0

In [79]:
c = 'IND_MES_TERMINO_BACHILLERATO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1        230
2        355
3        473
4        657
5        408
6       7756
7       8188
8       2261
9       4019
10      2723
11    224768
12    251944
Name: IND_MES_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 10038
__________________
Elementos diferentes de null/NaN: 503782
__________________
(503782,)
None

In [80]:
Do_resamples(data_2009_2, c, float)

cant null antes: 10038
cant null despues: 0

In [81]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      366
1    22157
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 491297
__________________
Elementos diferentes de null/NaN: 22523
__________________
(22523,)
None

In [82]:
Do_resamples(data_2009_2, c, float)

cant null antes: 491297
cant null despues: 0

In [83]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([     0.0,      2.0,      3.0,     18.0,     28.0,     34.0,
                  42.0,     55.0,     58.0,     59.0,
              ...
              526848.0, 555193.0, 596874.0, 601138.0, 620369.0, 622977.0,
              631754.0, 633743.0, 638833.0, 999999.0],
             dtype='float64', length=12942)
0           27
2          316
3         1852
18          18
28           1
34           1
42           2
55           1
58           1
59        1052
67          23
75          57
83          33
90           1
91         117
123          1
125         59
141        100
174         86
182          1
190         79
208         98
216         27
226          1
232         37
240        222
252          1
257        152
265        110
273         71
          ...
255380       1
258541       1
260455       1
260836       1
261222       1
274704       1
275156       1
279992       1
280495       1
292847       1
300640       1
319533       1
358911       1
390856       1
404921       1
406116       1
456103       1
483214       1
496364       1
515205       1
526848       1
555193       1
596874       1
601138       1
620369       1
622977       1
631754       1
633743       1
638833       1
999999    3164
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 3170
__________________
Elementos diferentes de null/NaN: 510650
__________________
(510650,)
None

In [84]:
Do_resamples(data_2009_2, c, float)

cant null antes: 3170
cant null despues: 0

In [85]:
c = 'COLE_COD_ICFES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([     2.0,     18.0,     34.0,     42.0,     59.0,     67.0,
                  75.0,     83.0,     91.0,    125.0,
              ...
              149179.0, 149187.0, 149195.0, 149278.0, 149286.0, 149302.0,
              149328.0, 149336.0, 149369.0, 999999.0],
             dtype='float64', length=11978)
2          397
18          18
34           1
42           2
59        1068
67          15
75          57
83          33
91         117
125         59
141         99
174         86
182          1
190         79
208         98
216         27
232         37
240        232
257        163
265        118
273         71
281         71
315        154
349         30
356         32
364         55
372        109
380        123
398         23
406         39
          ...
148940       6
148957      29
148965      11
148973      13
148981      17
148999      33
149005      21
149013       6
149021       4
149039      33
149047      34
149070       4
149088      10
149096       7
149104      10
149112       2
149120      13
149138       1
149146       3
149153       2
149179       7
149187      24
149195       3
149278       7
149286      28
149302      13
149328       1
149336      37
149369      37
999999    3387
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [86]:
for i in data_2009_2[c].value_counts().sort_index().index:
    if len(str(i))<4:
        data_2009_2[c] = data_2009_2[c].replace(i, np.nan)

In [87]:
Do_resamples(data_2009_2, c, float)

cant null antes: 397
cant null despues: 0

In [88]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2009_2[c].value_counts().index)
print(data_2009_2[c].value_counts())
print(missing_data(data_2009_2[c]))

Index([105001000108.0, 325754005072.0, 105001013340.0, 168001003591.0,
       311001105391.0, 354001000027.0, 111001019411.0, 111001024732.0,
       105154000301.0, 305001003963.0,
       ...
       '376001020731', 376001029436.0, '150370000010', '168092000174',
       '152001003750', 308001101153.0, 305001024065.0, 152865004371.0,
       276892001133.0, '376001000624'],
      dtype='object', length=16977)
105001000108.0    824
325754005072.0    698
105001013340.0    693
168001003591.0    689
311001105391.0    611
354001000027.0    603
111001019411.0    595
111001024732.0    587
105154000301.0    577
305001003963.0    524
111102000753.0    505
313001029264.0    504
111001011819.0    498
141001003341.0    498
313001006701.0    481
305001004293.0    465
166001002339.0    460
111001083011.0    456
113001003274.0    447
108758000015.0    441
163001002941.0    425
311001004820.0    425
111001010910.0    423
117001001536.0    420
173001000308.0    416
173001001053.0    408
141001000066.0    407
305001022178.0    402
305001011761.0    399
111001006122.0    392
                 ...
415516000410        1
325473000551        1
376001029631.0      1
205051000081        1
354001009415        1
325754001662        1
273861000253        1
219130000586        1
252687000225.0      1
376001000519        1
354001009709        1
176403000079        1
176001003918        1
323855022030        1
168344000130        1
376001036122        1
176520002692.0      1
373408000476        1
305649001214.0      1
373001007701        1
376001020731        1
376001029436.0      1
150370000010        1
168092000174        1
152001003750        1
308001101153.0      1
305001024065.0      1
152865004371.0      1
276892001133.0      1
376001000624        1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 11580
__________________
Elementos diferentes de null/NaN: 502240
__________________
(502240,)
None

In [89]:
for i in data_2009_2[c].value_counts().index:
    if ' ' in str(i):
        data_2009_2[c] = data_2009_2[c].replace(i, np.nan)
    elif type(i) == str:
        data_2009_2[c] = data_2009_2[c].replace(i, float(i))

In [90]:
Do_resamples(data_2009_2, c, float)

cant null antes: 11589
cant null despues: 0

In [91]:
c = 'COLE_CALENDARIO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    432440
B      4475
F     73518
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 3387
__________________
Elementos diferentes de null/NaN: 510433
__________________
(510433,)
None

In [92]:
Do_resamples(data_2009_2, c, str)

cant null antes: 3387
cant null despues: 0

In [93]:
c = 'COLE_GENERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     28304
M      7270
X    474462
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 3784
__________________
Elementos diferentes de null/NaN: 510036
__________________
(510036,)
None

In [94]:
Do_resamples(data_2009_2, c, str)

cant null antes: 3784
cant null despues: 0

In [95]:
c = 'COLE_NATURALEZA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['N', 'O'], dtype='object')
N    138992
O    371044
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 3784
__________________
Elementos diferentes de null/NaN: 510036
__________________
(510036,)
None

In [96]:
Do_resamples(data_2009_2, c, str)

cant null antes: 3784
cant null despues: 0

In [97]:
c = 'COLE_BILINGUE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    446843
1      5271
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 61706
__________________
Elementos diferentes de null/NaN: 452114
__________________
(452114,)
None

In [98]:
Do_resamples(data_2009_2, c, float)

cant null antes: 61706
cant null despues: 0

In [99]:
c = 'COLE_JORNADA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE', 'UNICA'],
      dtype='object')
COMPLETA U ORDINARIA    107229
MAÑANA                  252414
NOCHE                    38449
SABATINA - DOMINICAL     25404
TARDE                    89837
UNICA                       90
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 397
__________________
Elementos diferentes de null/NaN: 513423
__________________
(513423,)
None

In [100]:
Do_resamples(data_2009_2, c, str)

cant null antes: 397
cant null despues: 0

In [101]:
c = 'COLE_CARACTER'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              319913
ACADEMICO Y TECNICO     91370
DESCONOCIDO               311
NORMALISTA              12320
TECNICO                 86122
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 3784
__________________
Elementos diferentes de null/NaN: 510036
__________________
(510036,)
None

In [102]:
Do_resamples(data_2009_2, c, str)

cant null antes: 3784
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [103]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     1543
1     6073
2     3674
3    35614
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 466916
__________________
Elementos diferentes de null/NaN: 46904
__________________
(46904,)
None

In [104]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [105]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([  1101.0,   1102.0,   1103.0,   1104.0,   1105.0,   1106.0,
                1107.0,   1108.0,   1109.0,   1110.0,
              ...
                9114.0,   9115.0,   9120.0,   9122.0,   9129.0,  19539.0,
               36681.0,  49122.0, 115956.0, 122853.0],
             dtype='float64', length=333)
1101      5877
1102       460
1103       228
1104        80
1105       544
1106       628
1107        64
1108       326
1109        55
1110       965
1111       835
1112       738
1113      1134
1114      1074
1115       280
1117       192
1118       260
1119       502
1120       720
1121        70
1122        10
1123        50
1124        41
1125        23
1201      4136
1202      1295
1203      2485
1204      1619
1205      1538
1206      1311
          ...
4826        49
4827         9
4829        18
4832        12
4835        25
4836         1
4837        17
4838        16
5801         7
5802        40
9101       114
9102        29
9103       129
9104       270
9105        82
9107        55
9110       789
9111        37
9112       359
9113        50
9114        75
9115         8
9120         2
9122         1
9129         1
19539        1
36681        1
49122        1
115956       1
122853       1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 460090
__________________
Elementos diferentes de null/NaN: 53730
__________________
(53730,)
None

In [106]:
Do_resamples(data_2009_2, c, float)

cant null antes: 460090
cant null despues: 0

In [107]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS              23
ANTIOQUIA           8279
ARAUCA                41
ATLÁNTICO           3215
BOGOTÁ             16742
BOLÍVAR             2218
BOYACÁ              1233
CALDAS              1196
CAQUETÁ              280
CASANARE              65
CAUCA               1102
CESAR                770
CHOCÓ                260
CUNDINAMARCA        1049
CÓRDOBA             1306
HUILA               1123
LA GUAJIRA           335
MAGDALENA           1123
META                 585
NARIÑO              1421
NORTE SANTANDER     1399
PUTUMAYO              49
QUINDÍO              664
RISARALDA           1013
SAN ANDRÉS            15
SANTANDER           3060
SUCRE                689
TOLIMA              1270
VALLE               3205
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 460090
__________________
Elementos diferentes de null/NaN: 53730
__________________
(53730,)
None

In [108]:
Do_resamples(data_2009_2, c, str)

cant null antes: 460090
cant null despues: 0

In [109]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AGUACHICA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'CUCUTA', 'DUITAMA',
       'EL BAGRE', 'ENVIGADO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA',
       'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA', 'MADRID',
       'MALAGA', 'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'MOSQUERA',
       'NEIVA', 'NILO', 'OCAÑA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PENSILVANIA',
       'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'PUERTO TEJADA', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÉ DE ANTIOQUIA', 'SEVILLA', 'SINCELEJO',
       'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TULUA', 'TUNJA', 'TURBO', 'UBATE',
       'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                  50
ANDES                      16
APARTADO                   13
ARAUCA                     41
ARMENIA                   664
BARRANCABERMEJA           141
BARRANQUILLA             3171
BELLO                     536
BOGOTÁ D.C.             16742
BUCARAMANGA              2685
BUENAVENTURA               10
BUGA                       10
CALDAS                     24
CALI                     3029
CARMEN DE VIBORAL          26
CARTAGENA                2218
CARTAGO                     8
CAUCASIA                   61
CERETE                      9
CHIA                      297
CHIQUINQUIRA               55
CIENAGA                    39
COPACABANA                  2
CUCUTA                    919
DUITAMA                    64
EL BAGRE                    1
ENVIGADO                   30
ESPINAL                    85
FACATATIVA                 15
FLORENCIA                 280
                        ...
PASTO                    1421
PENSILVANIA                12
PEREIRA                   990
POPAYAN                  1098
PUERTO BERRIO               5
PUERTO TEJADA               4
QUIBDO                    260
RIOHACHA                  317
RIONEGRO                  105
ROLDANILLO                  3
SABANETA                    4
SAN ANDRES                 15
SAN GIL                   170
SAN JUAN DEL CESAR         18
SANTA MARTA              1084
SANTA ROSA DE CABAL        23
SANTA ROSA DE OSOS          5
SANTAFÉ DE ANTIOQUIA        4
SEVILLA                     2
SINCELEJO                 689
SOCORRO                    58
SOGAMOSO                  326
SOLEDAD                    44
TULUA                      55
TUNJA                     788
TURBO                      17
UBATE                      38
VALLEDUPAR                720
VILLAVICENCIO             585
YOPAL                      65
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 460090
__________________
Elementos diferentes de null/NaN: 53730
__________________
(53730,)
None

In [110]:
Do_resamples(data_2009_2, c, str)

cant null antes: 460090
cant null despues: 0

In [111]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0,
              22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0,
              33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0,
              44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0,
              55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0,
              67.0, 68.0, 69.0, 70.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0,
              80.0, 81.0, 82.0, 86.0, 87.0, 90.0, 92.0, 93.0, 95.0, 96.0, 97.0,
              98.0, 99.0],
             dtype='float64')
0        6
1       11
2       27
3       43
4       57
5       73
6      102
7       99
8      149
9      123
10     250
11     172
12     346
13     278
14     321
15     532
16     346
17     408
18     430
19     410
20     724
21     511
22     859
23     983
24     931
25    1494
26    1237
27    1184
28    1622
29    1384
      ...
60      40
61       3
62      13
63      35
64      19
65      24
67       4
68       3
69      19
70      17
72       9
73       5
74       1
75       5
76       4
77       3
78      24
80       6
81       2
82       2
86       2
87      15
90      11
92       6
93       1
95       2
96       6
97      11
98       5
99       1
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [112]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [113]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0],
             dtype='float64')
1985     1236
1986      171
1987      181
1988      217
1989      214
1990      247
1991      291
1992      288
1993      485
1994      722
1995     1622
1996     2983
1997     5924
1998    12717
1999    20701
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [114]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [115]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0],
             dtype='float64')
1985      656
1986       76
1987       60
1988       49
1989       83
1990      171
1991      148
1992      137
1993      187
1994      180
1995      262
1996      243
1997      344
1998      439
1999      676
2000     1513
2001     2704
2002     7706
2003    32365
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [116]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [117]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      4445
2      5194
3      4042
4      2872
5      3008
6     12635
7      2767
8      1247
9      1079
10     1383
11     9327
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [118]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [119]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0],
             dtype='float64')
1985      401
1986       86
1987       59
1988       57
1989       52
1990       69
1991      133
1992       94
1993      133
1994      186
1995      158
1996      227
1997      229
1998      290
1999      366
2000      644
2001     1480
2002     2701
2003     7950
2004    32684
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [120]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [121]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     8164
1    23208
2     8814
3     7813
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [122]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [123]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    24272
2     9071
3     5469
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 475008
__________________
Elementos diferentes de null/NaN: 38812
__________________
(38812,)
None

In [124]:
Do_resamples(data_2009_2, c, float)

cant null antes: 475008
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [125]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46249
1     1750
Name: ESTU_REPROBO_CUARTO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [126]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [127]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45471
1     2528
Name: ESTU_REPROBO_DECIMO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [128]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [129]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46005
1     1994
Name: ESTU_REPROBO_NOVENO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [130]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [131]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45678
1     2321
Name: ESTU_REPROBO_OCTAVO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [132]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [133]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45167
1     2832
Name: ESTU_REPROBO_PRIMERO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [134]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [135]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46575
1     1424
Name: ESTU_REPROBO_QUINTO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [136]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [137]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45973
1     2026
Name: ESTU_REPROBO_SEGUNDO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [138]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [139]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45749
1     2250
Name: ESTU_REPROBO_SEPTIMO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [140]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [141]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45615
1     2384
Name: ESTU_REPROBO_SEXTO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [142]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [143]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45640
1     2359
Name: ESTU_REPROBO_TERCERO, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [144]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [145]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46848
1     1151
Name: ESTU_REPROBO_ONCE_MAS, dtype: int64
Elementos null/NaN 465821
__________________
Elementos diferentes de null/NaN: 47999
__________________
(47999,)
None

In [146]:
Do_resamples(data_2009_2, c, float)

cant null antes: 465821
cant null despues: 0

In [147]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    513820
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [148]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [149]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    513820
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [150]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [151]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    34354
1    12092
Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64
Elementos null/NaN 467374
__________________
Elementos diferentes de null/NaN: 46446
__________________
(46446,)
None

In [152]:
Do_resamples(data_2009_2, c, float)

cant null antes: 467374
cant null despues: 0

In [153]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    513820
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [154]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [155]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    513820
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [156]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [157]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    39199
1     7247
Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64
Elementos null/NaN 467374
__________________
Elementos diferentes de null/NaN: 46446
__________________
(46446,)
None

In [158]:
Do_resamples(data_2009_2, c, float)

cant null antes: 467374
cant null despues: 0

In [159]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0    20746
1    21712
2     3990
Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64
Elementos null/NaN 467372
__________________
Elementos diferentes de null/NaN: 46448
__________________
(46448,)
None

In [160]:
Do_resamples(data_2009_2, c, float)

cant null antes: 467372
cant null despues: 0

In [161]:
c = 'ESTU_RAZON_RETIRO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
1     189
2     381
3    2531
4     768
5     544
6     271
7     114
8     105
9    2934
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 505983
__________________
Elementos diferentes de null/NaN: 7837
__________________
(7837,)
None

In [162]:
Do_resamples(data_2009_2, c, float)

cant null antes: 505983
cant null despues: 0

In [163]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    34211
1    12237
Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64
Elementos null/NaN 467372
__________________
Elementos diferentes de null/NaN: 46448
__________________
(46448,)
None

In [164]:
Do_resamples(data_2009_2, c, float)

cant null antes: 467372
cant null despues: 0

In [165]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    513820
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [166]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [167]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    513820
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [168]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [169]:
c = 'ESTU_POR_OTRARAZON'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    33716
1    12732
Name: ESTU_POR_OTRARAZON, dtype: int64
Elementos null/NaN 467372
__________________
Elementos diferentes de null/NaN: 46448
__________________
(46448,)
None

In [170]:
Do_resamples(data_2009_2, c, float)

cant null antes: 467372
cant null despues: 0

In [171]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    11414
1    35035
Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64
Elementos null/NaN 467371
__________________
Elementos diferentes de null/NaN: 46449
__________________
(46449,)
None

In [172]:
Do_resamples(data_2009_2, c, float)

cant null antes: 467371
cant null despues: 0

In [173]:
c = 'ESTU_POR_UBICACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    21725
1    24723
Name: ESTU_POR_UBICACION, dtype: int64
Elementos null/NaN 467372
__________________
Elementos diferentes de null/NaN: 46448
__________________
(46448,)
None

In [174]:
Do_resamples(data_2009_2, c, float)

cant null antes: 467372
cant null despues: 0

In [175]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    35698
1    10750
Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64
Elementos null/NaN 467372
__________________
Elementos diferentes de null/NaN: 46448
__________________
(46448,)
None

In [176]:
Do_resamples(data_2009_2, c, float)

cant null antes: 467372
cant null despues: 0

In [177]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    513820
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [178]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [179]:
c = 'ESTU_PROGRAMA_ACADEMICODESEADO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    513820
Name: ESTU_PROGRAMA_ACADEMICODESEADO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [180]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [181]:
c = 'ESTU_VECES_ESTADO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    429683
1     60322
2     16062
3      7108
4       496
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 149
__________________
Elementos diferentes de null/NaN: 513671
__________________
(513671,)
None

In [182]:
Do_resamples(data_2009_2, c, float)

cant null antes: 149
cant null despues: 0

In [183]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    1951
2    2580
3     869
4     474
5     175
6      51
7     286
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 507434
__________________
Elementos diferentes de null/NaN: 6386
__________________
(6386,)
None

In [184]:
Do_resamples(data_2009_2, c, float)

cant null antes: 507434
cant null despues: 0

In [185]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=380)
ABEJORRAL                     190
ABREGO                        185
ACACIAS                      1457
ACANDI                         70
ACHI                          276
AGUACHICA                    1347
AGUADAS                       240
AGUAZUL                       493
AGUSTIN CODAZZI               560
AIPE                          217
ALTO BAUDO (PIE DE PATO)       29
AMAGA                         806
AMALFI                        282
ANDES                         804
ANOLAIMA                      272
ANSERMA                       800
APARTADO                     1929
APIA                          179
ARACATACA                     368
ARAUCA                       1239
ARAUQUITA                     322
ARBELAEZ                      252
ARBOLEDAS                     155
ARBOLETES                     382
ARIGUANI (EL DIFICIL)         349
ARJONA                        837
ARMENIA                      5236
ASTREA                        239
ATRATO (YUTO)                 137
AYAPEL                        388
                             ...
TUNJA                        4989
TURBACO                       951
TURBO                        1318
TURMEQUE                      254
TUTA                          131
UBATE                        1080
UNGUIA                         89
URRAO                         509
VALLEDUPAR                   5954
VALPARAISO                    232
VEGACHI                       182
VELEZ                         680
VENADILLO                     266
VENTAQUEMADA                  159
VIGIA DEL FUERTE               90
VILLA DE LEYVA                330
VILLA DEL ROSARIO             811
VILLA GUAMEZ (LA HORMIGA)     547
VILLAGARZON                   259
VILLANUEVA                    992
VILLAVICENCIO                6628
VILLETA                       630
VIOTA                         113
YARUMAL                       940
YAVARATE                       26
YOLOMBO                       225
YOPAL                        2378
ZAPATOCA                      171
ZARAGOZA                      200
ZIPAQUIRA                    2772
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [186]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              777
ANTIOQUIA           71447
ARAUCA               3209
ATLÁNTICO           28490
BOGOTÁ             101479
BOLÍVAR             24231
BOYACÁ              20042
CALDAS              13189
CAQUETÁ              4351
CASANARE             4855
CAUCA               12693
CESAR               12179
CHOCÓ                4248
CUNDINAMARCA        32409
CÓRDOBA             17374
GUAINÍA               181
GUAVIARE              855
HUILA               15638
LA GUAJIRA           7072
MAGDALENA           13538
META                10845
NARIÑO               7469
NORTE SANTANDER     16655
PUTUMAYO             3322
QUINDÍO              7631
RISARALDA           11454
SAN ANDRÉS            817
SANTANDER           28165
SUCRE               10605
TOLIMA              17199
VALLE               10681
VAUPÉS                274
VICHADA               446
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [187]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['EXAMEN DE ESTADO (ICFES)'], dtype='object')
EXAMEN DE ESTADO (ICFES)    513820
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [188]:
data_2009_2 = data_2009_2.drop([c], axis=1)

## TARGETS

In [189]:
c = 'PUNT_LENGUAJE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '15,91', '15,99', '23,94', '24,07', '29,01', '29,16', '32,88',
       '33,04', '36,1', '36,27', '38,92', '39,08', '41,48', '41,63', '43,85',
       '43,99', '46,1', '46,23', '48,26', '48,37', '50,37', '50,47', '52,45',
       '52,54', '54,54', '54,6', '56,64', '56,7', '58,8', '58,84', '61,03',
       '61,07', '63,4', '63,42', '65,94', '65,96', '68,74', '68,76', '71,94',
       '71,96', '75,79', '75,81', '80,84', '80,86', '88,84'],
      dtype='object')
0           62
15,91      133
15,99      234
23,94      733
24,07     1008
29,01     2322
29,16     3123
32,88     5416
33,04     7595
36,1     10445
36,27    14312
38,92    17651
39,08    22884
41,48    24562
41,63    31833
43,85    30519
43,99    37952
46,1     32767
46,23    40363
48,26    31422
48,37    37740
50,37    26462
50,47    30840
52,45    19719
52,54    22460
54,54    13052
54,6     14803
56,64     7829
56,7      8714
58,8      4356
58,84     4626
61,03     2179
61,07     2279
63,4      1022
63,42     1038
65,94      437
65,96      424
68,74      172
68,76      172
71,94       68
71,96       52
75,79       19
75,81       13
80,84        4
80,86        3
88,84        1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [190]:
clean_target(data_2009_2, c)

In [191]:
c = 'PUNT_MATEMATICAS'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '10,51', '10,77', '115,34', '115,59', '20,18', '20,44', '26,24',
       '26,51', '30,84', '31,11', '34,66', '34,91', '37,99', '38,23', '41,01',
       '41,23', '43,8', '44', '46,45', '46,62', '49', '49,14', '51,49', '51,6',
       '53,95', '54,03', '56,43', '56,46', '58,94', '61,49', '61,53', '64,16',
       '64,24', '67,01', '67,13', '70,11', '70,26', '73,57', '73,76', '77,58',
       '77,8', '82,45', '82,69', '88,88', '89,15', '99,07', '99,33'],
      dtype='object')
0           204
10,51       449
10,77       643
115,34       27
115,59       19
20,18      2292
20,44      2664
26,24      6603
26,51      7597
30,84     14459
31,11     15958
34,66     23562
34,91     25129
37,99     31439
38,23     31973
41,01     34337
41,23     34593
43,8      33179
44        32583
46,45     28361
46,62     27352
49        22435
49,14     21446
51,49     17156
51,6      16119
53,95     12656
54,03     11895
56,43      9119
56,46      8607
58,94     13301
61,49      4661
61,53      4835
64,16      3292
64,24      3514
67,01      2125
67,13      2293
70,11      1428
70,26      1498
73,57       938
73,76       947
77,58       548
77,8        572
82,45       267
82,69       281
88,88       158
89,15       168
99,07        56
99,33        82
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [192]:
clean_target(data_2009_2, c)

In [193]:
c = 'PUNT_C_SOCIALES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '112,93', '15,92', '15,93', '21,61', '25,86', '25,87', '29,33',
       '29,35', '32,32', '32,34', '34,98', '35,01', '37,41', '37,44', '39,66',
       '39,7', '41,79', '41,83', '43,82', '43,86', '45,79', '45,83', '47,71',
       '47,75', '49,59', '49,63', '51,46', '51,5', '53,33', '53,38', '55,22',
       '55,26', '57,14', '57,18', '59,12', '59,16', '6,71', '6,72', '61,16',
       '61,2', '63,31', '63,35', '65,6', '65,63', '68,06', '68,09', '70,78',
       '70,81', '73,85', '73,88', '77,45', '77,47', '81,87', '81,89', '87,79',
       '87,81', '97,35', '97,36'],
      dtype='object')
0            64
112,93        1
15,92       258
15,93       405
21,61      2232
25,86      3591
25,87      2367
29,33      7158
29,35      5276
32,32     11818
32,34      8909
34,98     16975
35,01     13714
37,41     21370
37,44     17735
39,66     24696
39,7      20813
41,79     26267
41,83     22098
43,82     26184
43,86     21746
45,79     24962
45,83     20868
47,71     22813
47,75     18848
49,59     20630
49,63     16354
51,46     17548
51,5      14215
53,33     14981
53,38     11631
55,22     11981
55,26      9791
57,14      9403
57,18      7894
59,12      7127
59,16      6114
6,71         58
6,72         84
61,16      5125
61,2       4421
63,31      3453
63,35      3093
65,6       2191
65,63      1964
68,06      1232
68,09      1144
70,78       641
70,81       623
73,85       297
73,88       312
77,45       126
77,47       116
81,87        35
81,89        45
87,79         6
87,81        11
97,35         3
97,36         3
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [194]:
clean_target(data_2009_2, c)

In [195]:
c = 'PUNT_FILOSOFIA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '17,7', '18,12', '23,34', '23,73', '27,6', '27,97', '31,12',
       '31,46', '34,19', '34,5', '36,95', '37,24', '39,52', '39,79', '41,95',
       '42,19', '44,29', '44,51', '46,59', '46,77', '48,86', '49,02', '51,14',
       '51,28', '53,46', '53,59', '55,86', '55,96', '58,36', '58,46', '61,03',
       '61,12', '63,91', '64,01', '67,12', '67,23', '70,79', '70,94', '75,23',
       '75,43', '8,66', '9,1'],
      dtype='object')
0         1218
17,7      1518
18,12     2094
23,34     4435
23,73     5462
27,6      9643
27,97    10996
31,12    17208
31,46    18134
34,19    24714
34,5     25605
36,95    30894
37,24    31529
39,52    33976
39,79    33708
41,95    32945
42,19    32299
44,29    29425
44,51    28698
46,59    24061
46,77    23135
48,86    18149
49,02    17294
51,14    12678
51,28    11891
53,46     8272
53,59     7315
55,86     4563
55,96     4113
58,36     2269
58,46     1991
61,03      950
61,12      838
63,91      338
64,01      287
67,12       94
67,23       71
70,79       25
70,94       22
75,23        5
75,43        6
8,66       407
9,1        545
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [196]:
clean_target(data_2009_2, c)

In [197]:
c = 'PUNT_BIOLOGIA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '15,34', '15,43', '23,14', '23,25', '28,08', '28,2', '31,85',
       '31,98', '34,98', '35,13', '37,73', '37,89', '40,21', '40,39', '42,51',
       '42,7', '44,68', '44,9', '46,76', '47', '48,79', '49,05', '50,78',
       '51,06', '52,77', '53,07', '54,77', '55,09', '56,82', '57,16', '58,93',
       '59,3', '61,16', '61,56', '63,55', '63,98', '66,19', '66,64', '69,2',
       '69,68', '72,82', '73,34', '77,6', '78,14', '85,22', '85,8', '97,73'],
      dtype='object')
0           88
15,34       96
15,43      124
23,14      458
23,25      597
28,08     1810
28,2      2093
31,85     4550
31,98     5236
34,98     9850
35,13    10699
37,73    16869
37,89    18134
40,21    25217
40,39    25940
42,51    32385
42,7     32658
44,68    36393
44,9     35652
46,76    36239
47       35318
48,79    31487
49,05    30642
50,78    23879
51,06    23487
52,77    16541
53,07    15997
54,77     9763
55,09     9710
56,82     5486
57,16     5314
58,93     2832
59,3      2686
61,16     1416
61,56     1435
63,55      712
63,98      746
66,19      355
66,64      380
69,2       164
69,68      167
72,82       80
73,34       80
77,6        21
78,14       21
85,22        4
85,8         8
97,73        1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [198]:
clean_target(data_2009_2, c)

In [199]:
c = 'PUNT_QUIMICA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '20,01', '20,45', '26,92', '27,32', '31,24', '31,61', '34,52',
       '34,86', '37,23', '37,54', '39,6', '39,89', '41,74', '42,01', '43,72',
       '43,97', '45,59', '45,83', '47,38', '47,62', '49,12', '49,37', '50,85',
       '51,1', '52,57', '52,83', '54,3', '54,59', '56,08', '56,4', '57,93',
       '58,28', '59,89', '60,27', '62', '62,42', '64,33', '64,8', '67',
       '67,52', '70,24', '70,81', '74,51', '75,13', '81,36', '82,04', '92,61',
       '93,33'],
      dtype='object')
0          204
20,01      303
20,45      354
26,92     1283
27,32     1408
31,24     3883
31,61     4156
34,52     8662
34,86     9403
37,23    15687
37,54    16627
39,6     23250
39,89    23674
41,74    29840
42,01    30267
43,72    33033
43,97    32956
45,59    32438
45,83    32733
47,38    29234
47,62    28403
49,12    23874
49,37    23633
50,85    18156
51,1     17739
52,57    12881
52,83    12617
54,3      8896
54,59     8579
56,08     5914
56,4      5576
57,93     3679
58,28     3601
59,89     2256
60,27     2194
62        1385
62,42     1347
64,33      855
64,8       796
67         490
67,52      459
70,24      289
70,81      264
74,51      168
75,13      160
81,36       71
82,04       92
92,61       29
93,33       22
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [200]:
clean_target(data_2009_2, c)

In [201]:
c = 'PUNT_FISICA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '14,18', '14,98', '24,05', '24,77', '30,24', '30,87', '34,91',
       '35,48', '38,77', '39,28', '42,13', '42,59', '45,15', '45,57', '47,95',
       '48,33', '50,58', '50,94', '53,11', '53,43', '55,56', '55,86', '57,99',
       '58,27', '60,41', '60,67', '62,86', '63,1', '65,37', '65,6', '67,99',
       '68,2', '70,76', '70,96', '73,76', '73,95', '77,08', '77,27', '80,91',
       '81,08', '85,54', '85,71', '91,68'],
      dtype='object')
0          566
14,18      790
14,98     1014
24,05     3822
24,77     4482
30,24    11081
30,87    12107
34,91    23139
35,48    24600
38,77    36063
39,28    37383
42,13    44155
42,59    44776
45,15    44308
45,57    43993
47,95    37031
48,33    35840
50,58    25966
50,94    24562
53,11    15636
53,43    14484
55,56     8360
55,86     7398
57,99     3787
58,27     3379
60,41     1650
60,67     1412
62,86      623
63,1       507
65,37      241
65,6       222
67,99      122
68,2        83
70,76       56
70,96       52
73,76       45
73,95       38
77,08       13
77,27       10
80,91        7
81,08        5
85,54        6
85,71        3
91,68        3
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [202]:
clean_target(data_2009_2, c)

In [203]:
c = 'PUNT_INGLES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-1', '0', '10,3', '100', '13,54', '16,64', '19,57', '22,36', '24,99',
       '27,46', '29,78', '3,34', '31,94', '33,95', '35,81', '37,51', '39,05',
       '40,45', '41,68', '42,76', '43,48', '44,71', '45,94', '47,17', '48,4',
       '49,63', '50,86', '52,09', '53,32', '54,9', '56,48', '58,06', '59,64',
       '6,9', '61,22', '62,69', '65,1', '67,51', '69,92', '72,32', '74,73',
       '77,14', '79,55', '83,41', '88,94', '94,47'],
      dtype='object')
-1         221
0           31
10,3        28
100         65
13,54       55
16,64      178
19,57      438
22,36     1064
24,99     2232
27,46     4518
29,78     7686
3,34        12
31,94    12619
33,95    18719
35,81    25363
37,51    32442
39,05    38357
40,45    42630
41,68    44219
42,76    42935
43,48    39699
44,71    34430
45,94    28524
47,17    23366
48,4     18181
49,63    14303
50,86    11236
52,09     9192
53,32     7427
54,9      6250
56,48     5449
58,06     4773
59,64     4249
6,9         14
61,22     3872
62,69     3500
65,1      3494
67,51     3243
69,92     3013
72,32     3121
74,73     3041
77,14     2777
79,55     2535
83,41     2084
88,94     1576
94,47      659
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [204]:
data_2009_2[c] = data_2009_2[c].replace('-1', '0')
clean_target(data_2009_2, c)

In [205]:
c = 'DESEMP_INGLES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-1', 'A-', 'A- ', 'A1', 'A1 ', 'A2', 'A2 ', 'B+', 'B1', 'B1 '], dtype='object')
-1        221
A-     273538
A-          2
A1     178929
A1          2
A2      32018
A2          2
B+       4384
B1      24723
B1          1
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [206]:
data_2009_2[c] = data_2009_2[c].replace('A- ', 'A-')
data_2009_2[c] = data_2009_2[c].replace('A1 ', 'A1')
data_2009_2[c] = data_2009_2[c].replace('A2 ', 'A2')
data_2009_2[c] = data_2009_2[c].replace('B1 ', 'B1')

In [207]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             151964
PROFUNDIZACIÓN EN CIENCIAS SOCIALES    108229
PROFUNDIZACIÓN EN LENGUAJE             174273
PROFUNDIZACIÓN EN MATEMÁTICA            79354
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [208]:
c = 'PUNT_PROFUNDIZACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '10', '3', '3,4', '3,9', '4,1', '4,4', '4,5', '4,6', '4,7', '4,9',
       '5', '5,2', '5,3', '5,4', '5,5', '5,6', '5,8', '5,9', '6', '6,2', '6,3',
       '6,5', '6,6', '6,8', '7', '7,1', '7,3', '7,4', '7,5', '7,7', '7,9', '8',
       '8,2', '8,3', '8,7', '8,9'],
      dtype='object')
0      12554
10         3
3       3812
3,4     9834
3,9    10645
4,1    34127
4,4    20401
4,5    18706
4,6    33527
4,7    18270
4,9    59296
5      34704
5,2    47799
5,3    21289
5,4    36160
5,5    33491
5,6    15312
5,8    45949
5,9     8727
6      24472
6,2     3942
6,3    11239
6,5     4850
6,6     1062
6,8     1725
7        949
7,1      192
7,3      237
7,4      224
7,5      124
7,7       32
7,9       94
8          2
8,2       20
8,3       27
8,7       11
8,9       12
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [209]:
clean_target(data_2009_2, c)

In [210]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['GB', 'GB ', 'I', 'I  ', 'II', 'II ', 'III'], dtype='object')
GB     178307
GB          3
I      282858
I           5
II      50456
II          1
III      2190
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [211]:
data_2009_2[c] = data_2009_2[c].replace('GB ', 'GB')
data_2009_2[c] = data_2009_2[c].replace('I ', 'I')
data_2009_2[c] = data_2009_2[c].replace('II ', 'II')

In [212]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          283916
VIOLENCIA Y SOCIEDAD    229904
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [213]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '23,81', '31,88', '37,05', '41,09', '44,57', '45,49', '47,69',
       '47,74', '49,13', '50,25', '50,76', '51,23', '52,12', '52,97', '53,75',
       '53,81', '54,66', '55,56', '56,55', '56,79', '57,69', '59,14', '60,01',
       '61,35', '63,56', '64,83', '67,71', '73', '81,21', '94,32'],
      dtype='object')
0         2947
23,81     6696
31,88    18492
37,05    31716
41,09    38898
44,57    37142
45,49     5847
47,69    16512
47,74    30412
49,13    30706
50,25    41110
50,76    22650
51,23    45455
52,12    43411
52,97    36028
53,75    15806
53,81    26767
54,66    17541
55,56    10423
56,55     5124
56,79    11000
57,69     2453
59,14      838
60,01     7476
61,35      256
63,56     4512
64,83       32
67,71     2364
73         943
81,21      237
94,32       26
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

In [214]:
clean_target(data_2009_2, c)

In [215]:
c = 'ESTU_PUESTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       517
2       518
3       516
4       518
5       516
6       518
7       517
8       519
9       518
10      517
11      518
12      516
13      517
14      514
15      515
16      517
17      513
18      515
19      515
20      516
21      518
22      518
23      515
24      513
25      513
26      517
27      517
28      517
29      516
30      517
       ...
971     512
972     516
973     514
974     511
975     518
976     516
977     510
978     515
979     515
980     514
981     514
982     515
983     511
984     510
985     513
986     514
987     514
988     514
989     512
990     514
991     511
992     514
993     513
994     509
995     514
996     513
997     514
998     513
999     512
1000    144
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 513820
__________________
(513820,)
None

Now i can transform the obtained Dataframes in csv files

In [216]:
data_2009 = label_encoder(data_2009)
data_2009_2 = label_encoder(data_2009_2)

In [217]:
data_2009.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2009_1.csv', sep=';', index=False)
data_2009_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2009_2.csv', sep=';', index=False)