In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2008 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20081-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

In [3]:
data_2008.shape

(68941, 83)

In [4]:
data_2008.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200810000760,SB11200810000771,SB11200810000831
PERIODO,20081,20081,20081
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,M,F,F
ESTU_NACIMIENTO_DIA,28,1,13
ESTU_NACIMIENTO_MES,11,12,3
ESTU_NACIMIENTO_ANNO,1991,1991,1990
ESTU_EDAD,16,16,17
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76892,76892,76892
ESTU_RESIDE_MCPIO,YUMBO,YUMBO,YUMBO
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,1,1,1
FAMI_LEE_ESCRIBE_PADRE,1,1,1
FAMI_LEE_ESCRIBE_MADRE,1,1,1
FAMI_EDUCA_PADRE,16,12,12
FAMI_EDUCA_MADRE,16,12,12
FAMI_OCUPA_PADRE,21,21,21
FAMI_OCUPA_MADRE,21,19,22
FAMI_NUM_HERMANOS,3,4,3
FAMI_EDUCA_HERMANO,8,7,6
...,...,...,...
COLE_CARACTER,ACADEMICO Y TECNICO,ACADEMICO Y TECNICO,ACADEMICO Y TECNICO
ESTU_COD_MCPIO_PRESENTACION,76892,76892,76892
ESTU_MCPIO_PRESENTACION,YUMBO,YUMBO,YUMBO
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO 2008-1,EXAMEN DE ESTADO 2008-1,EXAMEN DE ESTADO 2008-1
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,NaN,NaN,NaN
ESTU_IES_DESEADA_NOMBRE,NaN,NaN,NaN
ESTU_IES_COD_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_DEPT_DESEADA,NaN,NaN,NaN
ESTU_RAZONINSTITUTO,NaN,NaN,NaN
ESTU_CARRDESEADA_COD,NaN,NaN,NaN
ESTU_CARRDESEADA_RAZON,NaN,NaN,NaN
PUNT_LENGUAJE,"51,1","42,26","42,26"
PUNT_MATEMATICAS,"70,5","35,35","35,35"
PUNT_C_SOCIALES,"47,26","47,26","30,78"
PUNT_FILOSOFIA,"49,11","40,9","37,83"
PUNT_BIOLOGIA,"45,62",0,42
PUNT_QUIMICA,"45,74","32,49","36,6"
PUNT_FISICA,"46,55","33,75","40,91"
PUNT_INGLES,"46,06","37,38","35,47"
DESEMP_INGLES,A1,A-,A-
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN MATEMÁTICA,PROFUNDIZACIÓN EN BIOLOGÍA,PROFUNDIZACIÓN EN LENGUAJE
PUNT_PROFUNDIZACION,"4,95","5,81","4,33"
DESEMP_PROFUNDIZACION,I,I,GB
NOMBRE_INTERDISCIPLINAR,VIOLENCIA Y SOCIEDAD,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"42,36","52,17","35,09"
ESTU_PUESTO,204,964,911

In [5]:
data_2008 = data_2008.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO', 
                'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['AR', 'CO', 'DE', 'EC', 'ES', 'NI', 'PA', 'PE', 'TW', 'US', 'VE'], dtype='object')
AR        1
CO    68867
DE        1
EC        2
ES        3
NI        1
PA        1
PE        2
TW        3
US       10
VE        4
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 46
__________________
Elementos diferentes de null/NaN: 68895
__________________
(68895,)
None

In [8]:
Do_resamples(data_2008, c, str)

cant null antes: 46
cant null despues: 0

In [9]:
c = 'ESTU_GENERO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['F', 'M'], dtype='object')
F    37603
M    31316
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 22
__________________
Elementos diferentes de null/NaN: 68919
__________________
(68919,)
None

In [10]:
Do_resamples(data_2008, c, str)

cant null antes: 22
cant null despues: 0

In [11]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     2307
2     2224
3     2383
4     2310
5     2282
6     2213
7     2198
8     2204
9     2240
10    2441
11    2283
12    2325
13    2182
14    2178
15    2375
16    2203
17    2268
18    2228
19    2226
20    2405
21    2190
22    2268
23    2240
24    2293
25    2223
26    2279
27    2247
28    2286
29    2141
30    1985
31    1241
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 68868
__________________
(68868,)
None

In [12]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     5587
2     5238
3     5749
4     5740
5     5947
6     5557
7     5902
8     5809
9     5987
10    5826
11    5462
12    6064
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 68868
__________________
(68868,)
None

In [17]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1930.0, 1931.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0,
              1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0,
              1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0,
              1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0,
              1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0,
              1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0,
              1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1997.0, 1998.0, 2000.0, 2001.0, 2002.0],
             dtype='float64')
1930        3
1931        1
1939        3
1940        2
1941        1
1942        2
1943        3
1944        3
1945        6
1946        4
1947        3
1948        7
1949        5
1950       10
1951        9
1952        8
1953       18
1954        7
1955       16
1956       30
1957       30
1958       29
1959       34
1960       42
1961       52
1962       52
1963       75
1964       59
1965       78
1966       87
        ...
1971      119
1972      122
1973      131
1974      156
1975      168
1976      162
1977      171
1978      193
1979      259
1980      260
1981      282
1982      346
1983      383
1984      444
1985      527
1986      797
1987     1432
1988     3241
1989     8006
1990    16227
1991    26140
1992     7423
1993      471
1994       96
1995      203
1997        1
1998        2
2000        2
2001        2
2002        5
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 68868
__________________
(68868,)
None

In [18]:
for i in data_2008[c].value_counts().sort_index().index:
    if i < 1931:
        data_2008[c] = data_2008[c].replace(i, np.nan)
    elif i > 1996:
        data_2008[c] = data_2008[c].replace(i, np.nan)

In [19]:
anno = data_2008[data_2008[c].isnull()].index
data_2008 = data_2008.drop(anno)

In [24]:
c = 'ESTU_EDAD'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              67.0, 68.0, 76.0],
             dtype='float64')
12      172
13      137
14      310
15     4453
16    24569
17    18271
18     9507
19     3918
20     1658
21      897
22      560
23      460
24      395
25      356
26      307
27      253
28      281
29      187
30      183
31      147
32      175
33      160
34      130
35      127
36      128
37      103
38      113
39      103
40      101
41       87
42       81
43       56
44       73
45       56
46       61
47       43
48       31
49       29
50       30
51       30
52       16
53       10
54       19
55        7
56        9
57       10
58        8
59        5
60        4
61        4
62        6
63        3
64        2
65        3
66        2
67        2
68        3
76        1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 68852
__________________
(68852,)
None

In [25]:
data_2008[c].fillna(method='bfill', inplace=True)

In [27]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 68853
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [28]:
data_2008 = data_2008.drop([c], axis=1)

In [29]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 68853
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [30]:
data_2008 = data_2008.drop([c], axis=1)

In [31]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 68853
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [32]:
data_2008 = data_2008.drop([c], axis=1)

In [33]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 68853
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [34]:
data_2008 = data_2008.drop([c], axis=1)

In [35]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 68853
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [36]:
data_2008 = data_2008.drop([c], axis=1)

In [37]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 68853
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [38]:
data_2008 = data_2008.drop([c], axis=1)

In [39]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 68853
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [40]:
data_2008 = data_2008.drop([c], axis=1)

In [41]:
c = 'ESTU_ETNIA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1     2427
2       50
3       54
4        9
5        8
6       17
7        5
8       14
9       12
10       6
11    1042
12       6
13      31
14       3
15       3
16       1
99     851
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 64314
__________________
Elementos diferentes de null/NaN: 4539
__________________
(4539,)
None

In [42]:
data_2008[c].fillna(99, inplace=True)

In [43]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['ABEJORRAL', 'ACACIAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE', 'ALBAN',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA',
       ...
       'YAGUARA', 'YALI', 'YARUMAL', 'YOLOMBO', 'YOPAL', 'YOTOCO', 'YUMBO',
       'ZARZAL', 'ZIPACON', 'ZIPAQUIRA'],
      dtype='object', length=387)
ABEJORRAL                       3
ACACIAS                        12
AGUAZUL                        11
AGUSTIN CODAZZI                17
AIPE                            1
ALBAN                           2
ALBAN (SAN JOSE)               65
ALBANIA                        73
ALCALA                        102
ALDANA                         83
ALTAMIRA                        2
AMBALEMA                        1
ANCUYA                         85
ANDALUCIA                     194
ANGELOPOLIS                    26
ANSERMA                         1
ANSERMANUEVO                  137
APARTADO                       63
ARAUCA                         24
ARAUQUITA                      12
ARBOLEDA (BERRUECOS)           59
ARGELIA                        41
ARJONA                          1
ARMENIA                       140
ARMERO (GUAYABAL)               2
ATACO                           1
ATRATO (YUTO)                   2
BALBOA                         15
BARANOA                         2
BARBACOAS                     120
                             ...
ULLOA                          55
UMBITA                          1
UNE                             6
URAMITA                         3
VALENCIA                       15
VALLE DE SAN JOSE               1
VALLEDUPAR                    146
VALPARAISO                     16
VERGARA                         5
VERSALLES                      79
VIJES                          81
VILLA DEL ROSARIO               2
VILLA GUAMEZ (LA HORMIGA)      14
VILLA RICA                     15
VILLAMARIA                      3
VILLANUEVA                      2
VILLAVICENCIO                 240
VILLETA                        15
VISTA HERMOSA                   1
YACUANQUER                    108
YAGUARA                         1
YALI                            1
YARUMAL                        13
YOLOMBO                        11
YOPAL                         168
YOTOCO                        130
YUMBO                        1030
ZARZAL                        447
ZIPACON                         1
ZIPAQUIRA                      87
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [44]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3010
ARAUCA                49
ATLÁNTICO            700
BOGOTÁ              6367
BOLÍVAR              204
BOYACÁ               227
CALDAS               469
CAQUETÁ              123
CASANARE             182
CAUCA               1183
CESAR                163
CHOCÓ                  8
CUNDINAMARCA        1046
CÓRDOBA               77
GUAINÍA               13
GUAVIARE               1
HUILA                275
LA GUAJIRA            99
MAGDALENA             89
META                 271
NARIÑO             11353
NORTE SANTANDER      115
PUTUMAYO             116
QUINDÍO              159
RISARALDA            278
SAN ANDRÉS             1
SANTANDER            511
SUCRE                  9
TOLIMA               392
VALLE              41363
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [45]:
c = 'ESTU_ZONA_RESIDE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      6139
2      2548
3      1187
4      6751
5      1874
6      4450
7      3947
8      1676
9      1418
10    38849
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 14
__________________
Elementos diferentes de null/NaN: 68839
__________________
(68839,)
None

In [46]:
Do_resamples(data_2008, c, float)

cant null antes: 14
cant null despues: 0

In [47]:
c = 'ESTU_AREA_RESIDE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    56370
2    12401
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 82
__________________
Elementos diferentes de null/NaN: 68771
__________________
(68771,)
None

In [48]:
Do_resamples(data_2008, c, float)

cant null antes: 82
cant null despues: 0

In [49]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     2587
1    61303
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 4963
__________________
Elementos diferentes de null/NaN: 63890
__________________
(63890,)
None

In [50]:
Do_resamples(data_2008, c, float)

cant null antes: 4963
cant null despues: 0

In [51]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     2307
1    61583
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 4963
__________________
Elementos diferentes de null/NaN: 63890
__________________
(63890,)
None

In [52]:
Do_resamples(data_2008, c, float)

cant null antes: 4963
cant null despues: 0

In [53]:
c = 'FAMI_EDUCA_PADRE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      1826
1         4
2        13
3         8
4         5
5         8
7         3
9      8665
10    12001
11     8885
12    16931
13     1031
14     2693
15     1039
16     7703
17     2856
99     5105
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [54]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [55]:
c = 'FAMI_EDUCA_MADRE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      1459
1         2
2        14
3        10
4         6
5         7
7         4
9      8485
10    12064
11    10486
12    17354
13     1296
14     2843
15     1363
16     7449
17     2211
99     3723
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [56]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [57]:
c = 'FAMI_OCUPA_PADRE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([ 1.0,  3.0,  5.0,  6.0,  7.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0,
              15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0,
              26.0, 99.0],
             dtype='float64')
1         2
3         1
5         1
6         2
7         2
9        22
10        1
11        3
12       13
13     2294
14     3953
15     1832
16     2120
17     3375
18     2742
19    12330
20     3845
21    19716
22      586
23     2164
24      149
25       34
26     6269
99     7320
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [58]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [59]:
c = 'FAMI_OCUPA_MADRE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([ 2.0,  3.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0, 13.0,
              14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0,
              25.0, 26.0, 99.0],
             dtype='float64')
2         1
3         1
5         1
6         1
7         1
8         1
9         9
10       27
11        1
12        4
13     1133
14     2932
15      987
16     1559
17     2790
18     2507
19     3531
20     1692
21     8270
22    34152
23      727
24      189
25      178
26     4435
99     3647
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [60]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [62]:
c = 'FAMI_NUM_HERMANOS'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0     11585
1     18128
2     17275
3      9034
4      4396
5      2226
6      1177
7       701
8       410
9       294
10      394
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 3233
__________________
Elementos diferentes de null/NaN: 65620
__________________
(65620,)
None

In [63]:
Do_resamples(data_2008, c, float)

cant null antes: 3233
cant null despues: 0

In [64]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1      1992
2      3568
3      7673
4     15258
5      1395
6      2331
7      3316
8      4837
9       633
88    11765
99     1890
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 14195
__________________
Elementos diferentes de null/NaN: 54658
__________________
(54658,)
None

In [65]:
Do_resamples(data_2008, c, float)

cant null antes: 14195
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [66]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1     29901
2      4718
88    19422
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 14812
__________________
Elementos diferentes de null/NaN: 54041
__________________
(54041,)
None

In [67]:
Do_resamples(data_2008, c, float)

cant null antes: 14812
cant null despues: 0

In [68]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    18656
2    25125
3    15255
4     3723
5     2963
6     2389
8      464
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 278
__________________
Elementos diferentes de null/NaN: 68575
__________________
(68575,)
None

In [70]:
data_2008[c] = data_2008[c].replace(8.0, np.nan)

In [71]:
Do_resamples(data_2008, c, float)

cant null antes: 465
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [72]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    20023
2    15993
3     2944
4     1497
5    28319
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [73]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [74]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       872
2      3563
3     13361
4     20908
5     15432
6      7202
7      3285
8      1813
9       895
10      625
11      293
12      527
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [75]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [76]:
c = 'FAMI_PISOSHOGAR'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     1984
2    28839
3     3823
4    33532
5      598
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [77]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [78]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1       987
2      5140
3     14561
4     17735
5     13861
6      7442
7      3241
8      1815
9       779
10      976
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 2316
__________________
Elementos diferentes de null/NaN: 66537
__________________
(66537,)
None

In [79]:
Do_resamples(data_2008, c, float)

cant null antes: 2316
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [80]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      3503
2     23259
3     27555
4     10362
5      2686
6       835
7       298
8       138
9        50
10       90
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [81]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [82]:
c = 'FAMI_COMPUTADOR'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    39533
1    12960
2    10982
3     5117
4      184
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [83]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [84]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    15829
2    30661
3    10766
4     5083
5     1903
6     1460
7     3074
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 68776
__________________
(68776,)
None

In [85]:
Do_resamples(data_2008, c, float)

cant null antes: 77
cant null despues: 0

In [86]:
c = 'ESTU_TRABAJA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    60770
1     5876
2     1293
3      326
4      172
5      267
6        7
7        8
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 134
__________________
Elementos diferentes de null/NaN: 68719
__________________
(68719,)
None

In [87]:
Do_resamples(data_2008, c, float)

cant null antes: 134
cant null despues: 0

In [88]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0       24
1       34
2       74
3      126
4      254
5      179
6      220
7      105
8      850
9      105
10     303
11      45
12     204
13      33
14      69
15     202
16     143
17      25
18      91
19      65
20    4780
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 60922
__________________
Elementos diferentes de null/NaN: 7931
__________________
(7931,)
None

In [89]:
Do_resamples(data_2008, c, float)

cant null antes: 60922
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [90]:
c = 'COLE_VALOR_PENSION'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([0.0, 1.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
0     36957
1         2
8     18495
9      2538
10     1697
11     3167
12     5968
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 29
__________________
Elementos diferentes de null/NaN: 68824
__________________
(68824,)
None

In [91]:
Do_resamples(data_2008, c, float)

cant null antes: 29
cant null despues: 0

In [92]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([2002.0, 2003.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0,
              2011.0, 2013.0],
             dtype='float64')
2002        1
2003        1
2005        4
2006        3
2007       48
2008    68449
2009      316
2010       19
2011        1
2013        1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 10
__________________
Elementos diferentes de null/NaN: 68843
__________________
(68843,)
None

In [93]:
Do_resamples(data_2008, c, float)

cant null antes: 10
cant null despues: 0

In [94]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0], dtype='float64')
1    533
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 68320
__________________
Elementos diferentes de null/NaN: 533
__________________
(533,)
None

In [95]:
data_2008 = data_2008.drop([c], axis=1)

In [96]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([     3.0,     42.0,    182.0,    265.0,    638.0,   1503.0,
                3046.0,   3327.0,   3418.0,   3459.0,
              ...
              161612.0, 162099.0, 165274.0, 168237.0, 169268.0, 169698.0,
              170217.0, 170803.0, 175703.0, 999999.0],
             dtype='float64', length=1945)
3          97
42          1
182        96
265        10
638        32
1503       43
3046       60
3327       12
3418       42
3459       74
3483        1
3525      113
4234       43
4788        1
4804        1
5413       27
6023      140
6775       25
6981        8
7013       58
7054       15
7070      103
7088       51
7096        1
7138        1
7278        1
7419        1
7427        1
7484        1
7518        1
         ...
143651      1
143826      1
143842      2
145334      1
146688      1
149377      3
150169      1
150300      2
150318      1
150474      1
151373      1
152744      1
154674      1
155390      1
155614      1
155911      1
156448      1
158436      1
160739      1
160952      1
161612      1
162099      1
165274      3
168237      1
169268      1
169698      1
170217      1
170803      1
175703      1
999999    185
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 237
__________________
Elementos diferentes de null/NaN: 68616
__________________
(68616,)
None

In [97]:
Do_resamples(data_2008, c, float)

cant null antes: 237
cant null despues: 0

In [98]:
c = 'COLE_COD_ICFES'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Int64Index([   182,    265,    638,   1503,   3046,   3327,   3418,   3459,
              3483,   3525,
            ...
            137042, 137067, 137075, 137091, 137109, 137125, 137133, 137158,
            137174, 137182],
           dtype='int64', length=1794)
182        97
265        10
638        32
1503       43
3046       60
3327       12
3418       43
3459       75
3483        1
3525      113
4234       43
6023      140
6775       25
6981       20
7013       58
7054       18
7070      104
7088       52
9985        3
11213     207
11239      69
11254      22
11262      49
11270      88
11288     115
11296     283
11312     155
11320     114
11338     312
11379      19
         ...
136614     14
136630     19
136689      8
136713      3
136747     25
136754     13
136796     19
136812      6
136853      6
136887      9
136903    167
136911      6
136929     19
136937     27
136952     27
136960      4
136994     98
137000     10
137018     22
137034     19
137042      4
137067      9
137075     21
137091     10
137109      8
137125      7
137133     13
137158      8
137174      3
137182      7
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [99]:
for i in data_2008[c].value_counts().sort_index().index:
    if len(str(i))<4:
        data_2008[c] = data_2008[c].replace(i, np.nan)

In [100]:
data_2008[c].fillna(method='bfill', inplace=True)
data_2008[c].fillna(method='ffill', inplace=True)

In [101]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['            ', '010500103391', '034100105808', '051100116867',
       '105001000566', '105001000876', '105001003387', '105001003395',
       '105001003425', '105001012106',
       ...
       '576001091472', '576622134546', '625214000001', '625269000075',
       '625269000078', '625269000084', '625286000041', '625843000124',
       '625899000017', '818001100015'],
      dtype='object', length=1605)
                917
010500103391     28
034100105808     18
051100116867      5
105001000566     22
105001000876     11
105001003387     13
105001003395     43
105001003425     10
105001012106      8
105001014397     18
105001024571    232
105088000532     12
105088001512     36
105088002993      8
105129000534     43
105376000440      9
105440000131      8
108001003289      6
108001004617      1
111001001538     21
111001009971     20
111001010031     85
111001010251     23
111001010839      9
111001011029      7
111001030856     29
111001034134      2
111001036781     33
111001075515     10
               ...
476130001186     12
476130001208     21
476233002003     11
476248000478     79
476248000648      5
476248000877      5
476248032012     33
476520003791     16
476520003813     20
476520006324      4
476520007207     86
476892001183     10
476892099710     17
476892099728      5
476895000382     32
519001000002     25
525899000016     34
541548000100      7
552356000068     26
568001009690     37
576001091472     27
576622134546     18
625214000001     20
625269000075     17
625269000078     54
625269000084      7
625286000041     75
625843000124      2
625899000017     28
818001100015      9
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [102]:
data_2008[c] = data_2008[c].replace('            ', np.nan)

In [103]:
data_2008[c].fillna(method='bfill', inplace=True)
data_2008[c].fillna(method='ffill', inplace=True)

In [104]:
c = 'COLE_NOMBRE_SEDE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index([' COL FUND STA ISABEL DE HUNGRIA', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' FUND COL PAR SAN PEDRO CLAVER',
       '07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM',
       '20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO',
       '28/01 INSTITUCIÓN EDUCATIVA SANTA FE',
       '32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI',
       '38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO',
       '41/01 INSTITUCION EDUCATIVA VILLA DEL SUR',
       '44/01 INSTITUCIÓN EDUCATIVA COMERCIAL CIUDAD DE CALI',
       ...
       'SUSANA LOPEZ DE VALENCIA', 'TABLONES',
       'TECNOLÓGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB',
       'TERESA CALDERÓN DE LASSO',
       'TÉCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL',
       'UNAD UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA',
       'UNIDAD TECNOLOGICA DE OCCIDENTE',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA', 'VERNOT SCHOOL',
       'XINSTITUTO TECNICO COMERCIAL PILOTO'],
      dtype='object', length=1619)
 COL FUND STA ISABEL DE HUNGRIA                                                                         318
 ESCUELA URBANA JOSE ANTONIO GALAN                                                                       18
 FUND COL PAR SAN PEDRO CLAVER                                                                           71
07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM                                                           552
20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO                                                            106
28/01 INSTITUCIÓN EDUCATIVA SANTA FE                                                                     91
32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI                                            222
38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO                                                     109
41/01 INSTITUCION EDUCATIVA VILLA DEL SUR                                                               128
44/01 INSTITUCIÓN EDUCATIVA COMERCIAL CIUDAD DE CALI                                                    234
58/01 INSTITUCION EDUCATIVA GABRIELA MISTRAL                                                            117
69/01 INSTITUCION EDUCATIVA LA ESPERANZA                                                                 31
74/01 INSTITUCION EDUCATIVA JUANA DE CAICEDO Y CUERO                                                     64
80/01 INSTITUCIÓN EDUCATIVA PANCE                                                                        21
81/02 INSTITUCION EDUCATIVA LA BUITRERA JOSE MARIA GARCIA DE TOLED                                       42
84/04  JOSE HOLGUIN GARCES                                                                               13
85/02 SAT JOSE HOLGUIN GARCES                                                                            19
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                                                    9
ABSALON TORRES CAMACHO                                                                                  135
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                                    24
ACAD CENTRAL DE SISTEMAS ACSI                                                                            19
ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO                                                                   19
ACADEMIA ACADEMIA SAM                                                                                    14
ACADEMIA COLOMBIANA DE ENSEÑANZA                                                                         19
ACADEMIA COMERCIAL REAL                                                                                  30
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                                                25
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                                                               14
ACADEMIA MILITAR GENERAL CUSTODIO GARCIA ROVIRA                                                          23
ACADEMIA MILITAR GENERAL JOSÉ MARÍA CABAL                                                                31
AGRICOLA CAMPOALEGRE                                                                                     38
                                                                                                       ...
SEDE PRINCIPAL AGUACLARA                                                                                 54
SEDE PRINCIPAL CONCENTRACIÓN DE DESARROLLO RURAL                                                         34
SEDE PRINCIPAL GIMNASIO DEL PACIFICO CENTRAL                                                            276
SEDE PRINCIPAL INSTITUTO JULIA RESTREPO                                                                 320
SEDE PRINCIPAL INSTITUTO TEC.  INDUSTRIAL C.S.L.                                                        192
SEDE PRINCIPAL LA GRACIELA                                                                              134
SEDE PRINCIPAL LICEO MODERNO                                                                            170
SEDE PRINCIPAL NO. 7 MARIA ANTONIA RUIZ                                                                  73
SEDE PRINCIPAL UNIDAD DOCENTE JOVITA SANTA COLOMA                                                        48
SEM DE CRISTO SACERDOTE                                                                                  39
SEMILLA DE LA ESPERANZA                                                                                  31
SEMINARIO MENOR ARQUIDIOCESANO                                                                           67
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                                                                 91
SEVILLA                                                                                                 184
SIMON BOLIVAR                                                                                           148
SIMON RODRIGUEZ                                                                                          54
SIXTO MARIA ROJAS                                                                                        39
SOC ESCUELA KARL C PARRISH                                                                               43
SOR MARIA JULIANA                                                                                       129
STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION                                               122
SUSANA LOPEZ DE VALENCIA                                                                                 60
TABLONES                                                                                                 29
TECNOLÓGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB                                            20
TERESA CALDERÓN DE LASSO                                                                                 25
TÉCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL                                               185
UNAD UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                           5
UNIDAD TECNOLOGICA DE OCCIDENTE                                                                           7
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                               34
VERNOT SCHOOL                                                                                             6
XINSTITUTO TECNICO COMERCIAL PILOTO                                                                       4
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [105]:
data_2008 = data_2008.drop([c], axis=1)

In [106]:
c = 'COLE_CALENDARIO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['A', 'B', 'F'], dtype='object')
A    40714
B    13162
F    14977
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [107]:
c = 'COLE_GENERO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4010
M     1176
X    63667
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [108]:
c = 'COLE_NATURALEZA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['N', 'O'], dtype='object')
N    30874
O    37979
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [109]:
c = 'COLE_BILINGUE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    59244
1     3951
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 5658
__________________
Elementos diferentes de null/NaN: 63195
__________________
(63195,)
None

In [110]:
Do_resamples(data_2008, c, float)

cant null antes: 5658
cant null despues: 0

In [111]:
c = 'COLE_JORNADA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    10255
MAÑANA                  41107
NOCHE                    6215
SABATINA - DOMINICAL     4036
TARDE                    7240
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [112]:
c = 'COLE_CARACTER'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              37340
ACADEMICO Y TECNICO    11352
NORMALISTA              1419
TECNICO                18742
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [113]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO', 'APARTADO', 'ARAUCA',
       'ARMENIA', 'BARBACOAS', 'BARRANCABERMEJA', 'BARRANQUILLA',
       ...
       'TUMACO', 'TUNJA', 'TUQUERRES', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=112)
ALBANIA                      60
ALCALA                      155
ANDALUCIA                   186
ANSERMANUEVO                129
APARTADO                    158
ARAUCA                       36
ARMENIA                     145
BARBACOAS                   153
BARRANCABERMEJA               4
BARRANQUILLA                712
BELLO                       473
BOGOTÁ D.C.                6260
BOLIVAR                     105
BUCARAMANGA                 499
BUENAVENTURA               2396
BUESACO                     207
BUGA                       1561
BUGALAGRANDE                249
CAICEDONIA                  277
CALI                      20818
CALIMA (DARIEN)             167
CANDELARIA                  652
CARTAGENA                   197
CARTAGO                    1608
CAUCASIA                     37
CHAPARRAL                    60
CHIA                        285
CONSACA                      75
CUCUTA                       87
CUMBAL                      328
                          ...
RIONEGRO                     74
ROLDANILLO                  571
SAMANIEGO                   263
SAN GIL                      10
SAN PABLO                   180
SANDONA                     289
SANTA MARTA                  90
SANTA ROSA DE OSOS          169
SANTANDER DE QUILICHAO      114
SEVILLA                     394
SILVIA                        4
SINCELEJO                     7
SOACHA                      248
SOGAMOSO                     88
TAME                         14
TAMINANGO                   234
TANGUA                       48
TORO                        180
TRUJILLO                    229
TULUA                      2574
TUMACO                       63
TUNJA                       143
TUQUERRES                   469
VALLEDUPAR                  175
VELEZ                        13
VILLAVICENCIO               274
YOPAL                       186
YUMBO                      1222
ZARZAL                      459
ZIPAQUIRA                   142
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [114]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3044
ARAUCA                50
ATLÁNTICO            712
BOGOTÁ              6260
BOLÍVAR              212
BOYACÁ               231
CALDAS               492
CAQUETÁ              118
CASANARE             187
CAUCA               1113
CESAR                175
CHOCÓ                  1
CUNDINAMARCA         981
CÓRDOBA               77
GUAINÍA               13
HUILA                272
LA GUAJIRA            92
MAGDALENA             90
META                 281
NARIÑO             11432
NORTE SANTANDER       99
PUTUMAYO             114
QUINDÍO              145
RISARALDA            262
SANTANDER            526
SUCRE                  7
TOLIMA               352
VALLE              41515
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [115]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['EXAMEN DE ESTADO 2008-1'], dtype='object')
EXAMEN DE ESTADO 2008-1    68853
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [116]:
data_2008 = data_2008.drop([c], axis=1)

In [117]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     10
1     19
2     22
3    198
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 68604
__________________
Elementos diferentes de null/NaN: 249
__________________
(249,)
None

In [118]:
data_2008 = data_2008.drop([c], axis=1)

In [119]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  9.0, 11.0, 12.0, 13.0,
              18.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 27.0, 28.0, 29.0, 30.0,
              31.0, 32.0, 33.0, 34.0, 35.0, 40.0, 41.0, 42.0, 45.0, 46.0, 47.0,
              48.0, 56.0, 57.0, 58.0, 59.0, 61.0, 62.0, 64.0, 66.0, 70.0,
              99.0],
             dtype='float64')
1      4
2      2
3      5
4      1
5      1
6      4
7     13
9     15
11     3
12    10
13     5
18     7
20     1
21     3
22     6
23     5
24     2
25     4
27    24
28     1
29     9
30     5
31     4
32     3
33     2
34     1
35     2
40     1
41    10
42     3
45    21
46     1
47     1
48     2
56     3
57     8
58     3
59    13
61     8
62     4
64     5
66     7
70     1
99     6
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 68614
__________________
Elementos diferentes de null/NaN: 239
__________________
(239,)
None

In [120]:
Do_resamples(data_2008, c, float)

cant null antes: 68614
cant null despues: 5
cant null antes: 5
cant null despues: 0

In [121]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1110.0, 1111.0,
              ...
              9102.0, 9103.0, 9104.0, 9105.0, 9109.0, 9110.0, 9111.0, 9112.0,
              9114.0, 9115.0],
             dtype='float64', length=162)
1101    295
1102     22
1103     35
1104     17
1105      5
1106     12
1107      1
1108      2
1110    146
1111     31
1112     36
1114     18
1115      4
1117      4
1118      1
1119     12
1122      3
1201     70
1203    814
1204     19
1205      2
1206    625
1207     10
1208     14
1209      2
1212      4
1213      1
1214      3
1215      1
1218      1
       ...
3902      4
4101      1
4108      1
4112      1
4701      4
4803      1
4806      1
4808      3
4809      2
4811      5
4812      1
4813      4
4814      2
4822      1
4823      3
4825      1
4827      1
4828      1
4835      2
9101      5
9102      2
9103     25
9104      8
9105      3
9109      1
9110     15
9111     11
9112      3
9114      1
9115      2
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 65258
__________________
Elementos diferentes de null/NaN: 3595
__________________
(3595,)
None

In [122]:
data_2008[c].fillna(method='bfill', inplace=True)
data_2008[c].fillna(method='ffill', inplace=True)

In [123]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['ARMENIA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.', 'BUCARAMANGA',
       'BUENAVENTURA', 'BUGA', 'CALI', 'CARTAGENA', 'CHIA', 'CUCUTA',
       'DUITAMA', 'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE',
       'MADRID', 'MANIZALES', 'MEDELLIN', 'MOCOA', 'NEIVA', 'NILO', 'PALMIRA',
       'PAMPLONA', 'PASTO', 'PENSILVANIA', 'PEREIRA', 'POPAYAN', 'QUIBDO',
       'RIOHACHA', 'ROLDANILLO', 'SAN GIL', 'SANTA MARTA',
       'SANTAFÉ DE ANTIOQUIA', 'SOGAMOSO', 'TULUA', 'TUNJA', 'TURBO',
       'VILLAVICENCIO'],
      dtype='object')
ARMENIA                   17
BARRANQUILLA               9
BELLO                      2
BOGOTÁ D.C.             1100
BUCARAMANGA               34
BUENAVENTURA               3
BUGA                       2
CALI                    1143
CARTAGENA                  8
CHIA                      32
CUCUTA                     3
DUITAMA                    1
FLORENCIA                  4
FUSAGASUGA                 3
GIRARDOT                   1
HONDA                      1
IBAGUE                    12
MADRID                     3
MANIZALES                105
MEDELLIN                 162
MOCOA                      1
NEIVA                     19
NILO                       4
PALMIRA                   20
PAMPLONA                   4
PASTO                    654
PENSILVANIA                1
PEREIRA                   40
POPAYAN                  149
QUIBDO                     1
RIOHACHA                   1
ROLDANILLO                 1
SAN GIL                    1
SANTA MARTA                1
SANTAFÉ DE ANTIOQUIA       1
SOGAMOSO                   2
TULUA                     22
TUNJA                     14
TURBO                      1
VILLAVICENCIO             13
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 65258
__________________
Elementos diferentes de null/NaN: 3595
__________________
(3595,)
None

In [124]:
Do_resamples(data_2008, c, str)

cant null antes: 65258
cant null despues: 3
cant null antes: 3
cant null despues: 0

In [125]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['ANTIOQUIA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ', 'CALDAS',
       'CAQUETÁ', 'CAUCA', 'CHOCÓ', 'CUNDINAMARCA', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SANTANDER', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           166
ATLÁNTICO             9
BOGOTÁ             1100
BOLÍVAR               8
BOYACÁ               17
CALDAS              106
CAQUETÁ               4
CAUCA               149
CHOCÓ                 1
CUNDINAMARCA         43
HUILA                19
LA GUAJIRA            1
MAGDALENA             1
META                 13
NARIÑO              654
NORTE SANTANDER       7
PUTUMAYO              1
QUINDÍO              17
RISARALDA            40
SANTANDER            35
TOLIMA               13
VALLE              1191
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 65258
__________________
Elementos diferentes de null/NaN: 3595
__________________
(3595,)
None

In [126]:
Do_resamples(data_2008, c, str)

cant null antes: 65258
cant null despues: 0

In [127]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1      61
2     323
3    2176
4     286
5     221
6     220
7      80
8     228
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 65258
__________________
Elementos diferentes de null/NaN: 3595
__________________
(3595,)
None

In [128]:
Do_resamples(data_2008, c, float)

cant null antes: 65258
cant null despues: 0

In [129]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([   74.0,   108.0,   109.0,   116.0,   122.0,   152.0,   171.0,
                413.0,   460.0,   621.0,
              ...
              22594.0, 22658.0, 22662.0, 22680.0, 22683.0, 22803.0, 22901.0,
              22941.0, 22970.0, 24642.0],
             dtype='float64', length=701)
74        1
108       1
109       1
116       2
122       1
152       1
171       1
413       1
460       1
621       1
865       1
1774      1
1797      1
1807      1
1810      2
1815      1
1820      1
1847      1
1848      2
1867      1
1868      2
1869      1
1870      3
1882     10
1883      2
1891     11
1966      2
1973      1
1985      3
1998      1
         ..
21798     3
21799     4
21800     3
21805     1
21807     1
21809     1
22043     3
22046     3
22047     7
22049     7
22050     5
22051     3
22052     6
22053     6
22090     1
22408     1
22435     1
22441     1
22468     1
22588     1
22594     1
22658     1
22662     1
22680     1
22683     1
22803     1
22901     1
22941     2
22970     1
24642     2
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 65611
__________________
Elementos diferentes de null/NaN: 3242
__________________
(3242,)
None

In [130]:
Do_resamples(data_2008, c, float)

cant null antes: 65611
cant null despues: 124
cant null antes: 124
cant null despues: 0

In [131]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1     973
2    1557
3     631
4     186
5     204
6      39
7      25
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 65238
__________________
Elementos diferentes de null/NaN: 3615
__________________
(3615,)
None

In [132]:
Do_resamples(data_2008, c, float)

cant null antes: 65238
cant null despues: 1
cant null antes: 1
cant null despues: 0

## TARGETS

In [133]:
c = 'PUNT_LENGUAJE'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '15,44', '15,62', '23,72', '23,92', '28,98', '29,22', '33,01',
       '33,27', '36,36', '36,65', '39,29', '39,6', '41,94', '42,26', '44,39',
       '44,72', '46,7', '47,04', '48,93', '49,27', '51,1', '51,43', '53,24',
       '53,57', '55,39', '55,7', '57,57', '57,87', '59,82', '60,1', '62,18',
       '62,45', '64,72', '64,95', '67,5', '67,71', '70,67', '70,86', '74,49',
       '74,64', '79,49', '79,61', '87,44', '87,53'],
      dtype='object')
0          18
15,44      32
15,62      42
23,72     138
23,92     169
28,98     426
29,22     469
33,01     931
33,27    1095
36,36    1714
36,65    1759
39,29    2383
39,6     2568
41,94    3159
42,26    3280
44,39    3732
44,72    3697
46,7     3891
47,04    3977
48,93    3782
49,27    3844
51,1     3575
51,43    3395
53,24    3088
53,57    2869
55,39    2473
55,7     2422
57,57    1846
57,87    1819
59,82    1290
60,1     1176
62,18     859
62,45     801
64,72     563
64,95     505
67,5      312
67,71     323
70,67     148
70,86     144
74,49      50
74,64      61
79,49      12
79,61      12
87,44       1
87,53       3
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [134]:
clean_target(data_2008, c)

In [136]:
c = 'PUNT_MATEMATICAS'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '111,01', '111,02', '16,1', '16,39', '22,63', '22,94', '27,61',
       '27,92', '31,75', '32,05', '35,35', '35,65', '38,62', '38,91', '41,64',
       '41,92', '44,5', '44,76', '47,26', '47,5', '49,95', '5,81', '50,18',
       '52,61', '52,82', '55,29', '55,48', '58,01', '58,18', '6,08', '60,82',
       '60,97', '63,78', '63,9', '66,94', '67,05', '70,42', '70,5', '74,38',
       '74,44', '79,12', '79,16', '85,32', '85,34', '95,12'],
      dtype='object')
0           18
111,01      18
111,02      27
16,1       217
16,39      244
22,63      685
22,94      727
27,61     1420
27,92     1437
31,75     2361
32,05     2434
35,35     3335
35,65     3176
38,62     3883
38,91     3805
41,64     4000
41,92     4032
44,5      3803
44,76     3812
47,26     3356
47,5      3429
49,95     2826
5,81        50
50,18     2830
52,61     2209
52,82     2149
55,29     1570
55,48     1674
58,01     1262
58,18     1170
6,08        66
60,82      938
60,97      889
63,78      722
63,9       701
66,94      568
67,05      522
70,42      401
70,5       447
74,38      319
74,44      356
79,12      234
79,16      236
85,32      151
85,34      156
95,12      188
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [137]:
clean_target(data_2008, c)

In [138]:
c = 'PUNT_C_SOCIALES'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '13,87', '13,93', '19,69', '19,72', '24,08', '24,09', '27,67',
       '27,69', '30,78', '30,83', '33,56', '33,63', '36,11', '36,21', '38,49',
       '38,61', '4,53', '4,62', '40,74', '40,9', '42,9', '43,08', '45', '45,2',
       '47,04', '47,26', '49,06', '49,3', '51,06', '51,31', '53,06', '53,33',
       '55,08', '55,36', '57,13', '57,42', '59,23', '59,52', '61,4', '61,69',
       '63,66', '63,95', '66,05', '66,33', '68,61', '68,88', '71,4', '71,65',
       '74,51', '74,74', '78,11'],
      dtype='object')
0           2
13,87      22
13,93      19
19,69      68
19,72      81
24,08     202
24,09     266
27,67     601
27,69     511
30,78    1119
30,83     981
33,56    1796
33,63    1547
36,11    2647
36,21    2195
38,49    3367
38,61    2820
4,53        1
4,62        1
40,74    3743
40,9     3260
42,9     4038
43,08    3451
45       3973
45,2     3345
47,04    3657
47,26    3190
49,06    3083
49,3     2719
51,06    2708
51,31    2191
53,06    2177
53,33    1734
55,08    1514
55,36    1229
57,13    1101
57,42     807
59,23     731
59,52     501
61,4      438
61,69     283
63,66     245
63,95     162
66,05     102
66,33      91
68,61      65
68,88      27
71,4       24
71,65       9
74,51       7
74,74       1
78,11       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [139]:
clean_target(data_2008, c)

In [140]:
c = 'PUNT_FILOSOFIA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '10,99', '11,06', '20,28', '20,35', '26,18', '26,25', '30,7',
       '30,76', '34,49', '34,54', '37,83', '37,86', '40,89', '40,9', '43,75',
       '43,77', '46,47', '46,52', '49,11', '49,2', '51,72', '51,85', '54,32',
       '54,5', '56,96', '57,18', '59,65', '59,93', '62,45', '62,79', '65,4',
       '65,81', '68,58', '69,05', '72,07', '72,61', '76,05', '76,66', '80,8',
       '81,47', '86,96', '87,7', '97,35'],
      dtype='object')
0          13
10,99      65
11,06      67
20,28     283
20,35     250
26,18     874
26,25     736
30,7     1819
30,76    1605
34,49    3068
34,54    2593
37,83    4161
37,86    3480
40,89    4709
40,9     4122
43,75    4145
43,77    4899
46,47    3718
46,52    4527
49,11    3067
49,2     3824
51,72    2371
51,85    3024
54,32    1785
54,5     2259
56,96    1316
57,18    1552
59,65     837
59,93    1056
62,45     563
62,79     671
65,4      352
65,81     360
68,58     186
69,05     213
72,07      84
72,61      90
76,05      44
76,66      33
80,8       16
81,47      10
86,96       3
87,7        2
97,35       1
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [141]:
clean_target(data_2008, c)

In [142]:
c = 'PUNT_BIOLOGIA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '19,34', '20,17', '26,99', '27,86', '31,79', '32,68', '35,42',
       '36,34', '38,43', '39,36', '41,06', '42', '43,43', '44,37', '45,62',
       '46,57', '47,7', '48,64', '49,7', '50,63', '51,64', '52,56', '53,57',
       '54,46', '55,49', '56,37', '57,44', '58,29', '59,44', '60,27', '61,53',
       '62,33', '63,75', '64,51', '66,14', '66,87', '68,8', '69,49', '71,85',
       '72,49', '75,53', '76,14', '80,39', '80,95', '88,13', '88,64'],
      dtype='object')
0         201
19,34      84
20,17     152
26,99     306
27,86     475
31,79     851
32,68    1230
35,42    1932
36,34    2364
38,43    3092
39,36    3594
41,06    4063
42       4765
43,43    4780
44,37    4792
45,62    4779
46,57    4500
47,7     4058
48,64    3603
49,7     3280
50,63    2776
51,64    2347
52,56    1971
53,57    1575
54,46    1339
55,49    1122
56,37     920
57,44     677
58,29     654
59,44     460
60,27     378
61,53     344
62,33     287
63,75     203
64,51     242
66,14     145
66,87     139
68,8      111
69,49      73
71,85      59
72,49      51
75,53      27
76,14      25
80,39      13
80,95       6
88,13       4
88,64       4
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [143]:
clean_target(data_2008, c)

In [144]:
c = 'PUNT_QUIMICA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '17,47', '17,57', '18,16', '24,28', '24,38', '25,01', '28,51',
       '28,61', '29,27', '31,7', '31,79', '32,49', '34,32', '34,41', '35,15',
       '36,6', '36,68', '37,46', '38,65', '38,72', '39,55', '40,54', '40,6',
       '41,48', '42,33', '42,38', '43,31', '44,04', '44,08', '45,07', '45,71',
       '45,74', '46,8', '47,36', '47,37', '48,52', '49', '49,01', '50,24',
       '50,66', '50,68', '52,01', '52,36', '52,4', '53,85', '54,13', '54,2',
       '55,79', '56,01', '56,1', '57,89', '58,05', '58,17', '60,21', '60,31',
       '60,46', '62,88', '62,92', '63,1', '66,09', '66,11', '66,31', '70,3',
       '70,38', '70,56', '77,07', '77,23', '77,39', '88,28', '88,48', '88,63'],
      dtype='object')
0          13
17,47      13
17,57      42
18,16      21
24,28      56
24,38     111
25,01     102
28,51     175
28,61     362
29,27     269
31,7      400
31,79     879
32,49     602
34,32     726
34,41    1573
35,15    1038
36,6     1153
36,68    2415
37,46    1407
38,65    1494
38,72    2992
39,55    1792
40,54    1711
40,6     3490
41,48    1886
42,33    1758
42,38    3513
43,31    1886
44,04    1737
44,08    3498
         ...
52,01     799
52,36    1549
52,4      796
53,85     629
54,13    1202
54,2      681
55,79     486
56,01     992
56,1      484
57,89     344
58,05     709
58,17     355
60,21     254
60,31     524
60,46     237
62,88     175
62,92     290
63,1      146
66,09     185
66,11     110
66,31     106
70,3      100
70,38      45
70,56      55
77,07      33
77,23      16
77,39      15
88,28      10
88,48       5
88,63      10
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [145]:
clean_target(data_2008, c)

In [146]:
c = 'PUNT_FISICA'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '102,82', '12,71', '13,22', '22,57', '23,01', '28,74', '29,13',
       '33,42', '33,75', '37,29', '37,58', '40,67', '40,91', '43,72', '43,91',
       '46,55', '46,7', '49,23', '49,33', '51,8', '51,86', '54,31', '54,33',
       '56,78', '56,8', '59,23', '59,29', '61,71', '61,82', '64,28', '64,43',
       '66,96', '67,15', '69,81', '70,06', '72,9', '73,22', '76,34', '76,74',
       '80,32', '80,82', '85,16', '85,79', '91,55', '92,37'],
      dtype='object')
0           73
102,82       1
12,71       70
13,22      107
22,57      332
23,01      414
28,74     1079
29,13     1389
33,42     2444
33,75     2650
37,29     4106
37,58     4244
40,67     5355
40,91     5487
43,72     5860
43,91     5684
46,55     5042
46,7      4943
49,23     3778
49,33     3697
51,8      2574
51,86     2367
54,31     1579
54,33     1418
56,78      901
56,8       908
59,23      477
59,29      538
61,71      282
61,82      329
64,28      156
64,43      169
66,96       88
67,15       99
69,81       54
70,06       59
72,9        25
73,22       29
76,34       11
76,74       15
80,32        4
80,82        9
85,16        2
85,79        1
91,55        3
92,37        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [147]:
clean_target(data_2008, c)

In [148]:
c = 'PUNT_INGLES'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '10,66', '100', '13,98', '17,17', '20,24', '23,16', '25,94',
       '28,58', '3,67', '31,05', '33,35', '35,47', '37,38', '39,07', '40,5',
       '41,6', '42,2', '43,48', '44,34', '45,2', '46,06', '46,92', '47,79',
       '48,65', '49,51', '50,37', '51,23', '52,09', '53,32', '54,31', '55,3',
       '56,28', '57,27', '58,26', '59,25', '60,23', '61,22', '62,69', '66,91',
       '7,22', '71,12', '75,34', '79,55', '83,41', '91,71'],
      dtype='object')
0          10
10,66       7
100       548
13,98      11
17,17      39
20,24     109
23,16     249
25,94     575
28,58    1070
3,67        2
31,05    1859
33,35    2820
35,47    3786
37,38    4746
39,07    5472
40,5     5847
41,6     5737
42,2     5453
43,48    4697
44,34    3987
45,2     3197
46,06    2471
46,92    1901
47,79    1469
48,65    1194
49,51     922
50,37     779
51,23     683
52,09     574
53,32     507
54,31     484
55,3      479
56,28     428
57,27     425
58,26     392
59,25     411
60,23     451
61,22     477
62,69     459
66,91     539
7,22        3
71,12     614
75,34     647
79,55     720
83,41     837
91,71     766
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [149]:
clean_target(data_2008, c)

In [150]:
c = 'DESEMP_INGLES'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    37795
A1    21874
A2     4054
B+     2151
B1     2979
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [151]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             20159
PROFUNDIZACIÓN EN CIENCIAS SOCIALES    12541
PROFUNDIZACIÓN EN LENGUAJE             24964
PROFUNDIZACIÓN EN MATEMÁTICA           11189
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [152]:
c = 'PUNT_PROFUNDIZACION'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '10', '2,99', '3,15', '3,19', '3,41', '3,8', '3,94', '3,99',
       '4,13', '4,33', '4,45', '4,49', '4,59', '4,74', '4,84', '4,88', '4,95',
       '5,08', '5,18', '5,22', '5,27', '5,4', '5,49', '5,52', '5,56', '5,7',
       '5,78', '5,81', '5,84', '5,99', '6,06', '6,1', '6,12', '6,29', '6,35',
       '6,39', '6,42', '6,6', '6,66', '6,69', '6,73', '6,95', '7', '7,03',
       '7,08', '7,36', '7,4', '7,42', '7,49', '7,88', '7,91', '7,93', '8,01',
       '8,72', '8,8'],
      dtype='object')
0        602
10        17
2,99     948
3,15     700
3,19     640
3,41     788
3,8     2715
3,94    1619
3,99    1580
4,13    1702
4,33    4504
4,45    2296
4,49    2593
4,59    2238
4,74    5500
4,84    2433
4,88    3351
4,95    2076
5,08    4964
5,18    1955
5,22    3216
5,27    1612
5,4     3300
5,49    1417
5,52    2849
5,56    1002
5,7     1696
5,78     886
5,81    2142
5,84     603
5,99     749
6,06     575
6,1     1493
6,12     359
6,29     290
6,35     307
6,39     965
6,42     224
6,6       82
6,66     141
6,69     565
6,73     154
6,95      36
7         52
7,03     338
7,08     103
7,36      14
7,4       12
7,42     201
7,49      68
7,88       4
7,91       3
7,93      81
8,01      47
8,72      19
8,8       27
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [153]:
clean_target(data_2008, c)

In [154]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     31925
I      29196
II      6812
III      920
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [155]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          34043
VIOLENCIA Y SOCIEDAD    34810
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [156]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Index(['0', '22,3', '30,09', '35,09', '39', '42,36', '43,93', '45,41', '46,63',
       '48,31', '48,4', '49,81', '51,04', '51,16', '52,17', '53,26', '54,06',
       '54,35', '55,48', '56,71', '57,11', '58,11', '59,84', '60,48', '62,35',
       '64,39', '69,41', '77,21', '89,75'],
      dtype='object')
0         583
22,3     1478
30,09    3245
35,09    4697
39       5185
42,36    4801
43,93     818
45,41    3809
46,63    2227
48,31    2990
48,4     3933
49,81    5445
51,04    6167
51,16    2262
52,17    5830
53,26    4399
54,06    1785
54,35    2725
55,48    1411
56,71     597
57,11    1385
58,11     193
59,84      72
60,48    1117
62,35      16
64,39     815
69,41     518
77,21     260
89,75      90
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

In [157]:
clean_target(data_2008, c)

In [158]:
c = 'ESTU_PUESTO'
print(data_2008[c].value_counts().sort_index().index)
print(data_2008[c].value_counts().sort_index())
print(missing_data(data_2008[c]))

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            962, 963, 964, 965, 966, 967, 968, 969, 970, 971],
           dtype='int64', length=972)
0        1
1      131
2      127
3      111
4      116
5      118
6      101
7       98
8       94
9       95
10      90
11      97
12      88
13      85
14      95
15      72
16      91
17      86
18      75
19      86
20      89
21      89
22      80
23      87
24      77
25      67
26      86
27      73
28      71
29      72
      ...
942     85
943     82
944     93
945     84
946     95
947     90
948     71
949     92
950     96
951     92
952     88
953     91
954     85
955     99
956     89
957     85
958     89
959     91
960     99
961    100
962     93
963     88
964     92
965     91
966     81
967     76
968     65
969     45
970     18
971      7
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68853
__________________
(68853,)
None

____

____

____

# FILE 2: 2008_2

In [2]:
data_2008_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20082-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (53) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2008_2.shape

(437532, 91)

In [4]:
data_2008_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120082000001,SABER1120082000002,SABER1120082000003
PERIODO,20082,20082,20082
ESTU_TIPO_DOCUMENTO,T,C,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,M
ESTU_NACIMIENTO_DIA,23,1,4
ESTU_NACIMIENTO_MES,3,6,12
ESTU_NACIMIENTO_ANNO,1991,1986,1989
ESTU_EDAD,17,22,18
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,5376,17001,17001
ESTU_RESIDE_MCPIO,LA CEJA,MANIZALES,MANIZALES
ESTU_RESIDE_DEPTO,ANTIOQUIA,CALDAS,CALDAS
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,1,1,2
FAMI_LEE_ESCRIBE_PADRE,1,1,0
FAMI_LEE_ESCRIBE_MADRE,1,1,1
FAMI_EDUCA_PADRE,12,11,9
FAMI_EDUCA_MADRE,14,10,9
FAMI_OCUPA_PADRE,21,14,26
FAMI_OCUPA_MADRE,17,22,22
FAMI_NUM_HERMANOS,1,6,5
FAMI_EDUCA_HERMANO,8,8,2
...,...,...,...
ESTU_VECES_ESTADO,0,0,0
ESTU_COD_MCPIO_PRESENTACION,5376,17001,17001
ESTU_MCPIO_PRESENTACION,LA CEJA,MANIZALES,MANIZALES
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,CALDAS,CALDAS
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES)
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,NaN,NaN,NaN
ESTU_IES_DESEADA_NOMBRE,NaN,NaN,NaN
ESTU_IES_COD_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_DEPT_DESEADA,NaN,NaN,NaN
ESTU_RAZONINSTITUTO,NaN,NaN,NaN
ESTU_CARRDESEADA_COD,NaN,NaN,NaN
ESTU_CARRDESEADA_RAZON,NaN,NaN,NaN
PUNT_LENGUAJE,"42,72","34,68","52,97"
PUNT_MATEMATICAS,"49,77","28,43","28,38"
PUNT_C_SOCIALES,"60,35","41,43","54,06"
PUNT_FILOSOFIA,"51,65","51,25","46,69"
PUNT_BIOLOGIA,"55,8","46,34","53,84"
PUNT_QUIMICA,"52,59","30,34","57,36"
PUNT_FISICA,"52,53","50,09","35,72"
PUNT_INGLES,"35,21","42,2","47,21"
DESEMP_INGLES,A-,A1,A1
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,PROFUNDIZACIÓN EN CIENCIAS SOCIALES
PUNT_PROFUNDIZACION,"5,3","3,5",6
DESEMP_PROFUNDIZACION,I,GB,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"53,13","36,02","53,66"
ESTU_PUESTO,114,723,229

In [5]:
data_2008_2 = data_2008_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_EXAM_NOMBREEXAMEN', 'ESTU_IES_DESEADA_NOMBRE'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['AR', 'BO', 'BR', 'CL', 'CN', 'CO', 'CU', 'DE', 'EC', 'FR', 'GT', 'HN',
       'IL', 'IR', 'JP', 'KM', 'MX', 'PA', 'PE', 'RU', 'US', 'VE'],
      dtype='object')
AR         1
BO         1
BR         1
CL         1
CN         2
CO    437233
CU         4
DE         1
EC         3
FR         1
GT         1
HN         1
IL         1
IR         1
JP         1
KM         1
MX         2
PA         1
PE         6
RU         1
US        11
VE        14
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 243
__________________
Elementos diferentes de null/NaN: 437289
__________________
(437289,)
None

In [7]:
Do_resamples(data_2008_2, c, str)

cant null antes: 243
cant null despues: 0

In [8]:
c = 'ESTU_GENERO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['F', 'M'], dtype='object')
F    237817
M    199530
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 185
__________________
Elementos diferentes de null/NaN: 437347
__________________
(437347,)
None

In [9]:
Do_resamples(data_2008_2, c, str)

cant null antes: 185
cant null despues: 0

In [10]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     14642
2     14319
3     14368
4     14345
5     14515
6     14345
7     14286
8     14347
9     14279
10    14762
11    14304
12    14612
13    14049
14    14457
15    14637
16    14318
17    14355
18    14444
19    14434
20    14797
21    14269
22    14185
23    14405
24    14417
25    14278
26    14268
27    14285
28    14417
29    13356
30    12877
31     7936
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 224
__________________
Elementos diferentes de null/NaN: 437308
__________________
(437308,)
None

In [11]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     35571
2     32434
3     35367
4     34654
5     35710
6     34499
7     36132
8     37186
9     38683
10    38463
11    36286
12    42323
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 224
__________________
Elementos diferentes de null/NaN: 437308
__________________
(437308,)
None

In [12]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1924.0, 1930.0, 1933.0, 1934.0, 1935.0, 1937.0, 1938.0, 1939.0,
              1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0,
              1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0,
              1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0,
              1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0,
              1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0,
              1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2009.0],
             dtype='float64')
1924         2
1930         2
1933         1
1934         2
1935         3
1937         2
1938         4
1939         2
1940         4
1941         2
1942         4
1943         9
1944        12
1945        15
1946         6
1947        12
1948        25
1949        19
1950        24
1951        34
1952        34
1953        57
1954        56
1955        59
1956        82
1957        76
1958       125
1959       132
1960       148
1961       183
         ...
1973       626
1974       657
1975       700
1976       721
1977       810
1978       840
1979      1032
1980      1185
1981      1320
1982      1527
1983      1606
1984      2023
1985      2690
1986      3920
1987      6742
1988     15256
1989     36280
1990     79021
1991    162136
1992    104010
1993      8370
1994       369
1995        95
1996         2
1998        13
1999         2
2000        19
2001         4
2002        14
2009         1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 224
__________________
Elementos diferentes de null/NaN: 437308
__________________
(437308,)
None

In [13]:
for i in data_2008_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2008_2[c] = data_2008_2[c].replace(i, np.nan)
    elif i > 1996:
        data_2008_2[c] = data_2008_2[c].replace(i, np.nan)

In [14]:
anno = data_2008_2[data_2008_2[c].isnull()].index
data_2008_2 = data_2008_2.drop(anno)

In [18]:
c = 'ESTU_EDAD'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              67.0, 68.0, 69.0, 70.0, 72.0, 73.0, 74.0, 75.0, 78.0],
             dtype='float64')
12        26
13       127
14      1333
15     28682
16    163187
17    121084
18     57828
19     25596
20     10732
21      5416
22      3282
23      2417
24      1859
25      1522
26      1484
27      1240
28      1145
29       948
30       831
31       799
32       707
33       681
34       627
35       620
36       529
37       501
38       510
39       460
40       406
41       358
       ...
46       182
47       173
48       149
49       126
50       102
51        82
52        71
53        56
54        57
55        52
56        29
57        30
58        23
59        19
60        24
61         6
62        11
63         9
64        12
65         8
66         4
67         2
68         3
69         4
70         2
72         1
73         2
74         2
75         1
78         2
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 437251
__________________
(437251,)
None

In [19]:
Do_resamples(data_2008_2, c, float)

cant null antes: 2
cant null despues: 0

In [20]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 437253
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [21]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [22]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 437253
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [23]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [24]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 437253
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [25]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [26]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 437253
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [27]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [28]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 437253
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [29]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [30]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 437253
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [31]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [32]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 437253
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [33]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [34]:
c = 'ESTU_ETNIA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     11360
2       602
3      1012
4       201
5        85
6       545
7       151
8       408
9       926
10     2103
11       83
12      154
13       78
14       34
15       84
16       71
17        4
99     7747
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 411605
__________________
Elementos diferentes de null/NaN: 25648
__________________
(25648,)
None

In [35]:
data_2008_2[c].fillna(99, inplace=True)

In [36]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YOTOCO', 'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=978)
ABEJORRAL                    167
ABREGO                        90
ABRIAQUI                      33
ACACIAS                      883
ACANDI                        69
ACEVEDO                      128
ACHI                         137
AGRADO                        86
AGUA DE DIOS                 174
AGUACHICA                    805
AGUADA                        17
AGUADAS                      253
AGUAZUL                      466
AGUSTIN CODAZZI              547
AIPE                         167
ALBAN                         69
ALBANIA                      265
ALCALA                         2
ALEJANDRIA                    54
ALGARROBO                    125
ALGECIRAS                    147
ALMAGUER                      68
ALMEIDA                       28
ALPUJARRA                     54
ALTAMIRA                      42
ALTO BAUDO (PIE DE PATO)      31
ALTOS DEL ROSARIO             74
ALVARADO                      59
AMAGA                        323
AMALFI                       233
                            ...
VILLAHERMOSA                  79
VILLAMARIA                   496
VILLANUEVA                   829
VILLAPINZON                  238
VILLARRICA                    66
VILLAVICENCIO               4946
VILLAVIEJA                    61
VILLETA                      355
VIOTA                        149
VIRACACHA                     31
VISTA HERMOSA                112
VITERBO                      188
YACOPI                       173
YAGUARA                      146
YALI                          79
YARUMAL                      481
YAVARATE                      13
YOLOMBO                      215
YONDO (CASABE)                97
YOPAL                       1693
YOTOCO                         1
YUMBO                        137
ZAMBRANO                      79
ZAPATOCA                     149
ZAPAYAN                       30
ZARAGOZA                     209
ZETAQUIRA                    107
ZIPACON                       63
ZIPAQUIRA                   1319
ZONA BANANERA                621
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 437251
__________________
(437251,)
None

In [37]:
data_2008_2[c].fillna(method='bfill', inplace=True)
data_2008_2[c].fillna(method='ffill', inplace=True)

In [38]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS             703
ANTIOQUIA          66373
ARAUCA              2472
ATLÁNTICO          27064
BOGOTÁ             90229
BOLÍVAR            22444
BOYACÁ             15807
CALDAS             10651
CAQUETÁ             3194
CASANARE            3922
CAUCA               9515
CESAR              10060
CHOCÓ               3671
CUNDINAMARCA       30905
CÓRDOBA            15654
GUAINÍA              146
GUAVIARE             591
HUILA               9758
LA GUAJIRA          6112
MAGDALENA          12934
META                8852
NARIÑO              1860
NORTE SANTANDER    14761
PUTUMAYO            2223
QUINDÍO             6067
RISARALDA           9753
SAN ANDRÉS           751
SANTANDER          23075
SUCRE              10203
TOLIMA             15037
VALLE               1832
VAUPÉS               199
VICHADA              430
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 437248
__________________
(437248,)
None

In [39]:
data_2008_2[c].fillna(method='bfill', inplace=True)
data_2008_2[c].fillna(method='ffill', inplace=True)

In [40]:
c = 'ESTU_ZONA_RESIDE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      18110
2       3016
3      11981
4      40677
5      16040
6       9095
7      10573
8      24687
9      18325
10    284616
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 133
__________________
Elementos diferentes de null/NaN: 437120
__________________
(437120,)
None

In [41]:
Do_resamples(data_2008_2, c, float)

cant null antes: 133
cant null despues: 0

In [42]:
c = 'ESTU_AREA_RESIDE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    348127
2     89107
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 19
__________________
Elementos diferentes de null/NaN: 437234
__________________
(437234,)
None

In [43]:
Do_resamples(data_2008_2, c, float)

cant null antes: 19
cant null despues: 0

In [44]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     19484
1    393954
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 23815
__________________
Elementos diferentes de null/NaN: 413438
__________________
(413438,)
None

In [45]:
Do_resamples(data_2008_2, c, float)

cant null antes: 23815
cant null despues: 0

In [46]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     14070
1    399368
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 23815
__________________
Elementos diferentes de null/NaN: 413438
__________________
(413438,)
None

In [47]:
Do_resamples(data_2008_2, c, float)

cant null antes: 23815
cant null despues: 0

In [48]:
c = 'FAMI_EDUCA_PADRE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0     16375
1         8
2        42
3        21
4        19
5        25
7         3
9     78779
10    84090
11    67297
12    94771
13     5239
14    16875
15     7332
16    36168
17     7889
99    22303
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 437236
__________________
(437236,)
None

In [49]:
Do_resamples(data_2008_2, c, float)

cant null antes: 17
cant null despues: 0

In [50]:
c = 'FAMI_EDUCA_MADRE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      11436
1          3
2         35
3         26
4         24
5         28
6          1
7          1
9      70846
10     84657
11     79073
12    101532
13      7560
14     20485
15      8492
16     33251
17      7880
99     11906
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 437236
__________________
(437236,)
None

In [51]:
Do_resamples(data_2008_2, c, float)

cant null antes: 17
cant null despues: 0

In [52]:
c = 'FAMI_OCUPA_PADRE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0, 13.0,
              14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0,
              25.0, 26.0, 99.0],
             dtype='float64')
1          3
2          1
3          1
4          1
5          5
7         24
9         56
10         2
11         9
12        27
13      7495
14     30332
15      7253
16     11637
17     23167
18     16261
19     72366
20     23127
21    149115
22      4919
23     13432
24      1188
25       265
26     38275
99     38275
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 437236
__________________
(437236,)
None

In [53]:
Do_resamples(data_2008_2, c, float)

cant null antes: 17
cant null despues: 0

In [54]:
c = 'FAMI_OCUPA_MADRE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([ 1.0,  2.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 99.0],
             dtype='float64')
1          1
2          1
4          1
5          5
6          3
7          6
8          1
9         20
10        74
11         3
12        14
13      4324
14     19735
15      3770
16      7139
17     18692
18     17580
19     26510
20      7587
21     48495
22    242448
23      4142
24      1140
25      1042
26     23596
99     10907
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 437236
__________________
(437236,)
None

In [55]:
Do_resamples(data_2008_2, c, float)

cant null antes: 17
cant null despues: 0

In [56]:
c = 'FAMI_NUM_HERMANOS'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0      36829
1      94743
2     113345
3      73189
4      40800
5      23645
6      13671
7       8713
8       5462
9       3600
10      5439
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 17817
__________________
Elementos diferentes de null/NaN: 419436
__________________
(419436,)
None

In [57]:
Do_resamples(data_2008_2, c, float)

cant null antes: 17817
cant null despues: 0

In [58]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1      11801
2      18189
3      52994
4     109950
5      12735
6      21323
7      28135
8      32573
9       2739
88     86229
99      9594
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 50991
__________________
Elementos diferentes de null/NaN: 386262
__________________
(386262,)
None

In [59]:
Do_resamples(data_2008_2, c, float)

cant null antes: 50991
cant null despues: 0

In [60]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1     220077
2      30981
88    131559
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 54636
__________________
Elementos diferentes de null/NaN: 382617
__________________
(382617,)
None

In [61]:
Do_resamples(data_2008_2, c, float)

cant null antes: 54636
cant null despues: 0

In [63]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    141746
2    173398
3     90971
4     18038
5      5660
6      2486
8      2487
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 2467
__________________
Elementos diferentes de null/NaN: 434786
__________________
(434786,)
None

In [65]:
data_2008_2[c] = data_2008_2[c].replace(8.0, np.nan)

In [66]:
Do_resamples(data_2008_2, c, float)

cant null antes: 2487
cant null despues: 0

In [67]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    157936
2    115687
3     21508
4      5662
5    136442
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [68]:
Do_resamples(data_2008_2, c, float)

cant null antes: 18
cant null despues: 0

In [69]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       3321
2      18437
3      61506
4     114905
5     105821
6      60835
7      30775
8      17741
9       8927
10      6160
11      2947
12      5861
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 437236
__________________
(437236,)
None

In [70]:
Do_resamples(data_2008_2, c, float)

cant null antes: 17
cant null despues: 0

In [71]:
c = 'FAMI_PISOSHOGAR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     21220
2    203461
3     21580
4    190510
5       464
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [72]:
Do_resamples(data_2008_2, c, float)

cant null antes: 18
cant null despues: 0

In [73]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1       7239
2      40445
3      94385
4     114882
5      88984
6      44612
7      18630
8       9560
9       4145
10      5534
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 8837
__________________
Elementos diferentes de null/NaN: 428416
__________________
(428416,)
None

In [74]:
Do_resamples(data_2008_2, c, float)

cant null antes: 8837
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [75]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      24774
2     166702
3     169039
4      51876
5      15049
6       5471
7       2033
8       1101
9        474
10       716
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [76]:
Do_resamples(data_2008_2, c, float)

cant null antes: 18
cant null despues: 0

In [77]:
c = 'FAMI_COMPUTADOR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 3.0, 4.0], dtype='float64')
0    270079
1        69
3    151141
4     15946
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [78]:
Do_resamples(data_2008_2, c, float)

cant null antes: 18
cant null despues: 0

In [79]:
c = 'FAMI_TELEVISOR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0     19022
1    253233
2    150363
Name: FAMI_TELEVISOR, dtype: int64
Elementos null/NaN 14635
__________________
Elementos diferentes de null/NaN: 422618
__________________
(422618,)
None

In [80]:
Do_resamples(data_2008_2, c, float)

cant null antes: 14635
cant null despues: 0

In [81]:
c = 'FAMI_DVD'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0    183712
1    221289
2     32234
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [82]:
Do_resamples(data_2008_2, c, float)

cant null antes: 18
cant null despues: 0

In [83]:
c = 'FAMI_AUTOMOVIL'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0    367221
1     59777
2     10237
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [84]:
Do_resamples(data_2008_2, c, float)

cant null antes: 18
cant null despues: 0

In [85]:
c = 'FAMI_MOTOCICLETA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0    340848
1     64331
2      8258
Name: FAMI_MOTOCICLETA, dtype: int64
Elementos null/NaN 23816
__________________
Elementos diferentes de null/NaN: 413437
__________________
(413437,)
None

In [86]:
Do_resamples(data_2008_2, c, float)

cant null antes: 23816
cant null despues: 0

In [87]:
c = 'FAMI_CELULAR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0     31497
1    147533
2    249076
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 9147
__________________
Elementos diferentes de null/NaN: 428106
__________________
(428106,)
None

In [88]:
Do_resamples(data_2008_2, c, float)

cant null antes: 9147
cant null despues: 0

In [89]:
c = 'FAMI_INTERNET'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    342183
1     95052
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [90]:
Do_resamples(data_2008_2, c, float)

cant null antes: 18
cant null despues: 0

In [91]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    206721
1    230514
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [92]:
idx = data_2008_2[data_2008_2[c].isnull()].index
data_2008_2 = data_2008_2.drop(idx)

In [93]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    121719
2    191445
3     71264
4     33387
5     10150
6      4882
7      4388
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [94]:
c = 'ESTU_TRABAJA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    387044
1     36958
2     10305
3      1238
4       515
5       651
6       214
7       135
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 175
__________________
Elementos diferentes de null/NaN: 437060
__________________
(437060,)
None

In [95]:
Do_resamples(data_2008_2, c, float)

cant null antes: 175
cant null despues: 0

In [96]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0       187
1       222
2       627
3       926
4      1771
5      1438
6      1694
7       786
8      4210
9       885
10     2897
11      390
12     2409
13      301
14      628
15     1387
16     1353
17      199
18      933
19      532
20    25799
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 387661
__________________
Elementos diferentes de null/NaN: 49574
__________________
(49574,)
None

In [97]:
Do_resamples(data_2008_2, c, float)

cant null antes: 387661
cant null despues: 0

In [98]:
c = 'COLE_VALOR_PENSION'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0, 4.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
0     284187
1         12
2          3
4          1
8      93609
9      17323
10     12788
11     16105
12     13163
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 44
__________________
Elementos diferentes de null/NaN: 437191
__________________
(437191,)
None

In [99]:
Do_resamples(data_2008_2, c, float)

cant null antes: 44
cant null despues: 0

In [100]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1997.0, 2001.0, 2002.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0],
             dtype='float64')
1989         1
1990         1
1991         1
1992         2
1993         1
1997         1
2001         1
2002         1
2004         3
2005         2
2006         2
2007        22
2008    434295
2009      2786
2010        72
2011         6
2012         4
2013         1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 33
__________________
Elementos diferentes de null/NaN: 437202
__________________
(437202,)
None

In [101]:
Do_resamples(data_2008_2, c, float)

cant null antes: 33
cant null despues: 0

In [102]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      12
1    2525
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 434698
__________________
Elementos diferentes de null/NaN: 2537
__________________
(2537,)
None

In [103]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [104]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([     2.0,      3.0,     18.0,     59.0,     67.0,     75.0,
                  83.0,     91.0,    125.0,    141.0,
              ...
              173260.0, 173609.0, 174730.0, 174755.0, 175166.0, 175562.0,
              175828.0, 176008.0, 176198.0, 999999.0],
             dtype='float64', length=9192)
2            1
3          383
18          22
59        1145
67           1
75          60
83          38
91          85
125         73
141        128
174         71
190         77
208         92
216         33
232         28
240         24
257         25
265         13
273         42
281         68
315        162
349         22
356         21
364         54
372         56
380        112
398         23
406         28
422         14
430        110
          ...
166645       1
166777       4
167205       2
167551       1
168369       1
168500       1
168534       1
169508       1
169607       2
169698       2
169748       1
169904       2
170258       1
170365       2
170449       1
170472       1
170480       3
172478       1
172940       1
173179       1
173260       1
173609       1
174730       1
174755       1
175166       1
175562       1
175828       1
176008       1
176198       1
999999     615
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 730
__________________
Elementos diferentes de null/NaN: 436505
__________________
(436505,)
None

In [105]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [106]:
c = 'COLE_COD_ICFES'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Int64Index([    18,     59,     75,     83,     91,    125,    141,    174,
               190,    208,
            ...
            142364, 142372, 142406, 142414, 142430, 142448, 142463, 142489,
            142539, 142554],
           dtype='int64', length=8820)
18          22
59        1156
75          60
83          38
91          85
125         73
141        128
174         71
190         77
208         92
216         33
232         28
240         22
257         23
265         13
273         42
281         68
315        162
349         23
356         21
364         54
372         57
380        112
398         23
406         28
422         14
430        110
448         23
455         95
463        122
          ...
142042       6
142075      23
142083      16
142109       8
142117      10
142125      49
142133      28
142141      12
142166      15
142190      29
142208      11
142216      63
142240      11
142257      12
142265       8
142273      12
142281      43
142299      23
142315      11
142323      10
142364      12
142372       5
142406      14
142414       8
142430      13
142448      10
142463       1
142489       5
142539      44
142554      16
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [107]:
for i in data_2008_2[c].value_counts().sort_index().index:
    if len(str(i))<4:
        data_2008_2[c] = data_2008_2[c].replace(i, np.nan)

In [108]:
data_2008_2[c].fillna(method='bfill', inplace=True)
data_2008_2[c].fillna(method='ffill', inplace=True)

In [109]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2008_2[c].value_counts().index)
print(data_2008_2[c].value_counts())
print(missing_data(data_2008_2[c]))

Index(['            ',   105001000108, '111001024732', '105001013340',
       '168001003591', '111001019411', '313001006701', '111102000753',
       '354001000027', '166001002339',
       ...
         219760000177, '376109007552',   170215000284,   173001001088,
         111001107069, '273001002844', '173168003562',   166170000256,
         325754001841,   315001002237],
      dtype='object', length=8462)
                1888
105001000108     899
111001024732     852
105001013340     836
168001003591     761
111001019411     656
313001006701     561
111102000753     529
354001000027     505
166001002339     500
111001011819     495
311001105391     482
311001004820     481
368001005488     480
170001000180     479
111001006122     470
173001001053     467
113001000852     463
105154000301     462
113001003274     459
150001000979     453
111001010910     452
105001024073     439
185001000268     437
115001000367     414
154001000079     410
111001010839     402
111279000362     400
111001010031     394
113001002057     393
                ...
105172000220       1
320001067341       1
168264000295       1
113001001972       1
352835000242       1
211850000876       1
411848001058       1
352835004477       1
305001015287       1
117001006180       1
315001000293       1
288001000148       1
305001003521       1
313001008500       1
217873000308       1
173030000066       1
183256000633       1
241306000958       1
283765000671       1
308758001878       1
219760000177       1
376109007552       1
170215000284       1
173001001088       1
111001107069       1
273001002844       1
173168003562       1
166170000256       1
325754001841       1
315001002237       1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [110]:
data_2008_2[c] = data_2008_2[c].replace('            ', np.nan)
for i in data_2008_2[c].value_counts().index:
    if type(i) == str:
        data_2008_2[c] = data_2008_2[c].replace(i, float(i))

In [111]:
data_2008_2[c].fillna(method='bfill', inplace=True)
data_2008_2[c].fillna(method='ffill', inplace=True)

In [112]:
c = 'COLE_NOMBRE_SEDE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index([' COLEGIO MARYLAND', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' I.E. AGRICOLA DE MACANAL - SEDE PRINCIPAL',
       ' I.E. LA CANDELARIA - SEDE PRINCIPAL',
       ' I.E. MARCO AURELIO BERNAL - SEDE PRINCIPAL',
       ' I.E.T. SAN DIEGO DE ALCALA - SEDE PRINCIPAL',
       ' I.E.T. SERGIO CAMARGO - SEDE PRINCIPAL',
       ' IE JUAN PABLO II - SEDE PRINCIPAL', ' IE NTRA SRA DE FATIMA',
       ' INSTITUCION EDUCATIVA DEPARTAMENTAL TAPIAS',
       ...
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA  UNAD - SEDE PRINCIPAL',
       'VALSALICE', 'VENTIUN ANGELES (INST EDUC DIST)', 'VERDE AMAZONICO',
       'VILLA CECILIA SEDE', 'VILLA CORELCA', 'VILLA DE LOS ANDES',
       'VILLALOSADA',
       'ZION SCHOOL                                                 '],
      dtype='object', length=7317)
 COLEGIO MARYLAND                                                                                        12
 ESCUELA URBANA JOSE ANTONIO GALAN                                                                       13
 I.E. AGRICOLA DE MACANAL - SEDE PRINCIPAL                                                               56
 I.E. LA CANDELARIA - SEDE PRINCIPAL                                                                     30
 I.E. MARCO AURELIO BERNAL - SEDE PRINCIPAL                                                             105
 I.E.T. SAN DIEGO DE ALCALA - SEDE PRINCIPAL                                                             23
 I.E.T. SERGIO CAMARGO - SEDE PRINCIPAL                                                                  22
 IE JUAN PABLO II - SEDE PRINCIPAL                                                                        7
 IE NTRA SRA DE FATIMA                                                                                   14
 INSTITUCION EDUCATIVA DEPARTAMENTAL TAPIAS                                                              15
 JOSÉ CELESTINO MUTIS                                                                                    13
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                                    24
ACAD CENTRAL DE SISTEMAS ACSI                                                                            47
ACAD MILIT MARISCAL SUCRE                                                                                66
ACAD MILIT NAL HEROES GRANADINOS                                                                         35
ACAD PANTANO DE VARGAS                                                                                   40
ACAD. MILITAR GRAL. CUSTODIO GARCIA R.                                                                   25
ACADEMIA CIAL DE LOS ANDES                                                                               37
ACADEMIA COLOMBIANA DE ENSEÑANZA                                                                          6
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                                                12
ACADEMIA E INSTITUTO CAMPAÑA LIBERTADORA                                                                  3
ACADEMIA GRAN COLOMBIA                                                                                   46
ACADEMIA GUSTAVO ROJAS PINILLAS                                                                          38
ACADEMIA LA SALLE SAN BENILDO                                                                            85
ACADEMIA LEGION BRITANICA                                                                                16
ACADEMIA MILITAR GENERAL JOSE ANTONIO ANZOATEGUI                                                         23
ACADEMIA MILITAR GRAL TOMAS CIPRIANO DE MOSQUERA                                                         32
ACADEMIA MILITAR JOSE ANTONIO PAEZ                                                                       42
ACADEMIA MILITAR MARISCAL SUCRE                                                                          71
ACADEMIA POLITECNICA INTERACTIVA - SEDE PRINCIPAL                                                         6
                                                                                                       ...
TÉCNICO INDUSTRIAL RAFAEL POMBO                                                                         203
U. EDUCATIVA FELICIDAD BARRIOS H.                                                                         8
UNAD  BACHILLERATO DIVERSIFICADO A DISTANCIA PARA ADULTOS                                               128
UNAD UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                           2
UNID EDUC BAHIA SOLANO                                                                                   32
UNID EDUC JEAN PIAGET                                                                                    69
UNID EDUC PRADOS DE ALAMEDA                                                                              16
UNID EDUC SAN ANTONIO DEL ARIARI                                                                         51
UNID PEDAGOGICA BILINGÜE PIERRE DE FERMAT                                                                29
UNIDAD BASICA LAGUNA                                                                                      9
UNIDAD BASICA RURAL SOATAMA                                                                               8
UNIDAD EDUCATIVA                                                                                         26
UNIDAD EDUCATIVA CABUYARO                                                                                38
UNIDAD EDUCATIVA SAN MARCOS                                                                             148
UNIDAD EDUCATIVA SANTA TERESA DE PACHAQUIARO                                                             25
UNIDAD EDUCATIVA TECNICO AGROPECURIO                                                                     45
UNIDAD EDUCATIVA URBANA                                                                                  40
UNIDAD TECNOLOGICA DE OCCIDENTE                                                                           8
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                                                     4
UNION SINDICAL OBRERA  USO                                                                               32
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                              169
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA  UNAD - SEDE PRINCIPAL                                       257
VALSALICE                                                                                                59
VENTIUN ANGELES (INST EDUC DIST)                                                                         94
VERDE AMAZONICO                                                                                          19
VILLA CECILIA SEDE                                                                                       15
VILLA CORELCA                                                                                            24
VILLA DE LOS ANDES                                                                                       45
VILLALOSADA                                                                                              11
ZION SCHOOL                                                                                              12
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [113]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [114]:
c = 'COLE_CALENDARIO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    381412
B       275
F     55548
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [115]:
c = 'COLE_GENERO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     25320
M      6493
X    405422
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [116]:
c = 'COLE_NATURALEZA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['N', 'O'], dtype='object')
N    112159
O    325076
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [117]:
c = 'COLE_BILINGUE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    395907
1      3191
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 38137
__________________
Elementos diferentes de null/NaN: 399098
__________________
(399098,)
None

In [118]:
Do_resamples(data_2008_2, c, float)

cant null antes: 38137
cant null despues: 0

In [119]:
c = 'COLE_JORNADA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     89167
MAÑANA                  220359
NOCHE                    29041
SABATINA - DOMINICAL     15520
TARDE                    83148
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [120]:
c = 'COLE_CARACTER'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              268429
ACADEMICO Y TECNICO     82438
DESCONOCIDO               234
NORMALISTA              10663
TECNICO                 75471
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [121]:
c = 'ESTU_VECES_ESTADO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    396862
1     33325
2      5512
3      1500
4         4
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 32
__________________
Elementos diferentes de null/NaN: 437203
__________________
(437203,)
None

In [122]:
Do_resamples(data_2008_2, c, float)

cant null antes: 32
cant null despues: 0

In [123]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=370)
ABEJORRAL                     176
ABREGO                         90
ACACIAS                      1114
ACANDI                         72
ACHI                          187
AGUACHICA                    1041
AGUADAS                       255
AGUAZUL                       464
AGUSTIN CODAZZI               554
AIPE                          168
ALTO BAUDO (PIE DE PATO)       24
AMAGA                         753
AMALFI                        348
ANDES                         685
ANOLAIMA                      206
ANSERMA                       682
APARTADO                     2064
APIA                          155
ARACATACA                     334
ARAUCA                        958
ARAUQUITA                     260
ARBELAEZ                      258
ARBOLEDAS                     137
ARBOLETES                     338
ARIGUANI (EL DIFICIL)         313
ARJONA                        810
ARMENIA                      4186
ASTREA                        221
ATRATO (YUTO)                 116
AYAPEL                        407
                             ...
TUNJA                        3869
TURBACO                       953
TURBO                        1100
TURMEQUE                      191
TUTA                           90
UBATE                        1045
UNGUIA                         94
URRAO                         503
VALLEDUPAR                   4804
VALPARAISO                    175
VEGACHI                       204
VELEZ                         584
VENADILLO                     202
VENTAQUEMADA                  142
VIGIA DEL FUERTE               88
VILLA DE LEYVA                305
VILLA DEL ROSARIO             758
VILLA GUAMEZ (LA HORMIGA)     404
VILLAGARZON                   113
VILLANUEVA                    838
VILLAVICENCIO                5650
VILLETA                       726
VIOTA                         111
YARUMAL                       687
YAVARATE                       24
YOLOMBO                       206
YOPAL                        1875
ZAPATOCA                      167
ZARAGOZA                      195
ZIPAQUIRA                    2550
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [124]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS             678
ANTIOQUIA          66036
ARAUCA              2577
ATLÁNTICO          27708
BOGOTÁ             90430
BOLÍVAR            21943
BOYACÁ             16380
CALDAS             11074
CAQUETÁ             3201
CASANARE            3948
CAUCA               9533
CESAR              10224
CHOCÓ               3680
CUNDINAMARCA       29639
CÓRDOBA            15710
GUAINÍA              148
GUAVIARE             632
HUILA               9868
LA GUAJIRA          6117
MAGDALENA          12628
META                8994
NARIÑO              1823
NORTE SANTANDER    14856
PUTUMAYO            2315
QUINDÍO             6062
RISARALDA           9724
SAN ANDRÉS           757
SANTANDER          23279
SUCRE              10173
TOLIMA             14764
VALLE               1692
VAUPÉS               202
VICHADA              440
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [125]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     38
1     68
2     46
3    405
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 436678
__________________
Elementos diferentes de null/NaN: 557
__________________
(557,)
None

In [126]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [127]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               11.0,  12.0,  13.0,  18.0,  19.0,  20.0,  21.0,  22.0,  23.0,
               24.0,  25.0,  26.0,  27.0,  28.0,  29.0,  30.0,  31.0,  32.0,
               33.0,  34.0,  35.0,  36.0,  37.0,  40.0,  41.0,  42.0,  44.0,
               45.0,  46.0,  47.0,  48.0,  50.0,  53.0,  55.0,  56.0,  57.0,
               58.0,  59.0,  61.0,  62.0,  64.0,  66.0,  68.0,  69.0,  70.0,
               99.0, 179.0],
             dtype='float64')
1      12
2       4
3       4
4       4
5       2
6       3
7      26
8       5
9      47
11     16
12     12
13     14
18     13
19      3
20     10
21      8
22      5
23      6
24      3
25      9
26      3
27     35
28      4
29     20
30     14
31     11
32      4
33      3
34      3
35      2
36      3
37      1
40      3
41     24
42      1
44      1
45     36
46      4
47     10
48      3
50      3
53      2
55      1
56      6
57     12
58     12
59     28
61      9
62      1
64      9
66     13
68      7
69      7
70      2
99     15
179     1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 436716
__________________
Elementos diferentes de null/NaN: 519
__________________
(519,)
None

In [128]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [129]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1109.0, 1110.0,
              ...
              9101.0, 9102.0, 9103.0, 9104.0, 9105.0, 9107.0, 9110.0, 9111.0,
              9112.0, 9114.0],
             dtype='float64', length=255)
1101    1011
1102      28
1103      22
1104       4
1105      57
1106      88
1107       1
1108      14
1109       5
1110     236
1111      63
1112      71
1113      28
1114     373
1115      36
1117      27
1118       4
1119      36
1120      12
1121       9
1123       3
1125       1
1201     168
1202      20
1203     125
1204     305
1205      54
1206      29
1207      89
1208      68
        ...
4804       3
4805       5
4806       6
4808       3
4809       1
4810       7
4811       2
4812       1
4813      11
4814       1
4822       2
4825       3
4826       2
4827       5
4828       1
4832       1
4835       3
4838       4
5801       1
5802       3
9101      18
9102      11
9103      30
9104      45
9105       8
9107       2
9110     104
9111       3
9112       9
9114       8
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 432194
__________________
Elementos diferentes de null/NaN: 5041
__________________
(5041,)
None

In [130]:
Do_resamples(data_2008_2, c, float)

cant null antes: 432194
cant null despues: 6
cant null antes: 6
cant null despues: 0

In [131]:
c = 'ESTU_IES_COD_MPIO_DESEADA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([ 5001.0,  5034.0,  5042.0,  5088.0,  5129.0,  5148.0,  5154.0,
               5615.0,  5631.0,  8001.0, 11001.0, 13001.0, 15001.0, 15176.0,
              15238.0, 15759.0, 17001.0, 17541.0, 18001.0, 19001.0, 20001.0,
              20011.0, 23001.0, 25175.0, 25269.0, 25290.0, 25307.0, 25430.0,
              25488.0, 25843.0, 27001.0, 41001.0, 44001.0, 47001.0, 50001.0,
              52001.0, 54001.0, 54498.0, 54518.0, 63001.0, 66001.0, 66682.0,
              68001.0, 68081.0, 68679.0, 68755.0, 70001.0, 70820.0, 73001.0,
              73349.0, 76001.0, 76147.0, 76520.0, 76736.0, 76834.0, 85001.0,
              86001.0, 86749.0, 88001.0, 91001.0],
             dtype='float64')
5001      334
5034        2
5042        1
5088        4
5129        1
5148        1
5154        3
5615        2
5631        2
8001       52
11001    2262
13001      93
15001     111
15176       5
15238       1
15759      14
17001     132
17541       1
18001      36
19001     257
20001      12
20011       3
23001      36
25175      48
25269       1
25290      25
25307       3
25430      14
25488       7
25843       1
27001       4
41001     381
44001      11
47001      38
50001      41
52001      32
54001      36
54498       3
54518      44
63001      84
66001      80
66682       1
68001     421
68081       3
68679       4
68755       4
70001      19
70820       2
73001     116
73349       3
76001     215
76147       2
76520       4
76736       1
76834       3
85001      14
86001       4
86749       1
88001       5
91001       1
Name: ESTU_IES_COD_MPIO_DESEADA, dtype: int64
Elementos null/NaN 432194
__________________
Elementos diferentes de null/NaN: 5041
__________________
(5041,)
None

In [132]:
data_2008_2 = data_2008_2.drop([c], axis=1)

In [133]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['AGUACHICA', 'ANDES', 'ARMENIA', 'BARRANCABERMEJA', 'BARRANQUILLA',
       'BELLO', 'BOGOTÁ D.C.', 'BUCARAMANGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CHIA',
       'CHIQUINQUIRA', 'CUCUTA', 'DUITAMA', 'FACATATIVA', 'FLORENCIA',
       'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA', 'MADRID',
       'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'NEIVA', 'NILO', 'OCAÑA',
       'PALMIRA', 'PAMPLONA', 'PASTO', 'PENSILVANIA', 'PEREIRA', 'POPAYAN',
       'QUIBDO', 'RIOHACHA', 'RIONEGRO', 'SABANETA', 'SAN ANDRES', 'SAN GIL',
       'SANTA MARTA', 'SANTA ROSA DE CABAL', 'SANTAFÉ DE ANTIOQUIA', 'SEVILLA',
       'SIBUNDOY', 'SINCELEJO', 'SOCORRO', 'SOGAMOSO', 'TOLU', 'TULUA',
       'TUNJA', 'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                  3
ANDES                      2
ARMENIA                   84
BARRANCABERMEJA            3
BARRANQUILLA              52
BELLO                      4
BOGOTÁ D.C.             2262
BUCARAMANGA              421
CALDAS                     1
CALI                     215
CARMEN DE VIBORAL          1
CARTAGENA                 93
CARTAGO                    2
CAUCASIA                   3
CHIA                      48
CHIQUINQUIRA               5
CUCUTA                    36
DUITAMA                    1
FACATATIVA                 1
FLORENCIA                 36
FUSAGASUGA                25
GIRARDOT                   3
HONDA                      3
IBAGUE                   116
LETICIA                    1
MADRID                    14
MANIZALES                132
MEDELLIN                 334
MOCOA                      4
MONTERIA                  36
NEIVA                    381
NILO                       7
OCAÑA                      3
PALMIRA                    4
PAMPLONA                  44
PASTO                     32
PENSILVANIA                1
PEREIRA                   80
POPAYAN                  257
QUIBDO                     4
RIOHACHA                  11
RIONEGRO                   2
SABANETA                   2
SAN ANDRES                 5
SAN GIL                    4
SANTA MARTA               38
SANTA ROSA DE CABAL        1
SANTAFÉ DE ANTIOQUIA       1
SEVILLA                    1
SIBUNDOY                   1
SINCELEJO                 19
SOCORRO                    4
SOGAMOSO                  14
TOLU                       2
TULUA                      3
TUNJA                    111
UBATE                      1
VALLEDUPAR                12
VILLAVICENCIO             41
YOPAL                     14
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 432194
__________________
Elementos diferentes de null/NaN: 5041
__________________
(5041,)
None

In [134]:
Do_resamples(data_2008_2, c, str)

cant null antes: 432194
cant null despues: 4
cant null antes: 4
cant null despues: 0

In [135]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS              1
ANTIOQUIA           350
ATLÁNTICO            52
BOGOTÁ             2262
BOLÍVAR              93
BOYACÁ              131
CALDAS              133
CAQUETÁ              36
CASANARE             14
CAUCA               257
CESAR                15
CHOCÓ                 4
CUNDINAMARCA         99
CÓRDOBA              36
HUILA               381
LA GUAJIRA           11
MAGDALENA            38
META                 41
NARIÑO               32
NORTE SANTANDER      83
PUTUMAYO              5
QUINDÍO              84
RISARALDA            81
SAN ANDRÉS            5
SANTANDER           432
SUCRE                21
TOLIMA              119
VALLE               225
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 432194
__________________
Elementos diferentes de null/NaN: 5041
__________________
(5041,)
None

In [136]:
Do_resamples(data_2008_2, c, str)

cant null antes: 432194
cant null despues: 0

In [137]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1     145
2     516
3    2406
4     443
5     460
6     303
7     189
8     314
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 432459
__________________
Elementos diferentes de null/NaN: 4776
__________________
(4776,)
None

In [138]:
Do_resamples(data_2008_2, c, float)

cant null antes: 432459
cant null despues: 0

In [141]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([    4.0,     5.0,    36.0,    63.0,    87.0,   102.0,   103.0,
                108.0,   109.0,   122.0,
              ...
              22869.0, 22879.0, 22892.0, 22901.0, 22918.0, 22919.0, 22934.0,
              22954.0, 22967.0, 23001.0],
             dtype='float64', length=1325)
4         1
5        18
36        1
63        2
87        2
102       1
103       1
108       3
109       1
122       1
125       1
147       1
225       1
306       1
314       1
410       1
460       1
491       2
522       1
643       1
656       1
657       2
703       1
727       1
728       1
869       2
1331      1
1409      3
1703      1
1774      1
         ..
22489     1
22497     3
22515     1
22537     2
22546     1
22567     2
22610     1
22658     1
22680     1
22682     1
22696     2
22698     3
22705     2
22707     1
22715     1
22739     2
22755     1
22764     1
22776     1
22852     1
22869     1
22879     8
22892     4
22901     1
22918     1
22919     1
22934     2
22954     1
22967    14
23001     1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 432853
__________________
Elementos diferentes de null/NaN: 4382
__________________
(4382,)
None

In [142]:
Do_resamples(data_2008_2, c, float)

cant null antes: 432853
cant null despues: 0

In [143]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    1265
2    1675
3     972
4     334
5     376
6      95
7      27
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 432491
__________________
Elementos diferentes de null/NaN: 4744
__________________
(4744,)
None

In [144]:
Do_resamples(data_2008_2, c, float)

cant null antes: 432491
cant null despues: 1
cant null antes: 1
cant null despues: 0

## TARGETS

In [145]:
c = 'PUNT_LENGUAJE'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '18,33', '18,63', '26,14', '26,43', '31,01', '31,28', '34,68',
       '34,94', '37,71', '37,95', '40,34', '40,57', '42,72', '42,93', '44,91',
       '45,12', '46,97', '47,18', '48,95', '49,15', '50,87', '51,08', '52,77',
       '52,97', '54,66', '54,87', '56,57', '56,79', '58,52', '58,76', '60,56',
       '60,8', '62,71', '62,97', '65,04', '65,32', '67,62', '67,92', '70,59',
       '70,92', '74,19', '74,56', '78,98', '79,38', '86,73', '87,16'],
      dtype='object')
0          140
18,33      379
18,63      384
26,14     1856
26,43     1772
31,01     5159
31,28     5290
34,68    10834
34,94    11197
37,71    17845
37,95    18526
40,34    24272
40,57    24922
42,72    27969
42,93    28765
44,91    28137
45,12    28619
46,97    25798
47,18    25897
48,95    21797
49,15    21744
50,87    17302
51,08    16628
52,77    12865
52,97    12576
54,66     9350
54,87     8765
56,57     6291
56,79     5831
58,52     3974
58,76     3585
60,56     2321
60,8      2161
62,71     1288
62,97     1082
65,04      580
65,32      582
67,62      261
67,92      241
70,59      107
70,92       89
74,19       20
74,56       20
78,98        6
79,38        5
86,73        2
87,16        1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [146]:
clean_target(data_2008_2, c)

In [147]:
c = 'PUNT_MATEMATICAS'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '13,06', '13,16', '22,52', '22,6', '28,38', '28,43', '32,79',
       '32,82', '36,42', '39,55', '39,56', '42,36', '42,39', '44,96', '45,01',
       '47,41', '47,48', '49,77', '49,84', '52,06', '52,15', '54,33', '54,43',
       '56,59', '56,71', '58,89', '59,02', '61,26', '61,4', '63,73', '63,87',
       '66,35', '66,5', '69,18', '69,34', '72,34', '72,5', '75,98', '76,15',
       '80,4', '80,57', '86,27', '86,45', '95,75', '95,93'],
      dtype='object')
0          151
13,06      634
13,16      416
22,52     2523
22,6      1867
28,38     6872
28,43     5376
32,79    13874
32,82    11498
36,42    41396
39,55    26730
39,56    28148
42,36    30433
42,39    30945
44,96    30207
45,01    29706
47,41    26822
47,48    25432
49,77    21252
49,84    19624
52,06    15559
52,15    14011
54,33    10597
54,43     9295
56,59     6872
56,71     6108
58,89     4372
59,02     3713
61,26     2669
61,4      2409
63,73     1618
63,87     1560
66,35     1018
66,5       943
69,18      633
69,34      589
72,34      387
72,5       304
75,98      200
76,15      177
80,4       113
80,57       95
86,27       41
86,45       35
95,75        7
95,93        4
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [148]:
clean_target(data_2008_2, c)

In [149]:
c = 'PUNT_C_SOCIALES'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '16,84', '16,97', '22,63', '22,77', '27', '27,15', '30,59',
       '30,76', '33,7', '33,88', '36,49', '36,68', '39,05', '39,24', '41,43',
       '41,64', '43,7', '43,91', '45,87', '46,09', '47,97', '48,2', '50,02',
       '50,26', '52,05', '52,28', '54,06', '54,29', '56,07', '56,29', '58,1',
       '58,3', '60,17', '60,35', '62,29', '62,44', '64,48', '64,6', '66,78',
       '66,85', '69,22', '69,23', '7,53', '7,65', '71,78', '71,85', '74,56',
       '74,73', '77,68', '77,97', '81,29', '81,73'],
      dtype='object')
0           25
16,84      204
16,97      405
22,63      660
22,77     1368
27        1970
27,15     3833
30,59     4344
30,76     7790
33,7      7883
33,88    12699
36,49    12009
36,68    18399
39,05    16558
39,24    23197
41,43    19624
41,64    25931
43,7     21610
43,91    26561
45,87    21639
46,09    25409
47,97    20504
48,2     22902
50,02    18796
50,26    19243
52,05    15554
52,28    15610
54,06    12405
54,29    11647
56,07     9150
56,29     8508
58,1      6684
58,3      5771
60,17     4391
60,35     3691
62,29     2581
62,44     2221
64,48     1509
64,6      1215
66,78      843
66,85      624
69,22      401
69,23      291
7,53        46
7,65        58
71,78      135
71,85      171
74,56       55
74,73       60
77,68       16
77,97       27
81,29        1
81,73        7
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [150]:
clean_target(data_2008_2, c)

In [151]:
c = 'PUNT_FILOSOFIA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '10,53', '10,87', '19,66', '20,02', '25,39', '25,75', '29,73',
       '30,1', '33,32', '33,69', '36,44', '36,82', '39,26', '39,64', '41,86',
       '42,25', '44,33', '44,72', '46,69', '47,08', '48,98', '49,38', '51,25',
       '51,65', '53,52', '53,92', '55,82', '56,21', '58,18', '58,57', '60,63',
       '61,02', '63,23', '63,62', '66,04', '66,43', '69,15', '69,53', '72,72'],
      dtype='object')
0           96
10,53      208
10,87      428
19,66     1098
20,02     1868
25,39     3561
25,75     5691
29,73     8454
30,1     12469
33,32    15537
33,69    21597
36,44    23404
36,82    30734
39,26    29499
39,64    35883
41,86    31639
42,25    36733
44,33    28920
44,72    32267
46,69    22755
47,08    24722
48,98    16105
49,38    16737
51,25     9702
51,65     9889
53,52     5064
53,92     5059
55,82     2281
56,21     2227
58,18      944
58,57      863
60,63      301
61,02      271
63,23       97
63,62       76
66,04       22
66,43       23
69,15        5
69,53        4
72,72        2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [152]:
clean_target(data_2008_2, c)

In [153]:
c = 'PUNT_BIOLOGIA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '16,56', '16,64', '24,14', '24,21', '28,87', '28,92', '32,43',
       '32,48', '35,37', '35,42', '37,93', '37,97', '40,23', '40,27', '42,37',
       '42,4', '44,38', '44,41', '46,32', '46,34', '48,2', '48,23', '50,07',
       '50,09', '51,94', '51,96', '53,84', '53,85', '55,79', '55,8', '57,84',
       '60', '60,01', '62,35', '62,36', '64,97', '64,99', '67,99', '68,01',
       '71,66', '71,69', '76,52', '76,56', '84,29', '84,33', '96,94', '96,98'],
      dtype='object')
0           72
16,56      104
16,64      141
24,14      670
24,21      567
28,87     2071
28,92     2045
32,43     5322
32,48     5241
35,37    10237
35,42    10324
37,93    16788
37,97    16927
40,23    22603
40,27    22832
42,37    26581
42,4     26757
44,38    27374
44,41    27922
46,32    25993
46,34    25840
48,2     22325
48,23    22057
50,07    17754
50,09    17577
51,94    13513
51,96    13325
53,84     9891
53,85     9429
55,79     6629
55,8      6692
57,84     8896
60        2863
60,01     2900
62,35     1691
62,36     1644
64,97      980
64,99      963
67,99      516
68,01      525
71,66      223
71,69      220
76,52       81
76,56       84
84,29       16
84,33       25
96,94        2
96,98        3
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [154]:
clean_target(data_2008_2, c)

In [155]:
c = 'PUNT_QUIMICA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '19,2', '20', '26,06', '26,9', '30,34', '31,22', '33,56', '34,48',
       '36,21', '37,18', '38,52', '39,51', '40,58', '41,62', '42,49', '43,56',
       '44,28', '45,38', '46', '47,13', '47,67', '48,83', '49,3', '50,5',
       '50,94', '52,16', '52,59', '53,84', '54,29', '55,57', '56,05', '57,36',
       '57,92', '59,25', '59,94', '61,3', '62,19', '63,57', '64,78', '66,18',
       '67,93', '69,35', '72,11', '73,56', '78,87', '80,33', '90,06', '91,53'],
      dtype='object')
0          455
19,2       304
20         701
26,06     1238
26,9      2253
30,34     3300
31,22     5805
33,56     6957
34,48    10818
36,21    11931
37,18    16473
38,52    17303
39,51    21093
40,58    22084
41,62    24470
42,49    25018
43,56    25334
44,28    25494
45,38    24274
46       23715
47,13    21193
47,67    20733
48,83    17768
49,3     17079
50,5     14528
50,94    13378
52,16    10868
52,59    10052
53,84     7827
54,29     7192
55,57     5612
56,05     4846
57,36     3678
57,92     3252
59,25     2476
59,94     2077
61,3      1536
62,19     1133
63,57      898
64,78      674
66,18      511
67,93      314
69,35      242
72,11      136
73,56      107
78,87       58
80,33       30
90,06        8
91,53        9
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [156]:
clean_target(data_2008_2, c)

In [158]:
c = 'PUNT_FISICA'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '14,67', '15,39', '24,37', '25,11', '30,4', '31,16', '34,94',
       '35,72', '38,68', '39,48', '41,92', '42,75', '44,84', '45,69', '47,54',
       '48,41', '50,09', '50,98', '52,53', '53,45', '54,91', '55,85', '57,26',
       '58,23', '59,61', '60,61', '61,99', '63,02', '64,43', '65,49', '66,98',
       '68,07', '69,68', '70,81', '72,61', '73,76', '75,87', '77,05', '79,62',
       '80,82'],
      dtype='object')
0         1453
14,67      759
15,39     1096
24,37     3201
25,11     4226
30,4      8847
31,16    11183
34,94    18488
35,72    21487
38,68    29291
39,48    31811
41,92    36904
42,75    37846
44,84    37591
45,69    36841
47,54    32158
48,41    29616
50,09    22885
50,98    20552
52,53    14274
53,45    11949
54,91     7467
55,85     6387
57,26     3580
58,23     2997
59,61     1417
60,61     1249
61,99      567
63,02      481
64,43      193
65,49      186
66,98       84
68,07       71
69,68       36
70,81       33
72,61        6
73,76        8
75,87        3
77,05        6
79,62        3
80,82        3
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [159]:
clean_target(data_2008_2, c)

In [160]:
c = 'PUNT_INGLES'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '100,34', '111,94', '13,96', '17,91', '21,08', '23,77', '26,13',
       '28,24', '30,17', '31,96', '33,63', '35,21', '36,71', '37,51', '38,31',
       '39,11', '40,89', '42,2', '43,48', '44,74', '45,98', '47,21', '48,43',
       '49,65', '5', '52,09', '53,32', '54,57', '55,84', '57,13', '58,45',
       '59,81', '65,86', '67,6', '69,48', '71,53', '73,83', '76,45', '79,55',
       '8,61', '80,55', '81,05', '83,41', '88,67', '97,34'],
      dtype='object')
0           277
100,34      444
111,94      133
13,96        62
17,91       243
21,08       741
23,77      1920
26,13      4309
28,24      8742
30,17     14659
31,96     21971
33,63     29770
35,21     35920
36,71     39516
37,51     40160
38,31     37871
39,11     33579
40,89     28284
42,2      23346
43,48     18278
44,74     14713
45,98     11773
47,21      9479
48,43      7909
49,65      6755
5             9
52,09      5767
53,32      5097
54,57      4375
55,84      3926
57,13      3478
58,45      3078
59,81      2697
65,86      2506
67,6       2255
69,48      1975
71,53      1751
73,83      1688
76,45      1535
79,55      1319
8,61         19
80,55      1251
81,05      1170
83,41       978
88,67       823
97,34       684
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [161]:
clean_target(data_2008_2, c)

In [162]:
c = 'DESEMP_INGLES'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['A-', 'A1', 'A1 ', 'A2', 'A2 ', 'B+', 'B1'], dtype='object')
A-     269768
A1     120536
A1          1
A2      28417
A2          1
B+       3062
B1      15450
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [163]:
data_2008_2[c] = data_2008_2[c].replace('A1 ', 'A1')
data_2008_2[c] = data_2008_2[c].replace('A2 ', 'A2')

In [164]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             125864
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     90224
PROFUNDIZACIÓN EN LENGUAJE             157293
PROFUNDIZACIÓN EN MATEMÁTICA            63854
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [165]:
c = 'PUNT_PROFUNDIZACION'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '0,9', '10', '2,1', '2,3', '2,4', '2,9', '3,1', '3,2', '3,5',
       '3,7', '3,8', '4', '4,1', '4,2', '4,4', '4,5', '4,6', '4,7', '4,8', '5',
       '5,2', '5,3', '5,4', '5,5', '5,6', '5,8', '5,9', '6', '6,2', '6,3',
       '6,4', '6,5', '6,6', '6,7', '6,8', '6,9', '7', '7,1', '7,5', '7,7', '8',
       '8,5', '8,6'],
      dtype='object')
0       1753
0,9      754
10       255
2,1     2126
2,3      529
2,4     2945
2,9     4111
3,1     1953
3,2     9429
3,5    10742
3,7     4210
3,8    18392
4       8632
4,1     6800
4,2    37996
4,4    10596
4,5     8863
4,6    26941
4,7    22227
4,8    22026
5      51155
5,2    22091
5,3    18294
5,4    25197
5,5     7788
5,6    42757
5,8     5620
5,9    18284
6       9481
6,2     7989
6,3     5340
6,4     6151
6,5     1517
6,6     2343
6,7     2677
6,8      532
6,9     3132
7       1339
7,1     1112
7,5     1181
7,7     1141
8          4
8,5      293
8,6      537
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [166]:
clean_target(data_2008_2, c)

In [167]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['GB', 'I', 'I  ', 'II', 'II ', 'III'], dtype='object')
GB     218829
I      168250
I           1
II      43760
II          1
III      6394
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [168]:
data_2008_2[c] = data_2008_2[c].replace('I  ', 'I')
data_2008_2[c] = data_2008_2[c].replace('II ', 'II')

In [169]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          237598
VIOLENCIA Y SOCIEDAD    199637
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [170]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Index(['0', '15,94', '25,32', '31,34', '36,02', '40', '43,59', '43,97', '46,7',
       '46,98', '48,46', '49,84', '50,3', '51,02', '52,11', '53,13', '53,66',
       '54,15', '55,18', '56,27', '57,2', '57,47', '58,87', '60,66', '61,08',
       '63,4', '65,62', '67,74', '71,45', '80,55', '95,26'],
      dtype='object')
0         2136
15,94     3427
25,32     9878
31,34    18175
36,02    26051
40       29708
43,59    29033
43,97     6014
46,7     17063
46,98    25471
48,46    30546
49,84    40625
50,3     20524
51,02    42589
52,11    36622
53,13    27021
53,66    15311
54,15    17365
55,18     9763
56,27     5252
57,2     10496
57,47     2251
58,87      834
60,66      253
61,08     6231
63,4        59
65,62     3084
67,74        6
71,45     1130
80,55      279
95,26       38
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

In [171]:
clean_target(data_2008_2, c)

In [172]:
c = 'ESTU_PUESTO'
print(data_2008_2[c].value_counts().sort_index().index)
print(data_2008_2[c].value_counts().sort_index())
print(missing_data(data_2008_2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            954, 955, 956, 957, 958, 959, 960, 961, 962, 963],
           dtype='int64', length=963)
1      402
2      392
3      368
4      388
5      376
6      380
7      375
8      378
9      380
10     372
11     369
12     399
13     387
14     395
15     387
16     404
17     409
18     390
19     386
20     399
21     372
22     400
23     389
24     403
25     393
26     406
27     405
28     413
29     384
30     401
      ...
934    451
935    442
936    440
937    444
938    446
939    437
940    454
941    433
942    439
943    444
944    438
945    445
946    447
947    445
948    436
949    442
950    449
951    437
952    440
953    420
954    429
955    437
956    428
957    434
958    419
959    426
960    396
961    284
962    115
963     13
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437235
__________________
(437235,)
None

Now i can transform the Obtained dataframes in csv files

In [173]:
data_2008 = label_encoder(data_2008)
data_2008_2 = label_encoder(data_2008_2)

In [174]:
data_2008.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2008_1.csv', sep=';', index=False)
data_2008_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2008_2.csv', sep=';', index=False)