In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [58]:
data_2011 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20111-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10,12,14,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [59]:
data_2011.shape

(86674, 114)

In [60]:
data_2011.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120111000001,SABER1120111000002,SABER1120111000003
PERIODO,20111,20111,20111
ESTU_TIPO_DOCUMENTO,C,C,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,M,F,M
ESTU_NACIMIENTO_DIA,20,3,5
ESTU_NACIMIENTO_MES,4,10,11
ESTU_NACIMIENTO_ANNO,1988,1990,1991
ESTU_EDAD,22,20,19
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,5837,5045,5837
ESTU_RESIDE_MCPIO,TURBO,APARTADO,TURBO
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,2,2,1
IND_COD_ICFES_TERMINO,128306,128306,NaN
COLE_COD_ICFES,128306,128306,131219
COLE_COD_DANE_INSTITUCION,2.05837e+11,2.05837e+11,3.05837e+11
COLE_NOMBRE_SEDE,I.E. VEINTICUATRO DE DICIEMBRE,I.E. VEINTICUATRO DE DICIEMBRE,INSTITUTO CORFERRINI
COLE_CALENDARIO,A,A,F
COLE_GENERO,X,X,X
COLE_NATURALEZA,O,O,N
COLE_BILINGUE,NaN,NaN,NaN
...,...,...,...
FAMI_PERSONAS_HOGAR,7,3,3
FAMI_CUARTOS_HOGAR,NaN,NaN,NaN
FAMI_PISOSHOGAR,2,4,4
FAMI_TELEFONO_FIJO,0,0,1
FAMI_CELULAR,1,1,1
FAMI_INTERNET,0,1,0
FAMI_SERVICIO_TELEVISION,1,0,1
FAMI_COMPUTADOR,0,3,3
FAMI_LAVADORA,1,0,1
FAMI_NEVERA,1,1,1
FAMI_HORNO,0,0,0
FAMI_DVD,1,0,1
FAMI_MICROONDAS,1,0,1
FAMI_AUTOMOVIL,0,0,0
FAMI_INGRESO_FMILIAR_MENSUAL,2,2,2
ESTU_TRABAJA,NaN,0,0
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
PUNT_LENGUAJE,"48,55","43,04","49,71"
PUNT_MATEMATICAS,"32,42","36,11","32,42"
PUNT_C_SOCIALES,"35,56","31,76","36,48"
PUNT_FILOSOFIA,"26,28",29,"21,42"
PUNT_BIOLOGIA,"43,3","45,4","38,84"
PUNT_QUIMICA,"41,62","42,1","25,14"
PUNT_FISICA,"48,41","43,04","35,03"
PUNT_INGLES,"38,08","39,87","42,76"
DESEMP_INGLES,A-,A-,A-
NOMBRE_COMP_FLEXIBLE,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_COMP_FLEXIBLE,"50,23","45,58","32,5"
DESEMP_COMP_FLEXIBLE,NaN,NaN,NaN
ESTU_PUESTO,845,873,951

In [61]:
data_2011 = data_2011.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                           'ESTU_COD_MCPIO_PRESENTACION'], axis=1)

In [62]:
c = 'ESTU_PAIS_RESIDE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['AR', 'AW', 'BR', 'CL', 'CO', 'CU', 'DE', 'DK', 'EC', 'ES', 'FR', 'HN',
       'MX', 'PE', 'RU', 'US', 'VE'],
      dtype='object')
AR        1
AW        1
BR        2
CL        3
CO    86510
CU        1
DE        2
DK        1
EC        6
ES        1
FR        2
HN        1
MX        4
PE        7
RU        1
US        7
VE       40
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 84
__________________
Elementos diferentes de null/NaN: 86590
__________________
(86590,)
None

In [63]:
Do_resamples(data_2011, c, str)

cant null antes: 84
cant null despues: 0

In [64]:
c = 'ESTU_GENERO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['F', 'M'], dtype='object')
F    44404
M    41663
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 607
__________________
Elementos diferentes de null/NaN: 86067
__________________
(86067,)
None

In [65]:
Do_resamples(data_2011, c, str)

cant null antes: 607
cant null despues: 0

In [66]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     2853
2     2840
3     2920
4     2956
5     2891
6     2761
7     2842
8     2941
9     2879
10    2919
11    2805
12    2871
13    2739
14    2771
15    2944
16    2804
17    2812
18    2810
19    2768
20    2833
21    2801
22    2779
23    2823
24    2794
25    2839
26    2721
27    2806
28    2963
29    2589
30    2506
31    1471
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 623
__________________
Elementos diferentes de null/NaN: 86051
__________________
(86051,)
None

In [67]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     6956
2     6335
3     7237
4     7004
5     7239
6     6912
7     7341
8     7236
9     7621
10    7475
11    6940
12    7755
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 623
__________________
Elementos diferentes de null/NaN: 86051
__________________
(86051,)
None

In [68]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([  22.0, 1933.0, 1938.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0,
              1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0,
              1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0,
              1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0,
              1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0,
              1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0,
              1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0],
             dtype='float64')
22          1
1933        1
1938        1
1940        2
1941        1
1942        2
1943        1
1944        4
1945        1
1946        6
1947        7
1948       13
1949       13
1950       19
1951       21
1952       30
1953       32
1954       39
1955       38
1956       50
1957       77
1958       71
1959       91
1960       88
1961      111
1962      122
1963      144
1964      147
1965      163
1966      174
        ...
1975      404
1976      441
1977      479
1978      570
1979      666
1980      674
1981      793
1982      912
1983      973
1984     1111
1985     1428
1986     1629
1987     1918
1988     2598
1989     3407
1990     4872
1991     7237
1992    12723
1993    20531
1994    15201
1995     2732
1996      157
1997       33
1998       32
1999       14
2000        7
2001      870
2002       63
2003       14
2004       16
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 623
__________________
Elementos diferentes de null/NaN: 86051
__________________
(86051,)
None

In [69]:
for i in data_2011[c].value_counts().sort_index().index:
    if i > 2002:
        data_2011[c] = data_2011[c].replace(i, np.nan)
    elif i < 1934:
        data_2011[c] = data_2011[c].replace(i, np.nan)

In [71]:
anno = data_2011[data_2011[c].isnull()].index
data_2011 = data_2011.drop(anno)

In [73]:
c = 'ESTU_EDAD'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Int64Index([ 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
            26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42,
            43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59,
            60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72],
           dtype='int64')
9       961
10       97
11       14
12       33
13       36
14      121
15     1901
16    13302
17    20984
18    13679
19     7723
20     5106
21     3538
22     2709
23     1970
24     1660
25     1458
26     1123
27     1013
28      914
29      805
30      681
31      664
32      585
33      502
34      439
35      419
36      339
37      314
38      296
      ...
43      180
44      182
45      154
46      157
47      144
48      124
49      107
50       94
51       97
52       77
53       68
54       55
55       42
56       36
57       34
58       30
59       21
60       20
61       15
62        9
63        9
64        4
65        4
66        3
67        1
68        3
69        1
70        1
71        1
72        2
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [74]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 86019
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [75]:
data_2011 = data_2011.drop([c], axis=1)

In [77]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['C'], dtype='object')
C    2
Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64
Elementos null/NaN 86017
__________________
Elementos diferentes de null/NaN: 2
__________________
(2,)
None

In [78]:
data_2011 = data_2011.drop([c], axis=1)

In [80]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['G'], dtype='object')
G    23
Name: ESTU_LIMITA_COGNITIVA, dtype: int64
Elementos null/NaN 85996
__________________
Elementos diferentes de null/NaN: 23
__________________
(23,)
None

In [81]:
data_2011 = data_2011.drop([c], axis=1)

In [83]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['I'], dtype='object')
I    13
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 86006
__________________
Elementos diferentes de null/NaN: 13
__________________
(13,)
None

In [84]:
data_2011 = data_2011.drop([c], axis=1)

In [85]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['M'], dtype='object')
M    105
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 85914
__________________
Elementos diferentes de null/NaN: 105
__________________
(105,)
None

In [86]:
data_2011 = data_2011.drop([c], axis=1)

In [87]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['R'], dtype='object')
R    6
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 86013
__________________
Elementos diferentes de null/NaN: 6
__________________
(6,)
None

In [88]:
data_2011 = data_2011.drop([c], axis=1)

In [89]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['S'], dtype='object')
S    28
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 85991
__________________
Elementos diferentes de null/NaN: 28
__________________
(28,)
None

In [90]:
data_2011 = data_2011.drop([c], axis=1)

In [92]:
c = 'ESTU_ETNIA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     1743
2        5
3      213
4       10
5       23
6       77
7       36
8       81
9      134
10      71
11     428
12      14
13      47
14       2
15      10
16       5
17      38
99    1104
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 81978
__________________
Elementos diferentes de null/NaN: 4041
__________________
(4041,)
None

In [93]:
data_2011.fillna(99, inplace=True)

In [94]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACEVEDO', 'ACHI', 'AGRADO',
       'AGUA DE DIOS', 'AGUACHICA', 'AGUADA', 'AGUADAS',
       ...
       'YOTOCO', 'YUMBO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=927)
ABEJORRAL                     27
ABREGO                        15
ACACIAS                       79
ACEVEDO                       68
ACHI                           1
AGRADO                        13
AGUA DE DIOS                   5
AGUACHICA                    128
AGUADA                         2
AGUADAS                       24
AGUAZUL                       56
AGUSTIN CODAZZI               45
AIPE                          18
ALBAN                          2
ALBAN (SAN JOSE)              14
ALBANIA                       89
ALCALA                         7
ALDANA                        15
ALEJANDRIA                    30
ALGECIRAS                     45
ALMAGUER                       4
ALMEIDA                        2
ALPUJARRA                      3
ALTAMIRA                       9
ALTO BAUDO (PIE DE PATO)       3
ALVARADO                       6
AMAGA                         11
AMALFI                         7
AMBALEMA                       5
ANAPOIMA                       3
                            ...
VILLAHERMOSA                   2
VILLAMARIA                   135
VILLANUEVA                    87
VILLAPINZON                   19
VILLARRICA                    15
VILLAVICENCIO               1117
VILLAVIEJA                     5
VILLETA                       28
VIOTA                          1
VIRACACHA                      4
VISTA HERMOSA                  8
VITERBO                        8
YACOPI                         2
YACUANQUER                    12
YAGUARA                       35
YALI                          13
YARUMAL                       15
YOLOMBO                       16
YONDO (CASABE)                10
YOPAL                        367
YOTOCO                        14
YUMBO                        292
ZAPATOCA                      10
ZAPAYAN                        1
ZARAGOZA                       5
ZARZAL                        94
ZETAQUIRA                     10
ZIPACON                        3
ZIPAQUIRA                    160
ZONA BANANERA                  5
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [95]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              23
ANTIOQUIA           7190
ARAUCA               303
ATLÁNTICO           1682
BOGOTÁ             15460
BOLÍVAR             1264
BOYACÁ              4014
CALDAS              2581
CAQUETÁ              564
CASANARE             602
CAUCA               2710
CESAR                886
CHOCÓ                422
CUNDINAMARCA        3187
CÓRDOBA              918
GUAINÍA               20
GUAVIARE              66
HUILA               4119
LA GUAJIRA           661
MAGDALENA            536
META                1382
NARIÑO              4995
NORTE SANTANDER     1446
PUTUMAYO             674
QUINDÍO             1066
RISARALDA           1558
SAN ANDRÉS            25
SANTANDER           6102
SUCRE                390
TOLIMA              3263
VALLE              17888
VAUPÉS                11
VICHADA               11
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [96]:
c = 'ESTU_ZONA_RESIDE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 99.0], dtype='float64')
1      7979
2      1642
3      2146
4     10192
5      3959
6      2692
7      2131
8      3613
9      2445
10    49173
99       47
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [97]:
c = 'ESTU_AREA_RESIDE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 99.0], dtype='float64')
1     72495
2     13491
99       33
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [98]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([     0.0,      2.0,      3.0,     24.0,     26.0,     42.0,
                  59.0,     67.0,     90.0,     99.0,
              ...
              607713.0, 608745.0, 609271.0, 620963.0, 622878.0, 626952.0,
              627737.0, 628214.0, 658195.0, 999999.0],
             dtype='float64', length=9417)
0           32
2          323
3         3605
24           1
26           1
42           1
59           7
67           3
90           1
99        2031
117          1
125          1
141          1
182         90
207          1
208          1
223          2
224          1
226          1
237          1
240         21
257          4
265         42
282          1
294          1
315          2
346          1
349          1
350          2
364          1
          ...
235416       1
239624       1
251207       1
255901       1
265165       1
265876       1
267575       1
267674       1
269324       1
273029       1
447839       1
464735       1
473074       1
535427       1
543728       1
555557       1
561589       1
566380       1
593764       1
604330       1
607713       1
608745       1
609271       1
620963       1
622878       1
626952       1
627737       1
628214       1
658195       1
999999    1448
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [99]:
c = 'COLE_COD_ICFES'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([     2.0,      3.0,     42.0,     59.0,     67.0,     99.0,
                 117.0,    125.0,    182.0,    208.0,
              ...
              156794.0, 156802.0, 156828.0, 156851.0, 156893.0, 156927.0,
              156943.0, 156976.0, 157321.0, 999999.0],
             dtype='float64', length=8746)
2          414
3         3283
42           1
59           8
67           2
99           2
117          1
125          1
182         91
208          1
240         22
257          5
265         43
315          2
364          1
372          1
380          1
422          1
455          1
471          1
489          1
497          7
588          1
638        141
653          2
661          1
687          1
737          1
786         16
794          2
          ...
156505       3
156513       2
156521       9
156547      28
156562       1
156588       4
156596      13
156604      51
156612       2
156638       6
156653      34
156679       4
156687      34
156695      28
156711       1
156729       7
156752      32
156760       8
156778      37
156786      63
156794      88
156802       3
156828       4
156851       3
156893       1
156927       2
156943      15
156976      35
157321       5
999999    1786
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [100]:
for i in data_2011[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2011[c] = data_2011[c].replace(i, np.nan)
        
Do_resamples(data_2011, c, float)

cant null antes: 3697
cant null despues: 0

In [102]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index([            99, 473024000490.0, 311001105391.0, 125286000123.0,
       311001104786.0, 311001109605.0, 305001020558.0, 105001024571.0,
       141001003341.0, '305001024609',
       ...
       519807000007.0, 311848000961.0, 205001006526.0, 170708000186.0,
       154871000252.0, 315001003421.0, 105030000028.0, 325430000264.0,
       313001008500.0, 311001047049.0],
      dtype='object', length=6692)
99                8397
473024000490.0     378
311001105391.0     288
125286000123.0     278
311001104786.0     262
311001109605.0     259
305001020558.0     250
105001024571.0     247
141001003341.0     232
305001024609       227
368001005488       226
152001000777.0     215
305890001390       209
376001003461.0     208
376001000721.0     201
376001028219.0     201
311001094942.0     188
176001005813.0     172
376001026925.0     172
141001000066.0     169
115001000367.0     169
168001003591.0     168
152001000599.0     165
311001106592.0     161
176001001818.0     156
311001105863       151
341001005440.0     148
376001000276.0     146
368001007669.0     146
163001001325.0     142
                  ...
454001007921.0       1
270235000111.0       1
152418000133         1
217442000122.0       1
311001046263.0       1
305761000689.0       1
125168000216.0       1
105001000141.0       1
105001000132.0       1
276606000290.0       1
225320000884.0       1
197001001670         1
325754002961.0       1
105030000010.0       1
266594000374.0       1
376001027573.0       1
108001074674.0       1
105172000238.0       1
425377076720         1
468077000360.0       1
519807000007.0       1
311848000961.0       1
205001006526.0       1
170708000186.0       1
154871000252.0       1
315001003421.0       1
105030000028.0       1
325430000264.0       1
313001008500.0       1
311001047049.0       1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [103]:
data_2011 = data_2011.drop([c], axis=1)

In [105]:
c = 'COLE_NOMBRE_SEDE'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index([                                                                           'INSTITUCION NO REGISTRADA',
                                                                              'VALIDACION BACHILLERATO ICFES',
                                                                  'INSTITUCION DE EDUCACION MEDIA EXTRANJERA',
                                                 'BACHILLERATO AGROPECUARIO SAT PROHACIENDO - SEDE PRINCIPAL',
       'COL TECNISISTEMAS SEDE SUBA                                                                         ',
                                                                  'CONCENTRACION  URBANA MIGUEL ANTONIO CARO',
       'COL BRITANICO SEDE TUNJUELITO                                                                       ',
                                                                         'INSTITUTO GERWILL - SEDE PRINCIPAL',
                                                                                   'COL CREADORES DEL FUTURO',
                              'INSTITUTO REGIONAL COREDI                                                    ',
       ...
                                                                         'INSTITUCIÓN EDUCATIVA RAFAEL NUÑEZ',
                                                                                   'COLEGIO ALEJANDRO SUAREZ',
                                                              'INSTITUCION EDUCATIVA VICENTE ROYG Y VILLALBA',
                                                        'CENTRO EDUCATIVO VICTOR JULIO MIER - SEDE PRINCIPAL',
                                                                         'INSTITUTO AGRICOLA  DE ALTO JORDAN',
                                                                                      'LICEO CALIMIO DESEPAZ',
                                                                                           'COL TEC AGRICOLA',
                                                                     'LICEO COOPERATIVO JERONIMO LUIS TEJELO',
                                                                    'INSTITUTO DOCENTE ABEL BETANCOURTH RUIZ',
                                                                  'INSTITUCION EDUCATIVA COMERCIAL DE PALMAR'],
      dtype='object', length=7064)
INSTITUCION NO REGISTRADA                                                                               3283
VALIDACION BACHILLERATO ICFES                                                                           1786
INSTITUCION DE EDUCACION MEDIA EXTRANJERA                                                                414
BACHILLERATO AGROPECUARIO SAT PROHACIENDO - SEDE PRINCIPAL                                               378
COL TECNISISTEMAS SEDE SUBA                                                                              288
CONCENTRACION  URBANA MIGUEL ANTONIO CARO                                                                278
COL BRITANICO SEDE TUNJUELITO                                                                            262
INSTITUTO GERWILL - SEDE PRINCIPAL                                                                       259
COL CREADORES DEL FUTURO                                                                                 250
INSTITUTO REGIONAL COREDI                                                                                248
COL VIDA Y PAZ SEDE CENTRO                                                                               247
INSTITUCION EDUCATIVA MUNICIPAL INEM LUIS DELFIN INSUASTY RODRIGUEZ                                      234
I.E. INEM JULIAN MOTTA SALAS                                                                             232
COL COMPUSOCIAL                                                                                          227
COL  COLOMBO VENEZOLANO                                                                                  226
I.E.M. CIUDAD DE PASTO - SEDE PRINCIPAL                                                                  215
INSTITUTO CODESARROLLO - SEDE PRINCIPAL                                                                  209
COLEGIO SAN ANTONIO MARIA CLARET                                                                         208
COLEGIO COLOMBIANO DE BACHILLERATO                                                                       207
COLEGIO FRANCISCANO DE FRAY DAMIAN GONZALEZ                                                              201
COLEGIO COMFANDI EL PRADO                                                                                201
INSTITUTO REGIONAL COREDI - SEDE PRINCIPAL                                                               189
CENT DE EDUC FORMAL ROBERT HOOKE                                                                         188
07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM                                                            172
COMFANDI MIRAFLORES                                                                                      172
CARLOS ARTURO TORRES SEDE CENTRAL                                                                        169
IE LICEO DE SANTA LIBRADA                                                                                169
I.E.M. MARIA GORETTI - SEDE PRINCIPAL                                                                    165
COL HEISENBERG SEDE KENNEDY                                                                              161
COL DE BTO. TECNICO EN COMERCIO Y SISTEMAS HEISENBERG                                                    156
                                                                                                        ...
INSTITUTO TECNICO INDUSTRIAL FELIX TIBERIO GUZMAN                                                          1
COLEGIO FEMENINO DE SANTA HELENA                                                                           1
CONCENTRACION EDUCATIVA RAFAEL NUÑEZ                                                                       1
COLEGIO INTEGRADO ROEL Y VELASCO                                                                           1
COL MARIA AUXILIADORA                                                                                      1
CENTRO EDUCATIVO GENERAL VICTOR ALBERTO DELGADO MALLARINO                                                  1
INSTITUCION  EDUCATIVA DEPARTAMENTAL PUERTO BOGOTA                                                         1
COL MONSERRATE                                                                                             1
COL NUEVO GIMN                                                                                             1
COLEGIO BILINGÜE SAN JUAN DE ÁVILA - SEDE PRINCIPAL                                                        1
COLEGIO ROBLEDO                                                                                            1
INST CERROS DEL SUR ICES                                                                                   1
INST. EDUC. DIST. CONCENTRACION CEVILLAR (ANT. C.E.B. # 099)                                               1
JHON F KENNEDY                                                                                             1
LICEO MODERNO DE SOLEDAD                                                                                   1
I. E. R. CHURIDO PUEBLO                                                                                    1
IE TEC ANTONIO NARIÑO - SEDE PRINCIPAL                                                                     1
I.E. AGUACHICA - SEDE PRINCIPAL                                                                            1
ESCOLOMBIAS DE CARTAGENA                                                                                   1
LICEO  JUVENIL  EL  RODEO                                                                                  1
INSTITUCIÓN EDUCATIVA RAFAEL NUÑEZ                                                                         1
COLEGIO ALEJANDRO SUAREZ                                                                                   1
INSTITUCION EDUCATIVA VICENTE ROYG Y VILLALBA                                                              1
CENTRO EDUCATIVO VICTOR JULIO MIER - SEDE PRINCIPAL                                                        1
INSTITUTO AGRICOLA  DE ALTO JORDAN                                                                         1
LICEO CALIMIO DESEPAZ                                                                                      1
COL TEC AGRICOLA                                                                                           1
LICEO COOPERATIVO JERONIMO LUIS TEJELO                                                                     1
INSTITUTO DOCENTE ABEL BETANCOURTH RUIZ                                                                    1
INSTITUCION EDUCATIVA COMERCIAL DE PALMAR                                                                  1
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [106]:
data_2011 = data_2011.drop([c], axis=1)

In [108]:
c = 'COLE_CALENDARIO'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index(['A', 'F', 'B', 99], dtype='object')
A     37891
F     31725
B     14615
99     1788
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [109]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 1788
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [111]:
c = 'COLE_GENERO'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index(['X', 99, 'F', 'M'], dtype='object')
X     74240
99     5485
F      4642
M      1652
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [112]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 5485
cant null despues: 0

In [114]:
c = 'COLE_NATURALEZA'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index(['N', 'O', 99], dtype='object')
N     48175
O     32359
99     5485
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [115]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 5485
cant null despues: 0

In [116]:
c = 'COLE_BILINGUE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     66548
1      4386
99    15085
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [117]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 15085
cant null despues: 0

In [119]:
c = 'COLE_JORNADA'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index([              'MAÑANA', 'COMPLETA U ORDINARIA',                'NOCHE',
       'SABATINA - DOMINICAL',                'TARDE',                     99,
                      'UNICA'],
      dtype='object')
MAÑANA                  34514
COMPLETA U ORDINARIA    19563
NOCHE                   10747
SABATINA - DOMINICAL     9979
TARDE                    7513
99                       3699
UNICA                       4
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [120]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 3699
cant null despues: 0

In [122]:
c = 'COLE_CARACTER'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'TECNICO', 99, 'NORMALISTA',
       'DESCONOCIDO'],
      dtype='object')
ACADEMICO              55039
ACADEMICO Y TECNICO    12338
TECNICO                11689
99                      5500
NORMALISTA              1418
DESCONOCIDO               35
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [123]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 5500
cant null despues: 0

In [124]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 99.0], dtype='float64')
0       292
1       375
2       298
3      2356
99    82698
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [125]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([    99.0,   1101.0,   1102.0,   1103.0,   1104.0,   1105.0,
                1106.0,   1107.0,   1108.0,   1110.0,
              ...
                9114.0,   9115.0,   9119.0,   9120.0,   9121.0,   9122.0,
                9124.0,   9126.0,   9129.0, 110221.0],
             dtype='float64', length=283)
99        79736
1101        540
1102         31
1103         35
1104         14
1105         38
1106        135
1107          7
1108         52
1110        170
1111         80
1112        138
1113         21
1114        237
1115         21
1117         20
1118          2
1119         44
1120         15
1121          7
1122          6
1123          2
1124          2
1201        189
1202          9
1203       1001
1204        276
1205         23
1206        322
1207        139
          ...
4817          2
4822          3
4823          3
4827          3
4828          2
4829          4
4832          2
4835          2
4836          1
5802          9
9101         10
9102          1
9103         31
9104         25
9105          4
9107          4
9110         84
9111         20
9112         34
9113          7
9114          3
9115          6
9119          1
9120          2
9121          1
9122          1
9124          7
9126          1
9129          2
110221        1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [127]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

TypeError: unorderable types: float() > str()

In [128]:
c = 'ESTU_IES_COD_MPIO_DESEADA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([   99.0,  5001.0,  5034.0,  5088.0,  5129.0,  5148.0,  5212.0,
               5266.0,  5440.0,  5615.0,  5686.0,  5837.0,  8001.0, 11001.0,
              13001.0, 15001.0, 15238.0, 15759.0, 17001.0, 17541.0, 18001.0,
              19001.0, 20001.0, 20011.0, 23001.0, 25175.0, 25290.0, 25307.0,
              25430.0, 25473.0, 25488.0, 25843.0, 27001.0, 41001.0, 44001.0,
              47001.0, 50001.0, 52001.0, 54001.0, 54498.0, 54518.0, 63001.0,
              66001.0, 66682.0, 68001.0, 68081.0, 68679.0, 68755.0, 70001.0,
              73001.0, 73268.0, 73349.0, 76001.0, 76109.0, 76111.0, 76147.0,
              76520.0, 76622.0, 76834.0, 81001.0, 85001.0, 86001.0, 88001.0],
             dtype='float64')
99       79736
5001       486
5034         1
5088        29
5129         1
5148        10
5212         1
5266         4
5440         7
5615        14
5686         4
5837         3
8001        84
11001     1882
13001       37
15001      154
15238        7
15759       52
17001      199
17541        1
18001       21
19001      191
20001       15
20011        2
23001       23
25175       52
25290       24
25307       10
25430        2
25473        7
         ...
41001      241
44001        7
47001       22
50001       49
52001      351
54001       31
54498        2
54518       23
63001       58
66001       92
66682        2
68001      357
68081        5
68679       18
68755        2
70001        1
73001      154
73268       12
73349        1
76001     1458
76109        6
76111        7
76147        3
76520       23
76622        1
76834       20
81001        2
85001        2
86001        1
88001        1
Name: ESTU_IES_COD_MPIO_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [129]:
data_2011 = data_2011.drop([c], axis=1)

In [131]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index([               99,          'BOGOTÁ',           'VALLE',
             'ANTIOQUIA',       'SANTANDER',          'NARIÑO',
                 'HUILA',          'BOYACÁ',          'CALDAS',
                 'CAUCA',          'TOLIMA',    'CUNDINAMARCA',
             'RISARALDA',       'ATLÁNTICO',         'QUINDÍO',
       'NORTE SANTANDER',            'META',         'BOLÍVAR',
               'CÓRDOBA',       'MAGDALENA',         'CAQUETÁ',
                 'CESAR',      'LA GUAJIRA',        'CASANARE',
                 'CHOCÓ',          'ARAUCA',      'SAN ANDRÉS',
                 'SUCRE',        'PUTUMAYO'],
      dtype='object')
99                 79736
BOGOTÁ              1882
VALLE               1518
ANTIOQUIA            560
SANTANDER            382
NARIÑO               351
HUILA                241
BOYACÁ               213
CALDAS               200
CAUCA                191
TOLIMA               167
CUNDINAMARCA         101
RISARALDA             94
ATLÁNTICO             84
QUINDÍO               58
NORTE SANTANDER       56
META                  49
BOLÍVAR               37
CÓRDOBA               23
MAGDALENA             22
CAQUETÁ               21
CESAR                 17
LA GUAJIRA             7
CASANARE               2
CHOCÓ                  2
ARAUCA                 2
SAN ANDRÉS             1
SUCRE                  1
PUTUMAYO               1
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [132]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 79736
cant null despues: 0

In [133]:
c = 'ESTU_IES_DESEADA_NOMBRE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

TypeError: unorderable types: str() > int()

In [134]:
data_2011 = data_2011.drop([c], axis=1)

In [136]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index([                   99,         'BOGOTÁ D.C.',                'CALI',
                  'MEDELLIN',         'BUCARAMANGA',               'PASTO',
                     'NEIVA',           'MANIZALES',             'POPAYAN',
                     'TUNJA',              'IBAGUE',             'PEREIRA',
              'BARRANQUILLA',             'ARMENIA',            'SOGAMOSO',
                      'CHIA',       'VILLAVICENCIO',           'CARTAGENA',
                    'CUCUTA',               'BELLO',          'FUSAGASUGA',
                  'MONTERIA',            'PAMPLONA',             'PALMIRA',
               'SANTA MARTA',           'FLORENCIA',               'TULUA',
                   'SAN GIL',          'VALLEDUPAR',            'RIONEGRO',
                   'ESPINAL',            'GIRARDOT',   'CARMEN DE VIBORAL',
                  'RIOHACHA',            'MOSQUERA',             'DUITAMA',
                 'MARINILLA',                'BUGA',        'BUENAVENTURA',
           'BARRANCABERMEJA',               'UBATE',  'SANTA ROSA DE OSOS',
                  'ENVIGADO',               'TURBO',             'CARTAGO',
       'SANTA ROSA DE CABAL',              'MADRID',               'OCAÑA',
                    'QUIBDO',               'YOPAL',                'NILO',
                 'AGUACHICA',              'ARAUCA',             'SOCORRO',
               'PENSILVANIA',               'MOCOA',           'SINCELEJO',
                     'HONDA',          'SAN ANDRES',          'ROLDANILLO',
                    'CALDAS',          'COPACABANA',               'ANDES'],
      dtype='object')
99                     79736
BOGOTÁ D.C.             1882
CALI                    1458
MEDELLIN                 486
BUCARAMANGA              357
PASTO                    351
NEIVA                    241
MANIZALES                199
POPAYAN                  191
TUNJA                    154
IBAGUE                   154
PEREIRA                   92
BARRANQUILLA              84
ARMENIA                   58
SOGAMOSO                  52
CHIA                      52
VILLAVICENCIO             49
CARTAGENA                 37
CUCUTA                    31
BELLO                     29
FUSAGASUGA                24
MONTERIA                  23
PAMPLONA                  23
PALMIRA                   23
SANTA MARTA               22
FLORENCIA                 21
TULUA                     20
SAN GIL                   18
VALLEDUPAR                15
RIONEGRO                  14
                       ...
RIOHACHA                   7
MOSQUERA                   7
DUITAMA                    7
MARINILLA                  7
BUGA                       7
BUENAVENTURA               6
BARRANCABERMEJA            5
UBATE                      4
SANTA ROSA DE OSOS         4
ENVIGADO                   4
TURBO                      3
CARTAGO                    3
SANTA ROSA DE CABAL        2
MADRID                     2
OCAÑA                      2
QUIBDO                     2
YOPAL                      2
NILO                       2
AGUACHICA                  2
ARAUCA                     2
SOCORRO                    2
PENSILVANIA                1
MOCOA                      1
SINCELEJO                  1
HONDA                      1
SAN ANDRES                 1
ROLDANILLO                 1
CALDAS                     1
COPACABANA                 1
ANDES                      1
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [137]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 79736
cant null despues: 0

In [138]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              68.0, 70.0, 71.0, 72.0, 74.0, 75.0, 76.0, 82.0, 85.0, 88.0, 90.0,
              92.0, 93.0, 95.0, 98.0, 99.0],
             dtype='float64')
1        10
2        21
3        29
4        33
5        30
6        38
7        21
8        30
9        29
10       49
11       33
12       81
13       58
14       46
15      103
16       77
17       85
18       89
19       67
20      167
21       90
22      106
23      106
24      100
25      156
26       72
27       84
28      121
29       70
30      215
      ...
53       10
54        2
55        6
56       10
57        9
58        4
59        6
60        7
61        2
62        3
63        1
64        3
65        5
66        5
68        1
70       12
71        1
72        1
74        1
75        1
76        6
82        2
85        3
88        2
90        2
92        2
93        1
95        1
98        1
99    82552
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [139]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([  99.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0],
             dtype='float64')
99      82549
1985      245
1986       22
1987       26
1988       12
1989       19
1990       41
1991       31
1992       35
1993       41
1994       55
1995       97
1996      143
1997      225
1998      327
1999      636
2000     1515
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [141]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

TypeError: unorderable types: float() > str()

In [142]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([  99.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0],
             dtype='float64')
99      82549
1985      137
1986       12
1987       11
1988       13
1989       15
1990       25
1991       33
1992       20
1993       16
1994       27
1995       38
1996       31
1997       43
1998       35
1999       57
2000      133
2001      153
2002      203
2003      295
2004      588
2005     1585
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [143]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [144]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 99.0], dtype='float64')
1      1043
2       605
3       379
4       168
5       109
6       308
7        81
8        61
9        46
10       58
11      612
99    82549
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [145]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [146]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([  99.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0],
             dtype='float64')
99      82549
1985       79
1986       11
1987       13
1988       12
1989       10
1990       11
1991       19
1992       22
1993       12
1994       19
1995       25
1996       39
1997       35
1998       33
1999       39
2000       62
2001      116
2002      150
2003      213
2004      391
2005     1085
2006     1074
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [147]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [148]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 99.0], dtype='float64')
0       658
1      1100
2       684
3      1028
99    82549
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [149]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549

/usr/local/lib/python3.4/dist-packages/pandas/core/internals.py:4288: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  comp = (nn == nn_at)

TypeError: unorderable types: float() > str()

In [150]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 99.0], dtype='float64')
1      1649
2       794
3       448
99    83128
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [151]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 83128
cant null despues: 0

In [152]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3336
1       134
99    82549
Name: ESTU_REPROBO_CUARTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [153]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [154]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3185
1       285
99    82549
Name: ESTU_REPROBO_DECIMO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [155]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [156]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3192
1       278
99    82549
Name: ESTU_REPROBO_NOVENO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [157]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [158]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3182
1       288
99    82549
Name: ESTU_REPROBO_OCTAVO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [159]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [160]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3302
1       168
99    82549
Name: ESTU_REPROBO_PRIMERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [161]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [162]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3347
1       123
99    82549
Name: ESTU_REPROBO_QUINTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [163]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [164]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3331
1       139
99    82549
Name: ESTU_REPROBO_SEGUNDO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [165]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [166]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3201
1       269
99    82549
Name: ESTU_REPROBO_SEPTIMO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [167]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [168]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3194
1       276
99    82549
Name: ESTU_REPROBO_SEXTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [169]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [170]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3307
1       163
99    82549
Name: ESTU_REPROBO_TERCERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [171]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [172]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      3274
1       196
99    82549
Name: ESTU_REPROBO_ONCE_MAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [173]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82549
cant null despues: 0

In [174]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['-'], dtype='object')
-    86019
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [175]:
data_2011 = data_2011.drop([c], axis=1)

In [176]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['-'], dtype='object')
-    86019
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [177]:
data_2011 = data_2011.drop([c], axis=1)

In [178]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      2268
1       909
99    82842
Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [179]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82842
cant null despues: 0

In [180]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['-'], dtype='object')
-    86019
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [181]:
data_2011 = data_2011.drop([c], axis=1)

In [183]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['-'], dtype='object')
-    86019
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [184]:
data_2011 = data_2011.drop([c], axis=1)

In [185]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      2487
1       690
99    82842
Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [186]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82842
cant null despues: 0

In [187]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 2.0, 99.0], dtype='float64')
0      1320
1      1598
2       259
99    82842
Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [188]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82842
cant null despues: 0

In [189]:
c = 'ESTU_RAZON_RETIRO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 99.0], dtype='float64')
1        27
2        59
3       413
4        79
5       111
6        67
7        19
8        13
9       397
99    84834
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [190]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 84834
cant null despues: 0

In [191]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      2086
1      1091
99    82842
Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [192]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82842
cant null despues: 0

In [193]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['-'], dtype='object')
-    86019
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [194]:
data_2011 = data_2011.drop([c], axis=1)

In [195]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['-'], dtype='object')
-    86019
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [196]:
data_2011 = data_2011.drop([c], axis=1)

In [197]:
c = 'ESTU_POR_OTRARAZON'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      2104
1      1073
99    82842
Name: ESTU_POR_OTRARAZON, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [198]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82842
cant null despues: 0

In [199]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0       556
1      2621
99    82842
Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [200]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82842
cant null despues: 0

In [201]:
c = 'ESTU_POR_UBICACION'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      1640
1      1537
99    82842
Name: ESTU_POR_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [202]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82842
cant null despues: 0

In [203]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      2313
1       864
99    82842
Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [204]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 82842
cant null despues: 0

In [205]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['-'], dtype='object')
-    86019
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [206]:
data_2011 = data_2011.drop([c], axis=1)

In [207]:
c = 'COLE_VALOR_PENSION'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0, 99.0],
             dtype='float64')
0     16291
1       248
2       100
3        46
4        40
5        24
6        16
7        10
8     14899
9      3373
10     2274
11     4010
12     8295
99    36393
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [208]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 36393
cant null despues: 0

In [209]:
c = 'ESTU_VECES_ESTADO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 99.0], dtype='float64')
0     44440
1     23547
2     10321
3      6245
4      1252
99      214
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [210]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 214
cant null despues: 0

In [211]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['AGUACHICA', 'ALBANIA', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.', 'BOLIVAR',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALI', 'CAMPOALEGRE',
       'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CHAPARRAL', 'CHIA', 'CUCUTA',
       'EL DONCELLO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA',
       'GARZON', 'GIRARDOT', 'GRANADA', 'GUAMO', 'GUATEQUE', 'IBAGUE',
       'INIRIDA', 'IPIALES', 'ITSMINA', 'LA DORADA', 'LA PLATA', 'LETICIA',
       'LORICA', 'MAGANGUE', 'MAICAO', 'MALAGA', 'MANIZALES', 'MEDELLIN',
       'MITU', 'MOCOA', 'MONIQUIRA', 'MONTELIBANO', 'MONTERIA', 'NEIVA',
       'OCAÑA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PATIA(EL BORDO)',
       'PAZ DE ARIPORO', 'PEREIRA', 'PITALITO', 'POPAYAN', 'PUERTO ASIS',
       'PUERTO CARREÑO', 'PUERTO TEJADA', 'QUIBDO', 'RIOHACHA', 'RIONEGRO',
       'ROLDANILLO', 'SAN ANDRES', 'SAN GIL', 'SAN JOSE DEL GUAVIARE',
       'SANTA MARTA', 'SANTA ROSA DE OSOS', 'SANTANDER DE QUILICHAO',
       'SEVILLA', 'SIBUNDOY', 'SILVIA', 'SINCELEJO', 'SOACHA', 'SOCORRO',
       'SOGAMOSO', 'SONSON', 'TAME', 'TULUA', 'TUMACO', 'TUNJA', 'TURBO',
       'VALLEDUPAR', 'VELEZ', 'VILLA DE LEYVA', 'VILLAVICENCIO', 'YOPAL',
       'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object')
AGUACHICA                   139
ALBANIA                      78
APARTADO                    333
ARAUCA                      182
ARMENIA                    1097
BARRANCABERMEJA             637
BARRANQUILLA               1673
BELLO                       697
BOGOTÁ D.C.               15867
BOLIVAR                      68
BUCARAMANGA                5228
BUENAVENTURA                442
BUGA                        809
CALI                      13501
CAMPOALEGRE                  94
CARTAGENA                  1129
CARTAGO                     479
CAUCASIA                     70
CHAPARRAL                   317
CHIA                        700
CUCUTA                     1070
EL DONCELLO                  62
ESPINAL                     212
FACATATIVA                  800
FLORENCIA                   461
FUSAGASUGA                  177
GARZON                      287
GIRARDOT                    217
GRANADA                     102
GUAMO                       122
                          ...
RIOHACHA                    310
RIONEGRO                    870
ROLDANILLO                   99
SAN ANDRES                   21
SAN GIL                     170
SAN JOSE DEL GUAVIARE        69
SANTA MARTA                 491
SANTA ROSA DE OSOS          150
SANTANDER DE QUILICHAO      589
SEVILLA                      45
SIBUNDOY                    125
SILVIA                       35
SINCELEJO                   413
SOACHA                      590
SOCORRO                     138
SOGAMOSO                   1487
SONSON                      195
TAME                         84
TULUA                       460
TUMACO                       89
TUNJA                      2320
TURBO                        55
VALLEDUPAR                  797
VELEZ                       153
VILLA DE LEYVA               65
VILLAVICENCIO              1339
YOPAL                       476
YUMBO                       316
ZARZAL                       98
ZIPAQUIRA                   373
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [212]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              22
ANTIOQUIA           7130
ARAUCA               266
ATLÁNTICO           1673
BOGOTÁ             15867
BOLÍVAR             1251
BOYACÁ              3982
CALDAS              2768
CAQUETÁ              523
CASANARE             522
CAUCA               2784
CESAR                936
CHOCÓ                409
CUNDINAMARCA        2857
CÓRDOBA              903
GUAINÍA               19
GUAVIARE              69
HUILA               4119
LA GUAJIRA           575
MAGDALENA            491
META                1441
NARIÑO              4894
NORTE SANTANDER     1360
PUTUMAYO             592
QUINDÍO             1097
RISARALDA           1566
SAN ANDRÉS            21
SANTANDER           6390
SUCRE                413
TOLIMA              3039
VALLE              18020
VAUPÉS                10
VICHADA               10
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [213]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['EXAMEN SABER 11- 2011'], dtype='object')
EXAMEN SABER 11- 2011    86019
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [214]:
data_2011 = data_2011.drop([c], axis=1)

In [215]:
c = 'FAMI_EDUCA_PADRE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      3151
1        77
2       445
3       282
4       266
5       438
6        50
7       139
8        39
9     13820
10    11573
11    10168
12    17772
13     1310
14     4408
15     1851
16    10949
17     4827
99     4454
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [216]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 4454
cant null despues: 0

In [217]:
c = 'FAMI_EDUCA_MADRE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      1961
1        29
2       376
3       300
4       330
5       507
6        43
7       179
8        30
9     12052
10    11752
11    11926
12    19605
13     1593
14     5805
15     2022
16    11131
17     4052
99     2326
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [218]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 2326
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [219]:
c = 'FAMI_OCUPA_PADRE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0, 99.0],
             dtype='float64')
1        30
2        58
3        22
4        15
5       134
6        34
7       294
8        71
9       793
10       50
11      176
12      336
13     3005
14     8026
15     2620
16     3248
17     5451
18     3269
19    12423
20     5205
21    22335
22     1636
23     4458
26    12158
99      172
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [220]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 172
cant null despues: 0

In [221]:
c = 'FAMI_OCUPA_MADRE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0, 99.0],
             dtype='float64')
1        10
2        54
3         8
4        20
5       110
6        73
7        97
8        49
9       286
10     1092
11       78
12      136
13     1389
14     3177
15     1573
16     3250
17     4753
18     3312
19     7456
20     3544
21     9201
22    38139
23     1788
26     6252
99      172
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [222]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 172
cant null despues: 0

In [223]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0, 99.0], dtype='float64')
1     18503
2     31313
3     21966
4      6550
5      3653
6      2954
8        24
99     1056
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [224]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 99.0], dtype='float64')
1     23017
2     19597
3      3966
4       845
5     38422
99      172
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [225]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 172
cant null despues: 0

In [226]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0,
              99.0],
             dtype='float64')
1      1064
2      6060
3     17207
4     26980
5     18555
6      8291
7      3690
8      1870
9       798
10      598
11      254
12      480
99      172
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [227]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 172
cant null despues: 0

In [228]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 99.0], dtype='float64')
1       130
2       708
3       868
4       276
5        75
6        18
7        10
8         5
9         1
99    83928
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [229]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 83928
cant null despues: 0

In [230]:
c = 'FAMI_PISOSHOGAR'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 99.0], dtype='float64')
1      2189
2     30994
3      4657
4     47368
5       639
99      172
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [231]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 172
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [232]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     32410
1     53439
99      170
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [233]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [234]:
c = 'FAMI_CELULAR'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      6149
1     79856
99       14
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [235]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 14
cant null despues: 0

In [236]:
c = 'FAMI_INTERNET'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     41946
1     43903
99      170
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [237]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [238]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     28294
1     57555
99      170
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [239]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [240]:
c = 'FAMI_COMPUTADOR'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 3.0, 99.0], dtype='float64')
0     30559
1      1419
3     53871
99      170
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [241]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [242]:
c = 'FAMI_LAVADORA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     29419
1     56430
99      170
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [243]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [244]:
c = 'FAMI_NEVERA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0      7417
1     78590
99       12
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [245]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 12
cant null despues: 0

In [246]:
c = 'FAMI_HORNO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     44483
1     41366
99      170
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [247]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [248]:
c = 'FAMI_DVD'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     28982
1     56867
99      170
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [249]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [250]:
c = 'FAMI_MICROONDAS'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     57086
1     28763
99      170
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [251]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [252]:
c = 'FAMI_AUTOMOVIL'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 99.0], dtype='float64')
0     63077
1     22772
99      170
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [253]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 170
cant null despues: 0

In [254]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 99.0], dtype='float64')
1     15607
2     37325
3     15693
4      8077
5      2980
6      2093
7      4072
99      172
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [255]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 172
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [256]:
c = 'ESTU_TRABAJA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 99.0], dtype='float64')
0     44974
1       122
2        33
3      2796
4       779
5      1209
6      2839
7      4041
99    29226
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [257]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 29226
cant null despues: 0

In [258]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0,
              99.0],
             dtype='float64')
0         5
1         5
2        16
3        24
4        86
5        61
6        91
7        38
8       387
9        78
10      161
11       17
12      125
13       11
14       21
15       72
16       96
17       13
18       74
19       26
20     3521
99    81091
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [259]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, float)

cant null antes: 81091
cant null despues: 0

## TARGETS

In [260]:
c = 'PUNT_LENGUAJE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['0', '20,92', '21,02', '22,08', '22,17', '28,77', '28,83', '29,88',
       '29,94', '33,65', '33,69', '34,73', '34,76', '37,34', '37,35', '38,38',
       '38,39', '40,37', '40,39', '41,37', '41,4', '42,99', '43,04', '43,96',
       '44,02', '45,36', '45,43', '46,29', '46,37', '47,55', '47,63', '48,44',
       '48,55', '49,61', '49,71', '50,47', '50,6', '51,58', '51,71', '52,42',
       '52,56', '53,51', '53,65', '54,32', '54,48', '55,41', '55,57', '56,18',
       '56,37', '57,31', '57,48', '58,05', '58,25', '59,23', '59,42', '59,95',
       '60,16', '61,2', '61,41', '61,89', '62,12', '63,25', '63,48', '63,91',
       '64,17', '65,42', '65,66', '66,06', '66,33', '67,77', '68,03', '68,38',
       '68,67', '70,38', '70,65', '70,96', '71,27', '73,38', '73,66', '73,94',
       '74,26', '77,01', '77,32', '77,55', '77,89', '81,84', '82,16', '82,36',
       '82,71', '89,96'],
      dtype='object')
0          36
20,92      32
21,02      39
22,08      44
22,17      50
28,77     128
28,83     115
29,88     192
29,94     196
33,65     359
33,69     379
34,73     422
34,76     519
37,34     763
37,35     725
38,38     989
38,39     923
40,37    1224
40,39    1193
41,37    1565
41,4     1623
42,99    1697
43,04    1694
43,96    2174
44,02    2245
45,36    2094
45,43    2197
46,29    2556
46,37    2587
47,55    2320
         ...
62,12     622
63,25     463
63,48     441
63,91     461
64,17     444
65,42     315
65,66     296
66,06     273
66,33     269
67,77     177
68,03     167
68,38     178
68,67     160
70,38      85
70,65      72
70,96      79
71,27      76
73,38      28
73,66      24
73,94      29
74,26      29
77,01       9
77,32       9
77,55       8
77,89      10
81,84       4
82,16       1
82,36       2
82,71       2
89,96       2
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [261]:
clean_target(data_2011, c)

In [262]:
c = 'PUNT_MATEMATICAS'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['0', '112,99', '113,27', '113,48', '113,64', '17,5', '17,7', '17,91',
       '18,23', '23,61', '23,84', '23,97', '24,3', '28,27', '28,52', '28,58',
       '28,91', '32,15', '32,42', '32,75', '35,55', '35,78', '35,84', '36,11',
       '38,64', '38,84', '38,94', '39,16', '41,51', '41,69', '41,82', '42',
       '44,23', '44,39', '44,55', '44,69', '46,86', '47,01', '47,19', '47,3',
       '49,43', '49,57', '49,77', '49,85', '51,97', '52,11', '52,32', '52,39',
       '54,52', '54,67', '54,88', '54,94', '57,11', '57,27', '57,47', '57,53',
       '59,77', '59,94', '60,14', '60,2', '62,53', '62,72', '62,92', '62,98',
       '65,46', '65,67', '65,86', '65,93', '68,62', '68,85', '69,03', '69,12',
       '7,78', '7,95', '72,11', '72,36', '72,53', '72,63', '76,1', '76,37',
       '76,53', '76,65', '8,26', '8,57', '80,88', '81,17', '81,33', '81,47',
       '87,14', '87,43', '87,61', '87,76', '97,02', '97,31', '97,5', '97,66'],
      dtype='object')
0           29
112,99      49
113,27      42
113,48      47
113,64      32
17,5        99
17,7        65
17,91       72
18,23       81
23,61      224
23,84      225
23,97      233
24,3       210
28,27      489
28,52      499
28,58      499
28,91      491
32,15      834
32,42     1763
32,75      881
35,55     1239
35,78     1295
35,84     1270
36,11     1372
38,64     1600
38,84     1599
38,94     1613
39,16     1688
41,51     1740
41,69     1818
          ...
65,86      728
65,93      694
68,62      694
68,85      611
69,03      669
69,12      586
7,78        22
7,95        21
72,11      527
72,36      502
72,53      491
72,63      440
76,1       400
76,37      391
76,53      423
76,65      352
8,26        16
8,57        16
80,88      305
81,17      251
81,33      306
81,47      302
87,14      184
87,43      200
87,61      176
87,76      187
97,02      112
97,31       90
97,5       106
97,66      117
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [263]:
clean_target(data_2011, c)
for i in data_2011[c].value_counts().sort_index().index:
    if i < 0:
        data_2011[c] = data_2011[c].replace(i, 0)
    elif i > 100:
        data_2011[c] = data_2011[c].replace(i, 100)

In [264]:
c = 'PUNT_C_SOCIALES'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['0', '1', '1,59', '10,27', '10,93', '108,28', '11,63', '15,18', '16,02',
       '16,74',
       ...
       '78,77', '79,52', '83,75', '84,45', '84,59', '85,31', '9,35', '93',
       '93,67', '93,92'],
      dtype='object', length=115)
0          23
1           5
1,59        7
10,27      12
10,93      22
108,28      2
11,63      14
15,18      47
16,02      26
16,74      47
17,39      45
19,58     122
2,36        2
20,35      82
21,12     159
21,71     122
23,21     189
23,9      172
24,72     321
25,26     271
26,35     341
26,98     384
27,84     445
28,32     452
29,17     482
29,73     525
30,62     686
31,05     685
31,76     632
32,25     728
         ...
62,71     567
63,13     560
64,37     374
64,82     360
65,19     383
65,68     344
67,11     231
67,63     229
67,9      206
68,46     186
70,17     103
70,76      96
70,94      97
71,57      83
73,71      55
74,38      52
74,45      47
75,15      33
78,02      24
78,73      22
78,77      22
79,52       9
83,75       5
84,45       4
84,59       5
85,31       2
9,35       10
93          1
93,67       1
93,92       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [265]:
clean_target(data_2011, c)
for i in data_2011[c].value_counts().sort_index().index:
    if i < 0:
        data_2011[c] = data_2011[c].replace(i, 0)
    elif i > 100:
        data_2011[c] = data_2011[c].replace(i, 100)

In [266]:
c = 'PUNT_FILOSOFIA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['0', '11,37', '12,27', '12,4', '12,77', '17,07', '17,96', '18,05',
       '18,43', '2,28', '21,42', '22,29', '22,33', '22,72', '25,04', '25,89',
       '26,28', '28,21', '29', '29,04', '29,39', '3,19', '3,35', '3,73',
       '31,1', '31,82', '31,91', '32,21', '33,79', '34,45', '34,58', '34,84',
       '36,36', '36,94', '37,12', '37,34', '38,84', '39,35', '39,58', '39,75',
       '41,27', '41,7', '41,99', '42,11', '43,68', '44,04', '44,38', '44,46',
       '46,1', '46,38', '46,79', '46,81', '48,56', '48,76', '49,2', '49,23',
       '51,08', '51,21', '51,66', '51,75', '53,71', '53,76', '54,22', '54,37',
       '56,47', '56,48', '56,94', '57,15', '59,39', '59,47', '59,87', '60,15',
       '62,62', '62,76', '63,12', '63,45', '66,31', '66,51', '66,83', '67,23',
       '70,76', '71,01', '71,29', '71,75', '76,59', '77,14', '86,18'],
      dtype='object')
0         266
11,37      54
12,27      57
12,4       56
12,77      76
17,07     119
17,96     168
18,05     158
18,43     189
2,28       14
21,42     251
22,29     355
22,33     322
22,72     394
25,04     479
25,89    1113
26,28     661
28,21     677
29        866
29,04     948
29,39     954
3,19       20
3,35       32
3,73       22
31,1     1026
31,82    1166
31,91    1125
32,21    1226
33,79    1378
34,45    1409
         ...
51,21    1769
51,66    1754
51,75    1777
53,71    1279
53,76    1263
54,22    1213
54,37    1213
56,47     741
56,48     741
56,94     689
57,15     697
59,39     344
59,47     349
59,87     357
60,15     300
62,62     138
62,76     124
63,12     148
63,45     114
66,31      33
66,51      38
66,83      45
67,23      36
70,76      11
71,01       7
71,29      10
71,75       9
76,59       2
77,14       1
86,18       1
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [267]:
clean_target(data_2011, c)

In [268]:
c = 'PUNT_BIOLOGIA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['0', '13,96', '14,21', '14,25', '14,33', '21,68', '21,9', '21,93',
       '22,02', '26,55', '26,74', '26,77', '26,87', '30,27', '30,43', '30,46',
       '30,57', '33,38', '33,52', '33,54', '33,65', '36,12', '36,25', '36,26',
       '36,36', '38,63', '38,73', '38,74', '38,84', '40,98', '41,07', '41,15',
       '43,22', '43,3', '43,36', '45,4', '45,47', '45,5', '47,56', '47,61',
       '47,62', '49,71', '49,73', '49,76', '49,77', '51,87', '51,9', '51,93',
       '51,95', '54,06', '54,13', '54,16', '54,18', '56,34', '56,46', '56,48',
       '56,51', '58,75', '58,91', '58,93', '58,96', '61,35', '61,54', '61,57',
       '61,6', '64,2', '64,43', '64,46', '64,5', '67,46', '67,72', '67,75',
       '67,79', '71,35', '71,63', '71,66', '71,7', '76,41', '76,71', '76,74',
       '76,79', '84,34', '84,66', '84,68', '84,73', '97,07', '97,4', '97,41',
       '97,46'],
      dtype='object')
0         120
13,96      15
14,21      24
14,25      23
14,33      22
21,68      62
21,9       84
21,93      78
22,02      34
26,55     167
26,74     233
26,77     205
26,87     183
30,27     432
30,43     466
30,46     491
30,57     463
33,38     777
33,52     819
33,54     808
33,65     749
36,12    1199
36,25    1189
36,26    1192
36,36    1198
38,63    1620
38,73    1563
38,74    1555
38,84    1677
40,98    1985
         ...
58,93     918
58,96     921
61,35     604
61,54     638
61,57     651
61,6      647
64,2      348
64,43     379
64,46     432
64,5      417
67,46     174
67,72     194
67,75     229
67,79     208
71,35     104
71,63     106
71,66     114
71,7      129
76,41      47
76,71      37
76,74      47
76,79      39
84,34      10
84,66       8
84,68      18
84,73      19
97,07       1
97,4        3
97,41       4
97,46       1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [269]:
clean_target(data_2011, c)

In [270]:
c = 'PUNT_QUIMICA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['0', '17,74', '17,84', '18,25', '18,27', '24,65', '24,73', '25,14',
       '25,17', '28,98', '29,05', '29,45', '29,51', '32,28', '32,33', '32,72',
       '32,8', '35,02', '35,05', '35,44', '35,53', '37,42', '37,43', '37,81',
       '37,92', '39,59', '39,6', '39,96', '40,09', '41,6', '41,62', '41,96',
       '42,1', '43,51', '43,54', '43,86', '44,01', '45,36', '45,4', '45,69',
       '45,85', '47,17', '47,22', '47,49', '47,66', '48,96', '49,03', '49,27',
       '49,45', '50,78', '50,86', '51,07', '51,26', '52,62', '52,72', '52,9',
       '53,09', '54,54', '54,64', '54,79', '54,99', '56,55', '56,66', '56,77',
       '56,98', '58,69', '58,82', '58,89', '59,1', '61,02', '61,16', '61,2',
       '61,4', '63,62', '63,77', '63,97', '66,6', '66,74', '66,78', '66,93',
       '70,2', '70,32', '70,4', '70,5', '74,89', '75,02', '75,12', '75,18',
       '82,22', '82,36', '82,47', '82,5', '93,83', '94', '94,11', '94,12'],
      dtype='object')
0          61
17,74      18
17,84      26
18,25      27
18,27      14
24,65      87
24,73      81
25,14      89
25,17      72
28,98     209
29,05     260
29,45     258
29,51     207
32,28     505
32,33     524
32,72     533
32,8      496
35,02     895
35,05     888
35,44     989
35,53     958
37,42    1322
37,43    1290
37,81    1448
37,92    1354
39,59    1711
39,6     1737
39,96    1731
40,09    1764
41,6     1922
         ...
58,82     677
58,89     723
59,1      639
61,02     517
61,16     488
61,2      474
61,4      470
63,62     332
63,77     657
63,97     300
66,6      226
66,74     198
66,78     219
66,93     181
70,2      129
70,32     118
70,4      118
70,5      103
74,89      61
75,02      45
75,12      53
75,18      55
82,22      18
82,36      21
82,47      24
82,5       23
93,83       2
94          4
94,11       6
94,12       5
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [271]:
clean_target(data_2011, c)

In [272]:
c = 'PUNT_FISICA'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['0', '109,97', '109,99', '110,32', '110,52', '17,04', '17,13', '17,39',
       '17,65', '23,09', '23,24', '23,43', '23,75', '27,66', '27,86', '27,99',
       '28,37', '31,43', '31,68', '31,75', '32,18', '34,71', '35,01', '35,03',
       '35,5', '37,68', '37,98', '38,01', '38,5', '40,44', '40,73', '40,8',
       '41,27', '43,04', '43,32', '43,43', '43,89', '45,54', '45,81', '45,95',
       '46,41', '47,99', '48,24', '48,41', '48,85', '50,41', '50,64', '50,84',
       '51,27', '52,83', '53,05', '53,27', '53,68', '55,29', '55,49', '55,73',
       '56,13', '57,81', '57,99', '58,25', '58,63', '60,45', '60,6', '60,87',
       '61,23', '63,23', '63,37', '63,65', '63,99', '66,24', '66,35', '66,65',
       '66,97', '69,57', '69,66', '69,97', '7,33', '7,35', '7,68', '7,87',
       '70,27', '73,4', '73,47', '73,78', '74,06', '78,02', '78,07', '78,38',
       '78,65', '84,13', '84,15', '84,48', '84,72', '93,91', '93,92', '94,25',
       '94,47'],
      dtype='object')
0           62
109,97       1
109,99       2
110,32       3
110,52       1
17,04       59
17,13       74
17,39       59
17,65       95
23,09      194
23,24      229
23,43      202
23,75      255
27,66      508
27,86      514
27,99      481
28,37      602
31,43      949
31,68     1029
31,75      926
32,18     1074
34,71     1449
35,01     1527
35,03     1543
35,5      1521
37,68     1916
37,98     2058
38,01     2104
38,5      2082
40,44     2294
          ...
63,65      316
63,99      296
66,24      200
66,35      198
66,65      166
66,97      181
69,57       99
69,66      113
69,97      104
7,33        22
7,35        13
7,68        12
7,87        11
70,27      103
73,4        52
73,47       68
73,78       51
74,06       40
78,02       20
78,07       32
78,38       36
78,65       25
84,13       19
84,15       10
84,48       10
84,72       11
93,91        9
93,92        5
94,25        9
94,47        5
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [273]:
clean_target(data_2011, c)
for i in data_2011[c].value_counts().sort_index().index:
    if i < 0:
        data_2011[c] = data_2011[c].replace(i, 0)
    elif i > 100:
        data_2011[c] = data_2011[c].replace(i, 100)

In [274]:
c = 'PUNT_INGLES'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['-1', '0', '100', '11,71', '15,55', '19,16', '22,55', '25,71', '28,64',
       '3,34', '31,34', '33,81', '36,06', '38,08', '39,87', '41,43', '42,76',
       '43,48', '44,56', '44,71', '45,63', '45,94', '46,71', '47,17', '47,79',
       '48,4', '48,86', '49,63', '49,94', '50,86', '51,01', '52,09', '53,32',
       '54,64', '55,95', '57,27', '58,59', '59,9', '61,22', '62,69', '64,56',
       '64,8', '66,44', '66,91', '68,31', '69,01', '7,64', '70,18', '71,12',
       '72,06', '73,23', '73,93', '75,34', '75,8', '77,44', '77,68', '79,55',
       '83,41', '87,56', '91,71', '95,85'],
      dtype='object')
-1          8
0          16
100        91
11,71      17
15,55      68
19,16     145
22,55     407
25,71     891
28,64    1688
3,34        8
31,34    2709
33,81    3901
36,06    5051
38,08    6124
39,87    6557
41,43    6270
42,76    5863
43,48    5210
44,56    2051
44,71    2421
45,63    1666
45,94    2092
46,71    1332
47,17    1726
47,79    1173
48,4     1397
48,86    1031
49,63    1253
49,94     851
50,86    1076
         ...
52,09    1717
53,32    1466
54,64    1425
55,95    1300
57,27    1249
58,59    1092
59,9     1011
61,22     976
62,69     972
64,56     482
64,8      407
66,44     487
66,91     427
68,31     439
69,01     395
7,64        7
70,18     449
71,12     417
72,06     432
73,23     407
73,93     432
75,34     414
75,8      456
77,44     458
77,68     497
79,55    1073
83,41    1140
87,56     993
91,71     729
95,85     374
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [275]:
clean_target(data_2011, c)
for i in data_2011[c].value_counts().sort_index().index:
    if i < 0:
        data_2011[c] = data_2011[c].replace(i, 0)
    elif i > 100:
        data_2011[c] = data_2011[c].replace(i, 100)

In [277]:
c = 'DESEMP_INGLES'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index(['A-', 'A1', 'B1', 'A2', 'B+', 99], dtype='object')
A-    39722
A1    25799
B1     8644
A2     8519
B+     3327
99        8
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [278]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 8
cant null despues: 0

In [279]:
c = 'NOMBRE_COMP_FLEXIBLE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['MEDIO AMBIENTE', 'PROFUNDIZACIÓN EN BIOLOGÍA',
       'PROFUNDIZACIÓN EN CIENCIAS SOCIALES', 'PROFUNDIZACIÓN EN LENGUAJE',
       'PROFUNDIZACIÓN EN MATEMÁTICA', 'VIOLENCIA Y SOCIEDAD'],
      dtype='object')
MEDIO AMBIENTE                         24888
PROFUNDIZACIÓN EN BIOLOGÍA             13691
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     5513
PROFUNDIZACIÓN EN LENGUAJE              9905
PROFUNDIZACIÓN EN MATEMÁTICA           10957
VIOLENCIA Y SOCIEDAD                   21065
Name: NOMBRE_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [280]:
c = 'PUNT_COMP_FLEXIBLE'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Index(['0', '10', '15,76', '2,1', '2,3', '23,35', '28,43', '3', '3,1', '3,2',
       '3,6', '3,8', '32,5', '36,03', '39,29', '4,1', '4,2', '4,3', '4,5',
       '4,6', '4,7', '4,8', '42,42', '45,31', '45,58', '47,58', '48,9',
       '49,06', '5', '5,1', '5,3', '5,4', '5,5', '5,6', '5,7', '5,8', '5,9',
       '50,23', '51,25', '52,19', '52,58', '53,09', '53,99', '54,91', '55,89',
       '56,98', '58,24', '59,82', '6', '6,2', '6,3', '6,5', '6,6', '6,7',
       '62,21', '62,79', '7', '7,1', '7,3', '7,4', '7,6', '7,7', '7,9',
       '71,35', '8,2', '8,5', '8,6', '8,7', '8,9', '83,28'],
      dtype='object')
0         834
10         11
15,76     141
2,1       156
2,3        86
23,35     355
28,43     725
3         512
3,1       238
3,2       211
3,6       942
3,8      2823
32,5     1172
36,03    1790
39,29    2352
4,1      1254
4,2       674
4,3      1106
4,5      3817
4,6       798
4,7      1488
4,8      1350
42,42    2904
45,31     408
45,58    3289
47,58    1196
48,9     3266
49,06    2349
5        3174
5,1      2995
         ...
52,58    2552
53,09    3497
53,99    2670
54,91    1650
55,89     836
56,98    1932
58,24      81
59,82      10
6        1997
6,2       944
6,3      1576
6,5       564
6,6      1080
6,7       252
62,21       1
62,79     704
7         874
7,1        44
7,3        59
7,4       240
7,6        53
7,7        52
7,9        62
71,35     149
8,2        33
8,5        21
8,6         2
8,7         1
8,9        29
83,28       7
Name: PUNT_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [281]:
clean_target(data_2011, c)
for i in data_2011[c].value_counts().sort_index().index:
    if i < 0:
        data_2011[c] = data_2011[c].replace(i, 0)
    elif i > 100:
        data_2011[c] = data_2011[c].replace(i, 100)

In [283]:
c = 'DESEMP_COMP_FLEXIBLE'
print(data_2011[c].value_counts().index)
print(data_2011[c].value_counts())
print(missing_data(data_2011[c]))

Index([99, 'I', 'GB', 'II', 'III'], dtype='object')
99     45953
I      19043
GB     15954
II      4858
III      211
Name: DESEMP_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

In [284]:
data_2011[c] = data_2011[c].replace(99, np.nan)
Do_resamples(data_2011, c, str)

cant null antes: 45953
cant null despues: 0

In [285]:
c = 'ESTU_PUESTO'
print(data_2011[c].value_counts().sort_index().index)
print(data_2011[c].value_counts().sort_index())
print(missing_data(data_2011[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       87
2       87
3       86
4       88
5       87
6       86
7       88
8       87
9       87
10      87
11      88
12      87
13      87
14      88
15      87
16      87
17      87
18      88
19      86
20      87
21      88
22      87
23      87
24      87
25      88
26      87
27      87
28      88
29      87
30      87
        ..
971     87
972     84
973     87
974     87
975     83
976     88
977     84
978     85
979     86
980     86
981     86
982     86
983     87
984     86
985     86
986     87
987     88
988     87
989     86
990     87
991     87
992     86
993     87
994     88
995     86
996     82
997     27
998     11
999      4
1000     6
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86019
__________________
(86019,)
None

____

____

____

____

____

____

____

____

____

## FILE 2: 2011_2

In [3]:
data_2011_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20112-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10,11,12,14,15,24,101,102,103,104,105,106,107,108,111) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_2011_2.shape

(564171, 114)

In [5]:
data_2011_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120112000001,SABER1120112000002,SABER1120112000003
PERIODO,20112,20112,20112
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,M
ESTU_NACIMIENTO_DIA,7,18,13
ESTU_NACIMIENTO_MES,2,3,3
ESTU_NACIMIENTO_ANNO,1995,2001,1994
ESTU_EDAD,16,10,17
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,11001,54001,18029
ESTU_RESIDE_MCPIO,BOGOTÁ D.C.,CUCUTA,ALBANIA
ESTU_RESIDE_DEPTO,BOGOTÁ,NORTE SANTANDER,CAQUETÁ
ESTU_ZONA_RESIDE,4,10,10
ESTU_AREA_RESIDE,1,1,1
IND_COD_ICFES_TERMINO,109488,92353,45716
COLE_COD_ICFES,109488,92353,45716
COLE_COD_DANE_INSTITUCION,1.11001e+11,3.54001e+11,1.83029e+11
COLE_NOMBRE_SEDE,CENT EDUC DIST ALEJANDRO OBREGON,COL TEC MARIA GORETTI,SAN CARLOS
COLE_CALENDARIO,A,A,A
COLE_GENERO,X,X,X
COLE_NATURALEZA,O,N,O
COLE_BILINGUE,0,0,1
...,...,...,...
FAMI_PERSONAS_HOGAR,7,3,6
FAMI_CUARTOS_HOGAR,NaN,NaN,NaN
FAMI_PISOSHOGAR,4,2,2
FAMI_TELEFONO_FIJO,1,0,0
FAMI_CELULAR,1,1,1
FAMI_INTERNET,0,0,0
FAMI_SERVICIO_TELEVISION,1,0,0
FAMI_COMPUTADOR,3,0,3
FAMI_LAVADORA,1,0,1
FAMI_NEVERA,1,1,1
FAMI_HORNO,1,0,0
FAMI_DVD,1,1,0
FAMI_MICROONDAS,1,0,0
FAMI_AUTOMOVIL,0,0,0
FAMI_INGRESO_FMILIAR_MENSUAL,3,1,2
ESTU_TRABAJA,6,0,0
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
PUNT_LENGUAJE,39,33,57
PUNT_MATEMATICAS,49,31,55
PUNT_C_SOCIALES,44,25,54
PUNT_FILOSOFIA,37,33,54
PUNT_BIOLOGIA,48,41,55
PUNT_QUIMICA,47,38,41
PUNT_FISICA,45,45,49
PUNT_INGLES,41,43,45
DESEMP_INGLES,A-,A1,A1
NOMBRE_COMP_FLEXIBLE,PROFUNDIZACIÓN EN LENGUAJE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_COMP_FLEXIBLE,4,45,45
DESEMP_COMP_FLEXIBLE,GB,NaN,NaN
ESTU_PUESTO,427,903,145

In [7]:
data_2011_2 = data_2011_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA', 'ESTU_COD_MCPIO_PRESENTACION'], axis=1)

In [ ]:
c = 'ESTU_PAIS_RESIDE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_GENERO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_NACIMIENTO_DIA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_NACIMIENTO_MES'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_NACIMIENTO_ANNO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_EDAD'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_LIMITA_BAJAVISION'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_LIMITA_COGNITIVA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_LIMITA_INVIDENTE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_LIMITA_MOTRIZ'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_ETNIA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_RESIDE_MCPIO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_RESIDE_DEPTO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_ZONA_RESIDE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_AREA_RESIDE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'IND_COD_ICFES_TERMINO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_COD_ICFES'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_COD_DANE_INSTITUCION'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_NOMBRE_SEDE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_CALENDARIO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_GENERO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_NATURALEZA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_BILINGUE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_JORNADA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_CARACTER'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'COLE_VALOR_PENSION'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_CARRDESEADA_TIPO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_IES_COD_DESEADA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_IES_DEPT_DESEADA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_IES_MPIO_DESEADA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_ANO_TERMINO_QUINTO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_ANOS_PREESCOLAR'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_CUARTO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_DECIMO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_NOVENO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_OCTAVO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_PRIMERO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_QUINTO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_SEGUNDO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_SEPTIMO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_SEXTO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_TERCERO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_REPROBO_ONCE_MAS'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_INTERESPERSONAL'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_BUSCANDOCARRERA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_RAZON_RETIRO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_COSTOMATRICULA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_OPORTUNIDADES'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_OTRARAZON'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_PRESTIGIOINSTITUCION'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_UBICACION'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_POR_UNICAQUEOFRECE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_RETIRARSE_COLEGIO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_VECES_ESTADO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_MCPIO_PRESENTACION'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_DEPTO_PRESENTACION'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_EDUCA_PADRE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_EDUCA_MADRE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_OCUPA_PADRE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_OCUPA_MADRE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_ESTRATO_VIVIENDA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_NIVEL_SISBEN'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_PERSONAS_HOGAR'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_CUARTOS_HOGAR'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_PISOSHOGAR'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_TELEFONO_FIJO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_CELULAR'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_INTERNET'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_SERVICIO_TELEVISION'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_COMPUTADOR'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_LAVADORA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_NEVERA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_HORNO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_DVD'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_MICROONDAS'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_AUTOMOVIL'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_TRABAJA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_HORAS_TRABAJA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

## TARGETS

In [ ]:
c = 'PUNT_LENGUAJE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'PUNT_MATEMATICAS'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'PUNT_C_SOCIALES'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'PUNT_FILOSOFIA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'PUNT_BIOLOGIA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'PUNT_QUIMICA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'PUNT_FISICA'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'PUNT_INGLES'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'DESEMP_INGLES'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'NOMBRE_COMP_FLEXIBLE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'PUNT_COMP_FLEXIBLE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'DESEMP_COMP_FLEXIBLE'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

In [ ]:
c = 'ESTU_PUESTO'
data_2011_2[c].value_counts().sort_index().index
data_2011_2[c].value_counts().sort_index()
missing_data(data_2011_2[c])

Now i can transform the obtained Dataframes in csv files

In [286]:
data_2011 = label_encoder(data_2011)

In [287]:
data_2011.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2011_1.csv', sep=';', index=False)