In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2006 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20061-RGSTRO-CLFCCN-V1-0.txt', delimiter='|',
                       encoding = "iso-8859-1")

In [3]:
data_2006.shape

(61335, 85)

In [4]:
data_2006.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB1120061000001,SB1120061000002,SB1120061000003
PERIODO,20061,20061,20061
ESTU_TIPO_DOCUMENTO,T,R,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,24,29,24
ESTU_NACIMIENTO_MES,4,12,10
ESTU_NACIMIENTO_ANNO,1989,1988,1987
ESTU_EDAD,16,17,18
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76823,76823,11001
ESTU_RESIDE_MCPIO,TORO,TORO,BOGOTÃ D.C.
ESTU_RESIDE_DEPTO,VALLE,VALLE,BOGOTÃ
ESTU_ZONA_RESIDE,10,10,1
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,76823,76823,44035
ESTU_MCPIO_PRESENTACION,TORO,TORO,ALBANIA
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,LA GUAJIRA
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006)
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2005,2005,2005
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,18861,18861,50724
COLE_COD_ICFES,18861,18861,50724
...,...,...,...
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,6
ESTU_TRABAJA,NaN,NaN,0
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,0,0,7
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,NaN,NaN,NaN
ESTU_IES_DESEADA_NOMBRE,NaN,NaN,NaN
ESTU_IES_COD_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_DEPT_DESEADA,NaN,NaN,NaN
ESTU_RAZONINSTITUTO,NaN,NaN,6
ESTU_CARRDESEADA_COD,NaN,NaN,NaN
ESTU_CARRDESEADA_RAZON,NaN,NaN,2
PUNT_LENGUAJE,"45,57","40,49","59,31"
PUNT_MATEMATICAS,"45,81","56,19","58,51"
PUNT_C_SOCIALES,"44,41","46,91","51,89"
PUNT_FILOSOFIA,"23,47","37,78","49,86"
PUNT_BIOLOGIA,"44,66","46,76","62,6"
PUNT_QUIMICA,"43,19","48,75","52,25"
PUNT_FISICA,"40,38","49,27","51,81"
NOMBRE_IDIOMA,INGLÃS,INGLÃS,INGLÃS
PUNT_IDIOMA,"41,03","34,2","85,62"
DESEMP_IDIOMA,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÃN EN BIOLOGÃA,PROFUNDIZACIÃN EN BIOLOGÃA,PROFUNDIZACIÃN EN LENGUAJE
PUNT_PROFUNDIZACION,"5,33","5,69","7,33"
DESEMP_PROFUNDIZACION,II,II,III
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"53,91","54,79","62,84"
ESTU_PUESTO,831,547,30

Deleting the columns that won't contribute to the work

In [5]:
data_2006 = data_2006.drop(['ESTU_CONSECUTIVO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO', 'ESTU_COD_MCPIO_PRESENTACION',
                            'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA', 'PERIODO'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AR', 'AT', 'BO', 'CA', 'CL', 'CN', 'CO', 'CU', 'DE', 'EC', 'ES', 'GT',
       'IR', 'JM', 'KP', 'PA', 'PE', 'RU', 'SA', 'US', 'VE'],
      dtype='object')
AR        3
AT        1
BO        1
CA        1
CL        1
CN        1
CO    61239
CU        1
DE        1
EC        5
ES        2
GT        2
IR        1
JM        1
KP        1
PA        1
PE        3
RU        1
SA        1
US       16
VE        1
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 51
__________________
Elementos diferentes de null/NaN: 61284
__________________
(61284,)
None

In [7]:
Do_resamples(data_2006, 'ESTU_PAIS_RESIDE', str)

cant null antes: 51
cant null despues: 0

In [8]:
c = 'ESTU_GENERO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['F', 'M'], dtype='object')
F    33064
M    28248
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 23
__________________
Elementos diferentes de null/NaN: 61312
__________________
(61312,)
None

In [9]:
Do_resamples(data_2006, 'ESTU_GENERO', str)

cant null antes: 23
cant null despues: 0

In [10]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2160
2.0     1967
3.0     1935
4.0     2040
5.0     2108
6.0     2030
7.0     1914
8.0     2019
9.0     2038
10.0    2225
11.0    1969
12.0    2041
13.0    1999
14.0    1908
15.0    2073
16.0    2035
17.0    2080
18.0    1931
19.0    1987
20.0    2155
21.0    1897
22.0    2012
23.0    1988
24.0    1997
25.0    2058
26.0    1988
27.0    2035
28.0    2087
29.0    1789
30.0    1719
31.0    1115
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [11]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     5115
2.0     4734
3.0     5237
4.0     5051
5.0     5072
6.0     4991
7.0     5073
8.0     5245
9.0     5345
10.0    5316
11.0    5010
12.0    5110
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [12]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1930.0, 1933.0, 1934.0, 1935.0, 1936.0, 1938.0, 1940.0, 1941.0,
              1942.0, 1944.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1997.0, 1998.0, 2000.0, 2001.0,
              2002.0, 2084.0, 2088.0, 2089.0],
             dtype='float64')
1930.0        2
1933.0        1
1934.0        3
1935.0        2
1936.0        1
1938.0        1
1940.0        2
1941.0        2
1942.0        1
1944.0        1
1946.0        1
1947.0        1
1948.0        1
1949.0        6
1950.0        2
1951.0        1
1952.0       10
1953.0        8
1954.0       12
1955.0       10
1956.0       11
1957.0       23
1958.0       16
1959.0       24
1960.0       26
1961.0       39
1962.0       33
1963.0       42
1964.0       33
1965.0       48
          ...
1974.0      103
1975.0      125
1976.0      143
1977.0      172
1978.0      163
1979.0      209
1980.0      245
1981.0      284
1982.0      359
1983.0      436
1984.0      667
1985.0     1195
1986.0     2885
1987.0     7112
1988.0    14525
1989.0    22950
1990.0     6850
1991.0      688
1992.0      299
1993.0      199
1994.0      571
1995.0        1
1997.0        2
1998.0        1
2000.0        8
2001.0        3
2002.0        3
2084.0        1
2088.0        1
2089.0        2
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [13]:
for i in data_2006['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if i > 1996:
        data_2006['ESTU_NACIMIENTO_ANNO'] = data_2006['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [14]:
anno = data_2006[data_2006['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2006 = data_2006.drop(anno)

In [18]:
c = 'ESTU_EDAD'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Int64Index([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
            28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
            45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 63,
            64, 65, 66, 67, 69, 70, 71, 72, 75],
           dtype='int64')
11      529
12      296
13      315
14      583
15     4625
16    22118
17    15876
18     8113
19     3291
20     1378
21      711
22      467
23      373
24      279
25      263
26      201
27      186
28      169
29      142
30      122
31      114
32       93
33      104
34       99
35       93
36      121
37       95
38       88
39       56
40       55
41       35
42       46
43       32
44       35
45       31
46       22
47       20
48       21
49       12
50       10
51       11
52        8
53       11
54        1
55        1
56        6
57        2
58        1
60        1
61        1
63        1
64        2
65        2
66        1
67        1
69        1
70        2
71        2
72        2
75        2
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61278
__________________
(61278,)
None

In [19]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 61278
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [20]:
data_2006 = data_2006.drop(['ESTU_LIMITA_BAJAVISION'], axis = 1)

In [21]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 61278
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [22]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDOCEGUERA'], axis = 1)

In [23]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 61278
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [24]:
data_2006 = data_2006.drop(['ESTU_LIMITA_COGNITIVA'], axis = 1)

In [25]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 61278
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [26]:
data_2006 = data_2006.drop(['ESTU_LIMITA_INVIDENTE'], axis = 1)

In [27]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 61278
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [28]:
data_2006 = data_2006.drop(['ESTU_LIMITA_MOTRIZ'], axis = 1)

In [29]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 61278
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [30]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis = 1)

In [31]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 61278
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [32]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDONOINTERPRETE'], axis = 1)

In [33]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ABEJORRAL', 'ACACIAS', 'AGUA DE DIOS', 'AGUADAS', 'AGUAZUL',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA', 'ANCUYA',
       ...
       'YACUANQUER', 'YAGUARA', 'YALI', 'YARUMAL', 'YOLOMBO', 'YOPAL',
       'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=316)
ABEJORRAL                       6
ACACIAS                         1
AGUA DE DIOS                    1
AGUADAS                         1
AGUAZUL                         1
ALBAN (SAN JOSE)               71
ALBANIA                        24
ALCALA                        112
ALDANA                         50
ANCUYA                         54
ANDALUCIA                     207
ANDES                           2
ANSERMANUEVO                  116
APARTADO                        8
APIA                            1
AQUITANIA                       1
ARBELAEZ                        1
ARBOLEDA (BERRUECOS)           39
ARGELIA                        47
ARMENIA                       147
ARMERO (GUAYABAL)               1
ATRATO (YUTO)                   1
BALBOA                         14
BARANOA                         1
BARBACOAS                     116
BARRANCABERMEJA                 1
BARRANCAS                       1
BARRANQUILLA                  513
BELEN                          57
BELLO                          87
                             ...
TUMACO                       1129
TUNJA                          58
TUQUERRES                     391
TURBACO                         3
TUTA                            1
UBATE                          11
ULLOA                          55
VALENCIA                       18
VALLEDUPAR                     61
VENTAQUEMADA                    1
VERSALLES                      74
VIJES                          76
VILLA DE LEYVA                  1
VILLA DEL ROSARIO               1
VILLA GUAMEZ (LA HORMIGA)       2
VILLA RICA                      5
VILLAGARZON                    71
VILLAMARIA                      2
VILLAVICENCIO                 109
VILLETA                        10
YACUANQUER                     66
YAGUARA                        15
YALI                            3
YARUMAL                         1
YOLOMBO                        12
YOPAL                          52
YOTOCO                        106
YUMBO                         827
ZARZAL                        446
ZIPAQUIRA                      52
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61278
__________________
(61278,)
None

In [34]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ANTIOQUIA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ', 'CALDAS',
       'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ', 'CUNDINAMARCA',
       'CÃRDOBA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SAN ANDRÃS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           1393
ATLÃNTICO           535
BOGOTÃ             4424
BOLÃVAR             170
BOYACÃ              219
CALDAS               156
CAQUETÃ              15
CASANARE              68
CAUCA               1016
CESAR                 62
CHOCÃ                 2
CUNDINAMARCA         630
CÃRDOBA              54
GUAVIARE               1
HUILA                197
LA GUAJIRA            36
MAGDALENA             37
META                 120
NARIÃO            12300
NORTE SANTANDER      130
PUTUMAYO              86
QUINDÃO             180
RISARALDA            235
SAN ANDRÃS            1
SANTANDER            379
SUCRE                 18
TOLIMA               179
VALLE              38634
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 61277
__________________
(61277,)
None

In [35]:
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOGOTÃ', 'BOGOTA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CHOCÃ', 'CHOCO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('QUINDÃO', 'QUINDIO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('SAN ANDRÃS', 'SAN ANDRES')

In [36]:
data_2006['ESTU_RESIDE_DEPTO'].fillna(method='bfill', inplace=True)

In [37]:
c = 'ESTU_ZONA_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      6449
2.0      2812
3.0       943
4.0      5734
5.0      1465
6.0      2309
7.0      3619
8.0      1156
9.0      1445
10.0    35341
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 61273
__________________
(61273,)
None

In [38]:
Do_resamples(data_2006, 'ESTU_ZONA_RESIDE', float)

cant null antes: 5
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [39]:
c = 'ESTU_AREA_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0], dtype='float64')
1.0    465
2.0    125
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 60688
__________________
Elementos diferentes de null/NaN: 590
__________________
(590,)
None

In [40]:
Do_resamples(data_2006, 'ESTU_AREA_RESIDE', float)

cant null antes: 60688
cant null despues: 0

In [41]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO', 'APARTADO', 'ARMENIA',
       'BARBACOAS', 'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO',
       ...
       'TUMACO', 'TUNJA', 'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=102)
ALBANIA                      30
ALCALA                      168
ANDALUCIA                   207
ANSERMANUEVO                118
APARTADO                     11
ARMENIA                     169
BARBACOAS                   163
BARRANCABERMEJA               1
BARRANQUILLA                543
BELLO                        89
BOGOTÃ D.C.               4291
BOLIVAR                      35
BUCARAMANGA                 348
BUENAVENTURA               2307
BUESACO                     209
BUGA                       1598
BUGALAGRANDE                200
CAICEDONIA                  283
CALI                      19590
CALIMA (DARIEN)             149
CANDELARIA                  711
CARTAGENA                   179
CARTAGO                    1594
CHAPARRAL                    36
CHIA                        176
CONSACA                      69
CUCUTA                      121
CUMBAL                      264
DAGUA                       233
EL CERRITO                  695
                          ...
RIONEGRO                     53
ROLDANILLO                  530
SAMANIEGO                   256
SAN GIL                       8
SAN PABLO                   169
SANDONA                     281
SANTA MARTA                  36
SANTA ROSA DE OSOS           40
SANTANDER DE QUILICHAO       76
SEVILLA                     344
SINCELEJO                    18
SOACHA                      184
SOGAMOSO                     70
TAMINANGO                   136
TANGUA                       48
TIMBIO                        1
TIMBIQUI                     42
TORO                        159
TRUJILLO                    150
TULUA                      2420
TUMACO                     1155
TUNJA                       151
TUQUERRES                   495
UBATE                        35
VALLEDUPAR                   70
VILLAVICENCIO               122
YOPAL                        69
YUMBO                      1011
ZARZAL                      465
ZIPAQUIRA                    80
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61278
__________________
(61278,)
None

In [42]:
data_2006['ESTU_MCPIO_PRESENTACION'] = data_2006['ESTU_MCPIO_PRESENTACION'].replace('BOGOTÃ D.C.', 'BOGOTA D.C.')

In [43]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ANTIOQUIA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ', 'CALDAS',
       'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CUNDINAMARCA', 'CÃRDOBA',
       'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           1368
ATLÃNTICO           543
BOGOTÃ             4291
BOLÃVAR             179
BOYACÃ              221
CALDAS               167
CAQUETÃ              15
CASANARE              69
CAUCA                971
CESAR                 70
CUNDINAMARCA         588
CÃRDOBA              53
HUILA                195
LA GUAJIRA            40
MAGDALENA             36
META                 122
NARIÃO            12474
NORTE SANTANDER      127
PUTUMAYO              78
QUINDÃO             169
RISARALDA            219
SANTANDER            380
SUCRE                 18
TOLIMA               156
VALLE              38729
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61278
__________________
(61278,)
None

In [44]:
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOGOTÃ', 'BOGOTA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('QUINDÃO', 'QUINDIO')

In [45]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['EXAMEN DE ESTADO  (2006)'], dtype='object')
EXAMEN DE ESTADO  (2006)    61278
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61278
__________________
(61278,)
None

In [46]:
data_2006 = data_2006.drop(['ESTU_EXAM_NOMBREEXAMEN'], axis = 1)

In [47]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     5688
1.0    55585
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 61273
__________________
(61273,)
None

In [48]:
Do_resamples(data_2006, 'IND_ESTUDIO_BACHILLERATO', float)

cant null antes: 5
cant null despues: 0

In [49]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1973.0, 1986.0, 1989.0, 1993.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0,
              2008.0, 2009.0, 2010.0, 2011.0, 9999.0],
             dtype='float64')
1973.0        1
1986.0        2
1989.0        1
1993.0        3
1996.0        4
1997.0        2
1998.0        1
1999.0        3
2000.0        5
2001.0        4
2002.0       12
2003.0        7
2004.0        9
2005.0     2244
2006.0    55589
2007.0      239
2008.0       18
2009.0       10
2010.0        2
2011.0        1
9999.0        1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 3120
__________________
Elementos diferentes de null/NaN: 58158
__________________
(58158,)
None

In [50]:
for i in data_2006[c].value_counts().sort_index().index:
    if i > 2009:
        data_2006['IND_ANNO_TERMINO_BACHILLERATO'] = data_2006['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [51]:
Do_resamples(data_2006, 'IND_ANNO_TERMINO_BACHILLERATO', float)

cant null antes: 3124
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [52]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0], dtype='float64')
1.0    115
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 61163
__________________
Elementos diferentes de null/NaN: 115
__________________
(115,)
None

In [53]:
data_2006 = data_2006.drop(['IND_TERMINO_BACHILLERATO'], axis=1)

In [54]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([     3.0,     59.0,    182.0,    240.0,    265.0,   3046.0,
                3327.0,   3418.0,   3459.0,   3525.0,
              ...
              164194.0, 164483.0, 166280.0, 168294.0, 168393.0, 170456.0,
              172908.0, 173302.0, 175208.0, 999999.0],
             dtype='float64', length=1642)
3.0          34
59.0          1
182.0        68
240.0         2
265.0        87
3046.0       70
3327.0       15
3418.0       40
3459.0       97
3525.0       91
4234.0       36
6775.0       11
7013.0       48
7070.0      114
7088.0       53
7344.0        1
7542.0        1
8995.0        1
9110.0       65
9589.0       36
10058.0       1
10066.0       2
10280.0       1
10660.0       1
11213.0     192
11221.0       2
11239.0      68
11247.0       1
11254.0      25
11262.0      46
           ...
130294.0      1
130419.0      1
130427.0      3
135434.0      2
136093.0      1
136879.0      1
136994.0      1
139402.0      1
139444.0      1
143032.0      2
143826.0      1
144048.0      1
145441.0      1
150409.0      1
150474.0      1
150953.0      1
154963.0      1
160440.0      1
162099.0      1
162958.0      1
164194.0      1
164483.0      1
166280.0      1
168294.0      1
168393.0      1
170456.0      1
172908.0      1
173302.0      1
175208.0      1
999999.0    232
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 336
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [55]:
idx = data_2006[data_2006['IND_COD_ICFES_TERMINO'].isnull()].index
data_2006 = data_2006.drop(idx)

In [56]:
c = 'COLE_COD_ICFES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Int64Index([   182,    265,   3046,   3327,   3418,   3459,   3525,   4234,
              6775,   7013,
            ...
            124834, 124867, 124875, 124990, 125021, 125047, 125054, 125104,
            125112, 125138],
           dtype='int64', length=1502)
182        68
265        90
3046       70
3327       15
3418       40
3459       97
3525       91
4234       36
6775       11
7013       49
7070      117
7088       53
9589       36
11213     202
11239      68
11254      26
11262      47
11270     146
11288     112
11296     281
11312     138
11320     142
11338     502
11379      40
11395      43
11403      74
11411     134
11429      93
11437      89
11445     122
         ...
124487     13
124495      1
124503      7
124511      8
124537     10
124545     80
124552     10
124560     64
124578     17
124602      9
124628     11
124636     97
124644      6
124651      9
124677      4
124693      7
124701      8
124735     18
124750     56
124818     27
124834      8
124867     54
124875     17
124990     18
125021     26
125047     42
125054      9
125104     59
125112     35
125138     19
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [57]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['            ', '010500103391', '051100116867', '105001000566',
       '105001003395', '105001003425', '105042000732', '105361000443',
       '105387000077', '108001003289',
       ...
       '519698000003', '525899000016', '537610908071', '576001091472',
       '576622134546', '625214000001', '625269000075', '625286000041',
       '625843000124', '841551000001'],
      dtype='object', length=1327)
                670
010500103391     26
051100116867     25
105001000566     15
105001003395     17
105001003425      6
105042000732     16
105361000443     29
105387000077      5
108001003289     14
111001010251      8
111001011029     14
111001034134     18
111001092410     46
111001102148     18
111848003031     28
115759001887     31
117433000859     10
117616000696     11
125175000299     32
125754002147     18
125899000657     36
141885000013     19
150226000013      9
152001000599    281
152001000661    168
152001000769    246
152001000777    457
152001000785    502
152001000793     89
               ...
476001006333     19
476001020719     14
476001038251     99
476126000418      8
476130000571     54
476130000813      7
476130000902     15
476130000961      4
476130001186     20
476248000478     72
476248000648     10
476248000877      4
476248032012     31
476520003813     16
476520006324      7
476892001183     11
476892099710     20
476892099728     11
476895000382     33
519001000002     23
519698000003      8
525899000016      8
537610908071     21
576001091472      6
576622134546     13
625214000001     20
625269000075     14
625286000041     32
625843000124      3
841551000001     25
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [44]:
data_2006['COLE_COD_DANE_INSTITUCION'] = data_2006['COLE_COD_DANE_INSTITUCION'].replace('            ', np.nan)
for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006['COLE_COD_DANE_INSTITUCION'] = data_2006['COLE_COD_DANE_INSTITUCION'].replace(i, float(i))

In [58]:
idx = data_2006[data_2006['COLE_COD_DANE_INSTITUCION'].isnull()].index
data_2006 = data_2006.drop(idx)

In [59]:
c = 'COLE_NOMBRE_SEDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index([' COL FUND STA ISABEL DE HUNGRIA', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' FUND COL PAR SAN PEDRO CLAVER',
       '07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM',
       '20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO',
       '28/01 INSTITUCIÃN EDUCATIVA SANTA FE',
       '32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI',
       '38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO',
       '39/01 INSTITUCION EDUCATIVA BOYACA',
       '41/01 INSTITUCION EDUCATIVA VILLA DEL SUR',
       ...
       'SUSANA LOPEZ DE VALENCIA', 'TABLONES',
       'TECNOLÃGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB',
       'TERESA CALDERÃN DE LASSO',
       'TÃCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL',
       'UNIDAD TECNOLOGICA DEL SUR',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA', 'VERNOT SCHOOL',
       'XINSTITUTO TECNICO COMERCIAL PILOTO'],
      dtype='object', length=1359)
 COL FUND STA ISABEL DE HUNGRIA                                       839
 ESCUELA URBANA JOSE ANTONIO GALAN                                     25
 FUND COL PAR SAN PEDRO CLAVER                                         65
07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM                         574
20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO                           70
28/01 INSTITUCIÃN EDUCATIVA SANTA FE                                 106
32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI          160
38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO                   111
39/01 INSTITUCION EDUCATIVA BOYACA                                     79
41/01 INSTITUCION EDUCATIVA VILLA DEL SUR                             147
44/01 INSTITUCIÃN EDUCATIVA COMERCIAL CIUDAD DE CALI                 246
58/01 INSTITUCION EDUCATIVA GABRIELA MISTRAL                           97
69/01 INSTITUCION EDUCATIVA LA ESPERANZA                               32
74/01 INSTITUCION EDUCATIVA JUANA DE CAICEDO Y CUERO                   26
80/01 INSTITUCIÃN EDUCATIVA PANCE                                     11
81/02 INSTITUCION EDUCATIVA LA BUITRERA JOSE MARIA GARCIA DE TOLED     14
84/04  JOSE HOLGUIN GARCES                                             13
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                 14
ABSALON TORRES CAMACHO                                                102
ACADE MILIT JOAQUÃN DE CAICEDO Y CUERO                                23
ACADEMIA ACADEMIA SAM                                                   9
ACADEMIA COLOMBIANA DE ENSEÃANZA                                      23
ACADEMIA COMERCIAL REAL                                                15
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                              14
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                             16
ACADEMIA MILITAR GENERAL JOSÃ MARÃA CABAL                            36
AGRICOLA CAMPOALEGRE                                                   37
AGRICOLA PRESBITERO HORACIO GOMEZ GALLO                                30
ALAIN VALENCIA                                                          4
ALFONSO LOPEZ PUMAREJO                                                232
                                                                     ...
SEDE PRINCIPAL  TRES ESQUINAS                                          30
SEDE PRINCIPAL AGUACLARA                                               39
SEDE PRINCIPAL CONCENTRACIÃN DE DESARROLLO RURAL                      50
SEDE PRINCIPAL GIMNASIO DEL PACIFICO CENTRAL                          354
SEDE PRINCIPAL INSTITUTO JULIA RESTREPO                               176
SEDE PRINCIPAL INSTITUTO TEC.  INDUSTRIAL C.S.L.                      169
SEDE PRINCIPAL LA GRACIELA                                             96
SEDE PRINCIPAL LICEO MODERNO                                          172
SEDE PRINCIPAL NO. 7 MARIA ANTONIA RUIZ                                50
SEDE PRINCIPAL UNIDAD DOCENTE JOVITA SANTA COLOMA                      59
SEM DE CRISTO SACERDOTE                                                36
SEMILLA DE LA ESPERANZA                                                10
SEMINARIO MENOR ARQUIDIOCESANO                                         55
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                               55
SEVILLA                                                               164
SIMON BOLIVAR                                                         157
SIMON RODRIGUEZ                                                        14
SIXTO MARIA ROJAS                                                      39
SOC ESCUELA KARL C PARRISH                                             40
SOR MARIA JULIANA                                                      89
SUSANA LOPEZ DE VALENCIA                                               32
TABLONES                                                               27
TECNOLÃGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB         26
TERESA CALDERÃN DE LASSO                                              27
TÃCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL            180
UNIDAD TECNOLOGICA DEL SUR                                             27
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                   4
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                              8
VERNOT SCHOOL                                                           8
XINSTITUTO TECNICO COMERCIAL PILOTO                                     5
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [60]:
data_2006 = data_2006.drop(['COLE_NOMBRE_SEDE'], axis = 1)

In [61]:
c = 'COLE_CALENDARIO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['A', 'B', 'F'], dtype='object')
A    38834
B    12631
F     9477
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [62]:
c = 'COLE_GENERO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4260
M     1102
X    55580
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [63]:
c = 'COLE_NATURALEZA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['N', 'O'], dtype='object')
N    24900
O    36042
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [64]:
c = 'COLE_BILINGUE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    55503
1.0     4008
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 1431
__________________
Elementos diferentes de null/NaN: 59511
__________________
(59511,)
None

In [65]:
Do_resamples(data_2006, 'COLE_BILINGUE', float)

cant null antes: 1431
cant null despues: 0

In [66]:
c = 'COLE_JORNADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['COMPLETA U ORDINARIA', 'MAÃANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     9517
MAÃANA                 38059
NOCHE                    4416
SABATINA - DOMINICAL     1804
TARDE                    7146
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [67]:
data_2006['COLE_JORNADA'] = data_2006['COLE_JORNADA'].replace('MAÃANA', 'MAÑANA')

In [68]:
c = 'COLE_CARACTER'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              29635
ACADEMICO Y TECNICO    11688
NORMALISTA              1287
TECNICO                18332
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [69]:
c = 'ESTU_ETNIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1.0     2923
2.0       21
3.0      100
4.0        3
5.0        2
6.0        5
7.0        4
8.0       13
9.0       11
10.0       3
11.0     761
12.0       2
13.0      19
14.0       1
15.0       1
16.0       4
99.0    1520
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 55549
__________________
Elementos diferentes de null/NaN: 5393
__________________
(5393,)
None

In [71]:
data_2006['ESTU_ETNIA'].fillna(99, inplace=True)

In [72]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     1
1.0    84
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 60857
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [73]:
Do_resamples(data_2006, 'FAMI_LEE_ESCRIBE_PADRE', float)

cant null antes: 60857
cant null despues: 0

In [56]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     3
1.0    82
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 61250
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [74]:
Do_resamples(data_2006, 'FAMI_LEE_ESCRIBE_MADRE', float)

cant null antes: 60857
cant null despues: 0

In [75]:
c = 'FAMI_EDUCA_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      76
1.0       4
2.0       8
3.0      21
4.0      32
5.0       5
6.0      12
7.0       3
8.0       3
9.0     277
10.0    213
11.0    150
12.0    265
13.0     26
14.0     74
15.0     51
16.0    436
17.0    307
99.0     14
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 58965
__________________
Elementos diferentes de null/NaN: 1977
__________________
(1977,)
None

In [76]:
Do_resamples(data_2006, 'FAMI_EDUCA_PADRE', float)

cant null antes: 58965
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [77]:
c = 'FAMI_EDUCA_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      46
2.0       8
3.0      18
4.0      36
5.0       8
6.0       7
7.0      11
8.0       1
9.0     284
10.0    212
11.0    174
12.0    293
13.0     32
14.0    106
15.0     81
16.0    440
17.0    206
99.0     15
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 58964
__________________
Elementos diferentes de null/NaN: 1978
__________________
(1978,)
None

In [78]:
Do_resamples(data_2006, 'FAMI_EDUCA_MADRE', float)

cant null antes: 58964
cant null despues: 0

In [79]:
c = 'FAMI_OCUPA_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0, 99.0],
             dtype='float64')
1.0       1
2.0       1
3.0       5
4.0       6
5.0      15
6.0      17
7.0       4
8.0      11
9.0      12
10.0      1
11.0      1
12.0     10
13.0    199
14.0    214
15.0    135
16.0     94
17.0     90
18.0     48
19.0    179
20.0    166
21.0    358
22.0     29
23.0    163
26.0    205
99.0      7
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 58971
__________________
Elementos diferentes de null/NaN: 1971
__________________
(1971,)
None

In [80]:
Do_resamples(data_2006, 'FAMI_OCUPA_PADRE', float)

cant null antes: 58971
cant null despues: 0

In [82]:
c = 'FAMI_OCUPA_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              26.0, 99.0],
             dtype='float64')
2.0       2
3.0       1
4.0      11
5.0       6
6.0       8
7.0       3
8.0       4
9.0       2
10.0     46
11.0      1
12.0      5
13.0     76
14.0    115
15.0     85
16.0    106
17.0     94
18.0     52
19.0     92
20.0    112
21.0    197
22.0    719
23.0     93
26.0    145
99.0      1
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 58966
__________________
Elementos diferentes de null/NaN: 1976
__________________
(1976,)
None

In [83]:
Do_resamples(data_2006, 'FAMI_OCUPA_MADRE', float)

cant null antes: 58966
cant null despues: 0

In [84]:
c = 'FAMI_NUM_HERMANOS'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0], dtype='float64')
0.0      7
1.0     29
2.0     23
3.0     19
4.0      6
5.0      2
6.0      1
7.0      3
8.0      1
10.0     1
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 60850
__________________
Elementos diferentes de null/NaN: 92
__________________
(92,)
None

In [85]:
Do_resamples(data_2006, 'FAMI_NUM_HERMANOS', float)

cant null antes: 60850
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [86]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1.0      6
2.0      8
3.0     15
4.0     69
5.0     10
6.0     31
7.0     20
8.0     55
9.0     19
88.0    95
99.0     9
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 60605
__________________
Elementos diferentes de null/NaN: 337
__________________
(337,)
None

In [87]:
Do_resamples(data_2006, 'FAMI_EDUCA_HERMANO', float)

cant null antes: 60605
cant null despues: 0

In [88]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1.0     43
2.0      4
88.0    38
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 60857
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [89]:
Do_resamples(data_2006, 'FAMI_HERMANOS_ESTUDIAN', float)

cant null antes: 60857
cant null despues: 0

In [90]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1.0    335
2.0    421
3.0    356
4.0    284
5.0    258
6.0    321
8.0      3
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 58964
__________________
Elementos diferentes de null/NaN: 1978
__________________
(1978,)
None

In [91]:
data_2006['FAMI_ESTRATO_VIVIENDA'] = data_2006['FAMI_ESTRATO_VIVIENDA'].replace(8.0, np.nan)

In [92]:
Do_resamples(data_2006, 'FAMI_ESTRATO_VIVIENDA', float)

cant null antes: 58967
cant null despues: 0

In [93]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     424
2.0     240
3.0      67
4.0      23
5.0    1156
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 59032
__________________
Elementos diferentes de null/NaN: 1910
__________________
(1910,)
None

In [94]:
Do_resamples(data_2006, 'FAMI_NIVEL_SISBEN', float)

cant null antes: 59032
cant null despues: 0

In [95]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      61
2.0     215
3.0     426
4.0     563
5.0     353
6.0     144
7.0      66
8.0      31
9.0      12
10.0     19
11.0      6
12.0     14
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 59032
__________________
Elementos diferentes de null/NaN: 1910
__________________
(1910,)
None

In [96]:
Do_resamples(data_2006, 'FAMI_PERSONAS_HOGAR', float)

cant null antes: 59032
cant null despues: 0

In [97]:
c = 'FAMI_PISOSHOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     39
2.0    376
3.0    108
4.0    792
5.0    595
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 59032
__________________
Elementos diferentes de null/NaN: 1910
__________________
(1910,)
None

In [98]:
Do_resamples(data_2006, 'FAMI_PISOSHOGAR', float)

cant null antes: 59032
cant null despues: 0

In [99]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      8
2.0     39
3.0     94
4.0     99
5.0     74
6.0     39
7.0     27
8.0     10
9.0      2
10.0     5
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 60545
__________________
Elementos diferentes de null/NaN: 397
__________________
(397,)
None

In [100]:
Do_resamples(data_2006, 'FAMI_CUARTOS_HOGAR', float)

cant null antes: 60545
cant null despues: 0

In [101]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0     129
2.0     491
3.0     776
4.0     358
5.0      96
6.0      24
7.0       9
8.0       3
9.0       3
10.0      3
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 59050
__________________
Elementos diferentes de null/NaN: 1892
__________________
(1892,)
None

In [102]:
Do_resamples(data_2006, 'FAMI_DORMITORIOS_HOGAR', float)

cant null antes: 59050
cant null despues: 0

In [103]:
c = 'FAMI_COMPUTADOR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 3.0, 4.0], dtype='float64')
0.0     394
1.0      14
3.0    1499
4.0       3
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 59032
__________________
Elementos diferentes de null/NaN: 1910
__________________
(1910,)
None

In [104]:
Do_resamples(data_2006, 'FAMI_COMPUTADOR', float)

cant null antes: 59032
cant null despues: 0

In [105]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0    236
2.0    543
3.0    292
4.0    214
5.0    145
6.0    140
7.0    340
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 59032
__________________
Elementos diferentes de null/NaN: 1910
__________________
(1910,)
None

In [106]:
Do_resamples(data_2006, 'FAMI_INGRESO_FMILIAR_MENSUAL', float)

cant null antes: 59032
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [107]:
c = 'ESTU_TRABAJA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    951
1.0     17
2.0      3
3.0    308
4.0    142
5.0    300
6.0      4
7.0      3
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 59214
__________________
Elementos diferentes de null/NaN: 1728
__________________
(1728,)
None

In [108]:
Do_resamples(data_2006, 'ESTU_TRABAJA', float)

cant null antes: 59214
cant null despues: 0

In [109]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0.0       1
1.0       1
2.0       3
3.0       6
4.0      22
5.0      18
6.0      19
7.0       4
8.0      60
9.0       8
10.0     39
11.0      3
12.0     14
13.0      2
14.0      8
15.0     11
16.0     13
17.0      2
18.0     18
19.0     10
20.0    504
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 60176
__________________
Elementos diferentes de null/NaN: 766
__________________
(766,)
None

In [110]:
Do_resamples(data_2006, 'ESTU_HORAS_TRABAJA', float)

cant null antes: 60176
cant null despues: 0

In [111]:
c = 'COLE_VALOR_PENSION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 11.0], dtype='float64')
0.0     29925
1.0      9123
2.0      4956
3.0      3655
4.0      2952
5.0      2946
6.0      2488
7.0      4872
8.0        10
11.0        1
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 14
__________________
Elementos diferentes de null/NaN: 60928
__________________
(60928,)
None

In [112]:
Do_resamples(data_2006, 'COLE_VALOR_PENSION', float)

cant null antes: 14
cant null despues: 0

In [113]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1.0    1
2.0    2
3.0    1
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 60938
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [114]:
data_2006 = data_2006.drop(['ESTU_CARRDESEADA_TIPO'], axis=1)

In [77]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([18.0, 23.0, 45.0, 58.0], dtype='float64')
18.0    1
23.0    1
45.0    1
58.0    1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 61331
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [115]:
data_2006 = data_2006.drop(['ESTU_CARRDESEADA_NUCLEO'], axis=1)

In [116]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1109.0, 1110.0,
              ...
              9103.0, 9104.0, 9105.0, 9107.0, 9110.0, 9111.0, 9112.0, 9113.0,
              9114.0, 9115.0],
             dtype='float64', length=298)
1101.0     1500
1102.0       99
1103.0       92
1104.0      428
1105.0       59
1106.0       57
1107.0        7
1108.0       14
1109.0        1
1110.0     1059
1111.0      373
1112.0      175
1113.0       38
1114.0       47
1115.0        4
1117.0       30
1118.0        1
1119.0       21
1120.0        3
1121.0        7
1122.0      109
1123.0        2
1124.0        2
1125.0        1
1201.0      497
1202.0       15
1203.0    14659
1204.0       69
1205.0       27
1206.0     4772
          ...
4812.0        8
4813.0       16
4814.0       30
4817.0       12
4818.0        6
4822.0        5
4823.0        5
4825.0        6
4826.0        6
4827.0        3
4828.0       24
4829.0        3
4832.0        3
4835.0       11
4837.0        2
4838.0        9
5801.0        2
5802.0       10
9101.0      116
9102.0       15
9103.0      182
9104.0      139
9105.0       39
9107.0        8
9110.0      162
9111.0      602
9112.0       32
9113.0        1
9114.0       18
9115.0      117
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 25017
__________________
Elementos diferentes de null/NaN: 35925
__________________
(35925,)
None

In [164]:
data_2006['ESTU_IES_COD_DESEADA'].fillna(method='ffill', inplace=True)

In [118]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AGUACHICA', 'ANDES', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA',
       'BARRANQUILLA', 'BELLO', 'BOGOTÃ D.C.', 'BUCARAMANGA', 'BUENAVENTURA',
       'BUGA', 'CALDAS', 'CALI', 'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO',
       'CAUCASIA', 'CHIA', 'CHIQUINQUIRA', 'CUCUTA', 'DUITAMA', 'ENVIGADO',
       'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE',
       'LETICIA', 'MADRID', 'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA',
       'MOSQUERA', 'NEIVA', 'NILO', 'OCAÃA', 'PALMIRA', 'PAMPLONA', 'PASTO',
       'PENSILVANIA', 'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÃ DE ANTIOQUIA', 'SEVILLA', 'SINCELEJO',
       'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TOLU', 'TULUA', 'TUNJA', 'TURBO',
       'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                    2
ANDES                        2
ARAUCA                       2
ARMENIA                    265
BARRANCABERMEJA              4
BARRANQUILLA               241
BELLO                        3
BOGOTÃ D.C.              5923
BUCARAMANGA                145
BUENAVENTURA               109
BUGA                       146
CALDAS                       5
CALI                     18762
CARMEN DE VIBORAL            7
CARTAGENA                  113
CARTAGO                     47
CAUCASIA                     1
CHIA                       103
CHIQUINQUIRA                 1
CUCUTA                      41
DUITAMA                      7
ENVIGADO                     2
FACATATIVA                   2
FLORENCIA                    4
FUSAGASUGA                   9
GIRARDOT                     8
HONDA                        4
IBAGUE                      45
LETICIA                      1
MADRID                      15
                         ...
PASTO                     5115
PENSILVANIA                 22
PEREIRA                    518
POPAYAN                   1117
PUERTO BERRIO                3
QUIBDO                       1
RIOHACHA                     1
RIONEGRO                    30
ROLDANILLO                  24
SABANETA                     2
SAN ANDRES                   1
SAN GIL                      1
SAN JUAN DEL CESAR           1
SANTA MARTA                 11
SANTA ROSA DE CABAL          8
SANTA ROSA DE OSOS          22
SANTAFÃ DE ANTIOQUIA        3
SEVILLA                      4
SINCELEJO                    5
SOCORRO                      2
SOGAMOSO                    14
SOLEDAD                      2
TOLU                         6
TULUA                      702
TUNJA                       72
TURBO                        3
UBATE                        8
VALLEDUPAR                   3
VILLAVICENCIO               21
YOPAL                        7
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 25017
__________________
Elementos diferentes de null/NaN: 35925
__________________
(35925,)
None

In [119]:
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('OCAÃA', 'OCAÑA')
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('SANTAFÃ DE ANTIOQUIA', 'SANTAFE DE ANTIOQUIA')

In [122]:
data_2006['ESTU_IES_MPIO_DESEADA'].fillna(method='bfill', inplace=True)

In [166]:
data_2006['ESTU_IES_MPIO_DESEADA'].fillna(method='ffill', inplace=True)

In [121]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SAN ANDRÃS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           1179
ARAUCA                 2
ATLÃNTICO           243
BOGOTÃ             5923
BOLÃVAR             113
BOYACÃ               94
CALDAS               468
CAQUETÃ               4
CASANARE               7
CAUCA               1117
CESAR                  5
CHOCÃ                 1
CUNDINAMARCA         225
CÃRDOBA              42
HUILA                 64
LA GUAJIRA             2
MAGDALENA             11
META                  21
NARIÃO             5115
NORTE SANTANDER       55
PUTUMAYO               1
QUINDÃO             265
RISARALDA            526
SAN ANDRÃS            1
SANTANDER            152
SUCRE                 11
TOLIMA                49
VALLE              20228
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 25017
__________________
Elementos diferentes de null/NaN: 35925
__________________
(35925,)
None

In [123]:
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CHOCÃ', 'CHOCO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('QUINDÃO', 'QUINDIO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('SAN ANDRÃS', 'SAN ANDRES')

In [124]:
data_2006['ESTU_IES_DEPT_DESEADA'].fillna(method='bfill', inplace=True)

In [168]:
data_2006['ESTU_IES_DEPT_DESEADA'].fillna(method='ffill', inplace=True)

In [125]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1312
2.0     6936
3.0    22791
4.0     4744
5.0     3428
6.0     2124
7.0     2538
8.0     2554
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 14515
__________________
Elementos diferentes de null/NaN: 46427
__________________
(46427,)
None

In [126]:
Do_resamples(data_2006, 'ESTU_RAZONINSTITUTO', float)

cant null antes: 14515
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [127]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([    5.0,    23.0,    36.0,    63.0,    68.0,    87.0,   102.0,
                103.0,   105.0,   107.0,
              ...
              21806.0, 21809.0, 21810.0, 21889.0, 22046.0, 22050.0, 22581.0,
              22967.0, 24642.0, 24643.0],
             dtype='float64', length=2375)
5.0          7
23.0         1
36.0         1
63.0         1
68.0        13
87.0         1
102.0        3
103.0        2
105.0        7
107.0        1
108.0        1
109.0        7
111.0        1
116.0       54
117.0        2
119.0        1
120.0        1
125.0        1
128.0        3
129.0        9
130.0        3
131.0        7
133.0        1
142.0        2
151.0        3
152.0       16
160.0        2
165.0        1
168.0        1
169.0        1
          ...
20133.0     16
20140.0      3
20142.0      1
20143.0    922
20144.0     12
20146.0    109
20177.0     10
20184.0      2
20228.0      2
20233.0      2
20247.0      1
20257.0      8
20266.0      1
20267.0      5
20277.0      2
20282.0      2
21463.0     20
21480.0      1
21577.0      1
21794.0      1
21806.0      1
21809.0      2
21810.0      1
21889.0      1
22046.0      1
22050.0      1
22581.0      1
22967.0      1
24642.0      1
24643.0      1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 25996
__________________
Elementos diferentes de null/NaN: 34946
__________________
(34946,)
None

In [128]:
data_2006['ESTU_CARRDESEADA_COD'].fillna(method='bfill', inplace=True)

In [170]:
data_2006['ESTU_CARRDESEADA_COD'].fillna(method='ffill', inplace=True)

In [129]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    14542
2.0    15890
3.0     7540
4.0     4314
5.0     3185
6.0     1117
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 14354
__________________
Elementos diferentes de null/NaN: 46588
__________________
(46588,)
None

In [130]:
Do_resamples(data_2006, 'ESTU_CARRDESEADA_RAZON', float)

cant null antes: 14354
cant null despues: 1
cant null antes: 1
cant null despues: 0

### TARGETS

In [131]:
c = 'PUNT_LENGUAJE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '17,3', '25,35', '30,45', '34,35', '37,61', '40,49', '43,11',
       '45,57', '47,92', '50,2', '52,45', '54,69', '56,97', '59,31', '61,76',
       '64,37', '67,23', '70,47', '74,34', '79,39', '87,38'],
      dtype='object')
0           5
17,3       70
25,35     371
30,45     990
34,35    2203
37,61    3820
40,49    5429
43,11    6652
45,57    7310
47,92    7408
50,2     6771
52,45    5864
54,69    4579
56,97    3475
59,31    2462
61,76    1528
64,37    1001
67,23     557
70,47     277
74,34     103
79,39      55
87,38      12
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [132]:
c = 'PUNT_LENGUAJE'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [133]:
c = 'PUNT_MATEMATICAS'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '102,25', '107,84', '18,97', '28,53', '34,47', '38,94', '42,62',
       '45,81', '48,68', '51,32', '53,81', '56,19', '58,51', '60,8', '63,08',
       '65,39', '67,77', '70,24', '72,86', '75,7', '78,85', '82,49', '86,9',
       '92,78'],
      dtype='object')
0           28
102,25      80
107,84      21
18,97      189
28,53      715
34,47     1999
38,94     4062
42,62     6467
45,81     8136
48,68     8517
51,32     8021
53,81     6404
56,19     4782
58,51     3245
60,8      2379
63,08     1611
65,39     1067
67,77      859
70,24      612
72,86      523
75,7       411
78,85      284
82,49      236
86,9       180
92,78      114
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [134]:
c = 'PUNT_MATEMATICAS'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [135]:
c = 'PUNT_C_SOCIALES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '21,2', '26,95', '30,5', '33,14', '35,3', '37,17', '38,83',
       '40,35', '41,77', '43,12', '44,41', '45,67', '46,91', '48,14', '49,37',
       '50,62', '51,89', '53,2', '54,56', '56,01', '57,55', '59,24', '61,14',
       '63,33'],
      dtype='object')
0           8
21,2       35
26,95     198
30,5      570
33,14    1181
35,3     2262
37,17    3513
38,83    4764
40,35    5768
41,77    6155
43,12    6343
44,41    6113
45,67    5661
46,91    4828
48,14    3909
49,37    3118
50,62    2388
51,89    1639
53,2     1122
54,56     716
56,01     401
57,55     162
59,24      65
61,14      22
63,33       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [136]:
c = 'PUNT_C_SOCIALES'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [137]:
c = 'PUNT_FILOSOFIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '104,43', '17,55', '23,47', '27,96', '31,67', '34,89', '37,78',
       '40,43', '42,93', '45,3', '47,6', '49,86', '52,11', '54,37', '56,68',
       '59,08', '61,61', '64,34', '67,36', '70,84', '75,05', '8,17', '80,64',
       '89,62'],
      dtype='object')
0           36
104,43       1
17,55       83
23,47      374
27,96     1036
31,67     2414
34,89     4041
37,78     5782
40,43     6358
42,93     7718
45,3      7442
47,6      6645
49,86     5450
52,11     4326
54,37     3423
56,68     2354
59,08     1586
61,61      988
64,34      491
67,36      234
70,84      108
75,05       33
8,17        10
80,64        7
89,62        2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [138]:
c = 'PUNT_FILOSOFIA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [139]:
c = 'PUNT_BIOLOGIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '12,65', '20,53', '21,91', '25,44', '25,53', '26,43', '26,96',
       '27,63', '29,36', '30,33', '30,39', '30,82', '31,38', '31,91', '32,56',
       '32,97', '33,6', '34,05', '34,2', '34,51', '35,2', '35,36', '35,66',
       '36,11', '36,47', '36,88', '37,26', '37,39', '37,9', '38,88', '39,08',
       '39,45', '39,77', '40,21', '40,26', '41,05', '41,4', '41,51', '41,84',
       '42,11', '42,5', '42,8', '43,46', '43,82', '44,12', '44,34', '44,66',
       '45,23', '46,04', '46,05', '46,31', '46,51', '46,76', '47,57', '48,23',
       '48,47', '48,63', '48,84', '49,86', '50,4', '50,43', '50,61', '50,75',
       '50,92', '52,14', '52,59', '52,77', '52,89', '53,04', '54,45', '54,69',
       '54,99', '55,22', '56,83', '57,19', '57,3', '57,39', '57,49', '59,36',
       '59,63', '59,76', '59,93', '62,11', '62,34', '62,38', '62,45', '62,52',
       '62,6', '65,21', '65,51', '65,64', '68,91', '68,97', '69,08', '69,28',
       '73,74', '74,07', '81,7', '94,21'],
      dtype='object')
0           4
12,65      23
20,53      88
21,91       1
25,44       1
25,53     387
26,43       4
26,96       1
27,63       2
29,36     923
30,33       4
30,39       2
30,82      12
31,38       2
31,91       1
32,56    1841
32,97       1
33,6        6
34,05      27
34,2        8
34,51       4
35,2        1
35,36    3178
35,66       2
36,11       1
36,47      10
36,88      29
37,26       7
37,39      21
37,9     4566
         ...
54,45      27
54,69       1
54,99       8
55,22    3040
56,83      22
57,19       1
57,3        6
57,39       1
57,49    2244
59,36      22
59,63       1
59,76       1
59,93    1699
62,11      14
62,34       2
62,38       1
62,45       5
62,52       1
62,6     1188
65,21      14
65,51       1
65,64     759
68,91       6
68,97       1
69,08       1
69,28     410
73,74       3
74,07     144
81,7       15
94,21       3
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [140]:
c = 'PUNT_BIOLOGIA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [141]:
c = 'PUNT_QUIMICA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '18,77', '19,01', '21,4', '25,8', '27,53', '28,5', '30,25',
       '30,48', '30,58',
       ...
       '62,13', '63,38', '64,08', '64,98', '66,27', '66,76', '68,37', '69,99',
       '74,27', '81,11'],
      dtype='object', length=116)
0           3
18,77      32
19,01       1
21,4        1
25,8      268
27,53       2
28,5        3
30,25     785
30,48       2
30,58       2
30,82       1
30,84       1
32,2        1
32,62       1
33,03       9
33,65    2084
33,91       3
34,01       4
34,42       1
34,72       1
35,28       2
36,03       2
36,05       1
36,47    4038
36,52      17
36,77       6
36,88      11
36,9        7
38,4        1
38,53       1
         ...
54,01    1500
54,06       1
54,89       2
55,05       3
55,1       16
55,8      900
56,81       1
56,98       1
57,29      10
57,66     626
58,02       1
58,15       1
58,23       1
59          3
59,03       2
59,61       6
59,63     405
61          2
61,17       1
61,74     226
62,13       2
63,38       1
64,08     151
64,98       2
66,27       1
66,76      91
68,37       1
69,99      44
74,27      19
81,11       3
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [142]:
c = 'PUNT_QUIMICA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [143]:
c = 'PUNT_FISICA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '100,9', '16,25', '16,65', '17,42', '19,63', '20,14', '21,16',
       '25,99', '26,43',
       ...
       '70,23', '71,15', '72,02', '74,02', '76,4', '77,2', '80,88', '83,81',
       '85,34', '91,29'],
      dtype='object', length=119)
0          13
100,9       2
16,25     107
16,65       1
17,42       1
19,63       1
20,14       1
21,16       8
25,99     564
26,43       2
26,8        1
27,47       4
27,7        1
28,61       1
30,97      13
32,05    1709
32,53       8
32,91       8
33,55       6
33,75       4
34,71       1
35,99       3
36,62    3776
37,11      17
37,14      12
37,53       6
38,13       8
38,31      10
38,89       1
39,77       2
         ...
59,52       1
60,02       2
60,41       1
60,58       3
60,82       1
61,25    1183
61,51       1
62,46       3
62,76       1
62,84       1
63,3        8
63,6      613
64,12       1
65,67       2
66        362
66,07       2
66,8        1
67,52       1
68,51     202
68,95       2
70,23       1
71,15     103
72,02       1
74,02      62
76,4        1
77,2       41
80,88      16
83,81       1
85,34      14
91,29       1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [144]:
c = 'PUNT_FISICA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [145]:
c = 'NOMBRE_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ALEMÃN', 'FRANCÃS', 'INGLÃS'], dtype='object')
ALEMÃN        62
FRANCÃS      452
INGLÃS     60428
Name: NOMBRE_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [146]:
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('ALEMÃN', 'ALEMAN')
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('FRANCÃS', 'FRANCES')
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('INGLÃS', 'INGLES')

In [147]:
c = 'PUNT_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '15,62', '16,12', '19,28', '23,14', '23,61', '27,53',
       '27,81', '28,24', '30,46', '31,31', '31,72', '33,03', '34,2', '34,59',
       '35,34', '36,7', '37,07', '37,5', '38,95', '39,31', '39,55', '41,03',
       '41,39', '42,99', '43,35', '44,86', '45,25', '45,42', '46,69', '47,1',
       '47,37', '48,49', '48,94', '49,37', '50,29', '50,8', '51,44', '52,11',
       '52,7', '53,62', '53,98', '54,68', '55,93', '55,96', '56,78', '58',
       '58,51', '59,04', '60,24', '61,36', '61,56', '62,73', '64,46', '64,66',
       '65,59', '67,98', '68,69', '69,08', '72,66', '73,73', '74', '80,21',
       '81,23', '82,36', '84,92', '85,62'],
      dtype='object')
-1          1
0          32
15,62     209
16,12       3
19,28       1
23,14     880
23,61       8
27,53       6
27,81    2121
28,24       9
30,46       2
31,31    4071
31,72      26
33,03       2
34,2     5740
34,59      42
35,34       2
36,7     7077
37,07      37
37,5        5
38,95    6961
39,31      28
39,55       1
41,03    6440
41,39      31
42,99    5437
43,35      22
44,86    4172
45,25      14
45,42       4
         ...
51,44       2
52,11    1337
52,7        3
53,62       6
53,98    1086
54,68       3
55,93     897
55,96       7
56,78       8
58        777
58,51       4
59,04      14
60,24     723
61,36       2
61,56      17
62,73     765
64,46      22
64,66       6
65,59     854
67,98      32
68,69       3
69,08     951
72,66      52
73,73    1019
74          1
80,21      37
81,23     985
82,36       2
84,92      18
85,62     582
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [148]:
c = 'PUNT_IDIOMA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))
data_2006[c] = data_2006[c].replace(-1, 0)

In [149]:
c = 'DESEMP_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([-1.0], dtype='float64')
-1.0    1
Name: DESEMP_IDIOMA, dtype: int64
Elementos null/NaN 60941
__________________
Elementos diferentes de null/NaN: 1
__________________
(1,)
None

In [150]:
data_2006 = data_2006.drop(['DESEMP_IDIOMA'], axis=1)

In [151]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['PROFUNDIZACIÃN EN BIOLOGÃA', 'PROFUNDIZACIÃN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÃN EN LENGUAJE', 'PROFUNDIZACIÃN EN MATEMÃTICA'],
      dtype='object')
PROFUNDIZACIÃN EN BIOLOGÃA            20766
PROFUNDIZACIÃN EN CIENCIAS SOCIALES     8009
PROFUNDIZACIÃN EN LENGUAJE             21714
PROFUNDIZACIÃN EN MATEMÃTICA          10453
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [152]:
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN BIOLOGÃA', 'BIOLOGIA')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN CIENCIAS SOCIALES', 'CIENCIAS SOCIALES')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN LENGUAJE', 'LENGUAJE')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN MATEMÃTICA', 'MATEMATICA')

In [153]:
c = 'PUNT_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '1,2', '1,88', '1,9', '10', '2,5', '2,78', '2,93', '3',
       '3,5', '3,54', '3,62', '3,66', '3,9', '4,17', '4,23', '4,3', '4,38',
       '4,65', '4,68', '4,8', '4,91', '5,06', '5,09', '5,2', '5,33', '5,41',
       '5,51', '5,69', '5,7', '5,75', '5,92', '6,02', '6,08', '6,3', '6,34',
       '6,35', '6,42', '6,65', '6,77', '6,81', '6,98', '7,16', '7,33', '7,34',
       '7,62', '7,76', '7,98', '8,21', '8,3', '8,98', '9,11', '9,13'],
      dtype='object')
-1       236
0        705
1,2      691
1,88     460
1,9     1243
10        24
2,5     1606
2,78     362
2,93    1407
3       1720
3,5     1321
3,54    1166
3,62    2505
3,66     984
3,9      704
4,17    3351
4,23    1524
4,3      306
4,38    2642
4,65    3708
4,68    1955
4,8       93
4,91    3858
5,06    1714
5,09    3154
5,2       17
5,33    4259
5,41    1303
5,51    2672
5,69    3548
5,7        3
5,75     926
5,92    1907
6,02    2237
6,08     568
6,3        1
6,34    1357
6,35    1250
6,42     376
6,65     767
6,77     233
6,81     674
6,98     372
7,16     162
7,33     291
7,34     154
7,62     120
7,76      70
7,98      92
8,21      50
8,3       15
8,98      26
9,11      46
9,13       7
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [154]:
c = 'PUNT_PROFUNDIZACION'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))
data_2006[c] = data_2006[c].replace(-1, 0)

In [155]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1       236
GB     12849
I      19462
II     19504
III     8891
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [156]:
data_2006['DESEMP_PROFUNDIZACION'] = data_2006['DESEMP_PROFUNDIZACION'].replace('-1', 'III')

In [158]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          32300
VIOLENCIA Y SOCIEDAD    28642
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [159]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '15,54', '24,76', '30,79', '35,57', '39,72', '43,53',
       '45,32', '47,18', '47,63', '49,11', '50,28', '50,8', '51,28', '52,19',
       '53,06', '53,91', '54,52', '54,79', '55,71', '56,72', '57,91', '58,47',
       '59,42', '61,76', '62,84', '64,05', '67,95', '74,43', '84,21', '93,9'],
      dtype='object')
-1         11
0         235
15,54     285
24,76     891
30,79    1893
35,57    3161
39,72    4134
43,53    4921
45,32     827
47,18    4638
47,63    2124
49,11    3641
50,28    4734
50,8     3681
51,28    5064
52,19    4877
53,06    4129
53,91    2950
54,52    2555
54,79    1930
55,71    1130
56,72     494
57,91     175
58,47    1463
59,42      45
61,76       3
62,84     649
64,05       1
67,95     232
74,43      62
84,21       6
93,9        1
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60942
__________________
(60942,)
None

In [160]:
c = 'PUNT_INTERDISCIPLINAR'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))
data_2006[c] = data_2006[c].replace(-1, 0)

In [161]:
c = 'ESTU_PUESTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,
              ...
              960.0, 961.0, 962.0, 963.0, 964.0, 965.0, 966.0, 967.0, 968.0,
              969.0],
             dtype='float64', length=969)
1.0      100
2.0       95
3.0       91
4.0       99
5.0       88
6.0       86
7.0       79
8.0       82
9.0       87
10.0      78
11.0      79
12.0      83
13.0      74
14.0      75
15.0      74
16.0      75
17.0      74
18.0      72
19.0      74
20.0      73
21.0      69
22.0      72
23.0      74
24.0      70
25.0      76
26.0      60
27.0      69
28.0      73
29.0      67
30.0      76
        ...
940.0     80
941.0     80
942.0     69
943.0     85
944.0     66
945.0     72
946.0     71
947.0     79
948.0     77
949.0     68
950.0     78
951.0     68
952.0     79
953.0     76
954.0     69
955.0     76
956.0     65
957.0     74
958.0     74
959.0     70
960.0     75
961.0     67
962.0     76
963.0     82
964.0     71
965.0     66
966.0     69
967.0     75
968.0     73
969.0     26
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 60941
__________________
(60941,)
None

In [162]:
data_2006['ESTU_PUESTO'].fillna(method='bfill', inplace=True)

___

___

# FILE 2 -> 2006_2

In [3]:
data_2006_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20062-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_2006_2.shape

(408326, 85)

In [5]:
data_2006_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB1120062000001,SB1120062000002,SB1120062000003
PERIODO,20062,20062,20062
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,1,26,11
ESTU_NACIMIENTO_MES,6,7,1
ESTU_NACIMIENTO_ANNO,1994,1990,1989
ESTU_EDAD,12,15,17
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,13001,13001,13001
ESTU_RESIDE_MCPIO,CARTAGENA,CARTAGENA,CARTAGENA
ESTU_RESIDE_DEPTO,BOLÃVAR,BOLÃVAR,BOLÃVAR
ESTU_ZONA_RESIDE,1,1,1
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,13001,13001,13001
ESTU_MCPIO_PRESENTACION,CARTAGENA,CARTAGENA,CARTAGENA
ESTU_DEPTO_PRESENTACION,BOLÃVAR,BOLÃVAR,BOLÃVAR
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006)
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2006,2006,2006
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,113597,113597,113597
COLE_COD_ICFES,113597,113597,113597
...,...,...,...
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,7,7,7
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1711,NaN,1711
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD DE LA SABANA,NaN,UNIVERSIDAD DE LA SABANA
ESTU_IES_COD_MPIO_DESEADA,25175,NaN,25175
ESTU_IES_MPIO_DESEADA,CHIA,NaN,CHIA
ESTU_IES_DEPT_DESEADA,CUNDINAMARCA,NaN,CUNDINAMARCA
ESTU_RAZONINSTITUTO,3,3,3
ESTU_CARRDESEADA_COD,15254,NaN,7320
ESTU_CARRDESEADA_RAZON,2,2,3
PUNT_LENGUAJE,"49,43","57,14","57,14"
PUNT_MATEMATICAS,"42,69","55,8","42,69"
PUNT_C_SOCIALES,"47,97","69,03","46,05"
PUNT_FILOSOFIA,"44,92","58,26","51,78"
PUNT_BIOLOGIA,"39,22","61,19","44,05"
PUNT_QUIMICA,"47,6","50,87","45,87"
PUNT_FISICA,"26,2","53,97","51,55"
NOMBRE_IDIOMA,INGLÃS,INGLÃS,INGLÃS
PUNT_IDIOMA,"49,6","69,4","47,66"
DESEMP_IDIOMA,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÃN EN MATEMÃTICA,PROFUNDIZACIÃN EN CIENCIAS SOCIALES,PROFUNDIZACIÃN EN LENGUAJE
PUNT_PROFUNDIZACION,"5,19","6,44","5,29"
DESEMP_PROFUNDIZACION,I,II,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"49,02","57,28","44,42"
ESTU_PUESTO,635,18,263

First delete the columns that wont' contribute to the work

In [6]:
data_2006_2 = data_2006_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO', 
                                'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA'], axis=1)

In [7]:
c = 'ESTU_PAIS_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AR', 'BO', 'BR', 'CO', 'CR', 'DE', 'DM', 'DO', 'EC', 'ES', 'ET', 'IT',
       'JP', 'KR', 'MX', 'PE', 'UK', 'US', 'VE'],
      dtype='object')
AR         4
BO         2
BR         1
CO    408129
CR         1
DE         2
DM         1
DO         1
EC         5
ES         3
ET         1
IT         1
JP         1
KR         2
MX         2
PE         9
UK         1
US        21
VE        16
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 123
__________________
Elementos diferentes de null/NaN: 408203
__________________
(408203,)
None

In [8]:
Do_resamples(data_2006_2, 'ESTU_PAIS_RESIDE', str)

cant null antes: 123
cant null despues: 0

In [9]:
c = 'ESTU_GENERO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['F', 'M'], dtype='object')
F    220451
M    187717
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 158
__________________
Elementos diferentes de null/NaN: 408168
__________________
(408168,)
None

In [10]:
Do_resamples(data_2006_2, 'ESTU_GENERO', str)

cant null antes: 158
cant null despues: 0

In [11]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     13667
2.0     13431
3.0     13280
4.0     13508
5.0     13625
6.0     13526
7.0     13381
8.0     13344
9.0     13283
10.0    13896
11.0    13174
12.0    13655
13.0    13057
14.0    13372
15.0    13711
16.0    13347
17.0    13638
18.0    13425
19.0    13065
20.0    13836
21.0    13050
22.0    13292
23.0    13159
24.0    13281
25.0    13222
26.0    13476
27.0    13306
28.0    13681
29.0    12284
30.0    12221
31.0     7445
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 688
__________________
Elementos diferentes de null/NaN: 407638
__________________
(407638,)
None

In [12]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     34113
2.0     30507
3.0     33774
4.0     32565
5.0     33724
6.0     32777
7.0     33736
8.0     34443
9.0     35786
10.0    36282
11.0    34855
12.0    35076
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 688
__________________
Elementos diferentes de null/NaN: 407638
__________________
(407638,)
None

In [13]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 982.0, 1930.0, 1931.0, 1932.0, 1933.0, 1934.0, 1935.0, 1936.0,
              1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0,
              1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0,
              1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0,
              1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0,
              1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0,
              1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0,
              1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2088.0, 2089.0, 2090.0, 2091.0],
             dtype='float64')
982.0          1
1930.0        14
1931.0         5
1932.0         5
1933.0         3
1934.0         2
1935.0         5
1936.0         9
1937.0        17
1938.0        17
1939.0        14
1940.0         9
1941.0         3
1942.0         2
1943.0         9
1944.0         6
1945.0        12
1946.0         9
1947.0        10
1948.0        14
1949.0        21
1950.0        29
1951.0        26
1952.0        26
1953.0        36
1954.0        47
1955.0        74
1956.0        86
1957.0        97
1958.0        89
           ...
1977.0       845
1978.0       912
1979.0      1116
1980.0      1385
1981.0      1472
1982.0      1848
1983.0      2387
1984.0      3730
1985.0      6779
1986.0     14845
1987.0     34490
1988.0     74011
1989.0    141551
1990.0     91467
1991.0     10263
1992.0      3127
1993.0      2485
1994.0      6730
1995.0         4
1996.0         3
1997.0         2
1998.0        14
1999.0         1
2000.0        21
2001.0        10
2002.0         9
2088.0         2
2089.0         1
2090.0         4
2091.0         1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 688
__________________
Elementos diferentes de null/NaN: 407638
__________________
(407638,)
None

In [14]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2006_2['ESTU_NACIMIENTO_ANNO'] = data_2006_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)
    elif i > 1995:
        data_2006_2['ESTU_NACIMIENTO_ANNO'] = data_2006_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [15]:
anno = data_2006_2[data_2006_2['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2006_2 = data_2006_2.drop(anno)

In [16]:
c = 'ESTU_EDAD'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Int64Index([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
            28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
            45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,
            62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76],
           dtype='int64')
11      2493
12      5536
13      2896
14      4195
15     25926
16    139866
17    110207
18     54988
19     25183
20     10754
21      5322
22      3082
23      2151
24      1708
25      1373
26      1301
27      1049
28       863
29       807
30       687
31       668
32       562
33       577
34       539
35       463
36       638
37       569
38       475
39       384
40       352
       ...
47        94
48       100
49        97
50        77
51        61
52        46
53        31
54        30
55        23
56        24
57        20
58        12
59         8
60        14
61         8
62         4
63         9
64         1
65         8
66        10
67        13
68        18
69        14
70        11
71         3
72         3
73         4
74         4
75        10
76         9
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [17]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 407569
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [18]:
data_2006_2 = data_2006_2.drop(['ESTU_LIMITA_BAJAVISION'], axis = 1)

In [19]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 407569
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [20]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [21]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 407569
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [22]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [23]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 407569
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [24]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [25]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 407569
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [26]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [27]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 407569
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [28]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [29]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 407569
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [30]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [31]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=968)
ABEJORRAL                    128
ABREGO                       118
ABRIAQUI                      24
ACACIAS                      780
ACANDI                        35
ACEVEDO                       87
ACHI                         166
AGRADO                        94
AGUA DE DIOS                 156
AGUACHICA                    771
AGUADA                        23
AGUADAS                      230
AGUAZUL                      446
AGUSTIN CODAZZI              510
AIPE                         113
ALBAN                         66
ALBANIA                      135
ALCALA                         6
ALDANA                         1
ALEJANDRIA                    29
ALGARROBO                    109
ALGECIRAS                    100
ALMAGUER                      48
ALMEIDA                       37
ALPUJARRA                     46
ALTAMIRA                      29
ALTO BAUDO (PIE DE PATO)      70
ALTOS DEL ROSARIO             68
ALVARADO                      56
AMAGA                        257
                            ...
VILLAMARIA                   485
VILLANUEVA                   696
VILLAPINZON                  216
VILLARRICA                    75
VILLAVICENCIO               4866
VILLAVIEJA                    59
VILLETA                      306
VIOTA                        106
VIRACACHA                     23
VISTA HERMOSA                 55
VITERBO                      210
YACOPI                        81
YAGUARA                      129
YALI                          56
YARUMAL                      445
YAVARATE                      11
YOLOMBO                      150
YONDO (CASABE)                98
YOPAL                       1351
YOTOCO                         1
YUMBO                        105
ZAMBRANO                     118
ZAPATOCA                      83
ZAPAYAN                       51
ZARAGOZA                     205
ZARZAL                        20
ZETAQUIRA                     92
ZIPACON                       30
ZIPAQUIRA                   1460
ZONA BANANERA                369
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 407568
__________________
(407568,)
None

In [32]:
data_2006_2['ESTU_RESIDE_MCPIO'].fillna(method='bfill', inplace=True)

In [33]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'GUAINÃA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SAN ANDRÃS', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE', 'VAUPÃS', 'VICHADA'],
      dtype='object')
AMAZONAS             621
ANTIOQUIA          61089
ARAUCA              1989
ATLÃNTICO         26104
BOGOTÃ            86670
BOLÃVAR           20677
BOYACÃ            15008
CALDAS             10317
CAQUETÃ            2766
CASANARE            3154
CAUCA               8289
CESAR               9317
CHOCÃ              3599
CUNDINAMARCA       27631
CÃRDOBA           15080
GUAINÃA             108
GUAVIARE             480
HUILA               9088
LA GUAJIRA          5722
MAGDALENA          11308
META                8030
NARIÃO              398
NORTE SANTANDER    13823
PUTUMAYO            1880
QUINDÃO            5586
RISARALDA           9353
SAN ANDRÃS          774
SANTANDER          22477
SUCRE               9716
TOLIMA             14044
VALLE               1985
VAUPÃS              176
VICHADA              309
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 407568
__________________
(407568,)
None

In [34]:
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('BOGOTÃ', 'BOGOTA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('BOLÃVAR', 'BOLIVAR')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('BOYACÃ', 'BOYACA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('CAQUETÃ', 'CAQUETA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('CHOCÃ', 'CHOCO')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('CÃRDOBA', 'CORDOBA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('GUAINÃA', 'GUAINIA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('NARIÃO', 'NARIÑO')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('QUINDÃO', 'QUINDIO')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('SAN ANDRÃS', 'SAN ANDRES')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('VAUPÃS', 'VAUPES')

In [35]:
data_2006_2['ESTU_RESIDE_DEPTO'].fillna(method='bfill', inplace=True)

In [36]:
c = 'ESTU_ZONA_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      19111
2.0       2497
3.0      11553
4.0      42330
5.0      15436
6.0       8701
7.0       9724
8.0      23516
9.0      16883
10.0    257767
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 51
__________________
Elementos diferentes de null/NaN: 407518
__________________
(407518,)
None

In [37]:
Do_resamples(data_2006_2, 'ESTU_ZONA_RESIDE', float)

cant null antes: 51
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [38]:
c = 'ESTU_AREA_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2011
2.0     579
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 404979
__________________
Elementos diferentes de null/NaN: 2590
__________________
(2590,)
None

In [39]:
Do_resamples(data_2006_2, 'ESTU_AREA_RESIDE', float)

cant null antes: 404979
cant null despues: 0

In [40]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=353)
ABEJORRAL                     131
ABREGO                        125
ACACIAS                       799
ACANDI                         35
ACHI                          181
AGUACHICA                    1258
AGUADAS                       238
AGUAZUL                       374
AGUSTIN CODAZZI               525
AIPE                          126
ALTO BAUDO (PIE DE PATO)       71
AMAGA                         620
AMALFI                        256
ANDES                         727
ANOLAIMA                      259
ANSERMA                       518
APARTADO                     1749
ARACATACA                     371
ARAUCA                        747
ARAUQUITA                     246
ARBELAEZ                      203
ARBOLEDAS                      70
ARBOLETES                     375
ARIGUANI (EL DIFICIL)         299
ARJONA                        664
ARMENIA                      3741
ASTREA                        158
ATRATO (YUTO)                  94
AYAPEL                        390
BAGADO                         72
                             ...
TUNJA                        3631
TURBACO                       759
TURBO                        1037
TURMEQUE                      251
TUTA                           94
UBATE                        1058
UNGUIA                         35
URRAO                         449
VALLEDUPAR                   4582
VEGACHI                       144
VELEZ                         404
VENADILLO                     159
VENTAQUEMADA                  158
VIGIA DEL FUERTE               79
VILLA DE LEYVA                286
VILLA DEL ROSARIO             662
VILLA GUAMEZ (LA HORMIGA)     331
VILLAGARZON                    92
VILLAMARIA                    444
VILLANUEVA                    686
VILLAVICENCIO                5618
VILLETA                       683
VIOTA                          78
YARUMAL                       686
YAVARATE                       11
YOLOMBO                       215
YOPAL                        1699
ZAPATOCA                      117
ZARAGOZA                      196
ZIPAQUIRA                    2386
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [41]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'GUAINÃA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SAN ANDRÃS', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE', 'VAUPÃS', 'VICHADA'],
      dtype='object')
AMAZONAS             624
ANTIOQUIA          60775
ARAUCA              2083
ATLÃNTICO         26516
BOGOTÃ            86175
BOLÃVAR           20077
BOYACÃ            15497
CALDAS             10595
CAQUETÃ            2789
CASANARE            3178
CAUCA               8310
CESAR               9515
CHOCÃ              3653
CUNDINAMARCA       27233
CÃRDOBA           15167
GUAINÃA             110
GUAVIARE             507
HUILA               9166
LA GUAJIRA          5737
MAGDALENA          11074
META                8182
NARIÃO              342
NORTE SANTANDER    13881
PUTUMAYO            1958
QUINDÃO            5622
RISARALDA           9390
SAN ANDRÃS          790
SANTANDER          22804
SUCRE               9777
TOLIMA             13730
VALLE               1790
VAUPÃS              182
VICHADA              340
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [42]:
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('BOGOTÃ', 'BOGOTA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('BOLÃVAR', 'BOLIVAR')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('BOYACÃ', 'BOYACA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('CAQUETÃ', 'CAQUETA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('CHOCÃ', 'CHOCO')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('CÃRDOBA', 'CORDOBA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('GUAINÃA', 'GUAINIA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('NARIÃO', 'NARIÑO')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('QUINDÃO', 'QUINDIO')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('SAN ANDRÃS', 'SAN ANDRES')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('VAUPÃS', 'VAUPES')

In [43]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['EXAMEN DE ESTADO  (2006)'], dtype='object')
EXAMEN DE ESTADO  (2006)    407569
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [44]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [45]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     14326
1.0    393206
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 37
__________________
Elementos diferentes de null/NaN: 407532
__________________
(407532,)
None

In [46]:
Do_resamples(data_2006_2, 'IND_ESTUDIO_BACHILLERATO', float)

cant null antes: 37
cant null despues: 0

In [47]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1950.0, 1957.0, 1966.0, 1973.0, 1977.0, 1979.0, 1984.0, 1986.0,
              1987.0, 1988.0, 1989.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              9999.0],
             dtype='float64')
1950.0         1
1957.0         1
1966.0         1
1973.0         1
1977.0         2
1979.0         1
1984.0         1
1986.0         2
1987.0         1
1988.0         1
1989.0         2
1991.0         1
1992.0         1
1993.0         1
1994.0         3
1995.0         1
1996.0         1
1997.0         2
1998.0         4
1999.0         5
2000.0         6
2001.0         7
2002.0        10
2003.0         9
2004.0        35
2005.0       101
2006.0    389679
2007.0      1907
2008.0       138
2009.0        45
2010.0        13
2011.0         3
9999.0         1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 15582
__________________
Elementos diferentes de null/NaN: 391987
__________________
(391987,)
None

In [48]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if i > 2009:
        data_2006_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2006_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [49]:
Do_resamples(data_2006_2, 'IND_ANNO_TERMINO_BACHILLERATO', float)

cant null antes: 15599
cant null despues: 3
cant null antes: 3
cant null despues: 0

In [50]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0], dtype='float64')
1.0    359
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 407210
__________________
Elementos diferentes de null/NaN: 359
__________________
(359,)
None

In [51]:
data_2006_2 = data_2006_2.drop(['IND_TERMINO_BACHILLERATO'], axis=1)

In [52]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([     3.0,     18.0,     59.0,     67.0,     75.0,     83.0,
                  91.0,    125.0,    141.0,    174.0,
              ...
              170472.0, 170480.0, 170779.0, 170845.0, 171363.0, 171488.0,
              173260.0, 176198.0, 176255.0, 999999.0],
             dtype='float64', length=8439)
3.0          283
18.0          21
59.0        1199
67.0           1
75.0          58
83.0          60
91.0         104
125.0         70
141.0        115
174.0        101
190.0         88
208.0         86
216.0         32
232.0         32
240.0        124
265.0        118
273.0         48
281.0         71
315.0        171
349.0         23
356.0         31
364.0         66
372.0         63
380.0        125
398.0         22
406.0         30
422.0         15
430.0        107
448.0         29
455.0         87
            ...
166553.0       1
166595.0       1
166603.0       1
166637.0       1
166777.0       7
167254.0       1
167361.0       2
167643.0       1
167650.0       1
167841.0       1
168203.0       1
168344.0       3
168708.0       1
168971.0       1
169268.0       1
169359.0       1
169714.0       1
169748.0       1
169904.0       2
170050.0       1
170472.0       2
170480.0       1
170779.0       1
170845.0       1
171363.0       1
171488.0       1
173260.0       1
176198.0       3
176255.0       1
999999.0     708
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 998
__________________
Elementos diferentes de null/NaN: 406571
__________________
(406571,)
None

In [53]:
Do_resamples(data_2006_2, 'IND_COD_ICFES_TERMINO', float)

cant null antes: 998
cant null despues: 880
cant null antes: 880
cant null despues: 762
cant null antes: 762
cant null despues: 644
cant null antes: 644
cant null despues: 526
cant null antes: 526
cant null despues: 408
cant null antes: 408
cant null despues: 290
cant null antes: 290
cant null despues: 172
cant null antes: 172
cant null despues: 54
cant null antes: 54
cant null despues: 0

In [54]:
c = 'COLE_COD_ICFES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Int64Index([    18,     59,     75,     83,     91,    125,    141,    174,
               190,    208,
            ...
            129163, 129197, 129205, 129221, 129247, 129254, 129296, 129353,
            129387, 129395],
           dtype='int64', length=8018)
18          21
59        1204
75          58
83          60
91         104
125         70
141        116
174        101
190         88
208         86
216         32
232         32
240        123
265        121
273         48
281         72
315        171
349         23
356         31
364         66
372         63
380        125
398         22
406         30
422         15
430        107
448         29
455         87
463        138
471        169
          ...
128850      13
128884      17
128892       6
128900      95
128926      10
128934       9
128942      54
128959      16
128967      24
128975      29
129007      14
129023      16
129031      16
129049      13
129056       8
129072      12
129080      17
129106      16
129122       8
129130      39
129163      13
129197      21
129205      29
129221      21
129247      14
129254       5
129296      34
129353      11
129387      30
129395       8
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [55]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2006_2[c] = data_2006_2[c].replace(i, np.nan)

In [56]:
Do_resamples(data_2006_2, 'COLE_COD_ICFES', float)

cant null antes: 6610
cant null despues: 535
cant null antes: 535
cant null despues: 0

In [57]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2006_2[c].value_counts().index)
print(data_2006_2[c].value_counts())
print(missing_data(data_2006_2[c]))

Index(['            ', '105001000108', '111001024732', '168001003591',
       '111001019411', '113001003274', '105001013340', '108758000031',
       '111001010839', '111279000362',
       ...
         117001000653,   311769001927,   241807000427,   311769003300,
       '311001032131',   385001004259, '311001031461',   405001016946,
         254001008058,   117001006210],
      dtype='object', length=7111)
                3441
105001000108    1204
111001024732     984
168001003591     819
111001019411     795
113001003274     694
105001013340     639
108758000031     631
111001010839     607
111279000362     600
305440000994     571
111001010910     566
173001001053     558
105001024571     528
111001011690     518
166001002339     515
154001003779     501
163001001325     498
113001000852     497
154001000079     492
111102000753     486
168001000444     483
313001006701     482
173001000308     481
111001011070     479
150001000979     476
111001083011     455
111001010928     455
311001004820     446
111848003031     441
                ...
125486000187       1
323001006944       1
376109003930       1
225224000024       1
120621000255       1
115176000041       1
305001009848       1
308758004168       1
368081001739       1
217001001182       1
108001011290       1
213473001601       1
125322000429       1
117001003822       1
219693000621       1
425377076754       1
168745000141       1
370001000057       1
268245000351       1
185410000016       1
117001000653       1
311769001927       1
241807000427       1
311769003300       1
311001032131       1
385001004259       1
311001031461       1
405001016946       1
254001008058       1
117001006210       1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [58]:
for i in data_2006_2[c].value_counts().index:
    if ' ' in str(i):
        data_2006_2[c] = data_2006_2[c].replace(i, np.nan)

for i in data_2006_2[c].value_counts().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

data_2006_2[c].fillna(method='bfill', inplace=True)
data_2006_2[c].fillna(method='ffill', inplace=True)

In [61]:
c = 'COLE_NOMBRE_SEDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index([' COLEGIO MARYLAND', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' I.E. AGRICOLA DE MACANAL - SEDE PRINCIPAL',
       ' I.E. LA CANDELARIA - SEDE PRINCIPAL',
       ' I.E. MARCO AURELIO BERNAL - SEDE PRINCIPAL',
       ' I.E.T. SAN DIEGO DE ALCALA - SEDE PRINCIPAL',
       ' I.E.T. SERGIO CAMARGO - SEDE PRINCIPAL',
       ' IE JUAN PABLO II - SEDE PRINCIPAL',
       ' INSTITUCION EDUCATIVA DEPARTAMENTAL TAPIAS',
       'ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                               ',
       ...
       'UNIDAD TECNOLOGICA DE OCCIDENTE',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA', 'URBANA MIXTA NO.1',
       'VALSALICE', 'VERDE AMAZONICO', 'VILLA CECILIA SEDE', 'VILLA CORELCA',
       'VILLA DE LOS ANDES',
       'ZION SCHOOL                                                 '],
      dtype='object', length=6760)
 COLEGIO MARYLAND                                                                                        17
 ESCUELA URBANA JOSE ANTONIO GALAN                                                                       24
 I.E. AGRICOLA DE MACANAL - SEDE PRINCIPAL                                                               32
 I.E. LA CANDELARIA - SEDE PRINCIPAL                                                                     24
 I.E. MARCO AURELIO BERNAL - SEDE PRINCIPAL                                                             129
 I.E.T. SAN DIEGO DE ALCALA - SEDE PRINCIPAL                                                             13
 I.E.T. SERGIO CAMARGO - SEDE PRINCIPAL                                                                  21
 IE JUAN PABLO II - SEDE PRINCIPAL                                                                        8
 INSTITUCION EDUCATIVA DEPARTAMENTAL TAPIAS                                                              18
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                                    28
ACAD CENTRAL DE SISTEMAS ACSI                                                                            72
ACAD MILIT MARISCAL SUCRE                                                                                73
ACAD MILIT NAL HEROES GRANADINOS                                                                         34
ACAD PANTANO DE VARGAS                                                                                   35
ACAD. MILITAR GRAL. CUSTODIO GARCIA R.                                                                   17
ACADEMIA CIAL DE LOS ANDES                                                                               38
ACADEMIA COMERCIAL REAL                                                                                   5
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                                                 5
ACADEMIA E INSTITUTO CAMPAÃA LIBERTADORA                                                                 2
ACADEMIA GRAN COLOMBIA                                                                                   51
ACADEMIA GUSTAVO ROJAS PINILLAS                                                                          20
ACADEMIA LA SALLE SAN BENILDO                                                                            90
ACADEMIA LEGION BRITANICA                                                                                12
ACADEMIA MILITAR GENERAL JOSE ANTONIO ANZOATEGUI                                                         24
ACADEMIA MILITAR GRAL TOMAS CIPRIANO DE MOSQUERA                                                         29
ACADEMIA MILITAR JOSE ANTONIO PAEZ                                                                       48
ACADEMIA MILITAR MARISCAL SUCRE                                                                          79
ACCION COMUNAL                                                                                          129
ACEVEDO Y GOMEZ                                                                                          25
AGROAMBIENTAL JOEL SIERRA                                                                                 6
                                                                                                       ...
TIERRA LIBRE                                                                                             19
TULIO ARBELAEZ                                                                                           28
TÃCNICO DEPARTAMENTAL NATANIA                                                                           53
TÃCNICO INDUSTRIAL RAFAEL POMBO                                                                        123
UNAD  BACHILLERATO DIVERSIFICADO A DISTANCIA PARA ADULTOS                                               140
UNAD COLEGIO DE BACHILLERATO DIVERSIFICADO A DISTANCIA PARA ADULTOS                                       3
UNAD UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                           8
UNID EDUC BAHIA SOLANO                                                                                   30
UNID EDUC JEAN PIAGET                                                                                    55
UNID EDUC PRADOS DE ALAMEDA                                                                               7
UNID EDUC SAN ANTONIO DEL ARIARI                                                                         39
UNID PEDAGOGICA BILINGÃE PIERRE DE FERMAT                                                               29
UNIDAD BASICA LAGUNA                                                                                      1
UNIDAD EDUCATIVA                                                                                         20
UNIDAD EDUCATIVA BASICA ALEJANDRO CHESNAIE                                                                6
UNIDAD EDUCATIVA CABUYARO                                                                                38
UNIDAD EDUCATIVA SAN MARCOS                                                                             150
UNIDAD EDUCATIVA SANTA TERESA DE PACHAQUIARO                                                             22
UNIDAD EDUCATIVA TECNICO AGROPECURIO                                                                     39
UNIDAD EDUCATIVA URBANA                                                                                  31
UNIDAD TECNOLOGICA DE OCCIDENTE                                                                           5
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                                                    21
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                               91
URBANA MIXTA NO.1                                                                                        19
VALSALICE                                                                                                58
VERDE AMAZONICO                                                                                          32
VILLA CECILIA SEDE                                                                                       10
VILLA CORELCA                                                                                            44
VILLA DE LOS ANDES                                                                                       26
ZION SCHOOL                                                                                               5
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [62]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [63]:
c = 'COLE_CALENDARIO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    360804
B       625
F     46140
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [64]:
c = 'COLE_GENERO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     25924
M      6830
X    374815
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [65]:
c = 'COLE_NATURALEZA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['N', 'O'], dtype='object')
N    105261
O    302308
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [66]:
c = 'COLE_BILINGUE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    390745
1.0      2939
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 13885
__________________
Elementos diferentes de null/NaN: 393684
__________________
(393684,)
None

In [67]:
Do_resamples(data_2006_2, 'COLE_BILINGUE', float)

cant null antes: 13885
cant null despues: 0

In [68]:
c = 'COLE_JORNADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÃANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     84382
MAÃANA                 200370
NOCHE                    29665
SABATINA - DOMINICAL      9475
TARDE                    83677
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [69]:
data_2006_2[c] = data_2006_2[c].replace('MAÃANA', 'MAÑANA')

In [70]:
c = 'COLE_CARACTER'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              241315
ACADEMICO Y TECNICO     83373
DESCONOCIDO               181
NORMALISTA              10040
TECNICO                 72660
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [71]:
c = 'ESTU_ETNIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1.0     6764
2.0      666
3.0      781
4.0      124
5.0       45
6.0      301
7.0      116
8.0      372
9.0      714
10.0    1272
11.0      91
12.0     126
13.0     110
14.0      48
15.0      91
16.0      50
99.0    7472
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 388426
__________________
Elementos diferentes de null/NaN: 19143
__________________
(19143,)
None

In [72]:
data_2006_2['ESTU_ETNIA'].fillna(99, inplace=True)

In [73]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     17
1.0    606
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 406946
__________________
Elementos diferentes de null/NaN: 623
__________________
(623,)
None

In [74]:
data_2006_2 = data_2006_2.drop(['FAMI_LEE_ESCRIBE_PADRE'], axis=1)

In [75]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     18
1.0    605
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 406946
__________________
Elementos diferentes de null/NaN: 623
__________________
(623,)
None

In [76]:
data_2006_2 = data_2006_2.drop(['FAMI_LEE_ESCRIBE_MADRE'], axis=1)

In [77]:
c = 'FAMI_EDUCA_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      602
1.0        9
2.0       23
3.0       20
4.0       15
5.0       10
7.0        8
8.0        2
9.0     2227
10.0    1662
11.0    1216
12.0    1823
13.0     213
14.0     496
15.0     238
16.0    1041
17.0     387
99.0      67
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 397510
__________________
Elementos diferentes de null/NaN: 10059
__________________
(10059,)
None

In [78]:
Do_resamples(data_2006_2, 'FAMI_EDUCA_PADRE', float)

cant null antes: 397510
cant null despues: 0

In [79]:
c = 'FAMI_EDUCA_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      319
1.0        9
2.0       12
3.0       21
4.0       16
5.0       16
6.0        1
7.0        8
8.0        1
9.0     2063
10.0    1733
11.0    1493
12.0    1962
13.0     228
14.0     625
15.0     223
16.0     909
17.0     338
99.0      82
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 397510
__________________
Elementos diferentes de null/NaN: 10059
__________________
(10059,)
None

In [81]:
Do_resamples(data_2006_2, 'FAMI_EDUCA_MADRE', float)

cant null antes: 149939
cant null despues: 0

In [82]:
c = 'FAMI_OCUPA_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 99.0],
             dtype='float64')
1.0        2
2.0        3
3.0        1
4.0        2
5.0        7
6.0        3
7.0       10
8.0        5
9.0       31
10.0       2
11.0       9
12.0      21
13.0     325
14.0    1013
15.0     226
16.0     346
17.0     496
18.0     359
19.0    1216
20.0     533
21.0    2860
22.0     254
23.0     752
24.0       3
25.0       2
26.0    1524
99.0      54
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 397510
__________________
Elementos diferentes de null/NaN: 10059
__________________
(10059,)
None

In [85]:
Do_resamples(data_2006_2, 'FAMI_OCUPA_PADRE', float)

cant null antes: 97935
cant null despues: 0

In [86]:
c = 'FAMI_OCUPA_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 2.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0, 13.0,
              14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0,
              25.0, 26.0, 99.0],
             dtype='float64')
2.0        4
4.0        3
5.0        6
6.0        2
7.0        2
8.0        3
9.0        6
10.0      53
11.0       5
12.0      12
13.0     146
14.0     420
15.0     158
16.0     347
17.0     388
18.0     361
19.0     693
20.0     323
21.0    1214
22.0    4655
23.0     421
24.0       1
25.0       2
26.0     814
99.0      20
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 397510
__________________
Elementos diferentes de null/NaN: 10059
__________________
(10059,)
None

In [87]:
Do_resamples(data_2006_2, 'FAMI_OCUPA_MADRE', float)

cant null antes: 397510
cant null despues: 0

In [88]:
c = 'FAMI_NUM_HERMANOS'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0.0      69
1.0     152
2.0     170
3.0     109
4.0      52
5.0      27
6.0      24
7.0       6
8.0       5
9.0       2
10.0      7
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 406946
__________________
Elementos diferentes de null/NaN: 623
__________________
(623,)
None

In [91]:
st = time()
Do_resamples(data_2006_2, 'FAMI_NUM_HERMANOS', float)
print(time()-st)

cant null antes: 406946
cant null despues: 0
2543.3804421424866

In [92]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1.0      30
2.0      72
3.0     152
4.0     416
5.0     107
6.0     158
7.0     112
8.0     241
9.0      24
88.0    499
99.0     34
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 405724
__________________
Elementos diferentes de null/NaN: 1845
__________________
(1845,)
None

In [93]:
Do_resamples(data_2006_2, 'FAMI_EDUCA_HERMANO', float)

cant null antes: 405724
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [177]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1.0     276
2.0      38
88.0    241
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 407771
__________________
Elementos diferentes de null/NaN: 555
__________________
(555,)
None

In [95]:
Do_resamples(data_2006_2, 'FAMI_HERMANOS_ESTUDIAN', float)

cant null antes: 121710
cant null despues: 0

In [96]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1.0    2374
2.0    3644
3.0    2594
4.0     859
5.0     356
6.0     247
8.0      42
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 397453
__________________
Elementos diferentes de null/NaN: 10116
__________________
(10116,)
None

In [102]:
Do_resamples(data_2006_2, 'FAMI_ESTRATO_VIVIENDA', float)

cant null antes: 77383
cant null despues: 0

In [103]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0    3203
2.0    2446
3.0     614
4.0     102
5.0    3682
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 397522
__________________
Elementos diferentes de null/NaN: 10047
__________________
(10047,)
None

In [107]:
Do_resamples(data_2006_2, 'FAMI_NIVEL_SISBEN', float)

cant null antes: 17449
cant null despues: 0

In [109]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      312
2.0     1035
3.0     2039
4.0     2606
5.0     2009
6.0     1038
7.0      429
8.0      264
9.0      118
10.0      85
11.0      34
12.0      78
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 397522
__________________
Elementos diferentes de null/NaN: 10047
__________________
(10047,)
None

In [110]:
Do_resamples(data_2006_2, c, float)

cant null antes: 397522
cant null despues: 0

In [111]:
c = 'FAMI_PISOSHOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     310
2.0    3069
3.0     518
4.0    5295
5.0     855
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 397522
__________________
Elementos diferentes de null/NaN: 10047
__________________
(10047,)
None

In [112]:
Do_resamples(data_2006_2, c, float)

cant null antes: 397522
cant null despues: 0

In [113]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      48
2.0     239
3.0     528
4.0     573
5.0     369
6.0     194
7.0      70
8.0      45
9.0      20
10.0     29
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 405454
__________________
Elementos diferentes de null/NaN: 2115
__________________
(2115,)
None

In [114]:
Do_resamples(data_2006_2, c, float)

cant null antes: 405454
cant null despues: 0

In [115]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      757
2.0     3051
3.0     4073
4.0     1459
5.0      413
6.0      141
7.0       34
8.0       25
9.0        6
10.0      24
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 397586
__________________
Elementos diferentes de null/NaN: 9983
__________________
(9983,)
None

In [116]:
Do_resamples(data_2006_2, c, float)

cant null antes: 397586
cant null despues: 0

In [117]:
c = 'FAMI_COMPUTADOR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0.0    3079
1.0      59
2.0       7
3.0    6886
4.0      16
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 397522
__________________
Elementos diferentes de null/NaN: 10047
__________________
(10047,)
None

In [118]:
Do_resamples(data_2006_2, c, float)

cant null antes: 397522
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [119]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0    1777
2.0    4144
3.0    2069
4.0    1109
5.0     422
6.0     262
7.0     264
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 397522
__________________
Elementos diferentes de null/NaN: 10047
__________________
(10047,)
None

In [120]:
Do_resamples(data_2006_2, c, float)

cant null antes: 397522
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [121]:
c = 'ESTU_TRABAJA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    5117
1.0      96
2.0      33
3.0    2345
4.0     712
5.0    1067
6.0      13
7.0      26
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 398160
__________________
Elementos diferentes de null/NaN: 9409
__________________
(9409,)
None

In [122]:
Do_resamples(data_2006_2, c, float)

cant null antes: 398160
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [123]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0.0        9
1.0        6
2.0       18
3.0       24
4.0       82
5.0       46
6.0       66
7.0       32
8.0      333
9.0       65
10.0     139
11.0      16
12.0     103
13.0      10
14.0      19
15.0      49
16.0      70
17.0      14
18.0      81
19.0      27
20.0    2905
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 403455
__________________
Elementos diferentes de null/NaN: 4114
__________________
(4114,)
None

In [124]:
Do_resamples(data_2006_2, c, float)

cant null antes: 403455
cant null despues: 0

In [125]:
c = 'COLE_VALOR_PENSION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 11.0, 12.0], dtype='float64')
0.0     222379
1.0      94653
2.0      16275
3.0      13230
4.0      16419
5.0      19828
6.0      15468
7.0       9149
8.0         82
9.0         12
11.0         1
12.0         3
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 70
__________________
Elementos diferentes de null/NaN: 407499
__________________
(407499,)
None

In [126]:
Do_resamples(data_2006_2, c, float)

cant null antes: 70
cant null despues: 0

In [127]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0.0     2
1.0     4
2.0     2
3.0    11
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 407550
__________________
Elementos diferentes de null/NaN: 19
__________________
(19,)
None

In [128]:
data_2006_2 = data_2006_2.drop([c], axis=1)

In [129]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([7.0, 9.0, 12.0, 27.0, 30.0, 31.0, 32.0, 41.0, 59.0, 66.0, 69.0,
              99.0],
             dtype='float64')
7.0     2
9.0     3
12.0    2
27.0    1
30.0    1
31.0    2
32.0    1
41.0    1
59.0    1
66.0    1
69.0    1
99.0    1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 407552
__________________
Elementos diferentes de null/NaN: 17
__________________
(17,)
None

In [130]:
data_2006_2 = data_2006_2.drop([c], axis=1)

In [131]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1101.0,  1102.0,  1103.0,  1104.0,  1105.0,  1106.0,  1107.0,
               1108.0,  1109.0,  1110.0,
              ...
               9105.0,  9107.0,  9109.0,  9110.0,  9111.0,  9112.0,  9113.0,
               9114.0,  9115.0, 73502.0],
             dtype='float64', length=332)
1101.0     47597
1102.0      3302
1103.0      1602
1104.0       126
1105.0      3613
1106.0      4331
1107.0       444
1108.0       568
1109.0       132
1110.0      3936
1111.0      4154
1112.0      3732
1113.0      5273
1114.0      4444
1115.0      1176
1117.0      1264
1118.0      1775
1119.0      2581
1120.0      3140
1121.0       390
1122.0        63
1123.0       199
1124.0        75
1125.0        20
1201.0     30502
1202.0      5922
1203.0      2431
1204.0     11525
1205.0      8601
1206.0       408
           ...
4814.0        52
4817.0       581
4818.0       188
4822.0       106
4823.0        80
4825.0        44
4826.0       191
4827.0       120
4828.0        46
4829.0        45
4832.0        63
4835.0       179
4837.0        84
4838.0       127
5801.0        31
5802.0       117
9101.0      1064
9102.0       686
9103.0       922
9104.0      2224
9105.0       612
9107.0       189
9109.0        43
9110.0      9585
9111.0       319
9112.0      2430
9113.0       181
9114.0       446
9115.0        48
73502.0        1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 129002
__________________
Elementos diferentes de null/NaN: 278567
__________________
(278567,)
None

In [132]:
data_2006_2[c].fillna(method='bfill', inplace=True)
data_2006_2[c].fillna(method='ffill', inplace=True)

In [133]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AGUACHICA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÃ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'CUCUTA', 'DUITAMA',
       'ENVIGADO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA',
       'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA', 'MADRID', 'MALAGA',
       'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'MOSQUERA', 'NEIVA',
       'NILO', 'OCAÃA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PENSILVANIA',
       'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'PUERTO TEJADA', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÃ DE ANTIOQUIA', 'SEVILLA', 'SIBUNDOY',
       'SINCELEJO', 'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TOLU', 'TULUA', 'TUNJA',
       'TURBO', 'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                   199
ANDES                       279
APARTADO                      2
ARAUCA                       75
ARMENIA                    2327
BARRANCABERMEJA             299
BARRANQUILLA              15385
BELLO                       180
BOGOTÃ D.C.             106581
BUCARAMANGA               16055
BUENAVENTURA                 63
BUGA                         57
CALDAS                      105
CALI                       4733
CARMEN DE VIBORAL           154
CARTAGENA                 11644
CARTAGO                      51
CAUCASIA                    617
CERETE                       15
CHIA                       1208
CHIQUINQUIRA                132
CIENAGA                      81
COPACABANA                    7
CUCUTA                     3590
DUITAMA                     444
ENVIGADO                    127
ESPINAL                      63
FACATATIVA                   31
FLORENCIA                  1176
FUSAGASUGA                  909
                          ...
PEREIRA                    5559
POPAYAN                    4164
PUERTO BERRIO               216
PUERTO TEJADA                 4
QUIBDO                     1775
RIOHACHA                    869
RIONEGRO                    208
ROLDANILLO                    2
SABANETA                     14
SAN ANDRES                   97
SAN GIL                     144
SAN JUAN DEL CESAR           94
SANTA MARTA                5853
SANTA ROSA DE CABAL          71
SANTA ROSA DE OSOS           21
SANTAFÃ DE ANTIOQUIA        16
SEVILLA                       4
SIBUNDOY                      3
SINCELEJO                  3265
SOCORRO                     166
SOGAMOSO                    568
SOLEDAD                     219
TOLU                         93
TULUA                        94
TUNJA                      4941
TURBO                       470
UBATE                       205
VALLEDUPAR                 3140
VILLAVICENCIO              2889
YOPAL                        16
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 129002
__________________
Elementos diferentes de null/NaN: 278567
__________________
(278567,)
None

In [134]:
data_2006_2[c] = data_2006_2[c].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2006_2[c] = data_2006_2[c].replace('OCAÃA', 'OCAÑA')
data_2006_2[c] = data_2006_2[c].replace('SANTAFÃ DE ANTIOQUIA', 'SANTAFE DE ANTIOQUIA')

In [135]:
Do_resamples(data_2006_2, c, str)

cant null antes: 129002
cant null despues: 3
cant null antes: 3
cant null despues: 0

In [136]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SAN ANDRÃS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               20
ANTIOQUIA           49141
ARAUCA                 75
ATLÃNTICO          15604
BOGOTÃ            106581
BOLÃVAR            11644
BOYACÃ              6085
CALDAS               6922
CAQUETÃ             1176
CASANARE               16
CAUCA                4168
CESAR                3339
CHOCÃ               1775
CUNDINAMARCA         4454
CÃRDOBA             6358
HUILA                4591
LA GUAJIRA            963
MAGDALENA            5934
META                 2889
NARIÃO               536
NORTE SANTANDER      7136
PUTUMAYO               46
QUINDÃO             2327
RISARALDA            5630
SAN ANDRÃS            97
SANTANDER           16671
SUCRE                3358
TOLIMA               5858
VALLE                5173
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 129002
__________________
Elementos diferentes de null/NaN: 278567
__________________
(278567,)
None

In [137]:
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('BOGOTÃ', 'BOGOTA')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('BOLÃVAR', 'BOLIVAR')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('BOYACÃ', 'BOYACA')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('CAQUETÃ', 'CAQUETA')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('CHOCÃ', 'CHOCO')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('CÃRDOBA', 'CORDOBA')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('NARIÃO', 'NARIÑO')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('QUINDÃO', 'QUINDIO')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('SAN ANDRÃS', 'SAN ANDRES')

In [138]:
Do_resamples(data_2006_2, c, str)

cant null antes: 129002
cant null despues: 0

In [139]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0      8949
2.0     38335
3.0    133642
4.0     37855
5.0     28469
6.0     17765
7.0     21649
8.0     21937
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 98968
__________________
Elementos diferentes de null/NaN: 308601
__________________
(308601,)
None

In [140]:
Do_resamples(data_2006_2, c, float)

cant null antes: 98968
cant null despues: 0

In [141]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([    1.0,     2.0,     4.0,     5.0,     7.0,    18.0,    26.0,
                 27.0,    36.0,    53.0,
              ...
              22889.0, 22892.0, 22923.0, 22939.0, 22965.0, 22967.0, 22980.0,
              22986.0, 24642.0, 24643.0],
             dtype='float64', length=5637)
1.0          1
2.0          3
4.0         98
5.0        288
7.0         11
18.0        16
26.0         2
27.0         3
36.0        43
53.0        15
57.0         1
58.0         1
59.0         1
60.0         5
61.0         3
63.0        47
64.0        36
66.0         7
68.0         9
74.0        11
78.0         1
86.0         7
87.0        87
88.0         2
89.0         9
95.0         1
98.0         3
101.0        3
102.0      431
103.0      801
          ...
22437.0      1
22441.0      1
22468.0      2
22478.0      1
22497.0      5
22516.0      1
22588.0      1
22620.0      1
22640.0      1
22658.0      3
22669.0      1
22682.0      1
22696.0      1
22705.0      2
22739.0      3
22817.0      1
22831.0      1
22852.0      1
22862.0      2
22869.0      1
22889.0      1
22892.0      3
22923.0      1
22939.0      1
22965.0      1
22967.0      6
22980.0      1
22986.0      1
24642.0    185
24643.0      2
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 135268
__________________
Elementos diferentes de null/NaN: 272301
__________________
(272301,)
None

In [142]:
Do_resamples(data_2006_2, c, float)

cant null antes: 135268
cant null despues: 1197
cant null antes: 1197
cant null despues: 0

In [143]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0     88844
2.0    102103
3.0     52414
4.0     32388
5.0     25604
6.0      9494
7.0         1
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 96721
__________________
Elementos diferentes de null/NaN: 310848
__________________
(310848,)
None

In [144]:
Do_resamples(data_2006_2, c, float)

cant null antes: 96721
cant null despues: 0

### TARGETS

In [145]:
c = 'PUNT_LENGUAJE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '100,28', '18,11', '26,06', '31,04', '34,81', '37,92', '40,63',
       '43,06', '45,3', '47,41', '49,43', '51,38', '53,3', '55,21', '57,14',
       '59,11', '61,16', '63,33', '65,67', '68,26', '71,24', '74,87', '79,68',
       '87,44'],
      dtype='object')
0            28
100,28        1
18,11       261
26,06      1260
31,04      3951
34,81      9496
37,92     18459
40,63     29340
43,06     40647
45,3      48629
47,41     51537
49,43     49748
51,38     43678
53,3      34932
55,21     26427
57,14     18804
59,11     12553
61,16      8100
63,33      4707
65,67      2656
68,26      1416
71,24       616
74,87       231
79,68        79
87,44        13
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [146]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [147]:
c = 'PUNT_MATEMATICAS'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '115,67', '14,92', '24,75', '30,91', '35,55', '39,38', '42,69',
       '45,66', '48,4', '50,97', '53,42', '55,8', '58,15', '60,48', '62,84',
       '65,25', '67,77', '70,42', '73,29', '76,47', '80,14', '84,58', '90,48',
       '99,98'],
      dtype='object')
0           230
115,67        1
14,92      1747
24,75      7166
30,91     19589
35,55     37681
39,38     55316
42,69     64406
45,66     61800
48,4      51353
50,97     37657
53,42     25812
55,8      16811
58,15     10745
60,48      6755
62,84      4185
65,25      2679
67,77      1652
70,42       877
73,29       530
76,47       307
80,14       157
84,58        71
90,48        34
99,98         8
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [148]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [149]:
c = 'PUNT_C_SOCIALES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '109,76', '12,87', '18,82', '23,29', '26,95', '3,34', '30,09',
       '32,88', '35,42', '37,77', '39,97', '42,07', '44,09', '46,05', '47,97',
       '49,87', '51,76', '53,67', '55,59', '57,56', '59,6', '61,72', '63,97',
       '66,39', '69,03', '72', '75,45', '79,68', '85,34', '94,52'],
      dtype='object')
0            23
109,76        1
12,87       231
18,82       820
23,29      2285
26,95      5361
3,34         46
30,09      9875
32,88     16210
35,42     23488
37,77     30767
39,97     36410
42,07     40043
44,09     41126
46,05     39545
47,97     36228
49,87     31074
51,76     25825
53,67     20479
55,59     15287
57,56     11114
59,6       8021
61,72      5430
63,97      3575
66,39      2176
69,03      1212
72          553
75,45       241
79,68        97
85,34        23
94,52         3
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [150]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [151]:
c = 'PUNT_FILOSOFIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '13,2', '22,6', '28,47', '32,89', '36,49', '39,6', '42,38',
       '44,92', '47,3', '49,58', '51,78', '53,94', '56,09', '58,26', '60,49',
       '62,81', '65,26', '67,91', '70,86', '74,26', '78,4', '83,91', '92,81'],
      dtype='object')
0           94
13,2       393
22,6      1851
28,47     5604
32,89    12599
36,49    22821
39,6     34155
42,38    44015
44,92    50372
47,3     51771
49,58    48476
51,78    41548
53,94    32908
56,09    24088
58,26    16397
60,49    10190
62,81     5732
65,26     2767
67,91     1163
70,86      458
74,26      131
78,4        29
83,91        5
92,81        2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [152]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [153]:
c = 'PUNT_BIOLOGIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '20,41', '28', '32,72', '36,28', '39,22', '41,76', '44,05',
       '46,16', '48,15', '50,05', '51,89', '53,71', '55,53', '57,36', '59,24',
       '61,19', '63,27', '65,51', '68', '70,86', '74,35', '78,99', '86,48',
       '98,9'],
      dtype='object')
0          109
20,41      880
28        3465
32,72     9955
36,28    20651
39,22    33551
41,76    44343
44,05    49893
46,16    49282
48,15    44913
50,05    37442
51,89    29768
53,71    23726
55,53    18157
57,36    13528
59,24    10014
61,19     7156
63,27     4718
65,51     2990
68        1697
70,86      834
74,35      348
78,99      124
86,48       23
98,9         2
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [154]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [155]:
c = 'PUNT_QUIMICA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '23,17', '29,92', '34,1', '37,23', '39,81', '42,03', '44,03',
       '45,87', '47,6', '49,26', '50,87', '52,46', '54,05', '55,66', '57,31',
       '59,03', '60,85', '62,83', '65,03', '67,58', '70,68', '74,83', '81,54'],
      dtype='object')
0          105
23,17      839
29,92     3796
34,1     11277
37,23    24003
39,81    39642
42,03    54153
44,03    60354
45,87    58112
47,6     49098
49,26    36908
50,87    24951
52,46    16177
54,05    10241
55,66     6492
57,31     4143
59,03     2720
60,85     1822
62,83     1176
65,03      757
67,58      460
70,68      243
74,83       85
81,54       15
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [156]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [157]:
c = 'PUNT_FISICA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '102,04', '16,58', '26,2', '32,15', '36,62', '40,3', '43,5',
       '46,37', '49,04', '51,55', '53,97', '56,34', '58,68', '61,03', '63,43',
       '65,89', '68,47', '71,22', '74,2', '77,52', '81,35', '86', '92,17'],
      dtype='object')
0           140
102,04        4
16,58      1360
26,2       6221
32,15     17310
36,62     35099
40,3      54593
43,5      67274
46,37     67962
49,04     56995
51,55     41343
53,97     26444
56,34     15106
58,68      8184
61,03      4423
63,43      2319
65,89      1294
68,47       689
71,22       390
74,2        209
77,52       101
81,35        60
86           33
92,17        16
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [158]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [159]:
c = 'NOMBRE_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['ALEMÃN', 'FRANCÃS', 'INGLÃS'], dtype='object')
ALEMÃN        222
FRANCÃS      1991
INGLÃS     405356
Name: NOMBRE_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [160]:
data_2006_2[c] = data_2006_2[c].replace('ALEMÃN', 'ALEMAN')
data_2006_2[c] = data_2006_2[c].replace('FRANCÃS', 'FRANCES')
data_2006_2[c] = data_2006_2[c].replace('INGLÃS', 'INGLES')

In [161]:
c = 'PUNT_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '12,9', '17,81', '20,62', '23,5', '25,29', '25,47', '29,17',
       '29,91', '30,94', '32,24', '33,38', '34,92', '35,54', '36,22', '37,34',
       '38,68', '38,97', '39,58', '40,9', '41,7', '41,79', '42,94', '43,74',
       '44,24', '44,86', '45,71', '46,43', '46,7', '47,66', '48,47', '48,49',
       '49,6', '50,26', '50,38', '51,56', '52,03', '52,23', '53,56', '53,82',
       '54,03', '55,64', '55,67', '55,82', '57,6', '57,63', '57,84', '59,47',
       '59,64', '60,2', '61,86', '62,81', '63,43', '64,33', '65,63', '65,79',
       '67,18', '68,07', '69,4', '70,65', '70,9', '74,16', '74,34', '75,28',
       '78,94', '81,77', '82,77', '94,27'],
      dtype='object')
0          215
12,9       409
17,81        6
20,62     1927
23,5         2
25,29       37
25,47     5660
29,17    12896
29,91      115
30,94        6
32,24    23208
33,38      208
34,92    34805
35,54       18
36,22      303
37,34    43530
38,68      320
38,97       19
39,58    47921
40,9       311
41,7     47467
41,79       30
42,94      235
43,74    42185
44,24       32
44,86      169
45,71    34676
46,43       26
46,7       108
47,66    27042
         ...
53,56    10739
53,82       13
54,03       11
55,64     8384
55,67       13
55,82        2
57,6        12
57,63        2
57,84     6627
59,47        1
59,64       11
60,2      5943
61,86        5
62,81     4966
63,43        9
64,33        6
65,63        6
65,79     4347
67,18        3
68,07        5
69,4      3454
70,65        5
70,9         1
74,16     2607
74,34        4
75,28        5
78,94        1
81,77     1488
82,77        3
94,27      451
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [162]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [163]:
c = 'DESEMP_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: DESEMP_IDIOMA, dtype: int64)
Elementos null/NaN 407569
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [164]:
data_2006_2 = data_2006_2.drop([c], axis=1)

In [165]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['PROFUNDIZACIÃN EN BIOLOGÃA', 'PROFUNDIZACIÃN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÃN EN LENGUAJE', 'PROFUNDIZACIÃN EN MATEMÃTICA'],
      dtype='object')
PROFUNDIZACIÃN EN BIOLOGÃA            124168
PROFUNDIZACIÃN EN CIENCIAS SOCIALES     68334
PROFUNDIZACIÃN EN LENGUAJE             156257
PROFUNDIZACIÃN EN MATEMÃTICA           58810
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [166]:
data_2006_2[c] = data_2006_2[c].replace('PROFUNDIZACIÃN EN BIOLOGÃA', 'BIOLOGIA')
data_2006_2[c] = data_2006_2[c].replace('PROFUNDIZACIÃN EN CIENCIAS SOCIALES', 'CIENCIAS SOCIALES')
data_2006_2[c] = data_2006_2[c].replace('PROFUNDIZACIÃN EN LENGUAJE', 'LENGUAJE')
data_2006_2[c] = data_2006_2[c].replace('PROFUNDIZACIÃN EN MATEMÃTICA', 'MATEMATICA')

In [167]:
c = 'PUNT_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['-1', '0', '1,4', '10', '2,4', '2,69', '2,85', '3,06', '3,23', '3,53',
       '3,59', '3,68', '4,01', '4,05', '4,07', '4,21', '4,46', '4,49', '4,52',
       '4,63', '4,85', '4,86', '4,92', '4,98', '5,19', '5,24', '5,27', '5,29',
       '5,5', '5,58', '5,59', '5,62', '5,81', '5,88', '5,89', '6,01', '6,13',
       '6,17', '6,19', '6,44', '6,46', '6,47', '6,51', '6,78', '6,83', '6,86',
       '6,93', '7,12', '7,26', '7,28', '7,51', '7,55', '7,81', '8,01', '8,49',
       '8,64', '8,65', '8,78'],
      dtype='object')
-1       2541
0        1877
1,4       625
10         58
2,4      1687
2,69     1175
2,85     4694
3,06     3120
3,23     2848
3,53     3359
3,59     4866
3,68    12430
4,01     7723
4,05     6368
4,07     6525
4,21    21901
4,46     8019
4,49     8895
4,52    14620
4,63    28842
4,85     9977
4,86     9605
4,92    19997
4,98    29771
5,19     8987
5,24     9940
5,27    21744
5,29    24550
5,5      7300
5,58    19369
5,59    16652
5,62     9222
5,81     5036
5,88    14724
5,89     9257
6,01     6936
6,13     3139
6,17    10442
6,19     4049
6,44     4395
6,46     1891
6,47     6138
6,51     1437
6,78     3235
6,83     1027
6,86      393
6,93     2036
7,12     1451
7,26      578
7,28       78
7,51      499
7,55      754
7,81      303
8,01      130
8,49      202
8,64        2
8,65      126
8,78       24
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [168]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))
        
data_2006_2[c] = data_2006_2[c].replace(-1, np.mean(data_2006_2[c]))

In [169]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1       2541
GB     190920
I      167870
II      43845
III      2393
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [170]:
data_2006_2[c] = data_2006_2[c].replace('-1', 'I')

In [171]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          219589
VIOLENCIA Y SOCIEDAD    187980
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [172]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['-1', '0', '16,07', '26,76', '33,84', '39,51', '44,42', '44,66',
       '47,31', '48,9', '49,02', '50,35', '51,5', '52,54', '53,14', '53,53',
       '54,5', '55,5', '56,55', '57,28', '57,7', '59,05', '60,78', '61,43',
       '63,45', '65,75', '67,75', '70,44', '75,81', '82,57', '92,9'],
      dtype='object')
-1         823
0         1136
16,07     3115
26,76    10104
33,84    21889
39,51    34190
44,42    39745
44,66     4233
47,31    12770
48,9     34887
49,02    25152
50,35    37073
51,5     41867
52,54    38133
53,14    23719
53,53    28134
54,5     17042
55,5      8550
56,55     3713
57,28    12553
57,7      1288
59,05      331
60,78       71
61,43     5073
63,45        4
65,75     1553
67,75        1
70,44      351
75,81       64
82,57        4
92,9         1
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

In [173]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))
        
data_2006_2[c] = data_2006_2[c].replace(-1, np.mean(data_2006_2[c]))

In [174]:
c = 'ESTU_PUESTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            957, 958, 959, 960, 961, 962, 963, 964, 965, 966],
           dtype='int64', length=966)
1      412
2      403
3      407
4      388
5      384
6      394
7      404
8      389
9      385
10     375
11     397
12     397
13     385
14     378
15     388
16     399
17     386
18     402
19     400
20     386
21     398
22     400
23     392
24     410
25     392
26     393
27     388
28     394
29     388
30     411
      ...
937    419
938    426
939    416
940    417
941    425
942    415
943    416
944    415
945    410
946    396
947    410
948    417
949    403
950    416
951    425
952    416
953    395
954    405
955    404
956    406
957    412
958    423
959    416
960    405
961    398
962    397
963    411
964    412
965    403
966    205
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 407569
__________________
(407569,)
None

Now i can transform the obtained DataFrames in csv files

In [175]:
#data_2006 = label_encoder(data_2006)
data_2006_2 = label_encoder(data_2006_2)

In [176]:
#data_2006.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2006_1.csv', sep = ';', index = False)
data_2006_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2006_2.csv', sep = ';', index = False)