### Indice Socio-Economico

In [1]:
import pandas as pd
%run ../tools/functions.py

Se uso la herramienta sed de linux para corregir algunos errores de digitacion encontrados en el archivo:

In [ ]:
#!sed -i 's/;;/;/g' ../DatosFTPICFES/SABER11/SB11-INDICE-SOCIOECONOMICO/SB11-2008-INSE-v1.0/SB11-INSE-2008.txt
#!sed -i 's/,/;/g' ../DatosFTPICFES/SABER11/SB11-INDICE-SOCIOECONOMICO/SB11-2008-INSE-v1.0/SB11-INSE-2008.txt

Problema, ultimo caracter es un ";" que no deberia existir... y hay un separador entre columnas "," cuando deberia ser ";"

In [227]:
INSE_2008 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-INDICE-SOCIOECONOMICO/SB11-2008-INSE-v1.0/SB11-INSE-2008.txt", delimiter = ";")

ParserError: Error tokenizing data. C error: Expected 4 fields in line 68898, saw 5

Se soluciona este problema de la siguiente manera:  

        -se leen las lineas del archivo
        -se revisa si el ultimo caracter es en <i>;</i>
        -si es afirmativa la anterior condicion, se elimina el caracter
        -se re-escribe el archivo con las nuevas lineas modificadas

In [238]:
#elimino las variables para estar seguro de que no se hayan creado en alguna ejecucion anterior
del texto
del lineas

NameError: name 'texto' is not defined

In [239]:
#abro el archivo con la funcion open
texto = open('../DatosFTPICFES/SABER11/SB11-INDICE-SOCIOECONOMICO/SB11-2008-INSE-v1.0/SB11-INSE-2008.txt')
#por medio de la funcion readlines() extraigo todas las lineas que contiene el archivo
#y las almaceno en una lista de pyhon
lineas = texto.readlines()
#cierro el archivo
texto.close()

In [240]:
#con un bucle recorro la lista de lineas que obtuve en el paso anterior y evaluo la condicion
for i in range(len(lineas)):    
    if lineas[i][-2] == ";":
        lineas[i] = lineas[i].rstrip(";\n")
        lineas[i] = lineas[i]+"\n" #como se elimina la expresion de salto de linea, la debo agregar de nuevo

In [242]:
#Abro el archivo en modo de escritura (lo que lo deja en blanco totalmente)
texto = open('../DatosFTPICFES/SABER11/SB11-INDICE-SOCIOECONOMICO/SB11-2008-INSE-v1.0/SB11-INSE-2008.txt', 'w')

In [243]:
#con un bucle recorro la nueva lista de lineas obtenida despues de eliminar los caracteres anteriormente
for i in lineas:
    texto.write(i) #escribo cada una de las lineas en el archivo
texto.close() #cierro el archivo para que se guarden los cambios

Ya esta listo el archivo y se lee con pandas

In [244]:
INSE_2008 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-INDICE-SOCIOECONOMICO/SB11-2008-INSE-v1.0/SB11-INSE-2008.txt", delimiter = ";")

In [245]:
INSE_2008.head()

   estu_consecutivo  periodo  INSE_082  INSE_081
0  SB11200810000753    20081      60.0      88.0
1  SB11200810000791    20081      36.0      91.0
2  SB11200810000920    20081      33.0       6.0
3  SB11200810000854    20081      24.0      20.0
4  SB11200810000924    20081      24.0      53.0