In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2006 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20061-RGSTRO-CLFCCN-V1-0.txt', delimiter='|',
                       encoding = "iso-8859-1")

In [3]:
data_2006.shape

(61335, 85)

In [4]:
data_2006.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB1120061000001,SB1120061000002,SB1120061000003
PERIODO,20061,20061,20061
ESTU_TIPO_DOCUMENTO,T,R,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,24,29,24
ESTU_NACIMIENTO_MES,4,12,10
ESTU_NACIMIENTO_ANNO,1989,1988,1987
ESTU_EDAD,16,17,18
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76823,76823,11001
ESTU_RESIDE_MCPIO,TORO,TORO,BOGOTÃ D.C.
ESTU_RESIDE_DEPTO,VALLE,VALLE,BOGOTÃ
ESTU_ZONA_RESIDE,10,10,1
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,76823,76823,44035
ESTU_MCPIO_PRESENTACION,TORO,TORO,ALBANIA
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,LA GUAJIRA
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006)
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2005,2005,2005
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,18861,18861,50724
COLE_COD_ICFES,18861,18861,50724
...,...,...,...
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,6
ESTU_TRABAJA,NaN,NaN,0
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,0,0,7
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,NaN,NaN,NaN
ESTU_IES_DESEADA_NOMBRE,NaN,NaN,NaN
ESTU_IES_COD_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_DEPT_DESEADA,NaN,NaN,NaN
ESTU_RAZONINSTITUTO,NaN,NaN,6
ESTU_CARRDESEADA_COD,NaN,NaN,NaN
ESTU_CARRDESEADA_RAZON,NaN,NaN,2
PUNT_LENGUAJE,"45,57","40,49","59,31"
PUNT_MATEMATICAS,"45,81","56,19","58,51"
PUNT_C_SOCIALES,"44,41","46,91","51,89"
PUNT_FILOSOFIA,"23,47","37,78","49,86"
PUNT_BIOLOGIA,"44,66","46,76","62,6"
PUNT_QUIMICA,"43,19","48,75","52,25"
PUNT_FISICA,"40,38","49,27","51,81"
NOMBRE_IDIOMA,INGLÃS,INGLÃS,INGLÃS
PUNT_IDIOMA,"41,03","34,2","85,62"
DESEMP_IDIOMA,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÃN EN BIOLOGÃA,PROFUNDIZACIÃN EN BIOLOGÃA,PROFUNDIZACIÃN EN LENGUAJE
PUNT_PROFUNDIZACION,"5,33","5,69","7,33"
DESEMP_PROFUNDIZACION,II,II,III
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"53,91","54,79","62,84"
ESTU_PUESTO,831,547,30

Deleting the columns that won't contribute to the work

In [5]:
data_2006 = data_2006.drop(['ESTU_CONSECUTIVO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO', 'ESTU_COD_MCPIO_PRESENTACION',
                            'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA', 'PERIODO'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AR', 'AT', 'BO', 'CA', 'CL', 'CN', 'CO', 'CU', 'DE', 'EC', 'ES', 'GT',
       'IR', 'JM', 'KP', 'PA', 'PE', 'RU', 'SA', 'US', 'VE'],
      dtype='object')
AR        3
AT        1
BO        1
CA        1
CL        1
CN        1
CO    61239
CU        1
DE        1
EC        5
ES        2
GT        2
IR        1
JM        1
KP        1
PA        1
PE        3
RU        1
SA        1
US       16
VE        1
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 51
__________________
Elementos diferentes de null/NaN: 61284
__________________
(61284,)
None

In [7]:
c = 'ESTU_GENERO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['F', 'M'], dtype='object')
F    33064
M    28248
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 23
__________________
Elementos diferentes de null/NaN: 61312
__________________
(61312,)
None

In [8]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2160
2.0     1967
3.0     1935
4.0     2040
5.0     2108
6.0     2030
7.0     1914
8.0     2019
9.0     2038
10.0    2225
11.0    1969
12.0    2041
13.0    1999
14.0    1908
15.0    2073
16.0    2035
17.0    2080
18.0    1931
19.0    1987
20.0    2155
21.0    1897
22.0    2012
23.0    1988
24.0    1997
25.0    2058
26.0    1988
27.0    2035
28.0    2087
29.0    1789
30.0    1719
31.0    1115
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [9]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     5115
2.0     4734
3.0     5237
4.0     5051
5.0     5072
6.0     4991
7.0     5073
8.0     5245
9.0     5345
10.0    5316
11.0    5010
12.0    5110
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [10]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1930.0, 1933.0, 1934.0, 1935.0, 1936.0, 1938.0, 1940.0, 1941.0,
              1942.0, 1944.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1997.0, 1998.0, 2000.0, 2001.0,
              2002.0, 2084.0, 2088.0, 2089.0],
             dtype='float64')
1930.0        2
1933.0        1
1934.0        3
1935.0        2
1936.0        1
1938.0        1
1940.0        2
1941.0        2
1942.0        1
1944.0        1
1946.0        1
1947.0        1
1948.0        1
1949.0        6
1950.0        2
1951.0        1
1952.0       10
1953.0        8
1954.0       12
1955.0       10
1956.0       11
1957.0       23
1958.0       16
1959.0       24
1960.0       26
1961.0       39
1962.0       33
1963.0       42
1964.0       33
1965.0       48
          ...
1974.0      103
1975.0      125
1976.0      143
1977.0      172
1978.0      163
1979.0      209
1980.0      245
1981.0      284
1982.0      359
1983.0      436
1984.0      667
1985.0     1195
1986.0     2885
1987.0     7112
1988.0    14525
1989.0    22950
1990.0     6850
1991.0      688
1992.0      299
1993.0      199
1994.0      571
1995.0        1
1997.0        2
1998.0        1
2000.0        8
2001.0        3
2002.0        3
2084.0        1
2088.0        1
2089.0        2
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [13]:
for i in data_2006['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if i > 1996:
        data_2006['ESTU_NACIMIENTO_ANNO'] = data_2006['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [12]:
c = 'ESTU_EDAD'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Int64Index([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
            28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
            45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 63,
            64, 65, 66, 67, 69, 70, 71, 72, 75],
           dtype='int64')
11      529
12      296
13      315
14      584
15     4627
16    22133
17    15883
18     8129
19     3296
20     1382
21      712
22      469
23      373
24      280
25      263
26      201
27      186
28      170
29      142
30      122
31      114
32       93
33      104
34       99
35       93
36      122
37       95
38       88
39       56
40       56
41       35
42       46
43       32
44       35
45       31
46       22
47       20
48       21
49       12
50       10
51       11
52        8
53       11
54        1
55        1
56        6
57        2
58        1
60        1
61        1
63        1
64        2
65        2
66        1
67        1
69        1
70        2
71        2
72        2
75        2
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [14]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [15]:
data_2006 = data_2006.drop(['ESTU_LIMITA_BAJAVISION'], axis = 1)

In [16]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [17]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDOCEGUERA'], axis = 1)

In [18]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [19]:
data_2006 = data_2006.drop(['ESTU_LIMITA_COGNITIVA'], axis = 1)

In [20]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [21]:
data_2006 = data_2006.drop(['ESTU_LIMITA_INVIDENTE'], axis = 1)

In [22]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [23]:
data_2006 = data_2006.drop(['ESTU_LIMITA_MOTRIZ'], axis = 1)

In [24]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [25]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis = 1)

In [26]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [27]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDONOINTERPRETE'], axis = 1)

In [28]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ABEJORRAL', 'ACACIAS', 'AGUA DE DIOS', 'AGUADAS', 'AGUAZUL',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA', 'ANCUYA',
       ...
       'YACUANQUER', 'YAGUARA', 'YALI', 'YARUMAL', 'YOLOMBO', 'YOPAL',
       'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=316)
ABEJORRAL                       6
ACACIAS                         1
AGUA DE DIOS                    1
AGUADAS                         1
AGUAZUL                         1
ALBAN (SAN JOSE)               71
ALBANIA                        24
ALCALA                        112
ALDANA                         50
ANCUYA                         54
ANDALUCIA                     207
ANDES                           2
ANSERMANUEVO                  116
APARTADO                        8
APIA                            1
AQUITANIA                       1
ARBELAEZ                        1
ARBOLEDA (BERRUECOS)           39
ARGELIA                        47
ARMENIA                       147
ARMERO (GUAYABAL)               1
ATRATO (YUTO)                   1
BALBOA                         14
BARANOA                         1
BARBACOAS                     116
BARRANCABERMEJA                 1
BARRANCAS                       1
BARRANQUILLA                  513
BELEN                          57
BELLO                          88
                             ...
TUMACO                       1129
TUNJA                          58
TUQUERRES                     391
TURBACO                         3
TUTA                            1
UBATE                          11
ULLOA                          55
VALENCIA                       18
VALLEDUPAR                     61
VENTAQUEMADA                    1
VERSALLES                      74
VIJES                          76
VILLA DE LEYVA                  1
VILLA DEL ROSARIO               1
VILLA GUAMEZ (LA HORMIGA)       2
VILLA RICA                      5
VILLAGARZON                    71
VILLAMARIA                      2
VILLAVICENCIO                 110
VILLETA                        10
YACUANQUER                     66
YAGUARA                        15
YALI                            3
YARUMAL                         1
YOLOMBO                        12
YOPAL                          52
YOTOCO                        106
YUMBO                         828
ZARZAL                        446
ZIPAQUIRA                      52
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 23
__________________
Elementos diferentes de null/NaN: 61312
__________________
(61312,)
None

In [29]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ANTIOQUIA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ', 'CALDAS',
       'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ', 'CUNDINAMARCA',
       'CÃRDOBA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SAN ANDRÃS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           1395
ATLÃNTICO           535
BOGOTÃ             4432
BOLÃVAR             170
BOYACÃ              219
CALDAS               157
CAQUETÃ              15
CASANARE              68
CAUCA               1016
CESAR                 62
CHOCÃ                 2
CUNDINAMARCA         630
CÃRDOBA              54
GUAVIARE               1
HUILA                197
LA GUAJIRA            36
MAGDALENA             37
META                 121
NARIÃO            12304
NORTE SANTANDER      130
PUTUMAYO              86
QUINDÃO             180
RISARALDA            235
SAN ANDRÃS            1
SANTANDER            379
SUCRE                 18
TOLIMA               179
VALLE              38652
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 24
__________________
Elementos diferentes de null/NaN: 61311
__________________
(61311,)
None

In [30]:
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOGOTÃ', 'BOGOTA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CHOCÃ', 'CHOCO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('QUINDÃO', 'QUINDIO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('SAN ANDRÃS', 'SAN ANDRES')

In [31]:
c = 'ESTU_ZONA_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      6457
2.0      2812
3.0       943
4.0      5737
5.0      1465
6.0      2313
7.0      3622
8.0      1157
9.0      1445
10.0    35358
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 26
__________________
Elementos diferentes de null/NaN: 61309
__________________
(61309,)
None

In [32]:
c = 'ESTU_AREA_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0], dtype='float64')
1.0    466
2.0    126
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 60743
__________________
Elementos diferentes de null/NaN: 592
__________________
(592,)
None

In [33]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO', 'APARTADO', 'ARMENIA',
       'BARBACOAS', 'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO',
       ...
       'TUMACO', 'TUNJA', 'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=102)
ALBANIA                      30
ALCALA                      168
ANDALUCIA                   208
ANSERMANUEVO                118
APARTADO                     11
ARMENIA                     169
BARBACOAS                   163
BARRANCABERMEJA               1
BARRANQUILLA                543
BELLO                        89
BOGOTÃ D.C.               4301
BOLIVAR                      35
BUCARAMANGA                 348
BUENAVENTURA               2308
BUESACO                     209
BUGA                       1600
BUGALAGRANDE                200
CAICEDONIA                  283
CALI                      19610
CALIMA (DARIEN)             149
CANDELARIA                  712
CARTAGENA                   179
CARTAGO                    1598
CHAPARRAL                    36
CHIA                        176
CONSACA                      69
CUCUTA                      121
CUMBAL                      265
DAGUA                       233
EL CERRITO                  696
                          ...
RIONEGRO                     53
ROLDANILLO                  530
SAMANIEGO                   256
SAN GIL                       8
SAN PABLO                   169
SANDONA                     281
SANTA MARTA                  36
SANTA ROSA DE OSOS           40
SANTANDER DE QUILICHAO       76
SEVILLA                     345
SINCELEJO                    18
SOACHA                      184
SOGAMOSO                     70
TAMINANGO                   136
TANGUA                       48
TIMBIO                        1
TIMBIQUI                     42
TORO                        159
TRUJILLO                    150
TULUA                      2423
TUMACO                     1155
TUNJA                       151
TUQUERRES                   495
UBATE                        35
VALLEDUPAR                   70
VILLAVICENCIO               122
YOPAL                        69
YUMBO                      1012
ZARZAL                      465
ZIPAQUIRA                    80
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [34]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ANTIOQUIA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ', 'CALDAS',
       'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CUNDINAMARCA', 'CÃRDOBA',
       'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           1373
ATLÃNTICO           543
BOGOTÃ             4301
BOLÃVAR             179
BOYACÃ              221
CALDAS               168
CAQUETÃ              15
CASANARE              69
CAUCA                972
CESAR                 70
CUNDINAMARCA         588
CÃRDOBA              53
HUILA                195
LA GUAJIRA            40
MAGDALENA             36
META                 122
NARIÃO            12476
NORTE SANTANDER      127
PUTUMAYO              78
QUINDÃO             169
RISARALDA            219
SANTANDER            380
SUCRE                 18
TOLIMA               158
VALLE              38765
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [35]:
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOGOTÃ', 'BOGOTA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('QUINDÃO', 'QUINDIO')

In [36]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['EXAMEN DE ESTADO  (2006)'], dtype='object')
EXAMEN DE ESTADO  (2006)    61335
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [37]:
data_2006 = data_2006.drop(['ESTU_EXAM_NOMBREEXAMEN'], axis = 1)

In [38]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     5696
1.0    55634
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 61330
__________________
(61330,)
None

In [39]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1973.0, 1986.0, 1989.0, 1993.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0,
              2008.0, 2009.0, 2010.0, 2011.0, 9999.0],
             dtype='float64')
1973.0        1
1986.0        2
1989.0        1
1993.0        3
1996.0        4
1997.0        2
1998.0        1
1999.0        3
2000.0        5
2001.0        4
2002.0       12
2003.0        7
2004.0        9
2005.0     2251
2006.0    55638
2007.0      239
2008.0       18
2009.0       10
2010.0        2
2011.0        1
9999.0        1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 3121
__________________
Elementos diferentes de null/NaN: 58214
__________________
(58214,)
None

In [40]:
for i in data_2006[c].value_counts().sort_index().index:
    if i > 2009:
        data_2006['IND_ANNO_TERMINO_BACHILLERATO'] = data_2006['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [41]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0], dtype='float64')
1.0    116
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 61219
__________________
Elementos diferentes de null/NaN: 116
__________________
(116,)
None

In [42]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([     3.0,     59.0,    182.0,    240.0,    265.0,   3046.0,
                3327.0,   3418.0,   3459.0,   3525.0,
              ...
              164194.0, 164483.0, 166280.0, 168294.0, 168393.0, 170456.0,
              172908.0, 173302.0, 175208.0, 999999.0],
             dtype='float64', length=1649)
3.0          35
59.0          1
182.0        68
240.0         2
265.0        87
3046.0       70
3327.0       15
3418.0       40
3459.0       97
3525.0       91
4234.0       36
6775.0       11
7013.0       48
7070.0      114
7088.0       53
7344.0        1
7542.0        1
8995.0        1
9110.0       66
9589.0       36
10058.0       1
10066.0       2
10280.0       1
10660.0       1
11213.0     192
11221.0       2
11239.0      68
11247.0       1
11254.0      25
11262.0      46
           ...
130294.0      1
130419.0      1
130427.0      3
135434.0      2
136093.0      1
136879.0      1
136994.0      1
139402.0      1
139444.0      1
143032.0      2
143826.0      1
144048.0      1
145441.0      1
150409.0      1
150474.0      1
150953.0      1
154963.0      1
160440.0      1
162099.0      1
162958.0      1
164194.0      1
164483.0      1
166280.0      1
168294.0      1
168393.0      1
170456.0      1
172908.0      1
173302.0      1
175208.0      1
999999.0    232
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 345
__________________
Elementos diferentes de null/NaN: 60990
__________________
(60990,)
None

In [43]:
c = 'COLE_COD_ICFES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Int64Index([   182,    265,   3046,   3327,   3418,   3459,   3525,   4234,
              6775,   7013,
            ...
            124834, 124867, 124875, 124990, 125021, 125047, 125054, 125104,
            125112, 125138],
           dtype='int64', length=1502)
182        68
265        90
3046       70
3327       15
3418       40
3459       97
3525       91
4234       36
6775       11
7013       51
7070      118
7088       54
9589       36
11213     208
11239      70
11254      26
11262      48
11270     151
11288     113
11296     285
11312     142
11320     143
11338     509
11379      40
11395      43
11403      75
11411     136
11429      94
11437      91
11445     123
         ...
124487     13
124495      1
124503      7
124511      8
124537     10
124545     80
124552     10
124560     64
124578     17
124602      9
124628     11
124636     97
124644      6
124651      9
124677      5
124693      7
124701      8
124735     18
124750     56
124818     27
124834      8
124867     54
124875     17
124990     18
125021     26
125047     42
125054      9
125104     59
125112     35
125138     20
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [44]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['            ', '010500103391', '051100116867', '105001000566',
       '105001003395', '105001003425', '105042000732', '105361000443',
       '105387000077', '108001003289',
       ...
       '519698000003', '525899000016', '537610908071', '576001091472',
       '576622134546', '625214000001', '625269000075', '625286000041',
       '625843000124', '841551000001'],
      dtype='object', length=1327)
                673
010500103391     26
051100116867     25
105001000566     15
105001003395     17
105001003425      6
105042000732     16
105361000443     29
105387000077      5
108001003289     14
111001010251      9
111001011029     14
111001034134     18
111001092410     46
111001102148     18
111848003031     28
115759001887     31
117433000859     10
117616000696     11
125175000299     32
125754002147     18
125899000657     36
141885000013     19
150226000013      9
152001000599    285
152001000661    169
152001000769    248
152001000777    471
152001000785    509
152001000793     91
               ...
476001006333     19
476001020719     14
476001038251    100
476126000418      8
476130000571     54
476130000813      7
476130000902     15
476130000961      4
476130001186     20
476248000478     72
476248000648     10
476248000877      4
476248032012     31
476520003813     16
476520006324      7
476892001183     11
476892099710     21
476892099728     11
476895000382     33
519001000002     23
519698000003      8
525899000016      8
537610908071     21
576001091472      6
576622134546     14
625214000001     20
625269000075     14
625286000041     33
625843000124      3
841551000001     25
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [45]:
data_2006['COLE_COD_DANE_INSTITUCION'] = data_2006['COLE_COD_DANE_INSTITUCION'].replace('            ', np.nan)
for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006['COLE_COD_DANE_INSTITUCION'] = data_2006['COLE_COD_DANE_INSTITUCION'].replace(i, float(i))

In [46]:
c = 'COLE_NOMBRE_SEDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index([' COL FUND STA ISABEL DE HUNGRIA', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' FUND COL PAR SAN PEDRO CLAVER',
       '07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM',
       '20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO',
       '28/01 INSTITUCIÃN EDUCATIVA SANTA FE',
       '32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI',
       '38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO',
       '39/01 INSTITUCION EDUCATIVA BOYACA',
       '41/01 INSTITUCION EDUCATIVA VILLA DEL SUR',
       ...
       'SUSANA LOPEZ DE VALENCIA', 'TABLONES',
       'TECNOLÃGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB',
       'TERESA CALDERÃN DE LASSO',
       'TÃCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL',
       'UNIDAD TECNOLOGICA DEL SUR',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA', 'VERNOT SCHOOL',
       'XINSTITUTO TECNICO COMERCIAL PILOTO'],
      dtype='object', length=1359)
 COL FUND STA ISABEL DE HUNGRIA                                       842
 ESCUELA URBANA JOSE ANTONIO GALAN                                     25
 FUND COL PAR SAN PEDRO CLAVER                                         65
07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM                         581
20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO                           70
28/01 INSTITUCIÃN EDUCATIVA SANTA FE                                 106
32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI          168
38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO                   111
39/01 INSTITUCION EDUCATIVA BOYACA                                     79
41/01 INSTITUCION EDUCATIVA VILLA DEL SUR                             147
44/01 INSTITUCIÃN EDUCATIVA COMERCIAL CIUDAD DE CALI                 249
58/01 INSTITUCION EDUCATIVA GABRIELA MISTRAL                           97
69/01 INSTITUCION EDUCATIVA LA ESPERANZA                               33
74/01 INSTITUCION EDUCATIVA JUANA DE CAICEDO Y CUERO                   26
80/01 INSTITUCIÃN EDUCATIVA PANCE                                     11
81/02 INSTITUCION EDUCATIVA LA BUITRERA JOSE MARIA GARCIA DE TOLED     15
84/04  JOSE HOLGUIN GARCES                                             13
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                 14
ABSALON TORRES CAMACHO                                                102
ACADE MILIT JOAQUÃN DE CAICEDO Y CUERO                                24
ACADEMIA ACADEMIA SAM                                                   9
ACADEMIA COLOMBIANA DE ENSEÃANZA                                      23
ACADEMIA COMERCIAL REAL                                                15
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                              14
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                             16
ACADEMIA MILITAR GENERAL JOSÃ MARÃA CABAL                            36
AGRICOLA CAMPOALEGRE                                                   38
AGRICOLA PRESBITERO HORACIO GOMEZ GALLO                                30
ALAIN VALENCIA                                                          4
ALFONSO LOPEZ PUMAREJO                                                232
                                                                     ...
SEDE PRINCIPAL  TRES ESQUINAS                                          30
SEDE PRINCIPAL AGUACLARA                                               39
SEDE PRINCIPAL CONCENTRACIÃN DE DESARROLLO RURAL                      50
SEDE PRINCIPAL GIMNASIO DEL PACIFICO CENTRAL                          355
SEDE PRINCIPAL INSTITUTO JULIA RESTREPO                               176
SEDE PRINCIPAL INSTITUTO TEC.  INDUSTRIAL C.S.L.                      169
SEDE PRINCIPAL LA GRACIELA                                             96
SEDE PRINCIPAL LICEO MODERNO                                          174
SEDE PRINCIPAL NO. 7 MARIA ANTONIA RUIZ                                52
SEDE PRINCIPAL UNIDAD DOCENTE JOVITA SANTA COLOMA                      59
SEM DE CRISTO SACERDOTE                                                36
SEMILLA DE LA ESPERANZA                                                10
SEMINARIO MENOR ARQUIDIOCESANO                                         55
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                               55
SEVILLA                                                               164
SIMON BOLIVAR                                                         158
SIMON RODRIGUEZ                                                        14
SIXTO MARIA ROJAS                                                      39
SOC ESCUELA KARL C PARRISH                                             40
SOR MARIA JULIANA                                                      89
SUSANA LOPEZ DE VALENCIA                                               32
TABLONES                                                               27
TECNOLÃGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB         26
TERESA CALDERÃN DE LASSO                                              27
TÃCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL            181
UNIDAD TECNOLOGICA DEL SUR                                             27
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                   4
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                              8
VERNOT SCHOOL                                                           8
XINSTITUTO TECNICO COMERCIAL PILOTO                                     5
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [47]:
data_2006 = data_2006.drop(['COLE_NOMBRE_SEDE'], axis = 1)

In [48]:
c = 'COLE_CALENDARIO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['A', 'B', 'F'], dtype='object')
A    39078
B    12717
F     9540
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [49]:
c = 'COLE_GENERO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4289
M     1107
X    55939
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [50]:
c = 'COLE_NATURALEZA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['N', 'O'], dtype='object')
N    25071
O    36264
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [51]:
c = 'COLE_BILINGUE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    55867
1.0     4032
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 1436
__________________
Elementos diferentes de null/NaN: 59899
__________________
(59899,)
None

In [52]:
c = 'COLE_JORNADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['COMPLETA U ORDINARIA', 'MAÃANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     9572
MAÃANA                 38309
NOCHE                    4447
SABATINA - DOMINICAL     1816
TARDE                    7191
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [53]:
data_2006['COLE_JORNADA'] = data_2006['COLE_JORNADA'].replace('MAÃANA', 'MAÑANA')

In [54]:
c = 'COLE_CARACTER'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              29847
ACADEMICO Y TECNICO    11777
NORMALISTA              1301
TECNICO                18410
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [55]:
c = 'ESTU_ETNIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1.0     2932
2.0       21
3.0      101
4.0        3
5.0        2
6.0        5
7.0        5
8.0       13
9.0       12
10.0       3
11.0     772
12.0       2
13.0      19
14.0       1
15.0       1
16.0       4
99.0    1541
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 55898
__________________
Elementos diferentes de null/NaN: 5437
__________________
(5437,)
None

In [56]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     1
1.0    84
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 61250
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [57]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     3
1.0    82
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 61250
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [58]:
c = 'FAMI_EDUCA_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      80
1.0       4
2.0       9
3.0      21
4.0      32
5.0       7
6.0      12
7.0       4
8.0       3
9.0     299
10.0    218
11.0    163
12.0    270
13.0     26
14.0     82
15.0     51
16.0    448
17.0    316
99.0     14
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 59276
__________________
Elementos diferentes de null/NaN: 2059
__________________
(2059,)
None

In [59]:
c = 'FAMI_EDUCA_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      50
2.0       9
3.0      19
4.0      37
5.0       9
6.0       7
7.0      11
8.0       1
9.0     301
10.0    223
11.0    182
12.0    302
13.0     34
14.0    108
15.0     84
16.0    453
17.0    213
99.0     17
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 59275
__________________
Elementos diferentes de null/NaN: 2060
__________________
(2060,)
None

In [60]:
c = 'FAMI_OCUPA_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0, 99.0],
             dtype='float64')
1.0       1
2.0       1
3.0       5
4.0       6
5.0      15
6.0      17
7.0       5
8.0      11
9.0      13
10.0      1
11.0      2
12.0     11
13.0    207
14.0    220
15.0    143
16.0     96
17.0     91
18.0     51
19.0    195
20.0    173
21.0    374
22.0     29
23.0    166
26.0    213
99.0      7
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 59282
__________________
Elementos diferentes de null/NaN: 2053
__________________
(2053,)
None

In [61]:
c = 'FAMI_OCUPA_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              26.0, 99.0],
             dtype='float64')
2.0       2
3.0       1
4.0      11
5.0       6
6.0       8
7.0       3
8.0       4
9.0       3
10.0     49
11.0      1
12.0      5
13.0     78
14.0    119
15.0     86
16.0    110
17.0     96
18.0     54
19.0     98
20.0    117
21.0    207
22.0    750
23.0     95
26.0    154
99.0      1
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 59277
__________________
Elementos diferentes de null/NaN: 2058
__________________
(2058,)
None

In [62]:
c = 'FAMI_NUM_HERMANOS'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0], dtype='float64')
0.0      7
1.0     29
2.0     23
3.0     19
4.0      6
5.0      2
6.0      1
7.0      3
8.0      1
10.0     1
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 61243
__________________
Elementos diferentes de null/NaN: 92
__________________
(92,)
None

In [63]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1.0      6
2.0      8
3.0     15
4.0     69
5.0     10
6.0     31
7.0     21
8.0     55
9.0     19
88.0    96
99.0     9
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 60996
__________________
Elementos diferentes de null/NaN: 339
__________________
(339,)
None

# <span style = 'color: red'> REVISAR </span>

In [64]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1.0     43
2.0      4
88.0    38
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 61250
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [65]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1.0    359
2.0    444
3.0    369
4.0    295
5.0    272
6.0    330
8.0      3
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 59263
__________________
Elementos diferentes de null/NaN: 2072
__________________
(2072,)
None

In [66]:
data_2006['FAMI_ESTRATO_VIVIENDA'] = data_2006['FAMI_ESTRATO_VIVIENDA'].replace(8.0, np.nan)

In [67]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     451
2.0     257
3.0      69
4.0      24
5.0    1191
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 59343
__________________
Elementos diferentes de null/NaN: 1992
__________________
(1992,)
None

In [68]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      68
2.0     224
3.0     440
4.0     585
5.0     367
6.0     153
7.0      68
8.0      32
9.0      12
10.0     20
11.0      7
12.0     14
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 59345
__________________
Elementos diferentes de null/NaN: 1990
__________________
(1990,)
None

In [69]:
c = 'FAMI_PISOSHOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     41
2.0    396
3.0    115
4.0    834
5.0    606
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 59343
__________________
Elementos diferentes de null/NaN: 1992
__________________
(1992,)
None

In [70]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0       9
2.0      39
3.0      96
4.0     100
5.0      76
6.0      39
7.0      27
8.0      10
9.0       2
10.0      5
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 60932
__________________
Elementos diferentes de null/NaN: 403
__________________
(403,)
None

In [71]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0     136
2.0     518
3.0     807
4.0     367
5.0     100
6.0      24
7.0      10
8.0       3
9.0       3
10.0      3
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 59364
__________________
Elementos diferentes de null/NaN: 1971
__________________
(1971,)
None

In [72]:
c = 'FAMI_COMPUTADOR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 3.0, 4.0], dtype='float64')
0.0     422
1.0      16
3.0    1551
4.0       3
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 59343
__________________
Elementos diferentes de null/NaN: 1992
__________________
(1992,)
None

In [73]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0    253
2.0    572
3.0    303
4.0    225
5.0    148
6.0    144
7.0    347
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 59343
__________________
Elementos diferentes de null/NaN: 1992
__________________
(1992,)
None

In [74]:
c = 'ESTU_TRABAJA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    993
1.0     17
2.0      3
3.0    316
4.0    159
5.0    304
6.0      4
7.0      3
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 59536
__________________
Elementos diferentes de null/NaN: 1799
__________________
(1799,)
None

In [75]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0.0       1
1.0       1
2.0       3
3.0       6
4.0      22
5.0      18
6.0      19
7.0       4
8.0      63
9.0       8
10.0     39
11.0      3
12.0     14
13.0      2
14.0      8
15.0     11
16.0     13
17.0      2
18.0     22
19.0     10
20.0    514
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 60552
__________________
Elementos diferentes de null/NaN: 783
__________________
(783,)
None

In [76]:
c = 'COLE_VALOR_PENSION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 11.0], dtype='float64')
0.0     30110
1.0      9177
2.0      4981
3.0      3684
4.0      2970
5.0      2970
6.0      2511
7.0      4901
8.0        10
11.0        1
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 20
__________________
Elementos diferentes de null/NaN: 61315
__________________
(61315,)
None

In [77]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1.0    1
2.0    2
3.0    1
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 61331
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [78]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([18.0, 23.0, 45.0, 58.0], dtype='float64')
18.0    1
23.0    1
45.0    1
58.0    1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 61331
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [79]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1109.0, 1110.0,
              ...
              9103.0, 9104.0, 9105.0, 9107.0, 9110.0, 9111.0, 9112.0, 9113.0,
              9114.0, 9115.0],
             dtype='float64', length=298)
1101.0     1523
1102.0      101
1103.0       93
1104.0      429
1105.0       59
1106.0       57
1107.0        7
1108.0       14
1109.0        1
1110.0     1083
1111.0      375
1112.0      180
1113.0       38
1114.0       47
1115.0        4
1117.0       30
1118.0        1
1119.0       21
1120.0        3
1121.0        7
1122.0      109
1123.0        2
1124.0        2
1125.0        1
1201.0      499
1202.0       15
1203.0    14762
1204.0       70
1205.0       27
1206.0     4827
          ...
4812.0        8
4813.0       16
4814.0       30
4817.0       12
4818.0        6
4822.0        5
4823.0        5
4825.0        6
4826.0        6
4827.0        3
4828.0       24
4829.0        3
4832.0        3
4835.0       11
4837.0        2
4838.0        9
5801.0        2
5802.0       10
9101.0      117
9102.0       15
9103.0      187
9104.0      141
9105.0       39
9107.0        8
9110.0      162
9111.0      603
9112.0       32
9113.0        1
9114.0       18
9115.0      117
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 25117
__________________
Elementos diferentes de null/NaN: 36218
__________________
(36218,)
None

In [80]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AGUACHICA', 'ANDES', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA',
       'BARRANQUILLA', 'BELLO', 'BOGOTÃ D.C.', 'BUCARAMANGA', 'BUENAVENTURA',
       'BUGA', 'CALDAS', 'CALI', 'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO',
       'CAUCASIA', 'CHIA', 'CHIQUINQUIRA', 'CUCUTA', 'DUITAMA', 'ENVIGADO',
       'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE',
       'LETICIA', 'MADRID', 'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA',
       'MOSQUERA', 'NEIVA', 'NILO', 'OCAÃA', 'PALMIRA', 'PAMPLONA', 'PASTO',
       'PENSILVANIA', 'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÃ DE ANTIOQUIA', 'SEVILLA', 'SINCELEJO',
       'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TOLU', 'TULUA', 'TUNJA', 'TURBO',
       'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                    2
ANDES                        2
ARAUCA                       2
ARMENIA                    265
BARRANCABERMEJA              4
BARRANQUILLA               243
BELLO                        3
BOGOTÃ D.C.              5977
BUCARAMANGA                147
BUENAVENTURA               109
BUGA                       146
CALDAS                       5
CALI                     18886
CARMEN DE VIBORAL            7
CARTAGENA                  113
CARTAGO                     47
CAUCASIA                     1
CHIA                       105
CHIQUINQUIRA                 1
CUCUTA                      41
DUITAMA                      7
ENVIGADO                     2
FACATATIVA                   2
FLORENCIA                    4
FUSAGASUGA                   9
GIRARDOT                     8
HONDA                        4
IBAGUE                      47
LETICIA                      1
MADRID                      15
                         ...
PASTO                     5173
PENSILVANIA                 22
PEREIRA                    521
POPAYAN                   1141
PUERTO BERRIO                3
QUIBDO                       1
RIOHACHA                     1
RIONEGRO                    30
ROLDANILLO                  25
SABANETA                     2
SAN ANDRES                   1
SAN GIL                      1
SAN JUAN DEL CESAR           1
SANTA MARTA                 11
SANTA ROSA DE CABAL          8
SANTA ROSA DE OSOS          22
SANTAFÃ DE ANTIOQUIA        3
SEVILLA                      4
SINCELEJO                    5
SOCORRO                      2
SOGAMOSO                    14
SOLEDAD                      2
TOLU                         6
TULUA                      704
TUNJA                       72
TURBO                        3
UBATE                        8
VALLEDUPAR                   3
VILLAVICENCIO               21
YOPAL                        7
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 25117
__________________
Elementos diferentes de null/NaN: 36218
__________________
(36218,)
None

In [81]:
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('OCAÃA', 'OCAÑA')
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('SANTAFÃ DE ANTIOQUIA', 'SANTAFE DE ANTIOQUIA')

In [82]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SAN ANDRÃS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           1185
ARAUCA                 2
ATLÃNTICO           245
BOGOTÃ             5977
BOLÃVAR             113
BOYACÃ               94
CALDAS               477
CAQUETÃ               4
CASANARE               7
CAUCA               1141
CESAR                  5
CHOCÃ                 1
CUNDINAMARCA         227
CÃRDOBA              42
HUILA                 64
LA GUAJIRA             2
MAGDALENA             11
META                  21
NARIÃO             5173
NORTE SANTANDER       57
PUTUMAYO               1
QUINDÃO             265
RISARALDA            529
SAN ANDRÃS            1
SANTANDER            154
SUCRE                 11
TOLIMA                51
VALLE              20357
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 25117
__________________
Elementos diferentes de null/NaN: 36218
__________________
(36218,)
None

In [83]:
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CHOCÃ', 'CHOCO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('QUINDÃO', 'QUINDIO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('SAN ANDRÃS', 'SAN ANDRES')

In [84]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1316
2.0     6976
3.0    22987
4.0     4766
5.0     3449
6.0     2146
7.0     2556
8.0     2575
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 14564
__________________
Elementos diferentes de null/NaN: 46771
__________________
(46771,)
None

In [85]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([    5.0,    23.0,    36.0,    63.0,    68.0,    87.0,   102.0,
                103.0,   105.0,   107.0,
              ...
              21807.0, 21809.0, 21810.0, 21889.0, 22046.0, 22050.0, 22581.0,
              22967.0, 24642.0, 24643.0],
             dtype='float64', length=2387)
5.0          7
23.0         1
36.0         1
63.0         1
68.0        13
87.0         1
102.0        3
103.0        2
105.0        7
107.0        1
108.0        1
109.0        7
111.0        1
116.0       55
117.0        2
119.0        1
120.0        1
125.0        1
128.0        3
129.0        9
130.0        3
131.0        7
133.0        1
142.0        2
151.0        3
152.0       16
160.0        2
165.0        1
168.0        1
169.0        1
          ...
20142.0      1
20143.0    939
20144.0     12
20146.0    110
20177.0     10
20184.0      2
20228.0      2
20233.0      2
20247.0      1
20257.0      8
20266.0      1
20267.0      5
20277.0      2
20282.0      2
21463.0     22
21480.0      1
21577.0      1
21794.0      1
21805.0      1
21806.0      1
21807.0      1
21809.0      2
21810.0      1
21889.0      1
22046.0      1
22050.0      1
22581.0      1
22967.0      1
24642.0      1
24643.0      1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 26101
__________________
Elementos diferentes de null/NaN: 35234
__________________
(35234,)
None

In [86]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    14658
2.0    16006
3.0     7605
4.0     4331
5.0     3207
6.0     1125
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 14403
__________________
Elementos diferentes de null/NaN: 46932
__________________
(46932,)
None

### TARGETS

In [87]:
c = 'PUNT_LENGUAJE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '17,3', '25,35', '30,45', '34,35', '37,61', '40,49', '43,11',
       '45,57', '47,92', '50,2', '52,45', '54,69', '56,97', '59,31', '61,76',
       '64,37', '67,23', '70,47', '74,34', '79,39', '87,38'],
      dtype='object')
0           5
17,3       70
25,35     373
30,45     995
34,35    2215
37,61    3844
40,49    5458
43,11    6703
45,57    7360
47,92    7450
50,2     6814
52,45    5907
54,69    4614
56,97    3495
59,31    2480
61,76    1534
64,37    1007
67,23     563
70,47     278
74,34     103
79,39      55
87,38      12
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [89]:
c = 'PUNT_LENGUAJE'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [91]:
c = 'PUNT_MATEMATICAS'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '102,25', '107,84', '18,97', '28,53', '34,47', '38,94', '42,62',
       '45,81', '48,68', '51,32', '53,81', '56,19', '58,51', '60,8', '63,08',
       '65,39', '67,77', '70,24', '72,86', '75,7', '78,85', '82,49', '86,9',
       '92,78'],
      dtype='object')
0           28
102,25      80
107,84      21
18,97      189
28,53      721
34,47     2014
38,94     4087
42,62     6508
45,81     8189
48,68     8557
51,32     8068
53,81     6444
56,19     4817
58,51     3271
60,8      2404
63,08     1622
65,39     1079
67,77      863
70,24      615
72,86      527
75,7       413
78,85      286
82,49      238
86,9       180
92,78      114
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [92]:
c = 'PUNT_MATEMATICAS'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [93]:
c = 'PUNT_C_SOCIALES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '21,2', '26,95', '30,5', '33,14', '35,3', '37,17', '38,83',
       '40,35', '41,77', '43,12', '44,41', '45,67', '46,91', '48,14', '49,37',
       '50,62', '51,89', '53,2', '54,56', '56,01', '57,55', '59,24', '61,14',
       '63,33'],
      dtype='object')
0           8
21,2       36
26,95     199
30,5      574
33,14    1189
35,3     2269
37,17    3530
38,83    4794
40,35    5801
41,77    6198
43,12    6392
44,41    6153
45,67    5701
46,91    4854
48,14    3936
49,37    3141
50,62    2408
51,89    1649
53,2     1127
54,56     722
56,01     402
57,55     163
59,24      66
61,14      22
63,33       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [94]:
c = 'PUNT_C_SOCIALES'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [95]:
c = 'PUNT_FILOSOFIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '104,43', '17,55', '23,47', '27,96', '31,67', '34,89', '37,78',
       '40,43', '42,93', '45,3', '47,6', '49,86', '52,11', '54,37', '56,68',
       '59,08', '61,61', '64,34', '67,36', '70,84', '75,05', '8,17', '80,64',
       '89,62'],
      dtype='object')
0           37
104,43       1
17,55       83
23,47      375
27,96     1046
31,67     2425
34,89     4067
37,78     5821
40,43     6401
42,93     7760
45,3      7493
47,6      6687
49,86     5484
52,11     4354
54,37     3457
56,68     2368
59,08     1596
61,61      992
64,34      493
67,36      235
70,84      108
75,05       33
8,17        10
80,64        7
89,62        2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [96]:
c = 'PUNT_FILOSOFIA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [97]:
c = 'PUNT_BIOLOGIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '12,65', '20,53', '21,91', '25,44', '25,53', '26,43', '26,96',
       '27,63', '29,36', '30,33', '30,39', '30,82', '31,38', '31,91', '32,56',
       '32,97', '33,6', '34,05', '34,2', '34,51', '35,2', '35,36', '35,66',
       '36,11', '36,47', '36,88', '37,26', '37,39', '37,9', '38,88', '39,08',
       '39,45', '39,77', '40,21', '40,26', '41,05', '41,4', '41,51', '41,84',
       '42,11', '42,5', '42,8', '43,46', '43,82', '44,12', '44,34', '44,66',
       '45,23', '46,04', '46,05', '46,31', '46,51', '46,76', '47,57', '48,23',
       '48,47', '48,63', '48,84', '49,86', '50,4', '50,43', '50,61', '50,75',
       '50,92', '52,14', '52,59', '52,77', '52,89', '53,04', '54,45', '54,69',
       '54,99', '55,22', '56,83', '57,19', '57,3', '57,39', '57,49', '59,36',
       '59,63', '59,76', '59,93', '62,11', '62,34', '62,38', '62,45', '62,52',
       '62,6', '65,21', '65,51', '65,64', '68,91', '68,97', '69,08', '69,28',
       '73,74', '74,07', '81,7', '94,21'],
      dtype='object')
0           4
12,65      23
20,53      88
21,91       1
25,44       1
25,53     389
26,43       4
26,96       1
27,63       2
29,36     927
30,33       4
30,39       2
30,82      12
31,38       3
31,91       1
32,56    1856
32,97       1
33,6        6
34,05      27
34,2        8
34,51       4
35,2        1
35,36    3196
35,66       2
36,11       1
36,47      10
36,88      29
37,26       7
37,39      21
37,9     4596
         ...
54,45      27
54,69       1
54,99       8
55,22    3064
56,83      22
57,19       1
57,3        6
57,39       1
57,49    2259
59,36      22
59,63       1
59,76       1
59,93    1710
62,11      14
62,34       2
62,38       1
62,45       5
62,52       1
62,6     1195
65,21      14
65,51       1
65,64     760
68,91       6
68,97       1
69,08       1
69,28     414
73,74       3
74,07     144
81,7       15
94,21       3
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [98]:
c = 'PUNT_BIOLOGIA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [99]:
c = 'PUNT_QUIMICA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '18,77', '19,01', '21,4', '25,8', '27,53', '28,5', '30,25',
       '30,48', '30,58',
       ...
       '62,13', '63,38', '64,08', '64,98', '66,27', '66,76', '68,37', '69,99',
       '74,27', '81,11'],
      dtype='object', length=116)
0           4
18,77      32
19,01       1
21,4        1
25,8      271
27,53       2
28,5        3
30,25     789
30,48       2
30,58       2
30,82       1
30,84       1
32,2        1
32,62       1
33,03       9
33,65    2093
33,91       3
34,01       4
34,42       1
34,72       1
35,28       2
36,03       2
36,05       1
36,47    4067
36,52      17
36,77       6
36,88      11
36,9        7
38,4        1
38,53       1
         ...
54,01    1515
54,06       1
54,89       2
55,05       3
55,1       16
55,8      907
56,81       1
56,98       1
57,29      10
57,66     628
58,02       1
58,15       1
58,23       1
59          3
59,03       2
59,61       6
59,63     405
61          2
61,17       1
61,74     226
62,13       2
63,38       1
64,08     151
64,98       2
66,27       1
66,76      91
68,37       1
69,99      44
74,27      19
81,11       3
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [100]:
c = 'PUNT_QUIMICA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [101]:
c = 'PUNT_FISICA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '100,9', '16,25', '16,65', '17,42', '19,63', '20,14', '21,16',
       '25,99', '26,43',
       ...
       '70,23', '71,15', '72,02', '74,02', '76,4', '77,2', '80,88', '83,81',
       '85,34', '91,29'],
      dtype='object', length=119)
0          13
100,9       2
16,25     107
16,65       1
17,42       1
19,63       1
20,14       1
21,16       8
25,99     566
26,43       2
26,8        1
27,47       4
27,7        1
28,61       1
30,97      13
32,05    1716
32,53       8
32,91       8
33,55       6
33,75       4
34,71       1
35,99       3
36,62    3794
37,11      17
37,14      12
37,53       6
38,13       8
38,31      10
38,89       1
39,77       2
         ...
59,52       1
60,02       2
60,41       1
60,58       3
60,82       1
61,25    1194
61,51       1
62,46       3
62,76       1
62,84       1
63,3        8
63,6      618
64,12       1
65,67       2
66        362
66,07       2
66,8        1
67,52       1
68,51     202
68,95       2
70,23       1
71,15     104
72,02       1
74,02      62
76,4        1
77,2       41
80,88      16
83,81       1
85,34      14
91,29       1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [102]:
c = 'PUNT_FISICA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [103]:
c = 'NOMBRE_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ALEMÃN', 'FRANCÃS', 'INGLÃS'], dtype='object')
ALEMÃN        62
FRANCÃS      456
INGLÃS     60817
Name: NOMBRE_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [105]:
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('ALEMÃN', 'ALEMAN')
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('FRANCÃS', 'FRANCES')
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('INGLÃS', 'INGLES')

In [106]:
c = 'PUNT_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '15,62', '16,12', '19,28', '23,14', '23,61', '27,53',
       '27,81', '28,24', '30,46', '31,31', '31,72', '33,03', '34,2', '34,59',
       '35,34', '36,7', '37,07', '37,5', '38,95', '39,31', '39,55', '41,03',
       '41,39', '42,99', '43,35', '44,86', '45,25', '45,42', '46,69', '47,1',
       '47,37', '48,49', '48,94', '49,37', '50,29', '50,8', '51,44', '52,11',
       '52,7', '53,62', '53,98', '54,68', '55,93', '55,96', '56,78', '58',
       '58,51', '59,04', '60,24', '61,36', '61,56', '62,73', '64,46', '64,66',
       '65,59', '67,98', '68,69', '69,08', '72,66', '73,73', '74', '80,21',
       '81,23', '82,36', '84,92', '85,62'],
      dtype='object')
-1          1
0          32
15,62     210
16,12       3
19,28       1
23,14     885
23,61       8
27,53       6
27,81    2139
28,24       9
30,46       2
31,31    4086
31,72      26
33,03       2
34,2     5772
34,59      43
35,34       2
36,7     7121
37,07      37
37,5        5
38,95    7017
39,31      28
39,55       1
41,03    6471
41,39      31
42,99    5471
43,35      22
44,86    4202
45,25      14
45,42       4
         ...
51,44       2
52,11    1351
52,7        4
53,62       6
53,98    1095
54,68       3
55,93     906
55,96       7
56,78      10
58        784
58,51       4
59,04      14
60,24     727
61,36       2
61,56      17
62,73     768
64,46      22
64,66       6
65,59     861
67,98      32
68,69       3
69,08     953
72,66      52
73,73    1025
74          1
80,21      37
81,23     989
82,36       2
84,92      18
85,62     586
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [107]:
c = 'PUNT_IDIOMA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [108]:
c = 'DESEMP_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([-1.0], dtype='float64')
-1.0    1
Name: DESEMP_IDIOMA, dtype: int64
Elementos null/NaN 61334
__________________
Elementos diferentes de null/NaN: 1
__________________
(1,)
None

In [109]:
data_2006 = data_2006.drop(['DESEMP_IDIOMA'], axis=1)

In [110]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['PROFUNDIZACIÃN EN BIOLOGÃA', 'PROFUNDIZACIÃN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÃN EN LENGUAJE', 'PROFUNDIZACIÃN EN MATEMÃTICA'],
      dtype='object')
PROFUNDIZACIÃN EN BIOLOGÃA            20896
PROFUNDIZACIÃN EN CIENCIAS SOCIALES     8077
PROFUNDIZACIÃN EN LENGUAJE             21849
PROFUNDIZACIÃN EN MATEMÃTICA          10513
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [111]:
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN BIOLOGÃA', 'BIOLOGIA')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN CIENCIAS SOCIALES', 'CIENCIAS SOCIALES')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN LENGUAJE', 'LENGUAJE')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN MATEMÃTICA', 'MATEMATICA')

In [112]:
c = 'PUNT_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '1,2', '1,88', '1,9', '10', '2,5', '2,78', '2,93', '3',
       '3,5', '3,54', '3,62', '3,66', '3,9', '4,17', '4,23', '4,3', '4,38',
       '4,65', '4,68', '4,8', '4,91', '5,06', '5,09', '5,2', '5,33', '5,41',
       '5,51', '5,69', '5,7', '5,75', '5,92', '6,02', '6,08', '6,3', '6,34',
       '6,35', '6,42', '6,65', '6,77', '6,81', '6,98', '7,16', '7,33', '7,34',
       '7,62', '7,76', '7,98', '8,21', '8,3', '8,98', '9,11', '9,13'],
      dtype='object')
-1       238
0        708
1,2      697
1,88     464
1,9     1251
10        24
2,5     1618
2,78     365
2,93    1415
3       1736
3,5     1334
3,54    1175
3,62    2516
3,66     986
3,9      710
4,17    3362
4,23    1531
4,3      310
4,38    2652
4,65    3733
4,68    1964
4,8       93
4,91    3877
5,06    1732
5,09    3172
5,2       18
5,33    4289
5,41    1309
5,51    2695
5,69    3574
5,7        3
5,75     930
5,92    1924
6,02    2251
6,08     575
6,3        1
6,34    1369
6,35    1259
6,42     378
6,65     773
6,77     235
6,81     681
6,98     373
7,16     162
7,33     291
7,34     156
7,62     120
7,76      70
7,98      92
8,21      50
8,3       15
8,98      26
9,11      46
9,13       7
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [113]:
c = 'PUNT_PROFUNDIZACION'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [114]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1       238
GB     12931
I      19566
II     19647
III     8953
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [115]:
data_2006['DESEMP_PROFUNDIZACION'] = data_2006['DESEMP_PROFUNDIZACION'].replace('-1', np.nan)

In [116]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          32491
VIOLENCIA Y SOCIEDAD    28844
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [117]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '15,54', '24,76', '30,79', '35,57', '39,72', '43,53',
       '45,32', '47,18', '47,63', '49,11', '50,28', '50,8', '51,28', '52,19',
       '53,06', '53,91', '54,52', '54,79', '55,71', '56,72', '57,91', '58,47',
       '59,42', '61,76', '62,84', '64,05', '67,95', '74,43', '84,21', '93,9'],
      dtype='object')
-1         11
0         237
15,54     286
24,76     892
30,79    1904
35,57    3184
39,72    4157
43,53    4957
45,32     831
47,18    4677
47,63    2137
49,11    3657
50,28    4763
50,8     3707
51,28    5091
52,19    4914
53,06    4154
53,91    2968
54,52    2575
54,79    1941
55,71    1138
56,72     496
57,91     176
58,47    1476
59,42      45
61,76       3
62,84     654
64,05       1
67,95     234
74,43      62
84,21       6
93,9        1
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [118]:
c = 'PUNT_INTERDISCIPLINAR'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [119]:
c = 'ESTU_PUESTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,
              ...
              960.0, 961.0, 962.0, 963.0, 964.0, 965.0, 966.0, 967.0, 968.0,
              969.0],
             dtype='float64', length=969)
1.0      100
2.0       95
3.0       91
4.0       99
5.0       88
6.0       86
7.0       79
8.0       82
9.0       87
10.0      78
11.0      79
12.0      83
13.0      74
14.0      75
15.0      75
16.0      75
17.0      74
18.0      72
19.0      75
20.0      73
21.0      70
22.0      73
23.0      75
24.0      70
25.0      77
26.0      60
27.0      69
28.0      74
29.0      67
30.0      76
        ...
940.0     80
941.0     80
942.0     69
943.0     86
944.0     66
945.0     72
946.0     71
947.0     79
948.0     78
949.0     70
950.0     78
951.0     70
952.0     80
953.0     76
954.0     69
955.0     76
956.0     65
957.0     74
958.0     76
959.0     70
960.0     75
961.0     68
962.0     76
963.0     82
964.0     71
965.0     66
966.0     71
967.0     75
968.0     73
969.0     26
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 61334
__________________
(61334,)
None

# FILE 2 -> 2006_2

In [8]:
data_2006_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20062-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
data_2006_2.shape

(408326, 85)

In [10]:
data_2006_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB1120062000001,SB1120062000002,SB1120062000003
PERIODO,20062,20062,20062
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,1,26,11
ESTU_NACIMIENTO_MES,6,7,1
ESTU_NACIMIENTO_ANNO,1994,1990,1989
ESTU_EDAD,12,15,17
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,13001,13001,13001
ESTU_RESIDE_MCPIO,CARTAGENA,CARTAGENA,CARTAGENA
ESTU_RESIDE_DEPTO,BOLÃVAR,BOLÃVAR,BOLÃVAR
ESTU_ZONA_RESIDE,1,1,1
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,13001,13001,13001
ESTU_MCPIO_PRESENTACION,CARTAGENA,CARTAGENA,CARTAGENA
ESTU_DEPTO_PRESENTACION,BOLÃVAR,BOLÃVAR,BOLÃVAR
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006)
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2006,2006,2006
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,113597,113597,113597
COLE_COD_ICFES,113597,113597,113597
...,...,...,...
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,7,7,7
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1711,NaN,1711
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD DE LA SABANA,NaN,UNIVERSIDAD DE LA SABANA
ESTU_IES_COD_MPIO_DESEADA,25175,NaN,25175
ESTU_IES_MPIO_DESEADA,CHIA,NaN,CHIA
ESTU_IES_DEPT_DESEADA,CUNDINAMARCA,NaN,CUNDINAMARCA
ESTU_RAZONINSTITUTO,3,3,3
ESTU_CARRDESEADA_COD,15254,NaN,7320
ESTU_CARRDESEADA_RAZON,2,2,3
PUNT_LENGUAJE,"49,43","57,14","57,14"
PUNT_MATEMATICAS,"42,69","55,8","42,69"
PUNT_C_SOCIALES,"47,97","69,03","46,05"
PUNT_FILOSOFIA,"44,92","58,26","51,78"
PUNT_BIOLOGIA,"39,22","61,19","44,05"
PUNT_QUIMICA,"47,6","50,87","45,87"
PUNT_FISICA,"26,2","53,97","51,55"
NOMBRE_IDIOMA,INGLÃS,INGLÃS,INGLÃS
PUNT_IDIOMA,"49,6","69,4","47,66"
DESEMP_IDIOMA,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÃN EN MATEMÃTICA,PROFUNDIZACIÃN EN CIENCIAS SOCIALES,PROFUNDIZACIÃN EN LENGUAJE
PUNT_PROFUNDIZACION,"5,19","6,44","5,29"
DESEMP_PROFUNDIZACION,I,II,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"49,02","57,28","44,42"
ESTU_PUESTO,635,18,263

First delete the columns that wont' contribute to the work

In [11]:
data_2006_2 = data_2006_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_RESIDE_MCPIO', 'ESTU_MCPIO_PRESENTACION',
                               'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_MPIO_DESEADA'], axis=1)

In [ ]:
c = 'ESTU_PAIS_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_GENERO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_EDAD'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_COD_RESIDE_MCPIO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_ZONA_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_AREA_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_COD_ICFES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_NOMBRE_SEDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_CALENDARIO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_GENERO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_NATURALEZA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_BILINGUE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_JORNADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_CARACTER'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_ETNIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_EDUCA_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_EDUCA_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_OCUPA_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_OCUPA_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_NUM_HERMANOS'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_PISOSHOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_COMPUTADOR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_TRABAJA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'COLE_VALOR_PENSION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_IES_COD_MPIO_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

### TARGETS

In [ ]:
c = 'PUNT_LENGUAJE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_MATEMATICAS'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_C_SOCIALES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_FILOSOFIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_BIOLOGIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_QUIMICA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_FISICA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'NOMBRE_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'DESEMP_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

In [ ]:
c = 'ESTU_PUESTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))