# Procesado de Datos

Year 2000

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

Charge the file with the data, into a DataFrame

In [2]:
data_2000 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                        encoding="iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,12,14,15,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2000.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200010000203,SB11200010000204,SB11200010000205
COLE_COD_ICFES,83048,3327,19364
COLE_NOMBRE_SEDE,INSTITUTO STUDIUM,COLEGIO HEBREO UNION,COLEGIO ANGLO COLOMBIANO
IND_ANNO_TERMINO_BACHILLERATO,1999,2000,2000
COLE_JORNADA,C,C,C
COLE_VALOR_PENSION,3,8,7
ESTU_GENERO,F,F,M
ESTU_NACIMIENTO_DIA,19,28,30
ESTU_NACIMIENTO_MES,3,4,4
ESTU_NACIMIENTO_ANNO,1981,1982,1982
ESTU_DEPTO_PRESENTACION,BOGOTA,ATLANTICO,BOGOTA
ESTU_MCPIO_PRESENTACION,BOGOTA D.C.,BARRANQUILLA,BOGOTA D.C.
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,52,51,59
PUNT_MATEMATICAS,47,52,58
PUNT_FILOSOFIA,55,59,44
PUNT_FISICA,49,43,60
PUNT_HISTORIA,63,52,50
PUNT_QUIMICA,49,54,68
PUNT_LENGUAJE,56,53,50
PUNT_GEOGRAFIA,56,57,43
COD_INTERDISCIPLINAR,43,45,43
PUNT_INTERDISCIPLINAR,55,47,53
COD_IDIOMA,51,51,51
PUNT_IDIOMA,45,58,75
ESTU_IES_COD_DESEADA,NaN,9999,9999
ESTU_RAZONINSTITUTO,8,NaN,2
ESTU_CARRDESEADA_COD,1707,4701,99999
ESTU_CARRDESEADA_RAZON,2,3,2
FAMI_PERSONAS_HOGAR,2,@,5
FAMI_VIVIENDA_PROPIA,S,N,S
FAMI_DEUDA_VIVIENDA,N,NaN,S
FAMI_APORTANTES,1,2,2
FAMI_INGRESO_FMILIAR_MENSUAL,4,4,9
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,4,7,8
FAMI_EDUCA_MADRE,8,4,7
FAMI_OCUPA_PADRE,05,03,04
FAMI_OCUPA_MADRE,NaN,10,04
FAMI_NUM_HERMANOS,NaN,2,1
FAMI_NUM_HERMANOS_EDUSUPERIOR,2,2,1
FAMI_POSICION_HERMANOS,3,3,2
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,1,1,2
COLE_CALENDARIO,F,B,B
COLE_BILINGUE,NaN,NaN,1
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO
COLE_DEPTO_UBICACION,BOGOTA,ATLANTICO,BOGOTA
COLE_MCPIO_UBICACION,BOGOTç D.C.,BARRANQUILLA,BOGOTç D.C.
ESTU_TIPO_DOCUMENTO,C,N,T
ESTU_RESIDE_DEPTO,BOGOTA,ATLANTICO,BOGOTA
ESTU_RESIDE_MCPIO,BOGOTA D.C.,BARRANQUILLA,BOGOTA D.C.

In [4]:
print(data_2000['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2000['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_PERSONAS_HOGAR']))

Index(['1', '2', '3', '5', '6', '7', '8', '9', '@'], dtype='object')
1      274
2     2744
3     8917
5    18814
6    11487
7     6493
8     3781
9     2208
@    19122
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 3786
__________________
Elementos diferentes de null/NaN: 73840
__________________
(73840,)
None

The simbol "@" will be changed for the number 4, because the average in Colombian's homes is near to 4.

In [5]:
data_2000['FAMI_PERSONAS_HOGAR'] = data_2000['FAMI_PERSONAS_HOGAR'].replace('@', '4')
data_2000['FAMI_PERSONAS_HOGAR'] = data_2000['FAMI_PERSONAS_HOGAR'].replace(np.nan, 'NaN')

Then, the following columns will be reviewed

In [6]:
print(data_2000['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2000['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_VIVIENDA_PROPIA']))

Index(['@', 'N', 'S'], dtype='object')
@        4
N    20144
S    53182
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 4296
__________________
Elementos diferentes de null/NaN: 73330
__________________
(73330,)
None

There are very few rows with the value "@", so the rows that has it will be replaced for 'NaN' values, and the np.nan values too.

In [7]:
data_2000['FAMI_VIVIENDA_PROPIA'] = data_2000['FAMI_VIVIENDA_PROPIA'].replace('@', 'NaN')
data_2000['FAMI_VIVIENDA_PROPIA'] = data_2000['FAMI_VIVIENDA_PROPIA'].replace(np.nan, 'NaN')

In [8]:
print(data_2000['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2000['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_DEUDA_VIVIENDA']))

Index(['@', 'N', 'S'], dtype='object')
@        3
N    36147
S    11464
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 30012
__________________
Elementos diferentes de null/NaN: 47614
__________________
(47614,)
None

In [9]:
data_2000['FAMI_DEUDA_VIVIENDA'] = data_2000['FAMI_DEUDA_VIVIENDA'].replace('@', 'NaN')
data_2000['FAMI_DEUDA_VIVIENDA'] = data_2000['FAMI_DEUDA_VIVIENDA'].replace(np.nan, 'NaN')

In [10]:
print(data_2000['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2000['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_LEE_ESCRIBE_PADRE']))

Index(['@', 'N', 'S'], dtype='object')
@       35
N     2264
S    67427
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 7900
__________________
Elementos diferentes de null/NaN: 69726
__________________
(69726,)
None

In [11]:
data_2000['FAMI_LEE_ESCRIBE_PADRE'] = data_2000['FAMI_LEE_ESCRIBE_PADRE'].replace('@', 'NaN')
data_2000['FAMI_LEE_ESCRIBE_PADRE'] = data_2000['FAMI_LEE_ESCRIBE_PADRE'].replace(np.nan, 'NaN')

In [12]:
print(data_2000['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2000['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_LEE_ESCRIBE_MADRE']))

Index(['@', 'N', 'S'], dtype='object')
@       43
N     2847
S    72004
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 2732
__________________
Elementos diferentes de null/NaN: 74894
__________________
(74894,)
None

In [13]:
data_2000['FAMI_LEE_ESCRIBE_MADRE'] = data_2000['FAMI_LEE_ESCRIBE_MADRE'].replace('@', 'NaN')
data_2000['FAMI_LEE_ESCRIBE_MADRE'] = data_2000['FAMI_LEE_ESCRIBE_MADRE'].replace(np.nan, 'NaN')

In [14]:
print(data_2000['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2000['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_SOST_PERSONAL']))

Index(['@', 'N', 'P', 'T'], dtype='object')
@        3
N     6586
P    10348
T    57627
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 3062
__________________
Elementos diferentes de null/NaN: 74564
__________________
(74564,)
None

In [15]:
data_2000['FAMI_SOST_PERSONAL'] = data_2000['FAMI_SOST_PERSONAL'].replace('@', 'NaN')
data_2000['FAMI_SOST_PERSONAL'] = data_2000['FAMI_SOST_PERSONAL'].replace(np.nan, 'NaN')

In [16]:
print(data_2000['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2000['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2000['ESTU_TRABAJA']))

Index(['@', 'N', 'S'], dtype='object')
@        2
N    63214
S    10620
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 3790
__________________
Elementos diferentes de null/NaN: 73836
__________________
(73836,)
None

In [17]:
data_2000['ESTU_TRABAJA'] = data_2000['ESTU_TRABAJA'].replace('@', 'NaN')
data_2000['ESTU_TRABAJA'] = data_2000['ESTU_TRABAJA'].replace(np.nan, 'NaN')

In [18]:
print(data_2000['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2000['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2000['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A     6708
B    49464
F    21454
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77626
__________________
(77626,)
None

In [19]:
print(data_2000['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2000['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2000['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              38234
ACADEMICO Y TECNICO    17844
NORMALISTA              1168
TECNICO                20380
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77626
__________________
(77626,)
None

In [20]:
remaining_c = data_2000.columns.difference(['FAMI_PERSONAS_HOGAR', 'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_LEE_ESCRIBE_PADRE',
                     'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'COLE_CALENDARIO',
                     'COLE_CARACTER'])

In [21]:
remaining_c

Index(['COD_IDIOMA', 'COD_INTERDISCIPLINAR', 'COLE_BILINGUE', 'COLE_COD_ICFES',
       'COLE_DEPTO_UBICACION', 'COLE_JORNADA', 'COLE_MCPIO_UBICACION',
       'COLE_NOMBRE_SEDE', 'COLE_VALOR_PENSION', 'ESTU_ACT_PROX_ANNO',
       'ESTU_CARRDESEADA_COD', 'ESTU_CARRDESEADA_RAZON', 'ESTU_CONSECUTIVO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_GENERO', 'ESTU_IES_COD_DESEADA',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_MOTRIZ',
       'ESTU_LIMITA_SORDOINTERPRETE', 'ESTU_LIMITA_SORDONOINTERPRETE',
       'ESTU_MCPIO_PRESENTACION', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_NACIMIENTO_DIA', 'ESTU_NACIMIENTO_MES', 'ESTU_RAZONINSTITUTO',
       'ESTU_RESIDE_DEPTO', 'ESTU_RESIDE_MCPIO', 'ESTU_TIPO_DOCUMENTO',
       'FAMI_APORTANTES', 'FAMI_EDUCA_MADRE', 'FAMI_EDUCA_PADRE',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_OCUPA_MADRE', 'FAMI_OCUPA_PADRE',
       'FAMI_POSICION_HERMANOS', 'IND_ANNO_TERMINO_BACHILLERATO',
       'PUNT_BIOLOGIA', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_GEOGRAFIA',
       'PUNT_HISTORIA', 'PUNT_IDIOMA', 'PUNT_INTERDISCIPLINAR',
       'PUNT_LENGUAJE', 'PUNT_MATEMATICAS', 'PUNT_QUIMICA'],
      dtype='object')

Cambio de la @ por 4 en la columna *ESTU_ACT_PROX_ANNO*

In [22]:
print(data_2000['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2000['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2000['ESTU_ACT_PROX_ANNO']))

Index(['1', '2', '3', '@'], dtype='object')
1    19322
2     1917
3    55913
@       46
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 428
__________________
Elementos diferentes de null/NaN: 77198
__________________
(77198,)
None

In [23]:
"""The simbol @ will be replaced for the number(string) 4, and the np.nan values will be replaced for strings 'NaN'."""
data_2000['ESTU_ACT_PROX_ANNO'] = data_2000['ESTU_ACT_PROX_ANNO'].replace('@', '4')
data_2000['ESTU_ACT_PROX_ANNO'] = data_2000['ESTU_ACT_PROX_ANNO'].replace(np.nan, 'NaN')

Se eliminan las lineas que tienen años invalidos

In [24]:
print(data_2000['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2000['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2000['ESTU_NACIMIENTO_ANNO']))

Float64Index([ 195.0,  196.0,  197.0,  198.0, 1934.0, 1935.0, 1937.0, 1938.0,
              1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0,
              1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0,
              1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0,
              1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0,
              1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0,
              1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0,
              1987.0, 1988.0, 1989.0],
             dtype='float64')
195.0         2
196.0        13
197.0        14
198.0        70
1934.0        1
1935.0        1
1937.0        1
1938.0        4
1939.0        4
1940.0        5
1941.0        3
1942.0        7
1943.0        1
1944.0        3
1945.0        9
1946.0        8
1947.0       14
1948.0       10
1949.0       33
1950.0       27
1951.0       45
1952.0       45
1953.0       51
1954.0       70
1955.0       91
1956.0      112
1957.0      111
1958.0      141
1959.0      170
1960.0      182
1961.0      222
1962.0      264
1963.0      301
1964.0      319
1965.0      314
1966.0      327
1967.0      397
1968.0      426
1969.0      408
1970.0      500
1971.0      531
1972.0      596
1973.0      591
1974.0      739
1975.0      850
1976.0     1051
1977.0     1442
1978.0     2078
1979.0     4303
1980.0     6919
1981.0    11857
1982.0    17753
1983.0    19081
1984.0     4839
1985.0      198
1986.0       13
1987.0       14
1988.0       13
1989.0       13
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 19
__________________
Elementos diferentes de null/NaN: 77607
__________________
(77607,)
None

In [25]:
for i in data_2000['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if len(str(i))<4:
        data_2000['ESTU_NACIMIENTO_ANNO'] = data_2000['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

Se hacen los cambios segun la columna FAMI_APORTANTES

In [26]:
print(data_2000['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2000['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_APORTANTES']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+       66
0      251
1    39360
2    28171
3     5815
4     1607
5      483
6      156
7       47
8       30
9       25
@      212
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 1403
__________________
Elementos diferentes de null/NaN: 76223
__________________
(76223,)
None

In [27]:
data_2000['FAMI_APORTANTES'] = data_2000['FAMI_APORTANTES'].replace('@', 'NaN')
data_2000['FAMI_APORTANTES'] = data_2000['FAMI_APORTANTES'].replace('+', '+9')
data_2000['FAMI_APORTANTES'] = data_2000['FAMI_APORTANTES'].replace(np.nan, 'NaN')

Se eliminan las filas que poseen '@' FAMI_EDUCA_MADRE

In [28]:
print(data_2000['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2000['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_EDUCA_MADRE']))

Index(['1', '2', '3', '4', '5', '6', '7', '8', '@'], dtype='object')
1     3250
2      936
3    34447
4    19198
5     3962
6     2339
7     4973
8     2039
@      886
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 5596
__________________
Elementos diferentes de null/NaN: 72030
__________________
(72030,)
None

In [29]:
data_2000['FAMI_EDUCA_MADRE'] = data_2000['FAMI_EDUCA_MADRE'].replace('@', 'NaN')
data_2000['FAMI_EDUCA_MADRE'] = data_2000['FAMI_EDUCA_MADRE'].replace(np.nan, 'NaN')

Se eliminan las filas que poseen '@' en FAMI_EDUCA_PADRE

In [30]:
print(data_2000['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2000['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_EDUCA_PADRE']))

Index(['1', '2', '3', '4', '5', '6', '7', '8', '@'], dtype='object')
1     3122
2      841
3    31984
4    16489
5     3121
6     2895
7     5877
8     3023
@      880
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 9394
__________________
Elementos diferentes de null/NaN: 68232
__________________
(68232,)
None

In [31]:
data_2000['FAMI_EDUCA_PADRE'] = data_2000['FAMI_EDUCA_PADRE'].replace('@', 'NaN')
data_2000['FAMI_EDUCA_PADRE'] = data_2000['FAMI_EDUCA_PADRE'].replace(np.nan, 'NaN')

In [32]:
print(data_2000['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2000['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_INGRESO_FMILIAR_MENSUAL']))

Index(['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
0    18391
1    29605
2    13103
3     6760
4     2677
5     1237
6      940
7      561
8      550
9     1692
@       40
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 2070
__________________
Elementos diferentes de null/NaN: 75556
__________________
(75556,)
None

In [33]:
data_2000['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2000['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('@', 'NaN')
data_2000['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2000['FAMI_INGRESO_FMILIAR_MENSUAL'].replace(np.nan, 'NaN')

In [34]:
print(data_2000['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2000['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_NUM_HERMANOS']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+     1991
0     3873
1    15009
2    18138
3    12042
4     7558
5     4911
6     3255
7     2351
8     1672
9     1218
@      216
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 5392
__________________
Elementos diferentes de null/NaN: 72234
__________________
(72234,)
None

In [35]:
data_2000['FAMI_NUM_HERMANOS'] = data_2000['FAMI_NUM_HERMANOS'].replace('+', '+9')
data_2000['FAMI_NUM_HERMANOS'] = data_2000['FAMI_NUM_HERMANOS'].replace('@', 'NaN')
data_2000['FAMI_NUM_HERMANOS'] = data_2000['FAMI_NUM_HERMANOS'].replace(np.nan, 'NaN')

In [36]:
print(data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+       71
0    38329
1    18432
2     7448
3     2363
4      899
5      380
6      143
7       76
8       41
9       35
@       82
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 9327
__________________
Elementos diferentes de null/NaN: 68299
__________________
(68299,)
None

In [37]:
#lo mismo que la anterior pero en FAMI_NUM_HERMANOS_EDUSUPERIOR
data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')
data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('@', 'NaN')
data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace(np.nan, 'NaN')

In [38]:
print(data_2000['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2000['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_OCUPA_MADRE']))

Index(['0', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '@'],
      dtype='object')
0         1
01      509
02      904
03     1623
04     4035
05     8869
06     6607
07      536
08     4898
09     1200
10    37723
11      310
12     1342
@      1521
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 7548
__________________
Elementos diferentes de null/NaN: 70078
__________________
(70078,)
None

In [39]:
#se eliminan las filas que poseen el valor '@'
data_2000['FAMI_OCUPA_MADRE'] = data_2000['FAMI_OCUPA_MADRE'].replace('0', '00')
data_2000['FAMI_OCUPA_MADRE'] = data_2000['FAMI_OCUPA_MADRE'].replace('@', 'NaN')
data_2000['FAMI_OCUPA_MADRE'] = data_2000['FAMI_OCUPA_MADRE'].replace(np.nan, 'NaN')

In [40]:
print(data_2000['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2000['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_OCUPA_PADRE']))

Index(['0', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '@'],
      dtype='object')
0         1
01     1312
02     1716
03     3531
04     4447
05    18363
06     8983
07      533
08    16999
09     4535
10      932
11       42
12     1953
@      1786
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 12493
__________________
Elementos diferentes de null/NaN: 65133
__________________
(65133,)
None

In [41]:
#se eliminan las filas que poseen el valor '@'
data_2000['FAMI_OCUPA_MADRE'] = data_2000['FAMI_OCUPA_MADRE'].replace('0', '00')
data_2000['FAMI_OCUPA_MADRE'] = data_2000['FAMI_OCUPA_MADRE'].replace('@', 'NaN')
data_2000['FAMI_OCUPA_MADRE'] = data_2000['FAMI_OCUPA_MADRE'].replace(np.nan, 'NaN')

In [42]:
print(data_2000['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2000['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2000['FAMI_POSICION_HERMANOS']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+      819
1    25279
2    19469
3    11925
4     6252
5     3669
6     2256
7     1463
8     1012
9      698
@       19
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 4765
__________________
Elementos diferentes de null/NaN: 72861
__________________
(72861,)
None

In [43]:
#Se eliminan las filas que tienen valores '@' y se cambia '+' por '+10'
data_2000['FAMI_POSICION_HERMANOS'] = data_2000['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2000['FAMI_POSICION_HERMANOS'] = data_2000['FAMI_POSICION_HERMANOS'].replace('@', 'NaN')

Now i can change the Problematic columns

In [44]:
print(data_2000['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2000['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2000['ESTU_CARRDESEADA_COD']))

Index(['0', '0 000', '0000', '00000', '01', '01001', '01101', '0134', '01826',
       '02',
       ...
       '@@0', '@@1', '@@149', '@@4', '@@6', '@@7', '@@9', '@@@', '@@@@9',
       '@@@@@'],
      dtype='object', length=2577)
0         6
0 000     1
0000      1
00000    50
01        3
01001     1
01101     1
0134      1
01826     1
02        1
0206      1
02113     1
02150     1
02823     1
03301     1
04107     1
04108     2
04118     3
04702     2
05        2
05106     1
05210     1
06241     1
0694@     1
0704      1
07953     1
08105     1
1        24
1   0     1
1  0      2
         ..
@3        1
@30       1
@304      1
@30@@     1
@33       1
@3@       1
@4        1
@44       1
@5        1
@5 @      1
@6@       1
@811      1
@8117     1
@839      1
@8@       1
@92       1
@@        9
@@  6     1
@@  9     1
@@ 3      1
@@0       2
@@1       3
@@149     1
@@4       1
@@6       1
@@7       1
@@9       1
@@@       1
@@@@9     1
@@@@@     1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 4333
__________________
Elementos diferentes de null/NaN: 73293
__________________
(73293,)
None

In [45]:
"""Here i'm replacing the values with anomalies for NaN, and i will let the rows that has got any number because the 
codes of the programs are so diverse. And then i will put NaN where the values has some space or np.nan"""
for i in data_2000['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '@' in i:
        data_2000['ESTU_CARRDESEADA_COD'] = data_2000['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif ' ' in i:
        data_2000['ESTU_CARRDESEADA_COD'] = data_2000['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif i!='NaN':
        if int(i)==0:
            data_2000['ESTU_CARRDESEADA_COD'] = data_2000['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
data_2000['ESTU_CARRDESEADA_COD'] = data_2000['ESTU_CARRDESEADA_COD'].replace(np.nan, 'NaN')

In [46]:
print(data_2000['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2000['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2000['ESTU_IES_COD_DESEADA']))

Index(['0', '0 01', '0000', '0009', '001', '01', '01 @', '0111', '0123',
       '0129',
       ...
       '@5', '@60', '@71', '@80', '@805', '@83', '@905', '@@', '@@@', '@@@@'],
      dtype='object', length=792)
0       13
0 01     1
0000    45
0009     1
001      3
01       3
01 @     1
0111     1
0123     1
0129     1
01@0     1
0201     5
0203    17
0206     5
0207     1
0208     1
0213     1
0219     1
0248     1
03       5
032      1
0330     1
034@     1
03@      1
04       5
0446     1
0488     1
05       4
0589     2
06       3
        ..
@ 05     1
@ 0@     1
@ 16     2
@ 33     2
@ 80     1
@ @      3
@0       2
@0 8     1
@00      1
@017     1
@03      1
@1       4
@10      1
@11      4
@110     1
@2       3
@203     1
@3       1
@3 0     1
@32      1
@5       1
@60      1
@71      2
@80      1
@805     1
@83      1
@905     1
@@      19
@@@      1
@@@@     9
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 6664
__________________
Elementos diferentes de null/NaN: 70962
__________________
(70962,)
None

In [47]:
for i in data_2000['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '@' in i:
        data_2000['ESTU_IES_COD_DESEADA'] = data_2000['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif ' ' in i:
        data_2000['ESTU_IES_COD_DESEADA'] = data_2000['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif i!='NaN':
        if int(i)==0:
            data_2000['ESTU_IES_COD_DESEADA'] = data_2000['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
        elif len(i)<4:
            data_2000['ESTU_IES_COD_DESEADA'] = data_2000['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
        elif len(i)>4:
            data_2000['ESTU_IES_COD_DESEADA'] = data_2000['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
data_2000['ESTU_IES_COD_DESEADA'] = data_2000['ESTU_IES_COD_DESEADA'].replace(np.nan, 'NaN')

In [48]:
print(data_2000['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2000['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2000['IND_ANNO_TERMINO_BACHILLERATO']))

Index(['0 0', '1 99', '19', '1900', '1920', '1960', '1962', '1964', '1967',
       '1968', '1969', '1970', '1972', '1974', '1976', '1977', '1978', '1979',
       '198', '1980', '1981', '1982', '1983', '1984', '1989', '199', '1990',
       '1991', '1995', '1996', '1997', '1998', '1999', '199@', '19@9', '2',
       '2  0', '2 0', '2 00', '20', '20 0', '20**', '20*0', '200', '2000',
       '2001', '2002', '2011', '2020', '2090', '2099', '20@', '20@0', '20@@',
       '2@00', '8316', '9', '99'],
      dtype='object')
0 0         1
1 99        1
19          1
1900       13
1920       15
1960        1
1962        1
1964        1
1967        1
1968        1
1969        5
1970        1
1972        1
1974        1
1976        1
1977        6
1978        4
1979        5
198         2
1980        8
1981        7
1982        3
1983        6
1984        3
1989        2
199         8
1990        1
1991        2
1995        1
1996        1
1997        6
1998       14
1999    16551
199@        2
19@9        1
2           2
2  0        2
2 0         1
2 00      112
20         29
20 0       59
20**        4
20*0        1
200        63
2000    60389
2001       29
2002        1
2011       11
2020       10
2090        1
2099        9
20@         1
20@0        4
20@@        3
2@00        1
8316        1
9           1
99          2
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 212
__________________
Elementos diferentes de null/NaN: 77414
__________________
(77414,)
None

In [49]:
for i in data_2000['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index:
    if '@' in i:
        data_2000['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif '*' in i:
        data_2000['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif ' ' in i:
        data_2000['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif i!='NaN':
        if int(i)==0:
            data_2000['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
        elif len(i)<4:
            data_2000['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
        elif len(i)>4:
            data_2000['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
        elif int(i)>2002:
            data_2000['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
data_2000['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000['IND_ANNO_TERMINO_BACHILLERATO'].replace(np.nan, 'NaN')

Deletion of the selected columns

ELIMINACIONES (se eliminan porque se considera que no aportaran nada a la prediccion)

- ESTU_CONSECUTIVO: Eliminada. no aporta para la prediccion ***ELIMINADA***
- ESTU_LIMITA_SORDOINTERPRETE: No tiene valores en ninguna fila, ***ELIMINADA***

In [50]:
data_2000 = data_2000.drop(['ESTU_LIMITA_SORDOINTERPRETE', 'ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

___________

___________

___________

# The second file is the 2000_2 that correspond to the second period of the year.

In [51]:
data_2000_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20002-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                         encoding="iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,7,12,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [52]:
data_2000_2.shape

(354862, 58)

In [53]:
data_2000_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200020145911,SB11200020210439,SB11200020155853
COLE_COD_ICFES,75648,364,56820
COLE_NOMBRE_SEDE,LICEO ALCALDIA DE MEDELLIN,COLEGIO MARIA AUXILIADORA,INSTITUTO TECNOLOGICO METROPOLITANO
IND_ANNO_TERMINO_BACHILLERATO,2000,2000,2000
COLE_JORNADA,M,C,N
COLE_VALOR_PENSION,8,5,1
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,2,27,3
ESTU_NACIMIENTO_MES,1,4,1
ESTU_NACIMIENTO_ANNO,1984,1984,1978
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_MCPIO_PRESENTACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49,48,42
PUNT_MATEMATICAS,39,47,40
PUNT_FILOSOFIA,48,57,53
PUNT_FISICA,44,52,44
PUNT_HISTORIA,46,46,46
PUNT_QUIMICA,47,38,42
PUNT_LENGUAJE,55,52,43
PUNT_GEOGRAFIA,40,49,45
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,51,25,44
COD_IDIOMA,51,51,51
PUNT_IDIOMA,37,42,43
ESTU_IES_COD_DESEADA,NaN,1712,1201
ESTU_RAZONINSTITUTO,NaN,7,3
ESTU_CARRDESEADA_COD,NaN,48117,12136
ESTU_CARRDESEADA_RAZON,NaN,3,5
FAMI_PERSONAS_HOGAR,4,4,6
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,N,NaN,N
FAMI_APORTANTES,2,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,1,1,1
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,4,7,3
FAMI_EDUCA_MADRE,4,7,3
FAMI_OCUPA_PADRE,09,04,08
FAMI_OCUPA_MADRE,09,04,10
FAMI_NUM_HERMANOS,6,1,2
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,1,1
FAMI_POSICION_HERMANOS,6,2,1
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,1,3
COLE_CALENDARIO,A,A,F
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO Y TECNICO
COLE_DEPTO_UBICACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
COLE_MCPIO_UBICACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_TIPO_DOCUMENTO,T,T,C
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_RESIDE_MCPIO,MEDELLIN,MEDELLIN,MEDELLIN

The first thing i want to do is delete the columns that does not contribute to the task

The columns that does not contribute to the task are:
- ESTU_CONSECUTIVO
- COLE_NOMBRE_SEDE
- ESTU_TIPO_DOCUMENTO

In [54]:
data_2000_2 = data_2000_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO', 'COLE_COD_ICFES'], axis=1)

Now i can check the other columns to delete the lines that has strange characters and to decide what to do with the NaN values

In [55]:
data_2000_2.columns

Index(['IND_ANNO_TERMINO_BACHILLERATO', 'COLE_JORNADA', 'COLE_VALOR_PENSION',
       'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA', 'ESTU_NACIMIENTO_MES',
       'ESTU_NACIMIENTO_ANNO', 'ESTU_DEPTO_PRESENTACION',
       'ESTU_MCPIO_PRESENTACION', 'ESTU_ETNIA', 'ESTU_LIMITA_INVIDENTE',
       'ESTU_LIMITA_SORDOINTERPRETE', 'ESTU_LIMITA_SORDONOINTERPRETE',
       'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA', 'PUNT_MATEMATICAS',
       'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA', 'PUNT_QUIMICA',
       'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'COD_INTERDISCIPLINAR',
       'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA', 'PUNT_IDIOMA',
       'ESTU_IES_COD_DESEADA', 'ESTU_RAZONINSTITUTO', 'ESTU_CARRDESEADA_COD',
       'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR', 'FAMI_VIVIENDA_PROPIA',
       'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_RESIDE_DEPTO',
       'ESTU_RESIDE_MCPIO'],
      dtype='object')

In [56]:
"""There are some years that are not valid, so this lines will be deleted"""
print(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO']))

Index(['1959', '1979', '1980', '1981', '1982', '1983', '1984', '1987', '1988',
       '1989', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2', '2  0', '2  1', '2 *0', '2 0', '2 00', '2*00', '20',
       '20 *', '20 0', '20 1', '20*', '20**', '20*0', '200', '200*', '2000',
       '2001', '2002', '2006', '201', '2010', '2011', '2020', '2022', '2030',
       '2060', '2099'],
      dtype='object')
1959         1
1979         1
1980         1
1981         1
1982         1
1983         1
1984         1
1987         1
1988         1
1989         3
1991         2
1992         1
1993         2
1994         1
1995         4
1996         6
1997         7
1998        20
1999       226
2           74
2  0        58
2  1         1
2 *0         1
2 0         30
2 00      1140
2*00         4
20         152
20 *         2
20 0       458
20 1         1
20*          2
20**         5
20*0         7
200        306
200*         2
2000    352083
2001       122
2002         3
2006         1
201          2
2010        16
2011        36
2020         1
2022         1
2030         1
2060         1
2099         2
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 69
__________________
Elementos diferentes de null/NaN: 354793
__________________
(354793,)
None

In [57]:
for i in data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index:
    if "*" in i:
        data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif (' ' in i):
        data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif (len(i)<4):
        data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif (int(i) > 2002):
        data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')

In [58]:
"""So now i can replace the np.nan values for strings 'NaN' """
data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(np.nan, 'NaN')

In [59]:
"""This columns looks good"""
print(data_2000_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2000_2['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2000_2['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C     82722
M    147493
N     47287
S       463
T     76897
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [60]:
"""Obtained an error, this happens because of the combination of strings a numbers in just one column, so
i decide to do a first treatment, just replacing this np.nan values for 'NaN' (String) values."""
print(data_2000_2['COLE_VALOR_PENSION'].value_counts().index)
print(data_2000_2['COLE_VALOR_PENSION'].value_counts())
print(missing_data(data_2000_2['COLE_VALOR_PENSION']))

Index(['1', '8', 1.0, 8.0, '2', '3', '4', '5', '6', 2.0, 3.0, 4.0, 5.0, '7',
       6.0, 7.0, '*'],
      dtype='object')
1      100240
8       61989
1.0     39398
8.0     28857
2       23349
3       18586
4       14797
5       11036
6        8632
2.0      7584
3.0      5725
4.0      5342
5.0      4839
7        2592
6.0      1837
7.0       505
*          28
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 19526
__________________
Elementos diferentes de null/NaN: 335336
__________________
(335336,)
None

In [61]:
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(1.0, '1')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(2.0, '2')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(3.0, '3')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(4.0, '4')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(5.0, '5')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(6.0, '6')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(7.0, '7')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(8.0, '8')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace('*', 'NaN')

In [62]:
"""Here i replace this np.NaN values for strings 'NaN'."""
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(np.NaN, 'NaN')

__________

In [63]:
"""This column is ok, but has a np.nan value that will be replaced for a string 'NaN'."""
print(data_2000_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    191518
M    163343
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [64]:
data_2000_2['ESTU_GENERO'] = data_2000_2['ESTU_GENERO'].replace(np.nan, 'NaN')

In [65]:
"""I get errors with this column"""
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts().index)
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts())
print(missing_data(data_2000_2['ESTU_NACIMIENTO_DIA']))

Index(['01', '20', '05', '10', '03', '28', '15', '18', '12', '04', '07', '08',
       '23', '02', '06', '17', '26', '11', '25', '22', '16', '14', '24', '09',
       '27', '13', '19', '21', '29', '30', '31',  1.0,  5.0,  3.0, 15.0,  6.0,
       12.0, 25.0,  2.0, 20.0, 10.0, 27.0,  7.0,  8.0, 16.0, 28.0, 17.0,  9.0,
        4.0, 11.0, 18.0, 14.0, 23.0, 22.0, 19.0, 24.0, 26.0, 13.0, 21.0, 29.0,
       30.0, 31.0,  '1',  '2',  '3',  '*', '1*',  '0',  '8',  '4', '2*',  '7',
        0.0,  '5',  '9', '00',  '6', '*9', '0*', '39', '*1', '32'],
      dtype='object')
01      8817
20      8787
05      8728
10      8690
03      8674
28      8583
15      8580
18      8523
12      8470
04      8465
07      8457
08      8438
23      8421
02      8419
06      8398
17      8378
26      8366
11      8354
25      8322
22      8289
16      8286
14      8280
24      8274
09      8237
27      8224
13      8094
19      8085
21      8016
29      7828
30      7635
        ...
23.0    3190
22.0    3174
19.0    3144
24.0    3137
26.0    3106
13.0    3094
21.0    3066
29.0    3009
30.0    2922
31.0    1755
1        227
2        203
3         44
*         25
1*        14
0         13
8          9
4          9
2*         8
7          7
0.0        6
5          6
9          5
00         2
6          2
*9         1
0*         1
39         1
*1         1
32         1
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 357
__________________
Elementos diferentes de null/NaN: 354505
__________________
(354505,)
None

In [66]:
"""The First step is replace the incoherences for 'NaN' values"""
for i in data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts().index:
    if '*' in str(i):
        data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(i, 'NaN')
    elif(int(i)>31):
        data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(i, 'NaN')
    elif(int(i) == 0):
        data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(i, 'NaN')

In [67]:
"""Then, I decide to replace the np.NaN values for Strings 'NaN'"""
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(np.nan, 'NaN')

In [68]:
"""Now it's time to replace the number values for string values"""
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(1.0, '01')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(2.0, '02')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(3.0, '03')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(4.0, '04')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(5.0, '05')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(6.0, '06')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(7.0, '07')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(8.0, '08')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(9.0, '09')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(10.0, '10')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(11.0, '11')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(12.0, '12')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(13.0, '13')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(14.0, '14')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(15.0, '15')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(16.0, '16')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(17.0, '17')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(18.0, '18')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(19.0, '19')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(20.0, '20')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(21.0, '21')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(22.0, '22')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(23.0, '23')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(24.0, '24')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(25.0, '25')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(26.0, '26')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(27.0, '27')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(28.0, '28')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(29.0, '29')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(30.0, '30')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(31.0, '31')

"""And Finally a change some values to left everything in just one way"""
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('1', '01')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('5', '05')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('3', '03')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('7', '07')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('4', '04')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('6', '06')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('8', '08')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('2', '02')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('9', '09')

___

In [69]:
"""This column is OK, in this column exist 1078 np.nan, but as they are numpy dtype, i will let this column like it's
in this moment"""
print(data_2000_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     29589
2.0     26373
3.0     29718
4.0     28230
5.0     29402
6.0     28017
7.0     28894
8.0     29919
9.0     31605
10.0    31510
11.0    30372
12.0    30155
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 1078
__________________
Elementos diferentes de null/NaN: 353784
__________________
(353784,)
None

In [70]:
"""This column present A LOT of incoherences."""
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_NACIMIENTO_ANNO']))

Index(['*', '**', '*7', '*9', '*972', '0', '0*3', '00', '0973', '098',
       ...
       '8', '9', '9 0', '9 2', '9*1', '913', '95', '97', '978', '98'],
      dtype='object', length=131)
*           4
**          5
*7          1
*9          1
*972        1
0           2
0*3         1
00          1
0973        1
098         1
1           2
1  0        1
1  9        1
1 *         1
1 *1        1
1 *6        1
1 *8        1
1 *9        1
1 56        1
1 8         1
1 9*        5
1 96        1
1 97        5
1*          3
1*8         1
17          1
19         13
19 *        8
19 0        2
19 1        2
        ...
1984    64283
1985     5787
1986      210
1987       53
1988       58
1989       53
199         2
199*       23
1990       23
1991        1
1996        1
1997        3
1998        1
1999        1
2 *7        2
2 00        1
20*8        1
2000        4
2980        1
7           2
8           2
9           3
9 0         1
9 2         1
9*1         1
913         1
95          1
97          1
978         1
98          5
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 141
__________________
Elementos diferentes de null/NaN: 354721
__________________
(354721,)
None

In [71]:
"""So, the first thing i have to do is replace the incoherent values with a string NaN"""
for i in data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if '*' in i:
        data_2000_2['ESTU_NACIMIENTO_ANNO'] = data_2000_2['ESTU_NACIMIENTO_ANNO'].replace(i, 'NaN')
    elif(' ' in i):
        data_2000_2['ESTU_NACIMIENTO_ANNO'] = data_2000_2['ESTU_NACIMIENTO_ANNO'].replace(i, 'NaN')
    elif(len(i)<4):
        data_2000_2['ESTU_NACIMIENTO_ANNO'] = data_2000_2['ESTU_NACIMIENTO_ANNO'].replace(i, 'NaN')
    elif(int(i)>2002):
        data_2000_2['ESTU_NACIMIENTO_ANNO'] = data_2000_2['ESTU_NACIMIENTO_ANNO'].replace(i, 'NaN')
    elif(int(i)<1900):
        data_2000_2['ESTU_NACIMIENTO_ANNO'] = data_2000_2['ESTU_NACIMIENTO_ANNO'].replace(i, 'NaN')
"""And finally i can change the np.nan values for strings 'NaN'."""
data_2000_2['ESTU_NACIMIENTO_ANNO'] = data_2000_2['ESTU_NACIMIENTO_ANNO'].replace(np.nan, 'NaN')

In [72]:
"""This Column looks OK, just has one np.nan value, that i will replace immediately."""
print(data_2000_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2000_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_DEPTO_PRESENTACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             505
ANTIOQUIA          51972
ARAUCA              1613
ATLANTICO          27134
BOGOTA             72937
BOLIVAR            17375
BOYACA             14382
CALDAS             10211
CAQUETA             2596
CASANARE            2098
CAUCA               1331
CESAR               8480
CHOCO               3213
CORDOBA            14624
CUNDINAMARCA       20923
GUAINIA              117
GUAVIARE             365
HUILA               8846
LA GUAJIRA          4613
MAGDALENA          10044
META                6352
NARIÑO               403
NORTE SANTANDER    12505
PUTUMAYO            1571
QUINDIO             5764
RISARALDA           9133
SAN ANDRES           642
SANTANDER          20723
SUCRE               7200
TOLIMA             13011
VALLE               3868
VAUPES                91
VICHADA              219
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [73]:
"""Replacing the np.nan value"""
data_2000_2['ESTU_DEPTO_PRESENTACION'] = data_2000_2['ESTU_DEPTO_PRESENTACION'].replace(np.nan, 'NaN')

In [74]:
"""Checked. Looks OK, but has one np.nan value that will be replaced immediately"""
print(data_2000_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2000_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_MCPIO_PRESENTACION']))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLANUEVA', 'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=312)
ABEJORRAL                  174
ABREGO                      35
ACACIAS                    577
ACANDI                      40
ACHI                        60
AGUACHICA                 1441
AGUADAS                    196
AGUAZUL                    200
AGUSTIN CODAZZI            419
AIPE                       155
AMAGA                      638
AMALFI                     238
ANDES                      422
ANSERMA                    564
ANTIOQUIA                  549
APARTADO                  1181
ARACATACA                  347
ARAUCA                     667
ARAUQUITA                  131
ARBELAEZ                   147
ARBOLEDAS                   49
ARBOLETES                  434
ARIGUANI (EL DIFICIL)      242
ARJONA                     604
ARMENIA                   4180
ASTREA                      87
AYAPEL                     295
BAGADO                      65
BAHIA SOLANO (MUTIS)        89
BAJO BAUDO   (PIZARRO)      35
                          ...
TOLU                       237
TOLUVIEJO                   94
TULUA                      296
TUMACO                     113
TUNJA                     3644
TURBACO                    719
TURBO                      664
TURMEQUE                   170
TUTA                        67
UBATE                      704
UNGUIA                      55
URRAO                      270
VALLEDUPAR                5000
VELEZ                      428
VENADILLO                  251
VENTAQUEMADA                72
VIGIA DEL FUERTE            10
VILLA DE LEYVA             200
VILLA DEL ROSARIO          578
VILLAMARIA                  74
VILLANUEVA                 731
VILLAVICENCIO             4522
VILLETA                    393
VIOTA                       87
YARUMAL                    680
YOLOMBO                    274
YOPAL                     1074
ZAPATOCA                   121
ZARAGOZA                   161
ZIPAQUIRA                 1515
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [75]:
"""Here i replace the np.nan value for an string 'NaN'"""
data_2000_2['ESTU_MCPIO_PRESENTACION'] = data_2000_2['ESTU_MCPIO_PRESENTACION'].replace(np.nan, 'NaN')

In [76]:
"""This column has some troubles."""
print(data_2000_2['ESTU_ETNIA'].value_counts().index)
print(data_2000_2['ESTU_ETNIA'].value_counts())
print(missing_data(data_2000_2['ESTU_ETNIA']))

Index(['99', 99.0, '01',  '*',  1.0, '08', '03', '02',  2.0,  3.0, '06',  6.0,
        5.0, '05', '07',  8.0,  7.0, '04',  4.0,  '9',  9.0,  '1'],
      dtype='object')
99      29745
99.0    11620
01       6631
*        4215
1.0      2147
08       1478
03        798
02        596
2.0       524
3.0       346
06        235
6.0        92
5.0        88
05         81
07         62
8.0        35
7.0        31
04         27
4.0        21
9          10
9.0         2
1           1
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 296077
__________________
Elementos diferentes de null/NaN: 58785
__________________
(58785,)
None

In [77]:
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('1', '01')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('2', '02')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('3', '03')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('4', '04')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('5', '05')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('6', '06')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('7', '07')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('8', '08')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('9', '09')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(99.0, '99')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(1.0, '01')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(2.0, '02')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(3.0, '03')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(4.0, '04')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(5.0, '05')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(6.0, '06')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(7.0, '07')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(8.0, '08')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(9.0, '09')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('*', 'NaN')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(np.nan, 'NaN')

"""And now it's ready"""

"And now it's ready"

In [78]:
"""Even if this column has to many NaN values, is OK, in the encode process that NaN values will be -1"""
print(data_2000_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2000_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    31
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 354831
__________________
Elementos diferentes de null/NaN: 31
__________________
(31,)
None

In [79]:
"""This column does not have any row with a value so this column will be deleted."""
print(data_2000_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2000_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)

In [80]:
"""Deleting..."""
data_2000_2.drop('ESTU_LIMITA_SORDOINTERPRETE', axis=1, inplace=True)
"""Deleted"""

'Deleted'

In [81]:
"""Even if this column has to many NaN values, is OK, in the encode process that NaN values will be -1"""
print(data_2000_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2000_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    45
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 354817
__________________
Elementos diferentes de null/NaN: 45
__________________
(45,)
None

In [82]:
"""Even if this column has to many NaN values, is OK, in the encode process that NaN values will be -1"""
print(data_2000_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2000_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    71
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 354791
__________________
Elementos diferentes de null/NaN: 71
__________________
(71,)
None

In [83]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_']))

Int64Index([ 0, 14, 21, 22, 26, 27, 29, 30, 32, 33, 34, 35, 36, 38, 40, 41, 42,
            43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
            61, 62, 64, 65, 67, 69, 70, 71, 73, 76],
           dtype='int64')
0        71
14       83
21        1
22      287
26        5
27     1015
29       20
30     2733
32       45
33     6150
34      109
35    11497
36      157
38    19087
40    27028
41    33633
42      325
43    38472
45    40073
46    38751
47    33632
48      291
49    28248
50    21594
51    16506
52      138
53    11851
54     8108
55     5464
56       24
57     3713
58     2273
59     1400
60        7
61      887
62      535
64      306
65      148
67      110
69       49
70        1
71       20
73       12
76        3
Name: PUNT_BIOLOGIA, dtype: int64

KeyError: 'PUNT_'

In [84]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_FILOSOFIA']))

Int64Index([ 0,  8,  9, 17, 22, 23, 26, 27, 29, 30, 32, 34, 35, 36, 37, 38, 39,
            40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
            58, 59, 60, 61, 62, 64, 66, 68, 70, 72, 75, 78],
           dtype='int64')
0       231
8         1
9        89
17      206
22        7
23      468
26       12
27     1352
29       33
30     3191
32     6858
34      105
35    12229
36      162
37    19409
38      230
39    26731
40      277
41    32953
42    37569
44    38653
45      308
46    36671
47    32346
48      268
49    26726
50    21487
51      184
52    16251
53    12290
54      101
55     8971
56     6445
57       51
58     4402
59     3026
60       30
61     1924
62     1182
64      713
66      371
68      196
70       95
72       40
75       16
78        2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [85]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_FISICA']))

Int64Index([ 0, 14, 23, 29, 33, 36, 39, 42, 44, 46, 48, 50, 51, 52, 53, 55, 56,
            57, 58, 60, 61, 63, 64, 66, 68, 69, 71, 73, 75, 77, 79, 82, 84],
           dtype='int64')
0        47
14      194
23     1040
29     3646
33     9476
36    19259
39    32370
42    43821
44    51143
46    51328
48    45292
50    35515
51    24840
52      206
53    15708
55     9443
56     5233
57       37
58     2739
60     1477
61      827
63      462
64      300
66      174
68       94
69       69
71       46
73       29
75       19
77       16
79        6
82        2
84        4
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [86]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_HISTORIA']))

Int64Index([ 0, 12, 19, 23, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
            39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
            56, 57, 58, 60, 61, 62, 63, 65, 67, 70, 73],
           dtype='int64')
0        24
12       49
19      134
23        3
24      473
26        9
27     1473
29       31
30     3480
31       46
32     7018
33      116
34    12050
35      152
36    18438
37    24459
38      241
39    29072
40    31974
41      297
42    31915
43    31523
44    28958
45      252
46    25901
47    22567
48    19366
49    16310
50      124
51    13206
52    10492
53     8381
54     6015
55       52
56     4130
57     2811
58     1664
60      943
61        4
62      407
63      194
65       76
67       23
70        5
73        4
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [87]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_QUIMICA']))

Int64Index([ 0, 18, 25, 29, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
            46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
            63, 64, 65, 66, 68, 70, 73, 77, 84, 95],
           dtype='int64')
0        74
18       90
25      270
29      731
32     2048
34     4955
35       75
36     9924
37      131
38    17163
39    24906
40      310
41    32078
42    37007
43      398
44    38737
45    36081
46    31191
47    26224
48    20831
49    16517
50      100
51    12688
52     9640
53     7457
54     5863
55     4584
56     3653
57     2899
58       11
59     2274
60     1739
61     1310
62        2
63      947
64      721
65        1
66      480
68      345
70      219
73      105
77       59
84       22
95        2
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [88]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2000_2['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_LENGUAJE']))

Int64Index([ 0, 11, 19, 24, 27, 28, 30, 31, 32, 34, 36, 38, 40, 41, 42, 43, 44,
            45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,
            62, 63, 64, 65, 66, 68, 71, 73, 77],
           dtype='int64')
0        75
11       97
19      132
24      278
27      653
28       10
30     1457
31       18
32     3131
34     6020
36     9744
38    14457
40    18978
41    23726
42      247
43    27435
44    29083
45      292
46    30528
47    29334
48    28534
49      308
50    26568
51    23842
52    21399
53      166
54    17400
55    13713
56    10250
57       45
58     7184
59     4579
60        8
61     2781
62     1350
63        8
64      615
65        2
66      292
68       87
71       27
73        8
77        1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [89]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_GEOGRAFIA']))

Int64Index([ 0, 10, 18, 22, 25, 26, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40,
            41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
            58, 60, 61, 62, 63, 65, 67, 70],
           dtype='int64')
0        89
10      100
18      164
22      431
25        4
26     1090
28       17
29     2310
30       34
31     4775
33     8424
35    13167
36      144
37    18404
38      236
39    23902
40    28331
41      284
42    31395
43    32680
44      290
45    32056
46    30194
47    27555
48      251
49    24237
50    20491
51    16877
52      139
53    12909
54     9448
55     6446
56       39
57     4001
58     2163
60     1106
61        7
62      451
63      158
65       48
67       14
70        1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [90]:
"""This column Looks OK"""
print(data_2000_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2000_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2000_2['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    144864
44    178538
45     31460
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [91]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2000_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_INTERDISCIPLINAR']))

Int64Index([ 0, 24, 25, 27, 29, 30, 32, 35, 37, 38, 40, 41, 42, 43, 44, 45, 46,
            47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63,
            64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 81, 83, 88, 90,
            95],
           dtype='int64')
0      1667
24     5056
25      193
27       24
29        1
30     1055
32    13423
35        1
37    24105
38      371
40        2
41     3031
42    31592
43        4
44      360
45    33347
46        4
47        6
48    32515
49        2
50       12
51    19883
52       16
53     5761
54    11902
55      113
56      624
57     1073
58    13659
59     5506
60     9478
61    15816
62    25316
63    17175
64    22657
65    18797
66    14136
67     8889
68     6015
69     4477
70     2985
71     1041
72       92
73      340
74     1364
76       10
78      574
81       18
83      253
88       78
90       16
95       27
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [92]:
"""This column loooks OK"""
print(data_2000_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2000_2['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2000_2['COD_IDIOMA']))

Int64Index([51, 52, 53], dtype='int64')
51    352123
52      2591
53       148
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [93]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2000_2['PUNT_IDIOMA']))

Int64Index([ 0, 14, 21, 24, 25, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,
            42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
            59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 74, 77, 79, 82, 86,
            98],
           dtype='int64')
0       265
14      174
21      654
24        7
25     2186
29     5607
31    11448
32       60
33    20215
34      212
35    29818
36       13
37    38113
38       18
39    42414
40    41780
41      302
42    38088
43    30818
44    23793
45      272
46    17499
47    11963
48     8425
49     6036
50     4402
51       63
52     3456
53     2703
54     2179
55     1846
56       20
57     1665
58     1346
59     1213
60        7
61     1111
62       12
63      997
64      852
66      749
67        2
68      667
69        5
71      539
72        7
74      429
77        3
79      275
82        1
86      113
98       20
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 354862
__________________
(354862,)
None

In [94]:
"""This column has a lot of incoherences, this incoherences will be replaced for NaN"""
print(data_2000_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2000_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index())

Index(['*', '*  *', '*  4', '* *', '* 0', '* 01', '* 02', '* 06', '* 07',
       '* 10',
       ...
       '99', '99 9', '99**', '9900', '9909', '9949', '999', '999*', '9998',
       '9999'],
      dtype='object', length=1632)
*          17
*  *        6
*  4        1
* *        11
* 0         1
* 01        5
* 02        1
* 06        2
* 07        3
* 10        1
* 13        1
* 14        1
* 20        1
* 24        1
* 28        1
* 30        2
* 70        1
* 89        1
**         43
** 0        1
****       39
***0        1
***1        1
***2        1
***3        1
***9        2
**01        1
**05        1
**1*        1
**14        1
        ...
8811        1
8829        1
8849        1
8888        1
9          51
9  9       10
9 9        11
9 99       21
9***        2
9103        1
9113        1
9201        1
9202        1
9206        1
9211        1
952         1
9807        1
9813        1
9822        1
9836        1
99         35
99 9       25
99**        1
9900        1
9909        1
9949        1
999       153
999*        1
9998        1
9999    27695
Name: ESTU_IES_COD_DESEADA, dtype: int64

In [95]:
"""The codes of the universities are of 4 digits, so i will replace the codes that has some '*', or space (' '), or that has more
or less than 4 digits"""
for i in data_2000_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '*' in i:
        data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif ' ' in i:
        data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif len(i)<4:
        data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif len(i)>4:
        data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')

In [96]:
"""Looks OK, just replace the * values for NaN, and the np.nan values for strings 'NaN'."""
print(data_2000_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_RAZONINSTITUTO']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*      453
1     6668
2    91289
3    46148
4    37703
5    43637
6    33567
7    23380
8    42835
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 29182
__________________
Elementos diferentes de null/NaN: 325680
__________________
(325680,)
None

In [97]:
"""Will be replace for '*' values"""
data_2000_2['ESTU_RAZONINSTITUTO'] = data_2000_2['ESTU_RAZONINSTITUTO'].replace('*', 'NaN')
data_2000_2['ESTU_RAZONINSTITUTO'] = data_2000_2['ESTU_RAZONINSTITUTO'].replace(np.nan, 'NaN')

In [98]:
"""Into this column i found a LOT of incoherences."""
print(data_2000_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2000_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_CARRDESEADA_COD']))

Index(['*', '*   *', '*  2*', '* *', '* * 0', '* * 1', '* * 3', '* * 4',
       '* *0', '* *1',
       ...
       '99113', '99155', '999', '999 9', '99909', '9999', '99990', '99991',
       '99998', '99999'],
      dtype='object', length=4908)
*           12
*   *        1
*  2*        1
* *          8
* * 0        1
* * 1        4
* * 3        1
* * 4        1
* *0         2
* *1         3
* *2         2
* *3         1
* *4         2
* *5         1
* *9         1
* 07         1
* 1 *        3
* 1 2        1
* 1*         1
* 11         1
* 110        1
* 117        1
* 118        1
* 123        1
* 161        1
* 18         1
* 2*         1
* 24         1
* 33         1
* 4 *        1
         ...
98112        1
98113        3
98114        2
98119        5
98125        1
98128        1
98142        1
98145        1
98155        1
98186        1
98197        1
98201        2
98210        1
99           9
99  9        2
99 9         6
99 99       10
99091        1
99099        1
99108        1
99113        1
99155        1
999         70
999 9       11
99909        2
9999       359
99990        1
99991        1
99998        1
99999    24410
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 15720
__________________
Elementos diferentes de null/NaN: 339142
__________________
(339142,)
None

In [99]:
"""Here i'm replacing the values with anomalies for NaN, and i will let the rows that has got any number because the 
codes of the programs are so diverse. And then i will put NaN where the values has some space or np.nan"""
for i in data_2000_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2000_2['ESTU_CARRDESEADA_COD'] = data_2000_2['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif(' ' in i):
        data_2000_2['ESTU_CARRDESEADA_COD'] = data_2000_2['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    #And i decided to replace the code 0 or 00... for 'NaN' because there is no program with that code
    elif i!='NaN':
        if int(i)==0:
            data_2000_2['ESTU_CARRDESEADA_COD'] = data_2000_2['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')

data_2000_2['ESTU_CARRDESEADA_COD'] = data_2000_2['ESTU_CARRDESEADA_COD'].replace(np.nan, 'NaN')

In [100]:
"""In this column i found just an incoherence with the * values"""
print(data_2000_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2000_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_CARRDESEADA_RAZON']))

Index(['*', '1', '2', '3', '4', '5', '6'], dtype='object')
*      277
1    96330
2    83232
3    91159
4    26027
5    28603
6    10772
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 18462
__________________
Elementos diferentes de null/NaN: 336400
__________________
(336400,)
None

In [101]:
"""The changes are done here."""
data_2000_2['ESTU_CARRDESEADA_RAZON'] = data_2000_2['ESTU_CARRDESEADA_RAZON'].replace('*', 'NaN')
data_2000_2['ESTU_CARRDESEADA_RAZON'] = data_2000_2['ESTU_CARRDESEADA_RAZON'].replace(np.nan, 'NaN')

In [102]:
"""Incoherences with the * and the + values. I decide to let the + values as +9 human being in home,
and the * as NaN"""
print(data_2000_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2000_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_PERSONAS_HOGAR']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      875
+    16277
1      839
2    10092
3    34503
4    76612
5    89426
6    60176
7    33852
8    18915
9    11081
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 2214
__________________
Elementos diferentes de null/NaN: 352648
__________________
(352648,)
None

In [103]:
data_2000_2['FAMI_PERSONAS_HOGAR'] = data_2000_2['FAMI_PERSONAS_HOGAR'].replace('*', 'NaN')
data_2000_2['FAMI_PERSONAS_HOGAR'] = data_2000_2['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2000_2['FAMI_PERSONAS_HOGAR'] = data_2000_2['FAMI_PERSONAS_HOGAR'].replace(np.nan, 'NaN')

In [104]:
"""Has got some * values, this values will be replaced for NaN"""
print(data_2000_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2000_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_VIVIENDA_PROPIA']))

Index(['*', 'N', 'S'], dtype='object')
*        31
N     94751
S    246076
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 14004
__________________
Elementos diferentes de null/NaN: 340858
__________________
(340858,)
None

In [105]:
data_2000_2['FAMI_VIVIENDA_PROPIA'] = data_2000_2['FAMI_VIVIENDA_PROPIA'].replace('*', 'NaN')
data_2000_2['FAMI_VIVIENDA_PROPIA'] = data_2000_2['FAMI_VIVIENDA_PROPIA'].replace(np.nan, 'NaN')

In [106]:
"""This column must be like a boolean, with just two values (S/N) but it has four different values, so i decided to
replace the * values for NaN, and replace the 1 for S, and the 2 for N because of the amounts, and ofcourse the np.nan 
for string 'NaN'."""
print(data_2000_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2000_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_DEUDA_VIVIENDA']))

Index(['*', '1', '2', 'N', 'S'], dtype='object')
*        15
1        12
2        36
N    164956
S     57085
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 132758
__________________
Elementos diferentes de null/NaN: 222104
__________________
(222104,)
None

In [107]:
data_2000_2['FAMI_DEUDA_VIVIENDA'] = data_2000_2['FAMI_DEUDA_VIVIENDA'].replace('*', 'NaN')
data_2000_2['FAMI_DEUDA_VIVIENDA'] = data_2000_2['FAMI_DEUDA_VIVIENDA'].replace('1', 'S')
data_2000_2['FAMI_DEUDA_VIVIENDA'] = data_2000_2['FAMI_DEUDA_VIVIENDA'].replace('2', 'N')
data_2000_2['FAMI_DEUDA_VIVIENDA'] = data_2000_2['FAMI_DEUDA_VIVIENDA'].replace(np.nan, 'NaN')

In [108]:
"""I really don't know what means the 0..."""
print(data_2000_2['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2000_2['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_APORTANTES']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       652
+       293
0      1702
1    186479
2    127341
3     23267
4      6674
5      1790
6       623
7       238
8       119
9        77
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 5607
__________________
Elementos diferentes de null/NaN: 349255
__________________
(349255,)
None

In [109]:
"""The 0 counts, so i will replace the simbol + for '+9' and '*' for 'NaN'"""
data_2000_2['FAMI_APORTANTES'] = data_2000_2['FAMI_APORTANTES'].replace('+', '+9')
data_2000_2['FAMI_APORTANTES'] = data_2000_2['FAMI_APORTANTES'].replace('*', 'NaN')
data_2000_2['FAMI_APORTANTES'] = data_2000_2['FAMI_APORTANTES'].replace(np.nan, 'NaN')

In [110]:
"""In this column there is some '*' that will be replaced for 'NaN' and the np.nan too"""
print(data_2000_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2000_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_INGRESO_FMILIAR_MENSUAL']))

Index(['*', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       154
0     90451
1    139851
2     59043
3     32157
4     12181
5      5304
6      3233
7      1683
8      1259
9      1992
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 7554
__________________
Elementos diferentes de null/NaN: 347308
__________________
(347308,)
None

In [111]:
data_2000_2['FAMI_APORTANTES'] = data_2000_2['FAMI_APORTANTES'].replace('*', 'NaN')
data_2000_2['FAMI_APORTANTES'] = data_2000_2['FAMI_APORTANTES'].replace(np.nan, 'NaN')

In [112]:
"""Here the '*' will be replaced for 'NaN' and the np.nan too"""
print(data_2000_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2000_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_LEE_ESCRIBE_PADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       157
N     14185
S    310143
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 30377
__________________
Elementos diferentes de null/NaN: 324485
__________________
(324485,)
None

In [113]:
data_2000_2['FAMI_LEE_ESCRIBE_PADRE'] = data_2000_2['FAMI_LEE_ESCRIBE_PADRE'].replace('*', 'NaN')
data_2000_2['FAMI_LEE_ESCRIBE_PADRE'] = data_2000_2['FAMI_LEE_ESCRIBE_PADRE'].replace(np.nan, 'NaN')

In [114]:
"""Here the '*' will be replaced for 'NaN' and the np.nan too"""
print(data_2000_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2000_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_LEE_ESCRIBE_MADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       199
N     13128
S    331082
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 10453
__________________
Elementos diferentes de null/NaN: 344409
__________________
(344409,)
None

In [115]:
data_2000_2['FAMI_LEE_ESCRIBE_PADRE'] = data_2000_2['FAMI_LEE_ESCRIBE_PADRE'].replace('*', 'NaN')
data_2000_2['FAMI_LEE_ESCRIBE_PADRE'] = data_2000_2['FAMI_LEE_ESCRIBE_PADRE'].replace(np.nan, 'NaN')

In [116]:
"""Here the same treatment, but the 9 will be replaced for 'NaN' too"""
print(data_2000_2['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2000_2['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_EDUCA_PADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      3772
1     18816
2      3879
3    143497
4     77995
5     17344
6     15463
7     26599
8     10412
9         1
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 37084
__________________
Elementos diferentes de null/NaN: 317778
__________________
(317778,)
None

In [117]:
data_2000_2['FAMI_EDUCA_PADRE'] = data_2000_2['FAMI_EDUCA_PADRE'].replace('9', 'NaN')
data_2000_2['FAMI_EDUCA_PADRE'] = data_2000_2['FAMI_EDUCA_PADRE'].replace('*', 'NaN')
data_2000_2['FAMI_EDUCA_PADRE'] = data_2000_2['FAMI_EDUCA_PADRE'].replace(np.nan, 'NaN')

In [118]:
"""The same treatment"""
print(data_2000_2['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2000_2['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_EDUCA_MADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*      3856
1     15742
2      4077
3    153266
4     91878
5     22419
6     12741
7     19957
8      9045
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 21881
__________________
Elementos diferentes de null/NaN: 332981
__________________
(332981,)
None

In [119]:
data_2000_2['FAMI_EDUCA_MADRE'] = data_2000_2['FAMI_EDUCA_MADRE'].replace('*', 'NaN')
data_2000_2['FAMI_EDUCA_MADRE'] = data_2000_2['FAMI_EDUCA_MADRE'].replace(np.nan, 'NaN')

In [120]:
"""The '*' will be replaced for 'NaN' and the number with just 1 character will be replaced for themselves but with 
one 0 before (ex: 3->03)"""
print(data_2000_2['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2000_2['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_OCUPA_PADRE']))

Index(['*', '0', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10',
       '11', '12', '2', '3', '5', '6', '8', '9'],
      dtype='object')
*      7803
0         9
01     3554
02     5874
03    15364
04    21257
05    98334
06    42778
07     2791
08    78105
09    16656
10     4502
11      180
12    11866
2         9
3         1
5        15
6         7
8        39
9         5
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 45713
__________________
Elementos diferentes de null/NaN: 309149
__________________
(309149,)
None

In [121]:
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace('0', '00')
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace('2', '02')
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace('3', '03')
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace('5', '05')
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace('6', '06')
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace('8', '08')
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace('9', '09')
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace('*', 'NaN')
data_2000_2['FAMI_OCUPA_PADRE'] = data_2000_2['FAMI_OCUPA_PADRE'].replace(np.nan, 'NaN')

In [122]:
"""Same treatment that the last one"""
print(data_2000_2['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2000_2['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_OCUPA_MADRE']))

Index(['*', '0', '01', '02', '03', '04', '05', '06', '07', '08', '09', '1',
       '10', '11', '12', '2', '5', '6', '8', '9'],
      dtype='object')
*       6286
0         61
01      1447
02      2993
03      5430
04     19758
05     37920
06     34454
07      2223
08     21318
09      4498
1          4
10    185422
11      1348
12      6416
2         12
5          6
6          7
8         10
9          1
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 25248
__________________
Elementos diferentes de null/NaN: 329614
__________________
(329614,)
None

In [123]:
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace('0', '00')
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace('1', '01')
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace('2', '02')
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace('5', '05')
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace('6', '06')
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace('8', '08')
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace('9', '09')
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace('*', 'NaN')
data_2000_2['FAMI_OCUPA_MADRE'] = data_2000_2['FAMI_OCUPA_MADRE'].replace(np.nan, 'NaN')

In [124]:
"""The simbol '+' will be replaced for '+9' and the '*' and the np.nan will be replaced for 'NaN'."""
print(data_2000_2['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2000_2['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_NUM_HERMANOS']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      938
+     9262
0    14756
1    61235
2    85155
3    61027
4    37496
5    23128
6    15292
7    10459
8     7244
9     5034
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 23836
__________________
Elementos diferentes de null/NaN: 331026
__________________
(331026,)
None

In [125]:
data_2000_2['FAMI_NUM_HERMANOS'] = data_2000_2['FAMI_NUM_HERMANOS'].replace('+', '+9')
data_2000_2['FAMI_NUM_HERMANOS'] = data_2000_2['FAMI_NUM_HERMANOS'].replace('*', 'NaN')
data_2000_2['FAMI_NUM_HERMANOS'] = data_2000_2['FAMI_NUM_HERMANOS'].replace(np.nan, 'NaN')

In [126]:
"""The same that the last one"""
print(data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       295
+       271
0    175243
1     87520
2     36835
3     11977
4      4164
5      1640
6       683
7       380
8       169
9        98
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 35587
__________________
Elementos diferentes de null/NaN: 319275
__________________
(319275,)
None

In [127]:
data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')
data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('*', 'NaN')
data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace(np.nan, 'NaN')

In [128]:
"""The same that the last one"""
print(data_2000_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2000_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_POSICION_HERMANOS']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*        71
+      4363
1    114955
2     89267
3     57139
4     30787
5     16923
6     10043
7      6740
8      4457
9      3154
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 16963
__________________
Elementos diferentes de null/NaN: 337899
__________________
(337899,)
None

In [129]:
data_2000_2['FAMI_POSICION_HERMANOS'] = data_2000_2['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2000_2['FAMI_POSICION_HERMANOS'] = data_2000_2['FAMI_POSICION_HERMANOS'].replace('*', 'NaN')
data_2000_2['FAMI_POSICION_HERMANOS'] = data_2000_2['FAMI_POSICION_HERMANOS'].replace(np.nan, 'NaN')

In [130]:
"""Put NaN where '*' or np.nan"""
print(data_2000_2['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2000_2['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2000_2['FAMI_SOST_PERSONAL']))

Index(['*', 'N', 'P', 'T'], dtype='object')
*        12
N     17065
P     38753
T    286569
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 12463
__________________
Elementos diferentes de null/NaN: 342399
__________________
(342399,)
None

In [131]:
data_2000_2['FAMI_SOST_PERSONAL'] = data_2000_2['FAMI_SOST_PERSONAL'].replace('*', 'NaN')
data_2000_2['FAMI_SOST_PERSONAL'] = data_2000_2['FAMI_SOST_PERSONAL'].replace(np.nan, 'NaN')

In [132]:
"""The same that the last one"""
print(data_2000_2['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2000_2['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_TRABAJA']))

Index(['*', 'N', 'S'], dtype='object')
*         7
N    307159
S     35629
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 12067
__________________
Elementos diferentes de null/NaN: 342795
__________________
(342795,)
None

In [133]:
data_2000_2['ESTU_TRABAJA'] = data_2000_2['ESTU_TRABAJA'].replace('*', 'NaN')
data_2000_2['ESTU_TRABAJA'] = data_2000_2['ESTU_TRABAJA'].replace(np.nan, 'NaN')

In [134]:
"""The same that the last one"""
print(data_2000_2['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_ACT_PROX_ANNO']))

Index(['*', '1', '2', '3'], dtype='object')
*       119
1    103527
2      7368
3    242182
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 1666
__________________
Elementos diferentes de null/NaN: 353196
__________________
(353196,)
None

In [135]:
data_2000_2['ESTU_ACT_PROX_ANNO'] = data_2000_2['ESTU_ACT_PROX_ANNO'].replace('*', 'NaN')
data_2000_2['ESTU_ACT_PROX_ANNO'] = data_2000_2['ESTU_ACT_PROX_ANNO'].replace(np.nan, 'NaN')

In [136]:
"""just change the np.nan value for 'NaN'"""
print(data_2000_2['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2000_2['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2000_2['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A    322428
B      1569
F     30864
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [137]:
data_2000_2['COLE_CALENDARIO'] = data_2000_2['COLE_CALENDARIO'].replace(np.nan, 'NaN')

In [138]:
"""This column will stand like it is at this moment"""
print(data_2000_2['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2000_2['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2000_2['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    1861
2.0      59
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 352942
__________________
Elementos diferentes de null/NaN: 1920
__________________
(1920,)
None

In [139]:
"""Just will change the np.nan value for a 'NaN'"""
print(data_2000_2['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2000_2['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2000_2['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              190524
ACADEMICO Y TECNICO    104497
NORMALISTA               6519
TECNICO                 53321
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [140]:
data_2000_2['COLE_CARACTER'] = data_2000_2['COLE_CARACTER'].replace(np.nan, 'NaN')

In [141]:
"""Just will change the np.nan value for a 'NaN'"""
print(data_2000_2['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2000_2['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2000_2['COLE_DEPTO_UBICACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             507
ANTIOQUIA          52108
ARAUCA              1579
ATLANTICO          26411
BOGOTA             71985
BOLIVAR            17949
BOYACA             14121
CALDAS              9919
CAQUETA             2600
CASANARE            2084
CAUCA               1405
CESAR               8451
CHOCO               3210
CORDOBA            14608
CUNDINAMARCA       21885
GUAINIA              117
GUAVIARE             289
HUILA               8809
LA GUAJIRA          4616
MAGDALENA          10315
META                6403
NARIÑO               405
NORTE SANTANDER    12527
PUTUMAYO            1572
QUINDIO             5761
RISARALDA           9104
SAN ANDRES           640
SANTANDER          20547
SUCRE               7301
TOLIMA             13483
VALLE               3837
VAUPES                91
VICHADA              222
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [142]:
data_2000_2['COLE_DEPTO_UBICACION'] = data_2000_2['COLE_DEPTO_UBICACION'].replace(np.nan, 'NaN')

In [143]:
"""Just chage the np.nan value for a 'NaN'"""
print(data_2000_2['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2000_2['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2000_2['COLE_MCPIO_UBICACION']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YOPAL', 'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=901)
ABEJORRAL                    167
ABREGO                       126
ABRIAQUI                      22
ACACIAS                      451
ACANDI                        40
ACEVEDO                       75
ACHI                          50
AGRADO                        67
AGUA DE DIOS                 166
AGUACHICA                    986
AGUADA                        15
AGUADAS                      196
AGUAZUL                      213
AGUSTIN CODAZZI              415
AIPE                         162
ALBAN                         58
ALBANIA                       93
ALEJANDRIA                    54
ALGARROBO                     34
ALGECIRAS                    144
ALMAGUER                      18
ALMEIDA                        8
ALPUJARRA                     52
ALTAMIRA                      24
ALTO BAUDO (PIE DE PATO)      14
ALTOS DEL ROSARIO             21
ALVARADO                      49
AMAGA                        322
AMALFI                       161
AMBALEMA                     103
                            ...
VILLAGARZON                  106
VILLAGOMEZ                    51
VILLAHERMOSA                  79
VILLAMARIA                   482
VILLANUEVA                   755
VILLAPINZON                  173
VILLARRICA                    62
VILLAVICENCIO               4341
VILLAVIEJA                    43
VILLETA                      271
VIOTA                        116
VIRACACHA                     20
VISTA HERMOSA                 20
VITERBO                      196
YACOPI                        63
YAGUARA                       73
YALI                          49
YARUMAL                      388
YOLOMBO                      140
YONDO (CASABE)                87
YOPAL                        837
YUMBO                        153
ZAMBRANO                      91
ZAPATOCA                     105
ZAPAYAN                       21
ZARAGOZA                     161
ZETAQUIRA                     74
ZIPACON                       24
ZIPAQUIRA                   1004
ZONA BANANERA                240
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [144]:
data_2000_2['COLE_MCPIO_UBICACION'] = data_2000_2['COLE_MCPIO_UBICACION'].replace(np.nan, 'NaN')

In [145]:
"""the same that the last one"""
print(data_2000_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_RESIDE_DEPTO']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             505
ANTIOQUIA          51972
ARAUCA              1613
ATLANTICO          27134
BOGOTA             72937
BOLIVAR            17375
BOYACA             14382
CALDAS             10211
CAQUETA             2596
CASANARE            2098
CAUCA               1331
CESAR               8480
CHOCO               3213
CORDOBA            14624
CUNDINAMARCA       20923
GUAINIA              117
GUAVIARE             365
HUILA               8846
LA GUAJIRA          4613
MAGDALENA          10044
META                6352
NARIÑO               403
NORTE SANTANDER    12505
PUTUMAYO            1571
QUINDIO             5764
RISARALDA           9133
SAN ANDRES           642
SANTANDER          20723
SUCRE               7200
TOLIMA             13011
VALLE               3868
VAUPES                91
VICHADA              219
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [146]:
data_2000_2['ESTU_RESIDE_DEPTO'] = data_2000_2['ESTU_RESIDE_DEPTO'].replace(np.nan, 'NaN')

In [147]:
"""The same that the last one"""
print(data_2000_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_RESIDE_MCPIO']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YOLOMBO', 'YOPAL', 'YOTOCO', 'YUMBO', 'ZAMBRANO', 'ZAPATOCA',
       'ZARAGOZA', 'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA'],
      dtype='object', length=890)
ABEJORRAL                174
ABREGO                   124
ABRIAQUI                  23
ACACIAS                  455
ACANDI                    40
ACEVEDO                   74
ACHI                      53
AGRADO                    66
AGUA DE DIOS             263
AGUACHICA                961
AGUADA                    15
AGUADAS                  197
AGUAZUL                  224
AGUSTIN CODAZZI          413
AIPE                     157
ALBAN                    297
ALBANIA                   60
ALCALA                     3
ALEJANDRIA                84
ALGECIRAS                143
ALMAGUER                  18
ALMEIDA                    8
ALPUJARRA                 51
ALTAMIRA                  17
ALTO BAUDO (PIE DE P      14
ALTOS DEL ROSARIO         10
ALVARADO                  47
AMAGA                    341
AMALFI                   162
AMBALEMA                 102
                        ...
VILLA DEL ROSARIO        654
VILLA GUAMEZ (LA HOR      59
VILLAGARZON              107
VILLAGOMEZ                50
VILLAHERMOSA              78
VILLAMARIA               477
VILLANUEVA               752
VILLAPINZON              165
VILLARRICA                66
VILLAVICENCIO           4218
VILLAVIEJA                34
VILLETA                  277
VIOTA                     83
VIRACACHA                 20
VISTA HERMOSA             15
VITERBO                  189
YACOPI                    63
YAGUARA                   73
YALI                      48
YARUMAL                  422
YOLOMBO                  139
YOPAL                    888
YOTOCO                     1
YUMBO                    154
ZAMBRANO                  88
ZAPATOCA                 110
ZARAGOZA                 162
ZETAQUIRA                 74
ZIPACON                   25
ZIPAQUIRA                984
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 354861
__________________
(354861,)
None

In [148]:
data_2000_2['ESTU_RESIDE_MCPIO'] = data_2000_2['ESTU_RESIDE_MCPIO'].replace(np.nan, 'NaN')

Now i can encode the obtained Dataframes.

In [153]:
df_2000_1 = label_encoder(data_2000)
df_2000_2 = label_encoder(data_2000_2)

In [168]:
df_2000_1.fillna(-1, inplace = True)
df_2000_2.fillna(-1, inplace = True)

### Now the second file it's ready to be used in a Predictor.

# The Last Step is save the obtained DataFrames as Files

In [175]:
df_2000_1.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2000_1.csv', sep=';', index = False)
df_2000_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2000_2.csv', sep=';', index = False)