In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2002 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20021-RGSTRO-CLFCCN-V1-0.txt', delimiter="|",
                       encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2002.shape

(63371, 57)

In [4]:
data_2002.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB20021000023,SB20021000024,SB20021000025
COLE_COD_ICFES,83378,11957,11957
COLE_NOMBRE_SEDE,CENTRO DE CAPACITACION BOLIVAR CENCABO,INSTITUTO TECNICO INDUSTRIAL,INSTITUTO TECNICO INDUSTRIAL
IND_ANNO_TERMINO_BACHILLERATO,2001,2002,2002
COLE_JORNADA,COMPLETA U ORDINARIA,COMPLETA U ORDINARIA,COMPLETA U ORDINARIA
COLE_VALOR_PENSION,3,8,8
ESTU_GENERO,F,M,F
ESTU_NACIMIENTO_DIA,5,28,5
ESTU_NACIMIENTO_MES,12,10,4
ESTU_NACIMIENTO_ANNO,1981,1979,1980
ESTU_DEPTO_PRESENTACION,BOGOTA,NARIÑO,NARIÑO
ESTU_MCPIO_PRESENTACION,BOGOTA D.C.,TUMACO,TUMACO
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,44,46,40
PUNT_MATEMATICAS,34,47,47
PUNT_FILOSOFIA,30,39,35
PUNT_FISICA,47,45,40
PUNT_HISTORIA,39,39,44
PUNT_QUIMICA,46,39,46
PUNT_LENGUAJE,40,35,40
PUNT_GEOGRAFIA,44,51,26
COD_INTERDISCIPLINAR,43,44,44
PUNT_INTERDISCIPLINAR,61,34,34
COD_IDIOMA,51,51,51
PUNT_IDIOMA,42,35,35
ESTU_IES_COD_DESEADA,1121,1730,1101
ESTU_RAZONINSTITUTO,5,4,6
ESTU_CARRDESEADA_COD,44102,48103,48258
ESTU_CARRDESEADA_RAZON,2,1,4
FAMI_PERSONAS_HOGAR,3,7,6
FAMI_VIVIENDA_PROPIA,N,S,S
FAMI_DEUDA_VIVIENDA,NaN,N,N
FAMI_APORTANTES,1,NaN,2
FAMI_INGRESO_FMILIAR_MENSUAL,1,2,0
FAMI_LEE_ESCRIBE_PADRE,S,S,NaN
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,*,NaN,NaN
FAMI_EDUCA_MADRE,*,4,3
FAMI_OCUPA_PADRE,06,*,NaN
FAMI_OCUPA_MADRE,10,NaN,10
FAMI_NUM_HERMANOS,1,3,4
FAMI_NUM_HERMANOS_EDUSUPERIOR,1,0,4
FAMI_POSICION_HERMANOS,2,1,NaN
FAMI_SOST_PERSONAL,NaN,T,P
ESTU_TRABAJA,NaN,N,S
ESTU_ACT_PROX_ANNO,3,3,3
COLE_CALENDARIO,F,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO Y TECNICO,TECNICO,TECNICO
COLE_DEPTO_UBICACION,BOGOTA,NARIÑO,NARIÑO
COLE_MCPIO_UBICACION,BOGOTÁ D.C.,TUMACO,TUMACO
ESTU_TIPO_DOCUMENTO,C,C,C
ESTU_RESIDE_DEPTO,BOGOTA,NARIÑO,NARIÑO
ESTU_RESIDE_MCPIO,BOGOTA D.C.,TUMACO,TUMACO

In [5]:
##DELETING columns
data_2002 = data_2002.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [6]:
"""PERFECT!"""
print(data_2002['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2002['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2002['COLE_COD_ICFES']))

Int64Index([   182,    265,   1362,   1503,   2998,   3145,   3327,   3418,
              3459,   4234,
            ...
            101659, 101667, 101675, 101691, 101709, 101717, 101725, 101733,
            101741, 101758],
           dtype='int64', length=1720)
182        70
265       348
1362       73
1503       50
2998       13
3145       43
3327       15
3418       44
3459       73
4234       31
5843       17
6239       13
6973        5
6981       16
6999       29
7013       56
7054       24
7070      158
7088       62
7153        8
7237        9
7500        6
7872       17
8581      124
9589       39
9696       23
9985       24
10199      29
10967      42
11213     187
         ...
101279     12
101295     27
101303     33
101311     15
101329      3
101345      5
101352     33
101360      2
101378      4
101386     26
101394     44
101436     17
101444     28
101451      5
101469     27
101493      4
101501     13
101543     13
101626      8
101634      4
101659     19
101667     13
101675     23
101691      6
101709     17
101717     42
101725     51
101733      7
101741     10
101758     60
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [7]:
print(data_2002['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2002['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2002['IND_ANNO_TERMINO_BACHILLERATO']))

Index(['1984', '1985', '1991', '1992', '1997', '1998', '1999', '2 *0', '2 0*',
       '20', '20 1', '20 2', '20*', '2000', '2001', '2002'],
      dtype='object')
1984        1
1985        2
1991        2
1992        1
1997        2
1998        2
1999        6
2 *0        1
2 0*        1
20          1
20 1        1
20 2        2
20*         4
2000      294
2001    16834
2002    45935
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 282
__________________
Elementos diferentes de null/NaN: 63089
__________________
(63089,)
None

In [8]:
for i in data_2002['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index:
    if '*' in i:
        data_2002['IND_ANNO_TERMINO_BACHILLERATO'] = data_2002['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif ' ' in i:
        data_2002['IND_ANNO_TERMINO_BACHILLERATO'] = data_2002['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
data_2002['IND_ANNO_TERMINO_BACHILLERATO'] = data_2002['IND_ANNO_TERMINO_BACHILLERATO'].replace(np.nan, 'NaN')

In [9]:
"""PERFECT!"""
print(data_2002['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2002['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2002['COLE_JORNADA']))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA-DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    15334
MAÑANA                  25200
NOCHE                   14636
SABATINA-DOMINICAL        595
TARDE                    7606
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [11]:
print(data_2002['COLE_VALOR_PENSION'].value_counts().index)
print(data_2002['COLE_VALOR_PENSION'].value_counts())
print(missing_data(data_2002['COLE_VALOR_PENSION']))

Index(['8', 8.0, '1', 1.0, 2.0, '2', '3', 3.0, 7.0, '4', '5', 4.0, 5.0, '6',
       6.0, '7', '*'],
      dtype='object')
8      9661
8.0    7816
1      7223
1.0    7007
2.0    5289
2      4641
3      3582
3.0    3104
7.0    2699
4      2258
5      2207
4.0    1406
5.0    1189
6      1090
6.0     867
7       762
*         5
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 2565
__________________
Elementos diferentes de null/NaN: 60806
__________________
(60806,)
None

In [12]:
for i in data_2002['COLE_VALOR_PENSION'].value_counts().index:
    if type(i) == float:
        data_2002['COLE_VALOR_PENSION'] = data_2002['COLE_VALOR_PENSION'].replace(i, str(i)[:-2])
data_2002['COLE_VALOR_PENSION'] = data_2002['COLE_VALOR_PENSION'].replace('*', 'NaN')
data_2002['COLE_VALOR_PENSION'] = data_2002['COLE_VALOR_PENSION'].replace(np.nan, 'NaN')

In [13]:
print(data_2002['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2002['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    34671
M    28700
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [14]:
data_2002['ESTU_GENERO'] = data_2002['ESTU_GENERO'].replace(np.nan, 'NaN')

In [15]:
print(data_2002['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2002['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2163
2.0     2146
3.0     2152
4.0     2139
5.0     2176
6.0     2037
7.0     2100
8.0     2112
9.0     1973
10.0    2195
11.0    2050
12.0    2133
13.0    2108
14.0    2013
15.0    2186
16.0    2030
17.0    2070
18.0    2044
19.0    2034
20.0    2255
21.0    1956
22.0    2052
23.0    2033
24.0    2104
25.0    2063
26.0    2028
27.0    2021
28.0    2107
29.0    1864
30.0    1839
31.0    1152
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 63335
__________________
(63335,)
None

In [16]:
print(data_2002['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2002['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     5294
2.0     4774
3.0     5294
4.0     5202
5.0     5452
6.0     5055
7.0     5330
8.0     5300
9.0     5471
10.0    5451
11.0    5318
12.0    5394
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 63335
__________________
(63335,)
None

In [17]:
print(data_2002['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2002['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_NACIMIENTO_ANNO']))

Float64Index([ 198.0, 1919.0, 1933.0, 1938.0, 1939.0, 1941.0, 1942.0, 1943.0,
              1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0],
             dtype='float64')
198.0         1
1919.0        1
1933.0        4
1938.0        4
1939.0        2
1941.0        3
1942.0        5
1943.0        3
1944.0        6
1945.0        8
1946.0       15
1947.0       10
1948.0       22
1949.0       11
1950.0       22
1951.0       23
1952.0       28
1953.0       47
1954.0       37
1955.0       61
1956.0       61
1957.0       62
1958.0       61
1959.0       82
1960.0      107
1961.0      123
1962.0      134
1963.0      161
1964.0      185
1965.0      223
1966.0      231
1967.0      237
1968.0      287
1969.0      295
1970.0      313
1971.0      315
1972.0      357
1973.0      339
1974.0      403
1975.0      463
1976.0      526
1977.0      634
1978.0      859
1979.0     1117
1980.0     1567
1981.0     2450
1982.0     4928
1983.0     8715
1984.0    14337
1985.0    18145
1986.0     4992
1987.0      245
1988.0        5
1989.0        9
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 90
__________________
Elementos diferentes de null/NaN: 63281
__________________
(63281,)
None

In [18]:
data_2002['ESTU_NACIMIENTO_ANNO'] = data_2002['ESTU_NACIMIENTO_ANNO'].replace(198.0, np.nan)

In [19]:
print(data_2002['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2002['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_DEPTO_PRESENTACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CORDOBA',
       'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2799
ARAUCA                12
ATLANTICO            643
BOGOTA              7651
BOLIVAR              287
BOYACA               512
CALDAS               304
CAQUETA              104
CASANARE             212
CAUCA               1829
CESAR                167
CORDOBA              258
CUNDINAMARCA        1754
GUAINIA               18
GUAVIARE              13
HUILA                577
LA GUAJIRA           132
MAGDALENA            132
META                 390
NARIÑO             10884
NORTE SANTANDER      388
PUTUMAYO              39
QUINDIO              474
RISARALDA            452
SAN ANDRES             1
SANTANDER            813
SUCRE                 16
TOLIMA               541
VALLE              31969
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [20]:
print(data_2002['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2002['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_MCPIO_PRESENTACION']))

Index(['AGUACHICA', 'ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO',
       'APARTADO', 'ARAUCA', 'ARMENIA', 'BALBOA', 'BARBACOAS',
       ...
       'TUNJA', 'TUQUERRES', 'TURBO', 'UBATE', 'VALLEDUPAR', 'VELEZ',
       'VILLAVICENCIO', 'YOPAL', 'YUMBO', 'ZARZAL'],
      dtype='object', length=129)
AGUACHICA                     2
ALBANIA                      51
ALCALA                      145
ANDALUCIA                   138
ANSERMANUEVO                 73
APARTADO                    144
ARAUCA                       12
ARMENIA                     474
BALBOA                       14
BARBACOAS                   128
BARRANCABERMEJA              76
BARRANQUILLA                643
BELLO                       350
BOGOTA D.C.                7651
BOLIVAR                      60
BUCARAMANGA                 636
BUENAVENTURA               1893
BUESACO                     152
BUGA                       1336
BUGALAGRANDE                224
CAICEDONIA                  166
CALI                      16541
CALIMA (DARIEN)             120
CALOTO                        6
CAMPOALEGRE                  33
CANDELARIA                  558
CAQUEZA                       1
CARTAGENA                   252
CARTAGO                    1254
CAUCASIA                     12
                          ...
SAN JOSE DEL GUAVIARE        13
SAN JUAN DE RIO SECO         20
SAN MARTIN                   11
SAN PABLO                   129
SANDONA                     241
SANTA MARTA                  80
SANTANDER DE QUILICHAO      215
SEVILLA                     376
SILVIA                       16
SINCELEJO                    16
SOACHA                      371
SOGAMOSO                    193
TAMINANGO                   166
TANGUA                       46
TIERRALTA                    36
TIMBIO                       27
TORO                        145
TRUJILLO                    100
TULUA                      1922
TUMACO                      845
TUNJA                       319
TUQUERRES                   472
TURBO                         1
UBATE                        49
VALLEDUPAR                  164
VELEZ                        48
VILLAVICENCIO               363
YOPAL                       154
YUMBO                       722
ZARZAL                      358
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [21]:
print(data_2002['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2002['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    10
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 63361
__________________
Elementos diferentes de null/NaN: 10
__________________
(10,)
None

In [22]:
data_2002['ESTU_LIMITA_INVIDENTE'] = data_2002['ESTU_LIMITA_INVIDENTE'].replace(np.nan, 'NaN')

In [23]:
print(data_2002['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2002['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    7
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 63364
__________________
Elementos diferentes de null/NaN: 7
__________________
(7,)
None

In [24]:
data_2002['ESTU_LIMITA_SORDOINTERPRETE'] = data_2002['ESTU_LIMITA_SORDOINTERPRETE'].replace(np.nan, 'NaN')

In [25]:
print(data_2002['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2002['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    4
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 63367
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [26]:
data_2002['ESTU_LIMITA_SORDONOINTERPRETE'] = data_2002['ESTU_LIMITA_SORDONOINTERPRETE'].replace(np.nan, 'NaN')

In [27]:
print(data_2002['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2002['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    10
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 63361
__________________
Elementos diferentes de null/NaN: 10
__________________
(10,)
None

In [28]:
data_2002['ESTU_LIMITA_MOTRIZ'] = data_2002['ESTU_LIMITA_MOTRIZ'].replace(np.nan, 'NaN')

In [29]:
print(data_2002['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2002['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_IES_COD_DESEADA']))

Index(['*', '*  *', '* *', '* 02', '* 05', '* 1', '**', '****', '*02', '*06',
       ...
       '915', '9501', '9503', '9505', '9515', '99', '99**', '999', '9994',
       '9999'],
      dtype='object', length=632)
*          4
*  *       1
* *        1
* 02       1
* 05       2
* 1        1
**         8
****       3
*02        1
*06        1
*1         2
*11        2
*16        1
*2         2
*20        1
*20*       1
*203       2
*204       1
*302       1
*40        1
*60        1
*702       1
*71        1
*88        1
0          5
0000       9
0001       1
001        7
0022       1
005        1
        ...
9 99       1
9004       1
9005       2
91         1
9100       4
9101     335
9102      75
9103     271
9104     376
9105     168
9106       1
9107      55
9109      16
9110     255
9111     472
9112      82
9113      23
9114      50
9115     140
9125       1
915        1
9501       2
9503       1
9505       1
9515       3
99         5
99**       1
999       12
9994       1
9999    4458
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 5611
__________________
Elementos diferentes de null/NaN: 57760
__________________
(57760,)
None

In [37]:
data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(np.nan, 'NaN')
data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace('nan', 'NaN')

for i in data_2002['ESTU_IES_COD_DESEADA']:
    if type(i) == float:
        data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(i, str(i))
        

for i in data_2002['ESTU_IES_COD_DESEADA']:
    if '*' in i:
        data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif ' ' in i:
        data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif i != 'NaN':
        if float(i) < 1000:
            data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')

In [39]:
print(data_2002['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2002['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_RAZONINSTITUTO']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', 'S'], dtype='object')
*       14
1     1021
2    20295
3     8158
4     5872
5     7494
6     5416
7     3901
8     6170
S       20
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 5010
__________________
Elementos diferentes de null/NaN: 58361
__________________
(58361,)
None

In [40]:
data_2002['ESTU_RAZONINSTITUTO'] = data_2002['ESTU_RAZONINSTITUTO'].replace('*', 'NaN')
data_2002['ESTU_RAZONINSTITUTO'] = data_2002['ESTU_RAZONINSTITUTO'].replace('S', 'NaN')
data_2002['ESTU_RAZONINSTITUTO'] = data_2002['ESTU_RAZONINSTITUTO'].replace(np.nan, 'NaN')

In [41]:
print(data_2002['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2002['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_CARRDESEADA_COD']))

Index(['*', '* *', '* * 1', '* * 3', '* * 6', '* *4', '* 02', '* 1*', '* 101',
       '* 3*3',
       ...
       '98114', '98119', '98144', '99', '99101', '999', '9999', '99999',
       'Negoc', 'econo'],
      dtype='object', length=2226)
*           2
* *         1
* * 1       1
* * 3       1
* * 6       1
* *4        2
* 02        1
* 1*        1
* 101       1
* 3*3       1
* 9*        1
**          6
*****       2
**1         7
**109       1
**5         1
*0          1
*1          1
*1*         2
*109        1
*11         1
*111        1
*114        1
*118        1
*124        1
*129        1
*18 1       1
*2          2
*203        1
*22         2
         ...
91 01       1
91 03       1
910 4       1
9101       30
9102       10
9103       16
9104       44
9105        8
9107        7
9108        1
911 0       1
9110        4
9112        2
9114        2
91202       1
93917       1
95122       1
96350       1
98103       1
98109       2
98114       1
98119       2
98144       1
99          2
99101       1
999        10
9999       61
99999    3512
Negoc       1
econo       1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 3212
__________________
Elementos diferentes de null/NaN: 60159
__________________
(60159,)
None

In [44]:
data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace('Negoc', 'NaN')
data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace('econo', 'NaN')
data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace(np.nan, 'NaN')
for i in data_2002['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif ' ' in i:
        data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif float(i) == 0:
        data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')

In [46]:
print(data_2002['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2002['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_CARRDESEADA_RAZON']))

Index(['*', '1', '2', '3', '4', '5', '6', 'S'], dtype='object')
*       19
1    16933
2    17560
3    15273
4     4104
5     5116
6     1254
S       20
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 3092
__________________
Elementos diferentes de null/NaN: 60279
__________________
(60279,)
None

In [47]:
data_2002['ESTU_CARRDESEADA_RAZON'] = data_2002['ESTU_CARRDESEADA_RAZON'].replace('*', 'NaN')
data_2002['ESTU_CARRDESEADA_RAZON'] = data_2002['ESTU_CARRDESEADA_RAZON'].replace('S', 'NaN')
data_2002['ESTU_CARRDESEADA_RAZON'] = data_2002['ESTU_CARRDESEADA_RAZON'].replace(np.nan, 'NaN')

In [48]:
print(data_2002['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2002['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_PERSONAS_HOGAR']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      124
+     2161
1      305
2     2498
3     8196
4    16580
5    15356
6     8823
7     4589
8     2674
9     1546
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 519
__________________
Elementos diferentes de null/NaN: 62852
__________________
(62852,)
None

In [49]:
data_2002['FAMI_PERSONAS_HOGAR'] = data_2002['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2002['FAMI_PERSONAS_HOGAR'] = data_2002['FAMI_PERSONAS_HOGAR'].replace('*', 'NaN')
data_2002['FAMI_PERSONAS_HOGAR'] = data_2002['FAMI_PERSONAS_HOGAR'].replace(np.nan, 'NaN')

In [50]:
print(data_2002['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2002['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_VIVIENDA_PROPIA']))

Index(['*', 'N', 'S'], dtype='object')
*        5
N    18704
S    43519
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 1143
__________________
Elementos diferentes de null/NaN: 62228
__________________
(62228,)
None

In [51]:
data_2002['FAMI_VIVIENDA_PROPIA'] = data_2002['FAMI_VIVIENDA_PROPIA'].replace('*', 'NaN')
data_2002['FAMI_VIVIENDA_PROPIA'] = data_2002['FAMI_VIVIENDA_PROPIA'].replace(np.nan, 'NaN')

In [52]:
print(data_2002['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2002['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_DEUDA_VIVIENDA']))

Index(['N', 'S'], dtype='object')
N    30049
S     9178
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 24144
__________________
Elementos diferentes de null/NaN: 39227
__________________
(39227,)
None

In [53]:
data_2002['FAMI_DEUDA_VIVIENDA'] = data_2002['FAMI_DEUDA_VIVIENDA'].replace(np.nan, 'NaN')

In [54]:
print(data_2002['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2002['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_APORTANTES']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      102
+       56
0      192
1    30832
2    24194
3     4904
4     1328
5      409
6      120
7       61
8       20
9       10
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 1143
__________________
Elementos diferentes de null/NaN: 62228
__________________
(62228,)
None

In [55]:
data_2002['FAMI_APORTANTES'] = data_2002['FAMI_APORTANTES'].replace('+', '+9')
data_2002['FAMI_APORTANTES'] = data_2002['FAMI_APORTANTES'].replace('*', 'NaN')
data_2002['FAMI_APORTANTES'] = data_2002['FAMI_APORTANTES'].replace(np.nan, 'NaN')

In [56]:
print(data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_INGRESO_FMILIAR_MENSUAL']))

Index(['*', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       35
0    14492
1    24012
2    10596
3     5932
4     2394
5     1107
6      811
7      580
8      503
9     1571
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 1338
__________________
Elementos diferentes de null/NaN: 62033
__________________
(62033,)
None

In [57]:
data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('*', 'NaN')
data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'].replace(np.nan, 'NaN')

In [58]:
print(data_2002['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_LEE_ESCRIBE_PADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       28
N     1726
S    55410
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 6207
__________________
Elementos diferentes de null/NaN: 57164
__________________
(57164,)
None

In [59]:
data_2002['FAMI_LEE_ESCRIBE_PADRE'] = data_2002['FAMI_LEE_ESCRIBE_PADRE'].replace('*', 'NaN')
data_2002['FAMI_LEE_ESCRIBE_PADRE'] = data_2002['FAMI_LEE_ESCRIBE_PADRE'].replace(np.nan, 'NaN')

In [60]:
print(data_2002['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_LEE_ESCRIBE_MADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       47
N     2142
S    58984
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 2198
__________________
Elementos diferentes de null/NaN: 61173
__________________
(61173,)
None

In [61]:
data_2002['FAMI_LEE_ESCRIBE_MADRE'] = data_2002['FAMI_LEE_ESCRIBE_MADRE'].replace('*', 'NaN')
data_2002['FAMI_LEE_ESCRIBE_MADRE'] = data_2002['FAMI_LEE_ESCRIBE_MADRE'].replace(np.nan, 'NaN')

In [62]:
print(data_2002['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_EDUCA_PADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', 'S'], dtype='object')
*      659
1     2450
2      614
3    24446
4    13631
5     2821
6     2717
7     5687
8     2936
S       11
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 7399
__________________
Elementos diferentes de null/NaN: 55972
__________________
(55972,)
None

In [63]:
data_2002['FAMI_EDUCA_PADRE'] = data_2002['FAMI_EDUCA_PADRE'].replace('*', 'NaN')
data_2002['FAMI_EDUCA_PADRE'] = data_2002['FAMI_EDUCA_PADRE'].replace('S', 'NaN')
data_2002['FAMI_EDUCA_PADRE'] = data_2002['FAMI_EDUCA_PADRE'].replace(np.nan, 'NaN')

In [64]:
print(data_2002['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_EDUCA_MADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', 'S'], dtype='object')
*      666
1     2441
2      726
3    26128
4    15815
5     3703
6     2330
7     4958
8     2126
S       12
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 4466
__________________
Elementos diferentes de null/NaN: 58905
__________________
(58905,)
None

In [65]:
data_2002['FAMI_EDUCA_MADRE'] = data_2002['FAMI_EDUCA_MADRE'].replace('*', 'NaN')
data_2002['FAMI_EDUCA_MADRE'] = data_2002['FAMI_EDUCA_MADRE'].replace('S', 'NaN')
data_2002['FAMI_EDUCA_MADRE'] = data_2002['FAMI_EDUCA_MADRE'].replace(np.nan, 'NaN')

In [66]:
print(data_2002['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_OCUPA_PADRE']))

Index(['*', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', 'Se'],
      dtype='object')
*      1504
01     1248
02     1539
03     3324
04     4137
05    15892
06     7735
07      421
08    13538
09     3519
10      812
11       27
12     1888
Se       10
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 7777
__________________
Elementos diferentes de null/NaN: 55594
__________________
(55594,)
None

In [67]:
data_2002['FAMI_OCUPA_PADRE'] = data_2002['FAMI_OCUPA_PADRE'].replace('*', 'NaN')
data_2002['FAMI_OCUPA_PADRE'] = data_2002['FAMI_OCUPA_PADRE'].replace('Se', 'NaN')
data_2002['FAMI_OCUPA_PADRE'] = data_2002['FAMI_OCUPA_PADRE'].replace(np.nan, 'NaN')

In [68]:
print(data_2002['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_OCUPA_MADRE']))

Index(['*', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', 'Se'],
      dtype='object')
*      1310
01      521
02      862
03     1603
04     3727
05     8048
06     6174
07      460
08     4059
09     1036
10    30653
11      238
12     1195
Se        9
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 3476
__________________
Elementos diferentes de null/NaN: 59895
__________________
(59895,)
None

In [69]:
data_2002['FAMI_OCUPA_MADRE'] = data_2002['FAMI_OCUPA_MADRE'].replace('*', 'NaN')
data_2002['FAMI_OCUPA_MADRE'] = data_2002['FAMI_OCUPA_MADRE'].replace('Se', 'NaN')
data_2002['FAMI_OCUPA_MADRE'] = data_2002['FAMI_OCUPA_MADRE'].replace(np.nan, 'NaN')

In [70]:
print(data_2002['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2002['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_NUM_HERMANOS']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      116
+     1363
0     3426
1    13782
2    15444
3     9558
4     5846
5     3659
6     2333
7     1709
8     1202
9      849
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 4084
__________________
Elementos diferentes de null/NaN: 59287
__________________
(59287,)
None

In [71]:
data_2002['FAMI_NUM_HERMANOS'] = data_2002['FAMI_NUM_HERMANOS'].replace('*', 'NaN')
data_2002['FAMI_NUM_HERMANOS'] = data_2002['FAMI_NUM_HERMANOS'].replace('+', '+9')
data_2002['FAMI_NUM_HERMANOS'] = data_2002['FAMI_NUM_HERMANOS'].replace(np.nan, 'NaN')

In [72]:
print(data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       47
+       37
0    31891
1    15467
2     6045
3     1896
4      612
5      263
6      127
7       58
8       32
9       17
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 6879
__________________
Elementos diferentes de null/NaN: 56492
__________________
(56492,)
None

In [73]:
data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('*', 'NaN')
data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')
data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace(np.nan, 'NaN')

In [74]:
print(data_2002['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2002['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_POSICION_HERMANOS']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       10
+      593
1    21050
2    16477
3     9833
4     5104
5     2759
6     1691
7     1083
8      690
9      435
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 3646
__________________
Elementos diferentes de null/NaN: 59725
__________________
(59725,)
None

In [75]:
data_2002['FAMI_POSICION_HERMANOS'] = data_2002['FAMI_POSICION_HERMANOS'].replace('*', 'NaN')
data_2002['FAMI_POSICION_HERMANOS'] = data_2002['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2002['FAMI_POSICION_HERMANOS'] = data_2002['FAMI_POSICION_HERMANOS'].replace(np.nan, 'NaN')

In [76]:
print(data_2002['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2002['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_SOST_PERSONAL']))

Index(['*', 'N', 'P', 'T'], dtype='object')
*        6
N     5199
P     8652
T    47231
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 2283
__________________
Elementos diferentes de null/NaN: 61088
__________________
(61088,)
None

In [77]:
data_2002['FAMI_SOST_PERSONAL'] = data_2002['FAMI_SOST_PERSONAL'].replace('*', 'NaN')
data_2002['FAMI_SOST_PERSONAL'] = data_2002['FAMI_SOST_PERSONAL'].replace(np.nan, 'NaN')

In [78]:
print(data_2002['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2002['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_TRABAJA']))

Index(['*', 'N', 'S'], dtype='object')
*        1
N    51562
S     9602
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 2206
__________________
Elementos diferentes de null/NaN: 61165
__________________
(61165,)
None

In [79]:
data_2002['ESTU_TRABAJA'] = data_2002['ESTU_TRABAJA'].replace('*', 'NaN')
data_2002['ESTU_TRABAJA'] = data_2002['ESTU_TRABAJA'].replace(np.nan, 'NaN')

In [80]:
print(data_2002['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2002['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_ACT_PROX_ANNO']))

Index(['*', '1', '2', '3'], dtype='object')
*       41
1    18798
2     1432
3    42578
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 522
__________________
Elementos diferentes de null/NaN: 62849
__________________
(62849,)
None

In [81]:
data_2002['ESTU_ACT_PROX_ANNO'] = data_2002['ESTU_ACT_PROX_ANNO'].replace('*', 'NaN')
data_2002['ESTU_ACT_PROX_ANNO'] = data_2002['ESTU_ACT_PROX_ANNO'].replace(np.nan, 'NaN')

In [82]:
print(data_2002['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2002['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2002['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A      915
B    43127
F    19329
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [83]:
print(data_2002['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2002['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2002['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2022
2.0     211
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 61138
__________________
Elementos diferentes de null/NaN: 2233
__________________
(2233,)
None

In [84]:
print(data_2002['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2002['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2002['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              33412
ACADEMICO Y TECNICO    13159
NORMALISTA               905
TECNICO                15895
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [85]:
print(data_2002['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2002['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2002['COLE_DEPTO_UBICACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CORDOBA',
       'CUNDINAMARCA', 'GUAINIA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2888
ARAUCA                12
ATLANTICO            636
BOGOTA              7361
BOLIVAR              285
BOYACA               501
CALDAS               278
CAQUETA              105
CASANARE             212
CAUCA               1831
CESAR                143
CORDOBA              198
CUNDINAMARCA        1930
GUAINIA               18
HUILA                576
LA GUAJIRA           150
MAGDALENA            141
META                 368
NARIÑO             10874
NORTE SANTANDER      392
PUTUMAYO              38
QUINDIO              473
RISARALDA            441
SANTANDER            812
SUCRE                  6
TOLIMA               711
VALLE              31991
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [86]:
print(data_2002['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2002['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2002['COLE_MCPIO_UBICACION']))

Index(['ACEVEDO', 'AGRADO', 'AGUA DE DIOS', 'AGUADAS', 'AGUAZUL',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA', 'ALGECIRAS',
       ...
       'VILLAVICENCIO', 'VILLETA', 'YACUANQUER', 'YONDO (CASABE)', 'YOPAL',
       'YOTOCO', 'YUMBO', 'ZAPATOCA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=282)
ACEVEDO                     13
AGRADO                      15
AGUA DE DIOS                33
AGUADAS                     13
AGUAZUL                     25
ALBAN (SAN JOSE)            78
ALBANIA                     59
ALCALA                     131
ALDANA                      80
ALGECIRAS                    3
ALMAGUER                     1
ANCUYA                      57
ANDALUCIA                  151
ANSERMA                      4
ANSERMANUEVO                67
ANTIOQUIA                   20
APARTADO                    94
APIA                        53
ARAUCA                      12
ARBOLEDA (BERRUECOS)        45
ARGELIA                     36
ARMENIA                    323
ARMERO (GUAYABAL)           16
AYAPEL                       7
BARBACOAS                  101
BARBOSA                     58
BARRANCABERMEJA             61
BARRANQUILLA               626
BELEN                       63
BELEN DE LOS ANDAQUIES      23
                          ...
TIMANA                      42
TIMBIO                      25
TOCAIMA                     21
TORO                       143
TRUJILLO                   115
TULUA                     1744
TUMACO                     773
TUNJA                      236
TUQUERRES                  320
TURBACO                     39
TURBO                       17
TUTA                        22
UBATE                       43
ULLOA                       22
VALENCIA                    25
VALLEDUPAR                  98
VELEZ                        9
VERSALLES                   65
VIJES                       70
VILLAGARZON                  7
VILLAVICENCIO              319
VILLETA                     73
YACUANQUER                  89
YONDO (CASABE)              15
YOPAL                       85
YOTOCO                     112
YUMBO                      689
ZAPATOCA                     7
ZARZAL                     328
ZIPAQUIRA                  116
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [88]:
print(data_2002['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2002['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_RESIDE_DEPTO']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CORDOBA',
       'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2799
ARAUCA                12
ATLANTICO            643
BOGOTA              7651
BOLIVAR              287
BOYACA               512
CALDAS               304
CAQUETA              104
CASANARE             212
CAUCA               1829
CESAR                167
CORDOBA              258
CUNDINAMARCA        1754
GUAINIA               18
GUAVIARE              13
HUILA                577
LA GUAJIRA           132
MAGDALENA            132
META                 390
NARIÑO             10884
NORTE SANTANDER      388
PUTUMAYO              39
QUINDIO              474
RISARALDA            452
SAN ANDRES             1
SANTANDER            813
SUCRE                 16
TOLIMA               541
VALLE              31969
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [89]:
print(data_2002['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2002['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_RESIDE_MCPIO']))

Index(['AGUACHICA', 'ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO',
       'APARTADO', 'ARAUCA', 'ARMENIA', 'BALBOA', 'BARBACOAS',
       ...
       'TUNJA', 'TUQUERRES', 'TURBO', 'UBATE', 'VALLEDUPAR', 'VELEZ',
       'VILLAVICENCIO', 'YOPAL', 'YUMBO', 'ZARZAL'],
      dtype='object', length=129)
AGUACHICA                     2
ALBANIA                      51
ALCALA                      145
ANDALUCIA                   138
ANSERMANUEVO                 73
APARTADO                    144
ARAUCA                       12
ARMENIA                     474
BALBOA                       14
BARBACOAS                   128
BARRANCABERMEJA              76
BARRANQUILLA                643
BELLO                       350
BOGOTA D.C.                7651
BOLIVAR                      60
BUCARAMANGA                 636
BUENAVENTURA               1893
BUESACO                     152
BUGA                       1336
BUGALAGRANDE                224
CAICEDONIA                  166
CALI                      16541
CALIMA (DARIEN)             120
CALOTO                        6
CAMPOALEGRE                  33
CANDELARIA                  558
CAQUEZA                       1
CARTAGENA                   252
CARTAGO                    1254
CAUCASIA                     12
                          ...
SAN JOSE DEL GUAVIARE        13
SAN JUAN DE RIO SECO         20
SAN MARTIN                   11
SAN PABLO                   129
SANDONA                     241
SANTA MARTA                  80
SANTANDER DE QUILICHAO      215
SEVILLA                     376
SILVIA                       16
SINCELEJO                    16
SOACHA                      371
SOGAMOSO                    193
TAMINANGO                   166
TANGUA                       46
TIERRALTA                    36
TIMBIO                       27
TORO                        145
TRUJILLO                    100
TULUA                      1922
TUMACO                      845
TUNJA                       319
TUQUERRES                   472
TURBO                         1
UBATE                        49
VALLEDUPAR                  164
VELEZ                        48
VILLAVICENCIO               363
YOPAL                       154
YUMBO                       722
ZARZAL                      358
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

## TARGETS

In [90]:
print(data_2002['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2002['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_BIOLOGIA']))

Float64Index([ 0.0, 13.0, 21.0, 25.0, 29.0, 31.0, 34.0, 36.0, 38.0, 40.0, 41.0,
              43.0, 44.0, 46.0, 47.0, 48.0, 50.0, 51.0, 52.0, 54.0, 55.0, 56.0,
              58.0, 59.0, 60.0, 62.0, 63.0, 65.0, 67.0, 69.0, 71.0, 77.0],
             dtype='float64')
0.0        2
13.0       9
21.0      24
25.0     131
29.0     340
31.0     867
34.0    1699
36.0    2880
38.0    4436
40.0    6035
41.0    6885
43.0    7559
44.0    7401
46.0    6654
47.0    5491
48.0    4236
50.0    2984
51.0    2155
52.0    1376
54.0     870
55.0     535
56.0     325
58.0     199
59.0     131
60.0      60
62.0      43
63.0      25
65.0       6
67.0       3
69.0       3
71.0       1
77.0       1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 63366
__________________
(63366,)
None

In [91]:
print(data_2002['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2002['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_MATEMATICAS']))

Float64Index([ 0.0,  1.0,  5.0, 10.0, 14.0, 18.0, 20.0, 23.0, 25.0, 27.0, 29.0,
              31.0, 33.0, 34.0, 36.0, 37.0, 39.0, 40.0, 42.0, 43.0, 45.0, 47.0,
              48.0, 50.0, 52.0, 53.0, 55.0, 57.0, 59.0, 62.0, 65.0, 68.0, 72.0,
              78.0, 87.0],
             dtype='float64')
0.0        3
1.0        3
5.0        5
10.0       4
14.0      12
18.0      18
20.0      30
23.0      73
25.0     100
27.0     235
29.0     494
31.0     972
33.0    1789
34.0    2978
36.0    4459
37.0    5881
39.0    7124
40.0    7763
42.0    7477
43.0    6681
45.0    5407
47.0    4138
48.0    2908
50.0    1905
52.0    1154
53.0     690
55.0     447
57.0     276
59.0     145
62.0      89
65.0      57
68.0      25
72.0      14
78.0       4
87.0       4
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 7
__________________
Elementos diferentes de null/NaN: 63364
__________________
(63364,)
None

In [92]:
print(data_2002['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2002['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_FILOSOFIA']))

Float64Index([ 0.0,  6.0, 15.0, 20.0, 24.0, 28.0, 30.0, 33.0, 35.0, 37.0, 39.0,
              41.0, 43.0, 45.0, 46.0, 47.0, 50.0, 51.0, 53.0, 54.0, 56.0, 58.0,
              59.0, 61.0, 63.0, 65.0, 67.0, 69.0, 71.0],
             dtype='float64')
0.0       11
6.0       24
15.0      57
20.0     135
24.0     395
28.0     828
30.0    1609
33.0    2833
35.0    4184
37.0    5559
39.0    6445
41.0    7120
43.0    7109
45.0    6497
46.0    5605
47.0    4515
50.0    3343
51.0    2464
53.0    1771
54.0    1119
56.0     798
58.0     421
59.0     241
61.0     139
63.0      62
65.0      24
67.0       8
69.0       3
71.0       2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 50
__________________
Elementos diferentes de null/NaN: 63321
__________________
(63321,)
None

In [93]:
print(data_2002['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2002['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_FISICA']))

Float64Index([12.0, 21.0, 27.0, 31.0, 35.0, 38.0, 40.0, 43.0, 45.0, 47.0, 49.0,
              51.0, 53.0, 54.0, 56.0, 58.0, 59.0, 61.0, 63.0, 64.0, 66.0, 68.0,
              69.0, 71.0, 73.0, 75.0, 77.0, 80.0],
             dtype='float64')
12.0       6
21.0      67
27.0     212
31.0     698
35.0    1705
38.0    3291
40.0    5249
43.0    7231
45.0    8535
47.0    8869
49.0    8077
51.0    6602
53.0    4868
54.0    3341
56.0    2118
58.0    1164
59.0     634
61.0     340
63.0     176
64.0      80
66.0      50
68.0      31
69.0      13
71.0       3
73.0       4
75.0       1
77.0       2
80.0       2
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 63369
__________________
(63369,)
None

In [94]:
print(data_2002['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2002['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_HISTORIA']))

Int64Index([ 0, 11, 18, 23, 26, 29, 31, 33, 35, 37, 39, 40, 42, 43, 44, 46, 47,
            48, 50, 51, 52, 54, 55, 57, 58, 60, 61, 63, 65, 67],
           dtype='int64')
0        1
11       2
18      25
23      95
26     278
29     700
31    1456
33    2504
35    3800
37    5106
39    6251
40    6734
42    6869
43    6384
44    5612
46    4701
47    3727
48    2925
50    2065
51    1486
52    1006
54     634
55     456
57     263
58     142
60      85
61      42
63      15
65       5
67       2
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [95]:
print(data_2002['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2002['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_QUIMICA']))

Float64Index([18.0, 24.0, 28.0, 31.0, 34.0, 36.0, 38.0, 39.0, 41.0, 42.0, 43.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0,
              57.0, 59.0, 60.0, 61.0, 63.0, 65.0, 66.0, 68.0, 71.0, 74.0],
             dtype='float64')
18.0       4
24.0      23
28.0     128
31.0     314
34.0     852
36.0    1734
38.0    2949
39.0    4423
41.0    5694
42.0    6598
43.0    7043
45.0    6849
46.0    6072
47.0    5046
48.0    3998
49.0    3095
51.0    2309
52.0    1654
53.0    1274
54.0     917
55.0     616
56.0     506
57.0     354
59.0     283
60.0     219
61.0     145
63.0     112
65.0      80
66.0      36
68.0      28
71.0      12
74.0       2
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 63369
__________________
(63369,)
None

In [96]:
print(data_2002['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2002['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_LENGUAJE']))

Float64Index([ 0.0, 17.0, 25.0, 29.0, 33.0, 35.0, 38.0, 40.0, 42.0, 43.0, 45.0,
              46.0, 48.0, 49.0, 50.0, 52.0, 53.0, 54.0, 55.0, 57.0, 58.0, 59.0,
              60.0, 62.0, 63.0, 65.0, 66.0, 68.0, 70.0, 72.0, 74.0, 77.0,
              80.0],
             dtype='float64')
0.0        2
17.0       9
25.0      71
29.0     250
33.0     713
35.0    1458
38.0    2545
40.0    3979
42.0    5216
43.0    6096
45.0    6773
46.0    6580
48.0    5931
49.0    5077
50.0    4129
52.0    3324
53.0    2663
54.0    2037
55.0    1583
57.0    1314
58.0     955
59.0     807
60.0     578
62.0     450
63.0     325
65.0     206
66.0     132
68.0      93
70.0      39
72.0      20
74.0       8
77.0       4
80.0       1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 63368
__________________
(63368,)
None

In [97]:
print(data_2002['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2002['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_GEOGRAFIA']))

Float64Index([ 0.0, 10.0, 17.0, 22.0, 26.0, 29.0, 31.0, 33.0, 35.0, 37.0, 39.0,
              40.0, 42.0, 44.0, 45.0, 46.0, 48.0, 49.0, 51.0, 52.0, 54.0, 55.0,
              56.0, 58.0, 59.0, 61.0, 63.0, 65.0, 67.0],
             dtype='float64')
0.0        1
10.0       3
17.0      18
22.0      52
26.0     116
29.0     308
31.0     700
33.0    1388
35.0    2269
37.0    3345
39.0    4521
40.0    5658
42.0    6606
44.0    6848
45.0    6764
46.0    6341
48.0    5379
49.0    4277
51.0    3213
52.0    2222
54.0    1462
55.0     911
56.0     521
58.0     240
59.0     129
61.0      50
63.0      20
65.0       5
67.0       1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 63368
__________________
(63368,)
None

In [98]:
print(data_2002['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2002['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2002['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    30226
44    26416
45     6729
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [99]:
print(data_2002['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2002['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_INTERDISCIPLINAR']))

Float64Index([ 0.0, 21.0, 24.0, 29.0, 34.0, 35.0, 39.0, 42.0, 46.0, 47.0, 48.0,
              49.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0,
              61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 72.0, 77.0,
              78.0, 82.0, 89.0, 91.0],
             dtype='float64')
0.0      220
21.0     740
24.0     340
29.0    1853
34.0    3266
35.0     848
39.0    4048
42.0    5583
46.0    3635
47.0    1412
48.0       2
49.0    2939
51.0       3
52.0    1148
53.0    2123
54.0      38
55.0     236
56.0    2413
57.0    1741
58.0    2148
59.0    4934
60.0    7230
61.0    5539
62.0    5268
63.0    2606
64.0    1580
65.0     327
66.0      61
67.0       9
68.0      87
69.0     260
72.0      44
77.0      16
78.0     106
82.0       6
89.0       2
91.0      43
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 517
__________________
Elementos diferentes de null/NaN: 62854
__________________
(62854,)
None

In [100]:
print(data_2002['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2002['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2002['COD_IDIOMA']))

Int64Index([51, 52, 53], dtype='int64')
51    62775
52      502
53       94
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 63371
__________________
(63371,)
None

In [102]:
print(data_2002['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2002['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_IDIOMA']))

Float64Index([  0.0,  11.0,  15.0,  21.0,  23.0,  25.0,  26.0,  27.0,  29.0,
               30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,  37.0,  38.0,
               39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,  46.0,  47.0,
               48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,  56.0,
               57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,  64.0,  65.0,
               66.0,  67.0,  68.0,  69.0,  70.0,  73.0,  74.0,  76.0,  80.0,
               81.0,  87.0,  88.0, 100.0],
             dtype='float64')
0.0        13
11.0        1
15.0       61
21.0        1
23.0      265
25.0        3
26.0        1
27.0      884
29.0       13
30.0     2085
31.0       18
32.0        6
33.0     3922
34.0       26
35.0     6141
36.0        1
37.0     7703
38.0        2
39.0     8444
40.0       56
41.0     8018
42.0     6691
43.0     4954
44.0        7
45.0     3381
46.0     2285
47.0     1354
48.0        4
49.0      849
50.0      628
51.0      510
52.0      400
53.0      350
54.0        1
55.0      318
56.0      279
57.0      264
58.0      206
59.0        2
60.0      253
61.0      233
62.0        3
63.0      226
64.0      237
65.0       17
66.0      254
67.0       18
68.0      290
69.0        4
70.0      343
73.0      375
74.0        3
76.0      392
80.0      280
81.0       22
87.0        1
88.0      180
100.0      67
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 26
__________________
Elementos diferentes de null/NaN: 63345
__________________
(63345,)
None

# Now the file of 2002_2

In [2]:
data_2002_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20022-RGSTRO-CLFCCN-V1-0.txt', delimiter="|",
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,4,5,12,13,14,15,16,17,19,20,21,22,23,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2002_2.shape

(370306, 57)

In [4]:
data_2002_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB2002000001,SB2002000002,SB2002000003
COLE_COD_ICFES,12625,28522,12088
COLE_NOMBRE_SEDE,ESCUELA NORMAL DE VARONES,COLEGIO INTEGRADO JUAN ATALAYA,COLEGIO EL CARMEN TERESIANO
IND_ANNO_TERMINO_BACHILLERATO,2002,2002,2002
COLE_JORNADA,MAÑANA,MAÑANA,MAÑANA
COLE_VALOR_PENSION,8,8,6
ESTU_GENERO,M,F,F
ESTU_NACIMIENTO_DIA,4,22,19
ESTU_NACIMIENTO_MES,5,3,10
ESTU_NACIMIENTO_ANNO,1985,1984,1985
ESTU_DEPTO_PRESENTACION,NORTE SANTANDER,NORTE SANTANDER,NORTE SANTANDER
ESTU_MCPIO_PRESENTACION,PAMPLONA,CUCUTA,CUCUTA
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,33,43,50
PUNT_MATEMATICAS,44,41,44
PUNT_FILOSOFIA,46,51,46
PUNT_FISICA,38,44,51
PUNT_HISTORIA,44,35,51
PUNT_QUIMICA,37,36,53
PUNT_LENGUAJE,36,48,56
PUNT_GEOGRAFIA,42,44,44
COD_INTERDISCIPLINAR,43,43,44
PUNT_INTERDISCIPLINAR,60,60,45
COD_IDIOMA,51,51,51
PUNT_IDIOMA,40,40,48
ESTU_IES_COD_DESEADA,1212,1717,1701
ESTU_RAZONINSTITUTO,7,6,2
ESTU_CARRDESEADA_COD,48114,43333,46203
ESTU_CARRDESEADA_RAZON,3,1,2
FAMI_PERSONAS_HOGAR,4,4,3
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,S,N,N
FAMI_APORTANTES,1,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,0,0,2
FAMI_LEE_ESCRIBE_PADRE,S,N,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,5,1,6
FAMI_EDUCA_MADRE,NaN,3,6
FAMI_OCUPA_PADRE,06,NaN,05
FAMI_OCUPA_MADRE,12,05,10
FAMI_NUM_HERMANOS,1,NaN,0
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,0
FAMI_POSICION_HERMANOS,1,4,1
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,1,3,1
COLE_CALENDARIO,A,A,A
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,NORMALISTA,ACADEMICO Y TECNICO,ACADEMICO
COLE_DEPTO_UBICACION,NORTE SANTANDER,NORTE SANTANDER,NORTE SANTANDER
COLE_MCPIO_UBICACION,PAMPLONA,CUCUTA,CUCUTA
ESTU_RESIDE_DEPTO,NORTE SANTANDER,NORTE SANTANDER,NORTE SANTANDER
ESTU_RESIDE_MCPIO,PAMPLONA,CUCUTA,CUCUTA
ESTU_TIPO_DOCUMENTO,T,R,T

The first thing is delete the columns that will not contribute to the work

In [5]:
data_2002_2 = data_2002_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [8]:
print(data_2002_2['COLE_COD_ICFES'].value_counts().index)
print(data_2002_2['COLE_COD_ICFES'].value_counts())
print(missing_data(data_2002_2['COLE_COD_ICFES']))

Index([      59,      786,    98285,    11015,    67652,    14324,     3053,
           3699, '000265',    67454,
       ...
         '2000', '025361', '405* 5', '022814', '094367', '070156', '08  37',
       '700185', '056416', '049825'],
      dtype='object', length=14563)
59        1030
786        601
98285      491
11015      467
67652      454
14324      424
3053       399
3699       392
000265     388
67454      382
1412       361
28696      356
23366      350
12211      347
12955      336
14399      328
26138      322
19893      317
4283       311
012963     301
37093      297
27102      297
1115       285
23374      277
14076      270
4754       269
24760      265
98624      262
8318       251
2071       250
          ...
021899       1
4   05       1
1658         1
042200       1
028480       1
17611        1
100010       1
094524       1
077080       1
06 *59       1
030684       1
2168         1
079*59       1
056556       1
008764       1
026060       1
04870        1
082 64       1
042986       1
031831       1
2000         1
025361       1
405* 5       1
022814       1
094367       1
070156       1
08  37       1
700185       1
056416       1
049825       1
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 11631
__________________
Elementos diferentes de null/NaN: 358675
__________________
(358675,)
None

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2002_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2002_2['IND_ANNO_TERMINO_BACHILLERATO']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2002_2['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_JORNADA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2002_2['COLE_VALOR_PENSION'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_VALOR_PENSION']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_GENERO']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2002_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_NACIMIENTO_DIA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2002_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_NACIMIENTO_MES']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_NACIMIENTO_ANNO']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2002_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_DEPTO_PRESENTACION']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2002_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_MCPIO_PRESENTACION']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2002_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_LIMITA_INVIDENTE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2002_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_LIMITA_SORDOINTERPRETE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2002_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_LIMITA_SORDONOINTERPRETE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2002_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_LIMITA_MOTRIZ']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2002_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_IES_COD_DESEADA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_RAZONINSTITUTO']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2002_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_CARRDESEADA_COD']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2002_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_CARRDESEADA_RAZON']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2002_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_PERSONAS_HOGAR']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2002_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_VIVIENDA_PROPIA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2002_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_DEUDA_VIVIENDA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2002_2['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_APORTANTES']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2002_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_INGRESO_FMILIAR_MENSUAL']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_LEE_ESCRIBE_PADRE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_LEE_ESCRIBE_MADRE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_EDUCA_PADRE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_EDUCA_MADRE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_OCUPA_PADRE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_OCUPA_MADRE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2002_2['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_NUM_HERMANOS']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2002_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_POSICION_HERMANOS']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2002_2['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_SOST_PERSONAL']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2002_2['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_TRABAJA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_ACT_PROX_ANNO']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2002_2['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_CALENDARIO']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2002_2['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_BILINGUE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2002_2['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_CARACTER']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2002_2['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_DEPTO_UBICACION']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2002_2['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_MCPIO_UBICACION']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_RESIDE_DEPTO']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_RESIDE_MCPIO']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

### TARGETS

In [ ]:
print(data_2002_2['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2002_2['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_BIOLOGIA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2002_2['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_MATEMATICAS']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2002_2['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_FILOSOFIA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2002_2['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_FISICA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2002_2['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_HISTORIA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2002_2['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_QUIMICA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2002_2['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_LENGUAJE']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2002_2['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_GEOGRAFIA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2002_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2002_2['COD_INTERDISCIPLINAR']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2002_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_INTERDISCIPLINAR']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2002_2['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2002_2['COD_IDIOMA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')

In [ ]:
print(data_2002_2['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2002_2['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_IDIOMA']))

In [ ]:
data_2002_2[''] = data_2002_2[''].replace(, 'NaN')