In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2003 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20031-RGSTRO-CLFCCN-V1-0.txt', delimiter="|",
                       encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3,5,8,9,13,14,16,17,19,20,21,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2003.shape

(69735, 57)

In [4]:
data_2003.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB1200310065481,SB1200310065480,SB1200310065479
COLE_COD_ICFES,18788,18788,18788
COLE_NOMBRE_SEDE,INSTITUCION EDUCATIVA BELISARIO PEÑA PIÑEIRO,INSTITUCION EDUCATIVA BELISARIO PEÑA PIÑEIRO,INSTITUCION EDUCATIVA BELISARIO PEÑA PIÑEIRO
IND_ANNO_TERMINO_BACHILLERATO,2003,2003,2003
COLE_JORNADA,C,C,C
COLE_VALOR_PENSION,8,8,NaN
ESTU_GENERO,M,F,M
ESTU_NACIMIENTO_DIA,18,4,18
ESTU_NACIMIENTO_MES,7,3,4
ESTU_NACIMIENTO_ANNO,1984,1981,1987
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_MCPIO_PRESENTACION,ROLDANILLO,ROLDANILLO,ROLDANILLO
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,46,36,34
PUNT_MATEMATICAS,32,46,46
PUNT_FILOSOFIA,48,45,42
PUNT_FISICA,54,45,39
PUNT_HISTORIA,35,37,49
PUNT_QUIMICA,47,43,40
PUNT_LENGUAJE,46,39,45
PUNT_GEOGRAFIA,45,37,37
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,60,59,61
COD_IDIOMA,51,51,51
PUNT_IDIOMA,38,41,36
ESTU_IES_COD_DESEADA,1203,4101,1203
ESTU_RAZONINSTITUTO,3,3,4
ESTU_CARRDESEADA_COD,48114,11113,48118
ESTU_CARRDESEADA_RAZON,1,4,2
FAMI_PERSONAS_HOGAR,4,6,8
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,NaN,N,NaN
FAMI_APORTANTES,2,3,1
FAMI_INGRESO_FMILIAR_MENSUAL,0,0,3
FAMI_LEE_ESCRIBE_PADRE,N,S,S
FAMI_LEE_ESCRIBE_MADRE,N,S,S
FAMI_EDUCA_PADRE,NaN,3,6
FAMI_EDUCA_MADRE,NaN,3,4
FAMI_OCUPA_PADRE,08,08,03
FAMI_OCUPA_MADRE,10,10,10
FAMI_NUM_HERMANOS,3,NaN,4
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,4
FAMI_POSICION_HERMANOS,3,9,5
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,3,1
COLE_CALENDARIO,B,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO
COLE_DEPTO_UBICACION,VALLE,VALLE,VALLE
COLE_MCPIO_UBICACION,ROLDANILLO,ROLDANILLO,ROLDANILLO
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_RESIDE_MCPIO,ROLDANILLO,ROLDANILLO,ROLDANILLO
ESTU_TIPO_DOCUMENTO,R,C,T

The first step is delete the columns that won't contribute to the work

In [5]:
data_2003 = data_2003.drop(['ESTU_TIPO_DOCUMENTO', 'ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE'], axis=1)

In [6]:
print(data_2003['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2003['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2003['COLE_COD_ICFES']))

Int64Index([   182,    265,    638,   1362,   1503,   2998,   3145,   3327,
              3418,   3459,
            ...
            106583, 106591, 106609, 106617, 106625, 106633, 106641, 106666,
            106682, 106690],
           dtype='int64', length=1863)
182        70
265       173
638        10
1362       47
1503       56
2998       37
3145       35
3327        9
3418       46
3459       66
3483       96
4234       39
5629       14
5843       13
6890       13
6973        5
6999       20
7013       72
7054       60
7070      153
7088       44
7500        7
7732        5
8581       69
9589       49
9696       17
9985       34
10082       8
10199      17
10298      34
         ...
106385     34
106393     20
106401     36
106419      4
106427      8
106435     11
106443     13
106450      7
106468     17
106476      9
106484     15
106492      6
106500     14
106518     10
106526     14
106534     19
106542     13
106559      4
106567      5
106575     62
106583     15
106591      2
106609     21
106617     45
106625     55
106633      2
106641     69
106666     51
106682     23
106690     15
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [9]:
print(data_2003['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index)
print(data_2003['IND_ANNO_TERMINO_BACHILLERATO'].value_counts())
print(missing_data(data_2003['IND_ANNO_TERMINO_BACHILLERATO']))

Index(['2003', '2002', 2003.0, 2002.0, '2000', '2001', 2000.0, 2001.0, '2 0@',
       '20 2', '2004', '2 02',  '20@', '2902', 2004.0, '2 03', '2903', '20 3',
       '2 @0',  '200',    '0',   '20', '2005',  '203',   '@@', '1995', '2  2',
       '2012',    '2',  '202', 1992.0,   '02', '1999', 2005.0, 2006.0,  '19@',
        '0 2', 2903.0, '2008', '2009',    '3', '2013', '2023', '2006', '1002',
          2.0],
      dtype='object')
2003      34422
2002      18687
2003.0    14859
2002.0     1472
2000         77
2001         54
2000.0       25
2001.0        9
2 0@          8
20 2          7
2004          6
2 02          6
20@           5
2902          5
2004.0        5
2 03          4
2903          4
20 3          4
2 @0          4
200           3
0             2
20            2
2005          2
203           2
@@            2
1995          2
2  2          2
2012          2
2             2
202           1
1992.0        1
02            1
1999          1
2005.0        1
2006.0        1
19@           1
0 2           1
2903.0        1
2008          1
2009          1
3             1
2013          1
2023          1
2006          1
1002          1
2.0           1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 34
__________________
Elementos diferentes de null/NaN: 69701
__________________
(69701,)
None

In [10]:
for i in data_2003['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index:
    if type(i) == float:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, str(i)[:-2])

for i in data_2003['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index:
    if '@' in i:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif ' ' in i:
        data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif i != 'NaN':
        if float(i) == 0:
            data_2003['IND_ANNO_TERMINO_BACHILLERATO'] = data_2003['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')

In [11]:
print(data_2003['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2003['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2003['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C    16257
M    27863
N    16745
S     1116
T     7754
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [13]:
print(data_2003['COLE_VALOR_PENSION'].value_counts().index)
print(data_2003['COLE_VALOR_PENSION'].value_counts())
print(missing_data(data_2003['COLE_VALOR_PENSION']))

Index(['8', '1', '2', '3', 8.0, '5', '4', 1.0, 7.0, '0', 2.0, '6', 3.0, 4.0,
       5.0, '7', 6.0, 0.0, '9', 9.0, '@', '+'],
      dtype='object')
8      14165
1      12090
2       7061
3       5209
8.0     3573
5       3344
4       3180
1.0     3075
7.0     2741
0       2102
2.0     1814
6       1631
3.0     1144
4.0      989
5.0      940
7        827
6.0      779
0.0      499
9         61
9.0       14
@         13
+          3
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 4481
__________________
Elementos diferentes de null/NaN: 65254
__________________
(65254,)
None

In [14]:
for i in data_2003['COLE_VALOR_PENSION'].value_counts().index:
    if type(i) == float:
        data_2003['COLE_VALOR_PENSION'] = data_2003['COLE_VALOR_PENSION'].replace(i, str(i)[:-2])

data_2003['COLE_VALOR_PENSION'] = data_2003['COLE_VALOR_PENSION'].replace('+', '+9')
data_2003['COLE_VALOR_PENSION'] = data_2003['COLE_VALOR_PENSION'].replace('@', 'NaN')
data_2003['COLE_VALOR_PENSION'] = data_2003['COLE_VALOR_PENSION'].replace(np.nan, 'NaN')

In [16]:
print(data_2003['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2003['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    37912
M    31823
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [17]:
print(data_2003['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2003['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2622
2.0     2316
3.0     2288
4.0     2335
5.0     2311
6.0     2251
7.0     2214
8.0     2367
9.0     2210
10.0    2396
11.0    2318
12.0    2255
13.0    2197
14.0    2263
15.0    2473
16.0    2292
17.0    2273
18.0    2274
19.0    2237
20.0    2300
21.0    2226
22.0    2261
23.0    2266
24.0    2224
25.0    2275
26.0    2263
27.0    2242
28.0    2361
29.0    2106
30.0    2080
31.0    1235
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 4
__________________
Elementos diferentes de null/NaN: 69731
__________________
(69731,)
None

In [19]:
print(data_2003['ESTU_NACIMIENTO_MES'].value_counts().index)
print(data_2003['ESTU_NACIMIENTO_MES'].value_counts())
print(missing_data(data_2003['ESTU_NACIMIENTO_MES']))

Index([ 9.0,  1.0,  3.0, 10.0, 12.0,  8.0,  5.0, 11.0,  7.0,  6.0,  4.0,  2.0,
       '01', '10', '07', '11', '09', '12', '05', '06', '08', '04', '03', '02',
        '@'],
      dtype='object')
9.0     4749
1.0     4694
3.0     4581
10.0    4522
12.0    4504
8.0     4444
5.0     4441
11.0    4419
7.0     4351
6.0     4303
4.0     4180
2.0     4143
01      1465
10      1449
07      1390
11      1385
09      1383
12      1377
05      1367
06      1359
08      1348
04      1343
03      1292
02      1211
@          1
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 34
__________________
Elementos diferentes de null/NaN: 69701
__________________
(69701,)
None

In [20]:
data_2003['ESTU_NACIMIENTO_MES'] = data_2003['ESTU_NACIMIENTO_MES'].replace('@', np.nan)
for i in data_2003['ESTU_NACIMIENTO_MES'].value_counts().index:
    if type(i) == str:
        data_2003['ESTU_NACIMIENTO_MES'] = data_2003['ESTU_NACIMIENTO_MES'].replace(i, float(i))

In [23]:
print(data_2003['ESTU_NACIMIENTO_ANNO'].value_counts().index)
print(data_2003['ESTU_NACIMIENTO_ANNO'].value_counts())
print(missing_data(data_2003['ESTU_NACIMIENTO_ANNO']))

Index([1986.0, 1985.0, '1985', '1986', '1984', 1984.0, 1987.0, '1983', 1983.0,
       '1987',
       ...
       1942.0, '1940', 1935.0, '198@', 1945.0, '1992', '1939', '1991',  197.0,
        986.0],
      dtype='object', length=112)
1986.0    12072
1985.0     8614
1985       7315
1986       7222
1984       5076
1984.0     4941
1987.0     3564
1983       2708
1983.0     2350
1987       1928
1982       1605
1982.0     1274
1981       1025
1980        853
1981.0      670
1979        633
1978        496
1980.0      471
1977        397
1979.0      362
1976        338
1975        299
1974        290
1978.0      287
1972        243
1977.0      236
1973        228
1970        191
1971        188
1969        178
          ...
1945          6
1947.0        6
1946          5
1947          5
1949.0        4
1948.0        4
1944          3
198.0         3
1935          3
1938          3
1943          3
1938.0        2
1946.0        2
197@          2
197           2
1941          2
1942          2
1937          2
1941.0        2
1944.0        2
1942.0        2
1940          1
1935.0        1
198@          1
1945.0        1
1992          1
1939          1
1991          1
197.0         1
986.0         1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 8
__________________
Elementos diferentes de null/NaN: 69727
__________________
(69727,)
None

In [28]:
for i in data_2003['ESTU_NACIMIENTO_ANNO'].value_counts().index:
    if type(i) == float:
        data_2003['ESTU_NACIMIENTO_ANNO'] = data_2003['ESTU_NACIMIENTO_ANNO'].replace(i, str(i)[:-2])
        
for i in data_2003['ESTU_NACIMIENTO_ANNO'].value_counts().index:
    if len(str(i)) < 4:
        data_2003['ESTU_NACIMIENTO_ANNO'] = data_2003['ESTU_NACIMIENTO_ANNO'].replace(i, 'NaN')
    elif '@' in i:
        data_2003['ESTU_NACIMIENTO_ANNO'] = data_2003['ESTU_NACIMIENTO_ANNO'].replace(i, 'NaN')
    
data_2003['ESTU_NACIMIENTO_ANNO'] = data_2003['ESTU_NACIMIENTO_ANNO'].replace(np.nan, 'NaN')

In [30]:
print(data_2003['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2003['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_DEPTO_PRESENTACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3290
ARAUCA                53
ATLANTICO            722
BOGOTA              8528
BOLIVAR              350
BOYACA               791
CALDAS               464
CAQUETA              183
CASANARE             165
CAUCA               1741
CESAR                105
CHOCO                 32
CORDOBA              215
CUNDINAMARCA        1945
GUAVIARE              41
HUILA                741
LA GUAJIRA           136
MAGDALENA            128
META                 586
NARIÑO             12053
NORTE SANTANDER      590
PUTUMAYO             104
QUINDIO              640
RISARALDA            523
SANTANDER           1175
SUCRE                 10
TOLIMA               652
VALLE              33772
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [31]:
print(data_2003['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2003['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_MCPIO_PRESENTACION']))

Index(['ACACIAS', 'AGUACHICA', 'ALBANIA', 'ALCALA', 'ANDALUCIA',
       'ANSERMANUEVO', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BALBOA',
       ...
       'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO', 'YOLOMBO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=136)
ACACIAS                      15
AGUACHICA                    15
ALBANIA                      37
ALCALA                      118
ANDALUCIA                   189
ANSERMANUEVO                 80
APARTADO                     78
ARAUCA                       21
ARMENIA                     541
BALBOA                        2
BARBACOAS                   137
BARRANCABERMEJA             116
BARRANQUILLA                722
BELLO                       409
BOGOTA D.C.                8528
BOLIVAR                      81
BOSCONIA                      5
BUCARAMANGA                 934
BUENAVENTURA               1986
BUESACO                     178
BUGA                       1395
BUGALAGRANDE                210
CAICEDONIA                  266
CALI                      17415
CALIMA (DARIEN)             153
CALOTO                       15
CAMPOALEGRE                  49
CANDELARIA                  595
CARTAGENA                   309
CARTAGO                    1364
                          ...
SANDONA                     234
SANTA MARTA                  56
SANTA ROSA DE OSOS           76
SANTANDER DE QUILICHAO      232
SARAVENA                     14
SEVILLA                     357
SILVIA                        2
SINCELEJO                    10
SOACHA                      361
SOGAMOSO                    269
TAME                         18
TAMINANGO                   157
TANGUA                       46
TIERRALTA                    18
TIMBIO                       55
TORO                        100
TRUJILLO                     98
TULUA                      1950
TUMACO                     1065
TUNJA                       469
TUQUERRES                   464
UBATE                        91
VALLEDUPAR                   85
VELEZ                        47
VILLAVICENCIO               488
YOLOMBO                      17
YOPAL                       155
YUMBO                       811
ZARZAL                      398
ZIPAQUIRA                   185
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69735
__________________
(69735,)
None

In [32]:
print(data_2003['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2003['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    63
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 69672
__________________
Elementos diferentes de null/NaN: 63
__________________
(63,)
None

In [33]:
data_2003['ESTU_LIMITA_INVIDENTE'] = data_2003['ESTU_LIMITA_INVIDENTE'].replace(np.nan, 'NaN')

In [34]:
print(data_2003['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2003['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    17
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 69718
__________________
Elementos diferentes de null/NaN: 17
__________________
(17,)
None

In [35]:
data_2003['ESTU_LIMITA_SORDOINTERPRETE'] = data_2003['ESTU_LIMITA_SORDOINTERPRETE'].replace(np.nan, 'NaN')

In [36]:
print(data_2003['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2003['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    27
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 69708
__________________
Elementos diferentes de null/NaN: 27
__________________
(27,)
None

In [37]:
data_2003['ESTU_LIMITA_SORDONOINTERPRETE'] = data_2003['ESTU_LIMITA_SORDONOINTERPRETE'].replace(np.nan, 'NaN')

In [38]:
print(data_2003['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2003['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    40
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 69695
__________________
Elementos diferentes de null/NaN: 40
__________________
(40,)
None

In [40]:
data_2003['ESTU_LIMITA_MOTRIZ'] = data_2003['ESTU_LIMITA_MOTRIZ'].replace(np.nan, 'NaN')

In [41]:
print(data_2003['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2003['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_IES_COD_DESEADA']))

Index(['0', '00 1', '0000', '0001', '001', '0052', '0070', '01', '0128', '017',
       ...
       '@818', '@819', '@821', '@823', '@85', '@92', '@999', '@@', '@@4',
       '@@@@'],
      dtype='object', length=719)
0        6
00 1     1
0000     7
0001     2
001      6
0052     1
0070     1
01       3
0128     1
017      1
0201     3
0203    11
0204     1
0206     3
0207     1
021      1
04       1
0414     1
05       1
0656     2
069      1
07       1
0701     3
0702     5
0703     1
0704     2
0706     1
0707     1
0711     1
0720     1
        ..
@1       3
@1 1     1
@10      2
@101     5
@104     1
@106     5
@11      6
@114     1
@2       1
@2 0     1
@203     2
@206     1
@207     1
@208     1
@213     1
@3       1
@710     1
@716     1
@718     1
@8 0     1
@818     1
@819     1
@821     1
@823     1
@85      1
@92      1
@999     1
@@      15
@@4      1
@@@@    13
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 5913
__________________
Elementos diferentes de null/NaN: 63822
__________________
(63822,)
None

In [42]:
for i in data_2003['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '@' in i:
        data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif ' ' in i:
        data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif i != 'NaN':
        if int(i) == 0:
            data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
        elif int(i) < 1000:
            data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
data_2003['ESTU_IES_COD_DESEADA'] = data_2003['ESTU_IES_COD_DESEADA'].replace(np.nan, 'NaN')

In [44]:
print(data_2003['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2003['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_RAZONINSTITUTO']))

Index(['1', '2', '3', '4', '5', '6', '7', '8', '@'], dtype='object')
1     1124
2    22773
3     8932
4     6309
5     8935
6     5643
7     4128
8     6603
@       43
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 5245
__________________
Elementos diferentes de null/NaN: 64490
__________________
(64490,)
None

In [45]:
data_2003['ESTU_RAZONINSTITUTO'] = data_2003['ESTU_RAZONINSTITUTO'].replace('@', 'NaN')
data_2003['ESTU_RAZONINSTITUTO'] = data_2003['ESTU_RAZONINSTITUTO'].replace(np.nan, 'NaN')

In [46]:
print(data_2003['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2003['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_CARRDESEADA_COD']))

Index(['0', '00000', '00009', '01110', '01201', '01815', '03301', '03303',
       '04112', '04189',
       ...
       '@@', '@@  0', '@@  6', '@@  9', '@@ 4', '@@1', '@@106', '@@2', '@@4',
       '@@9'],
      dtype='object', length=2534)
0        5
00000    6
00009    1
01110    1
01201    1
01815    1
03301    1
03303    1
04112    2
04189    1
04813    1
05114    1
05204    1
05209    1
05223    1
05225    1
06106    1
06209    1
06241    1
0706     1
08038    1
08117    1
08120    1
08151    1
08217    2
092      1
0@6      1
1        7
1  07    1
1  18    1
        ..
@201     1
@212     1
@214     1
@3310    1
@3437    1
@4       2
@40      1
@40 4    1
@51 1    1
@5201    1
@5205    1
@553     1
@6       1
@6241    1
@6252    1
@6@      1
@71 3    1
@8109    1
@818     1
@86      1
@@       8
@@  0    1
@@  6    1
@@  9    1
@@ 4     1
@@1      6
@@106    1
@@2      1
@@4      1
@@9      2
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 3802
__________________
Elementos diferentes de null/NaN: 65933
__________________
(65933,)
None

In [50]:
for i in data_2003['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '@' in i:
        data_2003['ESTU_CARRDESEADA_COD'] = data_2003['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif ' ' in i:
        data_2003['ESTU_CARRDESEADA_COD'] = data_2003['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif i != 'NaN':
        if int(i) == 0:
            data_2003['ESTU_CARRDESEADA_COD'] = data_2003['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
data_2003['ESTU_CARRDESEADA_COD'] = data_2003['ESTU_CARRDESEADA_COD'].replace(np.nan, 'NaN')

In [52]:
print(data_2003['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2003['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_CARRDESEADA_RAZON']))

Index(['1', '2', '3', '4', '5', '6', '@'], dtype='object')
1    18380
2    18450
3    17124
4     5197
5     5392
6     1620
@       28
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 3544
__________________
Elementos diferentes de null/NaN: 66191
__________________
(66191,)
None

In [53]:
data_2003['ESTU_CARRDESEADA_RAZON'] = data_2003['ESTU_CARRDESEADA_RAZON'].replace('@', 'NaN')
data_2003['ESTU_CARRDESEADA_RAZON'] = data_2003['ESTU_CARRDESEADA_RAZON'].replace(np.nan, 'NaN')

In [54]:
print(data_2003['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2003['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_PERSONAS_HOGAR']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
+     2225
1      331
2     2828
3     9103
4    18484
5    16680
6     9485
7     4990
8     2876
9     1740
@      159
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 834
__________________
Elementos diferentes de null/NaN: 68901
__________________
(68901,)
None

In [55]:
data_2003['FAMI_PERSONAS_HOGAR'] = data_2003['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2003['FAMI_PERSONAS_HOGAR'] = data_2003['FAMI_PERSONAS_HOGAR'].replace('@', 'NaN')
data_2003['FAMI_PERSONAS_HOGAR'] = data_2003['FAMI_PERSONAS_HOGAR'].replace(np.nan, 'NaN')

In [56]:
print(data_2003['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2003['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_VIVIENDA_PROPIA']))

Index(['*', 'N', 'S'], dtype='object')
*        7
N    21236
S    46009
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 2483
__________________
Elementos diferentes de null/NaN: 67252
__________________
(67252,)
None

In [57]:
data_2003['FAMI_VIVIENDA_PROPIA'] = data_2003['FAMI_VIVIENDA_PROPIA'].replace('*', 'NaN')
data_2003['FAMI_VIVIENDA_PROPIA'] = data_2003['FAMI_VIVIENDA_PROPIA'].replace(np.nan, 'NaN')

In [ ]:
print(data_2003['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2003['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_DEUDA_VIVIENDA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2003['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_APORTANTES']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2003['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_INGRESO_FMILIAR_MENSUAL']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_LEE_ESCRIBE_PADRE']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_LEE_ESCRIBE_MADRE']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_EDUCA_PADRE']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_EDUCA_MADRE']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_OCUPA_PADRE']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2003['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_OCUPA_MADRE']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2003['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_NUM_HERMANOS']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2003['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_POSICION_HERMANOS']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2003['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2003['FAMI_SOST_PERSONAL']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2003['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_TRABAJA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2003['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_ACT_PROX_ANNO']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2003['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2003['COLE_CALENDARIO']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2003['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2003['COLE_BILINGUE']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2003['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2003['COLE_CARACTER']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2003['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2003['COLE_DEPTO_UBICACION']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2003['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2003['COLE_MCPIO_UBICACION']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2003['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_RESIDE_DEPTO']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2003['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2003['ESTU_RESIDE_MCPIO']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

### TARGETS

In [ ]:
print(data_2003['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2003['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_BIOLOGIA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2003['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_MATEMATICAS']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2003['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_FILOSOFIA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2003['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_FISICA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2003['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_HISTORIA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2003['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_QUIMICA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2003['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_LENGUAJE']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2003['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_GEOGRAFIA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2003['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2003['COD_INTERDISCIPLINAR']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2003['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_INTERDISCIPLINAR']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2003['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2003['COD_IDIOMA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

In [ ]:
print(data_2003['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2003['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2003['PUNT_IDIOMA']))

In [ ]:
data_2003[''] = data_2003[''].replace(, 'NaN')

# FILE 2 -> 2003_2

In [9]:
data_2003_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20032-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3,5,9,12,13,14,15,16,17,19,20,21,22,23,25,27,29,31,36,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
data_2003_2.shape

(354700, 57)

In [11]:
data_2003_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200320000001,SB11200320000002,SB11200320000003
COLE_COD_ICFES,27714,101865,59
COLE_NOMBRE_SEDE,INSTITUCION EDUCATIVA EXTERNADO PATRIA,COLEGIO GABRIEL RESTREPO MORENO,CENTRO FORMATIVO DE ANTIOQUIA CEFA
IND_ANNO_TERMINO_BACHILLERATO,2003,2003,2003
COLE_JORNADA,M,T,M
COLE_VALOR_PENSION,8,8,8
ESTU_GENERO,M,M,F
ESTU_NACIMIENTO_DIA,11,13,2
ESTU_NACIMIENTO_MES,5,3,1
ESTU_NACIMIENTO_ANNO,1986,1984,1985
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_MCPIO_PRESENTACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,53,45,56
PUNT_MATEMATICAS,39,47,44
PUNT_FILOSOFIA,41,48,45
PUNT_FISICA,46,48,44
PUNT_HISTORIA,38,36,52
PUNT_QUIMICA,38,44,52
PUNT_LENGUAJE,37,46,58
PUNT_GEOGRAFIA,32,39,53
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,55,55,45
COD_IDIOMA,51,51,51
PUNT_IDIOMA,41,38,34
ESTU_IES_COD_DESEADA,1201,1201,1201
ESTU_RAZONINSTITUTO,7,7,5
ESTU_CARRDESEADA_COD,41201,43917,44111
ESTU_CARRDESEADA_RAZON,2,1,2
FAMI_PERSONAS_HOGAR,8,8,5
FAMI_VIVIENDA_PROPIA,N,S,N
FAMI_DEUDA_VIVIENDA,NaN,N,NaN
FAMI_APORTANTES,3,2,1
FAMI_INGRESO_FMILIAR_MENSUAL,1,0,1
FAMI_LEE_ESCRIBE_PADRE,S,NaN,S
FAMI_LEE_ESCRIBE_MADRE,S,NaN,S
FAMI_EDUCA_PADRE,3,NaN,4
FAMI_EDUCA_MADRE,1,NaN,4
FAMI_OCUPA_PADRE,09,NaN,06
FAMI_OCUPA_MADRE,10,NaN,05
FAMI_NUM_HERMANOS,1,3,3
FAMI_NUM_HERMANOS_EDUSUPERIOR,1,0,0
FAMI_POSICION_HERMANOS,2,1,3
FAMI_SOST_PERSONAL,NaN,T,T
ESTU_TRABAJA,N,S,N
ESTU_ACT_PROX_ANNO,3,3,1
COLE_CALENDARIO,A,F,A
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO Y TECNICO
COLE_DEPTO_UBICACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
COLE_MCPIO_UBICACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_RESIDE_MCPIO,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_TIPO_DOCUMENTO,T,C,T

The first step is delete the columns that won't contribute to the work

In [13]:
data_2003_2 = data_2003_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [ ]:
print(data_2003_2['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2003_2['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_COD_ICFES']))

In [ ]:
print(data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2003_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2003_2['IND_ANNO_TERMINO_BACHILLERATO']))

In [ ]:
print(data_2003_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2003_2['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_JORNADA']))

In [ ]:
print(data_2003_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2003_2['COLE_VALOR_PENSION'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_VALOR_PENSION']))

In [ ]:
print(data_2003_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_GENERO']))

In [ ]:
print(data_2003_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2003_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_NACIMIENTO_DIA']))

In [ ]:
print(data_2003_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2003_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_NACIMIENTO_MES']))

In [ ]:
print(data_2003_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_NACIMIENTO_ANNO']))

In [ ]:
print(data_2003_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2003_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_DEPTO_PRESENTACION']))

In [ ]:
print(data_2003_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2003_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_MCPIO_PRESENTACION']))

In [ ]:
print(data_2003_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2003_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_LIMITA_INVIDENTE']))

In [ ]:
print(data_2003_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2003_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_LIMITA_SORDOINTERPRETE']))

In [ ]:
print(data_2003_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2003_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_LIMITA_SORDONOINTERPRETE']))

In [ ]:
print(data_2003_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2003_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_LIMITA_MOTRIZ']))

In [ ]:
print(data_2003_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2003_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_IES_COD_DESEADA']))

In [ ]:
print(data_2003_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_RAZONINSTITUTO']))

In [ ]:
print(data_2003_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2003_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_CARRDESEADA_COD']))

In [ ]:
print(data_2003_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2003_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_CARRDESEADA_RAZON']))

In [ ]:
print(data_2003_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2003_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_PERSONAS_HOGAR']))

In [ ]:
print(data_2003_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2003_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_VIVIENDA_PROPIA']))

In [ ]:
print(data_2003_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2003_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_DEUDA_VIVIENDA']))

In [ ]:
print(data_2003_2['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2003_2['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_APORTANTES']))

In [ ]:
print(data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_INGRESO_FMILIAR_MENSUAL']))

In [ ]:
print(data_2003_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_LEE_ESCRIBE_PADRE']))

In [ ]:
print(data_2003_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_LEE_ESCRIBE_MADRE']))

In [ ]:
print(data_2003_2['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_EDUCA_PADRE']))

In [ ]:
print(data_2003_2['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_EDUCA_MADRE']))

In [ ]:
print(data_2003_2['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_OCUPA_PADRE']))

In [ ]:
print(data_2003_2['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2003_2['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_OCUPA_MADRE']))

In [ ]:
print(data_2003_2['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2003_2['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_NUM_HERMANOS']))

In [ ]:
print(data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

In [ ]:
print(data_2003_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2003_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_POSICION_HERMANOS']))

In [ ]:
print(data_2003_2['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2003_2['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2003_2['FAMI_SOST_PERSONAL']))

In [ ]:
print(data_2003_2['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2003_2['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_TRABAJA']))

In [ ]:
print(data_2003_2['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_ACT_PROX_ANNO']))

In [ ]:
print(data_2003_2['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2003_2['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_CALENDARIO']))

In [ ]:
print(data_2003_2['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2003_2['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_BILINGUE']))

In [ ]:
print(data_2003_2['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2003_2['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_CARACTER']))

In [ ]:
print(data_2003_2['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2003_2['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_DEPTO_UBICACION']))

In [ ]:
print(data_2003_2['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2003_2['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2003_2['COLE_MCPIO_UBICACION']))

In [ ]:
print(data_2003_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_RESIDE_DEPTO']))

In [ ]:
print(data_2003_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2003_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2003_2['ESTU_RESIDE_MCPIO']))

### TARGETS

In [ ]:
print(data_2003_2['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2003_2['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_BIOLOGIA']))

In [ ]:
print(data_2003_2['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2003_2['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_MATEMATICAS']))

In [ ]:
print(data_2003_2['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2003_2['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_FILOSOFIA']))

In [ ]:
print(data_2003_2['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2003_2['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_FISICA']))

In [ ]:
print(data_2003_2['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2003_2['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_HISTORIA']))

In [ ]:
print(data_2003_2['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2003_2['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_QUIMICA']))

In [ ]:
print(data_2003_2['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2003_2['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_LENGUAJE']))

In [ ]:
print(data_2003_2['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2003_2['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_GEOGRAFIA']))

In [ ]:
print(data_2003_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2003_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2003_2['COD_INTERDISCIPLINAR']))

In [ ]:
print(data_2003_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2003_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_INTERDISCIPLINAR']))

In [ ]:
print(data_2003_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2003_2['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2003_2['COD_IDIOMA']))

In [ ]:
print(data_2003_2['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2003_2['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2003_2['PUNT_IDIOMA']))