In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2004 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20041-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                       encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3,12,13,14,15,16,19,20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2004.shape

(64779, 58)

In [4]:
data_2004.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200410000001,SB11200410000002,SB11200410000003
COLE_COD_ICFES,66191,18036,50716
COLE_NOMBRE_SEDE,COLEGIO PATRICIO SYMES,INSTITUTO COMERCIAL TEOFILO ROBERTO POTES,CENTRO DOCENTE FRANCISCO JOSE DE CALDAS
IND_ANNO_TERMINO_BACHILLERATO,2004,2004,2004
COLE_JORNADA,M,C,M
COLE_VALOR_PENSION,5,1,1
ESTU_GENERO,M,M,M
ESTU_NACIMIENTO_DIA,8,12,5
ESTU_NACIMIENTO_MES,1,5,1
ESTU_NACIMIENTO_ANNO,1988,1986,1987
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_MCPIO_PRESENTACION,BUENAVENTURA,BUENAVENTURA,BUENAVENTURA
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49.9,40.6,43.5
PUNT_MATEMATICAS,47.1,42.8,42.8
PUNT_FILOSOFIA,49.9,44.6,49.9
PUNT_FISICA,47.8,41.9,46
PUNT_HISTORIA,38,40.8,38
PUNT_QUIMICA,47.2,43.2,31.8
PUNT_LENGUAJE,47.1,47.1,53
PUNT_GEOGRAFIA,39.3,43.8,45.1
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,45.8,45.8,56.9
COD_IDIOMA,52,52,53
PUNT_IDIOMA,45.3,30.2,40.7
ESTU_IES_COD_DESEADA,1203,NaN,NaN
ESTU_RAZONINSTITUTO,2,NaN,NaN
ESTU_CARRDESEADA_COD,213,NaN,NaN
ESTU_CARRDESEADA_RAZON,3,NaN,5
FAMI_PERSONAS_HOGAR,7,6,6
FAMI_VIVIENDA_PROPIA,N,S,S
FAMI_DEUDA_VIVIENDA,N,N,N
FAMI_APORTANTES,2,2,1
FAMI_INGRESO_FMILIAR_MENSUAL,2,NaN,0
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,5,2,4
FAMI_EDUCA_MADRE,4,7,3
FAMI_OCUPA_PADRE,4,8,6
FAMI_OCUPA_MADRE,10,3,10
FAMI_NUM_HERMANOS,7,3,5
FAMI_NUM_HERMANOS_EDUSUPERIOR,NaN,NaN,3
FAMI_POSICION_HERMANOS,4,2,NaN
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,1,1
FAMI_ESTRATO_VIVIENDA,3,1,1
COLE_CALENDARIO,B,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,TECNICO,TECNICO,ACADEMICO
COLE_DEPTO_UBICACION,VALLE,VALLE,VALLE
COLE_MCPIO_UBICACION,BUENAVENTURA,BUENAVENTURA,BUENAVENTURA
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_RESIDE_MCPIO,BUENAVENTURA,BUENAVENTURA,BUENAVENTURA
ESTU_TIPO_DOCUMENTO,R,T,R

The first like always is delete the columns that won't contribute to the work

In [5]:
data_2004 = data_2004.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [6]:
print(data_2004['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2004['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2004['COLE_COD_ICFES']))

Int64Index([   182,    265,    638,   1024,   1503,   2998,   3145,   3327,
              3418,   3459,
            ...
            112466, 112474, 112482, 112508, 112516, 112532, 112557, 112607,
            112623, 112706],
           dtype='int64', length=1795)
182        58
265       193
638        53
1024       33
1503       66
2998       29
3145       27
3327       12
3418       43
3459       71
3483       21
4234       42
5629       37
6775       11
6981       24
7013       70
7054       28
7070      152
7088       53
7732        2
7872        2
8086       12
8581      112
9589       19
9696       25
9985       17
10199       7
10298     137
10967      35
11130      19
         ...
112003     25
112011     93
112029      2
112037     16
112060      4
112078      9
112102      1
112110      7
112136      8
112169     16
112177      6
112219     17
112227     14
112235     11
112243     10
112250     14
112268     17
112276     18
112284     21
112300      2
112466     22
112474     12
112482      9
112508     33
112516      7
112532      7
112557      9
112607     25
112623     14
112706      7
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [7]:
print(data_2004['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index)
print(data_2004['IND_ANNO_TERMINO_BACHILLERATO'].value_counts())
print(missing_data(data_2004['IND_ANNO_TERMINO_BACHILLERATO']))

Index([2004.0, '2004', 2003.0, '2003', 2002.0, 2001.0, 2000.0, '2002', '2001',
       1999.0, '1998', '1999', 1995.0, 1997.0, 1998.0, '2000', '1997', 1996.0,
       1993.0, '1995', 1992.0, 1987.0, 1950.0, 1983.0, 1990.0, '1978', 1973.0,
       1974.0, 1976.0, 1984.0, 1991.0, 1989.0, '1993', 1994.0, '1996', 'D019',
       '1990', '1994', '1979', '1992'],
      dtype='object')
2004.0    37647
2004       9356
2003.0     7454
2003       5162
2002.0       96
2001.0       61
2000.0       47
2002         39
2001         27
1999.0       19
1998         12
1999         12
1995.0       10
1997.0       10
1998.0       10
2000         10
1997          7
1996.0        6
1993.0        5
1995          3
1992.0        3
1987.0        2
1950.0        2
1983.0        2
1990.0        2
1978          1
1973.0        1
1974.0        1
1976.0        1
1984.0        1
1991.0        1
1989.0        1
1993          1
1994.0        1
1996          1
D019          1
1990          1
1994          1
1979          1
1992          1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 4760
__________________
Elementos diferentes de null/NaN: 60019
__________________
(60019,)
None

In [8]:
print(data_2004['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2004['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2004['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C    16028
M    28164
N    11674
S     1323
T     7590
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [9]:
print(data_2004['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2004['COLE_VALOR_PENSION'].value_counts().sort_index())
print(missing_data(data_2004['COLE_VALOR_PENSION']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0    15057
2.0     8142
3.0     5107
4.0     3767
5.0     3661
6.0     2202
7.0     4194
8.0    17850
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 4799
__________________
Elementos diferentes de null/NaN: 59980
__________________
(59980,)
None

In [10]:
print(data_2004['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2004['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    35129
M    29650
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [11]:
print(data_2004['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2004['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2081
2.0     1970
3.0     1972
4.0     2032
5.0     2126
6.0     1928
7.0     1989
8.0     2046
9.0     1983
10.0    2068
11.0    1984
12.0    2097
13.0    1982
14.0    1912
15.0    2175
16.0    1962
17.0    1968
18.0    1946
19.0    1949
20.0    2157
21.0    1892
22.0    1991
23.0    2031
24.0    1987
25.0    2004
26.0    1962
27.0    1910
28.0    2067
29.0    1773
30.0    1773
31.0    1023
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 4039
__________________
Elementos diferentes de null/NaN: 60740
__________________
(60740,)
None

In [12]:
print(data_2004['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2004['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_NACIMIENTO_MES']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 16.0, 18.0, 19.0, 22.0],
             dtype='float64')
1.0     4925
2.0     4575
3.0     5112
4.0     4964
5.0     5091
6.0     5000
7.0     5173
8.0     5174
9.0     5370
10.0    5258
11.0    4944
12.0    5147
16.0       1
18.0       2
19.0       2
22.0       1
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 4040
__________________
Elementos diferentes de null/NaN: 60739
__________________
(60739,)
None

In [13]:
data_2004['ESTU_NACIMIENTO_MES'] = data_2004['ESTU_NACIMIENTO_MES'].replace(16.0, np.nan)
data_2004['ESTU_NACIMIENTO_MES'] = data_2004['ESTU_NACIMIENTO_MES'].replace(18.0, np.nan)
data_2004['ESTU_NACIMIENTO_MES'] = data_2004['ESTU_NACIMIENTO_MES'].replace(19.0, np.nan)
data_2004['ESTU_NACIMIENTO_MES'] = data_2004['ESTU_NACIMIENTO_MES'].replace(22.0, np.nan)

In [14]:
print(data_2004['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2004['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_NACIMIENTO_ANNO']))

Float64Index([  82.0,   86.0,   88.0,  183.0,  186.0,  984.0,  985.0, 1659.0,
              1920.0, 1923.0, 1925.0, 1928.0, 1936.0, 1937.0, 1938.0, 1939.0,
              1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0,
              1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0,
              1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0,
              1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0,
              1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0,
              1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1998.0],
             dtype='float64')
82.0          1
86.0          1
88.0          1
183.0         1
186.0         1
984.0         1
985.0         2
1659.0        1
1920.0        2
1923.0        1
1925.0        1
1928.0        1
1936.0        1
1937.0        1
1938.0        2
1939.0        1
1940.0        3
1941.0        4
1942.0        1
1943.0        4
1944.0        3
1945.0        5
1946.0        7
1947.0        9
1948.0        9
1949.0       13
1950.0       16
1951.0       18
1952.0       18
1953.0       21
          ...
1967.0      190
1968.0      178
1969.0      194
1970.0      197
1971.0      201
1972.0      222
1973.0      221
1974.0      237
1975.0      265
1976.0      313
1977.0      351
1978.0      424
1979.0      570
1980.0      637
1981.0      820
1982.0     1203
1983.0     1883
1984.0     3866
1985.0     8120
1986.0    14162
1987.0    18728
1988.0     5695
1989.0      427
1990.0      100
1991.0       51
1992.0       46
1993.0       52
1994.0       40
1995.0      125
1998.0        1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 4040
__________________
Elementos diferentes de null/NaN: 60739
__________________
(60739,)
None

In [15]:
for i in data_2004['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if i < 1900:
        data_2004['ESTU_NACIMIENTO_ANNO'] = data_2004['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [16]:
print(data_2004['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2004['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_DEPTO_PRESENTACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2912
ARAUCA                30
ATLANTICO            475
BOGOTA              6882
BOLIVAR              368
BOYACA               567
CALDAS               451
CAQUETA              178
CASANARE             153
CAUCA               1247
CESAR                104
CHOCO                  1
CORDOBA              180
CUNDINAMARCA        1508
HUILA                387
LA GUAJIRA           222
MAGDALENA             61
META                 295
NARIÑO             11767
NORTE SANTANDER      525
PUTUMAYO              48
QUINDIO              440
RISARALDA            274
SANTANDER            693
SUCRE                 23
TOLIMA               538
VALLE              34450
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [17]:
print(data_2004['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2004['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_MCPIO_PRESENTACION']))

Index(['ACACIAS', 'AGUACHICA', 'ALBANIA', 'ALCALA', 'ANDALUCIA',
       'ANSERMANUEVO', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARBACOAS',
       ...
       'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO', 'YOLOMBO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=124)
ACACIAS                       7
AGUACHICA                    32
ALBANIA                      41
ALCALA                      106
ANDALUCIA                   166
ANSERMANUEVO                 70
APARTADO                     91
ARAUCA                       21
ARMENIA                     366
BARBACOAS                   131
BARRANCABERMEJA              32
BARRANQUILLA                475
BELLO                       260
BOGOTA D.C.                6882
BOLIVAR                      44
BOSCONIA                      9
BUCARAMANGA                 547
BUENAVENTURA               2066
BUESACO                     196
BUGA                       1404
BUGALAGRANDE                238
CAICEDONIA                  274
CALI                      17653
CALIMA (DARIEN)              90
CAMPOALEGRE                   3
CANDELARIA                  657
CARTAGENA                   322
CARTAGO                    1262
CAUCASIA                    169
CHAPARRAL                    82
                          ...
SAN MARTIN                   15
SAN PABLO                   140
SANDONA                     227
SANTA MARTA                  61
SANTA ROSA DE OSOS           15
SANTANDER DE QUILICHAO      120
SEVILLA                     306
SINCELEJO                    23
SOACHA                      365
SOGAMOSO                    211
TAME                          9
TAMINANGO                   134
TANGUA                       63
TIERRALTA                    15
TIMBIO                       30
TORO                        118
TRUJILLO                    120
TULUA                      2102
TUMACO                      911
TUNJA                       356
TUQUERRES                   502
UBATE                        86
VALLEDUPAR                   63
VELEZ                        34
VILLAVICENCIO               228
YOLOMBO                       7
YOPAL                       153
YUMBO                       969
ZARZAL                      370
ZIPAQUIRA                    83
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [18]:
print(data_2004['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2004['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    5
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 64774
__________________
Elementos diferentes de null/NaN: 5
__________________
(5,)
None

In [19]:
print(data_2004['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2004['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    10
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 64769
__________________
Elementos diferentes de null/NaN: 10
__________________
(10,)
None

In [20]:
print(data_2004['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2004['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    1
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 64778
__________________
Elementos diferentes de null/NaN: 1
__________________
(1,)
None

In [21]:
"""Since the column is almost empy i will just delete the column."""
data_2004 = data_2004.drop(['ESTU_LIMITA_SORDONOINTERPRETE'], axis=1)

In [22]:
print(data_2004['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2004['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    4
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 64775
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [23]:
print(data_2004['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2004['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_IES_COD_DESEADA']))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1106.0, 1107.0, 1108.0, 1110.0,
              1111.0, 1112.0,
              ...
              2830.0, 2831.0, 2832.0, 2833.0, 2837.0, 2839.0, 9103.0, 9104.0,
              9105.0, 9107.0],
             dtype='float64', length=151)
1101.0     3489
1102.0      309
1103.0      173
1104.0      379
1106.0      211
1107.0        3
1108.0       39
1110.0     1710
1111.0      288
1112.0      348
1113.0       32
1114.0       88
1115.0       12
1117.0       96
1118.0        5
1119.0       83
1120.0        9
1121.0        6
1122.0      127
1201.0     1524
1202.0       34
1203.0    17568
1204.0      245
1205.0       18
1206.0     3283
1207.0      134
1208.0      180
1209.0      167
1210.0        2
1212.0      115
          ...
2737.0       28
2741.0        6
2801.0      426
2805.0       47
2806.0       30
2809.0       14
2810.0       21
2811.0       64
2812.0        5
2813.0       82
2817.0       49
2818.0       16
2819.0       38
2820.0        8
2823.0        4
2824.0       28
2825.0       19
2827.0       53
2828.0       17
2829.0       24
2830.0       25
2831.0       52
2832.0      137
2833.0       83
2837.0       15
2839.0       11
9103.0       50
9104.0      102
9105.0        9
9107.0       20
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 19511
__________________
Elementos diferentes de null/NaN: 45268
__________________
(45268,)
None

In [24]:
print(data_2004['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2004['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_RAZONINSTITUTO']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0      965
2.0    21993
3.0     4893
4.0     3061
5.0     8124
6.0     3345
7.0     3054
8.0     1749
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 17595
__________________
Elementos diferentes de null/NaN: 47184
__________________
(47184,)
None

In [25]:
print(data_2004['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2004['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_CARRDESEADA_COD']))

Float64Index([201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0,
              210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0,
              219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 226.0],
             dtype='float64')
201.0    3305
202.0     992
203.0     210
204.0    8886
205.0     279
206.0    2426
207.0      57
208.0     337
209.0    2038
210.0     712
211.0    1261
212.0     502
213.0    2288
214.0     858
215.0    2695
216.0    7701
217.0    1744
218.0      73
219.0     665
220.0     732
221.0      66
222.0     118
223.0     267
224.0    3984
225.0    4403
226.0     965
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 17215
__________________
Elementos diferentes de null/NaN: 47564
__________________
(47564,)
None

In [26]:
print(data_2004['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2004['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_CARRDESEADA_RAZON']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    17192
2.0    13883
3.0     5098
4.0     4097
5.0     3797
6.0     1163
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 19549
__________________
Elementos diferentes de null/NaN: 45230
__________________
(45230,)
None

In [27]:
print(data_2004['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2004['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_PERSONAS_HOGAR']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+     1500
1      325
2     2402
3     8092
4    16490
5    14403
6     7615
7     3763
8     2166
9     1131
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 6892
__________________
Elementos diferentes de null/NaN: 57887
__________________
(57887,)
None

In [28]:
data_2004['FAMI_PERSONAS_HOGAR'] = data_2004['FAMI_PERSONAS_HOGAR'].replace('+', '+9')

In [29]:
print(data_2004['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2004['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_VIVIENDA_PROPIA']))

Index(['N', 'S'], dtype='object')
N    17942
S    39825
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 7012
__________________
Elementos diferentes de null/NaN: 57767
__________________
(57767,)
None

In [30]:
print(data_2004['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2004['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_DEUDA_VIVIENDA']))

Index(['N', 'S'], dtype='object')
N    49713
S     8054
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 7012
__________________
Elementos diferentes de null/NaN: 57767
__________________
(57767,)
None

In [31]:
print(data_2004['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2004['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_APORTANTES']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+       34
1    29666
2    22218
3     4084
4     1119
5      359
6      119
7       52
8       25
9       16
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 7087
__________________
Elementos diferentes de null/NaN: 57692
__________________
(57692,)
None

In [32]:
data_2004['FAMI_APORTANTES'] = data_2004['FAMI_APORTANTES'].replace('+', '+9')

In [33]:
print(data_2004['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2004['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_INGRESO_FMILIAR_MENSUAL']))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
0.0    10573
1.0    23846
2.0     9707
3.0     4824
4.0     1767
5.0      854
6.0      923
7.0      469
8.0      475
9.0     1296
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 10045
__________________
Elementos diferentes de null/NaN: 54734
__________________
(54734,)
None

In [34]:
print(data_2004['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_LEE_ESCRIBE_PADRE']))

Index(['N', 'S'], dtype='object')
N     1483
S    50972
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 12324
__________________
Elementos diferentes de null/NaN: 52455
__________________
(52455,)
None

In [35]:
print(data_2004['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_LEE_ESCRIBE_MADRE']))

Index(['N', 'S'], dtype='object')
N     1552
S    53706
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 9521
__________________
Elementos diferentes de null/NaN: 55258
__________________
(55258,)
None

In [36]:
print(data_2004['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_EDUCA_PADRE']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1653
2.0      400
3.0    20047
4.0    12788
5.0     3404
6.0     2569
7.0     5612
8.0     3117
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 15189
__________________
Elementos diferentes de null/NaN: 49590
__________________
(49590,)
None

In [37]:
print(data_2004['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_EDUCA_MADRE']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1671
2.0      452
3.0    21757
4.0    15011
5.0     4171
6.0     2177
7.0     5324
8.0     2371
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 11845
__________________
Elementos diferentes de null/NaN: 52934
__________________
(52934,)
None

In [38]:
print(data_2004['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_OCUPA_PADRE']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      1131
2.0      1539
3.0      3353
4.0      4002
5.0     14572
6.0      7501
7.0       403
8.0     11587
9.0      2953
10.0      822
11.0       58
12.0     1812
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 15046
__________________
Elementos diferentes de null/NaN: 49733
__________________
(49733,)
None

In [39]:
print(data_2004['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_OCUPA_MADRE']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0       459
2.0       944
3.0      1720
4.0      4413
5.0      6774
6.0      5224
7.0       433
8.0      3657
9.0      1037
10.0    26917
11.0      215
12.0     1152
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 11834
__________________
Elementos diferentes de null/NaN: 52945
__________________
(52945,)
None

In [40]:
print(data_2004['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2004['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_NUM_HERMANOS']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+      924
1    14443
2    15646
3     9110
4     5309
5     3120
6     1904
7     1317
8      899
9      520
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 11587
__________________
Elementos diferentes de null/NaN: 53192
__________________
(53192,)
None

In [41]:
data_2004['FAMI_NUM_HERMANOS'] = data_2004['FAMI_NUM_HERMANOS'].replace('+', '+9')

In [42]:
print(data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+       34
1    15123
2     5168
3     1503
4      447
5      197
6       78
7       55
8       28
9       17
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 42129
__________________
Elementos diferentes de null/NaN: 22650
__________________
(22650,)
None

In [43]:
data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')

In [44]:
print(data_2004['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2004['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_POSICION_HERMANOS']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+      377
1    19959
2    16357
3     9175
4     4184
5     2206
6     1282
7      727
8      513
9      299
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 9700
__________________
Elementos diferentes de null/NaN: 55079
__________________
(55079,)
None

In [45]:
data_2004['FAMI_POSICION_HERMANOS'] = data_2004['FAMI_POSICION_HERMANOS'].replace('+', '+9')

In [46]:
print(data_2004['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2004['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_SOST_PERSONAL']))

Index(['N', 'P', 'T'], dtype='object')
N     4661
P     3511
T    49116
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 7491
__________________
Elementos diferentes de null/NaN: 57288
__________________
(57288,)
None

In [47]:
print(data_2004['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2004['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_TRABAJA']))

Index(['N', 'S'], dtype='object')
N    49654
S     7485
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 7640
__________________
Elementos diferentes de null/NaN: 57139
__________________
(57139,)
None

In [48]:
print(data_2004['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2004['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_ACT_PROX_ANNO']))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1.0    33476
2.0     1919
3.0    22215
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 7169
__________________
Elementos diferentes de null/NaN: 57610
__________________
(57610,)
None

In [49]:
print(data_2004['FAMI_ESTRATO_VIVIENDA'].value_counts().sort_index().index)
print(data_2004['FAMI_ESTRATO_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_ESTRATO_VIVIENDA']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    13419
2.0    22293
3.0    14864
4.0     3271
5.0     2418
6.0     1804
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 6710
__________________
Elementos diferentes de null/NaN: 58069
__________________
(58069,)
None

In [50]:
print(data_2004['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2004['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2004['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A      430
B    47247
F    17102
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [51]:
print(data_2004['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2004['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2004['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2045
2.0     213
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 62521
__________________
Elementos diferentes de null/NaN: 2258
__________________
(2258,)
None

In [52]:
print(data_2004['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2004['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2004['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              33956
ACADEMICO Y TECNICO    13019
NORMALISTA               921
TECNICO                16883
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [53]:
print(data_2004['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2004['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2004['COLE_DEPTO_UBICACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CORDOBA',
       'CUNDINAMARCA', 'GUAINIA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2896
ARAUCA                28
ATLANTICO            473
BOGOTA              6465
BOLIVAR              396
BOYACA               578
CALDAS               460
CAQUETA              178
CASANARE             147
CAUCA               1235
CESAR                 77
CORDOBA              189
CUNDINAMARCA        1791
GUAINIA                1
HUILA                388
LA GUAJIRA           236
MAGDALENA             61
META                 294
NARIÑO             11769
NORTE SANTANDER      526
PUTUMAYO              47
QUINDIO              437
RISARALDA            259
SANTANDER            688
SUCRE                 10
TOLIMA               650
VALLE              34500
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [54]:
print(data_2004['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2004['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2004['COLE_MCPIO_UBICACION']))

Index(['AGUA DE DIOS', 'AGUACHICA', 'AGUAZUL', 'ALBAN (SAN JOSE)', 'ALBANIA',
       'ALCALA', 'ALDANA', 'ALGECIRAS', 'ANCUYA', 'ANDALUCIA',
       ...
       'VILLA GUAMEZ (LA HORMIGA)', 'VILLAVICENCIO', 'VILLETA', 'YACUANQUER',
       'YAGUARA', 'YOPAL', 'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=272)
AGUA DE DIOS                   16
AGUACHICA                       2
AGUAZUL                        12
ALBAN (SAN JOSE)               94
ALBANIA                        41
ALCALA                         79
ALDANA                         84
ALGECIRAS                       5
ANCUYA                         86
ANDALUCIA                     180
ANSERMANUEVO                   79
ANTIOQUIA                      17
APARTADO                       94
APIA                           53
ARAUCA                         19
ARBOLEDA (BERRUECOS)           45
ARGELIA                        35
ARMENIA                       254
AYAPEL                          5
BARBACOAS                     118
BARBOSA                        36
BARRANCABERMEJA                26
BARRANQUILLA                  422
BELEN                          76
BELEN DE LOS ANDAQUIES         16
BELLO                         167
BOGOTÁ D.C.                  6465
BOLIVAR                        65
BOSCONIA                        9
BUCARAMANGA                   381
                             ...
TIBU                           11
TIMANA                          7
TIMBIO                         30
TOCAIMA                         3
TORO                          118
TRUJILLO                      135
TULUA                        1914
TUMACO                        849
TUNJA                         242
TUQUERRES                     404
TURBACO                        41
TUTA                           19
UBATE                          46
ULLOA                          32
VALENCIA                       51
VALLEDUPAR                     46
VELEZ                          13
VENECIA (OSPINA PEREZ)          9
VERSALLES                      60
VIJES                          83
VILLA GUAMEZ (LA HORMIGA)       6
VILLAVICENCIO                 216
VILLETA                        86
YACUANQUER                    117
YAGUARA                        13
YOPAL                          93
YOTOCO                         96
YUMBO                         925
ZARZAL                        327
ZIPAQUIRA                      49
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [55]:
print(data_2004['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2004['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_RESIDE_DEPTO']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2912
ARAUCA                30
ATLANTICO            475
BOGOTA              6882
BOLIVAR              368
BOYACA               567
CALDAS               451
CAQUETA              178
CASANARE             153
CAUCA               1247
CESAR                104
CHOCO                  1
CORDOBA              180
CUNDINAMARCA        1508
HUILA                387
LA GUAJIRA           222
MAGDALENA             61
META                 295
NARIÑO             11767
NORTE SANTANDER      525
PUTUMAYO              48
QUINDIO              440
RISARALDA            274
SANTANDER            693
SUCRE                 23
TOLIMA               538
VALLE              34450
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [56]:
print(data_2004['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2004['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_RESIDE_MCPIO']))

Index(['ACACIAS', 'ACEVEDO', 'AGUA DE DIOS', 'AGUACHICA', 'AGUAZUL', 'ALBAN',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA',
       ...
       'YACOPI', 'YACUANQUER', 'YAGUARA', 'YARUMAL', 'YOLOMBO', 'YOPAL',
       'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=410)
ACACIAS                        4
ACEVEDO                        1
AGUA DE DIOS                  41
AGUACHICA                      2
AGUAZUL                        7
ALBAN                          1
ALBAN (SAN JOSE)              93
ALBANIA                       41
ALCALA                        81
ALDANA                        68
ALGECIRAS                      5
ANAPOIMA                       1
ANCUYA                        78
ANDALUCIA                    172
ANDES                         15
ANGOSTURA                      2
ANSERMANUEVO                  70
ANTIOQUIA                     33
APARTADO                      66
ARAUCA                        21
ARBOLEDA (BERRUECOS)          44
ARGELIA                       39
ARMENIA                      249
AYAPEL                         5
BALBOA                         1
BARANOA                        1
BARBACOAS                    113
BARBOSA                       36
BARRANCABERMEJA               25
BARRANQUILLA                 445
                            ...
VALDIVIA                       2
VALENCIA                      42
VALLEDUPAR                    45
VELEZ                         12
VENADILLO                      3
VENECIA                       15
VENECIA (OSPINA PEREZ)         1
VENTAQUEMADA                   2
VERSALLES                     61
VIJES                         80
VILLA DE LEYVA                 2
VILLA DEL ROSARIO              1
VILLA GUAMEZ (LA HORMIGA)      7
VILLA RICA                     1
VILLAMARIA                     6
VILLANUEVA                    16
VILLAPINZON                    1
VILLAVICENCIO                163
VILLETA                       86
VIRACACHA                      1
YACOPI                         2
YACUANQUER                   108
YAGUARA                        8
YARUMAL                       10
YOLOMBO                        7
YOPAL                         96
YOTOCO                       103
YUMBO                        811
ZARZAL                       344
ZIPAQUIRA                     74
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 64778
__________________
(64778,)
None

### TARGETS

In [57]:
print(data_2004['PUNT_BIOLOGIA'].value_counts().index)
print(data_2004['PUNT_BIOLOGIA'].value_counts())
print(missing_data(data_2004['PUNT_BIOLOGIA']))

Index([  43.5,   42.1,   44.9,   40.6,   46.2,   39.0,   47.5,   48.7,   37.2,
         49.9, '42.1', '43.5', '40.6',   51.2, '44.9',   35.2,   '39', '46.2',
         52.4,   53.6, '47.5', '37.2',   54.7, '48.7',   33.0,   56.0, '35.2',
         57.3, '49.9',   58.6, '51.2',   60.0,   '33',   30.4, '52.4',   61.3,
       '53.6',   62.8, '54.7', '30.4',   64.4,   '56',   66.2, '57.3',   27.2,
       '58.6',   68.1,   '60', '61.3', '27.2', '62.8',   70.3,   22.7, '64.4',
         72.9, '66.2', '68.1', '22.7',   76.1, '70.3',   80.4,   15.6,   87.6,
          '0', '76.1', '15.6', '72.9', '87.6',   99.7, '80.4',  '---',    0.0],
      dtype='object')
43.5    5047
42.1    4905
44.9    4647
40.6    4417
46.2    3983
39.0    3713
47.5    3358
48.7    2771
37.2    2570
49.9    2140
42.1    1971
43.5    1778
40.6    1705
51.2    1643
44.9    1619
35.2    1461
39      1446
46.2    1310
52.4    1292
53.6    1081
47.5    1038
37.2    1037
54.7     915
48.7     845
33.0     811
56.0     694
35.2     667
57.3     615
49.9     564
58.6     471
        ...
66.2     133
57.3     119
27.2     105
58.6      91
68.1      86
60        84
61.3      69
27.2      52
62.8      48
70.3      47
22.7      40
64.4      40
72.9      37
66.2      31
68.1      24
22.7      18
76.1      16
70.3      11
80.4      10
15.6       9
87.6       5
0          5
76.1       5
15.6       5
72.9       3
87.6       2
99.7       1
80.4       1
---        1
0.0        1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [58]:
data_2004['PUNT_BIOLOGIA'] = data_2004['PUNT_BIOLOGIA'].replace('---', np.nan)
for i in data_2004['PUNT_BIOLOGIA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_BIOLOGIA'] = data_2004['PUNT_BIOLOGIA'].replace(i, float(i))

In [59]:
print(data_2004['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2004['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_MATEMATICAS']))

Index(['---', '0', '1', '13.4', '20', '24.8', '28.9', '32.3', '35.2', '38',
       '40.5', '42.8', '45', '47.1', '49.1', '51.2', '53.1', '55.1', '57.1',
       '59', '60.9', '62.9', '65', '67', '69.2', '71.4', '73.8', '76.2',
       '78.9', '81.8', '85', '98.2'],
      dtype='object')
---       13
0          8
1         33
13.4      99
20       300
24.8     897
28.9    1943
32.3    3714
35.2    5915
38      7858
40.5    8917
42.8    9047
45      7800
47.1    6309
49.1    4503
51.2    2844
53.1    1815
55.1    1043
57.1     619
59       394
60.9     244
62.9     156
65       107
67        70
69.2      40
71.4      33
73.8      33
76.2      11
78.9       7
81.8       3
85         3
98.2       1
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [60]:
data_2004['PUNT_MATEMATICAS'] = data_2004['PUNT_MATEMATICAS'].replace('---', np.nan)
for i in data_2004['PUNT_MATEMATICAS'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_MATEMATICAS'] = data_2004['PUNT_MATEMATICAS'].replace(i, float(i))

In [61]:
print(data_2004['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2004['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_FILOSOFIA']))

Index(['---', '0', '102.3', '11.7', '20.5', '26', '29.9', '33.2', '35.9',
       '38.4', '40.7', '42.7', '44.6', '46.4', '48.2', '49.9', '51.5', '53.1',
       '54.6', '56.2', '57.7', '59.4', '60.9', '62.5', '64.1', '65.8', '67.6',
       '69.3', '71.3', '73.4', '75.5', '78', '80.8', '84.1', '88', '93.5'],
      dtype='object')
---        53
0          17
102.3       1
11.7       28
20.5       57
26        140
29.9      366
33.2      748
35.9     1510
38.4     2441
40.7     3606
42.7     4583
44.6     5129
46.4     5600
48.2     5305
49.9     5171
51.5     4679
53.1     4073
54.6     3464
56.2     3071
57.7     2563
59.4     2333
60.9     1869
62.5     1712
64.1     1340
65.8     1163
67.6     1004
69.3      819
71.3      695
73.4      486
75.5      338
78        236
80.8      104
84.1       58
88         12
93.5        5
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [62]:
data_2004['PUNT_FILOSOFIA'] = data_2004['PUNT_FILOSOFIA'].replace('---', np.nan)
for i in data_2004['PUNT_FILOSOFIA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_FILOSOFIA'] = data_2004['PUNT_FILOSOFIA'].replace(i, float(i))

In [63]:
print(data_2004['PUNT_FISICA'].value_counts().index)
print(data_2004['PUNT_FISICA'].value_counts())
print(missing_data(data_2004['PUNT_FISICA']))

Index([   '44',  '41.9',    '46',  '47.8',  '39.5',  '49.5',  '37.1',  '51.3',
          44.0,  '34.2',    41.9,    46.0,  '52.9',    47.8,    39.5,    49.5,
        '54.5',    37.1,  '30.8',    51.3,  '56.1',    34.2,    52.9,  '26.7',
          54.5,  '57.7',    30.8,    56.1,  '59.3',    57.7,  '60.9',    59.3,
          '21',    26.7,    60.9,  '62.4',    '64',    62.4,  '65.7',    21.0,
          64.0,  '67.5',    65.7,    '71',  '69.2',    67.5,  '11.9',    69.2,
          77.3,    75.0,    71.0,    '75',    72.9,    82.6,  '72.9',   '---',
        '77.3',    11.9,    90.1,    95.6,     '0',  '79.8',    '86',  '82.6',
       '104.8',    86.0,    79.8,     0.0],
      dtype='object')
44       6945
41.9     6485
46       6474
47.8     5373
39.5     5221
49.5     4000
37.1     3737
51.3     2821
44.0     2082
34.2     2052
41.9     2023
46.0     2016
52.9     1785
47.8     1725
39.5     1613
49.5     1286
54.5     1105
37.1     1077
30.8     1018
51.3      953
56.1      643
34.2      617
52.9      582
26.7      401
54.5      394
57.7      365
30.8      300
56.1      244
59.3      197
57.7      194
         ...
65.7       44
21.0       38
64.0       38
67.5       34
65.7       28
71         18
69.2       18
67.5       18
11.9       17
69.2       17
77.3        9
75.0        7
71.0        7
75          6
72.9        5
82.6        4
72.9        4
---         4
77.3        3
11.9        3
90.1        2
95.6        2
0           2
79.8        1
86          1
82.6        1
104.8       1
86.0        1
79.8        1
0.0         1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [64]:
data_2004['PUNT_FISICA'] = data_2004['PUNT_FISICA'].replace('---', np.nan)
for i in data_2004['PUNT_FISICA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_FISICA'] = data_2004['PUNT_FISICA'].replace(i, float(i))

In [65]:
print(data_2004['PUNT_HISTORIA'].value_counts().index)
print(data_2004['PUNT_HISTORIA'].value_counts())
print(missing_data(data_2004['PUNT_HISTORIA']))

Index([  40.8,   42.2, '40.8',   39.5, '42.2',   43.5, '39.5',   '38', '43.5',
         38.0,   44.7, '44.7', '36.5',   45.9,   36.5, '45.9',   47.1, '34.8',
         34.8, '47.1',   48.4, '48.4', '33.1',   33.1,   49.6, '49.6',   31.1,
       '31.1',   50.8, '50.8', '28.9',   52.1, '52.1',   28.9,   53.3, '53.3',
       '26.3',   26.3, '54.6',   54.6,   '23', '56.1',   23.0,   56.1,   57.4,
       '57.4', '18.6',   '59',   18.6,   59.0,    '0',  '---',   60.6,   11.6,
         62.4, '11.6', '62.4', '60.6'],
      dtype='object')
40.8    3541
42.2    3463
40.8    3445
39.5    3386
42.2    3367
43.5    3149
39.5    3146
38      3083
43.5    2984
38.0    2927
44.7    2734
44.7    2627
36.5    2395
45.9    2259
36.5    2253
45.9    2104
47.1    1802
34.8    1741
34.8    1703
47.1    1599
48.4    1257
48.4    1200
33.1    1148
33.1    1081
49.6     871
49.6     849
31.1     632
31.1     622
50.8     549
50.8     526
28.9     353
52.1     340
52.1     312
28.9     308
53.3     203
53.3     173
26.3     126
26.3     116
54.6      89
54.6      85
23        44
56.1      40
23.0      39
56.1      33
57.4      20
57.4      11
18.6      10
59         8
18.6       7
59.0       5
0          4
---        2
60.6       2
11.6       2
62.4       1
11.6       1
62.4       1
60.6       1
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [66]:
data_2004['PUNT_HISTORIA'] = data_2004['PUNT_HISTORIA'].replace('---', np.nan)
for i in data_2004['PUNT_HISTORIA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_HISTORIA'] = data_2004['PUNT_HISTORIA'].replace(i, float(i))

In [67]:
print(data_2004['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2004['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_QUIMICA']))

Float64Index([ 0.0, 17.4, 24.4, 28.7, 31.8, 34.3, 36.5, 38.4, 40.1, 41.6, 43.2,
              44.5, 45.8, 47.2, 48.4, 49.7, 50.9, 52.0, 53.3, 54.5, 55.8, 57.0,
              58.3, 59.7, 61.1, 62.5, 64.2, 65.9, 67.8, 70.0, 72.6, 75.7, 80.0,
              87.1, 98.8],
             dtype='float64')
0.0        1
17.4      16
24.4      68
28.7     239
31.8     726
34.3    1788
36.5    3116
38.4    4913
40.1    6416
41.6    7680
43.2    7580
44.5    6906
45.8    5767
47.2    4644
48.4    3446
49.7    2568
50.9    1930
52.0    1370
53.3    1125
54.5     821
55.8     729
57.0     578
58.3     508
59.7     375
61.1     343
62.5     262
64.2     230
65.9     153
67.8     135
70.0     151
72.6      78
75.7      52
80.0      35
87.1      23
98.8       7
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [68]:
print(data_2004['PUNT_LENGUAJE'].value_counts().index)
print(data_2004['PUNT_LENGUAJE'].value_counts())
print(missing_data(data_2004['PUNT_LENGUAJE']))

Index([   47.1,    48.7,    45.7,    50.1,    44.1,    51.5,    53.0,    42.6,
          54.4,    40.9,    56.0,    57.5,    59.1,    39.3,    60.7,  '47.1',
        '45.7',    62.5,  '44.1',  '48.7',    37.4,    64.4,  '42.6',  '50.1',
        '51.5',    66.4,  '40.9',    68.6,    '53',  '39.3',  '54.4',    71.1,
          35.4,    '56',    74.1,  '57.5',  '37.4',  '59.1',    77.6,  '60.7',
          33.3,  '62.5',  '35.4',    82.4,  '64.4',  '66.4',  '68.6',  '33.3',
          30.9,    90.2,  '71.1',  '74.1',  '77.6',  '30.9',  '82.4',    28.0,
         103.1,  '90.2',    '28',  '24.5',   104.6, '103.1',    24.5,    12.2,
        '19.8',  '12.2',    19.8, '104.6',     '0',   '---'],
      dtype='object')
47.1     3646
48.7     3602
45.7     3484
50.1     3372
44.1     3190
51.5     2965
53.0     2874
42.6     2814
54.4     2515
40.9     2257
56.0     2238
57.5     1862
59.1     1655
39.3     1613
60.7     1443
47.1     1428
45.7     1380
62.5     1324
44.1     1279
48.7     1232
37.4     1144
64.4     1143
42.6     1127
50.1     1115
51.5     1021
66.4      955
40.9      948
68.6      849
53        810
39.3      765
         ...
33.3      350
62.5      309
35.4      297
82.4      295
64.4      253
66.4      231
68.6      187
33.3      175
30.9      164
90.2      132
71.1      130
74.1      126
77.6       99
30.9       85
82.4       64
28.0       64
103.1      49
90.2       33
28         19
24.5       16
104.6      16
103.1      15
24.5       12
12.2        4
19.8        4
12.2        3
19.8        3
104.6       2
0           1
---         1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [69]:
data_2004['PUNT_LENGUAJE'] = data_2004['PUNT_LENGUAJE'].replace('---', np.nan)
for i in data_2004['PUNT_LENGUAJE'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_LENGUAJE'] = data_2004['PUNT_LENGUAJE'].replace(i, float(i))

In [70]:
print(data_2004['PUNT_GEOGRAFIA'].value_counts().index)
print(data_2004['PUNT_GEOGRAFIA'].value_counts())
print(missing_data(data_2004['PUNT_GEOGRAFIA']))

Index(['42.3', '43.8', '40.9', '45.1', '39.3', '46.5', '37.7', '47.7', '48.9',
       '35.8', '50.2', '51.4',   42.3,   43.8,   40.9, '52.7',   45.1, '33.9',
         39.3,   46.5, '53.9',   47.7,   37.7,   48.9, '55.2',   50.2,   35.8,
       '31.6', '56.5',   51.4, '57.8',   52.7,   33.9, '59.3',   53.9,   55.2,
       '60.7', '28.8',   56.5,   31.6,   57.8, '62.3',   59.3, '63.9', '25.5',
         28.8,   60.7, '65.8',   62.3, '67.7',   25.5, '20.9',   63.9,   65.8,
         '70',   20.9, '13.4',   67.7,   70.0, '72.7',    '0',  '---',   76.1,
         13.4,    0.0],
      dtype='object')
42.3    4740
43.8    4540
40.9    4417
45.1    4105
39.3    3907
46.5    3694
37.7    3154
47.7    3040
48.9    2516
35.8    2275
50.2    2118
51.4    1724
42.3    1597
43.8    1543
40.9    1536
52.7    1466
45.1    1441
33.9    1358
39.3    1299
46.5    1297
53.9    1110
47.7    1083
37.7    1058
48.9     924
55.2     890
50.2     769
35.8     724
31.6     689
56.5     671
51.4     580
        ...
55.2     295
60.7     290
28.8     269
56.5     230
31.6     209
57.8     153
62.3     134
59.3     101
63.9      99
25.5      99
28.8      87
60.7      80
65.8      60
62.3      46
67.7      35
25.5      26
20.9      25
63.9      19
65.8      16
70        13
20.9      13
13.4      10
67.7       6
70.0       5
72.7       5
0          4
---        4
76.1       1
13.4       1
0.0        1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [71]:
data_2004['PUNT_GEOGRAFIA'] = data_2004['PUNT_GEOGRAFIA'].replace('---', np.nan)
for i in data_2004['PUNT_GEOGRAFIA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_GEOGRAFIA'] = data_2004['PUNT_GEOGRAFIA'].replace(i, float(i))

In [72]:
print(data_2004['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2004['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2004['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    33251
44    23366
45     8162
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [73]:
print(data_2004['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2004['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_INTERDISCIPLINAR']))

Index(['---', '0', '103', '109.4', '18.2', '25.3', '25.7', '31.7', '33.3',
       '36.9', '38.4', '38.5', '40.6', '41.6', '42.4', '45.8', '46.2', '48.9',
       '50', '50.8', '51.8', '53.6', '54.6', '55.3', '56.9', '57.5', '6.8',
       '60', '60.3', '60.5', '63', '63.9', '65.5', '66.1', '67.8', '69.3',
       '71.7', '72.8', '72.9', '77', '79.4', '80.6', '82.2', '90.2', '91'],
      dtype='object')
---       134
0         248
103         2
109.4       8
18.2      535
25.3      576
25.7      879
31.7     1090
33.3     1647
36.9     1153
38.4     2997
38.5      532
40.6     1551
41.6     1012
42.4     4022
45.8     7261
46.2      830
48.9     3476
50       4503
50.8      693
51.8     2644
53.6     5582
54.6     1629
55.3      596
56.9     5610
57.5      999
6.8       210
60       4751
60.3      420
60.5      580
63       3481
63.9      267
65.5      272
66.1     2135
67.8       96
69.3     1111
71.7      219
72.8       48
72.9      509
77        198
79.4      136
80.6       11
82.2       58
90.2       10
91         58
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [74]:
data_2004['PUNT_INTERDISCIPLINAR'] = data_2004['PUNT_INTERDISCIPLINAR'].replace('---', np.nan)
for i in data_2004['PUNT_INTERDISCIPLINAR'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_INTERDISCIPLINAR'] = data_2004['PUNT_INTERDISCIPLINAR'].replace(i, float(i))

In [75]:
print(data_2004['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2004['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2004['COD_IDIOMA']))

Int64Index([51, 52, 53, 99], dtype='int64')
51    64260
52      431
53       77
99       11
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [76]:
print(data_2004['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2004['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_IDIOMA']))

Index(['*', '---', '0', '13.9', '21.2', '22.1', '25.6', '26.7', '28.9', '29.9',
       '30.2', '31.5', '32.7', '32.9', '33.7', '35', '35.3', '35.7', '37.1',
       '37.3', '37.5', '38.9', '39.1', '39.2', '40.6', '40.7', '40.9', '42',
       '42.2', '42.4', '43.4', '43.7', '43.9', '44.7', '45.1', '45.3', '45.9',
       '46.5', '46.7', '47.2', '48', '48.4', '49.3', '49.6', '50.5', '50.8',
       '51.6', '51.8', '52', '53', '53.2', '54.1', '54.3', '54.5', '55.5',
       '55.7', '56.8', '57', '58', '58.1', '58.4', '59.3', '59.4', '59.8',
       '60.7', '60.8', '61.3', '62.2', '62.9', '63.7', '64.7', '65.3', '65.4',
       '66.7', '67.1', '68.9', '69.1', '71.3', '71.5', '73.9', '74.1', '74.8',
       '77.2', '79.2', '81.6', '81.8', '86.5', '88.9', '98.8'],
      dtype='object')
*         11
---       14
0          8
13.9      26
21.2     113
22.1       1
25.6     373
26.7       2
28.9    1223
29.9       4
30.2       8
31.5    2463
32.7       8
32.9      11
33.7    4346
35         3
35.3      21
35.7    6411
37.1       9
37.3      31
37.5    7861
38.9       9
39.1    8307
39.2      29
40.6    8083
40.7       8
40.9      29
42      6690
42.2       5
42.4      33
        ...
58.1       7
58.4     312
59.3       1
59.4       7
59.8     304
60.7       3
60.8      11
61.3     326
62.2      16
62.9     308
63.7      23
64.7     338
65.3      21
65.4       1
66.7     346
67.1      14
68.9     343
69.1      22
71.3      20
71.5     316
73.9      27
74.1       3
74.8     278
77.2      14
79.2     207
81.6       8
81.8       1
86.5     121
88.9       1
98.8      32
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [77]:
data_2004['PUNT_IDIOMA'] = data_2004['PUNT_IDIOMA'].replace('---', np.nan)
data_2004['PUNT_IDIOMA'] = data_2004['PUNT_IDIOMA'].replace('*', np.nan)
for i in data_2004['PUNT_IDIOMA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_IDIOMA'] = data_2004['PUNT_IDIOMA'].replace(i, float(i))

# FILE 2 -> 2004_2

In [78]:
data_2004_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20042-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,13,14,15,16,17,19,20,21,22,23,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [79]:
data_2004_2.shape

(366549, 40)

In [80]:
data_2004_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200420000001,SB11200420000002,SB11200420000003
COLE_COD_ICFES,68601,68601,68601
COLE_NOMBRE_SEDE,CENTRO DE EDUCACION DE JOVENES Y ADULTOS EDUCA...,CENTRO DE EDUCACION DE JOVENES Y ADULTOS EDUCA...,CENTRO DE EDUCACION DE JOVENES Y ADULTOS EDUCA...
IND_ANNO_TERMINO_BACHILLERATO,2004,2004,2004
COLE_JORNADA,N,N,N
COLE_VALOR_PENSION,0,0,0
ESTU_GENERO,F,M,M
ESTU_NACIMIENTO_DIA,10,6,17
ESTU_NACIMIENTO_MES,2,6,4
ESTU_NACIMIENTO_ANNO,1988,1988,1988
ESTU_DEPTO_PRESENTACION,RISARALDA,RISARALDA,RISARALDA
ESTU_MCPIO_PRESENTACION,PEREIRA,PEREIRA,PEREIRA
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,45.79,42.86,52.54
PUNT_MATEMATICAS,48.19,49.87,44.85
PUNT_FILOSOFIA,46.6,37.25,44.94
PUNT_FISICA,37.52,34.59,46.63
PUNT_HISTORIA,45.16,36.42,41.17
PUNT_QUIMICA,42.23,45.98,48.33
PUNT_LENGUAJE,50.08,50.08,48.55
PUNT_GEOGRAFIA,46.81,45.35,49.61
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,56.61,56.61,59.77
COD_IDIOMA,51,51,51
PUNT_IDIOMA,47.70,36.79,30.84
ESTU_IES_COD_DESEADA,2711,1111,1111
ESTU_RAZONINSTITUTO,NaN,6,NaN
ESTU_CARRDESEADA_COD,4158,267,269
ESTU_CARRDESEADA_RAZON,2,1,2
COLE_CALENDARIO,A,A,A
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO
COLE_DEPTO_UBICACION,RISARALDA,RISARALDA,RISARALDA
COLE_MCPIO_UBICACION,PEREIRA,PEREIRA,PEREIRA
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_RESIDE_DEPTO,RISARALDA,RISARALDA,RISARALDA
ESTU_RESIDE_MCPIO,PEREIRA,PEREIRA,PEREIRA

The first is delete the columns that won't contribute with the work

In [81]:
data_2004_2 = data_2004_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [82]:
print(data_2004_2['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2004_2['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_COD_ICFES']))

Float64Index([    18.0,     59.0,     75.0,     83.0,     91.0,    125.0,
                 141.0,    174.0,    190.0,    208.0,
              ...
              117630.0, 117648.0, 117655.0, 117705.0, 117721.0, 117739.0,
              117747.0, 117754.0, 117762.0, 117820.0],
             dtype='float64', length=7610)
18.0          11
59.0        1259
75.0          54
83.0          37
91.0         113
125.0         71
141.0        108
174.0        113
190.0         88
208.0         97
216.0         30
232.0         30
240.0        117
257.0         68
265.0        144
273.0         73
281.0         79
315.0        167
349.0         22
356.0         29
364.0         44
372.0         62
380.0        204
398.0         31
406.0         53
422.0         27
430.0         80
448.0         26
455.0         87
463.0        130
            ...
117366.0       4
117382.0      35
117390.0      17
117432.0      45
117465.0      27
117473.0      18
117481.0      49
117499.0      51
117507.0       9
117515.0      11
117523.0       9
117549.0       8
117556.0       8
117564.0      30
117572.0      18
117580.0      19
117598.0      29
117606.0       3
117614.0      17
117622.0       6
117630.0       3
117648.0      18
117655.0      11
117705.0      11
117721.0      11
117739.0      19
117747.0      32
117754.0      55
117762.0      27
117820.0      26
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 213
__________________
Elementos diferentes de null/NaN: 366336
__________________
(366336,)
None

In [83]:
print(data_2004_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2004_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2004_2['IND_ANNO_TERMINO_BACHILLERATO']))

Float64Index([1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0,
              1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0,
              1966.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0,
              1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0,
              1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0,
              1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0,
              1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0],
             dtype='float64')
1950.0        72
1951.0         7
1952.0         2
1953.0         2
1954.0         4
1955.0         3
1956.0         2
1957.0         5
1958.0         3
1959.0         1
1960.0         6
1961.0         7
1962.0         2
1963.0         2
1964.0         7
1965.0         9
1966.0         7
1968.0         6
1969.0         3
1970.0         7
1971.0         9
1972.0        13
1973.0         5
1974.0        24
1975.0        31
1976.0        10
1977.0        18
1978.0        16
1979.0        25
1980.0        26
1981.0        23
1982.0        38
1983.0        27
1984.0        82
1985.0        55
1986.0        62
1987.0        71
1988.0        86
1989.0        84
1990.0        91
1991.0       135
1992.0       162
1993.0       188
1994.0       358
1995.0       300
1996.0       396
1997.0       529
1998.0       793
1999.0       985
2000.0      1596
2001.0      2067
2002.0      2203
2003.0      1923
2004.0    352557
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 1404
__________________
Elementos diferentes de null/NaN: 365145
__________________
(365145,)
None

In [84]:
print(data_2004_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2004_2['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C     88005
M    164662
N     28232
S      2987
T     82444
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 219
__________________
Elementos diferentes de null/NaN: 366330
__________________
(366330,)
None

In [85]:
print(data_2004_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2004_2['COLE_VALOR_PENSION'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_VALOR_PENSION']))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    169810
1.0    107221
2.0     17367
3.0     14735
4.0     17576
5.0     17974
6.0     14593
7.0      5869
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 1404
__________________
Elementos diferentes de null/NaN: 365145
__________________
(365145,)
None

In [86]:
print(data_2004_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    198164
M    168384
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 366548
__________________
(366548,)
None

In [87]:
print(data_2004_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2004_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     12152
2.0     12086
3.0     12011
4.0     11913
5.0     12117
6.0     12038
7.0     12149
8.0     12057
9.0     11878
10.0    12495
11.0    11881
12.0    11948
13.0    11700
14.0    12009
15.0    12273
16.0    12075
17.0    11986
18.0    12040
19.0    11775
20.0    12391
21.0    11461
22.0    11883
23.0    11997
24.0    11874
25.0    12151
26.0    12016
27.0    12028
28.0    12127
29.0    11074
30.0    10885
31.0     6678
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 1401
__________________
Elementos diferentes de null/NaN: 365148
__________________
(365148,)
None

In [88]:
print(data_2004_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2004_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     29602
2.0     27372
3.0     30068
4.0     29387
5.0     30625
6.0     29493
7.0     30718
8.0     30675
9.0     32731
10.0    32356
11.0    31066
12.0    31055
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 1401
__________________
Elementos diferentes de null/NaN: 365148
__________________
(365148,)
None

In [89]:
print(data_2004_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_NACIMIENTO_ANNO']))

Float64Index([1940.0, 1941.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 2040.0, 2041.0, 2042.0, 2043.0, 2044.0,
              2045.0, 2046.0, 2047.0, 2048.0, 2049.0],
             dtype='float64')
1940.0         1
1941.0         1
1946.0         1
1947.0         1
1948.0         1
1949.0         1
1950.0        19
1951.0        23
1952.0        31
1953.0        54
1954.0        46
1955.0        73
1956.0        75
1957.0        85
1958.0       109
1959.0       108
1960.0       140
1961.0       154
1962.0       193
1963.0       246
1964.0       293
1965.0       482
1966.0       635
1967.0       850
1968.0       646
1969.0       435
1970.0       502
1971.0       472
1972.0       505
1973.0       550
           ...
1975.0       679
1976.0       772
1977.0       814
1978.0      1026
1979.0      1252
1980.0      1724
1981.0      2329
1982.0      3746
1983.0      6500
1984.0     15520
1985.0     35938
1986.0     71175
1987.0    123407
1988.0     80561
1989.0      8244
1990.0      1120
1991.0       706
1992.0       504
1993.0       359
1994.0      1266
2040.0        18
2041.0         2
2042.0         6
2043.0         1
2044.0         6
2045.0        15
2046.0        18
2047.0        13
2048.0        19
2049.0        24
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 1401
__________________
Elementos diferentes de null/NaN: 365148
__________________
(365148,)
None

In [90]:
for i in data_2004_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if i > 1994:
        data_2004_2['ESTU_NACIMIENTO_ANNO'] = data_2004_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [91]:
print(data_2004_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2004_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_DEPTO_PRESENTACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             640
ANTIOQUIA          53539
ARAUCA              1770
ATLANTICO          24629
BOGOTA             78202
BOLIVAR            18017
BOYACA             14796
CALDAS             10366
CAQUETA             2374
CASANARE            2624
CAUCA               7300
CESAR               7668
CHOCO               3558
CORDOBA            12986
CUNDINAMARCA       23318
GUAINIA              101
GUAVIARE             471
HUILA               8671
LA GUAJIRA          4641
MAGDALENA           9990
META                6978
NARIÑO               524
NORTE SANTANDER    12302
PUTUMAYO            1736
QUINDIO             5325
RISARALDA           8305
SAN ANDRES           713
SANTANDER          21681
SUCRE               7676
TOLIMA             12738
VALLE               2492
VAUPES               110
VICHADA              307
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 366548
__________________
(366548,)
None

In [92]:
print(data_2004_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2004_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_MCPIO_PRESENTACION']))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=343)
ABEJORRAL                    118
ABREGO                        85
ACACIAS                      697
ACANDI                        38
ACHI                         115
AGUACHICA                    996
AGUADAS                      259
AGUAZUL                      312
AGUSTIN CODAZZI              385
AIPE                         136
ALTO BAUDO (PIE DE PATO)      28
AMAGA                        537
AMALFI                       246
ANDES                        460
ANOLAIMA                     168
ANSERMA                      491
ANTIOQUIA                    614
APARTADO                    1293
ARACATACA                    265
ARAUCA                       738
ARAUQUITA                    165
ARBELAEZ                     193
ARBOLEDAS                     38
ARBOLETES                    349
ARIGUANI (EL DIFICIL)        292
ARJONA                       583
ARMENIA                     3615
ASTREA                       118
ATRATO (YUTO)                 33
AYAPEL                       290
                            ...
TULUA                        205
TUMACO                       100
TUNJA                       3620
TURBACO                      720
TURBO                        914
TURMEQUE                     228
TUTA                         123
UBATE                        975
UNGUIA                        70
URRAO                        335
VALLEDUPAR                  4502
VELEZ                        417
VENADILLO                    199
VENTAQUEMADA                 143
VIGIA DEL FUERTE              36
VILLA DE LEYVA               270
VILLA DEL ROSARIO            575
VILLAGARZON                   95
VILLAMARIA                   239
VILLANUEVA                   632
VILLAVICENCIO               4940
VILLETA                      673
VIOTA                         60
YARUMAL                      646
YAVARATE                       1
YOLOMBO                      196
YOPAL                       1231
ZAPATOCA                     146
ZARAGOZA                     154
ZIPAQUIRA                   1907
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 366548
__________________
(366548,)
None

In [93]:
print(data_2004_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2004_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    53
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 366496
__________________
Elementos diferentes de null/NaN: 53
__________________
(53,)
None

In [94]:
print(data_2004_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2004_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    131
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 366418
__________________
Elementos diferentes de null/NaN: 131
__________________
(131,)
None

In [95]:
print(data_2004_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2004_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    24
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 366525
__________________
Elementos diferentes de null/NaN: 24
__________________
(24,)
None

In [96]:
print(data_2004_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2004_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    103
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 366446
__________________
Elementos diferentes de null/NaN: 103
__________________
(103,)
None

In [97]:
print(data_2004_2['ESTU_IES_COD_DESEADA'].value_counts().index)
print(data_2004_2['ESTU_IES_COD_DESEADA'].value_counts())
print(missing_data(data_2004_2['ESTU_IES_COD_DESEADA']))

Index([1101.0, 1201.0, 1204.0, '1201', 1205.0, 1202.0, 9110.0, '1101', 2106.0,
       1113.0,
       ...
       '4726', '2744', '4109', 'YYYY', '2836', '3715', '1730', '2715', '2730',
       '4106'],
      dtype='object', length=651)
1101.0    49733
1201.0    27442
1204.0    10862
1201       7745
1205.0     7338
1202.0     7138
9110.0     6780
1101       6529
2106.0     6224
1113.0     4898
1301.0     4831
1213.0     4762
1207.0     4409
9104.0     4120
1106.0     4046
1110.0     3963
1701.0     3922
1114.0     3909
1112.0     3703
1111.0     3565
1105.0     3364
1212.0     3339
2905.0     3199
1804.0     2980
1209.0     2886
1203.0     2699
1813.0     2448
1102.0     2392
1120.0     2299
1713.0     2265
          ...
2738          3
2716          3
9115          3
3809          3
3719          3
3828          3
3833          3
2822          2
3706          2
2746          2
2849          2
4101          2
4704          2
2903          2
3723          2
2841          2
3832          2
2822.0        2
3831          2
2904          2
4726          2
2744          1
4109          1
YYYY          1
2836          1
3715          1
1730          1
2715          1
2730          1
4106          1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 40470
__________________
Elementos diferentes de null/NaN: 326079
__________________
(326079,)
None

In [98]:
data_2004_2['ESTU_IES_COD_DESEADA'] = data_2004_2['ESTU_IES_COD_DESEADA'].replace('YYYY', np.nan)
data_2004_2['ESTU_IES_COD_DESEADA'] = data_2004_2['ESTU_IES_COD_DESEADA'].replace('ZZZZ', np.nan)
for i in data_2004_2['ESTU_IES_COD_DESEADA'].value_counts().index:
    if type(i) == str:
        data_2004_2['ESTU_IES_COD_DESEADA'] = data_2004_2['ESTU_IES_COD_DESEADA'].replace(i, float(i))

In [99]:
print(data_2004_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_RAZONINSTITUTO']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0      6822
2.0     42850
3.0    130024
4.0     30400
5.0     27212
6.0     18317
7.0     21625
8.0     19450
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 69849
__________________
Elementos diferentes de null/NaN: 296700
__________________
(296700,)
None

In [100]:
print(data_2004_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2004_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_CARRDESEADA_COD']))

Float64Index([    1.0,     2.0,     3.0,     4.0,     5.0,     6.0,     7.0,
                  8.0,     9.0,    10.0,
              ...
              19599.0, 19600.0, 19607.0, 19609.0, 19612.0, 19629.0, 19634.0,
              19642.0, 19647.0, 19653.0],
             dtype='float64', length=3766)
1.0          532
2.0         1762
3.0          535
4.0         2053
5.0          769
6.0          921
7.0         1848
8.0          236
9.0        10946
10.0         213
11.0        1491
12.0         130
13.0         307
14.0        3216
15.0         526
16.0         330
17.0        2346
18.0         831
19.0        2538
20.0         412
21.0         113
22.0         183
23.0         743
24.0         248
25.0        1281
26.0        4776
27.0         260
28.0        1948
29.0        1188
30.0        1684
           ...
19535.0       11
19537.0       23
19548.0        6
19556.0        4
19562.0       11
19567.0        2
19568.0        1
19571.0        1
19572.0        5
19573.0        4
19575.0        3
19576.0        1
19577.0        2
19580.0       12
19585.0        1
19589.0        2
19592.0        2
19596.0        2
19597.0        1
19598.0       59
19599.0       12
19600.0        4
19607.0        1
19609.0       23
19612.0      336
19629.0      853
19634.0       51
19642.0       49
19647.0      128
19653.0        5
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 47663
__________________
Elementos diferentes de null/NaN: 318886
__________________
(318886,)
None

In [101]:
print(data_2004_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2004_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_CARRDESEADA_RAZON']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    101633
2.0    104586
3.0     42447
4.0     27123
5.0     24143
6.0      7218
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 59399
__________________
Elementos diferentes de null/NaN: 307150
__________________
(307150,)
None

In [102]:
print(data_2004_2['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2004_2['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A    339051
B       532
F     26745
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 221
__________________
Elementos diferentes de null/NaN: 366328
__________________
(366328,)
None

In [103]:
print(data_2004_2['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2004_2['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    1679
2.0     152
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 364718
__________________
Elementos diferentes de null/NaN: 1831
__________________
(1831,)
None

In [104]:
print(data_2004_2['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2004_2['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              204033
ACADEMICO Y TECNICO     96546
NORMALISTA               7239
TECNICO                 58510
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 221
__________________
Elementos diferentes de null/NaN: 366328
__________________
(366328,)
None

In [105]:
print(data_2004_2['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2004_2['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_DEPTO_UBICACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             640
ANTIOQUIA          53658
ARAUCA              1722
ATLANTICO          23883
BOGOTA             77569
BOLIVAR            18568
BOYACA             14392
CALDAS             10004
CAQUETA             2383
CASANARE            2640
CAUCA               7356
CESAR               7602
CHOCO               3494
CORDOBA            12942
CUNDINAMARCA       24286
GUAINIA               99
GUAVIARE             448
HUILA               8613
LA GUAJIRA          4668
MAGDALENA          10251
META                6874
NARIÑO               519
NORTE SANTANDER    12261
PUTUMAYO            1727
QUINDIO             5265
RISARALDA           8315
SAN ANDRES           713
SANTANDER          21513
SUCRE               7786
TOLIMA             13228
VALLE               2517
VAUPES               109
VICHADA              283
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 221
__________________
Elementos diferentes de null/NaN: 366328
__________________
(366328,)
None

In [106]:
print(data_2004_2['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2004_2['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_MCPIO_UBICACION']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YOPAL', 'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=941)
ABEJORRAL                    104
ABREGO                        65
ABRIAQUI                      18
ACACIAS                      562
ACANDI                        38
ACEVEDO                       68
ACHI                          97
AGRADO                        47
AGUA DE DIOS                 117
AGUACHICA                    675
AGUADA                        27
AGUADAS                      258
AGUAZUL                      331
AGUSTIN CODAZZI              387
AIPE                         134
ALBAN                         41
ALBANIA                      104
ALEJANDRIA                    48
ALGARROBO                     68
ALGECIRAS                    101
ALMAGUER                      79
ALMEIDA                       20
ALPUJARRA                     40
ALTAMIRA                      18
ALTO BAUDO (PIE DE PATO)      89
ALTOS DEL ROSARIO             30
ALVARADO                      83
AMAGA                        209
AMALFI                       141
AMBALEMA                     103
                            ...
VILLAHERMOSA                  57
VILLAMARIA                   411
VILLANUEVA                   677
VILLAPINZON                  192
VILLARRICA                    57
VILLAVICENCIO               4434
VILLAVIEJA                    66
VILLETA                      344
VIOTA                         97
VIRACACHA                     31
VISTA HERMOSA                 30
VITERBO                      160
YACOPI                        90
YACUANQUER                     5
YAGUARA                      108
YALI                          38
YARUMAL                      401
YAVARATE                       4
YOLOMBO                      114
YONDO (CASABE)                83
YOPAL                       1057
YUMBO                         46
ZAMBRANO                      81
ZAPATOCA                      92
ZAPAYAN                       29
ZARAGOZA                     151
ZETAQUIRA                     50
ZIPACON                       19
ZIPAQUIRA                   1104
ZONA BANANERA                362
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 221
__________________
Elementos diferentes de null/NaN: 366328
__________________
(366328,)
None

In [107]:
print(data_2004_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_RESIDE_DEPTO']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             640
ANTIOQUIA          53539
ARAUCA              1770
ATLANTICO          24629
BOGOTA             78202
BOLIVAR            18017
BOYACA             14796
CALDAS             10366
CAQUETA             2374
CASANARE            2624
CAUCA               7300
CESAR               7668
CHOCO               3558
CORDOBA            12986
CUNDINAMARCA       23318
GUAINIA              101
GUAVIARE             471
HUILA               8671
LA GUAJIRA          4641
MAGDALENA           9990
META                6978
NARIÑO               524
NORTE SANTANDER    12302
PUTUMAYO            1736
QUINDIO             5325
RISARALDA           8305
SAN ANDRES           713
SANTANDER          21681
SUCRE               7676
TOLIMA             12738
VALLE               2492
VAUPES               110
VICHADA              307
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 366548
__________________
(366548,)
None

In [108]:
print(data_2004_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_RESIDE_MCPIO']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=952)
ABEJORRAL                    107
ABREGO                        81
ABRIAQUI                      19
ACACIAS                      648
ACANDI                        38
ACEVEDO                       59
ACHI                          99
AGRADO                        51
AGUA DE DIOS                 122
AGUACHICA                    669
AGUADA                        50
AGUADAS                      259
AGUAZUL                      325
AGUSTIN CODAZZI              387
AIPE                         135
ALBAN                         50
ALBANIA                      106
ALEJANDRIA                    48
ALGARROBO                     66
ALGECIRAS                    103
ALMAGUER                      75
ALMEIDA                       20
ALPUJARRA                     41
ALTAMIRA                      18
ALTO BAUDO (PIE DE PATO)      20
ALTOS DEL ROSARIO             30
ALVARADO                      80
AMAGA                        212
AMALFI                       144
AMBALEMA                     101
                            ...
VILLAMARIA                   385
VILLANUEVA                   680
VILLAPINZON                  175
VILLARRICA                    57
VILLAVICENCIO               4407
VILLAVIEJA                    58
VILLETA                      342
VIOTA                        100
VIRACACHA                     33
VISTA HERMOSA                 31
VITERBO                      160
YACOPI                        81
YACUANQUER                     5
YAGUARA                       98
YALI                          36
YARUMAL                      414
YAVARATE                       1
YOLOMBO                      142
YONDO (CASABE)                84
YOPAL                       1065
YUMBO                         49
ZAMBRANO                      81
ZAPATOCA                      91
ZAPAYAN                       24
ZARAGOZA                     151
ZARZAL                        16
ZETAQUIRA                     49
ZIPACON                       32
ZIPAQUIRA                   1177
ZONA BANANERA                302
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 366548
__________________
(366548,)
None

### TARGETS

In [109]:
print(data_2004_2['PUNT_BIOLOGIA'].value_counts().index)
print(data_2004_2['PUNT_BIOLOGIA'].value_counts())
print(missing_data(data_2004_2['PUNT_BIOLOGIA']))

Index([  45.79,   44.36,   47.18,   42.86,   48.54,    41.3,   49.88,   51.21,
       '44.36', '45.79',   39.62, '42.86', '47.18',  '41.3',   52.54, '48.54',
       '39.62',    37.8,   53.88, '49.88', '51.21',  '37.8',   55.25,   35.79,
       '52.54',   56.64, '35.79', '53.88',   58.08,   33.52, '55.25', '33.52',
         59.58, '56.64',   30.85, '58.08',   61.17, '30.85', '59.58',   62.86,
       '61.17',   27.55, '27.55',   64.68, '62.86',   66.71, '64.68',   23.09,
       '23.09',   68.99, '66.71',   15.76, '15.76', '68.99',   71.68,     '0',
         '---', '71.68',     0.0,    75.0,   79.48,    '75'],
      dtype='object')
45.79    24354
44.36    24172
47.18    23190
42.86    21693
48.54    21084
41.3     18267
49.88    17986
51.21    14344
44.36    14195
45.79    13989
39.62    13683
42.86    13542
47.18    12690
41.3     11859
52.54    11429
48.54    10693
39.62     9258
37.8      9027
53.88     8811
49.88     8803
51.21     6778
37.8      6471
55.25     6367
35.79     5475
52.54     4958
56.64     4266
35.79     3921
53.88     3591
58.08     2967
33.52     2633
         ...
59.58     1822
56.64     1713
30.85     1098
58.08     1078
61.17     1067
30.85      935
59.58      681
62.86      629
61.17      396
27.55      388
27.55      351
64.68      311
62.86      222
66.71      168
64.68      119
23.09      101
23.09       90
68.99       58
66.71       49
15.76       39
15.76       33
68.99       26
71.68       26
0           13
---         13
71.68       10
0.0          9
75.0         8
79.48        5
75           2
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [110]:
data_2004_2['PUNT_BIOLOGIA'] = data_2004_2['PUNT_BIOLOGIA'].replace('---', np.nan)
for i in data_2004_2['PUNT_BIOLOGIA'].value_counts().index:
    if type(i) == str:
        data_2004_2['PUNT_BIOLOGIA'] = data_2004_2['PUNT_BIOLOGIA'].replace(i, float(i))

In [111]:
print(data_2004_2['PUNT_MATEMATICAS'].value_counts().index)
print(data_2004_2['PUNT_MATEMATICAS'].value_counts())
print(missing_data(data_2004_2['PUNT_MATEMATICAS']))

Index(['39.73', '41.46', '37.95', '43.17', '36.11', '44.85', '46.52', '34.19',
         41.46,   39.73, '48.19',   43.17, '32.16',   37.95,   44.85,   36.11,
       '49.87',   46.52, '29.99',   34.19,   48.19, '51.57',   32.16,   49.87,
       '27.65', '53.31',   29.99,   51.57, '25.06', '55.09',   53.31,   27.65,
         55.09, '56.93', '22.14',   25.06,   56.93, '58.86', '60.89',   58.86,
       '18.71',   22.14, '63.05',   60.89, '14.48',   18.71,   63.05,     '0',
        '65.4',  '8.79',   '---',    65.4,   14.48, '67.99',     0.0, '70.92',
         67.99,    8.79,   70.92, '74.34', '78.57',   74.34, '84.27'],
      dtype='object')
39.73    32710
41.46    32136
37.95    29703
43.17    28679
36.11    24295
44.85    23743
46.52    17978
34.19    17847
41.46    12794
39.73    12470
48.19    12214
43.17    11747
32.16    11467
37.95    11325
44.85     9707
36.11     8949
49.87     7849
46.52     7745
29.99     6657
34.19     6415
48.19     5500
51.57     4763
32.16     4196
49.87     3704
27.65     3538
53.31     2680
29.99     2359
51.57     2294
25.06     1565
55.09     1525
         ...
56.93      777
22.14      650
25.06      534
56.93      446
58.86      387
60.89      249
58.86      248
18.71      235
22.14      202
63.05      127
60.89      126
14.48       99
18.71       88
63.05       82
0           63
65.4        63
8.79        54
---         40
65.4        29
14.48       25
67.99       24
0.0         20
70.92       17
67.99       16
8.79        12
70.92        8
74.34        5
78.57        4
74.34        2
84.27        1
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [112]:
c = "PUNT_MATEMATICAS"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [113]:
print(data_2004_2['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2004_2['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2004_2['PUNT_FILOSOFIA']))

Index(['---', '0', '10.99', '19.73', '25.06', '28.99', '32.17', '34.87',
       '37.25', '39.39', '41.37', '43.2', '44.94', '46.6', '48.19', '49.74',
       '51.25', '52.74', '54.21', '55.68', '57.15', '58.63', '60.14', '61.68',
       '63.26', '64.91', '66.63'],
      dtype='object')
---        166
0           35
10.99      115
19.73      295
25.06      923
28.99     2651
32.17     6238
34.87    12373
37.25    20972
39.39    31530
41.37    40782
43.2     47165
44.94    48493
46.6     44970
48.19    37356
49.74    28293
51.25    19525
52.74    11826
54.21     6758
55.68     3460
57.15     1625
58.63      636
60.14      271
61.68       71
63.26       14
64.91        5
66.63        1
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [114]:
c = "PUNT_FILOSOFIA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [115]:
print(data_2004_2['PUNT_FISICA'].value_counts().index)
print(data_2004_2['PUNT_FISICA'].value_counts())
print(missing_data(data_2004_2['PUNT_FISICA']))

Index([  42.45,   40.12,   44.61,   37.52,   46.63,   48.54,   34.59,   50.36,
         31.14,   52.12, '42.45', '40.12', '44.61',   53.83, '37.52',   26.87,
       '46.63', '34.59', '48.54',    55.5, '31.14', '50.36',   21.11,   57.14,
       '52.12', '26.87',   58.78, '53.83',   60.41,  '55.5',   11.65, '21.11',
         62.04, '57.14',   63.69,   65.36, '58.78',   67.08, '11.65',   68.84,
       '60.41',     0.0,   70.67,   72.58, '63.69', '62.04',   74.61,   76.78,
         79.13,   81.73,     '0', '67.08', '65.36',   '---',   84.68, '74.61',
       '68.84', '70.67', '92.43', '79.13',   98.21, '72.58', '81.73'],
      dtype='object')
42.45    46791
40.12    43850
44.61    43307
37.52    35414
46.63    35300
48.54    25820
34.59    24074
50.36    17166
31.14    13059
52.12    10686
42.45     7267
40.12     7192
44.61     6650
53.83     6281
37.52     5952
26.87     5736
46.63     5317
34.59     4213
48.54     3661
55.5      3480
31.14     2335
50.36     2282
21.11     1805
57.14     1799
52.12     1341
26.87     1051
58.78     1008
53.83      689
60.41      572
55.5       382
         ...
57.14      192
63.69      166
65.36      109
58.78      104
67.08       90
11.65       62
68.84       61
60.41       47
0.0         39
70.67       28
72.58       25
63.69       21
62.04       19
74.61       14
76.78       13
79.13        8
81.73        6
0            6
67.08        6
65.36        6
---          5
84.68        5
74.61        4
68.84        2
70.67        2
92.43        2
79.13        1
98.21        1
72.58        1
81.73        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [116]:
c = "PUNT_FISICA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [117]:
print(data_2004_2['PUNT_HISTORIA'].value_counts().index)
print(data_2004_2['PUNT_HISTORIA'].value_counts())
print(missing_data(data_2004_2['PUNT_HISTORIA']))

Index([  42.56,   43.89,   41.17,   45.16,   46.39,   39.71,    47.6,   38.14,
          48.8,   49.98,   36.42,   51.16,   52.34,   34.52,   53.53,   54.75,
       '41.17', '42.56', '39.71', '43.89',   32.36,   55.99, '45.16', '38.14',
       '46.39',   57.27,  '47.6', '36.42',  '48.8',   58.61, '49.98',   29.82,
       '34.52', '51.16',    60.0, '52.34', '32.36', '53.53',   61.49,   26.66,
       '54.75', '55.99', '29.82',   63.07, '57.27', '58.61', '26.66',   22.36,
          64.8,    '60', '61.49',   66.72, '22.36',   15.29, '63.07', '15.29',
        '64.8',   '---',   68.91,     0.0,   71.48, '68.91', '66.72'],
      dtype='object')
42.56    29437
43.89    28978
41.17    28138
45.16    27403
46.39    25058
39.71    24554
47.6     21971
38.14    19646
48.8     18867
49.98    15649
36.42    13678
51.16    12845
52.34    10065
34.52     8525
53.53     7962
54.75     6039
41.17     4984
42.56     4898
39.71     4677
43.89     4589
32.36     4341
55.99     4248
45.16     4079
38.14     3844
46.39     3461
57.27     3006
47.6      2926
36.42     2892
48.8      2351
58.61     1997
         ...
51.16     1425
60.0      1154
52.34     1076
32.36     1016
53.53      848
61.49      674
26.66      622
54.75      620
55.99      447
29.82      404
63.07      286
57.27      276
58.61      174
26.66      166
22.36      165
64.8       127
60         108
61.49       44
66.72       43
22.36       37
15.29       36
63.07       25
15.29       14
64.8         9
---          6
68.91        4
0.0          3
71.48        2
68.91        1
66.72        1
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [118]:
c = "PUNT_HISTORIA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [119]:
print(data_2004_2['PUNT_QUIMICA'].value_counts().index)
print(data_2004_2['PUNT_QUIMICA'].value_counts())
print(missing_data(data_2004_2['PUNT_QUIMICA']))

Index([  40.87,   42.23,   39.44,   43.52,   37.91,   44.77,   36.25,   45.98,
         47.16,   34.41,   48.33,   49.49,   32.33, '39.44', '40.87', '37.91',
         50.65, '42.23', '36.25', '43.52',    51.8, '44.77',   29.89, '34.41',
         52.97, '45.98',   54.16, '32.33',   55.38, '47.16',   56.63,   26.87,
       '48.33', '29.89',   57.93, '49.49',   59.29, '50.65',   60.73, '26.87',
         62.27,  '51.8',   22.81, '52.97',   63.95, '54.16',    65.8, '55.38',
       '56.63',   67.91, '22.81', '57.93',   16.16,   70.38, '59.29', '16.16',
         73.42, '60.73', '62.27', '63.95',     0.0,  '65.8', '67.91',   '---',
         77.54, '73.42',   84.24,     '0', '70.38'],
      dtype='object')
40.87    37919
42.23    36422
39.44    35005
43.52    32262
37.91    29632
44.77    26084
36.25    21709
45.98    20313
47.16    14917
34.41    13464
48.33    10835
49.49     7783
32.33     7064
39.44     6390
40.87     6330
37.91     5665
50.65     5479
42.23     5364
36.25     4720
43.52     4489
51.8      3905
44.77     3264
29.89     3193
34.41     3161
52.97     2819
45.98     2259
54.16     2038
32.33     1734
55.38     1510
47.16     1468
         ...
26.87      307
62.27      292
51.8       279
22.81      278
52.97      227
63.95      187
54.16      136
65.8       134
55.38      110
56.63       84
67.91       81
22.81       79
57.93       54
16.16       52
70.38       37
59.29       28
16.16       28
73.42       23
60.73       22
62.27       19
63.95       12
0.0          8
65.8         7
67.91        6
---          4
77.54        4
73.42        2
84.24        2
0            2
70.38        2
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [120]:
c = "PUNT_QUIMICA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [121]:
print(data_2004_2['PUNT_LENGUAJE'].value_counts().index)
print(data_2004_2['PUNT_LENGUAJE'].value_counts())
print(missing_data(data_2004_2['PUNT_LENGUAJE']))

Index([  53.12,    51.6,   50.08,   54.64,   48.55,   56.17,    47.0,   57.73,
         45.42,   59.31,   43.79,   60.94,   42.11,   62.62,   64.36,   40.36,
          66.2,   38.51,   68.15,   36.54, '50.08',  '51.6', '48.55', '53.12',
          '47', '54.64',   70.25, '45.42', '56.17', '43.79', '57.73', '59.31',
         34.41, '42.11',   72.56, '60.94', '40.36', '62.62', '38.51',   75.15,
         32.07, '64.36',  '66.2', '36.54',   78.15, '68.15',   29.43, '34.41',
       '70.25',   81.81, '32.07',   26.35, '72.56', '75.15', '29.43',   86.69,
       '78.15',   22.59, '26.35', '81.81',   94.53,   17.58, '22.59', '86.69',
       '17.58',    9.56,  '9.56',   '---',     0.0,   97.07, '97.07'],
      dtype='object')
53.12    24231
51.6     24039
50.08    23480
54.64    22777
48.55    22298
56.17    21434
47.0     20662
57.73    19440
45.42    17773
59.31    16895
43.79    15136
60.94    14352
42.11    11779
62.62    11524
64.36     8917
40.36     8860
66.2      6687
38.51     6033
68.15     4860
36.54     4057
50.08     3781
51.6      3746
48.55     3660
53.12     3596
47        3550
54.64     3388
70.25     3359
45.42     3169
56.17     2976
43.79     2673
         ...
64.36     1113
66.2       855
36.54      847
78.15      679
68.15      585
29.43      562
34.41      446
70.25      383
81.81      310
32.07      264
26.35      220
72.56      210
75.15      140
29.43      121
86.69       80
78.15       72
22.59       67
26.35       44
81.81       37
94.53       26
17.58       23
22.59       18
86.69       11
17.58        6
9.56         6
9.56         5
---          5
0.0          5
97.07        1
97.07        1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [122]:
c = "PUNT_LENGUAJE"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [123]:
print(data_2004_2['PUNT_GEOGRAFIA'].value_counts().index)
print(data_2004_2['PUNT_GEOGRAFIA'].value_counts())
print(missing_data(data_2004_2['PUNT_GEOGRAFIA']))

Index([  49.61,   50.98,   52.33,   48.23,   53.68,   46.81,   55.04,   45.35,
          56.4,   43.84,   57.79,   42.26,    59.2, '48.23', '49.61', '46.81',
         40.59, '50.98', '45.35', '52.33', '43.84', '53.68',   60.66, '55.04',
       '42.26',    38.8,  '56.4',   62.17, '40.59', '57.79',   36.87,   63.75,
        '38.8',  '59.2', '60.66',   65.42, '36.87',   34.72, '62.17',    67.2,
       '34.72',    32.3, '63.75',   69.14, '65.42',  '32.3',   29.46,  '67.2',
         71.27, '29.46', '69.14',    73.7,   25.95, '71.27', '25.95',   76.54,
         21.21,  '73.7', '21.21', '76.54',   '---',   80.04,   13.45, '13.45',
           0.0, '80.04',     '0', '84.78'],
      dtype='object')
49.61    19476
50.98    19351
52.33    19156
48.23    18979
53.68    17970
46.81    17765
55.04    16477
45.35    16011
56.4     14367
43.84    14058
57.79    12086
42.26    11676
59.2      9666
48.23     9469
49.61     9379
46.81     9016
40.59     8952
50.98     8691
45.35     8496
52.33     8188
43.84     7603
53.68     7569
60.66     7559
55.04     6476
42.26     6200
38.8      6129
56.4      5555
62.17     5486
40.59     5161
57.79     4464
         ...
62.17     1723
67.2      1452
34.72     1371
32.3      1129
63.75     1123
69.14      724
65.42      698
32.3       629
29.46      444
67.2       389
71.27      353
29.46      249
69.14      184
73.7       156
25.95      141
71.27       96
25.95       88
76.54       49
21.21       48
73.7        34
21.21       21
76.54       15
---         14
80.04       14
13.45       11
13.45        9
0.0          6
80.04        4
0            2
84.78        1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [124]:
c = "PUNT_GEOGRAFIA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [125]:
print(data_2004_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2004_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2004_2['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45, 99], dtype='int64')
43    183493
44    139976
45     43078
99         2
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [126]:
print(data_2004_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2004_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2004_2['PUNT_INTERDISCIPLINAR']))

Index(['---', '0', '22.06', '23.24', '31.01', '32.26', '33.15', '35.96',
       '39.81', '40.24', '40.3', '43.1', '45.55', '45.76', '46.08', '48.9',
       '49.7', '50.49', '51.68', '53.3', '54.52', '54.77', '56.61', '57.51',
       '58.84', '59.77', '60.81', '62.83', '62.91', '64.68', '66.12', '66.89',
       '69.53', '69.66', '71.18', '73.3', '75.9', '77.47', '77.7', '81.42',
       '81.43', '83.33', '88.5', '91.93', '96.32', '99.58'],
      dtype='object')
---       2207
0         2104
22.06     1294
23.24     4595
31.01    11512
32.26     5010
33.15     3440
35.96    18967
39.81    23312
40.24     6090
40.3     13448
43.1     22868
45.55    23572
45.76     7626
46.08    19218
48.9     14097
49.7     31443
50.49     7751
51.68     9769
53.3     33307
54.52     6416
54.77     6331
56.61    29433
57.51     3856
58.84     4491
59.77    21910
60.81     2206
62.83     2803
62.91    13236
64.68     1095
66.12     6530
66.89     1546
69.53     2480
69.66      418
71.18      749
73.3       686
75.9       301
77.47       88
77.7       147
81.42      114
81.43       15
83.33       24
88.5        29
91.93        2
96.32        1
99.58       12
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [127]:
c = "PUNT_INTERDISCIPLINAR"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [128]:
print(data_2004_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2004_2['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2004_2['COD_IDIOMA']))

Int64Index([51, 52, 53, 99], dtype='int64')
51    364138
52      1728
53       293
99       390
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [129]:
print(data_2004_2['PUNT_IDIOMA'].value_counts().index)
print(data_2004_2['PUNT_IDIOMA'].value_counts())
print(missing_data(data_2004_2['PUNT_IDIOMA']))

Index(['38.40', '36.79', '39.90', '35.02', '41.31', '33.06', '42.66', '43.97',
       '30.84', '45.24',
       ...
         41.32,   46.48,  '51.3',    24.2,  '48.9', '120.1',   42.67,   49.86,
         77.01,     0.0],
      dtype='object', length=166)
38.40    47709
36.79    46077
39.90    43128
35.02    38667
41.31    35886
33.06    28029
42.66    26471
43.97    18271
30.84    16833
45.24    12020
28.22     8204
46.47     7721
47.70     5028
48.90     3431
24.96     3296
50.09     2451
51.29     1963
52.52     1670
53.75     1374
55.02     1120
56.31     1053
20.54      925
57.66      913
59.09      882
60.59      806
62.20      748
38.4       694
39.9       657
36.79      643
63.95      626
         ...
60.27        3
99.40        3
105.6        3
70.83        3
35.03        2
114.8        2
103.5        2
72.73        2
24.97        2
85.69        2
108.7        2
16.97        1
13.25        1
126.2        1
87.84        1
68.94        1
59.15        1
54.77        1
44.02        1
86.98        1
41.32        1
46.48        1
51.3         1
24.2         1
48.9         1
120.1        1
42.67        1
49.86        1
77.01        1
0.0          1
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 366549
__________________
(366549,)
None

In [130]:
c = "PUNT_IDIOMA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
data_2004_2[c] = data_2004_2[c].replace('*', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

Now i can transform the DataFrame in csv files

In [132]:
data_2004.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2004_1.csv')
data_2004_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2004_2.csv')