In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [ ]:
data_2002 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20021-RGSTRO-CLFCCN-V1-0.txt', delimiter="|",
                       encoding = "iso-8859-1")

In [ ]:
data_2002.shape

In [ ]:
data_2002.head(3).T

In [ ]:
##DELETING columns
data_2002 = data_2002.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [ ]:
"""PERFECT!"""
print(data_2002['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2002['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2002['COLE_COD_ICFES']))

In [ ]:
print(data_2002['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2002['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2002['IND_ANNO_TERMINO_BACHILLERATO']))

In [ ]:
for i in data_2002['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index:
    if '*' in i:
        data_2002['IND_ANNO_TERMINO_BACHILLERATO'] = data_2002['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif ' ' in i:
        data_2002['IND_ANNO_TERMINO_BACHILLERATO'] = data_2002['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif len(i)<4:
        data_2002['IND_ANNO_TERMINO_BACHILLERATO'] = data_2002['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [ ]:
"""PERFECT!"""
print(data_2002['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2002['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2002['COLE_JORNADA']))

In [ ]:
print(data_2002['COLE_VALOR_PENSION'].value_counts().index)
print(data_2002['COLE_VALOR_PENSION'].value_counts())
print(missing_data(data_2002['COLE_VALOR_PENSION']))

In [ ]:
for i in data_2002['COLE_VALOR_PENSION'].value_counts().index:
    if type(i) == float:
        data_2002['COLE_VALOR_PENSION'] = data_2002['COLE_VALOR_PENSION'].replace(i, str(i)[:-2])
data_2002['COLE_VALOR_PENSION'] = data_2002['COLE_VALOR_PENSION'].replace('*', np.nan)

In [ ]:
print(data_2002['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2002['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_GENERO']))

In [ ]:
print(data_2002['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2002['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_NACIMIENTO_DIA']))

In [ ]:
print(data_2002['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2002['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_NACIMIENTO_MES']))

In [ ]:
print(data_2002['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2002['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_NACIMIENTO_ANNO']))

In [ ]:
data_2002['ESTU_NACIMIENTO_ANNO'] = data_2002['ESTU_NACIMIENTO_ANNO'].replace(198.0, np.nan)

In [ ]:
print(data_2002['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2002['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_DEPTO_PRESENTACION']))

In [ ]:
print(data_2002['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2002['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_MCPIO_PRESENTACION']))

In [ ]:
print(data_2002['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2002['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_LIMITA_INVIDENTE']))

In [ ]:
print(data_2002['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2002['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_LIMITA_SORDOINTERPRETE']))

In [ ]:
print(data_2002['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2002['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_LIMITA_SORDONOINTERPRETE']))

In [ ]:
print(data_2002['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2002['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_LIMITA_MOTRIZ']))

In [ ]:
print(data_2002['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2002['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_IES_COD_DESEADA']))

In [ ]:
data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace('nan', np.nan)
for i in data_2002['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if type(i) == float:
        data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(i, str(i))

for i in data_2002['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '*' in i:
        data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif ' ' in i:
        data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif float(i) < 1000:
        data_2002['ESTU_IES_COD_DESEADA'] = data_2002['ESTU_IES_COD_DESEADA'].replace(i, np.nan)

In [ ]:
print(data_2002['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2002['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_RAZONINSTITUTO']))

In [ ]:
data_2002['ESTU_RAZONINSTITUTO'] = data_2002['ESTU_RAZONINSTITUTO'].replace('*', np.nan)
data_2002['ESTU_RAZONINSTITUTO'] = data_2002['ESTU_RAZONINSTITUTO'].replace('S', np.nan)

In [ ]:
print(data_2002['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2002['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_CARRDESEADA_COD']))

In [ ]:
data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace('Negoc', np.nan)
data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace('econo', np.nan)
for i in data_2002['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif ' ' in i:
        data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif float(i) == 0:
        data_2002['ESTU_CARRDESEADA_COD'] = data_2002['ESTU_CARRDESEADA_COD'].replace(i, np.nan)

In [ ]:
print(data_2002['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2002['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_CARRDESEADA_RAZON']))

In [ ]:
data_2002['ESTU_CARRDESEADA_RAZON'] = data_2002['ESTU_CARRDESEADA_RAZON'].replace('*', np.nan)
data_2002['ESTU_CARRDESEADA_RAZON'] = data_2002['ESTU_CARRDESEADA_RAZON'].replace('S', np.nan)

In [ ]:
print(data_2002['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2002['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_PERSONAS_HOGAR']))

In [ ]:
data_2002['FAMI_PERSONAS_HOGAR'] = data_2002['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2002['FAMI_PERSONAS_HOGAR'] = data_2002['FAMI_PERSONAS_HOGAR'].replace('*', np.nan)

In [ ]:
print(data_2002['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2002['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_VIVIENDA_PROPIA']))

In [ ]:
data_2002['FAMI_VIVIENDA_PROPIA'] = data_2002['FAMI_VIVIENDA_PROPIA'].replace('*', np.nan)

In [ ]:
print(data_2002['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2002['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_DEUDA_VIVIENDA']))

In [ ]:
print(data_2002['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2002['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_APORTANTES']))

In [ ]:
data_2002['FAMI_APORTANTES'] = data_2002['FAMI_APORTANTES'].replace('+', '+9')
data_2002['FAMI_APORTANTES'] = data_2002['FAMI_APORTANTES'].replace('*', np.nan)

In [ ]:
print(data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_INGRESO_FMILIAR_MENSUAL']))

In [ ]:
data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2002['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('*', np.nan)

In [ ]:
print(data_2002['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_LEE_ESCRIBE_PADRE']))

In [ ]:
data_2002['FAMI_LEE_ESCRIBE_PADRE'] = data_2002['FAMI_LEE_ESCRIBE_PADRE'].replace('*', np.nan)

In [ ]:
print(data_2002['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_LEE_ESCRIBE_MADRE']))

In [ ]:
data_2002['FAMI_LEE_ESCRIBE_MADRE'] = data_2002['FAMI_LEE_ESCRIBE_MADRE'].replace('*', np.nan)

In [ ]:
print(data_2002['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_EDUCA_PADRE']))

In [ ]:
data_2002['FAMI_EDUCA_PADRE'] = data_2002['FAMI_EDUCA_PADRE'].replace('*', np.nan)
data_2002['FAMI_EDUCA_PADRE'] = data_2002['FAMI_EDUCA_PADRE'].replace('S', np.nan)

In [ ]:
print(data_2002['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_EDUCA_MADRE']))

In [ ]:
data_2002['FAMI_EDUCA_MADRE'] = data_2002['FAMI_EDUCA_MADRE'].replace('*', np.nan)
data_2002['FAMI_EDUCA_MADRE'] = data_2002['FAMI_EDUCA_MADRE'].replace('S', np.nan)

In [ ]:
print(data_2002['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_OCUPA_PADRE']))

In [ ]:
data_2002['FAMI_OCUPA_PADRE'] = data_2002['FAMI_OCUPA_PADRE'].replace('*', np.nan)
data_2002['FAMI_OCUPA_PADRE'] = data_2002['FAMI_OCUPA_PADRE'].replace('Se', np.nan)

In [ ]:
print(data_2002['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2002['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_OCUPA_MADRE']))

In [ ]:
data_2002['FAMI_OCUPA_MADRE'] = data_2002['FAMI_OCUPA_MADRE'].replace('*', np.nan)
data_2002['FAMI_OCUPA_MADRE'] = data_2002['FAMI_OCUPA_MADRE'].replace('Se', np.nan)

In [ ]:
print(data_2002['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2002['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_NUM_HERMANOS']))

In [ ]:
data_2002['FAMI_NUM_HERMANOS'] = data_2002['FAMI_NUM_HERMANOS'].replace('*', np.nan)
data_2002['FAMI_NUM_HERMANOS'] = data_2002['FAMI_NUM_HERMANOS'].replace('+', '+9')

In [ ]:
print(data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

In [ ]:
data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('*', np.nan)
data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2002['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')

In [ ]:
print(data_2002['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2002['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_POSICION_HERMANOS']))

In [ ]:
data_2002['FAMI_POSICION_HERMANOS'] = data_2002['FAMI_POSICION_HERMANOS'].replace('*', np.nan)
data_2002['FAMI_POSICION_HERMANOS'] = data_2002['FAMI_POSICION_HERMANOS'].replace('+', '+9')

In [ ]:
print(data_2002['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2002['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2002['FAMI_SOST_PERSONAL']))

In [ ]:
data_2002['FAMI_SOST_PERSONAL'] = data_2002['FAMI_SOST_PERSONAL'].replace('*', np.nan)

In [ ]:
print(data_2002['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2002['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_TRABAJA']))

In [ ]:
data_2002['ESTU_TRABAJA'] = data_2002['ESTU_TRABAJA'].replace('*', np.nan)

In [ ]:
print(data_2002['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2002['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_ACT_PROX_ANNO']))

In [ ]:
data_2002['ESTU_ACT_PROX_ANNO'] = data_2002['ESTU_ACT_PROX_ANNO'].replace('*', np.nan)

In [ ]:
print(data_2002['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2002['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2002['COLE_CALENDARIO']))

In [ ]:
print(data_2002['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2002['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2002['COLE_BILINGUE']))

In [ ]:
print(data_2002['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2002['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2002['COLE_CARACTER']))

In [ ]:
print(data_2002['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2002['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2002['COLE_DEPTO_UBICACION']))

In [ ]:
print(data_2002['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2002['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2002['COLE_MCPIO_UBICACION']))

In [ ]:
print(data_2002['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2002['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_RESIDE_DEPTO']))

In [ ]:
print(data_2002['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2002['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2002['ESTU_RESIDE_MCPIO']))

## TARGETS

In [ ]:
print(data_2002['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2002['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_BIOLOGIA']))

In [ ]:
print(data_2002['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2002['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_MATEMATICAS']))

In [ ]:
print(data_2002['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2002['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_FILOSOFIA']))

In [ ]:
print(data_2002['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2002['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_FISICA']))

In [ ]:
print(data_2002['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2002['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_HISTORIA']))

In [ ]:
print(data_2002['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2002['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_QUIMICA']))

In [ ]:
print(data_2002['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2002['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_LENGUAJE']))

In [ ]:
print(data_2002['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2002['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_GEOGRAFIA']))

In [ ]:
print(data_2002['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2002['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2002['COD_INTERDISCIPLINAR']))

In [ ]:
print(data_2002['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2002['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_INTERDISCIPLINAR']))

In [ ]:
print(data_2002['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2002['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2002['COD_IDIOMA']))

In [ ]:
print(data_2002['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2002['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2002['PUNT_IDIOMA']))

___

## Treatment of the NaN Values

In [ ]:
Do_resamples(data_2002, 'IND_ANNO_TERMINO_BACHILLERATO', str)

In [ ]:
Do_resamples(data_2002, 'COLE_VALOR_PENSION', str)

In [ ]:
anno = data_2002[data_2002['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2002 = data_2002.drop(anno)

The columns about limitation will be erased because does not apport sufficient information.

In [ ]:
data_2002 = data_2002.drop(['ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE', 'ESTU_LIMITA_SORDONOINTERPRETE',
                           'ESTU_LIMITA_MOTRIZ'], axis=1)

In [ ]:
Do_resamples(data_2002, 'ESTU_IES_COD_DESEADA', str)

In [ ]:
Do_resamples(data_2002, 'ESTU_RAZONINSTITUTO', str)

In [ ]:
Do_resamples(data_2002, 'ESTU_CARRDESEADA_COD', str)

In [ ]:
Do_resamples(data_2002, 'ESTU_CARRDESEADA_RAZON', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_PERSONAS_HOGAR', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_VIVIENDA_PROPIA', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_DEUDA_VIVIENDA', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_APORTANTES', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_INGRESO_FMILIAR_MENSUAL', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_LEE_ESCRIBE_PADRE', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_LEE_ESCRIBE_MADRE', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_EDUCA_PADRE', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_EDUCA_MADRE', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_OCUPA_PADRE', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_OCUPA_MADRE', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_NUM_HERMANOS', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_POSICION_HERMANOS', str)

In [ ]:
Do_resamples(data_2002, 'FAMI_SOST_PERSONAL', str)

In [ ]:
Do_resamples(data_2002, 'ESTU_TRABAJA', str)

In [ ]:
Do_resamples(data_2002, 'ESTU_ACT_PROX_ANNO', str)

In [ ]:
Do_resamples(data_2002, 'COLE_BILINGUE', float)

Puntajes

In [ ]:
data_2002['PUNT_BIOLOGIA'].fillna(int(data_2002['PUNT_BIOLOGIA'].mean()), inplace=True)

In [ ]:
data_2002['PUNT_MATEMATICAS'].fillna(int(data_2002['PUNT_MATEMATICAS'].mean()), inplace=True)

In [ ]:
data_2002['PUNT_FILOSOFIA'].fillna(int(data_2002['PUNT_FILOSOFIA'].mean()), inplace=True)

In [ ]:
data_2002['PUNT_FISICA'].fillna(int(data_2002['PUNT_FISICA'].mean()), inplace=True)

In [ ]:
data_2002['PUNT_QUIMICA'].fillna(int(data_2002['PUNT_QUIMICA'].mean()), inplace=True)

In [ ]:
data_2002['PUNT_LENGUAJE'].fillna(int(data_2002['PUNT_LENGUAJE'].mean()), inplace=True)

In [ ]:
data_2002['PUNT_GEOGRAFIA'].fillna(int(data_2002['PUNT_GEOGRAFIA'].mean()), inplace=True)

In [ ]:
data_2002['PUNT_INTERDISCIPLINAR'].fillna(int(data_2002['PUNT_INTERDISCIPLINAR'].mean()), inplace=True)

In [ ]:
data_2002['PUNT_IDIOMA'].fillna(int(data_2002['PUNT_IDIOMA'].mean()), inplace=True)

___

___

___

# Now the file of 2002_2

In [2]:
data_2002_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20022-RGSTRO-CLFCCN-V1-0.txt', delimiter="|",
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (1,4,5,12,13,14,15,16,17,19,20,21,22,23,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2002_2.shape

(370306, 57)

In [4]:
data_2002_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB2002000001,SB2002000002,SB2002000003
COLE_COD_ICFES,12625,28522,12088
COLE_NOMBRE_SEDE,ESCUELA NORMAL DE VARONES,COLEGIO INTEGRADO JUAN ATALAYA,COLEGIO EL CARMEN TERESIANO
IND_ANNO_TERMINO_BACHILLERATO,2002,2002,2002
COLE_JORNADA,MAÑANA,MAÑANA,MAÑANA
COLE_VALOR_PENSION,8,8,6
ESTU_GENERO,M,F,F
ESTU_NACIMIENTO_DIA,4,22,19
ESTU_NACIMIENTO_MES,5,3,10
ESTU_NACIMIENTO_ANNO,1985,1984,1985
ESTU_DEPTO_PRESENTACION,NORTE SANTANDER,NORTE SANTANDER,NORTE SANTANDER
ESTU_MCPIO_PRESENTACION,PAMPLONA,CUCUTA,CUCUTA
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,33,43,50
PUNT_MATEMATICAS,44,41,44
PUNT_FILOSOFIA,46,51,46
PUNT_FISICA,38,44,51
PUNT_HISTORIA,44,35,51
PUNT_QUIMICA,37,36,53
PUNT_LENGUAJE,36,48,56
PUNT_GEOGRAFIA,42,44,44
COD_INTERDISCIPLINAR,43,43,44
PUNT_INTERDISCIPLINAR,60,60,45
COD_IDIOMA,51,51,51
PUNT_IDIOMA,40,40,48
ESTU_IES_COD_DESEADA,1212,1717,1701
ESTU_RAZONINSTITUTO,7,6,2
ESTU_CARRDESEADA_COD,48114,43333,46203
ESTU_CARRDESEADA_RAZON,3,1,2
FAMI_PERSONAS_HOGAR,4,4,3
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,S,N,N
FAMI_APORTANTES,1,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,0,0,2
FAMI_LEE_ESCRIBE_PADRE,S,N,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,5,1,6
FAMI_EDUCA_MADRE,NaN,3,6
FAMI_OCUPA_PADRE,06,NaN,05
FAMI_OCUPA_MADRE,12,05,10
FAMI_NUM_HERMANOS,1,NaN,0
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,0
FAMI_POSICION_HERMANOS,1,4,1
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,1,3,1
COLE_CALENDARIO,A,A,A
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,NORMALISTA,ACADEMICO Y TECNICO,ACADEMICO
COLE_DEPTO_UBICACION,NORTE SANTANDER,NORTE SANTANDER,NORTE SANTANDER
COLE_MCPIO_UBICACION,PAMPLONA,CUCUTA,CUCUTA
ESTU_RESIDE_DEPTO,NORTE SANTANDER,NORTE SANTANDER,NORTE SANTANDER
ESTU_RESIDE_MCPIO,PAMPLONA,CUCUTA,CUCUTA
ESTU_TIPO_DOCUMENTO,T,R,T

The first thing is delete the columns that will not contribute to the work

In [5]:
data_2002_2 = data_2002_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [6]:
print(data_2002_2['COLE_COD_ICFES'].value_counts().index)
print(data_2002_2['COLE_COD_ICFES'].value_counts())
print(missing_data(data_2002_2['COLE_COD_ICFES']))

Index([      59,      786,    98285,    11015,    67652,    14324,     3053,
           3699, '000265',    67454,
       ...
       '079172', '07* 98', '005797', '015875',  '06*26', '077271', '064410',
          '112', '008573', '045286'],
      dtype='object', length=14563)
59        1030
786        601
98285      491
11015      467
67652      454
14324      424
3053       399
3699       392
000265     388
67454      382
1412       361
28696      356
23366      350
12211      347
12955      336
14399      328
26138      322
19893      317
4283       311
012963     301
37093      297
27102      297
1115       285
23374      277
14076      270
4754       269
24760      265
98624      262
8318       251
25064      250
          ...
101352       1
005389       1
002432       1
034426       1
010357       1
800714       1
086922       1
071233       1
6315         1
072211       1
07125        1
030304       1
016030       1
038851       1
529          1
005868       1
090019       1
85332        1
0 4          1
001974       1
079172       1
07* 98       1
005797       1
015875       1
06*26        1
077271       1
064410       1
112          1
008573       1
045286       1
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 11631
__________________
Elementos diferentes de null/NaN: 358675
__________________
(358675,)
None

In [7]:
data_2002_2['COLE_COD_ICFES'] = data_2002_2['COLE_COD_ICFES'].replace('0LL908', np.nan)
for i in data_2002_2['COLE_COD_ICFES'].value_counts().index:
    if type(i) == int:
        data_2002_2['COLE_COD_ICFES'] = data_2002_2['COLE_COD_ICFES'].replace(i, str(i))

for i in data_2002_2['COLE_COD_ICFES'].value_counts().index:
    if '*' in i:
        data_2002_2['COLE_COD_ICFES'] = data_2002_2['COLE_COD_ICFES'].replace(i, np.nan)
    elif ' ' in i:
        data_2002_2['COLE_COD_ICFES'] = data_2002_2['COLE_COD_ICFES'].replace(i, np.nan)
    elif int(i)==0:
        data_2002_2['COLE_COD_ICFES'] = data_2002_2['COLE_COD_ICFES'].replace(i, '0')

In [8]:
print(data_2002_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2002_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2002_2['IND_ANNO_TERMINO_BACHILLERATO']))

Float64Index([ 199.0, 1903.0, 1904.0, 1906.0, 1907.0, 1908.0, 1909.0, 1924.0,
              1928.0, 1934.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0,
              1961.0, 1962.0, 1963.0, 1964.0, 1966.0, 1967.0, 1968.0, 1969.0,
              1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0,
              1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0,
              1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0,
              1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
              2002.0],
             dtype='float64')
199.0         10
1903.0         1
1904.0         1
1906.0         2
1907.0         4
1908.0         3
1909.0         1
1924.0         1
1928.0         1
1934.0         1
1955.0         1
1956.0         1
1957.0         2
1958.0         1
1959.0         3
1960.0         1
1961.0         3
1962.0         5
1963.0         1
1964.0         4
1966.0         5
1967.0         7
1968.0         8
1969.0        12
1970.0        12
1971.0        15
1972.0        24
1973.0        18
1974.0        31
1975.0        38
1976.0        53
1977.0        53
1978.0        92
1979.0        87
1980.0       100
1981.0        78
1982.0        80
1983.0        80
1984.0        84
1985.0       113
1986.0       117
1987.0       138
1988.0       153
1989.0       176
1990.0       204
1991.0       248
1992.0       342
1993.0       429
1994.0       556
1995.0       745
1996.0      1237
1997.0      1845
1998.0      2941
1999.0      3926
2000.0      5143
2001.0     12438
2002.0    338231
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 400
__________________
Elementos diferentes de null/NaN: 369906
__________________
(369906,)
None

In [9]:
data_2002_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2002_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(199.0, np.nan)

In [10]:
print(data_2002_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2002_2['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_JORNADA']))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA-DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     80315
MAÑANA                  142316
NOCHE                    31014
SABATINA-DOMINICAL        1343
TARDE                    72211
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 43107
__________________
Elementos diferentes de null/NaN: 327199
__________________
(327199,)
None

In [11]:
print(data_2002_2['COLE_VALOR_PENSION'].value_counts().index)
print(data_2002_2['COLE_VALOR_PENSION'].value_counts())
print(missing_data(data_2002_2['COLE_VALOR_PENSION']))

Index(['1', '8', 8.0, 1.0, '2', '4', '3', '5', '6', 2.0, '7', 3.0, 4.0, 5.0,
       6.0, 7.0, '*', '@'],
      dtype='object')
1      94383
8      92808
8.0    27989
1.0    25566
2      22914
4      17869
3      17019
5      14446
6      11734
2.0     7791
7       4853
3.0     4484
4.0     3338
5.0     2965
6.0     1873
7.0      881
*         34
@          2
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 19357
__________________
Elementos diferentes de null/NaN: 350949
__________________
(350949,)
None

In [12]:
for i in data_2002_2['COLE_VALOR_PENSION'].value_counts().index:
    if type(i) != str:
        data_2002_2['COLE_VALOR_PENSION'] = data_2002_2['COLE_VALOR_PENSION'].replace(i, str(i)[:-2])

data_2002_2['COLE_VALOR_PENSION'] = data_2002_2['COLE_VALOR_PENSION'].replace('*', np.nan)
data_2002_2['COLE_VALOR_PENSION'] = data_2002_2['COLE_VALOR_PENSION'].replace('@', np.nan)

In [13]:
print(data_2002_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_GENERO']))

Index(['F', 'M', 'm'], dtype='object')
F    198509
M    171796
m         1
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [14]:
data_2002_2['ESTU_GENERO'] = data_2002_2['ESTU_GENERO'].replace('m', 'M')

In [15]:
print(data_2002_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2002_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     14136
2.0     12076
3.0     12329
4.0     12247
5.0     12488
6.0     12264
7.0     12217
8.0     12307
9.0     11757
10.0    12449
11.0    12676
12.0    12236
13.0    11745
14.0    11841
15.0    12485
16.0    12109
17.0    11913
18.0    11964
19.0    11879
20.0    12374
21.0    11736
22.0    12145
23.0    12071
24.0    12007
25.0    12191
26.0    12031
27.0    11660
28.0    12357
29.0    11003
30.0    10978
31.0     6583
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 52
__________________
Elementos diferentes de null/NaN: 370254
__________________
(370254,)
None

In [16]:
print(data_2002_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2002_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     32027
2.0     27587
3.0     30915
4.0     29520
5.0     30340
6.0     29530
7.0     30597
8.0     30997
9.0     32915
10.0    32733
11.0    31351
12.0    31742
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 52
__________________
Elementos diferentes de null/NaN: 370254
__________________
(370254,)
None

In [17]:
print(data_2002_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_NACIMIENTO_ANNO']))

Float64Index([1921.0, 1930.0, 1935.0, 1937.0, 1938.0, 1939.0, 1940.0, 1941.0,
              1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0,
              1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0,
              1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0,
              1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0,
              1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0,
              1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0],
             dtype='float64')
1921.0         1
1930.0         1
1935.0         4
1937.0         2
1938.0         8
1939.0         6
1940.0        11
1941.0         4
1942.0        17
1943.0        17
1944.0        16
1945.0        19
1946.0        21
1947.0        37
1948.0        39
1949.0        40
1950.0        69
1951.0        73
1952.0        96
1953.0       100
1954.0       123
1955.0       144
1956.0       167
1957.0       189
1958.0       272
1959.0       262
1960.0       330
1961.0       326
1962.0       374
1963.0       446
1964.0       466
1965.0       539
1966.0       579
1967.0       616
1968.0       755
1969.0       773
1970.0       843
1971.0       883
1972.0      1079
1973.0      1148
1974.0      1407
1975.0      1557
1976.0      1832
1977.0      2327
1978.0      3230
1979.0      4859
1980.0      6998
1981.0     10953
1982.0     20231
1983.0     38106
1984.0     72668
1985.0    118187
1986.0     70432
1987.0      5993
1988.0       306
1989.0        18
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 307
__________________
Elementos diferentes de null/NaN: 369999
__________________
(369999,)
None

In [18]:
print(data_2002_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2002_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_DEPTO_PRESENTACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             588
ANTIOQUIA          50304
ARAUCA              1534
ATLANTICO          26314
BOGOTA             78334
BOLIVAR            17309
BOYACA             15426
CALDAS             10240
CAQUETA             2575
CASANARE            2247
CAUCA               9218
CESAR               7890
CHOCO               3377
CORDOBA            12776
CUNDINAMARCA       21206
GUAINIA              123
GUAVIARE             339
HUILA               8867
LA GUAJIRA          4662
MAGDALENA           9424
META                6845
NARIÑO              2563
NORTE SANTANDER    12718
PUTUMAYO            1720
QUINDIO             5126
RISARALDA           8306
SAN ANDRES           696
SANTANDER          21970
SUCRE               7012
TOLIMA             12750
VALLE               7464
VAUPES               158
VICHADA              225
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [19]:
print(data_2002_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2002_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_MCPIO_PRESENTACION']))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YOLOMBO', 'YOPAL',
       'YUMBO', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=338)
ABEJORRAL                  143
ABREGO                      59
ACACIAS                    719
ACANDI                      67
ACHI                       115
AGUACHICA                 1015
AGUADAS                    270
AGUAZUL                    215
AGUSTIN CODAZZI            400
AIPE                       129
AMAGA                      568
AMALFI                     203
ANDES                      494
ANSERMA                    476
ANTIOQUIA                  563
APARTADO                  1168
ARACATACA                  263
ARAUCA                     669
ARAUQUITA                  167
ARBELAEZ                   158
ARBOLEDAS                   52
ARBOLETES                  295
ARIGUANI (EL DIFICIL)      309
ARJONA                     614
ARMENIA                   3642
ASTREA                      79
AYAPEL                     201
BAGADO                      83
BAHIA SOLANO (MUTIS)       121
BAJO BAUDO   (PIZARRO)      80
                          ...
TULUA                      414
TUMACO                     162
TUNJA                     4090
TUQUERRES                   25
TURBACO                    715
TURBO                      599
TURMEQUE                   105
TUTA                       112
UBATE                      839
UNGUIA                      37
URRAO                      264
VALLEDUPAR                4812
VELEZ                      366
VENADILLO                  189
VENTAQUEMADA               109
VIGIA DEL FUERTE            11
VILLA DE LEYVA             217
VILLA DEL ROSARIO          638
VILLAMARIA                 149
VILLANUEVA                 698
VILLAVICENCIO             4748
VILLETA                    368
VIOTA                       83
YARUMAL                    635
YOLOMBO                    268
YOPAL                     1130
YUMBO                       26
ZAPATOCA                   111
ZARAGOZA                   170
ZIPAQUIRA                 1617
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [20]:
print(data_2002_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2002_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    43
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 370263
__________________
Elementos diferentes de null/NaN: 43
__________________
(43,)
None

In [21]:
print(data_2002_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2002_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    63
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 370243
__________________
Elementos diferentes de null/NaN: 63
__________________
(63,)
None

In [22]:
print(data_2002_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2002_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    19
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 370287
__________________
Elementos diferentes de null/NaN: 19
__________________
(19,)
None

In [23]:
print(data_2002_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2002_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    75
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 370231
__________________
Elementos diferentes de null/NaN: 75
__________________
(75,)
None

In [24]:
print(data_2002_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2002_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_IES_COD_DESEADA']))

Index(['*', '*  *', '* *', '* 01', '* 02', '* 09', '* 1', '* 10', '* 11',
       '* 13',
       ...
       'U', 'U N', 'UIS', 'UPTC', 'USCO', 'casa', 'esap', 'inca', 'sena',
       'usco'],
      dtype='object', length=1785)
*          23
*  *        1
* *        21
* 01        4
* 02        1
* 09        1
* 1         1
* 10        2
* 11        1
* 13        1
* 19        1
* 2         3
* 20        1
* 21        1
* 25        1
* 31        2
* 37        1
* 4         1
* 52        1
* 6         1
* 7         1
* 8         1
* 9         1
**         39
****       26
***1        2
***2        2
**0*        2
**01        1
**03        1
        ...
9410        1
9414        1
9450        1
9501        1
9505        2
9515        1
9647        1
9811        1
9838        1
99         36
99 9       10
99*9        2
9910        1
999       163
9999    21735
ASAB        1
EJC         1
JAVE        1
SENA        3
Tade        1
U           2
U N         3
UIS         1
UPTC        2
USCO        1
casa        1
esap        1
inca        1
sena        1
usco        1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 33942
__________________
Elementos diferentes de null/NaN: 336364
__________________
(336364,)
None

In [25]:
l = ['ASAB', 'EJC', 'JAVE', 'SENA', 'Tade', 'U', 'UIS', 'UPTC', 'USCO', 'casa', 'esap', 'inca', 'sena', 'usco', '--']
for i in l:
    data_2002_2['ESTU_IES_COD_DESEADA'] = data_2002_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)

for i in data_2002_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '*' in i:
        data_2002_2['ESTU_IES_COD_DESEADA'] = data_2002_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif ' ' in i:
        data_2002_2['ESTU_IES_COD_DESEADA'] = data_2002_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif int(i) == 0:
        data_2002_2['ESTU_IES_COD_DESEADA'] = data_2002_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif int(i) < 1000:
        data_2002_2['ESTU_IES_COD_DESEADA'] = data_2002_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)

In [26]:
print(data_2002_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_RAZONINSTITUTO']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', 'S'], dtype='object')
*       116
1      6255
2    110096
3     45523
4     37998
5     45369
6     33188
7     24612
8     39738
S      1087
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 26324
__________________
Elementos diferentes de null/NaN: 343982
__________________
(343982,)
None

In [27]:
data_2002_2['ESTU_RAZONINSTITUTO'] = data_2002_2['ESTU_RAZONINSTITUTO'].replace('*', np.nan)
data_2002_2['ESTU_RAZONINSTITUTO'] = data_2002_2['ESTU_RAZONINSTITUTO'].replace('S', np.nan)

In [28]:
print(data_2002_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2002_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_CARRDESEADA_COD']))

Index(['*', '*   *', '*  99', '* *', '* * 1', '* *0', '* *1', '* *4', '* *8',
       '* 1',
       ...
       '99 99', '99101', '99102', '99110', '99113', '999', '999 9', '9999',
       '9999*', '99999'],
      dtype='object', length=5094)
*           20
*   *        3
*  99        1
* *         14
* * 1        1
* *0         1
* *1         2
* *4         2
* *8         1
* 1          1
* 1*         2
* 10         1
* 103        1
* 120        2
* 128        1
* 13         1
* 141        1
* 162        1
* 174        1
* 2*         1
* 215        1
* 290        1
* 40         1
* 404        1
* 484        1
* 520        1
* 8 *        1
* 81         1
* 811        1
* 9          1
         ...
98109       10
98113        1
98114        3
98115        2
98117        1
98118        1
98119        8
98124        2
98152        1
98188        1
98201        1
98212        1
98222        1
9825         1
98257        1
98258        1
98999        1
99          19
99  9        4
99 9         6
99 99        9
99101        1
99102        1
99110        1
99113        1
999         70
999 9       10
9999       273
9999*        1
99999    16648
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 22017
__________________
Elementos diferentes de null/NaN: 348289
__________________
(348289,)
None

In [29]:
for i in data_2002_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2002_2['ESTU_CARRDESEADA_COD'] = data_2002_2['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif ' ' in i:
        data_2002_2['ESTU_CARRDESEADA_COD'] = data_2002_2['ESTU_CARRDESEADA_COD'].replace(i, np.nan)

In [30]:
print(data_2002_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2002_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_CARRDESEADA_RAZON']))

Index(['*', '1', '2', '3', '4', '5', '6', 'S'], dtype='object')
*       132
1    102670
2    102239
3     86730
4     23263
5     31814
6      7728
S       988
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 14742
__________________
Elementos diferentes de null/NaN: 355564
__________________
(355564,)
None

In [31]:
data_2002_2['ESTU_CARRDESEADA_RAZON'] = data_2002_2['ESTU_CARRDESEADA_RAZON'].replace('*', np.nan)
data_2002_2['ESTU_CARRDESEADA_RAZON'] = data_2002_2['ESTU_CARRDESEADA_RAZON'].replace('S', np.nan)

In [32]:
print(data_2002_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2002_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_PERSONAS_HOGAR']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
*      409
+    13984
1     1069
2    11740
3    39043
4    85533
5    94391
6    58916
7    31702
8    17245
9     9879
@       49
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 6346
__________________
Elementos diferentes de null/NaN: 363960
__________________
(363960,)
None

In [33]:
data_2002_2['FAMI_PERSONAS_HOGAR'] = data_2002_2['FAMI_PERSONAS_HOGAR'].replace('*', np.nan)
data_2002_2['FAMI_PERSONAS_HOGAR'] = data_2002_2['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2002_2['FAMI_PERSONAS_HOGAR'] = data_2002_2['FAMI_PERSONAS_HOGAR'].replace('@', np.nan)

In [34]:
print(data_2002_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2002_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_VIVIENDA_PROPIA']))

Index(['*', 'N', 'S'], dtype='object')
*        27
N    105253
S    256952
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 8074
__________________
Elementos diferentes de null/NaN: 362232
__________________
(362232,)
None

In [35]:
data_2002_2['FAMI_VIVIENDA_PROPIA'] = data_2002_2['FAMI_VIVIENDA_PROPIA'].replace('*', np.nan)

In [36]:
print(data_2002_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2002_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_DEUDA_VIVIENDA']))

Index(['*', 'N', 'S'], dtype='object')
*        13
N    175865
S     59381
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 135047
__________________
Elementos diferentes de null/NaN: 235259
__________________
(235259,)
None

In [37]:
data_2002_2['FAMI_DEUDA_VIVIENDA'] = data_2002_2['FAMI_DEUDA_VIVIENDA'].replace('*', np.nan)

In [38]:
print(data_2002_2['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2002_2['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_APORTANTES']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S'], dtype='object')
*       459
+       228
0      1598
1    188474
2    138027
3     25310
4      7063
5      1911
6       584
7       199
8       112
9        80
S         1
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 6260
__________________
Elementos diferentes de null/NaN: 364046
__________________
(364046,)
None

In [39]:
data_2002_2['FAMI_APORTANTES'] = data_2002_2['FAMI_APORTANTES'].replace('*', np.nan)
data_2002_2['FAMI_APORTANTES'] = data_2002_2['FAMI_APORTANTES'].replace('+', '+9')
data_2002_2['FAMI_APORTANTES'] = data_2002_2['FAMI_APORTANTES'].replace('S', np.nan)

In [40]:
print(data_2002_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2002_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_INGRESO_FMILIAR_MENSUAL']))

Index(['*', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       163
0     94628
1    144217
2     62745
3     33532
4     12240
5      5282
6      3246
7      1686
8      1194
9      1991
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 9382
__________________
Elementos diferentes de null/NaN: 360924
__________________
(360924,)
None

In [41]:
data_2002_2['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2002_2['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('*', np.nan)

In [42]:
print(data_2002_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_LEE_ESCRIBE_PADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       180
N     13184
S    325478
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 31464
__________________
Elementos diferentes de null/NaN: 338842
__________________
(338842,)
None

In [43]:
data_2002_2['FAMI_LEE_ESCRIBE_PADRE'] = data_2002_2['FAMI_LEE_ESCRIBE_PADRE'].replace('*', np.nan)

In [44]:
print(data_2002_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_LEE_ESCRIBE_MADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       194
N     12335
S    346226
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 11551
__________________
Elementos diferentes de null/NaN: 358755
__________________
(358755,)
None

In [45]:
data_2002_2['FAMI_LEE_ESCRIBE_MADRE'] = data_2002_2['FAMI_LEE_ESCRIBE_MADRE'].replace('*', np.nan)

In [46]:
print(data_2002_2['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_EDUCA_PADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', 'S'], dtype='object')
*      3407
1     17207
2      3759
3    142680
4     83863
5     20412
6     17916
7     29237
8     12128
S       721
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 38976
__________________
Elementos diferentes de null/NaN: 331330
__________________
(331330,)
None

In [47]:
data_2002_2['FAMI_EDUCA_PADRE'] = data_2002_2['FAMI_EDUCA_PADRE'].replace('*', np.nan)
data_2002_2['FAMI_EDUCA_PADRE'] = data_2002_2['FAMI_EDUCA_PADRE'].replace('S', np.nan)

In [48]:
print(data_2002_2['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_EDUCA_MADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8', 'S'], dtype='object')
*      3603
1     14398
2      3872
3    149793
4     99220
5     25891
6     15721
7     23153
8     10532
S       613
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 23510
__________________
Elementos diferentes de null/NaN: 346796
__________________
(346796,)
None

In [49]:
data_2002_2['FAMI_EDUCA_MADRE'] = data_2002_2['FAMI_EDUCA_MADRE'].replace('*', np.nan)
data_2002_2['FAMI_EDUCA_MADRE'] = data_2002_2['FAMI_EDUCA_MADRE'].replace('S', np.nan)

In [50]:
print(data_2002_2['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_OCUPA_PADRE']))

Index(['*', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '@', 'Se'],
      dtype='object')
*       7011
01      4182
02      6124
03     16193
04     23698
05    107401
06     48842
07      2755
08     76480
09     17744
10      4475
11       188
12     13412
@        800
Se       809
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 40192
__________________
Elementos diferentes de null/NaN: 330114
__________________
(330114,)
None

In [51]:
data_2002_2['FAMI_OCUPA_PADRE'] = data_2002_2['FAMI_OCUPA_PADRE'].replace('*', np.nan)
data_2002_2['FAMI_OCUPA_PADRE'] = data_2002_2['FAMI_OCUPA_PADRE'].replace('@', np.nan)
data_2002_2['FAMI_OCUPA_PADRE'] = data_2002_2['FAMI_OCUPA_PADRE'].replace('Se', np.nan)

In [52]:
print(data_2002_2['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2002_2['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_OCUPA_MADRE']))

Index(['*', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12', '@', 'Se'],
      dtype='object')
*       5746
01      1747
02      3410
03      6342
04     22120
05     44719
06     39357
07      2377
08     22092
09      5019
10    188698
11      1307
12      7557
@        649
Se       651
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 18515
__________________
Elementos diferentes de null/NaN: 351791
__________________
(351791,)
None

In [53]:
data_2002_2['FAMI_OCUPA_MADRE'] = data_2002_2['FAMI_OCUPA_MADRE'].replace('*', np.nan)
data_2002_2['FAMI_OCUPA_MADRE'] = data_2002_2['FAMI_OCUPA_MADRE'].replace('@', np.nan)
data_2002_2['FAMI_OCUPA_MADRE'] = data_2002_2['FAMI_OCUPA_MADRE'].replace('Se', np.nan)

In [54]:
print(data_2002_2['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2002_2['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_NUM_HERMANOS']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      549
+     7887
0    16424
1    70048
2    93407
3    63723
4    37806
5    22758
6    14463
7     9708
8     6644
9     4482
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 22407
__________________
Elementos diferentes de null/NaN: 347899
__________________
(347899,)
None

In [55]:
data_2002_2['FAMI_NUM_HERMANOS'] = data_2002_2['FAMI_NUM_HERMANOS'].replace('*', np.nan)
data_2002_2['FAMI_NUM_HERMANOS'] = data_2002_2['FAMI_NUM_HERMANOS'].replace('+', '+9')

In [56]:
print(data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       154
+       243
0    175969
1     92691
2     39083
3     12509
4      4300
5      1619
6       755
7       342
8       166
9       100
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 42375
__________________
Elementos diferentes de null/NaN: 327931
__________________
(327931,)
None

In [57]:
data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('*', np.nan)
data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2002_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')

In [58]:
print(data_2002_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2002_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_POSICION_HERMANOS']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9', '@'], dtype='object')
*        48
+      3728
1    120446
2     95330
3     60134
4     31322
5     16686
6      9758
7      6146
8      3832
9      2669
@         4
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 20203
__________________
Elementos diferentes de null/NaN: 350103
__________________
(350103,)
None

In [59]:
data_2002_2['FAMI_POSICION_HERMANOS'] = data_2002_2['FAMI_POSICION_HERMANOS'].replace('*', np.nan)
data_2002_2['FAMI_POSICION_HERMANOS'] = data_2002_2['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2002_2['FAMI_POSICION_HERMANOS'] = data_2002_2['FAMI_POSICION_HERMANOS'].replace('@', np.nan)

In [60]:
print(data_2002_2['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2002_2['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2002_2['FAMI_SOST_PERSONAL']))

Index(['*', 'N', 'P', 'T'], dtype='object')
*        16
N     17985
P     43488
T    292868
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 15949
__________________
Elementos diferentes de null/NaN: 354357
__________________
(354357,)
None

In [61]:
data_2002_2['FAMI_SOST_PERSONAL'] = data_2002_2['FAMI_SOST_PERSONAL'].replace('*', np.nan)

In [62]:
print(data_2002_2['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2002_2['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_TRABAJA']))

Index(['*', 'N', 'S'], dtype='object')
*         9
N    314096
S     40749
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 15452
__________________
Elementos diferentes de null/NaN: 354854
__________________
(354854,)
None

In [63]:
data_2002_2['ESTU_TRABAJA'] = data_2002_2['ESTU_TRABAJA'].replace('*', np.nan)

In [64]:
print(data_2002_2['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_ACT_PROX_ANNO']))

Index(['*', '1', '2', '3'], dtype='object')
*       126
1    122555
2      7310
3    236591
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 3724
__________________
Elementos diferentes de null/NaN: 366582
__________________
(366582,)
None

In [65]:
data_2002_2['ESTU_ACT_PROX_ANNO'] = data_2002_2['ESTU_ACT_PROX_ANNO'].replace('*', np.nan)

In [66]:
print(data_2002_2['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2002_2['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A    321178
B      4897
F     30410
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 13821
__________________
Elementos diferentes de null/NaN: 356485
__________________
(356485,)
None

In [67]:
print(data_2002_2['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2002_2['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    1774
2.0     158
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 368374
__________________
Elementos diferentes de null/NaN: 1932
__________________
(1932,)
None

In [68]:
print(data_2002_2['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2002_2['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              195422
ACADEMICO Y TECNICO     99222
NORMALISTA               7070
TECNICO                 54771
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 13821
__________________
Elementos diferentes de null/NaN: 356485
__________________
(356485,)
None

In [69]:
print(data_2002_2['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2002_2['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_DEPTO_UBICACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             563
ANTIOQUIA          49458
ARAUCA              1495
ATLANTICO          25220
BOGOTA             73212
BOLIVAR            17561
BOYACA             14710
CALDAS              9718
CAQUETA             2544
CASANARE            2166
CAUCA               7901
CESAR               7642
CHOCO               3230
CORDOBA            12606
CUNDINAMARCA       22236
GUAINIA              116
GUAVIARE             283
HUILA               8312
LA GUAJIRA          4593
MAGDALENA           9575
META                6636
NARIÑO              2053
NORTE SANTANDER    12463
PUTUMAYO            1711
QUINDIO             4872
RISARALDA           7984
SAN ANDRES           669
SANTANDER          20743
SUCRE               6965
TOLIMA             12741
VALLE               6140
VAUPES               149
VICHADA              218
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 13821
__________________
Elementos diferentes de null/NaN: 356485
__________________
(356485,)
None

In [70]:
print(data_2002_2['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2002_2['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2002_2['COLE_MCPIO_UBICACION']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=989)
ABEJORRAL                    139
ABREGO                        56
ABRIAQUI                      28
ACACIAS                      562
ACANDI                        67
ACEVEDO                       46
ACHI                         113
AGRADO                        55
AGUA DE DIOS                 179
AGUACHICA                    647
AGUADA                        14
AGUADAS                      273
AGUAZUL                      218
AGUSTIN CODAZZI              390
AIPE                         127
ALBAN                         43
ALBAN (SAN JOSE)               3
ALBANIA                      141
ALCALA                         5
ALDANA                         2
ALEJANDRIA                    33
ALGARROBO                     48
ALGECIRAS                    160
ALMAGUER                      72
ALMEIDA                       24
ALPUJARRA                     44
ALTAMIRA                      21
ALTO BAUDO (PIE DE PATO)      31
ALTOS DEL ROSARIO             42
ALVARADO                      57
                            ...
VILLAMARIA                   457
VILLANUEVA                   632
VILLAPINZON                  171
VILLARRICA                    59
VILLAVICENCIO               4365
VILLAVIEJA                    41
VILLETA                      221
VIOTA                        135
VIRACACHA                     42
VISTA HERMOSA                 26
VITERBO                      143
YACOPI                        53
YACUANQUER                     7
YAGUARA                       77
YALI                          41
YARUMAL                      425
YOLOMBO                      162
YONDO (CASABE)                72
YOPAL                        845
YOTOCO                         9
YUMBO                        134
ZAMBRANO                      59
ZAPATOCA                      98
ZAPAYAN                       30
ZARAGOZA                     173
ZARZAL                        11
ZETAQUIRA                     65
ZIPACON                       18
ZIPAQUIRA                   1033
ZONA BANANERA                276
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 13821
__________________
Elementos diferentes de null/NaN: 356485
__________________
(356485,)
None

In [71]:
print(data_2002_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_RESIDE_DEPTO']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             588
ANTIOQUIA          50304
ARAUCA              1534
ATLANTICO          26314
BOGOTA             78334
BOLIVAR            17309
BOYACA             15426
CALDAS             10240
CAQUETA             2575
CASANARE            2247
CAUCA               9218
CESAR               7890
CHOCO               3377
CORDOBA            12776
CUNDINAMARCA       21206
GUAINIA              123
GUAVIARE             339
HUILA               8867
LA GUAJIRA          4662
MAGDALENA           9424
META                6845
NARIÑO              2563
NORTE SANTANDER    12718
PUTUMAYO            1720
QUINDIO             5126
RISARALDA           8306
SAN ANDRES           696
SANTANDER          21970
SUCRE               7012
TOLIMA             12750
VALLE               7464
VAUPES               158
VICHADA              225
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [72]:
print(data_2002_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2002_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2002_2['ESTU_RESIDE_MCPIO']))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YOLOMBO', 'YOPAL',
       'YUMBO', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=338)
ABEJORRAL                  143
ABREGO                      59
ACACIAS                    719
ACANDI                      67
ACHI                       115
AGUACHICA                 1015
AGUADAS                    270
AGUAZUL                    215
AGUSTIN CODAZZI            400
AIPE                       129
AMAGA                      568
AMALFI                     203
ANDES                      494
ANSERMA                    476
ANTIOQUIA                  563
APARTADO                  1168
ARACATACA                  263
ARAUCA                     669
ARAUQUITA                  167
ARBELAEZ                   158
ARBOLEDAS                   52
ARBOLETES                  295
ARIGUANI (EL DIFICIL)      309
ARJONA                     614
ARMENIA                   3642
ASTREA                      79
AYAPEL                     201
BAGADO                      83
BAHIA SOLANO (MUTIS)       121
BAJO BAUDO   (PIZARRO)      80
                          ...
TULUA                      414
TUMACO                     162
TUNJA                     4090
TUQUERRES                   25
TURBACO                    715
TURBO                      599
TURMEQUE                   105
TUTA                       112
UBATE                      839
UNGUIA                      37
URRAO                      264
VALLEDUPAR                4812
VELEZ                      366
VENADILLO                  189
VENTAQUEMADA               109
VIGIA DEL FUERTE            11
VILLA DE LEYVA             217
VILLA DEL ROSARIO          638
VILLAMARIA                 149
VILLANUEVA                 698
VILLAVICENCIO             4748
VILLETA                    368
VIOTA                       83
YARUMAL                    635
YOLOMBO                    268
YOPAL                     1130
YUMBO                       26
ZAPATOCA                   111
ZARAGOZA                   170
ZIPAQUIRA                 1617
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

### TARGETS

In [73]:
print(data_2002_2['PUNT_BIOLOGIA'].value_counts().index)
print(data_2002_2['PUNT_BIOLOGIA'].value_counts())
print(missing_data(data_2002_2['PUNT_BIOLOGIA']))

Index([ '43',  '44',  '41',  '45',  '40',  '47',  '48',  '38',  '49',  '50',
        '37',  '51',    44,    43,  '53',    45,    41,  '35',    47,    48,
          40,  '54',    49,    38,  '55',    50,  '33',    51,  '56',    37,
          53,  '58',    54,  '59',    55,    35,  '31',    56,  '61',    58,
          33,  '62',    59,  '28',  '64',    61,    31,  '66',    62,  '25',
          64,  '68',    28,    66,  '71',    68,  '21',    25,  '74',    71,
        '13',    74,    21, '---',   '0',  '78',    13,    78,  '86',     0],
      dtype='object')
43     25105
44     24824
41     23729
45     23051
40     20667
47     20646
48     17853
38     16622
49     15051
50     12464
37     11964
51     10348
44      8648
43      8579
53      8295
45      8289
41      8101
35      7670
47      7668
48      6998
40      6914
54      6704
49      5833
38      5393
55      5296
50      5058
33      4212
51      4135
56      3948
37      3727
       ...
33      1271
62      1149
59       991
28       846
64       805
61       710
31       599
66       493
62       462
25       316
64       306
68       298
28       246
66       186
71       156
68       126
21       117
25        78
74        64
71        55
13        43
74        37
21        31
---       30
0         26
78        19
13        12
78        10
86         4
0          3
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [74]:
data_2002_2['PUNT_BIOLOGIA'] = data_2002_2['PUNT_BIOLOGIA'].replace('---', np.nan)
for i in data_2002_2['PUNT_BIOLOGIA'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_BIOLOGIA'] = data_2002_2['PUNT_BIOLOGIA'].replace(i, int(i))

In [75]:
print(data_2002_2['PUNT_MATEMATICAS'].value_counts().index)
print(data_2002_2['PUNT_MATEMATICAS'].value_counts())
print(missing_data(data_2002_2['PUNT_MATEMATICAS']))

Index([ '42',  '41',  '44',  '39',  '45',  '47',  '37',  '49',  '36',  '51',
        '34',  '52',  '33',  '54',    42,    41,    44,    45,    39,  '56',
        '31',    47,    37,    49,  '59',    36,    51,  '29',    34,    52,
        '61',    54,  '64',    33,  '27',    56,  '67',    31,    59,  '25',
        '72',    61,    29,    64,  '23',  '77',    67,    27,  '21',  '18',
          72,  '86',  '15',    25, '---',  '12',   '0',    77,   '8',   '1',
         '2',    23,    86, '102',    21,     1,    15,     0,   102,    18,
          12,     8,     2],
      dtype='object')
42     35922
41     34995
44     34392
39     30460
45     30032
47     24949
37     24905
49     19196
36     18180
51     13945
34     12091
52      9577
33      7296
54      6315
42      5387
41      5077
44      5063
45      4713
39      4484
56      4126
31      4033
47      3923
37      3530
49      3127
59      2579
36      2545
51      2389
29      2083
34      1756
52      1738
       ...
64       227
23       218
77       179
67       152
27       136
21       123
18        92
72        87
86        75
15        69
25        68
---       67
12        61
0         59
77        37
8         35
1         29
2         28
23        18
86        17
102       13
21        11
1          8
15         6
0          6
102        4
18         4
12         4
8          3
2          3
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [76]:
data_2002_2['PUNT_MATEMATICAS'] = data_2002_2['PUNT_MATEMATICAS'].replace('---', np.nan)
for i in data_2002_2['PUNT_MATEMATICAS'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_MATEMATICAS'] = data_2002_2['PUNT_MATEMATICAS'].replace(i, int(i))
    if int(i)>100:
        data_2002_2['PUNT_MATEMATICAS'] = data_2002_2['PUNT_MATEMATICAS'].replace(i, 100)

In [77]:
print(data_2002_2['PUNT_FILOSOFIA'].value_counts().index)
print(data_2002_2['PUNT_FILOSOFIA'].value_counts())
print(missing_data(data_2002_2['PUNT_FILOSOFIA']))

Index(['44', '46', '42', '48', '40', '49', '38', '51', '52', '36', '54', '33',
       '55', '30', '57', '58', '26', '60', '21', '61', '---', '12', '63', '0',
       '64', '66', '68'],
      dtype='object')
44     46708
46     45883
42     42785
48     41668
40     35027
49     34099
38     25304
51     25175
52     17693
36     15862
54     11263
33      8596
55      6689
30      3910
57      3797
58      1918
26      1466
60       865
21       467
61       346
---      239
12       210
63       156
0        108
64        50
66        15
68         7
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [78]:
data_2002_2['PUNT_FILOSOFIA'] = data_2002_2['PUNT_FILOSOFIA'].replace('---', np.nan)
for i in data_2002_2['PUNT_FILOSOFIA'].value_counts().sort_index().index:
    if type(i) == str:
        data_2002_2['PUNT_FILOSOFIA'] = data_2002_2['PUNT_FILOSOFIA'].replace(i, int(i))

In [79]:
print(data_2002_2['PUNT_FISICA'].value_counts().index)
print(data_2002_2['PUNT_FISICA'].value_counts())
print(missing_data(data_2002_2['PUNT_FISICA']))

Index([   44,    46,    42,    48,    40,    50,    38,    51,  '44',  '46',
        '42',    53,  '48',    35,  '40',  '50',  '38',    55,  '51',    32,
        '35',    56,  '53',  '55',    29,    58,  '32',  '56',    60,  '29',
        '58',    24,    61,    63,  '60',  '24',    65,  '61',    19,  '63',
          66,    68,  '19',  '65',  '66',    70,     9,    72,  '68',    74,
         '9',     0,  '74',  '70',    76, '---',  '72',  '76',    79,    82,
        '82',    85,  '85',   '0',  '79',  '90'],
      dtype='object')
44     37061
46     36317
42     33762
48     32046
40     26539
50     24775
38     18240
51     17536
44     13793
46     13250
42     12178
53     11553
48     11250
35     10551
40      9967
50      8460
38      6955
55      6809
51      6065
32      5143
35      4089
56      4003
53      3950
55      2282
29      2139
58      2080
32      2066
56      1312
60      1116
29       838
       ...
65       210
61       187
19       182
63       107
66       106
68        66
19        65
65        59
66        42
70        33
9         31
72        26
68        25
74        16
9         14
0         10
74         9
70         8
76         7
---        7
72         6
76         5
79         4
82         2
82         2
85         1
85         1
0          1
79         1
90         1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [80]:
data_2002_2['PUNT_FISICA'] = data_2002_2['PUNT_FISICA'].replace('---', np.nan)
for i in data_2002_2['PUNT_FISICA'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_FISICA'] = data_2002_2['PUNT_FISICA'].replace(i, int(i))

In [81]:
print(data_2002_2['PUNT_HISTORIA'].value_counts().index)
print(data_2002_2['PUNT_HISTORIA'].value_counts())
print(missing_data(data_2002_2['PUNT_HISTORIA']))

Index([   43,    42,    44,    40,    46,    39,    47,    48,    37,    49,
        '43',  '42',  '44',    35,  '40',    51,  '46',  '47',  '39',  '48',
          52,  '37',    33,  '49',    53,  '51',  '35',  '52',    54,    31,
        '33',  '53',    56,  '54',  '31',    57,    29,  '56',  '57',    58,
        '29',  '58',    25,    60,  '60',    61,  '25',  '61',    63,    21,
        '63',  '21',  '65',    65,    67,    14, '---',  '67',  '14',     0,
         '0',    69,  '69',  '71',    71],
      dtype='object')
43     27843
42     27188
44     26007
40     25010
46     23302
39     20821
47     19636
48     16043
37     15518
49     12529
43     11133
42     11019
44     10447
35     10225
40      9816
51      9615
46      9580
47      8273
39      8219
48      6869
52      6570
37      6040
33      5893
49      5422
53      4633
51      4146
35      4111
52      3082
54      3058
31      2707
       ...
57      1095
29      1049
56      1019
57       621
58       576
29       400
58       359
25       307
60       298
60       188
61       167
25       127
61       101
63        76
21        73
63        39
21        34
65        31
65        28
67        14
14        12
---        9
67         9
14         5
0          5
0          4
69         2
69         2
71         1
71         1
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [82]:
data_2002_2['PUNT_HISTORIA'] = data_2002_2['PUNT_HISTORIA'].replace('---', np.nan)
for i in data_2002_2['PUNT_HISTORIA'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_HISTORIA'] = data_2002_2['PUNT_HISTORIA'].replace(i, int(i))

In [83]:
print(data_2002_2['PUNT_QUIMICA'].value_counts().index)
print(data_2002_2['PUNT_QUIMICA'].value_counts())
print(missing_data(data_2002_2['PUNT_QUIMICA']))

Index([   43,    42,    44,    40,    45,    39,    47,    48,    37,    49,
          36,    50,  '43',  '42',  '44',  '40',    51,  '45',  '39',  '47',
          52,    34,  '37',  '48',    53,  '49',    55,  '36',  '50',    56,
          32,    57,  '51',    58,  '34',  '52',    60,  '53',  '55',    61,
          29,    63,  '32',  '56',    65,  '57',    67,  '58',  '60',    69,
        '29',    26,  '61',    72,  '63',  '65',  '67',    76,  '26',  '69',
          83,    22,  '76',  '72',  '83',    94,  '22',    16, '---',  '94',
           0,  '16',   '0'],
      dtype='object')
43     30521
42     30027
44     28638
40     26892
45     24852
39     21430
47     20769
48     16578
37     15250
49     12700
36      9701
50      9598
43      8623
42      8601
44      8193
40      7546
51      7461
45      7122
39      6320
47      5813
52      5628
34      5488
37      4512
48      4502
53      4389
49      3473
55      3411
36      2898
50      2773
56      2697
       ...
56       704
65       616
57       582
67       454
58       453
60       351
69       321
29       300
26       296
61       254
72       247
63       218
65       150
67       140
76       126
26       108
69        90
83        79
22        73
76        58
72        54
83        30
94        23
22        21
16        16
---       11
94         7
0          5
16         4
0          1
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [84]:
data_2002_2['PUNT_QUIMICA'] = data_2002_2['PUNT_QUIMICA'].replace('---', np.nan)
for i in data_2002_2['PUNT_QUIMICA'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_QUIMICA'] = data_2002_2['PUNT_QUIMICA'].replace(i, int(i))

In [85]:
print(data_2002_2['PUNT_LENGUAJE'].value_counts().index)
print(data_2002_2['PUNT_LENGUAJE'].value_counts())
print(missing_data(data_2002_2['PUNT_LENGUAJE']))

Index([   46,    45,    48,    49,    43,    50,    42,    52,    53,    40,
        '48',  '46',  '49',  '45',    54,  '50',  '52',  '43',    56,  '53',
          38,  '42',  '54',    57,  '56',  '40',    58,    36,  '57',    60,
        '38',  '58',  '60',    61,    34,  '36',  '61',    63,  '63',    64,
        '34',    32,  '64',    66,  '66',  '32',    68,    29,  '68',    70,
        '70',  '29',    26,    73,  '73',  '26',    75,    21,  '75',  '21',
          79,  '79', '---',    13,  '13',   '0',     0,    83,  '83'],
      dtype='object')
46     19844
45     19454
48     19335
49     18067
43     17746
50     16461
42     15304
52     14469
53     12430
40     11972
48     11504
46     11501
49     11210
45     10953
54     10636
50     10594
52      9609
43      9544
56      8626
53      8433
38      8334
42      8241
54      7478
57      6929
56      6160
40      6157
58      5618
36      5361
57      5313
60      4480
       ...
64      1608
34      1432
32      1328
64      1276
66       957
66       830
32       671
68       569
29       567
68       456
70       331
70       264
29       262
26       168
73       140
73       109
26        94
75        61
21        47
75        42
21        19
79        18
79        16
---       13
13        11
13         5
0          4
0          4
83         3
83         3
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [86]:
data_2002_2['PUNT_LENGUAJE'] = data_2002_2['PUNT_LENGUAJE'].replace('---', np.nan)
for i in data_2002_2['PUNT_LENGUAJE'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_LENGUAJE'] = data_2002_2['PUNT_LENGUAJE'].replace(i, int(i))

In [87]:
print(data_2002_2['PUNT_GEOGRAFIA'].value_counts().index)
print(data_2002_2['PUNT_GEOGRAFIA'].value_counts())
print(missing_data(data_2002_2['PUNT_GEOGRAFIA']))

Index([   42,    44,    40,    45,    39,    47,    37,    48,  '44',  '42',
        '45',  '40',    49,  '47',    35,  '39',  '48',    51,  '37',  '49',
          33,    52,  '35',  '51',    54,  '52',    31,  '33',  '54',    55,
        '31',    28,  '55',    57,  '57',  '28',    58,    26,  '58',  '26',
          60,  '60',    22,    61,  '61',  '22',    63,    17,  '63',  '17',
          65,  '65',     9,  '67', '---',    67,   '9',    69,     0,  '69',
        '71',   '0'],
      dtype='object')
42     22974
44     22861
40     22253
45     21163
39     19837
47     18898
37     16149
48     15656
44     14277
42     13721
45     13366
40     13071
49     12644
47     12009
35     11950
39     11165
48     10294
51      9896
37      9155
49      8532
33      7858
52      7159
35      6652
51      6481
54      4895
52      4877
31      4595
33      4421
54      3469
55      3146
       ...
55      2230
57      1877
57      1324
28      1269
58      1033
26       897
58       740
26       500
60       496
60       397
22       296
61       220
61       175
22       169
63       113
17        67
63        60
17        40
65        34
65        28
9         15
67        14
---       14
67        13
9         11
69         9
0          6
69         2
71         2
0          1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [88]:
data_2002_2['PUNT_GEOGRAFIA'] = data_2002_2['PUNT_GEOGRAFIA'].replace('---', np.nan)
for i in data_2002_2['PUNT_GEOGRAFIA'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_GEOGRAFIA'] = data_2002_2['PUNT_GEOGRAFIA'].replace(i, int(i))

In [89]:
print(data_2002_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2002_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2002_2['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    185468
44    149056
45     35782
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [90]:
print(data_2002_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2002_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2002_2['PUNT_INTERDISCIPLINAR']))

Index(['---', '0', '20', '22', '30', '31', '35', '38', '39', '42', '44', '45',
       '48', '49', '51', '52', '53', '54', '55', '56', '57', '58', '59', '60',
       '61', '62', '63', '64', '65', '66', '67', '68', '69', '70', '74', '78',
       '80', '87', '90', '98'],
      dtype='object')
---     1555
0       1097
20       977
22      4333
30     10731
31      2557
35     17643
38      4733
39     21611
42     21934
44      6181
45     19231
48     15536
49      6348
51     12067
52        26
53      5694
54      9024
55      1067
56      2955
57     17850
58     17572
59     27715
60     33016
61     39937
62     33250
63     15487
64      8091
65      7493
66       862
67       303
68        10
69       747
70      1536
74       264
78       618
80        87
87        12
90       152
98         4
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [91]:
data_2002_2['PUNT_INTERDISCIPLINAR'] = data_2002_2['PUNT_INTERDISCIPLINAR'].replace('---', np.nan)
for i in data_2002_2['PUNT_INTERDISCIPLINAR'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_INTERDISCIPLINAR'] = data_2002_2['PUNT_INTERDISCIPLINAR'].replace(i, int(i))

In [92]:
print(data_2002_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2002_2['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2002_2['COD_IDIOMA']))

Int64Index([51, 52, 53, 99], dtype='int64')
51    367824
52      2049
53       188
99       245
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [93]:
print(data_2002_2['PUNT_IDIOMA'].value_counts().index)
print(data_2002_2['PUNT_IDIOMA'].value_counts())
print(missing_data(data_2002_2['PUNT_IDIOMA']))

Index(['41', '40', '43', '38', '44', '37', '45', '35', '47', '32',
       ...
       '19', '17',   99,   57,   77,   28,   61,   24,   74,   71],
      dtype='object', length=104)
41    39017
40    38958
43    34490
38    33939
44    27088
37    26171
45    19908
35    16947
47    13492
32     9105
48     8769
41     8219
40     8043
43     7355
38     6963
44     5951
49     5817
37     5231
45     4417
50     4136
30     4095
35     3324
51     3178
47     3128
53     2493
54     2089
48     2072
55     1824
32     1795
49     1519
      ...
46       21
57       18
28       15
34       14
61       12
39       12
24       10
15       10
64        9
87        8
99        6
77        4
52        3
39        3
81        3
81        3
71        2
0         2
74        2
64        2
19        1
17        1
99        1
57        1
77        1
28        1
61        1
24        1
74        1
71        1
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 370306
__________________
(370306,)
None

In [94]:
data_2002_2['PUNT_IDIOMA'] = data_2002_2['PUNT_IDIOMA'].replace('---', np.nan)
data_2002_2['PUNT_IDIOMA'] = data_2002_2['PUNT_IDIOMA'].replace('*', np.nan)
for i in data_2002_2['PUNT_IDIOMA'].value_counts().index:
    if type(i) != int:
        data_2002_2['PUNT_IDIOMA'] = data_2002_2['PUNT_IDIOMA'].replace(i, int(i))

In [95]:
print(data_2002_2['PUNT_IDIOMA'].value_counts().index)
print(data_2002_2['PUNT_IDIOMA'].value_counts())
print(missing_data(data_2002_2['PUNT_IDIOMA']))

Float64Index([41.0, 40.0, 43.0, 38.0, 44.0, 37.0, 45.0, 35.0, 47.0, 32.0, 48.0,
              49.0, 50.0, 30.0, 51.0, 53.0, 54.0, 55.0, 56.0, 58.0, 27.0, 59.0,
              60.0, 62.0, 63.0, 65.0, 67.0, 69.0, 72.0, 22.0, 75.0, 42.0, 80.0,
              46.0, 34.0, 15.0, 87.0,  0.0, 52.0, 57.0, 28.0, 39.0, 61.0, 64.0,
              24.0, 99.0, 81.0, 77.0, 71.0, 74.0, 19.0, 17.0],
             dtype='float64')
41.0    47236
40.0    47001
43.0    41845
38.0    40902
44.0    33039
37.0    31402
45.0    24325
35.0    20271
47.0    16620
32.0    10900
48.0    10841
49.0     7336
50.0     5267
30.0     4860
51.0     4020
53.0     3152
54.0     2659
55.0     2306
56.0     1906
58.0     1749
27.0     1699
59.0     1579
60.0     1398
62.0     1300
63.0     1148
65.0     1082
67.0      938
69.0      764
72.0      543
22.0      433
75.0      376
42.0      274
80.0      191
46.0      156
34.0      102
15.0       97
87.0       54
0.0        33
52.0       27
57.0       19
28.0       16
39.0       15
61.0       13
64.0       11
24.0       11
99.0        7
81.0        6
77.0        5
71.0        3
74.0        3
19.0        1
17.0        1
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 364
__________________
Elementos diferentes de null/NaN: 369942
__________________
(369942,)
None

____

## Treatment of the NaN

In [96]:
Do_resamples(data_2002_2, 'IND_ANNO_TERMINO_BACHILLERATO', float)

cant null antes: 410
cant null despues: 3
cant null antes: 3
cant null despues: 0

In [97]:
Do_resamples(data_2002_2, 'COLE_JORNADA', str)

cant null antes: 43107
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [98]:
Do_resamples(data_2002_2, 'COLE_VALOR_PENSION', str)

cant null antes: 19393
cant null despues: 0

In [99]:
anno = data_2002_2[data_2002_2['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2002_2 = data_2002_2.drop(anno)

The columns about limitations will be deleted

In [100]:
data_2002_2 = data_2002_2.drop(['ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE', 'ESTU_LIMITA_SORDONOINTERPRETE',
                               'ESTU_LIMITA_MOTRIZ'], axis=1)

In [101]:
Do_resamples(data_2002_2, 'ESTU_IES_COD_DESEADA', str)

cant null antes: 39223
cant null despues: 76
cant null antes: 76
cant null despues: 0

In [102]:
Do_resamples(data_2002_2, 'ESTU_RAZONINSTITUTO', str)

cant null antes: 27235
cant null despues: 0

In [103]:
Do_resamples(data_2002_2, 'ESTU_CARRDESEADA_COD', str)

cant null antes: 24655
cant null despues: 310
cant null antes: 310
cant null despues: 0

In [104]:
Do_resamples(data_2002_2, 'ESTU_CARRDESEADA_RAZON', str)

cant null antes: 15575
cant null despues: 0

In [105]:
Do_resamples(data_2002_2, 'FAMI_PERSONAS_HOGAR', str)

cant null antes: 6509
cant null despues: 0

In [106]:
Do_resamples(data_2002_2, 'FAMI_VIVIENDA_PROPIA', str)

cant null antes: 7809
cant null despues: 0

In [107]:
Do_resamples(data_2002_2, 'FAMI_DEUDA_VIVIENDA', str)

cant null antes: 134762
cant null despues: 0

In [108]:
Do_resamples(data_2002_2, 'FAMI_APORTANTES', str)

cant null antes: 6432
cant null despues: 0

In [109]:
Do_resamples(data_2002_2, 'FAMI_INGRESO_FMILIAR_MENSUAL', str)

cant null antes: 9251
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [110]:
Do_resamples(data_2002_2, 'FAMI_INGRESO_FMILIAR_MENSUAL', str)

cant null antes: 0
cant null despues: 0

In [111]:
Do_resamples(data_2002_2, 'FAMI_LEE_ESCRIBE_PADRE', str)

cant null antes: 31352
cant null despues: 0

In [112]:
Do_resamples(data_2002_2, 'FAMI_LEE_ESCRIBE_MADRE', str)

cant null antes: 11457
cant null despues: 0

In [113]:
Do_resamples(data_2002_2, 'FAMI_EDUCA_PADRE', str)

cant null antes: 42813
cant null despues: 0

In [114]:
Do_resamples(data_2002_2, 'FAMI_EDUCA_MADRE', str)

cant null antes: 27436
cant null despues: 0

In [115]:
Do_resamples(data_2002_2, 'FAMI_OCUPA_PADRE', str)

cant null antes: 48516
cant null despues: 0

In [116]:
Do_resamples(data_2002_2, 'FAMI_OCUPA_MADRE', str)

cant null antes: 25270
cant null despues: 0

In [117]:
Do_resamples(data_2002_2, 'FAMI_NUM_HERMANOS', str)

cant null antes: 22666
cant null despues: 0

In [118]:
Do_resamples(data_2002_2, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', str)

cant null antes: 42232
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [119]:
Do_resamples(data_2002_2, 'FAMI_POSICION_HERMANOS', str)

cant null antes: 19961
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [120]:
Do_resamples(data_2002_2, 'FAMI_SOST_PERSONAL', str)

cant null antes: 15669
cant null despues: 0

In [121]:
Do_resamples(data_2002_2, 'ESTU_TRABAJA', str)

cant null antes: 15167
cant null despues: 0

In [122]:
Do_resamples(data_2002_2, 'ESTU_ACT_PROX_ANNO', str)

cant null antes: 3561
cant null despues: 0

In [123]:
Do_resamples(data_2002_2, 'COLE_CALENDARIO', str)

cant null antes: 13671
cant null despues: 0

In [124]:
Do_resamples(data_2002_2, 'COLE_BILINGUE', float)

cant null antes: 368067
cant null despues: 0

In [125]:
Do_resamples(data_2002_2, 'COLE_CARACTER', str)

cant null antes: 13671
cant null despues: 0

In [126]:
Do_resamples(data_2002_2, 'COLE_DEPTO_UBICACION', str)

cant null antes: 13671
cant null despues: 0

In [143]:
Do_resamples(data_2002_2, 'COLE_MCPIO_UBICACION', str)

cant null antes: 0
cant null despues: 0

In [144]:
Do_resamples(data_2002_2, 'COLE_COD_ICFES', str)

cant null antes: 0
cant null despues: 0

Puntajes

In [145]:
data_2002_2['PUNT_BIOLOGIA'].fillna(int(np.mean(data_2002_2['PUNT_BIOLOGIA'])), inplace=True)

In [146]:
data_2002_2['PUNT_MATEMATICAS'].fillna(int(np.mean(data_2002_2['PUNT_MATEMATICAS'])), inplace=True)

In [147]:
data_2002_2['PUNT_FILOSOFIA'].fillna(int(np.mean(data_2002_2['PUNT_FILOSOFIA'])), inplace=True)

In [148]:
data_2002_2['PUNT_FISICA'].fillna(int(np.mean(data_2002_2['PUNT_FISICA'])), inplace=True)

In [149]:
data_2002_2['PUNT_HISTORIA'].fillna(int(np.mean(data_2002_2['PUNT_HISTORIA'])), inplace=True)

In [150]:
data_2002_2['PUNT_QUIMICA'].fillna(int(np.mean(data_2002_2['PUNT_QUIMICA'])), inplace=True)

In [151]:
data_2002_2['PUNT_LENGUAJE'].fillna(int(np.mean(data_2002_2['PUNT_LENGUAJE'])), inplace=True)

In [152]:
data_2002_2['PUNT_GEOGRAFIA'].fillna(int(np.mean(data_2002_2['PUNT_GEOGRAFIA'])), inplace=True)

In [153]:
data_2002_2['PUNT_INTERDISCIPLINAR'].fillna(int(np.mean(data_2002_2['PUNT_INTERDISCIPLINAR'])), inplace=True)

In [154]:
data_2002_2['PUNT_IDIOMA'].fillna(int(np.mean(data_2002_2['PUNT_IDIOMA'])), inplace=True)

In [ ]:
c = 'COLE_COD_ICFES'
print(data_2002_2[c].value_counts().sort_index().index)
print(data_2002_2[c].value_counts())
print(missing_data(data_2002_2[c]))

Index(['0', '000005', '000017', '000018', '000026', '000035', '000054',
       '000055', '000059', '000067',
       ...
       '99887', '99895', '99911', '99929', '9993', '99937', '99952', '9999',
       '99994', '999999'],
      dtype='object', length=14187)
000257    3754
0         3130
002352    2129
002196    1196
59        1064
000240     813
786        621
002402     583
98285      507
11015      497
67652      454
031617     449
14324      438
000265     437
12211      402
3053       399
1412       397
3699       392
67454      382
012963     361
28696      356
23366      350
1115       339
12955      336
14399      328
26138      322
14563      319
19893      317
4283       312
27102      297
          ...
029157       1
041194       1
000820       1
088229       1
076869       1
68077        1
1000         1
041103       1
093567       1
035022       1
054486       1
051029       1
100114       1
053396       1
037986       1
010512       1
093930       1
093682       1
039248       1
063438       1
078956       1
023473       1
960048       1
054171       1
080242       1
049          1
050369       1
020081       1
007033       1
189          1
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 369999
__________________
(369999,)
None

In [155]:
missing_data(data_2002_2)

Elementos null/NaN COLE_COD_ICFES                   0
IND_ANNO_TERMINO_BACHILLERATO    0
COLE_JORNADA                     0
COLE_VALOR_PENSION               0
ESTU_GENERO                      0
ESTU_NACIMIENTO_DIA              0
ESTU_NACIMIENTO_MES              0
ESTU_NACIMIENTO_ANNO             0
ESTU_DEPTO_PRESENTACION          0
ESTU_MCPIO_PRESENTACION          0
PUNT_BIOLOGIA                    0
PUNT_MATEMATICAS                 0
PUNT_FILOSOFIA                   0
PUNT_FISICA                      0
PUNT_HISTORIA                    0
PUNT_QUIMICA                     0
PUNT_LENGUAJE                    0
PUNT_GEOGRAFIA                   0
COD_INTERDISCIPLINAR             0
PUNT_INTERDISCIPLINAR            0
COD_IDIOMA                       0
PUNT_IDIOMA                      0
ESTU_IES_COD_DESEADA             0
ESTU_RAZONINSTITUTO              0
ESTU_CARRDESEADA_COD             0
ESTU_CARRDESEADA_RAZON           0
FAMI_PERSONAS_HOGAR              0
FAMI_VIVIENDA_PROPIA             0
FAMI_DEUDA_VIVIENDA              0
FAMI_APORTANTES                  0
FAMI_INGRESO_FMILIAR_MENSUAL     0
FAMI_LEE_ESCRIBE_PADRE           0
FAMI_LEE_ESCRIBE_MADRE           0
FAMI_EDUCA_PADRE                 0
FAMI_EDUCA_MADRE                 0
FAMI_OCUPA_PADRE                 0
FAMI_OCUPA_MADRE                 0
FAMI_NUM_HERMANOS                0
FAMI_NUM_HERMANOS_EDUSUPERIOR    0
FAMI_POSICION_HERMANOS           0
FAMI_SOST_PERSONAL               0
ESTU_TRABAJA                     0
ESTU_ACT_PROX_ANNO               0
COLE_CALENDARIO                  0
COLE_BILINGUE                    0
COLE_CARACTER                    0
COLE_DEPTO_UBICACION             0
COLE_MCPIO_UBICACION             0
ESTU_RESIDE_DEPTO                0
ESTU_RESIDE_MCPIO                0
dtype: int64
__________________
Elementos diferentes de null/NaN: COLE_COD_ICFES                   369999
IND_ANNO_TERMINO_BACHILLERATO    369999
COLE_JORNADA                     369999
COLE_VALOR_PENSION               369999
ESTU_GENERO                      369999
ESTU_NACIMIENTO_DIA              369999
ESTU_NACIMIENTO_MES              369999
ESTU_NACIMIENTO_ANNO             369999
ESTU_DEPTO_PRESENTACION          369999
ESTU_MCPIO_PRESENTACION          369999
PUNT_BIOLOGIA                    369999
PUNT_MATEMATICAS                 369999
PUNT_FILOSOFIA                   369999
PUNT_FISICA                      369999
PUNT_HISTORIA                    369999
PUNT_QUIMICA                     369999
PUNT_LENGUAJE                    369999
PUNT_GEOGRAFIA                   369999
COD_INTERDISCIPLINAR             369999
PUNT_INTERDISCIPLINAR            369999
COD_IDIOMA                       369999
PUNT_IDIOMA                      369999
ESTU_IES_COD_DESEADA             369999
ESTU_RAZONINSTITUTO              369999
ESTU_CARRDESEADA_COD             369999
ESTU_CARRDESEADA_RAZON           369999
FAMI_PERSONAS_HOGAR              369999
FAMI_VIVIENDA_PROPIA             369999
FAMI_DEUDA_VIVIENDA              369999
FAMI_APORTANTES                  369999
FAMI_INGRESO_FMILIAR_MENSUAL     369999
FAMI_LEE_ESCRIBE_PADRE           369999
FAMI_LEE_ESCRIBE_MADRE           369999
FAMI_EDUCA_PADRE                 369999
FAMI_EDUCA_MADRE                 369999
FAMI_OCUPA_PADRE                 369999
FAMI_OCUPA_MADRE                 369999
FAMI_NUM_HERMANOS                369999
FAMI_NUM_HERMANOS_EDUSUPERIOR    369999
FAMI_POSICION_HERMANOS           369999
FAMI_SOST_PERSONAL               369999
ESTU_TRABAJA                     369999
ESTU_ACT_PROX_ANNO               369999
COLE_CALENDARIO                  369999
COLE_BILINGUE                    369999
COLE_CARACTER                    369999
COLE_DEPTO_UBICACION             369999
COLE_MCPIO_UBICACION             369999
ESTU_RESIDE_DEPTO                369999
ESTU_RESIDE_MCPIO                369999
dtype: int64
__________________
(369999, 50)

### Now, i transform the Obtained Dataframes to a csv file

In [156]:
data_2002 = label_encoder(data_2002)
data_2002_2 = label_encoder(data_2002_2)

In [157]:
data_2002.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2002_1.csv', sep = ';', index = False)
data_2002_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2002_2.csv', sep = ';', index = False)