In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2006 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20061-RGSTRO-CLFCCN-V1-0.txt', delimiter='|',
                       encoding = "iso-8859-1")

In [3]:
data_2006.shape

(61335, 85)

In [4]:
data_2006.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB1120061000001,SB1120061000002,SB1120061000003
PERIODO,20061,20061,20061
ESTU_TIPO_DOCUMENTO,T,R,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,24,29,24
ESTU_NACIMIENTO_MES,4,12,10
ESTU_NACIMIENTO_ANNO,1989,1988,1987
ESTU_EDAD,16,17,18
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76823,76823,11001
ESTU_RESIDE_MCPIO,TORO,TORO,BOGOTÃ D.C.
ESTU_RESIDE_DEPTO,VALLE,VALLE,BOGOTÃ
ESTU_ZONA_RESIDE,10,10,1
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,76823,76823,44035
ESTU_MCPIO_PRESENTACION,TORO,TORO,ALBANIA
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,LA GUAJIRA
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006)
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2005,2005,2005
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,18861,18861,50724
COLE_COD_ICFES,18861,18861,50724
...,...,...,...
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,6
ESTU_TRABAJA,NaN,NaN,0
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,0,0,7
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,NaN,NaN,NaN
ESTU_IES_DESEADA_NOMBRE,NaN,NaN,NaN
ESTU_IES_COD_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_DEPT_DESEADA,NaN,NaN,NaN
ESTU_RAZONINSTITUTO,NaN,NaN,6
ESTU_CARRDESEADA_COD,NaN,NaN,NaN
ESTU_CARRDESEADA_RAZON,NaN,NaN,2
PUNT_LENGUAJE,"45,57","40,49","59,31"
PUNT_MATEMATICAS,"45,81","56,19","58,51"
PUNT_C_SOCIALES,"44,41","46,91","51,89"
PUNT_FILOSOFIA,"23,47","37,78","49,86"
PUNT_BIOLOGIA,"44,66","46,76","62,6"
PUNT_QUIMICA,"43,19","48,75","52,25"
PUNT_FISICA,"40,38","49,27","51,81"
NOMBRE_IDIOMA,INGLÃS,INGLÃS,INGLÃS
PUNT_IDIOMA,"41,03","34,2","85,62"
DESEMP_IDIOMA,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÃN EN BIOLOGÃA,PROFUNDIZACIÃN EN BIOLOGÃA,PROFUNDIZACIÃN EN LENGUAJE
PUNT_PROFUNDIZACION,"5,33","5,69","7,33"
DESEMP_PROFUNDIZACION,II,II,III
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"53,91","54,79","62,84"
ESTU_PUESTO,831,547,30

Deleting the columns that won't contribute to the work

In [5]:
data_2006 = data_2006.drop(['ESTU_CONSECUTIVO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO', 'ESTU_COD_MCPIO_PRESENTACION',
                            'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA', 'PERIODO'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AR', 'AT', 'BO', 'CA', 'CL', 'CN', 'CO', 'CU', 'DE', 'EC', 'ES', 'GT',
       'IR', 'JM', 'KP', 'PA', 'PE', 'RU', 'SA', 'US', 'VE'],
      dtype='object')
AR        3
AT        1
BO        1
CA        1
CL        1
CN        1
CO    61239
CU        1
DE        1
EC        5
ES        2
GT        2
IR        1
JM        1
KP        1
PA        1
PE        3
RU        1
SA        1
US       16
VE        1
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 51
__________________
Elementos diferentes de null/NaN: 61284
__________________
(61284,)
None

In [7]:
c = 'ESTU_GENERO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['F', 'M'], dtype='object')
F    33064
M    28248
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 23
__________________
Elementos diferentes de null/NaN: 61312
__________________
(61312,)
None

In [8]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2160
2.0     1967
3.0     1935
4.0     2040
5.0     2108
6.0     2030
7.0     1914
8.0     2019
9.0     2038
10.0    2225
11.0    1969
12.0    2041
13.0    1999
14.0    1908
15.0    2073
16.0    2035
17.0    2080
18.0    1931
19.0    1987
20.0    2155
21.0    1897
22.0    2012
23.0    1988
24.0    1997
25.0    2058
26.0    1988
27.0    2035
28.0    2087
29.0    1789
30.0    1719
31.0    1115
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [9]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     5115
2.0     4734
3.0     5237
4.0     5051
5.0     5072
6.0     4991
7.0     5073
8.0     5245
9.0     5345
10.0    5316
11.0    5010
12.0    5110
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [10]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1930.0, 1933.0, 1934.0, 1935.0, 1936.0, 1938.0, 1940.0, 1941.0,
              1942.0, 1944.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1997.0, 1998.0, 2000.0, 2001.0,
              2002.0, 2084.0, 2088.0, 2089.0],
             dtype='float64')
1930.0        2
1933.0        1
1934.0        3
1935.0        2
1936.0        1
1938.0        1
1940.0        2
1941.0        2
1942.0        1
1944.0        1
1946.0        1
1947.0        1
1948.0        1
1949.0        6
1950.0        2
1951.0        1
1952.0       10
1953.0        8
1954.0       12
1955.0       10
1956.0       11
1957.0       23
1958.0       16
1959.0       24
1960.0       26
1961.0       39
1962.0       33
1963.0       42
1964.0       33
1965.0       48
          ...
1974.0      103
1975.0      125
1976.0      143
1977.0      172
1978.0      163
1979.0      209
1980.0      245
1981.0      284
1982.0      359
1983.0      436
1984.0      667
1985.0     1195
1986.0     2885
1987.0     7112
1988.0    14525
1989.0    22950
1990.0     6850
1991.0      688
1992.0      299
1993.0      199
1994.0      571
1995.0        1
1997.0        2
1998.0        1
2000.0        8
2001.0        3
2002.0        3
2084.0        1
2088.0        1
2089.0        2
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 36
__________________
Elementos diferentes de null/NaN: 61299
__________________
(61299,)
None

In [11]:
for i in data_2006['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if i > 1996:
        data_2006['ESTU_NACIMIENTO_ANNO'] = data_2006['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [12]:
c = 'ESTU_EDAD'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Int64Index([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
            28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
            45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 60, 61, 63,
            64, 65, 66, 67, 69, 70, 71, 72, 75],
           dtype='int64')
11      529
12      296
13      315
14      584
15     4627
16    22133
17    15883
18     8129
19     3296
20     1382
21      712
22      469
23      373
24      280
25      263
26      201
27      186
28      170
29      142
30      122
31      114
32       93
33      104
34       99
35       93
36      122
37       95
38       88
39       56
40       56
41       35
42       46
43       32
44       35
45       31
46       22
47       20
48       21
49       12
50       10
51       11
52        8
53       11
54        1
55        1
56        6
57        2
58        1
60        1
61        1
63        1
64        2
65        2
66        1
67        1
69        1
70        2
71        2
72        2
75        2
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [13]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [14]:
data_2006 = data_2006.drop(['ESTU_LIMITA_BAJAVISION'], axis = 1)

In [15]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [16]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDOCEGUERA'], axis = 1)

In [17]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [18]:
data_2006 = data_2006.drop(['ESTU_LIMITA_COGNITIVA'], axis = 1)

In [19]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [20]:
data_2006 = data_2006.drop(['ESTU_LIMITA_INVIDENTE'], axis = 1)

In [21]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [22]:
data_2006 = data_2006.drop(['ESTU_LIMITA_MOTRIZ'], axis = 1)

In [23]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [24]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis = 1)

In [25]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 61335
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [26]:
data_2006 = data_2006.drop(['ESTU_LIMITA_SORDONOINTERPRETE'], axis = 1)

In [27]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ABEJORRAL', 'ACACIAS', 'AGUA DE DIOS', 'AGUADAS', 'AGUAZUL',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA', 'ANCUYA',
       ...
       'YACUANQUER', 'YAGUARA', 'YALI', 'YARUMAL', 'YOLOMBO', 'YOPAL',
       'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=316)
ABEJORRAL                       6
ACACIAS                         1
AGUA DE DIOS                    1
AGUADAS                         1
AGUAZUL                         1
ALBAN (SAN JOSE)               71
ALBANIA                        24
ALCALA                        112
ALDANA                         50
ANCUYA                         54
ANDALUCIA                     207
ANDES                           2
ANSERMANUEVO                  116
APARTADO                        8
APIA                            1
AQUITANIA                       1
ARBELAEZ                        1
ARBOLEDA (BERRUECOS)           39
ARGELIA                        47
ARMENIA                       147
ARMERO (GUAYABAL)               1
ATRATO (YUTO)                   1
BALBOA                         14
BARANOA                         1
BARBACOAS                     116
BARRANCABERMEJA                 1
BARRANCAS                       1
BARRANQUILLA                  513
BELEN                          57
BELLO                          88
                             ...
TUMACO                       1129
TUNJA                          58
TUQUERRES                     391
TURBACO                         3
TUTA                            1
UBATE                          11
ULLOA                          55
VALENCIA                       18
VALLEDUPAR                     61
VENTAQUEMADA                    1
VERSALLES                      74
VIJES                          76
VILLA DE LEYVA                  1
VILLA DEL ROSARIO               1
VILLA GUAMEZ (LA HORMIGA)       2
VILLA RICA                      5
VILLAGARZON                    71
VILLAMARIA                      2
VILLAVICENCIO                 110
VILLETA                        10
YACUANQUER                     66
YAGUARA                        15
YALI                            3
YARUMAL                         1
YOLOMBO                        12
YOPAL                          52
YOTOCO                        106
YUMBO                         828
ZARZAL                        446
ZIPAQUIRA                      52
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 23
__________________
Elementos diferentes de null/NaN: 61312
__________________
(61312,)
None

In [28]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ANTIOQUIA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ', 'CALDAS',
       'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ', 'CUNDINAMARCA',
       'CÃRDOBA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SAN ANDRÃS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           1395
ATLÃNTICO           535
BOGOTÃ             4432
BOLÃVAR             170
BOYACÃ              219
CALDAS               157
CAQUETÃ              15
CASANARE              68
CAUCA               1016
CESAR                 62
CHOCÃ                 2
CUNDINAMARCA         630
CÃRDOBA              54
GUAVIARE               1
HUILA                197
LA GUAJIRA            36
MAGDALENA             37
META                 121
NARIÃO            12304
NORTE SANTANDER      130
PUTUMAYO              86
QUINDÃO             180
RISARALDA            235
SAN ANDRÃS            1
SANTANDER            379
SUCRE                 18
TOLIMA               179
VALLE              38652
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 24
__________________
Elementos diferentes de null/NaN: 61311
__________________
(61311,)
None

In [29]:
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOGOTÃ', 'BOGOTA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CHOCÃ', 'CHOCO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('QUINDÃO', 'QUINDIO')
data_2006['ESTU_RESIDE_DEPTO'] = data_2006['ESTU_RESIDE_DEPTO'].replace('SAN ANDRÃS', 'SAN ANDRES')

In [30]:
c = 'ESTU_ZONA_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      6457
2.0      2812
3.0       943
4.0      5737
5.0      1465
6.0      2313
7.0      3622
8.0      1157
9.0      1445
10.0    35358
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 26
__________________
Elementos diferentes de null/NaN: 61309
__________________
(61309,)
None

In [31]:
c = 'ESTU_AREA_RESIDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0], dtype='float64')
1.0    466
2.0    126
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 60743
__________________
Elementos diferentes de null/NaN: 592
__________________
(592,)
None

In [32]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO', 'APARTADO', 'ARMENIA',
       'BARBACOAS', 'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO',
       ...
       'TUMACO', 'TUNJA', 'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=102)
ALBANIA                      30
ALCALA                      168
ANDALUCIA                   208
ANSERMANUEVO                118
APARTADO                     11
ARMENIA                     169
BARBACOAS                   163
BARRANCABERMEJA               1
BARRANQUILLA                543
BELLO                        89
BOGOTÃ D.C.               4301
BOLIVAR                      35
BUCARAMANGA                 348
BUENAVENTURA               2308
BUESACO                     209
BUGA                       1600
BUGALAGRANDE                200
CAICEDONIA                  283
CALI                      19610
CALIMA (DARIEN)             149
CANDELARIA                  712
CARTAGENA                   179
CARTAGO                    1598
CHAPARRAL                    36
CHIA                        176
CONSACA                      69
CUCUTA                      121
CUMBAL                      265
DAGUA                       233
EL CERRITO                  696
                          ...
RIONEGRO                     53
ROLDANILLO                  530
SAMANIEGO                   256
SAN GIL                       8
SAN PABLO                   169
SANDONA                     281
SANTA MARTA                  36
SANTA ROSA DE OSOS           40
SANTANDER DE QUILICHAO       76
SEVILLA                     345
SINCELEJO                    18
SOACHA                      184
SOGAMOSO                     70
TAMINANGO                   136
TANGUA                       48
TIMBIO                        1
TIMBIQUI                     42
TORO                        159
TRUJILLO                    150
TULUA                      2423
TUMACO                     1155
TUNJA                       151
TUQUERRES                   495
UBATE                        35
VALLEDUPAR                   70
VILLAVICENCIO               122
YOPAL                        69
YUMBO                      1012
ZARZAL                      465
ZIPAQUIRA                    80
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [33]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ANTIOQUIA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ', 'CALDAS',
       'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CUNDINAMARCA', 'CÃRDOBA',
       'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           1373
ATLÃNTICO           543
BOGOTÃ             4301
BOLÃVAR             179
BOYACÃ              221
CALDAS               168
CAQUETÃ              15
CASANARE              69
CAUCA                972
CESAR                 70
CUNDINAMARCA         588
CÃRDOBA              53
HUILA                195
LA GUAJIRA            40
MAGDALENA             36
META                 122
NARIÃO            12476
NORTE SANTANDER      127
PUTUMAYO              78
QUINDÃO             169
RISARALDA            219
SANTANDER            380
SUCRE                 18
TOLIMA               158
VALLE              38765
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [34]:
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOGOTÃ', 'BOGOTA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_DEPTO_PRESENTACION'] = data_2006['ESTU_DEPTO_PRESENTACION'].replace('QUINDÃO', 'QUINDIO')

In [35]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['EXAMEN DE ESTADO  (2006)'], dtype='object')
EXAMEN DE ESTADO  (2006)    61335
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [36]:
data_2006 = data_2006.drop(['ESTU_EXAM_NOMBREEXAMEN'], axis = 1)

In [37]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     5696
1.0    55634
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 61330
__________________
(61330,)
None

In [38]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1973.0, 1986.0, 1989.0, 1993.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0,
              2008.0, 2009.0, 2010.0, 2011.0, 9999.0],
             dtype='float64')
1973.0        1
1986.0        2
1989.0        1
1993.0        3
1996.0        4
1997.0        2
1998.0        1
1999.0        3
2000.0        5
2001.0        4
2002.0       12
2003.0        7
2004.0        9
2005.0     2251
2006.0    55638
2007.0      239
2008.0       18
2009.0       10
2010.0        2
2011.0        1
9999.0        1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 3121
__________________
Elementos diferentes de null/NaN: 58214
__________________
(58214,)
None

In [39]:
for i in data_2006[c].value_counts().sort_index().index:
    if i > 2009:
        data_2006['IND_ANNO_TERMINO_BACHILLERATO'] = data_2006['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [40]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0], dtype='float64')
1.0    116
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 61219
__________________
Elementos diferentes de null/NaN: 116
__________________
(116,)
None

In [41]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([     3.0,     59.0,    182.0,    240.0,    265.0,   3046.0,
                3327.0,   3418.0,   3459.0,   3525.0,
              ...
              164194.0, 164483.0, 166280.0, 168294.0, 168393.0, 170456.0,
              172908.0, 173302.0, 175208.0, 999999.0],
             dtype='float64', length=1649)
3.0          35
59.0          1
182.0        68
240.0         2
265.0        87
3046.0       70
3327.0       15
3418.0       40
3459.0       97
3525.0       91
4234.0       36
6775.0       11
7013.0       48
7070.0      114
7088.0       53
7344.0        1
7542.0        1
8995.0        1
9110.0       66
9589.0       36
10058.0       1
10066.0       2
10280.0       1
10660.0       1
11213.0     192
11221.0       2
11239.0      68
11247.0       1
11254.0      25
11262.0      46
           ...
130294.0      1
130419.0      1
130427.0      3
135434.0      2
136093.0      1
136879.0      1
136994.0      1
139402.0      1
139444.0      1
143032.0      2
143826.0      1
144048.0      1
145441.0      1
150409.0      1
150474.0      1
150953.0      1
154963.0      1
160440.0      1
162099.0      1
162958.0      1
164194.0      1
164483.0      1
166280.0      1
168294.0      1
168393.0      1
170456.0      1
172908.0      1
173302.0      1
175208.0      1
999999.0    232
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 345
__________________
Elementos diferentes de null/NaN: 60990
__________________
(60990,)
None

In [42]:
c = 'COLE_COD_ICFES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Int64Index([   182,    265,   3046,   3327,   3418,   3459,   3525,   4234,
              6775,   7013,
            ...
            124834, 124867, 124875, 124990, 125021, 125047, 125054, 125104,
            125112, 125138],
           dtype='int64', length=1502)
182        68
265        90
3046       70
3327       15
3418       40
3459       97
3525       91
4234       36
6775       11
7013       51
7070      118
7088       54
9589       36
11213     208
11239      70
11254      26
11262      48
11270     151
11288     113
11296     285
11312     142
11320     143
11338     509
11379      40
11395      43
11403      75
11411     136
11429      94
11437      91
11445     123
         ...
124487     13
124495      1
124503      7
124511      8
124537     10
124545     80
124552     10
124560     64
124578     17
124602      9
124628     11
124636     97
124644      6
124651      9
124677      5
124693      7
124701      8
124735     18
124750     56
124818     27
124834      8
124867     54
124875     17
124990     18
125021     26
125047     42
125054      9
125104     59
125112     35
125138     20
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [43]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['            ', '010500103391', '051100116867', '105001000566',
       '105001003395', '105001003425', '105042000732', '105361000443',
       '105387000077', '108001003289',
       ...
       '519698000003', '525899000016', '537610908071', '576001091472',
       '576622134546', '625214000001', '625269000075', '625286000041',
       '625843000124', '841551000001'],
      dtype='object', length=1327)
                673
010500103391     26
051100116867     25
105001000566     15
105001003395     17
105001003425      6
105042000732     16
105361000443     29
105387000077      5
108001003289     14
111001010251      9
111001011029     14
111001034134     18
111001092410     46
111001102148     18
111848003031     28
115759001887     31
117433000859     10
117616000696     11
125175000299     32
125754002147     18
125899000657     36
141885000013     19
150226000013      9
152001000599    285
152001000661    169
152001000769    248
152001000777    471
152001000785    509
152001000793     91
               ...
476001006333     19
476001020719     14
476001038251    100
476126000418      8
476130000571     54
476130000813      7
476130000902     15
476130000961      4
476130001186     20
476248000478     72
476248000648     10
476248000877      4
476248032012     31
476520003813     16
476520006324      7
476892001183     11
476892099710     21
476892099728     11
476895000382     33
519001000002     23
519698000003      8
525899000016      8
537610908071     21
576001091472      6
576622134546     14
625214000001     20
625269000075     14
625286000041     33
625843000124      3
841551000001     25
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [44]:
data_2006['COLE_COD_DANE_INSTITUCION'] = data_2006['COLE_COD_DANE_INSTITUCION'].replace('            ', np.nan)
for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006['COLE_COD_DANE_INSTITUCION'] = data_2006['COLE_COD_DANE_INSTITUCION'].replace(i, float(i))

In [45]:
c = 'COLE_NOMBRE_SEDE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index([' COL FUND STA ISABEL DE HUNGRIA', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' FUND COL PAR SAN PEDRO CLAVER',
       '07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM',
       '20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO',
       '28/01 INSTITUCIÃN EDUCATIVA SANTA FE',
       '32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI',
       '38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO',
       '39/01 INSTITUCION EDUCATIVA BOYACA',
       '41/01 INSTITUCION EDUCATIVA VILLA DEL SUR',
       ...
       'SUSANA LOPEZ DE VALENCIA', 'TABLONES',
       'TECNOLÃGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB',
       'TERESA CALDERÃN DE LASSO',
       'TÃCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL',
       'UNIDAD TECNOLOGICA DEL SUR',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA', 'VERNOT SCHOOL',
       'XINSTITUTO TECNICO COMERCIAL PILOTO'],
      dtype='object', length=1359)
 COL FUND STA ISABEL DE HUNGRIA                                       842
 ESCUELA URBANA JOSE ANTONIO GALAN                                     25
 FUND COL PAR SAN PEDRO CLAVER                                         65
07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM                         581
20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO                           70
28/01 INSTITUCIÃN EDUCATIVA SANTA FE                                 106
32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI          168
38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO                   111
39/01 INSTITUCION EDUCATIVA BOYACA                                     79
41/01 INSTITUCION EDUCATIVA VILLA DEL SUR                             147
44/01 INSTITUCIÃN EDUCATIVA COMERCIAL CIUDAD DE CALI                 249
58/01 INSTITUCION EDUCATIVA GABRIELA MISTRAL                           97
69/01 INSTITUCION EDUCATIVA LA ESPERANZA                               33
74/01 INSTITUCION EDUCATIVA JUANA DE CAICEDO Y CUERO                   26
80/01 INSTITUCIÃN EDUCATIVA PANCE                                     11
81/02 INSTITUCION EDUCATIVA LA BUITRERA JOSE MARIA GARCIA DE TOLED     15
84/04  JOSE HOLGUIN GARCES                                             13
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                 14
ABSALON TORRES CAMACHO                                                102
ACADE MILIT JOAQUÃN DE CAICEDO Y CUERO                                24
ACADEMIA ACADEMIA SAM                                                   9
ACADEMIA COLOMBIANA DE ENSEÃANZA                                      23
ACADEMIA COMERCIAL REAL                                                15
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                              14
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                             16
ACADEMIA MILITAR GENERAL JOSÃ MARÃA CABAL                            36
AGRICOLA CAMPOALEGRE                                                   38
AGRICOLA PRESBITERO HORACIO GOMEZ GALLO                                30
ALAIN VALENCIA                                                          4
ALFONSO LOPEZ PUMAREJO                                                232
                                                                     ...
SEDE PRINCIPAL  TRES ESQUINAS                                          30
SEDE PRINCIPAL AGUACLARA                                               39
SEDE PRINCIPAL CONCENTRACIÃN DE DESARROLLO RURAL                      50
SEDE PRINCIPAL GIMNASIO DEL PACIFICO CENTRAL                          355
SEDE PRINCIPAL INSTITUTO JULIA RESTREPO                               176
SEDE PRINCIPAL INSTITUTO TEC.  INDUSTRIAL C.S.L.                      169
SEDE PRINCIPAL LA GRACIELA                                             96
SEDE PRINCIPAL LICEO MODERNO                                          174
SEDE PRINCIPAL NO. 7 MARIA ANTONIA RUIZ                                52
SEDE PRINCIPAL UNIDAD DOCENTE JOVITA SANTA COLOMA                      59
SEM DE CRISTO SACERDOTE                                                36
SEMILLA DE LA ESPERANZA                                                10
SEMINARIO MENOR ARQUIDIOCESANO                                         55
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                               55
SEVILLA                                                               164
SIMON BOLIVAR                                                         158
SIMON RODRIGUEZ                                                        14
SIXTO MARIA ROJAS                                                      39
SOC ESCUELA KARL C PARRISH                                             40
SOR MARIA JULIANA                                                      89
SUSANA LOPEZ DE VALENCIA                                               32
TABLONES                                                               27
TECNOLÃGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB         26
TERESA CALDERÃN DE LASSO                                              27
TÃCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL            181
UNIDAD TECNOLOGICA DEL SUR                                             27
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                   4
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                              8
VERNOT SCHOOL                                                           8
XINSTITUTO TECNICO COMERCIAL PILOTO                                     5
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [46]:
data_2006 = data_2006.drop(['COLE_NOMBRE_SEDE'], axis = 1)

In [47]:
c = 'COLE_CALENDARIO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['A', 'B', 'F'], dtype='object')
A    39078
B    12717
F     9540
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [48]:
c = 'COLE_GENERO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4289
M     1107
X    55939
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [49]:
c = 'COLE_NATURALEZA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['N', 'O'], dtype='object')
N    25071
O    36264
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [50]:
c = 'COLE_BILINGUE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    55867
1.0     4032
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 1436
__________________
Elementos diferentes de null/NaN: 59899
__________________
(59899,)
None

In [51]:
c = 'COLE_JORNADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['COMPLETA U ORDINARIA', 'MAÃANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     9572
MAÃANA                 38309
NOCHE                    4447
SABATINA - DOMINICAL     1816
TARDE                    7191
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [52]:
data_2006['COLE_JORNADA'] = data_2006['COLE_JORNADA'].replace('MAÃANA', 'MAÑANA')

In [53]:
c = 'COLE_CARACTER'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              29847
ACADEMICO Y TECNICO    11777
NORMALISTA              1301
TECNICO                18410
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [54]:
c = 'ESTU_ETNIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1.0     2932
2.0       21
3.0      101
4.0        3
5.0        2
6.0        5
7.0        5
8.0       13
9.0       12
10.0       3
11.0     772
12.0       2
13.0      19
14.0       1
15.0       1
16.0       4
99.0    1541
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 55898
__________________
Elementos diferentes de null/NaN: 5437
__________________
(5437,)
None

In [55]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     1
1.0    84
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 61250
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [56]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     3
1.0    82
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 61250
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [57]:
c = 'FAMI_EDUCA_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      80
1.0       4
2.0       9
3.0      21
4.0      32
5.0       7
6.0      12
7.0       4
8.0       3
9.0     299
10.0    218
11.0    163
12.0    270
13.0     26
14.0     82
15.0     51
16.0    448
17.0    316
99.0     14
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 59276
__________________
Elementos diferentes de null/NaN: 2059
__________________
(2059,)
None

In [58]:
c = 'FAMI_EDUCA_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      50
2.0       9
3.0      19
4.0      37
5.0       9
6.0       7
7.0      11
8.0       1
9.0     301
10.0    223
11.0    182
12.0    302
13.0     34
14.0    108
15.0     84
16.0    453
17.0    213
99.0     17
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 59275
__________________
Elementos diferentes de null/NaN: 2060
__________________
(2060,)
None

In [59]:
c = 'FAMI_OCUPA_PADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0, 99.0],
             dtype='float64')
1.0       1
2.0       1
3.0       5
4.0       6
5.0      15
6.0      17
7.0       5
8.0      11
9.0      13
10.0      1
11.0      2
12.0     11
13.0    207
14.0    220
15.0    143
16.0     96
17.0     91
18.0     51
19.0    195
20.0    173
21.0    374
22.0     29
23.0    166
26.0    213
99.0      7
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 59282
__________________
Elementos diferentes de null/NaN: 2053
__________________
(2053,)
None

In [60]:
c = 'FAMI_OCUPA_MADRE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              26.0, 99.0],
             dtype='float64')
2.0       2
3.0       1
4.0      11
5.0       6
6.0       8
7.0       3
8.0       4
9.0       3
10.0     49
11.0      1
12.0      5
13.0     78
14.0    119
15.0     86
16.0    110
17.0     96
18.0     54
19.0     98
20.0    117
21.0    207
22.0    750
23.0     95
26.0    154
99.0      1
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 59277
__________________
Elementos diferentes de null/NaN: 2058
__________________
(2058,)
None

In [61]:
c = 'FAMI_NUM_HERMANOS'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0], dtype='float64')
0.0      7
1.0     29
2.0     23
3.0     19
4.0      6
5.0      2
6.0      1
7.0      3
8.0      1
10.0     1
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 61243
__________________
Elementos diferentes de null/NaN: 92
__________________
(92,)
None

In [62]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1.0      6
2.0      8
3.0     15
4.0     69
5.0     10
6.0     31
7.0     21
8.0     55
9.0     19
88.0    96
99.0     9
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 60996
__________________
Elementos diferentes de null/NaN: 339
__________________
(339,)
None

In [63]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1.0     43
2.0      4
88.0    38
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 61250
__________________
Elementos diferentes de null/NaN: 85
__________________
(85,)
None

In [64]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1.0    359
2.0    444
3.0    369
4.0    295
5.0    272
6.0    330
8.0      3
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 59263
__________________
Elementos diferentes de null/NaN: 2072
__________________
(2072,)
None

In [65]:
data_2006['FAMI_ESTRATO_VIVIENDA'] = data_2006['FAMI_ESTRATO_VIVIENDA'].replace(8.0, np.nan)

In [66]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     451
2.0     257
3.0      69
4.0      24
5.0    1191
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 59343
__________________
Elementos diferentes de null/NaN: 1992
__________________
(1992,)
None

In [67]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      68
2.0     224
3.0     440
4.0     585
5.0     367
6.0     153
7.0      68
8.0      32
9.0      12
10.0     20
11.0      7
12.0     14
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 59345
__________________
Elementos diferentes de null/NaN: 1990
__________________
(1990,)
None

In [68]:
c = 'FAMI_PISOSHOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     41
2.0    396
3.0    115
4.0    834
5.0    606
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 59343
__________________
Elementos diferentes de null/NaN: 1992
__________________
(1992,)
None

In [69]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0       9
2.0      39
3.0      96
4.0     100
5.0      76
6.0      39
7.0      27
8.0      10
9.0       2
10.0      5
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 60932
__________________
Elementos diferentes de null/NaN: 403
__________________
(403,)
None

In [70]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0     136
2.0     518
3.0     807
4.0     367
5.0     100
6.0      24
7.0      10
8.0       3
9.0       3
10.0      3
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 59364
__________________
Elementos diferentes de null/NaN: 1971
__________________
(1971,)
None

In [71]:
c = 'FAMI_COMPUTADOR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 3.0, 4.0], dtype='float64')
0.0     422
1.0      16
3.0    1551
4.0       3
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 59343
__________________
Elementos diferentes de null/NaN: 1992
__________________
(1992,)
None

In [72]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0    253
2.0    572
3.0    303
4.0    225
5.0    148
6.0    144
7.0    347
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 59343
__________________
Elementos diferentes de null/NaN: 1992
__________________
(1992,)
None

In [73]:
c = 'ESTU_TRABAJA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    993
1.0     17
2.0      3
3.0    316
4.0    159
5.0    304
6.0      4
7.0      3
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 59536
__________________
Elementos diferentes de null/NaN: 1799
__________________
(1799,)
None

In [74]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0.0       1
1.0       1
2.0       3
3.0       6
4.0      22
5.0      18
6.0      19
7.0       4
8.0      63
9.0       8
10.0     39
11.0      3
12.0     14
13.0      2
14.0      8
15.0     11
16.0     13
17.0      2
18.0     22
19.0     10
20.0    514
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 60552
__________________
Elementos diferentes de null/NaN: 783
__________________
(783,)
None

In [75]:
c = 'COLE_VALOR_PENSION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 11.0], dtype='float64')
0.0     30110
1.0      9177
2.0      4981
3.0      3684
4.0      2970
5.0      2970
6.0      2511
7.0      4901
8.0        10
11.0        1
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 20
__________________
Elementos diferentes de null/NaN: 61315
__________________
(61315,)
None

In [76]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1.0    1
2.0    2
3.0    1
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 61331
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [77]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([18.0, 23.0, 45.0, 58.0], dtype='float64')
18.0    1
23.0    1
45.0    1
58.0    1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 61331
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [78]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1109.0, 1110.0,
              ...
              9103.0, 9104.0, 9105.0, 9107.0, 9110.0, 9111.0, 9112.0, 9113.0,
              9114.0, 9115.0],
             dtype='float64', length=298)
1101.0     1523
1102.0      101
1103.0       93
1104.0      429
1105.0       59
1106.0       57
1107.0        7
1108.0       14
1109.0        1
1110.0     1083
1111.0      375
1112.0      180
1113.0       38
1114.0       47
1115.0        4
1117.0       30
1118.0        1
1119.0       21
1120.0        3
1121.0        7
1122.0      109
1123.0        2
1124.0        2
1125.0        1
1201.0      499
1202.0       15
1203.0    14762
1204.0       70
1205.0       27
1206.0     4827
          ...
4812.0        8
4813.0       16
4814.0       30
4817.0       12
4818.0        6
4822.0        5
4823.0        5
4825.0        6
4826.0        6
4827.0        3
4828.0       24
4829.0        3
4832.0        3
4835.0       11
4837.0        2
4838.0        9
5801.0        2
5802.0       10
9101.0      117
9102.0       15
9103.0      187
9104.0      141
9105.0       39
9107.0        8
9110.0      162
9111.0      603
9112.0       32
9113.0        1
9114.0       18
9115.0      117
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 25117
__________________
Elementos diferentes de null/NaN: 36218
__________________
(36218,)
None

In [79]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AGUACHICA', 'ANDES', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA',
       'BARRANQUILLA', 'BELLO', 'BOGOTÃ D.C.', 'BUCARAMANGA', 'BUENAVENTURA',
       'BUGA', 'CALDAS', 'CALI', 'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO',
       'CAUCASIA', 'CHIA', 'CHIQUINQUIRA', 'CUCUTA', 'DUITAMA', 'ENVIGADO',
       'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE',
       'LETICIA', 'MADRID', 'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA',
       'MOSQUERA', 'NEIVA', 'NILO', 'OCAÃA', 'PALMIRA', 'PAMPLONA', 'PASTO',
       'PENSILVANIA', 'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÃ DE ANTIOQUIA', 'SEVILLA', 'SINCELEJO',
       'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TOLU', 'TULUA', 'TUNJA', 'TURBO',
       'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                    2
ANDES                        2
ARAUCA                       2
ARMENIA                    265
BARRANCABERMEJA              4
BARRANQUILLA               243
BELLO                        3
BOGOTÃ D.C.              5977
BUCARAMANGA                147
BUENAVENTURA               109
BUGA                       146
CALDAS                       5
CALI                     18886
CARMEN DE VIBORAL            7
CARTAGENA                  113
CARTAGO                     47
CAUCASIA                     1
CHIA                       105
CHIQUINQUIRA                 1
CUCUTA                      41
DUITAMA                      7
ENVIGADO                     2
FACATATIVA                   2
FLORENCIA                    4
FUSAGASUGA                   9
GIRARDOT                     8
HONDA                        4
IBAGUE                      47
LETICIA                      1
MADRID                      15
                         ...
PASTO                     5173
PENSILVANIA                 22
PEREIRA                    521
POPAYAN                   1141
PUERTO BERRIO                3
QUIBDO                       1
RIOHACHA                     1
RIONEGRO                    30
ROLDANILLO                  25
SABANETA                     2
SAN ANDRES                   1
SAN GIL                      1
SAN JUAN DEL CESAR           1
SANTA MARTA                 11
SANTA ROSA DE CABAL          8
SANTA ROSA DE OSOS          22
SANTAFÃ DE ANTIOQUIA        3
SEVILLA                      4
SINCELEJO                    5
SOCORRO                      2
SOGAMOSO                    14
SOLEDAD                      2
TOLU                         6
TULUA                      704
TUNJA                       72
TURBO                        3
UBATE                        8
VALLEDUPAR                   3
VILLAVICENCIO               21
YOPAL                        7
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 25117
__________________
Elementos diferentes de null/NaN: 36218
__________________
(36218,)
None

In [80]:
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('OCAÃA', 'OCAÑA')
data_2006['ESTU_IES_MPIO_DESEADA'] = data_2006['ESTU_IES_MPIO_DESEADA'].replace('SANTAFÃ DE ANTIOQUIA', 'SANTAFE DE ANTIOQUIA')

In [81]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SAN ANDRÃS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           1185
ARAUCA                 2
ATLÃNTICO           245
BOGOTÃ             5977
BOLÃVAR             113
BOYACÃ               94
CALDAS               477
CAQUETÃ               4
CASANARE               7
CAUCA               1141
CESAR                  5
CHOCÃ                 1
CUNDINAMARCA         227
CÃRDOBA              42
HUILA                 64
LA GUAJIRA             2
MAGDALENA             11
META                  21
NARIÃO             5173
NORTE SANTANDER       57
PUTUMAYO               1
QUINDÃO             265
RISARALDA            529
SAN ANDRÃS            1
SANTANDER            154
SUCRE                 11
TOLIMA                51
VALLE              20357
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 25117
__________________
Elementos diferentes de null/NaN: 36218
__________________
(36218,)
None

In [82]:
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOLÃVAR', 'BOLIVAR')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('BOYACÃ', 'BOYACA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CAQUETÃ', 'CAQUETA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CHOCÃ', 'CHOCO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('CÃRDOBA', 'CORDOBA')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('NARIÃO', 'NARIÑO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('QUINDÃO', 'QUINDIO')
data_2006['ESTU_IES_DEPT_DESEADA'] = data_2006['ESTU_IES_DEPT_DESEADA'].replace('SAN ANDRÃS', 'SAN ANDRES')

In [83]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1316
2.0     6976
3.0    22987
4.0     4766
5.0     3449
6.0     2146
7.0     2556
8.0     2575
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 14564
__________________
Elementos diferentes de null/NaN: 46771
__________________
(46771,)
None

In [84]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([    5.0,    23.0,    36.0,    63.0,    68.0,    87.0,   102.0,
                103.0,   105.0,   107.0,
              ...
              21807.0, 21809.0, 21810.0, 21889.0, 22046.0, 22050.0, 22581.0,
              22967.0, 24642.0, 24643.0],
             dtype='float64', length=2387)
5.0          7
23.0         1
36.0         1
63.0         1
68.0        13
87.0         1
102.0        3
103.0        2
105.0        7
107.0        1
108.0        1
109.0        7
111.0        1
116.0       55
117.0        2
119.0        1
120.0        1
125.0        1
128.0        3
129.0        9
130.0        3
131.0        7
133.0        1
142.0        2
151.0        3
152.0       16
160.0        2
165.0        1
168.0        1
169.0        1
          ...
20142.0      1
20143.0    939
20144.0     12
20146.0    110
20177.0     10
20184.0      2
20228.0      2
20233.0      2
20247.0      1
20257.0      8
20266.0      1
20267.0      5
20277.0      2
20282.0      2
21463.0     22
21480.0      1
21577.0      1
21794.0      1
21805.0      1
21806.0      1
21807.0      1
21809.0      2
21810.0      1
21889.0      1
22046.0      1
22050.0      1
22581.0      1
22967.0      1
24642.0      1
24643.0      1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 26101
__________________
Elementos diferentes de null/NaN: 35234
__________________
(35234,)
None

In [85]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    14658
2.0    16006
3.0     7605
4.0     4331
5.0     3207
6.0     1125
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 14403
__________________
Elementos diferentes de null/NaN: 46932
__________________
(46932,)
None

### TARGETS

In [86]:
c = 'PUNT_LENGUAJE'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '17,3', '25,35', '30,45', '34,35', '37,61', '40,49', '43,11',
       '45,57', '47,92', '50,2', '52,45', '54,69', '56,97', '59,31', '61,76',
       '64,37', '67,23', '70,47', '74,34', '79,39', '87,38'],
      dtype='object')
0           5
17,3       70
25,35     373
30,45     995
34,35    2215
37,61    3844
40,49    5458
43,11    6703
45,57    7360
47,92    7450
50,2     6814
52,45    5907
54,69    4614
56,97    3495
59,31    2480
61,76    1534
64,37    1007
67,23     563
70,47     278
74,34     103
79,39      55
87,38      12
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [87]:
c = 'PUNT_LENGUAJE'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [88]:
c = 'PUNT_MATEMATICAS'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '102,25', '107,84', '18,97', '28,53', '34,47', '38,94', '42,62',
       '45,81', '48,68', '51,32', '53,81', '56,19', '58,51', '60,8', '63,08',
       '65,39', '67,77', '70,24', '72,86', '75,7', '78,85', '82,49', '86,9',
       '92,78'],
      dtype='object')
0           28
102,25      80
107,84      21
18,97      189
28,53      721
34,47     2014
38,94     4087
42,62     6508
45,81     8189
48,68     8557
51,32     8068
53,81     6444
56,19     4817
58,51     3271
60,8      2404
63,08     1622
65,39     1079
67,77      863
70,24      615
72,86      527
75,7       413
78,85      286
82,49      238
86,9       180
92,78      114
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [89]:
c = 'PUNT_MATEMATICAS'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [90]:
c = 'PUNT_C_SOCIALES'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '21,2', '26,95', '30,5', '33,14', '35,3', '37,17', '38,83',
       '40,35', '41,77', '43,12', '44,41', '45,67', '46,91', '48,14', '49,37',
       '50,62', '51,89', '53,2', '54,56', '56,01', '57,55', '59,24', '61,14',
       '63,33'],
      dtype='object')
0           8
21,2       36
26,95     199
30,5      574
33,14    1189
35,3     2269
37,17    3530
38,83    4794
40,35    5801
41,77    6198
43,12    6392
44,41    6153
45,67    5701
46,91    4854
48,14    3936
49,37    3141
50,62    2408
51,89    1649
53,2     1127
54,56     722
56,01     402
57,55     163
59,24      66
61,14      22
63,33       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [91]:
c = 'PUNT_C_SOCIALES'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [92]:
c = 'PUNT_FILOSOFIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '104,43', '17,55', '23,47', '27,96', '31,67', '34,89', '37,78',
       '40,43', '42,93', '45,3', '47,6', '49,86', '52,11', '54,37', '56,68',
       '59,08', '61,61', '64,34', '67,36', '70,84', '75,05', '8,17', '80,64',
       '89,62'],
      dtype='object')
0           37
104,43       1
17,55       83
23,47      375
27,96     1046
31,67     2425
34,89     4067
37,78     5821
40,43     6401
42,93     7760
45,3      7493
47,6      6687
49,86     5484
52,11     4354
54,37     3457
56,68     2368
59,08     1596
61,61      992
64,34      493
67,36      235
70,84      108
75,05       33
8,17        10
80,64        7
89,62        2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [93]:
c = 'PUNT_FILOSOFIA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [94]:
c = 'PUNT_BIOLOGIA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '12,65', '20,53', '21,91', '25,44', '25,53', '26,43', '26,96',
       '27,63', '29,36', '30,33', '30,39', '30,82', '31,38', '31,91', '32,56',
       '32,97', '33,6', '34,05', '34,2', '34,51', '35,2', '35,36', '35,66',
       '36,11', '36,47', '36,88', '37,26', '37,39', '37,9', '38,88', '39,08',
       '39,45', '39,77', '40,21', '40,26', '41,05', '41,4', '41,51', '41,84',
       '42,11', '42,5', '42,8', '43,46', '43,82', '44,12', '44,34', '44,66',
       '45,23', '46,04', '46,05', '46,31', '46,51', '46,76', '47,57', '48,23',
       '48,47', '48,63', '48,84', '49,86', '50,4', '50,43', '50,61', '50,75',
       '50,92', '52,14', '52,59', '52,77', '52,89', '53,04', '54,45', '54,69',
       '54,99', '55,22', '56,83', '57,19', '57,3', '57,39', '57,49', '59,36',
       '59,63', '59,76', '59,93', '62,11', '62,34', '62,38', '62,45', '62,52',
       '62,6', '65,21', '65,51', '65,64', '68,91', '68,97', '69,08', '69,28',
       '73,74', '74,07', '81,7', '94,21'],
      dtype='object')
0           4
12,65      23
20,53      88
21,91       1
25,44       1
25,53     389
26,43       4
26,96       1
27,63       2
29,36     927
30,33       4
30,39       2
30,82      12
31,38       3
31,91       1
32,56    1856
32,97       1
33,6        6
34,05      27
34,2        8
34,51       4
35,2        1
35,36    3196
35,66       2
36,11       1
36,47      10
36,88      29
37,26       7
37,39      21
37,9     4596
         ...
54,45      27
54,69       1
54,99       8
55,22    3064
56,83      22
57,19       1
57,3        6
57,39       1
57,49    2259
59,36      22
59,63       1
59,76       1
59,93    1710
62,11      14
62,34       2
62,38       1
62,45       5
62,52       1
62,6     1195
65,21      14
65,51       1
65,64     760
68,91       6
68,97       1
69,08       1
69,28     414
73,74       3
74,07     144
81,7       15
94,21       3
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [95]:
c = 'PUNT_BIOLOGIA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [96]:
c = 'PUNT_QUIMICA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '18,77', '19,01', '21,4', '25,8', '27,53', '28,5', '30,25',
       '30,48', '30,58',
       ...
       '62,13', '63,38', '64,08', '64,98', '66,27', '66,76', '68,37', '69,99',
       '74,27', '81,11'],
      dtype='object', length=116)
0           4
18,77      32
19,01       1
21,4        1
25,8      271
27,53       2
28,5        3
30,25     789
30,48       2
30,58       2
30,82       1
30,84       1
32,2        1
32,62       1
33,03       9
33,65    2093
33,91       3
34,01       4
34,42       1
34,72       1
35,28       2
36,03       2
36,05       1
36,47    4067
36,52      17
36,77       6
36,88      11
36,9        7
38,4        1
38,53       1
         ...
54,01    1515
54,06       1
54,89       2
55,05       3
55,1       16
55,8      907
56,81       1
56,98       1
57,29      10
57,66     628
58,02       1
58,15       1
58,23       1
59          3
59,03       2
59,61       6
59,63     405
61          2
61,17       1
61,74     226
62,13       2
63,38       1
64,08     151
64,98       2
66,27       1
66,76      91
68,37       1
69,99      44
74,27      19
81,11       3
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [97]:
c = 'PUNT_QUIMICA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [98]:
c = 'PUNT_FISICA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['0', '100,9', '16,25', '16,65', '17,42', '19,63', '20,14', '21,16',
       '25,99', '26,43',
       ...
       '70,23', '71,15', '72,02', '74,02', '76,4', '77,2', '80,88', '83,81',
       '85,34', '91,29'],
      dtype='object', length=119)
0          13
100,9       2
16,25     107
16,65       1
17,42       1
19,63       1
20,14       1
21,16       8
25,99     566
26,43       2
26,8        1
27,47       4
27,7        1
28,61       1
30,97      13
32,05    1716
32,53       8
32,91       8
33,55       6
33,75       4
34,71       1
35,99       3
36,62    3794
37,11      17
37,14      12
37,53       6
38,13       8
38,31      10
38,89       1
39,77       2
         ...
59,52       1
60,02       2
60,41       1
60,58       3
60,82       1
61,25    1194
61,51       1
62,46       3
62,76       1
62,84       1
63,3        8
63,6      618
64,12       1
65,67       2
66        362
66,07       2
66,8        1
67,52       1
68,51     202
68,95       2
70,23       1
71,15     104
72,02       1
74,02      62
76,4        1
77,2       41
80,88      16
83,81       1
85,34      14
91,29       1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [99]:
c = 'PUNT_FISICA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [100]:
c = 'NOMBRE_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['ALEMÃN', 'FRANCÃS', 'INGLÃS'], dtype='object')
ALEMÃN        62
FRANCÃS      456
INGLÃS     60817
Name: NOMBRE_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [101]:
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('ALEMÃN', 'ALEMAN')
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('FRANCÃS', 'FRANCES')
data_2006['NOMBRE_IDIOMA'] = data_2006['NOMBRE_IDIOMA'].replace('INGLÃS', 'INGLES')

In [102]:
c = 'PUNT_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '15,62', '16,12', '19,28', '23,14', '23,61', '27,53',
       '27,81', '28,24', '30,46', '31,31', '31,72', '33,03', '34,2', '34,59',
       '35,34', '36,7', '37,07', '37,5', '38,95', '39,31', '39,55', '41,03',
       '41,39', '42,99', '43,35', '44,86', '45,25', '45,42', '46,69', '47,1',
       '47,37', '48,49', '48,94', '49,37', '50,29', '50,8', '51,44', '52,11',
       '52,7', '53,62', '53,98', '54,68', '55,93', '55,96', '56,78', '58',
       '58,51', '59,04', '60,24', '61,36', '61,56', '62,73', '64,46', '64,66',
       '65,59', '67,98', '68,69', '69,08', '72,66', '73,73', '74', '80,21',
       '81,23', '82,36', '84,92', '85,62'],
      dtype='object')
-1          1
0          32
15,62     210
16,12       3
19,28       1
23,14     885
23,61       8
27,53       6
27,81    2139
28,24       9
30,46       2
31,31    4086
31,72      26
33,03       2
34,2     5772
34,59      43
35,34       2
36,7     7121
37,07      37
37,5        5
38,95    7017
39,31      28
39,55       1
41,03    6471
41,39      31
42,99    5471
43,35      22
44,86    4202
45,25      14
45,42       4
         ...
51,44       2
52,11    1351
52,7        4
53,62       6
53,98    1095
54,68       3
55,93     906
55,96       7
56,78      10
58        784
58,51       4
59,04      14
60,24     727
61,36       2
61,56      17
62,73     768
64,46      22
64,66       6
65,59     861
67,98      32
68,69       3
69,08     953
72,66      52
73,73    1025
74          1
80,21      37
81,23     989
82,36       2
84,92      18
85,62     586
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [103]:
c = 'PUNT_IDIOMA'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [104]:
c = 'DESEMP_IDIOMA'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([-1.0], dtype='float64')
-1.0    1
Name: DESEMP_IDIOMA, dtype: int64
Elementos null/NaN 61334
__________________
Elementos diferentes de null/NaN: 1
__________________
(1,)
None

In [105]:
data_2006 = data_2006.drop(['DESEMP_IDIOMA'], axis=1)

In [106]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['PROFUNDIZACIÃN EN BIOLOGÃA', 'PROFUNDIZACIÃN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÃN EN LENGUAJE', 'PROFUNDIZACIÃN EN MATEMÃTICA'],
      dtype='object')
PROFUNDIZACIÃN EN BIOLOGÃA            20896
PROFUNDIZACIÃN EN CIENCIAS SOCIALES     8077
PROFUNDIZACIÃN EN LENGUAJE             21849
PROFUNDIZACIÃN EN MATEMÃTICA          10513
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [107]:
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN BIOLOGÃA', 'BIOLOGIA')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN CIENCIAS SOCIALES', 'CIENCIAS SOCIALES')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN LENGUAJE', 'LENGUAJE')
data_2006['NOMBRE_PROFUNDIZACION'] = data_2006['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN MATEMÃTICA', 'MATEMATICA')

In [108]:
c = 'PUNT_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '1,2', '1,88', '1,9', '10', '2,5', '2,78', '2,93', '3',
       '3,5', '3,54', '3,62', '3,66', '3,9', '4,17', '4,23', '4,3', '4,38',
       '4,65', '4,68', '4,8', '4,91', '5,06', '5,09', '5,2', '5,33', '5,41',
       '5,51', '5,69', '5,7', '5,75', '5,92', '6,02', '6,08', '6,3', '6,34',
       '6,35', '6,42', '6,65', '6,77', '6,81', '6,98', '7,16', '7,33', '7,34',
       '7,62', '7,76', '7,98', '8,21', '8,3', '8,98', '9,11', '9,13'],
      dtype='object')
-1       238
0        708
1,2      697
1,88     464
1,9     1251
10        24
2,5     1618
2,78     365
2,93    1415
3       1736
3,5     1334
3,54    1175
3,62    2516
3,66     986
3,9      710
4,17    3362
4,23    1531
4,3      310
4,38    2652
4,65    3733
4,68    1964
4,8       93
4,91    3877
5,06    1732
5,09    3172
5,2       18
5,33    4289
5,41    1309
5,51    2695
5,69    3574
5,7        3
5,75     930
5,92    1924
6,02    2251
6,08     575
6,3        1
6,34    1369
6,35    1259
6,42     378
6,65     773
6,77     235
6,81     681
6,98     373
7,16     162
7,33     291
7,34     156
7,62     120
7,76      70
7,98      92
8,21      50
8,3       15
8,98      26
9,11      46
9,13       7
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [109]:
c = 'PUNT_PROFUNDIZACION'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [110]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1       238
GB     12931
I      19566
II     19647
III     8953
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [111]:
data_2006['DESEMP_PROFUNDIZACION'] = data_2006['DESEMP_PROFUNDIZACION'].replace('-1', np.nan)

In [112]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          32491
VIOLENCIA Y SOCIEDAD    28844
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [113]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Index(['-1', '0', '15,54', '24,76', '30,79', '35,57', '39,72', '43,53',
       '45,32', '47,18', '47,63', '49,11', '50,28', '50,8', '51,28', '52,19',
       '53,06', '53,91', '54,52', '54,79', '55,71', '56,72', '57,91', '58,47',
       '59,42', '61,76', '62,84', '64,05', '67,95', '74,43', '84,21', '93,9'],
      dtype='object')
-1         11
0         237
15,54     286
24,76     892
30,79    1904
35,57    3184
39,72    4157
43,53    4957
45,32     831
47,18    4677
47,63    2137
49,11    3657
50,28    4763
50,8     3707
51,28    5091
52,19    4914
53,06    4154
53,91    2968
54,52    2575
54,79    1941
55,71    1138
56,72     496
57,91     176
58,47    1476
59,42      45
61,76       3
62,84     654
64,05       1
67,95     234
74,43      62
84,21       6
93,9        1
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 61335
__________________
(61335,)
None

In [114]:
c = 'PUNT_INTERDISCIPLINAR'
for i in data_2006[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006[c] = data_2006[c].replace(i, i.replace(',', '.'))

for i in data_2006[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006[c] = data_2006[c].replace(i, float(i))

In [115]:
c = 'ESTU_PUESTO'
print(data_2006[c].value_counts().sort_index().index)
print(data_2006[c].value_counts().sort_index())
print(missing_data(data_2006[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,
              ...
              960.0, 961.0, 962.0, 963.0, 964.0, 965.0, 966.0, 967.0, 968.0,
              969.0],
             dtype='float64', length=969)
1.0      100
2.0       95
3.0       91
4.0       99
5.0       88
6.0       86
7.0       79
8.0       82
9.0       87
10.0      78
11.0      79
12.0      83
13.0      74
14.0      75
15.0      75
16.0      75
17.0      74
18.0      72
19.0      75
20.0      73
21.0      70
22.0      73
23.0      75
24.0      70
25.0      77
26.0      60
27.0      69
28.0      74
29.0      67
30.0      76
        ...
940.0     80
941.0     80
942.0     69
943.0     86
944.0     66
945.0     72
946.0     71
947.0     79
948.0     78
949.0     70
950.0     78
951.0     70
952.0     80
953.0     76
954.0     69
955.0     76
956.0     65
957.0     74
958.0     76
959.0     70
960.0     75
961.0     68
962.0     76
963.0     82
964.0     71
965.0     66
966.0     71
967.0     75
968.0     73
969.0     26
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 61334
__________________
(61334,)
None

# FILE 2 -> 2006_2

In [116]:
data_2006_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20062-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [117]:
data_2006_2.shape

(408326, 85)

In [118]:
data_2006_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB1120062000001,SB1120062000002,SB1120062000003
PERIODO,20062,20062,20062
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,1,26,11
ESTU_NACIMIENTO_MES,6,7,1
ESTU_NACIMIENTO_ANNO,1994,1990,1989
ESTU_EDAD,12,15,17
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,13001,13001,13001
ESTU_RESIDE_MCPIO,CARTAGENA,CARTAGENA,CARTAGENA
ESTU_RESIDE_DEPTO,BOLÃVAR,BOLÃVAR,BOLÃVAR
ESTU_ZONA_RESIDE,1,1,1
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,13001,13001,13001
ESTU_MCPIO_PRESENTACION,CARTAGENA,CARTAGENA,CARTAGENA
ESTU_DEPTO_PRESENTACION,BOLÃVAR,BOLÃVAR,BOLÃVAR
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006),EXAMEN DE ESTADO (2006)
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2006,2006,2006
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,113597,113597,113597
COLE_COD_ICFES,113597,113597,113597
...,...,...,...
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,7,7,7
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1711,NaN,1711
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD DE LA SABANA,NaN,UNIVERSIDAD DE LA SABANA
ESTU_IES_COD_MPIO_DESEADA,25175,NaN,25175
ESTU_IES_MPIO_DESEADA,CHIA,NaN,CHIA
ESTU_IES_DEPT_DESEADA,CUNDINAMARCA,NaN,CUNDINAMARCA
ESTU_RAZONINSTITUTO,3,3,3
ESTU_CARRDESEADA_COD,15254,NaN,7320
ESTU_CARRDESEADA_RAZON,2,2,3
PUNT_LENGUAJE,"49,43","57,14","57,14"
PUNT_MATEMATICAS,"42,69","55,8","42,69"
PUNT_C_SOCIALES,"47,97","69,03","46,05"
PUNT_FILOSOFIA,"44,92","58,26","51,78"
PUNT_BIOLOGIA,"39,22","61,19","44,05"
PUNT_QUIMICA,"47,6","50,87","45,87"
PUNT_FISICA,"26,2","53,97","51,55"
NOMBRE_IDIOMA,INGLÃS,INGLÃS,INGLÃS
PUNT_IDIOMA,"49,6","69,4","47,66"
DESEMP_IDIOMA,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÃN EN MATEMÃTICA,PROFUNDIZACIÃN EN CIENCIAS SOCIALES,PROFUNDIZACIÃN EN LENGUAJE
PUNT_PROFUNDIZACION,"5,19","6,44","5,29"
DESEMP_PROFUNDIZACION,I,II,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"49,02","57,28","44,42"
ESTU_PUESTO,635,18,263

First delete the columns that wont' contribute to the work

In [119]:
data_2006_2 = data_2006_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO', 
                                'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA'], axis=1)

In [120]:
c = 'ESTU_PAIS_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AR', 'BO', 'BR', 'CO', 'CR', 'DE', 'DM', 'DO', 'EC', 'ES', 'ET', 'IT',
       'JP', 'KR', 'MX', 'PE', 'UK', 'US', 'VE'],
      dtype='object')
AR         4
BO         2
BR         1
CO    408129
CR         1
DE         2
DM         1
DO         1
EC         5
ES         3
ET         1
IT         1
JP         1
KR         2
MX         2
PE         9
UK         1
US        21
VE        16
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 123
__________________
Elementos diferentes de null/NaN: 408203
__________________
(408203,)
None

In [121]:
c = 'ESTU_GENERO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['F', 'M'], dtype='object')
F    220451
M    187717
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 158
__________________
Elementos diferentes de null/NaN: 408168
__________________
(408168,)
None

In [122]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     13667
2.0     13431
3.0     13280
4.0     13508
5.0     13625
6.0     13526
7.0     13381
8.0     13344
9.0     13283
10.0    13896
11.0    13174
12.0    13655
13.0    13057
14.0    13372
15.0    13711
16.0    13347
17.0    13638
18.0    13425
19.0    13065
20.0    13836
21.0    13050
22.0    13292
23.0    13159
24.0    13281
25.0    13222
26.0    13476
27.0    13306
28.0    13681
29.0    12284
30.0    12221
31.0     7445
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 688
__________________
Elementos diferentes de null/NaN: 407638
__________________
(407638,)
None

In [123]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     34113
2.0     30507
3.0     33774
4.0     32565
5.0     33724
6.0     32777
7.0     33736
8.0     34443
9.0     35786
10.0    36282
11.0    34855
12.0    35076
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 688
__________________
Elementos diferentes de null/NaN: 407638
__________________
(407638,)
None

In [124]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 982.0, 1930.0, 1931.0, 1932.0, 1933.0, 1934.0, 1935.0, 1936.0,
              1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0,
              1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0,
              1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0,
              1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0,
              1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0,
              1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0,
              1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2088.0, 2089.0, 2090.0, 2091.0],
             dtype='float64')
982.0          1
1930.0        14
1931.0         5
1932.0         5
1933.0         3
1934.0         2
1935.0         5
1936.0         9
1937.0        17
1938.0        17
1939.0        14
1940.0         9
1941.0         3
1942.0         2
1943.0         9
1944.0         6
1945.0        12
1946.0         9
1947.0        10
1948.0        14
1949.0        21
1950.0        29
1951.0        26
1952.0        26
1953.0        36
1954.0        47
1955.0        74
1956.0        86
1957.0        97
1958.0        89
           ...
1977.0       845
1978.0       912
1979.0      1116
1980.0      1385
1981.0      1472
1982.0      1848
1983.0      2387
1984.0      3730
1985.0      6779
1986.0     14845
1987.0     34490
1988.0     74011
1989.0    141551
1990.0     91467
1991.0     10263
1992.0      3127
1993.0      2485
1994.0      6730
1995.0         4
1996.0         3
1997.0         2
1998.0        14
1999.0         1
2000.0        21
2001.0        10
2002.0         9
2088.0         2
2089.0         1
2090.0         4
2091.0         1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 688
__________________
Elementos diferentes de null/NaN: 407638
__________________
(407638,)
None

In [125]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2006_2['ESTU_NACIMIENTO_ANNO'] = data_2006_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)
    elif i > 1995:
        data_2006_2['ESTU_NACIMIENTO_ANNO'] = data_2006_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [126]:
c = 'ESTU_EDAD'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Int64Index([11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27,
            28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44,
            45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,
            62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76],
           dtype='int64')
11      2497
12      5539
13      2900
14      4200
15     25970
16    140057
17    110345
18     55159
19     25264
20     10787
21      5345
22      3091
23      2157
24      1714
25      1377
26      1303
27      1053
28       865
29       809
30       689
31       672
32       563
33       578
34       541
35       464
36       639
37       570
38       476
39       385
40       354
       ...
47        94
48       100
49        97
50        78
51        61
52        46
53        31
54        30
55        23
56        24
57        20
58        12
59         8
60        14
61         9
62         4
63         9
64         1
65         8
66        10
67        13
68        18
69        14
70        11
71         3
72         3
73         4
74         4
75        10
76         9
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [127]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 408326
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [128]:
data_2006_2 = data_2006_2.drop(['ESTU_LIMITA_BAJAVISION'], axis = 1)

In [129]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 408326
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [130]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [131]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 408326
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [132]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [133]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 408326
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [134]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [135]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 408326
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [136]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [137]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 408326
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [138]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [139]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 408326
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [140]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [141]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=968)
ABEJORRAL                    128
ABREGO                       118
ABRIAQUI                      24
ACACIAS                      782
ACANDI                        35
ACEVEDO                       90
ACHI                         166
AGRADO                        94
AGUA DE DIOS                 156
AGUACHICA                    771
AGUADA                        23
AGUADAS                      232
AGUAZUL                      449
AGUSTIN CODAZZI              510
AIPE                         113
ALBAN                         66
ALBANIA                      135
ALCALA                         6
ALDANA                         1
ALEJANDRIA                    29
ALGARROBO                    110
ALGECIRAS                    100
ALMAGUER                      48
ALMEIDA                       37
ALPUJARRA                     46
ALTAMIRA                      29
ALTO BAUDO (PIE DE PATO)      70
ALTOS DEL ROSARIO             68
ALVARADO                      57
AMAGA                        257
                            ...
VILLAMARIA                   487
VILLANUEVA                   696
VILLAPINZON                  218
VILLARRICA                    75
VILLAVICENCIO               4880
VILLAVIEJA                    59
VILLETA                      306
VIOTA                        106
VIRACACHA                     23
VISTA HERMOSA                 55
VITERBO                      212
YACOPI                        81
YAGUARA                      129
YALI                          56
YARUMAL                      446
YAVARATE                      11
YOLOMBO                      150
YONDO (CASABE)                98
YOPAL                       1353
YOTOCO                         1
YUMBO                        105
ZAMBRANO                     118
ZAPATOCA                      83
ZAPAYAN                       51
ZARAGOZA                     205
ZARZAL                        20
ZETAQUIRA                     92
ZIPACON                       30
ZIPAQUIRA                   1461
ZONA BANANERA                370
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 158
__________________
Elementos diferentes de null/NaN: 408168
__________________
(408168,)
None

In [142]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'GUAINÃA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SAN ANDRÃS', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE', 'VAUPÃS', 'VICHADA'],
      dtype='object')
AMAZONAS             622
ANTIOQUIA          61166
ARAUCA              1994
ATLÃNTICO         26149
BOGOTÃ            86742
BOLÃVAR           20702
BOYACÃ            15029
CALDAS             10328
CAQUETÃ            2770
CASANARE            3162
CAUCA               8306
CESAR               9325
CHOCÃ              3600
CUNDINAMARCA       27681
CÃRDOBA           15118
GUAINÃA             108
GUAVIARE             480
HUILA               9106
LA GUAJIRA          5733
MAGDALENA          11315
META                8052
NARIÃO              400
NORTE SANTANDER    13841
PUTUMAYO            1883
QUINDÃO            5587
RISARALDA           9396
SAN ANDRÃS          774
SANTANDER          22510
SUCRE               9731
TOLIMA             14086
VALLE               1987
VAUPÃS              176
VICHADA              309
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 158
__________________
Elementos diferentes de null/NaN: 408168
__________________
(408168,)
None

In [143]:
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('BOGOTÃ', 'BOGOTA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('BOLÃVAR', 'BOLIVAR')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('BOYACÃ', 'BOYACA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('CAQUETÃ', 'CAQUETA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('CHOCÃ', 'CHOCO')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('CÃRDOBA', 'CORDOBA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('GUAINÃA', 'GUAINIA')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('NARIÃO', 'NARIÑO')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('QUINDÃO', 'QUINDIO')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('SAN ANDRÃS', 'SAN ANDRES')
data_2006_2['ESTU_RESIDE_DEPTO'] = data_2006_2['ESTU_RESIDE_DEPTO'].replace('VAUPÃS', 'VAUPES')

In [144]:
c = 'ESTU_ZONA_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      19141
2.0       2497
3.0      11556
4.0      42368
5.0      15453
6.0       8708
7.0       9729
8.0      23537
9.0      16890
10.0    258288
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 159
__________________
Elementos diferentes de null/NaN: 408167
__________________
(408167,)
None

In [145]:
c = 'ESTU_AREA_RESIDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2017
2.0     579
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 405730
__________________
Elementos diferentes de null/NaN: 2596
__________________
(2596,)
None

In [146]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=353)
ABEJORRAL                     131
ABREGO                        125
ACACIAS                       801
ACANDI                         35
ACHI                          181
AGUACHICA                    1260
AGUADAS                       241
AGUAZUL                       378
AGUSTIN CODAZZI               525
AIPE                          126
ALTO BAUDO (PIE DE PATO)       71
AMAGA                         620
AMALFI                        257
ANDES                         728
ANOLAIMA                      259
ANSERMA                       523
APARTADO                     1753
ARACATACA                     373
ARAUCA                        749
ARAUQUITA                     247
ARBELAEZ                      204
ARBOLEDAS                      70
ARBOLETES                     375
ARIGUANI (EL DIFICIL)         299
ARJONA                        668
ARMENIA                      3743
ASTREA                        161
ATRATO (YUTO)                  95
AYAPEL                        391
BAGADO                         72
                             ...
TUNJA                        3637
TURBACO                       760
TURBO                        1041
TURMEQUE                      251
TUTA                           94
UBATE                        1060
UNGUIA                         35
URRAO                         449
VALLEDUPAR                   4587
VEGACHI                       144
VELEZ                         404
VENADILLO                     159
VENTAQUEMADA                  158
VIGIA DEL FUERTE               79
VILLA DE LEYVA                286
VILLA DEL ROSARIO             663
VILLA GUAMEZ (LA HORMIGA)     332
VILLAGARZON                    92
VILLAMARIA                    445
VILLANUEVA                    687
VILLAVICENCIO                5636
VILLETA                       683
VIOTA                          78
YARUMAL                       687
YAVARATE                       11
YOLOMBO                       215
YOPAL                        1703
ZAPATOCA                      117
ZARAGOZA                      196
ZIPAQUIRA                    2389
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [147]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'GUAINÃA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SAN ANDRÃS', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE', 'VAUPÃS', 'VICHADA'],
      dtype='object')
AMAZONAS             625
ANTIOQUIA          60872
ARAUCA              2090
ATLÃNTICO         26575
BOGOTÃ            86273
BOLÃVAR           20110
BOYACÃ            15531
CALDAS             10611
CAQUETÃ            2796
CASANARE            3190
CAUCA               8326
CESAR               9528
CHOCÃ              3665
CUNDINAMARCA       27293
CÃRDOBA           15209
GUAINÃA             110
GUAVIARE             507
HUILA               9191
LA GUAJIRA          5750
MAGDALENA          11083
META                8208
NARIÃO              344
NORTE SANTANDER    13901
PUTUMAYO            1961
QUINDÃO            5626
RISARALDA           9435
SAN ANDRÃS          792
SANTANDER          22845
SUCRE               9792
TOLIMA             13772
VALLE               1792
VAUPÃS              182
VICHADA              341
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [148]:
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('BOGOTÃ', 'BOGOTA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('BOLÃVAR', 'BOLIVAR')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('BOYACÃ', 'BOYACA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('CAQUETÃ', 'CAQUETA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('CHOCÃ', 'CHOCO')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('CÃRDOBA', 'CORDOBA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('GUAINÃA', 'GUAINIA')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('NARIÃO', 'NARIÑO')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('QUINDÃO', 'QUINDIO')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('SAN ANDRÃS', 'SAN ANDRES')
data_2006_2['ESTU_DEPTO_PRESENTACION'] = data_2006_2['ESTU_DEPTO_PRESENTACION'].replace('VAUPÃS', 'VAUPES')

In [149]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['EXAMEN DE ESTADO  (2006)'], dtype='object')
EXAMEN DE ESTADO  (2006)    408326
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [150]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [151]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     14335
1.0    393953
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 38
__________________
Elementos diferentes de null/NaN: 408288
__________________
(408288,)
None

In [152]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1950.0, 1957.0, 1966.0, 1973.0, 1977.0, 1979.0, 1984.0, 1986.0,
              1987.0, 1988.0, 1989.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              9999.0],
             dtype='float64')
1950.0         1
1957.0         1
1966.0         1
1973.0         1
1977.0         2
1979.0         1
1984.0         1
1986.0         2
1987.0         1
1988.0         1
1989.0         2
1991.0         1
1992.0         1
1993.0         1
1994.0         3
1995.0         1
1996.0         1
1997.0         2
1998.0         4
1999.0         5
2000.0         6
2001.0         7
2002.0        10
2003.0         9
2004.0        35
2005.0       101
2006.0    390389
2007.0      1912
2008.0       138
2009.0        45
2010.0        13
2011.0         3
9999.0         1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 15624
__________________
Elementos diferentes de null/NaN: 392702
__________________
(392702,)
None

In [153]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if i > 2009:
        data_2006_2['IND_ANNO_TERMINO_BACHILLERATO'] = data_2006_2['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [154]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0], dtype='float64')
1.0    363
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 407963
__________________
Elementos diferentes de null/NaN: 363
__________________
(363,)
None

In [155]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([     3.0,     18.0,     59.0,     67.0,     75.0,     83.0,
                  91.0,    125.0,    141.0,    174.0,
              ...
              170480.0, 170779.0, 170803.0, 170845.0, 171363.0, 171488.0,
              173260.0, 176198.0, 176255.0, 999999.0],
             dtype='float64', length=8448)
3.0          285
18.0          21
59.0        1199
67.0           1
75.0          58
83.0          60
91.0         104
125.0         70
141.0        115
174.0        101
190.0         88
208.0         86
216.0         32
232.0         32
240.0        124
265.0        118
273.0         48
281.0         72
315.0        171
349.0         23
356.0         31
364.0         66
372.0         63
380.0        125
398.0         22
406.0         30
422.0         15
430.0        107
448.0         29
455.0         87
            ...
166595.0       1
166603.0       1
166637.0       1
166777.0       7
167254.0       1
167361.0       2
167643.0       1
167650.0       1
167841.0       1
168203.0       1
168344.0       3
168708.0       1
168971.0       1
169268.0       1
169359.0       1
169714.0       1
169748.0       1
169904.0       2
170050.0       1
170472.0       2
170480.0       1
170779.0       1
170803.0       1
170845.0       1
171363.0       1
171488.0       1
173260.0       1
176198.0       3
176255.0       1
999999.0     708
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 1099
__________________
Elementos diferentes de null/NaN: 407227
__________________
(407227,)
None

In [156]:
c = 'COLE_COD_ICFES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Int64Index([    18,     59,     75,     83,     91,    125,    141,    174,
               190,    208,
            ...
            129163, 129197, 129205, 129221, 129247, 129254, 129296, 129353,
            129387, 129395],
           dtype='int64', length=8018)
18          21
59        1206
75          58
83          60
91         104
125         70
141        116
174        101
190         88
208         86
216         32
232         32
240        123
265        121
273         48
281         73
315        171
349         23
356         31
364         66
372         63
380        125
398         22
406         30
422         15
430        107
448         29
455         87
463        138
471        169
          ...
128850      13
128884      17
128892       6
128900      95
128926      11
128934       9
128942      54
128959      16
128967      24
128975      29
129007      14
129023      16
129031      16
129049      13
129056       8
129072      12
129080      17
129106      16
129122       8
129130      39
129163      13
129197      21
129205      29
129221      21
129247      14
129254       5
129296      34
129353      11
129387      30
129395       8
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [157]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2006_2[c] = data_2006_2[c].replace(i, np.nan)

In [158]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2006_2[c].value_counts().index)
print(data_2006_2[c].value_counts())
print(missing_data(data_2006_2[c]))

Index(['            ', '105001000108', '111001024732', '168001003591',
       '111001019411', '113001003274', '105001013340', '108758000031',
       '111001010839', '111279000362',
       ...
         268245000351,   108001011290,   376109003930,   405001016946,
         311001041521, '225224000024',   213473001601, '311001050074',
         219693000621,   217486000863],
      dtype='object', length=7111)
                3456
105001000108    1206
111001024732     985
168001003591     820
111001019411     795
113001003274     694
105001013340     639
108758000031     631
111001010839     607
111279000362     600
305440000994     572
111001010910     566
173001001053     558
105001024571     528
111001011690     518
166001002339     517
154001003779     501
163001001325     499
113001000852     498
154001000079     492
111102000753     486
168001000444     483
313001006701     482
173001000308     481
111001011070     480
150001000979     477
111001083011     456
111001010928     455
311001004820     446
111848003031     443
                ...
325438001588       1
366001000742       1
368081001739       1
125322000429       1
168745000141       1
254001008058       1
370001000057       1
311001032131       1
105364000401       1
305001009848       1
311001003963       1
117001003822       1
247001005052       1
185410000016       1
419256002711       1
241807000427       1
323001006944       1
305308000589       1
311848000308       1
115176000041       1
268245000351       1
108001011290       1
376109003930       1
405001016946       1
311001041521       1
225224000024       1
213473001601       1
311001050074       1
219693000621       1
217486000863       1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [159]:
c = 'COLE_NOMBRE_SEDE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index([' COLEGIO MARYLAND', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' I.E. AGRICOLA DE MACANAL - SEDE PRINCIPAL',
       ' I.E. LA CANDELARIA - SEDE PRINCIPAL',
       ' I.E. MARCO AURELIO BERNAL - SEDE PRINCIPAL',
       ' I.E.T. SAN DIEGO DE ALCALA - SEDE PRINCIPAL',
       ' I.E.T. SERGIO CAMARGO - SEDE PRINCIPAL',
       ' IE JUAN PABLO II - SEDE PRINCIPAL',
       ' INSTITUCION EDUCATIVA DEPARTAMENTAL TAPIAS',
       'ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                               ',
       ...
       'UNIDAD TECNOLOGICA DE OCCIDENTE',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA', 'URBANA MIXTA NO.1',
       'VALSALICE', 'VERDE AMAZONICO', 'VILLA CECILIA SEDE', 'VILLA CORELCA',
       'VILLA DE LOS ANDES',
       'ZION SCHOOL                                                 '],
      dtype='object', length=6760)
 COLEGIO MARYLAND                                                                                        17
 ESCUELA URBANA JOSE ANTONIO GALAN                                                                       24
 I.E. AGRICOLA DE MACANAL - SEDE PRINCIPAL                                                               32
 I.E. LA CANDELARIA - SEDE PRINCIPAL                                                                     24
 I.E. MARCO AURELIO BERNAL - SEDE PRINCIPAL                                                             129
 I.E.T. SAN DIEGO DE ALCALA - SEDE PRINCIPAL                                                             13
 I.E.T. SERGIO CAMARGO - SEDE PRINCIPAL                                                                  21
 IE JUAN PABLO II - SEDE PRINCIPAL                                                                        8
 INSTITUCION EDUCATIVA DEPARTAMENTAL TAPIAS                                                              18
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                                    28
ACAD CENTRAL DE SISTEMAS ACSI                                                                            72
ACAD MILIT MARISCAL SUCRE                                                                                73
ACAD MILIT NAL HEROES GRANADINOS                                                                         34
ACAD PANTANO DE VARGAS                                                                                   35
ACAD. MILITAR GRAL. CUSTODIO GARCIA R.                                                                   17
ACADEMIA CIAL DE LOS ANDES                                                                               38
ACADEMIA COMERCIAL REAL                                                                                   5
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                                                 5
ACADEMIA E INSTITUTO CAMPAÃA LIBERTADORA                                                                 2
ACADEMIA GRAN COLOMBIA                                                                                   51
ACADEMIA GUSTAVO ROJAS PINILLAS                                                                          20
ACADEMIA LA SALLE SAN BENILDO                                                                            90
ACADEMIA LEGION BRITANICA                                                                                12
ACADEMIA MILITAR GENERAL JOSE ANTONIO ANZOATEGUI                                                         24
ACADEMIA MILITAR GRAL TOMAS CIPRIANO DE MOSQUERA                                                         29
ACADEMIA MILITAR JOSE ANTONIO PAEZ                                                                       49
ACADEMIA MILITAR MARISCAL SUCRE                                                                          79
ACCION COMUNAL                                                                                          129
ACEVEDO Y GOMEZ                                                                                          25
AGROAMBIENTAL JOEL SIERRA                                                                                 6
                                                                                                       ...
TIERRA LIBRE                                                                                             19
TULIO ARBELAEZ                                                                                           28
TÃCNICO DEPARTAMENTAL NATANIA                                                                           53
TÃCNICO INDUSTRIAL RAFAEL POMBO                                                                        123
UNAD  BACHILLERATO DIVERSIFICADO A DISTANCIA PARA ADULTOS                                               140
UNAD COLEGIO DE BACHILLERATO DIVERSIFICADO A DISTANCIA PARA ADULTOS                                       3
UNAD UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                           8
UNID EDUC BAHIA SOLANO                                                                                   30
UNID EDUC JEAN PIAGET                                                                                    55
UNID EDUC PRADOS DE ALAMEDA                                                                               7
UNID EDUC SAN ANTONIO DEL ARIARI                                                                         40
UNID PEDAGOGICA BILINGÃE PIERRE DE FERMAT                                                               29
UNIDAD BASICA LAGUNA                                                                                      1
UNIDAD EDUCATIVA                                                                                         20
UNIDAD EDUCATIVA BASICA ALEJANDRO CHESNAIE                                                                6
UNIDAD EDUCATIVA CABUYARO                                                                                38
UNIDAD EDUCATIVA SAN MARCOS                                                                             150
UNIDAD EDUCATIVA SANTA TERESA DE PACHAQUIARO                                                             22
UNIDAD EDUCATIVA TECNICO AGROPECURIO                                                                     39
UNIDAD EDUCATIVA URBANA                                                                                  31
UNIDAD TECNOLOGICA DE OCCIDENTE                                                                           5
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                                                    21
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                               91
URBANA MIXTA NO.1                                                                                        19
VALSALICE                                                                                                58
VERDE AMAZONICO                                                                                          32
VILLA CECILIA SEDE                                                                                       10
VILLA CORELCA                                                                                            44
VILLA DE LOS ANDES                                                                                       26
ZION SCHOOL                                                                                               5
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [160]:
data_2006_2 = data_2006_2.drop([c], axis = 1)

In [161]:
c = 'COLE_CALENDARIO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    361430
B       625
F     46271
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [162]:
c = 'COLE_GENERO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     25958
M      6840
X    375528
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [163]:
c = 'COLE_NATURALEZA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['N', 'O'], dtype='object')
N    105473
O    302853
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [164]:
c = 'COLE_BILINGUE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    391471
1.0      2942
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 13913
__________________
Elementos diferentes de null/NaN: 394413
__________________
(394413,)
None

In [165]:
c = 'COLE_JORNADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÃANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     84513
MAÃANA                 200755
NOCHE                    29743
SABATINA - DOMINICAL      9514
TARDE                    83801
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [166]:
data_2006_2[c] = data_2006_2[c].replace('MAÃANA', 'MAÑANA')

In [167]:
c = 'COLE_CARACTER'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              241756
ACADEMICO Y TECNICO     83512
DESCONOCIDO               182
NORMALISTA              10066
TECNICO                 72810
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [168]:
c = 'ESTU_ETNIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1.0     6788
2.0      671
3.0      786
4.0      124
5.0       45
6.0      302
7.0      116
8.0      373
9.0      717
10.0    1275
11.0      91
12.0     126
13.0     110
14.0      48
15.0      91
16.0      50
99.0    7487
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 389126
__________________
Elementos diferentes de null/NaN: 19200
__________________
(19200,)
None

In [169]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     17
1.0    606
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 407703
__________________
Elementos diferentes de null/NaN: 623
__________________
(623,)
None

In [170]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     18
1.0    605
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 407703
__________________
Elementos diferentes de null/NaN: 623
__________________
(623,)
None

In [171]:
c = 'FAMI_EDUCA_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      611
1.0       10
2.0       23
3.0       21
4.0       15
5.0       10
7.0        8
8.0        2
9.0     2242
10.0    1682
11.0    1227
12.0    1837
13.0     217
14.0     498
15.0     240
16.0    1049
17.0     389
99.0      67
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 398178
__________________
Elementos diferentes de null/NaN: 10148
__________________
(10148,)
None

In [172]:
c = 'FAMI_EDUCA_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      325
1.0       10
2.0       12
3.0       21
4.0       17
5.0       16
6.0        1
7.0        8
8.0        1
9.0     2086
10.0    1746
11.0    1503
12.0    1979
13.0     229
14.0     630
15.0     225
16.0     918
17.0     339
99.0      82
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 398178
__________________
Elementos diferentes de null/NaN: 10148
__________________
(10148,)
None

In [173]:
c = 'FAMI_OCUPA_PADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 99.0],
             dtype='float64')
1.0        3
2.0        3
3.0        1
4.0        2
5.0        7
6.0        3
7.0       10
8.0        5
9.0       31
10.0       2
11.0       9
12.0      22
13.0     327
14.0    1020
15.0     227
16.0     347
17.0     498
18.0     365
19.0    1223
20.0     539
21.0    2889
22.0     257
23.0     760
24.0       3
25.0       2
26.0    1539
99.0      54
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 398178
__________________
Elementos diferentes de null/NaN: 10148
__________________
(10148,)
None

In [174]:
c = 'FAMI_OCUPA_MADRE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1.0,  2.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 99.0],
             dtype='float64')
1.0        1
2.0        4
4.0        3
5.0        6
6.0        2
7.0        2
8.0        3
9.0        6
10.0      53
11.0       5
12.0      13
13.0     147
14.0     425
15.0     159
16.0     349
17.0     392
18.0     363
19.0     697
20.0     326
21.0    1224
22.0    4695
23.0     427
24.0       1
25.0       2
26.0     823
99.0      20
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 398178
__________________
Elementos diferentes de null/NaN: 10148
__________________
(10148,)
None

In [175]:
c = 'FAMI_NUM_HERMANOS'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0.0      69
1.0     152
2.0     170
3.0     109
4.0      52
5.0      28
6.0      24
7.0       6
8.0       5
9.0       2
10.0      7
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 407702
__________________
Elementos diferentes de null/NaN: 624
__________________
(624,)
None

In [176]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1.0      30
2.0      74
3.0     152
4.0     416
5.0     108
6.0     158
7.0     112
8.0     243
9.0      24
88.0    499
99.0     35
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 406475
__________________
Elementos diferentes de null/NaN: 1851
__________________
(1851,)
None

In [177]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1.0     276
2.0      38
88.0    241
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 407771
__________________
Elementos diferentes de null/NaN: 555
__________________
(555,)
None

In [178]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1.0    2383
2.0    3669
3.0    2619
4.0     866
5.0     358
6.0     247
8.0      43
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 398141
__________________
Elementos diferentes de null/NaN: 10185
__________________
(10185,)
None

In [179]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0    3226
2.0    2473
3.0     622
4.0     102
5.0    3712
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 398191
__________________
Elementos diferentes de null/NaN: 10135
__________________
(10135,)
None

In [180]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      316
2.0     1043
3.0     2052
4.0     2622
5.0     2026
6.0     1047
7.0      434
8.0      265
9.0      118
10.0      87
11.0      34
12.0      78
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 398204
__________________
Elementos diferentes de null/NaN: 10122
__________________
(10122,)
None

In [181]:
c = 'FAMI_PISOSHOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     313
2.0    3097
3.0     521
4.0    5345
5.0     859
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 398191
__________________
Elementos diferentes de null/NaN: 10135
__________________
(10135,)
None

In [182]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      48
2.0     240
3.0     532
4.0     575
5.0     369
6.0     194
7.0      70
8.0      45
9.0      20
10.0     29
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 406204
__________________
Elementos diferentes de null/NaN: 2122
__________________
(2122,)
None

In [183]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      766
2.0     3072
3.0     4106
4.0     1475
5.0      417
6.0      144
7.0       34
8.0       25
9.0        7
10.0      24
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 398256
__________________
Elementos diferentes de null/NaN: 10070
__________________
(10070,)
None

In [184]:
c = 'FAMI_COMPUTADOR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0.0    3095
1.0      59
2.0       7
3.0    6958
4.0      16
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 398191
__________________
Elementos diferentes de null/NaN: 10135
__________________
(10135,)
None

In [185]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0    1793
2.0    4187
3.0    2080
4.0    1121
5.0     423
6.0     266
7.0     265
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 398191
__________________
Elementos diferentes de null/NaN: 10135
__________________
(10135,)
None

In [186]:
c = 'ESTU_TRABAJA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    5158
1.0      97
2.0      33
3.0    2375
4.0     716
5.0    1075
6.0      13
7.0      26
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 398833
__________________
Elementos diferentes de null/NaN: 9493
__________________
(9493,)
None

In [187]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0.0       10
1.0        6
2.0       18
3.0       24
4.0       82
5.0       47
6.0       66
7.0       32
8.0      337
9.0       65
10.0     140
11.0      16
12.0     105
13.0      10
14.0      19
15.0      49
16.0      71
17.0      14
18.0      82
19.0      28
20.0    2925
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 404180
__________________
Elementos diferentes de null/NaN: 4146
__________________
(4146,)
None

In [188]:
c = 'COLE_VALOR_PENSION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 11.0, 12.0], dtype='float64')
0.0     222791
1.0      94831
2.0      16314
3.0      13268
4.0      16440
5.0      19864
6.0      15490
7.0       9159
8.0         82
9.0         12
11.0         1
12.0         3
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 71
__________________
Elementos diferentes de null/NaN: 408255
__________________
(408255,)
None

In [189]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0.0     2
1.0     4
2.0     2
3.0    11
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 408307
__________________
Elementos diferentes de null/NaN: 19
__________________
(19,)
None

In [190]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([7.0, 9.0, 12.0, 27.0, 30.0, 31.0, 32.0, 41.0, 59.0, 66.0, 69.0,
              99.0],
             dtype='float64')
7.0     2
9.0     3
12.0    2
27.0    1
30.0    1
31.0    2
32.0    1
41.0    1
59.0    1
66.0    1
69.0    1
99.0    1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 408309
__________________
Elementos diferentes de null/NaN: 17
__________________
(17,)
None

In [191]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([ 1101.0,  1102.0,  1103.0,  1104.0,  1105.0,  1106.0,  1107.0,
               1108.0,  1109.0,  1110.0,
              ...
               9105.0,  9107.0,  9109.0,  9110.0,  9111.0,  9112.0,  9113.0,
               9114.0,  9115.0, 73502.0],
             dtype='float64', length=332)
1101.0     47660
1102.0      3308
1103.0      1603
1104.0       126
1105.0      3624
1106.0      4337
1107.0       447
1108.0       569
1109.0       132
1110.0      3945
1111.0      4175
1112.0      3737
1113.0      5289
1114.0      4454
1115.0      1179
1117.0      1264
1118.0      1782
1119.0      2593
1120.0      3145
1121.0       392
1122.0        63
1123.0       200
1124.0        76
1125.0        20
1201.0     30553
1202.0      5943
1203.0      2436
1204.0     11548
1205.0      8617
1206.0       408
           ...
4814.0        52
4817.0       583
4818.0       188
4822.0       106
4823.0        80
4825.0        44
4826.0       191
4827.0       120
4828.0        46
4829.0        45
4832.0        63
4835.0       180
4837.0        84
4838.0       127
5801.0        31
5802.0       117
9101.0      1067
9102.0       687
9103.0       922
9104.0      2230
9105.0       613
9107.0       189
9109.0        43
9110.0      9598
9111.0       321
9112.0      2433
9113.0       182
9114.0       446
9115.0        48
73502.0        1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 129258
__________________
Elementos diferentes de null/NaN: 279068
__________________
(279068,)
None

In [192]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AGUACHICA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÃ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'CUCUTA', 'DUITAMA',
       'ENVIGADO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA',
       'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA', 'MADRID', 'MALAGA',
       'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'MOSQUERA', 'NEIVA',
       'NILO', 'OCAÃA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PENSILVANIA',
       'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'PUERTO TEJADA', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÃ DE ANTIOQUIA', 'SEVILLA', 'SIBUNDOY',
       'SINCELEJO', 'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TOLU', 'TULUA', 'TUNJA',
       'TURBO', 'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                   200
ANDES                       280
APARTADO                      2
ARAUCA                       76
ARMENIA                    2327
BARRANCABERMEJA             299
BARRANQUILLA              15424
BELLO                       181
BOGOTÃ D.C.             106738
BUCARAMANGA               16086
BUENAVENTURA                 63
BUGA                         57
CALDAS                      105
CALI                       4742
CARMEN DE VIBORAL           154
CARTAGENA                 11662
CARTAGO                      51
CAUCASIA                    618
CERETE                       15
CHIA                       1210
CHIQUINQUIRA                132
CIENAGA                      81
COPACABANA                    7
CUCUTA                     3594
DUITAMA                     447
ENVIGADO                    127
ESPINAL                      63
FACATATIVA                   31
FLORENCIA                  1179
FUSAGASUGA                  912
                          ...
PEREIRA                    5588
POPAYAN                    4174
PUERTO BERRIO               216
PUERTO TEJADA                 4
QUIBDO                     1782
RIOHACHA                    873
RIONEGRO                    208
ROLDANILLO                    2
SABANETA                     14
SAN ANDRES                   97
SAN GIL                     144
SAN JUAN DEL CESAR           94
SANTA MARTA                5860
SANTA ROSA DE CABAL          71
SANTA ROSA DE OSOS           21
SANTAFÃ DE ANTIOQUIA        16
SEVILLA                       4
SIBUNDOY                      3
SINCELEJO                  3270
SOCORRO                     167
SOGAMOSO                    569
SOLEDAD                     220
TOLU                         94
TULUA                        94
TUNJA                      4948
TURBO                       471
UBATE                       206
VALLEDUPAR                 3145
VILLAVICENCIO              2903
YOPAL                        16
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 129258
__________________
Elementos diferentes de null/NaN: 279068
__________________
(279068,)
None

In [193]:
data_2006_2[c] = data_2006_2[c].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2006_2[c] = data_2006_2[c].replace('OCAÃA', 'OCAÑA')
data_2006_2[c] = data_2006_2[c].replace('SANTAFÃ DE ANTIOQUIA', 'SANTAFE DE ANTIOQUIA')

In [194]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SAN ANDRÃS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               20
ANTIOQUIA           49214
ARAUCA                 76
ATLÃNTICO          15644
BOGOTÃ            106738
BOLÃVAR            11662
BOYACÃ              6096
CALDAS               6929
CAQUETÃ             1179
CASANARE               16
CAUCA                4178
CESAR                3345
CHOCÃ               1782
CUNDINAMARCA         4467
CÃRDOBA             6376
HUILA                4602
LA GUAJIRA            967
MAGDALENA            5941
META                 2903
NARIÃO               536
NORTE SANTANDER      7150
PUTUMAYO               46
QUINDÃO             2327
RISARALDA            5659
SAN ANDRÃS            97
SANTANDER           16703
SUCRE                3364
TOLIMA               5869
VALLE                5182
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 129258
__________________
Elementos diferentes de null/NaN: 279068
__________________
(279068,)
None

In [195]:
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('ATLÃNTICO', 'ATLANTICO')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('BOGOTÃ', 'BOGOTA')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('BOLÃVAR', 'BOLIVAR')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('BOYACÃ', 'BOYACA')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('CAQUETÃ', 'CAQUETA')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('CHOCÃ', 'CHOCO')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('CÃRDOBA', 'CORDOBA')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('NARIÃO', 'NARIÑO')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('QUINDÃO', 'QUINDIO')
data_2006_2['ESTU_IES_DEPT_DESEADA'] = data_2006_2['ESTU_IES_DEPT_DESEADA'].replace('SAN ANDRÃS', 'SAN ANDRES')

In [196]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0      8967
2.0     38405
3.0    133877
4.0     37921
5.0     28529
6.0     17806
7.0     21686
8.0     21974
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 99161
__________________
Elementos diferentes de null/NaN: 309165
__________________
(309165,)
None

In [197]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([    1.0,     2.0,     4.0,     5.0,     7.0,    18.0,    26.0,
                 27.0,    36.0,    53.0,
              ...
              22889.0, 22892.0, 22923.0, 22939.0, 22965.0, 22967.0, 22980.0,
              22986.0, 24642.0, 24643.0],
             dtype='float64', length=5639)
1.0          1
2.0          3
4.0         98
5.0        288
7.0         11
18.0        16
26.0         2
27.0         3
36.0        43
53.0        16
57.0         1
58.0         1
59.0         1
60.0         5
61.0         3
63.0        47
64.0        36
66.0         7
68.0         9
74.0        11
78.0         1
86.0         7
87.0        88
88.0         2
89.0         9
95.0         1
98.0         3
101.0        3
102.0      431
103.0      801
          ...
22437.0      1
22441.0      1
22468.0      2
22478.0      1
22497.0      5
22516.0      1
22588.0      1
22620.0      1
22640.0      1
22658.0      3
22669.0      1
22682.0      1
22696.0      1
22705.0      2
22739.0      3
22817.0      1
22831.0      1
22852.0      1
22862.0      2
22869.0      1
22889.0      1
22892.0      3
22923.0      1
22939.0      1
22965.0      1
22967.0      6
22980.0      1
22986.0      1
24642.0    185
24643.0      2
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 135538
__________________
Elementos diferentes de null/NaN: 272788
__________________
(272788,)
None

In [198]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0     89035
2.0    102280
3.0     52505
4.0     32440
5.0     25645
6.0      9511
7.0         1
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 96909
__________________
Elementos diferentes de null/NaN: 311417
__________________
(311417,)
None

### TARGETS

In [199]:
c = 'PUNT_LENGUAJE'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '100,28', '18,11', '26,06', '31,04', '34,81', '37,92', '40,63',
       '43,06', '45,3', '47,41', '49,43', '51,38', '53,3', '55,21', '57,14',
       '59,11', '61,16', '63,33', '65,67', '68,26', '71,24', '74,87', '79,68',
       '87,44'],
      dtype='object')
0            28
100,28        1
18,11       262
26,06      1263
31,04      3958
34,81      9518
37,92     18494
40,63     29398
43,06     40732
45,3      48735
47,41     51634
49,43     49836
51,38     43756
53,3      35002
55,21     26471
57,14     18835
59,11     12571
61,16      8107
63,33      4711
65,67      2657
68,26      1417
71,24       616
74,87       232
79,68        79
87,44        13
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [200]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [201]:
c = 'PUNT_MATEMATICAS'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '115,67', '14,92', '24,75', '30,91', '35,55', '39,38', '42,69',
       '45,66', '48,4', '50,97', '53,42', '55,8', '58,15', '60,48', '62,84',
       '65,25', '67,77', '70,42', '73,29', '76,47', '80,14', '84,58', '90,48',
       '99,98'],
      dtype='object')
0           230
115,67        1
14,92      1750
24,75      7180
30,91     19642
35,55     37762
39,38     55434
42,69     64521
45,66     61917
48,4      51453
50,97     37720
53,42     25844
55,8      16840
58,15     10754
60,48      6764
62,84      4193
65,25      2682
67,77      1655
70,42       877
73,29       530
76,47       307
80,14       157
84,58        71
90,48        34
99,98         8
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [202]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [203]:
c = 'PUNT_C_SOCIALES'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '109,76', '12,87', '18,82', '23,29', '26,95', '3,34', '30,09',
       '32,88', '35,42', '37,77', '39,97', '42,07', '44,09', '46,05', '47,97',
       '49,87', '51,76', '53,67', '55,59', '57,56', '59,6', '61,72', '63,97',
       '66,39', '69,03', '72', '75,45', '79,68', '85,34', '94,52'],
      dtype='object')
0            23
109,76        1
12,87       231
18,82       821
23,29      2290
26,95      5370
3,34         46
30,09      9897
32,88     16246
35,42     23534
37,77     30827
39,97     36481
42,07     40120
44,09     41211
46,05     39622
47,97     36306
49,87     31125
51,76     25875
53,67     20500
55,59     15305
57,56     11135
59,6       8031
61,72      5439
63,97      3579
66,39      2179
69,03      1215
72          553
75,45       241
79,68        97
85,34        23
94,52         3
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [204]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [205]:
c = 'PUNT_FILOSOFIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '13,2', '22,6', '28,47', '32,89', '36,49', '39,6', '42,38',
       '44,92', '47,3', '49,58', '51,78', '53,94', '56,09', '58,26', '60,49',
       '62,81', '65,26', '67,91', '70,86', '74,26', '78,4', '83,91', '92,81'],
      dtype='object')
0           95
13,2       394
22,6      1858
28,47     5616
32,89    12631
36,49    22881
39,6     34224
42,38    44090
44,92    50479
47,3     51861
49,58    48552
51,78    41622
53,94    32973
56,09    24115
58,26    16434
60,49    10201
62,81     5735
65,26     2772
67,91     1166
70,86      460
74,26      131
78,4        29
83,91        5
92,81        2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [206]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [207]:
c = 'PUNT_BIOLOGIA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '20,41', '28', '32,72', '36,28', '39,22', '41,76', '44,05',
       '46,16', '48,15', '50,05', '51,89', '53,71', '55,53', '57,36', '59,24',
       '61,19', '63,27', '65,51', '68', '70,86', '74,35', '78,99', '86,48',
       '98,9'],
      dtype='object')
0          110
20,41      883
28        3472
32,72     9976
36,28    20689
39,22    33626
41,76    44430
44,05    49999
46,16    49369
48,15    45001
50,05    37499
51,89    29823
53,71    23771
55,53    18183
57,36    13553
59,24    10026
61,19     7168
63,27     4727
65,51     2991
68        1698
70,86      834
74,35      348
78,99      125
86,48       23
98,9         2
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [208]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [209]:
c = 'PUNT_QUIMICA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '23,17', '29,92', '34,1', '37,23', '39,81', '42,03', '44,03',
       '45,87', '47,6', '49,26', '50,87', '52,46', '54,05', '55,66', '57,31',
       '59,03', '60,85', '62,83', '65,03', '67,58', '70,68', '74,83', '81,54'],
      dtype='object')
0          105
23,17      841
29,92     3804
34,1     11306
37,23    24049
39,81    39722
42,03    54270
44,03    60478
45,87    58208
47,6     49192
49,26    36967
50,87    24993
52,46    16200
54,05    10256
55,66     6498
57,31     4148
59,03     2723
60,85     1826
62,83     1177
65,03      759
67,58      461
70,68      243
74,83       85
81,54       15
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [210]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [211]:
c = 'PUNT_FISICA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '102,04', '16,58', '26,2', '32,15', '36,62', '40,3', '43,5',
       '46,37', '49,04', '51,55', '53,97', '56,34', '58,68', '61,03', '63,43',
       '65,89', '68,47', '71,22', '74,2', '77,52', '81,35', '86', '92,17'],
      dtype='object')
0           140
102,04        4
16,58      1366
26,2       6237
32,15     17334
36,62     35168
40,3      54709
43,5      67395
46,37     68073
49,04     57098
51,55     41428
53,97     26501
56,34     15131
58,68      8198
61,03      4428
63,43      2321
65,89      1296
68,47       689
71,22       390
74,2        210
77,52       101
81,35        60
86           33
92,17        16
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [212]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [213]:
c = 'NOMBRE_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['ALEMÃN', 'FRANCÃS', 'INGLÃS'], dtype='object')
ALEMÃN        222
FRANCÃS      1994
INGLÃS     406110
Name: NOMBRE_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [214]:
data_2006_2[c] = data_2006_2[c].replace('ALEMÃN', 'ALEMAN')
data_2006_2[c] = data_2006_2[c].replace('FRANCÃS', 'FRANCES')
data_2006_2[c] = data_2006_2[c].replace('INGLÃS', 'INGLES')

In [215]:
c = 'PUNT_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['0', '12,9', '17,81', '20,62', '23,5', '25,29', '25,47', '29,17',
       '29,91', '30,94', '32,24', '33,38', '34,92', '35,54', '36,22', '37,34',
       '38,68', '38,97', '39,58', '40,9', '41,7', '41,79', '42,94', '43,74',
       '44,24', '44,86', '45,71', '46,43', '46,7', '47,66', '48,47', '48,49',
       '49,6', '50,26', '50,38', '51,56', '52,03', '52,23', '53,56', '53,82',
       '54,03', '55,64', '55,67', '55,82', '57,6', '57,63', '57,84', '59,47',
       '59,64', '60,2', '61,86', '62,81', '63,43', '64,33', '65,63', '65,79',
       '67,18', '68,07', '69,4', '70,65', '70,9', '74,16', '74,34', '75,28',
       '78,94', '81,77', '82,77', '94,27'],
      dtype='object')
0          216
12,9       409
17,81        6
20,62     1931
23,5         2
25,29       37
25,47     5672
29,17    12924
29,91      115
30,94        6
32,24    23262
33,38      208
34,92    34873
35,54       18
36,22      304
37,34    43626
38,68      320
38,97       19
39,58    48021
40,9       312
41,7     47552
41,79       30
42,94      236
43,74    42259
44,24       32
44,86      169
45,71    34740
46,43       26
46,7       108
47,66    27084
         ...
53,56    10758
53,82       13
54,03       11
55,64     8396
55,67       13
55,82        2
57,6        12
57,63        2
57,84     6634
59,47        1
59,64       11
60,2      5949
61,86        5
62,81     4976
63,43        9
64,33        6
65,63        6
65,79     4357
67,18        3
68,07        5
69,4      3456
70,65        5
70,9         1
74,16     2610
74,34        4
75,28        5
78,94        1
81,77     1490
82,77        3
94,27      452
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [216]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [217]:
c = 'DESEMP_IDIOMA'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Float64Index([], dtype='float64')
Series([], Name: DESEMP_IDIOMA, dtype: int64)
Elementos null/NaN 408326
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [218]:
data_2006_2 = data_2006_2.drop([c], axis=1)

In [219]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['PROFUNDIZACIÃN EN BIOLOGÃA', 'PROFUNDIZACIÃN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÃN EN LENGUAJE', 'PROFUNDIZACIÃN EN MATEMÃTICA'],
      dtype='object')
PROFUNDIZACIÃN EN BIOLOGÃA            124403
PROFUNDIZACIÃN EN CIENCIAS SOCIALES     68474
PROFUNDIZACIÃN EN LENGUAJE             156531
PROFUNDIZACIÃN EN MATEMÃTICA           58918
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [220]:
data_2006_2[c] = data_2006_2[c].replace('PROFUNDIZACIÃN EN BIOLOGÃA', 'BIOLOGIA')
data_2006_2[c] = data_2006_2[c].replace('PROFUNDIZACIÃN EN CIENCIAS SOCIALES', 'CIENCIAS SOCIALES')
data_2006_2[c] = data_2006_2[c].replace('PROFUNDIZACIÃN EN LENGUAJE', 'LENGUAJE')
data_2006_2[c] = data_2006_2[c].replace('PROFUNDIZACIÃN EN MATEMÃTICA', 'MATEMATICA')

In [221]:
c = 'PUNT_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['-1', '0', '1,4', '10', '2,4', '2,69', '2,85', '3,06', '3,23', '3,53',
       '3,59', '3,68', '4,01', '4,05', '4,07', '4,21', '4,46', '4,49', '4,52',
       '4,63', '4,85', '4,86', '4,92', '4,98', '5,19', '5,24', '5,27', '5,29',
       '5,5', '5,58', '5,59', '5,62', '5,81', '5,88', '5,89', '6,01', '6,13',
       '6,17', '6,19', '6,44', '6,46', '6,47', '6,51', '6,78', '6,83', '6,86',
       '6,93', '7,12', '7,26', '7,28', '7,51', '7,55', '7,81', '8,01', '8,49',
       '8,64', '8,65', '8,78'],
      dtype='object')
-1       2549
0        1878
1,4       629
10         58
2,4      1693
2,69     1179
2,85     4699
3,06     3128
3,23     2854
3,53     3365
3,59     4877
3,68    12449
4,01     7742
4,05     6385
4,07     6535
4,21    21941
4,46     8038
4,49     8914
4,52    14646
4,63    28894
4,85     9996
4,86     9625
4,92    20045
4,98    29828
5,19     9008
5,24     9959
5,27    21790
5,29    24592
5,5      7315
5,58    19404
5,59    16677
5,62     9234
5,81     5040
5,88    14745
5,89     9276
6,01     6950
6,13     3146
6,17    10457
6,19     4057
6,44     4400
6,46     1892
6,47     6147
6,51     1440
6,78     3240
6,83     1027
6,86      394
6,93     2039
7,12     1453
7,26      578
7,28       78
7,51      500
7,55      754
7,81      303
8,01      130
8,49      202
8,64        2
8,65      126
8,78       24
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [222]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [223]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1       2549
GB     191306
I      168165
II      43911
III      2395
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [224]:
data_2006_2[c] = data_2006_2[c].replace('-1', np.nan)

In [225]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          220008
VIOLENCIA Y SOCIEDAD    188318
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [226]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Index(['-1', '0', '16,07', '26,76', '33,84', '39,51', '44,42', '44,66',
       '47,31', '48,9', '49,02', '50,35', '51,5', '52,54', '53,14', '53,53',
       '54,5', '55,5', '56,55', '57,28', '57,7', '59,05', '60,78', '61,43',
       '63,45', '65,75', '67,75', '70,44', '75,81', '82,57', '92,9'],
      dtype='object')
-1         825
0         1143
16,07     3122
26,76    10120
33,84    21935
39,51    34243
44,42    39811
44,66     4240
47,31    12792
48,9     34957
49,02    25201
50,35    37142
51,5     41933
52,54    38213
53,14    23758
53,53    28191
54,5     17076
55,5      8564
56,55     3723
57,28    12583
57,7      1292
59,05      331
60,78       72
61,43     5078
63,45        4
65,75     1554
67,75        1
70,44      353
75,81       64
82,57        4
92,9         1
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

In [227]:
for i in data_2006_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2006_2[c] = data_2006_2[c].replace(i, i.replace(',', '.'))

for i in data_2006_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2006_2[c] = data_2006_2[c].replace(i, float(i))

In [228]:
c = 'ESTU_PUESTO'
print(data_2006_2[c].value_counts().sort_index().index)
print(data_2006_2[c].value_counts().sort_index())
print(missing_data(data_2006_2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            957, 958, 959, 960, 961, 962, 963, 964, 965, 966],
           dtype='int64', length=966)
1      412
2      403
3      408
4      388
5      385
6      394
7      404
8      389
9      386
10     377
11     399
12     398
13     385
14     378
15     389
16     399
17     386
18     402
19     400
20     386
21     398
22     400
23     393
24     411
25     394
26     393
27     388
28     394
29     388
30     411
      ...
937    420
938    429
939    416
940    418
941    426
942    415
943    419
944    417
945    410
946    398
947    410
948    418
949    405
950    417
951    425
952    419
953    395
954    405
955    405
956    407
957    413
958    423
959    416
960    407
961    399
962    398
963    411
964    414
965    406
966    205
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 408326
__________________
(408326,)
None

Now i can transform the obtained DataFrames in csv files

In [230]:
data_2006.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2006_1.csv', sep = ';', index = False)
data_2006_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2006_2.csv', sep = ';', index = False)