In [2]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [3]:
data_2001 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20011-RGSTRO-CLFCCN-V1-0.txt', delimiter="|",
                       encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_2001.shape

(77961, 57)

In [5]:
data_2001.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200110000001,SB11200110000002,SB11200110000003
COLE_COD_ICFES,78709,89474,89094
COLE_NOMBRE_SEDE,COLEGIO MIXTO FRAY PEÃ‘A,INSTITUTO EDUCATIVO DEL VALLE,INSTITUTO TECNICO AGROPECUARIO POLICARPA SALAV...
IND_ANNO_TERMINO_BACHILLERATO,2001,2001,2001
COLE_JORNADA,C,C,C
COLE_VALOR_PENSION,3,1,1
ESTU_GENERO,M,F,F
ESTU_NACIMIENTO_DIA,14,20,16
ESTU_NACIMIENTO_MES,11,5,5
ESTU_NACIMIENTO_ANNO,1984,1985,1985
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_MCPIO_PRESENTACION,YUMBO,YUMBO,YUMBO
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49,45,37
PUNT_MATEMATICAS,42,49,41
PUNT_FILOSOFIA,43,52,44
PUNT_FISICA,42,50,42
PUNT_HISTORIA,36,43,35
PUNT_QUIMICA,43,40,32
PUNT_LENGUAJE,44,46,44
PUNT_GEOGRAFIA,38,54,40
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,59,62,61
COD_IDIOMA,51,51,51
PUNT_IDIOMA,35,39,35
ESTU_IES_COD_DESEADA,1203,4107,1203
ESTU_RAZONINSTITUTO,2,8,8
ESTU_CARRDESEADA_COD,28198,21125,48118
ESTU_CARRDESEADA_RAZON,3,3,3
FAMI_PERSONAS_HOGAR,5,3,5
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,N,N,N
FAMI_APORTANTES,2,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,0,0,0
FAMI_LEE_ESCRIBE_PADRE,S,NaN,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,3,NaN,3
FAMI_EDUCA_MADRE,3,*,3
FAMI_OCUPA_PADRE,08,NaN,08
FAMI_OCUPA_MADRE,08,08,10
FAMI_NUM_HERMANOS,2,1,2
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,1
FAMI_POSICION_HERMANOS,2,1,2
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,NaN,N,N
ESTU_ACT_PROX_ANNO,3,2,3
COLE_CALENDARIO,B,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,TECNICO,TECNICO,TECNICO
COLE_DEPTO_UBICACION,VALLE,VALLE,VALLE
COLE_MCPIO_UBICACION,YUMBO,YUMBO,YUMBO
ESTU_RESIDE_DEPTO,T,T,T
ESTU_RESIDE_MCPIO,VALLE,VALLE,VALLE
ESTU_TIPO_DOCUMENTO,YUMBO,YUMBO,CALI

In [6]:
"""Something estrange happened, there are two columns that are in the wrong place (ESTU_RESIDE_DEPTO, 
ESTU_TIPO_DOCUMENTO), so here i fix the problem"""
data_2001.rename(columns={'ESTU_TIPO_DOCUMENTO':'ESTU_RESIDE_DPTO', 'ESTU_RESIDE_DEPTO':'ESTU_TIPO_DOCUMENTO'}, inplace=True)

In [7]:
data_2001.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200110000001,SB11200110000002,SB11200110000003
COLE_COD_ICFES,78709,89474,89094
COLE_NOMBRE_SEDE,COLEGIO MIXTO FRAY PEÃ‘A,INSTITUTO EDUCATIVO DEL VALLE,INSTITUTO TECNICO AGROPECUARIO POLICARPA SALAV...
IND_ANNO_TERMINO_BACHILLERATO,2001,2001,2001
COLE_JORNADA,C,C,C
COLE_VALOR_PENSION,3,1,1
ESTU_GENERO,M,F,F
ESTU_NACIMIENTO_DIA,14,20,16
ESTU_NACIMIENTO_MES,11,5,5
ESTU_NACIMIENTO_ANNO,1984,1985,1985
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_MCPIO_PRESENTACION,YUMBO,YUMBO,YUMBO
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49,45,37
PUNT_MATEMATICAS,42,49,41
PUNT_FILOSOFIA,43,52,44
PUNT_FISICA,42,50,42
PUNT_HISTORIA,36,43,35
PUNT_QUIMICA,43,40,32
PUNT_LENGUAJE,44,46,44
PUNT_GEOGRAFIA,38,54,40
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,59,62,61
COD_IDIOMA,51,51,51
PUNT_IDIOMA,35,39,35
ESTU_IES_COD_DESEADA,1203,4107,1203
ESTU_RAZONINSTITUTO,2,8,8
ESTU_CARRDESEADA_COD,28198,21125,48118
ESTU_CARRDESEADA_RAZON,3,3,3
FAMI_PERSONAS_HOGAR,5,3,5
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,N,N,N
FAMI_APORTANTES,2,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,0,0,0
FAMI_LEE_ESCRIBE_PADRE,S,NaN,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,3,NaN,3
FAMI_EDUCA_MADRE,3,*,3
FAMI_OCUPA_PADRE,08,NaN,08
FAMI_OCUPA_MADRE,08,08,10
FAMI_NUM_HERMANOS,2,1,2
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,1
FAMI_POSICION_HERMANOS,2,1,2
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,NaN,N,N
ESTU_ACT_PROX_ANNO,3,2,3
COLE_CALENDARIO,B,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,TECNICO,TECNICO,TECNICO
COLE_DEPTO_UBICACION,VALLE,VALLE,VALLE
COLE_MCPIO_UBICACION,YUMBO,YUMBO,YUMBO
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_RESIDE_MCPIO,VALLE,VALLE,VALLE
ESTU_RESIDE_DPTO,YUMBO,YUMBO,CALI

The first step i have to take is delete the ID Columns (columns used to identify something or someone), because that columns does not have any business here.

In [8]:
data_2001 = data_2001.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [9]:
data_2001.columns

Index(['COLE_COD_ICFES', 'IND_ANNO_TERMINO_BACHILLERATO', 'COLE_JORNADA',
       'COLE_VALOR_PENSION', 'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA',
       'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE',
       'ESTU_LIMITA_SORDONOINTERPRETE', 'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA',
       'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
       'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA',
       'COD_INTERDISCIPLINAR', 'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA',
       'PUNT_IDIOMA', 'ESTU_IES_COD_DESEADA', 'ESTU_RAZONINSTITUTO',
       'ESTU_CARRDESEADA_COD', 'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR',
       'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_RESIDE_MCPIO',
       'ESTU_RESIDE_DPTO'],
      dtype='object')

In [10]:
"""Looks ok, type int64"""
print(data_2001['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2001['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2001['COLE_COD_ICFES']))

Int64Index([  182,   265,  1362,  1503,  2998,  3145,  3327,  3418,  3459,
             3483,
            ...
            95646, 95679, 95687, 95711, 95729, 95745, 95760, 95778, 95786,
            95794],
           dtype='int64', length=1746)
182       63
265      573
1362     109
1503      98
2998      38
3145      38
3327       9
3418      45
3459      63
3483     102
4234      33
5843      16
6239       9
6890      51
6973       6
6981      60
6999      54
7005      61
7013      77
7047      66
7054      34
7062      74
7070     164
7088      79
7096     223
7104     127
7112      76
7120      52
7138     116
7146      66
        ...
95448     16
95455     44
95463     13
95471     13
95489     23
95497      6
95505      7
95513     14
95521     11
95539     21
95547     11
95554     10
95562     22
95570      9
95588     13
95596     10
95604     36
95612     11
95620     12
95638      7
95646     40
95679      4
95687      4
95711     16
95729     16
95745     68
95760      7
95778     33
95786     15
95794     21
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [11]:
"""Some incoherences, that will be fix in the following cell, and the np.nan values replaced"""
print(data_2001['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2001['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2001['IND_ANNO_TERMINO_BACHILLERATO']))

Index(['1980', '1987', '1992', '1994', '1998', '1999', '2', '2  0', '2  1',
       '2 *0', '2 0', '2 0*', '2 00', '2 01', '2*00', '20', '20 *', '20 0',
       '20 1', '20*', '20**', '20*0', '200', '2000', '2001', '2002', '2003',
       '201', '2010', '2011', '2090'],
      dtype='object')
1980        1
1987        1
1992        1
1994        1
1998        7
1999       28
2           9
2  0        7
2  1        3
2 *0        3
2 0         2
2 0*        8
2 00      120
2 01       11
2*00        1
20         15
20 *        2
20 0       28
20 1       15
20*        22
20**        3
20*0        1
200        58
2000    17605
2001    59828
2002        1
2003        1
201         2
2010        1
2011        9
2090        1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 166
__________________
Elementos diferentes de null/NaN: 77795
__________________
(77795,)
None

In [12]:
for i in data_2001['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index:
    if '*' in i:
        data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif ' ' in i:
        data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif len(i) < 4:
        data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')
    elif int(i) > 2003:
        data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, 'NaN')

data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(np.nan, 'NaN')

In [13]:
"""This column looks ok"""
print(data_2001['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2001['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2001['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C    18450
M    30611
N    19320
S      283
T     9297
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [14]:
"""This column just has some '*' values and some np.nan values"""
print(data_2001['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2001['COLE_VALOR_PENSION'].value_counts().sort_index())
print(missing_data(data_2001['COLE_VALOR_PENSION']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*       19
1    20756
2    11915
3     7520
4     4122
5     3570
6     2053
7     3184
8    20785
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 4037
__________________
Elementos diferentes de null/NaN: 73924
__________________
(73924,)
None

In [15]:
data_2001['COLE_VALOR_PENSION'] = data_2001['COLE_VALOR_PENSION'].replace('*', 'NaN')
data_2001['COLE_VALOR_PENSION'] = data_2001['COLE_VALOR_PENSION'].replace(np.nan, 'NaN')

In [16]:
"""PERFECT!"""
print(data_2001['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2001['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    42203
M    35758
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [17]:
"""ALMOST PERFECT, has some np.nan, but the whole column is float64 dtype so this will keep the np.nan values, and 
in the end all the np.nan values will be replaced"""
print(data_2001['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2001['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2795
2.0     2620
3.0     2637
4.0     2591
5.0     2611
6.0     2619
7.0     2518
8.0     2468
9.0     2488
10.0    2766
11.0    2467
12.0    2609
13.0    2485
14.0    2525
15.0    2703
16.0    2493
17.0    2610
18.0    2592
19.0    2411
20.0    2656
21.0    2403
22.0    2589
23.0    2466
24.0    2513
25.0    2569
26.0    2460
27.0    2525
28.0    2634
29.0    2313
30.0    2280
31.0    1384
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 161
__________________
Elementos diferentes de null/NaN: 77800
__________________
(77800,)
None

In [18]:
"""ALMOST PERFECT, has some np.nan, but the whole column is float64 dtype so this will keep the np.nan values, and 
in the end all the np.nan values will be replaced"""
print(data_2001['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2001['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     6533
2.0     5967
3.0     6650
4.0     6201
5.0     6530
6.0     6190
7.0     6537
8.0     6621
9.0     6915
10.0    6636
11.0    6476
12.0    6544
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 161
__________________
Elementos diferentes de null/NaN: 77800
__________________
(77800,)
None

In [19]:
"""Here this column has one year '198' that will be replaced for a correct number, and the np.nan values will keep 
their existence"""
print(data_2001['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2001['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_NACIMIENTO_ANNO']))

Float64Index([ 198.0, 1917.0, 1919.0, 1931.0, 1932.0, 1933.0, 1934.0, 1935.0,
              1936.0, 1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0,
              1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0],
             dtype='float64')
198.0         1
1917.0        1
1919.0        1
1931.0        1
1932.0        1
1933.0        4
1934.0        2
1935.0        3
1936.0        1
1937.0        4
1938.0        8
1939.0        2
1940.0        7
1941.0        4
1942.0        9
1943.0        4
1944.0        8
1945.0       13
1946.0        7
1947.0       15
1948.0       19
1949.0       18
1950.0       20
1951.0       41
1952.0       51
1953.0       73
1954.0       49
1955.0       78
1956.0       91
1957.0      126
          ...
1960.0      184
1961.0      183
1962.0      254
1963.0      238
1964.0      279
1965.0      291
1966.0      337
1967.0      344
1968.0      352
1969.0      404
1970.0      417
1971.0      470
1972.0      519
1973.0      549
1974.0      621
1975.0      705
1976.0      858
1977.0     1063
1978.0     1440
1979.0     2199
1980.0     3598
1981.0     6374
1982.0    11621
1983.0    16864
1984.0    20656
1985.0     5631
1986.0      240
1987.0       24
1988.0       12
1989.0       13
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 322
__________________
Elementos diferentes de null/NaN: 77639
__________________
(77639,)
None

In [20]:
data_2001['ESTU_NACIMIENTO_ANNO'] = data_2001['ESTU_NACIMIENTO_ANNO'].replace(198, 1918)

In [21]:
"""PERFECT!"""
print(data_2001['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2001['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_DEPTO_PRESENTACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃ‘O', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3689
ARAUCA               133
ATLANTICO           1236
BOGOTA              7056
BOLIVAR              294
BOYACA               263
CALDAS               418
CAQUETA              335
CASANARE             149
CAUCA               7574
CESAR                259
CHOCO                  1
CORDOBA              633
CUNDINAMARCA        1460
GUAVIARE              10
HUILA                885
LA GUAJIRA           136
MAGDALENA            167
META                 601
NARIÃ‘O             11564
NORTE SANTANDER      501
PUTUMAYO              26
QUINDIO              485
RISARALDA            508
SAN ANDRES             1
SANTANDER            928
SUCRE                 56
TOLIMA               507
VALLE              38086
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [22]:
"""PERFECT!"""
print(data_2001['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2001['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_MCPIO_PRESENTACION']))

Index(['AGUACHICA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO', 'APARTADO',
       'ARAUCA', 'ARMENIA', 'BARBACOAS', 'BARRANCABERMEJA', 'BARRANQUILLA',
       ...
       'TULUA', 'TUMACO', 'TUNJA', 'TUQUERRES', 'UBATE', 'VALLEDUPAR',
       'VILLAVICENCIO', 'YOPAL', 'YUMBO', 'ZARZAL'],
      dtype='object', length=125)
AGUACHICA                    32
ALCALA                      134
ANDALUCIA                   171
ANSERMANUEVO                 48
APARTADO                     80
ARAUCA                       87
ARMENIA                     485
BARBACOAS                   124
BARRANCABERMEJA              51
BARRANQUILLA               1236
BELLO                       533
BOGOTA D.C.                7056
BOLIVAR                     314
BUCARAMANGA                 697
BUENAVENTURA               2874
BUENOS AIRES                 51
BUESACO                     134
BUGA                       1647
BUGALAGRANDE                254
CAICEDONIA                  256
CAJIBIO                       6
CALDONO                      48
CALI                      18770
CALIMA (DARIEN)             159
CALOTO                      150
CAMPOALEGRE                  22
CANDELARIA                  681
CAQUEZA                       1
CARTAGENA                   271
CARTAGO                    1499
                          ...
SAN JUAN DE RIO SECO         46
SAN MARTIN                   28
SAN PABLO                   202
SANDONA                     249
SANTA MARTA                 102
SANTANDER DE QUILICHAO      942
SARAVENA                     30
SEVILLA                     475
SILVIA                      120
SINCELEJO                    56
SOACHA                      416
SOGAMOSO                     85
SUAREZ                      129
TAME                         16
TAMINANGO                   133
TANGUA                       34
TIERRALTA                   125
TIMBIO                      231
TORO                        132
TRUJILLO                    108
TULUA                      2209
TUMACO                     1083
TUNJA                       178
TUQUERRES                   452
UBATE                        41
VALLEDUPAR                  227
VILLAVICENCIO               573
YOPAL                        97
YUMBO                       871
ZARZAL                      525
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [23]:
"""Here in this column i found a lot of np.nan that i will replace for string 'NaN'"""
print(data_2001['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2001['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    4
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 77957
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [24]:
data_2001['ESTU_LIMITA_INVIDENTE'] = data_2001['ESTU_LIMITA_INVIDENTE'].replace(np.nan, 'NaN')

In [25]:
"""The column is empty, so THIS COLUMN WILL BE DELETED"""
print(data_2001['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2001['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_LIMITA_SORDOINTERPRETE']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 77961
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [26]:
"""A lot of np.nan tha will be replaced for 'NaN'"""
print(data_2001['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2001['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    15
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 77946
__________________
Elementos diferentes de null/NaN: 15
__________________
(15,)
None

In [27]:
data_2001['ESTU_LIMITA_SORDONOINTERPRETE'] = data_2001['ESTU_LIMITA_SORDONOINTERPRETE'].replace(np.nan, 'NaN')

In [28]:
"""A lot of np.nan tha will be replaced for 'NaN'"""
print(data_2001['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2001['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    14
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 77947
__________________
Elementos diferentes de null/NaN: 14
__________________
(14,)
None

In [29]:
data_2001['ESTU_LIMITA_MOTRIZ'] = data_2001['ESTU_LIMITA_MOTRIZ'].replace(np.nan, 'NaN')

In [30]:
"""A lot of incoherences found, the normal codes of some IES are 4 digits"""
print(data_2001['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2001['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_IES_COD_DESEADA']))

Index(['*', '*  *', '* *', '* 06', '* 1', '* 12', '* 16', '* 2', '* 20', '**',
       ...
       '9450', '9515', '9806', '9811', '99', '99 9', '9911', '9912', '999',
       '9999'],
      dtype='object', length=755)
*         11
*  *       2
* *        8
* 06       1
* 1        1
* 12       1
* 16       1
* 2        1
* 20       1
**        22
****       5
*0         6
*0 1       1
*0 3       1
*0 4       1
*0 8       1
*01        1
*03        2
*06        2
*07        1
*1         5
*1 0       1
*1 2       1
*1 3       1
*101       1
*103       1
*105       1
*11        6
*11*       1
*113       1
        ...
910        3
9100       7
9101     526
9102      81
9103     317
9104     411
9105     224
9107      48
9109      18
911        3
911*       1
9110     350
9111     841
9112     144
9113      11
9114      58
9115     248
9116       1
9145       1
9329       1
9450       3
9515       2
9806       1
9811       1
99         4
99 9       3
9911       1
9912       1
999       24
9999    6095
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 7244
__________________
Elementos diferentes de null/NaN: 70717
__________________
(70717,)
None

In [31]:
for i in data_2001['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '*' in i:
        data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif ' ' in i:
        data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif len(i)<4:
        data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')
    elif i != 'NaN':
        if int(i)<1000:
            data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(i, 'NaN')

data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(np.nan, 'NaN')
data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace('0000', 'NaN')

In [32]:
"""Some '*' values that will be replaced, and some np.nan too"""
print(data_2001['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2001['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_RAZONINSTITUTO']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*       17
1     1458
2    21651
3    10892
4     7567
5     9654
6     6387
7     4917
8     8028
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 7390
__________________
Elementos diferentes de null/NaN: 70571
__________________
(70571,)
None

In [33]:
data_2001['ESTU_RAZONINSTITUTO'] = data_2001['ESTU_RAZONINSTITUTO'].replace('*', 'NaN')
data_2001['ESTU_RAZONINSTITUTO'] = data_2001['ESTU_RAZONINSTITUTO'].replace(np.nan, 'NaN')

In [34]:
"""All the incoherences and the np.nan will be replaced for 'NaN'"""
print(data_2001['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2001['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_CARRDESEADA_COD']))

Index(['*', '*   *', '* *', '* * 1', '* * 4', '* * 9', '* *2', '* *5', '* 1*',
       '* 150',
       ...
       '958', '98103', '98109', '99', '99 9', '99 99', '999', '999 9', '9999',
       '99999'],
      dtype='object', length=2498)
*           8
*   *       1
* *         3
* * 1       1
* * 4       1
* * 9       1
* *2        1
* *5        1
* 1*        1
* 150       1
* 3         1
* 4         1
* 8         1
**          8
**  3       1
**  9       1
** 4        1
*****       1
**0         2
**1         6
**2         3
**4         2
**5         1
*0          1
*0*         1
*1          3
*1  *       1
*1 *        1
*1 0        1
*1 09       1
         ...
91011       1
9102       11
91021       1
91022       1
9103       23
9104       39
9105        9
9107        4
9108        1
911 2       1
9110        9
91104       1
9111        7
9112        2
9114        3
9115        1
9117        1
92159       1
92642       1
94104       1
958         1
98103       1
98109       1
99          4
99 9        1
99 99       1
999        10
999 9       2
9999      120
99999    5490
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 4730
__________________
Elementos diferentes de null/NaN: 73231
__________________
(73231,)
None

In [35]:
for i in data_2001['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2001['ESTU_CARRDESEADA_COD'] = data_2001['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif ' ' in i:
        data_2001['ESTU_CARRDESEADA_COD'] = data_2001['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif i != 'NaN':
        if int(i) == 0:
            data_2001['ESTU_CARRDESEADA_COD'] = data_2001['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
data_2001['ESTU_CARRDESEADA_COD'] = data_2001['ESTU_CARRDESEADA_COD'].replace(np.nan, 'NaN')

In [36]:
"""Has numbers and string so i have to let everything in just one dtype and change the '*' values and the np.nan too"""
print(data_2001['ESTU_CARRDESEADA_RAZON'].value_counts().index)
print(data_2001['ESTU_CARRDESEADA_RAZON'].value_counts())
print(missing_data(data_2001['ESTU_CARRDESEADA_RAZON']))

Index(['1', '3', '2', '5', '4', 2.0, 3.0, 1.0, '6', 5.0, 4.0, 6.0, '*'], dtype='object')
1      17283
3      15723
2      13399
5       5005
4       4583
2.0     4569
3.0     4238
1.0     4203
6       1750
5.0     1060
4.0      955
6.0      373
*         10
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 4810
__________________
Elementos diferentes de null/NaN: 73151
__________________
(73151,)
None

In [37]:
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(1.0, '1')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(2.0, '2')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(3.0, '3')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(4.0, '4')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(5.0, '5')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(6.0, '6')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace('*', 'NaN')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(np.nan, 'NaN')

In [38]:
"""This column has '*' values that will be replaced and some np.nan values that will be replaced too... 
The '+' simbol will be replaced for '+9'"""
print(data_2001['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2001['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_PERSONAS_HOGAR']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      162
+     3184
1      315
2     2778
3     9437
4    19165
5    18965
6    11081
7     6271
8     3632
9     2258
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 713
__________________
Elementos diferentes de null/NaN: 77248
__________________
(77248,)
None

In [39]:
data_2001['FAMI_PERSONAS_HOGAR'] = data_2001['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2001['FAMI_PERSONAS_HOGAR'] = data_2001['FAMI_PERSONAS_HOGAR'].replace('*', 'NaN')
data_2001['FAMI_PERSONAS_HOGAR'] = data_2001['FAMI_PERSONAS_HOGAR'].replace(np.nan, 'NaN')

In [40]:
"""The '*' values and the np.nan will be repalced for 'NaN'"""
print(data_2001['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2001['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_VIVIENDA_PROPIA']))

Index(['*', 'N', 'S'], dtype='object')
*        9
N    22083
S    53521
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 2348
__________________
Elementos diferentes de null/NaN: 75613
__________________
(75613,)
None

In [41]:
data_2001['FAMI_VIVIENDA_PROPIA'] = data_2001['FAMI_VIVIENDA_PROPIA'].replace('*', 'NaN')
data_2001['FAMI_VIVIENDA_PROPIA'] = data_2001['FAMI_VIVIENDA_PROPIA'].replace(np.nan, 'NaN')

In [42]:
"""The '*' values and the np.nan will be repalced for 'NaN'"""
print(data_2001['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2001['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_DEUDA_VIVIENDA']))

Index(['*', 'N', 'S'], dtype='object')
*        3
N    36532
S    11028
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 30398
__________________
Elementos diferentes de null/NaN: 47563
__________________
(47563,)
None

In [43]:
data_2001['FAMI_DEUDA_VIVIENDA'] = data_2001['FAMI_DEUDA_VIVIENDA'].replace('*', 'NaN')
data_2001['FAMI_DEUDA_VIVIENDA'] = data_2001['FAMI_DEUDA_VIVIENDA'].replace(np.nan, 'NaN')

In [44]:
"""This column has '*' values that will be replaced and some np.nan values that will be replaced too... 
The '+' simbol will be replaced for '+9'"""
print(data_2001['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2001['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_APORTANTES']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      165
+       84
0      254
1    38695
2    28841
3     5881
4     1763
5      533
6      179
7       60
8       47
9       23
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 1436
__________________
Elementos diferentes de null/NaN: 76525
__________________
(76525,)
None

In [45]:
data_2001['FAMI_APORTANTES'] = data_2001['FAMI_APORTANTES'].replace('+', '+9')
data_2001['FAMI_APORTANTES'] = data_2001['FAMI_APORTANTES'].replace('*', 'NaN')
data_2001['FAMI_APORTANTES'] = data_2001['FAMI_APORTANTES'].replace(np.nan, 'NaN')

In [46]:
"""Just the '*' values"""
print(data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_INGRESO_FMILIAR_MENSUAL']))

Index(['*', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       46
0    19315
1    29728
2    12610
3     6758
4     2563
5     1344
6     1076
7      622
8      578
9     1404
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 1917
__________________
Elementos diferentes de null/NaN: 76044
__________________
(76044,)
None

In [47]:
data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('*', 'NaN')
data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'].replace(np.nan, 'NaN')

In [48]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_LEE_ESCRIBE_PADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       36
N     2391
S    67644
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 7890
__________________
Elementos diferentes de null/NaN: 70071
__________________
(70071,)
None

In [49]:
data_2001['FAMI_LEE_ESCRIBE_PADRE'] = data_2001['FAMI_LEE_ESCRIBE_PADRE'].replace('*', 'NaN')
data_2001['FAMI_LEE_ESCRIBE_PADRE'] = data_2001['FAMI_LEE_ESCRIBE_PADRE'].replace(np.nan, 'NaN')

In [50]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_LEE_ESCRIBE_MADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       54
N     2826
S    72205
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 2876
__________________
Elementos diferentes de null/NaN: 75085
__________________
(75085,)
None

In [51]:
data_2001['FAMI_LEE_ESCRIBE_MADRE'] = data_2001['FAMI_LEE_ESCRIBE_MADRE'].replace('*', 'NaN')
data_2001['FAMI_LEE_ESCRIBE_MADRE'] = data_2001['FAMI_LEE_ESCRIBE_MADRE'].replace(np.nan, 'NaN')

In [52]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_EDUCA_PADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*      842
1     3285
2      792
3    31439
4    16533
5     3231
6     3135
7     6260
8     3107
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 9337
__________________
Elementos diferentes de null/NaN: 68624
__________________
(68624,)
None

In [53]:
data_2001['FAMI_EDUCA_PADRE'] = data_2001['FAMI_EDUCA_PADRE'].replace('*', 'NaN')
data_2001['FAMI_EDUCA_PADRE'] = data_2001['FAMI_EDUCA_PADRE'].replace(np.nan, 'NaN')

In [54]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_EDUCA_MADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*      866
1     3290
2      914
3    33828
4    19250
5     4128
6     2522
7     5391
8     2156
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 5616
__________________
Elementos diferentes de null/NaN: 72345
__________________
(72345,)
None

In [55]:
data_2001['FAMI_EDUCA_MADRE'] = data_2001['FAMI_EDUCA_MADRE'].replace('*', 'NaN')
data_2001['FAMI_EDUCA_MADRE'] = data_2001['FAMI_EDUCA_MADRE'].replace(np.nan, 'NaN')

In [56]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_OCUPA_PADRE']))

Index(['*', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'],
      dtype='object')
*      1709
01     1319
02     1641
03     3664
04     4654
05    19204
06     9054
07      539
08    17678
09     4482
10     1084
11       37
12     2237
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 10659
__________________
Elementos diferentes de null/NaN: 67302
__________________
(67302,)
None

In [57]:
data_2001['FAMI_OCUPA_PADRE'] = data_2001['FAMI_OCUPA_PADRE'].replace('*', 'NaN')
data_2001['FAMI_OCUPA_PADRE'] = data_2001['FAMI_OCUPA_PADRE'].replace(np.nan, 'NaN')

In [58]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_OCUPA_MADRE']))

Index(['*', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'],
      dtype='object')
*      1550
01      515
02      924
03     1626
04     4188
05     9127
06     7186
07      528
08     5168
09     1203
10    38919
11      307
12     1383
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 5337
__________________
Elementos diferentes de null/NaN: 72624
__________________
(72624,)
None

In [59]:
data_2001['FAMI_OCUPA_MADRE'] = data_2001['FAMI_OCUPA_MADRE'].replace('*', 'NaN')
data_2001['FAMI_OCUPA_MADRE'] = data_2001['FAMI_OCUPA_MADRE'].replace(np.nan, 'NaN')

In [60]:
"""The '*', '+' and the np.nan values will be replaced """
print(data_2001['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2001['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_NUM_HERMANOS']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      191
+     1931
0     3907
1    15561
2    18415
3    11749
4     7403
5     4789
6     3266
7     2364
8     1571
9     1145
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 5669
__________________
Elementos diferentes de null/NaN: 72292
__________________
(72292,)
None

In [61]:
data_2001['FAMI_NUM_HERMANOS'] = data_2001['FAMI_NUM_HERMANOS'].replace('+', '+9')
data_2001['FAMI_NUM_HERMANOS'] = data_2001['FAMI_NUM_HERMANOS'].replace('*', 'NaN')
data_2001['FAMI_NUM_HERMANOS'] = data_2001['FAMI_NUM_HERMANOS'].replace(np.nan, 'NaN')

In [62]:
"""The '*', '+' and the np.nan values will be replaced """
print(data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       63
+       49
0    38898
1    18897
2     7305
3     2436
4      887
5      323
6      137
7       77
8       37
9       28
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 8824
__________________
Elementos diferentes de null/NaN: 69137
__________________
(69137,)
None

In [63]:
data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')
data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('*', 'NaN')
data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace(np.nan, 'NaN')

In [64]:
"""The '*', '+' and the np.nan values will be replaced """
print(data_2001['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2001['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_POSICION_HERMANOS']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       14
+      765
1    25408
2    19872
3    11998
4     6244
5     3639
6     2265
7     1458
8      905
9      648
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 4745
__________________
Elementos diferentes de null/NaN: 73216
__________________
(73216,)
None

In [65]:
data_2001['FAMI_POSICION_HERMANOS'] = data_2001['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2001['FAMI_POSICION_HERMANOS'] = data_2001['FAMI_POSICION_HERMANOS'].replace('*', 'NaN')
data_2001['FAMI_POSICION_HERMANOS'] = data_2001['FAMI_POSICION_HERMANOS'].replace(np.nan, 'NaN')

In [67]:
"""The '*' values and the np.nan values will be replaced, and in added the value with 'n' will be replaced for 'N'"""
print(data_2001['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2001['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_SOST_PERSONAL']))

Index(['*', 'N', 'P', 'T', 'n'], dtype='object')
*        6
N     6772
P    10636
T    57465
n        1
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 3081
__________________
Elementos diferentes de null/NaN: 74880
__________________
(74880,)
None

In [68]:
data_2001['FAMI_SOST_PERSONAL'] = data_2001['FAMI_SOST_PERSONAL'].replace('n', 'N')
data_2001['FAMI_SOST_PERSONAL'] = data_2001['FAMI_SOST_PERSONAL'].replace('*', 'NaN')
data_2001['FAMI_SOST_PERSONAL'] = data_2001['FAMI_SOST_PERSONAL'].replace(np.nan, 'NaN')

In [70]:
"""Just the '*' values"""
print(data_2001['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2001['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_TRABAJA']))

Index(['*', 'N', 'S'], dtype='object')
*        3
N    62909
S    11965
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 3084
__________________
Elementos diferentes de null/NaN: 74877
__________________
(74877,)
None

In [71]:
data_2001['ESTU_TRABAJA'] = data_2001['ESTU_TRABAJA'].replace('*', 'NaN')
data_2001['ESTU_TRABAJA'] = data_2001['ESTU_TRABAJA'].replace(np.nan, 'NaN')

In [72]:
print(data_2001['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2001['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_ACT_PROX_ANNO']))

Index(['*', '1', '2', '3'], dtype='object')
*       45
1    21087
2     1746
3    54470
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 613
__________________
Elementos diferentes de null/NaN: 77348
__________________
(77348,)
None

In [73]:
data_2001['ESTU_ACT_PROX_ANNO'] = data_2001['ESTU_ACT_PROX_ANNO'].replace('*', 'NaN')
data_2001['ESTU_ACT_PROX_ANNO'] = data_2001['ESTU_ACT_PROX_ANNO'].replace(np.nan, 'NaN')

In [74]:
"""PERFECT!"""
print(data_2001['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2001['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2001['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A     6081
B    48042
F    23838
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [76]:
"""There are a lot of np.nan values, but the column is float64 dtype"""
print(data_2001['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2001['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2001['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2094
2.0     243
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 75624
__________________
Elementos diferentes de null/NaN: 2337
__________________
(2337,)
None

In [78]:
"""PERFECT"""
print(data_2001['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2001['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2001['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              40335
ACADEMICO Y TECNICO    16746
NORMALISTA              1067
TECNICO                19813
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [80]:
"""PERFECT!"""
print(data_2001['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2001['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2001['COLE_DEPTO_UBICACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CORDOBA',
       'CUNDINAMARCA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃ‘O',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3879
ARAUCA               135
ATLANTICO           1239
BOGOTA              6848
BOLIVAR              290
BOYACA               238
CALDAS               407
CAQUETA              352
CASANARE             148
CAUCA               7567
CESAR                239
CORDOBA              464
CUNDINAMARCA        1580
HUILA                876
LA GUAJIRA           143
MAGDALENA            182
META                 604
NARIÃ‘O             11547
NORTE SANTANDER      501
PUTUMAYO              27
QUINDIO              480
RISARALDA            497
SANTANDER            967
SUCRE                 41
TOLIMA               589
VALLE              38121
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [81]:
"""PERFECT!"""
print(data_2001['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2001['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2001['COLE_MCPIO_UBICACION']))

Index(['ACACIAS', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA', 'AGUADAS', 'AGUAZUL',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA',
       ...
       'VILLAVICENCIO', 'VILLETA', 'YACUANQUER', 'YARUMAL', 'YOPAL', 'YOTOCO',
       'YUMBO', 'ZAPATOCA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=276)
ACACIAS                   11
AGRADO                    34
AGUA DE DIOS              18
AGUACHICA                 24
AGUADAS                    9
AGUAZUL                   15
ALBAN (SAN JOSE)          71
ALBANIA                   41
ALCALA                   112
ALDANA                    65
ALGECIRAS                 14
ANCUYA                    57
ANDALUCIA                200
ANGOSTURA                  8
ANSERMA                   12
ANSERMANUEVO              43
ANTIOQUIA                 67
APARTADO                  99
APIA                      58
ARACATACA                  4
ARAUCA                   117
ARBOLEDA (BERRUECOS)      32
ARGELIA                   53
ARJONA                    46
ARMENIA                  331
ARMERO (GUAYABAL)         12
BALBOA                    55
BARBACOAS                121
BARBOSA                   47
BARRANCABERMEJA           33
                        ...
TOCAIMA                   23
TORIBIO                   13
TORO                     133
TOTORO                    22
TRUJILLO                 135
TULUA                   1962
TUMACO                   981
TUNJA                     67
TUQUERRES                310
TURBACO                   49
TUTA                      22
UBATE                     57
ULLOA                     39
VALLEDUPAR               185
VALPARAISO                10
VERSALLES                 61
VIJES                     54
VILLA RICA                32
VILLAGOMEZ                19
VILLAMARIA                51
VILLAVICENCIO            526
VILLETA                   75
YACUANQUER                85
YARUMAL                   16
YOPAL                     30
YOTOCO                    97
YUMBO                    842
ZAPATOCA                  10
ZARZAL                   486
ZIPAQUIRA                 60
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

Here i found another incoherence, the columns *ESTU_RESIDE_MCPIO* y *ESTU_RESIDE_DPTO* are in the wrong place

In [85]:
data_2001.rename(columns={'ESTU_RESIDE_DPTO':'ESTU_RESIDE_MPIO', 'ESTU_RESIDE_MCPIO':'ESTU_RESIDE_DPTO'}, inplace=True)

In [87]:
"""PERFECT!"""
print(data_2001['ESTU_RESIDE_MPIO'].value_counts().sort_index().index)
print(data_2001['ESTU_RESIDE_MPIO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_RESIDE_MPIO']))

Index(['ACACIAS', 'AGRADO', 'AGUACHICA', 'AGUADAS', 'AGUAZUL', 'AIPE',
       'ALBAN (SAN JOSE)', 'ALCALA', 'ALDANA', 'ALEJANDRIA',
       ...
       'VILLETA', 'YACUANQUER', 'YARUMAL', 'YOPAL', 'YOTOCO', 'YUMBO',
       'ZAPATOCA', 'ZARAGOZA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=348)
ACACIAS                   39
AGRADO                    31
AGUACHICA                 24
AGUADAS                    9
AGUAZUL                   14
AIPE                       2
ALBAN (SAN JOSE)          61
ALCALA                   114
ALDANA                    64
ALEJANDRIA                11
ALGECIRAS                 14
AMAGA                      1
ANCUYA                    58
ANDALUCIA                184
ANGELOPOLIS                1
ANGOSTURA                  8
ANSERMA                   10
ANSERMANUEVO              44
ANTIOQUIA                 63
APARTADO                  98
APIA                       6
ARAUCA                    85
ARAUQUITA                 10
ARBOLEDA (BERRUECOS)      25
ARBOLETES                  1
ARGELIA                   72
ARJONA                    46
ARMENIA                  336
ARMERO (GUAYABAL)         11
BALBOA                    45
                        ...
TOTORO                    12
TRUJILLO                 125
TULUA                   2039
TUMACO                  1009
TUNJA                     76
TUQUERRES                330
TURBACO                   18
TUTA                      21
UBATE                     55
ULLOA                     36
VALLEDUPAR               186
VALPARAISO                14
VENECIA                    7
VERSALLES                 57
VIJES                     54
VILLA DEL ROSARIO          1
VILLAGOMEZ                16
VILLAMARIA                48
VILLANUEVA                 1
VILLAVICENCIO            471
VILLETA                   74
YACUANQUER                79
YARUMAL                   30
YOPAL                     47
YOTOCO                    99
YUMBO                    766
ZAPATOCA                   9
ZARAGOZA                   1
ZARZAL                   509
ZIPAQUIRA                 60
Name: ESTU_RESIDE_MPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [90]:
"""PERFECT"""
print(data_2001['ESTU_RESIDE_DPTO'].value_counts().sort_index().index)
print(data_2001['ESTU_RESIDE_DPTO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_RESIDE_DPTO']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃ‘O', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3689
ARAUCA               133
ATLANTICO           1236
BOGOTA              7056
BOLIVAR              294
BOYACA               263
CALDAS               418
CAQUETA              335
CASANARE             149
CAUCA               7574
CESAR                259
CHOCO                  1
CORDOBA              633
CUNDINAMARCA        1460
GUAVIARE              10
HUILA                885
LA GUAJIRA           136
MAGDALENA            167
META                 601
NARIÃ‘O             11564
NORTE SANTANDER      501
PUTUMAYO              26
QUINDIO              485
RISARALDA            508
SAN ANDRES             1
SANTANDER            928
SUCRE                 56
TOLIMA               507
VALLE              38086
Name: ESTU_RESIDE_DPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

### Puntajes / TARGETS

In [91]:
"""PERFECT!"""
print(data_2001['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2001['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_BIOLOGIA']))

Float64Index([ 0.0, 15.0, 22.0, 27.0, 30.0, 33.0, 35.0, 37.0, 39.0, 40.0, 42.0,
              43.0, 45.0, 46.0, 47.0, 49.0, 50.0, 51.0, 52.0, 54.0, 55.0, 56.0,
              57.0, 59.0, 60.0, 62.0, 63.0, 65.0, 66.0, 68.0, 71.0, 73.0, 77.0,
              81.0],
             dtype='float64')
0.0        8
15.0      17
22.0      78
27.0     216
30.0     623
33.0    1394
35.0    2618
37.0    4362
39.0    6109
40.0    7608
42.0    8577
43.0    8627
45.0    8138
46.0    6778
47.0    5497
49.0    4282
50.0    3285
51.0    2543
52.0    1906
54.0    1387
55.0    1062
56.0     789
57.0     589
59.0     476
60.0     306
62.0     234
63.0     181
65.0     101
66.0      69
68.0      44
71.0      21
73.0       9
77.0      10
81.0       2
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 77946
__________________
(77946,)
None

In [92]:
"""PERFECT!"""
print(data_2001['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2001['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_MATEMATICAS']))

Float64Index([ 0.0,  1.0,  4.0,  9.0, 13.0, 17.0, 19.0, 22.0, 24.0, 26.0, 28.0,
              30.0, 31.0, 33.0, 35.0, 36.0, 38.0, 39.0, 41.0, 42.0, 44.0, 45.0,
              47.0, 49.0, 50.0, 52.0, 54.0, 56.0, 58.0, 61.0, 64.0, 67.0,
              71.0],
             dtype='float64')
0.0         5
1.0        12
4.0         9
9.0        12
13.0       21
17.0       21
19.0       37
22.0       59
24.0       63
26.0      104
28.0      215
30.0      467
31.0      920
33.0     1598
35.0     2825
36.0     4309
38.0     6618
39.0     8196
41.0     9579
42.0    10130
44.0     9367
45.0     8036
47.0     6093
49.0     4056
50.0     2497
52.0     1459
54.0      676
56.0      334
58.0      130
61.0       60
64.0       23
67.0        7
71.0        4
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 19
__________________
Elementos diferentes de null/NaN: 77942
__________________
(77942,)
None

In [93]:
"""PERFECT!"""
print(data_2001['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2001['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_FILOSOFIA']))

Float64Index([ 0.0,  7.0, 16.0, 21.0, 25.0, 28.0, 31.0, 33.0, 35.0, 37.0, 39.0,
              41.0, 43.0, 44.0, 46.0, 47.0, 49.0, 50.0, 52.0, 53.0, 55.0, 56.0,
              58.0, 59.0, 61.0, 63.0, 64.0, 66.0, 69.0, 71.0, 74.0],
             dtype='float64')
0.0       26
7.0       48
16.0      75
21.0     206
25.0     582
28.0    1137
31.0    2184
33.0    3655
35.0    5269
37.0    6732
39.0    7657
41.0    7977
43.0    7909
44.0    7088
46.0    6022
47.0    5178
49.0    4087
50.0    3095
52.0    2421
53.0    1823
55.0    1339
56.0    1043
58.0     807
59.0     518
61.0     414
63.0     272
64.0     154
66.0      92
69.0      48
71.0      13
74.0      14
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 76
__________________
Elementos diferentes de null/NaN: 77885
__________________
(77885,)
None

In [94]:
"""PERFECT!"""
print(data_2001['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2001['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_FISICA']))

Float64Index([ 0.0, 14.0, 23.0, 29.0, 33.0, 36.0, 39.0, 42.0, 44.0, 46.0, 48.0,
              50.0, 52.0, 53.0, 55.0, 56.0, 58.0, 59.0, 61.0, 63.0, 64.0, 66.0,
              67.0, 69.0, 71.0, 72.0, 74.0, 76.0, 81.0, 84.0],
             dtype='float64')
0.0         8
14.0       20
23.0      125
29.0      549
33.0     1477
36.0     3197
39.0     5924
42.0     8436
44.0    10481
46.0    11257
48.0    10464
50.0     8810
52.0     6432
53.0     4317
55.0     2643
56.0     1609
58.0      874
59.0      526
61.0      315
63.0      200
64.0      110
66.0       70
67.0       42
69.0       34
71.0       11
72.0       16
74.0        4
76.0        5
81.0        2
84.0        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 77959
__________________
(77959,)
None

In [95]:
"""PERFECT!"""
print(data_2001['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2001['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_HISTORIA']))

Float64Index([ 0.0, 14.0, 21.0, 25.0, 28.0, 31.0, 33.0, 35.0, 36.0, 38.0, 39.0,
              41.0, 42.0, 43.0, 44.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 53.0,
              54.0, 55.0, 56.0, 58.0, 59.0, 61.0, 62.0, 64.0, 66.0, 69.0],
             dtype='float64')
0.0        2
14.0      20
21.0      62
25.0     228
28.0     645
31.0    1378
33.0    2577
35.0    4042
36.0    5372
38.0    6607
39.0    7107
41.0    7255
42.0    6749
43.0    6443
44.0    5418
46.0    4778
47.0    3986
48.0    3355
49.0    2819
50.0    2362
51.0    1902
53.0    1557
54.0    1134
55.0     811
56.0     527
58.0     378
59.0     222
61.0     132
62.0      49
64.0      31
66.0       7
69.0       4
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 77959
__________________
(77959,)
None

In [96]:
"""PERFECT!"""
print(data_2001['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2001['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_QUIMICA']))

Float64Index([ 0.0, 16.0, 23.0, 27.0, 30.0, 32.0, 34.0, 36.0, 37.0, 39.0, 40.0,
              42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 51.0, 52.0, 53.0,
              54.0, 55.0, 56.0, 58.0, 59.0, 60.0, 62.0, 64.0, 66.0, 68.0, 71.0,
              75.0, 82.0, 93.0],
             dtype='float64')
0.0        1
16.0       5
23.0      37
27.0     143
30.0     346
32.0     869
34.0    1610
36.0    2777
37.0    4012
39.0    5263
40.0    6448
42.0    7035
43.0    7199
44.0    6884
45.0    6350
46.0    5737
47.0    4776
48.0    3920
49.0    3112
51.0    2467
52.0    2020
53.0    1587
54.0    1275
55.0     957
56.0     768
58.0     610
59.0     507
60.0     377
62.0     306
64.0     203
66.0     160
68.0      94
71.0      50
75.0      37
82.0      11
93.0       3
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 77956
__________________
(77956,)
None

In [97]:
"""PERFECT!"""
print(data_2001['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2001['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_LENGUAJE']))

Float64Index([ 0.0, 13.0, 20.0, 25.0, 28.0, 31.0, 33.0, 35.0, 37.0, 39.0, 41.0,
              42.0, 44.0, 45.0, 46.0, 48.0, 49.0, 50.0, 51.0, 53.0, 54.0, 56.0,
              57.0, 58.0, 60.0, 61.0, 63.0, 65.0, 66.0, 69.0, 71.0],
             dtype='float64')
0.0        6
13.0       3
20.0      16
25.0      71
28.0     222
31.0     509
33.0    1063
35.0    1969
37.0    3108
39.0    4519
41.0    5847
42.0    6981
44.0    7523
45.0    7506
46.0    7261
48.0    6451
49.0    5723
50.0    4809
51.0    3908
53.0    3058
54.0    2417
56.0    1723
57.0    1275
58.0     877
60.0     523
61.0     305
63.0     166
65.0      73
66.0      26
69.0      15
71.0       3
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 77956
__________________
(77956,)
None

In [98]:
"""PERFECT!"""
print(data_2001['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2001['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_GEOGRAFIA']))

Float64Index([  6.0,  14.0,  19.0,  22.0,  25.0,  28.0,  30.0,  32.0,  34.0,
               35.0,  37.0,  38.0,  40.0,  41.0,  43.0,  44.0,  46.0,  47.0,
               48.0,  50.0,  51.0,  53.0,  54.0,  56.0,  57.0,  59.0,  61.0,
               63.0,  65.0,  67.0,  70.0,  74.0,  79.0,  86.0, 100.0],
             dtype='float64')
6.0         6
14.0       12
19.0       35
22.0      100
25.0      250
28.0      587
30.0      956
32.0     1425
34.0     2061
35.0     2665
37.0     3343
38.0     3881
40.0     4308
41.0     4714
43.0     5075
44.0     5209
46.0     5237
47.0     5288
48.0     5163
50.0     4763
51.0     4549
53.0     4212
54.0     3631
56.0     3024
57.0     2367
59.0     1870
61.0     1295
63.0      880
65.0      507
67.0      301
70.0      140
74.0       68
79.0       31
86.0        1
100.0       1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 6
__________________
Elementos diferentes de null/NaN: 77955
__________________
(77955,)
None

Extracolumns

In [100]:
"""PERFECT!"""
print(data_2001['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2001['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2001['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    36805
44    33235
45     7921
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [102]:
"""PERFECT!"""
print(data_2001['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2001['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_INTERDISCIPLINAR']))

Float64Index([ 0.0, 24.0, 31.0, 33.0, 36.0, 40.0, 44.0, 47.0, 49.0, 50.0, 51.0,
              52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0,
              63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 73.0, 77.0,
              79.0, 81.0, 86.0, 91.0],
             dtype='float64')
0.0      262
24.0    1199
31.0    3066
33.0     279
36.0    5129
40.0    6384
44.0    6848
47.0    4766
49.0       5
50.0    3031
51.0    1298
52.0    1739
53.0      11
54.0      28
55.0    1102
56.0    2043
57.0     918
58.0    2108
59.0    5766
60.0    6041
61.0    9796
62.0    6698
63.0    4497
64.0    1489
65.0    1672
66.0     215
67.0      45
68.0       4
69.0     684
70.0       1
71.0      24
73.0     371
77.0     186
79.0       3
81.0      75
86.0      17
91.0       4
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 157
__________________
Elementos diferentes de null/NaN: 77804
__________________
(77804,)
None

In [103]:
"""PERFECT!"""
print(data_2001['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2001['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2001['COD_IDIOMA']))

Int64Index([51, 52, 53], dtype='int64')
51    77279
52      563
53      119
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [104]:
"""PERFECT!"""
print(data_2001['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2001['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_IDIOMA']))

Float64Index([ 0.0, 14.0, 21.0, 24.0, 25.0, 27.0, 28.0, 29.0, 31.0, 33.0, 35.0,
              36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
              47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0,
              58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0,
              69.0, 71.0, 72.0, 74.0, 75.0, 77.0, 79.0, 80.0, 84.0, 86.0, 87.0,
              98.0, 99.0],
             dtype='float64')
0.0       15
14.0      47
21.0     210
24.0       1
25.0     650
27.0       2
28.0       6
29.0    1598
31.0    3323
33.0    5438
35.0    7640
36.0       7
37.0    9041
38.0       4
39.0    9603
40.0    9008
41.0       2
42.0    7489
43.0    5708
44.0    4057
45.0      20
46.0    2869
47.0    1961
48.0    1329
49.0     959
50.0     718
51.0       7
52.0     535
53.0     446
54.0     393
55.0     388
56.0       1
57.0     338
58.0     333
59.0     284
60.0       5
61.0     315
62.0     294
63.0      17
64.0     355
65.0      17
66.0     396
67.0      17
68.0     449
69.0      34
71.0     452
72.0      35
74.0     431
75.0      24
77.0       6
79.0     352
80.0      32
84.0       1
86.0     186
87.0      11
98.0      58
99.0       2
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 42
__________________
Elementos diferentes de null/NaN: 77919
__________________
(77919,)
None

Columns to delete:

In [105]:
data_2001 = data_2001.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis=1)

## Here the next file (2001_1)

In [ ]:
print(data_2001[''].value_counts().sort_index().index)
print(data_2001[''].value_counts().sort_index())
print(missing_data(data_2001['']))

In [ ]:
data_2001[''] = data_2001[''].replace(np.nan, 'NaN')