In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2005 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20051-RGSTRO-CLFCCN-V1-0.txt', delimiter='|',
                       encoding = "iso-8859-1")

In [3]:
data_2005.shape

(72842, 83)

In [4]:
data_2005.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200510000001,SB11200510000002,SB11200510000003
PERIODO,20051,20051,20051
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,M,M,F
ESTU_NACIMIENTO_DIA,2,23,5
ESTU_NACIMIENTO_MES,5,7,11
ESTU_NACIMIENTO_ANNO,1989,1987,1987
ESTU_EDAD,15,17,17
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76400,52585,13001
ESTU_RESIDE_MCPIO,LA UNION,PUPIALES,CARTAGENA
ESTU_RESIDE_DEPTO,VALLE,NARIÃO,BOLÃVAR
ESTU_ZONA_RESIDE,10,10,1
ESTU_COD_MCPIO_PRESENTACION,76400,52585,13001
ESTU_MCPIO_PRESENTACION,LA UNION,PUPIALES,CARTAGENA
ESTU_DEPTO_PRESENTACION,VALLE,NARIÃO,BOLÃVAR
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO NUEVO (2005),EXAMEN DE ESTADO NUEVO (2005),EXAMEN DE ESTADO NUEVO (2005)
IND_ESTUDIO_BACHILLERATO,NaN,NaN,NaN
IND_ANNO_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,NaN,NaN,NaN
COLE_COD_ICFES,26864,11783,27011
COLE_COD_DANE_INSTITUCION,176400000019,152585000161,313836000348
...,...,...,...
FAMI_COMPUTADOR,NaN,NaN,NaN
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
COLE_VALOR_PENSION,1,1,7
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1101,2849,1205
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD NACIONAL DE COLOMBIA,CORPORACION UNIVERSITARIA AUTONOMA DEL CAUCA,UNIVERSIDAD DE CARTAGENA
ESTU_IES_COD_MPIO_DESEADA,11001,19001,13001
ESTU_IES_MPIO_DESEADA,BOGOTÃ D.C.,POPAYAN,CARTAGENA
ESTU_IES_DEPT_DESEADA,BOGOTÃ,CAUCA,BOLÃVAR
ESTU_RAZONINSTITUTO,6,5,3
ESTU_CARRDESEADA_COD,1882,143,10998
ESTU_CARRDESEADA_RAZON,1,3,2
PUNT_BIOLOGIA,"54,35","50,79","68,33"
PUNT_MATEMATICAS,"51,21","48,38","67,18"
PUNT_FILOSOFIA,"47,37","49,57","58,37"
PUNT_FISICA,"58,83","51,8","63,44"
PUNT_HISTORIA,"46,47","38,99","57,66"
PUNT_QUIMICA,"55,15","48,67","56,89"
PUNT_LENGUAJE,"50,26","45,91","66,73"
PUNT_GEOGRAFIA,"44,65","42,68","40,62"
NOMBRE_IDIOMA,INGLÃS,INGLÃS,INGLÃS
PUNT_IDIOMA,"52,89","31,08","83,1"
DESEMP_IDIOMA,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÃN EN MATEMÃTICA,PROFUNDIZACIÃN EN LENGUAJE,PROFUNDIZACIÃN EN BIOLOGÃA
PUNT_PROFUNDIZACION,"5,03","5,14","5,23"
DESEMP_PROFUNDIZACION,I,I,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"53,43","51,54","48,86"
ESTU_PUESTO,147,432,10

Delete the columns that won't contribute to the work

In [5]:
"""For now, this will be the columns deleted, but later could be more"""
data_2005 = data_2005.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_IES_DESEADA_NOMBRE',
                            'ESTU_IES_MPIO_DESEADA'], axis=1)

In [6]:
print(data_2005['ESTU_PAIS_RESIDE'].value_counts().sort_index().index)
print(data_2005['ESTU_PAIS_RESIDE'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_PAIS_RESIDE']))

Index(['BE', 'BO', 'BR', 'CO', 'CU', 'DE', 'EC', 'ES', 'FR', 'GH', 'MX', 'US',
       'VE', 'ZW'],
      dtype='object')
BE        1
BO        1
BR        1
CO    72801
CU        1
DE        4
EC        6
ES        2
FR        1
GH        1
MX        2
US       11
VE        2
ZW        1
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 7
__________________
Elementos diferentes de null/NaN: 72835
__________________
(72835,)
None

In [7]:
print(data_2005['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2005['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    38878
M    33964
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [8]:
print(data_2005['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2005['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2442
2.0     2430
3.0     2417
4.0     2408
5.0     2458
6.0     2358
7.0     2341
8.0     2443
9.0     2491
10.0    2489
11.0    2329
12.0    2481
13.0    2302
14.0    2224
15.0    2435
16.0    2372
17.0    2358
18.0    2364
19.0    2477
20.0    2549
21.0    2404
22.0    2390
23.0    2354
24.0    2336
25.0    2309
26.0    2362
27.0    2356
28.0    2487
29.0    2189
30.0    2254
31.0    1231
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 72840
__________________
(72840,)
None

In [9]:
print(data_2005['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2005['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     6034
2.0     5428
3.0     5976
4.0     6058
5.0     6124
6.0     5859
7.0     6350
8.0     6334
9.0     6521
10.0    6234
11.0    5932
12.0    5990
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 72840
__________________
(72840,)
None

In [10]:
print(data_2005['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2005['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_NACIMIENTO_ANNO']))

Float64Index([1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0,
              1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0,
              1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0,
              1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0,
              1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0,
              1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0],
             dtype='float64')
1940.0        5
1941.0        1
1942.0        4
1943.0        1
1944.0        5
1945.0        5
1946.0        4
1947.0       10
1948.0        9
1949.0       18
1950.0       12
1951.0       12
1952.0       22
1953.0       23
1954.0       16
1955.0       25
1956.0       25
1957.0       46
1958.0       53
1959.0       58
1960.0       53
1961.0       53
1962.0       76
1963.0       84
1964.0       88
1965.0      162
1966.0      158
1967.0      214
1968.0      236
1969.0      160
1970.0      160
1971.0      171
1972.0      219
1973.0      222
1974.0      215
1975.0      265
1976.0      254
1977.0      298
1978.0      370
1979.0      451
1980.0      619
1981.0      716
1982.0      924
1983.0     1177
1984.0     2030
1985.0     4317
1986.0     9164
1987.0    16516
1988.0    24033
1989.0     7575
1990.0      633
1991.0      229
1992.0      176
1993.0      127
1994.0      341
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 72840
__________________
(72840,)
None

In [11]:
print(data_2005['ESTU_EDAD'].value_counts().sort_index().index)
print(data_2005['ESTU_EDAD'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_EDAD']))

Int64Index([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
            27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
            44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
            61, 62, 63, 64, 65],
           dtype='int64')
10      240
11      181
12      161
13      219
14      434
15     3694
16    21547
17    19099
18    11109
19     5382
20     2561
21     1382
22      961
23      790
24      643
25      504
26      370
27      329
28      276
29      244
30      243
31      221
32      215
33      187
34      162
35      147
36      227
37      224
38      178
39      158
40      108
41       82
42       87
43       54
44       54
45       58
46       53
47       46
48       33
49       24
50       20
51       11
52       31
53       15
54       11
55       21
56        7
57       13
58        4
59        4
60        5
61        3
62        3
63        2
64        1
65        4
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [12]:
print(data_2005['ESTU_LIMITA_BAJAVISION'].value_counts().sort_index().index)
print(data_2005['ESTU_LIMITA_BAJAVISION'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_LIMITA_BAJAVISION']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [13]:
data_2005 = data_2005.drop(['ESTU_LIMITA_BAJAVISION'], axis=1)

In [14]:
print(data_2005['ESTU_LIMITA_SORDOCEGUERA'].value_counts().sort_index().index)
print(data_2005['ESTU_LIMITA_SORDOCEGUERA'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_LIMITA_SORDOCEGUERA']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [15]:
data_2005 = data_2005.drop(['ESTU_LIMITA_SORDOCEGUERA'], axis=1)

In [16]:
print(data_2005['ESTU_LIMITA_COGNITIVA'].value_counts().sort_index().index)
print(data_2005['ESTU_LIMITA_COGNITIVA'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_LIMITA_COGNITIVA']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [17]:
data_2005 = data_2005.drop(['ESTU_LIMITA_COGNITIVA'], axis=1)

In [18]:
print(data_2005['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2005['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_LIMITA_INVIDENTE']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [19]:
data_2005 = data_2005.drop(['ESTU_LIMITA_INVIDENTE'], axis=1)

In [20]:
print(data_2005['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2005['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_LIMITA_MOTRIZ']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [21]:
data_2005 = data_2005.drop(['ESTU_LIMITA_MOTRIZ'], axis=1)

In [22]:
print(data_2005['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2005['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_LIMITA_SORDOINTERPRETE']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [23]:
data_2005 = data_2005.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis=1)

In [24]:
print(data_2005['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2005['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_LIMITA_SORDONOINTERPRETE']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [25]:
data_2005 = data_2005.drop(['ESTU_LIMITA_SORDONOINTERPRETE'], axis=1)

In [26]:
print(data_2005['ESTU_COD_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2005['ESTU_COD_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_COD_RESIDE_MCPIO']))

Int64Index([ 5001,  5021,  5042,  5045,  5079,  5088,  5093,  5120,  5129,
             5148,
            ...
            81794, 85001, 85010, 85125, 85139, 85225, 85410, 85440, 86568,
            86865],
           dtype='int64', length=375)
5001     1379
5021        5
5042       19
5045       75
5079        1
5088      140
5093       21
5120        6
5129       23
5148       37
5154       64
5172       22
5197        1
5212       13
5237        2
5240        7
5250        3
5266      178
5308        2
5315        1
5321        6
5347        7
5360       76
5361       43
5376       10
5380       13
5390        1
5440       16
5467        2
5483        4
         ...
76497     123
76520    3278
76563     537
76606     143
76616     164
76622     484
76670     142
76736     431
76823     183
76828     152
76834    2393
76845      29
76863      68
76869      81
76890     122
76892     812
76895     455
81001      11
81220       2
81736       1
81794      25
85001     143
85010      10
85125      12
85139       2
85225       1
85410       5
85440       1
86568      72
86865       2
Name: ESTU_COD_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [27]:
"""There is a column with the name of the MCPIO"""
data_2005 = data_2005.drop(['ESTU_COD_RESIDE_MCPIO'], axis=1)

In [28]:
print(data_2005['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2005['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_RESIDE_MCPIO']))

Index(['ACEVEDO', 'AGRADO', 'AGUA DE DIOS', 'AGUAZUL', 'AGUSTIN CODAZZI',
       'AIPE', 'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA',
       ...
       'VILLETA', 'VISTA HERMOSA', 'YACUANQUER', 'YAGUARA', 'YARUMAL', 'YOPAL',
       'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=367)
ACEVEDO                         9
AGRADO                          4
AGUA DE DIOS                   34
AGUAZUL                        10
AGUSTIN CODAZZI                12
AIPE                            1
ALBAN (SAN JOSE)               83
ALBANIA                        51
ALCALA                        128
ALDANA                         63
ALEJANDRIA                      5
ANAPOIMA                        2
ANCUYA                         54
ANDALUCIA                     212
ANSERMANUEVO                  149
APARTADO                       75
APIA                           29
ARAUCA                         11
ARBOLEDA (BERRUECOS)           75
ARGELIA                        46
ARMENIA                       201
ARMERO (GUAYABAL)               2
ATACO                           7
BARANOA                         5
BARBACOAS                     102
BARBOSA                         1
BARRANCABERMEJA                 2
BARRANQUILLA                  428
BELEN                          69
BELEN DE LOS ANDAQUIES         26
                             ...
TUMACO                       1135
TUNJA                          83
TUQUERRES                     374
TURBACO                        23
TURBO                          10
UBALA                           1
UBATE                          51
ULLOA                          29
UNE                             1
VALENCIA                       46
VALLEDUPAR                    120
VELEZ                           8
VERSALLES                      68
VIJES                          81
VILLA DEL ROSARIO               9
VILLA GUAMEZ (LA HORMIGA)       2
VILLA RICA                      3
VILLAMARIA                      9
VILLANUEVA                      2
VILLAVICENCIO                 299
VILLETA                        32
VISTA HERMOSA                   1
YACUANQUER                     75
YAGUARA                         5
YARUMAL                         1
YOPAL                         143
YOTOCO                        122
YUMBO                         812
ZARZAL                        455
ZIPAQUIRA                      95
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [29]:
print(data_2005['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2005['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_RESIDE_DEPTO']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ',
       'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SANTANDER', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2389
ARAUCA                39
ATLÃNTICO           464
BOGOTÃ             6781
BOLÃVAR             289
BOYACÃ              317
CALDAS               423
CAQUETÃ             160
CASANARE             174
CAUCA               1126
CESAR                133
CHOCÃ                31
CUNDINAMARCA        1434
CÃRDOBA              93
HUILA                305
LA GUAJIRA           107
MAGDALENA             60
META                 315
NARIÃO            13432
NORTE SANTANDER      607
PUTUMAYO              74
QUINDÃO             302
RISARALDA            479
SANTANDER            741
TOLIMA               510
VALLE              42057
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [30]:
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('ATLÃNTICO', 'ATLANTICO')
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('BOGOTÃ', 'BOGOTA')
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('BOLÃVAR', 'BOLIVAR')
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('BOYACÃ', 'BOYACA')
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('CAQUETÃ', 'CAQUETA')
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('CHOCÃ', 'CHOCO')
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('CÃRDOBA', 'CORDOBA')
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('NARIÃO', 'NARIÑO')
data_2005['ESTU_RESIDE_DEPTO'] = data_2005['ESTU_RESIDE_DEPTO'].replace('QUINDÃO', 'QUINDIO')

In [31]:
print(data_2005['ESTU_ZONA_RESIDE'].value_counts().sort_index().index)
print(data_2005['ESTU_ZONA_RESIDE'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_ZONA_RESIDE']))

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')
1      6769
2      2399
3      1619
4      6714
5      1677
6      3259
7      4263
8      1759
9      2083
10    42300
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [32]:
print(data_2005['ESTU_COD_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2005['ESTU_COD_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_COD_MCPIO_PRESENTACION']))

Int64Index([ 5001,  5045,  5088,  5154,  5495,  5615,  5686,  8001, 11001,
            13001,
            ...
            76823, 76828, 76834, 76892, 76895, 81001, 81794, 85001, 86001,
            86568],
           dtype='int64', length=126)
5001     1857
5045      112
5088      164
5154       74
5495       42
5615      107
5686       33
8001      464
11001    6821
13001     245
13430      22
15001     145
15759     154
17001     361
17380      88
18001     159
19001     847
19142      10
19455       3
19532       9
19548      44
19573      43
19698     146
19807      10
20001     132
20011      12
23001      61
23417       1
23466      14
23807      11
         ...
76041     127
76100     111
76109    2622
76111    1469
76113     354
76122     312
76126     125
76130     727
76147    1734
76233     213
76248     697
76275     535
76306     236
76364     943
76400     540
76520    3551
76563     542
76606     149
76622     540
76736     427
76823     186
76828     202
76834    2493
76892     912
76895     491
81001      11
81794      26
85001     175
86001       4
86568      67
Name: ESTU_COD_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [33]:
data_2005 = data_2005.drop(['ESTU_COD_MCPIO_PRESENTACION'], axis=1)

In [34]:
print(data_2005['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2005['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_MCPIO_PRESENTACION']))

Index(['AGUACHICA', 'ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO',
       'APARTADO', 'ARAUCA', 'ARBOLEDA (BERRUECOS)', 'ARMENIA', 'BARBACOAS',
       ...
       'TUNJA', 'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=125)
AGUACHICA                    12
ALBANIA                      51
ALCALA                      164
ANDALUCIA                   350
ANSERMANUEVO                127
APARTADO                    112
ARAUCA                       11
ARBOLEDA (BERRUECOS)         32
ARMENIA                     281
BARBACOAS                   150
BARRANCABERMEJA               3
BARRANQUILLA                464
BELEN                        13
BELLO                       164
BOGOTÃ D.C.               6821
BOLIVAR                     111
BUCARAMANGA                 686
BUENAVENTURA               2622
BUESACO                     171
BUGA                       1469
BUGALAGRANDE                354
CAICEDONIA                  312
CALI                      21326
CALIMA (DARIEN)             125
CALOTO                       10
CAMPOALEGRE                  11
CANDELARIA                  727
CARTAGENA                   245
CARTAGO                    1734
CAUCASIA                     74
                          ...
SAN MARTIN                    1
SAN PABLO                   181
SAN PEDRO DE CARTAGO         15
SANDONA                     253
SANTA MARTA                  54
SANTA ROSA DE OSOS           33
SANTANDER DE QUILICHAO      146
SEVILLA                     427
SINCELEJO                    10
SOACHA                      298
SOGAMOSO                    154
TAME                         26
TAMINANGO                   142
TANGUA                       57
TIERRALTA                    11
TIMBIO                       10
TORO                        186
TRUJILLO                    202
TULUA                      2493
TUMACO                     1274
TUNJA                       145
TUQUERRES                   486
UBATE                        97
VALLEDUPAR                  132
VELEZ                         8
VILLAVICENCIO               328
YOPAL                       175
YUMBO                       912
ZARZAL                      491
ZIPAQUIRA                   114
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [35]:
print(data_2005['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2005['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_DEPTO_PRESENTACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ',
       'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÃO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2389
ARAUCA                37
ATLÃNTICO           464
BOGOTÃ             6821
BOLÃVAR             267
BOYACÃ              299
CALDAS               449
CAQUETÃ             159
CASANARE             175
CAUCA               1112
CESAR                144
CHOCÃ                31
CUNDINAMARCA        1404
CÃRDOBA              87
HUILA                300
LA GUAJIRA           107
MAGDALENA             58
META                 329
NARIÃO            13446
NORTE SANTANDER      605
PUTUMAYO              71
QUINDÃO             305
RISARALDA            474
SANTANDER            745
SUCRE                 10
TOLIMA               476
VALLE              42078
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [36]:
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('ATLÃNTICO', 'ATLANTICO')
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('BOGOTÃ', 'BOGOTA')
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('BOLÃVAR', 'BOLIVAR')
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('BOYACÃ', 'BOYACA')
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('CAQUETÃ', 'CAQUETA')
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('CHOCÃ', 'CHOCO')
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('CÃRDOBA', 'CORDOBA')
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('NARIÃO', 'NARIÑO')
data_2005['ESTU_DEPTO_PRESENTACION'] = data_2005['ESTU_DEPTO_PRESENTACION'].replace('QUINDÃO', 'QUINDIO')

In [37]:
print(data_2005['ESTU_EXAM_NOMBREEXAMEN'].value_counts().sort_index().index)
print(data_2005['ESTU_EXAM_NOMBREEXAMEN'].value_counts().sort_index())
print(missing_data(data_2005['ESTU_EXAM_NOMBREEXAMEN']))

Index(['EXAMEN DE ESTADO NUEVO (2005)'], dtype='object')
EXAMEN DE ESTADO NUEVO (2005)    72842
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [38]:
data_2005 = data_2005.drop(['ESTU_EXAM_NOMBREEXAMEN'], axis=1)

In [39]:
print(data_2005['IND_ESTUDIO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2005['IND_ESTUDIO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2005['IND_ESTUDIO_BACHILLERATO']))

Float64Index([], dtype='float64')
Series([], Name: IND_ESTUDIO_BACHILLERATO, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [40]:
data_2005 = data_2005.drop(['IND_ESTUDIO_BACHILLERATO'], axis=1)

In [41]:
print(data_2005['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2005['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2005['IND_ANNO_TERMINO_BACHILLERATO']))

Float64Index([], dtype='float64')
Series([], Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [42]:
data_2005 = data_2005.drop(['IND_ANNO_TERMINO_BACHILLERATO'], axis=1)

In [43]:
print(data_2005['IND_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2005['IND_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2005['IND_TERMINO_BACHILLERATO']))

Float64Index([], dtype='float64')
Series([], Name: IND_TERMINO_BACHILLERATO, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [44]:
data_2005 = data_2005.drop(['IND_TERMINO_BACHILLERATO'], axis=1)

In [45]:
print(data_2005['IND_COD_ICFES_TERMINO'].value_counts().sort_index().index)
print(data_2005['IND_COD_ICFES_TERMINO'].value_counts().sort_index())
print(missing_data(data_2005['IND_COD_ICFES_TERMINO']))

Float64Index([], dtype='float64')
Series([], Name: IND_COD_ICFES_TERMINO, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [46]:
data_2005 = data_2005.drop(['IND_COD_ICFES_TERMINO'], axis=1)

In [47]:
print(data_2005['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2005['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2005['COLE_COD_ICFES']))

Int64Index([   182,    638,   1503,   3145,   3327,   3418,   3459,   3483,
              4234,   6775,
            ...
            118885, 118919, 119149, 119388, 119420, 119446, 119669, 119693,
            119826, 119859],
           dtype='int64', length=1717)
182        76
638       101
1503       10
3145       11
3327       14
3418       52
3459       78
3483       13
4234       46
6775       21
6981        5
7013       74
7054        1
7070      114
7088       47
8581       51
9589       27
9696       20
9985        4
10199       4
10298      33
10967      23
11213     272
11239      84
11254      36
11262      53
11270     189
11288     115
11296     236
11312     168
         ...
118265      9
118307     20
118315     29
118323      7
118356     11
118364     12
118414     16
118422     23
118448     38
118471      9
118489     17
118505     41
118547      8
118554      6
118570     17
118729     21
118737     24
118745     27
118802     38
118844     93
118885     70
118919     22
119149      7
119388     10
119420     22
119446      6
119669      5
119693     18
119826      3
119859      8
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [48]:
print(data_2005['COLE_COD_DANE_INSTITUCION'].value_counts().sort_index().index)
print(data_2005['COLE_COD_DANE_INSTITUCION'].value_counts().sort_index())
print(missing_data(data_2005['COLE_COD_DANE_INSTITUCION']))

Index(['            ', '010500103391', '014100104742', '021383600208',
       '031500100024', '034100105808', '051100116867', '105001000566',
       '105001003387', '105001003395',
       ...
       '576001091472', '576622134546', '625214000001', '625269000082',
       '625286000041', '625473000055', '818001100015', '818001100022',
       '841006000001', '841551000001'],
      dtype='object', length=1477)
                1576
010500103391     134
014100104742      22
021383600208      23
031500100024       9
034100105808      17
051100116867      41
105001000566      18
105001003387      31
105001003395      76
105001012106      31
105001014397      25
105042000732      12
105045001683      46
105088000532      15
105088001415      18
105088002993      29
105129000534      10
105154000301      65
105361000443      43
105376000440      10
105495000024      42
105541000026      14
105631000491      62
108001004617      13
111001001538      14
111001009971      89
111001010251      43
111001010839      22
111001011029      23
                ...
476130000813      10
476130000902      22
476130000961      12
476130001186      22
476233002003      11
476248000478      98
476248000877       8
476248032012      19
476892001183       7
476892099710      21
476892099728       7
476895000382      43
519001000002      67
519698000006       5
525899000016      24
541548000100       7
552356000068      51
568001009690     171
568001009700      36
568432001300      16
576001091472      36
576622134546       6
625214000001      23
625269000082      42
625286000041     106
625473000055      15
818001100015      11
818001100022      27
841006000001       9
841551000001       7
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [49]:
data_2005['COLE_COD_DANE_INSTITUCION'] = data_2005['COLE_COD_DANE_INSTITUCION'].replace('            ', np.nan)
for i in data_2005['COLE_COD_DANE_INSTITUCION'].value_counts().sort_index().index:
    if type(i) == str:
        data_2005['COLE_COD_DANE_INSTITUCION'] = data_2005['COLE_COD_DANE_INSTITUCION'].replace(i, int(i))

In [50]:
print(data_2005['COLE_NOMBRE_SEDE'].value_counts().sort_index().index)
print(data_2005['COLE_NOMBRE_SEDE'].value_counts().sort_index())
print(missing_data(data_2005['COLE_NOMBRE_SEDE']))

Index([' COL FUND STA ISABEL DE HUNGRIA', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' FUND COL PAR SAN PEDRO CLAVER',
       '07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM',
       '20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO',
       '28/01 INSTITUCIÃN EDUCATIVA SANTA FE',
       '32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI',
       '38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO',
       '39/01 INSTITUCION EDUCATIVA BOYACA',
       '41/01 INSTITUCION EDUCATIVA VILLA DEL SUR',
       ...
       'SUSANA LOPEZ DE VALENCIA', 'TABLONES',
       'TECNOLÃGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB',
       'TERESA CALDERÃN DE LASSO',
       'TÃCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL',
       'UNIDAD TECNOLOGICA DE OCCIDENTE', 'UNIDAD TECNOLOGICA DEL SUR',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA',
       'XINSTITUTO TECNICO COMERCIAL PILOTO'],
      dtype='object', length=1547)
 COL FUND STA ISABEL DE HUNGRIA                                                                         760
 ESCUELA URBANA JOSE ANTONIO GALAN                                                                       30
 FUND COL PAR SAN PEDRO CLAVER                                                                           80
07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM                                                           770
20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO                                                             56
28/01 INSTITUCIÃN EDUCATIVA SANTA FE                                                                    82
32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI                                            209
38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO                                                      98
39/01 INSTITUCION EDUCATIVA BOYACA                                                                       68
41/01 INSTITUCION EDUCATIVA VILLA DEL SUR                                                               128
44/01 INSTITUCIÃN EDUCATIVA COMERCIAL CIUDAD DE CALI                                                   210
69/01 INSTITUCION EDUCATIVA LA ESPERANZA                                                                 14
74/01 INSTITUCION EDUCATIVA JUANA DE CAICEDO Y CUERO                                                     21
80/01 INSTITUCIÃN EDUCATIVA PANCE                                                                       12
81/02 INSTITUCION EDUCATIVA LA BUITRERA JOSE MARIA GARCIA DE TOLED                                       35
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                                                    9
ABSALON TORRES CAMACHO                                                                                   66
ACAD CENTRAL DE SISTEMAS ACSI                                                                            58
ACADE MILIT JOAQUÃN DE CAICEDO Y CUERO                                                                  18
ACADEMIA ACADEMIA SAM                                                                                    38
ACADEMIA COLOMBIANA DE ENSEÃANZA                                                                        13
ACADEMIA COMERCIAL REAL                                                                                  60
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                                                18
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                                                               26
ACADEMIA MILITAR GENERAL JOSÃ MARÃA CABAL                                                              50
AGRICOLA CAMPOALEGRE                                                                                     37
AGRICOLA PRESBITERO HORACIO GOMEZ GALLO                                                                  45
AGROTECNICO MIXTO                                                                                        27
ALFONSO LOPEZ PUMAREJO                                                                                  251
ALFONSO ZAWADZKY                                                                                        114
                                                                                                       ...
SEDE PRINCIPAL CONCENTRACIÃN DE DESARROLLO RURAL                                                        33
SEDE PRINCIPAL GIMNASIO DEL PACIFICO CENTRAL                                                            385
SEDE PRINCIPAL INSTITUTO JULIA RESTREPO                                                                 242
SEDE PRINCIPAL INSTITUTO TEC.  INDUSTRIAL C.S.L.                                                        224
SEDE PRINCIPAL LA GRACIELA                                                                               81
SEDE PRINCIPAL LICEO MODERNO                                                                            180
SEDE PRINCIPAL NO. 7 MARIA ANTONIA RUIZ                                                                  39
SEDE PRINCIPAL UNIDAD DOCENTE JOVITA SANTA COLOMA                                                        78
SEM DE CRISTO SACERDOTE                                                                                  36
SEMILLA DE LA ESPERANZA                                                                                  15
SEMINARIO MENOR ARQUIDIOCESANO                                                                           74
SEMINARIO SAN BUENAVENTURA                                                                               53
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                                                                138
SEVILLA                                                                                                 198
SIMON BOLIVAR                                                                                           183
SIMON RODRIGUEZ                                                                                          48
SIXTO MARIA ROJAS                                                                                        23
SOC ESCUELA KARL C PARRISH                                                                               52
SOCIEDAD ESTUDIANTIL RENOVAR  LIMITADA                                                                    6
SOR MARIA JULIANA                                                                                       194
SUSANA LOPEZ DE VALENCIA                                                                                 28
TABLONES                                                                                                 25
TECNOLÃGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB                                           23
TERESA CALDERÃN DE LASSO                                                                                26
TÃCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL                                              163
UNIDAD TECNOLOGICA DE OCCIDENTE                                                                          22
UNIDAD TECNOLOGICA DEL SUR                                                                               18
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                                                    59
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                               24
XINSTITUTO TECNICO COMERCIAL PILOTO                                                                       4
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [51]:
"""The column COLE_NOMBRE_SEDE was deleted in previous files."""
data_2005 = data_2005.drop(['COLE_NOMBRE_SEDE'], axis=1)

In [52]:
print(data_2005['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2005['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2005['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A    41013
B    13425
F    18404
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [53]:
print(data_2005['COLE_GENERO'].value_counts().sort_index().index)
print(data_2005['COLE_GENERO'].value_counts().sort_index())
print(missing_data(data_2005['COLE_GENERO']))

Index(['F', 'M', 'X'], dtype='object')
F     4690
M     1238
X    66914
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [54]:
data_2005['COLE_GENERO'] = data_2005['COLE_GENERO'].replace('X', np.nan)

In [55]:
print(data_2005['COLE_NATURALEZA'].value_counts().sort_index().index)
print(data_2005['COLE_NATURALEZA'].value_counts().sort_index())
print(missing_data(data_2005['COLE_NATURALEZA']))

Index(['N', 'O'], dtype='object')
N    32799
O    40043
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [56]:
print(data_2005['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2005['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2005['COLE_BILINGUE']))

Int64Index([0, 1], dtype='int64')
0    68725
1     4117
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

From here i do one change to do the code easier

In [57]:
c = 'COLE_JORNADA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['COMPLETA U ORDINARIA', 'MAÃANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    10293
MAÃANA                 41490
NOCHE                    9492
SABATINA - DOMINICAL     3376
TARDE                    8191
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [58]:
data_2005['COLE_JORNADA'] = data_2005['COLE_JORNADA'].replace('MAÃANA', 'MAÑANA')

In [59]:
c = 'COLE_CARACTER'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              38677
ACADEMICO Y TECNICO    13203
NORMALISTA              1450
TECNICO                19512
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [60]:
c = 'ESTU_ETNIA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1.0     2646
2.0       21
3.0      127
4.0        6
5.0        3
6.0        8
7.0        8
8.0       16
9.0       28
10.0       9
11.0     755
12.0      17
13.0      24
14.0       4
15.0       8
16.0       7
99.0    1330
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 67825
__________________
Elementos diferentes de null/NaN: 5017
__________________
(5017,)
None

In [61]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [62]:
data_2005 = data_2005.drop(['FAMI_LEE_ESCRIBE_PADRE'], axis=1)

In [63]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [64]:
data_2005 = data_2005.drop(['FAMI_LEE_ESCRIBE_MADRE'], axis=1)

In [65]:
c = 'FAMI_EDUCA_PADRE'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_EDUCA_PADRE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [66]:
data_2005 = data_2005.drop(['FAMI_EDUCA_PADRE'], axis=1)

In [67]:
c = 'FAMI_EDUCA_MADRE'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_EDUCA_MADRE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [68]:
data_2005 = data_2005.drop(['FAMI_EDUCA_MADRE'], axis=1)

In [69]:
c = 'FAMI_OCUPA_PADRE'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_OCUPA_PADRE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [70]:
data_2005 = data_2005.drop(['FAMI_OCUPA_PADRE'], axis=1)

In [71]:
c = 'FAMI_OCUPA_MADRE'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_OCUPA_MADRE, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [72]:
data_2005 = data_2005.drop(['FAMI_OCUPA_MADRE'], axis=1)

In [73]:
c = 'FAMI_NUM_HERMANOS'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_NUM_HERMANOS, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [74]:
data_2005 = data_2005.drop(['FAMI_NUM_HERMANOS'], axis=1)

In [75]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_EDUCA_HERMANO, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [76]:
data_2005 = data_2005.drop(['FAMI_EDUCA_HERMANO'], axis=1)

In [77]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [78]:
data_2005 = data_2005.drop(['FAMI_HERMANOS_ESTUDIAN'], axis=1)

In [79]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_ESTRATO_VIVIENDA, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [80]:
data_2005 = data_2005.drop(['FAMI_ESTRATO_VIVIENDA'], axis=1)

In [81]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_NIVEL_SISBEN, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [82]:
data_2005 = data_2005.drop(['FAMI_NIVEL_SISBEN'], axis=1)

In [83]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_PERSONAS_HOGAR, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [84]:
data_2005 = data_2005.drop(['FAMI_PERSONAS_HOGAR'], axis=1)

In [85]:
c = 'FAMI_PISOSHOGAR'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_PISOSHOGAR, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [86]:
data_2005 = data_2005.drop(['FAMI_PISOSHOGAR'], axis=1)

In [87]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_CUARTOS_HOGAR, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [88]:
data_2005 = data_2005.drop(['FAMI_CUARTOS_HOGAR'], axis=1)

In [89]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_DORMITORIOS_HOGAR, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [90]:
data_2005 = data_2005.drop(['FAMI_DORMITORIOS_HOGAR'], axis=1)

In [91]:
c = 'FAMI_COMPUTADOR'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_COMPUTADOR, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [92]:
data_2005 = data_2005.drop(['FAMI_COMPUTADOR'], axis=1)

In [93]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [94]:
data_2005 = data_2005.drop(['FAMI_INGRESO_FMILIAR_MENSUAL'], axis=1)

In [95]:
c = 'COLE_VALOR_PENSION'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Int64Index([0, 1, 2, 3, 4, 5, 6, 7], dtype='int64')
0    30838
1    12749
2     7840
3     5994
4     4356
5     3380
6     2523
7     5162
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [96]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_CARRDESEADA_TIPO, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [97]:
data_2005 = data_2005.drop(['ESTU_CARRDESEADA_TIPO'], axis=1)

In [98]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [99]:
data_2005 = data_2005.drop(['ESTU_CARRDESEADA_NUCLEO'], axis=1)

In [100]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1110.0, 1111.0,
              ...
              4705.0, 4810.0, 4811.0, 4826.0, 5801.0, 5802.0, 9103.0, 9104.0,
              9105.0, 9107.0],
             dtype='float64', length=201)
1101.0     3567
1102.0      182
1103.0      155
1104.0      696
1105.0      226
1106.0      134
1107.0       13
1108.0       56
1110.0     1411
1111.0      844
1112.0      302
1113.0       47
1114.0      129
1115.0      111
1117.0       55
1118.0       38
1119.0      148
1120.0       41
1121.0       32
1122.0      220
1123.0        1
1125.0        3
1201.0     1516
1202.0       57
1203.0    24344
1204.0      210
1205.0       62
1206.0     6135
1207.0      163
1208.0      552
          ...
2832.0       39
2833.0       58
2834.0       22
2836.0        2
2837.0       12
2838.0       92
2839.0        6
2840.0        2
2842.0        1
2847.0       38
2848.0       52
2849.0       52
2901.0       23
2902.0       18
2903.0        7
3102.0        3
3103.0       19
3204.0       55
3826.0       25
4111.0        2
4705.0        3
4810.0       52
4811.0      157
4826.0       28
5801.0       21
5802.0       10
9103.0      346
9104.0      434
9105.0       50
9107.0       41
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 12348
__________________
Elementos diferentes de null/NaN: 60494
__________________
(60494,)
None

In [101]:
c = 'ESTU_IES_COD_MPIO_DESEADA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([ 5001.0,  5034.0,  5045.0,  5129.0,  5148.0,  5154.0,  5266.0,
               5579.0,  5615.0,  5631.0,  5686.0,  5837.0,  8001.0, 11001.0,
              13001.0, 15001.0, 15238.0, 15759.0, 17001.0, 18001.0, 19001.0,
              19573.0, 20001.0, 20011.0, 23001.0, 25175.0, 25269.0, 25290.0,
              25307.0, 25843.0, 27001.0, 41001.0, 44001.0, 47001.0, 47189.0,
              50001.0, 52001.0, 54001.0, 54498.0, 54518.0, 63001.0, 66001.0,
              66682.0, 68001.0, 68081.0, 68679.0, 68755.0, 70001.0, 73001.0,
              73268.0, 76001.0, 76109.0, 76520.0, 76834.0, 85001.0, 91001.0],
             dtype='float64')
5001.0      2601
5034.0         5
5045.0         1
5129.0         9
5148.0         9
5154.0        48
5266.0        11
5579.0         1
5615.0        47
5631.0         4
5686.0         6
5837.0        28
8001.0       334
11001.0    10696
13001.0      207
15001.0      152
15238.0       13
15759.0       56
17001.0      810
18001.0      111
19001.0     1475
19573.0        5
20001.0       41
20011.0        1
23001.0       50
25175.0      180
25269.0        7
25290.0      118
25307.0       88
25843.0       40
27001.0       38
41001.0      165
44001.0        1
47001.0       36
47189.0        2
50001.0      171
52001.0     6646
54001.0      243
54498.0        6
54518.0       57
63001.0      628
66001.0     1134
66682.0       38
68001.0      464
68081.0        2
68679.0       44
68755.0        2
70001.0       16
73001.0      300
73268.0        3
76001.0    30976
76109.0      220
76520.0      704
76834.0     1429
85001.0       12
91001.0        3
Name: ESTU_IES_COD_MPIO_DESEADA, dtype: int64
Elementos null/NaN 12348
__________________
Elementos diferentes de null/NaN: 60494
__________________
(60494,)
None

In [102]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR', 'BOYACÃ',
       'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'QUINDÃO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               3
ANTIOQUIA           2770
ATLÃNTICO           334
BOGOTÃ            10696
BOLÃVAR             207
BOYACÃ              221
CALDAS               810
CAQUETÃ             111
CASANARE              12
CAUCA               1480
CESAR                 42
CHOCÃ                38
CUNDINAMARCA         433
CÃRDOBA              50
HUILA                165
LA GUAJIRA             1
MAGDALENA             38
META                 171
NARIÃO             6646
NORTE SANTANDER      306
QUINDÃO             628
RISARALDA           1172
SANTANDER            512
SUCRE                 16
TOLIMA               303
VALLE              33329
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 12348
__________________
Elementos diferentes de null/NaN: 60494
__________________
(60494,)
None

In [103]:
c = 'ESTU_IES_DEPT_DESEADA'
data_2005[c] = data_2005[c].replace('ATLÃNTICO', 'ATLANTICO')
data_2005[c] = data_2005[c].replace('BOGOTÃ', 'BOGOTA')
data_2005[c] = data_2005[c].replace('BOLÃVAR', 'BOLIVAR')
data_2005[c] = data_2005[c].replace('BOYACÃ', 'BOYACA')
data_2005[c] = data_2005[c].replace('CAQUETÃ', 'CAQUETA')
data_2005[c] = data_2005[c].replace('CHOCÃ', 'CHOCO')
data_2005[c] = data_2005[c].replace('CÃRDOBA', 'CORDOBA')
data_2005[c] = data_2005[c].replace('NARIÃO', 'NARIÑO')
data_2005[c] = data_2005[c].replace('QUINDÃO', 'QUINDIO')

In [104]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1503
2.0     9606
3.0    30279
4.0     5358
5.0     4938
6.0     3078
7.0     3247
8.0     3499
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 11334
__________________
Elementos diferentes de null/NaN: 61508
__________________
(61508,)
None

In [105]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([    4.0,     5.0,    23.0,    36.0,    49.0,    50.0,    61.0,
                 63.0,    68.0,    74.0,
              ...
              18391.0, 18398.0, 18409.0, 18414.0, 18415.0, 18417.0, 18421.0,
              18423.0, 18492.0, 18493.0],
             dtype='float64', length=2373)
4.0          1
5.0         14
23.0         5
36.0         1
49.0         8
50.0         1
61.0         1
63.0         2
68.0        26
74.0         4
87.0        22
89.0         2
102.0        4
103.0        6
105.0       14
106.0        1
107.0        1
108.0        7
109.0       65
110.0        4
116.0       73
117.0        6
120.0        5
122.0        2
125.0        3
128.0       15
129.0       24
130.0        2
131.0       17
133.0        4
          ...
18211.0      6
18214.0      5
18224.0      7
18245.0      2
18262.0      1
18280.0      1
18285.0      1
18288.0    121
18299.0      1
18307.0     42
18308.0     60
18309.0     35
18310.0    290
18317.0      1
18325.0    200
18326.0     36
18328.0     25
18373.0      1
18376.0      1
18381.0      1
18391.0      2
18398.0      1
18409.0     14
18414.0      1
18415.0      1
18417.0      1
18421.0      2
18423.0      1
18492.0     15
18493.0    199
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 13877
__________________
Elementos diferentes de null/NaN: 58965
__________________
(58965,)
None

In [106]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    18746
2.0    21862
3.0     9738
4.0     5428
5.0     4482
6.0     1395
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 11191
__________________
Elementos diferentes de null/NaN: 61651
__________________
(61651,)
None

### TARGETS

In [107]:
c = 'ESTU_PUESTO'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,
              ...
              961.0, 962.0, 963.0, 964.0, 965.0, 966.0, 967.0, 968.0, 969.0,
              970.0],
             dtype='float64', length=970)
1.0      105
2.0       96
3.0       85
4.0       89
5.0       82
6.0       89
7.0       86
8.0       84
9.0       81
10.0      83
11.0      84
12.0      80
13.0      78
14.0      73
15.0      74
16.0      79
17.0      76
18.0      78
19.0      64
20.0      77
21.0      81
22.0      66
23.0      75
24.0      62
25.0      70
26.0      57
27.0      60
28.0      64
29.0      74
30.0      66
        ...
941.0     82
942.0     91
943.0     98
944.0     76
945.0     83
946.0    102
947.0     87
948.0     96
949.0     90
950.0     88
951.0     85
952.0     91
953.0     97
954.0     90
955.0     96
956.0     90
957.0     88
958.0     78
959.0     97
960.0     75
961.0     94
962.0     92
963.0     99
964.0     79
965.0     85
966.0     94
967.0     78
968.0     73
969.0     56
970.0     26
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 326
__________________
Elementos diferentes de null/NaN: 72516
__________________
(72516,)
None

In [108]:
c = 'PUNT_BIOLOGIA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '17,47', '21,86', '29,35', '33,98', '37,45', '37,46', '40,31',
       '42,77', '44,99', '47,03', '48,95', '50,79', '52,58', '54,35', '56,11',
       '57,9', '59,73', '61,64', '63,67', '65,87', '68,33', '71,16', '74,61',
       '79,21', '86,67', '91,03'],
      dtype='object')
-1          4
17,47      36
21,86     222
29,35     914
33,98    2299
37,45    4401
37,46       2
40,31    6698
42,77    8420
44,99    8936
47,03    8424
48,95    7212
50,79    5899
52,58    4608
54,35    3517
56,11    2826
57,9     2275
59,73    1772
61,64    1400
63,67    1072
65,87     808
68,33     520
71,16     315
74,61     186
79,21      59
86,67      13
91,03       4
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [109]:
for i in data_2005['PUNT_BIOLOGIA'].value_counts().sort_index().index:
    if ',' in i:
        data_2005['PUNT_BIOLOGIA'] = data_2005['PUNT_BIOLOGIA'].replace(i, i.replace(',', '.'))

for i in data_2005['PUNT_BIOLOGIA'].value_counts().sort_index().index:
    if type(i) == str:
        data_2005['PUNT_BIOLOGIA'] = data_2005['PUNT_BIOLOGIA'].replace(i, float(i))

In [110]:
c = 'PUNT_MATEMATICAS'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '12,61', '22,8', '29,33', '34,33', '38,49', '42,12', '45,37',
       '48,38', '51,21', '53,92', '56,55', '59,16', '6,58', '61,77', '64,43',
       '67,18', '70,07', '73,19', '76,63', '80,56', '85,29', '91,5'],
      dtype='object')
-1           1
12,61      233
22,8      1030
29,33     2732
34,33     5896
38,49     8905
42,12    11510
45,37    11697
48,38    10301
51,21     7544
53,92     5094
56,55     2999
59,16     1894
6,58        25
61,77     1108
64,43      712
67,18      479
70,07      317
73,19      156
76,63      106
80,56       66
85,29       30
91,5         7
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [111]:
for i in data_2005['PUNT_MATEMATICAS'].value_counts().sort_index().index:
    if ',' in i:
        data_2005['PUNT_MATEMATICAS'] = data_2005['PUNT_MATEMATICAS'].replace(i, i.replace(',', '.'))

for i in data_2005['PUNT_MATEMATICAS'].value_counts().sort_index().index:
    if type(i) == str:
        data_2005['PUNT_MATEMATICAS'] = data_2005['PUNT_MATEMATICAS'].replace(i, float(i))

In [112]:
c = 'PUNT_FILOSOFIA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '12,45', '21,4', '26,96', '31,14', '34,59', '37,58', '40,27',
       '42,76', '45,11', '47,37', '49,57', '51,74', '53,91', '56,11', '58,37',
       '60,73', '63,23', '65,94', '68,95', '7,19', '72,41', '76,61', '82,19',
       '91,16'],
      dtype='object')
-1         10
12,45     131
21,4      472
26,96    1349
31,14    2904
34,59    4769
37,58    6885
40,27    8592
42,76    9008
45,11    9077
47,37    7906
49,57    6586
51,74    4917
53,91    3651
56,11    2563
58,37    1691
60,73    1048
63,23     701
65,94     310
68,95     157
7,19       21
72,41      72
76,61      17
82,19       4
91,16       1
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [113]:
for i in data_2005['PUNT_FILOSOFIA'].value_counts().sort_index().index:
    if ',' in i:
        data_2005['PUNT_FILOSOFIA'] = data_2005['PUNT_FILOSOFIA'].replace(i, i.replace(',', '.'))

for i in data_2005['PUNT_FILOSOFIA'].value_counts().sort_index().index:
    if type(i) == str:
        data_2005['PUNT_FILOSOFIA'] = data_2005['PUNT_FILOSOFIA'].replace(i, float(i))

In [114]:
c = 'PUNT_FISICA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '10,92', '100,6', '106,22', '16,62', '26,3', '32,31', '36,82',
       '40,53', '43,75', '46,64', '49,3', '51,8', '54,2', '56,53', '58,83',
       '61,12', '63,44', '65,82', '68,3', '70,93', '73,78', '76,95', '80,61',
       '85,06', '90,99'],
      dtype='object')
-1            6
10,92        36
100,6         8
106,22        2
16,62       284
26,3       1088
32,31      2891
36,82      5801
40,53      9051
43,75     10766
46,64     11438
49,3      10003
51,8       7654
54,2       5214
56,53      3279
58,83      1876
61,12      1147
63,44       754
65,82       505
68,3        326
70,93       242
73,78       179
76,95       136
80,61        75
85,06        58
90,99        23
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [115]:
c = 'PUNT_FISICA'
for i in data_2005[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005[c] = data_2005[c].replace(i, i.replace(',', '.'))

for i in data_2005[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005[c] = data_2005[c].replace(i, float(i))

In [116]:
c = 'PUNT_HISTORIA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '12,75', '16,55', '23,8', '28,28', '31,65', '34,42', '36,82',
       '38,99', '40,99', '42,88', '44,7', '46,47', '48,23', '49,99', '51,79',
       '53,64', '55,58', '57,66', '59,91', '62,44', '65,36', '68,93', '73,67'],
      dtype='object')
-1          6
12,75      14
16,55     144
23,8      533
28,28    1501
31,65    3012
34,42    4666
36,82    6084
38,99    7379
40,99    7698
42,88    7525
44,7     7051
46,47    6344
48,23    5433
49,99    4460
51,79    3607
53,64    2843
55,58    1942
57,66    1343
59,91     750
62,44     347
65,36     126
68,93      29
73,67       5
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [117]:
c = 'PUNT_HISTORIA'
for i in data_2005[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005[c] = data_2005[c].replace(i, i.replace(',', '.'))

for i in data_2005[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005[c] = data_2005[c].replace(i, float(i))

In [118]:
c = 'PUNT_QUIMICA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '16,78', '20,76', '27,55', '31,75', '34,91', '37,51', '39,75',
       '41,77', '43,63', '45,37', '47,05', '48,67', '50,27', '51,87', '53,49',
       '55,15', '56,89', '58,73', '60,72', '62,94', '65,5', '68,62', '72,77',
       '79,5', '83,45'],
      dtype='object')
-1          5
16,78      24
20,76     223
27,55     811
31,75    2316
34,91    4572
37,51    7256
39,75    8988
41,77    9481
43,63    8595
45,37    7074
47,05    5715
48,67    4346
50,27    3258
51,87    2517
53,49    1937
55,15    1556
56,89    1196
58,73     972
60,72     698
62,94     509
65,5      343
68,62     235
72,77     133
79,5       59
83,45      23
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [119]:
c = 'PUNT_QUIMICA'
for i in data_2005[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005[c] = data_2005[c].replace(i, i.replace(',', '.'))

for i in data_2005[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005[c] = data_2005[c].replace(i, float(i))

In [120]:
c = 'PUNT_LENGUAJE'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '10,25', '15,45', '23,52', '28,62', '32,53', '35,78', '38,64',
       '41,22', '43,63', '45,91', '48,11', '50,26', '52,39', '54,54', '56,72',
       '58,98', '61,36', '63,91', '66,73', '69,95', '73,83', '78,91', '86,97'],
      dtype='object')
-1          1
10,25      13
15,45      55
23,52     258
28,62     840
32,53    2015
35,78    3839
38,64    5945
41,22    7721
43,63    8878
45,91    9174
48,11    8469
50,26    7077
52,39    5609
54,54    4282
56,72    3017
58,98    2206
61,36    1506
63,91     876
66,73     583
69,95     290
73,83     127
78,91      52
86,97       9
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [121]:
c = 'PUNT_LENGUAJE'
for i in data_2005[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005[c] = data_2005[c].replace(i, i.replace(',', '.'))

for i in data_2005[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005[c] = data_2005[c].replace(i, float(i))

In [122]:
c = 'PUNT_GEOGRAFIA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '13,96', '21,85', '26,75', '30,43', '33,45', '36,08', '38,44',
       '40,62', '42,68', '44,65', '46,57', '48,47', '50,37', '52,29', '54,27',
       '56,33', '58,52', '60,89', '63,52', '66,56', '70,25', '75,16', '9,87'],
      dtype='object')
-1         10
13,96     126
21,85     538
26,75    1645
30,43    3450
33,45    5854
36,08    8075
38,44    9323
40,62    9435
42,68    8598
44,65    7355
46,57    5756
48,47    4322
50,37    3310
52,29    2235
54,27    1361
56,33     767
58,52     424
60,89     162
63,52      60
66,56      15
70,25       2
75,16       1
9,87       18
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [123]:
c = 'PUNT_GEOGRAFIA'
for i in data_2005[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005[c] = data_2005[c].replace(i, i.replace(',', '.'))

for i in data_2005[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005[c] = data_2005[c].replace(i, float(i))

In [124]:
c = 'NOMBRE_IDIOMA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['ALEMÃN', 'FRANCÃS', 'INGLÃS'], dtype='object')
ALEMÃN        50
FRANCÃS      531
INGLÃS     72261
Name: NOMBRE_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [125]:
data_2005['NOMBRE_IDIOMA'] = data_2005['NOMBRE_IDIOMA'].replace('ALEMÃN', 'ALEMAN')
data_2005['NOMBRE_IDIOMA'] = data_2005['NOMBRE_IDIOMA'].replace('FRANCÃS', 'FRANCES')
data_2005['NOMBRE_IDIOMA'] = data_2005['NOMBRE_IDIOMA'].replace('INGLÃS', 'INGLES')

In [126]:
c = 'PUNT_IDIOMA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '14,65', '19,01', '19,36', '23,99', '26,48', '26,93', '28,62',
       '31,08', '31,63', '32,09', '34,53', '34,94', '35,16', '37,35', '37,43',
       '38,07', '39,66', '39,79', '40,59', '41,74', '41,97', '42,85', '43,98',
       '44,94', '45,59', '45,87', '46,9', '47,68', '48,78', '49,29', '49,43',
       '50,62', '51,14', '51,16', '52,42', '52,89', '53,04', '54,23', '54,64',
       '56,06', '56,44', '57,06', '57,93', '58,32', '59,26', '59,89', '60,31',
       '61,65', '61,96', '62,48', '64,21', '64,32', '64,89', '66,71', '67,41',
       '67,69', '69,59', '71,1', '71,14', '73,09', '75,67', '76,06', '77,74',
       '83,1', '83,87', '85,26', '87,42', '89,68'],
      dtype='object')
-1         357
14,65       73
19,01      333
19,36        1
23,99        3
26,48     1090
26,93        3
28,62        6
31,08     2742
31,63        6
32,09        3
34,53     5110
34,94        5
35,16       21
37,35     7646
37,43        2
38,07       46
39,66        4
39,79     9771
40,59       53
41,74        2
41,97    10200
42,85       55
43,98     9200
44,94       44
45,59        2
45,87     7055
46,9        29
47,68     4919
48,78       19
         ...
54,64      981
56,06        3
56,44      724
57,06        1
57,93        6
58,32      637
59,26        2
59,89        8
60,31      617
61,65        5
61,96       10
62,48      660
64,21       19
64,32        2
64,89      716
66,71       25
67,41        3
67,69      793
69,59       35
71,1       845
71,14        1
73,09       45
75,67      732
76,06        1
77,74       42
83,1       451
83,87        3
85,26       28
87,42      102
89,68       11
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [127]:
c = 'PUNT_IDIOMA'
for i in data_2005[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005[c] = data_2005[c].replace(i, i.replace(',', '.'))

for i in data_2005[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005[c] = data_2005[c].replace(i, float(i))

In [128]:
c = 'DESEMP_IDIOMA'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Float64Index([], dtype='float64')
Series([], Name: DESEMP_IDIOMA, dtype: int64)
Elementos null/NaN 72842
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [129]:
data_2005 = data_2005.drop(['DESEMP_IDIOMA'], axis=1)

In [130]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['PROFUNDIZACIÃN EN BIOLOGÃA', 'PROFUNDIZACIÃN EN HISTORIA',
       'PROFUNDIZACIÃN EN LENGUAJE', 'PROFUNDIZACIÃN EN MATEMÃTICA'],
      dtype='object')
PROFUNDIZACIÃN EN BIOLOGÃA      24460
PROFUNDIZACIÃN EN HISTORIA       11177
PROFUNDIZACIÃN EN LENGUAJE       24742
PROFUNDIZACIÃN EN MATEMÃTICA    12463
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [131]:
data_2005['NOMBRE_PROFUNDIZACION'] = data_2005['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN BIOLOGÃA', 'BIOLOGIA')
data_2005['NOMBRE_PROFUNDIZACION'] = data_2005['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN HISTORIA', 'HISTORIA')
data_2005['NOMBRE_PROFUNDIZACION'] = data_2005['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN LENGUAJE', 'LENGUAJE')
data_2005['NOMBRE_PROFUNDIZACION'] = data_2005['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN MATEMÃTICA', 'MATEMATICA')

In [132]:
c = 'PUNT_PROFUNDIZACION'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '1,65', '10', '2,08', '2,1', '2,11', '2,35', '2,55', '2,9',
       '2,93', '2,98', '3,22', '3,51', '3,78', '3,8', '3,86', '4,05', '4,1',
       '4,13', '4,3', '4,34', '4,4', '4,42', '4,6', '4,61', '4,77', '4,86',
       '4,9', '5,03', '5,1', '5,14', '5,2', '5,23', '5,4', '5,41', '5,48',
       '5,5', '5,57', '5,6', '5,75', '5,76', '5,8', '5,81', '5,9', '6,1',
       '6,13', '6,2', '6,21', '6,45', '6,46', '6,5', '6,53', '6,81', '6,82',
       '6,88', '6,9', '7,2', '7,23', '7,25', '7,65', '7,66', '7,69', '7,71',
       '8,23', '8,25', '8,32', '9,1', '9,12', '9,14'],
      dtype='object')
-1       154
1,65      60
10         7
2,08     182
2,1        1
2,11     229
2,35     160
2,55     268
2,9        1
2,93     956
2,98    1055
3,22     766
3,51     812
3,78    2475
3,8        1
3,86    2715
4,05    1673
4,1        1
4,13    1441
4,3        2
4,34    4049
4,4        5
4,42    4018
4,6     2347
4,61    2012
4,77    4786
4,86    4748
4,9        2
5,03    4633
5,1        1
        ...
5,75    1214
5,76    1419
5,8        1
5,81    2038
5,9     1996
6,1     1515
6,13    1282
6,2        1
6,21    1166
6,45     839
6,46     741
6,5        1
6,53     621
6,81     693
6,82     207
6,88     289
6,9        1
7,2      412
7,23      80
7,25     169
7,65     187
7,66      21
7,69      79
7,71      27
8,23      79
8,25      39
8,32       9
9,1        3
9,12       6
9,14      17
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [133]:
c = 'PUNT_PROFUNDIZACION'
for i in data_2005[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005[c] = data_2005[c].replace(i, i.replace(',', '.'))

for i in data_2005[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005[c] = data_2005[c].replace(i, float(i))

In [134]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     32572
I      30360
II      9128
III      782
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [135]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          40869
VIOLENCIA Y SOCIEDAD    31973
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [136]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2005[c].value_counts().sort_index().index)
print(data_2005[c].value_counts().sort_index())
print(missing_data(data_2005[c]))

Index(['-1', '13,12', '21,29', '29,64', '34,96', '39,1', '42,63', '42,7',
       '45,13', '45,83', '47,62', '48,86', '49,22', '50,47', '51,54', '51,84',
       '52,51', '53,43', '54,33', '54,88', '55,24', '56,2', '57,25', '58,08',
       '58,47', '60,03', '61,61', '62,45', '64,83', '65,75', '71,08', '79,43',
       '87,61'],
      dtype='object')
-1        918
13,12     167
21,29     746
29,64    2114
34,96    3578
39,1     4527
42,63    4757
42,7      184
45,13     941
45,83    4252
47,62    2770
48,86    3614
49,22    4959
50,47    6958
51,54    7358
51,84    2776
52,51    6430
53,43    4567
54,33    2977
54,88    2107
55,24    1674
56,2      888
57,25     409
58,08    1466
58,47     176
60,03      57
61,61     877
62,45      13
64,83       4
65,75     409
71,08     139
79,43      25
87,61       5
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 72842
__________________
(72842,)
None

In [137]:
c = 'PUNT_INTERDISCIPLINAR'
for i in data_2005[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005[c] = data_2005[c].replace(i, i.replace(',', '.'))

for i in data_2005[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005[c] = data_2005[c].replace(i, float(i))

# FILE 2 -> 2005_2

In [138]:
data_2005_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20052-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [139]:
data_2005_2.shape

(383964, 82)

In [140]:
data_2005_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200520000001,SB11200520000002,SB11200520000003
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,M,M,F
ESTU_NACIMIENTO_DIA,17,2,15
ESTU_NACIMIENTO_MES,10,8,7
ESTU_NACIMIENTO_ANNO,1988,1988,1989
ESTU_EDAD,16,16,15
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,11001,11001,11001
ESTU_RESIDE_MCPIO,BOGOTÃ D.C.,BOGOTÃ D.C.,BOGOTÃ D.C.
ESTU_RESIDE_DEPTO,BOGOTÃ,BOGOTÃ,BOGOTÃ
ESTU_ZONA_RESIDE,8,8,8
ESTU_COD_MCPIO_PRESENTACION,11001,11001,11001
ESTU_MCPIO_PRESENTACION,BOGOTÃ D.C.,BOGOTÃ D.C.,BOGOTÃ D.C.
ESTU_DEPTO_PRESENTACION,BOGOTÃ,BOGOTÃ,BOGOTÃ
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO NUEVO (2005),EXAMEN DE ESTADO NUEVO (2005),EXAMEN DE ESTADO NUEVO (2005)
IND_ESTUDIO_BACHILLERATO,NaN,NaN,NaN
IND_ANNO_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,NaN,NaN,NaN
COLE_COD_ICFES,52241,52241,52241
COLE_COD_DANE_INSTITUCION,311001038309,311001038309,311001038309
COLE_NOMBRE_SEDE,COLEGIO NUEVO ESTRADA,COLEGIO NUEVO ESTRADA,COLEGIO NUEVO ESTRADA
COLE_ZONA_UBICACION,8,8,8
COLE_AREA_UBICACION,U,U,U
...,...,...,...
FAMI_COMPUTADOR,NaN,NaN,NaN
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
COLE_VALOR_PENSION,4,4,0
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1101,1301,1105
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD NACIONAL DE COLOMBIA,UNIVERSIDAD DISTRITAL FRANCISCO JOSE DE CALDAS,UNIVERSIDAD PEDAGOGICA NACIONAL
ESTU_IES_COD_MPIO_DESEADA,11001,11001,11001
ESTU_IES_MPIO_DESEADA,BOGOTÃ D.C.,BOGOTÃ D.C.,BOGOTÃ D.C.
ESTU_IES_DEPT_DESEADA,BOGOTÃ,BOGOTÃ,BOGOTÃ
ESTU_RAZONINSTITUTO,3,3,2
ESTU_CARRDESEADA_COD,14064,11790,11493
ESTU_CARRDESEADA_RAZON,2,5,2
PUNT_BIOLOGIA,"43,63","43,63","49,8"
PUNT_MATEMATICAS,"32,18","46,07","57,98"
PUNT_FILOSOFIA,"50,84","41,62","46,43"
PUNT_FISICA,"39,23","48,9","46,06"
PUNT_HISTORIA,"46,23","35,8","49,82"
PUNT_QUIMICA,"44,7","30,38","48,36"
PUNT_LENGUAJE,"42,39","44,61","56,52"
PUNT_GEOGRAFIA,"29,51","33,16","38,74"
NOMBRE_IDIOMA,INGLÃS,INGLÃS,INGLÃS
PUNT_IDIOMA,"43,4","43,4","50,67"
DESEMP_IDIOMA,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÃN EN MATEMÃTICA,PROFUNDIZACIÃN EN MATEMÃTICA,PROFUNDIZACIÃN EN LENGUAJE
PUNT_PROFUNDIZACION,5,"5,8","5,5"
DESEMP_PROFUNDIZACION,I,II,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"50,02","48,85","50,02"
ESTU_PUESTO,700,745,143

The first is delete the columns that won't contribute to the work

In [141]:
data_2005_2 = data_2005_2.drop(['ESTU_CONSECUTIVO', 'ESTU_COD_RESIDE_MCPIO', 'ESTU_COD_MCPIO_PRESENTACION', 'COLE_NOMBRE_SEDE',
                                'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA'], axis=1)

In [142]:
c = 'ESTU_PAIS_RESIDE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['AG', 'AR', 'AU', 'BO', 'BR', 'CL', 'CN', 'CO', 'CU', 'DK', 'DO', 'EC',
       'ES', 'IT', 'KM', 'KP', 'KR', 'PE', 'TD', 'TW', 'US', 'VE'],
      dtype='object')
AG         1
AR         1
AU         1
BO         2
BR         2
CL         1
CN         2
CO    383722
CU         2
DK         1
DO         2
EC         5
ES         1
IT         2
KM         1
KP         1
KR         1
PE         6
TD         1
TW         1
US        20
VE        14
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 174
__________________
Elementos diferentes de null/NaN: 383790
__________________
(383790,)
None

In [143]:
c = 'ESTU_GENERO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['F', 'M'], dtype='object')
F    206809
M    177155
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [144]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     12914
2.0     12495
3.0     12723
4.0     12817
5.0     12799
6.0     12599
7.0     12769
8.0     12718
9.0     12449
10.0    12994
11.0    12303
12.0    12793
13.0    12378
14.0    12465
15.0    12862
16.0    12425
17.0    12784
18.0    12359
19.0    12432
20.0    12971
21.0    12339
22.0    12543
23.0    12424
24.0    12792
25.0    12747
26.0    12392
27.0    12689
28.0    12895
29.0    11761
30.0    11312
31.0     6999
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 22
__________________
Elementos diferentes de null/NaN: 383942
__________________
(383942,)
None

In [145]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     31435
2.0     28520
3.0     32077
4.0     30925
5.0     31789
6.0     30277
7.0     32311
8.0     32916
9.0     34235
10.0    34117
11.0    32469
12.0    32871
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 22
__________________
Elementos diferentes de null/NaN: 383942
__________________
(383942,)
None

In [146]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1930.0, 1931.0, 1933.0, 1934.0, 1935.0, 1936.0, 1937.0, 1938.0,
              1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0,
              1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0,
              1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0,
              1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0,
              1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0,
              1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0,
              1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0,
              2084.0, 2088.0, 2090.0, 2092.0],
             dtype='float64')
1930.0        11
1931.0         3
1933.0         1
1934.0         3
1935.0         4
1936.0         8
1937.0         8
1938.0         1
1939.0         2
1940.0        11
1941.0         6
1942.0         5
1943.0         4
1944.0        13
1945.0        14
1946.0        14
1947.0        15
1948.0        19
1949.0        23
1950.0        20
1951.0        20
1952.0        39
1953.0        46
1954.0        57
1955.0        64
1956.0        79
1957.0        96
1958.0       113
1959.0       123
1960.0       152
           ...
1969.0       661
1970.0       461
1971.0       491
1972.0       563
1973.0       545
1974.0       608
1975.0       645
1976.0       695
1977.0       786
1978.0       928
1979.0      1175
1980.0      1423
1981.0      1794
1982.0      2368
1983.0      3499
1984.0      6822
1985.0     14956
1986.0     34552
1987.0     70017
1988.0    131881
1989.0     87477
1990.0      8934
1991.0      2342
1992.0      1739
1993.0      1207
1994.0      3478
2084.0         1
2088.0         1
2090.0         1
2092.0         1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 22
__________________
Elementos diferentes de null/NaN: 383942
__________________
(383942,)
None

In [147]:
for i in data_2005_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if i > 1994:
        data_2005_2['ESTU_NACIMIENTO_ANNO'] = data_2005_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [148]:
c = 'ESTU_EDAD'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Int64Index([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
            27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
            44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
            61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75],
           dtype='int64')
10      1094
11      2823
12      1380
13      1960
14      3098
15     21925
16    127322
17    106025
18     56063
19     26175
20     11470
21      5399
22      3071
23      2122
24      1639
25      1364
26      1070
27       882
28       791
29       649
30       618
31       579
32       571
33       524
34       483
35       502
36       732
37       683
38       564
39       390
       ...
46       109
47       114
48        89
49        76
50        57
51        53
52        43
53        37
54        16
55        21
56        19
57        19
58        18
59         9
60        18
61         8
62         5
63         4
64         6
65        11
66         1
67         2
68         9
69         6
70         4
71         3
72         1
73         1
74         5
75         8
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [149]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [150]:
data_2005_2 = data_2005_2.drop(['ESTU_LIMITA_BAJAVISION'], axis=1)

In [151]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [152]:
data_2005_2 = data_2005_2.drop(['ESTU_LIMITA_SORDOCEGUERA'], axis=1)

In [153]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [154]:
data_2005_2 = data_2005_2.drop(['ESTU_LIMITA_COGNITIVA'], axis=1)

In [155]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [156]:
data_2005_2 = data_2005_2.drop(['ESTU_LIMITA_INVIDENTE'], axis=1)

In [157]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [158]:
data_2005_2 = data_2005_2.drop(['ESTU_LIMITA_MOTRIZ'], axis=1)

In [159]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [160]:
data_2005_2 = data_2005_2.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis=1)

In [161]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [162]:
data_2005_2 = data_2005_2.drop(['ESTU_LIMITA_SORDONOINTERPRETE'], axis=1)

In [163]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=958)
ABEJORRAL                    123
ABREGO                       116
ABRIAQUI                      29
ACACIAS                      722
ACANDI                        45
ACEVEDO                       45
ACHI                         155
AGRADO                        76
AGUA DE DIOS                 134
AGUACHICA                    724
AGUADA                        13
AGUADAS                      266
AGUAZUL                      423
AGUSTIN CODAZZI              509
AIPE                         143
ALBAN                         48
ALBANIA                      155
ALEJANDRIA                    34
ALGARROBO                     86
ALGECIRAS                    101
ALMAGUER                      52
ALMEIDA                       19
ALPUJARRA                     45
ALTAMIRA                      24
ALTO BAUDO (PIE DE PATO)      40
ALTOS DEL ROSARIO             46
ALVARADO                      62
AMAGA                        284
AMALFI                       177
AMBALEMA                      80
                            ...
VILLAMARIA                   442
VILLANUEVA                   607
VILLAPINZON                  226
VILLARRICA                    55
VILLAVICENCIO               4562
VILLAVIEJA                    57
VILLETA                      305
VIOTA                        136
VIRACACHA                     33
VISTA HERMOSA                 49
VITERBO                      154
YACOPI                        72
YACUANQUER                     4
YAGUARA                       82
YALI                          49
YARUMAL                      464
YAVARATE                      10
YOLOMBO                      167
YONDO (CASABE)                77
YOPAL                       1159
YUMBO                         53
ZAMBRANO                      92
ZAPATOCA                      63
ZAPAYAN                       40
ZARAGOZA                     151
ZARZAL                        27
ZETAQUIRA                     76
ZIPACON                       41
ZIPAQUIRA                   1284
ZONA BANANERA                277
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 383963
__________________
(383963,)
None

In [164]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'GUAINÃA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SAN ANDRÃS', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE', 'VAUPÃS', 'VICHADA'],
      dtype='object')
AMAZONAS             594
ANTIOQUIA          57017
ARAUCA              1899
ATLÃNTICO         24900
BOGOTÃ            83567
BOLÃVAR           19262
BOYACÃ            14598
CALDAS             10310
CAQUETÃ            2430
CASANARE            2829
CAUCA               7675
CESAR               8548
CHOCÃ              3348
CUNDINAMARCA       25621
CÃRDOBA           13304
GUAINÃA             110
GUAVIARE             435
HUILA               8507
LA GUAJIRA          5048
MAGDALENA          10690
META                7474
NARIÃO              461
NORTE SANTANDER    13136
PUTUMAYO            1861
QUINDÃO            5467
RISARALDA           8751
SAN ANDRÃS          740
SANTANDER          21706
SUCRE               8364
TOLIMA             13535
VALLE               1370
VAUPÃS              147
VICHADA              259
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 383963
__________________
(383963,)
None

In [165]:
c = 'ESTU_RESIDE_DEPTO'
data_2005_2[c] = data_2005_2[c].replace('ATLÃNTICO', 'ATLANTICO')
data_2005_2[c] = data_2005_2[c].replace('BOGOTÃ', 'BOGOTA')
data_2005_2[c] = data_2005_2[c].replace('BOLÃVAR', 'BOLIVAR')
data_2005_2[c] = data_2005_2[c].replace('BOYACÃ', 'BOYACA')
data_2005_2[c] = data_2005_2[c].replace('CAQUETÃ', 'CAQUETA')
data_2005_2[c] = data_2005_2[c].replace('CHOCÃ', 'CHOCO')
data_2005_2[c] = data_2005_2[c].replace('CÃRDOBA', 'CORDOBA')
data_2005_2[c] = data_2005_2[c].replace('GUAINÃA', 'GUAINIA')
data_2005_2[c] = data_2005_2[c].replace('NARIÃO', 'NARIÑO')
data_2005_2[c] = data_2005_2[c].replace('QUINDÃO', 'QUINDIO')
data_2005_2[c] = data_2005_2[c].replace('SAN ANDRÃS', 'SAN ANDRES')
data_2005_2[c] = data_2005_2[c].replace('VAUPÃS', 'VAUPES')

In [166]:
c = 'ESTU_ZONA_RESIDE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      18085
2.0       2699
3.0      10505
4.0      41028
5.0      14604
6.0       8233
7.0       9770
8.0      22305
9.0      16035
10.0    240699
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 383963
__________________
(383963,)
None

In [167]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=350)
ABEJORRAL                    125
ABREGO                       118
ACACIAS                      641
ACANDI                        45
ACHI                         179
AGUACHICA                   1081
AGUADAS                      268
AGUAZUL                      375
AGUSTIN CODAZZI              521
AIPE                         152
ALTO BAUDO (PIE DE PATO)      40
AMAGA                        614
AMALFI                       283
ANDES                        536
ANOLAIMA                     256
ANSERMA                      602
APARTADO                    1481
ARACATACA                    350
ARAUCA                       806
ARAUQUITA                    216
ARBELAEZ                     464
ARBOLEDAS                     64
ARBOLETES                    303
ARIGUANI (EL DIFICIL)        247
ARJONA                       518
ARMENIA                     3583
ASTREA                       179
ATRATO (YUTO)                 93
AYAPEL                       336
BAGADO                        58
                            ...
TULUA                         40
TUMACO                        92
TUNJA                       3637
TURBACO                      769
TURBO                        795
TURMEQUE                     218
TUTA                         106
UBATE                        947
UNGUIA                        49
URRAO                        374
VALLEDUPAR                  4807
VELEZ                        401
VENADILLO                    181
VENTAQUEMADA                 156
VIGIA DEL FUERTE              36
VILLA DE LEYVA               285
VILLA DEL ROSARIO            631
VILLAGARZON                  107
VILLAMARIA                   339
VILLANUEVA                   612
VILLAVICENCIO               5240
VILLETA                      544
VIOTA                         81
YARUMAL                      646
YAVARATE                      10
YOLOMBO                      245
YOPAL                       1348
ZAPATOCA                      83
ZARAGOZA                     152
ZIPAQUIRA                   1857
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [168]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'GUAINÃA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÃO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDÃO', 'RISARALDA', 'SAN ANDRÃS', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE', 'VAUPÃS', 'VICHADA'],
      dtype='object')
AMAZONAS             596
ANTIOQUIA          56908
ARAUCA              1969
ATLÃNTICO         25367
BOGOTÃ            83714
BOLÃVAR           18841
BOYACÃ            15129
CALDAS             10585
CAQUETÃ            2456
CASANARE            2828
CAUCA               7634
CESAR               8701
CHOCÃ              3378
CUNDINAMARCA       24797
CÃRDOBA           13336
GUAINÃA             111
GUAVIARE             480
HUILA               8561
LA GUAJIRA          5027
MAGDALENA          10420
META                7525
NARIÃO              410
NORTE SANTANDER    13236
PUTUMAYO            1881
QUINDÃO            5471
RISARALDA           8731
SAN ANDRÃS          741
SANTANDER          21897
SUCRE               8282
TOLIMA             13290
VALLE               1166
VAUPÃS              149
VICHADA              347
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [169]:
c = 'ESTU_DEPTO_PRESENTACION'
data_2005_2[c] = data_2005_2[c].replace('ATLÃNTICO', 'ATLANTICO')
data_2005_2[c] = data_2005_2[c].replace('BOGOTÃ', 'BOGOTA')
data_2005_2[c] = data_2005_2[c].replace('BOLÃVAR', 'BOLIVAR')
data_2005_2[c] = data_2005_2[c].replace('BOYACÃ', 'BOYACA')
data_2005_2[c] = data_2005_2[c].replace('CAQUETÃ', 'CAQUETA')
data_2005_2[c] = data_2005_2[c].replace('CHOCÃ', 'CHOCO')
data_2005_2[c] = data_2005_2[c].replace('CÃRDOBA', 'CORDOBA')
data_2005_2[c] = data_2005_2[c].replace('GUAINÃA', 'GUAINIA')
data_2005_2[c] = data_2005_2[c].replace('NARIÃO', 'NARIÑO')
data_2005_2[c] = data_2005_2[c].replace('QUINDÃO', 'QUINDIO')
data_2005_2[c] = data_2005_2[c].replace('SAN ANDRÃS', 'SAN ANDRES')
data_2005_2[c] = data_2005_2[c].replace('VAUPÃS', 'VAUPES')

In [170]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['EXAMEN DE ESTADO NUEVO (2005)'], dtype='object')
EXAMEN DE ESTADO NUEVO (2005)    383964
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [171]:
data_2005_2 = data_2005_2.drop(['ESTU_EXAM_NOMBREEXAMEN'], axis=1)

In [172]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    8665
1.0     587
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 374712
__________________
Elementos diferentes de null/NaN: 9252
__________________
(9252,)
None

In [173]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1971.0, 1979.0, 1980.0, 1985.0, 1988.0, 1991.0, 1994.0, 1996.0,
              1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0,
              2005.0, 2006.0, 2007.0, 2008.0],
             dtype='float64')
1971.0       1
1979.0       2
1980.0       1
1985.0       1
1988.0       1
1991.0       1
1994.0       4
1996.0       3
1997.0       3
1998.0       5
1999.0       4
2000.0       2
2001.0       6
2002.0      12
2003.0      13
2004.0      25
2005.0    8767
2006.0     389
2007.0       5
2008.0       2
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 374717
__________________
Elementos diferentes de null/NaN: 9247
__________________
(9247,)
None

In [174]:
"""I do not have information about this column but i will let it live, because maybe could be important"""
c = 'IND_COD_ICFES_TERMINO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([     3.0,     18.0,     59.0,     67.0,    240.0,    265.0,
                 380.0,    455.0,   1339.0,   1461.0,
              ...
              124925.0, 125104.0, 125187.0, 127472.0, 130450.0, 150953.0,
              157321.0, 169698.0, 176297.0, 999999.0],
             dtype='float64', length=2124)
3.0           4
18.0          1
59.0          1
67.0          1
240.0         1
265.0         2
380.0         1
455.0         2
1339.0        2
1461.0        1
1669.0        1
1792.0        1
2535.0        1
2782.0        1
3046.0        1
3434.0        1
3566.0        1
3699.0        1
4143.0        2
4150.0        1
4218.0        1
4242.0        1
4283.0        1
4333.0        1
4358.0        2
4424.0        2
4432.0        2
4614.0        1
4705.0        1
4747.0        2
           ...
122788.0      2
122812.0      1
123083.0      1
123109.0     11
123141.0      1
123240.0      1
123273.0      1
123281.0      1
123331.0      1
123356.0      5
123448.0      4
123786.0      1
123802.0      1
123943.0      1
123968.0      1
124115.0      1
124354.0      1
124487.0      1
124529.0      1
124677.0      1
124925.0      1
125104.0      1
125187.0      1
127472.0      2
130450.0      1
150953.0      1
157321.0      1
169698.0      1
176297.0      1
999999.0    971
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 376870
__________________
Elementos diferentes de null/NaN: 7094
__________________
(7094,)
None

In [175]:
c = 'COLE_COD_ICFES'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Int64Index([    18,     59,     75,     83,     91,    125,    141,    174,
               190,    208,
            ...
            123786, 123802, 123810, 123828, 123869, 123877, 123927, 123950,
            123968, 124016],
           dtype='int64', length=7562)
18          13
59        1141
75          60
83          39
91         110
125         63
141        116
174         87
190         95
208         65
216         38
232         30
240        111
257         11
265        193
273         54
281         67
315        141
349         22
356         27
364         62
372         60
380        175
398         32
406         49
422         26
430        106
448         32
455         94
463        121
          ...
123513      36
123521       1
123539       5
123547      28
123554      22
123562      21
123570      12
123588      13
123596      24
123612      10
123620      10
123661      11
123679      11
123687      20
123695       5
123703      12
123711      13
123729      12
123760      53
123778       7
123786       6
123802      26
123810      19
123828       9
123869      28
123877      17
123927      16
123950       3
123968      11
124016      14
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [176]:
for i in data_2005_2['COLE_COD_ICFES'].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2005_2['COLE_COD_ICFES'] = data_2005_2['COLE_COD_ICFES'].replace(i, np.nan)

In [177]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2005_2[c].value_counts().index)
print(data_2005_2[c].value_counts())
print(missing_data(data_2005_2[c]))

Index(['            ', '111001024732',   105001000108, '105001013340',
       '111001019411', '168001003591', '113001003274', '108758000031',
       '105266000941', '111279000362',
       ...
       '305001018839', '425377076754', '305001003955', '305001003505',
       '376001037536', '219532000434',   105001013072, '308001009596',
         105147000401, '305001004994'],
      dtype='object', length=6436)
                2853
111001024732    1029
105001000108    1004
105001013340     849
111001019411     739
168001003591     738
113001003274     710
108758000031     646
105266000941     642
111279000362     596
173001001053     558
173001000308     550
111001010839     540
111001083011     534
111001010910     533
111001006122     532
111102000753     528
154001003779     521
115001000367     508
313001006701     506
111001011819     505
111001011690     490
113001000852     490
305001003963     486
163001001325     464
147001000293     459
150001000979     458
154001000079     455
168001002421     449
111001010928     447
                ...
105045000393       1
315759002556       1
350001004515       1
425799000483       1
105861000199       1
305088002208       1
105042000732       1
117001006210       1
313001008771       1
347545001837       1
305001004901       1
317001003716       1
117001001536       1
320001067341       1
305631000288       1
205154002015       1
305001009848       1
105001002372       1
308433000875       1
205674000341       1
305001018839       1
425377076754       1
305001003955       1
305001003505       1
376001037536       1
219532000434       1
105001013072       1
308001009596       1
105147000401       1
305001004994       1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [178]:
data_2005_2['COLE_COD_DANE_INSTITUCION'] = data_2005_2['COLE_COD_DANE_INSTITUCION'].replace('            ', np.nan)
for i in data_2005_2['COLE_COD_DANE_INSTITUCION'].value_counts().index:
    if type(i) == str:
        data_2005_2['COLE_COD_DANE_INSTITUCION'] = data_2005_2['COLE_COD_DANE_INSTITUCION'].replace(i, float(i))

In [179]:
c = 'COLE_ZONA_UBICACION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0     37829
2.0     13726
3.0     18890
4.0     42815
5.0     60449
6.0     27084
7.0     25511
8.0     32926
9.0     32821
10.0    44268
Name: COLE_ZONA_UBICACION, dtype: int64
Elementos null/NaN 47645
__________________
Elementos diferentes de null/NaN: 336319
__________________
(336319,)
None

In [180]:
c = 'COLE_AREA_UBICACION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['R', 'U'], dtype='object')
R     31012
U    349242
Name: COLE_AREA_UBICACION, dtype: int64
Elementos null/NaN 3710
__________________
Elementos diferentes de null/NaN: 380254
__________________
(380254,)
None

In [181]:
c = 'COLE_CALENDARIO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    341644
B       731
F     41589
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [182]:
c = 'COLE_GENERO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     25481
M      6643
X    351840
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [183]:
data_2005_2['COLE_GENERO'] = data_2005_2['COLE_GENERO'].replace('X', np.nan)

In [184]:
c = 'COLE_NATURALEZA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['N', 'O'], dtype='object')
N    102447
O    281517
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [185]:
c = 'COLE_BILINGUE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    377836
1.0      3106
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 3022
__________________
Elementos diferentes de null/NaN: 380942
__________________
(380942,)
None

In [186]:
c = 'COLE_JORNADA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÃANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     82712
MAÃANA                 186561
NOCHE                    27477
SABATINA - DOMINICAL      7510
TARDE                    79704
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [187]:
data_2005_2['COLE_JORNADA'] = data_2005_2['COLE_JORNADA'].replace('MAÃANA ', 'MAÑANA')

In [188]:
c = 'COLE_CARACTER'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              223858
ACADEMICO Y TECNICO     83032
DESCONOCIDO               183
NORMALISTA               9755
TECNICO                 67136
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [189]:
c = 'ESTU_ETNIA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1.0     5442
2.0      464
3.0      513
4.0       93
5.0       53
6.0      208
7.0       82
8.0      427
9.0      586
10.0     819
11.0      70
12.0     104
13.0     113
14.0      39
15.0      35
16.0      52
99.0    6341
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 368523
__________________
Elementos diferentes de null/NaN: 15441
__________________
(15441,)
None

In [190]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0], dtype='float64')
1.0    12
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 383952
__________________
Elementos diferentes de null/NaN: 12
__________________
(12,)
None

In [191]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0], dtype='float64')
1.0    12
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 383952
__________________
Elementos diferentes de null/NaN: 12
__________________
(12,)
None

In [192]:
c = 'FAMI_EDUCA_PADRE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0,
              15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0     14
1.0      2
2.0      2
3.0      1
4.0      2
9.0     69
10.0    48
11.0    46
12.0    93
13.0     9
14.0    28
15.0    11
16.0    66
17.0    21
99.0     5
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 383547
__________________
Elementos diferentes de null/NaN: 417
__________________
(417,)
None

In [193]:
c = 'FAMI_EDUCA_MADRE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      3
1.0      1
2.0      2
3.0      1
4.0      2
5.0      1
7.0      1
9.0     61
10.0    42
11.0    58
12.0    98
13.0     6
14.0    43
15.0    16
16.0    51
17.0    28
99.0     3
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 383547
__________________
Elementos diferentes de null/NaN: 417
__________________
(417,)
None

In [194]:
c = 'FAMI_OCUPA_PADRE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([ 6.0,  8.0,  9.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
              20.0, 21.0, 22.0, 23.0, 26.0, 99.0],
             dtype='float64')
6.0      2
8.0      2
9.0      2
12.0     2
13.0    11
14.0    38
15.0    10
16.0    19
17.0    28
18.0    14
19.0    30
20.0    22
21.0    99
22.0    12
23.0    58
26.0    67
99.0     1
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 383547
__________________
Elementos diferentes de null/NaN: 417
__________________
(417,)
None

In [195]:
c = 'FAMI_OCUPA_MADRE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([ 6.0,  9.0, 10.0, 11.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
              20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
6.0       2
9.0       1
10.0      4
11.0      1
13.0      9
14.0     18
15.0      5
16.0     20
17.0     23
18.0     19
19.0     22
20.0     10
21.0     45
22.0    162
23.0     39
26.0     37
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 383547
__________________
Elementos diferentes de null/NaN: 417
__________________
(417,)
None

In [196]:
c = 'FAMI_NUM_HERMANOS'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([0.0, 2.0, 3.0, 4.0], dtype='float64')
0.0    2
2.0    7
3.0    1
4.0    3
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 383951
__________________
Elementos diferentes de null/NaN: 13
__________________
(13,)
None

In [197]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
2.0      2
3.0      1
4.0     10
5.0      1
6.0      4
7.0      1
8.0      4
9.0      2
88.0    13
99.0     3
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 383923
__________________
Elementos diferentes de null/NaN: 41
__________________
(41,)
None

In [198]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1.0     4
2.0     1
88.0    6
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 383953
__________________
Elementos diferentes de null/NaN: 11
__________________
(11,)
None

In [199]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([2.0, 3.0, 4.0], dtype='float64')
2.0    3
3.0    6
4.0    3
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 383952
__________________
Elementos diferentes de null/NaN: 12
__________________
(12,)
None

In [200]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     75
2.0     90
3.0     25
4.0      3
5.0    221
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 383550
__________________
Elementos diferentes de null/NaN: 414
__________________
(414,)
None

In [201]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      10
2.0      54
3.0      89
4.0     127
5.0      71
6.0      36
7.0      14
8.0       5
9.0       6
10.0      2
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 383550
__________________
Elementos diferentes de null/NaN: 414
__________________
(414,)
None

In [202]:
c = 'FAMI_PISOSHOGAR'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     10
2.0     76
3.0     17
4.0    261
5.0     50
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 383550
__________________
Elementos diferentes de null/NaN: 414
__________________
(414,)
None

In [203]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
2.0     7
3.0    17
4.0    16
5.0     7
6.0     7
7.0     3
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 383907
__________________
Elementos diferentes de null/NaN: 57
__________________
(57,)
None

In [204]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 10.0], dtype='float64')
1.0      21
2.0     115
3.0     205
4.0      51
5.0      14
6.0       5
10.0      1
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 383552
__________________
Elementos diferentes de null/NaN: 412
__________________
(412,)
None

In [205]:
c = 'FAMI_COMPUTADOR'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0.0     91
1.0      1
3.0    322
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 383550
__________________
Elementos diferentes de null/NaN: 414
__________________
(414,)
None

In [206]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0     67
2.0    153
3.0     79
4.0     65
5.0     24
6.0     10
7.0     16
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 383550
__________________
Elementos diferentes de null/NaN: 414
__________________
(414,)
None

In [207]:
c = 'COLE_VALOR_PENSION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    200462
1.0     93604
2.0     16758
3.0     15256
4.0     16781
5.0     18290
6.0     15289
7.0      7497
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 27
__________________
Elementos diferentes de null/NaN: 383937
__________________
(383937,)
None

In [208]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_CARRDESEADA_TIPO, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [209]:
data_2005_2 = data_2005_2.drop(['ESTU_CARRDESEADA_TIPO'], axis = 1)

In [210]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64)
Elementos null/NaN 383964
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [211]:
data_2005_2 = data_2005_2.drop(['ESTU_CARRDESEADA_NUCLEO'], axis = 1)

In [212]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1109.0, 1110.0,
              ...
              5801.0, 5802.0, 9101.0, 9102.0, 9103.0, 9104.0, 9105.0, 9107.0,
              9110.0, 9115.0],
             dtype='float64', length=231)
1101.0    59361
1102.0     3328
1103.0     1651
1104.0      151
1105.0     4191
1106.0     4944
1107.0      583
1108.0      714
1109.0      135
1110.0     3995
1111.0     4069
1112.0     3705
1113.0     5095
1114.0     4283
1115.0      954
1117.0     1173
1118.0     1495
1119.0     2383
1120.0     2971
1121.0      538
1122.0       48
1123.0      212
1124.0       31
1125.0       16
1201.0    32713
1202.0     7610
1203.0     2912
1204.0    12184
1205.0     8723
1206.0      482
          ...
3806.0        1
3808.0        1
3812.0        1
3821.0        1
3822.0        1
3826.0      120
3902.0        2
4102.0       26
4108.0        1
4111.0       59
4112.0        1
4702.0        3
4705.0       23
4710.0        1
4810.0      426
4811.0      115
4813.0        1
4826.0      169
4828.0        2
4838.0        1
5801.0      204
5802.0      182
9101.0        1
9102.0        4
9103.0     1556
9104.0     3679
9105.0     1088
9107.0      351
9110.0        4
9115.0        1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 96109
__________________
Elementos diferentes de null/NaN: 287855
__________________
(287855,)
None

In [213]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['AGUACHICA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÃ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CAUCASIA', 'CHIA', 'CHIQUINQUIRA',
       'CIENAGA', 'CUCUTA', 'DUITAMA', 'ENVIGADO', 'ESPINAL', 'FACATATIVA',
       'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'IBAGUE', 'LETICIA', 'MADRID',
       'MALAGA', 'MANIZALES', 'MEDELLIN', 'MONTERIA', 'NEIVA', 'NILO',
       'OCAÃA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PENSILVANIA', 'PEREIRA',
       'POPAYAN', 'PUERTO BERRIO', 'PUERTO TEJADA', 'QUIBDO', 'RIOHACHA',
       'RIONEGRO', 'SABANETA', 'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA',
       'SANTA ROSA DE CABAL', 'SANTA ROSA DE OSOS', 'SINCELEJO', 'SOCORRO',
       'SOGAMOSO', 'TULUA', 'TUNJA', 'TURBO', 'UBATE', 'VALLEDUPAR',
       'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                 212
ANDES                     211
APARTADO                   14
ARAUCA                     31
ARMENIA                  2673
BARRANCABERMEJA           536
BARRANQUILLA            18620
BELLO                       1
BOGOTÃ D.C.           112376
BUCARAMANGA             16804
BUENAVENTURA               48
BUGA                        1
CALDAS                    126
CALI                     5655
CARMEN DE VIBORAL         184
CARTAGENA               12566
CAUCASIA                  505
CHIA                     1144
CHIQUINQUIRA              135
CIENAGA                    59
CUCUTA                   4046
DUITAMA                   583
ENVIGADO                  154
ESPINAL                    28
FACATATIVA                 67
FLORENCIA                 954
FUSAGASUGA                864
GIRARDOT                  718
IBAGUE                   6849
LETICIA                    16
                        ...
NEIVA                    4578
NILO                        2
OCAÃA                    161
PALMIRA                   164
PAMPLONA                 3351
PASTO                     566
PENSILVANIA                 1
PEREIRA                  5516
POPAYAN                  4144
PUERTO BERRIO              52
PUERTO TEJADA               4
QUIBDO                   1495
RIOHACHA                  803
RIONEGRO                  260
SABANETA                   37
SAN GIL                   182
SAN JUAN DEL CESAR         26
SANTA MARTA              5933
SANTA ROSA DE CABAL       143
SANTA ROSA DE OSOS         55
SINCELEJO                2753
SOCORRO                   128
SOGAMOSO                  714
TULUA                      73
TUNJA                    5525
TURBO                     548
UBATE                     216
VALLEDUPAR               2971
VILLAVICENCIO            2792
YOPAL                      58
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 96109
__________________
Elementos diferentes de null/NaN: 287855
__________________
(287855,)
None

In [214]:
data_2005_2['ESTU_IES_MPIO_DESEADA'] = data_2005_2['ESTU_IES_MPIO_DESEADA'].replace('BOGOTÃ D.C.', 'BOGOTA')
data_2005_2['ESTU_IES_MPIO_DESEADA'] = data_2005_2['ESTU_IES_MPIO_DESEADA'].replace('OCAÃA', 'OCAÑA')

In [215]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÃNTICO', 'BOGOTÃ', 'BOLÃVAR',
       'BOYACÃ', 'CALDAS', 'CAQUETÃ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÃ',
       'CUNDINAMARCA', 'CÃRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÃO', 'NORTE SANTANDER', 'QUINDÃO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               16
ANTIOQUIA           47712
ARAUCA                 31
ATLÃNTICO          18620
BOGOTÃ            112376
BOLÃVAR            12566
BOYACÃ              6957
CALDAS               6720
CAQUETÃ              954
CASANARE               58
CAUCA                4148
CESAR                3183
CHOCÃ               1495
CUNDINAMARCA         3015
CÃRDOBA             6125
HUILA                4578
LA GUAJIRA            829
MAGDALENA            5992
META                 2792
NARIÃO               566
NORTE SANTANDER      7558
QUINDÃO             2673
RISARALDA            5659
SANTANDER           17661
SUCRE                2753
TOLIMA               6877
VALLE                5941
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 96109
__________________
Elementos diferentes de null/NaN: 287855
__________________
(287855,)
None

In [216]:
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('ATLÃNTICO', 'ATLANTICO')
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('BOGOTÃ', 'BOGOTA')
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('BOLÃVAR', 'BOLIVAR')
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('BOYACÃ', 'BOYACA')
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('CAQUETÃ', 'CAQUETA')
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('CHOCÃ', 'CHOCO')
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('CÃRDOBA', 'CORDOBA')
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('NARIÃO', 'NARIÑO')
data_2005_2['ESTU_IES_DEPT_DESEADA'] = data_2005_2['ESTU_IES_DEPT_DESEADA'].replace('QUINDÃO', 'QUINDIO')

In [217]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0      8403
2.0     41960
3.0    139903
4.0     30986
5.0     26809
6.0     17686
7.0     19962
8.0     21177
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 77078
__________________
Elementos diferentes de null/NaN: 306886
__________________
(306886,)
None

In [218]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([    4.0,     5.0,    23.0,    26.0,    27.0,    36.0,    49.0,
                 50.0,    56.0,    58.0,
              ...
              19956.0, 20008.0, 20049.0, 20072.0, 20101.0, 20124.0, 20133.0,
              20137.0, 20143.0, 20261.0],
             dtype='float64', length=3672)
4.0         35
5.0        187
23.0         8
26.0         5
27.0         3
36.0        56
49.0        12
50.0        21
56.0        34
58.0         7
59.0         3
60.0         7
61.0        19
63.0        45
64.0        51
68.0         1
74.0        20
87.0       127
88.0         1
89.0         2
101.0       26
102.0      409
103.0      781
105.0       39
106.0        9
107.0       18
108.0      167
109.0      382
110.0       19
111.0       86
          ...
18522.0      1
18523.0      1
18525.0      2
18534.0     13
18535.0      2
18537.0      2
18539.0      4
18541.0      4
18559.0      1
18563.0     17
18603.0      1
18610.0      1
18618.0      1
18620.0      4
18622.0      4
18638.0      1
18658.0      3
19492.0      1
19523.0      1
19924.0      1
19956.0      1
20008.0      1
20049.0      1
20072.0      1
20101.0      1
20124.0      1
20133.0      8
20137.0      1
20143.0     12
20261.0      1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 101572
__________________
Elementos diferentes de null/NaN: 282392
__________________
(282392,)
None

In [219]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0     93790
2.0    110092
3.0     45187
4.0     26963
5.0     24894
6.0      7592
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 75446
__________________
Elementos diferentes de null/NaN: 308518
__________________
(308518,)
None

### TARGETS

In [220]:
c = 'PUNT_BIOLOGIA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '22,75', '30,24', '34,86', '38,32', '41,17', '43,63',
       '45,85', '47,88', '49,8', '51,63', '53,42', '55,18', '56,94', '58,72',
       '60,55', '62,46', '64,49', '66,69', '69,14', '71,97', '75,42', '80,03',
       '87,49', '91,84'],
      dtype='object')
-1           1
0          181
22,75     1318
30,24     5551
34,86    14383
38,32    27292
41,17    40275
43,63    48785
45,85    49954
47,88    46283
49,8     38651
51,63    31098
53,42    23841
55,18    17825
56,94    13015
58,72     9271
60,55     6190
62,46     4200
64,49     2671
66,69     1555
69,14      845
71,97      456
75,42      223
80,03       72
87,49       27
91,84        1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [221]:
c = 'PUNT_BIOLOGIA'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [222]:
c = 'PUNT_MATEMATICAS'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '104,89', '16,9', '26,33', '32,18', '36,56', '40,15',
       '43,27', '46,07', '48,67', '51,11', '53,45', '55,73', '57,98', '60,24',
       '62,52', '64,88', '67,33', '69,93', '72,76', '75,91', '79,54', '83,95',
       '89,83', '99,32'],
      dtype='object')
-1            2
0           302
104,89        4
16,9       2415
26,33      9298
32,18     23295
36,56     41545
40,15     57523
43,27     63817
46,07     58727
48,67     46045
51,11     31361
53,45     20046
55,73     11772
57,98      6787
60,24      4191
62,52      2592
64,88      1595
67,33      1033
69,93       667
72,76       399
75,91       287
79,54       140
83,95        83
89,83        25
99,32        13
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [223]:
c = 'PUNT_MATEMATICAS'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [224]:
c = 'PUNT_FILOSOFIA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '13,76', '22,73', '28,3', '32,48', '35,93', '38,93', '41,62',
       '44,09', '46,43', '48,67', '50,84', '52,99', '55,13', '57,3', '59,52',
       '61,83', '64,28', '66,94', '69,89', '73,29', '77,42'],
      dtype='object')
-1          15
0          167
13,76     1165
22,73     4568
28,3     11937
32,48    23342
35,93    35557
38,93    46121
41,62    51638
44,09    51302
46,43    45613
48,67    37503
50,84    28350
52,99    19745
55,13    12423
57,3      7390
59,52     3921
61,83     1908
64,28      826
66,94      340
69,89      102
73,29       20
77,42       11
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [225]:
c = 'PUNT_FILOSOFIA'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [226]:
c = 'PUNT_FISICA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '102,81', '19,22', '28,83', '34,77', '39,23', '42,88',
       '46,06', '48,9', '51,53', '54,01', '56,39', '58,7', '60,98', '63,26',
       '65,58', '67,96', '70,44', '73,07', '75,93', '79,11', '82,77', '87,24',
       '93,19'],
      dtype='object')
-1            2
0           322
102,81        4
19,22      2553
28,83      9696
34,77     24443
39,23     43949
42,88     59926
46,06     65351
48,9      59547
51,53     45312
54,01     30067
56,39     18331
58,7      10123
60,98      5732
63,26      3278
65,58      2047
67,96      1276
70,44       837
73,07       524
75,93       297
79,11       175
82,77       115
87,24        39
93,19        18
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [227]:
c = 'PUNT_FISICA'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [228]:
c = 'PUNT_HISTORIA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '17,79', '25,08', '29,59', '33', '35,8', '38,22', '40,42',
       '42,46', '44,38', '46,23', '48,04', '49,82', '51,62', '53,44', '55,32',
       '57,29', '59,38', '61,65', '64,17', '67,09', '70,63', '75,31'],
      dtype='object')
-1           4
0          164
17,79     1209
25,08     4783
29,59    12418
33       23919
35,8     36105
38,22    45503
40,42    49398
42,46    47250
44,38    41935
46,23    34725
48,04    27126
49,82    20221
51,62    14997
53,44    10405
55,32     6688
57,29     3834
59,38     1977
61,65      895
64,17      317
67,09       75
70,63       13
75,31        3
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [229]:
c = 'PUNT_HISTORIA'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [230]:
c = 'PUNT_QUIMICA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '19,26', '26,1', '30,38', '33,62', '36,31', '38,67', '40,8',
       '42,8', '44,7', '46,54', '48,36', '50,18', '52,03', '53,94', '55,96',
       '58,12', '60,51', '63,23', '66,52', '70,85', '77,76', '82,38'],
      dtype='object')
-1           1
0           84
19,26      592
26,1      2589
30,38     8048
33,62    18385
36,31    31439
38,67    43872
40,8     51317
42,8     51346
44,7     46143
46,54    37584
48,36    28502
50,18    20967
52,03    14847
53,94    10296
55,96     7192
58,12     4728
60,51     3030
63,23     1601
66,52      892
70,85      355
77,76      126
82,38       28
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [231]:
c = 'PUNT_QUIMICA'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [232]:
c = 'PUNT_LENGUAJE'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['0', '17,83', '22,89', '26,76', '29,98', '32,82', '35,41', '37,83',
       '40,14', '42,39', '44,61', '46,83', '49,09', '51,43', '53,89', '56,52',
       '59,42', '62,72', '66,67', '71,82', '79,94', '85,46', '9,81'],
      dtype='object')
0           33
17,83      583
22,89     1851
26,76     4194
29,98     8401
32,82    13893
35,41    20388
37,83    27042
40,14    32236
42,39    36988
44,61    39578
46,83    39855
49,09    38090
51,43    34680
53,89    28690
56,52    22365
59,42    15760
62,72    10220
66,67     5612
71,82     2432
79,94      799
85,46      140
9,81       134
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [233]:
c = 'PUNT_LENGUAJE'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [234]:
c = 'PUNT_GEOGRAFIA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '16,79', '24,64', '29,51', '33,16', '36,15', '38,74',
       '41,08', '43,25', '45,28', '47,24', '49,14', '51,02', '52,91', '54,82',
       '56,78', '58,84', '61,02', '63,38', '66,01', '69,04', '72,73'],
      dtype='object')
-1           7
0          175
16,79     1376
24,64     5712
29,51    15395
33,16    29958
36,15    45166
38,74    55108
41,08    57907
43,25    51883
45,28    41536
47,24    30809
49,14    20618
51,02    12962
52,91     7549
54,82     4168
56,78     2119
58,84      952
61,02      381
63,38      135
66,01       37
69,04       10
72,73        1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [235]:
c = 'PUNT_GEOGRAFIA'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [236]:
c = 'NOMBRE_IDIOMA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['ALEMÃN', 'FRANCÃS', 'INGLÃS'], dtype='object')
ALEMÃN        238
FRANCÃS      2228
INGLÃS     381498
Name: NOMBRE_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [237]:
data_2005_2['NOMBRE_IDIOMA'] = data_2005_2['NOMBRE_IDIOMA'].replace('ALEMÃN', 'ALEMAN')
data_2005_2['NOMBRE_IDIOMA'] = data_2005_2['NOMBRE_IDIOMA'].replace('FRANCÃS', 'FRANCES')
data_2005_2['NOMBRE_IDIOMA'] = data_2005_2['NOMBRE_IDIOMA'].replace('INGLÃS', 'INGLES')

In [238]:
c = 'PUNT_IDIOMA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '18,26', '20,72', '22,17', '25,75', '28,18', '29,61',
       '30,38', '32,77', '33,85', '34,2', '36,2', '36,7', '37,62', '39,01',
       '39,16', '40,43', '41,36', '41,43', '42,86', '43,4', '43,6', '45,04',
       '45,31', '45,59', '47,05', '47,14', '47,46', '48,92', '48,94', '49,25',
       '50,67', '50,75', '50,98', '52,42', '52,51', '52,69', '54,19', '54,25',
       '54,4', '55,99', '56,01', '56,14', '57,75', '57,91', '57,92', '59,57',
       '59,77', '59,92', '61,46', '61,75', '62,11', '63,48', '63,9', '64,54',
       '65,66', '66,3', '67,36', '68,1', '69,07', '70,79', '70,92', '72,47',
       '74,36', '75,38', '77,02', '78,96', '82,83', '84,43', '87,17', '88,74'],
      dtype='object')
-1        1003
0          220
18,26      926
20,72       12
22,17        3
25,75     3598
28,18       56
29,61        5
30,38    10276
32,77      133
33,85    21082
34,2        14
36,2       232
36,7     35564
37,62       16
39,01      315
39,16    47989
40,43       23
41,36    54335
41,43      347
42,86       30
43,4     52335
43,6       337
45,04       26
45,31    44211
45,59      233
47,05       17
47,14    33443
47,46      156
48,92    23456
         ...
56,01     4980
56,14       23
57,75        7
57,91     3743
57,92       15
59,57        9
59,77       13
59,92     2999
61,46       11
61,75       15
62,11     2476
63,48       13
63,9        13
64,54     2064
65,66       14
66,3        15
67,36     1727
68,1         6
69,07       16
70,79     1199
70,92        4
72,47       11
74,36        4
75,38      726
77,02       12
78,96        2
82,83      257
84,43        4
87,17       58
88,74        1
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [239]:
c = 'PUNT_IDIOMA'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [240]:
c = 'DESEMP_IDIOMA'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Float64Index([-1.0], dtype='float64')
-1.0    1002
Name: DESEMP_IDIOMA, dtype: int64
Elementos null/NaN 382962
__________________
Elementos diferentes de null/NaN: 1002
__________________
(1002,)
None

In [241]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['PROFUNDIZACIÃN EN BIOLOGÃA', 'PROFUNDIZACIÃN EN HISTORIA',
       'PROFUNDIZACIÃN EN LENGUAJE', 'PROFUNDIZACIÃN EN MATEMÃTICA'],
      dtype='object')
PROFUNDIZACIÃN EN BIOLOGÃA      117348
PROFUNDIZACIÃN EN HISTORIA        66271
PROFUNDIZACIÃN EN LENGUAJE       143849
PROFUNDIZACIÃN EN MATEMÃTICA     56496
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [242]:
data_2005_2['NOMBRE_PROFUNDIZACION'] = data_2005_2['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN BIOLOGÃA', 'BIOLOGIA')
data_2005_2['NOMBRE_PROFUNDIZACION'] = data_2005_2['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN HISTORIA', 'HISTORIA')
data_2005_2['NOMBRE_PROFUNDIZACION'] = data_2005_2['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN LENGUAJE', 'LENGUAJE')
data_2005_2['NOMBRE_PROFUNDIZACION'] = data_2005_2['NOMBRE_PROFUNDIZACION'].replace('PROFUNDIZACIÃN EN MATEMÃTICA', 'MATEMATICA')

In [243]:
c = 'PUNT_PROFUNDIZACION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '1,7', '10', '2,5', '2,7', '3,2', '3,3', '3,5', '3,9', '4',
       '4,1', '4,2', '4,3', '4,5', '4,6', '4,7', '5', '5,1', '5,3', '5,4',
       '5,5', '5,7', '5,8', '5,9', '6', '6,1', '6,3', '6,4', '6,7', '6,8',
       '7,1', '7,3', '7,4', '7,6', '7,8', '7,9', '8', '8,2', '8,4', '9', '9,1',
       '9,2'],
      dtype='object')
-1       223
0       1863
1,7     2136
10         5
2,5     1355
2,7     5651
3,2     3098
3,3    14256
3,5     3634
3,9    15876
4       7431
4,1     6909
4,2    10020
4,3    19729
4,5     9709
4,6    10971
4,7    39867
5      23187
5,1    44120
5,3    10575
5,4     9809
5,5    40018
5,7     9047
5,8    23312
5,9    13818
6       6714
6,1    13997
6,3     8911
6,4    11452
6,7     5616
6,8     4750
7,1     2356
7,3     1795
7,4      670
7,6      166
7,8      196
7,9       39
8        515
8,2       32
8,4       48
9         72
9,1        4
9,2       12
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [244]:
c = 'PUNT_PROFUNDIZACION'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [245]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1        223
GB     155279
I      182199
II      44166
III      2097
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [246]:
data_2005_2['DESEMP_PROFUNDIZACION'] = data_2005_2['DESEMP_PROFUNDIZACION'].replace('-1', np.nan)

In [247]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          203278
VIOLENCIA Y SOCIEDAD    180686
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [248]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Index(['-1', '0', '19,99', '30,06', '36,59', '41,69', '44,99', '46,06',
       '47,34', '48,85', '50,02', '51,02', '51,93', '52,8', '53,64', '53,77',
       '54,51', '55,42', '56,43', '57,44', '57,61', '59,12', '61,15', '61,49',
       '63,82', '65,06', '69,34', '74,31', '80,65'],
      dtype='object')
-1        4285
0         1713
19,99     5420
30,06    15074
36,59    26755
41,69    33698
44,99     3940
46,06    34067
47,34    10753
48,85    20075
50,02    55329
51,02    31558
51,93    30348
52,8     25962
53,64    20234
53,77    18153
54,51    14253
55,42     8566
56,43     4148
57,44    10419
57,61     1550
59,12      377
61,15     4814
61,49       63
63,82        4
65,06     1764
69,34      525
74,31      104
80,65       13
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

In [249]:
c = 'PUNT_INTERDISCIPLINAR'
for i in data_2005_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2005_2[c] = data_2005_2[c].replace(i, i.replace(',', '.'))

for i in data_2005_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2005_2[c] = data_2005_2[c].replace(i, float(i))

In [250]:
c = 'ESTU_PUESTO'
print(data_2005_2[c].value_counts().sort_index().index)
print(data_2005_2[c].value_counts().sort_index())
print(missing_data(data_2005_2[c]))

Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            957, 958, 959, 960, 961, 962, 963, 964, 965, 966],
           dtype='int64', length=966)
1      344
2      352
3      367
4      357
5      350
6      366
7      364
8      359
9      364
10     351
11     368
12     357
13     367
14     371
15     352
16     357
17     355
18     342
19     361
20     375
21     360
22     351
23     353
24     352
25     360
26     363
27     365
28     370
29     354
30     366
      ...
937    409
938    404
939    396
940    410
941    403
942    397
943    412
944    412
945    399
946    413
947    405
948    408
949    409
950    409
951    414
952    412
953    416
954    413
955    417
956    417
957    414
958    417
959    420
960    431
961    425
962    434
963    414
964    439
965    382
966    167
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 383964
__________________
(383964,)
None

Now i can transform the obtained Dataframes in csv files

In [252]:
data_2005.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2005_1', sep=';', index=False)
data_2005_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2005_2', sep=';', index=False)