In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2007 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20071-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|')

In [3]:
data_2007.shape

(69301, 84)

In [4]:
data_2007.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200710000001,SB11200710000002,SB11200710000003
PERIODO,20071,20071,20071
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,F
ESTU_NACIMIENTO_DIA,22,19,21
ESTU_NACIMIENTO_MES,2,5,10
ESTU_NACIMIENTO_ANNO,1991,1994,1990
ESTU_EDAD,16,12,16
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76122,76122,76122
ESTU_RESIDE_MCPIO,CAICEDONIA,CAICEDONIA,CAICEDONIA
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,76122,76122,76122
ESTU_MCPIO_PRESENTACION,CAICEDONIA,CAICEDONIA,CAICEDONIA
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO 2007-1,EXAMEN DE ESTADO 2007-1,EXAMEN DE ESTADO 2007-1
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2007,2007,2007
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,18226,18226,18226
COLE_COD_ICFES,18226,18226,18226
...,...,...,...
FAMI_COMPUTADOR,NaN,NaN,NaN
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,0,0,0
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1805,1208,NaN
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD SANTIAGO DE CALI,UNIVERSIDAD DEL QUINDIO,NaN
ESTU_IES_COD_MPIO_DESEADA,76001,63001,NaN
ESTU_IES_MPIO_DESEADA,CALI,ARMENIA,NaN
ESTU_IES_DEPT_DESEADA,VALLE,QUIND√çO,NaN
ESTU_RAZONINSTITUTO,8,7,NaN
ESTU_CARRDESEADA_COD,16268,12411,NaN
ESTU_CARRDESEADA_RAZON,2,2,NaN
PUNT_LENGUAJE,"46,31","56,32","52,33"
PUNT_MATEMATICAS,"37,74","59,27","41,17"
PUNT_C_SOCIALES,"48,89","58,98","48,89"
PUNT_FILOSOFIA,"41,41","43,87","57,8"
PUNT_BIOLOGIA,"40,38","53,91","52,12"
PUNT_QUIMICA,"38,8","52,17","34,53"
PUNT_FISICA,"46,28","33,79","23,28"
PUNT_INGLES,"38,66","42,76","40,78"
DESEMP_INGLES,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACI√ìN EN LENGUAJE,PROFUNDIZACI√ìN EN MATEM√ÅTICA,PROFUNDIZACI√ìN EN BIOLOG√çA
PUNT_PROFUNDIZACION,"4,89","5,74","5,53"
DESEMP_PROFUNDIZACION,I,II,I
NOMBRE_INTERDISCIPLINAR,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"46,46","46,46","46,46"
ESTU_PUESTO,695,183,577

In [5]:
data_2007 = data_2007.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO', 
                            'ESTU_COD_MCPIO_PRESENTACION'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['BE', 'BR', 'CN', 'CO', 'CU', 'DE', 'DO', 'EC', 'ES', 'FM', 'JO', 'KP',
       'LB', 'MA', 'PA', 'RU', 'US', 'VE'],
      dtype='object')
BE        1
BR        1
CN        2
CO    69214
CU        1
DE        2
DO        2
EC        4
ES        3
FM        1
JO        1
KP        1
LB        1
MA        1
PA        2
RU        1
US       12
VE        3
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 48
__________________
Elementos diferentes de null/NaN: 69253
__________________
(69253,)
None

In [7]:
c = 'ESTU_GENERO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['F', 'M'], dtype='object')
F    37314
M    31964
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 23
__________________
Elementos diferentes de null/NaN: 69278
__________________
(69278,)
None

In [8]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     2502
2     2339
3     2373
4     2285
5     2301
6     2233
7     2224
8     2214
9     2201
10    2428
11    2230
12    2284
13    2221
14    2138
15    2393
16    2277
17    2185
18    2274
19    2175
20    2337
21    2252
22    2329
23    2163
24    2263
25    2225
26    2270
27    2338
28    2505
29    2036
30    2005
31    1228
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 69228
__________________
(69228,)
None

In [9]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     5758
2     5214
3     5920
4     5612
5     5945
6     5675
7     5826
8     5879
9     6156
10    5915
11    5496
12    5832
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 69228
__________________
(69228,)
None

In [10]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1930.0, 1931.0, 1932.0, 1933.0, 1936.0, 1939.0, 1940.0, 1941.0,
              1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0,
              1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0,
              1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0,
              1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0,
              1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0,
              1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0,
              1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0,
              1998.0, 2000.0, 2001.0, 2002.0, 2087.0, 2090.0, 2091.0],
             dtype='float64')
1930        4
1931        3
1932        2
1933        1
1936        2
1939        1
1940        4
1941        3
1942        2
1943        1
1944        4
1945        4
1946        5
1947        3
1948        5
1949        4
1950        4
1951        4
1952        5
1953       19
1954       14
1955       20
1956       24
1957       24
1958       23
1959       25
1960       45
1961       44
1962       40
1963       56
        ...
1975      161
1976      167
1977      216
1978      194
1979      247
1980      338
1981      324
1982      387
1983      453
1984      576
1985      791
1986     1483
1987     3229
1988     8043
1989    16055
1990    25223
1991     7602
1992      752
1993      363
1994      915
1995        7
1996        1
1997        1
1998        3
2000        4
2001        6
2002        3
2087        1
2090        1
2091        1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 69228
__________________
(69228,)
None

In [11]:
for i in data_2007[c].value_counts().sort_index().index:
    if i > 1995:
        data_2007[c] = data_2007[c].replace(i, np.nan)

In [12]:
c = 'ESTU_EDAD'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Int64Index([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
            29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
            46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
            63, 64, 65, 66, 67, 70, 74, 75, 76, 77],
           dtype='int64')
12      797
13      555
14      695
15     4642
16    23837
17    17890
18     9534
19     3817
20     1714
21      898
22      600
23      495
24      377
25      344
26      331
27      274
28      214
29      222
30      167
31      161
32      149
33      137
34      131
35      126
36      139
37      186
38      131
39      119
40       72
41       75
      ...
43       55
44       48
45       41
46       52
47       28
48       20
49       24
50       24
51       26
52       12
53       20
54        7
55        3
56        5
57        4
58        4
59        4
60        6
61        4
62        4
63        1
64        1
65        4
66        1
67        4
70        2
74        2
75        2
76        5
77        1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [13]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 69301
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [14]:
data_2007 = data_2007.drop([c], axis = 1)

In [15]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 69301
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [16]:
data_2007 = data_2007.drop([c], axis = 1)

In [17]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 69301
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [18]:
data_2007 = data_2007.drop([c], axis = 1)

In [19]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 69301
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [20]:
data_2007 = data_2007.drop([c], axis = 1)

In [21]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 69301
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [22]:
data_2007 = data_2007.drop([c], axis = 1)

In [23]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 69301
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [24]:
data_2007 = data_2007.drop([c], axis = 1)

In [25]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 69301
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [26]:
data_2007 = data_2007.drop([c], axis = 1)

In [27]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ABEJORRAL', 'ABRIAQUI', 'ACACIAS', 'ACEVEDO', 'AGRADO', 'AGUA DE DIOS',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'ALBAN',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VISTA HERMOSA', 'YACUANQUER', 'YOLOMBO',
       'YOPAL', 'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=366)
ABEJORRAL                       6
ABRIAQUI                        2
ACACIAS                        13
ACEVEDO                         2
AGRADO                          1
AGUA DE DIOS                    1
AGUADAS                         1
AGUAZUL                         2
AGUSTIN CODAZZI                 7
ALBAN                           1
ALBAN (SAN JOSE)              122
ALBANIA                        41
ALCALA                        103
ALDANA                         65
ALMAGUER                        1
AMAGA                           4
ANCUYA                         67
ANDALUCIA                     200
ANDES                           7
ANORI                           2
ANSERMANUEVO                  127
APARTADO                       20
APIA                            5
ARATOCA                         1
ARAUCA                         16
ARBOLEDA (BERRUECOS)           48
ARGELIA                        56
ARMENIA                       176
ARMERO (GUAYABAL)               1
ATRATO (YUTO)                   3
                             ...
TUMACO                       1305
TUNJA                          67
TUQUERRES                     375
TURBACO                         1
UBATE                          10
ULLOA                          28
URIBIA                          2
UTICA                           2
VALENCIA                       12
VALLEDUPAR                    116
VELEZ                           1
VENADILLO                       1
VERSALLES                      74
VICTORIA                        5
VIJES                         112
VILLA DEL ROSARIO               1
VILLA GUAMEZ (LA HORMIGA)      21
VILLA RICA                      1
VILLAMARIA                      2
VILLANUEVA                      1
VILLAVICENCIO                 239
VILLETA                        44
VISTA HERMOSA                   1
YACUANQUER                    105
YOLOMBO                         7
YOPAL                          77
YOTOCO                        126
YUMBO                        1162
ZARZAL                        489
ZIPAQUIRA                      77
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 24
__________________
Elementos diferentes de null/NaN: 69277
__________________
(69277,)
None

In [28]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATL√ÅNTICO', 'BOGOT√Å', 'BOL√çVAR', 'BOYAC√Å',
       'CALDAS', 'CAQUET√Å', 'CASANARE', 'CAUCA', 'CESAR', 'CHOC√ì',
       'CUNDINAMARCA', 'C√ìRDOBA', 'GUAIN√çA', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARI√ëO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUIND√çO',
       'RISARALDA', 'SAN ANDR√âS', 'SANTANDER', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2112
ARAUCA                16
ATL√ÅNTICO            590
BOGOT√Å              6157
BOL√çVAR              224
BOYAC√Å               209
CALDAS               392
CAQUET√Å               61
CASANARE              82
CAUCA               1155
CESAR                123
CHOC√ì                  5
CUNDINAMARCA         960
C√ìRDOBA               46
GUAIN√çA                7
HUILA                357
LA GUAJIRA            87
MAGDALENA             75
META                 272
NARI√ëO             13348
NORTE SANTANDER      173
PUTUMAYO              48
QUIND√çO              192
RISARALDA            312
SAN ANDR√âS             1
SANTANDER            565
TOLIMA               362
VALLE              41344
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 26
__________________
Elementos diferentes de null/NaN: 69275
__________________
(69275,)
None

In [29]:
c = 'ESTU_ZONA_RESIDE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      6456
2      3147
3      1088
4      6572
5      1889
6      3012
7      4017
8      1441
9      1637
10    40014
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 28
__________________
Elementos diferentes de null/NaN: 69273
__________________
(69273,)
None

In [30]:
c = 'ESTU_AREA_RESIDE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    2981
2     718
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 65602
__________________
Elementos diferentes de null/NaN: 3699
__________________
(3699,)
None

In [31]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO', 'APARTADO', 'ARAUCA',
       'ARMENIA', 'BARBACOAS', 'BARRANCABERMEJA', 'BARRANQUILLA',
       ...
       'TUNJA', 'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=112)
ALBANIA                      46
ALCALA                      134
ANDALUCIA                   203
ANSERMANUEVO                138
APARTADO                     41
ARAUCA                       16
ARMENIA                     177
BARBACOAS                   193
BARRANCABERMEJA               2
BARRANQUILLA                603
BELLO                       187
BOGOT√Å D.C.                6047
BOLIVAR                      89
BUCARAMANGA                 531
BUENAVENTURA               2400
BUESACO                     251
BUGA                       1695
BUGALAGRANDE                213
CAICEDONIA                  305
CALI                      20663
CALIMA (DARIEN)             190
CAMPOALEGRE                   3
CANDELARIA                  675
CARTAGENA                   217
CARTAGO                    1849
CHAPARRAL                    84
CHIA                        286
CONSACA                     107
CUCUTA                      163
CUMBAL                      342
                          ...
ROLDANILLO                  589
SAMANIEGO                   300
SAN GIL                       3
SAN PABLO                   176
SANDONA                     324
SANTA MARTA                  81
SANTA ROSA DE OSOS           26
SANTANDER DE QUILICHAO       78
SEVILLA                     390
SOACHA                      239
SOCORRO                       1
SOGAMOSO                    126
TAMINANGO                   135
TANGUA                       48
TIMBIO                       45
TIMBIQUI                     15
TORO                        151
TRUJILLO                    220
TULUA                      2557
TUMACO                     1348
TUNJA                        76
TUQUERRES                   530
UBATE                        23
VALLEDUPAR                  125
VELEZ                        25
VILLAVICENCIO               271
YOPAL                        80
YUMBO                      1345
ZARZAL                      506
ZIPAQUIRA                    91
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [32]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATL√ÅNTICO', 'BOGOT√Å', 'BOL√çVAR', 'BOYAC√Å',
       'CALDAS', 'CAQUET√Å', 'CASANARE', 'CAUCA', 'CESAR', 'CUNDINAMARCA',
       'C√ìRDOBA', 'GUAIN√çA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARI√ëO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUIND√çO', 'RISARALDA',
       'SANTANDER', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2080
ARAUCA                16
ATL√ÅNTICO            603
BOGOT√Å              6047
BOL√çVAR              225
BOYAC√Å               202
CALDAS               488
CAQUET√Å               60
CASANARE              81
CAUCA               1097
CESAR                125
CUNDINAMARCA         886
C√ìRDOBA               43
GUAIN√çA                7
HUILA                356
LA GUAJIRA            90
MAGDALENA             81
META                 278
NARI√ëO             13578
NORTE SANTANDER      171
PUTUMAYO              41
QUIND√çO              177
RISARALDA            309
SANTANDER            563
TOLIMA               261
VALLE              41436
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [33]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['EXAMEN DE ESTADO 2007-1'], dtype='object')
EXAMEN DE ESTADO 2007-1    69301
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [34]:
data_2007 = data_2007.drop([c], axis = 1)

In [35]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     6614
1    62679
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 8
__________________
Elementos diferentes de null/NaN: 69293
__________________
(69293,)
None

In [36]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1978.0, 1980.0, 1981.0, 1982.0, 1984.0, 1990.0, 1992.0, 1995.0,
              1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0,
              2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2013.0, 9999.0],
             dtype='float64')
1978        1
1980        1
1981        1
1982        1
1984        1
1990        1
1992        1
1995        2
1997        2
1998        1
1999        1
2000        2
2001        2
2002        3
2003        3
2004        9
2005       13
2006      131
2007    66118
2008      336
2009       21
2010        4
2013        1
9999        1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 2644
__________________
Elementos diferentes de null/NaN: 66657
__________________
(66657,)
None

In [37]:
for i in data_2007[c].value_counts().sort_index().index:
    if i > 2010:
        data_2007[c] = data_2007[c].replace(i, np.nan)

In [38]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0], dtype='float64')
1    230
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 69071
__________________
Elementos diferentes de null/NaN: 230
__________________
(230,)
None

In [39]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([     2.0,      3.0,    182.0,    638.0,   1503.0,   3046.0,
                3327.0,   3418.0,   3459.0,   3525.0,
              ...
              168575.0, 170456.0, 170654.0, 170803.0, 172734.0, 173526.0,
              175687.0, 175893.0, 176370.0, 999999.0],
             dtype='float64', length=1899)
2           2
3          96
182        86
638        40
1503       44
3046       44
3327       18
3418       41
3459       83
3525      111
4234       40
5504        1
6023      110
6437        1
6635        1
6775       19
6981       11
7013       65
7054        7
7070       97
7088       49
7153        1
7419        1
9110      140
9225        1
9894        1
9910        2
9951        1
9993       24
10009       7
         ...
139840      1
141465      1
141911      1
142927      1
143149      1
143263      1
143271      1
143495      2
143834      3
146316      3
152173      1
153692      2
156067      1
156372      1
156471      1
157024      1
160515      1
163907      1
164129      1
164822      1
168575      1
170456      1
170654      1
170803      1
172734      1
173526      1
175687      1
175893      1
176370      1
999999    177
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 267
__________________
Elementos diferentes de null/NaN: 69034
__________________
(69034,)
None

In [40]:
c = 'COLE_COD_ICFES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Int64Index([   182,    638,   1503,   3046,   3327,   3418,   3459,   3525,
              4234,   6023,
            ...
            130674, 130724, 130732, 130799, 130815, 130823, 131045, 131169,
            131201, 131581],
           dtype='int64', length=1709)
182        86
638        40
1503       44
3046       44
3327       18
3418       41
3459       85
3525      111
4234       41
6023      110
6775       19
6981       11
7013       67
7054        8
7070      100
7088       49
11213     230
11239      67
11254      40
11262      35
11270     126
11288     120
11296     250
11312     168
11320     149
11338     397
11379      19
11395      29
11403      58
11411     161
         ...
130161     18
130187     13
130195     13
130203     53
130211      4
130229      8
130237      8
130278     28
130294      8
130377      5
130385      7
130427    149
130500     11
130534     10
130567     23
130583     12
130591     20
130617     14
130625     33
130641     13
130674      8
130724     14
130732     14
130799     22
130815      7
130823     10
131045     38
131169     10
131201     44
131581     18
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [41]:
for i in data_2007[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2007[c] = data_2007[c].replace(i, np.nan)

In [42]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['            ', '010500103391', '051100116867', '105001000566',
       '105001003387', '105001003395', '105001003425', '105001014397',
       '105001022446', '105088001512',
       ...
       '568001009690', '568001009700', '576001091472', '576622134546',
       '625214000001', '625269000075', '625269000082', '625286000041',
       '625843000124', '841551000001'],
      dtype='object', length=1508)
                1012
010500103391      24
051100116867      41
105001000566      26
105001003387      16
105001003395      62
105001003425       9
105001014397       4
105001022446       9
105088001512      38
105088002993      10
105129000534      44
105361000443      20
105376000440      11
105697000069      24
105792000190       9
108001003289      16
111001009971      19
111001010251      16
111001010839      40
111001010910       6
111001011029       9
111001012360      23
111001030856      11
111001034134      13
111001036781      49
111001075515      20
111001092410      80
111001102148      14
111848003031      23
                ...
476130000813       7
476130000902      11
476130000961      13
476130001186      17
476130001208      13
476248000478     116
476248000648       9
476248000877       1
476248032012      29
476520003813      14
476520006324       6
476892001183      13
476892099710      20
476892099728      14
476895000382      39
519001000002      48
519698000003      23
525899000016      15
541548000100       7
552356000068       3
568001009690      23
568001009700      19
576001091472       9
576622134546      19
625214000001      20
625269000075       9
625269000082      14
625286000041      66
625843000124       6
841551000001      14
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [43]:
data_2007[c] = data_2007[c].replace('            ', np.nan)

In [44]:
c = 'COLE_NOMBRE_SEDE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index([' COL FUND STA ISABEL DE HUNGRIA', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' FUND COL PAR SAN PEDRO CLAVER',
       '07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM',
       '20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO',
       '28/01 INSTITUCI√ìN EDUCATIVA SANTA FE',
       '32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI',
       '38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO',
       '39/01 INSTITUCION EDUCATIVA BOYACA',
       '41/01 INSTITUCION EDUCATIVA VILLA DEL SUR',
       ...
       'SUSANA LOPEZ DE VALENCIA', 'TABLONES',
       'TECNOL√ìGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB',
       'TERESA CALDER√ìN DE LASSO',
       'T√âCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL',
       'UNIDAD TECNOLOGICA DE OCCIDENTE', 'UNIDAD TECNOLOGICA DEL SUR',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA',
       'XINSTITUTO TECNICO COMERCIAL PILOTO'],
      dtype='object', length=1547)
 COL FUND STA ISABEL DE HUNGRIA                                                                         371
 ESCUELA URBANA JOSE ANTONIO GALAN                                                                       39
 FUND COL PAR SAN PEDRO CLAVER                                                                           80
07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM                                                           520
20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO                                                             87
28/01 INSTITUCI√ìN EDUCATIVA SANTA FE                                                                     93
32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI                                            165
38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO                                                     121
39/01 INSTITUCION EDUCATIVA BOYACA                                                                      120
41/01 INSTITUCION EDUCATIVA VILLA DEL SUR                                                               118
44/01 INSTITUCI√ìN EDUCATIVA COMERCIAL CIUDAD DE CALI                                                    299
58/01 INSTITUCION EDUCATIVA GABRIELA MISTRAL                                                            115
69/01 INSTITUCION EDUCATIVA LA ESPERANZA                                                                 22
74/01 INSTITUCION EDUCATIVA JUANA DE CAICEDO Y CUERO                                                     46
80/01 INSTITUCI√ìN EDUCATIVA PANCE                                                                        19
81/02 INSTITUCION EDUCATIVA LA BUITRERA JOSE MARIA GARCIA DE TOLED                                       30
84/04  JOSE HOLGUIN GARCES                                                                                5
85/02 SAT JOSE HOLGUIN GARCES                                                                            14
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                                                   17
ABSALON TORRES CAMACHO                                                                                  105
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                                    12
ACADE MILIT JOAQU√çN DE CAICEDO Y CUERO                                                                   20
ACADEMIA ACADEMIA SAM                                                                                    12
ACADEMIA COLOMBIANA DE ENSE√ëANZA                                                                         21
ACADEMIA COMERCIAL REAL                                                                                  18
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                                                19
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                                                               13
ACADEMIA MILITAR GENERAL CUSTODIO GARCIA ROVIRA                                                          22
ACADEMIA MILITAR GENERAL JOS√â MAR√çA CABAL                                                                32
AGRICOLA CAMPOALEGRE                                                                                     36
                                                                                                       ...
SEDE PRINCIPAL AGUACLARA                                                                                 83
SEDE PRINCIPAL CONCENTRACI√ìN DE DESARROLLO RURAL                                                         30
SEDE PRINCIPAL GIMNASIO DEL PACIFICO CENTRAL                                                            372
SEDE PRINCIPAL INSTITUTO JULIA RESTREPO                                                                 287
SEDE PRINCIPAL INSTITUTO TEC.  INDUSTRIAL C.S.L.                                                        191
SEDE PRINCIPAL LA GRACIELA                                                                               80
SEDE PRINCIPAL LICEO MODERNO                                                                            178
SEDE PRINCIPAL NO. 7 MARIA ANTONIA RUIZ                                                                  35
SEDE PRINCIPAL UNIDAD DOCENTE JOVITA SANTA COLOMA                                                        79
SEM DE CRISTO SACERDOTE                                                                                  40
SEMILLA DE LA ESPERANZA                                                                                  18
SEMINARIO MENOR ARQUIDIOCESANO                                                                           57
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                                                                110
SEVILLA                                                                                                 195
SIMON BOLIVAR                                                                                           198
SIMON RODRIGUEZ                                                                                          60
SIXTO MARIA ROJAS                                                                                        47
SOC ESCUELA KARL C PARRISH                                                                               41
SOR MARIA JULIANA                                                                                       133
STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION                                               113
SUSANA LOPEZ DE VALENCIA                                                                                 35
TABLONES                                                                                                 32
TECNOL√ìGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB                                            22
TERESA CALDER√ìN DE LASSO                                                                                 31
T√âCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL                                               213
UNIDAD TECNOLOGICA DE OCCIDENTE                                                                           8
UNIDAD TECNOLOGICA DEL SUR                                                                                4
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                                                    17
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                               15
XINSTITUTO TECNICO COMERCIAL PILOTO                                                                       8
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [45]:
data_2007 = data_2007.drop([c], axis = 1)

In [46]:
c = 'COLE_CALENDARIO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['A', 'B', 'F'], dtype='object')
A    42311
B    13208
F    13782
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [47]:
c = 'COLE_GENERO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4454
M     1141
X    63706
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [48]:
c = 'COLE_NATURALEZA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['N', 'O'], dtype='object')
N    29309
O    39992
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [49]:
c = 'COLE_BILINGUE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    61864
1     4174
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 3263
__________________
Elementos diferentes de null/NaN: 66038
__________________
(66038,)
None

In [50]:
c = 'COLE_JORNADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['COMPLETA U ORDINARIA', 'MA√ëANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    10380
MA√ëANA                  41999
NOCHE                    6343
SABATINA - DOMINICAL     2732
TARDE                    7847
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [51]:
c = 'COLE_CARACTER'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              35806
ACADEMICO Y TECNICO    12107
NORMALISTA              1440
TECNICO                19948
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [52]:
c = 'ESTU_ETNIA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1     3156
2       19
3       99
4        6
5        4
6        4
7        8
8        6
9       20
10       6
11    1040
12       8
13      21
14       9
15       3
16       3
99    1593
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 63296
__________________
Elementos diferentes de null/NaN: 6005
__________________
(6005,)
None

In [53]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      8
1    934
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 68359
__________________
Elementos diferentes de null/NaN: 942
__________________
(942,)
None

In [54]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     13
1    929
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 68359
__________________
Elementos diferentes de null/NaN: 942
__________________
(942,)
None

In [55]:
c = 'FAMI_EDUCA_PADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0     126
1       4
2      11
3      10
4      12
5       5
7       1
9     528
10    438
11    360
12    705
13     55
14    154
15     99
16    710
17    421
99     72
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 65590
__________________
Elementos diferentes de null/NaN: 3711
__________________
(3711,)
None

In [56]:
c = 'FAMI_EDUCA_MADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      62
1       5
2      16
3      10
4       1
5       7
7       2
9     518
10    437
11    428
12    743
13     77
14    208
15    114
16    723
17    310
99     50
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 65590
__________________
Elementos diferentes de null/NaN: 3711
__________________
(3711,)
None

In [57]:
c = 'FAMI_OCUPA_PADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 1.0,  2.0,  3.0,  6.0,  7.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0,
              15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0,
              26.0, 99.0],
             dtype='float64')
1       1
2       2
3       1
6       1
7       2
9      23
10      1
11     10
12      8
13    292
14    367
15    173
16    165
17    210
18     83
19    398
20    305
21    862
22     51
23    227
24      3
25      3
26    439
99     84
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 65590
__________________
Elementos diferentes de null/NaN: 3711
__________________
(3711,)
None

In [58]:
c = 'FAMI_OCUPA_MADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 2.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,
              16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0,
              99.0],
             dtype='float64')
2        1
6        2
7        1
8        1
9        6
10      33
11       2
12       3
13     131
14     212
15     106
16     190
17     195
18     117
19     200
20     197
21     372
22    1548
23     119
24       1
25       4
26     239
99      31
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 65590
__________________
Elementos diferentes de null/NaN: 3711
__________________
(3711,)
None

In [59]:
c = 'FAMI_NUM_HERMANOS'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0     139
1     354
2     243
3     116
4      59
5      21
6      19
7       3
8       3
9       1
10      1
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 68342
__________________
Elementos diferentes de null/NaN: 959
__________________
(959,)
None

In [60]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1      30
2      63
3     116
4     253
5      35
6      70
7     115
8     112
9      11
88    401
99     31
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 68064
__________________
Elementos diferentes de null/NaN: 1237
__________________
(1237,)
None

In [61]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1     451
2      43
88    326
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 68481
__________________
Elementos diferentes de null/NaN: 820
__________________
(820,)
None

In [62]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1     802
2    1005
3     780
4     365
5     324
6     437
8      16
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 65572
__________________
Elementos diferentes de null/NaN: 3729
__________________
(3729,)
None

In [63]:
data_2007[c] = data_2007[c].replace(8.0, np.nan)

In [64]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     960
2     589
3     123
4      63
5    1976
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 65590
__________________
Elementos diferentes de null/NaN: 3711
__________________
(3711,)
None

In [65]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      107
2      303
3      787
4     1115
5      770
6      314
7      142
8       86
9       36
10      25
11       7
12      16
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 65593
__________________
Elementos diferentes de null/NaN: 3708
__________________
(3708,)
None

In [66]:
c = 'FAMI_PISOSHOGAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1      95
2    1065
3     238
4    1570
5     743
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 65590
__________________
Elementos diferentes de null/NaN: 3711
__________________
(3711,)
None

In [67]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      25
2     136
3     349
4     388
5     318
6     165
7      62
8      32
9      16
10     17
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 67793
__________________
Elementos diferentes de null/NaN: 1508
__________________
(1508,)
None

In [68]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0], dtype='float64')
1      200
2     1060
3     1584
4      604
5      165
6       44
7       17
8        3
10       4
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 65620
__________________
Elementos diferentes de null/NaN: 3681
__________________
(3681,)
None

In [69]:
c = 'FAMI_COMPUTADOR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    1103
1      69
2      43
3    2465
4      31
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 65590
__________________
Elementos diferentes de null/NaN: 3711
__________________
(3711,)
None

In [70]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1     607
2    1302
3     572
4     416
5     182
6     191
7     441
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 65590
__________________
Elementos diferentes de null/NaN: 3711
__________________
(3711,)
None

In [71]:
c = 'ESTU_TRABAJA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    2205
1      66
2      30
3     385
4     212
5     313
6       1
7       5
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 66084
__________________
Elementos diferentes de null/NaN: 3217
__________________
(3217,)
None

In [72]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0       2
1       3
2       8
3       5
4      19
5      19
6      27
7      11
8      86
9      14
10     39
11      5
12     21
13      8
14     11
15     18
16     20
17      2
18     15
19     10
20    647
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 68311
__________________
Elementos diferentes de null/NaN: 990
__________________
(990,)
None

In [73]:
c = 'COLE_VALOR_PENSION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0     35981
1      7675
2      5548
3      4684
4      3807
5      3074
6      2667
7      5712
8        86
9         7
10        6
11       10
12        7
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 37
__________________
Elementos diferentes de null/NaN: 69264
__________________
(69264,)
None

In [74]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    1
1    1
3    9
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 69290
__________________
Elementos diferentes de null/NaN: 11
__________________
(11,)
None

In [75]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([9.0, 27.0, 45.0, 57.0], dtype='float64')
9     3
27    1
45    4
57    2
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 69291
__________________
Elementos diferentes de null/NaN: 10
__________________
(10,)
None

In [76]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1109.0, 1110.0,
              ...
              9104.0, 9105.0, 9107.0, 9109.0, 9110.0, 9111.0, 9112.0, 9113.0,
              9114.0, 9115.0],
             dtype='float64', length=300)
1101     2079
1102      132
1103      151
1104      511
1105       90
1106       35
1107       11
1108        7
1109        3
1110      953
1111      578
1112      251
1113       31
1114      109
1115       22
1117       59
1119      100
1120        3
1121        6
1122      295
1124        3
1125        1
1201      628
1202       45
1203    17013
1204      155
1205       36
1206     5744
1207       70
1208      267
        ...
4813       14
4814       38
4817       11
4818        6
4822       12
4823       13
4825        8
4826        9
4827       19
4828       51
4829        2
4832        4
4835       11
4837        4
4838       14
5801        6
5802        6
9101      139
9102       26
9103      210
9104      157
9105       41
9107       10
9109        1
9110      353
9111      899
9112       65
9113        5
9114       13
9115      256
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 24464
__________________
Elementos diferentes de null/NaN: 44837
__________________
(44837,)
None

In [77]:
c = 'ESTU_IES_DESEADA_NOMBRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['CENTRO DE EDUCACION MILITAR',
       'CENTRO EDUCACIONAL DE COMPUTOS Y SISTEMAS-CEDESISTEMAS-',
       'COLEGIO DE ESTUDIOS SUPERIORES DE ADMINISTRACION-CESA-',
       'COLEGIO INTEGRADO NACIONAL ORIENTE DE CALDAS',
       'COLEGIO MAYOR DE ANTIOQUIA', 'COLEGIO MAYOR DE BOLIVAR',
       'COLEGIO MAYOR DE NUESTRA SE√ëORA DEL ROSARIO',
       'COLEGIO MAYOR DEL CAUCA', 'COLEGIO ODONTOLOGICO COLOMBIANO',
       'CONSERVATORIO DEL TOLIMA',
       ...
       'UNIVERSIDAD SANTIAGO DE CALI',
       'UNIVERSIDAD SANTIAGO DE CALI  SECCIONAL PALMIRA',
       'UNIVERSIDAD SANTO TOMAS', 'UNIVERSIDAD SERGIO ARBOLEDA',
       'UNIVERSIDAD SIMON BOLIVAR', 'UNIVERSIDAD SURCOLOMBIANA',
       'UNIVERSIDAD TECNOLOGICA DE BOLIVAR',
       'UNIVERSIDAD TECNOLOGICA DE PEREIRA',
       'UNIVERSIDAD-COLEGIO MAYOR DE CUNDINAMARCA',
       'UNIVERSITARIA AGUSTINIANA- UNIAGUSTINIANA'],
      dtype='object', length=256)
CENTRO DE EDUCACION MILITAR                                                         170
CENTRO EDUCACIONAL DE COMPUTOS Y SISTEMAS-CEDESISTEMAS-                              32
COLEGIO DE ESTUDIOS SUPERIORES DE ADMINISTRACION-CESA-                              109
COLEGIO INTEGRADO NACIONAL ORIENTE DE CALDAS                                         16
COLEGIO MAYOR DE ANTIOQUIA                                                           36
COLEGIO MAYOR DE BOLIVAR                                                             14
COLEGIO MAYOR DE NUESTRA SE√ëORA DEL ROSARIO                                         121
COLEGIO MAYOR DEL CAUCA                                                              41
COLEGIO ODONTOLOGICO COLOMBIANO                                                     137
CONSERVATORIO DEL TOLIMA                                                             17
CORPORACION ACADEMIA SUPERIOR DE ARTES                                               26
CORPORACION ACADEMIA TECNOLOGICA DE COLOMBIA -ATEC-                                  18
CORPORACION AUTONOMA DE NARI√ëO -AUNAR-                                              146
CORPORACION BOLIVARIANA DE EDUCACION SUPERIOR - CORBES -                             14
CORPORACION CENTRO DE ESTUDIOS ARTISTICOS Y TECNICOS-CEART-                          20
CORPORACION CENTRO DE NUESTRA SE√ëORA DE LAS MERCEDES                                 18
CORPORACION CENTRO TECNICO ARQUITECTONICO                                            22
CORPORACION COLEGIATURA COLOMBIANA                                                   39
CORPORACION CRISTIANA UNIVERSITARIA DE SAN ANDRES, PROVIDENCIA Y SANTA CATALINA       3
CORPORACION DE EDUCACION DEL NORTE DEL TOLIMA - COREDUCACION                          7
CORPORACION DE EDUCACION NACIONAL DE ADMINISTRACION-CENDA-                           22
CORPORACION DE EDUCACION SUPERIORMIGUEL CAMACHO PEREA                                38
CORPORACION DE ESTUDIOS SUPERIORES SALAMANDRA                                        84
CORPORACION DE ESTUDIOS TECNOLOGICOS DEL NORTE DEL VALLE                             77
CORPORACION EDUCATIVA -ITAE-                                                         12
CORPORACION EDUCATIVA DE CARRERAS INTERMEDIAS TECNICAS-CIT-                          51
CORPORACION EDUCATIVA DEL LITORAL                                                    11
CORPORACION EDUCATIVA DEL ORIENTE                                                    10
CORPORACION EDUCATIVA INSTITUTO TECNICO SUPERIOR DE ARTES, IDEARTES                  19
CORPORACION EDUCATIVA TALLER 5 CENTRO DE DISE√ëO                                      11
                                                                                   ...
UNIVERSIDAD EAFIT-                                                                   85
UNIVERSIDAD EAN                                                                       9
UNIVERSIDAD EL BOSQUE                                                                40
UNIVERSIDAD EXTERNADO DE COLOMBIA                                                   265
UNIVERSIDAD FRANCISCO DE PAULA SANTANDER                                             34
UNIVERSIDAD ICESI                                                                   888
UNIVERSIDAD INCCA DE COLOMBIA                                                        13
UNIVERSIDAD INDUSTRIAL DE SANTANDER                                                 155
UNIVERSIDAD LA GRAN COLOMBIA                                                         62
UNIVERSIDAD LIBRE                                                                   480
UNIVERSIDAD MANUELA BELTRAN-UMB-                                                      4
UNIVERSIDAD MARIANA                                                                 323
UNIVERSIDAD METROPOLITANA                                                             6
UNIVERSIDAD MILITAR-NUEVA GRANADA                                                    59
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA UNAD                                     120
UNIVERSIDAD NACIONAL DE COLOMBIA                                                   2877
UNIVERSIDAD PEDAGOGICA NACIONAL                                                      90
UNIVERSIDAD PEDAGOGICA Y TECNOLOGICA DE COLOMBIA                                     56
UNIVERSIDAD PONTIFICIA BOLIVARIANA                                                  108
UNIVERSIDAD POPULAR DEL CESAR                                                         3
UNIVERSIDAD SANTIAGO DE CALI                                                       1407
UNIVERSIDAD SANTIAGO DE CALI  SECCIONAL PALMIRA                                      58
UNIVERSIDAD SANTO TOMAS                                                              77
UNIVERSIDAD SERGIO ARBOLEDA                                                          56
UNIVERSIDAD SIMON BOLIVAR                                                             4
UNIVERSIDAD SURCOLOMBIANA                                                           109
UNIVERSIDAD TECNOLOGICA DE BOLIVAR                                                    3
UNIVERSIDAD TECNOLOGICA DE PEREIRA                                                  578
UNIVERSIDAD-COLEGIO MAYOR DE CUNDINAMARCA                                             6
UNIVERSITARIA AGUSTINIANA- UNIAGUSTINIANA                                             9
Name: ESTU_IES_DESEADA_NOMBRE, dtype: int64
Elementos null/NaN 24464
__________________
Elementos diferentes de null/NaN: 44837
__________________
(44837,)
None

In [78]:
data_2007 = data_2007.drop([c], axis = 1)

In [79]:
c = 'ESTU_IES_COD_MPIO_DESEADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 5001.0,  5034.0,  5045.0,  5088.0,  5129.0,  5154.0,  5212.0,
               5266.0,  5579.0,  5615.0,  5686.0,  5837.0,  8001.0, 11001.0,
              13001.0, 15001.0, 15176.0, 15238.0, 15759.0, 17001.0, 17541.0,
              18001.0, 19001.0, 20001.0, 23001.0, 23162.0, 25175.0, 25290.0,
              25307.0, 25430.0, 25473.0, 25488.0, 25843.0, 41001.0, 44001.0,
              44650.0, 47001.0, 47189.0, 50001.0, 52001.0, 54001.0, 54518.0,
              63001.0, 66001.0, 66682.0, 68001.0, 68081.0, 68679.0, 70820.0,
              73001.0, 73268.0, 73349.0, 76001.0, 76109.0, 76111.0, 76147.0,
              76520.0, 76622.0, 76736.0, 76834.0, 81001.0, 85001.0, 86749.0,
              88001.0, 91001.0],
             dtype='float64')
5001      1457
5034         6
5045         1
5088         6
5129         4
5154         3
5212         1
5266         3
5579         1
5615        14
5686         2
5837        10
8001       372
11001     7827
13001      150
15001       55
15176        3
15238       11
15759        7
17001      606
17541       16
18001       22
19001     1037
20001        3
23001       37
23162        1
25175      182
25290       26
25307       21
25430       26
         ...
44650        1
47001       15
47189        1
50001      101
52001     6240
54001       64
54518       16
63001      330
66001      796
66682       14
68001      269
68081        2
68679        1
70820        4
73001       96
73268        4
73349        7
76001    22695
76109      295
76111      283
76147       77
76520      588
76622       60
76736        1
76834      717
81001        3
85001        4
86749        1
88001        3
91001        1
Name: ESTU_IES_COD_MPIO_DESEADA, dtype: int64
Elementos null/NaN 24464
__________________
Elementos diferentes de null/NaN: 44837
__________________
(44837,)
None

In [80]:
data_2007 = data_2007.drop([c], axis = 1)

In [81]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA',
       'BARRANQUILLA', 'BELLO', 'BOGOT√Å D.C.', 'BUCARAMANGA', 'BUENAVENTURA',
       'BUGA', 'CALDAS', 'CALI', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'CUCUTA', 'DUITAMA',
       'ENVIGADO', 'ESPINAL', 'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'HONDA',
       'IBAGUE', 'LETICIA', 'MADRID', 'MANIZALES', 'MEDELLIN', 'MONTERIA',
       'MOSQUERA', 'NEIVA', 'NILO', 'PALMIRA', 'PAMPLONA', 'PASTO',
       'PENSILVANIA', 'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'RIOHACHA',
       'RIONEGRO', 'ROLDANILLO', 'SAN ANDRES', 'SAN GIL', 'SAN JUAN DEL CESAR',
       'SANTA MARTA', 'SANTA ROSA DE CABAL', 'SANTA ROSA DE OSOS', 'SEVILLA',
       'SIBUNDOY', 'SOGAMOSO', 'TOLU', 'TULUA', 'TUNJA', 'TURBO', 'UBATE',
       'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
ANDES                      6
APARTADO                   1
ARAUCA                     3
ARMENIA                  330
BARRANCABERMEJA            2
BARRANQUILLA             372
BELLO                      6
BOGOT√Å D.C.             7827
BUCARAMANGA              269
BUENAVENTURA             295
BUGA                     283
CALDAS                     4
CALI                   22695
CARTAGENA                150
CARTAGO                   77
CAUCASIA                   3
CERETE                     1
CHIA                     182
CHIQUINQUIRA               3
CIENAGA                    1
COPACABANA                 1
CUCUTA                    64
DUITAMA                   11
ENVIGADO                   3
ESPINAL                    4
FLORENCIA                 22
FUSAGASUGA                26
GIRARDOT                  21
HONDA                      7
IBAGUE                    96
                       ...
MOSQUERA                   5
NEIVA                    113
NILO                      98
PALMIRA                  588
PAMPLONA                  16
PASTO                   6240
PENSILVANIA               16
PEREIRA                  796
POPAYAN                 1037
PUERTO BERRIO              1
RIOHACHA                   8
RIONEGRO                  14
ROLDANILLO                60
SAN ANDRES                 3
SAN GIL                    1
SAN JUAN DEL CESAR         1
SANTA MARTA               15
SANTA ROSA DE CABAL       14
SANTA ROSA DE OSOS         2
SEVILLA                    1
SIBUNDOY                   1
SOGAMOSO                   7
TOLU                       4
TULUA                    717
TUNJA                     55
TURBO                     10
UBATE                     14
VALLEDUPAR                 3
VILLAVICENCIO            101
YOPAL                      4
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 24464
__________________
Elementos diferentes de null/NaN: 44837
__________________
(44837,)
None

In [82]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATL√ÅNTICO', 'BOGOT√Å', 'BOL√çVAR',
       'BOYAC√Å', 'CALDAS', 'CAQUET√Å', 'CASANARE', 'CAUCA', 'CESAR',
       'CUNDINAMARCA', 'C√ìRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARI√ëO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUIND√çO', 'RISARALDA',
       'SAN ANDR√âS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           1508
ARAUCA                 3
ATL√ÅNTICO            372
BOGOT√Å              7827
BOL√çVAR              150
BOYAC√Å                76
CALDAS               622
CAQUET√Å               22
CASANARE               4
CAUCA               1037
CESAR                  3
CUNDINAMARCA         372
C√ìRDOBA               38
HUILA                113
LA GUAJIRA             9
MAGDALENA             16
META                 101
NARI√ëO              6240
NORTE SANTANDER       80
PUTUMAYO               1
QUIND√çO              330
RISARALDA            810
SAN ANDR√âS             3
SANTANDER            272
SUCRE                  4
TOLIMA               107
VALLE              24716
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 24464
__________________
Elementos diferentes de null/NaN: 44837
__________________
(44837,)
None

In [83]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1     1342
2     7143
3    24957
4     5489
5     3992
6     2499
7     2636
8     3151
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 18092
__________________
Elementos diferentes de null/NaN: 51209
__________________
(51209,)
None

In [84]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([    1.0,     5.0,     7.0,    63.0,    64.0,    68.0,    86.0,
                103.0,   105.0,   106.0,
              ...
              22441.0, 22546.0, 22581.0, 22764.0, 22773.0, 22839.0, 22967.0,
              22973.0, 22996.0, 24642.0],
             dtype='float64', length=2683)
1         1
5         6
7         8
63        3
64        1
68       17
86        1
103       4
105       1
106       1
107       1
108       4
116      62
117       2
120       6
128       6
129      11
130       3
131       4
133       1
142       7
143       3
152      28
160       1
161       1
163       1
164       1
165       1
166       1
170      16
         ..
21987     1
21989     1
21990     1
21991     1
21992     4
21996     1
22003     5
22043    30
22044     9
22045     2
22046    14
22047    47
22048     5
22049    14
22050    16
22051    26
22052    36
22053    15
22054    10
22055     2
22441     1
22546     1
22581     1
22764     3
22773     1
22839     3
22967     2
22973     2
22996     1
24642    18
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 25790
__________________
Elementos diferentes de null/NaN: 43511
__________________
(43511,)
None

In [85]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    15977
2    17951
3     8967
4     4529
5     3247
6     1233
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 17397
__________________
Elementos diferentes de null/NaN: 51904
__________________
(51904,)
None

## TARGETS

In [86]:
c = 'PUNT_LENGUAJE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '17,12', '25,02', '29,97', '33,71', '36,8', '39,5', '41,93',
       '44,18', '46,31', '48,36', '50,35', '52,33', '54,31', '56,32', '58,39',
       '60,55', '62,85', '65,33', '68,09', '71,26', '75,08', '80,12'],
      dtype='object')
-1          8
0           4
17,12      32
25,02      95
29,97     358
33,71     858
36,8     1906
39,5     3068
41,93    4551
44,18    5801
46,31    7007
48,36    7688
50,35    7782
52,33    7502
54,31    7027
56,32    5563
58,39    4249
60,55    2874
62,85    1628
65,33     785
68,09     366
71,26     117
75,08      29
80,12       3
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [87]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [88]:
c = 'PUNT_MATEMATICAS'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '100,93', '11,3', '117,16', '22,06', '28,76', '33,72',
       '37,74', '41,17', '44,22', '47,01', '49,62', '52,1', '54,52', '56,89',
       '59,27', '61,68', '64,15', '66,75', '69,51', '72,51', '75,87', '79,77',
       '84,52', '90,85'],
      dtype='object')
-1           6
0           21
100,93      35
11,3       154
117,16      10
22,06      777
28,76     2256
33,72     4922
37,74     7746
41,17     9904
44,22     9970
47,01     8901
49,62     6928
52,1      4929
54,52     3442
56,89     2461
59,27     1780
61,68     1348
64,15     1026
66,75      817
69,51      639
72,51      484
75,87      321
79,77      206
84,52      139
90,85       79
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [89]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [90]:
c = 'PUNT_C_SOCIALES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '1,17', '10,49', '16,27', '20,62', '24,18', '27,26', '30',
       '32,5', '34,83', '37,03', '39,13', '41,15', '43,12', '45,06', '46,98',
       '48,89', '50,82', '52,77', '54,76', '56,83', '58,98', '61,25', '63,7',
       '66,37', '69,36', '72,84', '77,09', '82,77', '91,97'],
      dtype='object')
-1          4
0           2
1,17        4
10,49      25
16,27      70
20,62     192
24,18     470
27,26     912
30       1443
32,5     2287
34,83    3212
37,03    3984
39,13    4911
41,15    5340
43,12    5787
45,06    6016
46,98    5889
48,89    5795
50,82    5335
52,77    4690
54,76    3899
56,83    3213
58,98    2366
61,25    1645
63,7      952
66,37     526
69,36     234
72,84      71
77,09      16
82,77      10
91,97       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [91]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [92]:
c = 'PUNT_FILOSOFIA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '10,39', '19,44', '25,1', '29,38', '32,93', '36,02', '38,82',
       '41,41', '43,87', '46,23', '48,54', '50,82', '53,1', '55,42', '57,8',
       '60,28', '62,91', '65,75', '68,9', '72,5', '76,85'],
      dtype='object')
-1         48
0          23
10,39      70
19,44     308
25,1     1010
29,38    2386
32,93    4127
36,02    6280
38,82    8156
41,41    9216
43,87    9416
46,23    8488
48,54    6930
50,82    5243
53,1     3487
55,42    2099
57,8     1092
60,28     544
62,91     260
65,75      89
68,9       25
72,5        2
76,85       2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [93]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [94]:
c = 'PUNT_BIOLOGIA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['0', '19,32', '26,84', '31,5', '35', '37,88', '40,38', '42,62', '44,69',
       '46,64', '48,51', '50,32', '52,12', '53,91', '55,73', '57,59', '59,54',
       '61,6', '63,84', '66,32', '69,19', '72,68', '77,33', '84,83', '97,26'],
      dtype='object')
0          20
19,32     124
26,84     582
31,5     1552
35       3248
37,88    5187
40,38    7159
42,62    8467
44,69    8576
46,64    8248
48,51    6951
50,32    5590
52,12    4218
53,91    3153
55,73    2129
57,59    1521
59,54    1077
61,6      675
63,84     394
66,32     234
69,19     124
72,68      49
77,33      19
84,83       3
97,26       1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [95]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [96]:
c = 'PUNT_QUIMICA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['0', '17,7', '24,52', '28,75', '31,92', '34,53', '36,78', '38,8',
       '40,66', '42,4', '44,07', '45,7', '47,3', '48,89', '50,51', '52,17',
       '53,9', '55,73', '57,72', '59,94', '62,49', '65,61', '69,76', '76,48',
       '87,65'],
      dtype='object')
0           8
17,7       80
24,52     354
28,75    1129
31,92    2615
34,53    4927
36,78    7079
38,8     9020
40,66    9124
42,4     8665
44,07    6969
45,7     5342
47,3     3901
48,89    2927
50,51    2061
52,17    1521
53,9     1195
55,73     898
57,72     658
59,94     458
62,49     230
65,61     106
69,76      30
76,48       2
87,65       2
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [97]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [98]:
c = 'PUNT_FISICA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['0', '13,6', '23,28', '29,28', '33,79', '37,5', '40,72', '43,61',
       '46,28', '48,79', '51,2', '53,55', '55,86', '58,17', '60,52', '62,93',
       '65,44', '68,1', '70,98', '74,19', '77,89', '82,38', '88,36'],
      dtype='object')
0           23
13,6       125
23,28      752
29,28     2397
33,79     5211
37,5      8962
40,72    11669
43,61    12320
46,28    10420
48,79     7609
51,2      4647
53,55     2646
55,86     1345
58,17      601
60,52      289
62,93      153
65,44       70
68,1        25
70,98       27
74,19        5
77,89        3
82,38        1
88,36        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [99]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [100]:
c = 'PUNT_INGLES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '14,87', '22,51', '27,27', '30,86', '33,81', '36,37',
       '38,66', '40,78', '42,76', '44,66', '46,51', '48,32', '50,13', '51,96',
       '53,84', '55,79', '57,85', '60,09', '62,57', '65,44', '68,92', '73,55',
       '81,04', '93,46'],
      dtype='object')
-1         19
0          12
14,87      91
22,51     434
27,27    1277
30,86    2775
33,81    4742
36,37    6576
38,66    7899
40,78    8002
42,76    7635
44,66    6227
46,51    4921
48,32    3789
50,13    2751
51,96    2151
53,84    1697
55,79    1425
57,85    1272
60,09    1312
62,57    1320
65,44    1248
68,92     948
73,55     547
81,04     192
93,46      39
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [101]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [102]:
c = 'DESEMP_INGLES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([-1.0], dtype='float64')
-1    19
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 69282
__________________
Elementos diferentes de null/NaN: 19
__________________
(19,)
None

In [103]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['PROFUNDIZACI√ìN EN BIOLOG√çA', 'PROFUNDIZACI√ìN EN CIENCIAS SOCIALES',
       'PROFUNDIZACI√ìN EN LENGUAJE', 'PROFUNDIZACI√ìN EN MATEM√ÅTICA'],
      dtype='object')
PROFUNDIZACI√ìN EN BIOLOG√çA             21791
PROFUNDIZACI√ìN EN CIENCIAS SOCIALES    10650
PROFUNDIZACI√ìN EN LENGUAJE             25583
PROFUNDIZACI√ìN EN MATEM√ÅTICA           11277
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [104]:
c = 'PUNT_PROFUNDIZACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '10', '2,23', '2,54', '2,73', '3,08', '3,13', '3,37', '3,57',
       '3,7', '3,87', '3,92', '4,1', '4,15', '4,34', '4,38', '4,52', '4,54',
       '4,71', '4,78', '4,89', '5,05', '5,13', '5,21', '5,22', '5,38', '5,44',
       '5,53', '5,55', '5,7', '5,74', '5,83', '5,88', '6,03', '6,04', '6,15',
       '6,24', '6,34', '6,37', '6,48', '6,62', '6,65', '6,76', '6,84', '7',
       '7,08', '7,21', '7,27', '7,41', '7,65', '7,78', '7,81', '7,92', '8,55',
       '8,65', '8,73'],
      dtype='object')
-1      1871
0        292
10        11
2,23     533
2,54     192
2,73     318
3,08     372
3,13    1357
3,37     549
3,57     893
3,7     2471
3,87     998
3,92    1008
4,1     1734
4,15    3432
4,34    1436
4,38    1748
4,52    2670
4,54    3590
4,71    1716
4,78    2177
4,89    6486
5,05    1644
5,13    2120
5,21    3487
5,22    2730
5,38    1459
5,44    1551
5,53    3163
5,55    2251
5,7     1101
5,74     951
5,83    2494
5,88    1741
6,03     692
6,04     587
6,15    1675
6,24    1232
6,34     316
6,37     405
6,48    1009
6,62     735
6,65     126
6,76     209
6,84     542
7         80
7,08     403
7,21      82
7,27     223
7,41      50
7,65     171
7,78      26
7,81      71
7,92      31
8,55      54
8,65      21
8,73      15
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [105]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [106]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1      1871
GB     31987
I      27401
II      7207
III      835
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [107]:
data_2007[c] = data_2007[c].replace('-1', np.nan)

In [108]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          35417
VIOLENCIA Y SOCIEDAD    33884
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [109]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '11,14', '21,62', '28,47', '33,81', '38,38', '42,52',
       '42,54', '45,5', '46,46', '47,41', '48,9', '50,19', '50,38', '51,37',
       '52,5', '53,62', '54,42', '54,77', '55,99', '57,35', '58,78', '58,95',
       '60,99', '63,78', '64,13', '70,05', '79,56', '94,45'],
      dtype='object')
-1         24
0         129
11,14     262
21,62     910
28,47    2150
33,81    3821
38,38    5197
42,52    5752
42,54     502
45,5     1571
46,46    5427
47,41    3332
48,9     4791
50,19    5735
50,38    4387
51,37    6017
52,5     5183
53,62    3897
54,42    3061
54,77    2412
55,99    1206
57,35     469
58,78    1772
58,95     166
60,99      30
63,78     800
64,13       5
70,05     255
79,56      31
94,45       7
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69301
__________________
(69301,)
None

In [110]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [111]:
c = 'ESTU_PUESTO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,
              ...
              962.0, 963.0, 964.0, 965.0, 966.0, 967.0, 968.0, 969.0, 970.0,
              971.0],
             dtype='float64', length=971)
1      95
2      84
3      94
4      89
5      92
6      91
7      75
8      89
9      84
10     77
11     77
12     87
13     75
14     94
15     93
16     77
17     71
18     72
19     74
20     79
21     72
22     78
23     68
24     73
25     80
26     85
27     67
28     70
29     76
30     74
       ..
942    90
943    85
944    99
945    85
946    81
947    83
948    77
949    81
950    83
951    92
952    89
953    93
954    81
955    80
956    87
957    89
958    76
959    86
960    89
961    87
962    86
963    96
964    78
965    93
966    87
967    89
968    88
969    88
970    68
971     3
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 82
__________________
Elementos diferentes de null/NaN: 69219
__________________
(69219,)
None

# Now the other file... 2007_2

In [112]:
data_2007_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20072-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [113]:
data_2007_2.shape

(444713, 84)

In [114]:
data_2007_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120072000001,SABER1120072000002,SABER1120072000003
PERIODO,20072,20072,20072
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,F
ESTU_NACIMIENTO_DIA,30,13,23
ESTU_NACIMIENTO_MES,12,6,10
ESTU_NACIMIENTO_ANNO,1990,1991,1990
ESTU_EDAD,16,16,16
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,66001,5615,66001
ESTU_RESIDE_MCPIO,PEREIRA,RIONEGRO,PEREIRA
ESTU_RESIDE_DEPTO,RISARALDA,ANTIOQUIA,RISARALDA
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,66001,5615,66001
ESTU_MCPIO_PRESENTACION,PEREIRA,RIONEGRO,PEREIRA
ESTU_DEPTO_PRESENTACION,RISARALDA,ANTIOQUIA,RISARALDA
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO 2007-2,EXAMEN DE ESTADO 2007-2,EXAMEN DE ESTADO 2007-2
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2007,2007,2007
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,13318,101964,13318
COLE_COD_ICFES,13318,101964,13318
...,...,...,...
FAMI_COMPUTADOR,NaN,NaN,NaN
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,0,4,0
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1111,9103,1111
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD TECNOLOGICA DE PEREIRA,ESCUELA MILITAR DE AVIACION,UNIVERSIDAD TECNOLOGICA DE PEREIRA
ESTU_IES_COD_MPIO_DESEADA,66001,76001,66001
ESTU_IES_MPIO_DESEADA,PEREIRA,CALI,PEREIRA
ESTU_IES_DEPT_DESEADA,RISARALDA,VALLE,RISARALDA
ESTU_RAZONINSTITUTO,3,3,3
ESTU_CARRDESEADA_COD,16985,8188,14477
ESTU_CARRDESEADA_RAZON,1,2,1
PUNT_LENGUAJE,"45,01","53,22","45,01"
PUNT_MATEMATICAS,"40,82","53,2","44,48"
PUNT_C_SOCIALES,"46,81","50,42","44,96"
PUNT_FILOSOFIA,"48,41","43,59","35,44"
PUNT_BIOLOGIA,"45,64","58,09","53,95"
PUNT_QUIMICA,"47,22","50,66","47,22"
PUNT_FISICA,"38,57","51,73","41,52"
PUNT_INGLES,"36,71","69,48","45,98"
DESEMP_INGLES,A-,B1,A1
NOMBRE_PROFUNDIZACION,PROFUNDIZACI√ìN EN CIENCIAS SOCIALES,PROFUNDIZACI√ìN EN MATEM√ÅTICA,PROFUNDIZACI√ìN EN BIOLOG√çA
PUNT_PROFUNDIZACION,"5,31","4,83","5,88"
DESEMP_PROFUNDIZACION,I,I,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,MEDIO AMBIENTE
PUNT_INTERDISCIPLINAR,"52,46","42,54","60,63"
ESTU_PUESTO,474,53,378

In [115]:
data_2007_2 = data_2007_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'ESTU_COD_MCPIO_PRESENTACION', 'COLE_NOMBRE_SEDE', 'ESTU_IES_DESEADA_NOMBRE',
                               'ESTU_IES_COD_MPIO_DESEADA'], axis = 1)

In [116]:
c = 'ESTU_PAIS_RESIDE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AR', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CU', 'EC', 'ES', 'IT', 'KR',
       'MX', 'PA', 'PE', 'US', 'VE'],
      dtype='object')
AR         4
BO         2
BR         4
CA         2
CH         1
CL         2
CO    444455
CU         1
EC         4
ES         1
IT         2
KR         1
MX         1
PA         1
PE         4
US        14
VE        19
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 195
__________________
Elementos diferentes de null/NaN: 444518
__________________
(444518,)
None

In [117]:
c = 'ESTU_GENERO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['F', 'M'], dtype='object')
F    240489
M    204049
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 175
__________________
Elementos diferentes de null/NaN: 444538
__________________
(444538,)
None

In [118]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     14943
2     14665
3     14596
4     14614
5     14659
6     14549
7     14615
8     14487
9     14417
10    15328
11    14731
12    14709
13    14288
14    14328
15    14936
16    14651
17    14479
18    14603
19    14416
20    15178
21    14419
22    14588
23    14336
24    14763
25    14307
26    14387
27    14582
28    14975
29    13408
30    13270
31     8091
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 395
__________________
Elementos diferentes de null/NaN: 444318
__________________
(444318,)
None

In [119]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     36143
2     32548
3     36461
4     35236
5     36560
6     35075
7     37075
8     37498
9     38921
10    39468
11    36974
12    42359
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 395
__________________
Elementos diferentes de null/NaN: 444318
__________________
(444318,)
None

In [120]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([  14.0, 1924.0, 1930.0, 1931.0, 1932.0, 1933.0, 1934.0, 1935.0,
              1936.0, 1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0,
              1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2002.0, 2085.0, 2086.0, 2088.0, 2090.0, 2091.0],
             dtype='float64')
14           1
1924         3
1930        17
1931        15
1932        18
1933        15
1934        12
1935         6
1936         2
1937         1
1938         5
1939         5
1940         4
1941         7
1942         4
1943         8
1944        10
1945         7
1946        10
1947        16
1948        27
1949        11
1950        46
1951        34
1952        39
1953        56
1954        73
1955        64
1956        83
1957       107
         ...
1978       883
1979       978
1980      1250
1981      1338
1982      1550
1983      1875
1984      2448
1985      3840
1986      6912
1987     15454
1988     37815
1989     83119
1990    160461
1991    104431
1992      9111
1993      1124
1994      2431
1995        13
1996         1
1997         2
1998        21
1999         2
2000        30
2001        14
2002        17
2085         1
2086         1
2088         1
2090         2
2091         1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 395
__________________
Elementos diferentes de null/NaN: 444318
__________________
(444318,)
None

In [121]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)
    elif i > 1995:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)

In [122]:
c = 'ESTU_EDAD'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Int64Index([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
            29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
            46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
            63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77],
           dtype='int64')
12       863
13      2073
14      2104
15     28014
16    161883
17    122996
18     61658
19     26736
20     11249
21      5354
22      3217
23      2187
24      1737
25      1495
26      1292
27      1153
28       940
29       867
30       792
31       697
32       688
33       690
34       611
35       549
36       539
37       524
38       452
39       399
40       366
41       309
       ...
48       117
49       120
50        96
51        86
52        63
53        70
54        47
55        36
56        46
57        25
58        19
59        19
60        18
61        10
62         6
63        10
64         8
65         3
66         7
67         5
68         6
69         5
70         1
71         3
72         5
73        12
74        14
75        19
76        19
77        12
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [123]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 444713
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [124]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [125]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 444713
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [126]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [127]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 444713
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [128]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [129]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 444713
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [130]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [131]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 444713
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [132]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [133]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 444713
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [134]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [135]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 444713
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [136]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [137]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=972)
ABEJORRAL                    154
ABREGO                       112
ABRIAQUI                      25
ACACIAS                      864
ACANDI                        50
ACEVEDO                       86
ACHI                         172
AGRADO                        81
AGUA DE DIOS                 146
AGUACHICA                    847
AGUADA                        16
AGUADAS                      229
AGUAZUL                      464
AGUSTIN CODAZZI              582
AIPE                         147
ALBAN                         62
ALBANIA                      304
ALCALA                         9
ALEJANDRIA                    24
ALGARROBO                    114
ALGECIRAS                    111
ALMAGUER                      98
ALMEIDA                       18
ALPUJARRA                     53
ALTAMIRA                      29
ALTO BAUDO (PIE DE PATO)      33
ALTOS DEL ROSARIO             48
ALVARADO                      89
AMAGA                        297
AMALFI                       194
                            ...
VILLAMARIA                   533
VILLANUEVA                   788
VILLAPINZON                  177
VILLARRICA                    56
VILLAVICENCIO               5049
VILLAVIEJA                    80
VILLETA                      369
VIOTA                        190
VIRACACHA                     33
VISTA HERMOSA                 84
VITERBO                      177
YACOPI                       104
YAGUARA                      126
YALI                          38
YARUMAL                      491
YAVARATE                      11
YOLOMBO                      178
YONDO (CASABE)                77
YOPAL                       1467
YOTOCO                         1
YUMBO                         42
ZAMBRANO                     104
ZAPATOCA                      92
ZAPAYAN                       19
ZARAGOZA                     177
ZARZAL                        15
ZETAQUIRA                    112
ZIPACON                       51
ZIPAQUIRA                   1525
ZONA BANANERA                525
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 177
__________________
Elementos diferentes de null/NaN: 444536
__________________
(444536,)
None

In [138]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATL√ÅNTICO', 'BOGOT√Å', 'BOL√çVAR',
       'BOYAC√Å', 'CALDAS', 'CAQUET√Å', 'CASANARE', 'CAUCA', 'CESAR', 'CHOC√ì',
       'CUNDINAMARCA', 'C√ìRDOBA', 'GUAIN√çA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARI√ëO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUIND√çO',
       'RISARALDA', 'SAN ANDR√âS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUP√âS', 'VICHADA'],
      dtype='object')
AMAZONAS             714
ANTIOQUIA          66778
ARAUCA              2424
ATL√ÅNTICO          28009
BOGOT√Å             93768
BOL√çVAR            22917
BOYAC√Å             16383
CALDAS             10693
CAQUET√Å             3177
CASANARE            3570
CAUCA               9202
CESAR              11043
CHOC√ì               3683
CUNDINAMARCA       30661
C√ìRDOBA            16229
GUAIN√çA              147
GUAVIARE             494
HUILA              10086
LA GUAJIRA          6320
MAGDALENA          12549
META                8832
NARI√ëO               397
NORTE SANTANDER    14970
PUTUMAYO            2056
QUIND√çO             6336
RISARALDA           9700
SAN ANDR√âS           772
SANTANDER          23887
SUCRE              10567
TOLIMA             15652
VALLE               1935
VAUP√âS               170
VICHADA              415
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 177
__________________
Elementos diferentes de null/NaN: 444536
__________________
(444536,)
None

In [139]:
c = 'ESTU_ZONA_RESIDE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      19072
2       3286
3      11965
4      45428
5      16620
6       9421
7       9983
8      25989
9      18399
10    284365
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 185
__________________
Elementos diferentes de null/NaN: 444528
__________________
(444528,)
None

In [140]:
c = 'ESTU_AREA_RESIDE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    15258
2     3768
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 425687
__________________
Elementos diferentes de null/NaN: 19026
__________________
(19026,)
None

In [141]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=359)
ABEJORRAL                     158
ABREGO                        113
ACACIAS                      1085
ACANDI                         50
ACHI                          197
AGUACHICA                    1348
AGUADAS                       230
AGUAZUL                       442
AGUSTIN CODAZZI               590
AIPE                          150
ALTO BAUDO (PIE DE PATO)       32
AMAGA                         699
AMALFI                        309
ANDES                         726
ANOLAIMA                      236
ANSERMA                       680
APARTADO                     1732
ARACATACA                     366
ARAUCA                       1020
ARAUQUITA                     253
ARBELAEZ                      172
ARBOLEDAS                     101
ARBOLETES                     440
ARIGUANI (EL DIFICIL)         241
ARJONA                        718
ARMENIA                      4416
ASTREA                        213
ATRATO (YUTO)                  76
AYAPEL                        428
BAGADO                         64
                             ...
TUMACO                         56
TUNJA                        3945
TURBACO                       967
TURBO                        1218
TURMEQUE                      271
TUTA                          116
UBATE                        1116
UNGUIA                         70
URRAO                         477
VALLEDUPAR                   5741
VEGACHI                       148
VELEZ                         519
VENADILLO                     194
VENTAQUEMADA                  130
VIGIA DEL FUERTE               74
VILLA DE LEYVA                238
VILLA DEL ROSARIO             746
VILLA GUAMEZ (LA HORMIGA)     363
VILLAGARZON                   125
VILLANUEVA                    829
VILLAVICENCIO                5681
VILLETA                       883
VIOTA                         148
YARUMAL                       749
YAVARATE                       11
YOLOMBO                       235
YOPAL                        1705
ZAPATOCA                      111
ZARAGOZA                      161
ZIPAQUIRA                    2751
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [142]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATL√ÅNTICO', 'BOGOT√Å', 'BOL√çVAR',
       'BOYAC√Å', 'CALDAS', 'CAQUET√Å', 'CASANARE', 'CAUCA', 'CESAR', 'CHOC√ì',
       'CUNDINAMARCA', 'C√ìRDOBA', 'GUAIN√çA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARI√ëO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUIND√çO',
       'RISARALDA', 'SAN ANDR√âS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUP√âS', 'VICHADA'],
      dtype='object')
AMAZONAS             725
ANTIOQUIA          66511
ARAUCA              2527
ATL√ÅNTICO          28488
BOGOT√Å             93502
BOL√çVAR            22203
BOYAC√Å             17097
CALDAS             11128
CAQUET√Å             3210
CASANARE            3581
CAUCA               9340
CESAR              11226
CHOC√ì               3697
CUNDINAMARCA       29918
C√ìRDOBA            16236
GUAIN√çA              149
GUAVIARE             533
HUILA              10194
LA GUAJIRA          6325
MAGDALENA          12342
META                8973
NARI√ëO               309
NORTE SANTANDER    15076
PUTUMAYO            2128
QUIND√çO             6387
RISARALDA           9694
SAN ANDR√âS           776
SANTANDER          24311
SUCRE              10633
TOLIMA             15202
VALLE               1698
VAUP√âS               170
VICHADA              424
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [143]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['EXAMEN DE ESTADO 2007-2'], dtype='object')
EXAMEN DE ESTADO 2007-2    444713
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [144]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [145]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     16409
1    428279
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 25
__________________
Elementos diferentes de null/NaN: 444688
__________________
(444688,)
None

In [146]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0,
              2009.0, 2010.0, 2011.0, 9999.0],
             dtype='float64')
1992         1
1993         1
1994         1
1995         1
1996         1
1997         2
1998         2
1999         1
2000         1
2001         1
2003         3
2004         1
2005        13
2006        29
2007    441700
2008      2717
2009       168
2010        24
2011         6
9999         1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 39
__________________
Elementos diferentes de null/NaN: 444674
__________________
(444674,)
None

In [147]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)
    elif i > 2010:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)

In [148]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      1
1    667
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 444045
__________________
Elementos diferentes de null/NaN: 668
__________________
(668,)
None

In [149]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([     2.0,      3.0,     18.0,     59.0,     67.0,     75.0,
                  83.0,     91.0,    125.0,    141.0,
              ...
              172650.0, 172726.0, 173732.0, 173948.0, 174714.0, 175307.0,
              175315.0, 175505.0, 176354.0, 999999.0],
             dtype='float64', length=8780)
2            6
3          371
18          17
59        1109
67           2
75          72
83          27
91          92
125         69
141        104
174        110
190         71
208         90
216         43
232         49
240         59
257         65
265         10
273         48
281         77
315        163
349         31
356         24
364         62
372         66
380        135
398         37
406         26
422         23
430        105
          ...
167403       1
167650       1
167882       1
168344       3
168690       1
168963       1
168971       1
169102       1
169276       1
169607       1
169698       1
169748       1
169904       1
170050       1
170365       2
170472       1
170480       2
170779       1
171918       1
172064       1
172650       1
172726       1
173732       1
173948       1
174714       2
175307       1
175315       1
175505       1
176354       1
999999     692
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 1008
__________________
Elementos diferentes de null/NaN: 443705
__________________
(443705,)
None

In [150]:
c = 'COLE_COD_ICFES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Int64Index([    18,     59,     75,     83,     91,    125,    141,    174,
               190,    208,
            ...
            135525, 135533, 135541, 135566, 135574, 135590, 135616, 135640,
            135673, 135707],
           dtype='int64', length=8358)
18          17
59        1116
75          72
83          27
91          92
125         69
141        104
174        109
190         72
208         91
216         43
232         50
240         61
257         66
265         11
273         48
281         78
315        163
349         31
356         24
364         62
372         67
380        135
398         37
406         26
422         23
430        105
448         27
455        101
463        157
          ...
135269      11
135277      18
135293      12
135301      18
135319      31
135327      26
135335       8
135350       8
135376      20
135418      22
135426      14
135434      43
135442       8
135459      53
135467      15
135475      17
135483      14
135491      31
135509      12
135517      13
135525      29
135533      10
135541       5
135566       7
135574       4
135590      10
135616      32
135640      14
135673       9
135707       3
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [151]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)

In [152]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2007_2[c].value_counts().index)
print(data_2007_2[c].value_counts())
print(missing_data(data_2007_2[c]))

Index(['            ', '111001024732',   105001000108, '111001019411',
       '105001013340', '168001003591', '111001010839', '113001003274',
       '111279000362', '108758000031',
       ...
       '115407000023', '305001011516', '305266001407',   305001025592,
         111001009521, '313001001076', '313001000541',   205615000508,
         625126000093,   205690000319],
      dtype='object', length=7617)
                2293
111001024732    1037
105001000108     969
111001019411     891
105001013340     882
168001003591     679
111001010839     636
113001003274     606
111279000362     598
108758000031     591
173001001053     565
168001000444     561
111001011690     552
113001000852     538
313001006701     533
105154000301     532
305001004293     525
173001000308     516
166001002339     508
111001083011     495
111001011819     493
311001004820     491
111001011070     485
111001010910     482
111001006122     478
111848003031     474
125754003267     473
111102000753     473
154001000079     470
105001024073     470
                ...
311769001927       1
305001025177       1
311001001618       1
347001051954       1
305001024057       1
305887000412       1
105615000236       1
308758076517       1
127787000029       1
105308000253       1
368755000253       1
305615000987       1
111001001538       1
225151000195       1
108549000075       1
354001004677       1
205674000350       1
405615001180       1
273283000521       1
305376000198       1
115407000023       1
305001011516       1
305266001407       1
305001025592       1
111001009521       1
313001001076       1
313001000541       1
205615000508       1
625126000093       1
205690000319       1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [153]:
data_2007_2[c] = data_2007_2[c].replace('            ', np.nan)
for i in data_2007_2[c].value_counts().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [154]:
c = 'COLE_CALENDARIO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    391617
B       398
F     52698
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [155]:
c = 'COLE_GENERO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     26352
M      6996
X    411365
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [156]:
c = 'COLE_NATURALEZA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['N', 'O'], dtype='object')
N    115221
O    329492
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [157]:
c = 'COLE_BILINGUE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    412845
1      3136
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 28732
__________________
Elementos diferentes de null/NaN: 415981
__________________
(415981,)
None

In [158]:
c = 'COLE_JORNADA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['COMPLETA U ORDINARIA', 'MA√ëANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     90649
MA√ëANA                  223641
NOCHE                    30356
SABATINA - DOMINICAL     12379
TARDE                    87688
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [159]:
c = 'COLE_CARACTER'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              267672
ACADEMICO Y TECNICO     88020
DESCONOCIDO               186
NORMALISTA              10853
TECNICO                 77982
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [160]:
c = 'ESTU_ETNIA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1      8458
2       684
3       852
4       191
5        87
6       304
7       144
8       443
9       732
10     1394
11       67
12      162
13      101
14       48
15       93
16       73
17        1
99    15995
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 414884
__________________
Elementos diferentes de null/NaN: 29829
__________________
(29829,)
None

In [161]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     134
1    6568
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 438011
__________________
Elementos diferentes de null/NaN: 6702
__________________
(6702,)
None

In [162]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      93
1    6609
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 438011
__________________
Elementos diferentes de null/NaN: 6702
__________________
(6702,)
None

In [163]:
c = 'FAMI_EDUCA_PADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      781
1       11
2       33
3       17
4       13
5       14
6        5
7        4
8        2
9     3292
10    2951
11    2552
12    3800
13     349
14     940
15     425
16    1898
17     711
99     375
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 426540
__________________
Elementos diferentes de null/NaN: 18173
__________________
(18173,)
None

In [164]:
c = 'FAMI_EDUCA_MADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      402
1        4
2       30
3       18
4       18
5       18
6        1
7        8
8        1
9     2797
10    2852
11    3019
12    4293
13     428
14    1210
15     453
16    1736
17     629
99     257
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 426539
__________________
Elementos diferentes de null/NaN: 18174
__________________
(18174,)
None

In [165]:
c = 'FAMI_OCUPA_PADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1.0,  2.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 99.0],
             dtype='float64')
1        2
2        4
4        1
5        8
6        3
7       19
8        3
9       37
10       3
11       6
12      20
13     539
14    1747
15     451
16     612
17    1096
18     743
19    2444
20    1111
21    5111
22     329
23    1039
24      15
25      10
26    2305
99     517
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 426538
__________________
Elementos diferentes de null/NaN: 18175
__________________
(18175,)
None

In [166]:
c = 'FAMI_OCUPA_MADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 99.0],
             dtype='float64')
1        1
2        4
3        2
4        3
5        2
6        8
7        3
8        1
9       18
10      55
12      10
13     272
14     890
15     248
16     580
17     917
18     812
19    1147
20     545
21    2082
22    8502
23     514
24      17
25      27
26    1358
99     158
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 426537
__________________
Elementos diferentes de null/NaN: 18176
__________________
(18176,)
None

In [167]:
c = 'FAMI_NUM_HERMANOS'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0      724
1     1905
2     2068
3     1095
4      513
5      250
6      108
7       60
8       45
9       21
10      30
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 437894
__________________
Elementos diferentes de null/NaN: 6819
__________________
(6819,)
None

In [168]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1      183
2      285
3      800
4     1805
5      245
6      553
7      734
8      992
9      136
88    2223
99     137
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 436620
__________________
Elementos diferentes de null/NaN: 8093
__________________
(8093,)
None

In [169]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1     3523
2      316
88    2257
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 438617
__________________
Elementos diferentes de null/NaN: 6096
__________________
(6096,)
None

In [170]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    4204
2    7371
3    4662
4    1202
5     434
6     236
8      54
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 426550
__________________
Elementos diferentes de null/NaN: 18163
__________________
(18163,)
None

In [171]:
data_2007_2[c] = data_2007_2[c].replace(8.0, np.nan)

In [172]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    5348
2    4869
3    1095
4     256
5    6596
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 426549
__________________
Elementos diferentes de null/NaN: 18164
__________________
(18164,)
None

In [173]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      303
2     1289
3     3377
4     4972
5     4133
6     2044
7      958
8      481
9      212
10     139
11      69
12     166
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 426570
__________________
Elementos diferentes de null/NaN: 18143
__________________
(18143,)
None

In [174]:
c = 'FAMI_PISOSHOGAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     550
2    6386
3    1129
4    9290
5     809
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 426549
__________________
Elementos diferentes de null/NaN: 18164
__________________
(18164,)
None

In [175]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      124
2      859
3     2169
4     2477
5     1983
6     1003
7      437
8      197
9       97
10      98
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 435269
__________________
Elementos diferentes de null/NaN: 9444
__________________
(9444,)
None

In [176]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1     1038
2     5835
3     7592
4     2543
5      676
6      246
7       70
8       42
9       10
10      49
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 426612
__________________
Elementos diferentes de null/NaN: 18101
__________________
(18101,)
None

In [177]:
c = 'FAMI_COMPUTADOR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0     7130
1      122
2       55
3    10574
4      283
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 426549
__________________
Elementos diferentes de null/NaN: 18164
__________________
(18164,)
None

In [178]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    3498
2    7900
3    3681
4    1837
5     624
6     275
7     349
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 426549
__________________
Elementos diferentes de null/NaN: 18164
__________________
(18164,)
None

In [179]:
c = 'ESTU_TRABAJA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    11620
1      585
2      248
3     1996
4      675
5      975
6       24
7       61
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 428529
__________________
Elementos diferentes de null/NaN: 16184
__________________
(16184,)
None

In [180]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0        9
1        8
2       19
3       31
4       84
5       66
6      103
7       50
8      328
9       73
10     186
11      21
12     117
13      18
14      36
15      93
16      83
17       8
18      88
19      22
20    2823
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 440447
__________________
Elementos diferentes de null/NaN: 4266
__________________
(4266,)
None

In [181]:
c = 'COLE_VALOR_PENSION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0     290177
1      64137
2      14258
3      12604
4      16476
5      20511
6      15279
7      10123
8        840
9        119
10        49
11        50
12        28
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 62
__________________
Elementos diferentes de null/NaN: 444651
__________________
(444651,)
None

In [182]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     7
1    12
2     8
3    48
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 444638
__________________
Elementos diferentes de null/NaN: 75
__________________
(75,)
None

In [183]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([  1.0,   4.0,   7.0,   9.0,  11.0,  12.0,  13.0,  18.0,  20.0,
               21.0,  23.0,  24.0,  25.0,  27.0,  28.0,  30.0,  31.0,  32.0,
               33.0,  34.0,  40.0,  41.0,  45.0,  57.0,  58.0,  59.0,  62.0,
               68.0,  99.0, 155.0, 160.0, 178.0, 181.0],
             dtype='float64')
1      1
4      2
7      1
9      5
11     1
12     1
13     4
18     1
20     1
21     2
23     1
24     1
25     1
27     2
28     3
30     2
31     3
32     1
33     2
34     1
40     3
41     6
45     6
57     2
58     2
59     4
62     2
68     1
99     2
155    1
160    1
178    1
181    1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 444645
__________________
Elementos diferentes de null/NaN: 68
__________________
(68,)
None

In [184]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1101.0,  1102.0,  1103.0,  1104.0,  1105.0,  1106.0,  1107.0,
               1108.0,  1109.0,  1110.0,
              ...
               9105.0,  9107.0,  9109.0,  9110.0,  9111.0,  9112.0,  9113.0,
               9114.0,  9115.0, 41962.0],
             dtype='float64', length=328)
1101     60915
1102      4113
1103      1750
1104       215
1105      4479
1106      5033
1107       460
1108       867
1109       194
1110      4591
1111      5283
1112      4127
1113      8059
1114      5676
1115      1496
1117      1627
1118      1900
1119      3198
1120      4122
1121       503
1122        87
1123       315
1124       131
1125        19
1201     36192
1202      7663
1203      3025
1204     12723
1205     11545
1206       499
         ...
4813       642
4814       146
4817      1532
4818       348
4822       179
4825        54
4826       175
4827       207
4828         2
4829        74
4832        74
4835       467
4837        88
4838       147
5801        68
5802       216
9101      2498
9102       804
9103      1085
9104      3580
9105       765
9107       228
9109        68
9110     14409
9111       370
9112      3810
9113       216
9114       771
9115        57
41962        1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 81126
__________________
Elementos diferentes de null/NaN: 363587
__________________
(363587,)
None

In [185]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AGUACHICA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOT√Å D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'CUCUTA', 'DUITAMA',
       'ENVIGADO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA',
       'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA', 'MADRID', 'MALAGA',
       'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'MOSQUERA', 'NEIVA',
       'NILO', 'OCA√ëA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PENSILVANIA',
       'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'PUERTO TEJADA', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAF√â DE ANTIOQUIA', 'SEVILLA', 'SIBUNDOY',
       'SINCELEJO', 'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TOLU', 'TULUA', 'TUNJA',
       'TURBO', 'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                  315
ANDES                      267
APARTADO                     9
ARAUCA                     131
ARMENIA                   3454
BARRANCABERMEJA            551
BARRANQUILLA             22773
BELLO                      206
BOGOT√Å D.C.             138965
BUCARAMANGA              19477
BUENAVENTURA                87
BUGA                        66
CALDAS                     140
CALI                      6245
CARMEN DE VIBORAL          334
CARTAGENA                16415
CARTAGO                    133
CAUCASIA                   620
CERETE                      36
CHIA                      1630
CHIQUINQUIRA               194
CIENAGA                    173
COPACABANA                  18
CUCUTA                    4477
DUITAMA                    460
ENVIGADO                   124
ESPINAL                    114
FACATATIVA                  51
FLORENCIA                 1496
FUSAGASUGA                1264
                         ...
PEREIRA                   7051
POPAYAN                   4968
PUERTO BERRIO              170
PUERTO TEJADA                6
QUIBDO                    1900
RIOHACHA                  1429
RIONEGRO                   290
ROLDANILLO                   9
SABANETA                    23
SAN ANDRES                 135
SAN GIL                    376
SAN JUAN DEL CESAR         191
SANTA MARTA               7554
SANTA ROSA DE CABAL         60
SANTA ROSA DE OSOS          24
SANTAF√â DE ANTIOQUIA        28
SEVILLA                      4
SIBUNDOY                    19
SINCELEJO                 4407
SOCORRO                    231
SOGAMOSO                   867
SOLEDAD                    365
TOLU                       166
TULUA                       86
TUNJA                     6028
TURBO                      963
UBATE                      226
VALLEDUPAR                4122
VILLAVICENCIO             3724
YOPAL                      130
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 81126
__________________
Elementos diferentes de null/NaN: 363587
__________________
(363587,)
None

In [186]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATL√ÅNTICO', 'BOGOT√Å', 'BOL√çVAR',
       'BOYAC√Å', 'CALDAS', 'CAQUET√Å', 'CASANARE', 'CAUCA', 'CESAR', 'CHOC√ì',
       'CUNDINAMARCA', 'C√ìRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARI√ëO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUIND√çO', 'RISARALDA',
       'SAN ANDR√âS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               19
ANTIOQUIA           60868
ARAUCA                131
ATL√ÅNTICO           23138
BOGOT√Å             138965
BOL√çVAR             16415
BOYAC√Å               7549
CALDAS               7742
CAQUET√Å              1496
CASANARE              130
CAUCA                4974
CESAR                4437
CHOC√ì                1900
CUNDINAMARCA         5792
C√ìRDOBA              9685
HUILA                5941
LA GUAJIRA           1620
MAGDALENA            7727
META                 3724
NARI√ëO                661
NORTE SANTANDER     10310
PUTUMAYO               72
QUIND√çO              3454
RISARALDA            7111
SAN ANDR√âS            135
SANTANDER           20644
SUCRE                4573
TOLIMA               7488
VALLE                6886
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 81126
__________________
Elementos diferentes de null/NaN: 363587
__________________
(363587,)
None

In [187]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1     10449
2     55444
3    164788
4     40575
5     32269
6     18165
7     17746
8     21053
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 84224
__________________
Elementos diferentes de null/NaN: 360489
__________________
(360489,)
None

In [188]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([    1.0,     4.0,     5.0,     7.0,    10.0,    18.0,    23.0,
                 26.0,    27.0,    36.0,
              ...
              23009.0, 23010.0, 23011.0, 23031.0, 24642.0, 24643.0, 24648.0,
              24650.0, 24651.0, 24657.0],
             dtype='float64', length=6318)
1          8
4         92
5        285
7         15
10         1
18        30
23         1
26         5
27         6
36        52
56         6
58         4
59         3
60         5
61        12
63        54
64        36
66         3
67         5
68         3
74        28
78         3
79         3
80         2
86         9
87        63
89         2
95         2
98        10
101        5
        ...
22977      1
22978      1
22979      3
22980     42
22981     29
22983      6
22985      5
22986    122
22991      1
22993      1
22996      1
22997      1
22999      1
23000      3
23003      2
23004      6
23005     12
23006     14
23007     28
23008     14
23009      2
23010      2
23011      2
23031     16
24642     28
24643      9
24648      3
24650      3
24651      7
24657      3
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 88463
__________________
Elementos diferentes de null/NaN: 356250
__________________
(356250,)
None

In [189]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1     87723
2    134712
3     64339
4     32978
5     27884
6      7438
7         5
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 89634
__________________
Elementos diferentes de null/NaN: 355079
__________________
(355079,)
None

## TARGETS

In [190]:
c = 'PUNT_LENGUAJE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '18,21', '26,04', '30,93', '34,62', '37,68', '40,35',
       '42,76', '45,01', '47,14', '49,19', '51,21', '53,22', '55,25', '57,32',
       '59,48', '61,76', '64,21', '66,94', '70,06', '73,82', '78,79', '86,72',
       '99,69'],
      dtype='object')
-1          11
0          116
18,21      825
26,04     3519
30,93     9437
34,62    19080
37,68    30660
40,35    41747
42,76    50440
45,01    54124
47,14    53072
49,19    47974
51,21    40285
53,22    31675
55,25    23545
57,32    16469
59,48    10406
61,76     6060
64,21     3152
66,94     1380
70,06      530
73,82      164
78,79       35
86,72        6
99,69        1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [191]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [192]:
c = 'PUNT_MATEMATICAS'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '105,63', '121,49', '21', '30,49', '36,38', '40,82', '44,48',
       '47,67', '50,54', '53,2', '55,71', '58,13', '60,49', '62,82', '65,16',
       '67,54', '69,99', '72,55', '75,27', '78,22', '81,5', '85,28', '89,86',
       '95,93'],
      dtype='object')
-1            7
0          1600
105,63       78
121,49       16
21         9664
30,49     28536
36,38     52849
40,82     71587
44,48     76096
47,67     65758
50,54     49328
53,2      32743
55,71     20341
58,13     12457
60,49      7661
62,82      4932
65,16      3348
67,54      2312
69,99      1644
72,55      1216
75,27       873
78,22       645
81,5        422
85,28       280
89,86       193
95,93       127
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [193]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [194]:
c = 'PUNT_C_SOCIALES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '15,86', '21,46', '25,63', '29,02', '31,93', '34,51',
       '36,86', '39,05', '41,1', '43,06', '44,96', '46,81', '48,62', '50,42',
       '52,23', '54,05', '55,9', '57,79', '59,76', '6,74', '61,83', '64,02',
       '66,38', '68,97', '71,89', '75,29', '79,47', '85,09', '94,22'],
      dtype='object')
-1         384
0           72
15,86      954
21,46     3006
25,63     7413
29,02    14358
31,93    23322
34,51    32136
36,86    38664
39,05    42853
41,1     43730
43,06    42037
44,96    38190
46,81    34060
48,62    28477
50,42    23958
52,23    19558
54,05    15418
55,9     11730
57,79     8427
59,76     6178
6,74       288
61,83     3956
64,02     2512
66,38     1564
68,97      842
71,89      405
75,29      154
79,47       47
85,09       19
94,22        1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [195]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [196]:
c = 'PUNT_FILOSOFIA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '18,24', '24,08', '28,53', '32,22', '35,44', '38,35',
       '41,05', '43,59', '46,04', '48,41', '50,76', '53,1', '55,47', '57,9',
       '60,41', '63,07', '65,93', '69,09', '72,7', '8,97'],
      dtype='object')
-1          20
0           55
18,24     2216
24,08     7490
28,53    18500
32,22    35032
35,44    54673
38,35    69648
41,05    74723
43,59    67091
46,04    51371
48,41    32822
50,76    18033
53,1      8104
55,47     3177
57,9      1039
60,41      248
63,07       64
65,93       15
69,09        3
72,7         1
8,97       388
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [197]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [198]:
c = 'PUNT_BIOLOGIA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '19,02', '26,7', '31,53', '35,2', '38,26', '40,94', '43,37',
       '45,64', '47,79', '49,87', '51,92', '53,95', '55,99', '58,09', '60,25',
       '62,54', '65', '67,71', '70,81', '74,54', '79,45', '87,23', '99,86'],
      dtype='object')
-1          34
0          103
19,02      829
26,7      3867
31,53    11698
35,2     25475
38,26    42313
40,94    56654
43,37    62818
45,64    60559
47,79    51415
49,87    40187
51,92    29683
53,95    21022
55,99    14681
58,09     9735
60,25     6160
62,54     3663
65        1999
67,71     1048
70,81      463
74,54      197
79,45       88
87,23       19
99,86        3
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [199]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [200]:
c = 'PUNT_QUIMICA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '21,83', '28,75', '33,07', '36,34', '39,03', '41,37',
       '43,47', '45,4', '47,22', '48,97', '50,66', '52,34', '54,01', '55,7',
       '57,44', '59,25', '61,18', '63,27', '65,59', '68,28', '71,54', '75,87',
       '82,82'],
      dtype='object')
-1           3
0           84
21,83      718
28,75     3306
33,07    10201
36,34    23164
39,03    39905
41,37    56418
43,47    66107
45,4     65853
47,22    55987
48,97    43309
50,66    30226
52,34    19467
54,01    12342
55,7      7420
57,44     4337
59,25     2582
61,18     1509
63,27      949
65,59      498
68,28      238
71,54       74
75,87       15
82,82        1
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [201]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [202]:
c = 'PUNT_FISICA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '11,26', '20,96', '27', '31,55', '35,31', '38,57', '41,52',
       '44,26', '46,84', '49,32', '51,73', '54,12', '56,51', '58,93', '61,41',
       '64', '66,74', '69,69', '72,97', '76,74', '81,3', '87,34', '97,06'],
      dtype='object')
-1           8
0           41
11,26      421
20,96     2223
27        7848
31,55    19388
35,31    36845
38,57    55349
41,52    67831
44,26    70400
46,84    61778
49,32    47159
51,73    31723
54,12    19307
56,51    11230
58,93     6180
61,41     3336
64        1746
66,74      969
69,69      477
72,97      258
76,74      120
81,3        49
87,34       25
97,06        2
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [203]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [204]:
c = 'PUNT_INGLES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '111,94', '13,96', '17,91', '21,08', '23,77', '26,13',
       '28,24', '30,17', '31,96', '33,63', '35,21', '36,71', '38,15', '39,54',
       '40,88', '42,2', '43,48', '44,74', '45,98', '47,21', '48,43', '49,65',
       '50,87', '52,09', '53,32', '54,57', '55,84', '57,13', '58,45', '59,81',
       '61,22', '62,69', '64,23', '65,86', '67,6', '69,48', '71,53', '73,83',
       '76,45', '79,55', '8,61', '83,41', '88,67', '97,34'],
      dtype='object')
-1          242
0            28
111,94      544
13,96        42
17,91        75
21,08       205
23,77       524
26,13      1434
28,24      3107
30,17      5916
31,96     10252
33,63     16064
35,21     23119
36,71     29892
38,15     35650
39,54     39629
40,88     40419
42,2      38445
43,48     33909
44,74     28619
45,98     23192
47,21     18177
48,43     14121
49,65     11053
50,87      8618
52,09      7145
53,32      6039
54,57      5321
55,84      4627
57,13      4200
58,45      3863
59,81      3542
61,22      3217
62,69      2877
64,23      2646
65,86      2498
67,6       2263
69,48      2151
71,53      1969
73,83      1813
76,45      1710
79,55      1682
8,61         14
83,41      1525
88,67      1291
97,34      1044
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [205]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [206]:
c = 'DESEMP_INGLES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', 'A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
-1       242
A-    244815
A1    144834
A2     30809
B+      4404
B1     19609
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [207]:
data_2007_2[c] = data_2007_2[c].replace('-1', np.nan)

In [208]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['PROFUNDIZACI√ìN EN BIOLOG√çA', 'PROFUNDIZACI√ìN EN CIENCIAS SOCIALES',
       'PROFUNDIZACI√ìN EN LENGUAJE', 'PROFUNDIZACI√ìN EN MATEM√ÅTICA'],
      dtype='object')
PROFUNDIZACI√ìN EN BIOLOG√çA             126232
PROFUNDIZACI√ìN EN CIENCIAS SOCIALES     82395
PROFUNDIZACI√ìN EN LENGUAJE             174597
PROFUNDIZACI√ìN EN MATEM√ÅTICA            61489
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [209]:
c = 'PUNT_PROFUNDIZACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '1,78', '10', '2,72', '2,8', '3,09', '3,24', '3,33', '3,64',
       '3,81', '3,9', '4,03', '4,17', '4,22', '4,42', '4,54', '4,6', '4,83',
       '4,94', '4,96', '5,18', '5,28', '5,31', '5,5', '5,59', '5,6', '5,67',
       '5,8', '5,88', '5,9', '6,04', '6,09', '6,16', '6,21', '6,39', '6,45',
       '6,46', '6,54', '6,71', '6,76', '6,89', '6,94', '7,05', '7,09', '7,31',
       '7,45', '7,48', '7,55', '7,84', '7,96', '7,98', '8,5', '8,75', '8,76'],
      dtype='object')
-1        275
0        1541
1,78      571
10         68
2,72     1963
2,8      4714
3,09     2011
3,24     2054
3,33     4421
3,64    13078
3,81     7262
3,9      5818
4,03     7175
4,17    24621
4,22     9947
4,42    10150
4,54    15090
4,6     44569
4,83    12753
4,94    22592
4,96    45575
5,18    11693
5,28    53066
5,31    10835
5,5      8457
5,59    22141
5,6     19013
5,67     8989
5,8      4831
5,88    15664
5,9     10517
6,04     6581
6,09     2483
6,16     8742
6,21     4778
6,39     1217
6,45     4168
6,46     4443
6,54     1768
6,71      624
6,76     1760
6,89      552
6,94     2518
7,05      379
7,09      749
7,31       87
7,45      313
7,48      264
7,55     1069
7,84       13
7,96      222
7,98       81
8,5       298
8,75      128
8,76       22
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [210]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [211]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1        275
GB     202913
I      189431
II      47849
III      4245
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [212]:
data_2007_2[c] = data_2007_2[c].replace('-1', np.nan)

In [213]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          228472
VIOLENCIA Y SOCIEDAD    216241
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [214]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '16,64', '26,56', '33,02', '38,12', '42,54', '45,94',
       '46,59', '48,11', '49,51', '50,46', '50,62', '51,58', '52,46', '53,31',
       '54,15', '54,28', '55,03', '55,98', '57,08', '58,17', '58,48', '60,63',
       '62,28', '64,07', '66,78', '72', '78,6', '88,67'],
      dtype='object')
-1         479
0         2101
16,64     3247
26,56    10087
33,02    20562
38,12    32091
42,54    39110
45,94     7833
46,59    38836
48,11    19385
49,51    31038
50,46    31610
50,62    37139
51,58    36071
52,46    30991
53,31    23606
54,15    17307
54,28    21098
55,03    11629
55,98     6681
57,08     3334
58,17    11506
58,48     1275
60,63      340
62,28     5012
64,07       46
66,78     1742
72         460
78,6        87
88,67       10
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444713
__________________
(444713,)
None

In [215]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [216]:
c = 'ESTU_PUESTO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,
              ...
              953.0, 954.0, 955.0, 956.0, 957.0, 958.0, 959.0, 960.0, 961.0,
              962.0],
             dtype='float64', length=962)
1      379
2      384
3      382
4      361
5      395
6      388
7      371
8      378
9      387
10     395
11     396
12     385
13     399
14     398
15     410
16     405
17     397
18     404
19     408
20     411
21     393
22     414
23     406
24     421
25     407
26     414
27     404
28     402
29     416
30     422
      ...
933    454
934    442
935    442
936    452
937    462
938    463
939    455
940    457
941    460
942    460
943    460
944    456
945    469
946    465
947    458
948    445
949    460
950    456
951    454
952    457
953    448
954    446
955    452
956    451
957    446
958    460
959    452
960    437
961    439
962    186
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 659
__________________
Elementos diferentes de null/NaN: 444054
__________________
(444054,)
None

NOW i can Transform the Obtained Dataframes in csv files

In [218]:
data_2007.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2007_1.csv', sep=';', index=False)
data_2007_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2007_2.csv', sep=';', index=False)