In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2001 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20011-RGSTRO-CLFCCN-V1-0.txt', delimiter="|",
                       encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2001.shape

(77961, 57)

In [4]:
data_2001.describe()

,COLE_COD_ICFES,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,ESTU_LIMITA_SORDOINTERPRETE,PUNT_BIOLOGIA,PUNT_MATEMATICAS,PUNT_FILOSOFIA,PUNT_FISICA,PUNT_HISTORIA,PUNT_QUIMICA,PUNT_LENGUAJE,PUNT_GEOGRAFIA,COD_INTERDISCIPLINAR,PUNT_INTERDISCIPLINAR,COD_IDIOMA,PUNT_IDIOMA,COLE_BILINGUE
count,77961.000000,77800.000000,77800.000000,77639.000000,0.0,77946.000000,77942.000000,77885.000000,77959.00000,77959.000000,77956.000000,77956.000000,77955.000000,77961.000000,77804.000000,77961.000000,77919.000000,2337.000000
mean,46305.468388,15.577545,6.556517,1981.156661,NaN,44.121905,42.080611,42.660551,46.45987,42.338498,44.330186,45.739686,46.102315,43.629507,52.403912,51.010274,40.971304,1.103979
std,29343.984047,8.816441,3.447762,8.230304,NaN,5.848529,5.080356,7.197108,5.94565,5.976248,5.924201,5.886078,8.008528,0.660634,11.244741,0.114986,8.632164,0.305299
min,182.000000,1.000000,1.000000,198.000000,NaN,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,6.000000,43.000000,0.000000,51.000000,0.000000,1.000000
25%,18218.000000,8.000000,4.000000,1981.000000,NaN,40.000000,39.000000,37.000000,42.00000,38.000000,40.000000,42.000000,40.000000,43.000000,44.000000,51.000000,37.000000,1.000000
50%,43315.000000,15.000000,7.000000,1983.000000,NaN,43.000000,42.000000,43.000000,46.00000,42.000000,44.000000,45.000000,46.000000,44.000000,58.000000,51.000000,40.000000,1.000000
75%,74849.000000,23.000000,10.000000,1984.000000,NaN,47.000000,45.000000,47.000000,50.00000,46.000000,47.000000,49.000000,51.000000,44.000000,61.000000,51.000000,43.000000,1.000000
max,95794.000000,31.000000,12.000000,1989.000000,NaN,81.000000,71.000000,74.000000,84.00000,69.000000,93.000000,71.000000,100.000000,45.000000,91.000000,53.000000,99.000000,2.000000

In [5]:
data_2001.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200110000001,SB11200110000002,SB11200110000003
COLE_COD_ICFES,78709,89474,89094
COLE_NOMBRE_SEDE,COLEGIO MIXTO FRAY PEÑA,INSTITUTO EDUCATIVO DEL VALLE,INSTITUTO TECNICO AGROPECUARIO POLICARPA SALAV...
IND_ANNO_TERMINO_BACHILLERATO,2001,2001,2001
COLE_JORNADA,C,C,C
COLE_VALOR_PENSION,3,1,1
ESTU_GENERO,M,F,F
ESTU_NACIMIENTO_DIA,14,20,16
ESTU_NACIMIENTO_MES,11,5,5
ESTU_NACIMIENTO_ANNO,1984,1985,1985
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_MCPIO_PRESENTACION,YUMBO,YUMBO,YUMBO
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49,45,37
PUNT_MATEMATICAS,42,49,41
PUNT_FILOSOFIA,43,52,44
PUNT_FISICA,42,50,42
PUNT_HISTORIA,36,43,35
PUNT_QUIMICA,43,40,32
PUNT_LENGUAJE,44,46,44
PUNT_GEOGRAFIA,38,54,40
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,59,62,61
COD_IDIOMA,51,51,51
PUNT_IDIOMA,35,39,35
ESTU_IES_COD_DESEADA,1203,4107,1203
ESTU_RAZONINSTITUTO,2,8,8
ESTU_CARRDESEADA_COD,28198,21125,48118
ESTU_CARRDESEADA_RAZON,3,3,3
FAMI_PERSONAS_HOGAR,5,3,5
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,N,N,N
FAMI_APORTANTES,2,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,0,0,0
FAMI_LEE_ESCRIBE_PADRE,S,NaN,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,3,NaN,3
FAMI_EDUCA_MADRE,3,*,3
FAMI_OCUPA_PADRE,08,NaN,08
FAMI_OCUPA_MADRE,08,08,10
FAMI_NUM_HERMANOS,2,1,2
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,1
FAMI_POSICION_HERMANOS,2,1,2
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,NaN,N,N
ESTU_ACT_PROX_ANNO,3,2,3
COLE_CALENDARIO,B,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,TECNICO,TECNICO,TECNICO
COLE_DEPTO_UBICACION,VALLE,VALLE,VALLE
COLE_MCPIO_UBICACION,YUMBO,YUMBO,YUMBO
ESTU_RESIDE_DEPTO,T,T,T
ESTU_RESIDE_MCPIO,VALLE,VALLE,VALLE
ESTU_TIPO_DOCUMENTO,YUMBO,YUMBO,CALI

In [6]:
"""Something estrange happened, there are two columns that are in the wrong place (ESTU_RESIDE_DEPTO, 
ESTU_TIPO_DOCUMENTO), so here i fix the problem"""
data_2001.rename(columns={'ESTU_TIPO_DOCUMENTO':'ESTU_RESIDE_DPTO', 'ESTU_RESIDE_DEPTO':'ESTU_TIPO_DOCUMENTO'}, inplace=True)

In [7]:
data_2001.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200110000001,SB11200110000002,SB11200110000003
COLE_COD_ICFES,78709,89474,89094
COLE_NOMBRE_SEDE,COLEGIO MIXTO FRAY PEÑA,INSTITUTO EDUCATIVO DEL VALLE,INSTITUTO TECNICO AGROPECUARIO POLICARPA SALAV...
IND_ANNO_TERMINO_BACHILLERATO,2001,2001,2001
COLE_JORNADA,C,C,C
COLE_VALOR_PENSION,3,1,1
ESTU_GENERO,M,F,F
ESTU_NACIMIENTO_DIA,14,20,16
ESTU_NACIMIENTO_MES,11,5,5
ESTU_NACIMIENTO_ANNO,1984,1985,1985
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_MCPIO_PRESENTACION,YUMBO,YUMBO,YUMBO
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49,45,37
PUNT_MATEMATICAS,42,49,41
PUNT_FILOSOFIA,43,52,44
PUNT_FISICA,42,50,42
PUNT_HISTORIA,36,43,35
PUNT_QUIMICA,43,40,32
PUNT_LENGUAJE,44,46,44
PUNT_GEOGRAFIA,38,54,40
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,59,62,61
COD_IDIOMA,51,51,51
PUNT_IDIOMA,35,39,35
ESTU_IES_COD_DESEADA,1203,4107,1203
ESTU_RAZONINSTITUTO,2,8,8
ESTU_CARRDESEADA_COD,28198,21125,48118
ESTU_CARRDESEADA_RAZON,3,3,3
FAMI_PERSONAS_HOGAR,5,3,5
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,N,N,N
FAMI_APORTANTES,2,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,0,0,0
FAMI_LEE_ESCRIBE_PADRE,S,NaN,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,3,NaN,3
FAMI_EDUCA_MADRE,3,*,3
FAMI_OCUPA_PADRE,08,NaN,08
FAMI_OCUPA_MADRE,08,08,10
FAMI_NUM_HERMANOS,2,1,2
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,1
FAMI_POSICION_HERMANOS,2,1,2
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,NaN,N,N
ESTU_ACT_PROX_ANNO,3,2,3
COLE_CALENDARIO,B,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,TECNICO,TECNICO,TECNICO
COLE_DEPTO_UBICACION,VALLE,VALLE,VALLE
COLE_MCPIO_UBICACION,YUMBO,YUMBO,YUMBO
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_RESIDE_MCPIO,VALLE,VALLE,VALLE
ESTU_RESIDE_DPTO,YUMBO,YUMBO,CALI

The first step i have to take is delete the ID Columns (columns used to identify something or someone), because that columns does not have any business here.

In [8]:
data_2001 = data_2001.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [9]:
data_2001.columns

Index(['COLE_COD_ICFES', 'IND_ANNO_TERMINO_BACHILLERATO', 'COLE_JORNADA',
       'COLE_VALOR_PENSION', 'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA',
       'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE',
       'ESTU_LIMITA_SORDONOINTERPRETE', 'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA',
       'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
       'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA',
       'COD_INTERDISCIPLINAR', 'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA',
       'PUNT_IDIOMA', 'ESTU_IES_COD_DESEADA', 'ESTU_RAZONINSTITUTO',
       'ESTU_CARRDESEADA_COD', 'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR',
       'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_RESIDE_MCPIO',
       'ESTU_RESIDE_DPTO'],
      dtype='object')

In [10]:
"""Looks ok, type int64"""
print(data_2001['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2001['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2001['COLE_COD_ICFES']))

Int64Index([  182,   265,  1362,  1503,  2998,  3145,  3327,  3418,  3459,
             3483,
            ...
            95646, 95679, 95687, 95711, 95729, 95745, 95760, 95778, 95786,
            95794],
           dtype='int64', length=1746)
182       63
265      573
1362     109
1503      98
2998      38
3145      38
3327       9
3418      45
3459      63
3483     102
4234      33
5843      16
6239       9
6890      51
6973       6
6981      60
6999      54
7005      61
7013      77
7047      66
7054      34
7062      74
7070     164
7088      79
7096     223
7104     127
7112      76
7120      52
7138     116
7146      66
        ...
95448     16
95455     44
95463     13
95471     13
95489     23
95497      6
95505      7
95513     14
95521     11
95539     21
95547     11
95554     10
95562     22
95570      9
95588     13
95596     10
95604     36
95612     11
95620     12
95638      7
95646     40
95679      4
95687      4
95711     16
95729     16
95745     68
95760      7
95778     33
95786     15
95794     21
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [11]:
"""Some incoherences, that will be fix in the following cell, and the np.nan values replaced"""
print(data_2001['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2001['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2001['IND_ANNO_TERMINO_BACHILLERATO']))

Index(['1980', '1987', '1992', '1994', '1998', '1999', '2', '2  0', '2  1',
       '2 *0', '2 0', '2 0*', '2 00', '2 01', '2*00', '20', '20 *', '20 0',
       '20 1', '20*', '20**', '20*0', '200', '2000', '2001', '2002', '2003',
       '201', '2010', '2011', '2090'],
      dtype='object')
1980        1
1987        1
1992        1
1994        1
1998        7
1999       28
2           9
2  0        7
2  1        3
2 *0        3
2 0         2
2 0*        8
2 00      120
2 01       11
2*00        1
20         15
20 *        2
20 0       28
20 1       15
20*        22
20**        3
20*0        1
200        58
2000    17605
2001    59828
2002        1
2003        1
201         2
2010        1
2011        9
2090        1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 166
__________________
Elementos diferentes de null/NaN: 77795
__________________
(77795,)
None

In [12]:
for i in data_2001['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index:
    if '*' in i:
        data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif ' ' in i:
        data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif len(i) < 4:
        data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)
    elif int(i) > 2003:
        data_2001['IND_ANNO_TERMINO_BACHILLERATO'] = data_2001['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, np.nan)

In [13]:
"""This column looks ok"""
print(data_2001['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2001['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2001['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C    18450
M    30611
N    19320
S      283
T     9297
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [14]:
"""This column just has some '*' values and some np.nan values"""
print(data_2001['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2001['COLE_VALOR_PENSION'].value_counts().sort_index())
print(missing_data(data_2001['COLE_VALOR_PENSION']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*       19
1    20756
2    11915
3     7520
4     4122
5     3570
6     2053
7     3184
8    20785
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 4037
__________________
Elementos diferentes de null/NaN: 73924
__________________
(73924,)
None

In [15]:
data_2001['COLE_VALOR_PENSION'] = data_2001['COLE_VALOR_PENSION'].replace('*', np.nan)

In [16]:
"""PERFECT!"""
print(data_2001['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2001['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    42203
M    35758
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [17]:
"""ALMOST PERFECT, has some np.nan, but the whole column is float64 dtype so this will keep the np.nan values, and 
in the end all the np.nan values will be replaced"""
print(data_2001['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2001['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2795
2.0     2620
3.0     2637
4.0     2591
5.0     2611
6.0     2619
7.0     2518
8.0     2468
9.0     2488
10.0    2766
11.0    2467
12.0    2609
13.0    2485
14.0    2525
15.0    2703
16.0    2493
17.0    2610
18.0    2592
19.0    2411
20.0    2656
21.0    2403
22.0    2589
23.0    2466
24.0    2513
25.0    2569
26.0    2460
27.0    2525
28.0    2634
29.0    2313
30.0    2280
31.0    1384
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 161
__________________
Elementos diferentes de null/NaN: 77800
__________________
(77800,)
None

In [18]:
"""ALMOST PERFECT, has some np.nan, but the whole column is float64 dtype so this will keep the np.nan values, and 
in the end all the np.nan values will be replaced"""
print(data_2001['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2001['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     6533
2.0     5967
3.0     6650
4.0     6201
5.0     6530
6.0     6190
7.0     6537
8.0     6621
9.0     6915
10.0    6636
11.0    6476
12.0    6544
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 161
__________________
Elementos diferentes de null/NaN: 77800
__________________
(77800,)
None

In [19]:
"""Here this column has one year '198' that will be replaced for a correct number, and the np.nan values will keep 
their existence"""
print(data_2001['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2001['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_NACIMIENTO_ANNO']))

Float64Index([ 198.0, 1917.0, 1919.0, 1931.0, 1932.0, 1933.0, 1934.0, 1935.0,
              1936.0, 1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0,
              1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0],
             dtype='float64')
198.0         1
1917.0        1
1919.0        1
1931.0        1
1932.0        1
1933.0        4
1934.0        2
1935.0        3
1936.0        1
1937.0        4
1938.0        8
1939.0        2
1940.0        7
1941.0        4
1942.0        9
1943.0        4
1944.0        8
1945.0       13
1946.0        7
1947.0       15
1948.0       19
1949.0       18
1950.0       20
1951.0       41
1952.0       51
1953.0       73
1954.0       49
1955.0       78
1956.0       91
1957.0      126
          ...
1960.0      184
1961.0      183
1962.0      254
1963.0      238
1964.0      279
1965.0      291
1966.0      337
1967.0      344
1968.0      352
1969.0      404
1970.0      417
1971.0      470
1972.0      519
1973.0      549
1974.0      621
1975.0      705
1976.0      858
1977.0     1063
1978.0     1440
1979.0     2199
1980.0     3598
1981.0     6374
1982.0    11621
1983.0    16864
1984.0    20656
1985.0     5631
1986.0      240
1987.0       24
1988.0       12
1989.0       13
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 322
__________________
Elementos diferentes de null/NaN: 77639
__________________
(77639,)
None

In [20]:
data_2001['ESTU_NACIMIENTO_ANNO'] = data_2001['ESTU_NACIMIENTO_ANNO'].replace(198, 1918)

In [21]:
"""PERFECT!"""
print(data_2001['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2001['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_DEPTO_PRESENTACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3689
ARAUCA               133
ATLANTICO           1236
BOGOTA              7056
BOLIVAR              294
BOYACA               263
CALDAS               418
CAQUETA              335
CASANARE             149
CAUCA               7574
CESAR                259
CHOCO                  1
CORDOBA              633
CUNDINAMARCA        1460
GUAVIARE              10
HUILA                885
LA GUAJIRA           136
MAGDALENA            167
META                 601
NARIÑO             11564
NORTE SANTANDER      501
PUTUMAYO              26
QUINDIO              485
RISARALDA            508
SAN ANDRES             1
SANTANDER            928
SUCRE                 56
TOLIMA               507
VALLE              38086
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [22]:
"""PERFECT!"""
print(data_2001['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2001['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_MCPIO_PRESENTACION']))

Index(['AGUACHICA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO', 'APARTADO',
       'ARAUCA', 'ARMENIA', 'BARBACOAS', 'BARRANCABERMEJA', 'BARRANQUILLA',
       ...
       'TULUA', 'TUMACO', 'TUNJA', 'TUQUERRES', 'UBATE', 'VALLEDUPAR',
       'VILLAVICENCIO', 'YOPAL', 'YUMBO', 'ZARZAL'],
      dtype='object', length=125)
AGUACHICA                    32
ALCALA                      134
ANDALUCIA                   171
ANSERMANUEVO                 48
APARTADO                     80
ARAUCA                       87
ARMENIA                     485
BARBACOAS                   124
BARRANCABERMEJA              51
BARRANQUILLA               1236
BELLO                       533
BOGOTA D.C.                7056
BOLIVAR                     314
BUCARAMANGA                 697
BUENAVENTURA               2874
BUENOS AIRES                 51
BUESACO                     134
BUGA                       1647
BUGALAGRANDE                254
CAICEDONIA                  256
CAJIBIO                       6
CALDONO                      48
CALI                      18770
CALIMA (DARIEN)             159
CALOTO                      150
CAMPOALEGRE                  22
CANDELARIA                  681
CAQUEZA                       1
CARTAGENA                   271
CARTAGO                    1499
                          ...
SAN JUAN DE RIO SECO         46
SAN MARTIN                   28
SAN PABLO                   202
SANDONA                     249
SANTA MARTA                 102
SANTANDER DE QUILICHAO      942
SARAVENA                     30
SEVILLA                     475
SILVIA                      120
SINCELEJO                    56
SOACHA                      416
SOGAMOSO                     85
SUAREZ                      129
TAME                         16
TAMINANGO                   133
TANGUA                       34
TIERRALTA                   125
TIMBIO                      231
TORO                        132
TRUJILLO                    108
TULUA                      2209
TUMACO                     1083
TUNJA                       178
TUQUERRES                   452
UBATE                        41
VALLEDUPAR                  227
VILLAVICENCIO               573
YOPAL                        97
YUMBO                       871
ZARZAL                      525
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [23]:
"""Here in this column i found a lot of np.nan that i will replace for string 'NaN'"""
print(data_2001['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2001['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    4
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 77957
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [24]:
"""The column is empty, so THIS COLUMN WILL BE DELETED"""
print(data_2001['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2001['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_LIMITA_SORDOINTERPRETE']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 77961
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [25]:
"""A lot of np.nan tha will be replaced for 'NaN'"""
print(data_2001['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2001['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    15
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 77946
__________________
Elementos diferentes de null/NaN: 15
__________________
(15,)
None

In [26]:
"""A lot of np.nan tha will be replaced for 'NaN'"""
print(data_2001['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2001['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    14
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 77947
__________________
Elementos diferentes de null/NaN: 14
__________________
(14,)
None

In [27]:
"""A lot of incoherences found, the normal codes of some IES are 4 digits"""
print(data_2001['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2001['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_IES_COD_DESEADA']))

Index(['*', '*  *', '* *', '* 06', '* 1', '* 12', '* 16', '* 2', '* 20', '**',
       ...
       '9450', '9515', '9806', '9811', '99', '99 9', '9911', '9912', '999',
       '9999'],
      dtype='object', length=755)
*         11
*  *       2
* *        8
* 06       1
* 1        1
* 12       1
* 16       1
* 2        1
* 20       1
**        22
****       5
*0         6
*0 1       1
*0 3       1
*0 4       1
*0 8       1
*01        1
*03        2
*06        2
*07        1
*1         5
*1 0       1
*1 2       1
*1 3       1
*101       1
*103       1
*105       1
*11        6
*11*       1
*113       1
        ...
910        3
9100       7
9101     526
9102      81
9103     317
9104     411
9105     224
9107      48
9109      18
911        3
911*       1
9110     350
9111     841
9112     144
9113      11
9114      58
9115     248
9116       1
9145       1
9329       1
9450       3
9515       2
9806       1
9811       1
99         4
99 9       3
9911       1
9912       1
999       24
9999    6095
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 7244
__________________
Elementos diferentes de null/NaN: 70717
__________________
(70717,)
None

In [28]:
for i in data_2001['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '*' in i:
        data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif ' ' in i:
        data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif len(i)<4:
        data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif int(i)<1000:
        data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace(i, np.nan)

data_2001['ESTU_IES_COD_DESEADA'] = data_2001['ESTU_IES_COD_DESEADA'].replace('0000', np.nan)

In [29]:
"""Some '*' values that will be replaced, and some np.nan too"""
print(data_2001['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2001['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_RAZONINSTITUTO']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*       17
1     1458
2    21651
3    10892
4     7567
5     9654
6     6387
7     4917
8     8028
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 7390
__________________
Elementos diferentes de null/NaN: 70571
__________________
(70571,)
None

In [30]:
data_2001['ESTU_RAZONINSTITUTO'] = data_2001['ESTU_RAZONINSTITUTO'].replace('*', np.nan)

In [31]:
"""All the incoherences and the np.nan will be replaced for 'NaN'"""
print(data_2001['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2001['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_CARRDESEADA_COD']))

Index(['*', '*   *', '* *', '* * 1', '* * 4', '* * 9', '* *2', '* *5', '* 1*',
       '* 150',
       ...
       '958', '98103', '98109', '99', '99 9', '99 99', '999', '999 9', '9999',
       '99999'],
      dtype='object', length=2498)
*           8
*   *       1
* *         3
* * 1       1
* * 4       1
* * 9       1
* *2        1
* *5        1
* 1*        1
* 150       1
* 3         1
* 4         1
* 8         1
**          8
**  3       1
**  9       1
** 4        1
*****       1
**0         2
**1         6
**2         3
**4         2
**5         1
*0          1
*0*         1
*1          3
*1  *       1
*1 *        1
*1 0        1
*1 09       1
         ...
91011       1
9102       11
91021       1
91022       1
9103       23
9104       39
9105        9
9107        4
9108        1
911 2       1
9110        9
91104       1
9111        7
9112        2
9114        3
9115        1
9117        1
92159       1
92642       1
94104       1
958         1
98103       1
98109       1
99          4
99 9        1
99 99       1
999        10
999 9       2
9999      120
99999    5490
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 4730
__________________
Elementos diferentes de null/NaN: 73231
__________________
(73231,)
None

In [32]:
for i in data_2001['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2001['ESTU_CARRDESEADA_COD'] = data_2001['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif ' ' in i:
        data_2001['ESTU_CARRDESEADA_COD'] = data_2001['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif int(i) == 0:
        data_2001['ESTU_CARRDESEADA_COD'] = data_2001['ESTU_CARRDESEADA_COD'].replace(i, np.nan)

In [33]:
"""Has numbers and string so i have to let everything in just one dtype and change the '*' values and the np.nan too"""
print(data_2001['ESTU_CARRDESEADA_RAZON'].value_counts().index)
print(data_2001['ESTU_CARRDESEADA_RAZON'].value_counts())
print(missing_data(data_2001['ESTU_CARRDESEADA_RAZON']))

Index(['1', '3', '2', '5', '4', 2.0, 3.0, 1.0, '6', 5.0, 4.0, 6.0, '*'], dtype='object')
1      17283
3      15723
2      13399
5       5005
4       4583
2.0     4569
3.0     4238
1.0     4203
6       1750
5.0     1060
4.0      955
6.0      373
*         10
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 4810
__________________
Elementos diferentes de null/NaN: 73151
__________________
(73151,)
None

In [34]:
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(1.0, '1')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(2.0, '2')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(3.0, '3')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(4.0, '4')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(5.0, '5')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace(6.0, '6')
data_2001['ESTU_CARRDESEADA_RAZON'] = data_2001['ESTU_CARRDESEADA_RAZON'].replace('*', np.nan)

In [35]:
"""This column has '*' values that will be replaced and some np.nan values that will be replaced too... 
The '+' simbol will be replaced for '+9'"""
print(data_2001['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2001['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_PERSONAS_HOGAR']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      162
+     3184
1      315
2     2778
3     9437
4    19165
5    18965
6    11081
7     6271
8     3632
9     2258
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 713
__________________
Elementos diferentes de null/NaN: 77248
__________________
(77248,)
None

In [36]:
data_2001['FAMI_PERSONAS_HOGAR'] = data_2001['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2001['FAMI_PERSONAS_HOGAR'] = data_2001['FAMI_PERSONAS_HOGAR'].replace('*', np.nan)

In [37]:
"""The '*' values and the np.nan will be repalced for 'NaN'"""
print(data_2001['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2001['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_VIVIENDA_PROPIA']))

Index(['*', 'N', 'S'], dtype='object')
*        9
N    22083
S    53521
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 2348
__________________
Elementos diferentes de null/NaN: 75613
__________________
(75613,)
None

In [38]:
data_2001['FAMI_VIVIENDA_PROPIA'] = data_2001['FAMI_VIVIENDA_PROPIA'].replace('*', np.nan)

In [39]:
"""The '*' values and the np.nan will be repalced for 'NaN'"""
print(data_2001['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2001['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_DEUDA_VIVIENDA']))

Index(['*', 'N', 'S'], dtype='object')
*        3
N    36532
S    11028
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 30398
__________________
Elementos diferentes de null/NaN: 47563
__________________
(47563,)
None

In [40]:
data_2001['FAMI_DEUDA_VIVIENDA'] = data_2001['FAMI_DEUDA_VIVIENDA'].replace('*', np.nan)

In [41]:
"""This column has '*' values that will be replaced and some np.nan values that will be replaced too... 
The '+' simbol will be replaced for '+9'"""
print(data_2001['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2001['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_APORTANTES']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      165
+       84
0      254
1    38695
2    28841
3     5881
4     1763
5      533
6      179
7       60
8       47
9       23
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 1436
__________________
Elementos diferentes de null/NaN: 76525
__________________
(76525,)
None

In [42]:
data_2001['FAMI_APORTANTES'] = data_2001['FAMI_APORTANTES'].replace('+', '+9')
data_2001['FAMI_APORTANTES'] = data_2001['FAMI_APORTANTES'].replace('*', np.nan)

In [43]:
"""Just the '*' values"""
print(data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_INGRESO_FMILIAR_MENSUAL']))

Index(['*', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       46
0    19315
1    29728
2    12610
3     6758
4     2563
5     1344
6     1076
7      622
8      578
9     1404
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 1917
__________________
Elementos diferentes de null/NaN: 76044
__________________
(76044,)
None

In [44]:
data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2001['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('*', np.nan)

In [45]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_LEE_ESCRIBE_PADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       36
N     2391
S    67644
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 7890
__________________
Elementos diferentes de null/NaN: 70071
__________________
(70071,)
None

In [46]:
data_2001['FAMI_LEE_ESCRIBE_PADRE'] = data_2001['FAMI_LEE_ESCRIBE_PADRE'].replace('*', np.nan)

In [47]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_LEE_ESCRIBE_MADRE']))

Index(['*', 'N', 'S'], dtype='object')
*       54
N     2826
S    72205
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 2876
__________________
Elementos diferentes de null/NaN: 75085
__________________
(75085,)
None

In [48]:
data_2001['FAMI_LEE_ESCRIBE_MADRE'] = data_2001['FAMI_LEE_ESCRIBE_MADRE'].replace('*', np.nan)

In [49]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_EDUCA_PADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*      842
1     3285
2      792
3    31439
4    16533
5     3231
6     3135
7     6260
8     3107
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 9337
__________________
Elementos diferentes de null/NaN: 68624
__________________
(68624,)
None

In [50]:
data_2001['FAMI_EDUCA_PADRE'] = data_2001['FAMI_EDUCA_PADRE'].replace('*', np.nan)

In [51]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_EDUCA_MADRE']))

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*      866
1     3290
2      914
3    33828
4    19250
5     4128
6     2522
7     5391
8     2156
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 5616
__________________
Elementos diferentes de null/NaN: 72345
__________________
(72345,)
None

In [52]:
data_2001['FAMI_EDUCA_MADRE'] = data_2001['FAMI_EDUCA_MADRE'].replace('*', np.nan)

In [53]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_OCUPA_PADRE']))

Index(['*', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'],
      dtype='object')
*      1709
01     1319
02     1641
03     3664
04     4654
05    19204
06     9054
07      539
08    17678
09     4482
10     1084
11       37
12     2237
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 10659
__________________
Elementos diferentes de null/NaN: 67302
__________________
(67302,)
None

In [54]:
data_2001['FAMI_OCUPA_PADRE'] = data_2001['FAMI_OCUPA_PADRE'].replace('*', np.nan)

In [55]:
"""The '*' values will be replaced and the np.nan too"""
print(data_2001['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2001['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_OCUPA_MADRE']))

Index(['*', '01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11',
       '12'],
      dtype='object')
*      1550
01      515
02      924
03     1626
04     4188
05     9127
06     7186
07      528
08     5168
09     1203
10    38919
11      307
12     1383
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 5337
__________________
Elementos diferentes de null/NaN: 72624
__________________
(72624,)
None

In [56]:
data_2001['FAMI_OCUPA_MADRE'] = data_2001['FAMI_OCUPA_MADRE'].replace('*', np.nan)

In [57]:
"""The '*', '+' and the np.nan values will be replaced """
print(data_2001['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2001['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_NUM_HERMANOS']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      191
+     1931
0     3907
1    15561
2    18415
3    11749
4     7403
5     4789
6     3266
7     2364
8     1571
9     1145
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 5669
__________________
Elementos diferentes de null/NaN: 72292
__________________
(72292,)
None

In [58]:
data_2001['FAMI_NUM_HERMANOS'] = data_2001['FAMI_NUM_HERMANOS'].replace('+', '+9')
data_2001['FAMI_NUM_HERMANOS'] = data_2001['FAMI_NUM_HERMANOS'].replace('*', np.nan)

In [59]:
"""The '*', '+' and the np.nan values will be replaced """
print(data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       63
+       49
0    38898
1    18897
2     7305
3     2436
4      887
5      323
6      137
7       77
8       37
9       28
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 8824
__________________
Elementos diferentes de null/NaN: 69137
__________________
(69137,)
None

In [60]:
data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')
data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2001['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('*', np.nan)

In [61]:
"""The '*', '+' and the np.nan values will be replaced """
print(data_2001['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2001['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_POSICION_HERMANOS']))

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       14
+      765
1    25408
2    19872
3    11998
4     6244
5     3639
6     2265
7     1458
8      905
9      648
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 4745
__________________
Elementos diferentes de null/NaN: 73216
__________________
(73216,)
None

In [62]:
data_2001['FAMI_POSICION_HERMANOS'] = data_2001['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2001['FAMI_POSICION_HERMANOS'] = data_2001['FAMI_POSICION_HERMANOS'].replace('*', np.nan)

In [63]:
"""The '*' values and the np.nan values will be replaced, and in added the value with 'n' will be replaced for 'N'"""
print(data_2001['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2001['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2001['FAMI_SOST_PERSONAL']))

Index(['*', 'N', 'P', 'T', 'n'], dtype='object')
*        6
N     6772
P    10636
T    57465
n        1
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 3081
__________________
Elementos diferentes de null/NaN: 74880
__________________
(74880,)
None

In [64]:
data_2001['FAMI_SOST_PERSONAL'] = data_2001['FAMI_SOST_PERSONAL'].replace('n', 'N')
data_2001['FAMI_SOST_PERSONAL'] = data_2001['FAMI_SOST_PERSONAL'].replace('*', np.nan)

In [65]:
"""Just the '*' values"""
print(data_2001['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2001['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_TRABAJA']))

Index(['*', 'N', 'S'], dtype='object')
*        3
N    62909
S    11965
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 3084
__________________
Elementos diferentes de null/NaN: 74877
__________________
(74877,)
None

In [66]:
data_2001['ESTU_TRABAJA'] = data_2001['ESTU_TRABAJA'].replace('*', np.nan)

In [67]:
print(data_2001['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2001['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_ACT_PROX_ANNO']))

Index(['*', '1', '2', '3'], dtype='object')
*       45
1    21087
2     1746
3    54470
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 613
__________________
Elementos diferentes de null/NaN: 77348
__________________
(77348,)
None

In [68]:
data_2001['ESTU_ACT_PROX_ANNO'] = data_2001['ESTU_ACT_PROX_ANNO'].replace('*', np.nan)

In [69]:
"""PERFECT!"""
print(data_2001['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2001['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2001['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A     6081
B    48042
F    23838
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [70]:
"""There are a lot of np.nan values, but the column is float64 dtype"""
print(data_2001['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2001['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2001['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2094
2.0     243
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 75624
__________________
Elementos diferentes de null/NaN: 2337
__________________
(2337,)
None

In [71]:
"""PERFECT"""
print(data_2001['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2001['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2001['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              40335
ACADEMICO Y TECNICO    16746
NORMALISTA              1067
TECNICO                19813
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [72]:
"""PERFECT!"""
print(data_2001['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2001['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2001['COLE_DEPTO_UBICACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CORDOBA',
       'CUNDINAMARCA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3879
ARAUCA               135
ATLANTICO           1239
BOGOTA              6848
BOLIVAR              290
BOYACA               238
CALDAS               407
CAQUETA              352
CASANARE             148
CAUCA               7567
CESAR                239
CORDOBA              464
CUNDINAMARCA        1580
HUILA                876
LA GUAJIRA           143
MAGDALENA            182
META                 604
NARIÑO             11547
NORTE SANTANDER      501
PUTUMAYO              27
QUINDIO              480
RISARALDA            497
SANTANDER            967
SUCRE                 41
TOLIMA               589
VALLE              38121
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [73]:
"""PERFECT!"""
print(data_2001['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2001['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2001['COLE_MCPIO_UBICACION']))

Index(['ACACIAS', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA', 'AGUADAS', 'AGUAZUL',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA',
       ...
       'VILLAVICENCIO', 'VILLETA', 'YACUANQUER', 'YARUMAL', 'YOPAL', 'YOTOCO',
       'YUMBO', 'ZAPATOCA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=276)
ACACIAS                   11
AGRADO                    34
AGUA DE DIOS              18
AGUACHICA                 24
AGUADAS                    9
AGUAZUL                   15
ALBAN (SAN JOSE)          71
ALBANIA                   41
ALCALA                   112
ALDANA                    65
ALGECIRAS                 14
ANCUYA                    57
ANDALUCIA                200
ANGOSTURA                  8
ANSERMA                   12
ANSERMANUEVO              43
ANTIOQUIA                 67
APARTADO                  99
APIA                      58
ARACATACA                  4
ARAUCA                   117
ARBOLEDA (BERRUECOS)      32
ARGELIA                   53
ARJONA                    46
ARMENIA                  331
ARMERO (GUAYABAL)         12
BALBOA                    55
BARBACOAS                121
BARBOSA                   47
BARRANCABERMEJA           33
                        ...
TOCAIMA                   23
TORIBIO                   13
TORO                     133
TOTORO                    22
TRUJILLO                 135
TULUA                   1962
TUMACO                   981
TUNJA                     67
TUQUERRES                310
TURBACO                   49
TUTA                      22
UBATE                     57
ULLOA                     39
VALLEDUPAR               185
VALPARAISO                10
VERSALLES                 61
VIJES                     54
VILLA RICA                32
VILLAGOMEZ                19
VILLAMARIA                51
VILLAVICENCIO            526
VILLETA                   75
YACUANQUER                85
YARUMAL                   16
YOPAL                     30
YOTOCO                    97
YUMBO                    842
ZAPATOCA                  10
ZARZAL                   486
ZIPAQUIRA                 60
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

Here i found another incoherence, the columns *ESTU_RESIDE_MCPIO* y *ESTU_RESIDE_DPTO* are in the wrong place

In [74]:
data_2001.rename(columns={'ESTU_RESIDE_DPTO':'ESTU_RESIDE_MPIO', 'ESTU_RESIDE_MCPIO':'ESTU_RESIDE_DPTO'}, inplace=True)

In [75]:
"""PERFECT!"""
print(data_2001['ESTU_RESIDE_MPIO'].value_counts().sort_index().index)
print(data_2001['ESTU_RESIDE_MPIO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_RESIDE_MPIO']))

Index(['ACACIAS', 'AGRADO', 'AGUACHICA', 'AGUADAS', 'AGUAZUL', 'AIPE',
       'ALBAN (SAN JOSE)', 'ALCALA', 'ALDANA', 'ALEJANDRIA',
       ...
       'VILLETA', 'YACUANQUER', 'YARUMAL', 'YOPAL', 'YOTOCO', 'YUMBO',
       'ZAPATOCA', 'ZARAGOZA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=348)
ACACIAS                   39
AGRADO                    31
AGUACHICA                 24
AGUADAS                    9
AGUAZUL                   14
AIPE                       2
ALBAN (SAN JOSE)          61
ALCALA                   114
ALDANA                    64
ALEJANDRIA                11
ALGECIRAS                 14
AMAGA                      1
ANCUYA                    58
ANDALUCIA                184
ANGELOPOLIS                1
ANGOSTURA                  8
ANSERMA                   10
ANSERMANUEVO              44
ANTIOQUIA                 63
APARTADO                  98
APIA                       6
ARAUCA                    85
ARAUQUITA                 10
ARBOLEDA (BERRUECOS)      25
ARBOLETES                  1
ARGELIA                   72
ARJONA                    46
ARMENIA                  336
ARMERO (GUAYABAL)         11
BALBOA                    45
                        ...
TOTORO                    12
TRUJILLO                 125
TULUA                   2039
TUMACO                  1009
TUNJA                     76
TUQUERRES                330
TURBACO                   18
TUTA                      21
UBATE                     55
ULLOA                     36
VALLEDUPAR               186
VALPARAISO                14
VENECIA                    7
VERSALLES                 57
VIJES                     54
VILLA DEL ROSARIO          1
VILLAGOMEZ                16
VILLAMARIA                48
VILLANUEVA                 1
VILLAVICENCIO            471
VILLETA                   74
YACUANQUER                79
YARUMAL                   30
YOPAL                     47
YOTOCO                    99
YUMBO                    766
ZAPATOCA                   9
ZARAGOZA                   1
ZARZAL                   509
ZIPAQUIRA                 60
Name: ESTU_RESIDE_MPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [76]:
"""PERFECT"""
print(data_2001['ESTU_RESIDE_DPTO'].value_counts().sort_index().index)
print(data_2001['ESTU_RESIDE_DPTO'].value_counts().sort_index())
print(missing_data(data_2001['ESTU_RESIDE_DPTO']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA',
       'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           3689
ARAUCA               133
ATLANTICO           1236
BOGOTA              7056
BOLIVAR              294
BOYACA               263
CALDAS               418
CAQUETA              335
CASANARE             149
CAUCA               7574
CESAR                259
CHOCO                  1
CORDOBA              633
CUNDINAMARCA        1460
GUAVIARE              10
HUILA                885
LA GUAJIRA           136
MAGDALENA            167
META                 601
NARIÑO             11564
NORTE SANTANDER      501
PUTUMAYO              26
QUINDIO              485
RISARALDA            508
SAN ANDRES             1
SANTANDER            928
SUCRE                 56
TOLIMA               507
VALLE              38086
Name: ESTU_RESIDE_DPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

### Puntajes / TARGETS

In [77]:
"""PERFECT!"""
print(data_2001['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2001['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_BIOLOGIA']))

Float64Index([ 0.0, 15.0, 22.0, 27.0, 30.0, 33.0, 35.0, 37.0, 39.0, 40.0, 42.0,
              43.0, 45.0, 46.0, 47.0, 49.0, 50.0, 51.0, 52.0, 54.0, 55.0, 56.0,
              57.0, 59.0, 60.0, 62.0, 63.0, 65.0, 66.0, 68.0, 71.0, 73.0, 77.0,
              81.0],
             dtype='float64')
0.0        8
15.0      17
22.0      78
27.0     216
30.0     623
33.0    1394
35.0    2618
37.0    4362
39.0    6109
40.0    7608
42.0    8577
43.0    8627
45.0    8138
46.0    6778
47.0    5497
49.0    4282
50.0    3285
51.0    2543
52.0    1906
54.0    1387
55.0    1062
56.0     789
57.0     589
59.0     476
60.0     306
62.0     234
63.0     181
65.0     101
66.0      69
68.0      44
71.0      21
73.0       9
77.0      10
81.0       2
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 77946
__________________
(77946,)
None

In [78]:
"""PERFECT!"""
print(data_2001['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2001['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_MATEMATICAS']))

Float64Index([ 0.0,  1.0,  4.0,  9.0, 13.0, 17.0, 19.0, 22.0, 24.0, 26.0, 28.0,
              30.0, 31.0, 33.0, 35.0, 36.0, 38.0, 39.0, 41.0, 42.0, 44.0, 45.0,
              47.0, 49.0, 50.0, 52.0, 54.0, 56.0, 58.0, 61.0, 64.0, 67.0,
              71.0],
             dtype='float64')
0.0         5
1.0        12
4.0         9
9.0        12
13.0       21
17.0       21
19.0       37
22.0       59
24.0       63
26.0      104
28.0      215
30.0      467
31.0      920
33.0     1598
35.0     2825
36.0     4309
38.0     6618
39.0     8196
41.0     9579
42.0    10130
44.0     9367
45.0     8036
47.0     6093
49.0     4056
50.0     2497
52.0     1459
54.0      676
56.0      334
58.0      130
61.0       60
64.0       23
67.0        7
71.0        4
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 19
__________________
Elementos diferentes de null/NaN: 77942
__________________
(77942,)
None

In [79]:
"""PERFECT!"""
print(data_2001['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2001['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_FILOSOFIA']))

Float64Index([ 0.0,  7.0, 16.0, 21.0, 25.0, 28.0, 31.0, 33.0, 35.0, 37.0, 39.0,
              41.0, 43.0, 44.0, 46.0, 47.0, 49.0, 50.0, 52.0, 53.0, 55.0, 56.0,
              58.0, 59.0, 61.0, 63.0, 64.0, 66.0, 69.0, 71.0, 74.0],
             dtype='float64')
0.0       26
7.0       48
16.0      75
21.0     206
25.0     582
28.0    1137
31.0    2184
33.0    3655
35.0    5269
37.0    6732
39.0    7657
41.0    7977
43.0    7909
44.0    7088
46.0    6022
47.0    5178
49.0    4087
50.0    3095
52.0    2421
53.0    1823
55.0    1339
56.0    1043
58.0     807
59.0     518
61.0     414
63.0     272
64.0     154
66.0      92
69.0      48
71.0      13
74.0      14
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 76
__________________
Elementos diferentes de null/NaN: 77885
__________________
(77885,)
None

In [80]:
"""PERFECT!"""
print(data_2001['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2001['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_FISICA']))

Float64Index([ 0.0, 14.0, 23.0, 29.0, 33.0, 36.0, 39.0, 42.0, 44.0, 46.0, 48.0,
              50.0, 52.0, 53.0, 55.0, 56.0, 58.0, 59.0, 61.0, 63.0, 64.0, 66.0,
              67.0, 69.0, 71.0, 72.0, 74.0, 76.0, 81.0, 84.0],
             dtype='float64')
0.0         8
14.0       20
23.0      125
29.0      549
33.0     1477
36.0     3197
39.0     5924
42.0     8436
44.0    10481
46.0    11257
48.0    10464
50.0     8810
52.0     6432
53.0     4317
55.0     2643
56.0     1609
58.0      874
59.0      526
61.0      315
63.0      200
64.0      110
66.0       70
67.0       42
69.0       34
71.0       11
72.0       16
74.0        4
76.0        5
81.0        2
84.0        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 77959
__________________
(77959,)
None

In [81]:
"""PERFECT!"""
print(data_2001['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2001['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_HISTORIA']))

Float64Index([ 0.0, 14.0, 21.0, 25.0, 28.0, 31.0, 33.0, 35.0, 36.0, 38.0, 39.0,
              41.0, 42.0, 43.0, 44.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 53.0,
              54.0, 55.0, 56.0, 58.0, 59.0, 61.0, 62.0, 64.0, 66.0, 69.0],
             dtype='float64')
0.0        2
14.0      20
21.0      62
25.0     228
28.0     645
31.0    1378
33.0    2577
35.0    4042
36.0    5372
38.0    6607
39.0    7107
41.0    7255
42.0    6749
43.0    6443
44.0    5418
46.0    4778
47.0    3986
48.0    3355
49.0    2819
50.0    2362
51.0    1902
53.0    1557
54.0    1134
55.0     811
56.0     527
58.0     378
59.0     222
61.0     132
62.0      49
64.0      31
66.0       7
69.0       4
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 77959
__________________
(77959,)
None

In [82]:
"""PERFECT!"""
print(data_2001['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2001['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_QUIMICA']))

Float64Index([ 0.0, 16.0, 23.0, 27.0, 30.0, 32.0, 34.0, 36.0, 37.0, 39.0, 40.0,
              42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 51.0, 52.0, 53.0,
              54.0, 55.0, 56.0, 58.0, 59.0, 60.0, 62.0, 64.0, 66.0, 68.0, 71.0,
              75.0, 82.0, 93.0],
             dtype='float64')
0.0        1
16.0       5
23.0      37
27.0     143
30.0     346
32.0     869
34.0    1610
36.0    2777
37.0    4012
39.0    5263
40.0    6448
42.0    7035
43.0    7199
44.0    6884
45.0    6350
46.0    5737
47.0    4776
48.0    3920
49.0    3112
51.0    2467
52.0    2020
53.0    1587
54.0    1275
55.0     957
56.0     768
58.0     610
59.0     507
60.0     377
62.0     306
64.0     203
66.0     160
68.0      94
71.0      50
75.0      37
82.0      11
93.0       3
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 77956
__________________
(77956,)
None

In [83]:
"""PERFECT!"""
print(data_2001['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2001['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_LENGUAJE']))

Float64Index([ 0.0, 13.0, 20.0, 25.0, 28.0, 31.0, 33.0, 35.0, 37.0, 39.0, 41.0,
              42.0, 44.0, 45.0, 46.0, 48.0, 49.0, 50.0, 51.0, 53.0, 54.0, 56.0,
              57.0, 58.0, 60.0, 61.0, 63.0, 65.0, 66.0, 69.0, 71.0],
             dtype='float64')
0.0        6
13.0       3
20.0      16
25.0      71
28.0     222
31.0     509
33.0    1063
35.0    1969
37.0    3108
39.0    4519
41.0    5847
42.0    6981
44.0    7523
45.0    7506
46.0    7261
48.0    6451
49.0    5723
50.0    4809
51.0    3908
53.0    3058
54.0    2417
56.0    1723
57.0    1275
58.0     877
60.0     523
61.0     305
63.0     166
65.0      73
66.0      26
69.0      15
71.0       3
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 77956
__________________
(77956,)
None

In [84]:
"""PERFECT!"""
print(data_2001['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2001['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_GEOGRAFIA']))

Float64Index([  6.0,  14.0,  19.0,  22.0,  25.0,  28.0,  30.0,  32.0,  34.0,
               35.0,  37.0,  38.0,  40.0,  41.0,  43.0,  44.0,  46.0,  47.0,
               48.0,  50.0,  51.0,  53.0,  54.0,  56.0,  57.0,  59.0,  61.0,
               63.0,  65.0,  67.0,  70.0,  74.0,  79.0,  86.0, 100.0],
             dtype='float64')
6.0         6
14.0       12
19.0       35
22.0      100
25.0      250
28.0      587
30.0      956
32.0     1425
34.0     2061
35.0     2665
37.0     3343
38.0     3881
40.0     4308
41.0     4714
43.0     5075
44.0     5209
46.0     5237
47.0     5288
48.0     5163
50.0     4763
51.0     4549
53.0     4212
54.0     3631
56.0     3024
57.0     2367
59.0     1870
61.0     1295
63.0      880
65.0      507
67.0      301
70.0      140
74.0       68
79.0       31
86.0        1
100.0       1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 6
__________________
Elementos diferentes de null/NaN: 77955
__________________
(77955,)
None

Extracolumns

In [85]:
"""PERFECT!"""
print(data_2001['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2001['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2001['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    36805
44    33235
45     7921
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [86]:
"""PERFECT!"""
print(data_2001['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2001['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_INTERDISCIPLINAR']))

Float64Index([ 0.0, 24.0, 31.0, 33.0, 36.0, 40.0, 44.0, 47.0, 49.0, 50.0, 51.0,
              52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0,
              63.0, 64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 73.0, 77.0,
              79.0, 81.0, 86.0, 91.0],
             dtype='float64')
0.0      262
24.0    1199
31.0    3066
33.0     279
36.0    5129
40.0    6384
44.0    6848
47.0    4766
49.0       5
50.0    3031
51.0    1298
52.0    1739
53.0      11
54.0      28
55.0    1102
56.0    2043
57.0     918
58.0    2108
59.0    5766
60.0    6041
61.0    9796
62.0    6698
63.0    4497
64.0    1489
65.0    1672
66.0     215
67.0      45
68.0       4
69.0     684
70.0       1
71.0      24
73.0     371
77.0     186
79.0       3
81.0      75
86.0      17
91.0       4
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 157
__________________
Elementos diferentes de null/NaN: 77804
__________________
(77804,)
None

In [87]:
"""PERFECT!"""
print(data_2001['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2001['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2001['COD_IDIOMA']))

Int64Index([51, 52, 53], dtype='int64')
51    77279
52      563
53      119
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 77961
__________________
(77961,)
None

In [88]:
"""PERFECT!"""
print(data_2001['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2001['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2001['PUNT_IDIOMA']))

Float64Index([ 0.0, 14.0, 21.0, 24.0, 25.0, 27.0, 28.0, 29.0, 31.0, 33.0, 35.0,
              36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0, 46.0,
              47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0, 57.0,
              58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0, 68.0,
              69.0, 71.0, 72.0, 74.0, 75.0, 77.0, 79.0, 80.0, 84.0, 86.0, 87.0,
              98.0, 99.0],
             dtype='float64')
0.0       15
14.0      47
21.0     210
24.0       1
25.0     650
27.0       2
28.0       6
29.0    1598
31.0    3323
33.0    5438
35.0    7640
36.0       7
37.0    9041
38.0       4
39.0    9603
40.0    9008
41.0       2
42.0    7489
43.0    5708
44.0    4057
45.0      20
46.0    2869
47.0    1961
48.0    1329
49.0     959
50.0     718
51.0       7
52.0     535
53.0     446
54.0     393
55.0     388
56.0       1
57.0     338
58.0     333
59.0     284
60.0       5
61.0     315
62.0     294
63.0      17
64.0     355
65.0      17
66.0     396
67.0      17
68.0     449
69.0      34
71.0     452
72.0      35
74.0     431
75.0      24
77.0       6
79.0     352
80.0      32
84.0       1
86.0     186
87.0      11
98.0      58
99.0       2
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 42
__________________
Elementos diferentes de null/NaN: 77919
__________________
(77919,)
None

Columns to delete:

In [89]:
data_2001 = data_2001.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis=1)

In [90]:
data_2001.shape

(77961, 53)

### Treatment of NaN Values

In [91]:
def Do_resamples(df, col, typ):
    p = get_proportions(df, col)
    df, r = resample_NaN_proportion(df, col, p, typ)
    while(r != 0):
        df, r = resample_NaN_proportion(df, col, p, typ)

In [92]:
missing_data(data_2001)

Elementos null/NaN COLE_COD_ICFES                       0
IND_ANNO_TERMINO_BACHILLERATO      487
COLE_JORNADA                         0
COLE_VALOR_PENSION                4056
ESTU_GENERO                          0
ESTU_NACIMIENTO_DIA                161
ESTU_NACIMIENTO_MES                161
ESTU_NACIMIENTO_ANNO               322
ESTU_DEPTO_PRESENTACION              0
ESTU_MCPIO_PRESENTACION              0
ESTU_LIMITA_INVIDENTE            77957
ESTU_LIMITA_SORDONOINTERPRETE    77946
ESTU_LIMITA_MOTRIZ               77947
PUNT_BIOLOGIA                       15
PUNT_MATEMATICAS                    19
PUNT_FILOSOFIA                      76
PUNT_FISICA                          2
PUNT_HISTORIA                        2
PUNT_QUIMICA                         5
PUNT_LENGUAJE                        5
PUNT_GEOGRAFIA                       6
COD_INTERDISCIPLINAR                 0
PUNT_INTERDISCIPLINAR              157
COD_IDIOMA                           0
PUNT_IDIOMA                         42
ESTU_IES_COD_DESEADA              7966
ESTU_RAZONINSTITUTO               7407
ESTU_CARRDESEADA_COD              5273
ESTU_CARRDESEADA_RAZON            4820
FAMI_PERSONAS_HOGAR                875
FAMI_VIVIENDA_PROPIA              2357
FAMI_DEUDA_VIVIENDA              30401
FAMI_APORTANTES                   1601
FAMI_INGRESO_FMILIAR_MENSUAL      1963
FAMI_LEE_ESCRIBE_PADRE            7926
FAMI_LEE_ESCRIBE_MADRE            2930
FAMI_EDUCA_PADRE                 10179
FAMI_EDUCA_MADRE                  6482
FAMI_OCUPA_PADRE                 12368
FAMI_OCUPA_MADRE                  6887
FAMI_NUM_HERMANOS                 5860
FAMI_NUM_HERMANOS_EDUSUPERIOR     8887
FAMI_POSICION_HERMANOS            4759
FAMI_SOST_PERSONAL                3087
ESTU_TRABAJA                      3087
ESTU_ACT_PROX_ANNO                 658
COLE_CALENDARIO                      0
COLE_BILINGUE                    75624
COLE_CARACTER                        0
COLE_DEPTO_UBICACION                 0
COLE_MCPIO_UBICACION                 0
ESTU_RESIDE_DPTO                     0
ESTU_RESIDE_MPIO                     0
dtype: int64
__________________
Elementos diferentes de null/NaN: COLE_COD_ICFES                   0
IND_ANNO_TERMINO_BACHILLERATO    0
COLE_JORNADA                     0
COLE_VALOR_PENSION               0
ESTU_GENERO                      0
ESTU_NACIMIENTO_DIA              0
ESTU_NACIMIENTO_MES              0
ESTU_NACIMIENTO_ANNO             0
ESTU_DEPTO_PRESENTACION          0
ESTU_MCPIO_PRESENTACION          0
ESTU_LIMITA_INVIDENTE            0
ESTU_LIMITA_SORDONOINTERPRETE    0
ESTU_LIMITA_MOTRIZ               0
PUNT_BIOLOGIA                    0
PUNT_MATEMATICAS                 0
PUNT_FILOSOFIA                   0
PUNT_FISICA                      0
PUNT_HISTORIA                    0
PUNT_QUIMICA                     0
PUNT_LENGUAJE                    0
PUNT_GEOGRAFIA                   0
COD_INTERDISCIPLINAR             0
PUNT_INTERDISCIPLINAR            0
COD_IDIOMA                       0
PUNT_IDIOMA                      0
ESTU_IES_COD_DESEADA             0
ESTU_RAZONINSTITUTO              0
ESTU_CARRDESEADA_COD             0
ESTU_CARRDESEADA_RAZON           0
FAMI_PERSONAS_HOGAR              0
FAMI_VIVIENDA_PROPIA             0
FAMI_DEUDA_VIVIENDA              0
FAMI_APORTANTES                  0
FAMI_INGRESO_FMILIAR_MENSUAL     0
FAMI_LEE_ESCRIBE_PADRE           0
FAMI_LEE_ESCRIBE_MADRE           0
FAMI_EDUCA_PADRE                 0
FAMI_EDUCA_MADRE                 0
FAMI_OCUPA_PADRE                 0
FAMI_OCUPA_MADRE                 0
FAMI_NUM_HERMANOS                0
FAMI_NUM_HERMANOS_EDUSUPERIOR    0
FAMI_POSICION_HERMANOS           0
FAMI_SOST_PERSONAL               0
ESTU_TRABAJA                     0
ESTU_ACT_PROX_ANNO               0
COLE_CALENDARIO                  0
COLE_BILINGUE                    0
COLE_CARACTER                    0
COLE_DEPTO_UBICACION             0
COLE_MCPIO_UBICACION             0
ESTU_RESIDE_DPTO                 0
ESTU_RESIDE_MPIO                 0
dtype: int64
__________________
(0, 53)

In [93]:
Do_resamples(data_2001, 'IND_ANNO_TERMINO_BACHILLERATO', str)

cant null antes: 487
cant null despues: 0

In [94]:
Do_resamples(data_2001, 'COLE_VALOR_PENSION', str)

cant null antes: 4056
cant null despues: 0

In [95]:
dias = data_2001[data_2001['ESTU_NACIMIENTO_DIA'].isnull()].index
data_2001 = data_2001.drop(dias)
anio = data_2001[data_2001['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2001 = data_2001.drop(anio)

In [96]:
data_2001['ESTU_LIMITA_INVIDENTE'] = data_2001['ESTU_LIMITA_INVIDENTE'].replace(np.nan, 'NI')

In [97]:
data_2001['ESTU_LIMITA_SORDONOINTERPRETE'] = data_2001['ESTU_LIMITA_SORDONOINTERPRETE'].replace(np.nan, 'NS')

In [98]:
data_2001['ESTU_LIMITA_MOTRIZ'] = data_2001['ESTU_LIMITA_MOTRIZ'].replace(np.nan, 'NL')

In [99]:
Do_resamples(data_2001, 'ESTU_IES_COD_DESEADA', str)

cant null antes: 7733
cant null despues: 24
cant null antes: 24
cant null despues: 0

In [100]:
Do_resamples(data_2001, 'ESTU_RAZONINSTITUTO', str)

cant null antes: 7201
cant null despues: 0

In [101]:
Do_resamples(data_2001, 'ESTU_CARRDESEADA_COD', str)

cant null antes: 5057
cant null despues: 155
cant null antes: 155
cant null despues: 0

In [102]:
Do_resamples(data_2001, 'ESTU_CARRDESEADA_RAZON', str)

cant null antes: 4631
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [103]:
Do_resamples(data_2001, 'FAMI_PERSONAS_HOGAR', str)

cant null antes: 696
cant null despues: 0

In [104]:
Do_resamples(data_2001, 'FAMI_VIVIENDA_PROPIA', str)

cant null antes: 2180
cant null despues: 0

In [105]:
Do_resamples(data_2001, 'FAMI_DEUDA_VIVIENDA', str)

cant null antes: 30162
cant null despues: 0

In [106]:
Do_resamples(data_2001, 'FAMI_APORTANTES', str)

cant null antes: 1422
cant null despues: 0

In [107]:
Do_resamples(data_2001, 'FAMI_INGRESO_FMILIAR_MENSUAL', str)

cant null antes: 1783
cant null despues: 0

In [108]:
Do_resamples(data_2001, 'FAMI_LEE_ESCRIBE_PADRE', str)

cant null antes: 7741
cant null despues: 0

In [109]:
Do_resamples(data_2001, 'FAMI_LEE_ESCRIBE_MADRE', str)

cant null antes: 2749
cant null despues: 0

In [110]:
Do_resamples(data_2001, 'FAMI_EDUCA_PADRE', str)

cant null antes: 9984
cant null despues: 0

In [111]:
Do_resamples(data_2001, 'FAMI_EDUCA_MADRE', str)

cant null antes: 6289
cant null despues: 0

In [112]:
Do_resamples(data_2001, 'FAMI_OCUPA_PADRE', str)

cant null antes: 12166
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [113]:
Do_resamples(data_2001, 'FAMI_OCUPA_MADRE', str)

cant null antes: 6697
cant null despues: 0

In [114]:
Do_resamples(data_2001, 'FAMI_NUM_HERMANOS', str)

cant null antes: 5664
cant null despues: 0

In [115]:
Do_resamples(data_2001, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', str)

cant null antes: 8687
cant null despues: 0

In [116]:
Do_resamples(data_2001, 'FAMI_POSICION_HERMANOS', str)

cant null antes: 4566
cant null despues: 0

In [117]:
Do_resamples(data_2001, 'FAMI_SOST_PERSONAL', str)

cant null antes: 2905
cant null despues: 0

In [118]:
Do_resamples(data_2001, 'ESTU_TRABAJA', str)

cant null antes: 2907
cant null despues: 0

In [119]:
Do_resamples(data_2001, 'ESTU_ACT_PROX_ANNO', str)

cant null antes: 487
cant null despues: 0

In [120]:
Do_resamples(data_2001, 'COLE_BILINGUE', float)

cant null antes: 75305
cant null despues: 0

In [121]:
missing_data(data_2001)

Elementos null/NaN COLE_COD_ICFES                     0
IND_ANNO_TERMINO_BACHILLERATO      0
COLE_JORNADA                       0
COLE_VALOR_PENSION                 0
ESTU_GENERO                        0
ESTU_NACIMIENTO_DIA                0
ESTU_NACIMIENTO_MES                0
ESTU_NACIMIENTO_ANNO               0
ESTU_DEPTO_PRESENTACION            0
ESTU_MCPIO_PRESENTACION            0
ESTU_LIMITA_INVIDENTE              0
ESTU_LIMITA_SORDONOINTERPRETE      0
ESTU_LIMITA_MOTRIZ                 0
PUNT_BIOLOGIA                     15
PUNT_MATEMATICAS                  19
PUNT_FILOSOFIA                    76
PUNT_FISICA                        2
PUNT_HISTORIA                      2
PUNT_QUIMICA                       5
PUNT_LENGUAJE                      5
PUNT_GEOGRAFIA                     6
COD_INTERDISCIPLINAR               0
PUNT_INTERDISCIPLINAR            156
COD_IDIOMA                         0
PUNT_IDIOMA                       42
ESTU_IES_COD_DESEADA               0
ESTU_RAZONINSTITUTO                0
ESTU_CARRDESEADA_COD               0
ESTU_CARRDESEADA_RAZON             0
FAMI_PERSONAS_HOGAR                0
FAMI_VIVIENDA_PROPIA               0
FAMI_DEUDA_VIVIENDA                0
FAMI_APORTANTES                    0
FAMI_INGRESO_FMILIAR_MENSUAL       0
FAMI_LEE_ESCRIBE_PADRE             0
FAMI_LEE_ESCRIBE_MADRE             0
FAMI_EDUCA_PADRE                   0
FAMI_EDUCA_MADRE                   0
FAMI_OCUPA_PADRE                   0
FAMI_OCUPA_MADRE                   0
FAMI_NUM_HERMANOS                  0
FAMI_NUM_HERMANOS_EDUSUPERIOR      0
FAMI_POSICION_HERMANOS             0
FAMI_SOST_PERSONAL                 0
ESTU_TRABAJA                       0
ESTU_ACT_PROX_ANNO                 0
COLE_CALENDARIO                    0
COLE_BILINGUE                      0
COLE_CARACTER                      0
COLE_DEPTO_UBICACION               0
COLE_MCPIO_UBICACION               0
ESTU_RESIDE_DPTO                   0
ESTU_RESIDE_MPIO                   0
dtype: int64
__________________
Elementos diferentes de null/NaN: COLE_COD_ICFES                   77357
IND_ANNO_TERMINO_BACHILLERATO    77357
COLE_JORNADA                     77357
COLE_VALOR_PENSION               77357
ESTU_GENERO                      77357
ESTU_NACIMIENTO_DIA              77357
ESTU_NACIMIENTO_MES              77357
ESTU_NACIMIENTO_ANNO             77357
ESTU_DEPTO_PRESENTACION          77357
ESTU_MCPIO_PRESENTACION          77357
ESTU_LIMITA_INVIDENTE            77357
ESTU_LIMITA_SORDONOINTERPRETE    77357
ESTU_LIMITA_MOTRIZ               77357
PUNT_BIOLOGIA                    77357
PUNT_MATEMATICAS                 77357
PUNT_FILOSOFIA                   77357
PUNT_FISICA                      77357
PUNT_HISTORIA                    77357
PUNT_QUIMICA                     77357
PUNT_LENGUAJE                    77357
PUNT_GEOGRAFIA                   77357
COD_INTERDISCIPLINAR             77357
PUNT_INTERDISCIPLINAR            77357
COD_IDIOMA                       77357
PUNT_IDIOMA                      77357
ESTU_IES_COD_DESEADA             77357
ESTU_RAZONINSTITUTO              77357
ESTU_CARRDESEADA_COD             77357
ESTU_CARRDESEADA_RAZON           77357
FAMI_PERSONAS_HOGAR              77357
FAMI_VIVIENDA_PROPIA             77357
FAMI_DEUDA_VIVIENDA              77357
FAMI_APORTANTES                  77357
FAMI_INGRESO_FMILIAR_MENSUAL     77357
FAMI_LEE_ESCRIBE_PADRE           77357
FAMI_LEE_ESCRIBE_MADRE           77357
FAMI_EDUCA_PADRE                 77357
FAMI_EDUCA_MADRE                 77357
FAMI_OCUPA_PADRE                 77357
FAMI_OCUPA_MADRE                 77357
FAMI_NUM_HERMANOS                77357
FAMI_NUM_HERMANOS_EDUSUPERIOR    77357
FAMI_POSICION_HERMANOS           77357
FAMI_SOST_PERSONAL               77357
ESTU_TRABAJA                     77357
ESTU_ACT_PROX_ANNO               77357
COLE_CALENDARIO                  77357
COLE_BILINGUE                    77357
COLE_CARACTER                    77357
COLE_DEPTO_UBICACION             77357
COLE_MCPIO_UBICACION             77357
ESTU_RESIDE_DPTO                 77357
ESTU_RESIDE_MPIO                 77357
dtype: int64
__________________
(77357, 53)

<span style='color: green'>PUNTAJES!</span>

In [123]:
data_2001['PUNT_BIOLOGIA'] = data_2001['PUNT_BIOLOGIA'].fillna(int(np.mean(data_2001['PUNT_BIOLOGIA'])))

In [126]:
data_2001['PUNT_MATEMATICAS'] = data_2001['PUNT_MATEMATICAS'].fillna(int(np.mean(data_2001['PUNT_MATEMATICAS'])))

In [129]:
data_2001['PUNT_FILOSOFIA'] = data_2001['PUNT_FILOSOFIA'].fillna(int(np.mean(data_2001['PUNT_FILOSOFIA'])))

In [130]:
data_2001['PUNT_FISICA'] = data_2001['PUNT_FISICA'].fillna(int(np.mean(data_2001['PUNT_FISICA'])))

In [131]:
data_2001['PUNT_HISTORIA'] = data_2001['PUNT_HISTORIA'].fillna(int(np.mean(data_2001['PUNT_HISTORIA'])))

In [132]:
data_2001['PUNT_QUIMICA'] = data_2001['PUNT_QUIMICA'].fillna(int(np.mean(data_2001['PUNT_QUIMICA'])))

In [133]:
data_2001['PUNT_LENGUAJE'] = data_2001['PUNT_LENGUAJE'].fillna(int(np.mean(data_2001['PUNT_LENGUAJE'])))

In [134]:
data_2001['PUNT_GEOGRAFIA'] = data_2001['PUNT_GEOGRAFIA'].fillna(int(np.mean(data_2001['PUNT_GEOGRAFIA'])))

In [136]:
data_2001['PUNT_INTERDISCIPLINAR'] = data_2001['PUNT_INTERDISCIPLINAR'].fillna(int(np.mean(data_2001['PUNT_INTERDISCIPLINAR'])))

In [138]:
data_2001['PUNT_IDIOMA'] = data_2001['PUNT_IDIOMA'].fillna(int(np.mean(data_2001['PUNT_IDIOMA'])))

_____

****

## Here the next file (2001_2)

In [140]:
data_2001_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20012-RGSTRO-CLFCCN-V1-0.txt', delimiter='|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,9,12,14,18,21,29,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [141]:
data_2001_2.shape

(320895, 57)

In [142]:
data_2001_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200120141962,SB11200120011568,SB11200120255305
COLE_COD_ICFES,84012,43695,49072
COLE_NOMBRE_SEDE,INSTITUTO DE EDUCACION FORMAL COMPUESTUDIO,INSTITUCION EDUCATIVA MAESTRO PEDRO NEL GOMEZ,LICEO FELIX DE BEDOUT MORENO
IND_ANNO_TERMINO_BACHILLERATO,2001,2001,2001
COLE_JORNADA,N,M,T
COLE_VALOR_PENSION,NaN,NaN,NaN
ESTU_GENERO,M,M,M
ESTU_NACIMIENTO_DIA,26,9,13
ESTU_NACIMIENTO_MES,3,2,3
ESTU_NACIMIENTO_ANNO,1979,1985,1982
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_MCPIO_PRESENTACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,46,42,40
PUNT_MATEMATICAS,35,41,41
PUNT_FILOSOFIA,43,40,43
PUNT_FISICA,52,46,48
PUNT_HISTORIA,40,43,37
PUNT_QUIMICA,47,43,40
PUNT_LENGUAJE,48,50,41
PUNT_GEOGRAFIA,49,32,30
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,62,64,60
COD_IDIOMA,51,51,51
PUNT_IDIOMA,40,43,48
ESTU_IES_COD_DESEADA,3204,1201,NaN
ESTU_RAZONINSTITUTO,3,5,3
ESTU_CARRDESEADA_COD,25201,44111,14118
ESTU_CARRDESEADA_RAZON,2,5,3
FAMI_PERSONAS_HOGAR,9,9,6
FAMI_VIVIENDA_PROPIA,NaN,NaN,NaN
FAMI_DEUDA_VIVIENDA,NaN,NaN,NaN
FAMI_APORTANTES,2,3,2
FAMI_INGRESO_FMILIAR_MENSUAL,1,3,1
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,NaN,S,S
FAMI_EDUCA_PADRE,3,NaN,3
FAMI_EDUCA_MADRE,3,NaN,3
FAMI_OCUPA_PADRE,NaN,NaN,NaN
FAMI_OCUPA_MADRE,NaN,NaN,NaN
FAMI_NUM_HERMANOS,6,2,4
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,0,1
FAMI_POSICION_HERMANOS,1,2,3
FAMI_SOST_PERSONAL,P,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,3,2
COLE_CALENDARIO,F,A,A
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO Y TECNICO,ACADEMICO Y TECNICO
COLE_DEPTO_UBICACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
COLE_MCPIO_UBICACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_RESIDE_MCPIO,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_TIPO_DOCUMENTO,C,T,C

In [143]:
data_2001_2 = data_2001_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [144]:
"""PERFECT!"""
print(data_2001_2['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2001_2['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2001_2['COLE_COD_ICFES']))

Int64Index([   18,    59,    75,    83,    91,   117,   125,   141,   158,
              174,
            ...
            99556, 99564, 99572, 99580, 99598, 99606, 99697, 99739, 99846,
            99861],
           dtype='int64', length=6641)
18         32
59       1068
75         68
83         35
91        110
117        14
125        71
141       117
158        42
174        92
190        86
208        82
216        42
232        32
240       149
257        49
265       544
273        77
281        74
315       189
349        27
356        39
364        66
372        58
380       222
398        35
406        62
422        31
430        67
448        26
         ...
99325      17
99333      31
99341      18
99358      11
99366      10
99374      25
99382       5
99390      31
99408      64
99416      16
99440      30
99465       7
99473      47
99481      43
99499      23
99507      29
99515       8
99523      57
99531      18
99549      25
99556      10
99564       9
99572       7
99580      11
99598      13
99606      17
99697      17
99739      27
99846      11
99861      28
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 320895
__________________
(320895,)
None

In [145]:
"""Column type float64, with some np.nan values, PERFECT!"""
print(data_2001_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2001_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2001_2['IND_ANNO_TERMINO_BACHILLERATO']))

Float64Index([1970.0, 1990.0, 1992.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
              2002.0],
             dtype='float64')
1970.0         1
1990.0         1
1992.0         1
1997.0         1
1998.0         2
1999.0         7
2000.0       955
2001.0    319661
2002.0        94
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 172
__________________
Elementos diferentes de null/NaN: 320723
__________________
(320723,)
None

In [146]:
"""PERFECT!"""
print(data_2001_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2001_2['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2001_2['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C     78274
M    139191
N     32410
S       520
T     70500
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 320895
__________________
(320895,)
None

In [147]:
"""This column has mixed types, '*' and '@' values, and some np.nan values too"""
print(data_2001_2['COLE_VALOR_PENSION'].value_counts().index)
print(data_2001_2['COLE_VALOR_PENSION'].value_counts())
print(missing_data(data_2001_2['COLE_VALOR_PENSION']))

Index(['1', '8', 1.0, '2', 8.0, '3', '4', '5', '6', 2.0, 3.0, 4.0, 5.0, 6.0,
       '7', 7.0, '*', '@'],
      dtype='object')
1      74327
8      53459
1.0    24252
2      16358
8.0    14299
3      10441
4       8496
5       7270
6       5293
2.0     4261
3.0     3325
4.0     3156
5.0     2143
6.0     2033
7       1349
7.0      686
*         29
@          1
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 89717
__________________
Elementos diferentes de null/NaN: 231178
__________________
(231178,)
None

In [148]:
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace(1.0, '1')
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace(2.0, '2')
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace(3.0, '3')
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace(4.0, '4')
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace(5.0, '5')
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace(6.0, '6')
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace(7.0, '7')
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace(8.0, '8')
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace('@', np.nan)
data_2001_2['COLE_VALOR_PENSION'] = data_2001_2['COLE_VALOR_PENSION'].replace('*', np.nan)

In [149]:
"""Has one np.nan"""
print(data_2001_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2001_2['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    174673
M    146221
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 320894
__________________
(320894,)
None

In [150]:
"""PERFECT!"""
print(data_2001_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2001_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     11032
2.0     10759
3.0     10604
4.0     10512
5.0     10932
6.0     10586
7.0     10454
8.0     10323
9.0     10459
10.0    10857
11.0    10262
12.0    10799
13.0    10316
14.0    10321
15.0    10927
16.0    10633
17.0    10749
18.0    10353
19.0    10201
20.0    10850
21.0    10190
22.0    10506
23.0    10683
24.0    10605
25.0    10487
26.0    10238
27.0    10360
28.0    10612
29.0     9705
30.0     9563
31.0     5890
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 127
__________________
Elementos diferentes de null/NaN: 320768
__________________
(320768,)
None

In [151]:
"""PERFECT!"""
print(data_2001_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2001_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     26865
2.0     24182
3.0     26563
4.0     25567
5.0     26450
6.0     25348
7.0     26030
8.0     27054
9.0     28735
10.0    28981
11.0    27441
12.0    27552
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 127
__________________
Elementos diferentes de null/NaN: 320768
__________________
(320768,)
None

In [152]:
print(data_2001_2['ESTU_NACIMIENTO_ANNO'].value_counts().index)
print(data_2001_2['ESTU_NACIMIENTO_ANNO'].value_counts())
print(missing_data(data_2001_2['ESTU_NACIMIENTO_ANNO']))

Index([1984.0, 1985.0, 1983.0, 1982.0, '1984', 1981.0, '1985', '1983', 1980.0,
       1986.0,
       ...
       '1989',   2981, '1932', '199*', 2982.0, 2983.0, '1993', '1928', '1948',
       1943.0],
      dtype='object', length=132)
1984.0    93529
1985.0    58828
1983.0    54066
1982.0    29596
1984      14168
1981.0    13988
1985       8379
1983       8071
1980.0     6852
1986.0     4951
1982       4268
1979.0     3858
1978.0     2242
1981       2086
1977.0     1417
1980       1117
1976.0     1053
1975.0      860
1974.0      734
1973.0      639
1986        638
1979        601
1972.0      562
1971.0      503
1969.0      453
1970.0      451
1968.0      440
1978        413
1967.0      362
1966.0      362
          ...
1991.0        3
2001          2
1995          2
198*          2
1988          2
1936          2
1998          1
1997.0        1
1995.0        1
1932.0        1
1992.0        1
1933.0        1
2965          1
1942          1
1945          1
2084.0        1
1939          1
2977.0        1
196*          1
2978          1
1989          1
2981          1
1932          1
199*          1
2982.0        1
2983.0        1
1993          1
1928          1
1948          1
1943.0        1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 127
__________________
Elementos diferentes de null/NaN: 320768
__________________
(320768,)
None

In [153]:
for i in data_2001_2['ESTU_NACIMIENTO_ANNO'].value_counts().index:
    if type(i) == float:
        data_2001_2['ESTU_NACIMIENTO_ANNO'] = data_2001_2['ESTU_NACIMIENTO_ANNO'].replace(i, str(i)[:-2])
    
    
for i in data_2001_2['ESTU_NACIMIENTO_ANNO'].value_counts().index:
    if '*' in str(i):
        data_2001_2['ESTU_NACIMIENTO_ANNO'] = data_2001_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)
    elif ' ' in str(i):
        data_2001_2['ESTU_NACIMIENTO_ANNO'] = data_2001_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)
    elif len(str(i)) < 4:
        data_2001_2['ESTU_NACIMIENTO_ANNO'] = data_2001_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)
    elif int(i) > 1988:
        data_2001_2['ESTU_NACIMIENTO_ANNO'] = data_2001_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [154]:
"""PERFECT!"""
print(data_2001_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2001_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_DEPTO_PRESENTACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'QUINDaaIO', 'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA',
       'VALLE', 'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             451
ANTIOQUIA          46733
ARAUCA              1472
ATLANTICO          25513
BOGOTA             67876
BOLIVAR            14496
BOYACA             13988
CALDAS              9377
CAQUETA             2297
CASANARE            2184
CAUCA                970
CESAR               7569
CHOCO               2792
CORDOBA            11605
CUNDINAMARCA       20536
GUAINIA               89
GUAVIARE             299
HUILA               7680
LA GUAJIRA          4529
MAGDALENA           8671
META                5694
NARIÑO               271
NORTE SANTANDER    12087
PUTUMAYO            1341
QUINDIO             4916
QUINDaaIO              1
RISARALDA           7342
SAN ANDRES           632
SANTANDER          19327
SUCRE               6690
TOLIMA             11202
VALLE               2009
VAUPES               102
VICHADA              154
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 320895
__________________
(320895,)
None

In [155]:
"""PERFECT!"""
print(data_2001_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2001_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_MCPIO_PRESENTACION']))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLANUEVA', 'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=318)
ABEJORRAL                  106
ABREGO                      43
ACACIAS                    535
ACANDI                      53
ACHI                        35
AGUACHICA                 1075
AGUADAS                    222
AGUAZUL                    218
AGUSTIN CODAZZI            329
AIPE                        78
AMAGA                      554
AMALFI                     255
ANDES                      381
ANSERMA                    481
ANTIOQUIA                  500
APARTADO                  1049
ARACATACA                  196
ARAUCA                     660
ARAUQUITA                  115
ARBELAEZ                   127
ARBOLEDAS                   58
ARBOLETES                  386
ARIGUANI (EL DIFICIL)      303
ARJONA                     469
ARMENIA                   3432
ASTREA                      96
AYAPEL                     246
BAGADO                      61
BAHIA SOLANO (MUTIS)        76
BAJO BAUDO   (PIZARRO)      23
                          ...
TOLU                       199
TOLUVIEJO                   93
TULUA                      186
TUMACO                      77
TUNJA                     3432
TURBACO                    436
TURBO                      492
TURMEQUE                   181
TUTA                       105
UBATE                      825
UNGUIA                      45
URRAO                      216
VALLEDUPAR                4618
VELEZ                      352
VENADILLO                  214
VENTAQUEMADA                90
VIGIA DEL FUERTE            22
VILLA DE LEYVA             166
VILLA DEL ROSARIO          599
VILLAMARIA                  78
VILLANUEVA                 679
VILLAVICENCIO             3938
VILLETA                    428
VIOTA                      149
YARUMAL                    760
YOLOMBO                    214
YOPAL                     1074
ZAPATOCA                   120
ZARAGOZA                   145
ZIPAQUIRA                 1625
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 320895
__________________
(320895,)
None

In [156]:
"""Too much np.nan in a column of type object"""
print(data_2001_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2001_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    25
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 320870
__________________
Elementos diferentes de null/NaN: 25
__________________
(25,)
None

In [157]:
"""There is no data here, so this column will be deleted"""
print(data_2001_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2001_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_LIMITA_SORDOINTERPRETE']))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 320895
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [158]:
data_2001_2 = data_2001_2.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis=1)

In [159]:
"""Too much np.nan values in a column of type object"""
print(data_2001_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2001_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    43
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 320852
__________________
Elementos diferentes de null/NaN: 43
__________________
(43,)
None

In [160]:
"""Too much np.nan values in a column of type object"""
print(data_2001_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2001_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    68
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 320827
__________________
Elementos diferentes de null/NaN: 68
__________________
(68,)
None

In [ ]:
"""There is too many incoherences here."""
print(data_2001_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2001_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_IES_COD_DESEADA']))

Index(['*', '*  *', '*  0', '* *', '* **', '* 0', '* 01', '* 02', '* 04',
       '* 05',
       ...
       '@@0', '@@01', '@@0@', '@@12', '@@8', '@@9', '@@@', '@@@6', '@@@8',
       '@@@@'],
      dtype='object', length=1646)
*       91
*  *     3
*  0     1
* *     22
* **    18
* 0      1
* 01     1
* 02     1
* 04     1
* 05     3
* 06     2
* 08     1
* 09     1
* 10     2
* 13     1
* 14     1
* 20     4
* 21     1
* 23     1
* 24     1
* 28     1
* 29     1
* 3      2
* 30     1
* 50     1
* 83     1
* 89     1
**      54
****    27
**9      1
        ..
@105     1
@11      3
@13      1
@2       1
@20      1
@201     2
@3       1
@6       5
@6@      1
@708     1
@8       3
@813     1
@82      1
@83      1
@88      2
@8@9     1
@9       3
@98      1
@9@      2
@@      22
@@0      1
@@01     1
@@0@     1
@@12     1
@@8      3
@@9      3
@@@     17
@@@6     1
@@@8     1
@@@@    56
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 23146
__________________
Elementos diferentes de null/NaN: 297749
__________________
(297749,)
None

In [ ]:
for i in data_2001_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index:
    if '*' in i:
        data_2001_2['ESTU_IES_COD_DESEADA'] = data_2001_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif '@' in i:
        data_2001_2['ESTU_IES_COD_DESEADA'] = data_2001_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif ' ' in i:
        data_2001_2['ESTU_IES_COD_DESEADA'] = data_2001_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif int(i) == 0:
        data_2001_2['ESTU_IES_COD_DESEADA'] = data_2001_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)
    elif int(i) < 1000:
        data_2001_2['ESTU_IES_COD_DESEADA'] = data_2001_2['ESTU_IES_COD_DESEADA'].replace(i, np.nan)

In [ ]:
"""Mixed types and some '*', '@' and np.nan values"""
print(data_2001_2['ESTU_RAZONINSTITUTO'].value_counts().index)
print(data_2001_2['ESTU_RAZONINSTITUTO'].value_counts())
print(missing_data(data_2001_2['ESTU_RAZONINSTITUTO']))

In [ ]:
for i in data_2001_2['ESTU_RAZONINSTITUTO'].value_counts().index:
    if type(i) == float:
        data_2001_2['ESTU_RAZONINSTITUTO'] = data_2001_2['ESTU_RAZONINSTITUTO'].replace(i, str(i)[:-2])
    elif '*' in i:
        data_2001_2['ESTU_RAZONINSTITUTO'] = data_2001_2['ESTU_RAZONINSTITUTO'].replace(i, np.nan)
    elif '@' in i:
        data_2001_2['ESTU_RAZONINSTITUTO'] = data_2001_2['ESTU_RAZONINSTITUTO'].replace(i, np.nan)

In [ ]:
"""There are a lot of incoherences but the code of the careers are so diverse, so every number will exist 
in this column"""
print(data_2001_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2001_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_CARRDESEADA_COD']))

In [ ]:
for i in data_2001_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2001_2['ESTU_CARRDESEADA_COD'] = data_2001_2['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif ' ' in i:
        data_2001_2['ESTU_CARRDESEADA_COD'] = data_2001_2['ESTU_CARRDESEADA_COD'].replace(i, np.nan)
    elif '@' in i:
        data_2001_2['ESTU_CARRDESEADA_COD'] = data_2001_2['ESTU_CARRDESEADA_COD'].replace(i, np.nan)

data_2001_2['ESTU_CARRDESEADA_COD'] = data_2001_2['ESTU_CARRDESEADA_COD'].replace('0', np.nan)        
data_2001_2['ESTU_CARRDESEADA_COD'] = data_2001_2['ESTU_CARRDESEADA_COD'].replace('00', np.nan)        
data_2001_2['ESTU_CARRDESEADA_COD'] = data_2001_2['ESTU_CARRDESEADA_COD'].replace('0000', np.nan)
data_2001_2['ESTU_CARRDESEADA_COD'] = data_2001_2['ESTU_CARRDESEADA_COD'].replace('00000', np.nan)

In [ ]:
"""Just replace the '*', '@' and the np.nan values """
print(data_2001_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2001_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_CARRDESEADA_RAZON']))

In [ ]:
data_2001_2['ESTU_CARRDESEADA_RAZON'] = data_2001_2['ESTU_CARRDESEADA_RAZON'].replace('*', np.nan)
data_2001_2['ESTU_CARRDESEADA_RAZON'] = data_2001_2['ESTU_CARRDESEADA_RAZON'].replace('@', np.nan)

In [ ]:
"""Replace the '*', '@' and the np.nan values for strings 'NaN' and replace the '+' for '+9'"""
print(data_2001_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2001_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_PERSONAS_HOGAR']))

In [ ]:
data_2001_2['FAMI_PERSONAS_HOGAR'] = data_2001_2['FAMI_PERSONAS_HOGAR'].replace('+', '+9')
data_2001_2['FAMI_PERSONAS_HOGAR'] = data_2001_2['FAMI_PERSONAS_HOGAR'].replace('*', np.nan)
data_2001_2['FAMI_PERSONAS_HOGAR'] = data_2001_2['FAMI_PERSONAS_HOGAR'].replace('@', np.nan)

In [ ]:
"""Replace the '*' and the np.nan values for 'NaN'"""
print(data_2001_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2001_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_VIVIENDA_PROPIA']))

In [ ]:
data_2001_2['FAMI_VIVIENDA_PROPIA'] = data_2001_2['FAMI_VIVIENDA_PROPIA'].replace('*', np.nan)

In [ ]:
"""Replace the '*' and the np.nan values for 'NaN'"""
print(data_2001_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2001_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_DEUDA_VIVIENDA']))

In [ ]:
data_2001_2['FAMI_DEUDA_VIVIENDA'] = data_2001_2['FAMI_DEUDA_VIVIENDA'].replace('*', np.nan)

In [ ]:
"""Replace the '*' and the np.nan values for 'NaN'"""
print(data_2001_2['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2001_2['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_APORTANTES']))

In [ ]:
data_2001_2['FAMI_APORTANTES'] = data_2001_2['FAMI_APORTANTES'].replace('+', '+9')
data_2001_2['FAMI_APORTANTES'] = data_2001_2['FAMI_APORTANTES'].replace('@', np.nan)
data_2001_2['FAMI_APORTANTES'] = data_2001_2['FAMI_APORTANTES'].replace('*', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced"""
print(data_2001_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2001_2['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_INGRESO_FMILIAR_MENSUAL']))

In [ ]:
data_2001_2['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2001_2['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('*', np.nan)
data_2001_2['FAMI_INGRESO_FMILIAR_MENSUAL'] = data_2001_2['FAMI_INGRESO_FMILIAR_MENSUAL'].replace('@', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced"""
print(data_2001_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2001_2['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_LEE_ESCRIBE_PADRE']))

In [ ]:
data_2001_2['FAMI_LEE_ESCRIBE_PADRE'] = data_2001_2['FAMI_LEE_ESCRIBE_PADRE'].replace('*', np.nan)
data_2001_2['FAMI_LEE_ESCRIBE_PADRE'] = data_2001_2['FAMI_LEE_ESCRIBE_PADRE'].replace('@', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced"""
print(data_2001_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2001_2['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_LEE_ESCRIBE_MADRE']))

In [ ]:
data_2001_2['FAMI_LEE_ESCRIBE_MADRE'] = data_2001_2['FAMI_LEE_ESCRIBE_MADRE'].replace('*', np.nan)
data_2001_2['FAMI_LEE_ESCRIBE_MADRE'] = data_2001_2['FAMI_LEE_ESCRIBE_MADRE'].replace('@', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced"""
print(data_2001_2['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2001_2['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_EDUCA_PADRE']))

In [ ]:
data_2001_2['FAMI_EDUCA_PADRE'] = data_2001_2['FAMI_EDUCA_PADRE'].replace('*', np.nan)
data_2001_2['FAMI_EDUCA_PADRE'] = data_2001_2['FAMI_EDUCA_PADRE'].replace('@', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced"""
print(data_2001_2['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2001_2['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_EDUCA_MADRE']))

In [ ]:
data_2001_2['FAMI_EDUCA_MADRE'] = data_2001_2['FAMI_EDUCA_MADRE'].replace('*', np.nan)
data_2001_2['FAMI_EDUCA_MADRE'] = data_2001_2['FAMI_EDUCA_MADRE'].replace('@', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced"""
print(data_2001_2['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2001_2['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_OCUPA_PADRE']))

In [ ]:
data_2001_2['FAMI_OCUPA_PADRE'] = data_2001_2['FAMI_OCUPA_PADRE'].replace('*', np.nan)
data_2001_2['FAMI_OCUPA_PADRE'] = data_2001_2['FAMI_OCUPA_PADRE'].replace('@', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced, and there are some strange values 'Se'."""
print(data_2001_2['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2001_2['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_OCUPA_MADRE']))

In [ ]:
data_2001_2['FAMI_OCUPA_MADRE'] = data_2001_2['FAMI_OCUPA_MADRE'].replace('*', np.nan)
data_2001_2['FAMI_OCUPA_MADRE'] = data_2001_2['FAMI_OCUPA_MADRE'].replace('@', np.nan)
data_2001_2['FAMI_OCUPA_MADRE'] = data_2001_2['FAMI_OCUPA_MADRE'].replace('Se', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced, and the '+' will be replaced for '+9'"""
print(data_2001_2['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2001_2['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_NUM_HERMANOS']))

In [ ]:
data_2001_2['FAMI_NUM_HERMANOS'] = data_2001_2['FAMI_NUM_HERMANOS'].replace('+', '+9')
data_2001_2['FAMI_NUM_HERMANOS'] = data_2001_2['FAMI_NUM_HERMANOS'].replace('@', np.nan)
data_2001_2['FAMI_NUM_HERMANOS'] = data_2001_2['FAMI_NUM_HERMANOS'].replace('*', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced, and the '+' will be replaced for '+9'"""
print(data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

In [ ]:
data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')
data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('@', np.nan)
data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2001_2['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('*', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced, and the '+' will be replaced for '+9'"""
print(data_2001_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2001_2['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_POSICION_HERMANOS']))

In [ ]:
data_2001_2['FAMI_POSICION_HERMANOS'] = data_2001_2['FAMI_POSICION_HERMANOS'].replace('+', '+9')
data_2001_2['FAMI_POSICION_HERMANOS'] = data_2001_2['FAMI_POSICION_HERMANOS'].replace('@', np.nan)
data_2001_2['FAMI_POSICION_HERMANOS'] = data_2001_2['FAMI_POSICION_HERMANOS'].replace('*', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced"""
print(data_2001_2['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2001_2['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2001_2['FAMI_SOST_PERSONAL']))

In [ ]:
data_2001_2['FAMI_SOST_PERSONAL'] = data_2001_2['FAMI_SOST_PERSONAL'].replace('*', np.nan)
data_2001_2['FAMI_SOST_PERSONAL'] = data_2001_2['FAMI_SOST_PERSONAL'].replace('@', np.nan)

In [ ]:
"""The '*', '@' and the np.nan values will be replaced"""
print(data_2001_2['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2001_2['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_TRABAJA']))

In [ ]:
data_2001_2['ESTU_TRABAJA'] = data_2001_2['ESTU_TRABAJA'].replace('*', np.nan)
data_2001_2['ESTU_TRABAJA'] = data_2001_2['ESTU_TRABAJA'].replace('@', np.nan)

In [ ]:
print(data_2001_2['ESTU_ACT_PROX_ANNO'].value_counts().index)
print(data_2001_2['ESTU_ACT_PROX_ANNO'].value_counts())
print(missing_data(data_2001_2['ESTU_ACT_PROX_ANNO']))

In [ ]:
for i in data_2001_2['ESTU_ACT_PROX_ANNO'].value_counts().index:
    if type(i) == float:
        data_2001_2['ESTU_ACT_PROX_ANNO'] = data_2001_2['ESTU_ACT_PROX_ANNO'].replace(i, str(i)[:-2])

data_2001_2['ESTU_ACT_PROX_ANNO'] = data_2001_2['ESTU_ACT_PROX_ANNO'].replace('*', np.nan)
data_2001_2['ESTU_ACT_PROX_ANNO'] = data_2001_2['ESTU_ACT_PROX_ANNO'].replace('@', np.nan)

In [ ]:
"""PERFECT!"""
print(data_2001_2['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2001_2['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2001_2['COLE_CALENDARIO']))

In [ ]:
"""PERFECT"""
print(data_2001_2['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2001_2['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2001_2['COLE_BILINGUE']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2001_2['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2001_2['COLE_CARACTER']))

In [ ]:
"""PERFECT"""
print(data_2001_2['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2001_2['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2001_2['COLE_DEPTO_UBICACION']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2001_2['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2001_2['COLE_MCPIO_UBICACION']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2001_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_RESIDE_DEPTO']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2001_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2001_2['ESTU_RESIDE_MCPIO']))

### TARGETS

In [ ]:
"""PERFECT!"""
print(data_2001_2['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2001_2['PUNT_BIOLOGIA'].value_counts().sort_index())
print(missing_data(data_2001_2['PUNT_BIOLOGIA']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2001_2['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2001_2['PUNT_MATEMATICAS']))

In [ ]:
"""Mixed types"""
print(data_2001_2['PUNT_FILOSOFIA'].value_counts().index)
print(data_2001_2['PUNT_FILOSOFIA'].value_counts())
print(missing_data(data_2001_2['PUNT_FILOSOFIA']))

In [ ]:
"""After this settings, the columns is PEREFCT!"""
data_2001_2['PUNT_FILOSOFIA'] = data_2001_2['PUNT_FILOSOFIA'].replace('38s', float(38))
for i in data_2001_2['PUNT_FILOSOFIA'].value_counts().index:
    if type(i) == str:
        data_2001_2['PUNT_FILOSOFIA'] = data_2001_2['PUNT_FILOSOFIA'].replace(i, float(i))

In [ ]:
"""PERFECT!"""
print(data_2001_2['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2001_2['PUNT_FISICA'].value_counts().sort_index())
print(missing_data(data_2001_2['PUNT_FISICA']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2001_2['PUNT_HISTORIA'].value_counts().sort_index())
print(missing_data(data_2001_2['PUNT_HISTORIA']))

In [ ]:
"""MIXED TYPES"""
print(data_2001_2['PUNT_QUIMICA'].value_counts().index)
print(data_2001_2['PUNT_QUIMICA'].value_counts())
print(missing_data(data_2001_2['PUNT_QUIMICA']))

In [ ]:
"""AFTER THIS, the columns is perfect"""
data_2001_2['PUNT_QUIMICA'] = data_2001_2['PUNT_QUIMICA'].replace('43a', float(43))
for i in data_2001_2['PUNT_QUIMICA'].value_counts().index:
    if type(i) == str:
        data_2001_2['PUNT_QUIMICA'] = data_2001_2['PUNT_QUIMICA'].replace(i, float(i))

In [ ]:
"""PERFECT!"""
print(data_2001_2['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2001_2['PUNT_LENGUAJE'].value_counts().sort_index())
print(missing_data(data_2001_2['PUNT_LENGUAJE']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2001_2['PUNT_GEOGRAFIA'].value_counts().sort_index())
print(missing_data(data_2001_2['PUNT_GEOGRAFIA']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2001_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2001_2['COD_INTERDISCIPLINAR']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2001_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2001_2['PUNT_INTERDISCIPLINAR']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2001_2['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2001_2['COD_IDIOMA']))

In [ ]:
"""PERFECT!"""
print(data_2001_2['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2001_2['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2001_2['PUNT_IDIOMA']))

## Now i transform the obtained DataFrames into a csv file.

In [ ]:
#data_2001.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2001_1.csv', sep = ';', index = False)
#data_2001_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2001_2.csv', sep = ';', index = False)