# Procesado de Datos

Año 2000

In [61]:
import pandas as pd
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [49]:
data_2000 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                        encoding="iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,12,14,15,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [50]:
data_2000.head(2)

,ESTU_CONSECUTIVO,COLE_COD_ICFES,COLE_NOMBRE_SEDE,IND_ANNO_TERMINO_BACHILLERATO,COLE_JORNADA,COLE_VALOR_PENSION,ESTU_GENERO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,...,ESTU_TRABAJA,ESTU_ACT_PROX_ANNO,COLE_CALENDARIO,COLE_BILINGUE,COLE_CARACTER,COLE_DEPTO_UBICACION,COLE_MCPIO_UBICACION,ESTU_TIPO_DOCUMENTO,ESTU_RESIDE_DEPTO,ESTU_RESIDE_MCPIO
0,SB11200010000203,83048,INSTITUTO STUDIUM,1999,C,3,F,19.0,3.0,1981.0,...,N,1,F,NaN,ACADEMICO,BOGOTA,BOGOTç D.C.,C,BOGOTA,BOGOTA D.C.
1,SB11200010000204,3327,COLEGIO HEBREO UNION,2000,C,8,F,28.0,4.0,1982.0,...,N,1,B,NaN,ACADEMICO,ATLANTICO,BARRANQUILLA,N,ATLANTICO,BARRANQUILLA

In [12]:
data_2000.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200010000203,SB11200010000204,SB11200010000205
COLE_COD_ICFES,83048,3327,19364
COLE_NOMBRE_SEDE,INSTITUTO STUDIUM,COLEGIO HEBREO UNION,COLEGIO ANGLO COLOMBIANO
IND_ANNO_TERMINO_BACHILLERATO,1999,2000,2000
COLE_JORNADA,0,0,0
COLE_VALOR_PENSION,3,8,7
ESTU_GENERO,0,0,1
ESTU_NACIMIENTO_DIA,19,28,30
ESTU_NACIMIENTO_MES,3,4,4
ESTU_NACIMIENTO_ANNO,1981,1982,1982
ESTU_DEPTO_PRESENTACION,BOGOTA,ATLANTICO,BOGOTA
ESTU_MCPIO_PRESENTACION,BOGOTA D.C.,BARRANQUILLA,BOGOTA D.C.
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,52,51,59
PUNT_MATEMATICAS,47,52,58
PUNT_FILOSOFIA,55,59,44
PUNT_FISICA,49,43,60
PUNT_HISTORIA,63,52,50
PUNT_QUIMICA,49,54,68
PUNT_LENGUAJE,56,53,50
PUNT_GEOGRAFIA,56,57,43
COD_INTERDISCIPLINAR,43,45,43
PUNT_INTERDISCIPLINAR,55,47,53
COD_IDIOMA,51,51,51
PUNT_IDIOMA,45,58,75
ESTU_IES_COD_DESEADA,NaN,9999,9999
ESTU_RAZONINSTITUTO,8,NaN,2
ESTU_CARRDESEADA_COD,1707,4701,99999
ESTU_CARRDESEADA_RAZON,2,3,2
FAMI_PERSONAS_HOGAR,2,@,5
FAMI_VIVIENDA_PROPIA,S,N,S
FAMI_DEUDA_VIVIENDA,N,NaN,S
FAMI_APORTANTES,1,2,2
FAMI_INGRESO_FMILIAR_MENSUAL,4,4,9
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,4,7,8
FAMI_EDUCA_MADRE,8,4,7
FAMI_OCUPA_PADRE,05,03,04
FAMI_OCUPA_MADRE,NaN,10,04
FAMI_NUM_HERMANOS,NaN,2,1
FAMI_NUM_HERMANOS_EDUSUPERIOR,2,2,1
FAMI_POSICION_HERMANOS,3,3,2
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,1,1,2
COLE_CALENDARIO,F,B,B
COLE_BILINGUE,NaN,NaN,1
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO
COLE_DEPTO_UBICACION,BOGOTA,ATLANTICO,BOGOTA
COLE_MCPIO_UBICACION,BOGOTç D.C.,BARRANQUILLA,BOGOTç D.C.
ESTU_TIPO_DOCUMENTO,C,N,T
ESTU_RESIDE_DEPTO,BOGOTA,ATLANTICO,BOGOTA
ESTU_RESIDE_MCPIO,BOGOTA D.C.,BARRANQUILLA,BOGOTA D.C.

In [51]:
data_2000['FAMI_PERSONAS_HOGAR'].value_counts().sort_index()

1      274
2     2744
3     8917
5    18814
6    11487
7     6493
8     3781
9     2208
@    19122
Name: FAMI_PERSONAS_HOGAR, dtype: int64

The simbol "@" will be changed for the number 4, because the average in Colombian's homes is near to 4.

In [ ]:
data_2000 = letters_to_num(data_2000, ["@"], ["4"], "FAMI_PERSONAS_HOGAR")

Then, the following columns will be reviewed

In [55]:
data_2000['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index()

@        4
N    20144
S    53182
Name: FAMI_VIVIENDA_PROPIA, dtype: int64

There are very few rows with the value "@", so the rows that has it will be deleted.

In [63]:
data_2000 = drop_lines(data_2000, "FAMI_VIVIENDA_PROPIA", "@")

In [65]:
data_2000['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index()

@        3
N    36147
S    11464
Name: FAMI_DEUDA_VIVIENDA, dtype: int64

In [66]:
data_2000 = drop_lines(data_2000, "FAMI_DEUDA_VIVIENDA", "@")

In [67]:
data_2000['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index()

@       35
N     2263
S    67423
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64

In [68]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_PADRE", "@")

In [69]:
data_2000['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index()

@       30
N     2847
S    71998
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64

In [70]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_MADRE", "@")

In [72]:
data_2000['FAMI_SOST_PERSONAL'].value_counts().sort_index()

@        3
N     6577
P    10337
T    57575
Name: FAMI_SOST_PERSONAL, dtype: int64

In [73]:
data_2000 = drop_lines(data_2000, "FAMI_SOST_PERSONAL", "@")

In [74]:
data_2000['ESTU_TRABAJA'].value_counts().sort_index()

@        2
N    63153
S    10608
Name: ESTU_TRABAJA, dtype: int64

In [75]:
data_2000 = drop_lines(data_2000, "ESTU_TRABAJA", "@")

In [26]:
data_2000['COLE_CALENDARIO'].value_counts().sort_index()

A     6708
B    49464
F    21454
Name: COLE_CALENDARIO, dtype: int64

In [27]:
data_2000['COLE_CARACTER'].value_counts().sort_index()

ACADEMICO              38234
ACADEMICO Y TECNICO    17844
NORMALISTA              1168
TECNICO                20380
Name: COLE_CARACTER, dtype: int64

In [ ]:
data_2000[''].value_counts().sort_index()