# Procesado de Datos

Año 2000

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

Charge the file with the data, into a DataFrame

In [ ]:
data_2000 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                        encoding="iso-8859-1")

In [ ]:
data_2000.head(3).T

In [ ]:
data_2000['FAMI_PERSONAS_HOGAR'].value_counts().sort_index()

The simbol "@" will be changed for the number 4, because the average in Colombian's homes is near to 4.

In [ ]:
data_2000 = letters_to_num(data_2000, ["@"], ["4"], "FAMI_PERSONAS_HOGAR")

Then, the following columns will be reviewed

In [ ]:
data_2000['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index()

There are very few rows with the value "@", so the rows that has it will be deleted.

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_VIVIENDA_PROPIA", "@")

In [ ]:
data_2000['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_DEUDA_VIVIENDA", "@")

In [ ]:
data_2000['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_PADRE", "@")

In [ ]:
data_2000['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_MADRE", "@")

In [ ]:
data_2000['FAMI_SOST_PERSONAL'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_SOST_PERSONAL", "@")

In [ ]:
data_2000['ESTU_TRABAJA'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "ESTU_TRABAJA", "@")

In [ ]:
data_2000['COLE_CALENDARIO'].value_counts().sort_index()

In [ ]:
data_2000['COLE_CARACTER'].value_counts().sort_index()

In [ ]:
remaining_c = data_2000.columns.difference(['FAMI_PERSONAS_HOGAR', 'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_LEE_ESCRIBE_PADRE',
                     'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'COLE_CALENDARIO',
                     'COLE_CARACTER'])

In [ ]:
remaining_c

Columnas:
- COD_IDIOMA: BIEN, int64
- COD_INTERDISCIPLINAR: Bien, int64
- COLE_BILINGUE: Bien, float64
- COLE_COD_ICFES: Bien, int64
- COLE_DEPTO_UBICACION: Bien, **OBJECT**
- COLE_JORNADA: Bien, **OBJECT**
- COLE_MCPIO_UBICACION: Bien, **OBJECT**
- COLE_NOMBRE_SEDE: Bien, **OBJECT**
- COLE_VALOR_PENSION: existen VALORES NaN, str **REVISAR**
- ESTU_ACT_PROX_ANNO: existen @ que se cambiaron por el valor 4 que falta, **OBJECT**
- ESTU_CARRDESEADA_RAZON: existen valores NaN, str **REVISAR**
- ESTU_DEPTO_PRESENTACION: Bien, **OBJECT**
- ESTU_GENERO: Bien, **OBJECT**
- ESTU_LIMITA_INVIDENTE: Bien, **OBJECT**, Muchos valores NaN
- ESTU_LIMITA_MOTRIZ: Bien, **OBJECT**, Muchos valores NaN
- ESTU_LIMITA_SORDONOINTERPRETE: Bien, **OBJECT**, Muchos valores NaN
- ESTU_MCPIO_PRESENTACION: Bien, **OBJECT**
- ESTU_NACIMIENTO_ANNO: Bien, Float64, Se eliminaron algunas filas porque no tenian logica (años 195, 196, 197, 198)
- ESTU_NACIMIENTO_DIA: Bien, Float64
- ESTU_NACIMIENTO_MES: Bien, Float64
- ESTU_RAZONINSTITUTO: Valores 'nan', ***REVISAR***
- ESTU_RESIDE_DEPTO: Bien, **OBJECT**
- ESTU_RESIDE_MCPIO: Bien, **OBJECT**
- ESTU_TIPO_DOCUMENTO: Bien, **OBJECT**
- FAMI_APORTANTES: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+9'
- FAMI_EDUCA_MADRE: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_EDUCA_PADRE: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_INGRESO_FMILIAR_MENSUAL: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_NUM_HERMANOS: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+10'
- FAMI_NUM_HERMANOS_EDUSUPERIOR: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el + por '+10'
- FAMI_OCUPA_MADRE: Bien, **OBJECT** se eliminan las filas que poseen '@'
- FAMI_OCUPA_PADRE: Bien, **OBJECT** se eliminan las filas que poseen '@'
- FAMI_POSICION_HERMANOS: Bien **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+10'
- PUNT_BIOLOGIA: Bien, **OBJECT**
- PUNT_FILOSOFIA: Bien, **OBJECT**
- PUNT_FISICA: Bien, **OBJECT**
- PUNT_GEOGRAFIA: Bien, **OBJECT**
- PUNT_HISTORIA: Bien, **OBJECT**
- PUNT_IDIOMA: Bien, **OBJECT**
- PUNT_INTERDISCIPLINAR: Bien, **OBJECT**
- PUNT_LENGUAJE: Bien, **OBJECT**
- PUNT_MATEMATICAS: Bien, **OBJECT**
- PUNT_QUIMICA: Bien, **OBJECT**
___________________

ELIMINACIONES

- ESTU_CONSECUTIVO: Eliminada. no aporta para la prediccion ***ELIMINADA***
- ESTU_CARRDESEADA_COD: Datos con errores y demasiadas inconsistencias, ***ELIMINADA***
- ESTU_IES_COD_DESEADA: Datos con errores y demasiadas inconsistencias, ***ELIMINADA***
- ESTU_LIMITA_SORDOINTERPRETE: No tiene valores en ninguna fila, ***ELIMINADA***
- IND_ANNO_TERMINO_BACHILLERATO: Datos con errores y demasiadas inconsistencias. ***ELIMINADA***

Cambio de la @ por 4 en la columna *ESTU_ACT_PROX_ANNO*

In [ ]:
data_2000['ESTU_ACT_PROX_ANNO'].value_counts().sort_index()

In [ ]:
data_2000['ESTU_ACT_PROX_ANNO'] = data_2000['ESTU_ACT_PROX_ANNO'].replace('@', '4')

Se eliminan las lineas que tienen años invalidos

In [ ]:
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 195.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 196.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 197.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 198.0)

Se hacen los cambios segun la columna FAMI_APORTANTES

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_APORTANTES', '@')

In [ ]:
data_2000['FAMI_APORTANTES'] = data_2000['FAMI_APORTANTES'].replace('+', '+9')

Se eliminan las filas que poseen '@' FAMI_EDUCA_MADRE

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_EDUCA_MADRE', '@')

Se eliminan las filas que poseen '@' en FAMI_EDUCA_PADRE

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_EDUCA_PADRE', '@')

Se eliminan las filas que poseen '@' en FAMI_INGRESO_FMILIAR_MENSUAL

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_INGRESO_FMILIAR_MENSUAL', '@')

Se eliminan las filas que poseen '@' y se cambia el '+' por '+10' en FAMI_NUM_HERMANOS

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_NUM_HERMANOS', '@')
data_2000['FAMI_NUM_HERMANOS'] = data_2000['FAMI_NUM_HERMANOS'].replace('+', '+10')

In [ ]:
#lo mismo que la anterior pero en FAMI_NUM_HERMANOS_EDUSUPERIOR
data_2000 = drop_lines(data_2000, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', '@')
data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+10')

In [ ]:
#se eliminan las filas que poseen el valor '@'
data_2000 = drop_lines(data_2000, 'FAMI_OCUPA_MADRE', '@')

In [ ]:
#se eliminan las filas que poseen el valor '@'
data_2000 = drop_lines(data_2000, 'FAMI_OCUPA_PADRE', '@')

In [ ]:
#Se eliminan las filas que tienen valores '@' y se cambia '+' por '+10'
data_2000 = drop_lines(data_2000, 'FAMI_POSICION_HERMANOS', '@')
data_2000['FAMI_POSICION_HERMANOS'] = data_2000['FAMI_POSICION_HERMANOS'].replace('+', '+10')

Deletion of the selected columns

In [ ]:
data_2000 = data_2000.drop(['ESTU_CARRDESEADA_COD', 'ESTU_IES_COD_DESEADA', 'ESTU_LIMITA_SORDOINTERPRETE',
 'IND_ANNO_TERMINO_BACHILLERATO'], axis=1)

___________

___________

___________

# En este momento ya estaria listo el primer archivo, para su posterior uso en un modelo de prediccion

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
LR = LinearRegression()

The data will be prepared to be splitted into **X** and **y**  

The first step is encode the data. The result will be stored in a new DataFram called ***encoded_data***

In [ ]:
encoded_data = pd.DataFrame.copy(data_2000)

In [ ]:
encoded_data = label_encoder(encoded_data)

But, this function just modified the columns that has dtype = object, so i have to check the other columns. 
The COLE_BILINGUE column, is a Float64 dtype and the function doesn't affected it.  
The solution is replace the NaN values found in the column and changes it for the "0" to indicate that the school is not Bilingual.

In [ ]:
"""Now i fix the problem with the COLE_BILINGUE"""
encoded_data = letters_to_num(encoded_data, "NaN", "0", "COLE_BILINGUE")
data_2000 = letters_to_num(data_2000, 'NaN', '0', 'COLE_BILINGUE')

So now, using the function ***missing_data*** located in the file called ***functions.py***, we can check the whole DataFrame to discover another columns with NaN values

In [ ]:
missing_data(encoded_data)

The NaN values are located in the columns related to the student's birth date.  
And one important thing we can see in the result is that when one column is NaN the other two column are NaN too, so we can delete this 14 columns with not so much troubles.  
I just found one exception in the row number 55189, that just the Year is NaN.  
BUT i have to delete this in the encoded DataFrame ***encoded_data*** to split the data and avoid some troubles that can appear.

In [ ]:
encoded_data.loc[encoded_data['ESTU_NACIMIENTO_ANNO'].isnull()]
#ESTU_NACIMIENTO_MES
#ESTU_NACIMIENTO_ANNO

In [ ]:
"""First i have to put the NaN values as a Number because of the column's dtype"""
encoded_data = letters_to_num(encoded_data, "NaN", "-1", "ESTU_NACIMIENTO_ANNO")
data_2000 = letters_to_num(data_2000, 'NaN', '-1', 'ESTU_NACIMIENTO_ANNO')

In [ ]:
"""Then i can delete the lines"""
encoded_data = drop_lines(encoded_data, 'ESTU_NACIMIENTO_ANNO', '-1')
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', '-1')

**Now it's time for a little test with sklearn linear regression**

Now it's time to exclude columns that do not serve us for our objective as the student's consecutive.  
- COLE_COD_ICFES
- COLE_NOMBRE_SEDE
- ESTU_TIPO_DOCUMENTO  

Also the data is divided for train [0, 50000] and for test [50000,73551].

In [ ]:
print("Shape of the original DF:", data_2000.shape)
print("Shape of the encoded DF:", encoded_data.shape)

In [ ]:
y = data_2000.filter(items = ['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
                     'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA', 'PUNT_INTERDISCIPLINAR'], axis=1)
print(y.shape)

So, Now I have a DataFrame with all the posible targets that will be taken into account for the work

In [ ]:
"""I split the data into X_train and y_train, taking just the corresponding columns"""
X_train = encoded_data.loc[:50000, 'COLE_COD_ICFES':]
y_train = y.loc[:50000, 'PUNT_MATEMATICAS'] #i take the score in Maths
###########################################################################################
"""Now, i delete the columns that are not useful to the work"""
X_train = X_train.drop(['COLE_COD_ICFES', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)
"""Now it's time to drop the others subject's scores, because this is what i want to predict"""
X_train = X_train.drop(['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 
                        'PUNT_HISTORIA', 'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA',
                        'PUNT_INTERDISCIPLINAR'], axis=1)

In [ ]:
print(data_2000.shape, encoded_data.shape)

First try to predict one subject score

In [ ]:
LR.fit(X_train, y_train)

Now i can prepare the Data to test the model

In [ ]:
"""I split the data into X_test and y_test, taking just the corresponding columns"""
X_test = encoded_data.loc[50000:, 'COLE_COD_ICFES':]
y_test = y.loc[50000:, 'PUNT_MATEMATICAS'] #i take the score in Maths
"""Now, i delete the columns that are not useful to the work"""
X_test = X_test.drop(['COLE_COD_ICFES', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)
"""Now it's time to drop the others subject's scores, because this is what i want to predict"""
X_test = X_test.drop(['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 
                        'PUNT_HISTORIA', 'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA',
                        'PUNT_INTERDISCIPLINAR'], axis=1)

In [ ]:
LR.score(X_train, y_train)

In [ ]:
LR.score(X_test, y_test)

I have to do a reshape in the sample that i pass to the predictor because the functions ask for it.

In [ ]:
LR.predict(X_test.iloc[123].reshape(1,-1))

In [ ]:
y_test.iloc[123]

Here i can plot a figure to see the behavior of the target.

In [ ]:
plt.figure(figsize=(18, 4))
plt.plot(y['PUNT_MATEMATICAS'])

About that figure ploted above, i can see that the behavior of the target is so chaotic and is dificult to predict with a simple Linear Regression.

# The second file is the 2000_2 that correspond to the second period of the year.

In [2]:
data_2000_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20002-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                         encoding="iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,7,12,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2000_2.shape

(354862, 58)

In [4]:
data_2000_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200020145911,SB11200020210439,SB11200020155853
COLE_COD_ICFES,75648,364,56820
COLE_NOMBRE_SEDE,LICEO ALCALDIA DE MEDELLIN,COLEGIO MARIA AUXILIADORA,INSTITUTO TECNOLOGICO METROPOLITANO
IND_ANNO_TERMINO_BACHILLERATO,2000,2000,2000
COLE_JORNADA,M,C,N
COLE_VALOR_PENSION,8,5,1
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,2,27,3
ESTU_NACIMIENTO_MES,1,4,1
ESTU_NACIMIENTO_ANNO,1984,1984,1978
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_MCPIO_PRESENTACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49,48,42
PUNT_MATEMATICAS,39,47,40
PUNT_FILOSOFIA,48,57,53
PUNT_FISICA,44,52,44
PUNT_HISTORIA,46,46,46
PUNT_QUIMICA,47,38,42
PUNT_LENGUAJE,55,52,43
PUNT_GEOGRAFIA,40,49,45
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,51,25,44
COD_IDIOMA,51,51,51
PUNT_IDIOMA,37,42,43
ESTU_IES_COD_DESEADA,NaN,1712,1201
ESTU_RAZONINSTITUTO,NaN,7,3
ESTU_CARRDESEADA_COD,NaN,48117,12136
ESTU_CARRDESEADA_RAZON,NaN,3,5
FAMI_PERSONAS_HOGAR,4,4,6
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,N,NaN,N
FAMI_APORTANTES,2,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,1,1,1
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,4,7,3
FAMI_EDUCA_MADRE,4,7,3
FAMI_OCUPA_PADRE,09,04,08
FAMI_OCUPA_MADRE,09,04,10
FAMI_NUM_HERMANOS,6,1,2
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,1,1
FAMI_POSICION_HERMANOS,6,2,1
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,1,3
COLE_CALENDARIO,A,A,F
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO Y TECNICO
COLE_DEPTO_UBICACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
COLE_MCPIO_UBICACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_TIPO_DOCUMENTO,T,T,C
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_RESIDE_MCPIO,MEDELLIN,MEDELLIN,MEDELLIN

The first thing i want to do is delete the columns that does not contribute to the task

The columns that does not contribute to the task are:
- ESTU_CONSECUTIVO
- COLE_NOMBRE_SEDE
- ESTU_TIPO_DOCUMENTO

In [5]:
data_2000_2 = data_2000_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

Now i can check the other columns to delete the lines that has strange characters and to decide what to do with the NaN values

In [6]:
data_2000_2.columns

Index(['COLE_COD_ICFES', 'IND_ANNO_TERMINO_BACHILLERATO', 'COLE_JORNADA',
       'COLE_VALOR_PENSION', 'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA',
       'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION', 'ESTU_ETNIA',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE',
       'ESTU_LIMITA_SORDONOINTERPRETE', 'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA',
       'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
       'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA',
       'COD_INTERDISCIPLINAR', 'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA',
       'PUNT_IDIOMA', 'ESTU_IES_COD_DESEADA', 'ESTU_RAZONINSTITUTO',
       'ESTU_CARRDESEADA_COD', 'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR',
       'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_RESIDE_DEPTO',
       'ESTU_RESIDE_MCPIO'],
      dtype='object')

In [7]:
"""It looks like a good columns, type: float64"""
print(data_2000_2['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2000_2['COLE_COD_ICFES'].value_counts().sort_index())

Float64Index([   18.0,    59.0,    75.0,    83.0,    91.0,   117.0,   125.0,
                141.0,   158.0,   174.0,
              ...
              93740.0, 93757.0, 93765.0, 93773.0, 93781.0, 93799.0, 93807.0,
              93815.0, 93823.0, 93831.0],
             dtype='float64', length=6573)
18.0        22
59.0       913
75.0        51
83.0        56
91.0       133
117.0       38
125.0      102
141.0       81
158.0       40
174.0      107
190.0       55
208.0      108
216.0       33
232.0       31
240.0      197
257.0      109
265.0      697
273.0       90
281.0       74
315.0      180
349.0       12
356.0       32
364.0       78
372.0       68
380.0      234
398.0       42
406.0       60
422.0       33
430.0       88
448.0       25
          ...
93542.0     20
93559.0     22
93567.0     31
93575.0      5
93583.0     39
93591.0     53
93609.0     13
93617.0     18
93625.0     26
93633.0     10
93641.0     19
93658.0     15
93666.0     39
93674.0     32
93682.0     14
93690.0      2
93708.0     11
93716.0     68
93724.0      4
93732.0     16
93740.0     15
93757.0      9
93765.0     36
93773.0     17
93781.0     10
93799.0     36
93807.0     40
93815.0     31
93823.0     18
93831.0     58
Name: COLE_COD_ICFES, dtype: int64

In [8]:
"""There are some years that are not valid, so this lines will be deleted"""
print(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())

Index(['1959', '1979', '1980', '1981', '1982', '1983', '1984', '1987', '1988',
       '1989', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2', '2  0', '2  1', '2 *0', '2 0', '2 00', '2*00', '20',
       '20 *', '20 0', '20 1', '20*', '20**', '20*0', '200', '200*', '2000',
       '2001', '2002', '2006', '201', '2010', '2011', '2020', '2022', '2030',
       '2060', '2099'],
      dtype='object')
1959         1
1979         1
1980         1
1981         1
1982         1
1983         1
1984         1
1987         1
1988         1
1989         3
1991         2
1992         1
1993         2
1994         1
1995         4
1996         6
1997         7
1998        20
1999       226
2           74
2  0        58
2  1         1
2 *0         1
2 0         30
2 00      1140
2*00         4
20         152
20 *         2
20 0       458
20 1         1
20*          2
20**         5
20*0         7
200        306
200*         2
2000    352083
2001       122
2002         3
2006         1
201          2
2010        16
2011        36
2020         1
2022         1
2030         1
2060         1
2099         2
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64

In [9]:
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '201')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2  0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2  1')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 *0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 00')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2*00')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 *')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 1')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20*')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20**')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20*0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '200')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '200*')

In [10]:
"""This columns looks good"""
print(data_2000_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2000_2['COLE_JORNADA'].value_counts().sort_index())

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C     82291
M    146632
N     46800
S       449
T     76445
Name: COLE_JORNADA, dtype: int64

In [11]:
"""Obtained an error, a this happens because of the NaN values, i decide to do a resample to fill the NaN values randomly, but
with real values randomly selected."""
#print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
#print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index())
missing_data(data_2000_2['COLE_VALOR_PENSION'])

Elementos null/NaN 19353
__________________
Elementos diferentes de null/NaN: 333264
__________________
(333264,)

In [ ]:
data_2000_2['COLE_VALOR_PENSION'] = resample_NaN(data_2000_2['COLE_VALOR_PENSION'])

/usr/local/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:128: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [104]:
data_2000_2['COLE_VALOR_PENSION'].isnull().sum()

19353

In [97]:
print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index())

TypeError: unorderable types: str() > float()

In [ ]:
""""""
print(data_2000_2[''].value_counts().sort_index().index)
print(data_2000_2[''].value_counts().sort_index())

In [ ]:
""""""
print(data_2000_2[''].value_counts().sort_index().index)
print(data_2000_2[''].value_counts().sort_index())

In [21]:
!ls ../DatosFTPICFES/SABER11/

SB11-BASES_DE_DATOS	      SB11-INDICE-SOCIOECONOMICO
SB11-CLASIFICACION-PLANTELES  SB11-PRESABER