# Procesado de Datos

Año 2000

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

Charge the file with the data, into a DataFrame

In [ ]:
data_2000 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                        encoding="iso-8859-1")

In [ ]:
data_2000.head(3).T

In [ ]:
data_2000['FAMI_PERSONAS_HOGAR'].value_counts().sort_index()

The simbol "@" will be changed for the number 4, because the average in Colombian's homes is near to 4.

In [ ]:
data_2000 = letters_to_num(data_2000, ["@"], ["4"], "FAMI_PERSONAS_HOGAR")

Then, the following columns will be reviewed

In [ ]:
data_2000['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index()

There are very few rows with the value "@", so the rows that has it will be deleted.

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_VIVIENDA_PROPIA", "@")

In [ ]:
data_2000['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_DEUDA_VIVIENDA", "@")

In [ ]:
data_2000['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_PADRE", "@")

In [ ]:
data_2000['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_MADRE", "@")

In [ ]:
data_2000['FAMI_SOST_PERSONAL'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_SOST_PERSONAL", "@")

In [ ]:
data_2000['ESTU_TRABAJA'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "ESTU_TRABAJA", "@")

In [ ]:
data_2000['COLE_CALENDARIO'].value_counts().sort_index()

In [ ]:
data_2000['COLE_CARACTER'].value_counts().sort_index()

In [ ]:
remaining_c = data_2000.columns.difference(['FAMI_PERSONAS_HOGAR', 'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_LEE_ESCRIBE_PADRE',
                     'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'COLE_CALENDARIO',
                     'COLE_CARACTER'])

In [ ]:
remaining_c

Columnas:
- COD_IDIOMA: BIEN, int64
- COD_INTERDISCIPLINAR: Bien, int64
- COLE_BILINGUE: Bien, float64
- COLE_COD_ICFES: Bien, int64
- COLE_DEPTO_UBICACION: Bien, **OBJECT**
- COLE_JORNADA: Bien, **OBJECT**
- COLE_MCPIO_UBICACION: Bien, **OBJECT**
- COLE_NOMBRE_SEDE: Bien, **OBJECT**
- COLE_VALOR_PENSION: existen VALORES NaN, str **REVISAR**
- ESTU_ACT_PROX_ANNO: existen @ que se cambiaron por el valor 4 que falta, **OBJECT**
- ESTU_CARRDESEADA_RAZON: existen valores NaN, str **REVISAR**
- ESTU_DEPTO_PRESENTACION: Bien, **OBJECT**
- ESTU_GENERO: Bien, **OBJECT**
- ESTU_LIMITA_INVIDENTE: Bien, **OBJECT**, Muchos valores NaN
- ESTU_LIMITA_MOTRIZ: Bien, **OBJECT**, Muchos valores NaN
- ESTU_LIMITA_SORDONOINTERPRETE: Bien, **OBJECT**, Muchos valores NaN
- ESTU_MCPIO_PRESENTACION: Bien, **OBJECT**
- ESTU_NACIMIENTO_ANNO: Bien, Float64, Se eliminaron algunas filas porque no tenian logica (años 195, 196, 197, 198)
- ESTU_NACIMIENTO_DIA: Bien, Float64
- ESTU_NACIMIENTO_MES: Bien, Float64
- ESTU_RAZONINSTITUTO: Valores 'nan', ***REVISAR***
- ESTU_RESIDE_DEPTO: Bien, **OBJECT**
- ESTU_RESIDE_MCPIO: Bien, **OBJECT**
- ESTU_TIPO_DOCUMENTO: Bien, **OBJECT**
- FAMI_APORTANTES: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+9'
- FAMI_EDUCA_MADRE: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_EDUCA_PADRE: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_INGRESO_FMILIAR_MENSUAL: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_NUM_HERMANOS: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+10'
- FAMI_NUM_HERMANOS_EDUSUPERIOR: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el + por '+10'
- FAMI_OCUPA_MADRE: Bien, **OBJECT** se eliminan las filas que poseen '@'
- FAMI_OCUPA_PADRE: Bien, **OBJECT** se eliminan las filas que poseen '@'
- FAMI_POSICION_HERMANOS: Bien **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+10'
- PUNT_BIOLOGIA: Bien, **OBJECT**
- PUNT_FILOSOFIA: Bien, **OBJECT**
- PUNT_FISICA: Bien, **OBJECT**
- PUNT_GEOGRAFIA: Bien, **OBJECT**
- PUNT_HISTORIA: Bien, **OBJECT**
- PUNT_IDIOMA: Bien, **OBJECT**
- PUNT_INTERDISCIPLINAR: Bien, **OBJECT**
- PUNT_LENGUAJE: Bien, **OBJECT**
- PUNT_MATEMATICAS: Bien, **OBJECT**
- PUNT_QUIMICA: Bien, **OBJECT**
___________________

ELIMINACIONES

- ESTU_CONSECUTIVO: Eliminada. no aporta para la prediccion ***ELIMINADA***
- ESTU_CARRDESEADA_COD: Datos con errores y demasiadas inconsistencias, ***ELIMINADA***
- ESTU_IES_COD_DESEADA: Datos con errores y demasiadas inconsistencias, ***ELIMINADA***
- ESTU_LIMITA_SORDOINTERPRETE: No tiene valores en ninguna fila, ***ELIMINADA***
- IND_ANNO_TERMINO_BACHILLERATO: Datos con errores y demasiadas inconsistencias. ***ELIMINADA***

Cambio de la @ por 4 en la columna *ESTU_ACT_PROX_ANNO*

In [ ]:
data_2000['ESTU_ACT_PROX_ANNO'].value_counts().sort_index()

In [ ]:
data_2000['ESTU_ACT_PROX_ANNO'] = data_2000['ESTU_ACT_PROX_ANNO'].replace('@', '4')

Se eliminan las lineas que tienen años invalidos

In [ ]:
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 195.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 196.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 197.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 198.0)

Se hacen los cambios segun la columna FAMI_APORTANTES

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_APORTANTES', '@')

In [ ]:
data_2000['FAMI_APORTANTES'] = data_2000['FAMI_APORTANTES'].replace('+', '+9')

Se eliminan las filas que poseen '@' FAMI_EDUCA_MADRE

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_EDUCA_MADRE', '@')

Se eliminan las filas que poseen '@' en FAMI_EDUCA_PADRE

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_EDUCA_PADRE', '@')

Se eliminan las filas que poseen '@' en FAMI_INGRESO_FMILIAR_MENSUAL

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_INGRESO_FMILIAR_MENSUAL', '@')

Se eliminan las filas que poseen '@' y se cambia el '+' por '+10' en FAMI_NUM_HERMANOS

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_NUM_HERMANOS', '@')
data_2000['FAMI_NUM_HERMANOS'] = data_2000['FAMI_NUM_HERMANOS'].replace('+', '+10')

In [ ]:
#lo mismo que la anterior pero en FAMI_NUM_HERMANOS_EDUSUPERIOR
data_2000 = drop_lines(data_2000, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', '@')
data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+10')

In [ ]:
#se eliminan las filas que poseen el valor '@'
data_2000 = drop_lines(data_2000, 'FAMI_OCUPA_MADRE', '@')

In [ ]:
#se eliminan las filas que poseen el valor '@'
data_2000 = drop_lines(data_2000, 'FAMI_OCUPA_PADRE', '@')

In [ ]:
#Se eliminan las filas que tienen valores '@' y se cambia '+' por '+10'
data_2000 = drop_lines(data_2000, 'FAMI_POSICION_HERMANOS', '@')
data_2000['FAMI_POSICION_HERMANOS'] = data_2000['FAMI_POSICION_HERMANOS'].replace('+', '+10')

Deletion of the selected columns

In [ ]:
data_2000 = data_2000.drop(['ESTU_CARRDESEADA_COD', 'ESTU_IES_COD_DESEADA', 'ESTU_LIMITA_SORDOINTERPRETE',
 'IND_ANNO_TERMINO_BACHILLERATO'], axis=1)

___________

___________

___________

# En este momento ya estaria listo el primer archivo, para su posterior uso en un modelo de prediccion

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
LR = LinearRegression()

The data will be prepared to be splitted into **X** and **y**  

The first step is encode the data. The result will be stored in a new DataFram called ***encoded_data***

In [ ]:
encoded_data = pd.DataFrame.copy(data_2000)

In [ ]:
encoded_data = label_encoder(encoded_data)

But, this function just modified the columns that has dtype = object, so i have to check the other columns. 
The COLE_BILINGUE column, is a Float64 dtype and the function doesn't affected it.  
The solution is replace the NaN values found in the column and changes it for the "0" to indicate that the school is not Bilingual.

In [ ]:
"""Now i fix the problem with the COLE_BILINGUE"""
encoded_data = letters_to_num(encoded_data, "NaN", "0", "COLE_BILINGUE")
data_2000 = letters_to_num(data_2000, 'NaN', '0', 'COLE_BILINGUE')

So now, using the function ***missing_data*** located in the file called ***functions.py***, we can check the whole DataFrame to discover another columns with NaN values

In [ ]:
missing_data(encoded_data)

The NaN values are located in the columns related to the student's birth date.  
And one important thing we can see in the result is that when one column is NaN the other two column are NaN too, so we can delete this 14 columns with not so much troubles.  
I just found one exception in the row number 55189, that just the Year is NaN.  
BUT i have to delete this in the encoded DataFrame ***encoded_data*** to split the data and avoid some troubles that can appear.

In [ ]:
encoded_data.loc[encoded_data['ESTU_NACIMIENTO_ANNO'].isnull()]
#ESTU_NACIMIENTO_MES
#ESTU_NACIMIENTO_ANNO

In [ ]:
"""First i have to put the NaN values as a Number because of the column's dtype"""
encoded_data = letters_to_num(encoded_data, "NaN", "-1", "ESTU_NACIMIENTO_ANNO")
data_2000 = letters_to_num(data_2000, 'NaN', '-1', 'ESTU_NACIMIENTO_ANNO')

In [ ]:
"""Then i can delete the lines"""
encoded_data = drop_lines(encoded_data, 'ESTU_NACIMIENTO_ANNO', '-1')
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', '-1')

**Now it's time for a little test with sklearn linear regression**

Now it's time to exclude columns that do not serve us for our objective as the student's consecutive.  
- COLE_COD_ICFES
- COLE_NOMBRE_SEDE
- ESTU_TIPO_DOCUMENTO  

Also the data is divided for train [0, 50000] and for test [50000,73551].

In [ ]:
print("Shape of the original DF:", data_2000.shape)
print("Shape of the encoded DF:", encoded_data.shape)

In [ ]:
y = data_2000.filter(items = ['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
                     'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA', 'PUNT_INTERDISCIPLINAR'], axis=1)
print(y.shape)

So, Now I have a DataFrame with all the posible targets that will be taken into account for the work

In [ ]:
"""I split the data into X_train and y_train, taking just the corresponding columns"""
X_train = encoded_data.loc[:50000, 'COLE_COD_ICFES':]
y_train = y.loc[:50000, 'PUNT_MATEMATICAS'] #i take the score in Maths
###########################################################################################
"""Now, i delete the columns that are not useful to the work"""
X_train = X_train.drop(['COLE_COD_ICFES', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)
"""Now it's time to drop the others subject's scores, because this is what i want to predict"""
X_train = X_train.drop(['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 
                        'PUNT_HISTORIA', 'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA',
                        'PUNT_INTERDISCIPLINAR'], axis=1)

In [ ]:
print(data_2000.shape, encoded_data.shape)

First try to predict one subject score

In [ ]:
LR.fit(X_train, y_train)

Now i can prepare the Data to test the model

In [ ]:
"""I split the data into X_test and y_test, taking just the corresponding columns"""
X_test = encoded_data.loc[50000:, 'COLE_COD_ICFES':]
y_test = y.loc[50000:, 'PUNT_MATEMATICAS'] #i take the score in Maths
"""Now, i delete the columns that are not useful to the work"""
X_test = X_test.drop(['COLE_COD_ICFES', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)
"""Now it's time to drop the others subject's scores, because this is what i want to predict"""
X_test = X_test.drop(['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 
                        'PUNT_HISTORIA', 'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA',
                        'PUNT_INTERDISCIPLINAR'], axis=1)

In [ ]:
LR.score(X_train, y_train)

In [ ]:
LR.score(X_test, y_test)

I have to do a reshape in the sample that i pass to the predictor because the functions ask for it.

In [ ]:
LR.predict(X_test.iloc[123].reshape(1,-1))

In [ ]:
y_test.iloc[123]

Here i can plot a figure to see the behavior of the target.

In [ ]:
plt.figure(figsize=(18, 4))
plt.plot(y['PUNT_MATEMATICAS'])

About that figure ploted above, i can see that the behavior of the target is so chaotic and is dificult to predict with a simple Linear Regression.

# The second file is the 2000_2 that correspond to the second period of the year.

In [24]:
data_2000_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20002-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                         encoding="iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,7,12,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2000_2.shape

(354862, 58)

In [4]:
data_2000_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200020145911,SB11200020210439,SB11200020155853
COLE_COD_ICFES,75648,364,56820
COLE_NOMBRE_SEDE,LICEO ALCALDIA DE MEDELLIN,COLEGIO MARIA AUXILIADORA,INSTITUTO TECNOLOGICO METROPOLITANO
IND_ANNO_TERMINO_BACHILLERATO,2000,2000,2000
COLE_JORNADA,M,C,N
COLE_VALOR_PENSION,8,5,1
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,2,27,3
ESTU_NACIMIENTO_MES,1,4,1
ESTU_NACIMIENTO_ANNO,1984,1984,1978
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_MCPIO_PRESENTACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49,48,42
PUNT_MATEMATICAS,39,47,40
PUNT_FILOSOFIA,48,57,53
PUNT_FISICA,44,52,44
PUNT_HISTORIA,46,46,46
PUNT_QUIMICA,47,38,42
PUNT_LENGUAJE,55,52,43
PUNT_GEOGRAFIA,40,49,45
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,51,25,44
COD_IDIOMA,51,51,51
PUNT_IDIOMA,37,42,43
ESTU_IES_COD_DESEADA,NaN,1712,1201
ESTU_RAZONINSTITUTO,NaN,7,3
ESTU_CARRDESEADA_COD,NaN,48117,12136
ESTU_CARRDESEADA_RAZON,NaN,3,5
FAMI_PERSONAS_HOGAR,4,4,6
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,N,NaN,N
FAMI_APORTANTES,2,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,1,1,1
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,4,7,3
FAMI_EDUCA_MADRE,4,7,3
FAMI_OCUPA_PADRE,09,04,08
FAMI_OCUPA_MADRE,09,04,10
FAMI_NUM_HERMANOS,6,1,2
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,1,1
FAMI_POSICION_HERMANOS,6,2,1
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,1,3
COLE_CALENDARIO,A,A,F
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO Y TECNICO
COLE_DEPTO_UBICACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
COLE_MCPIO_UBICACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_TIPO_DOCUMENTO,T,T,C
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_RESIDE_MCPIO,MEDELLIN,MEDELLIN,MEDELLIN

The first thing i want to do is delete the columns that does not contribute to the task

The columns that does not contribute to the task are:
- ESTU_CONSECUTIVO
- COLE_NOMBRE_SEDE
- ESTU_TIPO_DOCUMENTO

In [25]:
data_2000_2 = data_2000_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

Now i can check the other columns to delete the lines that has strange characters and to decide what to do with the NaN values

In [6]:
data_2000_2.columns

Index(['COLE_COD_ICFES', 'IND_ANNO_TERMINO_BACHILLERATO', 'COLE_JORNADA',
       'COLE_VALOR_PENSION', 'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA',
       'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION', 'ESTU_ETNIA',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE',
       'ESTU_LIMITA_SORDONOINTERPRETE', 'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA',
       'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
       'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA',
       'COD_INTERDISCIPLINAR', 'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA',
       'PUNT_IDIOMA', 'ESTU_IES_COD_DESEADA', 'ESTU_RAZONINSTITUTO',
       'ESTU_CARRDESEADA_COD', 'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR',
       'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_RESIDE_DEPTO',
       'ESTU_RESIDE_MCPIO'],
      dtype='object')

In [7]:
"""It looks like a good columns, type: float64"""
print(data_2000_2['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2000_2['COLE_COD_ICFES'].value_counts().sort_index())

Float64Index([   18.0,    59.0,    75.0,    83.0,    91.0,   117.0,   125.0,
                141.0,   158.0,   174.0,
              ...
              93740.0, 93757.0, 93765.0, 93773.0, 93781.0, 93799.0, 93807.0,
              93815.0, 93823.0, 93831.0],
             dtype='float64', length=6573)
18.0        22
59.0       913
75.0        51
83.0        56
91.0       133
117.0       38
125.0      102
141.0       81
158.0       40
174.0      107
190.0       55
208.0      108
216.0       33
232.0       31
240.0      197
257.0      109
265.0      697
273.0       90
281.0       74
315.0      180
349.0       12
356.0       32
364.0       78
372.0       68
380.0      234
398.0       42
406.0       60
422.0       33
430.0       88
448.0       25
          ...
93542.0     20
93559.0     22
93567.0     31
93575.0      5
93583.0     39
93591.0     53
93609.0     13
93617.0     18
93625.0     26
93633.0     10
93641.0     19
93658.0     15
93666.0     39
93674.0     32
93682.0     14
93690.0      2
93708.0     11
93716.0     68
93724.0      4
93732.0     16
93740.0     15
93757.0      9
93765.0     36
93773.0     17
93781.0     10
93799.0     36
93807.0     40
93815.0     31
93823.0     18
93831.0     58
Name: COLE_COD_ICFES, dtype: int64

In [8]:
"""There are some years that are not valid, so this lines will be deleted"""
print(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())

Index(['1959', '1979', '1980', '1981', '1982', '1983', '1984', '1987', '1988',
       '1989', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2', '2  0', '2  1', '2 *0', '2 0', '2 00', '2*00', '20',
       '20 *', '20 0', '20 1', '20*', '20**', '20*0', '200', '200*', '2000',
       '2001', '2002', '2006', '201', '2010', '2011', '2020', '2022', '2030',
       '2060', '2099'],
      dtype='object')
1959         1
1979         1
1980         1
1981         1
1982         1
1983         1
1984         1
1987         1
1988         1
1989         3
1991         2
1992         1
1993         2
1994         1
1995         4
1996         6
1997         7
1998        20
1999       226
2           74
2  0        58
2  1         1
2 *0         1
2 0         30
2 00      1140
2*00         4
20         152
20 *         2
20 0       458
20 1         1
20*          2
20**         5
20*0         7
200        306
200*         2
2000    352083
2001       122
2002         3
2006         1
201          2
2010        16
2011        36
2020         1
2022         1
2030         1
2060         1
2099         2
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64

In [9]:
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '201')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2  0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2  1')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 *0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 00')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2*00')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 *')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 1')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20*')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20**')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20*0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '200')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '200*')

In [10]:
"""This columns looks good"""
print(data_2000_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2000_2['COLE_JORNADA'].value_counts().sort_index())

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C     82291
M    146632
N     46800
S       449
T     76445
Name: COLE_JORNADA, dtype: int64

In [26]:
"""Obtained an error, a this happens because of the NaN values, i decide to do a first treatment, just deleting the 
data. Then in another time i can find another way to treat this NaN values. This almost 20000 lines just represent 
a 5% of the data"""
#print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
#print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index())
missing_data(data_2000_2['COLE_VALOR_PENSION'])

Elementos null/NaN 19526
__________________
Elementos diferentes de null/NaN: 335336
__________________
(335336,)

In [27]:
"""Deleting the lines that has de NaN value in the columns COLE_VALOR_PENSION"""
data_2000_2.drop(data_2000_2[data_2000_2['COLE_VALOR_PENSION'].isnull()].index, inplace=True)

In [28]:
"""Checking if that worked"""
data_2000_2['COLE_VALOR_PENSION'].isnull().sum()

0

In [71]:
data_2000_2['COLE_VALOR_PENSION'].value_counts()

1    139638
8     90846
2     30933
3     24311
4     20139
5     15875
6     10469
7      3097
Name: COLE_VALOR_PENSION, dtype: int64

# HERE IS HAPPENING SOMETHING STRANGE PLEASE FIX IT

In [19]:
"""So now, i can replace the duplicates written as floats. I insert the string values corresponding to each number"""
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(1.0, 1)
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(8.0, 8)
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(2.0, 2)
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(3.0, 3)
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(4.0, 4)
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(5.0, 5)
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(6.0, 6)
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(7.0, 7)
"""Now i can replace the number type values, for string type values."""
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(1, '1')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(2, '2')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(3, '3')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(4, '4')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(5, '5')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(6, '6')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(7, '7')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(8, '8')
"""Now the files with the '*' value are deleted"""
data_2000_2 = drop_lines(data_2000_2, 'COLE_VALOR_PENSION', '*')

In [72]:
print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index())

Index(['1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
1    139638
2     30933
3     24311
4     20139
5     15875
6     10469
7      3097
8     90846
Name: COLE_VALOR_PENSION, dtype: int64

In [75]:
"""This column is ok"""
print(data_2000_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_GENERO'].value_counts().sort_index())

Index(['F', 'M'], dtype='object')
F    181432
M    153876
Name: ESTU_GENERO, dtype: int64

In [78]:
"""I get errors with this column"""
#print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
#print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
missing_data(data_2000_2['ESTU_NACIMIENTO_DIA'])

Elementos null/NaN 268
__________________
Elementos diferentes de null/NaN: 335040
__________________
(335040,)

In [79]:
"""how there is just 268 lines with NaN values, i decide to delete them"""
data_2000_2.drop(data_2000_2[data_2000_2['ESTU_NACIMIENTO_DIA'].isnull()].index, inplace=True)

In [84]:
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts().index)

Index(['01', '20', '05', '10', '03', '28', '15', '18', '12', '07', '04', '06',
       '23', '08', '02', '17', '11', '26', '25', '22', '16', '14', '24', '09',
       '27', '13', '19', '21', '29', '30', '31',  1.0,  5.0,  3.0, 15.0, 10.0,
        6.0, 20.0, 25.0, 12.0,  2.0,  8.0,  7.0, 27.0, 28.0, 16.0, 17.0,  9.0,
       11.0,  4.0, 18.0, 23.0, 14.0, 19.0, 22.0, 24.0, 26.0, 13.0, 21.0, 29.0,
       30.0, 31.0,  '1',  '2',  '3',  '*', '1*',  '0',  '4',  '8',  '7', '2*',
        0.0,  '5',  '9',  '6', '00', '*1', '39', '0*', '*9', '32'],
      dtype='object')
01      8389
20      8346
05      8321
10      8318
03      8245
28      8219
15      8162
18      8112
12      8056
07      8054
04      8043
06      8036
23      8028
08      8021
02      8012
17      7988
11      7982
26      7953
25      7932
22      7893
16      7893
14      7865
24      7842
09      7835
27      7835
13      7735
19      7692
21      7632
29      7446
30      7288
        ...
14.0    2951
19.0    2935
22.0    2930
24.0    2918
26.0    2878
13.0    2854
21.0    2825
29.0    2792
30.0    2721
31.0    1622
1        206
2        186
3         43
*         23
1*        14
0         13
4          9
8          8
7          6
2*         6
0.0        6
5          5
9          4
6          2
00         2
*1         1
39         1
0*         1
*9         1
32         1
Name: ESTU_NACIMIENTO_DIA, dtype: int64

In [91]:
"""With the NaN values deleted, there is some lines that has to be erased"""
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '1*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '2*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', 0.0)
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '00')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '*1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '0*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '*9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '32')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '39')

"""Now it's time to replace the number values for string values"""
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(1.0, 1)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(2.0, 2)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(3.0, 3)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(4.0, 4)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(5.0, 5)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(6.0, 6)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(7.0, 7)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(8.0, 8)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(9.0, 9)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(10.0, 10)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(11.0, 11)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(12.0, 12)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(13.0, 13)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(14.0, 14)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(15.0, 15)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(16.0, 16)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(17.0, 17)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(18.0, 18)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(19.0, 19)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(20.0, 20)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(21.0, 21)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(22.0, 22)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(23.0, 23)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(24.0, 24)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(25.0, 25)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(26.0, 26)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(27.0, 27)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(28.0, 28)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(29.0, 29)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(30.0, 30)
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(31.0, 31)

"""Now i change this values to a string type"""
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(1, '1')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(2, '2')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(3, '3')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(4, '4')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(5, '5')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(6, '6')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(7, '7')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(8, '8')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(9, '9')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(10, '10')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(11, '11')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(12, '12')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(13, '13')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(14, '14')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(15, '15')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(16, '16')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(17, '17')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(18, '18')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(19, '19')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(20, '20')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(21, '21')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(22, '22')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(23, '23')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(24, '24')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(25, '25')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(26, '26')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(27, '27')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(28, '28')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(29, '29')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(30, '30')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(31, '31')

"""And Finally a change some values to left everything in just one way"""
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('01', '1')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('05', '5')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('03', '3')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('07', '7')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('04', '4')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('06', '6')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('08', '8')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('02', '2')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('09', '9')

In [100]:
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts())

Index(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2',
       '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30',
       '31', '4', '5', '6', '7', '8', '9'],
      dtype='object')
1     11831
5     11502
20    11387
3     11367
10    11364
2     11217
15    11216
28    11213
6     11083
12    11077
18    11075
7     11068
8     11041
4     11017
23    10980
17    10978
25    10961
11    10948
16    10884
27    10837
26    10831
22    10823
9     10817
14    10816
24    10760
19    10627
13    10589
21    10457
29    10238
30    10009
31     5958
Name: ESTU_NACIMIENTO_DIA, dtype: int64

In [106]:
"""This column is OK"""
print(data_2000_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     27910
2.0     24938
3.0     28007
4.0     26665
5.0     27706
6.0     26468
7.0     27238
8.0     28283
9.0     29905
10.0    29746
11.0    28694
12.0    28515
Name: ESTU_NACIMIENTO_MES, dtype: int64

In [109]:
"""This column present A LOT of incoherences."""
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())

Index(['*', '**', '*7', '*9', '*972', '0', '0*3', '00', '0973', '098',
       ...
       '2980', '7', '8', '9', '9 0', '9 2', '9*1', '95', '97', '98'],
      dtype='object', length=124)
*            3
**           5
*7           1
*9           1
*972         1
0            2
0*3          1
00           1
0973         1
098          1
1            2
1  0         1
1  9         1
1 *6         1
1 *8         1
1 *9         1
1 8          1
1 9*         5
1 96         1
1 97         4
1*           2
1*8          1
17           1
19          10
19 *         8
19 0         1
19 1         2
19 5         1
19 6         4
19 7        17
         ...
1981     38426
1982     68871
1983    103469
1984     60990
1985      5461
1986       196
1987        50
1988        53
1989        51
199          2
199*        21
1990        19
1991         1
1996         1
1997         3
1998         1
1999         1
2 *7         2
2 00         1
2000         3
2980         1
7            1
8            2
9            3
9 0          1
9 2          1
9*1          1
95           1
97           1
98           3
Name: ESTU_NACIMIENTO_ANNO, dtype: int64

In [117]:
"""All of that incoherences found, will be deleted"""
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '**')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '*7')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '*9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '*972')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '0*3')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '00')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '0973')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '098')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1  0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1  9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 *6')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 *8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 *9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 9*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 9*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 96')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 97')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1*8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '17')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 *')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 5')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 6')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 7')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*4')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '191')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '194')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '195')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '196')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '197')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '197*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '198')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '198*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '199')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '199*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '2 *7')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '2 00')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '7')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '9 0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '9 2')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '9*1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '95')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '97')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '98')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '2980')

In [121]:
"""I Check the changes"""
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())

Index(['1928', '1930', '1932', '1933', '1934', '1936', '1937', '1938', '1939',
       '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948',
       '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957',
       '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1996', '1997',
       '1998', '1999', '2000'],
      dtype='object')
1928         1
1930         1
1932         3
1933         2
1934         1
1936         1
1937         1
1938        21
1939        10
1940         4
1941         4
1942         9
1943         6
1944        16
1945        16
1946        20
1947        26
1948        40
1949        31
1950        49
1951        59
1952        87
1953        87
1954       126
1955       138
1956       147
1957       188
1958       214
1959       221
1960       290
         ...
1967       682
1968       751
1969       883
1970       844
1971       975
1972      1129
1973      1239
1974      1476
1975      1892
1976      2343
1977      3462
1978      5581
1979     10551
1980     19909
1981     38426
1982     68871
1983    103469
1984     60990
1985      5461
1986       196
1987        50
1988        53
1989        51
1990        19
1991         1
1996         1
1997         3
1998         1
1999         1
2000         3
Name: ESTU_NACIMIENTO_ANNO, dtype: int64

In [ ]:
""""""
print(data_2000_2[''].value_counts().sort_index().index)
print(data_2000_2[''].value_counts().sort_index())

In [ ]:
""""""
print(data_2000_2[''].value_counts().sort_index().index)
print(data_2000_2[''].value_counts().sort_index())

In [ ]:
""""""
print(data_2000_2[''].value_counts().sort_index().index)
print(data_2000_2[''].value_counts().sort_index())

In [73]:
data_2000_2.columns

Index(['COLE_COD_ICFES', 'IND_ANNO_TERMINO_BACHILLERATO', 'COLE_JORNADA',
       'COLE_VALOR_PENSION', 'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA',
       'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION', 'ESTU_ETNIA',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE',
       'ESTU_LIMITA_SORDONOINTERPRETE', 'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA',
       'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
       'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA',
       'COD_INTERDISCIPLINAR', 'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA',
       'PUNT_IDIOMA', 'ESTU_IES_COD_DESEADA', 'ESTU_RAZONINSTITUTO',
       'ESTU_CARRDESEADA_COD', 'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR',
       'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_RESIDE_DEPTO',
       'ESTU_RESIDE_MCPIO'],
      dtype='object')