# Procesado de Datos

Año 2000

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

Charge the file with the data, into a DataFrame

In [ ]:
data_2000 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                        encoding="iso-8859-1")

In [ ]:
data_2000.head(3).T

In [ ]:
data_2000['FAMI_PERSONAS_HOGAR'].value_counts().sort_index()

The simbol "@" will be changed for the number 4, because the average in Colombian's homes is near to 4.

In [ ]:
data_2000 = letters_to_num(data_2000, ["@"], ["4"], "FAMI_PERSONAS_HOGAR")

Then, the following columns will be reviewed

In [ ]:
data_2000['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index()

There are very few rows with the value "@", so the rows that has it will be deleted.

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_VIVIENDA_PROPIA", "@")

In [ ]:
data_2000['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_DEUDA_VIVIENDA", "@")

In [ ]:
data_2000['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_PADRE", "@")

In [ ]:
data_2000['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_MADRE", "@")

In [ ]:
data_2000['FAMI_SOST_PERSONAL'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "FAMI_SOST_PERSONAL", "@")

In [ ]:
data_2000['ESTU_TRABAJA'].value_counts().sort_index()

In [ ]:
data_2000 = drop_lines(data_2000, "ESTU_TRABAJA", "@")

In [ ]:
data_2000['COLE_CALENDARIO'].value_counts().sort_index()

In [ ]:
data_2000['COLE_CARACTER'].value_counts().sort_index()

In [ ]:
remaining_c = data_2000.columns.difference(['FAMI_PERSONAS_HOGAR', 'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_LEE_ESCRIBE_PADRE',
                     'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'COLE_CALENDARIO',
                     'COLE_CARACTER'])

In [ ]:
remaining_c

Columnas:
- COD_IDIOMA: BIEN, int64
- COD_INTERDISCIPLINAR: Bien, int64
- COLE_BILINGUE: Bien, float64
- COLE_COD_ICFES: Bien, int64
- COLE_DEPTO_UBICACION: Bien, **OBJECT**
- COLE_JORNADA: Bien, **OBJECT**
- COLE_MCPIO_UBICACION: Bien, **OBJECT**
- COLE_NOMBRE_SEDE: Bien, **OBJECT**
- COLE_VALOR_PENSION: existen VALORES NaN, str **REVISAR**
- ESTU_ACT_PROX_ANNO: existen @ que se cambiaron por el valor 4 que falta, **OBJECT**
- ESTU_CARRDESEADA_RAZON: existen valores NaN, str **REVISAR**
- ESTU_DEPTO_PRESENTACION: Bien, **OBJECT**
- ESTU_GENERO: Bien, **OBJECT**
- ESTU_LIMITA_INVIDENTE: Bien, **OBJECT**, Muchos valores NaN
- ESTU_LIMITA_MOTRIZ: Bien, **OBJECT**, Muchos valores NaN
- ESTU_LIMITA_SORDONOINTERPRETE: Bien, **OBJECT**, Muchos valores NaN
- ESTU_MCPIO_PRESENTACION: Bien, **OBJECT**
- ESTU_NACIMIENTO_ANNO: Bien, Float64, Se eliminaron algunas filas porque no tenian logica (años 195, 196, 197, 198)
- ESTU_NACIMIENTO_DIA: Bien, Float64
- ESTU_NACIMIENTO_MES: Bien, Float64
- ESTU_RAZONINSTITUTO: Valores 'nan', ***REVISAR***
- ESTU_RESIDE_DEPTO: Bien, **OBJECT**
- ESTU_RESIDE_MCPIO: Bien, **OBJECT**
- ESTU_TIPO_DOCUMENTO: Bien, **OBJECT**
- FAMI_APORTANTES: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+9'
- FAMI_EDUCA_MADRE: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_EDUCA_PADRE: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_INGRESO_FMILIAR_MENSUAL: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_NUM_HERMANOS: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+10'
- FAMI_NUM_HERMANOS_EDUSUPERIOR: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el + por '+10'
- FAMI_OCUPA_MADRE: Bien, **OBJECT** se eliminan las filas que poseen '@'
- FAMI_OCUPA_PADRE: Bien, **OBJECT** se eliminan las filas que poseen '@'
- FAMI_POSICION_HERMANOS: Bien **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+10'
- PUNT_BIOLOGIA: Bien, **OBJECT**
- PUNT_FILOSOFIA: Bien, **OBJECT**
- PUNT_FISICA: Bien, **OBJECT**
- PUNT_GEOGRAFIA: Bien, **OBJECT**
- PUNT_HISTORIA: Bien, **OBJECT**
- PUNT_IDIOMA: Bien, **OBJECT**
- PUNT_INTERDISCIPLINAR: Bien, **OBJECT**
- PUNT_LENGUAJE: Bien, **OBJECT**
- PUNT_MATEMATICAS: Bien, **OBJECT**
- PUNT_QUIMICA: Bien, **OBJECT**
___________________

ELIMINACIONES

- ESTU_CONSECUTIVO: Eliminada. no aporta para la prediccion ***ELIMINADA***
- ESTU_CARRDESEADA_COD: Datos con errores y demasiadas inconsistencias, ***ELIMINADA***
- ESTU_IES_COD_DESEADA: Datos con errores y demasiadas inconsistencias, ***ELIMINADA***
- ESTU_LIMITA_SORDOINTERPRETE: No tiene valores en ninguna fila, ***ELIMINADA***
- IND_ANNO_TERMINO_BACHILLERATO: Datos con errores y demasiadas inconsistencias. ***ELIMINADA***

Cambio de la @ por 4 en la columna *ESTU_ACT_PROX_ANNO*

In [ ]:
data_2000['ESTU_ACT_PROX_ANNO'].value_counts().sort_index()

In [ ]:
data_2000['ESTU_ACT_PROX_ANNO'] = data_2000['ESTU_ACT_PROX_ANNO'].replace('@', '4')

Se eliminan las lineas que tienen años invalidos

In [ ]:
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 195.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 196.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 197.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 198.0)

Se hacen los cambios segun la columna FAMI_APORTANTES

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_APORTANTES', '@')

In [ ]:
data_2000['FAMI_APORTANTES'] = data_2000['FAMI_APORTANTES'].replace('+', '+9')

Se eliminan las filas que poseen '@' FAMI_EDUCA_MADRE

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_EDUCA_MADRE', '@')

Se eliminan las filas que poseen '@' en FAMI_EDUCA_PADRE

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_EDUCA_PADRE', '@')

Se eliminan las filas que poseen '@' en FAMI_INGRESO_FMILIAR_MENSUAL

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_INGRESO_FMILIAR_MENSUAL', '@')

Se eliminan las filas que poseen '@' y se cambia el '+' por '+10' en FAMI_NUM_HERMANOS

In [ ]:
data_2000 = drop_lines(data_2000, 'FAMI_NUM_HERMANOS', '@')
data_2000['FAMI_NUM_HERMANOS'] = data_2000['FAMI_NUM_HERMANOS'].replace('+', '+10')

In [ ]:
#lo mismo que la anterior pero en FAMI_NUM_HERMANOS_EDUSUPERIOR
data_2000 = drop_lines(data_2000, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', '@')
data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+10')

In [ ]:
#se eliminan las filas que poseen el valor '@'
data_2000 = drop_lines(data_2000, 'FAMI_OCUPA_MADRE', '@')

In [ ]:
#se eliminan las filas que poseen el valor '@'
data_2000 = drop_lines(data_2000, 'FAMI_OCUPA_PADRE', '@')

In [ ]:
#Se eliminan las filas que tienen valores '@' y se cambia '+' por '+10'
data_2000 = drop_lines(data_2000, 'FAMI_POSICION_HERMANOS', '@')
data_2000['FAMI_POSICION_HERMANOS'] = data_2000['FAMI_POSICION_HERMANOS'].replace('+', '+10')

Deletion of the selected columns

In [ ]:
data_2000 = data_2000.drop(['ESTU_CARRDESEADA_COD', 'ESTU_IES_COD_DESEADA', 'ESTU_LIMITA_SORDOINTERPRETE',
 'IND_ANNO_TERMINO_BACHILLERATO'], axis=1)

___________

___________

___________

# En este momento ya estaria listo el primer archivo, para su posterior uso en un modelo de prediccion

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
LR = LinearRegression()

The data will be prepared to be splitted into **X** and **y**  

The first step is encode the data. The result will be stored in a new DataFram called ***encoded_data***

In [ ]:
encoded_data = pd.DataFrame.copy(data_2000)

In [ ]:
encoded_data = label_encoder(encoded_data)

But, this function just modified the columns that has dtype = object, so i have to check the other columns. 
The COLE_BILINGUE column, is a Float64 dtype and the function doesn't affected it.  
The solution is replace the NaN values found in the column and changes it for the "0" to indicate that the school is not Bilingual.

In [ ]:
"""Now i fix the problem with the COLE_BILINGUE"""
encoded_data = letters_to_num(encoded_data, "NaN", "0", "COLE_BILINGUE")
data_2000 = letters_to_num(data_2000, 'NaN', '0', 'COLE_BILINGUE')

So now, using the function ***missing_data*** located in the file called ***functions.py***, we can check the whole DataFrame to discover another columns with NaN values

In [ ]:
missing_data(encoded_data)

The NaN values are located in the columns related to the student's birth date.  
And one important thing we can see in the result is that when one column is NaN the other two column are NaN too, so we can delete this 14 columns with not so much troubles.  
I just found one exception in the row number 55189, that just the Year is NaN.  
BUT i have to delete this in the encoded DataFrame ***encoded_data*** to split the data and avoid some troubles that can appear.

In [ ]:
encoded_data.loc[encoded_data['ESTU_NACIMIENTO_ANNO'].isnull()]
#ESTU_NACIMIENTO_MES
#ESTU_NACIMIENTO_ANNO

In [ ]:
"""First i have to put the NaN values as a Number because of the column's dtype"""
encoded_data = letters_to_num(encoded_data, "NaN", "-1", "ESTU_NACIMIENTO_ANNO")
data_2000 = letters_to_num(data_2000, 'NaN', '-1', 'ESTU_NACIMIENTO_ANNO')

In [ ]:
"""Then i can delete the lines"""
encoded_data = drop_lines(encoded_data, 'ESTU_NACIMIENTO_ANNO', '-1')
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', '-1')

**Now it's time for a little test with sklearn linear regression**

Now it's time to exclude columns that do not serve us for our objective as the student's consecutive.  
- COLE_COD_ICFES
- COLE_NOMBRE_SEDE
- ESTU_TIPO_DOCUMENTO  

Also the data is divided for train [0, 50000] and for test [50000,73551].

In [ ]:
print("Shape of the original DF:", data_2000.shape)
print("Shape of the encoded DF:", encoded_data.shape)

In [ ]:
y = data_2000.filter(items = ['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
                     'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA', 'PUNT_INTERDISCIPLINAR'], axis=1)
print(y.shape)

So, Now I have a DataFrame with all the posible targets that will be taken into account for the work

In [ ]:
"""I split the data into X_train and y_train, taking just the corresponding columns"""
X_train = encoded_data.loc[:50000, 'COLE_COD_ICFES':]
y_train = y.loc[:50000, 'PUNT_MATEMATICAS'] #i take the score in Maths
###########################################################################################
"""Now, i delete the columns that are not useful to the work"""
X_train = X_train.drop(['COLE_COD_ICFES', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)
"""Now it's time to drop the others subject's scores, because this is what i want to predict"""
X_train = X_train.drop(['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 
                        'PUNT_HISTORIA', 'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA',
                        'PUNT_INTERDISCIPLINAR'], axis=1)

In [ ]:
print(data_2000.shape, encoded_data.shape)

First try to predict one subject score

In [ ]:
LR.fit(X_train, y_train)

Now i can prepare the Data to test the model

In [ ]:
"""I split the data into X_test and y_test, taking just the corresponding columns"""
X_test = encoded_data.loc[50000:, 'COLE_COD_ICFES':]
y_test = y.loc[50000:, 'PUNT_MATEMATICAS'] #i take the score in Maths
"""Now, i delete the columns that are not useful to the work"""
X_test = X_test.drop(['COLE_COD_ICFES', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)
"""Now it's time to drop the others subject's scores, because this is what i want to predict"""
X_test = X_test.drop(['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 
                        'PUNT_HISTORIA', 'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA',
                        'PUNT_INTERDISCIPLINAR'], axis=1)

In [ ]:
LR.score(X_train, y_train)

In [ ]:
LR.score(X_test, y_test)

I have to do a reshape in the sample that i pass to the predictor because the functions ask for it.

In [ ]:
LR.predict(X_test.iloc[123].reshape(1,-1))

In [ ]:
y_test.iloc[123]

Here i can plot a figure to see the behavior of the target.

In [ ]:
plt.figure(figsize=(18, 4))
plt.plot(y['PUNT_MATEMATICAS'])

About that figure ploted above, i can see that the behavior of the target is so chaotic and is dificult to predict with a simple Linear Regression.

# The second file is the 2000_2 that correspond to the second period of the year.

In [2]:
data_2000_2 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20002-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                         encoding="iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,7,12,13,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2000_2.shape

(354862, 58)

In [4]:
data_2000_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200020145911,SB11200020210439,SB11200020155853
COLE_COD_ICFES,75648,364,56820
COLE_NOMBRE_SEDE,LICEO ALCALDIA DE MEDELLIN,COLEGIO MARIA AUXILIADORA,INSTITUTO TECNOLOGICO METROPOLITANO
IND_ANNO_TERMINO_BACHILLERATO,2000,2000,2000
COLE_JORNADA,M,C,N
COLE_VALOR_PENSION,8,5,1
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,2,27,3
ESTU_NACIMIENTO_MES,1,4,1
ESTU_NACIMIENTO_ANNO,1984,1984,1978
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_MCPIO_PRESENTACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49,48,42
PUNT_MATEMATICAS,39,47,40
PUNT_FILOSOFIA,48,57,53
PUNT_FISICA,44,52,44
PUNT_HISTORIA,46,46,46
PUNT_QUIMICA,47,38,42
PUNT_LENGUAJE,55,52,43
PUNT_GEOGRAFIA,40,49,45
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,51,25,44
COD_IDIOMA,51,51,51
PUNT_IDIOMA,37,42,43
ESTU_IES_COD_DESEADA,NaN,1712,1201
ESTU_RAZONINSTITUTO,NaN,7,3
ESTU_CARRDESEADA_COD,NaN,48117,12136
ESTU_CARRDESEADA_RAZON,NaN,3,5
FAMI_PERSONAS_HOGAR,4,4,6
FAMI_VIVIENDA_PROPIA,S,S,S
FAMI_DEUDA_VIVIENDA,N,NaN,N
FAMI_APORTANTES,2,1,1
FAMI_INGRESO_FMILIAR_MENSUAL,1,1,1
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,4,7,3
FAMI_EDUCA_MADRE,4,7,3
FAMI_OCUPA_PADRE,09,04,08
FAMI_OCUPA_MADRE,09,04,10
FAMI_NUM_HERMANOS,6,1,2
FAMI_NUM_HERMANOS_EDUSUPERIOR,0,1,1
FAMI_POSICION_HERMANOS,6,2,1
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,1,3
COLE_CALENDARIO,A,A,F
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO Y TECNICO
COLE_DEPTO_UBICACION,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
COLE_MCPIO_UBICACION,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_TIPO_DOCUMENTO,T,T,C
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_RESIDE_MCPIO,MEDELLIN,MEDELLIN,MEDELLIN

The first thing i want to do is delete the columns that does not contribute to the task

The columns that does not contribute to the task are:
- ESTU_CONSECUTIVO
- COLE_NOMBRE_SEDE
- ESTU_TIPO_DOCUMENTO

In [5]:
data_2000_2 = data_2000_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

Now i can check the other columns to delete the lines that has strange characters and to decide what to do with the NaN values

In [6]:
data_2000_2.columns

Index(['COLE_COD_ICFES', 'IND_ANNO_TERMINO_BACHILLERATO', 'COLE_JORNADA',
       'COLE_VALOR_PENSION', 'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA',
       'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION', 'ESTU_ETNIA',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDOINTERPRETE',
       'ESTU_LIMITA_SORDONOINTERPRETE', 'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA',
       'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
       'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA',
       'COD_INTERDISCIPLINAR', 'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA',
       'PUNT_IDIOMA', 'ESTU_IES_COD_DESEADA', 'ESTU_RAZONINSTITUTO',
       'ESTU_CARRDESEADA_COD', 'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR',
       'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_RESIDE_DEPTO',
       'ESTU_RESIDE_MCPIO'],
      dtype='object')

In [7]:
"""It looks like a good columns, type: float64"""
print(data_2000_2['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2000_2['COLE_COD_ICFES'].value_counts().sort_index())

Float64Index([   18.0,    59.0,    75.0,    83.0,    91.0,   117.0,   125.0,
                141.0,   158.0,   174.0,
              ...
              93740.0, 93757.0, 93765.0, 93773.0, 93781.0, 93799.0, 93807.0,
              93815.0, 93823.0, 93831.0],
             dtype='float64', length=6573)
18.0        22
59.0       913
75.0        51
83.0        56
91.0       133
117.0       38
125.0      102
141.0       81
158.0       40
174.0      107
190.0       55
208.0      108
216.0       33
232.0       31
240.0      197
257.0      109
265.0      697
273.0       90
281.0       74
315.0      180
349.0       12
356.0       32
364.0       78
372.0       68
380.0      234
398.0       42
406.0       60
422.0       33
430.0       88
448.0       25
          ...
93542.0     20
93559.0     22
93567.0     31
93575.0      5
93583.0     39
93591.0     53
93609.0     13
93617.0     18
93625.0     26
93633.0     10
93641.0     19
93658.0     15
93666.0     39
93674.0     32
93682.0     14
93690.0      2
93708.0     11
93716.0     68
93724.0      4
93732.0     16
93740.0     15
93757.0      9
93765.0     36
93773.0     17
93781.0     10
93799.0     36
93807.0     40
93815.0     31
93823.0     18
93831.0     58
Name: COLE_COD_ICFES, dtype: int64

In [8]:
"""There are some years that are not valid, so this lines will be deleted"""
print(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2000_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())

Index(['1959', '1979', '1980', '1981', '1982', '1983', '1984', '1987', '1988',
       '1989', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2', '2  0', '2  1', '2 *0', '2 0', '2 00', '2*00', '20',
       '20 *', '20 0', '20 1', '20*', '20**', '20*0', '200', '200*', '2000',
       '2001', '2002', '2006', '201', '2010', '2011', '2020', '2022', '2030',
       '2060', '2099'],
      dtype='object')
1959         1
1979         1
1980         1
1981         1
1982         1
1983         1
1984         1
1987         1
1988         1
1989         3
1991         2
1992         1
1993         2
1994         1
1995         4
1996         6
1997         7
1998        20
1999       226
2           74
2  0        58
2  1         1
2 *0         1
2 0         30
2 00      1140
2*00         4
20         152
20 *         2
20 0       458
20 1         1
20*          2
20**         5
20*0         7
200        306
200*         2
2000    352083
2001       122
2002         3
2006         1
201          2
2010        16
2011        36
2020         1
2022         1
2030         1
2060         1
2099         2
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64

In [9]:
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '201')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2  0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2  1')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 *0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2 00')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '2*00')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 *')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20 1')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20*')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20**')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '20*0')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '200')
data_2000_2 = drop_lines(data_2000_2, 'IND_ANNO_TERMINO_BACHILLERATO', '200*')

In [10]:
"""This columns looks good"""
print(data_2000_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2000_2['COLE_JORNADA'].value_counts().sort_index())

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C     82291
M    146632
N     46800
S       449
T     76445
Name: COLE_JORNADA, dtype: int64

In [11]:
"""Obtained an error, a this happens because of the NaN values, i decide to do a first treatment, just deleting the 
data. Then in another time i can find another way to treat this NaN values. This almost 20000 lines just represent 
a 5% of the data"""
#print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
#print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index())
missing_data(data_2000_2['COLE_VALOR_PENSION'])

Elementos null/NaN 19353
__________________
Elementos diferentes de null/NaN: 333264
__________________
(333264,)

In [12]:
"""Deleting the lines that has de NaN value in the columns COLE_VALOR_PENSION"""
data_2000_2.drop(data_2000_2[data_2000_2['COLE_VALOR_PENSION'].isnull()].index, inplace=True)

In [13]:
"""Checking if that worked"""
data_2000_2['COLE_VALOR_PENSION'].isnull().sum()

0

In [14]:
data_2000_2['COLE_VALOR_PENSION'].value_counts()

1      99503
8      61552
1.0    39173
8.0    28694
2      23161
3      18513
4      14730
5      10992
6       8598
2.0     7539
3.0     5704
4.0     5328
5.0     4826
7       2586
6.0     1834
7.0      503
*         28
Name: COLE_VALOR_PENSION, dtype: int64

In [15]:
"""So now, i can replace the duplicates written as floats. I insert the string values corresponding to each number"""
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(1.0, '1')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(8.0, '8')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(2.0, '2')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(3.0, '3')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(4.0, '4')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(5.0, '5')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(6.0, '6')
data_2000_2['COLE_VALOR_PENSION'] = data_2000_2['COLE_VALOR_PENSION'].replace(7.0, '7')

"""Now the files with the '*' value are deleted"""
data_2000_2 = drop_lines(data_2000_2, 'COLE_VALOR_PENSION', '*')

In [16]:
print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2000_2['COLE_VALOR_PENSION'].value_counts().sort_index())

Index(['1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
1    138676
2     30700
3     24217
4     20058
5     15818
6     10432
7      3089
8     90246
Name: COLE_VALOR_PENSION, dtype: int64

In [17]:
"""This column is ok"""
print(data_2000_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_GENERO'].value_counts().sort_index())

Index(['F', 'M'], dtype='object')
F    180197
M    153039
Name: ESTU_GENERO, dtype: int64

In [18]:
"""I get errors with this column"""
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts().index)
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts())
missing_data(data_2000_2['ESTU_NACIMIENTO_DIA'])

Index(['01', '20', '05', '10', '03', '28', '15', '18', '12', '07', '04', '06',
       '23', '08', '02', '17', '11', '25', '26', '16', '22', '14', '24', '27',
       '09', '13', '19', '21', '29', '30', '31',  1.0,  5.0,  3.0, 15.0, 10.0,
        6.0, 20.0, 25.0,  2.0, 12.0,  7.0,  8.0, 27.0, 28.0, 17.0, 16.0,  9.0,
       11.0, 18.0,  4.0, 14.0, 23.0, 19.0, 22.0, 24.0, 26.0, 13.0, 21.0, 29.0,
       30.0, 31.0,  '1',  '2',  '3',  '*', '1*',  '0',  '4',  '8', '2*',  '7',
        0.0,  '9',  '5', '00',  '6', '32', '39', '*1', '*9', '0*'],
      dtype='object')
01      8320
20      8290
05      8258
10      8254
03      8186
28      8169
15      8091
18      8049
12      7993
07      7985
04      7975
06      7967
23      7965
08      7964
02      7955
17      7938
11      7928
25      7879
26      7877
16      7831
22      7829
14      7804
24      7792
27      7785
09      7764
13      7685
19      7632
21      7583
29      7395
30      7228
        ...
23.0    2944
19.0    2927
22.0    2921
24.0    2913
26.0    2868
13.0    2846
21.0    2820
29.0    2784
30.0    2713
31.0    1615
1        196
2        176
3         42
*         22
1*        14
0         13
4          9
8          8
2*         6
7          6
0.0        5
9          4
5          3
00         2
6          2
32         1
39         1
*1         1
*9         1
0*         1
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 262
__________________
Elementos diferentes de null/NaN: 332974
__________________
(332974,)

In [19]:
"""how there is just 268 lines with NaN values, i decide to delete them"""
data_2000_2.drop(data_2000_2[data_2000_2['ESTU_NACIMIENTO_DIA'].isnull()].index, inplace=True)

In [20]:
"""With the NaN values deleted, there is some lines that has to be erased"""
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '1*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '2*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', 0.0)
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '00')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '*1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '0*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '*9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '32')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_DIA', '39')

"""Now it's time to replace the number values for string values"""
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(1.0, '1')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(2.0, '2')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(3.0, '3')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(4.0, '4')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(5.0, '5')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(6.0, '6')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(7.0, '7')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(8.0, '8')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(9.0, '9')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(10.0, '10')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(11.0, '11')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(12.0, '12')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(13.0, '13')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(14.0, '14')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(15.0, '15')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(16.0, '16')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(17.0, '17')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(18.0, '18')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(19.0, '19')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(20.0, '20')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(21.0, '21')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(22.0, '22')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(23.0, '23')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(24.0, '24')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(25.0, '25')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(26.0, '26')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(27.0, '27')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(28.0, '28')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(29.0, '29')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(30.0, '30')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace(31.0, '31')


"""And Finally a change some values to left everything in just one way"""
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('01', '1')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('05', '5')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('03', '3')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('07', '7')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('04', '4')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('06', '6')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('08', '8')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('02', '2')
data_2000_2['ESTU_NACIMIENTO_DIA'] = data_2000_2['ESTU_NACIMIENTO_DIA'].replace('09', '9')

In [21]:
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_DIA'].value_counts())

Index(['1', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '2',
       '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '3', '30',
       '31', '4', '5', '6', '7', '8', '9'],
      dtype='object')
1     11748
5     11430
20    11328
3     11297
10    11295
28    11157
2     11143
15    11137
6     11008
18    11006
12    11002
7     10995
8     10976
4     10939
17    10921
23    10909
25    10901
11    10888
16    10814
27    10783
14    10751
22    10750
26    10745
9     10740
24    10705
19    10559
13    10531
21    10403
29    10179
30     9941
31     5926
Name: ESTU_NACIMIENTO_DIA, dtype: int64

In [22]:
"""This column is OK"""
print(data_2000_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     27749
2.0     24812
3.0     27836
4.0     26482
5.0     27544
6.0     26308
7.0     27071
8.0     28093
9.0     29721
10.0    29553
11.0    28529
12.0    28326
Name: ESTU_NACIMIENTO_MES, dtype: int64

In [23]:
"""This column present A LOT of incoherences."""
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())

Index(['*', '**', '*7', '*9', '*972', '0', '0*3', '00', '0973', '098',
       ...
       '2000', '2980', '7', '8', '9', '9 0', '9*1', '95', '97', '98'],
      dtype='object', length=122)
*            3
**           4
*7           1
*9           1
*972         1
0            2
0*3          1
00           1
0973         1
098          1
1            2
1  0         1
1  9         1
1 *6         1
1 *8         1
1 *9         1
1 8          1
1 9*         5
1 96         1
1 97         4
1*           2
1*8          1
17           1
19           8
19 *         8
19 0         1
19 1         1
19 6         4
19 7        17
19 8         4
         ...
1980     19760
1981     38164
1982     68431
1983    102955
1984     60732
1985      5430
1986       196
1987        50
1988        53
1989        51
199          2
199*        21
1990        19
1991         1
1996         1
1997         3
1998         1
1999         1
2 *7         2
2 00         1
2000         3
2980         1
7            1
8            1
9            3
9 0          1
9*1          1
95           1
97           1
98           3
Name: ESTU_NACIMIENTO_ANNO, dtype: int64

In [24]:
"""All of that incoherences found, will be deleted"""
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '**')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '*7')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '*9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '*972')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '0*3')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '00')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '0973')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '098')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1  0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1  9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 *6')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 *8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 *9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 9*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 9*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 96')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1 97')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '1*8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '17')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 *')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 5')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 6')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 7')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19 8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*4')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '19*8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '191')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '194')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '195')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '196')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '197')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '197*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '198')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '198*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '199')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '199*')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '2 *7')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '2 00')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '7')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '8')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '9 0')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '9 2')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '9*1')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '95')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '97')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '98')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_NACIMIENTO_ANNO', '2980')

In [25]:
"""I Check the changes"""
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())

Index(['1928', '1930', '1932', '1933', '1934', '1936', '1937', '1938', '1939',
       '1940', '1941', '1942', '1943', '1944', '1945', '1946', '1947', '1948',
       '1949', '1950', '1951', '1952', '1953', '1954', '1955', '1956', '1957',
       '1958', '1959', '1960', '1961', '1962', '1963', '1964', '1965', '1966',
       '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975',
       '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984',
       '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1996', '1997',
       '1998', '1999', '2000'],
      dtype='object')
1928         1
1930         1
1932         3
1933         2
1934         1
1936         1
1937         1
1938        21
1939        10
1940         4
1941         4
1942         9
1943         5
1944        16
1945        16
1946        20
1947        26
1948        40
1949        31
1950        49
1951        59
1952        87
1953        87
1954       125
1955       136
1956       145
1957       184
1958       212
1959       218
1960       287
         ...
1967       675
1968       744
1969       875
1970       839
1971       964
1972      1118
1973      1227
1974      1454
1975      1871
1976      2314
1977      3427
1978      5525
1979     10449
1980     19760
1981     38164
1982     68431
1983    102955
1984     60732
1985      5430
1986       196
1987        50
1988        53
1989        51
1990        19
1991         1
1996         1
1997         3
1998         1
1999         1
2000         3
Name: ESTU_NACIMIENTO_ANNO, dtype: int64

In [26]:
"""This Column looks OK"""
print(data_2000_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2000_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             478
ANTIOQUIA          49461
ARAUCA              1558
ATLANTICO          25614
BOGOTA             64106
BOLIVAR            16606
BOYACA             13959
CALDAS              9849
CAQUETA             2479
CASANARE            2014
CAUCA               1264
CESAR               8127
CHOCO               2972
CORDOBA            13805
CUNDINAMARCA       19633
GUAINIA              113
GUAVIARE             352
HUILA               8488
LA GUAJIRA          4341
MAGDALENA           9489
META                6137
NARIÑO               368
NORTE SANTANDER    11881
PUTUMAYO            1407
QUINDIO             5391
RISARALDA           8666
SAN ANDRES           602
SANTANDER          19752
SUCRE               6862
TOLIMA             12430
VALLE               3641
VAUPES                84
VICHADA              214
Name: ESTU_DEPTO_PRESENTACION, dtype: int64

In [27]:
"""Checked. Looks OK"""
print(data_2000_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2000_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLANUEVA', 'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=312)
ABEJORRAL                  167
ABREGO                      32
ACACIAS                    565
ACANDI                      39
ACHI                        59
AGUACHICA                 1372
AGUADAS                    178
AGUAZUL                    194
AGUSTIN CODAZZI            402
AIPE                       145
AMAGA                      600
AMALFI                     221
ANDES                      406
ANSERMA                    543
ANTIOQUIA                  522
APARTADO                  1083
ARACATACA                  328
ARAUCA                     641
ARAUQUITA                  129
ARBELAEZ                   138
ARBOLEDAS                   45
ARBOLETES                  400
ARIGUANI (EL DIFICIL)      240
ARJONA                     570
ARMENIA                   3907
ASTREA                      83
AYAPEL                     270
BAGADO                      65
BAHIA SOLANO (MUTIS)        87
BAJO BAUDO   (PIZARRO)      33
                          ...
TOLU                       219
TOLUVIEJO                   89
TULUA                      274
TUMACO                      92
TUNJA                     3538
TURBACO                    700
TURBO                      620
TURMEQUE                   164
TUTA                        65
UBATE                      684
UNGUIA                      53
URRAO                      266
VALLEDUPAR                4802
VELEZ                      416
VENADILLO                  232
VENTAQUEMADA                70
VIGIA DEL FUERTE            10
VILLA DE LEYVA             190
VILLA DEL ROSARIO          544
VILLAMARIA                  68
VILLANUEVA                 696
VILLAVICENCIO             4384
VILLETA                    380
VIOTA                       82
YARUMAL                    641
YOLOMBO                    272
YOPAL                     1032
ZAPATOCA                   115
ZARAGOZA                   153
ZIPAQUIRA                 1465
Name: ESTU_MCPIO_PRESENTACION, dtype: int64

In [28]:
"""This column has some troubles."""
print(data_2000_2['ESTU_ETNIA'].value_counts().index)
print(data_2000_2['ESTU_ETNIA'].value_counts())

Index(['99', 99.0, '01',  '*',  1.0, '08', '03', '02',  2.0,  3.0, '06',  6.0,
        5.0, '05', '07',  8.0,  7.0, '04',  4.0,  '9',  9.0,  '1'],
      dtype='object')
99      28203
99.0    11095
01       6184
*        3380
1.0      1996
08       1411
03        734
02        557
2.0       496
3.0       329
06        220
6.0        90
5.0        86
05         74
07         56
8.0        33
7.0        29
04         26
4.0        21
9          10
9.0         2
1           1
Name: ESTU_ETNIA, dtype: int64

In [29]:
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('01', '1')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('02', '2')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('03', '3')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('04', '4')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('05', '5')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('06', '6')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('07', '7')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace('08', '8')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(99.0, '99')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(1.0, '1')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(2.0, '2')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(3.0, '3')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(4.0, '4')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(5.0, '5')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(6.0, '6')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(7.0, '7')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(8.0, '8')
data_2000_2['ESTU_ETNIA'] = data_2000_2['ESTU_ETNIA'].replace(9.0, '9')
data_2000_2 = drop_lines(data_2000_2, 'ESTU_ETNIA', '*')

"""And now it's ready"""

"And now it's ready"

In [30]:
"""Even if this column has to many NaN values, is OK, in the encode process that NaN values will be -1"""
print(data_2000_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2000_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2000_2['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    28
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 328735
__________________
Elementos diferentes de null/NaN: 28
__________________
(28,)
None

In [31]:
"""This column hasn't got any row with a value so this column will be deleted."""
print(data_2000_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2000_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)

In [32]:
"""Deleting..."""
data_2000_2.drop('ESTU_LIMITA_SORDOINTERPRETE', axis=1, inplace=True)
"""Deleted"""

'Deleted'

In [33]:
"""Even if this column has to many NaN values, is OK, in the encode process that NaN values will be -1"""
print(data_2000_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2000_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())

Index(['S'], dtype='object')
S    44
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64

In [34]:
"""Even if this column has to many NaN values, is OK, in the encode process that NaN values will be -1"""
print(data_2000_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2000_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())

Index(['M'], dtype='object')
M    64
Name: ESTU_LIMITA_MOTRIZ, dtype: int64

In [35]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_BIOLOGIA'].value_counts().sort_index())

Int64Index([ 0, 14, 21, 22, 26, 27, 29, 30, 32, 33, 34, 35, 36, 38, 40, 41, 42,
            43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
            61, 62, 64, 65, 67, 69, 70, 71, 73, 76],
           dtype='int64')
0        62
14       82
21        1
22      259
26        3
27      932
29       17
30     2551
32       41
33     5690
34       94
35    10634
36      144
38    17655
40    25047
41    31153
42      315
43    35736
45    37033
46    35867
47    31072
48      281
49    26103
50    20010
51    15307
52      135
53    11028
54     7534
55     5105
56       24
57     3473
58     2113
59     1314
60        7
61      837
62      490
64      287
65      139
67      106
69       47
70        1
71       19
73       12
76        3
Name: PUNT_BIOLOGIA, dtype: int64

In [36]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_BIOLOGIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_BIOLOGIA'].value_counts().sort_index())

Int64Index([ 0, 14, 21, 22, 26, 27, 29, 30, 32, 33, 34, 35, 36, 38, 40, 41, 42,
            43, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
            61, 62, 64, 65, 67, 69, 70, 71, 73, 76],
           dtype='int64')
0        62
14       82
21        1
22      259
26        3
27      932
29       17
30     2551
32       41
33     5690
34       94
35    10634
36      144
38    17655
40    25047
41    31153
42      315
43    35736
45    37033
46    35867
47    31072
48      281
49    26103
50    20010
51    15307
52      135
53    11028
54     7534
55     5105
56       24
57     3473
58     2113
59     1314
60        7
61      837
62      490
64      287
65      139
67      106
69       47
70        1
71       19
73       12
76        3
Name: PUNT_BIOLOGIA, dtype: int64

In [37]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_FILOSOFIA'].value_counts().sort_index())

Int64Index([ 0,  8,  9, 17, 22, 23, 26, 27, 29, 30, 32, 34, 35, 36, 37, 38, 39,
            40, 41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
            58, 59, 60, 61, 62, 64, 66, 68, 70, 72, 75, 78],
           dtype='int64')
0       210
8         1
9        84
17      192
22        7
23      424
26       11
27     1244
29       32
30     2927
32     6317
34      101
35    11254
36      150
37    17926
38      220
39    24685
40      262
41    30439
42    34702
44    35812
45      292
46    33993
47    29969
48      259
49    24726
50    20026
51      176
52    15084
53    11493
54       96
55     8352
56     6021
57       49
58     4106
59     2831
60       30
61     1804
62     1118
64      665
66      340
68      185
70       91
72       39
75       16
78        2
Name: PUNT_FILOSOFIA, dtype: int64

In [38]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_FISICA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_FISICA'].value_counts().sort_index())

Int64Index([ 0, 14, 23, 29, 33, 36, 39, 42, 44, 46, 48, 50, 51, 52, 53, 55, 56,
            57, 58, 60, 61, 63, 64, 66, 68, 69, 71, 73, 75, 77, 79, 82, 84],
           dtype='int64')
0        41
14      183
23      951
29     3375
33     8792
36    17825
39    30011
42    40538
44    47306
46    47495
48    42026
50    32971
51    22982
52      199
53    14590
55     8777
56     4836
57       36
58     2523
60     1383
61      772
63      434
64      284
66      166
68       89
69       62
71       44
73       26
75       18
77       16
79        6
82        2
84        4
Name: PUNT_FISICA, dtype: int64

In [39]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_HISTORIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_HISTORIA'].value_counts().sort_index())

Int64Index([ 0, 12, 19, 23, 24, 26, 27, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38,
            39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
            56, 57, 58, 60, 61, 62, 63, 65, 67, 70, 73],
           dtype='int64')
0        24
12       43
19      125
23        3
24      441
26        7
27     1342
29       30
30     3213
31       43
32     6479
33      107
34    11175
35      140
36    17064
37    22647
38      223
39    26929
40    29625
41      281
42    29589
43    29189
44    26837
45      245
46    24011
47    20854
48    17941
49    15102
50      117
51    12241
52     9748
53     7768
54     5561
55       51
56     3849
57     2627
58     1545
60      884
61        4
62      381
63      184
65       64
67       21
70        5
73        4
Name: PUNT_HISTORIA, dtype: int64

In [40]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_QUIMICA'].value_counts().sort_index())

Int64Index([ 0, 18, 25, 29, 32, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
            46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
            63, 64, 65, 66, 68, 70, 73, 77, 84, 95],
           dtype='int64')
0        61
18       84
25      249
29      669
32     1892
34     4576
35       71
36     9158
37      121
38    15901
39    23062
40      290
41    29674
42    34313
43      380
44    35841
45    33481
46    28819
47    24319
48    19326
49    15284
50       99
51    11733
52     8920
53     6876
54     5471
55     4279
56     3394
57     2695
58       10
59     2132
60     1614
61     1234
62        2
63      884
64      676
65        1
66      459
68      329
70      208
73       98
77       56
84       20
95        2
Name: PUNT_QUIMICA, dtype: int64

In [41]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_LENGUAJE'].value_counts().sort_index().index)
print(data_2000_2['PUNT_LENGUAJE'].value_counts().sort_index())

Int64Index([ 0, 11, 19, 24, 27, 28, 30, 31, 32, 34, 36, 38, 40, 41, 42, 43, 44,
            45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61,
            62, 63, 64, 65, 66, 68, 71, 73, 77],
           dtype='int64')
0        67
11       85
19      124
24      259
27      608
28        9
30     1332
31       16
32     2873
34     5585
36     9010
38    13337
40    17535
41    21940
42      229
43    25385
44    26982
45      277
46    28298
47    27163
48    26446
49      300
50    24664
51    22100
52    19813
53      161
54    16166
55    12710
56     9522
57       43
58     6687
59     4232
60        8
61     2579
62     1248
63        8
64      573
65        2
66      273
68       80
71       26
73        7
77        1
Name: PUNT_LENGUAJE, dtype: int64

In [42]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_GEOGRAFIA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_GEOGRAFIA'].value_counts().sort_index())

Int64Index([ 0, 10, 18, 22, 25, 26, 28, 29, 30, 31, 33, 35, 36, 37, 38, 39, 40,
            41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57,
            58, 60, 61, 62, 63, 65, 67, 70],
           dtype='int64')
0        78
10       89
18      148
22      399
25        4
26     1007
28       16
29     2152
30       33
31     4412
33     7789
35    12228
36      138
37    17078
38      224
39    22134
40    26279
41      269
42    29063
43    30288
44      277
45    29609
46    27929
47    25552
48      239
49    22475
50    19015
51    15627
52      138
53    11915
54     8744
55     6014
56       38
57     3719
58     2003
60     1014
61        7
62      419
63      145
65       42
67       13
70        1
Name: PUNT_GEOGRAFIA, dtype: int64

In [43]:
"""This column Looks OK"""
print(data_2000_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2000_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())

Int64Index([43, 44, 45], dtype='int64')
43    134713
44    165188
45     28862
Name: COD_INTERDISCIPLINAR, dtype: int64

In [44]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2000_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())

Int64Index([ 0, 24, 25, 27, 29, 30, 32, 37, 38, 40, 41, 42, 43, 44, 45, 46, 47,
            48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64,
            65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 81, 83, 88, 90,
            95],
           dtype='int64')
0      1544
24     4661
25      183
27       22
29        1
30      970
32    12411
37    22252
38      356
40        2
41     2798
42    29228
43        4
44      342
45    30808
46        4
47        6
48    30107
49        1
50       10
51    18388
52       15
53     5305
54    11058
55      105
56      578
57      983
58    12611
59     5114
60     8790
61    14663
62    23380
63    15945
64    21068
65    17490
66    13097
67     8329
68     5630
69     4191
70     2774
71      973
72       89
73      322
74     1259
76        9
78      523
81       18
83      233
88       73
90       15
95       25
Name: PUNT_INTERDISCIPLINAR, dtype: int64

In [45]:
"""This column loooks OK"""
print(data_2000_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2000_2['COD_IDIOMA'].value_counts().sort_index())

Int64Index([51, 52, 53], dtype='int64')
51    326236
52      2395
53       132
Name: COD_IDIOMA, dtype: int64

In [46]:
"""TARGET: Looks OK"""
print(data_2000_2['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2000_2['PUNT_IDIOMA'].value_counts().sort_index())

Int64Index([ 0, 14, 21, 24, 25, 29, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41,
            42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
            59, 60, 61, 62, 63, 64, 66, 67, 68, 69, 71, 72, 74, 77, 79, 82, 86,
            98],
           dtype='int64')
0       249
14      161
21      598
24        6
25     2024
29     5207
31    10609
32       56
33    18716
34      199
35    27679
36       11
37    35362
38       17
39    39391
40    38627
41      276
42    35253
43    28513
44    22026
45      253
46    16195
47    11048
48     7751
49     5600
50     4094
51       58
52     3217
53     2504
54     2012
55     1728
56       20
57     1561
58     1247
59     1133
60        7
61     1017
62       12
63      921
64      788
66      698
67        2
68      614
69        5
71      501
72        7
74      401
77        3
79      258
82        1
86      107
98       20
Name: PUNT_IDIOMA, dtype: int64

In [55]:
"""This column has a lot of incoherences, this incoherences will be replaced for NaN"""
print(data_2000_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2000_2['ESTU_IES_COD_DESEADA'].value_counts().sort_index())

Index(['*  *', '* *', '* 0', '* 01', '* 02', '* 06', '* 07', '* 10', '* 13',
       '* 20',
       ...
       '9836', '99', '99 9', '9900', '9909', '9949', '999', '9998', '9999',
       'NaN'],
      dtype='object', length=1535)
*  *        5
* *         9
* 0         1
* 01        5
* 02        1
* 06        2
* 07        3
* 10        1
* 13        1
* 20        1
* 28        1
* 30        1
* 70        1
**         36
** 0        1
****       36
***0        1
***1        1
***2        1
***9        2
**01        1
**05        1
**1*        1
**14        1
**9*        1
*0          6
*0 3        1
*00         1
*02         2
*03         1
        ...
8681        2
8799        1
8829        1
8849        1
8888        1
9          40
9  9        9
9 9         7
9 99       16
9***        2
9103        1
9113        1
9201        1
9202        1
9206        1
9211        1
952         1
9807        1
9813        1
9822        1
9836        1
99         31
99 9       21
9900        1
9909        1
9949        1
999       139
9998        1
9999    25676
NaN        16
Name: ESTU_IES_COD_DESEADA, dtype: int64

In [56]:
"""The codes of the universities are of 4 digits"""
#data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*  *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 01', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 02', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 06', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 07', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 10', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 13', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 20', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 28', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 30', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('* 70', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('**', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('** 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('****', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('***0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('***1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('***2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('***9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('**01', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('**05', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('**1*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('**14', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('**9*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*0 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*00', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*02', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*03', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*07', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*08', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*1 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*1 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*10', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*101', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*106', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*11', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*112', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*113', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*117', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*118', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*13', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*16', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*17', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*2 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*2 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*20', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*204', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*205', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*209', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*217', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*218', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*22', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*23', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*28', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*290', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*301', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*31', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*33*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*40', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*50', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*62', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*7*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*704', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*723', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*729', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*80', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*81', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*812', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*825', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*82', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*836', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*9*9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('*999', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('001', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('009', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('01', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('017', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('02', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('03', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('04', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('04 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('04**', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('04*5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('04*8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('05', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('06', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('07', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('08', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('08 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('08*8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('089*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('09', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1  9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 **', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 *0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 *1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 *3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 *5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 *6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 *7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 *8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 0*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 00', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 01', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 02', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 03', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 04', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 05', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 06', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 07', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 08', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 09', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 1*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 10', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 11', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 12', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 13', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 14', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 15', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 16', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 17', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 18', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 19', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 2*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 20', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 22', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 23', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 24', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 25', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 26', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 27', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 29', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 72', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 79', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1* 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1* 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1* 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1* 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1* 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1* 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1* 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1* 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1**', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1***', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1**1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*0*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*01', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*02', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*04', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*06', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*09', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*10', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*12', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*13', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*24', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('1*8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('10', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('10 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('10 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('10*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('100', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('101', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('102', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('103', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('104', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('105', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('106', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('107', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('109', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11*1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11*2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('11*5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('110', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('110*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('111', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('111*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('112', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('112*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('113', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('114', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('115', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('116', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('118', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('119', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('12*9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('120', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('120*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('121', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('121*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('127', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('13', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('13 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('13*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('130', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('130*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('14*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('15', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('15 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('15*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('162', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('17*8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('170', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('170*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('171', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('172', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('176', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('18*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('180', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('181', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('181*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('182', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('182*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('189', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('19', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2  3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2  4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2  5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2  6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2  7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 *5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 *6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 02', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 04', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 05', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 06', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 07', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 08', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 09', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 13', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 14', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 15', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 2*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 23', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 25', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 27', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 28', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 29', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 3*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 32', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 33', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2* 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2* 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2*0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2*05', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2*15', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2*2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2*3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2*5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('2*8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('20', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('200', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('201', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('202', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('203', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('204', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('205', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('207', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('208', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('209', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('21', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('21 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('21 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('21 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('21 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('21 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('21 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('21*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('210', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('210*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('211', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('211*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('212', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('213', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('214', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('215', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('216', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('217', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('22', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('22 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('22 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('22*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('220', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('23', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('24', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('25', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('26', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('262*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('27', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('27 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('27 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('27 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('27*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('270', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('271', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('272', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('273', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('28', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('28 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('28 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('28*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('28*2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('280', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('280*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('281', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('281*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('282', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('283', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('290', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3  1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3  3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3  5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3  6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 *06', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 04', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 05', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 09', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 10', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 11', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 12', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 16', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 17', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 21', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 25', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 26', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 29', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 30', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3 44', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3* 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3* 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3*15', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3*6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('3*7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('301', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('305', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('31*5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('310', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('311', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('315', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('32', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('32 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('32*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('320', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('320*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('33 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('36', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('37', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('37 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('37 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('37 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('37*2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('370', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('371', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('371*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('38', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('38 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('38 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('38 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('38*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('380', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('381', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('382', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('383', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4  0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4  3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4  7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 01', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 02', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 04', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 05', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 08', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 09', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 10', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 11', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 12', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 13', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 14', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 17', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 21', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 22', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 23', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 3*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 32', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4 36', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4* 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4* 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4*1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4*13', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4*2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4*4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('4*5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('41 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('41 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('41 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('41*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('410', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('411', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('430', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('47', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('47 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('47 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('47 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('47*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('470', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('470*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('471', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('472', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('472*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48 *', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('48*8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('480', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('481', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('482', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('483', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('483*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('5*0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('518', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('518*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('520', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('6  4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('6 97', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('60', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('653', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('678', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7 1', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7 2', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7 3', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7 4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7 7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7*4', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('7*7', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('70', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('701', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('702', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('703', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('704', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('705', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('706', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('707', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('708', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('709', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('710', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('711', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('712', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('713', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('716', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('718', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('72', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('72*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('720', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('723', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('724', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('727', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('728', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('73', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('759', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('8 0', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('8 5', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('8 6', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('8 8', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('8*', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('80', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('801', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('802', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('804', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('805', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('806', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('807', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('808', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('809', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('81', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('810', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('811', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('812', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('813', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('816', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('817', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('818', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('819', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('82', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('820', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('821', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('822', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('823', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('824', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('825', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('826', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('827', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('828', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('83', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('832', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('834', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('837', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('843', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('86', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('9  9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('9 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('9 99', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('9***', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('952', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('99', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('99 9', 'NaN')
data_2000_2['ESTU_IES_COD_DESEADA'] = data_2000_2['ESTU_IES_COD_DESEADA'].replace('999', 'NaN')

In [57]:
""""""
print(data_2000_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2000_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index())

Index(['*', '1', '2', '3', '4', '5', '6', '7', '8'], dtype='object')
*      152
1     6194
2    84885
3    43572
4    35013
5    40274
6    30993
7    21551
8    39611
Name: ESTU_RAZONINSTITUTO, dtype: int64

In [ ]:
"""Maybe Delete or replace for anything else"""
#data_2000_2['ESTU_RAZONINSTITUTO'] = data_2000_2['ESTU_RAZONINSTITUTO'].replace('*', )

In [58]:
"""Into this column i found a LOT of incoherences."""
print(data_2000_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2000_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())

Index(['*', '*   *', '*  2*', '* *', '* * 1', '* * 3', '* * 4', '* *0', '* *1',
       '* *2',
       ...
       '99113', '99155', '999', '999 9', '99909', '9999', '99990', '99991',
       '99998', '99999'],
      dtype='object', length=4622)
*            7
*   *        1
*  2*        1
* *          7
* * 1        4
* * 3        1
* * 4        1
* *0         2
* *1         3
* *2         1
* *3         1
* *4         1
* *9         1
* 07         1
* 1 *        2
* 1 2        1
* 1*         1
* 11         1
* 110        1
* 117        1
* 118        1
* 123        1
* 161        1
* 2*         1
* 33         1
* 4 *        1
* 4*         2
* 707        1
* 8          1
* 8 6        1
         ...
98110        2
98112        1
98113        3
98114        2
98119        5
98128        1
98142        1
98145        1
98155        1
98186        1
98197        1
98201        2
98210        1
99           6
99  9        1
99 9         5
99 99        8
99091        1
99099        1
99108        1
99113        1
99155        1
999         60
999 9        7
99909        2
9999       330
99990        1
99991        1
99998        1
99999    22587
Name: ESTU_CARRDESEADA_COD, dtype: int64

In [79]:
"""Here i'm replacing the values with anomalies for NaN, and i will let the rows that has got any number because the 
codes of the programs are so diverse. And then i will put NaN where the values has some space"""
for i in data_2000_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index:
    if '*' in i:
        data_2000_2['ESTU_CARRDESEADA_COD'] = data_2000_2['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')
    elif(' ' in i):
        data_2000_2['ESTU_CARRDESEADA_COD'] = data_2000_2['ESTU_CARRDESEADA_COD'].replace(i, 'NaN')

In [82]:
"""In this column i found just an incoherence with the * values"""
print(data_2000_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2000_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())

Index(['*', '1', '2', '3', '4', '5', '6'], dtype='object')
*       94
1    89716
2    77343
3    84559
4    24041
5    26284
6    10038
Name: ESTU_CARRDESEADA_RAZON, dtype: int64

In [83]:
data_2000_2['ESTU_CARRDESEADA_RAZON'] = data_2000_2['ESTU_CARRDESEADA_RAZON'].replace('*', 'NaN')

In [85]:
"""Incoherences with the * and the + values. I decide to let the + values as +9 human being in home,
and the * as NaN"""
print(data_2000_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2000_2['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())

Index(['*', '+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*      787
+    15185
1      778
2     9311
3    31877
4    70938
5    83024
6    55930
7    31570
8    17664
9    10304
Name: FAMI_PERSONAS_HOGAR, dtype: int64

In [86]:
data_2000_2['FAMI_PERSONAS_HOGAR'] = data_2000_2['FAMI_PERSONAS_HOGAR'].replace('*', 'NaN')
data_2000_2['FAMI_PERSONAS_HOGAR'] = data_2000_2['FAMI_PERSONAS_HOGAR'].replace('+', '+9')

In [89]:
"""Has got some * values, this values will be replaced for NaN"""
print(data_2000_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2000_2['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())

Index(['*', 'N', 'S'], dtype='object')
*        30
N     89693
S    233779
Name: FAMI_VIVIENDA_PROPIA, dtype: int64

In [90]:
data_2000_2['FAMI_VIVIENDA_PROPIA'] = data_2000_2['FAMI_VIVIENDA_PROPIA'].replace('*', 'NaN')

In [92]:
"""This column must be like a boolean, with just two values (S/N) but it has four different values, so i decided to
replace the * values for NaN, and replace the 1 for S, and the 2 for N because of the amounts"""
print(data_2000_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2000_2['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())

Index(['*', '1', '2', 'N', 'S'], dtype='object')
*        15
1        12
2        33
N    157191
S     54281
Name: FAMI_DEUDA_VIVIENDA, dtype: int64

In [93]:
data_2000_2['FAMI_DEUDA_VIVIENDA'] = data_2000_2['FAMI_DEUDA_VIVIENDA'].replace('*', 'NaN')
data_2000_2['FAMI_DEUDA_VIVIENDA'] = data_2000_2['FAMI_DEUDA_VIVIENDA'].replace('1', 'S')
data_2000_2['FAMI_DEUDA_VIVIENDA'] = data_2000_2['FAMI_DEUDA_VIVIENDA'].replace('2', 'N')

In [96]:
"""I really don't know what means the 0..."""
print(data_2000_2['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2000_2['FAMI_APORTANTES'].value_counts().sort_index())

Index(['*', '+', '0', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
*       587
+       270
0      1582
1    173779
2    117988
3     21449
4      6150
5      1642
6       571
7       220
8       109
9        74
Name: FAMI_APORTANTES, dtype: int64

In [ ]:
""""""
print(data_2000_2[''].value_counts().sort_index().index)
print(data_2000_2[''].value_counts().sort_index())

In [49]:
data_2000_2.columns

Index(['COLE_COD_ICFES', 'IND_ANNO_TERMINO_BACHILLERATO', 'COLE_JORNADA',
       'COLE_VALOR_PENSION', 'ESTU_GENERO', 'ESTU_NACIMIENTO_DIA',
       'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION', 'ESTU_ETNIA',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDONOINTERPRETE',
       'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA', 'PUNT_MATEMATICAS',
       'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA', 'PUNT_QUIMICA',
       'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'COD_INTERDISCIPLINAR',
       'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA', 'PUNT_IDIOMA',
       'ESTU_IES_COD_DESEADA', 'ESTU_RAZONINSTITUTO', 'ESTU_CARRDESEADA_COD',
       'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR', 'FAMI_VIVIENDA_PROPIA',
       'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_RESIDE_DEPTO',
       'ESTU_RESIDE_MCPIO'],
      dtype='object')