# Procesado de Datos

Año 2000

In [1]:
import pandas as pd
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2000 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20001-RGSTRO-CLFCCN-V1-0.txt", delimiter="|",
                        encoding="iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (5,12,14,15,29,31) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2000.head(2)

,ESTU_CONSECUTIVO,COLE_COD_ICFES,COLE_NOMBRE_SEDE,IND_ANNO_TERMINO_BACHILLERATO,COLE_JORNADA,COLE_VALOR_PENSION,ESTU_GENERO,ESTU_NACIMIENTO_DIA,ESTU_NACIMIENTO_MES,ESTU_NACIMIENTO_ANNO,...,ESTU_TRABAJA,ESTU_ACT_PROX_ANNO,COLE_CALENDARIO,COLE_BILINGUE,COLE_CARACTER,COLE_DEPTO_UBICACION,COLE_MCPIO_UBICACION,ESTU_TIPO_DOCUMENTO,ESTU_RESIDE_DEPTO,ESTU_RESIDE_MCPIO
0,SB11200010000203,83048,INSTITUTO STUDIUM,1999,C,3,F,19.0,3.0,1981.0,...,N,1,F,NaN,ACADEMICO,BOGOTA,BOGOTç D.C.,C,BOGOTA,BOGOTA D.C.
1,SB11200010000204,3327,COLEGIO HEBREO UNION,2000,C,8,F,28.0,4.0,1982.0,...,N,1,B,NaN,ACADEMICO,ATLANTICO,BARRANQUILLA,N,ATLANTICO,BARRANQUILLA

In [4]:
data_2000.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200010000203,SB11200010000204,SB11200010000205
COLE_COD_ICFES,83048,3327,19364
COLE_NOMBRE_SEDE,INSTITUTO STUDIUM,COLEGIO HEBREO UNION,COLEGIO ANGLO COLOMBIANO
IND_ANNO_TERMINO_BACHILLERATO,1999,2000,2000
COLE_JORNADA,C,C,C
COLE_VALOR_PENSION,3,8,7
ESTU_GENERO,F,F,M
ESTU_NACIMIENTO_DIA,19,28,30
ESTU_NACIMIENTO_MES,3,4,4
ESTU_NACIMIENTO_ANNO,1981,1982,1982
ESTU_DEPTO_PRESENTACION,BOGOTA,ATLANTICO,BOGOTA
ESTU_MCPIO_PRESENTACION,BOGOTA D.C.,BARRANQUILLA,BOGOTA D.C.
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,52,51,59
PUNT_MATEMATICAS,47,52,58
PUNT_FILOSOFIA,55,59,44
PUNT_FISICA,49,43,60
PUNT_HISTORIA,63,52,50
PUNT_QUIMICA,49,54,68
PUNT_LENGUAJE,56,53,50
PUNT_GEOGRAFIA,56,57,43
COD_INTERDISCIPLINAR,43,45,43
PUNT_INTERDISCIPLINAR,55,47,53
COD_IDIOMA,51,51,51
PUNT_IDIOMA,45,58,75
ESTU_IES_COD_DESEADA,NaN,9999,9999
ESTU_RAZONINSTITUTO,8,NaN,2
ESTU_CARRDESEADA_COD,1707,4701,99999
ESTU_CARRDESEADA_RAZON,2,3,2
FAMI_PERSONAS_HOGAR,2,@,5
FAMI_VIVIENDA_PROPIA,S,N,S
FAMI_DEUDA_VIVIENDA,N,NaN,S
FAMI_APORTANTES,1,2,2
FAMI_INGRESO_FMILIAR_MENSUAL,4,4,9
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,4,7,8
FAMI_EDUCA_MADRE,8,4,7
FAMI_OCUPA_PADRE,05,03,04
FAMI_OCUPA_MADRE,NaN,10,04
FAMI_NUM_HERMANOS,NaN,2,1
FAMI_NUM_HERMANOS_EDUSUPERIOR,2,2,1
FAMI_POSICION_HERMANOS,3,3,2
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,1,1,2
COLE_CALENDARIO,F,B,B
COLE_BILINGUE,NaN,NaN,1
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO
COLE_DEPTO_UBICACION,BOGOTA,ATLANTICO,BOGOTA
COLE_MCPIO_UBICACION,BOGOTç D.C.,BARRANQUILLA,BOGOTç D.C.
ESTU_TIPO_DOCUMENTO,C,N,T
ESTU_RESIDE_DEPTO,BOGOTA,ATLANTICO,BOGOTA
ESTU_RESIDE_MCPIO,BOGOTA D.C.,BARRANQUILLA,BOGOTA D.C.

In [5]:
data_2000['FAMI_PERSONAS_HOGAR'].value_counts().sort_index()

1      274
2     2744
3     8917
5    18814
6    11487
7     6493
8     3781
9     2208
@    19122
Name: FAMI_PERSONAS_HOGAR, dtype: int64

The simbol "@" will be changed for the number 4, because the average in Colombian's homes is near to 4.

In [6]:
data_2000 = letters_to_num(data_2000, ["@"], ["4"], "FAMI_PERSONAS_HOGAR")

Then, the following columns will be reviewed

In [7]:
data_2000['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index()

@        4
N    20144
S    53182
Name: FAMI_VIVIENDA_PROPIA, dtype: int64

There are very few rows with the value "@", so the rows that has it will be deleted.

In [8]:
data_2000 = drop_lines(data_2000, "FAMI_VIVIENDA_PROPIA", "@")

In [9]:
data_2000['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index()

@        3
N    36147
S    11464
Name: FAMI_DEUDA_VIVIENDA, dtype: int64

In [10]:
data_2000 = drop_lines(data_2000, "FAMI_DEUDA_VIVIENDA", "@")

In [11]:
data_2000['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index()

@       35
N     2263
S    67423
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64

In [12]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_PADRE", "@")

In [13]:
data_2000['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index()

@       30
N     2847
S    71998
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64

In [14]:
data_2000 = drop_lines(data_2000, "FAMI_LEE_ESCRIBE_MADRE", "@")

In [15]:
data_2000['FAMI_SOST_PERSONAL'].value_counts().sort_index()

@        3
N     6577
P    10337
T    57575
Name: FAMI_SOST_PERSONAL, dtype: int64

In [16]:
data_2000 = drop_lines(data_2000, "FAMI_SOST_PERSONAL", "@")

In [17]:
data_2000['ESTU_TRABAJA'].value_counts().sort_index()

@        2
N    63153
S    10608
Name: ESTU_TRABAJA, dtype: int64

In [18]:
data_2000 = drop_lines(data_2000, "ESTU_TRABAJA", "@")

In [19]:
data_2000['COLE_CALENDARIO'].value_counts().sort_index()

A     6697
B    49422
F    21430
Name: COLE_CALENDARIO, dtype: int64

In [20]:
data_2000['COLE_CARACTER'].value_counts().sort_index()

ACADEMICO              38189
ACADEMICO Y TECNICO    17827
NORMALISTA              1168
TECNICO                20365
Name: COLE_CARACTER, dtype: int64

In [21]:
remaining_c = data_2000.columns.difference(['FAMI_PERSONAS_HOGAR', 'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_LEE_ESCRIBE_PADRE',
                     'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'COLE_CALENDARIO',
                     'COLE_CARACTER'])

In [22]:
remaining_c

Index(['COD_IDIOMA', 'COD_INTERDISCIPLINAR', 'COLE_BILINGUE', 'COLE_COD_ICFES',
       'COLE_DEPTO_UBICACION', 'COLE_JORNADA', 'COLE_MCPIO_UBICACION',
       'COLE_NOMBRE_SEDE', 'COLE_VALOR_PENSION', 'ESTU_ACT_PROX_ANNO',
       'ESTU_CARRDESEADA_COD', 'ESTU_CARRDESEADA_RAZON', 'ESTU_CONSECUTIVO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_GENERO', 'ESTU_IES_COD_DESEADA',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_MOTRIZ',
       'ESTU_LIMITA_SORDOINTERPRETE', 'ESTU_LIMITA_SORDONOINTERPRETE',
       'ESTU_MCPIO_PRESENTACION', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_NACIMIENTO_DIA', 'ESTU_NACIMIENTO_MES', 'ESTU_RAZONINSTITUTO',
       'ESTU_RESIDE_DEPTO', 'ESTU_RESIDE_MCPIO', 'ESTU_TIPO_DOCUMENTO',
       'FAMI_APORTANTES', 'FAMI_EDUCA_MADRE', 'FAMI_EDUCA_PADRE',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_OCUPA_MADRE', 'FAMI_OCUPA_PADRE',
       'FAMI_POSICION_HERMANOS', 'IND_ANNO_TERMINO_BACHILLERATO',
       'PUNT_BIOLOGIA', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_GEOGRAFIA',
       'PUNT_HISTORIA', 'PUNT_IDIOMA', 'PUNT_INTERDISCIPLINAR',
       'PUNT_LENGUAJE', 'PUNT_MATEMATICAS', 'PUNT_QUIMICA'],
      dtype='object')

Columnas:
- COD_IDIOMA: BIEN, int64
- COD_INTERDISCIPLINAR: Bien, int64
- COLE_BILINGUE: Bien, float64
- COLE_COD_ICFES: Bien, int64
- COLE_DEPTO_UBICACION: Bien, **OBJECT**
- COLE_JORNADA: Bien, **OBJECT**
- COLE_MCPIO_UBICACION: Bien, **OBJECT**
- COLE_NOMBRE_SEDE: Bien, **OBJECT**
- COLE_VALOR_PENSION: existen VALORES NaN, str **REVISAR**
- ESTU_ACT_PROX_ANNO: existen @ que se cambiaron por el valor 4 que falta, **OBJECT**
- ESTU_CARRDESEADA_RAZON: existen valores NaN, str **REVISAR**
- ESTU_DEPTO_PRESENTACION: Bien, **OBJECT**
- ESTU_GENERO: Bien, **OBJECT**
- ESTU_LIMITA_INVIDENTE: Bien, **OBJECT**, Muchos valores NaN
- ESTU_LIMITA_MOTRIZ: Bien, **OBJECT**, Muchos valores NaN
- ESTU_LIMITA_SORDONOINTERPRETE: Bien, **OBJECT**, Muchos valores NaN
- ESTU_MCPIO_PRESENTACION: Bien, **OBJECT**
- ESTU_NACIMIENTO_ANNO: Bien, Float64, Se eliminaron algunas filas porque no tenian logica (años 195, 196, 197, 198)
- ESTU_NACIMIENTO_DIA: Bien, Float64
- ESTU_NACIMIENTO_MES: Bien, Float64
- ESTU_RAZONINSTITUTO: Valores 'nan', ***REVISAR***
- ESTU_RESIDE_DEPTO: Bien, **OBJECT**
- ESTU_RESIDE_MCPIO: Bien, **OBJECT**
- ESTU_TIPO_DOCUMENTO: Bien, **OBJECT**
- FAMI_APORTANTES: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+9'
- FAMI_EDUCA_MADRE: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_EDUCA_PADRE: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_INGRESO_FMILIAR_MENSUAL: Bien, **OBJECT**, se eliminan las filas que poseen '@'
- FAMI_NUM_HERMANOS: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+10'
- FAMI_NUM_HERMANOS_EDUSUPERIOR: Bien, **OBJECT**, se eliminan las filas que poseen '@' y se cambia el + por '+10'
- FAMI_OCUPA_MADRE: Bien, **OBJECT** se eliminan las filas que poseen '@'
- FAMI_OCUPA_PADRE: Bien, **OBJECT** se eliminan las filas que poseen '@'
- FAMI_POSICION_HERMANOS: Bien **OBJECT**, se eliminan las filas que poseen '@' y se cambia el '+' por '+10'
- PUNT_BIOLOGIA: Bien, **OBJECT**
- PUNT_FILOSOFIA: Bien, **OBJECT**
- PUNT_FISICA: Bien, **OBJECT**
- PUNT_GEOGRAFIA: Bien, **OBJECT**
- PUNT_HISTORIA: Bien, **OBJECT**
- PUNT_IDIOMA: Bien, **OBJECT**
- PUNT_INTERDISCIPLINAR: Bien, **OBJECT**
- PUNT_LENGUAJE: Bien, **OBJECT**
- PUNT_MATEMATICAS: Bien, **OBJECT**
- PUNT_QUIMICA: Bien, **OBJECT**
___________________

ELIMINACIONES

- ESTU_CONSECUTIVO: Eliminada. no aporta para la prediccion ***ELIMINADA***
- ESTU_CARRDESEADA_COD: Datos con errores y demasiadas inconsistencias, ***ELIMINADA***
- ESTU_IES_COD_DESEADA: Datos con errores y demasiadas inconsistencias, ***ELIMINADA***
- ESTU_LIMITA_SORDOINTERPRETE: No tiene valores en ninguna fila, ***ELIMINADA***
- IND_ANNO_TERMINO_BACHILLERATO: Datos con errores y demasiadas inconsistencias. ***ELIMINADA***

Cambio de la @ por 4 en la columna *ESTU_ACT_PROX_ANNO*

In [23]:
data_2000['ESTU_ACT_PROX_ANNO'].value_counts().sort_index()

1    19311
2     1913
3    55853
@       44
Name: ESTU_ACT_PROX_ANNO, dtype: int64

In [24]:
data_2000['ESTU_ACT_PROX_ANNO'] = data_2000['ESTU_ACT_PROX_ANNO'].replace('@', '4')

Se eliminan las lineas que tienen años invalidos

In [26]:
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 195.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 196.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 197.0)
data_2000 = drop_lines(data_2000, 'ESTU_NACIMIENTO_ANNO', 198.0)

Se hacen los cambios segun la columna FAMI_APORTANTES

In [27]:
data_2000 = drop_lines(data_2000, 'FAMI_APORTANTES', '@')

In [28]:
data_2000['FAMI_APORTANTES'] = data_2000['FAMI_APORTANTES'].replace('+', '+9')

Se eliminan las filas que poseen '@' FAMI_EDUCA_MADRE

In [29]:
data_2000 = drop_lines(data_2000, 'FAMI_EDUCA_MADRE', '@')

Se eliminan las filas que poseen '@' en FAMI_EDUCA_PADRE

In [30]:
data_2000 = drop_lines(data_2000, 'FAMI_EDUCA_PADRE', '@')

Se eliminan las filas que poseen '@' en FAMI_INGRESO_FMILIAR_MENSUAL

In [31]:
data_2000 = drop_lines(data_2000, 'FAMI_INGRESO_FMILIAR_MENSUAL', '@')

Se eliminan las filas que poseen '@' y se cambia el '+' por '+10' en FAMI_NUM_HERMANOS

In [32]:
data_2000 = drop_lines(data_2000, 'FAMI_NUM_HERMANOS', '@')
data_2000['FAMI_NUM_HERMANOS'] = data_2000['FAMI_NUM_HERMANOS'].replace('+', '+10')

In [33]:
#lo mismo que la anterior pero en FAMI_NUM_HERMANOS_EDUSUPERIOR
data_2000 = drop_lines(data_2000, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', '@')
data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2000['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+10')

In [34]:
#se eliminan las filas que poseen el valor '@'
data_2000 = drop_lines(data_2000, 'FAMI_OCUPA_MADRE', '@')

In [35]:
#se eliminan las filas que poseen el valor '@'
data_2000 = drop_lines(data_2000, 'FAMI_OCUPA_PADRE', '@')

In [36]:
#Se eliminan las filas que tienen valores '@' y se cambia '+' por '+10'
data_2000 = drop_lines(data_2000, 'FAMI_POSICION_HERMANOS', '@')
data_2000['FAMI_POSICION_HERMANOS'] = data_2000['FAMI_POSICION_HERMANOS'].replace('+', '+10')

Deletion of the selected columns

In [37]:
data_2000 = data_2000.drop(['ESTU_CARRDESEADA_COD', 'ESTU_IES_COD_DESEADA', 'ESTU_LIMITA_SORDOINTERPRETE',
 'IND_ANNO_TERMINO_BACHILLERATO'], axis=1)

# En este momento ya estaria listo el primer archivo, para su posterior uso en un modelo de prediccion

In [38]:
from sklearn.linear_model import LinearRegression

In [39]:
LR = LinearRegression()

The data will be prepared to be splitted into **X** and **y**  

The first step is encode the data. The result will be stored in a new DataFram called ***encoded_data***

In [40]:
encoded_data = label_encoder(data_2000)

In [41]:
data_2000.columns

Index(['ESTU_CONSECUTIVO', 'COLE_COD_ICFES', 'COLE_NOMBRE_SEDE',
       'COLE_JORNADA', 'COLE_VALOR_PENSION', 'ESTU_GENERO',
       'ESTU_NACIMIENTO_DIA', 'ESTU_NACIMIENTO_MES', 'ESTU_NACIMIENTO_ANNO',
       'ESTU_DEPTO_PRESENTACION', 'ESTU_MCPIO_PRESENTACION',
       'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_SORDONOINTERPRETE',
       'ESTU_LIMITA_MOTRIZ', 'PUNT_BIOLOGIA', 'PUNT_MATEMATICAS',
       'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA', 'PUNT_QUIMICA',
       'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'COD_INTERDISCIPLINAR',
       'PUNT_INTERDISCIPLINAR', 'COD_IDIOMA', 'PUNT_IDIOMA',
       'ESTU_RAZONINSTITUTO', 'ESTU_CARRDESEADA_RAZON', 'FAMI_PERSONAS_HOGAR',
       'FAMI_VIVIENDA_PROPIA', 'FAMI_DEUDA_VIVIENDA', 'FAMI_APORTANTES',
       'FAMI_INGRESO_FMILIAR_MENSUAL', 'FAMI_LEE_ESCRIBE_PADRE',
       'FAMI_LEE_ESCRIBE_MADRE', 'FAMI_EDUCA_PADRE', 'FAMI_EDUCA_MADRE',
       'FAMI_OCUPA_PADRE', 'FAMI_OCUPA_MADRE', 'FAMI_NUM_HERMANOS',
       'FAMI_NUM_HERMANOS_EDUSUPERIOR', 'FAMI_POSICION_HERMANOS',
       'FAMI_SOST_PERSONAL', 'ESTU_TRABAJA', 'ESTU_ACT_PROX_ANNO',
       'COLE_CALENDARIO', 'COLE_BILINGUE', 'COLE_CARACTER',
       'COLE_DEPTO_UBICACION', 'COLE_MCPIO_UBICACION', 'ESTU_TIPO_DOCUMENTO',
       'ESTU_RESIDE_DEPTO', 'ESTU_RESIDE_MCPIO'],
      dtype='object')

Now it's time to exclude columns that do not serve us for our objective as the student's consecutive.  
Also the data is divided for train [0, 50000] and for test [50000,73570].

In [42]:
data_2000.shape

(73570, 53)

In [43]:
y = encoded_data.filter(items = ['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 'PUNT_HISTORIA',
                     'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA', 'PUNT_INTERDISCIPLINAR'], axis=1)

So, Now I have a DataFrame with all the posible targets that will be taken into account for the work

**Now it's time for a little test with sklearn linear regression**

In [44]:
X_train = encoded_data.loc[:50000, 'COLE_COD_ICFES':]
y_train = y.loc[:50000, 'PUNT_MATEMATICAS']

In [45]:
"""Now it's time to drop the others subject's scores"""
X_train = X_train.drop(['PUNT_BIOLOGIA', 'PUNT_MATEMATICAS', 'PUNT_FILOSOFIA', 'PUNT_FISICA', 
                        'PUNT_HISTORIA', 'PUNT_QUIMICA', 'PUNT_LENGUAJE', 'PUNT_GEOGRAFIA', 'PUNT_IDIOMA',
                        'PUNT_INTERDISCIPLINAR'], axis=1)

First try to predict one subject score

In [61]:
X_train['COLE_BILINGUE']

0        NaN
1        NaN
2        1.0
3        1.0
4        1.0
5        1.0
6        NaN
7        NaN
8        NaN
9        NaN
10       NaN
11       NaN
12       NaN
13       NaN
14       NaN
15       NaN
16       NaN
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22       NaN
23       NaN
24       NaN
25       NaN
26       1.0
27       1.0
28       NaN
29       NaN
        ...
49971    NaN
49972    NaN
49973    NaN
49974    NaN
49975    NaN
49976    NaN
49977    NaN
49978    NaN
49979    NaN
49980    NaN
49981    NaN
49982    NaN
49983    NaN
49984    NaN
49985    NaN
49986    NaN
49987    NaN
49988    NaN
49989    NaN
49990    NaN
49991    NaN
49992    NaN
49993    NaN
49994    NaN
49995    NaN
49996    NaN
49997    NaN
49998    NaN
49999    NaN
50000    NaN
Name: COLE_BILINGUE, dtype: float64

In [46]:
LR.fit(X_train, y_train)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').