In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2010 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20101-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

In [3]:
data_2010.shape

(30321, 79)

In [4]:
data_2010.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11201010000001,SB11201010000002,SB11201010000003
PERIODO,20101,20101,20101
ESTU_TIPO_DOCUMENTO,C,C,C
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,M
ESTU_NACIMIENTO_DIA,24,5,3
ESTU_NACIMIENTO_MES,11,3,7
ESTU_NACIMIENTO_ANNO,1983,1988,1987
ESTU_EDAD,26,22,22
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,11001,95001,11001
ESTU_RESIDE_MCPIO,BOGOTÁ D.C.,SAN JOSE DEL GUAVIARE,BOGOTÁ D.C.
ESTU_RESIDE_DEPTO,BOGOTÁ,GUAVIARE,BOGOTÁ
ESTU_ZONA_RESIDE,8,10,10
ESTU_AREA_RESIDE,1,1,1
FAMI_EDUCA_PADRE,16,99,13
FAMI_EDUCA_MADRE,15,99,13
FAMI_OCUPA_PADRE,17,21,13
FAMI_OCUPA_MADRE,22,22,20
FAMI_ESTRATO_VIVIENDA,3,1,NaN
FAMI_NIVEL_SISBEN,5,1,3
FAMI_PERSONAS_HOGAR,3,3,4
FAMI_CUARTOS_HOGAR,3,1,2
...,...,...,...
IND_COD_ICFES_TERMINO,20974,146415,9110
COLE_COD_ICFES,20974,146415,85340
COLE_COD_DANE_INSTITUCION,111001009971,341078000785,
COLE_NOMBRE_SEDE,COL DIST REP DE COLOMBIA,INSTITUTO DE EXCELENCIA HUMANA Y ACADÉMICA ID...,COLEGIO INSCAP
COLE_CALENDARIO,F,F,F
COLE_GENERO,X,X,X
COLE_NATURALEZA,O,N,N
COLE_BILINGUE,0,NaN,0
COLE_JORNADA,NOCHE,SABATINA - DOMINICAL,NOCHE
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO Y TECNICO
ESTU_VECES_ESTADO,0,0,0
ESTU_COD_MCPIO_PRESENTACION,11001,95001,11001
ESTU_MCPIO_PRESENTACION,BOGOTÁ D.C.,SAN JOSE DEL GUAVIARE,BOGOTÁ D.C.
ESTU_DEPTO_PRESENTACION,BOGOTÁ,GUAVIARE,BOGOTÁ
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES)
PUNT_LENGUAJE,"48,81","56,74","46,68"
PUNT_MATEMATICAS,"43,99","46,77","40,78"
PUNT_C_SOCIALES,"41,9","46,27","41,9"
PUNT_FILOSOFIA,"29,03","45,93","45,93"
PUNT_BIOLOGIA,"34,33","55,46","43,61"
PUNT_QUIMICA,"37,51","41,72","45,33"
PUNT_FISICA,"32,27","36,7","40,06"
PUNT_INGLES,"28,64","47,79","35,25"
DESEMP_INGLES,A-,A1,A-
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN CIENCIAS SOCIALES
PUNT_PROFUNDIZACION,"3,2","4,2","5,4"
DESEMP_PROFUNDIZACION,GB,GB,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"50,78","47,71","35,93"
ESTU_PUESTO,872,413,666

In [5]:
data_2010 = data_2010.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                           'COLE_NOMBRE_SEDE', 'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_EXAM_NOMBREEXAMEN'],axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['AT', 'BR', 'CH', 'CL', 'CO', 'CR', 'CU', 'CZ', 'DE', 'EC', 'ES', 'GT',
       'IT', 'LB', 'MX', 'PE', 'RO', 'RU', 'US', 'VE'],
      dtype='object')
AT        2
BR        2
CH        1
CL        1
CO    30220
CR        1
CU        1
CZ        1
DE        2
EC        4
ES        7
GT        2
IT        1
LB        1
MX        2
PE        1
RO        1
RU        1
US        4
VE        6
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 60
__________________
Elementos diferentes de null/NaN: 30261
__________________
(30261,)
None

In [7]:
data_2010['ESTU_PAIS_RESIDE'].fillna('CO', inplace=True)

In [8]:
c = 'ESTU_GENERO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['F', 'M'], dtype='object')
F    15885
M    14419
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 30304
__________________
(30304,)
None

In [9]:
Do_resamples(data_2010, 'ESTU_GENERO', str)

cant null antes: 17
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [10]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     1041
2      943
3      960
4     1024
5     1009
6      991
7     1006
8      996
9     1003
10    1055
11     948
12    1060
13    1009
14     971
15    1068
16     975
17     950
18    1035
19     959
20    1076
21     991
22    1020
23     986
24     975
25    1050
26    1001
27     984
28    1021
29     824
30     831
31     518
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 41
__________________
Elementos diferentes de null/NaN: 30280
__________________
(30280,)
None

In [11]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     2390
2     2237
3     2562
4     2399
5     2508
6     2475
7     2577
8     2608
9     2654
10    2657
11    2454
12    2759
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 41
__________________
Elementos diferentes de null/NaN: 30280
__________________
(30280,)
None

In [12]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1938.0, 1939.0, 1940.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0,
              1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0,
              1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0,
              1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0,
              1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0,
              1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0,
              1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0,
              1995.0, 1996.0, 1997.0, 2000.0, 2001.0, 2002.0, 2013.0],
             dtype='float64')
1938       1
1939       1
1940       2
1942       2
1943       1
1944       3
1945       1
1946       4
1947       5
1948       4
1949       4
1950       7
1951       5
1952      17
1953      16
1954      10
1955      11
1956      23
1957      24
1958      35
1959      33
1960      36
1961      34
1962      56
1963      57
1964      71
1965      68
1966      76
1967      82
1968     105
        ...
1972     117
1973     137
1974     144
1975     127
1976     145
1977     158
1978     197
1979     201
1980     240
1981     228
1982     256
1983     273
1984     310
1985     343
1986     381
1987     462
1988     598
1989     960
1990    1697
1991    4120
1992    7743
1993    8053
1994    2058
1995     153
1996      21
1997       6
2000      22
2001      21
2002       2
2013       1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 41
__________________
Elementos diferentes de null/NaN: 30280
__________________
(30280,)
None

In [13]:
data_2010['ESTU_NACIMIENTO_ANNO'] = data_2010['ESTU_NACIMIENTO_ANNO'].replace(2013, 2002)

In [14]:
c = 'ESTU_EDAD'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              67.0, 69.0, 70.0, 71.0],
             dtype='float64')
12       4
13      16
14      97
15    1302
16    7390
17    7939
18    4979
19    1937
20    1042
21     672
22     465
23     410
24     347
25     312
26     288
27     252
28     231
29     234
30     210
31     196
32     171
33     143
34     133
35     146
36     134
37     123
38     114
39     100
40     103
41     101
42      91
43      75
44      68
45      66
46      64
47      58
48      34
49      40
50      33
51      34
52      28
53      23
54      12
55      12
56      13
57      16
58       8
59       6
60       6
61       4
62       4
63       4
64       2
65       3
66       1
67       2
69       2
70       1
71       1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 19
__________________
Elementos diferentes de null/NaN: 30302
__________________
(30302,)
None

In [15]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 30321
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [16]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 30321
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [17]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 30321
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [18]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 30321
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [19]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 30321
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [20]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 30321
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [21]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 30321
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [22]:
data_2010 = data_2010.drop(['ESTU_LIMITA_BAJAVISION', 'ESTU_LIMITA_SORDOCEGUERA', 'ESTU_LIMITA_COGNITIVA',
                           'ESTU_LIMITA_INVIDENTE', 'ESTU_LIMITA_MOTRIZ', 'ESTU_LIMITA_SORDOINTERPRETE', 
                           'ESTU_LIMITA_SORDONOINTERPRETE'], axis=1)

In [23]:
c = 'ESTU_ETNIA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     280
2       3
3      16
4       1
5       2
6       2
7       6
8       4
9      13
11     32
12      4
13      1
14      2
15      2
16      4
17     11
99    212
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 29726
__________________
Elementos diferentes de null/NaN: 595
__________________
(595,)
None

In [24]:
Do_resamples(data_2010, 'ESTU_ETNIA', int)

cant null antes: 29726
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [25]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['ABEJORRAL', 'ACACIAS', 'AGUA DE DIOS', 'AGUACHICA', 'AGUADA',
       'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE', 'ALBAN (SAN JOSE)', 'ALBANIA',
       ...
       'VISTA HERMOSA', 'YAGUARA', 'YALI', 'YARUMAL', 'YONDO (CASABE)',
       'YOPAL', 'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=357)
ABEJORRAL                     17
ACACIAS                       10
AGUA DE DIOS                   2
AGUACHICA                     38
AGUADA                         9
AGUAZUL                       10
AGUSTIN CODAZZI               15
AIPE                           1
ALBAN (SAN JOSE)               1
ALBANIA                       76
ALCALA                         1
ALEJANDRIA                    29
ANDALUCIA                      6
ANGELOPOLIS                    1
ANORI                          1
ANSERMANUEVO                  14
APARTADO                      65
ARAUCA                        25
ARCABUCO                      38
ARGELIA                        7
ARMENIA                       99
ARMERO (GUAYABAL)              2
ATACO                         14
BARBACOAS                      1
BARBOSA                       52
BARICHARA                      1
BARRANCA DE UPIA               1
BARRANCABERMEJA                8
BARRANCAS                      2
BARRANQUILLA                 665
                            ...
TRUJILLO                       1
TULUA                         52
TUMACO                        10
TUNJA                         92
TURBACO                       24
UBATE                         20
UNE                            2
VALDIVIA                       8
VALLEDUPAR                   123
VEGACHI                        1
VELEZ                         35
VIANI                          2
VILLA DE LEYVA                44
VILLA DEL ROSARIO              4
VILLA GUAMEZ (LA HORMIGA)     25
VILLA RICA                     4
VILLAMARIA                     5
VILLANUEVA                    11
VILLAVICENCIO                234
VILLETA                       16
VISTA HERMOSA                  6
YAGUARA                        1
YALI                          26
YARUMAL                        2
YONDO (CASABE)                 4
YOPAL                        192
YOTOCO                         6
YUMBO                        125
ZARZAL                        48
ZIPAQUIRA                     74
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 30304
__________________
(30304,)
None

In [26]:
data_2010['ESTU_RESIDE_MCPIO'].fillna(method='bfill', inplace=True)

In [27]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SANTANDER', 'TOLIMA', 'VALLE', 'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              1
ANTIOQUIA          5109
ARAUCA               41
ATLÁNTICO           696
BOGOTÁ             6463
BOLÍVAR             314
BOYACÁ              438
CALDAS              447
CAQUETÁ             100
CASANARE            278
CAUCA              1119
CESAR               178
CHOCÓ                10
CUNDINAMARCA       1045
CÓRDOBA              40
GUAINÍA              36
GUAVIARE             28
HUILA               367
LA GUAJIRA          113
MAGDALENA            96
META                280
NARIÑO             1281
NORTE SANTANDER     160
PUTUMAYO            109
QUINDÍO             139
RISARALDA           270
SANTANDER           865
TOLIMA              500
VALLE              9773
VAUPÉS                7
VICHADA               1
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 30304
__________________
(30304,)
None

In [28]:
data_2010['ESTU_RESIDE_DEPTO'].fillna(method='bfill', inplace=True)

In [29]:
c = 'ESTU_ZONA_RESIDE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      4726
2      1032
3       849
4      4334
5      1436
6      1824
7      1084
8      1459
9      1105
10    12453
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 19
__________________
Elementos diferentes de null/NaN: 30302
__________________
(30302,)
None

In [30]:
data_2010['ESTU_ZONA_RESIDE'].fillna(method='bfill', inplace=True)

In [31]:
c = 'ESTU_AREA_RESIDE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    26078
2     4216
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 27
__________________
Elementos diferentes de null/NaN: 30294
__________________
(30294,)
None

In [32]:
Do_resamples(data_2010, 'ESTU_AREA_RESIDE', int)

cant null antes: 27
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [33]:
c = 'FAMI_EDUCA_PADRE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0     1098
1        2
2        5
3        5
4        2
5        5
7        4
8        2
9     3443
10    4222
11    2677
12    5761
13     472
14    1368
15     666
16    6050
17    2695
99    1811
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 33
__________________
Elementos diferentes de null/NaN: 30288
__________________
(30288,)
None

In [34]:
Do_resamples(data_2010, 'FAMI_EDUCA_PADRE', int)

cant null antes: 33
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [35]:
c = 'FAMI_EDUCA_MADRE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      732
1        2
2        5
3        4
4        5
5        8
7        4
9     3205
10    4355
11    3132
12    6338
13     569
14    1846
15     786
16    6196
17    2132
99     969
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 33
__________________
Elementos diferentes de null/NaN: 30288
__________________
(30288,)
None

In [36]:
Do_resamples(data_2010, 'FAMI_EDUCA_MADRE', int)

cant null antes: 33
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [37]:
c = 'FAMI_OCUPA_PADRE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 1.0,  2.0,  3.0,  5.0,  7.0,  8.0,  9.0, 12.0, 13.0, 14.0, 15.0,
              16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
1        2
2        2
3        3
5        4
7        5
8        1
9       15
12       2
13    1882
14    2574
15    1558
16    1593
17    1960
18     863
19    4495
20    2515
21    6212
22     486
23    1254
26    4862
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 33
__________________
Elementos diferentes de null/NaN: 30288
__________________
(30288,)
None

In [38]:
Do_resamples(data_2010, 'FAMI_OCUPA_PADRE', int)

cant null antes: 33
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [39]:
c = 'FAMI_OCUPA_MADRE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([ 1.0,  2.0,  3.0,  5.0,  6.0,  7.0,  9.0, 10.0, 12.0, 13.0, 14.0,
              15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
1         1
2         1
3         1
5         1
6         1
7         1
9         7
10       18
12        3
13      809
14     1290
15      957
16     1409
17     1807
18     1019
19     2723
20     1914
21     3042
22    11944
23      527
26     2813
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 33
__________________
Elementos diferentes de null/NaN: 30288
__________________
(30288,)
None

In [40]:
educa_P = data_2010[data_2010['FAMI_EDUCA_PADRE'].isnull()].index
educa_M = data_2010[data_2010['FAMI_EDUCA_MADRE'].isnull()].index
ocupa_P = data_2010[data_2010['FAMI_OCUPA_PADRE'].isnull()].index
ocupa_M = data_2010[data_2010['FAMI_OCUPA_MADRE'].isnull()].index
#Son los mismos 33 index... se eliminaran
data_2010 = data_2010.drop(ocupa_M)

In [41]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    4557
2    9222
3    7684
4    3482
5    2722
6    2513
8       1
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 107
__________________
Elementos diferentes de null/NaN: 30181
__________________
(30181,)
None

In [42]:
data_2010['FAMI_ESTRATO_VIVIENDA'] = data_2010['FAMI_ESTRATO_VIVIENDA'].replace(8, 6)
Do_resamples(data_2010, 'FAMI_ESTRATO_VIVIENDA', float)

cant null antes: 107
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [43]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     5152
2     5759
3     1277
4      329
5    17771
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30288
__________________
(30288,)
None

In [44]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       306
2      2088
3      6265
4     10169
5      6381
6      2726
7      1115
8       575
9       290
10      168
11       78
12      127
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30288
__________________
(30288,)
None

In [45]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      1086
2      8025
3     13039
4      5531
5      1676
6       557
7       172
8       113
9        36
10       53
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30288
__________________
(30288,)
None

In [46]:
c = 'FAMI_PISOSHOGAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1      442
2     8892
3     1194
4    19678
5       82
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30288
__________________
(30288,)
None

In [47]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7390
1    22897
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 30287
__________________
(30287,)
None

In [48]:
data_2010 = data_2010.drop(data_2010[data_2010['FAMI_TELEFONO_FIJO'].isnull()].index)

In [49]:
c = 'FAMI_CELULAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     2935
1    27350
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [50]:
data_2010 = data_2010.drop(data_2010[data_2010['FAMI_CELULAR'].isnull()].index)

In [51]:
c = 'FAMI_INTERNET'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    13867
1    16418
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [52]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7917
1    22368
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [53]:
c = 'FAMI_COMPUTADOR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    10331
1       25
3    19929
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [54]:
c = 'FAMI_LAVADORA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     8632
1    21653
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [55]:
c = 'FAMI_NEVERA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     1950
1    28335
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [56]:
c = 'FAMI_HORNO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    11687
1    18598
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [57]:
c = 'FAMI_DVD'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7460
1    22825
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [58]:
c = 'FAMI_MICROONDAS'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    15928
1    14357
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [59]:
c = 'FAMI_AUTOMOVIL'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    18302
1    11983
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [60]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1     4234
2    11199
3     5096
4     3342
5     1783
6     1488
7     3143
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30285
__________________
(30285,)
None

In [61]:
c = 'ESTU_TRABAJA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    24352
1        2
2        1
3       63
4       33
5       57
6     1860
7     3871
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 46
__________________
Elementos diferentes de null/NaN: 30239
__________________
(30239,)
None

In [62]:
Do_resamples(data_2010, 'ESTU_TRABAJA', float)

cant null antes: 46
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [63]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0, 11.0, 12.0, 15.0, 16.0, 18.0,
              20.0],
             dtype='float64')
3      1
4      3
5      2
6      2
7      1
8     10
10    10
11     1
12     3
15     2
16     3
18     3
20    80
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 30164
__________________
Elementos diferentes de null/NaN: 121
__________________
(121,)
None

In [64]:
Do_resamples(data_2010, 'ESTU_HORAS_TRABAJA', float)

cant null antes: 30164
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [65]:
c = 'COLE_VALOR_PENSION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0, 5.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
0     7327
1        3
5        1
8     9870
9     2084
10    1440
11    2760
12    6783
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 17
__________________
Elementos diferentes de null/NaN: 30268
__________________
(30268,)
None

In [66]:
Do_resamples(data_2010, 'COLE_VALOR_PENSION', float)

cant null antes: 17
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [67]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1993.0, 2006.0, 2009.0, 2010.0, 2011.0, 2012.0], dtype='float64')
1993        1
2006        1
2009       28
2010    30214
2011       29
2012        3
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 9
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [68]:
idx = data_2010[data_2010['IND_ANNO_TERMINO_BACHILLERATO'].isnull()].index
data_2010 = data_2010.drop(idx)

In [69]:
c = 'IND_MES_TERMINO_BACHILLERATO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       279
2       382
3      1233
4      1995
5      1357
6     15465
7      6405
8      1427
9       261
10      290
11      198
12      526
Name: IND_MES_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 458
__________________
Elementos diferentes de null/NaN: 29818
__________________
(29818,)
None

In [70]:
Do_resamples(data_2010, 'IND_MES_TERMINO_BACHILLERATO', float)

cant null antes: 458
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [71]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([1.0], dtype='float64')
1    1943
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 28333
__________________
Elementos diferentes de null/NaN: 1943
__________________
(1943,)
None

In [72]:
data_2010 = data_2010.drop(['IND_TERMINO_BACHILLERATO'], axis=1)

In [73]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([     2.0,      3.0,    182.0,    638.0,   3046.0,   3327.0,
                3418.0,   3459.0,   3525.0,   4234.0,
              ...
              167205.0, 168161.0, 168500.0, 169664.0, 170381.0, 170449.0,
              172098.0, 172734.0, 174003.0, 999999.0],
             dtype='float64', length=1154)
2           1
3          58
182       113
638       186
3046       57
3327        7
3418       38
3459       82
3525       74
4234       45
6023      110
6775       12
7013       53
7054        6
7070       73
7088       48
7682        1
8581       10
9110       96
9910        2
9985        9
9993       48
10009       1
10017       2
10041       1
11239      82
11254      32
11262      76
11270      82
11288     103
         ...
150128      8
150136     29
150185      1
150235      1
150243     19
150359      6
150391     22
150409     21
150458     36
150474      1
150482      3
150516     38
150581     18
151373      1
152660      1
156455      1
156554      1
159533      1
163022      1
164129      1
167205      1
168161      2
168500      1
169664      1
170381      1
170449      1
172098      1
172734      1
174003      1
999999     30
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 151
__________________
Elementos diferentes de null/NaN: 30125
__________________
(30125,)
None

In [74]:
Do_resamples(data_2010, 'IND_COD_ICFES_TERMINO', float)

cant null antes: 151
cant null despues: 103
cant null antes: 103
cant null despues: 55
cant null antes: 55
cant null despues: 7
cant null antes: 7
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [75]:
c = 'COLE_COD_ICFES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Int64Index([   182,    638,   3046,   3327,   3418,   3459,   3525,   4234,
              6023,   6775,
            ...
            150128, 150136, 150243, 150359, 150391, 150409, 150458, 150482,
            150516, 150581],
           dtype='int64', length=1011)
182       113
638       189
3046       57
3327        7
3418       38
3459       82
3525       74
4234       45
6023      115
6775       12
7013       53
7054        6
7070       73
7088       49
8581       10
9985        9
11239      82
11254      33
11262      77
11270      83
11288     103
11312     162
11452      64
11460      39
11478      24
11627      44
11635      38
11684      23
11692      34
11700      26
         ...
148288      6
148833      6
149328     49
149476      8
149492      3
149559     10
149625      8
149682     25
149690     14
149781      6
149799      8
149849      6
149856      2
149864     13
149872      1
149898      8
149948      3
149997      6
150029     94
150037     44
150128     10
150136     35
150243     20
150359      7
150391     22
150409     21
150458     36
150482      3
150516     38
150581     18
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [76]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['            ', '010500103391', '034100105808', '051100116867',
       '105001000566', '105001002071', '105001003387', '105001003395',
       '105001003425', '105001024571',
       ...
       '576001091472', '576622134546', '625214000001', '625269000075',
       '625269000082', '625269000084', '625286000041', '625899000007',
       '625899000017', '818001100015'],
      dtype='object', length=936)
                550
010500103391     38
034100105808     14
051100116867      3
105001000566     18
105001002071      8
105001003387     19
105001003395     56
105001003425     17
105001024571    289
105088001512     50
105088002993     10
105088003175     23
105628000227      8
105667000013     18
105893001685      4
108001003289      8
111001009971     21
111001010031     27
111001010839     28
111001011029      8
111001012360     23
111001013129     32
111001034134     26
111001036781     27
111001092410     68
111001098876     20
111001098884     46
111001098965     17
111001102148     18
               ...
476130000961      9
476130001186     11
476130001208     25
476233002003     13
476248000478     82
476248000648      7
476248032012     33
476520003791     12
476520005646      4
476520006324     10
476520007207     95
476892001183     13
476892099710     11
476892099728     12
476895000382     35
519001000002     25
525899000016     39
550711000002      6
568001009690      6
568432001200     25
576001091472     21
576622134546     31
625214000001     28
625269000075     27
625269000082     24
625269000084      4
625286000041     51
625899000007      3
625899000017     26
818001100015      1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 79
__________________
Elementos diferentes de null/NaN: 30197
__________________
(30197,)
None

In [77]:
data_2010['COLE_COD_DANE_INSTITUCION'] = data_2010['COLE_COD_DANE_INSTITUCION'].replace('            ', np.nan)
Do_resamples(data_2010, 'COLE_COD_DANE_INSTITUCION', str)

cant null antes: 629
cant null despues: 71
cant null antes: 71
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [78]:
c = 'COLE_CALENDARIO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['A', 'B', 'F'], dtype='object')
A     3177
B    11637
F    15462
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [79]:
c = 'COLE_GENERO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['F', 'M', 'X'], dtype='object')
F     1901
M      894
X    27481
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [80]:
c = 'COLE_NATURALEZA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['N', 'O'], dtype='object')
N    28608
O     1668
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [81]:
c = 'COLE_BILINGUE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    23066
1     3614
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 3596
__________________
Elementos diferentes de null/NaN: 26680
__________________
(26680,)
None

In [82]:
Do_resamples(data_2010, 'COLE_BILINGUE', float)

cant null antes: 3596
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [83]:
c = 'COLE_JORNADA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    9556
MAÑANA                  9529
NOCHE                   4765
SABATINA - DOMINICAL    5435
TARDE                    991
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [84]:
c = 'COLE_CARACTER'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              24925
ACADEMICO Y TECNICO     2434
NORMALISTA                 4
TECNICO                 2913
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [85]:
c = 'ESTU_VECES_ESTADO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    23709
1     5357
2      972
3      236
4        2
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [86]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['AGUACHICA', 'ALBANIA', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALI', 'CARTAGENA', 'CARTAGO',
       'CAUCASIA', 'CHAPARRAL', 'CHIA', 'CUCUTA', 'EL TAMBO', 'ESPINAL',
       'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA', 'GARZON', 'GIRARDOT',
       'GRANADA', 'GUAMO', 'IBAGUE', 'INIRIDA', 'IPIALES', 'LA DORADA',
       'MAGANGUE', 'MAICAO', 'MALAGA', 'MANIZALES', 'MEDELLIN', 'MITU',
       'MOCOA', 'MONIQUIRA', 'MONTELIBANO', 'MONTERIA', 'NEIVA', 'OCAÑA',
       'PALMIRA', 'PAMPLONA', 'PASTO', 'PATIA(EL BORDO)', 'PAZ DE ARIPORO',
       'PEREIRA', 'PITALITO', 'POPAYAN', 'PUERTO ASIS', 'PUERTO CARREÑO',
       'PUERTO TEJADA', 'QUIBDO', 'RIOHACHA', 'RIONEGRO', 'ROLDANILLO',
       'SAN GIL', 'SAN JOSE DEL GUAVIARE', 'SANTA MARTA', 'SANTA ROSA DE OSOS',
       'SANTANDER DE QUILICHAO', 'SEVILLA', 'SIBUNDOY', 'SILVIA', 'SOACHA',
       'SOCORRO', 'SOGAMOSO', 'TAME', 'TULUA', 'TUMACO', 'TUNJA', 'VALLEDUPAR',
       'VELEZ', 'VILLA DE LEYVA', 'VILLAVICENCIO', 'YOPAL', 'YUMBO', 'ZARZAL',
       'ZIPAQUIRA'],
      dtype='object')
AGUACHICA                   41
ALBANIA                     61
APARTADO                   228
ARAUCA                      25
ARMENIA                    156
BARRANCABERMEJA             73
BARRANQUILLA               702
BELLO                      433
BOGOTÁ D.C.               6491
BUCARAMANGA                674
BUENAVENTURA               143
BUGA                       380
CALI                      7642
CARTAGENA                  303
CARTAGO                    343
CAUCASIA                    17
CHAPARRAL                  103
CHIA                       343
CUCUTA                     136
EL TAMBO                    18
ESPINAL                     18
FACATATIVA                 180
FLORENCIA                  100
FUSAGASUGA                  69
GARZON                     147
GIRARDOT                    41
GRANADA                     32
GUAMO                       52
IBAGUE                     292
INIRIDA                     36
                          ...
PUERTO ASIS                 72
PUERTO CARREÑO               1
PUERTO TEJADA               59
QUIBDO                       7
RIOHACHA                    25
RIONEGRO                   787
ROLDANILLO                  47
SAN GIL                     15
SAN JOSE DEL GUAVIARE       27
SANTA MARTA                 92
SANTA ROSA DE OSOS          58
SANTANDER DE QUILICHAO     172
SEVILLA                      7
SIBUNDOY                     1
SILVIA                       1
SOACHA                     204
SOCORRO                     13
SOGAMOSO                   154
TAME                        16
TULUA                       58
TUMACO                       2
TUNJA                      198
VALLEDUPAR                 143
VELEZ                       57
VILLA DE LEYVA               3
VILLAVICENCIO              273
YOPAL                      257
YUMBO                       85
ZARZAL                      44
ZIPAQUIRA                  125
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [87]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SANTANDER', 'TOLIMA', 'VALLE', 'VAUPÉS', 'VICHADA'],
      dtype='object')
ANTIOQUIA          5108
ARAUCA               41
ATLÁNTICO           702
BOGOTÁ             6491
BOLÍVAR             313
BOYACÁ              449
CALDAS              476
CAQUETÁ             100
CASANARE            268
CAUCA              1114
CESAR               184
CHOCÓ                 7
CUNDINAMARCA        962
CÓRDOBA              41
GUAINÍA              36
GUAVIARE             27
HUILA               370
LA GUAJIRA          114
MAGDALENA            92
META                305
NARIÑO             1291
NORTE SANTANDER     157
PUTUMAYO            106
QUINDÍO             156
RISARALDA           271
SANTANDER           858
TOLIMA              465
VALLE              9764
VAUPÉS                7
VICHADA               1
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

## TARGETS

In [88]:
c = 'PUNT_LENGUAJE'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '19,25', '19,55', '27,17', '27,46', '32,13', '32,41', '35,89',
       '36,17', '39,01', '39,27', '41,72', '41,98', '44,17', '44,42', '46,44',
       '46,68', '48,57', '48,81', '50,62', '50,85', '52,61', '52,83', '54,57',
       '54,79', '56,52', '56,74', '58,49', '58,71', '60,51', '60,74', '62,61',
       '62,84', '64,83', '65,07', '67,22', '67,47', '69,87', '70,13', '72,91',
       '73,19', '76,6', '76,89', '81,48', '81,79'],
      dtype='object')
0          11
19,25      20
19,55      21
27,17      84
27,46      91
32,13     223
32,41     292
35,89     427
36,17     610
39,01     769
39,27    1015
41,72    1110
41,98    1412
44,17    1327
44,42    1595
46,44    1474
46,68    1712
48,57    1469
48,81    1715
50,62    1264
50,85    1478
52,61    1228
52,83    1245
54,57    1081
54,79    1101
56,52     875
56,74     994
58,49     785
58,71     855
60,51     662
60,74     712
62,61     499
62,84     607
64,83     359
65,07     405
67,22     229
67,47     216
69,87     100
70,13     108
72,91      35
73,19      33
76,6        9
76,89      13
81,48       2
81,79       4
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [89]:
clean_target(data_2010, 'PUNT_LENGUAJE')

In [90]:
c = 'PUNT_MATEMATICAS'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '103,94', '104,09', '12,92', '120,23', '120,39', '13,38', '22,65',
       '23,04', '28,78', '29,11', '33,46', '33,72', '37,36', '37,56', '40,78',
       '40,93', '43,88', '43,99', '46,77', '46,84', '49,52', '49,55', '52,17',
       '54,74', '54,77', '57,29', '57,34', '59,86', '59,93', '62,48', '62,56',
       '65,19', '65,27', '68,03', '68,11', '71,05', '71,12', '74,33', '74,38',
       '77,98', '78', '82,15', '82,16', '87,15', '87,21', '93,69', '93,8'],
      dtype='object')
0           22
103,94       9
104,09      12
12,92       33
120,23       2
120,39       2
13,38       29
22,65      121
23,04      154
28,78      363
29,11      412
33,46      802
33,72      902
37,36     1392
37,56     1364
40,78     1852
40,93     1794
43,88     1973
43,99     1944
46,77     1785
46,84     1882
49,52     1618
49,55     1496
52,17     2358
54,74      897
54,77      959
57,29      761
57,34      720
59,86      615
59,93      628
62,48      477
62,56      469
65,19      358
65,27      387
68,03      263
68,11      288
71,05      201
71,12      222
74,33      136
74,38      152
77,98       97
78         105
82,15       61
82,16       59
87,15       38
87,21       30
93,69       11
93,8        21
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [91]:
clean_target(data_2010, c)

In [92]:
c = 'PUNT_C_SOCIALES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '14,4', '14,65', '20,21', '20,49', '24,58', '24,9', '28,18',
       '28,54', '31,29', '31,7', '34,08', '34,54', '36,63', '37,14', '39,02',
       '39,58', '41,27', '41,9', '43,43', '44,12', '45,51', '46,27', '47,54',
       '48,37', '49,54', '5,09', '5,3', '50,44', '51,52', '52,49', '53,5',
       '54,54', '55,49', '56,6', '57,51', '58,7', '59,58', '60,83', '61,71',
       '63,04', '63,94', '65,33', '66,29', '67,76', '68,81', '70,35', '71,57',
       '73,17', '74,66', '76,32', '78,24', '79,96', '82,6', '97,74'],
      dtype='object')
0           4
14,4        7
14,65      14
20,21      37
20,49      45
24,58     100
24,9      135
28,18     234
28,54     275
31,29     396
31,7      498
34,08     621
34,54     783
36,63     897
37,14    1076
39,02    1075
39,58    1282
41,27    1213
41,9     1491
43,43    1283
44,12    1468
45,51    1228
46,27    1580
47,54    1267
48,37    1488
49,54    1104
5,09        2
5,3         4
50,44    1378
51,52     957
52,49    1258
53,5      889
54,54     995
55,49     740
56,6      823
57,51     620
58,7      607
59,58     496
60,83     431
61,71     351
63,04     288
63,94     220
65,33     175
66,29     137
67,76      89
68,81      89
70,35      31
71,57      43
73,17      19
74,66      21
76,32       3
78,24       5
79,96       1
82,6        2
97,74       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [93]:
clean_target(data_2010, c)

In [94]:
c = 'PUNT_FILOSOFIA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '13,56', '13,92', '22,82', '23,18', '28,68', '29,03', '33,15',
       '33,5', '36,89', '37,23', '40,17', '40,49', '43,15', '43,46', '45,93',
       '46,23', '48,58', '48,87', '51,15', '51,42', '53,66', '53,93', '56,17',
       '56,42', '58,71', '58,95', '61,3', '61,53', '64', '64,21', '66,85',
       '67,05', '69,92', '70,1', '73,3', '73,47', '77,16'],
      dtype='object')
0         175
13,56      46
13,92      45
22,82     156
23,18     147
28,68     374
29,03     406
33,15     806
33,5      823
36,89    1234
37,23    1280
40,17    1684
40,49    1718
43,15    1866
43,46    1952
45,93    2003
46,23    1911
48,58    1848
48,87    1701
51,15    1525
51,42    1494
53,66    1236
53,93    1240
56,17     904
56,42     924
58,71     658
58,95     638
61,3      416
61,53     388
64        215
64,21     210
66,85      92
67,05      96
69,92      29
70,1       24
73,3        5
73,47       6
77,16       1
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [95]:
clean_target(data_2010, c)

In [96]:
c = 'PUNT_BIOLOGIA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '14,55', '14,61', '22,34', '22,47', '27,25', '27,43', '30,99',
       '31,2', '34,09', '34,33', '36,79', '37,04', '39,23', '39,49', '41,48',
       '41,75', '43,61', '43,87', '45,64', '45,9', '47,62', '47,86', '49,56',
       '49,79', '51,5', '51,72', '53,46', '53,65', '55,46', '55,63', '57,54',
       '57,69', '59,74', '59,85', '62,11', '62,19', '64,74', '64,77', '67,73',
       '67,76', '71,31', '71,4', '76,04', '76,22', '83,64', '83,92', '96,5'],
      dtype='object')
0          17
14,55      10
14,61       8
22,34      52
22,47      43
27,25     123
27,43     118
30,99     327
31,2      340
34,09     616
34,33     666
36,79     925
37,04    1050
39,23    1333
39,49    1382
41,48    1622
41,75    1606
43,61    1749
43,87    1746
45,64    1599
45,9     1623
47,62    1455
47,86    1403
49,56    1221
49,79    1229
51,5     1059
51,72    1024
53,46     806
53,65     790
55,46     724
55,63     652
57,54     529
57,69     483
59,74     431
59,85     359
62,11     259
62,19     247
64,74     151
64,77     159
67,73      93
67,76     107
71,31      47
71,4       53
76,04      10
76,22      19
83,64       5
83,92       4
96,5        2
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [97]:
clean_target(data_2010, c)

In [98]:
c = 'PUNT_QUIMICA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '18,08', '18,2', '24,95', '25,08', '29,24', '29,37', '32,49',
       '32,63', '35,17', '35,31', '37,51', '37,65', '39,61', '39,76', '41,56',
       '41,72', '43,4', '43,56', '45,16', '45,33', '46,88', '47,05', '48,57',
       '48,74', '50,26', '50,44', '51,98', '52,15', '53,73', '53,91', '55,55',
       '55,74', '57,48', '57,67', '59,56', '59,76', '61,86', '62,07', '64,5',
       '64,73', '67,7', '67,94', '71,93', '72,2', '78,73', '79,02', '89,95',
       '90,26'],
      dtype='object')
0          22
18,08      30
18,2       22
24,95     102
25,08      99
29,24     268
29,37     271
32,49     595
32,63     524
35,17     887
35,31     848
37,51    1161
37,65    1168
39,61    1415
39,76    1371
41,56    1373
41,72    1370
43,4     1327
43,56    1372
45,16    1166
45,33    1289
46,88    1006
47,05    1087
48,57     899
48,74     996
50,26     831
50,44     881
51,98     762
52,15     801
53,73     682
53,91     710
55,55     665
55,74     606
57,48     532
57,67     469
59,56     455
59,76     418
61,86     352
62,07     315
64,5      266
64,73     227
67,7      165
67,94     174
71,93      96
72,2       83
78,73      44
79,02      50
89,95       5
90,26      19
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [99]:
clean_target(data_2010, c)

In [100]:
c = 'PUNT_FISICA'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '101,55', '11,73', '12,22', '21,52', '22,04', '27,64', '28,19',
       '32,27', '32,84', '36,11', '36,7', '39,45', '40,06', '42,48', '43,11',
       '45,3', '45,94', '47,97', '48,62', '50,54', '51,21', '53,06', '53,74',
       '55,56', '56,25', '58,08', '58,78', '60,63', '61,34', '63,26', '63,99',
       '66,01', '66,75', '68,92', '69,68', '72,07', '72,85', '75,56', '76,36',
       '79,56', '80,37', '84,38', '85,2', '90,7', '91,53'],
      dtype='object')
0           79
101,55       2
11,73       50
12,22      101
21,52      187
22,04      296
27,64      526
28,19      705
32,27     1105
32,84     1217
36,11     1604
36,7      1723
39,45     1926
40,06     2128
42,48     2064
43,11     1945
45,3      1912
45,94     1709
47,97     1496
48,62     1351
50,54     1195
51,21     1070
53,06      919
53,74      779
55,56      633
56,25      619
58,08      431
58,78      474
60,63      330
61,34      347
63,26      253
63,99      246
66,01      163
66,75      175
68,92       90
69,68      108
72,07       75
72,85       76
75,56       48
76,36       35
79,56       28
80,37       23
84,38       11
85,2        16
90,7         3
91,53        3
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [101]:
clean_target(data_2010, c)

In [102]:
c = 'PUNT_INGLES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['-1', '0', '10,71', '100', '14,14', '17,39', '20,46', '23,36', '26,09',
       '28,64', '3,34', '31,02', '33,22', '35,25', '37,1', '38,78', '40,28',
       '41,61', '42,76', '43,48', '44,92', '46,35', '47,79', '49,22', '50,66',
       '52,09', '53,32', '54,64', '55,95', '57,27', '58,59', '59,9', '61,22',
       '62,69', '65,1', '67,51', '69,92', '7,11', '72,32', '74,73', '77,14',
       '79,55', '83,41', '87,56', '91,71', '95,85'],
      dtype='object')
-1          5
0           6
10,71       6
100       149
14,14      12
17,39      33
20,46      66
23,36     156
26,09     326
28,64     564
3,34        2
31,02     877
33,22    1257
35,25    1576
37,1     1929
38,78    2021
40,28    1975
41,61    1851
42,76    1690
43,48    1490
44,92    1276
46,35    1072
47,79     925
49,22     818
50,66     714
52,09     572
53,32     502
54,64     516
55,95     414
57,27     407
58,59     355
59,9      348
61,22     350
62,69     307
65,1      329
67,51     348
69,92     372
7,11        5
72,32     408
74,73     473
77,14     543
79,55     627
83,41     730
87,56     751
91,71     718
95,85     405
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [103]:
data_2010['PUNT_INGLES'] = data_2010['PUNT_INGLES'].replace('-1', '0')
clean_target(data_2010,c)

In [104]:
c = 'DESEMP_INGLES'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['-1', 'A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
-1        5
A-    14352
A1     6867
A2     2892
B+     2753
B1     3407
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [105]:
data_2010['DESEMP_INGLES'] = data_2010['DESEMP_INGLES'].replace('-1', np.nan)
Do_resamples(data_2010, 'DESEMP_INGLES', str)

cant null antes: 5
cant null despues: 1
cant null antes: 1
cant null despues: 0

/usr/local/lib/python3.4/dist-packages/pandas/core/index.py:1148: VisibleDeprecationWarning: using a non-integer number instead of an integer will result in an error in the future
  return promote(getitem(key))

In [106]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             8434
PROFUNDIZACIÓN EN CIENCIAS SOCIALES    6723
PROFUNDIZACIÓN EN LENGUAJE             9519
PROFUNDIZACIÓN EN MATEMÁTICA           5600
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [107]:
c = 'PUNT_PROFUNDIZACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '10', '2,3', '2,9', '3', '3,2', '3,4', '3,7', '3,8', '4,1', '4,2',
       '4,3', '4,6', '4,7', '5', '5,1', '5,3', '5,4', '5,6', '5,7', '5,9', '6',
       '6,2', '6,3', '6,5', '6,6', '6,7', '6,8', '6,9', '7,1', '7,3', '7,5',
       '7,7', '7,9', '8', '8,6', '8,7', '8,8'],
      dtype='object')
0       203
10       16
2,3     204
2,9     233
3       220
3,2     666
3,4     248
3,7     546
3,8    1732
4,1     620
4,2    2223
4,3    1015
4,6    3498
4,7    1171
5      3295
5,1    1164
5,3    3048
5,4     923
5,6    2445
5,7     640
5,9    1886
6       416
6,2     852
6,3     787
6,5     401
6,6     331
6,7     314
6,8     249
6,9     207
7,1     287
7,3     131
7,5      76
7,7      46
7,9      99
8        27
8,6      14
8,7      38
8,8       5
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [108]:
clean_target(data_2010, c)

In [109]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     13002
I      13982
II      2946
III      346
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [110]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          15972
VIOLENCIA Y SOCIEDAD    14304
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [111]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Index(['0', '24,75', '31,51', '35,93', '39,41', '42,4', '45,12', '45,54',
       '47,27', '47,71', '48,4', '49,29', '50,07', '50,25', '50,78', '51,47',
       '52,16', '52,84', '52,88', '53,64', '54,49', '55,49', '55,56', '56,75',
       '58,53', '58,65', '61,55', '61,97', '66,29', '72,89', '83,26'],
      dtype='object')
0         223
24,75     454
31,51     995
35,93    1522
39,41    1923
42,4     1997
45,12    1808
45,54     195
47,27     560
47,71    1476
48,4     1026
49,29    1496
50,07    1710
50,25    1204
50,78    1927
51,47    1906
52,16    1696
52,84     940
52,88    1539
53,64    1389
54,49    1127
55,49     777
55,56     664
56,75     403
58,53     535
58,65     113
61,55      13
61,97     335
66,29     185
72,89     116
83,26      22
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

In [112]:
clean_target(data_2010, c)

In [113]:
c = 'ESTU_PUESTO'
print(data_2010[c].value_counts().sort_index().index)
print(data_2010[c].value_counts().sort_index())
print(missing_data(data_2010[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       89
2       81
3       77
4       70
5       60
6       71
7       64
8       64
9       70
10      55
11      69
12      43
13      55
14      60
15      61
16      66
17      59
18      56
19      55
20      55
21      67
22      53
23      62
24      47
25      55
26      63
27      46
28      45
29      59
30      59
        ..
971     52
972     50
973     45
974     50
975     51
976     45
977     44
978     50
979     42
980     41
981     44
982     48
983     45
984     44
985     56
986     41
987     49
988     48
989     47
990     53
991     48
992     44
993     57
994     54
995     47
996     49
997     54
998     20
999      3
1000     9
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 30276
__________________
(30276,)
None

### Treatment of Remaining NaNs

In [115]:
anno = data_2010[data_2010['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2010 = data_2010.drop(anno)

In [116]:
data_2010['ESTU_EDAD'].fillna(int(data_2010['ESTU_EDAD'].mean()), inplace=True)

# FILE 2: 2010_2

In [2]:
data_2010_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20102-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10,11,12,13,14,15,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2010_2.shape

(586779, 114)

In [4]:
data_2010_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120102000001,SABER1120102000002,SABER1120102000003
PERIODO,20102,20102,20102
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,M,M,F
ESTU_NACIMIENTO_DIA,8,7,19
ESTU_NACIMIENTO_MES,10,10,3
ESTU_NACIMIENTO_ANNO,1992,1993,1994
ESTU_EDAD,17,16,16
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,11001,68001,73483
ESTU_RESIDE_MCPIO,BOGOTÁ D.C.,BUCARAMANGA,NATAGAIMA
ESTU_RESIDE_DEPTO,BOGOTÁ,SANTANDER,TOLIMA
ESTU_ZONA_RESIDE,4,5,10
ESTU_AREA_RESIDE,1,1,2
IND_COD_ICFES_TERMINO,21766,14381,16451
COLE_COD_ICFES,21766,14381,16451
COLE_COD_DANE_INSTITUCION,3.11001e+11,1.68001e+11,1.73483e+11
COLE_NOMBRE_SEDE,COL PARROQ DE NSTRA SEÑORA,IE.TECNOLG.SALESIANO ELOY VALENZUELA,I.E.T. FRANCISCO JOSE DE CALDAS - SEDE PRINCIPAL
COLE_CALENDARIO,A,A,A
COLE_GENERO,X,M,X
COLE_NATURALEZA,N,O,O
COLE_BILINGUE,0,0,0
...,...,...,...
FAMI_PERSONAS_HOGAR,5,5,8
FAMI_CUARTOS_HOGAR,NaN,NaN,NaN
FAMI_PISOSHOGAR,4,4,2
FAMI_TELEFONO_FIJO,0,1,0
FAMI_CELULAR,1,1,1
FAMI_INTERNET,0,1,0
FAMI_SERVICIO_TELEVISION,1,1,0
FAMI_COMPUTADOR,3,3,0
FAMI_LAVADORA,1,1,0
FAMI_NEVERA,1,1,1
FAMI_HORNO,1,0,0
FAMI_DVD,1,1,1
FAMI_MICROONDAS,1,1,0
FAMI_AUTOMOVIL,1,1,0
FAMI_INGRESO_FMILIAR_MENSUAL,4,4,2
ESTU_TRABAJA,0,0,0
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
PUNT_LENGUAJE,"56,41","59,4","50,6"
PUNT_MATEMATICAS,"68,39","69,01","39,12"
PUNT_C_SOCIALES,"58,08","69,34","43,18"
PUNT_FILOSOFIA,"50,93","75,71","45,2"
PUNT_BIOLOGIA,"55,09","65,98","37,43"
PUNT_QUIMICA,59,"75,02","40,31"
PUNT_FISICA,"63,86","83,07","50,64"
PUNT_INGLES,"43,53","89,24","34,94"
DESEMP_INGLES,A-,B+,A-
NOMBRE_COMP_FLEXIBLE,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,PROFUNDIZACIÓN EN BIOLOGÍA,MEDIO AMBIENTE
PUNT_COMP_FLEXIBLE,"5,2","6,5","54,75"
DESEMP_COMP_FLEXIBLE,II,III,NaN
ESTU_PUESTO,127,15,807

In [6]:
data_2010_2 = data_2010_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'COLE_NOMBRE_SEDE', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA'], axis=1)

In [ ]:
c = 'ESTU_PAIS_RESIDE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_GENERO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_NACIMIENTO_DIA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_NACIMIENTO_MES'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_NACIMIENTO_ANNO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_EDAD'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_LIMITA_BAJAVISION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_LIMITA_COGNITIVA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_LIMITA_INVIDENTE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_LIMITA_MOTRIZ'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_ETNIA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_RESIDE_MCPIO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_RESIDE_DEPTO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_ZONA_RESIDE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_AREA_RESIDE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'IND_COD_ICFES_TERMINO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_COD_ICFES'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_COD_DANE_INSTITUCION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_CALENDARIO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_GENERO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_NATURALEZA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_BILINGUE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_JORNADA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_CARACTER'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_CARRDESEADA_TIPO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_IES_COD_DESEADA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_IES_DEPT_DESEADA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_IES_MPIO_DESEADA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_ANO_TERMINO_QUINTO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_ANOS_PREESCOLAR'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_CUARTO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_DECIMO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_NOVENO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_OCTAVO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_PRIMERO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_QUINTO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_SEGUNDO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_SEPTIMO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_SEXTO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_TERCERO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_REPROBO_ONCE_MAS'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_INTERESPERSONAL'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_BUSCANDOCARRERA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_RAZON_RETIRO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_COSTOMATRICULA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_OPORTUNIDADES'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_OTRARAZON'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_PRESTIGIOINSTITUCION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_UBICACION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_POR_UNICAQUEOFRECE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_RETIRARSE_COLEGIO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'COLE_VALOR_PENSION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_VECES_ESTADO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_MCPIO_PRESENTACION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_DEPTO_PRESENTACION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_EDUCA_PADRE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_EDUCA_MADRE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_OCUPA_PADRE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_OCUPA_MADRE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_ESTRATO_VIVIENDA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_NIVEL_SISBEN'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_PERSONAS_HOGAR'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_CUARTOS_HOGAR'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_PISOSHOGAR'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_TELEFONO_FIJO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_CELULAR'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_INTERNET'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_SERVICIO_TELEVISION'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_COMPUTADOR'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_LAVADORA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_NEVERA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_HORNO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_DVD'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_MICROONDAS'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_AUTOMOVIL'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_TRABAJA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_HORAS_TRABAJA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

## TARGETS

In [ ]:
c = 'PUNT_LENGUAJE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'PUNT_MATEMATICAS'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'PUNT_C_SOCIALES'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'PUNT_FILOSOFIA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'PUNT_BIOLOGIA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'PUNT_QUIMICA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'PUNT_FISICA'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'PUNT_INGLES'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'DESEMP_INGLES'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'NOMBRE_COMP_FLEXIBLE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'PUNT_COMP_FLEXIBLE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'DESEMP_COMP_FLEXIBLE'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])

In [ ]:
c = 'ESTU_PUESTO'
data_2010_2[c].value_counts().sort_index().index
data_2010_2[c].value_counts().sort_index()
missing_data(data_2010_2[c])