In [1]:
import pandas as pd
import numpy as np

Se encuentran datos aqui http://mineducacion.gov.co/sistemasdeinformacion/1735/w3-article-212400.html sobre Inscritos, admitidos, matriculados...

In [2]:
Matriculados_Prime = pd.read_csv("../DatosSPADIES/Matriculados.csv", delimiter=";")

In [29]:
#descriptor para ver por encima las dimensiones del fichero
Matriculados_Prime.describe()

,Codigo_Institucion,IES_PADRE,ID_Sector_IES,ID_Caracter,Codigo_departamento(IES),Codigo_Municipio(IES),Codigo_SNIES_programa,ID_Nivel_Academico,ID_Nivel_Formacion,ID_Metodologia,ID_Area,Codigo_Departamento(Programa),Codigo_Municipio(Programa),ID_Sexo,Anio,Semestre,Matriculados_2016
count,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.000000,60363.0,60363.000000,60363.000000
mean,3163.344234,3155.605470,1.492785,3.340739,21.259049,21287.513626,53111.167089,1.289035,4.545400,1.371188,5.691467,32.346984,32463.603035,1.495403,2016.0,1.493150,76.427977
std,2574.016341,2567.773203,0.499952,0.935865,22.336506,22360.396029,41169.257966,0.453318,2.058383,0.631490,2.026603,27.198638,27224.357865,0.499983,0.0,0.499957,233.995089
min,1101.000000,1101.000000,1.000000,1.000000,5.000000,5001.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5001.000000,1.000000,2016.0,1.000000,1.000000
25%,1707.000000,1706.000000,1.000000,3.000000,11.000000,11001.000000,9294.000000,1.000000,3.000000,1.000000,4.000000,11.000000,11001.000000,1.000000,2016.0,1.000000,5.000000
50%,2102.000000,2102.000000,1.000000,4.000000,11.000000,11001.000000,53246.000000,1.000000,5.000000,1.000000,6.000000,18.000000,18001.000000,1.000000,2016.0,1.000000,19.000000
75%,3201.000000,3201.000000,2.000000,4.000000,17.000000,17001.000000,91410.000000,2.000000,6.000000,2.000000,8.000000,54.000000,54874.000000,2.000000,2016.0,2.000000,68.000000
max,9915.000000,9915.000000,2.000000,4.000000,91.000000,91001.000000,105995.000000,2.000000,10.000000,3.000000,9.000000,99.000000,99001.000000,2.000000,2016.0,2.000000,16822.000000

In [17]:
Matriculados_Prime.columns

Index(['Codigo_Institucion', 'IES_PADRE',
       'Institucion_Educacion_Superior(IES)', 'Principal_o_Seccional',
       'ID_Sector_IES', 'Sector_IES', 'ID_Caracter', 'Caracter_IES',
       'Codigo_departamento(IES)', 'Departamento_domicilio_IES',
       'Codigo_Municipio(IES)', 'Municipio_domicilio_IES',
       'Codigo_SNIES_programa', 'Programa_Academico', 'ID_Nivel_Academico',
       'Nivel_Academico', 'ID_Nivel_Formacion', 'Nivel_Formacion',
       'ID_Metodologia', 'Metodologia', 'ID_Area', 'Area_Conocimiento',
       'Id_Nucleo', 'Nucleo_Basico_Conocimiento(NBC)',
       'Codigo_Departamento(Programa)', 'Departamento_oferta_del_programa',
       'Codigo_Municipio(Programa)', 'Municipio_oferta_del_programa',
       'ID_Sexo', 'Sexo', 'Anio', 'Semestre', 'Matriculados_2016'],
      dtype='object')

In [31]:
set(Matriculados_Prime["Nivel_Formacion"])

{'Doctorado',
 'Especialización Médico Quirúrgica',
 'Especialización Tecnológica',
 'Especialización Técnico Profesional',
 'Especialización Universitaria',
 'Formación técnica profesional',
 'Maestría',
 'Tecnológica',
 'Universitaria'}

In [45]:
#un head para ver ejemplos de los datos 
Matriculados_Prime.head(10)

,Codigo_Institucion,IES_PADRE,Institucion_Educacion_Superior(IES),Principal_o_Seccional,ID_Sector_IES,Sector_IES,ID_Caracter,Caracter_IES,Codigo_departamento(IES),Departamento_domicilio_IES,...,Nucleo_Basico_Conocimiento(NBC),Codigo_Departamento(Programa),Departamento_oferta_del_programa,Codigo_Municipio(Programa),Municipio_oferta_del_programa,ID_Sexo,Sexo,Anio,Semestre,Matriculados_2016
0,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,"Ingeniería agronómica, pecuaria y afines",11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,1,HOMBRE,2016,1,410
1,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,"Ingeniería agronómica, pecuaria y afines",11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,1,HOMBRE,2016,2,428
2,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,"Ingeniería agronómica, pecuaria y afines",11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,2,MUJER,2016,1,196
3,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,"Ingeniería agronómica, pecuaria y afines",11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,2,MUJER,2016,2,215
4,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,Medicina veterinaria,11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,1,HOMBRE,2016,1,268
5,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,Medicina veterinaria,11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,1,HOMBRE,2016,2,265
6,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,Medicina veterinaria,11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,2,MUJER,2016,1,306
7,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,Medicina veterinaria,11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,2,MUJER,2016,2,317
8,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,Zootecnia,11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,1,HOMBRE,2016,1,198
9,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,OFICIAL,4,Universidad,11,BOGOTA D.C,...,Zootecnia,11,BOGOTA D.C,11001,SANTAFE DE BOGOTA,1,HOMBRE,2016,2,190

## <span style="color: blue"> Total de Matriculados en el 2016 de todas las sedes de todas las universidades </span>

In [15]:
sum(Matriculados_Prime["Matriculados_2016"])

4613422

Se puede agrupar los datos por institucion asi:

In [3]:
Matriculados_groups = Matriculados_Prime.groupby('Codigo_Institucion')

In [4]:
Matriculados_groups.groups.keys()

dict_keys([2847, 2830, 1707, 4101, 4102, 1722, 3103, 1708, 4106, 4107, 4108, 4109, 4110, 2733, 4112, 9902, 9906, 9903, 3102, 2848, 2831, 2736, 3107, 1723, 4726, 2737, 3114, 3115, 3116, 2738, 4701, 4709, 1715, 4702, 2102, 2825, 2104, 2740, 2106, 2849, 2110, 2741, 2114, 2827, 1718, 4111, 2828, 1207, 3719, 1101, 1102, 1103, 1104, 2744, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 4708, 1125, 1126, 2833, 1212, 4714, 2834, 2749, 4721, 1214, 3702, 3703, 2836, 3706, 1215, 3710, 1813, 3712, 1728, 3715, 3204, 2838, 3718, 1729, 3720, 5801, 3724, 1730, 2702, 9910, 2704, 2840, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2715, 2842, 2206, 1733, 2720, 2209, 2211, 2724, 1701, 1702, 1703, 1704, 1705, 2730, 2731, 2732, 1709, 1710, 1711, 1712, 1713, 1202, 1203, 1204, 1717, 1206, 1719, 1208, 2745, 2746, 2747, 1724, 1725, 1726, 1727, 1216, 1217, 1218, 1219, 1220, 1221, 1734, 1223, 4808, 4810, 4727, 4812, 2850, 4813, 4817, 4818, 2837, 4822, 3705, 3801, 4826, 3803, 3805, 3806, 3807, 3808, 3809, 3810, 3811, 3812, 3301, 3302, 3303, 1201, 3819, 3820, 3821, 2719, 3824, 3826, 3827, 3828, 2805, 3830, 3831, 2810, 2811, 2812, 2813, 2302, 2815, 3725, 2818, 2820, 2822, 2823, 2824, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1301, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 9914, 4829, 4719, 1732, 4835, 2832, 4801, 3901, 3902, 4832, 9899, 5802, 3104, 2841, 2701, 1716, 2739, 2902, 2903, 2904, 2905, 2906, 4710, 4837, 1222, 1205, 9900, 4825, 1714, 4803, 3817, 9110, 3201, 1735, 9103, 9104, 9105, 9107, 9108, 4811, 1213, 3713, 3823, 9116, 9117, 9119, 9120, 9121, 9122, 9125, 9126, 9127, 9128, 9129, 9131, 9132, 3117, 4805, 2207, 3716, 2208, 9915, 9102, 2721, 1720, 2743, 4806, 2723, 1209, 9913, 9904, 3834, 2725, 2829, 1105, 2727, 2301, 2728, 2748, 1210, 9905, 9907, 1706, 2901])

In [8]:
print("Hay:", len(Matriculados_groups.groups.keys()), "grupos (sedes de Educacion Superior)")

Hay: 320 grupos (sedes de Educacion Superior)

Se puede utilizar la siguiente funcion para obtener los grupos segun la institucion y ademas de eso los parametros que nos interezan y la cantidad de matriculados total

In [24]:
def get_enrolled(df):
    return [set(df["Institucion_Educacion_Superior(IES)"]), set("Principal_o_Seccional"), set(df["ID_Sector_IES"]), set(df["Sector_IES"]), set(df["ID_Caracter"]), set(df["Caracter_IES"]), set(df["Codigo_departamento(IES)"]), set(df["Departamento_domicilio_IES"]), set(df["Codigo_Municipio(IES)"]), set(df["Municipio_domicilio_IES"]), set(df["ID_Sexo"]), set(df["Sexo"]), set(df["Semestre"]), np.sum(df["Matriculados_2016"])]

Se puede agrupar por el nombre de la universidad, de esta manera no importa si es la sede principal o no, se obtiene un grupo por cada universidad incluyendo todas las sedes.  
De esta manera podemos reducir el numero de grupos de 320 a 274

In [12]:
Matriculados_groups_info = Matriculados_Prime.groupby('Institucion_Educacion_Superior(IES)')

In [14]:
len(Matriculados_groups_info.groups.keys())

274

In [25]:
tmp = Matriculados_groups_info.apply(get_enrolled)

In [30]:
tmp[0]

[{'CENTRO DE EDUCACION MILITAR - CEMIL'},
 {'P', 'S', '_', 'a', 'c', 'e', 'i', 'l', 'n', 'o', 'p', 'r'},
 {1},
 {'OFICIAL'},
 {3},
 {'Institución Universitaria/Escuela Tecnológica'},
 {11},
 {'BOGOTA D.C'},
 {11001},
 {'SANTAFE DE BOGOTA'},
 {1, 2},
 {'HOMBRE', 'MUJER'},
 {1, 2},
 1341]