In [1]:
import pandas as pd
import numpy as np

Se encuentran datos aqui http://mineducacion.gov.co/sistemasdeinformacion/1735/w3-article-212400.html sobre Inscritos, admitidos, matriculados...

In [3]:
Matriculados_Prime = pd.read_csv("../DatosSPADIES/Matriculados_PrimerCurso_2016.csv", delimiter=";")

In [4]:
#descriptor para ver por encima las dimensiones del fichero
Matriculados_Prime.describe()

,Codigo_Institucion,IES_PADRE,ID_Sector_IES,ID_Caracter,Codigo_departamento(IES),Codigo_Municipio(IES),Codigo_SNIES_programa,ID_Nivel_Academico,ID_Nivel_Formacion,ID_Metodologia,ID_Area,Codigo_Departamento(Programa),Codigo_Municipio(Programa),ID_Sexo,Anio,Semestre,Primer_Curso_2016
count,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.000000,42067.0,42067.000000,42067.000000
mean,3024.239285,3018.346281,1.527421,3.374474,22.721516,22750.035443,53198.567856,1.276559,4.600114,1.332731,5.730382,31.675993,31778.438848,1.494378,2016.0,1.505883,22.654052
std,2456.660472,2451.290435,0.499253,0.922390,23.382128,23403.877900,41902.566765,0.447302,2.047185,0.631729,1.968516,27.131222,27166.130041,0.499974,0.0,0.499971,65.720122
min,1101.000000,1101.000000,1.000000,1.000000,5.000000,5001.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,5001.000000,1.000000,2016.0,1.000000,1.000000
25%,1706.000000,1706.000000,1.000000,3.000000,11.000000,11001.000000,8093.000000,1.000000,3.000000,1.000000,5.000000,11.000000,11001.000000,1.000000,2016.0,1.000000,3.000000
50%,2102.000000,2102.000000,2.000000,4.000000,11.000000,11001.000000,53276.000000,1.000000,5.000000,1.000000,6.000000,17.000000,17001.000000,1.000000,2016.0,2.000000,10.000000
75%,2848.000000,2848.000000,2.000000,4.000000,19.000000,19001.000000,101493.000000,2.000000,6.000000,1.000000,8.000000,63.000000,63001.000000,2.000000,2016.0,2.000000,24.000000
max,9915.000000,9915.000000,2.000000,4.000000,91.000000,91001.000000,106062.000000,2.000000,10.000000,3.000000,9.000000,99.000000,99001.000000,2.000000,2016.0,2.000000,4265.000000

In [5]:
Matriculados_Prime.columns

Index(['Codigo_Institucion', 'IES_PADRE',
       'Institucion_Educacion_Superior(IES)', 'Principal_o_Seccional',
       'ID_Sector_IES', 'Sector_IES', 'ID_Caracter', 'Caracter_IES',
       'Codigo_departamento(IES)', 'Departamento_domicilio_IES',
       'Codigo_Municipio(IES)', 'Municipio_domicilio_IES',
       'Codigo_SNIES_programa', 'Programa_Academico', 'ID_Nivel_Academico',
       'Nivel_Academico', 'ID_Nivel_Formacion', 'Nivel_Formacion',
       'ID_Metodologia', 'Metodologia', 'ID_Area', 'Area_Conocimiento',
       'Id_Nucleo', 'Nucleo_Basico_Conocimiento(NBC)',
       'Codigo_Departamento(Programa)', 'Departamento_oferta_programa',
       'Codigo_Municipio(Programa)', 'Municipio_oferta_del_programa',
       'ID_Sexo', 'Sexo', 'Anio', 'Semestre', 'Primer_Curso_2016'],
      dtype='object')

In [13]:
#un head para ver ejemplos de los datos 
Matriculados_Prime.head(3)

,Codigo_Institucion,IES_PADRE,Institucion_Educacion_Superior(IES),Principal_o_Seccional,ID_Sector_IES,Sector_IES,ID_Caracter,Caracter_IES,Codigo_departamento(IES),Departamento_domicilio_IES,...,Nucleo_Basico_Conocimiento(NBC),Codigo_Departamento(Programa),Departamento_oferta_programa,Codigo_Municipio(Programa),Municipio_oferta_del_programa,ID_Sexo,Sexo,Anio,Semestre,Primer_Curso_2016
0,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,Oficial,4,Universidad,11,Bogotá D.C,...,"Ingeniería Agronómica, Pecuaria y Afines",11,Bogotá D.C,11001,Bogota,1,HOMBRE,2016,1,46
1,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,Oficial,4,Universidad,11,Bogotá D.C,...,Medicina Veterinaria,11,Bogotá D.C,11001,Bogota,1,HOMBRE,2016,1,21
2,1101,1101,UNIVERSIDAD NACIONAL DE COLOMBIA,PRINCIPAL,1,Oficial,4,Universidad,11,Bogotá D.C,...,Zootecnia,11,Bogotá D.C,11001,Bogota,1,HOMBRE,2016,1,15

## <span style="color: blue"> Total de Matriculados en el 2016 de todas las sedes de todas las universidades </span>

In [15]:
sum(Matriculados_Prime["Primer_Curso_2016"])

952988

Se puede agrupar los datos por institucion asi:

In [7]:
Matriculados_groups = Matriculados_Prime.groupby('Codigo_Institucion')

In [8]:
Matriculados_groups.groups.keys()

dict_keys([2847, 2830, 1707, 4101, 4102, 1722, 3103, 1708, 4106, 4107, 4108, 4109, 4110, 2733, 4112, 9902, 9906, 9903, 3102, 2848, 2831, 2736, 3107, 1723, 4726, 2737, 3114, 3115, 3116, 2738, 4701, 4709, 1715, 4702, 2102, 2825, 2104, 2740, 2106, 2849, 2110, 2741, 2114, 2827, 1718, 4111, 2828, 1207, 3719, 1101, 1102, 1103, 1104, 2744, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 4708, 1125, 1126, 2833, 1212, 4714, 2834, 2749, 4721, 1214, 3702, 3703, 2836, 3706, 1215, 3710, 1813, 3712, 1728, 3715, 3204, 2838, 3718, 1729, 3720, 5801, 3724, 1730, 2702, 9910, 2704, 2840, 2707, 2708, 2710, 2711, 2712, 2713, 2715, 2842, 2206, 1733, 2720, 2209, 2211, 2724, 1701, 1702, 1703, 1704, 1705, 2730, 2731, 2732, 1709, 1710, 1711, 1712, 1713, 1202, 1203, 1204, 1717, 1206, 1719, 1208, 2745, 2746, 2747, 1724, 1725, 1726, 1727, 1216, 1217, 1218, 1219, 1220, 1221, 1734, 1223, 4808, 4810, 4727, 4812, 2850, 4813, 4817, 4818, 2837, 4822, 3705, 3801, 4826, 3803, 4829, 3806, 3807, 3808, 3809, 3810, 3811, 3812, 3301, 3302, 3303, 1201, 3819, 3820, 3821, 2719, 3824, 3826, 3827, 9913, 2805, 3830, 3831, 2810, 2811, 2812, 2813, 2302, 2815, 3725, 2818, 2820, 2822, 2823, 2824, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1301, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 9914, 4719, 1732, 4835, 2832, 4801, 3901, 3902, 4832, 9899, 5802, 3104, 2841, 2701, 1716, 2739, 2902, 2903, 2904, 2905, 2906, 4710, 4837, 9907, 1205, 9900, 4825, 1714, 4803, 3817, 9110, 3201, 1735, 9103, 9104, 9105, 9107, 9108, 4811, 1213, 3713, 3823, 9116, 9117, 9119, 9120, 9121, 9122, 9126, 9127, 9128, 9129, 9131, 9132, 3117, 4805, 3828, 2207, 3716, 2208, 9915, 9102, 2721, 1720, 2743, 4806, 2723, 1209, 9904, 3834, 2725, 2829, 1105, 2727, 2301, 2728, 2748, 1210, 9905, 1706, 2901])

In [9]:
print("Hay:", len(Matriculados_groups.groups.keys()), "grupos (sedes de Educacion Superior)")

Hay: 316 grupos (sedes de Educacion Superior)

Se puede utilizar la siguiente funcion para obtener los grupos segun la institucion y ademas de eso los parametros que nos interezan y la cantidad de matriculados total

In [10]:
def get_enrolled(df):
    return [set(df["Institucion_Educacion_Superior(IES)"]), set("Principal_o_Seccional"), set(df["ID_Sector_IES"]), set(df["Sector_IES"]), set(df["ID_Caracter"]), set(df["Caracter_IES"]), set(df["Codigo_departamento(IES)"]), set(df["Departamento_domicilio_IES"]), set(df["Codigo_Municipio(IES)"]), set(df["Municipio_domicilio_IES"]), set(df["ID_Sexo"]), set(df["Sexo"]), set(df["Semestre"]), np.sum(df["Primer_Curso_2016"])]

Se puede agrupar por el nombre de la universidad, de esta manera no importa si es la sede principal o no, se obtiene un grupo por cada universidad incluyendo todas las sedes.  
De esta manera podemos reducir el numero de grupos de 320 a 274

In [11]:
Matriculados_groups_info = Matriculados_Prime.groupby('Institucion_Educacion_Superior(IES)')

In [12]:
len(Matriculados_groups_info.groups.keys())

272

In [13]:
tmp = Matriculados_groups_info.apply(get_enrolled)

In [14]:
tmp[0]

[{'CENTRO DE EDUCACION MILITAR - CEMIL'},
 {'P', 'S', '_', 'a', 'c', 'e', 'i', 'l', 'n', 'o', 'p', 'r'},
 {1},
 {'Oficial'},
 {3},
 {'Institución Universitaria/Escuela Tecnológica'},
 {11},
 {'Bogotá D.C'},
 {11001},
 {'Bogota'},
 {1, 2},
 {'HOMBRE', 'MUJER'},
 {1, 2},
 1135]

Busco una manera de ver todas los posibles valores de las columnas asi:

In [15]:
set(Matriculados_Prime["Nivel_Formacion"])

{'Doctorado',
 'Especialización Médico Quirúrgica',
 'Especialización Tecnológica',
 'Especialización Técnico Profesional',
 'Especialización Universitaria',
 'Formación Técnica Profesional',
 'Maestría',
 'Tecnológica',
 'Universitaria'}

Existen varios niveles de formacion, y los que me interesan son los de nivel Universitario.  

Entonces se decide agrupar por nivel de formacion:

In [16]:
Matriculados_groups_info = Matriculados_Prime.groupby('Nivel_Formacion')

In [17]:
Matriculados_groups_info.groups.keys()

dict_keys(['Maestría', 'Especialización Técnico Profesional', 'Especialización Tecnológica', 'Universitaria', 'Especialización Médico Quirúrgica', 'Especialización Universitaria', 'Tecnológica', 'Formación Técnica Profesional', 'Doctorado'])

In [18]:
#Guardo en una variable el grupo
University_NewStudents = Matriculados_groups_info.get_group('Universitaria')

Obtengo el total de estudiantes que entraron a la universidad asi:

In [19]:
sum(University_NewStudents["Primer_Curso_2016"])

482917

Para conocer el porcentaje que se busca, necesito dividir esta cifra en los dos semestres del año.

In [20]:
Segun_Semestre = University_NewStudents.groupby('Semestre')

In [21]:
Segun_Semestre.groups.keys()

dict_keys([1, 2])

Guardo el grupo del primer semestre en una variable para poder tratar los datos

In [22]:
First_Semester = Segun_Semestre.get_group(1)

Obtengo la cantidad (suma) de los estudiantes matriculados en primer curso, en el primer semestre del 2016

In [23]:
print("Se matricularon:", sum(First_Semester["Primer_Curso_2016"]), "personas a primer curso en el semestre 1 del 2016")

Se matricularon: 272933 personas a primer curso en el semestre 1 del 2016

Ahora calculare la cantidad de personas que hicieron el ICFES en el año 2015 en el semestre 2

In [24]:
ICFES_2015 = pd.read_csv("../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20152-RGSTRO-CLFCCN-V3-0.txt", delimiter="|")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (10,12,13,14,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [53]:
ICFES_2015.describe()

,PERIODO,ESTU_EDAD,ESTU_PAIS_RESIDE,ESTU_ETNIA,COLE_COD_MCPIO_UBICACION,ESTU_COD_RESIDE_MCPIO,ESTU_ZONA_RESIDE,COLE_COD_DANE_INSTITUCION,COLE_COD_ICFES,ESTU_COD_RESIDE_DEPTO,...,ESTU_COD_MCPIO_PRESENTACION,PUNT_LECTURA_CRITICA,PUNT_MATEMATICAS,PUNT_C_NATURALES,PUNT_SOCIALES_CIUDADANAS,PUNT_INGLES,PUNT_RAZONA_CUANT,PUNT_COMP_CIUDADANA,PUNT_GLOBAL,ESTU_PUESTO
count,573128.0,573100.000000,573128.000000,37477.000000,545730.000000,571797.000000,573128.000000,5.457300e+05,545730.000000,571797.000000,...,573128.000000,573128.000000,573128.000000,573128.000000,573128.000000,573128.000000,573128.000000,573128.000000,573128.000000,573128.000000
mean,20152.0,17.863497,1.118944,9.358220,32780.145220,33151.018797,8.470052,2.058721e+11,80431.808964,34.319070,...,33092.287023,49.779252,50.233653,50.117141,49.889524,50.536327,51.221321,49.410981,250.229204,496.812168
std,0.0,4.357134,4.910093,18.542173,26577.340528,26720.947192,2.633652,9.614757e+10,54570.625530,374.867568,...,26733.348544,9.382948,12.121206,10.053783,11.140041,10.916471,13.472122,9.892985,47.132512,288.739438
min,20152.0,0.000000,1.000000,1.000000,5001.000000,5001.000000,1.000000,1.050010e+11,18.000000,5.000000,...,5001.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,20152.0,16.000000,1.000000,1.000000,11001.000000,11001.000000,8.000000,1.170500e+11,29140.000000,11.000000,...,11001.000000,43.000000,42.000000,43.000000,43.000000,43.000000,42.000000,43.000000,217.000000,246.000000
50%,20152.0,17.000000,1.000000,1.000000,20175.000000,20383.000000,10.000000,1.730010e+11,79848.000000,20.000000,...,20175.000000,49.000000,49.000000,49.000000,50.000000,49.000000,49.000000,50.000000,245.000000,497.000000
75%,20152.0,18.000000,1.000000,13.000000,54001.000000,54405.000000,10.000000,3.052660e+11,124867.000000,54.000000,...,54405.000000,56.000000,57.000000,56.000000,57.000000,54.000000,59.000000,57.000000,278.000000,745.000000
max,20152.0,100.000000,241.000000,100.000000,99773.000000,99999.000000,10.000000,8.548740e+11,631622.000000,99999.000000,...,99773.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,492.000000,1000.000000

In [54]:
ICFES_2015.shape

(573128, 86)

### Entonces podemos decir que el porcentaje de estudiantes que realizan el ICFES, e ingresan a la educacion superior es:

In [26]:
Percent = (sum(First_Semester["Primer_Curso_2016"]) * 100)/ICFES_2015.shape[0]

In [44]:
print("El " + str(Percent)[:5] + "% de los estudiantes ingresa a la educacion superior.")

El 47.62% de los estudiantes ingresa a la educacion superior.