In [1]:
import pandas as pd
import numpy as np

In [2]:
cc = pd.read_csv("ColumnComparison.csv", delimiter=";")

In [19]:
cc = cc.replace(to_replace='ESTU_ANO_TERMINO_BACHILLIND_ANNO_TERMINO_BACHILLERATO', value = 'ESTU_ANO_TERMINO_BACHILL')

In [20]:
cc.loc[42]

Column       ESTU_ANO_TERMINO_BACHILL
2000_1                              1
2000_2                              1
2002_1                              1
2002_2                              1
2003_1                              1
2003_2                              1
2004_1                              1
2004_2                              1
2005_1                              1
2005_2                              1
2006_1                              1
2006_2                              1
2007_1                              1
2007_2                              1
2008_1                              1
2008_2                              1
2009_1                              1
2009_2                              1
2010_1                              1
2010_2                              0
2011_1                              0
2011_2                              0
2012_1                              0
2012_2                              0
2013_1                              0
2013_2                              0
2014_1                              0
2014_2                              1
2015_1                              1
2015_2                              1
2016_1                              1
2016_1_v3                           1
2016_2                              1
2017_1                              0
Name: 42, dtype: object

In [5]:
cc.iloc[218]

Column       IND_ANNO_TERMINO_BACHILLERATO
2000_1                                   1
2000_2                                   1
2002_1                                   1
2002_2                                   1
2003_1                                   1
2003_2                                   1
2004_1                                   1
2004_2                                   1
2005_1                                   1
2005_2                                   1
2006_1                                   1
2006_2                                   1
2007_1                                   1
2007_2                                   1
2008_1                                   1
2008_2                                   1
2009_1                                   1
2009_2                                   1
2010_1                                   1
2010_2                                   0
2011_1                                   0
2011_2                                   0
2012_1                                   0
2012_2                                   0
2013_1                                   0
2013_2                                   0
2014_1                                   0
2014_2                                   0
2015_1                                   0
2015_2                                   0
2016_1                                   0
2016_1_v3                                0
2016_2                                   0
2017_1                                   0
Name: 218, dtype: object

In [3]:
cc.iloc[42] = cc.iloc[42] + cc.iloc[218]

In [4]:
cc = cc.drop([218])