In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2015 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20151-RGSTRO-CLFCCN-V3-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (9,10,11,12,13,14,27,104,110) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2015.shape

(106540, 128)

In [4]:
data_2015.head(3).T

,0,1,2
PERIODO,20151,20151,20151
ESTU_CONSECUTIVO,SABER1120151000001,SABER1120151000002,SABER1120151000003
ESTU_ESTUDIANTE,INDIVIDUAL,ESTUDIANTE,INDIVIDUAL
ESTU_EDAD,26,28,41
ESTU_TIPO_DOCUMENTO,CC,CC,CC
ESTU_PAIS_RESIDE,1,1,1
ESTU_GENERO,M,F,F
ESTU_FECHA_NACIMIENTO,29/10/1988,09/09/1986,11/10/1973
ESTU_ETNIA,NaN,100,100
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_CONDICIONESPECIAL,NaN,NaN,NaN
ESTU_LIMITA_SORDO,NaN,NaN,NaN
ESTU_LIMITA_SDOWN,NaN,NaN,NaN
ESTU_LIMITA_AUTISMO,NaN,NaN,NaN
COLE_COD_MCPIO_UBICACION,NaN,20011,NaN
ESTU_RESIDE_MCPIO,CALI,AGUACHICA,PUERTO LOPEZ
ESTU_RESIDE_DEPTO,VALLE,CESAR,META
ESTU_COD_RESIDE_MCPIO,76001,20011,50573
ESTU_ZONA_RESIDE,1,10,10
COLE_COD_DANE_INSTITUCION,NaN,3.20011e+11,NaN
COLE_COD_ICFES,NaN,143503,NaN
COLE_NOMBRE_SEDE,NaN,CORPORACION DE EDUCACION TECNICA DEL ORIENTE -...,NaN
COLE_JORNADA,NaN,S,NaN
COLE_GENERO,NaN,MIXTO,NaN
COLE_CARACTER,NaN,ACADÉMICO,NaN
COLE_NATURALEZA,OTRO,NO OFICIAL,OTRO
COLE_BILINGUE,NaN,NaN,NaN
COLE_CALENDARIO,NaN,A,NaN
ESTU_AREA_RESIDE,U,U,U
...,...,...,...
FAMI_LAVADORA,S,S,S
FAMI_MICROONDAS,S,S,N
FAMI_AUTOMOVIL,S,S,N
FAMI_HORNO,S,S,N
FAMI_INGRESO_FMILIAR_MENSUAL,4,2,3
ESTU_TRABAJA,NaN,1,NaN
ESTU_RECIBE_SALARIO,NaN,NaN,NaN
ESTU_VECES_ESTADO,4,NaN,4
ESTU_COD_DEPTO_PRESENTACION,76,20,50
ESTU_COD_MCPIO_PRESENTACION,76001,20011,50001
ESTU_MCPIO_PRESENTACION,CALI,AGUACHICA,VILLAVICENCIO
ESTU_DEPTO_PRESENTACION,VALLE,CESAR,META
ESTU_COD_PLANTEL,1015,NaN,NaN
DECIL_LECTURA_CRITICA,D06,D01,D06
PUNT_LECTURA_CRITICA,53,37,55
DECIL_MATEMATICAS,D10,D03,D09
PUNT_MATEMATICAS,83,45,71
DECIL_C_NATURALES,D06,D01,D08
PUNT_C_NATURALES,57,32,69
DECIL_SOCIALES_CIUDADANAS,D09,D01,D07
PUNT_SOCIALES_CIUDADANAS,74,34,60
DECIL_INGLES,D10,D04,D07
DESEMP_INGLES,B+,A-,A2
PUNT_INGLES,95,49,59
DECIL_RAZONA_CUANT,D09,D05,D09
PUNT_RAZONA_CUANT,73,52,73
DECIL_COMP_CIUDADANA,D08,D01,D07
PUNT_COMP_CIUDADANA,66,30,58
PUNT_GLOBAL,345,190,317
ESTU_PUESTO,188,906,286

In [5]:
c = 'PERIODO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([20151], dtype='int64')
20151    106540
Name: PERIODO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [6]:
data_2015 = data_2015.drop(c, axis=1)

In [7]:
c = 'ESTU_CONSECUTIVO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['SABER1120151000001', 'SABER1120151000002', 'SABER1120151000003',
       'SABER1120151000004', 'SABER1120151000005', 'SABER1120151000006',
       'SABER1120151000007', 'SABER1120151000008', 'SABER1120151000009',
       'SABER1120151000010',
       ...
       'SABER1120151108249', 'SABER1120151108250', 'SABER1120151108251',
       'SABER1120151108252', 'SABER1120151108253', 'SABER1120151108254',
       'SABER1120151108255', 'SABER1120151108256', 'SABER1120151108257',
       'SABER1120151108258'],
      dtype='object', length=106540)
SABER1120151000001    1
SABER1120151000002    1
SABER1120151000003    1
SABER1120151000004    1
SABER1120151000005    1
SABER1120151000006    1
SABER1120151000007    1
SABER1120151000008    1
SABER1120151000009    1
SABER1120151000010    1
SABER1120151000011    1
SABER1120151000012    1
SABER1120151000013    1
SABER1120151000014    1
SABER1120151000015    1
SABER1120151000016    1
SABER1120151000017    1
SABER1120151000018    1
SABER1120151000019    1
SABER1120151000020    1
SABER1120151000021    1
SABER1120151000022    1
SABER1120151000023    1
SABER1120151000024    1
SABER1120151000025    1
SABER1120151000026    1
SABER1120151000027    1
SABER1120151000028    1
SABER1120151000029    1
SABER1120151000030    1
                     ..
SABER1120151108229    1
SABER1120151108230    1
SABER1120151108231    1
SABER1120151108232    1
SABER1120151108233    1
SABER1120151108234    1
SABER1120151108235    1
SABER1120151108236    1
SABER1120151108237    1
SABER1120151108238    1
SABER1120151108239    1
SABER1120151108240    1
SABER1120151108241    1
SABER1120151108242    1
SABER1120151108243    1
SABER1120151108244    1
SABER1120151108245    1
SABER1120151108246    1
SABER1120151108247    1
SABER1120151108248    1
SABER1120151108249    1
SABER1120151108250    1
SABER1120151108251    1
SABER1120151108252    1
SABER1120151108253    1
SABER1120151108254    1
SABER1120151108255    1
SABER1120151108256    1
SABER1120151108257    1
SABER1120151108258    1
Name: ESTU_CONSECUTIVO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [8]:
data_2015 = data_2015.drop(c, axis=1)

In [9]:
c = 'ESTU_ESTUDIANTE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['ESTUDIANTE', 'INDIVIDUAL'], dtype='object')
ESTUDIANTE    25800
INDIVIDUAL    80740
Name: ESTU_ESTUDIANTE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [10]:
c = 'ESTU_EDAD'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([  0.0,   1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,
                9.0,  10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,
               18.0,  19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,
               27.0,  28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,
               36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,
               45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,
               54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,
               63.0,  64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,
               72.0,  74.0,  79.0,  81.0,  84.0,  98.0, 100.0],
             dtype='float64')
0        292
1         45
2          5
3          2
4          4
5          9
6          4
7          7
8          8
9         14
10         7
11         4
12        14
13         9
14        58
15      1157
16     10645
17     21506
18     17297
19     11232
20      7934
21      5821
22      4443
23      3525
24      2800
25      2215
26      1803
27      1545
28      1457
29      1360
       ...
49       184
50       177
51       121
52       116
53       114
54        97
55        86
56        60
57        58
58        43
59        36
60        21
61        26
62        21
63        12
64        11
65         6
66         8
67         9
68         7
69         4
70         2
71         3
72         3
74         2
79         1
81         2
84         1
98         2
100        1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 7
__________________
Elementos diferentes de null/NaN: 106533
__________________
(106533,)
None

In [11]:
for i in data_2015[c].value_counts().sort_index().index:
    if i < 9:
        data_2015[c] = data_2015[c].replace(i, np.nan)
    elif i > 80:
        data_2015[c] = data_2015[c].replace(i, np.nan)
        
Do_resamples(data_2015, c, float)

cant null antes: 389
cant null despues: 0

In [12]:
c = 'ESTU_TIPO_DOCUMENTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['CC', 'CE', 'CR', 'PC', 'PE', 'PV', 'TI'], dtype='object')
CC    66357
CE      251
CR     3267
PC       26
PE      122
PV        1
TI    36516
Name: ESTU_TIPO_DOCUMENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [13]:
data_2015 = data_2015.drop(c, axis=1)

In [14]:
c = 'ESTU_PAIS_RESIDE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  1,   6,  12,  13,  28,  33,  40,  42,  46,  47,  50,  54,  55,
             57,  64,  65,  67,  76,  83,  86,  91,  98,  99, 101, 110, 119,
            144, 154, 157, 160, 167, 171, 174, 183, 188, 209, 216, 220, 235,
            236, 241, 242],
           dtype='int64')
1      106186
6           1
12         18
13          4
28          3
33          2
40          1
42          3
46          5
47          1
50          4
54          1
55          2
57          5
64          2
65         30
67          1
76          8
83          4
86          1
91          3
98          1
99          3
101         1
110         2
119         6
144        16
154         1
157         1
160         1
167         1
171         3
174        15
183         2
188         1
209        20
216         2
220         1
235         2
236        32
241       141
242         3
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [15]:
c = 'ESTU_GENERO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['F', 'M'], dtype='object')
F    53800
M    52737
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 106537
__________________
(106537,)
None

In [16]:
Do_resamples(data_2015, c, str)

cant null antes: 3
cant null despues: 0

In [17]:
c = 'ESTU_FECHA_NACIMIENTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['01/01/1957', '01/01/1959', '01/01/1960', '01/01/1962', '01/01/1963',
       '01/01/1964', '01/01/1965', '01/01/1967', '01/01/1968', '01/01/1970',
       ...
       '31/12/1990', '31/12/1991', '31/12/1992', '31/12/1993', '31/12/1994',
       '31/12/1995', '31/12/1996', '31/12/1997', '31/12/1998', '31/12/2005'],
      dtype='object', length=11659)
01/01/1957     1
01/01/1959     1
01/01/1960     1
01/01/1962     2
01/01/1963     1
01/01/1964     1
01/01/1965     2
01/01/1967     1
01/01/1968     1
01/01/1970     3
01/01/1971     1
01/01/1973     1
01/01/1974     2
01/01/1975     2
01/01/1977     3
01/01/1978     2
01/01/1979     1
01/01/1980     7
01/01/1981     2
01/01/1982     2
01/01/1983     5
01/01/1984     7
01/01/1985     2
01/01/1986     7
01/01/1987     4
01/01/1988     5
01/01/1989    11
01/01/1990    12
01/01/1991    11
01/01/1992    10
              ..
31/12/1962     1
31/12/1968     1
31/12/1970     1
31/12/1971     1
31/12/1973     1
31/12/1974     3
31/12/1976     1
31/12/1977     3
31/12/1978     2
31/12/1979     1
31/12/1980     3
31/12/1981     2
31/12/1982     7
31/12/1983     5
31/12/1984     8
31/12/1985     3
31/12/1986     1
31/12/1987     6
31/12/1988     5
31/12/1989     5
31/12/1990    10
31/12/1991    14
31/12/1992    10
31/12/1993    20
31/12/1994    23
31/12/1995    39
31/12/1996    43
31/12/1997    32
31/12/1998    11
31/12/2005     1
Name: ESTU_FECHA_NACIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [18]:
Sep_Col = pd.DataFrame(data_2015.ESTU_FECHA_NACIMIENTO.str.split('/').tolist(), columns=['ESTU_NACIMIENTO_DIA', 
                                                                                         'ESTU_NACIMIENTO_MES',
                                                                                         'ESTU_NACIMIENTO_ANNO'])
data_2015 = pd.concat([data_2015, Sep_Col], axis=1)

In [19]:
data_2015 = data_2015.drop(c, axis=1)

In [20]:
c = 'ESTU_ETNIA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0, 100.0],
             dtype='float64')
1       4323
2        175
3         53
4        369
5         50
6        202
7        346
8        350
9        505
10        23
11        48
12        12
13        43
14        35
15        37
16        50
17       174
18       259
19      2525
100    90011
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 6950
__________________
Elementos diferentes de null/NaN: 99590
__________________
(99590,)
None

In [21]:
data_2015[c].fillna(100, inplace=True)

In [22]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['MOT'], dtype='object')
MOT    140
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 106400
__________________
Elementos diferentes de null/NaN: 140
__________________
(140,)
None

In [23]:
data_2015 = data_2015.drop(c, axis=1)

In [24]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['VIS'], dtype='object')
VIS    32
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 106508
__________________
Elementos diferentes de null/NaN: 32
__________________
(32,)
None

In [25]:
data_2015 = data_2015.drop(c, axis=1)

In [26]:
c = 'ESTU_LIMITA_CONDICIONESPECIAL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['CE'], dtype='object')
CE    23
Name: ESTU_LIMITA_CONDICIONESPECIAL, dtype: int64
Elementos null/NaN 106517
__________________
Elementos diferentes de null/NaN: 23
__________________
(23,)
None

In [27]:
data_2015 = data_2015.drop(c, axis=1)

In [28]:
c = 'ESTU_LIMITA_SORDO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['AUD'], dtype='object')
AUD    39
Name: ESTU_LIMITA_SORDO, dtype: int64
Elementos null/NaN 106501
__________________
Elementos diferentes de null/NaN: 39
__________________
(39,)
None

In [29]:
data_2015 = data_2015.drop(c, axis=1)

In [30]:
c = 'ESTU_LIMITA_SDOWN'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['SD'], dtype='object')
SD    5
Name: ESTU_LIMITA_SDOWN, dtype: int64
Elementos null/NaN 106535
__________________
Elementos diferentes de null/NaN: 5
__________________
(5,)
None

In [31]:
data_2015 = data_2015.drop(c, axis=1)

In [32]:
c = 'ESTU_LIMITA_AUTISMO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['AA'], dtype='object')
AA    18
Name: ESTU_LIMITA_AUTISMO, dtype: int64
Elementos null/NaN 106522
__________________
Elementos diferentes de null/NaN: 18
__________________
(18,)
None

In [33]:
data_2015 = data_2015.drop(c, axis=1)

In [34]:
c = 'COLE_COD_MCPIO_UBICACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([ 5001.0,  5042.0,  5045.0,  5086.0,  5088.0,  5129.0,  5266.0,
               5360.0,  5376.0,  5380.0,
              ...
              76892.0, 81001.0, 85001.0, 85440.0, 86001.0, 86320.0, 86568.0,
              86865.0, 94001.0, 95001.0],
             dtype='float64', length=144)
5001      947
5042       23
5045       56
5086       25
5088      218
5129       27
5266      307
5360       40
5376       28
5380       91
5440        9
5495       36
5607       53
5615       26
5697       39
8001      451
8573      392
8685        1
8758      133
11001    6702
13001     332
13244       9
13654       2
15001     115
15176      25
15238      84
15516       9
15693       2
15755      12
15759      80
         ...
73268      25
73283      36
73411      44
73443      45
73449      29
73504      30
76001    6297
76109      66
76111     325
76130      80
76147     102
76233      16
76248     145
76250      17
76275       3
76364      93
76520     801
76563      13
76622       5
76834      51
76892     249
81001      28
85001      69
85440      15
86001      24
86320      19
86568      35
86865       4
94001      13
95001       8
Name: COLE_COD_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [35]:
data_2015 = data_2015.drop(c, axis=1)

In [36]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACEVEDO', 'ACHI', 'AGRADO',
       'AGUA DE DIOS', 'AGUACHICA', 'AGUADAS', 'AGUAZUL',
       ...
       'YOPAL', 'YOTOCO', 'YUMBO', 'ZAPATOCA', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=954)
ABREGO                        15
ABRIAQUI                       2
ACACIAS                      131
ACEVEDO                       63
ACHI                           1
AGRADO                         8
AGUA DE DIOS                  17
AGUACHICA                    243
AGUADAS                       10
AGUAZUL                       57
AGUSTIN CODAZZI               95
AIPE                          37
ALBAN                          3
ALBAN (SAN JOSE)              43
ALBANIA                       55
ALCALA                         5
ALDANA                        20
ALEJANDRIA                     3
ALGECIRAS                     48
ALMAGUER                       6
ALTAMIRA                       7
ALTO BAUDO (PIE DE PATO)      17
ALTOS DEL ROSARIO              2
ALVARADO                       7
AMAGA                          6
AMALFI                         6
AMBALEMA                       7
ANAPOIMA                      17
ANCUYA                        31
ANDALUCIA                     44
                            ...
VILLA RICA                    41
VILLAGARZON                   42
VILLAGOMEZ                     1
VILLAHERMOSA                   5
VILLAMARIA                   152
VILLANUEVA                   121
VILLAPINZON                   27
VILLARRICA                     6
VILLAVICENCIO               1816
VILLAVIEJA                     5
VILLETA                       42
VIOTA                          7
VISTA HERMOSA                 21
VITERBO                        8
YACOPI                         9
YACUANQUER                    36
YAGUARA                       25
YARUMAL                       14
YOLOMBO                        2
YONDO (CASABE)                19
YOPAL                        374
YOTOCO                        16
YUMBO                        332
ZAPATOCA                      11
ZARAGOZA                      24
ZARZAL                       141
ZETAQUIRA                      8
ZIPACON                        2
ZIPAQUIRA                    191
ZONA BANANERA                 16
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 106537
__________________
(106537,)
None

In [37]:
data_2015[c].fillna(method='bfill', inplace=True)
data_2015[c].fillna(method='ffill', inplace=True)

In [38]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'EXTRANJERO', 'GUAINIA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE',
       'TOLIMA', 'VALLE', 'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS              29
ANTIOQUIA           7407
ARAUCA               408
ATLANTICO           3494
BOGOTA             18970
BOLIVAR             2241
BOYACA              4661
CALDAS              2469
CAQUETA              867
CASANARE             653
CAUCA               3830
CESAR               1863
CHOCO                747
CORDOBA             1540
CUNDINAMARCA        3848
EXTRANJERO             8
GUAINIA               48
GUAVIARE             155
HUILA               4478
LA GUAJIRA          1062
MAGDALENA            908
META                2290
NARIÑO              7833
NORTE SANTANDER     2091
PUTUMAYO            1151
QUINDIO             1279
RISARALDA           1827
SAN ANDRES            56
SANTANDER           6847
SUCRE                751
TOLIMA              3370
VALLE              19303
VAUPES                25
VICHADA               28
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 106537
__________________
(106537,)
None

In [39]:
data_2015[c].fillna(method='bfill', inplace=True)
data_2015[c].fillna(method='ffill', inplace=True)

In [40]:
c = 'ESTU_COD_RESIDE_MCPIO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([ 5001.0,  5004.0,  5021.0,  5030.0,  5031.0,  5034.0,  5036.0,
               5038.0,  5040.0,  5042.0,
              ...
              94883.0, 95001.0, 95015.0, 95025.0, 97001.0, 97666.0, 99001.0,
              99524.0, 99773.0, 99999.0],
             dtype='float64', length=1027)
5001     3398
5004        2
5021        3
5030        6
5031        6
5034       17
5036        1
5038        3
5040        3
5042       19
5044        3
5045      626
5051       11
5055        1
5059        1
5079       30
5086       26
5088      600
5091        3
5093        2
5101        7
5107        9
5113       35
5120       15
5125        3
5129       87
5138        5
5142        3
5145        1
5147      182
         ...
85430      10
85440      47
86001     259
86219      33
86320     148
86568     296
86569      28
86571      40
86573       6
86749     108
86755      15
86757      45
86760      24
86865     107
86885      42
88001      51
88564       5
91001      28
91540       1
94001      45
94883       3
95001     149
95015       2
95025       4
97001      24
97666       1
99001      23
99524       1
99773       4
99999       8
Name: ESTU_COD_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 106537
__________________
(106537,)
None

In [41]:
data_2015 = data_2015.drop(c, axis=1)

In [42]:
c = 'ESTU_ZONA_RESIDE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')
1     10398
2      1094
3      2063
4     14893
5      8814
6      2825
7      2205
8      4196
9      3659
10    56393
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [43]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([105001000256.0, 105001000566.0, 105001001155.0, 105001002020.0,
              105001002526.0, 105001003387.0, 105001003425.0, 105001024571.0,
              105042000732.0, 105045000148.0,
              ...
              550350000002.0, 568001009700.0, 568001009730.0, 568432001300.0,
              625214000001.0, 625269000075.0, 625269000078.0, 625269000082.0,
              625269000084.0, 818001100040.0],
             dtype='float64', length=897)
1.050010e+11      2
1.050010e+11      1
1.050010e+11      3
1.050010e+11      8
1.050010e+11      7
1.050010e+11     11
1.050010e+11     21
1.050010e+11     29
1.050420e+11     23
1.050450e+11     53
1.050880e+11     27
1.050880e+11     11
1.050880e+11     29
1.051290e+11     27
1.052660e+11     36
1.052660e+11      1
1.052660e+11     14
1.053600e+11      7
1.054400e+11      9
1.086850e+11      1
1.110010e+11     20
1.110010e+11     12
1.110010e+11     13
1.110010e+11     23
1.110010e+11      5
1.110010e+11     13
1.110010e+11     24
1.110010e+11      4
1.110010e+11     11
1.110010e+11      1
               ...
4.760010e+11     10
4.760010e+11     15
4.760010e+11     17
4.760010e+11     59
4.761300e+11     56
4.762330e+11     16
4.762480e+11     90
4.762480e+11     27
4.765200e+11     16
4.765200e+11     16
4.765200e+11     93
4.768921e+11      7
4.768921e+11      3
4.768921e+11      4
4.850010e+11      4
4.865681e+11      4
5.190010e+11     43
5.191420e+11     14
5.258430e+11      1
5.410010e+11     35
5.503500e+11     10
5.680010e+11      7
5.680010e+11     14
5.684320e+11      2
6.252140e+11     27
6.252690e+11      6
6.252690e+11    126
6.252690e+11     31
6.252690e+11      8
8.180011e+11     15
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [44]:
Do_resamples(data_2015, c, float)

cant null antes: 80740
cant null despues: 0

In [45]:
c = 'COLE_COD_ICFES'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([   182.0,    638.0,   1503.0,   1867.0,   2287.0,   3046.0,
                3327.0,   3418.0,   3459.0,   4036.0,
              ...
              191304.0, 191387.0, 191445.0, 191825.0, 191890.0, 192278.0,
              193086.0, 193268.0, 193391.0, 193409.0],
             dtype='float64', length=965)
182       109
638       236
1503       27
1867        1
2287        9
3046       55
3327       12
3418       51
3459       82
4036        1
4234       48
5785       24
6023       90
7013       72
7070       56
7088       42
9696        6
11262      76
11288     101
12013      21
13243      17
13466      25
13847      29
14506      18
16402      29
16667      67
16691     128
16709      54
16733      46
16741      84
         ...
183673     36
186494     70
186551     18
188581     23
189399      4
189704      8
189837      8
189845      1
189902      3
190009     28
190272      9
190280      5
190645      4
190744      8
190926     23
190991     21
191114      6
191148     12
191155     17
191288      8
191304      1
191387      1
191445      2
191825     41
191890      1
192278     33
193086      6
193268     17
193391     19
193409     25
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [46]:
for i in data_2015[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2015[c] = data_2015[c].replace(i, np.nan)
        
Do_resamples(data_2015, c, float)

cant null antes: 80740
cant null despues: 0

In [47]:
c = 'COLE_NOMBRE_SEDE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['ACAD AMERICANA DE SISTEMAS Y COMERCIO',
       'ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO',
       'ACADEMIA COLOMBIANA DE ENSEÑANZA',
       'ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS',
       'ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA',
       'ACADEMIA MILITAR GENERAL JOSÉ MARÍA CABAL',
       'ALAS COLEGIO  - SEDE PRINCIPAL', 'AMERICAN SCHOOL',
       'ASOCIACION COLEGIO GRANADINO',
       'ASPAEN COLEGIO JUANAMBÚ - SEDE PRINCIPAL',
       ...
       'SEMINARIO MENOR ARQUIDIOCESANO',
       'SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS',
       'STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION',
       'TANDEM - SEDE PRINCIPAL', 'TERRA INSTITUTI - SEDE PRINCIPAL',
       'TERRA INSTITUTO VILLA  - SEDE PRINCIPAL',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNION SINDICAL OBRERA  USO', 'UNITECNICAS - SEDE PRINCIPAL',
       'VERNOT SCHOOL'],
      dtype='object', length=886)
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                               22
ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO                                              31
ACADEMIA COLOMBIANA DE ENSEÑANZA                                                    57
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                           21
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                                          11
ACADEMIA MILITAR GENERAL JOSÉ MARÍA CABAL                                           19
ALAS COLEGIO  - SEDE PRINCIPAL                                                       6
AMERICAN SCHOOL                                                                     33
ASOCIACION COLEGIO GRANADINO                                                        33
ASPAEN COLEGIO JUANAMBÚ - SEDE PRINCIPAL                                            16
ASPAEN GIMNASIO CARTAGENA DE INDIAS                                                 33
ASPAEN GIMNASIO IRAGUA                                                              43
ASPAEN GIMNASIO LOS CORALES                                                         13
ASPAEN LICEO TACURÍ                                                                 19
ASPAEN-GIMNASIO LOS CEREZOS                                                         17
ATENEO AUTONOMO DE FLORENCIA                                                        24
BACHILLERATO ACADEMICO PARA ADULTOS ALHERSAN                                        72
BACHILLERATO AGROPECUARIO SAT PROHACIENDO - SEDE PRINCIPAL                          34
BACHILLERATO DIVERSIFICADO A DISTANCIA PARA ADULTOS DE LA UNAD - SEDE PRINCIPAL      1
BACHILLERATO INTEGRAL DEL QUINDIO                                                   21
BOSQUECITO ENCANTADO Y COLEGIO EL BOSQUE                                             7
BRAULIO GONZALEZ                                                                     5
BTO  SEMESTRALIZADO SINTEUCAUCA - SEDE PRINCIPAL                                     5
BTO ACAD CICLICO DEL CAUCA                                                          18
BTO DE ADULTOS UNAD                                                                 24
BTO FORMAL DE ADULTOS DEL CAUCA                                                     16
BTO MODERNO DE ADULTOS EXTERNADO DEL SUR                                            79
BTO PARA ADULTOS COLSUBSIDIO                                                        59
C. E. FORMAL DISCENTER S - SEDE PRINCIPAL                                           39
C.E. JÓVENES CON FUTURO - SEDE PRINCIPAL                                            16
                                                                                  ...
POLITECNICO SUPERIOR DEL VALLE                                                       8
POLITECNICO UNIVERSAL DE CAPACITACION                                               26
REAL COL SAN FRANCISCO DE ASIS                                                      56
RODRIGO LARA BONILLA                                                                 2
SAGRADO CORAZON (sede principal)                                                     1
SAINT GEORGE SCHOOL - SAN JORGE - SEDE PRINCIPAL                                    12
SANTA  MARIA STELLA MARIS                                                           20
SANTA BARBARA                                                                       24
SANTA MARIANA DE JESÚS                                                              28
SANTA TERESA DE JESUS FE Y ALEGRIA                                                   1
SEDE # 1 IBERIA                                                                      8
SEDE 1 ANTONIO REYES UMAÑA                                                           4
SEDE 4 CURAL LA TIGRERA                                                             16
SEDE INURBE                                                                          1
SEDE JOHN F KENNEDY                                                                 12
SEDE LA PAMBA                                                                        2
SEDE PRINCIPAL CONCENTRACIÓN DE DESARROLLO RURAL                                     1
SEDE PRINCIPAL GIMNASIO DEL PACIFICO CENTRAL                                         3
SEDE PRINCIPAL INSTITUTO JULIA RESTREPO                                              3
SEM DE CRISTO SACERDOTE                                                             36
SEMINARIO MENOR ARQUIDIOCESANO                                                      42
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                                            30
STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION                           91
TANDEM - SEDE PRINCIPAL                                                              8
TERRA INSTITUTI - SEDE PRINCIPAL                                                   111
TERRA INSTITUTO VILLA  - SEDE PRINCIPAL                                             24
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                               53
UNION SINDICAL OBRERA  USO                                                          18
UNITECNICAS - SEDE PRINCIPAL                                                        21
VERNOT SCHOOL                                                                       14
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [48]:
data_2015 = data_2015.drop(c, axis=1)

In [49]:
c = 'COLE_JORNADA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['C', 'M', 'N', 'S', 'T', 'U'], dtype='object')
C    8840
M    8052
N    3401
S    4471
T    1003
U      33
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [50]:
Do_resamples(data_2015, c, str)

cant null antes: 80740
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [51]:
c = 'COLE_GENERO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['FEMENINO', 'MASCULINO', 'MIXTO'], dtype='object')
FEMENINO      1266
MASCULINO      434
MIXTO        24100
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [52]:
Do_resamples(data_2015, c, str)

cant null antes: 80740
cant null despues: 0

In [53]:
c = 'COLE_CARACTER'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['ACADÉMICO', 'NO_APLICA', 'TÉCNICO', 'TÉCNICO/ACADÉMICO'], dtype='object')
ACADÉMICO            20653
NO_APLICA              272
TÉCNICO               2134
TÉCNICO/ACADÉMICO     2202
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 81279
__________________
Elementos diferentes de null/NaN: 25261
__________________
(25261,)
None

In [54]:
Do_resamples(data_2015, c, str)

cant null antes: 81279
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [55]:
c = 'COLE_NATURALEZA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['NO OFICIAL', 'OFICIAL', 'OTRO'], dtype='object')
NO OFICIAL    24047
OFICIAL        1753
OTRO          80740
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [56]:
Do_resamples(data_2015, c, str)

cant null antes: 0
cant null despues: 0

In [57]:
c = 'COLE_BILINGUE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    18572
S     3800
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 84168
__________________
Elementos diferentes de null/NaN: 22372
__________________
(22372,)
None

In [58]:
Do_resamples(data_2015, c, str)

cant null antes: 84168
cant null despues: 0

In [59]:
c = 'COLE_CALENDARIO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['A', 'B', 'O'], dtype='object')
A    11052
B    13489
O     1259
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [60]:
Do_resamples(data_2015, c, str)

cant null antes: 80740
cant null despues: 0

In [61]:
c = 'ESTU_AREA_RESIDE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['R', 'U'], dtype='object')
R    11491
U    95043
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 6
__________________
Elementos diferentes de null/NaN: 106534
__________________
(106534,)
None

In [62]:
Do_resamples(data_2015, c, str)

cant null antes: 6
cant null despues: 0

In [63]:
c = 'COLE_AREA_UBICACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['R', 'U'], dtype='object')
R     2343
U    23457
Name: COLE_AREA_UBICACION, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [64]:
Do_resamples(data_2015, c, str)

cant null antes: 80740
cant null despues: 0

In [65]:
c = 'COLE_DEPTO_UBICACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA          1925
ARAUCA               28
ATLANTICO           977
BOGOTA             6702
BOLIVAR             343
BOYACA              327
CALDAS              416
CAQUETA              70
CASANARE             84
CAUCA              1173
CESAR               168
CHOCO                 9
CORDOBA             103
CUNDINAMARCA       1597
GUAINIA              13
GUAVIARE              8
HUILA               329
LA GUAJIRA           85
MAGDALENA           151
META                582
NARIÑO              731
NORTE SANTANDER     115
PUTUMAYO             82
QUINDIO             195
RISARALDA           387
SANTANDER           557
SUCRE                22
TOLIMA              358
VALLE              8263
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [66]:
data_2015[c].fillna(method='bfill', inplace=True)
data_2015[c].fillna(method='ffill', inplace=True)

In [67]:
c = 'COLE_MCPIO_UBICACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['AGUACHICA', 'AGUSTIN CODAZZI', 'ALBANIA', 'ALPUJARRA', 'ANAPOIMA',
       'APARTADO', 'ARAUCA', 'ARGELIA', 'ARMENIA', 'BARRANCABERMEJA',
       ...
       'UBATE', 'VALLEDUPAR', 'VILLA GUAMEZ (LA HORMIGA)', 'VILLAMARIA',
       'VILLANUEVA', 'VILLAVICENCIO', 'VISTA HERMOSA', 'YOPAL', 'YUMBO',
       'ZIPAQUIRA'],
      dtype='object', length=144)
AGUACHICA                      84
AGUSTIN CODAZZI                16
ALBANIA                        28
ALPUJARRA                      34
ANAPOIMA                        7
APARTADO                       56
ARAUCA                         28
ARGELIA                        14
ARMENIA                       131
BARRANCABERMEJA                91
BARRANQUILLA                  451
BELLO                         218
BELMIRA                        25
BELTRAN                         1
BOGOTÁ D.C.                  6702
BUCARAMANGA                   187
BUENAVENTURA                   66
BUENAVISTA                     35
BUGA                          325
CAJICA                        174
CALDAS                         27
CALI                         6297
CALOTO                         14
CANDELARIA                     80
CARTAGENA                     332
CARTAGO                       102
CERETE                          1
CHAPARRAL                       1
CHIA                          528
CHINCHINA                      24
                             ...
SANTA ROSA DE VITERBO           2
SANTACRUZ (GUACHAVES)          56
SANTAFÉ DE ANTIOQUIA           23
SANTANDER DE QUILICHAO         86
SANTO TOMAS                     1
SANTUARIO                      39
SIBATE                          6
SINCELEJO                      18
SOACHA                         58
SOCOTA                         12
SOGAMOSO                       80
SOLEDAD                       133
SOPO                           16
TENJO                          33
TIMBIO                          8
TOCANCIPA                      39
TULUA                          51
TUMACO                          8
TUNJA                         115
TUQUERRES                      21
UBATE                           1
VALLEDUPAR                     68
VILLA GUAMEZ (LA HORMIGA)       4
VILLAMARIA                     74
VILLANUEVA                     15
VILLAVICENCIO                 572
VISTA HERMOSA                  10
YOPAL                          69
YUMBO                         249
ZIPAQUIRA                      56
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [68]:
data_2015[c].fillna(method='bfill', inplace=True)
data_2015[c].fillna(method='ffill', inplace=True)

In [69]:
c = 'ESTU_COD_RESIDE_DEPTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([    5.0,     8.0,    11.0,    13.0,    15.0,    17.0,    18.0,
                 19.0,    20.0,    23.0,    25.0,    27.0,    41.0,    44.0,
                 47.0,    50.0,    52.0,    54.0,    63.0,    66.0,    68.0,
                 70.0,    73.0,    76.0,    81.0,    85.0,    86.0,    88.0,
                 91.0,    94.0,    95.0,    97.0,    99.0, 99999.0],
             dtype='float64')
5         7407
8         3494
11       18970
13        2241
15        4661
17        2469
18         867
19        3830
20        1863
23        1540
25        3848
27         747
41        4478
44        1062
47         908
50        2290
52        7833
54        2091
63        1279
66        1827
68        6847
70         751
73        3370
76       19303
81         408
85         653
86        1151
88          56
91          29
94          48
95         155
97          25
99          28
99999        8
Name: ESTU_COD_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 106537
__________________
(106537,)
None

In [70]:
data_2015 = data_2015.drop(c, axis=1)

In [71]:
c = 'ESTU_PRESENTO_ANTECEDENTES'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['NO', 'SI'], dtype='object')
NO    100437
SI      6103
Name: ESTU_PRESENTO_ANTECEDENTES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [72]:
c = 'ESTU_PRIVADO_LIBERTAD'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    106504
S        36
Name: ESTU_PRIVADO_LIBERTAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106540
__________________
(106540,)
None

In [73]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5832
S     271
Name: ESTU_REPROBO_PRIMERO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [74]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [75]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5894
S     209
Name: ESTU_REPROBO_SEGUNDO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [76]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [77]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5839
S     264
Name: ESTU_REPROBO_TERCERO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [78]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [79]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5897
S     206
Name: ESTU_REPROBO_CUARTO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [80]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [81]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5866
S     237
Name: ESTU_REPROBO_QUINTO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [82]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [83]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5570
S     533
Name: ESTU_REPROBO_SEXTO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [84]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [85]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5534
S     569
Name: ESTU_REPROBO_SEPTIMO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [86]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [87]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5484
S     619
Name: ESTU_REPROBO_OCTAVO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [88]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [89]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5464
S     639
Name: ESTU_REPROBO_NOVENO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [90]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [91]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5558
S     545
Name: ESTU_REPROBO_DECIMO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [92]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [93]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    5859
S     244
Name: ESTU_REPROBO_ONCE_MAS, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [94]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [95]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     859
1    1721
2    1228
3    2295
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [96]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 0

In [97]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0],
             dtype='float64')
1985     215
1986      47
1987      28
1988      23
1989      32
1990      66
1991      55
1992      29
1993      27
1994      43
1995      46
1996      50
1997      47
1998      80
1999     125
2000     350
2001     487
2002     685
2003    1181
2004    2487
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [98]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 0

In [99]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0],
             dtype='float64')
1985     118
1986       9
1987      20
1988      12
1989      15
1990      41
1991      34
1992      27
1993      20
1994      24
1995      59
1996      52
1997      28
1998      41
1999      45
2000      60
2001      50
2002      64
2003      86
2004     142
2005     378
2006     447
2007     743
2008    3588
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [100]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 0

In [101]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0,
              2009.0],
             dtype='float64')
1985      69
1986      19
1987       7
1988      18
1989      10
1990      15
1991      33
1992      30
1993      14
1994      17
1995      22
1996      57
1997      47
1998      29
1999      36
2000      41
2001      60
2002      48
2003      47
2004      69
2005     137
2006     381
2007     511
2008    1209
2009    3177
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [102]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 0

In [103]:
c = 'ESTU_ANO_TERMINO_BACHILL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0, 2014.0],
             dtype='float64')
1980      207
1981       44
1982       40
1983       50
1984       56
1985       59
1986       69
1987       63
1988       91
1989       81
1990       94
1991      123
1992      120
1993      133
1994      176
1995      202
1996      286
1997      406
1998      468
1999      554
2000      607
2001      750
2002      809
2003      956
2004     1150
2005     1243
2006     1441
2007     1835
2008     2455
2009     3190
2010     4013
2011     5823
2012     7923
2013    13478
2014    31223
Name: ESTU_ANO_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 26322
__________________
Elementos diferentes de null/NaN: 80218
__________________
(80218,)
None

In [104]:
Do_resamples(data_2015, c, float)

cant null antes: 26322
cant null despues: 0

In [105]:
c = 'ESTU_CUANTO_FALTO_COLEGIO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['CINCO O MÁS VECES', 'NINGUNA', 'TRES O CUATRO VECES',
       'UNA O DOS VECES'],
      dtype='object')
CINCO O MÁS VECES        49
NINGUNA                4464
TRES O CUATRO VECES     151
UNA O DOS VECES        1439
Name: ESTU_CUANTO_FALTO_COLEGIO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [106]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [107]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    3793
2    1462
3     848
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [108]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 0

In [109]:
c = 'ESTU_MES_TERMINO_BACHILL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       296
2       411
3       460
4       391
5       358
6      4191
7      6235
8      1331
9       898
10      648
11    23190
12    41801
Name: ESTU_MES_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 26330
__________________
Elementos diferentes de null/NaN: 80210
__________________
(80210,)
None

In [110]:
Do_resamples(data_2015, c, float)

cant null antes: 26330
cant null despues: 0

In [111]:
c = 'ESTU_RAZON_RETIRO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
1     27
2     37
3    460
4    125
5    174
6     70
7     27
8     30
9    578
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 105012
__________________
Elementos diferentes de null/NaN: 1528
__________________
(1528,)
None

In [112]:
Do_resamples(data_2015, c, float)

cant null antes: 105012
cant null despues: 0

In [113]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    4576
2     538
3     431
4     558
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [114]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 0

In [115]:
c = 'ESTU_NUMERO_LIBROS'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['0 A 10 LIBROS', '11 A 25 LIBROS', '26 A 100 LIBROS',
       'MÁS DE 100 LIBROS'],
      dtype='object')
0 A 10 LIBROS        46485
11 A 25 LIBROS       30057
26 A 100 LIBROS      21357
MÁS DE 100 LIBROS     8640
Name: ESTU_NUMERO_LIBROS, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [116]:
Do_resamples(data_2015, c, str)

cant null antes: 1
cant null despues: 0

In [117]:
c = 'ESTU_TIPO_CARRERA_DESEADA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     651
2     471
3    4601
4     380
Name: ESTU_TIPO_CARRERA_DESEADA, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [118]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 0

In [119]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['10055', '10177', '10199', '10260', '10342', '10353', '10372', '1051',
       '10514', '1063',
       ...
       '9480', '9490', '9557', '9608', '9609', '9645', '965', '967', '9958',
       'Otro'],
      dtype='object', length=354)
10055      1
10177      2
10199      1
10260      2
10342      2
10353      1
10372      1
1051       2
10514      1
1063       5
1069       1
10730      1
11071      1
1109       1
11134      2
1124       2
11255      1
11741      4
1185       1
12318      1
12605      1
12734      1
12778      2
13270      1
1369       1
1404       1
1441       1
1636       1
1644       1
1683       4
        ...
9217       7
922        3
9221      89
9224     217
9226      60
9228       1
9229       2
9230      11
9232       5
9234       8
9235       1
9236      23
9237      48
9240       6
9241       1
9242       1
9243      11
9244       2
9275       1
9302       1
9480       1
9490       7
9557       1
9608       2
9609       1
9645       2
965        1
967        1
9958       1
Otro     887
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 100806
__________________
Elementos diferentes de null/NaN: 5734
__________________
(5734,)
None

In [120]:
data_2015[c] = data_2015[c].replace('Otro', np.nan)
for i in data_2015[c].value_counts().sort_index().index:
    if len(i) < 4:
        data_2015[c] = data_2015[c].replace(i, np.nan)
        
Do_resamples(data_2015, c, str)

cant null antes: 101719
cant null despues: 31
cant null antes: 31
cant null despues: 0

In [121]:
c = 'ESTU_IES_MCPIO_INST_DESEADA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([    1.0,    11.0,    13.0,    18.0,    19.0,    27.0,    35.0,
                 47.0,    59.0,    63.0,
              ...
               1053.0,  1059.0,  1064.0,  1068.0,  1077.0,  1078.0,  1081.0,
               1104.0,  1113.0, 99999.0],
             dtype='float64', length=126)
1         427
11          1
13         10
18          3
19         10
27          2
35          1
47         15
59          3
63          1
68          6
69          1
75          8
83          2
85         12
113         1
126       179
139         2
145         4
152      2016
153        26
199        34
207         3
215         2
230         9
264         1
296        13
322        85
327         4
329         5
         ...
986         1
988         2
989         5
992         2
1010     1609
1016       15
1017       26
1019        6
1022        3
1026        4
1027        1
1031        1
1036      115
1040        2
1042        1
1043        1
1045       20
1050        3
1051        1
1052        5
1053        1
1059       16
1064        1
1068        1
1077        2
1078        5
1081        6
1104        2
1113        2
99999      37
Name: ESTU_IES_MCPIO_INST_DESEADA, dtype: int64
Elementos null/NaN 100798
__________________
Elementos diferentes de null/NaN: 5742
__________________
(5742,)
None

In [122]:
Do_resamples(data_2015, c, float)

cant null antes: 100798
cant null despues: 0

In [123]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    1860
S    4243
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [124]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [125]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    3903
S    2200
Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [126]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [127]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['NO', 'SI'], dtype='object')
NO    3680
SI    1063
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 101797
__________________
Elementos diferentes de null/NaN: 4743
__________________
(4743,)
None

In [128]:
Do_resamples(data_2015, c, str)

cant null antes: 101797
cant null despues: 0

In [129]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['NO', 'SI'], dtype='object')
NO    3274
SI    1379
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 101887
__________________
Elementos diferentes de null/NaN: 4653
__________________
(4653,)
None

In [130]:
Do_resamples(data_2015, c, str)

cant null antes: 101887
cant null despues: 0

In [131]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    1969
S    4134
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [132]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [133]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    4215
S    1888
Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [134]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [135]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N     516
S    5587
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [136]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [137]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    2447
S    3656
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [138]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [139]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['NO', 'SI'], dtype='object')
NO    2237
SI    3293
Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64
Elementos null/NaN 101010
__________________
Elementos diferentes de null/NaN: 5530
__________________
(5530,)
None

In [140]:
Do_resamples(data_2015, c, str)

cant null antes: 101010
cant null despues: 0

In [141]:
c = 'ESTU_POR_OTRARAZON'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    4489
S    1614
Name: ESTU_POR_OTRARAZON, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [142]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [143]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    4859
S    1244
Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [144]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [145]:
c = 'ESTU_POR_UBICACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    3093
S    3010
Name: ESTU_POR_UBICACION, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [146]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [147]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    4753
S    1350
Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [148]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [149]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    1261
S    4842
Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [150]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [151]:
c = 'ESTU_PROGRAMA_ACADEMICODESEADO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 11.0, 12.0,
              13.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0,
              28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 39.0,
              40.0, 41.0, 42.0, 44.0, 45.0, 46.0, 47.0, 48.0, 50.0, 53.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 61.0, 62.0, 64.0, 66.0, 68.0, 69.0, 70.0,
              99.0],
             dtype='float64')
1      163
2       41
3       39
4       79
5       33
6       58
7      173
8       53
9     1292
11     174
12     100
13      89
18     216
19      31
20      84
21      37
22      21
23      25
24       6
25     159
26      19
27     176
28      41
29      87
30     181
31     132
32      48
33      35
34      33
35      18
36      19
37      12
39      17
40      38
41     144
42      39
44       6
45     517
46      29
47      59
48      13
50      33
53      25
55       5
56     110
57     201
58      68
59     326
61      40
62       6
64      76
66     243
68      18
69      39
70      18
99     359
Name: ESTU_PROGRAMA_ACADEMICODESEADO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [152]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 0

In [153]:
c = 'ESTU_OTRO_PLANTEL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['  Colegio La Amistad  ', ' AGROPECUARIO GUAMBIANO',
       ' ANGELA MARIA TORRES SUAREZ',
       ' BACHILLERATO INTEGRAL DEL QUINDIO IPFEL', ' C.E.I.CO',
       ' CENTRO JOHANN KEPLER', ' CIUDADELA JOSE MARIA CORDOBA',
       ' COLEGIO GUILLERMO LEON VALENCIA', ' COLEGIO NACIONALIZADO FEMENINO',
       ' Corporacion Educativa Simon Rodriguez',
       ...
       'vocacional de jovenes y adultos', 'wesleyano del norte',
       'wilian shespier', 'william shakespeare', 'willian shakespeare ',
       'willian shakespiare', 'zion School', 'zion school', '¡.D.E BAGAZAL',
       'ÓN DEPARTAMENTAL FUNZA'],
      dtype='object', length=15620)
  Colegio La Amistad                        1
 AGROPECUARIO GUAMBIANO                     1
 ANGELA MARIA TORRES SUAREZ                 1
 BACHILLERATO INTEGRAL DEL QUINDIO IPFEL    1
 C.E.I.CO                                   1
 CENTRO JOHANN KEPLER                       1
 CIUDADELA JOSE MARIA CORDOBA               1
 COLEGIO GUILLERMO LEON VALENCIA            1
 COLEGIO NACIONALIZADO FEMENINO             1
 Corporacion Educativa Simon Rodriguez      1
 Escuela Normal Superior de San Mateo       1
 Esperanza,Amor y Paz                       1
 FUNDACION  GENERAL JOSE MARIA CORDOBA      1
 GIMNASIO GRAN COLOMBIANO                   1
 Gimnasio Del Pacifico                      1
 I .E.  SAN JOSE DE ORITO                   1
 I. E. TECNICA RAFAEL URIBE - SEDE INSTI    1
 I.E.CENFE                                  1
 I.E.D Costa Caribe                         1
 IED sierra morena  ciudad bolivar          1
 INMACULADA CONCEPCION                      1
 INSTITUCION EDUCATIVA SAN PEDRO CLAVER     1
 INSTITUTO ANDINO DE BACHILLERATO Y CAPA    1
 INSTITUTO FERRINI                          1
 INSTITUTO MAYOR DE EDUCACION INTEGRAL      1
 INSTITUTO TECNICO INDUSTRIAL               1
 Instituto Tomás Moro sede Madrid           1
 Instituto politécnico nacional latinoam    1
 JOSE ANTONIO LLORENTE                      1
 Jose Celestino Mutis                       1
                                           ..
validación en Educamos                      1
validado                                    1
valparaiso                                  1
vasco nuñes de balboa                       1
vasco nuñez de balboa                       1
vasco ñuñez de balboa                       1
venadillo                                   1
victor de lima                              1
victor feliz gomez nova                     1
vida y paz                                  2
villa amazonica                             1
villa de los andes                          1
villa del socorro nocturna                  2
villa margarita                             3
villa maria                                 1
villamargarita                              1
villavicencio - meta                        1
virtual                                     1
virtual                                     1
virtual andinos                             1
vocacional de jovenes y adultos             1
wesleyano del norte                         1
wilian shespier                             1
william shakespeare                         3
willian shakespeare                         1
willian shakespiare                         1
zion School                                 1
zion school                                 1
¡.D.E BAGAZAL                               1
ÓN DEPARTAMENTAL FUNZA                      1
Name: ESTU_OTRO_PLANTEL, dtype: int64
Elementos null/NaN 83690
__________________
Elementos diferentes de null/NaN: 22850
__________________
(22850,)
None

In [154]:
data_2015 = data_2015.drop(c, axis=1)

In [155]:
c = 'ESTU_COD_OTRO_PAIS_PLANTEL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([  1.0,   2.0,  12.0,  14.0,  15.0,  28.0,  33.0,  39.0,  40.0,
               41.0,  42.0,  43.0,  46.0,  47.0,  50.0,  54.0,  55.0,  57.0,
               64.0,  65.0,  76.0,  86.0,  91.0,  98.0,  99.0, 101.0, 110.0,
              118.0, 119.0, 131.0, 144.0, 145.0, 167.0, 168.0, 171.0, 174.0,
              179.0, 183.0, 188.0, 195.0, 202.0, 209.0, 216.0, 220.0, 235.0,
              236.0, 240.0, 241.0, 242.0],
             dtype='float64')
1      80131
2          1
12        16
14         2
15         1
28         6
33         5
39         6
40         1
41         6
42        10
43         1
46        10
47         1
50        26
54         5
55         4
57         3
64         2
65        51
76         1
86         1
91         3
98         4
99         7
101        1
110        4
118        7
119        2
131        1
144       13
145        1
167        1
168        2
171       16
174       25
179        1
183        2
188        1
195        1
202        1
209       54
216        1
220        1
235        3
236       66
240        4
241      224
242        3
Name: ESTU_COD_OTRO_PAIS_PLANTEL, dtype: int64
Elementos null/NaN 25801
__________________
Elementos diferentes de null/NaN: 80739
__________________
(80739,)
None

In [156]:
data_2015 = data_2015.drop(c, axis=1)

In [157]:
c = 'ESTU_PROMEDIO_SALON'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['EN EL PROMEDIO DEL SALÓN', 'MUY POR ENCIMA DEL PROMEDIO DEL SALÓN',
       'POR DEBAJO DEL PROMEDIO DEL SALÓN',
       'POR ENCIMA DEL PROMEDIO DEL SALÓN'],
      dtype='object')
EN EL PROMEDIO DEL SALÓN                 4468
MUY POR ENCIMA DEL PROMEDIO DEL SALÓN     153
POR DEBAJO DEL PROMEDIO DEL SALÓN         222
POR ENCIMA DEL PROMEDIO DEL SALÓN        1260
Name: ESTU_PROMEDIO_SALON, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [158]:
Do_resamples(data_2015, c, str)

cant null antes: 100437
cant null despues: 0

In [159]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0,
              58.0, 60.0, 62.0, 67.0, 74.0, 75.0, 76.0, 77.0, 79.0, 80.0, 81.0,
              85.0, 86.0, 87.0, 88.0, 89.0, 99.0],
             dtype='float64')
1       1
2       3
3       3
4      14
5       8
6      18
7      26
8      37
9      29
10    105
11     53
12    107
13     78
14     93
15    219
16    119
17    151
18    222
19     92
20    415
21    158
22    196
23    165
24    240
25    560
26    167
27    168
28    214
29    130
30    501
     ...
43     26
44      8
45    102
46      7
47     11
48     23
50     33
51      1
52      4
53      4
54      5
55      3
56     13
58     10
60     23
62      2
67      2
74      1
75      1
76     18
77      3
79      1
80      2
81      3
85     20
86      1
87      2
88      1
89      1
99      4
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [160]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 4
cant null antes: 4
cant null despues: 0

In [161]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1    1675
2    1186
3     546
4     248
5     191
6     445
7     280
8    1532
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 100437
__________________
Elementos diferentes de null/NaN: 6103
__________________
(6103,)
None

In [162]:
Do_resamples(data_2015, c, float)

cant null antes: 100437
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [163]:
c = 'COLE_VALOR_PENSION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    2682
2    8049
3    3212
4    1133
5    2567
6    8157
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [164]:
Do_resamples(data_2015, c, float)

cant null antes: 80740
cant null despues: 0

In [165]:
c = 'ESTU_VECES_ESTADO_ESTUDIANTIL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    25102
2      632
3       53
4       13
Name: ESTU_VECES_ESTADO_ESTUDIANTIL, dtype: int64
Elementos null/NaN 80740
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [166]:
Do_resamples(data_2015, c, float)

cant null antes: 80740
cant null despues: 0

In [167]:
c = 'FAMI_EDUCA_PADRE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      5841
2     18797
3     15070
4     12632
5     23742
6      1917
7      6478
8      1705
9     11761
10     5072
11     3524
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [168]:
c = 'FAMI_EDUCA_MADRE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      3321
2     16232
3     15005
4     14385
5     26365
6      2321
7      8896
8      1997
9     12281
10     4546
11     1190
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [169]:
c = 'FAMI_OCUPA_PADRE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      3492
2      2627
3      2833
4      1263
5      8798
6      1786
7     19198
8      4230
9     37817
10     2060
11     5934
12    16501
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [170]:
c = 'FAMI_OCUPA_MADRE'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      1631
2      2601
3      1596
4      1812
5      7867
6      5309
7      5882
8      4009
9     13947
10    51344
11     2173
12     8368
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [171]:
c = 'FAMI_NUM_HERMANOS'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0      9073
1     28244
2     28417
3     16965
4      9618
5      5576
6      3128
7      2035
8      1250
9       833
10     1400
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [172]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    31966
2    38772
3    22652
4     6487
5     3560
6     3102
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [173]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    40676
2    21697
3     3850
4     1186
5    39130
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [174]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      1502
2      8696
3     23215
4     33285
5     21800
6      9742
7      4178
8      2064
9       843
10      562
11      232
12      420
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [175]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      6139
2     35717
3     44717
4     14501
5      3641
6      1093
7       368
8       186
9        72
10      105
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [176]:
idx = data_2015[data_2015[c].isnull()].index
data_2015 = data_2015.drop(idx)

In [177]:
c = 'FAMI_PISOSHOGAR'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     3955
2    42783
3     6634
4    53167
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [178]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    49489
S    57050
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [179]:
c = 'FAMI_INTERNET'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    43628
S    62911
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [180]:
c = 'FAMI_TELEVISOR'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    31247
S    75292
Name: FAMI_TELEVISOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [181]:
c = 'FAMI_COMPUTADOR'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    33295
S    73244
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [182]:
c = 'FAMI_DVD'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    39360
S    67179
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [183]:
c = 'FAMI_LAVADORA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    32250
S    74289
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [184]:
c = 'FAMI_MICROONDAS'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    70975
S    35564
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [185]:
c = 'FAMI_AUTOMOVIL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    79312
S    27227
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [186]:
c = 'FAMI_HORNO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N    61060
S    45479
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [187]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    18924
2    48495
3    19482
4     9363
5     3260
6     2297
7     4718
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [188]:
c = 'ESTU_TRABAJA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    22417
2     1438
3     1945
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 80739
__________________
Elementos diferentes de null/NaN: 25800
__________________
(25800,)
None

In [189]:
Do_resamples(data_2015, c, float)

cant null antes: 80739
cant null despues: 0

In [190]:
c = 'ESTU_RECIBE_SALARIO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['N', 'S'], dtype='object')
N     111
S    3267
Name: ESTU_RECIBE_SALARIO, dtype: int64
Elementos null/NaN 103161
__________________
Elementos diferentes de null/NaN: 3378
__________________
(3378,)
None

In [191]:
Do_resamples(data_2015, c, str)

cant null antes: 103161
cant null despues: 0

In [192]:
c = 'ESTU_VECES_ESTADO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    40633
2    30315
3     6629
4     3161
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 25801
__________________
Elementos diferentes de null/NaN: 80738
__________________
(80738,)
None

In [193]:
Do_resamples(data_2015, c, float)

cant null antes: 25801
cant null despues: 0

In [194]:
c = 'ESTU_COD_DEPTO_PRESENTACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([ 5,  8, 11, 13, 15, 17, 18, 19, 20, 23, 25, 27, 41, 44, 47, 50, 52,
            54, 63, 66, 68, 70, 73, 76, 81, 85, 86, 88, 91, 94, 95, 97, 99],
           dtype='int64')
5      7437
8      3550
11    20430
13     2155
15     4444
17     2724
18      876
19     3983
20     2019
23     1465
25     2738
27      684
41     4354
44      878
47      828
50     2354
52     7618
54     2073
63     1336
66     1864
68     7095
70      835
73     3126
76    19291
81      397
85      613
86     1021
88       63
91       28
94       46
95      163
97       23
99       28
Name: ESTU_COD_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [195]:
data_2015 = data_2015.drop(c, axis=1)

In [196]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([ 5001,  5045,  5154,  5615,  5756,  8001, 11001, 13001, 13430,
            15001, 15407, 15759, 17001, 17380, 18001, 18247, 19001, 19532,
            19698, 20001, 20011, 23001, 23466, 25183, 25269, 25290, 25307,
            25899, 27001, 27361, 41001, 41396, 44001, 44035, 44430, 47001,
            50001, 50313, 52001, 52356, 52835, 52838, 54001, 54498, 54518,
            63001, 66001, 68001, 68077, 68081, 68432, 68547, 68679, 70001,
            73001, 73268, 76001, 76109, 76111, 76147, 76520, 76622, 76736,
            76834, 81001, 81794, 85001, 85250, 86001, 86320, 86568, 86749,
            88001, 91001, 94001, 95001, 97001, 99001],
           dtype='int64')
5001      5522
5045      1216
5154       217
5615       477
5756         5
8001      3550
11001    20430
13001     1924
13430      231
15001     2283
15407      150
15759     2011
17001     2324
17380      400
18001      794
18247       82
19001     2884
19532       99
19698     1000
20001     1650
20011      369
23001     1222
23466      243
25183       79
25269      834
25290      292
25307      532
25899     1001
27001      619
27361       65
         ...
68077      299
68081      737
68432       93
68547      529
68679      321
70001      835
73001     2714
73268      412
76001    13603
76109      950
76111      954
76147      458
76520     2128
76622      237
76736      128
76834      833
81001      205
81794      192
85001      568
85250       45
86001      325
86320      219
86568      335
86749      142
88001       63
91001       28
94001       46
95001      163
97001       23
99001       28
Name: ESTU_COD_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [197]:
data_2015 = data_2015.drop(c, axis=1)

In [198]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['AGUACHICA', 'ALBANIA', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARBOSA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BOGOTÁ D.C.', 'BUCARAMANGA',
       'BUENAVENTURA', 'BUGA', 'CALI', 'CARTAGENA', 'CARTAGO', 'CAUCASIA',
       'CHOCONTA', 'CUCUTA', 'EL DONCELLO', 'ESPINAL', 'FACATATIVA',
       'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'GRANADA', 'IBAGUE', 'INIRIDA',
       'IPIALES', 'ISTMINA', 'LA DORADA', 'LA PLATA', 'LETICIA', 'MAGANGUE',
       'MAICAO', 'MALAGA', 'MANIZALES', 'MEDELLIN', 'MITU', 'MOCOA',
       'MONTELIBANO', 'MONTERIA', 'NEIVA', 'OCAÑA', 'ORITO', 'PALMIRA',
       'PAMPLONA', 'PASTO', 'PATIA(EL BORDO)', 'PAZ DE ARIPORO', 'PEREIRA',
       'PIEDECUESTA', 'POPAYAN', 'PUERTO ASIS', 'PUERTO CARREÑO', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SAN ANDRES', 'SAN GIL',
       'SAN JOSE DEL GUAVIARE', 'SANTA MARTA', 'SANTANDER DE QUILICHAO',
       'SEVILLA', 'SIBUNDOY', 'SINCELEJO', 'SOGAMOSO', 'SONSON', 'TAME',
       'TULUA', 'TUMACO', 'TUNJA', 'TUQUERRES', 'VALLEDUPAR', 'VILLA DE LEYVA',
       'VILLAVICENCIO', 'YOPAL', 'ZIPAQUIRA'],
      dtype='object')
AGUACHICA                   369
ALBANIA                      99
APARTADO                   1216
ARAUCA                      205
ARMENIA                    1336
BARBOSA                     299
BARRANCABERMEJA             737
BARRANQUILLA               3550
BOGOTÁ D.C.               20430
BUCARAMANGA                5116
BUENAVENTURA                950
BUGA                        954
CALI                      13603
CARTAGENA                  1924
CARTAGO                     458
CAUCASIA                    217
CHOCONTA                     79
CUCUTA                     1612
EL DONCELLO                  82
ESPINAL                     412
FACATATIVA                  834
FLORENCIA                   794
FUSAGASUGA                  292
GIRARDOT                    532
GRANADA                     165
IBAGUE                     2714
INIRIDA                      46
IPIALES                    1088
ISTMINA                      65
LA DORADA                   400
                          ...
PAZ DE ARIPORO               45
PEREIRA                    1864
PIEDECUESTA                 529
POPAYAN                    2884
PUERTO ASIS                 335
PUERTO CARREÑO               28
QUIBDO                      619
RIOHACHA                    574
RIONEGRO                    477
ROLDANILLO                  237
SAN ANDRES                   63
SAN GIL                     321
SAN JOSE DEL GUAVIARE       163
SANTA MARTA                 828
SANTANDER DE QUILICHAO     1000
SEVILLA                     128
SIBUNDOY                    142
SINCELEJO                   835
SOGAMOSO                   2011
SONSON                        5
TAME                        192
TULUA                       833
TUMACO                      361
TUNJA                      2283
TUQUERRES                   390
VALLEDUPAR                 1650
VILLA DE LEYVA              150
VILLAVICENCIO              2189
YOPAL                       568
ZIPAQUIRA                  1001
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [199]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS              28
ANTIOQUIA           7437
ARAUCA               397
ATLANTICO           3550
BOGOTA             20430
BOLIVAR             2155
BOYACA              4444
CALDAS              2724
CAQUETA              876
CASANARE             613
CAUCA               3983
CESAR               2019
CHOCO                684
CORDOBA             1465
CUNDINAMARCA        2738
GUAINIA               46
GUAVIARE             163
HUILA               4354
LA GUAJIRA           878
MAGDALENA            828
META                2354
NARIÑO              7618
NORTE SANTANDER     2073
PUTUMAYO            1021
QUINDIO             1336
RISARALDA           1864
SAN ANDRES            63
SANTANDER           7095
SUCRE                835
TOLIMA              3126
VALLE              19291
VAUPES                23
VICHADA               28
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [200]:
c = 'ESTU_COD_PLANTEL'
print(data_2015[c].value_counts().index)
print(data_2015[c].value_counts())
print(missing_data(data_2015[c]))

Index([                                       '0',
                                           '3429',
                                          '16212',
                                          '17360',
                                           '5127',
                                          '20749',
                                          '19768',
                                          '19222',
                                           '3427',
                                            '294',
       ...
                                          '19914',
                   'LICEO BOLIVARIANO PEDRO GUAL',
                                           '5102',
                                           '4809',
                                          '16341',
                     'Nuestra Madre de la Merced',
                                          '21521',
       'Unidad Educativa Instituto Josefa Camejo',
                                           '7761',
                                              0.0],
      dtype='object', length=9379)
0                                           4152
3429                                         204
16212                                        142
17360                                        142
5127                                         138
20749                                        129
19768                                        121
19222                                        118
3427                                         118
294                                          111
18526                                        110
4200                                         107
15944                                        104
7480                                         101
3096                                          97
19261                                         95
6847                                          95
7643                                          94
675                                           93
19765                                         92
6357                                          91
15437                                         91
11610                                         89
6358                                          85
8335                                          84
3428                                          84
3522                                          81
10982                                         78
17649                                         77
9949                                          77
                                            ...
Escuela Segundaria Nam Truc                    1
11224                                          1
7430                                           1
10848                                          1
8298                                           1
colegio Adventista Ricardo Greenidge           1
1083                                           1
4076.0                                         1
3268                                           1
1063                                           1
6384                                           1
8729                                           1
3626                                           1
17825                                          1
2801                                           1
948                                            1
AIU Hight School                               1
10005                                          1
Tianjin yishuzhiyexueyuan                      1
8257                                           1
19914                                          1
LICEO BOLIVARIANO PEDRO GUAL                   1
5102                                           1
4809                                           1
16341                                          1
Nuestra Madre de la Merced                     1
21521                                          1
Unidad Educativa Instituto Josefa Camejo       1
7761                                           1
0.0                                            1
Name: ESTU_COD_PLANTEL, dtype: int64
Elementos null/NaN 49358
__________________
Elementos diferentes de null/NaN: 57181
__________________
(57181,)
None

In [201]:
data_2015 = data_2015.drop(c, axis=1)

# TARGETS

In [202]:
c = 'DECIL_LECTURA_CRITICA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01     9988
D02    10665
D03    12221
D04    13132
D05    12964
D06    15913
D07    13254
D08     6651
D09     7162
D10     4589
Name: DECIL_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [203]:
c = 'PUNT_LECTURA_CRITICA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  0,   9,  10,  11,  17,  18,  19,  22,  23,  24,  26,  27,  28,
             29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
             42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
             55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
             68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,  79,  80,
             81,  83,  85,  86,  88,  91,  93,  96,  99, 100],
           dtype='int64')
0       148
9         2
10        9
11       20
17        1
18       17
19       74
22        3
23       36
24      154
26       15
27      117
28      361
29        1
30      182
31      637
32        1
33      376
34     1261
35      402
36     2066
37      455
38      361
39     3289
40      444
41     4469
42      274
43     5478
44     5094
45     1001
       ...
61     3844
62     2988
63      517
64     3146
65     2182
66      603
67     2008
68      359
69     1650
70      360
71     1165
72      418
73      676
74      502
75       74
76      361
77      431
78       32
79      230
80       70
81      214
83       99
85       96
86       75
88       44
91       15
93       59
96        7
99        4
100      17
Name: PUNT_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [204]:
c = 'DECIL_MATEMATICAS'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    14798
D02    11772
D03    17171
D04    11084
D05     9530
D06    10891
D07    10855
D08     7873
D09     7246
D10     5319
Name: DECIL_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [205]:
c = 'PUNT_MATEMATICAS'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  0,   4,   8,  10,  11,  14,  16,  17,  18,  19,  20,  21,  22,
             23,  25,  26,  28,  29,  31,  32,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  79,
             80,  81,  82,  83,  84,  85,  86,  88,  89,  91,  92,  95,  96,
             99, 100],
           dtype='int64')
0        51
4        11
8         1
10        3
11       24
14        1
16       85
17        5
18        2
19        1
20      191
21       22
22       32
23      467
25       51
26      907
28       61
29     1664
31       95
32     2589
34     3407
35      353
36     3979
37      796
38     4687
39      971
40     4778
41     1336
42     4958
43     1386
       ...
64      523
65     2051
66       90
67     1854
68     1703
69      104
70     1655
71     1133
72      464
73     1335
74      102
75     1163
76       77
77     1213
79     1039
80        1
81      876
82       84
83      734
84       71
85       29
86      679
88      155
89      401
91      122
92      304
95      129
96      192
99       24
100     479
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [206]:
c = 'DECIL_C_NATURALES'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    10228
D02    11598
D03    16079
D04    13847
D05    12077
D06    12739
D07    11214
D08     6479
D09     8172
D10     4106
Name: DECIL_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [207]:
c = 'PUNT_C_NATURALES'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  0,   3,   4,   9,  15,  16,  17,  18,  19,  21,  22,  24,  25,
             27,  28,  29,  30,  32,  33,  34,  35,  36,  37,  38,  39,  40,
             41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,
             54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,
             67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  78,  79,  81,
             82,  84,  87,  89,  90,  93, 100],
           dtype='int64')
0        42
3         1
4         1
9        11
15        2
16       34
17       82
18       66
19      244
21       13
22      431
24      388
25      775
27      242
28     1168
29     1575
30      246
32     2302
33     2605
34      633
35     2856
36      643
37     2812
38     3916
39      738
40     3322
41     4134
42      734
43     3798
44     3400
       ...
57     2612
58     2589
59     2364
60      344
61     2176
62     2453
63     2340
64     1799
65     2102
66      711
67     1844
68     1853
69     2071
70     1388
71      574
72     1146
73      764
74     1210
75     1552
76     1538
78      801
79      492
81     1062
82      400
84      654
87      398
89       28
90       81
93      153
100      37
Name: PUNT_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [208]:
c = 'DECIL_SOCIALES_CIUDADANAS'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    11636
D02    12067
D03    10249
D04    14822
D05    10946
D06    14495
D07    12644
D08     6897
D09     7293
D10     5490
Name: DECIL_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [209]:
c = 'PUNT_SOCIALES_CIUDADANAS'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  0,   5,   6,   7,   9,  11,  12,  15,  16,  17,  19,  20,  21,
             23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,  34,  35,
             36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
             49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  62,
             63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
             76,  77,  78,  79,  80,  81,  82,  83,  84,  86,  87,  88,  90,
             91,  92,  96,  97,  98, 100],
           dtype='int64')
0        61
5        24
6         3
7         4
9         3
11       63
12        9
15        5
16      125
17       23
19      218
20       25
21       39
23      468
24       78
25       50
26      797
27      125
28     1207
29      239
30        2
31     1946
32       98
33     2283
34      446
35     2814
36      481
37     3264
38      465
39     3673
       ...
65      228
66     3428
67     2312
68      929
69     1935
70      907
71     1613
72      721
73      126
74     1758
75      233
76      997
77      605
78      822
79      130
80      365
81      560
82      192
83      288
84      353
86      144
87      240
88      218
90       42
91      132
92      157
96       30
97       41
98       89
100      85
Name: PUNT_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [210]:
c = 'DECIL_INGLES'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    20563
D02    16035
D03     8367
D04    20505
D05     4838
D06    11363
D07    12262
D08     6762
D09     2993
D10     2851
Name: DECIL_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [211]:
c = 'DESEMP_INGLES'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    59727
A1    25246
A2     9856
B+     4383
B1     7327
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [212]:
c = 'PUNT_INGLES'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  0,   7,  14,  19,  21,  23,  24,  27,  28,  30,  31,  33,  34,
             35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
             49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
             62,  64,  65,  66,  67,  68,  70,  71,  72,  73,  74,  75,  76,
             78,  79,  80,  82,  85,  90,  92,  95, 100],
           dtype='int64')
0        184
7         21
14        27
19        39
21         1
23        71
24         2
27       156
28         9
30       326
31        24
33       696
34        35
35      1341
36        57
37      2297
38      3628
39       137
40      5120
41      6392
42      7708
43      8327
44         2
45      8365
46         9
47      7796
49     12700
50      4838
51         6
52      3826
       ...
54      2455
55      2083
56         4
57      1705
58      1593
59      1409
60      1274
61      1271
62      1113
64      1071
65       968
66       945
67       909
68       896
70       863
71        38
72       865
73        34
74       892
75        44
76       886
78      1032
79         1
80      1211
82      1461
85      1532
90      1447
92         1
95      1008
100      395
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [213]:
c = 'DECIL_RAZONA_CUANT'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    17079
D02    16025
D03     8398
D04    13885
D05    13910
D06     5896
D07    13270
D08     4302
D09     8198
D10     5576
Name: DECIL_RAZONA_CUANT, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [214]:
c = 'PUNT_RAZONA_CUANT'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  0,   2,   4,   9,  10,  11,  13,  14,  20,  21,  25,  26,  27,
             28,  29,  30,  31,  32,  33,  35,  36,  37,  39,  40,  42,  43,
             44,  45,  46,  47,  48,  49,  50,  51,  52,  54,  55,  56,  57,
             59,  60,  61,  62,  63,  64,  67,  69,  70,  72,  73,  75,  77,
             78,  79,  81,  82,  83,  85,  86,  87,  90,  91,  93,  96,  97,
            100],
           dtype='int64')
0        60
2        75
4         1
9         6
10       11
11       15
13      257
14        3
20      728
21       82
25     1618
26      179
27        2
28      198
29     2669
30       69
31      164
32      352
33     4219
35      268
36     5797
37      306
39     6840
40      824
42     7035
43     1326
44     6375
45      654
46     1369
47     6408
       ...
55      159
56      676
57     5061
59     4913
60        4
61      487
62     3928
63        2
64     3936
67     3420
69      882
70     2309
72      817
73     1935
75      839
77     1653
78      645
79      100
81     1382
82      463
83       84
85      272
86     1165
87       75
90      339
91      101
93      628
96      136
97      149
100     682
Name: PUNT_RAZONA_CUANT, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [215]:
c = 'DECIL_COMP_CIUDADANA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    12228
D02    15185
D03    12796
D04     8322
D05    14310
D06     8162
D07    13368
D08    11131
D09     7175
D10     3862
Name: DECIL_COMP_CIUDADANA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [216]:
c = 'PUNT_COMP_CIUDADANA'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  0,   9,  10,  11,  16,  17,  18,  19,  21,  22,  23,  24,  25,
             26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
             39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
             52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
             65,  66,  67,  68,  69,  70,  71,  73,  74,  75,  79,  80,  84,
             87,  88, 100],
           dtype='int64')
0        49
9        47
10        5
11       13
16      129
17       17
18       24
19       34
21      297
22       21
23       60
24       53
25      649
26      112
27       57
28     1184
29       90
30      229
31     2050
32      145
33     2769
34      303
35      358
36     3533
37      351
38     4200
39      421
40     4922
41      315
42     4976
       ...
51     6468
52      694
53     6472
54      676
55     6884
56      699
57      579
58     5825
59      679
60     5791
61      385
62      688
63     5482
64      706
65        2
66     4265
67      676
68      355
69        2
70     3713
71      613
73        3
74     2489
75      710
79     1534
80      345
84      100
87      725
88      159
100     289
Name: PUNT_COMP_CIUDADANA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [217]:
c = 'PUNT_GLOBAL'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([  0,   3,   9,  13,  15,  16,  17,  18,  20,  25,
            ...
            466, 468, 471, 472, 473, 476, 477, 479, 483, 488],
           dtype='int64', length=432)
0       1
3       1
9       1
13      1
15      2
16      1
17      1
18      1
20      1
25      1
27      1
28      1
30      1
32      1
34      2
38      3
39      1
42      1
45      1
47      1
51      2
52      1
53      1
54      1
57      1
58      2
61      1
62      4
63      1
65      3
       ..
446     7
447     8
448     7
449    10
450     8
451     4
452     4
453     5
454     3
455     5
456     6
457     4
458     5
459     4
460     2
461     2
462     1
463     4
464     2
465     2
466     4
468     3
471     2
472     1
473     1
476     1
477     1
479     1
483     1
488     1
Name: PUNT_GLOBAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

In [218]:
c = 'ESTU_PUESTO'
print(data_2015[c].value_counts().sort_index().index)
print(data_2015[c].value_counts().sort_index())
print(missing_data(data_2015[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=641)
1        29
2        29
3        32
4        30
5        38
6        32
7        22
8        37
9        40
10       34
11       32
12       39
13       21
14       36
15       44
16       24
17       33
18       45
19       45
20       23
21       50
22       17
23       38
24       53
25       38
26       35
27       46
28       39
29       39
30       44
       ...
970      93
971     187
973     151
974     102
975      79
976     121
977      78
978     141
979      72
980     134
981     114
982     116
983     105
984      82
985     104
986      82
987      89
988      85
989      68
990     125
991      74
992     107
993     109
994      86
995      93
996     106
997      85
998      76
999     123
1000    101
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 106539
__________________
(106539,)
None

___

___

___

___

___

# YEAR 2015, Semester 2

In [160]:
data_2015_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20152-RGSTRO-CLFCCN-V3-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10,12,13,14,64) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [161]:
data_2015_2.shape

(573128, 86)

In [162]:
data_2015_2.head(3).T

,0,1,2
PERIODO,20152,20152,20152
ESTU_CONSECUTIVO,SABER1120152000001,SABER1120152000002,SABER1120152000003
ESTU_ESTUDIANTE,INDIVIDUAL,INDIVIDUAL,ESTUDIANTE
ESTU_EDAD,18,20,16
ESTU_TIPO_DOCUMENTO,CC,CC,TI
ESTU_PAIS_RESIDE,1,1,1
ESTU_GENERO,M,F,M
ESTU_FECHA_NACIMIENTO,27/02/1997,27/10/1994,11/01/1999
ESTU_ETNIA,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_CONDICIONESPECIAL,NaN,NaN,NaN
ESTU_LIMITA_SORDO,NaN,NaN,NaN
ESTU_LIMITA_SDOWN,NaN,NaN,NaN
ESTU_LIMITA_AUTISMO,NaN,NaN,NaN
COLE_COD_MCPIO_UBICACION,NaN,NaN,5120
ESTU_RESIDE_MCPIO,SUPIA,PEREIRA,CACERES
ESTU_RESIDE_DEPTO,CALDAS,RISARALDA,ANTIOQUIA
ESTU_COD_RESIDE_MCPIO,17777,66001,5120
ESTU_ZONA_RESIDE,10,10,10
COLE_COD_DANE_INSTITUCION,NaN,NaN,1.0512e+11
COLE_COD_ICFES,NaN,NaN,1487
COLE_NOMBRE_SEDE,NaN,NaN,LICEO CACERES
COLE_JORNADA,NaN,NaN,C
COLE_GENERO,NaN,NaN,MIXTO
COLE_CARACTER,NaN,NaN,ACADÉMICO
COLE_NATURALEZA,OTRO,OTRO,OFICIAL
COLE_BILINGUE,NaN,NaN,N
COLE_CALENDARIO,NaN,NaN,A
ESTU_AREA_RESIDE,U,U,U
...,...,...,...
FAMI_LAVADORA,S,S,N
FAMI_MICROONDAS,S,N,N
FAMI_AUTOMOVIL,N,S,N
FAMI_HORNO,S,S,N
FAMI_INGRESO_FMILIAR_MENSUAL,2,2,3
ESTU_TRABAJA,NaN,NaN,1
ESTU_RECIBE_SALARIO,NaN,NaN,NaN
ESTU_VECES_ESTADO,2,1,NaN
ESTU_COD_PLANTEL,NaN,NaN,NaN
ESTU_COD_DEPTO_PRESENTACION,66,66,5
ESTU_COD_MCPIO_PRESENTACION,66001,66001,5120
ESTU_MCPIO_PRESENTACION,PEREIRA,PEREIRA,CACERES
ESTU_DEPTO_PRESENTACION,RISARALDA,RISARALDA,ANTIOQUIA
DECIL_LECTURA_CRITICA,D09,D04,D07
PUNT_LECTURA_CRITICA,61,45,54
DECIL_MATEMATICAS,D10,D03,D08
PUNT_MATEMATICAS,69,43,57
DECIL_C_NATURALES,D09,D01,D10
PUNT_C_NATURALES,59,38,65
DECIL_SOCIALES_CIUDADANAS,D08,D02,D10
PUNT_SOCIALES_CIUDADANAS,58,39,74
DECIL_INGLES,D06,D05,D10
DESEMP_INGLES,A1,A1,B1
PUNT_INGLES,50,49,73
DECIL_RAZONA_CUANT,D10,D02,D08
PUNT_RAZONA_CUANT,73,39,61
DECIL_COMP_CIUDADANA,D08,D03,D10
PUNT_COMP_CIUDADANA,56,44,71
PUNT_GLOBAL,304,209,317
ESTU_PUESTO,124,801,87

In [163]:
c = 'PERIODO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Int64Index([20152], dtype='int64')
20152    573128
Name: PERIODO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 573128
__________________
(573128,)
None

In [164]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [165]:
c = 'ESTU_CONSECUTIVO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['SABER1120152000001', 'SABER1120152000002', 'SABER1120152000003',
       'SABER1120152000004', 'SABER1120152000005', 'SABER1120152000006',
       'SABER1120152000007', 'SABER1120152000008', 'SABER1120152000009',
       'SABER1120152000010',
       ...
       'SABER1120152573119', 'SABER1120152573120', 'SABER1120152573121',
       'SABER1120152573122', 'SABER1120152573123', 'SABER1120152573124',
       'SABER1120152573125', 'SABER1120152573126', 'SABER1120152573127',
       'SABER1120152573128'],
      dtype='object', length=573128)
SABER1120152000001    1
SABER1120152000002    1
SABER1120152000003    1
SABER1120152000004    1
SABER1120152000005    1
SABER1120152000006    1
SABER1120152000007    1
SABER1120152000008    1
SABER1120152000009    1
SABER1120152000010    1
SABER1120152000011    1
SABER1120152000012    1
SABER1120152000013    1
SABER1120152000014    1
SABER1120152000015    1
SABER1120152000016    1
SABER1120152000017    1
SABER1120152000018    1
SABER1120152000019    1
SABER1120152000020    1
SABER1120152000021    1
SABER1120152000022    1
SABER1120152000023    1
SABER1120152000024    1
SABER1120152000025    1
SABER1120152000026    1
SABER1120152000027    1
SABER1120152000028    1
SABER1120152000029    1
SABER1120152000030    1
                     ..
SABER1120152573099    1
SABER1120152573100    1
SABER1120152573101    1
SABER1120152573102    1
SABER1120152573103    1
SABER1120152573104    1
SABER1120152573105    1
SABER1120152573106    1
SABER1120152573107    1
SABER1120152573108    1
SABER1120152573109    1
SABER1120152573110    1
SABER1120152573111    1
SABER1120152573112    1
SABER1120152573113    1
SABER1120152573114    1
SABER1120152573115    1
SABER1120152573116    1
SABER1120152573117    1
SABER1120152573118    1
SABER1120152573119    1
SABER1120152573120    1
SABER1120152573121    1
SABER1120152573122    1
SABER1120152573123    1
SABER1120152573124    1
SABER1120152573125    1
SABER1120152573126    1
SABER1120152573127    1
SABER1120152573128    1
Name: ESTU_CONSECUTIVO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 573128
__________________
(573128,)
None

In [166]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [167]:
c = 'ESTU_ESTUDIANTE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['ESTUDIANTE', 'INDIVIDUAL'], dtype='object')
ESTUDIANTE    545730
INDIVIDUAL     27398
Name: ESTU_ESTUDIANTE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 573128
__________________
(573128,)
None

In [168]:
Do_resamples(data_2015_2,c,str)

cant null antes: 0
cant null despues: 0

In [169]:
c = 'ESTU_EDAD'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,
                9.0,  10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,
               18.0,  19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,
               27.0,  28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,
               36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,
               45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,
               54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,
               63.0,  64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,
               72.0,  73.0,  74.0,  75.0,  76.0,  78.0,  79.0,  80.0,  85.0,
               99.0, 100.0],
             dtype='float64')
0         344
1          22
2           9
3           4
4           2
5           5
6           8
7          10
8          18
9           8
10          5
11          1
12         21
13         69
14        928
15      28161
16     199934
17     162436
18      84818
19      35768
20      14706
21       7732
22       4917
23       3610
24       2863
25       2465
26       2137
27       1900
28       1750
29       1527
        ...
53        184
54        164
55        135
56        112
57        103
58         84
59         66
60         55
61         59
62         30
63         38
64         21
65         22
66         21
67         15
68         13
69          7
70          8
71          3
72          1
73          3
74          2
75          2
76          1
78          1
79          3
80          1
85          1
99          1
100         1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 28
__________________
Elementos diferentes de null/NaN: 573100
__________________
(573100,)
None

In [170]:
for i in data_2015_2[c].value_counts().sort_index().index:
    if i < 9:
        data_2015_2[c] = data_2015_2[c].replace(i, np.nan)
    if i > 80:
        data_2015_2[c] = data_2015_2[c].replace(i, np.nan)
        
Do_resamples(data_2015_2, c, float)

cant null antes: 453
cant null despues: 0

In [171]:
c = 'ESTU_TIPO_DOCUMENTO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['CC', 'CE', 'CR', 'NIP', 'NUI', 'PC', 'PE', 'PV', 'RC', 'TI'], dtype='object')
CC     119959
CE        414
CR      12037
NIP         3
NUI         2
PC         34
PE         99
PV          1
RC          2
TI     440577
Name: ESTU_TIPO_DOCUMENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 573128
__________________
(573128,)
None

In [172]:
c = 'ESTU_PAIS_RESIDE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Int64Index([  1,   5,   7,  10,  12,  13,  14,  24,  28,  33,  36,  38,  40,
             41,  42,  45,  46,  47,  50,  54,  57,  64,  65,  67,  71,  76,
             83,  99, 110, 111, 112, 118, 119, 122, 144, 154, 157, 160, 167,
            171, 173, 174, 175, 195, 204, 206, 209, 216, 218, 233, 234, 235,
            236, 238, 241],
           dtype='int64')
1      572692
5           1
7           1
10          1
12         15
13          1
14          1
24          1
28          9
33         13
36          1
38          1
40          1
41          1
42         10
45          2
46         11
47          2
50         13
54          3
57          6
64          2
65         37
67          1
71          1
76          1
83          4
99          1
110         5
111         1
112         3
118         8
119         9
122         1
144        13
154         1
157         2
160         3
167        11
171        12
173         1
174        19
175         1
195         1
204         1
206         1
209        12
216         1
218         1
233         1
234         1
235         3
236        47
238         3
241       133
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 573128
__________________
(573128,)
None

In [173]:
c = 'ESTU_GENERO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['F', 'M'], dtype='object')
F    311363
M    258895
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 2870
__________________
Elementos diferentes de null/NaN: 570258
__________________
(570258,)
None

In [174]:
Do_resamples(data_2015_2, c, str)

cant null antes: 2870
cant null despues: 0

In [175]:
c = 'ESTU_FECHA_NACIMIENTO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['00/00/0000', '01/01/1942', '01/01/1955', '01/01/1959', '01/01/1962',
       '01/01/1964', '01/01/1966', '01/01/1968', '01/01/1969', '01/01/1970',
       ...
       '31/12/1992', '31/12/1993', '31/12/1994', '31/12/1995', '31/12/1996',
       '31/12/1997', '31/12/1998', '31/12/1999', '31/12/2000', '31/12/2001'],
      dtype='object', length=13472)
00/00/0000      2
01/01/1942      1
01/01/1955      1
01/01/1959      1
01/01/1962      1
01/01/1964      4
01/01/1966      3
01/01/1968      1
01/01/1969      2
01/01/1970      1
01/01/1971      1
01/01/1972      1
01/01/1973      2
01/01/1974      2
01/01/1975      3
01/01/1976      2
01/01/1977      1
01/01/1978      5
01/01/1979      4
01/01/1980      3
01/01/1981      4
01/01/1982      8
01/01/1983      8
01/01/1984      4
01/01/1985      7
01/01/1986      9
01/01/1987      5
01/01/1988      4
01/01/1989      6
01/01/1990     12
             ...
31/12/1971      1
31/12/1972      1
31/12/1973      2
31/12/1974      3
31/12/1975      1
31/12/1976      3
31/12/1978      2
31/12/1979      5
31/12/1980      2
31/12/1981      2
31/12/1982      3
31/12/1983      2
31/12/1984      3
31/12/1985      3
31/12/1986      2
31/12/1987      3
31/12/1988      9
31/12/1989      4
31/12/1990      5
31/12/1991      8
31/12/1992     14
31/12/1993     16
31/12/1994     39
31/12/1995     70
31/12/1996    190
31/12/1997    372
31/12/1998    659
31/12/1999     88
31/12/2000      4
31/12/2001      2
Name: ESTU_FECHA_NACIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 573128
__________________
(573128,)
None

In [176]:
data_2015_2[c] = data_2015_2[c].replace('00/00/0000', np.nan)
idx = data_2015_2[data_2015_2[c].isnull()].index
data_2015_2 = data_2015_2.drop(idx)

In [177]:
Sep_Col = pd.DataFrame(data_2015_2.ESTU_FECHA_NACIMIENTO.str.split('/').tolist(), columns=['ESTU_NACIMIENTO_DIA', 
                                                                                         'ESTU_NACIMIENTO_MES',
                                                                                         'ESTU_NACIMIENTO_ANNO'])
data_2015_2 = pd.concat([data_2015_2, Sep_Col], axis=1)

In [178]:
data_2015_2 = data_2015_2.drop('ESTU_FECHA_NACIMIENTO', axis=1)

In [179]:
c = 'ESTU_ETNIA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,  18.0,
               19.0, 100.0],
             dtype='float64')
1      20125
2        490
3         53
4       1948
5        178
6       1030
7        613
8       1686
9       1390
10       242
11       256
12        60
13        91
14       110
15        94
16       113
17       331
18      3599
19      3762
100     1305
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 535652
__________________
Elementos diferentes de null/NaN: 37476
__________________
(37476,)
None

In [180]:
data_2015_2[c].fillna(100, inplace=True)

In [181]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['MOT'], dtype='object')
MOT    677
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 572451
__________________
Elementos diferentes de null/NaN: 677
__________________
(677,)
None

In [182]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [183]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['VIS'], dtype='object')
VIS    171
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 572957
__________________
Elementos diferentes de null/NaN: 171
__________________
(171,)
None

In [184]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [185]:
c = 'ESTU_LIMITA_CONDICIONESPECIAL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['CE'], dtype='object')
CE    308
Name: ESTU_LIMITA_CONDICIONESPECIAL, dtype: int64
Elementos null/NaN 572820
__________________
Elementos diferentes de null/NaN: 308
__________________
(308,)
None

In [186]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [187]:
c = 'ESTU_LIMITA_SORDO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['AUD'], dtype='object')
AUD    115
Name: ESTU_LIMITA_SORDO, dtype: int64
Elementos null/NaN 573013
__________________
Elementos diferentes de null/NaN: 115
__________________
(115,)
None

In [188]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [189]:
c = 'ESTU_LIMITA_SDOWN'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['SD'], dtype='object')
SD    125
Name: ESTU_LIMITA_SDOWN, dtype: int64
Elementos null/NaN 573003
__________________
Elementos diferentes de null/NaN: 125
__________________
(125,)
None

In [190]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [191]:
c = 'ESTU_LIMITA_AUTISMO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['AA'], dtype='object')
AA    271
Name: ESTU_LIMITA_AUTISMO, dtype: int64
Elementos null/NaN 572857
__________________
Elementos diferentes de null/NaN: 271
__________________
(271,)
None

In [192]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [193]:
c = 'COLE_COD_MCPIO_UBICACION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([ 5001.0,  5002.0,  5004.0,  5021.0,  5030.0,  5031.0,  5034.0,
               5036.0,  5038.0,  5040.0,
              ...
              95001.0, 95015.0, 95025.0, 95200.0, 97001.0, 97889.0, 99001.0,
              99524.0, 99624.0, 99773.0],
             dtype='float64', length=1109)
5001     30223
5002       169
5004        29
5021        43
5030       307
5031       301
5034       440
5036        49
5038       103
5040       157
5042       320
5044        71
5045      1338
5051       322
5055       104
5059        46
5079       561
5086        78
5088      5557
5091        63
5093       153
5101       300
5107        37
5113       112
5120       183
5125        82
5129       837
5134        32
5138       323
5142        79
         ...
86573      186
86749      332
86755       85
86757      217
86760       83
86865      465
86885      323
88001      655
88564       46
91001      650
91263       21
91405       38
91407       31
91540       68
91669        6
91798       28
94001      139
94343       31
94663       13
94883       17
95001      721
95015       55
95025      136
95200       28
97001      371
97889       13
99001      209
99524      112
99624       42
99773      120
Name: COLE_COD_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [194]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [195]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1031)
ABEJORRAL                    208
ABREGO                       250
ABRIAQUI                      32
ACACIAS                     1073
ACANDI                        79
ACEVEDO                      248
ACHI                         298
AGRADO                       106
AGUA DE DIOS                 135
AGUACHICA                   1130
AGUADA                        25
AGUADAS                      271
AGUAZUL                      566
AGUSTIN CODAZZI              615
AIPE                         212
ALBAN                         94
ALBAN (SAN JOSE)             153
ALBANIA                      262
ALCALA                       154
ALDANA                        85
ALEJANDRIA                    44
ALGARROBO                    165
ALGECIRAS                    241
ALMAGUER                     136
ALMEIDA                       27
ALPUJARRA                     56
ALTAMIRA                      38
ALTO BAUDO (PIE DE PATO)      70
ALTOS DEL ROSARIO             60
ALVARADO                      85
                            ...
VILLANUEVA                  1059
VILLAPINZON                  271
VILLARRICA                   191
VILLAVICENCIO               6416
VILLAVIEJA                    44
VILLETA                      405
VIOTA                        174
VIRACACHA                     31
VISTA HERMOSA                178
VITERBO                      204
YACOPI                       157
YACUANQUER                   145
YAGUARA                      147
YALI                          67
YARUMAL                      649
YAVARATE                      13
YOLOMBO                      258
YONDO (CASABE)               131
YOPAL                       2825
YOTOCO                       139
YUMBO                       1220
ZAMBRANO                     172
ZAPATOCA                     173
ZAPAYAN                       85
ZARAGOZA                     320
ZARZAL                       477
ZETAQUIRA                     77
ZIPACON                       67
ZIPAQUIRA                   1774
ZONA BANANERA                796
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1333
__________________
Elementos diferentes de null/NaN: 571795
__________________
(571795,)
None

In [196]:
data_2015_2[c].fillna(method='bfill', inplace=True)
data_2015_2[c].fillna(method='ffill', inplace=True)

In [197]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'EXTRANJERO', 'GUAINIA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE',
       'TOLIMA', 'VALLE', 'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             860
ANTIOQUIA          76374
ARAUCA              3086
ATLANTICO          30355
BOGOTA             95475
BOLIVAR            25200
BOYACA             17665
CALDAS             11626
CAQUETA             4245
CASANARE            6017
CAUCA              14856
CESAR              12441
CHOCO               4292
CORDOBA            19380
CUNDINAMARCA       36443
EXTRANJERO             8
GUAINIA              206
GUAVIARE            1007
HUILA              14462
LA GUAJIRA          7415
MAGDALENA          15385
META               11829
NARIÑO             19964
NORTE SANTANDER    16243
PUTUMAYO            4656
QUINDIO             7176
RISARALDA          10886
SAN ANDRES           786
SANTANDER          28099
SUCRE              11587
TOLIMA             18128
VALLE              44728
VAUPES               399
VICHADA              516
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1333
__________________
Elementos diferentes de null/NaN: 571795
__________________
(571795,)
None

In [198]:
data_2015_2[c].fillna(method='bfill', inplace=True)
data_2015_2[c].fillna(method='ffill', inplace=True)

In [199]:
c = 'ESTU_COD_RESIDE_MCPIO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([ 5001.0,  5002.0,  5004.0,  5021.0,  5030.0,  5031.0,  5034.0,
               5036.0,  5038.0,  5040.0,
              ...
              95200.0, 97001.0, 97161.0, 97666.0, 97889.0, 99001.0, 99524.0,
              99624.0, 99773.0, 99999.0],
             dtype='float64', length=1114)
5001     30397
5002       208
5004        32
5021        44
5030       336
5031       305
5034       478
5036        42
5038       150
5040       220
5042       327
5044        84
5045      1408
5051       335
5055       105
5059        50
5079       653
5086        75
5088      5835
5091        68
5093       219
5101       292
5107        41
5113       119
5120       213
5125       108
5129       907
5134        59
5138       330
5142        79
         ...
86760       97
86865      503
86885      355
88001      735
88564       51
91001      656
91263       21
91405       39
91407       21
91460       10
91540       67
91669        6
91798       40
94001      141
94343       47
94663        1
94883       17
95001      785
95015       56
95025      136
95200       30
97001      327
97161       31
97666       28
97889       13
99001      216
99524      118
99624       44
99773      138
99999        8
Name: ESTU_COD_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1333
__________________
Elementos diferentes de null/NaN: 571795
__________________
(571795,)
None

In [200]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [201]:
c = 'ESTU_ZONA_RESIDE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      22590
2       5588
3      11319
4      39465
5      27636
6      12806
7      12947
8      28558
9      27453
10    384764
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [202]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([105001000001.0, 105001000043.0, 105001000108.0, 105001000132.0,
              105001000141.0, 105001000167.0, 105001000175.0, 105001000205.0,
              105001000256.0, 105001000353.0,
              ...
              813430000003.0, 818001100011.0, 818001100022.0, 818001100027.0,
              818001100040.0, 847001000005.0, 847001000023.0, 847001000027.0,
              847001000035.0, 854874000001.0],
             dtype='float64', length=10011)
1.050010e+11     24
1.050010e+11     99
1.050010e+11    987
1.050010e+11     79
1.050010e+11     25
1.050010e+11     30
1.050010e+11     75
1.050010e+11     36
1.050010e+11    169
1.050010e+11     51
1.050010e+11    140
1.050010e+11     93
1.050010e+11    122
1.050010e+11     72
1.050010e+11     95
1.050010e+11     99
1.050010e+11     34
1.050010e+11     65
1.050010e+11     36
1.050010e+11     71
1.050010e+11    162
1.050010e+11    180
1.050010e+11    121
1.050010e+11     68
1.050010e+11    143
1.050010e+11     82
1.050010e+11     36
1.050010e+11     56
1.050010e+11     48
1.050010e+11     63
               ...
5.540013e+11    110
5.680010e+11      1
5.680010e+11     17
5.684320e+11     12
5.684320e+11      6
6.252430e+11     12
6.252690e+11     49
6.252690e+11     16
6.252690e+11     40
6.252690e+11     72
6.252690e+11     45
6.252690e+11     14
6.254300e+11     42
6.257400e+11     11
6.257450e+11     13
6.257690e+11     17
6.257990e+11      5
6.258170e+11     41
6.258860e+11     14
6.258990e+11     90
8.134300e+11     90
8.180011e+11     42
8.180011e+11     72
8.180011e+11     80
8.180011e+11      4
8.470010e+11    194
8.470010e+11     54
8.470010e+11     73
8.470010e+11     21
8.548740e+11      8
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [203]:
Do_resamples(data_2015_2, c, float)

cant null antes: 27398
cant null despues: 0

In [204]:
c = 'COLE_COD_ICFES'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([    18.0,     59.0,     75.0,     83.0,     91.0,    125.0,
                 141.0,    174.0,    190.0,    208.0,
              ...
              197384.0, 197392.0, 197400.0, 197434.0, 197459.0, 197467.0,
              197517.0, 197525.0, 197624.0, 631622.0],
             dtype='float64', length=12162)
18          5
59        987
75         47
83         30
91         77
125        69
141       113
174       105
190        90
208        97
216        16
232        50
240        73
265       222
281        69
315       101
356        33
364        60
372        53
380        78
398        21
406        19
422        17
430        69
448        25
455        94
463       113
471        97
489        92
497        62
         ...
196907      3
196931      3
196956     32
196998      1
197004     17
197012     23
197020     17
197038      7
197046     20
197053      4
197061     15
197145     16
197160      7
197194      9
197202      9
197228     14
197319     73
197327      6
197335     16
197350      4
197384     16
197392     18
197400      9
197434      8
197459     54
197467      4
197517     10
197525     11
197624     10
631622     37
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [205]:
for i in data_2015_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2015_2[c] = data_2015_2[c].replace(i, np.nan)
        
Do_resamples(data_2015_2, c, float)

cant null antes: 27398
cant null despues: 0

In [206]:
c = 'COLE_NOMBRE_SEDE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES',
       'ABSALON TORRES CAMACHO', 'ACAD AMERICANA DE SISTEMAS Y COMERCIO',
       'ACAD CENTRAL DE SISTEMAS ACSI', 'ACAD MILIT MARISCAL SUCRE',
       'ACAD MILIT NAL HEROES GRANADINOS', 'ACAD PANTANO DE VARGAS',
       'ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO', 'ACADEMIA ACADEMIA SAM',
       'ACADEMIA CIAL DE LOS ANDES',
       ...
       'VILLALOBOS (sede principal', 'VILLALOSADA', 'VILLANUEVA',
       'VISTAHERMOSA', 'WINDSOR ROYAL SCHOL',
       'XINSTITUTO TECNICO COMERCIAL PILOTO',
       'YACHAY WASI RUNA YANAKUNA - SEDE PRINCIPAL', 'YU LUUCX PISHAU',
       'ZARAGOZA (sede principal)',
       'ZION SCHOOL                                                  - SEDE PRINCIPAL'],
      dtype='object', length=9361)
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                            19
ABSALON TORRES CAMACHO                                                           157
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                              8
ACAD CENTRAL DE SISTEMAS ACSI                                                     31
ACAD MILIT MARISCAL SUCRE                                                        118
ACAD MILIT NAL HEROES GRANADINOS                                                  14
ACAD PANTANO DE VARGAS                                                            28
ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO                                             1
ACADEMIA ACADEMIA SAM                                                             10
ACADEMIA CIAL DE LOS ANDES                                                        29
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                         14
ACADEMIA E INSTITUTO CAMPAÑA LIBERTADORA                                           4
ACADEMIA GENERAL CARLOS JULIO GIL COLORADO   - SEDE PRINCIPAL                     25
ACADEMIA GUSTAVO ROJAS PINILLAS                                                   14
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                                         1
ACADEMIA MILITAR GENERAL JOSE ANTONIO ANZOATEGUI                                  32
ACADEMIA MILITAR GENERAL JOSÉ MARÍA CABAL                                         54
ACADEMIA MILITAR GRAL TOMAS CIPRIANO DE MOSQUERA                                   9
ACADEMIA MILITAR GUSTAVO MATAMOROS D COSTA - SEDE PRINCIPAL                       24
ACADEMIA MILITAR JOSE ANTONIO PAEZ                                                27
ACADEMIA MILITAR JOSE ANTONIO PAEZ - SEDE PRINCIPAL                               24
ACADEMIA POLITECNICA INTERACTIVA - SEDE PRINCIPAL                                 28
ACCION COMUNAL                                                                    82
ACEVEDO Y GOMEZ                                                                   78
ADVENTISTA DE QUIBDO BOLIVAR ESCANDON                                             22
AGRICOLA CAMPOALEGRE                                                              39
AGRICOLA PRESBITERO HORACIO GOMEZ GALLO                                           40
AGROAMBIENTAL JOEL SIERRA                                                         16
AGROECOLOGICO                                                                    139
AGROECOLOGICO AMAZONICO BUINAIMA                                                  34
                                                                                ...
UNION SINDICAL OBRERA  USO                                                        28
UNITECNICAS - SEDE PRINCIPAL                                                      60
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA  UNAD - SEDE PRINCIPAL                  1
URBANA MIXTA NO.1                                                                 49
URIBE (sede principal)                                                            11
VALENCIA (sede principal)                                                          7
VALENCIA DE LA PAZ                                                                 8
VALENTIN CARABALI (sede principal)                                                41
VALPARAISO                                                                        12
VALSALICE                                                                         68
VASCO NUÑEZ DE BALBOA (sede principal)                                            69
VEINTE DE JULIO                                                                   11
VENTIUN ANGELES (INST EDUC DIST)                                                 186
VERDE AMAZONICO                                                                   29
VEREDAS UNIDAS BARRAGAN (sede principal)                                          43
VICTOR MANUEL CHAUX VILLAMIL (sede principal)                                     39
VILLA CECILIA SEDE                                                                23
VILLA CLARA                                                                       17
VILLA CORELCA                                                                     54
VILLA DE LOS ANDES                                                                55
VILLALOBOS (sede principal                                                        17
VILLALOSADA                                                                       15
VILLANUEVA                                                                        27
VISTAHERMOSA                                                                       9
WINDSOR ROYAL SCHOL                                                               26
XINSTITUTO TECNICO COMERCIAL PILOTO                                               11
YACHAY WASI RUNA YANAKUNA - SEDE PRINCIPAL                                         8
YU LUUCX PISHAU                                                                   14
ZARAGOZA (sede principal)                                                          6
ZION SCHOOL                                                  - SEDE PRINCIPAL     29
Name: COLE_NOMBRE_SEDE, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [207]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [208]:
c = 'COLE_JORNADA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['C', 'M', 'N', 'S', 'T', 'U'], dtype='object')
C    108371
M    283073
N     36381
S     35077
T     82630
U       198
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [209]:
Do_resamples(data_2015_2, c, str)

cant null antes: 27398
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [210]:
c = 'COLE_GENERO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['FEMENINO', 'MASCULINO', 'MIXTO'], dtype='object')
FEMENINO      15635
MASCULINO      4585
MIXTO        525510
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [211]:
Do_resamples(data_2015_2, c, str)

cant null antes: 27398
cant null despues: 0

In [212]:
c = 'COLE_CARACTER'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['ACADÉMICO', 'NO_APLICA', 'TÉCNICO', 'TÉCNICO/ACADÉMICO'], dtype='object')
ACADÉMICO            294349
NO_APLICA              1620
TÉCNICO               58442
TÉCNICO/ACADÉMICO    188167
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 30550
__________________
Elementos diferentes de null/NaN: 542578
__________________
(542578,)
None

In [213]:
Do_resamples(data_2015_2, c, str)

cant null antes: 30550
cant null despues: 0

In [214]:
c = 'COLE_NATURALEZA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['NO OFICIAL', 'OFICIAL', 'OTRO'], dtype='object')
NO OFICIAL    139073
OFICIAL       406657
OTRO           27396
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [215]:
Do_resamples(data_2015_2, c, str)

cant null antes: 2
cant null despues: 0

In [216]:
c = 'COLE_BILINGUE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    473534
S      5698
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 93896
__________________
Elementos diferentes de null/NaN: 479232
__________________
(479232,)
None

In [217]:
Do_resamples(data_2015_2, c, str)

cant null antes: 93896
cant null despues: 0

In [218]:
c = 'COLE_CALENDARIO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['A', 'B', 'O'], dtype='object')
A    541637
B      1537
O      2556
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [219]:
Do_resamples(data_2015_2, c, str)

cant null antes: 27398
cant null despues: 0

In [220]:
c = 'ESTU_AREA_RESIDE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['R', 'U'], dtype='object')
R    109610
U    460044
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 3474
__________________
Elementos diferentes de null/NaN: 569654
__________________
(569654,)
None

In [221]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3474
cant null despues: 0

In [222]:
c = 'COLE_AREA_UBICACION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['R', 'U'], dtype='object')
R     77572
U    468158
Name: COLE_AREA_UBICACION, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [223]:
Do_resamples(data_2015_2, c, str)

cant null antes: 27398
cant null despues: 0

In [224]:
c = 'COLE_DEPTO_UBICACION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             842
ANTIOQUIA          74285
ARAUCA              2931
ATLANTICO          29361
BOGOTA             90598
BOLIVAR            24645
BOYACA             16737
CALDAS             10924
CAQUETA             4018
CASANARE            5841
CAUCA              14382
CESAR              12085
CHOCO               4049
CORDOBA            18875
CUNDINAMARCA       36396
GUAINIA              200
GUAVIARE             940
HUILA              13465
LA GUAJIRA          7181
MAGDALENA          14952
META               11470
NARIÑO             17468
NORTE SANTANDER    15588
PUTUMAYO            4338
QUINDIO             6966
RISARALDA          10452
SAN ANDRES           701
SANTANDER          26603
SUCRE              11411
TOLIMA             17142
VALLE              40017
VAUPES               384
VICHADA              483
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [225]:
data_2015_2[c].fillna(method='bfill', inplace=True)
data_2015_2[c].fillna(method='ffill', inplace=True)

In [226]:
c = 'COLE_MCPIO_UBICACION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1028)
ABEJORRAL                    169
ABREGO                       241
ABRIAQUI                      29
ACACIAS                     1026
ACANDI                        78
ACEVEDO                      230
ACHI                         323
AGRADO                       116
AGUA DE DIOS                 131
AGUACHICA                   1075
AGUADA                        24
AGUADAS                      268
AGUAZUL                      550
AGUSTIN CODAZZI              637
AIPE                         208
ALBAN                         82
ALBAN (SAN JOSE)             126
ALBANIA                      241
ALCALA                       133
ALDANA                        94
ALEJANDRIA                    43
ALGARROBO                    162
ALGECIRAS                    240
ALMAGUER                     134
ALMEIDA                       27
ALPUJARRA                     73
ALTAMIRA                      39
ALTO BAUDO (PIE DE PATO)      43
ALTOS DEL ROSARIO             59
ALVARADO                      87
                            ...
VILLANUEVA                  1020
VILLAPINZON                  313
VILLARRICA                    66
VILLAVICENCIO               6170
VILLAVIEJA                    42
VILLETA                      369
VIOTA                        173
VIRACACHA                     29
VISTA HERMOSA                126
VITERBO                      160
YACOPI                       150
YACUANQUER                   118
YAGUARA                      134
YALI                          62
YARUMAL                      784
YAVARATE                      13
YOLOMBO                      550
YONDO (CASABE)               122
YOPAL                       2751
YOTOCO                       126
YUMBO                       1155
ZAMBRANO                     169
ZAPATOCA                     140
ZAPAYAN                       88
ZARAGOZA                     297
ZARZAL                       408
ZETAQUIRA                     77
ZIPACON                       65
ZIPAQUIRA                   1710
ZONA BANANERA                771
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 27398
__________________
Elementos diferentes de null/NaN: 545730
__________________
(545730,)
None

In [227]:
data_2015_2[c].fillna(method='bfill', inplace=True)
data_2015_2[c].fillna(method='ffill', inplace=True)

In [228]:
c = 'ESTU_COD_RESIDE_DEPTO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([    5.0,     8.0,    11.0,    13.0,    15.0,    17.0,    18.0,
                 19.0,    20.0,    23.0,    25.0,    27.0,    41.0,    44.0,
                 47.0,    50.0,    52.0,    54.0,    63.0,    66.0,    68.0,
                 70.0,    73.0,    76.0,    81.0,    85.0,    86.0,    88.0,
                 91.0,    94.0,    95.0,    97.0,    99.0, 99999.0],
             dtype='float64')
5        76374
8        30355
11       95475
13       25200
15       17665
17       11626
18        4245
19       14856
20       12441
23       19380
25       36443
27        4292
41       14462
44        7415
47       15385
50       11829
52       19964
54       16243
63        7176
66       10886
68       28099
70       11587
73       18128
76       44728
81        3086
85        6017
86        4656
88         786
91         860
94         206
95        1007
97         399
99         516
99999        8
Name: ESTU_COD_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1333
__________________
Elementos diferentes de null/NaN: 571795
__________________
(571795,)
None

In [229]:
data_2015_2[c] = data_2015_2[c].replace(99999, np.nan)
Do_resamples(data_2015_2, c, float)

cant null antes: 1341
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [230]:
c = 'ESTU_PRIVADO_LIBERTAD'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    571782
S      1344
Name: ESTU_PRIVADO_LIBERTAD, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [231]:
c = 'ESTU_ANO_TERMINO_BACHILL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0, 2014.0, 2015.0],
             dtype='float64')
1980      84
1981      14
1982      11
1983      12
1984      16
1985      25
1986      25
1987      15
1988      24
1989      27
1990      41
1991      41
1992      47
1993      52
1994      73
1995      87
1996     112
1997     128
1998     169
1999     202
2000     230
2001     261
2002     293
2003     367
2004     456
2005     456
2006     477
2007     626
2008     837
2009    1095
2010    1337
2011    1872
2012    2522
2013    3862
2014    8825
2015       1
Name: ESTU_ANO_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 548406
__________________
Elementos diferentes de null/NaN: 24722
__________________
(24722,)
None

In [232]:
Do_resamples(data_2015_2, c, float)

cant null antes: 548406
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [233]:
c = 'ESTU_MES_TERMINO_BACHILL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       126
2       167
3       174
4       146
5       170
6      1457
7      2165
8       472
9       324
10      233
11     6600
12    12684
Name: ESTU_MES_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 548410
__________________
Elementos diferentes de null/NaN: 24718
__________________
(24718,)
None

In [234]:
Do_resamples(data_2015_2, c, float)

cant null antes: 548410
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [235]:
c = 'ESTU_NUMERO_LIBROS'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['0 A 10 LIBROS', '11 A 25 LIBROS', '26 A 100 LIBROS',
       'MÁS DE 100 LIBROS'],
      dtype='object')
0 A 10 LIBROS        279419
11 A 25 LIBROS       158968
26 A 100 LIBROS      102211
MÁS DE 100 LIBROS     29203
Name: ESTU_NUMERO_LIBROS, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [236]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [237]:
c = 'ESTU_OTRO_PLANTEL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['  jose manuel rodriguez torices inem ',
       ' Bachillerato Integral Del Quindio', ' Bernardo Arango Macias',
       ' CENT EDUC DIST VEINTE DE JULIO', ' CENTRO JOHANN KEPLER -SEDE SUBA',
       ' COL FUND STA ISABEL DE HUNGRIA', ' COLEGIO CESI',
       ' COLEGIO DEPARTAMENTAL DE CAQUEZA ', ' COLEGIO DISTRITAL GARCES NAVAS',
       ' COLEGIO JUAN LOZANO Y LOZANO',
       ...
       'villa del sur', 'villa santana', 'villasantana', 'villemar el carmen ',
       'virginia gutierrez de pineda', 'wilian shesper', 'william shakespeare',
       'willian shakespeare', 'zakurayima', 'ÍNSTITUCIÓN EDUCATIVA SAN JOSE'],
      dtype='object', length=15448)
  jose manuel rodriguez torices inem        1
 Bachillerato Integral Del Quindio          1
 Bernardo Arango Macias                     1
 CENT EDUC DIST VEINTE DE JULIO             1
 CENTRO JOHANN KEPLER -SEDE SUBA            1
 COL FUND STA ISABEL DE HUNGRIA             1
 COLEGIO CESI                               1
 COLEGIO DEPARTAMENTAL DE CAQUEZA           1
 COLEGIO DISTRITAL GARCES NAVAS             1
 COLEGIO JUAN LOZANO Y LOZANO               1
 COLEGIO MARIA GORETTI                      1
 Cepac                                      1
 Colegio La Estancia San Isidro Labrador    1
 Comercial Antonio Roldan Betancur          1
 Darío echandia                             1
 EL ROSARIO                                 1
 El Colegio las Orquídeas                   1
 Escuela Normal Superior San Carlos         1
 Escuela Normal Superior del Quindio        1
 General Alfredo Vasquez Cobo               1
 Gimnasio Gran Colombiano                   1
 I. E. campo hermoso                        1
 I.E JUAN BAUTISTA LA SALLE                 1
 I.E. juan manuel gonzalez                  1
 I.E.D. INTEGRADA DE TAUSA - SEDE PRINCI    1
 IED Juan Evangelista Gomez                 1
 INEM custodio garcia rovira                1
 INMACULADA CONCEPCION                      1
 INST EDU BELISARIO PEÑA PIÑEIRO            1
 INSTITUCION EDUCATIVA INEM Jorge isaacs    1
                                           ..
universidad la gran colombia                1
universidad nacional abierta y a distanc    2
universitario de caldas                     1
uparsistem                                  4
uparsistem                                  1
urbano molina castro                        1
uribesco                                    1
uveros                                      1
validacion icfes                            1
valle del guamuez                           1
veinte de Julio                             1
veinte de julio                             2
vicente azuero                              1
vicente borrero costa                       2
vicente garrido                             1
victor camargo alvarez                      1
victor manuel londoño                       1
victor zubiria                              1
vida nueva                                  1
vida y paz                                  1
villa del sur                               1
villa santana                               1
villasantana                                1
villemar el carmen                          1
virginia gutierrez de pineda                1
wilian shesper                              1
william shakespeare                         2
willian shakespeare                         1
zakurayima                                  2
ÍNSTITUCIÓN EDUCATIVA SAN JOSE              1
Name: ESTU_OTRO_PLANTEL, dtype: int64
Elementos null/NaN 550060
__________________
Elementos diferentes de null/NaN: 23068
__________________
(23068,)
None

In [238]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [239]:
c = 'ESTU_COD_OTRO_PAIS_PLANTEL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  1.0,   5.0,  12.0,  28.0,  33.0,  39.0,  40.0,  41.0,  42.0,
               45.0,  46.0,  47.0,  50.0,  54.0,  55.0,  57.0,  58.0,  65.0,
               66.0,  76.0,  98.0,  99.0, 101.0, 110.0, 118.0, 119.0, 133.0,
              144.0, 145.0, 160.0, 167.0, 168.0, 169.0, 171.0, 173.0, 174.0,
              209.0, 235.0, 236.0, 241.0, 246.0],
             dtype='float64')
1      25141
5          1
12        11
28         2
33         5
39         3
40         1
41         5
42         9
45         1
46         5
47         1
50         8
54         1
55         1
57         3
58         2
65        29
66         2
76         2
98         1
99         3
101        1
110        3
118        5
119        1
133        1
144       10
145        2
160        3
167        1
168        1
169        1
171       18
173        1
174       26
209       34
235        1
236       31
241      122
246        1
Name: ESTU_COD_OTRO_PAIS_PLANTEL, dtype: int64
Elementos null/NaN 547628
__________________
Elementos diferentes de null/NaN: 25500
__________________
(25500,)
None

In [240]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [241]:
c = 'COLE_VALOR_PENSION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    427373
2     38735
3     18010
4     11478
5     23678
6     25273
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 28581
__________________
Elementos diferentes de null/NaN: 544547
__________________
(544547,)
None

In [242]:
Do_resamples(data_2015_2, c, float)

cant null antes: 28581
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [243]:
c = 'ESTU_VECES_ESTADO_ESTUDIANTIL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['CUATRO', 'DOS', 'TRES', 'UNA'], dtype='object')
CUATRO       293
DOS         8049
TRES         601
UNA       535545
Name: ESTU_VECES_ESTADO_ESTUDIANTIL, dtype: int64
Elementos null/NaN 28640
__________________
Elementos diferentes de null/NaN: 544488
__________________
(544488,)
None

In [244]:
Do_resamples(data_2015_2, c, str)

cant null antes: 28640
cant null despues: 0

In [245]:
c = 'FAMI_EDUCA_PADRE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      26607
2     103455
3      99253
4      77702
5     140538
6       9798
7      30678
8       6434
9      43918
10      9348
11     22070
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [246]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 0

In [247]:
c = 'FAMI_EDUCA_MADRE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      12843
2      88001
3      96707
4      88924
5     161015
6      11433
7      40258
8       7203
9      45846
10      9507
11      8064
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [248]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 0

In [249]:
c = 'FAMI_OCUPA_PADRE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      10582
2      10868
3       9543
4       4724
5      43123
6      10449
7     134194
8      13437
9     215134
10      5504
11     16809
12     95434
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [250]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 0

In [251]:
c = 'FAMI_OCUPA_MADRE'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       4639
2       9867
3       4971
4       6194
5      35114
6      27401
7      43623
8      14326
9      68424
10    300110
11      5106
12     50026
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [252]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 0

In [253]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
0         3
1    252071
2    198069
3     95219
4     18778
5      5453
6      2143
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 1392
__________________
Elementos diferentes de null/NaN: 571736
__________________
(571736,)
None

In [254]:
Do_resamples(data_2015_2, c, float)

cant null antes: 1392
cant null despues: 0

In [255]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    282372
2    126361
3     20512
4      3928
5    136628
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [256]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 0

In [257]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       3855
2      30352
3     100366
4     172970
5     134964
6      64633
7      30155
8      15792
9       6639
10      4569
11      2085
12      3421
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [258]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 0

In [259]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      22170
2     206285
3     237565
4      72625
5      20036
6       6552
7       2310
8       1265
9        399
10       594
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [260]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 3
cant null antes: 3
cant null despues: 0

In [261]:
c = 'FAMI_PISOSHOGAR'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     33294
2    252124
3     30082
4    254301
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [262]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 0

In [263]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    319223
S    250578
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [264]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [265]:
c = 'FAMI_INTERNET'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    273548
S    296253
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [266]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [267]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    191018
S    378783
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [268]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [269]:
c = 'FAMI_COMPUTADOR'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    223130
S    346671
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [270]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [271]:
c = 'FAMI_DVD'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    219336
S    350465
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [272]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [273]:
c = 'FAMI_LAVADORA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    189530
S    380271
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [274]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [275]:
c = 'FAMI_MICROONDAS'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    397289
S    172512
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [276]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [277]:
c = 'FAMI_AUTOMOVIL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    456543
S    113258
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [278]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3327
cant null despues: 0

In [279]:
c = 'FAMI_HORNO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N    337525
S    232275
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 3328
__________________
Elementos diferentes de null/NaN: 569800
__________________
(569800,)
None

In [280]:
Do_resamples(data_2015_2, c, str)

cant null antes: 3328
cant null despues: 0

In [281]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    163178
2    257293
3     90488
4     36819
5     11306
6      5768
7      4949
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 3327
__________________
Elementos diferentes de null/NaN: 569801
__________________
(569801,)
None

In [282]:
Do_resamples(data_2015_2, c, float)

cant null antes: 3327
cant null despues: 0

In [283]:
c = 'ESTU_TRABAJA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    495277
2     29916
3     19366
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 28569
__________________
Elementos diferentes de null/NaN: 544559
__________________
(544559,)
None

In [284]:
Do_resamples(data_2015_2, c, float)

cant null antes: 28569
cant null despues: 0

In [285]:
c = 'ESTU_RECIBE_SALARIO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['N', 'S'], dtype='object')
N     2776
S    46095
Name: ESTU_RECIBE_SALARIO, dtype: int64
Elementos null/NaN 524257
__________________
Elementos diferentes de null/NaN: 48871
__________________
(48871,)
None

In [286]:
Do_resamples(data_2015_2, c, str)

cant null antes: 524257
cant null despues: 0

In [287]:
c = 'ESTU_VECES_ESTADO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    12684
2     7823
3     2961
4     1553
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 548107
__________________
Elementos diferentes de null/NaN: 25021
__________________
(25021,)
None

In [288]:
Do_resamples(data_2015_2, c, float)

cant null antes: 548107
cant null despues: 0

In [289]:
c = 'ESTU_COD_PLANTEL'
print(data_2015_2[c].value_counts().index)
print(data_2015_2[c].value_counts())
print(missing_data(data_2015_2[c]))

Index([                                     '0',
                                        '17794',
                                         '1035',
                                        '19362',
                                        '18271',
                                         '3552',
                                        '21888',
                                        '21981',
                                            0.0,
                                         '2531',
       ...
         'FUNDACION INTEGRAL SIGLO XXI ARGELIA',
                     'Sagrado Corazón de Jesús',
            'E.T.A.R. JOSE ESCOLASTICO ANDRADE',
                     'Liceo Juan German Roscio',
       'Unidad Educativa Colegio "Bella Vista"',
                                         '1311',
                                         '7914',
                   'Instituto Alberto Einstein',
                                         '2968',
                                        '11147'],
      dtype='object', length=554)
0                                           1868
17794                                         71
1035                                          40
19362                                         39
18271                                         37
3552                                          33
21888                                         30
21981                                         27
0.0                                           27
2531                                          24
2418                                          22
5468                                          21
1186                                          20
15970                                         16
20228                                         16
281                                           16
1410                                          13
19780                                         12
3881                                           8
11248                                          8
11070                                          7
4323                                           4
2497                                           4
17689                                          4
2532                                           4
3715                                           3
1185                                           3
2186                                           3
9939                                           2
IES SERRANÍA BAJA                              2
                                            ...
Escuela Tecnica Agropecuaria IMA               1
U.E: Generalísimo Francisco de Miranda         1
colegio Romulo Gallegos                        1
Unidad Educativa                               1
Unidad.Educativa Jean Frederic Oberlin         1
10844                                          1
instituto francisco javier garcia de hev       1
instituto tecnologico gran colombia            1
Institucion Educativa Teofilo Roberto Po       1
Inst. Edu. Unidad Edu. Stephen Hawking         1
ISPPT. 0620 aplicación                         1
ESCUELA TECNICA LUIS RODRIGUEZ SANCHEZ         1
U.E.C "La Santísima Trinidad"                  1
Knoxville Catholic High School                 1
E.T.As. Aloso de Ojeda                         1
Governor Simcoe Secondary School               1
13451                                          1
Unidad educativa Los Andes                     1
17588                                          1
3054                                           1
FUNDACION INTEGRAL SIGLO XXI ARGELIA           1
Sagrado Corazón de Jesús                       1
E.T.A.R. JOSE ESCOLASTICO ANDRADE              1
Liceo Juan German Roscio                       1
Unidad Educativa Colegio "Bella Vista"         1
1311                                           1
7914                                           1
Instituto Alberto Einstein                     1
2968                                           1
11147                                          1
Name: ESTU_COD_PLANTEL, dtype: int64
Elementos null/NaN 570204
__________________
Elementos diferentes de null/NaN: 2924
__________________
(2924,)
None

In [290]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [291]:
c = 'ESTU_COD_DEPTO_PRESENTACION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([ 5.0,  8.0, 11.0, 13.0, 15.0, 17.0, 18.0, 19.0, 20.0, 23.0, 25.0,
              27.0, 41.0, 44.0, 47.0, 50.0, 52.0, 54.0, 63.0, 66.0, 68.0, 70.0,
              73.0, 76.0, 81.0, 85.0, 86.0, 88.0, 91.0, 94.0, 95.0, 97.0,
              99.0],
             dtype='float64')
5     76555
8     31135
11    96020
13    24462
15    18196
17    12139
18     4343
19    14646
20    12593
23    19302
25    35734
27     4239
41    14557
44     7403
47    15142
50    11997
52    20002
54    16297
63     7204
66    10901
68    28436
70    11490
73    17546
76    45083
81     3211
85     6139
86     4631
88      726
91      847
94      219
95     1030
97      399
99      502
Name: ESTU_COD_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [292]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [293]:
c = 'ESTU_COD_MCPIO_PRESENTACION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([ 5001.0,  5002.0,  5030.0,  5031.0,  5034.0,  5042.0,  5045.0,
               5051.0,  5079.0,  5088.0,
              ...
              95025.0, 95200.0, 97001.0, 97161.0, 97666.0, 97889.0, 99001.0,
              99524.0, 99624.0, 99773.0],
             dtype='float64', length=460)
5001     29110
5002       202
5030       782
5031       501
5034       812
5042      1380
5045      1699
5051       454
5079       825
5088      6072
5101       344
5120       518
5129      1000
5138       330
5147       414
5148       589
5154      1187
5172       827
5190       444
5212      1656
5234       198
5237       252
5250       656
5266      3348
5284       335
5313       187
5318       552
5360      4532
5361       374
5368       357
         ...
85440      575
86001     1096
86320      588
86568     1055
86573      210
86749      592
86865      739
86885      351
88001      676
88564       50
91001      643
91263       31
91405       28
91407       34
91540       83
91798       28
94001      172
94343       47
95001      837
95015       57
95025      107
95200       29
97001      327
97161       31
97666       28
97889       13
99001      216
99524      119
99624       55
99773      112
Name: ESTU_COD_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [294]:
data_2015_2 = data_2015_2.drop(c, axis=1)

In [295]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO', 'YOPAL', 'YUMBO', 'ZAPATOCA',
       'ZARAGOZA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=443)
ABEJORRAL                     202
ABREGO                        245
ACACIAS                      1642
ACANDI                         79
ACHI                          329
AGUACHICA                    1368
AGUADAS                       271
AGUAZUL                       577
AGUSTIN CODAZZI               625
AIPE                          178
ALBAN                         112
ALBAN (SAN JOSE)              231
ALCALA                        204
ALTO BAUDO (PIE DE PATO)       56
AMAGA                         782
AMALFI                        501
ANDALUCIA                     161
ANDES                         812
ANOLAIMA                      243
ANSERMA                       709
ANSERMANUEVO                  166
APARTADO                     1699
APIA                          280
ARACATACA                     506
ARAUCA                       1180
ARAUQUITA                     304
ARBELAEZ                      187
ARBOLEDAS                     170
ARBOLETES                     454
ARENAL                         86
                             ...
TURMEQUE                      291
TUTA                          139
UBATE                        1453
UNGUIA                        109
URIBIA                        625
URRAO                         854
VALLEDUPAR                   5900
VALPARAISO                    135
VEGACHI                       236
VELEZ                         824
VENADILLO                     171
VENTAQUEMADA                  160
VIGIA DEL FUERTE               82
VILLA DE LEYVA                405
VILLA DEL ROSARIO             912
VILLA GUAMEZ (LA HORMIGA)     739
VILLAGARZON                   351
VILLANUEVA                   1069
VILLAVICENCIO                6871
VILLETA                       599
VIOTA                         179
YARUMAL                      1119
YAVARATE                       13
YOLOMBO                       230
YOPAL                        3098
YUMBO                        1395
ZAPATOCA                      156
ZARAGOZA                      265
ZARZAL                        495
ZIPAQUIRA                    3213
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [296]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             847
ANTIOQUIA          76555
ARAUCA              3211
ATLANTICO          31135
BOGOTA             96020
BOLIVAR            24462
BOYACA             18196
CALDAS             12139
CAQUETA             4343
CASANARE            6139
CAUCA              14646
CESAR              12593
CHOCO               4239
CORDOBA            19302
CUNDINAMARCA       35734
GUAINIA              219
GUAVIARE            1030
HUILA              14557
LA GUAJIRA          7403
MAGDALENA          15142
META               11997
NARIÑO             20002
NORTE SANTANDER    16297
PUTUMAYO            4631
QUINDIO             7204
RISARALDA          10901
SAN ANDRES           726
SANTANDER          28436
SUCRE              11490
TOLIMA             17546
VALLE              45083
VAUPES               399
VICHADA              502
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

# TARGETS

In [297]:
c = 'DECIL_LECTURA_CRITICA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    62372
D02    54785
D03    56064
D04    79066
D05    38155
D06    57546
D07    68923
D08    49133
D09    53833
D10    53249
Name: DECIL_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [298]:
c = 'PUNT_LECTURA_CRITICA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   4.0,   7.0,   8.0,   9.0,  11.0,  16.0,  17.0,  19.0,
               21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,  28.0,  29.0,
               30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,  37.0,  38.0,
               39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,  46.0,  47.0,
               48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,  56.0,
               57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,  65.0,  66.0,
               67.0,  68.0,  69.0,  70.0,  71.0,  73.0,  74.0,  75.0,  76.0,
               77.0,  78.0,  80.0,  81.0,  84.0,  85.0,  91.0,  92.0,  93.0,
               94.0, 100.0],
             dtype='float64')
0        227
4          2
7          8
8         34
9          8
11         4
16       137
17        17
19         7
21       344
22        31
23         8
24       568
25       309
26        19
27      1362
28       744
29        48
30      3949
31       464
32      4886
33      2474
34      7890
35      3537
36     11095
37      4889
38     19311
39      1314
40     24586
41     20490
       ...
56     19464
57     23390
58     11035
59      9424
60     17926
61      4714
62     10734
63     12788
65     10948
66       760
67      7955
68       651
69      6311
70         2
71      5225
73      2118
74      1530
75        30
76      1448
77      1094
78        20
80      1410
81         9
84        52
85       622
91         2
92        15
93       149
94        71
100       39
Name: PUNT_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [299]:
c = 'DECIL_MATEMATICAS'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    61990
D02    57731
D03    71704
D04    70208
D05    34524
D06    65203
D07    55178
D08    44024
D09    55844
D10    56720
Name: DECIL_MATEMATICAS, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [300]:
c = 'PUNT_MATEMATICAS'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   1.0,   2.0,   4.0,   7.0,   8.0,  10.0,  12.0,  13.0,
               15.0,  16.0,  17.0,  19.0,  20.0,  22.0,  23.0,  24.0,  25.0,
               26.0,  27.0,  28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,
               35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,
               44.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,
               53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,
               62.0,  63.0,  64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,
               71.0,  72.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,
               81.0,  82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0,
               90.0,  92.0,  93.0,  96.0,  97.0, 100.0],
             dtype='float64')
0         57
1          9
2          3
4          3
7         19
8         29
10        11
12        49
13        75
15         1
16       168
17       184
19       369
20       499
22       395
23      1440
24        11
25      1514
26      2038
27        21
28      5751
29       346
30      6510
31      2372
32      6650
33      6380
34      8919
35      8167
36     10000
37     11552
       ...
65     10018
66       634
67      9300
68      7301
69       596
70      6144
71       476
72      5698
74      4945
75       992
76      3261
77       858
78      2754
79       311
80      2568
81       249
82      2336
83       232
84      1850
85         1
86       199
87      1454
88       141
89       652
90       691
92       250
93       783
96       751
97         1
100     1292
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [301]:
c = 'DECIL_C_NATURALES'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    64174
D02    66613
D03    45799
D04    67539
D05    45307
D06    70118
D07    59396
D08    47336
D09    53439
D10    53405
Name: DECIL_C_NATURALES, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [302]:
c = 'PUNT_C_NATURALES'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   4.0,   7.0,   8.0,  13.0,  14.0,  17.0,  18.0,  20.0,
               21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,  28.0,  29.0,
               30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,  37.0,  38.0,
               39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,  46.0,  47.0,
               48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,  56.0,
               57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,  64.0,  65.0,
               66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,  73.0,  74.0,
               75.0,  76.0,  77.0,  78.0,  79.0,  80.0,  81.0,  83.0,  84.0,
               86.0,  87.0,  88.0,  90.0,  91.0,  93.0,  95.0,  96.0, 100.0],
             dtype='float64')
0         77
4          2
7         10
8         43
13        52
14        56
17        99
18       118
20        78
21       308
22        29
23       162
24       504
25        55
26      1189
27        75
28      1536
29       581
30      2725
31      1019
32      5493
33      2178
34      6128
35      8172
36      5765
37     10954
38     16766
39      5796
40     19234
41     17132
       ...
63      6913
64      6351
65      4219
66      6922
67      6189
68      4228
69      2381
70      3563
71      4097
72      1150
73      2392
74      2321
75       892
76      1642
77       757
78      1311
79       564
80       715
81       806
83       732
84       396
86       497
87       250
88         7
90       353
91       176
93         1
95       129
96       182
100      182
Name: PUNT_C_NATURALES, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [303]:
c = 'DECIL_SOCIALES_CIUDADANAS'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    68132
D02    48778
D03    69662
D04    55453
D05    64027
D06    56385
D07    53226
D08    47986
D09    53273
D10    56204
Name: DECIL_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [304]:
c = 'PUNT_SOCIALES_CIUDADANAS'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   3.0,   4.0,   5.0,   6.0,   9.0,  10.0,  11.0,  12.0,
               14.0,  16.0,  17.0,  18.0,  19.0,  21.0,  22.0,  24.0,  25.0,
               26.0,  27.0,  28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,
               35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,
               44.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,
               53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,
               62.0,  63.0,  64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,
               71.0,  72.0,  73.0,  74.0,  75.0,  76.0,  78.0,  79.0,  80.0,
               81.0,  82.0,  83.0,  84.0,  85.0,  86.0,  87.0,  88.0,  89.0,
               92.0,  93.0,  94.0,  95.0,  98.0,  99.0, 100.0],
             dtype='float64')
0         65
3         38
4         10
5          1
6          4
9         92
10        46
11         1
12        19
14       315
16         7
17        33
18       656
19        10
21      1367
22        20
24      2527
25        52
26      3254
27      1269
28      4754
29      2048
30      4590
31      5213
32      5919
33      6929
34     11162
35      4847
36     12884
37      5862
       ...
66      5017
67      5570
68      8669
69       116
70      6774
71        97
72      5158
73        66
74      3878
75         2
76      2904
78      1149
79       884
80       105
81      1256
82         1
83        58
84       758
85        12
86        35
87       109
88       325
89        22
92       178
93        47
94         6
95         5
98        71
99        24
100       36
Name: PUNT_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [305]:
c = 'DECIL_INGLES'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    70814
D02    80965
D03    49919
D04    51576
D05    49375
D06    44375
D07    68070
D08    42114
D09    60966
D10    54952
Name: DECIL_INGLES, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [306]:
c = 'DESEMP_INGLES'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    253274
A1    229800
A2     48899
B+     11115
B1     30038
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [307]:
c = 'PUNT_INGLES'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   7.0,  14.0,  15.0,  17.0,  20.0,  22.0,  25.0,  27.0,
               29.0,  31.0,  32.0,  34.0,  35.0,  37.0,  38.0,  39.0,  40.0,
               41.0,  42.0,  43.0,  44.0,  46.0,  49.0,  50.0,  51.0,  52.0,
               53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,
               62.0,  63.0,  64.0,  65.0,  66.0,  67.0,  68.0,  70.0,  71.0,
               72.0,  73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  80.0,
               82.0,  85.0,  87.0,  88.0,  90.0,  91.0,  92.0,  94.0,  95.0,
               97.0, 100.0],
             dtype='float64')
0        239
7         56
14        70
15         9
17         2
20       141
22        12
25       420
27        34
29      1252
31        60
32      2995
34       168
35      6104
37     11685
38     18588
39       647
40     28332
41     35951
42      1557
43     43457
44     49919
46     51576
49     49375
50     44375
51        51
52     37477
53     30542
54     23714
55     18400
       ...
61       705
62      6673
63      5322
64      5264
65      4781
66       468
67      4364
68      4186
70      3867
71      3650
72         4
73      3492
74      3278
75        45
76      3242
77      3142
78        36
79      3075
80      3121
82      3086
85      2957
87       180
88      2589
90       104
91      2156
92       107
94      1629
95        57
97      1060
100      276
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [308]:
c = 'DECIL_RAZONA_CUANT'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    62484
D02    55820
D03    69830
D04    55809
D05    45765
D06    63507
D07    57051
D08    60386
D09    55795
D10    46679
Name: DECIL_RAZONA_CUANT, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [309]:
c = 'PUNT_RAZONA_CUANT'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   3.0,   8.0,   9.0,  10.0,  14.0,  15.0,  16.0,  19.0,
               20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,  27.0,  28.0,
               29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,  36.0,  37.0,
               38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,  45.0,  46.0,
               47.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,  56.0,
               57.0,  58.0,  59.0,  60.0,  61.0,  62.0,  63.0,  64.0,  65.0,
               66.0,  67.0,  68.0,  69.0,  70.0,  71.0,  72.0,  73.0,  74.0,
               75.0,  76.0,  78.0,  79.0,  80.0,  82.0,  83.0,  84.0,  85.0,
               87.0,  89.0,  90.0,  94.0,  95.0,  96.0, 100.0],
             dtype='float64')
0        113
3         30
8        107
9         60
10        63
14       222
15       424
16       264
19       532
20      1082
21       844
22         1
23      1176
24      2430
25      1484
26        26
27      2531
28      4349
29      2604
30      3327
31      8050
32      3929
33      5031
34     10061
35      5840
36      7904
37     20250
38       401
39     26192
40      8977
       ...
61     25144
62      1588
63      5713
64     15255
65      1628
66     12644
67      5169
68       232
69     13566
70       918
71       186
72      8159
73      3359
74       134
75      2198
76      7267
78        95
79      4234
80      3379
82       628
83      1318
84      4021
85       420
87        75
89      4073
90       365
94       311
95      1456
96      1388
100     2695
Name: PUNT_RAZONA_CUANT, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [310]:
c = 'DECIL_COMP_CIUDADANA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    72163
D02    60828
D03    47944
D04    50345
D05    75135
D06    39960
D07    78922
D08    37270
D09    63060
D10    47499
Name: DECIL_COMP_CIUDADANA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [311]:
c = 'PUNT_COMP_CIUDADANA'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   8.0,   9.0,  10.0,  14.0,  17.0,  18.0,  21.0,  22.0,
               24.0,  25.0,  26.0,  28.0,  29.0,  30.0,  31.0,  32.0,  33.0,
               34.0,  35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,
               43.0,  44.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,
               52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,
               61.0,  62.0,  63.0,  64.0,  66.0,  67.0,  69.0,  70.0,  71.0,
               72.0,  73.0,  75.0,  76.0,  79.0,  80.0,  83.0,  84.0,  87.0,
               88.0, 100.0],
             dtype='float64')
0         56
8          1
9         26
10        71
14        18
17       285
18       160
21        57
22      1281
24        12
25      1301
26      1768
28      4226
29      1820
30       376
31      9741
32       163
33     11032
34      3925
35     14708
36      4591
37     16545
38      6876
39     19061
40      7824
41     27067
42      1857
43     28861
44     17226
45     15790
       ...
51     21150
52     18810
53     39349
54       594
55     38979
56      2552
57     34718
58      2252
59     31191
60      2094
61      6911
62     20612
63       292
64     20435
66      1058
67     12958
69       546
70       129
71      7230
72       260
73        83
75       835
76      2460
79        29
80        29
83       766
84       224
87         8
88         8
100      149
Name: PUNT_COMP_CIUDADANA, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [312]:
c = 'PUNT_GLOBAL'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([  0.0,   3.0,   5.0,   6.0,   8.0,  10.0,  12.0,  13.0,  14.0,
               15.0,
              ...
              471.0, 472.0, 473.0, 475.0, 476.0, 477.0, 478.0, 483.0, 490.0,
              492.0],
             dtype='float64', length=456)
0       5
3       1
5       1
6       1
8       2
10      1
12      2
13      1
14      1
15      2
16      1
17      3
18      1
19      2
20      2
21      1
22      1
23      1
28      1
30      1
31      1
33      2
34      2
36      1
37      2
38      1
39      1
42      1
45      1
48      3
       ..
450    14
451     2
452     9
453     9
454    13
455     8
456     9
457    12
458     5
460     9
461     9
462     7
463     3
464     4
465     2
466     1
467     2
468     4
469     2
470     3
471     5
472     3
473     1
475     1
476     3
477     2
478     2
483     1
490     1
492     1
Name: PUNT_GLOBAL, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

In [313]:
c = 'ESTU_PUESTO'
print(data_2015_2[c].value_counts().sort_index().index)
print(data_2015_2[c].value_counts().sort_index())
print(missing_data(data_2015_2[c]))

Float64Index([   1.0,    2.0,    3.0,    4.0,    5.0,    6.0,    7.0,    8.0,
                 9.0,   10.0,
              ...
               991.0,  992.0,  993.0,  994.0,  995.0,  996.0,  997.0,  998.0,
               999.0, 1000.0],
             dtype='float64', length=431)
1       598
2       594
3       625
4       649
5       520
6       658
7       556
8       626
9       519
10      665
11      571
12      566
13      679
14      493
15      658
16      510
17      649
18      633
19      690
20      452
21      540
22      681
23      547
24      573
25      593
26      630
27      619
28      656
29      379
30      662
       ...
968     806
969     865
971     724
972     782
974     697
975     742
976     669
977     631
978     613
979     645
981     563
982     583
983     493
984     964
985     436
986     401
987     799
988     392
989     695
990     298
991     591
992     563
993     676
994     397
995     539
996     683
997     524
998     510
999     555
1000    596
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 573126
__________________
(573126,)
None

remaining NaNs

In [317]:
idx = data_2015_2[data_2015_2['ESTU_ESTUDIANTE'].isnull()].index
data_2015_2 = data_2015_2.drop(idx)

In [322]:
idx = data_2015_2[data_2015_2['ESTU_NACIMIENTO_DIA'].isnull()].index
data_2015_2 = data_2015_2.drop(idx)

Now here i enconde the Dataframes and tranform it into .csv files

In [325]:
data_2015 = label_encoder(data_2015)
data_2015_2 = label_encoder(data_2015_2)

In [326]:
data_2015.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2015_1.csv', sep=';', index=False)
data_2015_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2015_2.csv', sep=';', index=False)