In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2004 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20041-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                       encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3,12,13,14,15,16,19,20,22,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2004.shape

(64779, 58)

In [4]:
data_2004.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200410000001,SB11200410000002,SB11200410000003
COLE_COD_ICFES,66191,18036,50716
COLE_NOMBRE_SEDE,COLEGIO PATRICIO SYMES,INSTITUTO COMERCIAL TEOFILO ROBERTO POTES,CENTRO DOCENTE FRANCISCO JOSE DE CALDAS
IND_ANNO_TERMINO_BACHILLERATO,2004,2004,2004
COLE_JORNADA,M,C,M
COLE_VALOR_PENSION,5,1,1
ESTU_GENERO,M,M,M
ESTU_NACIMIENTO_DIA,8,12,5
ESTU_NACIMIENTO_MES,1,5,1
ESTU_NACIMIENTO_ANNO,1988,1986,1987
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_MCPIO_PRESENTACION,BUENAVENTURA,BUENAVENTURA,BUENAVENTURA
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,49.9,40.6,43.5
PUNT_MATEMATICAS,47.1,42.8,42.8
PUNT_FILOSOFIA,49.9,44.6,49.9
PUNT_FISICA,47.8,41.9,46
PUNT_HISTORIA,38,40.8,38
PUNT_QUIMICA,47.2,43.2,31.8
PUNT_LENGUAJE,47.1,47.1,53
PUNT_GEOGRAFIA,39.3,43.8,45.1
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,45.8,45.8,56.9
COD_IDIOMA,52,52,53
PUNT_IDIOMA,45.3,30.2,40.7
ESTU_IES_COD_DESEADA,1203,NaN,NaN
ESTU_RAZONINSTITUTO,2,NaN,NaN
ESTU_CARRDESEADA_COD,213,NaN,NaN
ESTU_CARRDESEADA_RAZON,3,NaN,5
FAMI_PERSONAS_HOGAR,7,6,6
FAMI_VIVIENDA_PROPIA,N,S,S
FAMI_DEUDA_VIVIENDA,N,N,N
FAMI_APORTANTES,2,2,1
FAMI_INGRESO_FMILIAR_MENSUAL,2,NaN,0
FAMI_LEE_ESCRIBE_PADRE,S,S,S
FAMI_LEE_ESCRIBE_MADRE,S,S,S
FAMI_EDUCA_PADRE,5,2,4
FAMI_EDUCA_MADRE,4,7,3
FAMI_OCUPA_PADRE,4,8,6
FAMI_OCUPA_MADRE,10,3,10
FAMI_NUM_HERMANOS,7,3,5
FAMI_NUM_HERMANOS_EDUSUPERIOR,NaN,NaN,3
FAMI_POSICION_HERMANOS,4,2,NaN
FAMI_SOST_PERSONAL,T,T,T
ESTU_TRABAJA,N,N,N
ESTU_ACT_PROX_ANNO,3,1,1
FAMI_ESTRATO_VIVIENDA,3,1,1
COLE_CALENDARIO,B,B,B
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,TECNICO,TECNICO,ACADEMICO
COLE_DEPTO_UBICACION,VALLE,VALLE,VALLE
COLE_MCPIO_UBICACION,BUENAVENTURA,BUENAVENTURA,BUENAVENTURA
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_RESIDE_MCPIO,BUENAVENTURA,BUENAVENTURA,BUENAVENTURA
ESTU_TIPO_DOCUMENTO,R,T,R

The first like always is delete the columns that won't contribute to the work

In [5]:
data_2004 = data_2004.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [6]:
print(data_2004['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2004['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2004['COLE_COD_ICFES']))

Int64Index([   182,    265,    638,   1024,   1503,   2998,   3145,   3327,
              3418,   3459,
            ...
            112466, 112474, 112482, 112508, 112516, 112532, 112557, 112607,
            112623, 112706],
           dtype='int64', length=1795)
182        58
265       193
638        53
1024       33
1503       66
2998       29
3145       27
3327       12
3418       43
3459       71
3483       21
4234       42
5629       37
6775       11
6981       24
7013       70
7054       28
7070      152
7088       53
7732        2
7872        2
8086       12
8581      112
9589       19
9696       25
9985       17
10199       7
10298     137
10967      35
11130      19
         ...
112003     25
112011     93
112029      2
112037     16
112060      4
112078      9
112102      1
112110      7
112136      8
112169     16
112177      6
112219     17
112227     14
112235     11
112243     10
112250     14
112268     17
112276     18
112284     21
112300      2
112466     22
112474     12
112482      9
112508     33
112516      7
112532      7
112557      9
112607     25
112623     14
112706      7
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [7]:
print(data_2004['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index)
print(data_2004['IND_ANNO_TERMINO_BACHILLERATO'].value_counts())
print(missing_data(data_2004['IND_ANNO_TERMINO_BACHILLERATO']))

Index([2004.0, '2004', 2003.0, '2003', 2002.0, 2001.0, 2000.0, '2002', '2001',
       1999.0, '1999', '1998', 1995.0, 1998.0, 1997.0, '2000', '1997', 1996.0,
       1993.0, '1995', 1992.0, 1990.0, 1950.0, 1983.0, 1987.0, 1984.0, '1993',
       1973.0, 1974.0, 1976.0, '1996', 1989.0, 1991.0, 1994.0, '1990', '1992',
       '1979', 'D019', '1978', '1994'],
      dtype='object')
2004.0    37647
2004       9356
2003.0     7454
2003       5162
2002.0       96
2001.0       61
2000.0       47
2002         39
2001         27
1999.0       19
1999         12
1998         12
1995.0       10
1998.0       10
1997.0       10
2000         10
1997          7
1996.0        6
1993.0        5
1995          3
1992.0        3
1990.0        2
1950.0        2
1983.0        2
1987.0        2
1984.0        1
1993          1
1973.0        1
1974.0        1
1976.0        1
1996          1
1989.0        1
1991.0        1
1994.0        1
1990          1
1992          1
1979          1
D019          1
1978          1
1994          1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 4760
__________________
Elementos diferentes de null/NaN: 60019
__________________
(60019,)
None

In [8]:
data_2004['IND_ANNO_TERMINO_BACHILLERATO'] = data_2004['IND_ANNO_TERMINO_BACHILLERATO'].replace('D019', np.nan)
for i in data_2004['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().index:
    if type(i) == str:
        data_2004['IND_ANNO_TERMINO_BACHILLERATO'] = data_2004['IND_ANNO_TERMINO_BACHILLERATO'].replace(i, float(i))

In [9]:
Do_resamples(data_2004, 'IND_ANNO_TERMINO_BACHILLERATO', float)

cant null antes: 4761
cant null despues: 0

In [10]:
print(data_2004['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2004['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2004['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C    16028
M    28164
N    11674
S     1323
T     7590
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [11]:
print(data_2004['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2004['COLE_VALOR_PENSION'].value_counts().sort_index())
print(missing_data(data_2004['COLE_VALOR_PENSION']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0    15057
2.0     8142
3.0     5107
4.0     3767
5.0     3661
6.0     2202
7.0     4194
8.0    17850
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 4799
__________________
Elementos diferentes de null/NaN: 59980
__________________
(59980,)
None

In [12]:
Do_resamples(data_2004, 'COLE_VALOR_PENSION', float)

cant null antes: 4799
cant null despues: 0

In [13]:
print(data_2004['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2004['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    35129
M    29650
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 64779
__________________
(64779,)
None

In [14]:
print(data_2004['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2004['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2081
2.0     1970
3.0     1972
4.0     2032
5.0     2126
6.0     1928
7.0     1989
8.0     2046
9.0     1983
10.0    2068
11.0    1984
12.0    2097
13.0    1982
14.0    1912
15.0    2175
16.0    1962
17.0    1968
18.0    1946
19.0    1949
20.0    2157
21.0    1892
22.0    1991
23.0    2031
24.0    1987
25.0    2004
26.0    1962
27.0    1910
28.0    2067
29.0    1773
30.0    1773
31.0    1023
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 4039
__________________
Elementos diferentes de null/NaN: 60740
__________________
(60740,)
None

In [15]:
print(data_2004['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2004['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_NACIMIENTO_MES']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 16.0, 18.0, 19.0, 22.0],
             dtype='float64')
1.0     4925
2.0     4575
3.0     5112
4.0     4964
5.0     5091
6.0     5000
7.0     5173
8.0     5174
9.0     5370
10.0    5258
11.0    4944
12.0    5147
16.0       1
18.0       2
19.0       2
22.0       1
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 4040
__________________
Elementos diferentes de null/NaN: 60739
__________________
(60739,)
None

In [16]:
data_2004['ESTU_NACIMIENTO_MES'] = data_2004['ESTU_NACIMIENTO_MES'].replace(16.0, np.nan)
data_2004['ESTU_NACIMIENTO_MES'] = data_2004['ESTU_NACIMIENTO_MES'].replace(18.0, np.nan)
data_2004['ESTU_NACIMIENTO_MES'] = data_2004['ESTU_NACIMIENTO_MES'].replace(19.0, np.nan)
data_2004['ESTU_NACIMIENTO_MES'] = data_2004['ESTU_NACIMIENTO_MES'].replace(22.0, np.nan)

In [17]:
print(data_2004['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2004['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_NACIMIENTO_ANNO']))

Float64Index([  82.0,   86.0,   88.0,  183.0,  186.0,  984.0,  985.0, 1659.0,
              1920.0, 1923.0, 1925.0, 1928.0, 1936.0, 1937.0, 1938.0, 1939.0,
              1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0,
              1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0,
              1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0,
              1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0,
              1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0,
              1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1998.0],
             dtype='float64')
82.0          1
86.0          1
88.0          1
183.0         1
186.0         1
984.0         1
985.0         2
1659.0        1
1920.0        2
1923.0        1
1925.0        1
1928.0        1
1936.0        1
1937.0        1
1938.0        2
1939.0        1
1940.0        3
1941.0        4
1942.0        1
1943.0        4
1944.0        3
1945.0        5
1946.0        7
1947.0        9
1948.0        9
1949.0       13
1950.0       16
1951.0       18
1952.0       18
1953.0       21
          ...
1967.0      190
1968.0      178
1969.0      194
1970.0      197
1971.0      201
1972.0      222
1973.0      221
1974.0      237
1975.0      265
1976.0      313
1977.0      351
1978.0      424
1979.0      570
1980.0      637
1981.0      820
1982.0     1203
1983.0     1883
1984.0     3866
1985.0     8120
1986.0    14162
1987.0    18728
1988.0     5695
1989.0      427
1990.0      100
1991.0       51
1992.0       46
1993.0       52
1994.0       40
1995.0      125
1998.0        1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 4040
__________________
Elementos diferentes de null/NaN: 60739
__________________
(60739,)
None

In [18]:
for i in data_2004['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if i < 1900:
        data_2004['ESTU_NACIMIENTO_ANNO'] = data_2004['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [19]:
anno = data_2004[data_2004['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2004 = data_2004.drop(anno)
mes = data_2004[data_2004['ESTU_NACIMIENTO_MES'].isnull()].index
data_2004 = data_2004.drop(mes)

In [20]:
print(data_2004['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2004['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_DEPTO_PRESENTACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2633
ARAUCA                15
ATLANTICO            464
BOGOTA              6560
BOLIVAR              267
BOYACA               421
CALDAS               367
CAQUETA               75
CASANARE             132
CAUCA               1105
CESAR                 89
CHOCO                  1
CORDOBA              127
CUNDINAMARCA        1276
HUILA                339
LA GUAJIRA           200
MAGDALENA             39
META                 271
NARIÑO             11405
NORTE SANTANDER      516
PUTUMAYO              30
QUINDIO              423
RISARALDA            224
SANTANDER            603
SUCRE                  9
TOLIMA               493
VALLE              32639
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [21]:
print(data_2004['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2004['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_MCPIO_PRESENTACION']))

Index(['ACACIAS', 'AGUACHICA', 'ALBANIA', 'ALCALA', 'ANDALUCIA',
       'ANSERMANUEVO', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARBACOAS',
       ...
       'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO', 'YOLOMBO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=115)
ACACIAS                       7
AGUACHICA                    27
ALBANIA                      41
ALCALA                      106
ANDALUCIA                   166
ANSERMANUEVO                 69
APARTADO                     91
ARAUCA                       15
ARMENIA                     349
BARBACOAS                    76
BARRANCABERMEJA              28
BARRANQUILLA                464
BELLO                       254
BOGOTA D.C.                6560
BOLIVAR                      44
BUCARAMANGA                 521
BUENAVENTURA               2052
BUESACO                     196
BUGA                       1346
BUGALAGRANDE                198
CAICEDONIA                  252
CALI                      16624
CALIMA (DARIEN)              90
CAMPOALEGRE                   3
CANDELARIA                  640
CARTAGENA                   257
CARTAGO                    1147
CAUCASIA                    169
CHAPARRAL                    78
CHIA                        198
                          ...
SAMANIEGO                   197
SAN GIL                      15
SAN MARTIN                   15
SAN PABLO                   140
SANDONA                     227
SANTA MARTA                  39
SANTA ROSA DE OSOS           15
SANTANDER DE QUILICHAO       58
SEVILLA                     298
SINCELEJO                     9
SOACHA                      328
SOGAMOSO                    135
TAMINANGO                   134
TANGUA                       63
TIERRALTA                    15
TORO                        118
TRUJILLO                    120
TULUA                      1981
TUMACO                      860
TUNJA                       286
TUQUERRES                   502
UBATE                        47
VALLEDUPAR                   62
VELEZ                        21
VILLAVICENCIO               208
YOLOMBO                       7
YOPAL                       132
YUMBO                       887
ZARZAL                      369
ZIPAQUIRA                    83
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [22]:
print(data_2004['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2004['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    5
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 60718
__________________
Elementos diferentes de null/NaN: 5
__________________
(5,)
None

In [23]:
data_2004 = data_2004.drop(['ESTU_LIMITA_INVIDENTE'], axis=1)

In [24]:
print(data_2004['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2004['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    10
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 60713
__________________
Elementos diferentes de null/NaN: 10
__________________
(10,)
None

In [25]:
data_2004 = data_2004.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis=1)

In [26]:
print(data_2004['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2004['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    1
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 60722
__________________
Elementos diferentes de null/NaN: 1
__________________
(1,)
None

In [27]:
"""Since the column is almost empy i will just delete the column."""
data_2004 = data_2004.drop(['ESTU_LIMITA_SORDONOINTERPRETE'], axis=1)

In [28]:
print(data_2004['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2004['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    4
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 60719
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [29]:
data_2004 = data_2004.drop(['ESTU_LIMITA_MOTRIZ'], axis=1)

In [30]:
print(data_2004['ESTU_IES_COD_DESEADA'].value_counts().sort_index().index)
print(data_2004['ESTU_IES_COD_DESEADA'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_IES_COD_DESEADA']))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1106.0, 1107.0, 1108.0, 1110.0,
              1111.0, 1112.0,
              ...
              2830.0, 2831.0, 2832.0, 2833.0, 2837.0, 2839.0, 9103.0, 9104.0,
              9105.0, 9107.0],
             dtype='float64', length=151)
1101.0     3489
1102.0      309
1103.0      173
1104.0      379
1106.0      211
1107.0        3
1108.0       39
1110.0     1710
1111.0      288
1112.0      348
1113.0       32
1114.0       88
1115.0       12
1117.0       96
1118.0        5
1119.0       83
1120.0        9
1121.0        6
1122.0      127
1201.0     1524
1202.0       34
1203.0    17568
1204.0      245
1205.0       18
1206.0     3283
1207.0      134
1208.0      180
1209.0      167
1210.0        2
1212.0      115
          ...
2737.0       28
2741.0        6
2801.0      426
2805.0       47
2806.0       30
2809.0       14
2810.0       21
2811.0       64
2812.0        5
2813.0       82
2817.0       49
2818.0       16
2819.0       38
2820.0        8
2823.0        4
2824.0       28
2825.0       19
2827.0       53
2828.0       17
2829.0       24
2830.0       25
2831.0       52
2832.0      137
2833.0       83
2837.0       15
2839.0       11
9103.0       50
9104.0      102
9105.0        9
9107.0       20
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 15455
__________________
Elementos diferentes de null/NaN: 45268
__________________
(45268,)
None

In [31]:
data_2004['ESTU_IES_COD_DESEADA'].fillna(method='bfill', inplace=True)

In [32]:
print(data_2004['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2004['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_RAZONINSTITUTO']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0      965
2.0    21993
3.0     4893
4.0     3061
5.0     8124
6.0     3345
7.0     3054
8.0     1749
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 13539
__________________
Elementos diferentes de null/NaN: 47184
__________________
(47184,)
None

In [33]:
Do_resamples(data_2004, 'ESTU_RAZONINSTITUTO', float)

cant null antes: 13539
cant null despues: 0

In [34]:
print(data_2004['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2004['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_CARRDESEADA_COD']))

Float64Index([201.0, 202.0, 203.0, 204.0, 205.0, 206.0, 207.0, 208.0, 209.0,
              210.0, 211.0, 212.0, 213.0, 214.0, 215.0, 216.0, 217.0, 218.0,
              219.0, 220.0, 221.0, 222.0, 223.0, 224.0, 225.0, 226.0],
             dtype='float64')
201.0    3305
202.0     992
203.0     210
204.0    8886
205.0     279
206.0    2426
207.0      57
208.0     337
209.0    2038
210.0     712
211.0    1261
212.0     502
213.0    2288
214.0     858
215.0    2695
216.0    7701
217.0    1744
218.0      73
219.0     665
220.0     732
221.0      66
222.0     118
223.0     267
224.0    3984
225.0    4403
226.0     965
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 13159
__________________
Elementos diferentes de null/NaN: 47564
__________________
(47564,)
None

In [35]:
Do_resamples(data_2004, 'ESTU_CARRDESEADA_COD', float)

cant null antes: 13159
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [36]:
print(data_2004['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2004['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_CARRDESEADA_RAZON']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    17192
2.0    13883
3.0     5098
4.0     4097
5.0     3797
6.0     1163
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 15493
__________________
Elementos diferentes de null/NaN: 45230
__________________
(45230,)
None

In [37]:
Do_resamples(data_2004, 'ESTU_CARRDESEADA_RAZON', float)

cant null antes: 15493
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [38]:
print(data_2004['FAMI_PERSONAS_HOGAR'].value_counts().sort_index().index)
print(data_2004['FAMI_PERSONAS_HOGAR'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_PERSONAS_HOGAR']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+     1500
1      325
2     2402
3     8092
4    16490
5    14403
6     7615
7     3763
8     2166
9     1131
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 2836
__________________
Elementos diferentes de null/NaN: 57887
__________________
(57887,)
None

In [39]:
data_2004['FAMI_PERSONAS_HOGAR'] = data_2004['FAMI_PERSONAS_HOGAR'].replace('+', '+9')

In [40]:
Do_resamples(data_2004, 'FAMI_PERSONAS_HOGAR', str)

cant null antes: 2836
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [41]:
print(data_2004['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index().index)
print(data_2004['FAMI_VIVIENDA_PROPIA'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_VIVIENDA_PROPIA']))

Index(['N', 'S'], dtype='object')
N    17942
S    39825
Name: FAMI_VIVIENDA_PROPIA, dtype: int64
Elementos null/NaN 2956
__________________
Elementos diferentes de null/NaN: 57767
__________________
(57767,)
None

In [42]:
Do_resamples(data_2004, 'FAMI_VIVIENDA_PROPIA', str)

cant null antes: 2956
cant null despues: 0

In [43]:
print(data_2004['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index().index)
print(data_2004['FAMI_DEUDA_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_DEUDA_VIVIENDA']))

Index(['N', 'S'], dtype='object')
N    49713
S     8054
Name: FAMI_DEUDA_VIVIENDA, dtype: int64
Elementos null/NaN 2956
__________________
Elementos diferentes de null/NaN: 57767
__________________
(57767,)
None

In [44]:
Do_resamples(data_2004, 'FAMI_DEUDA_VIVIENDA', str)

cant null antes: 2956
cant null despues: 0

In [45]:
print(data_2004['FAMI_APORTANTES'].value_counts().sort_index().index)
print(data_2004['FAMI_APORTANTES'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_APORTANTES']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+       34
1    29666
2    22218
3     4084
4     1119
5      359
6      119
7       52
8       25
9       16
Name: FAMI_APORTANTES, dtype: int64
Elementos null/NaN 3031
__________________
Elementos diferentes de null/NaN: 57692
__________________
(57692,)
None

In [46]:
data_2004['FAMI_APORTANTES'] = data_2004['FAMI_APORTANTES'].replace('+', '+9')

In [47]:
Do_resamples(data_2004, 'FAMI_APORTANTES', str)

cant null antes: 3031
cant null despues: 0

In [48]:
print(data_2004['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index().index)
print(data_2004['FAMI_INGRESO_FMILIAR_MENSUAL'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_INGRESO_FMILIAR_MENSUAL']))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
0.0    10573
1.0    23846
2.0     9707
3.0     4824
4.0     1767
5.0      854
6.0      923
7.0      469
8.0      475
9.0     1296
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 5989
__________________
Elementos diferentes de null/NaN: 54734
__________________
(54734,)
None

In [49]:
Do_resamples(data_2004, 'FAMI_INGRESO_FMILIAR_MENSUAL', float)

cant null antes: 5989
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [50]:
print(data_2004['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_LEE_ESCRIBE_PADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_LEE_ESCRIBE_PADRE']))

Index(['N', 'S'], dtype='object')
N     1483
S    50972
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 8268
__________________
Elementos diferentes de null/NaN: 52455
__________________
(52455,)
None

In [51]:
Do_resamples(data_2004, 'FAMI_LEE_ESCRIBE_PADRE', str)

cant null antes: 8268
cant null despues: 0

In [52]:
print(data_2004['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_LEE_ESCRIBE_MADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_LEE_ESCRIBE_MADRE']))

Index(['N', 'S'], dtype='object')
N     1552
S    53706
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 5465
__________________
Elementos diferentes de null/NaN: 55258
__________________
(55258,)
None

In [53]:
Do_resamples(data_2004, 'FAMI_LEE_ESCRIBE_MADRE', str)

cant null antes: 5465
cant null despues: 0

In [54]:
print(data_2004['FAMI_EDUCA_PADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_EDUCA_PADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_EDUCA_PADRE']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1653
2.0      400
3.0    20047
4.0    12788
5.0     3404
6.0     2569
7.0     5612
8.0     3117
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 11133
__________________
Elementos diferentes de null/NaN: 49590
__________________
(49590,)
None

In [55]:
Do_resamples(data_2004, 'FAMI_EDUCA_PADRE', float)

cant null antes: 11133
cant null despues: 0

In [56]:
print(data_2004['FAMI_EDUCA_MADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_EDUCA_MADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_EDUCA_MADRE']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1671
2.0      452
3.0    21757
4.0    15011
5.0     4171
6.0     2177
7.0     5324
8.0     2371
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 7789
__________________
Elementos diferentes de null/NaN: 52934
__________________
(52934,)
None

In [57]:
Do_resamples(data_2004, 'FAMI_EDUCA_MADRE', float)

cant null antes: 7789
cant null despues: 0

In [58]:
print(data_2004['FAMI_OCUPA_PADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_OCUPA_PADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_OCUPA_PADRE']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      1131
2.0      1539
3.0      3353
4.0      4002
5.0     14572
6.0      7501
7.0       403
8.0     11587
9.0      2953
10.0      822
11.0       58
12.0     1812
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 10990
__________________
Elementos diferentes de null/NaN: 49733
__________________
(49733,)
None

In [59]:
Do_resamples(data_2004, 'FAMI_OCUPA_PADRE', float)

cant null antes: 10990
cant null despues: 0

In [60]:
print(data_2004['FAMI_OCUPA_MADRE'].value_counts().sort_index().index)
print(data_2004['FAMI_OCUPA_MADRE'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_OCUPA_MADRE']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0       459
2.0       944
3.0      1720
4.0      4413
5.0      6774
6.0      5224
7.0       433
8.0      3657
9.0      1037
10.0    26917
11.0      215
12.0     1152
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 7778
__________________
Elementos diferentes de null/NaN: 52945
__________________
(52945,)
None

In [61]:
Do_resamples(data_2004, 'FAMI_OCUPA_MADRE', float)

cant null antes: 7778
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [62]:
print(data_2004['FAMI_NUM_HERMANOS'].value_counts().sort_index().index)
print(data_2004['FAMI_NUM_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_NUM_HERMANOS']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+      924
1    14443
2    15646
3     9110
4     5309
5     3120
6     1904
7     1317
8      899
9      520
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 7531
__________________
Elementos diferentes de null/NaN: 53192
__________________
(53192,)
None

In [63]:
data_2004['FAMI_NUM_HERMANOS'] = data_2004['FAMI_NUM_HERMANOS'].replace('+', '+9')

In [64]:
Do_resamples(data_2004, 'FAMI_NUM_HERMANOS', str)

cant null antes: 7531
cant null despues: 0

In [65]:
print(data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index().index)
print(data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+       34
1    15123
2     5168
3     1503
4      447
5      197
6       78
7       55
8       28
9       17
Name: FAMI_NUM_HERMANOS_EDUSUPERIOR, dtype: int64
Elementos null/NaN 38073
__________________
Elementos diferentes de null/NaN: 22650
__________________
(22650,)
None

In [66]:
data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR'] = data_2004['FAMI_NUM_HERMANOS_EDUSUPERIOR'].replace('+', '+9')

In [67]:
Do_resamples(data_2004, 'FAMI_NUM_HERMANOS_EDUSUPERIOR', str)

cant null antes: 38073
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [68]:
print(data_2004['FAMI_POSICION_HERMANOS'].value_counts().sort_index().index)
print(data_2004['FAMI_POSICION_HERMANOS'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_POSICION_HERMANOS']))

Index(['+', '1', '2', '3', '4', '5', '6', '7', '8', '9'], dtype='object')
+      377
1    19959
2    16357
3     9175
4     4184
5     2206
6     1282
7      727
8      513
9      299
Name: FAMI_POSICION_HERMANOS, dtype: int64
Elementos null/NaN 5644
__________________
Elementos diferentes de null/NaN: 55079
__________________
(55079,)
None

In [69]:
data_2004['FAMI_POSICION_HERMANOS'] = data_2004['FAMI_POSICION_HERMANOS'].replace('+', '+9')

In [70]:
Do_resamples(data_2004, 'FAMI_POSICION_HERMANOS', str)

cant null antes: 5644
cant null despues: 0

In [71]:
print(data_2004['FAMI_SOST_PERSONAL'].value_counts().sort_index().index)
print(data_2004['FAMI_SOST_PERSONAL'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_SOST_PERSONAL']))

Index(['N', 'P', 'T'], dtype='object')
N     4661
P     3511
T    49116
Name: FAMI_SOST_PERSONAL, dtype: int64
Elementos null/NaN 3435
__________________
Elementos diferentes de null/NaN: 57288
__________________
(57288,)
None

In [72]:
Do_resamples(data_2004, 'FAMI_SOST_PERSONAL', str)

cant null antes: 3435
cant null despues: 0

In [73]:
print(data_2004['ESTU_TRABAJA'].value_counts().sort_index().index)
print(data_2004['ESTU_TRABAJA'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_TRABAJA']))

Index(['N', 'S'], dtype='object')
N    49654
S     7485
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 3584
__________________
Elementos diferentes de null/NaN: 57139
__________________
(57139,)
None

In [74]:
Do_resamples(data_2004, 'ESTU_TRABAJA', str)

cant null antes: 3584
cant null despues: 0

In [75]:
print(data_2004['ESTU_ACT_PROX_ANNO'].value_counts().sort_index().index)
print(data_2004['ESTU_ACT_PROX_ANNO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_ACT_PROX_ANNO']))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1.0    33476
2.0     1919
3.0    22215
Name: ESTU_ACT_PROX_ANNO, dtype: int64
Elementos null/NaN 3113
__________________
Elementos diferentes de null/NaN: 57610
__________________
(57610,)
None

In [76]:
Do_resamples(data_2004, 'ESTU_ACT_PROX_ANNO', float)

cant null antes: 3113
cant null despues: 0

In [77]:
print(data_2004['FAMI_ESTRATO_VIVIENDA'].value_counts().sort_index().index)
print(data_2004['FAMI_ESTRATO_VIVIENDA'].value_counts().sort_index())
print(missing_data(data_2004['FAMI_ESTRATO_VIVIENDA']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    13419
2.0    22293
3.0    14864
4.0     3271
5.0     2418
6.0     1804
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 2654
__________________
Elementos diferentes de null/NaN: 58069
__________________
(58069,)
None

In [78]:
Do_resamples(data_2004, 'FAMI_ESTRATO_VIVIENDA', float)

cant null antes: 2654
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [79]:
print(data_2004['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2004['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2004['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A      429
B    45161
F    15133
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [80]:
print(data_2004['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2004['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2004['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2037
2.0     213
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 58473
__________________
Elementos diferentes de null/NaN: 2250
__________________
(2250,)
None

In [81]:
Do_resamples(data_2004, 'COLE_BILINGUE', float)

cant null antes: 58473
cant null despues: 0

In [82]:
print(data_2004['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2004['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2004['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              31523
ACADEMICO Y TECNICO    12358
NORMALISTA               906
TECNICO                15936
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [83]:
print(data_2004['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2004['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2004['COLE_DEPTO_UBICACION']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CORDOBA',
       'CUNDINAMARCA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2636
ARAUCA                14
ATLANTICO            462
BOGOTA              6143
BOLIVAR              290
BOYACA               433
CALDAS               346
CAQUETA               75
CASANARE             127
CAUCA               1094
CESAR                 68
CORDOBA              123
CUNDINAMARCA        1544
HUILA                340
LA GUAJIRA           215
MAGDALENA             39
META                 282
NARIÑO             11407
NORTE SANTANDER      516
PUTUMAYO              29
QUINDIO              423
RISARALDA            218
SANTANDER            596
SUCRE                  9
TOLIMA               606
VALLE              32688
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [84]:
print(data_2004['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2004['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2004['COLE_MCPIO_UBICACION']))

Index(['AGUACHICA', 'AGUAZUL', 'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA',
       'ALDANA', 'ANCUYA', 'ANDALUCIA', 'ANSERMANUEVO', 'ANTIOQUIA',
       ...
       'VERSALLES', 'VILLAVICENCIO', 'VILLETA', 'YACUANQUER', 'YAGUARA',
       'YOPAL', 'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=236)
AGUACHICA                  2
AGUAZUL                   12
ALBAN (SAN JOSE)          94
ALBANIA                   41
ALCALA                    79
ALDANA                    84
ANCUYA                    86
ANDALUCIA                180
ANSERMANUEVO              69
ANTIOQUIA                 17
APARTADO                  94
APIA                      53
ARAUCA                    14
ARBOLEDA (BERRUECOS)      45
ARGELIA                   35
ARMENIA                  252
AYAPEL                     5
BARBACOAS                 63
BARBOSA                   23
BARRANCABERMEJA           22
BARRANQUILLA             413
BELEN                     76
BELLO                    160
BOGOTÁ D.C.             6143
BOLIVAR                   56
BUCARAMANGA              360
BUENAVENTURA            2056
BUESACO                  113
BUGA                    1052
BUGALAGRANDE             199
                        ...
TANGUA                    83
TARQUI                    24
TAURAMENA                 24
TENA                       7
TENJO                      5
TIBU                      11
TOCAIMA                    3
TORO                     118
TRUJILLO                 135
TULUA                   1810
TUMACO                   799
TUNJA                    196
TUQUERRES                404
TURBACO                   17
TUTA                      19
UBATE                     33
ULLOA                     32
VALENCIA                  42
VALLEDUPAR                46
VELEZ                     13
VERSALLES                 60
VILLAVICENCIO            208
VILLETA                   86
YACUANQUER               117
YAGUARA                   13
YOPAL                     91
YOTOCO                    96
YUMBO                    923
ZARZAL                   327
ZIPAQUIRA                 49
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [85]:
print(data_2004['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2004['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_RESIDE_DEPTO']))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR', 'BOYACA',
       'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO', 'CORDOBA',
       'CUNDINAMARCA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2633
ARAUCA                15
ATLANTICO            464
BOGOTA              6560
BOLIVAR              267
BOYACA               421
CALDAS               367
CAQUETA               75
CASANARE             132
CAUCA               1105
CESAR                 89
CHOCO                  1
CORDOBA              127
CUNDINAMARCA        1276
HUILA                339
LA GUAJIRA           200
MAGDALENA             39
META                 271
NARIÑO             11405
NORTE SANTANDER      516
PUTUMAYO              30
QUINDIO              423
RISARALDA            224
SANTANDER            603
SUCRE                  9
TOLIMA               493
VALLE              32639
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [86]:
print(data_2004['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2004['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2004['ESTU_RESIDE_MCPIO']))

Index(['ACACIAS', 'ACEVEDO', 'AGUA DE DIOS', 'AGUACHICA', 'AGUAZUL', 'ALBAN',
       'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ALDANA',
       ...
       'YACOPI', 'YACUANQUER', 'YAGUARA', 'YARUMAL', 'YOLOMBO', 'YOPAL',
       'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=377)
ACACIAS                        4
ACEVEDO                        1
AGUA DE DIOS                   5
AGUACHICA                      2
AGUAZUL                        7
ALBAN                          1
ALBAN (SAN JOSE)              93
ALBANIA                       41
ALCALA                        81
ALDANA                        68
ANAPOIMA                       1
ANCUYA                        78
ANDALUCIA                    172
ANDES                         15
ANGOSTURA                      2
ANSERMANUEVO                  70
ANTIOQUIA                     32
APARTADO                      66
ARAUCA                        15
ARBOLEDA (BERRUECOS)          44
ARGELIA                       39
ARMENIA                      247
AYAPEL                         5
BALBOA                         1
BARANOA                        1
BARBACOAS                     58
BARBOSA                       28
BARRANCABERMEJA               21
BARRANQUILLA                 436
BELEN                         74
                            ...
ULLOA                         34
URRAO                          1
VALDIVIA                       2
VALENCIA                      42
VALLEDUPAR                    45
VELEZ                          6
VENADILLO                      3
VENECIA                       15
VENTAQUEMADA                   2
VERSALLES                     61
VILLA DE LEYVA                 2
VILLA DEL ROSARIO              1
VILLA GUAMEZ (LA HORMIGA)      1
VILLA RICA                     1
VILLAMARIA                     5
VILLANUEVA                    16
VILLAPINZON                    1
VILLAVICENCIO                154
VILLETA                       86
VIRACACHA                      1
YACOPI                         2
YACUANQUER                   108
YAGUARA                        8
YARUMAL                       10
YOLOMBO                        7
YOPAL                         94
YOTOCO                       103
YUMBO                        806
ZARZAL                       344
ZIPAQUIRA                     74
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [87]:
data_2004 = data_2004.drop(data_2004[data_2004['ESTU_RESIDE_MCPIO'].isnull()].index)

### TARGETS

In [88]:
print(data_2004['PUNT_BIOLOGIA'].value_counts().index)
print(data_2004['PUNT_BIOLOGIA'].value_counts())
print(missing_data(data_2004['PUNT_BIOLOGIA']))

Index([  43.5,   42.1,   44.9,   40.6,   46.2,   39.0,   47.5,   48.7,   37.2,
         49.9, '42.1', '43.5',   51.2, '40.6', '44.9',   35.2,   '39',   52.4,
       '46.2',   53.6, '47.5', '37.2',   54.7, '48.7',   33.0,   56.0,   57.3,
       '35.2', '49.9',   58.6, '51.2',   60.0,   '33', '52.4',   61.3,   30.4,
         62.8, '53.6', '54.7',   64.4, '30.4',   '56',   66.2, '57.3',   27.2,
       '58.6',   68.1,   '60', '61.3',   70.3, '62.8', '27.2', '64.4',   72.9,
         22.7, '66.2', '68.1',   76.1, '22.7', '70.3',   80.4,   15.6,   87.6,
       '76.1', '15.6',    '0', '72.9', '87.6',  '---', '80.4',   99.7,    0.0],
      dtype='object')
43.5    4662
42.1    4542
44.9    4355
40.6    4083
46.2    3750
39.0    3418
47.5    3162
48.7    2642
37.2    2347
49.9    2051
42.1    1808
43.5    1657
51.2    1582
40.6    1570
44.9    1512
35.2    1340
39      1338
52.4    1256
46.2    1233
53.6    1056
47.5     988
37.2     972
54.7     896
48.7     801
33.0     726
56.0     682
57.3     608
35.2     602
49.9     539
58.6     463
        ...
66.2     129
57.3     115
27.2      91
58.6      90
68.1      86
60        82
61.3      68
70.3      47
62.8      47
27.2      47
64.4      40
72.9      36
22.7      33
66.2      31
68.1      24
76.1      16
22.7      16
70.3      11
80.4      10
15.6       7
87.6       5
76.1       5
15.6       5
0          5
72.9       3
87.6       2
---        1
80.4       1
99.7       1
0.0        1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [89]:
data_2004['PUNT_BIOLOGIA'] = data_2004['PUNT_BIOLOGIA'].replace('---', np.nan)
for i in data_2004['PUNT_BIOLOGIA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_BIOLOGIA'] = data_2004['PUNT_BIOLOGIA'].replace(i, float(i))

In [90]:
data_2004['PUNT_BIOLOGIA'].fillna(int(np.mean(data_2004['PUNT_BIOLOGIA'])), inplace=True)

In [91]:
print(data_2004['PUNT_MATEMATICAS'].value_counts().sort_index().index)
print(data_2004['PUNT_MATEMATICAS'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_MATEMATICAS']))

Index(['---', '0', '1', '13.4', '20', '24.8', '28.9', '32.3', '35.2', '38',
       '40.5', '42.8', '45', '47.1', '49.1', '51.2', '53.1', '55.1', '57.1',
       '59', '60.9', '62.9', '65', '67', '69.2', '71.4', '73.8', '76.2',
       '78.9', '81.8', '85', '98.2'],
      dtype='object')
---       13
0          7
1         29
13.4      88
20       278
24.8     827
28.9    1779
32.3    3427
35.2    5492
38      7318
40.5    8341
42.8    8508
45      7317
47.1    5942
49.1    4259
51.2    2679
53.1    1723
55.1     997
57.1     608
59       387
60.9     241
62.9     156
65       107
67        70
69.2      40
71.4      33
73.8      33
76.2      10
78.9       7
81.8       3
85         3
98.2       1
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [92]:
data_2004['PUNT_MATEMATICAS'] = data_2004['PUNT_MATEMATICAS'].replace('---', np.nan)
for i in data_2004['PUNT_MATEMATICAS'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_MATEMATICAS'] = data_2004['PUNT_MATEMATICAS'].replace(i, float(i))

In [93]:
data_2004['PUNT_MATEMATICAS'].fillna(int(np.mean(data_2004['PUNT_MATEMATICAS'])), inplace=True)

In [94]:
print(data_2004['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2004['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_FILOSOFIA']))

Index(['---', '0', '102.3', '11.7', '20.5', '26', '29.9', '33.2', '35.9',
       '38.4', '40.7', '42.7', '44.6', '46.4', '48.2', '49.9', '51.5', '53.1',
       '54.6', '56.2', '57.7', '59.4', '60.9', '62.5', '64.1', '65.8', '67.6',
       '69.3', '71.3', '73.4', '75.5', '78', '80.8', '84.1', '88', '93.5'],
      dtype='object')
---        50
0          16
102.3       1
11.7       25
20.5       50
26        125
29.9      336
33.2      665
35.9     1388
38.4     2250
40.7     3281
42.7     4252
44.6     4705
46.4     5185
48.2     4901
49.9     4819
51.5     4375
53.1     3836
54.6     3278
56.2     2907
57.7     2439
59.4     2239
60.9     1806
62.5     1654
64.1     1303
65.8     1135
67.6      982
69.3      803
71.3      688
73.4      482
75.5      335
78        234
80.8      103
84.1       58
88         12
93.5        5
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [95]:
data_2004['PUNT_FILOSOFIA'] = data_2004['PUNT_FILOSOFIA'].replace('---', np.nan)
for i in data_2004['PUNT_FILOSOFIA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_FILOSOFIA'] = data_2004['PUNT_FILOSOFIA'].replace(i, float(i))
for i in data_2004['PUNT_FILOSOFIA'].value_counts().index:
    if i > 100:
        data_2004['PUNT_FILOSOFIA'] = data_2004['PUNT_FILOSOFIA'].replace(i, 100)

In [96]:
data_2004['PUNT_FILOSOFIA'].fillna(int(np.mean(data_2004['PUNT_FILOSOFIA'])), inplace=True)

In [97]:
print(data_2004['PUNT_FISICA'].value_counts().index)
print(data_2004['PUNT_FISICA'].value_counts())
print(missing_data(data_2004['PUNT_FISICA']))

Index([   '44',    '46',  '41.9',  '47.8',  '39.5',  '49.5',  '37.1',  '51.3',
          44.0,    46.0,    41.9,  '34.2',  '52.9',    47.8,    39.5,    49.5,
        '54.5',    37.1,  '30.8',    51.3,  '56.1',    52.9,    34.2,    54.5,
        '26.7',  '57.7',    30.8,    56.1,  '59.3',    57.7,  '60.9',    59.3,
          '21',    60.9,    26.7,  '62.4',    '64',    62.4,  '65.7',    64.0,
          21.0,  '67.5',    65.7,    67.5,  '69.2',    '71',    69.2,  '11.9',
          77.3,    75.0,    71.0,    '75',    72.9,  '72.9',    82.6,   '---',
          11.9,  '77.3',    90.1,    95.6,    86.0,    79.8,    '86',  '82.6',
       '104.8',  '79.8',     '0',     0.0],
      dtype='object')
44       6431
46       6069
41.9     6025
47.8     5077
39.5     4850
49.5     3796
37.1     3440
51.3     2671
44.0     1949
46.0     1902
41.9     1885
34.2     1878
52.9     1707
47.8     1635
39.5     1498
49.5     1225
54.5     1061
37.1     1007
30.8      927
51.3      915
56.1      624
52.9      571
34.2      567
54.5      386
26.7      361
57.7      355
30.8      269
56.1      240
59.3      191
57.7      188
         ...
65.7       43
64.0       38
21.0       36
67.5       34
65.7       27
67.5       18
69.2       18
71         17
69.2       17
11.9       16
77.3        9
75.0        7
71.0        7
75          6
72.9        5
72.9        4
82.6        4
---         4
11.9        3
77.3        2
90.1        2
95.6        2
86.0        1
79.8        1
86          1
82.6        1
104.8       1
79.8        1
0           1
0.0         1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [98]:
data_2004['PUNT_FISICA'] = data_2004['PUNT_FISICA'].replace('---', np.nan)
for i in data_2004['PUNT_FISICA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_FISICA'] = data_2004['PUNT_FISICA'].replace(i, float(i))
for i in data_2004['PUNT_FISICA'].value_counts().index:
    if i > 100:
        data_2004['PUNT_FISICA'] = data_2004['PUNT_FISICA'].replace(i, 100)

In [99]:
data_2004['PUNT_FISICA'].fillna(int(np.mean(data_2004['PUNT_FISICA'])), inplace=True)

In [100]:
print(data_2004['PUNT_HISTORIA'].value_counts().index)
print(data_2004['PUNT_HISTORIA'].value_counts())
print(missing_data(data_2004['PUNT_HISTORIA']))

Index([  40.8,   42.2, '40.8', '42.2',   39.5,   43.5, '39.5',   '38', '43.5',
         38.0,   44.7, '44.7', '36.5',   45.9,   36.5, '45.9',   47.1, '34.8',
         34.8, '47.1',   48.4, '48.4', '33.1',   33.1,   49.6, '49.6', '31.1',
         31.1,   50.8, '50.8',   52.1, '28.9', '52.1',   28.9,   53.3, '53.3',
       '26.3',   26.3, '54.6',   54.6,   '23', '56.1',   23.0,   56.1,   57.4,
       '57.4', '18.6',   '59',   18.6,   59.0,    '0',   60.6,  '---',   11.6,
         62.4, '11.6', '62.4', '60.6'],
      dtype='object')
40.8    3307
42.2    3235
40.8    3224
42.2    3131
39.5    3131
43.5    2966
39.5    2945
38      2859
43.5    2810
38.0    2673
44.7    2605
44.7    2485
36.5    2218
45.9    2150
36.5    2072
45.9    2012
47.1    1728
34.8    1613
34.8    1557
47.1    1530
48.4    1196
48.4    1150
33.1    1059
33.1     990
49.6     840
49.6     823
31.1     584
31.1     574
50.8     530
50.8     503
52.1     331
28.9     322
52.1     300
28.9     289
53.3     198
53.3     170
26.3     115
26.3     110
54.6      89
54.6      82
23        41
56.1      39
23.0      35
56.1      32
57.4      20
57.4      11
18.6       8
59         8
18.6       5
59.0       5
0          3
60.6       2
---        2
11.6       2
62.4       1
11.6       1
62.4       1
60.6       1
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [101]:
data_2004['PUNT_HISTORIA'] = data_2004['PUNT_HISTORIA'].replace('---', np.nan)
for i in data_2004['PUNT_HISTORIA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_HISTORIA'] = data_2004['PUNT_HISTORIA'].replace(i, float(i))

In [102]:
data_2004['PUNT_HISTORIA'].fillna(int(np.mean(data_2004['PUNT_HISTORIA'])), inplace=True)

In [103]:
print(data_2004['PUNT_QUIMICA'].value_counts().sort_index().index)
print(data_2004['PUNT_QUIMICA'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_QUIMICA']))

Float64Index([ 0.0, 17.4, 24.4, 28.7, 31.8, 34.3, 36.5, 38.4, 40.1, 41.6, 43.2,
              44.5, 45.8, 47.2, 48.4, 49.7, 50.9, 52.0, 53.3, 54.5, 55.8, 57.0,
              58.3, 59.7, 61.1, 62.5, 64.2, 65.9, 67.8, 70.0, 72.6, 75.7, 80.0,
              87.1, 98.8],
             dtype='float64')
0.0        1
17.4      16
24.4      60
28.7     212
31.8     640
34.3    1642
36.5    2868
38.4    4472
40.1    5879
41.6    7097
43.2    7035
44.5    6461
45.8    5428
47.2    4442
48.4    3280
49.7    2450
50.9    1862
52.0    1340
53.3    1099
54.5     808
55.8     721
57.0     572
58.3     501
59.7     374
61.1     343
62.5     260
64.2     230
65.9     153
67.8     135
70.0     150
72.6      76
75.7      52
80.0      34
87.1      23
98.8       7
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [104]:
print(data_2004['PUNT_LENGUAJE'].value_counts().index)
print(data_2004['PUNT_LENGUAJE'].value_counts())
print(missing_data(data_2004['PUNT_LENGUAJE']))

Index([   47.1,    48.7,    45.7,    50.1,    44.1,    51.5,    53.0,    42.6,
          54.4,    56.0,    40.9,    57.5,    59.1,    39.3,    60.7,  '47.1',
          62.5,  '45.7',  '44.1',  '48.7',    64.4,  '50.1',    37.4,  '42.6',
        '51.5',    66.4,  '40.9',    68.6,    '53',  '39.3',  '54.4',    71.1,
          '56',    35.4,    74.1,  '57.5',  '37.4',    77.6,  '59.1',  '60.7',
          33.3,  '62.5',    82.4,  '35.4',  '64.4',  '66.4',  '68.6',  '33.3',
          30.9,    90.2,  '71.1',  '74.1',  '77.6',  '30.9',  '82.4',    28.0,
         103.1,  '90.2',    '28',   104.6, '103.1',  '24.5',    24.5,  '19.8',
          12.2,  '12.2',    19.8, '104.6',     '0',   '---'],
      dtype='object')
47.1     3360
48.7     3348
45.7     3232
50.1     3148
44.1     2921
51.5     2789
53.0     2726
42.6     2563
54.4     2376
56.0     2136
40.9     2061
57.5     1784
59.1     1598
39.3     1459
60.7     1400
47.1     1327
62.5     1288
45.7     1275
44.1     1160
48.7     1138
64.4     1118
50.1     1055
37.4     1050
42.6     1040
51.5      967
66.4      937
40.9      866
68.6      838
53        764
39.3      710
         ...
33.3      309
62.5      302
82.4      294
35.4      275
64.4      246
66.4      223
68.6      183
33.3      159
30.9      144
90.2      129
71.1      129
74.1      126
77.6       98
30.9       73
82.4       64
28.0       56
103.1      47
90.2       33
28         16
104.6      16
103.1      15
24.5       14
24.5       11
19.8        4
12.2        4
12.2        3
19.8        3
104.6       2
0           1
---         1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [105]:
data_2004['PUNT_LENGUAJE'] = data_2004['PUNT_LENGUAJE'].replace('---', np.nan)
for i in data_2004['PUNT_LENGUAJE'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_LENGUAJE'] = data_2004['PUNT_LENGUAJE'].replace(i, float(i))
for i in data_2004['PUNT_LENGUAJE'].value_counts().index:
    if i > 100:
        data_2004['PUNT_LENGUAJE'] = data_2004['PUNT_LENGUAJE'].replace(i, 100)

In [106]:
data_2004['PUNT_LENGUAJE'].fillna(int(np.mean(data_2004['PUNT_LENGUAJE'])), inplace=True)

In [107]:
print(data_2004['PUNT_GEOGRAFIA'].value_counts().index)
print(data_2004['PUNT_GEOGRAFIA'].value_counts())
print(missing_data(data_2004['PUNT_GEOGRAFIA']))

Index(['42.3', '43.8', '40.9', '45.1', '39.3', '46.5', '37.7', '47.7', '48.9',
       '35.8', '50.2', '51.4',   42.3,   43.8,   40.9, '52.7',   45.1, '33.9',
         46.5,   39.3, '53.9',   47.7,   37.7,   48.9, '55.2',   50.2,   35.8,
       '56.5', '31.6',   51.4, '57.8',   52.7,   33.9, '59.3',   53.9, '60.7',
         55.2, '28.8',   56.5,   31.6,   57.8, '62.3',   59.3, '63.9', '25.5',
         28.8,   60.7, '65.8',   62.3, '67.7',   25.5, '20.9',   63.9,   65.8,
         20.9,   '70', '13.4',   67.7, '72.7',   70.0,    '0',  '---',   76.1,
          0.0],
      dtype='object')
42.3    4396
43.8    4192
40.9    4069
45.1    3827
39.3    3600
46.5    3474
37.7    2861
47.7    2842
48.9    2386
35.8    2065
50.2    2027
51.4    1663
42.3    1489
43.8    1447
40.9    1437
52.7    1414
45.1    1366
33.9    1254
46.5    1228
39.3    1212
53.9    1071
47.7    1030
37.7     989
48.9     897
55.2     867
50.2     738
35.8     679
56.5     658
31.6     619
51.4     566
        ...
53.9     332
60.7     288
55.2     282
28.8     250
56.5     227
31.6     189
57.8     152
62.3     133
59.3     100
63.9      96
25.5      91
28.8      85
60.7      79
65.8      60
62.3      45
67.7      34
25.5      25
20.9      23
63.9      19
65.8      16
20.9      13
70        13
13.4      10
67.7       6
72.7       5
70.0       5
0          4
---        4
76.1       1
0.0        1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [108]:
data_2004['PUNT_GEOGRAFIA'] = data_2004['PUNT_GEOGRAFIA'].replace('---', np.nan)
for i in data_2004['PUNT_GEOGRAFIA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_GEOGRAFIA'] = data_2004['PUNT_GEOGRAFIA'].replace(i, float(i))

In [109]:
data_2004['PUNT_GEOGRAFIA'].fillna(int(np.mean(data_2004['PUNT_GEOGRAFIA'])), inplace=True)

In [110]:
print(data_2004['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2004['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2004['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    31090
44    21927
45     7706
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [111]:
print(data_2004['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2004['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_INTERDISCIPLINAR']))

Index(['---', '0', '103', '109.4', '18.2', '25.3', '25.7', '31.7', '33.3',
       '36.9', '38.4', '38.5', '40.6', '41.6', '42.4', '45.8', '46.2', '48.9',
       '50', '50.8', '51.8', '53.6', '54.6', '55.3', '56.9', '57.5', '6.8',
       '60', '60.3', '60.5', '63', '63.9', '65.5', '66.1', '67.8', '69.3',
       '71.7', '72.8', '72.9', '77', '79.4', '80.6', '82.2', '90.2', '91'],
      dtype='object')
---       123
0         233
103         2
109.4       8
18.2      495
25.3      531
25.7      816
31.7     1010
33.3     1513
36.9     1086
38.4     2777
38.5      476
40.6     1434
41.6      952
42.4     3725
45.8     6719
46.2      779
48.9     3271
50       4181
50.8      668
51.8     2522
53.6     5177
54.6     1563
55.3      569
56.9     5239
57.5      958
6.8       187
60       4472
60.3      412
60.5      565
63       3292
63.9      263
65.5      270
66.1     2045
67.8       96
69.3     1074
71.7      217
72.8       48
72.9      492
77        194
79.4      135
80.6       11
82.2       57
90.2       10
91         56
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [112]:
data_2004['PUNT_INTERDISCIPLINAR'] = data_2004['PUNT_INTERDISCIPLINAR'].replace('---', np.nan)
for i in data_2004['PUNT_INTERDISCIPLINAR'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_INTERDISCIPLINAR'] = data_2004['PUNT_INTERDISCIPLINAR'].replace(i, float(i))
for i in data_2004['PUNT_INTERDISCIPLINAR'].value_counts().index:
    if i > 100:
        data_2004['PUNT_INTERDISCIPLINAR'] = data_2004['PUNT_INTERDISCIPLINAR'].replace(i, 100)

In [113]:
data_2004['PUNT_INTERDISCIPLINAR'].fillna(int(np.mean(data_2004['PUNT_INTERDISCIPLINAR'])), inplace=True)

In [114]:
print(data_2004['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2004['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2004['COD_IDIOMA']))

Int64Index([51, 52, 53, 99], dtype='int64')
51    60220
52      415
53       77
99       11
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [115]:
print(data_2004['PUNT_IDIOMA'].value_counts().sort_index().index)
print(data_2004['PUNT_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2004['PUNT_IDIOMA']))

Index(['*', '---', '0', '13.9', '21.2', '22.1', '25.6', '26.7', '28.9', '29.9',
       '30.2', '31.5', '32.7', '32.9', '33.7', '35', '35.3', '35.7', '37.1',
       '37.3', '37.5', '38.9', '39.1', '39.2', '40.6', '40.7', '40.9', '42',
       '42.2', '42.4', '43.4', '43.7', '43.9', '44.7', '45.1', '45.3', '45.9',
       '46.5', '46.7', '47.2', '48', '48.4', '49.3', '49.6', '50.5', '50.8',
       '51.6', '51.8', '52', '53', '53.2', '54.1', '54.3', '54.5', '55.5',
       '55.7', '56.8', '57', '58', '58.1', '58.4', '59.3', '59.4', '59.8',
       '60.7', '60.8', '61.3', '62.2', '62.9', '63.7', '64.7', '65.3', '65.4',
       '66.7', '67.1', '68.9', '69.1', '71.3', '71.5', '73.9', '74.1', '74.8',
       '77.2', '79.2', '81.6', '81.8', '86.5', '88.9', '98.8'],
      dtype='object')
*         11
---       13
0          7
13.9      24
21.2     101
22.1       1
25.6     342
26.7       2
28.9    1108
29.9       4
30.2       8
31.5    2270
32.7       8
32.9       9
33.7    4021
35         3
35.3      18
35.7    5939
37.1       9
37.3      30
37.5    7259
38.9       9
39.1    7753
39.2      25
40.6    7560
40.7       8
40.9      27
42      6268
42.2       5
42.4      30
        ...
58.1       7
58.4     309
59.3       1
59.4       7
59.8     302
60.7       3
60.8      11
61.3     322
62.2      16
62.9     305
63.7      23
64.7     338
65.3      21
65.4       1
66.7     345
67.1      14
68.9     339
69.1      22
71.3      20
71.5     315
73.9      27
74.1       3
74.8     276
77.2      14
79.2     207
81.6       8
81.8       1
86.5     120
88.9       1
98.8      32
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 60723
__________________
(60723,)
None

In [116]:
data_2004['PUNT_IDIOMA'] = data_2004['PUNT_IDIOMA'].replace('---', np.nan)
data_2004['PUNT_IDIOMA'] = data_2004['PUNT_IDIOMA'].replace('*', np.nan)
for i in data_2004['PUNT_IDIOMA'].value_counts().index:
    if type(i) == str:
        data_2004['PUNT_IDIOMA'] = data_2004['PUNT_IDIOMA'].replace(i, float(i))

In [117]:
data_2004['PUNT_IDIOMA'].fillna(int(np.mean(data_2004['PUNT_IDIOMA'])), inplace=True)

# FILE 2 -> 2004_2

In [118]:
data_2004_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20042-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|',
                         encoding = "iso-8859-1")

/usr/local/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (12,13,14,15,16,17,19,20,21,22,23,27,28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [119]:
data_2004_2.shape

(366549, 40)

In [120]:
data_2004_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200420000001,SB11200420000002,SB11200420000003
COLE_COD_ICFES,68601,68601,68601
COLE_NOMBRE_SEDE,CENTRO DE EDUCACION DE JOVENES Y ADULTOS EDUCA...,CENTRO DE EDUCACION DE JOVENES Y ADULTOS EDUCA...,CENTRO DE EDUCACION DE JOVENES Y ADULTOS EDUCA...
IND_ANNO_TERMINO_BACHILLERATO,2004,2004,2004
COLE_JORNADA,N,N,N
COLE_VALOR_PENSION,0,0,0
ESTU_GENERO,F,M,M
ESTU_NACIMIENTO_DIA,10,6,17
ESTU_NACIMIENTO_MES,2,6,4
ESTU_NACIMIENTO_ANNO,1988,1988,1988
ESTU_DEPTO_PRESENTACION,RISARALDA,RISARALDA,RISARALDA
ESTU_MCPIO_PRESENTACION,PEREIRA,PEREIRA,PEREIRA
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
PUNT_BIOLOGIA,45.79,42.86,52.54
PUNT_MATEMATICAS,48.19,49.87,44.85
PUNT_FILOSOFIA,46.6,37.25,44.94
PUNT_FISICA,37.52,34.59,46.63
PUNT_HISTORIA,45.16,36.42,41.17
PUNT_QUIMICA,42.23,45.98,48.33
PUNT_LENGUAJE,50.08,50.08,48.55
PUNT_GEOGRAFIA,46.81,45.35,49.61
COD_INTERDISCIPLINAR,43,43,43
PUNT_INTERDISCIPLINAR,56.61,56.61,59.77
COD_IDIOMA,51,51,51
PUNT_IDIOMA,47.70,36.79,30.84
ESTU_IES_COD_DESEADA,2711,1111,1111
ESTU_RAZONINSTITUTO,NaN,6,NaN
ESTU_CARRDESEADA_COD,4158,267,269
ESTU_CARRDESEADA_RAZON,2,1,2
COLE_CALENDARIO,A,A,A
COLE_BILINGUE,NaN,NaN,NaN
COLE_CARACTER,ACADEMICO,ACADEMICO,ACADEMICO
COLE_DEPTO_UBICACION,RISARALDA,RISARALDA,RISARALDA
COLE_MCPIO_UBICACION,PEREIRA,PEREIRA,PEREIRA
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_RESIDE_DEPTO,RISARALDA,RISARALDA,RISARALDA
ESTU_RESIDE_MCPIO,PEREIRA,PEREIRA,PEREIRA

The first is delete the columns that won't contribute with the work

In [121]:
data_2004_2 = data_2004_2.drop(['ESTU_CONSECUTIVO', 'COLE_NOMBRE_SEDE', 'ESTU_TIPO_DOCUMENTO'], axis=1)

In [122]:
print(data_2004_2['COLE_COD_ICFES'].value_counts().sort_index().index)
print(data_2004_2['COLE_COD_ICFES'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_COD_ICFES']))

Float64Index([    18.0,     59.0,     75.0,     83.0,     91.0,    125.0,
                 141.0,    174.0,    190.0,    208.0,
              ...
              117630.0, 117648.0, 117655.0, 117705.0, 117721.0, 117739.0,
              117747.0, 117754.0, 117762.0, 117820.0],
             dtype='float64', length=7610)
18.0          11
59.0        1259
75.0          54
83.0          37
91.0         113
125.0         71
141.0        108
174.0        113
190.0         88
208.0         97
216.0         30
232.0         30
240.0        117
257.0         68
265.0        144
273.0         73
281.0         79
315.0        167
349.0         22
356.0         29
364.0         44
372.0         62
380.0        204
398.0         31
406.0         53
422.0         27
430.0         80
448.0         26
455.0         87
463.0        130
            ...
117366.0       4
117382.0      35
117390.0      17
117432.0      45
117465.0      27
117473.0      18
117481.0      49
117499.0      51
117507.0       9
117515.0      11
117523.0       9
117549.0       8
117556.0       8
117564.0      30
117572.0      18
117580.0      19
117598.0      29
117606.0       3
117614.0      17
117622.0       6
117630.0       3
117648.0      18
117655.0      11
117705.0      11
117721.0      11
117739.0      19
117747.0      32
117754.0      55
117762.0      27
117820.0      26
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 213
__________________
Elementos diferentes de null/NaN: 366336
__________________
(366336,)
None

In [123]:
Do_resamples(data_2004_2, 'COLE_COD_ICFES', float)

cant null antes: 213
cant null despues: 0

In [124]:
print(data_2004_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index().index)
print(data_2004_2['IND_ANNO_TERMINO_BACHILLERATO'].value_counts().sort_index())
print(missing_data(data_2004_2['IND_ANNO_TERMINO_BACHILLERATO']))

Float64Index([1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0,
              1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0,
              1966.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0,
              1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0,
              1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0,
              1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0,
              1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0],
             dtype='float64')
1950.0        72
1951.0         7
1952.0         2
1953.0         2
1954.0         4
1955.0         3
1956.0         2
1957.0         5
1958.0         3
1959.0         1
1960.0         6
1961.0         7
1962.0         2
1963.0         2
1964.0         7
1965.0         9
1966.0         7
1968.0         6
1969.0         3
1970.0         7
1971.0         9
1972.0        13
1973.0         5
1974.0        24
1975.0        31
1976.0        10
1977.0        18
1978.0        16
1979.0        25
1980.0        26
1981.0        23
1982.0        38
1983.0        27
1984.0        82
1985.0        55
1986.0        62
1987.0        71
1988.0        86
1989.0        84
1990.0        91
1991.0       135
1992.0       162
1993.0       188
1994.0       358
1995.0       300
1996.0       396
1997.0       529
1998.0       793
1999.0       985
2000.0      1596
2001.0      2067
2002.0      2203
2003.0      1923
2004.0    352557
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 1404
__________________
Elementos diferentes de null/NaN: 365145
__________________
(365145,)
None

In [125]:
Do_resamples(data_2004_2, 'IND_ANNO_TERMINO_BACHILLERATO', float)

cant null antes: 1404
cant null despues: 0

In [126]:
print(data_2004_2['COLE_JORNADA'].value_counts().sort_index().index)
print(data_2004_2['COLE_JORNADA'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_JORNADA']))

Index(['C', 'M', 'N', 'S', 'T'], dtype='object')
C     88005
M    164662
N     28232
S      2987
T     82444
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 219
__________________
Elementos diferentes de null/NaN: 366330
__________________
(366330,)
None

In [127]:
Do_resamples(data_2004_2, 'COLE_JORNADA', str)

cant null antes: 219
cant null despues: 0

In [128]:
print(data_2004_2['COLE_VALOR_PENSION'].value_counts().sort_index().index)
print(data_2004_2['COLE_VALOR_PENSION'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_VALOR_PENSION']))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    169810
1.0    107221
2.0     17367
3.0     14735
4.0     17576
5.0     17974
6.0     14593
7.0      5869
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 1404
__________________
Elementos diferentes de null/NaN: 365145
__________________
(365145,)
None

In [129]:
Do_resamples(data_2004_2, 'COLE_VALOR_PENSION', float)

cant null antes: 1404
cant null despues: 0

In [130]:
print(data_2004_2['ESTU_GENERO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_GENERO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_GENERO']))

Index(['F', 'M'], dtype='object')
F    198164
M    168384
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 366548
__________________
(366548,)
None

In [131]:
data_2004_2['ESTU_GENERO'].fillna(method='bfill', inplace=True)

In [132]:
print(data_2004_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index().index)
print(data_2004_2['ESTU_NACIMIENTO_DIA'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_NACIMIENTO_DIA']))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     12152
2.0     12086
3.0     12011
4.0     11913
5.0     12117
6.0     12038
7.0     12149
8.0     12057
9.0     11878
10.0    12495
11.0    11881
12.0    11948
13.0    11700
14.0    12009
15.0    12273
16.0    12075
17.0    11986
18.0    12040
19.0    11775
20.0    12391
21.0    11461
22.0    11883
23.0    11997
24.0    11874
25.0    12151
26.0    12016
27.0    12028
28.0    12127
29.0    11074
30.0    10885
31.0     6678
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 1401
__________________
Elementos diferentes de null/NaN: 365148
__________________
(365148,)
None

In [133]:
print(data_2004_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index().index)
print(data_2004_2['ESTU_NACIMIENTO_MES'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_NACIMIENTO_MES']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     29602
2.0     27372
3.0     30068
4.0     29387
5.0     30625
6.0     29493
7.0     30718
8.0     30675
9.0     32731
10.0    32356
11.0    31066
12.0    31055
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 1401
__________________
Elementos diferentes de null/NaN: 365148
__________________
(365148,)
None

In [134]:
print(data_2004_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_NACIMIENTO_ANNO']))

Float64Index([1940.0, 1941.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 2040.0, 2041.0, 2042.0, 2043.0, 2044.0,
              2045.0, 2046.0, 2047.0, 2048.0, 2049.0],
             dtype='float64')
1940.0         1
1941.0         1
1946.0         1
1947.0         1
1948.0         1
1949.0         1
1950.0        19
1951.0        23
1952.0        31
1953.0        54
1954.0        46
1955.0        73
1956.0        75
1957.0        85
1958.0       109
1959.0       108
1960.0       140
1961.0       154
1962.0       193
1963.0       246
1964.0       293
1965.0       482
1966.0       635
1967.0       850
1968.0       646
1969.0       435
1970.0       502
1971.0       472
1972.0       505
1973.0       550
           ...
1975.0       679
1976.0       772
1977.0       814
1978.0      1026
1979.0      1252
1980.0      1724
1981.0      2329
1982.0      3746
1983.0      6500
1984.0     15520
1985.0     35938
1986.0     71175
1987.0    123407
1988.0     80561
1989.0      8244
1990.0      1120
1991.0       706
1992.0       504
1993.0       359
1994.0      1266
2040.0        18
2041.0         2
2042.0         6
2043.0         1
2044.0         6
2045.0        15
2046.0        18
2047.0        13
2048.0        19
2049.0        24
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 1401
__________________
Elementos diferentes de null/NaN: 365148
__________________
(365148,)
None

In [135]:
for i in data_2004_2['ESTU_NACIMIENTO_ANNO'].value_counts().sort_index().index:
    if i > 1994:
        data_2004_2['ESTU_NACIMIENTO_ANNO'] = data_2004_2['ESTU_NACIMIENTO_ANNO'].replace(i, np.nan)

In [136]:
data_2004_2 = data_2004_2.drop(anno)

In [137]:
print(data_2004_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index().index)
print(data_2004_2['ESTU_DEPTO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_DEPTO_PRESENTACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             631
ANTIOQUIA          52684
ARAUCA              1749
ATLANTICO          24386
BOGOTA             77485
BOLIVAR            17882
BOYACA             14566
CALDAS             10263
CAQUETA             2362
CASANARE            2588
CAUCA               7181
CESAR               7649
CHOCO               3505
CORDOBA            12757
CUNDINAMARCA       23071
GUAINIA               97
GUAVIARE             468
HUILA               8514
LA GUAJIRA          4564
MAGDALENA           9947
META                6887
NARIÑO               511
NORTE SANTANDER    12169
PUTUMAYO            1716
QUINDIO             5308
RISARALDA           8254
SAN ANDRES           698
SANTANDER          21409
SUCRE               7642
TOLIMA             12664
VALLE               2483
VAUPES               110
VICHADA              299
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 362499
__________________
(362499,)
None

In [138]:
print(data_2004_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index().index)
print(data_2004_2['ESTU_MCPIO_PRESENTACION'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_MCPIO_PRESENTACION']))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=343)
ABEJORRAL                     96
ABREGO                        85
ACACIAS                      692
ACANDI                        38
ACHI                         115
AGUACHICA                    995
AGUADAS                      259
AGUAZUL                      311
AGUSTIN CODAZZI              385
AIPE                         134
ALTO BAUDO (PIE DE PATO)      28
AMAGA                        524
AMALFI                       246
ANDES                        448
ANOLAIMA                     167
ANSERMA                      484
ANTIOQUIA                    596
APARTADO                    1270
ARACATACA                    265
ARAUCA                       737
ARAUQUITA                    165
ARBELAEZ                     193
ARBOLEDAS                     33
ARBOLETES                    340
ARIGUANI (EL DIFICIL)        292
ARJONA                       581
ARMENIA                     3606
ASTREA                       118
ATRATO (YUTO)                 33
AYAPEL                       286
                            ...
TULUA                        204
TUMACO                       100
TUNJA                       3575
TURBACO                      719
TURBO                        906
TURMEQUE                     221
TUTA                         123
UBATE                        970
UNGUIA                        67
URRAO                        325
VALLEDUPAR                  4493
VELEZ                        410
VENADILLO                    196
VENTAQUEMADA                 143
VIGIA DEL FUERTE              36
VILLA DE LEYVA               262
VILLA DEL ROSARIO            574
VILLAGARZON                   91
VILLAMARIA                   238
VILLANUEVA                   630
VILLAVICENCIO               4875
VILLETA                      662
VIOTA                         60
YARUMAL                      633
YAVARATE                       1
YOLOMBO                      167
YOPAL                       1212
ZAPATOCA                     146
ZARAGOZA                     153
ZIPAQUIRA                   1886
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 362499
__________________
(362499,)
None

In [139]:
dpto = data_2004_2[data_2004_2['ESTU_DEPTO_PRESENTACION'].isnull()].index
mpio = data_2004_2[data_2004_2['ESTU_MCPIO_PRESENTACION'].isnull()].index

In [140]:
data_2004_2 = data_2004_2.drop(mpio)

In [141]:
print(data_2004_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index().index)
print(data_2004_2['ESTU_LIMITA_INVIDENTE'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_LIMITA_INVIDENTE']))

Index(['I'], dtype='object')
I    53
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 362446
__________________
Elementos diferentes de null/NaN: 53
__________________
(53,)
None

In [142]:
data_2004_2 = data_2004_2.drop(['ESTU_LIMITA_INVIDENTE'], axis=1)

In [143]:
print(data_2004_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index().index)
print(data_2004_2['ESTU_LIMITA_SORDOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_LIMITA_SORDOINTERPRETE']))

Index(['R'], dtype='object')
R    131
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 362368
__________________
Elementos diferentes de null/NaN: 131
__________________
(131,)
None

In [144]:
data_2004_2 = data_2004_2.drop(['ESTU_LIMITA_SORDOINTERPRETE'], axis=1)

In [145]:
print(data_2004_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index().index)
print(data_2004_2['ESTU_LIMITA_SORDONOINTERPRETE'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_LIMITA_SORDONOINTERPRETE']))

Index(['S'], dtype='object')
S    24
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 362475
__________________
Elementos diferentes de null/NaN: 24
__________________
(24,)
None

In [146]:
data_2004_2 = data_2004_2.drop(['ESTU_LIMITA_SORDONOINTERPRETE'], axis=1)

In [147]:
print(data_2004_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index().index)
print(data_2004_2['ESTU_LIMITA_MOTRIZ'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_LIMITA_MOTRIZ']))

Index(['M'], dtype='object')
M    102
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 362397
__________________
Elementos diferentes de null/NaN: 102
__________________
(102,)
None

In [148]:
data_2004_2 = data_2004_2.drop(['ESTU_LIMITA_MOTRIZ'], axis=1)

In [149]:
print(data_2004_2['ESTU_IES_COD_DESEADA'].value_counts().index)
print(data_2004_2['ESTU_IES_COD_DESEADA'].value_counts())
print(missing_data(data_2004_2['ESTU_IES_COD_DESEADA']))

Index([1101.0, 1201.0, 1204.0, '1201', 1205.0, 1202.0, 9110.0, '1101', 2106.0,
       1113.0,
       ...
       '2746', '1730', '2715', '4109', 'YYYY', '4106', '2730', '3715', '2744',
       '2836'],
      dtype='object', length=651)
1101.0    49174
1201.0    26892
1204.0    10708
1201       7745
1205.0     7265
1202.0     7079
9110.0     6715
1101       6529
2106.0     6160
1113.0     4813
1301.0     4774
1213.0     4729
1207.0     4379
9104.0     4052
1106.0     3964
1110.0     3902
1701.0     3861
1114.0     3836
1112.0     3668
1111.0     3542
1105.0     3336
1212.0     3299
2905.0     3162
1804.0     2939
1209.0     2847
1203.0     2653
1813.0     2404
1102.0     2358
1120.0     2296
1824.0     2242
          ...
4723          3
3724          3
4107          3
2716          3
9115          3
2732          3
4705          3
2822.0        2
3723          2
2903          2
2849          2
4726          2
3832          2
4101          2
3831          2
2822          2
4704          2
2904          2
2841          2
3706          2
2746          2
1730          1
2715          1
4109          1
YYYY          1
4106          1
2730          1
3715          1
2744          1
2836          1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 40112
__________________
Elementos diferentes de null/NaN: 322387
__________________
(322387,)
None

In [150]:
data_2004_2['ESTU_IES_COD_DESEADA'] = data_2004_2['ESTU_IES_COD_DESEADA'].replace('YYYY', np.nan)
data_2004_2['ESTU_IES_COD_DESEADA'] = data_2004_2['ESTU_IES_COD_DESEADA'].replace('ZZZZ', np.nan)
for i in data_2004_2['ESTU_IES_COD_DESEADA'].value_counts().index:
    if type(i) == str:
        data_2004_2['ESTU_IES_COD_DESEADA'] = data_2004_2['ESTU_IES_COD_DESEADA'].replace(i, float(i))

In [151]:
Do_resamples(data_2004_2, 'ESTU_IES_COD_DESEADA', float)

cant null antes: 40117
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [152]:
print(data_2004_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_RAZONINSTITUTO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_RAZONINSTITUTO']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0      6727
2.0     42432
3.0    128468
4.0     30030
5.0     26863
6.0     18090
7.0     21419
8.0     19233
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 69237
__________________
Elementos diferentes de null/NaN: 293262
__________________
(293262,)
None

In [153]:
Do_resamples(data_2004_2, 'ESTU_RAZONINSTITUTO', float)

cant null antes: 69237
cant null despues: 0

In [154]:
print(data_2004_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index().index)
print(data_2004_2['ESTU_CARRDESEADA_COD'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_CARRDESEADA_COD']))

Float64Index([    1.0,     2.0,     3.0,     4.0,     5.0,     6.0,     7.0,
                  8.0,     9.0,    10.0,
              ...
              19599.0, 19600.0, 19607.0, 19609.0, 19612.0, 19629.0, 19634.0,
              19642.0, 19647.0, 19653.0],
             dtype='float64', length=3764)
1.0          525
2.0         1743
3.0          525
4.0         2031
5.0          765
6.0          917
7.0         1833
8.0          234
9.0        10839
10.0         209
11.0        1474
12.0         127
13.0         302
14.0        3184
15.0         522
16.0         326
17.0        2326
18.0         818
19.0        2512
20.0         409
21.0         112
22.0         182
23.0         740
24.0         242
25.0        1263
26.0        4717
27.0         258
28.0        1932
29.0        1178
30.0        1672
           ...
19534.0        7
19535.0       11
19537.0       23
19548.0        6
19556.0        4
19562.0       11
19567.0        2
19568.0        1
19571.0        1
19572.0        5
19573.0        4
19575.0        3
19576.0        1
19577.0        2
19580.0       12
19585.0        1
19589.0        2
19592.0        2
19596.0        2
19598.0       59
19599.0       12
19600.0        4
19607.0        1
19609.0       23
19612.0      334
19629.0      847
19634.0       51
19642.0       48
19647.0      126
19653.0        5
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 47242
__________________
Elementos diferentes de null/NaN: 315257
__________________
(315257,)
None

In [155]:
data_2004_2['ESTU_CARRDESEADA_COD'].fillna(method='bfill', inplace=True)

In [156]:
print(data_2004_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index().index)
print(data_2004_2['ESTU_CARRDESEADA_RAZON'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_CARRDESEADA_RAZON']))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    100418
2.0    103348
3.0     41982
4.0     26847
5.0     23899
6.0      7145
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 58860
__________________
Elementos diferentes de null/NaN: 303639
__________________
(303639,)
None

In [157]:
Do_resamples(data_2004_2, 'ESTU_CARRDESEADA_RAZON', float)

cant null antes: 58860
cant null despues: 0

In [158]:
print(data_2004_2['COLE_CALENDARIO'].value_counts().sort_index().index)
print(data_2004_2['COLE_CALENDARIO'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_CALENDARIO']))

Index(['A', 'B', 'F'], dtype='object')
A    335165
B       521
F     26593
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 220
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [159]:
Do_resamples(data_2004_2, 'COLE_CALENDARIO', str)

cant null antes: 220
cant null despues: 0

In [160]:
print(data_2004_2['COLE_BILINGUE'].value_counts().sort_index().index)
print(data_2004_2['COLE_BILINGUE'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_BILINGUE']))

Float64Index([1.0, 2.0], dtype='float64')
1.0    1639
2.0     145
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 360715
__________________
Elementos diferentes de null/NaN: 1784
__________________
(1784,)
None

In [161]:
Do_resamples(data_2004_2, 'COLE_BILINGUE', float)

cant null antes: 360715
cant null despues: 0

In [162]:
print(data_2004_2['COLE_CARACTER'].value_counts().sort_index().index)
print(data_2004_2['COLE_CARACTER'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_CARACTER']))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              201715
ACADEMICO Y TECNICO     95734
NORMALISTA               7094
TECNICO                 57736
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 220
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [163]:
Do_resamples(data_2004_2, 'COLE_CARACTER', str)

cant null antes: 220
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [164]:
print(data_2004_2['COLE_DEPTO_UBICACION'].value_counts().sort_index().index)
print(data_2004_2['COLE_DEPTO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_DEPTO_UBICACION']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             631
ANTIOQUIA          52802
ARAUCA              1704
ATLANTICO          23659
BOGOTA             76916
BOLIVAR            18427
BOYACA             14165
CALDAS              9911
CAQUETA             2371
CASANARE            2600
CAUCA               7232
CESAR               7583
CHOCO               3442
CORDOBA            12713
CUNDINAMARCA       23971
GUAINIA               95
GUAVIARE             445
HUILA               8461
LA GUAJIRA          4591
MAGDALENA          10197
META                6785
NARIÑO               506
NORTE SANTANDER    12128
PUTUMAYO            1707
QUINDIO             5248
RISARALDA           8259
SAN ANDRES           698
SANTANDER          21240
SUCRE               7748
TOLIMA             13153
VALLE               2507
VAUPES               109
VICHADA              275
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 220
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [165]:
print(data_2004_2['COLE_MCPIO_UBICACION'].value_counts().sort_index().index)
print(data_2004_2['COLE_MCPIO_UBICACION'].value_counts().sort_index())
print(missing_data(data_2004_2['COLE_MCPIO_UBICACION']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YOPAL', 'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=941)
ABEJORRAL                     82
ABREGO                        65
ABRIAQUI                      17
ACACIAS                      562
ACANDI                        38
ACEVEDO                       64
ACHI                          97
AGRADO                        47
AGUA DE DIOS                 117
AGUACHICA                    675
AGUADA                        24
AGUADAS                      258
AGUAZUL                      330
AGUSTIN CODAZZI              387
AIPE                         132
ALBAN                         38
ALBANIA                      102
ALEJANDRIA                    39
ALGARROBO                     68
ALGECIRAS                     92
ALMAGUER                      73
ALMEIDA                       20
ALPUJARRA                     40
ALTAMIRA                      18
ALTO BAUDO (PIE DE PATO)      89
ALTOS DEL ROSARIO             29
ALVARADO                      83
AMAGA                        204
AMALFI                       141
AMBALEMA                     103
                            ...
VILLAHERMOSA                  57
VILLAMARIA                   410
VILLANUEVA                   677
VILLAPINZON                  192
VILLARRICA                    57
VILLAVICENCIO               4374
VILLAVIEJA                    63
VILLETA                      333
VIOTA                         97
VIRACACHA                     31
VISTA HERMOSA                 30
VITERBO                      160
YACOPI                        81
YACUANQUER                     5
YAGUARA                      105
YALI                          38
YARUMAL                      396
YAVARATE                       4
YOLOMBO                       87
YONDO (CASABE)                83
YOPAL                       1039
YUMBO                         46
ZAMBRANO                      81
ZAPATOCA                      92
ZAPAYAN                       29
ZARAGOZA                     151
ZETAQUIRA                     45
ZIPACON                       14
ZIPAQUIRA                   1088
ZONA BANANERA                351
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 220
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [166]:
dpto = data_2004_2[data_2004_2['COLE_DEPTO_UBICACION'].isnull()].index
mpio = data_2004_2[data_2004_2['COLE_MCPIO_UBICACION'].isnull()].index
mpio.difference(dpto)

Index([], dtype='object')

In [167]:
data_2004_2 = data_2004_2.drop(mpio)

In [168]:
print(data_2004_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_RESIDE_DEPTO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_RESIDE_DEPTO']))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             631
ANTIOQUIA          52684
ARAUCA              1749
ATLANTICO          24281
BOGOTA             77484
BOLIVAR            17881
BOYACA             14566
CALDAS             10263
CAQUETA             2362
CASANARE            2588
CAUCA               7181
CESAR               7649
CHOCO               3505
CORDOBA            12734
CUNDINAMARCA       23059
GUAINIA               97
GUAVIARE             468
HUILA               8508
LA GUAJIRA          4564
MAGDALENA           9901
META                6886
NARIÑO               511
NORTE SANTANDER    12169
PUTUMAYO            1716
QUINDIO             5308
RISARALDA           8254
SAN ANDRES           698
SANTANDER          21409
SUCRE               7642
TOLIMA             12664
VALLE               2483
VAUPES               110
VICHADA              274
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [169]:
print(data_2004_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index().index)
print(data_2004_2['ESTU_RESIDE_MCPIO'].value_counts().sort_index())
print(missing_data(data_2004_2['ESTU_RESIDE_MCPIO']))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=951)
ABEJORRAL                     85
ABREGO                        81
ABRIAQUI                      18
ACACIAS                      646
ACANDI                        38
ACEVEDO                       57
ACHI                          99
AGRADO                        51
AGUA DE DIOS                 122
AGUACHICA                    669
AGUADA                        47
AGUADAS                      259
AGUAZUL                      324
AGUSTIN CODAZZI              387
AIPE                         133
ALBAN                         47
ALBANIA                      104
ALEJANDRIA                    39
ALGARROBO                     66
ALGECIRAS                     94
ALMAGUER                      71
ALMEIDA                       20
ALPUJARRA                     41
ALTAMIRA                      18
ALTO BAUDO (PIE DE PATO)      20
ALTOS DEL ROSARIO             29
ALVARADO                      80
AMAGA                        206
AMALFI                       144
AMBALEMA                     101
                            ...
VILLAMARIA                   383
VILLANUEVA                   680
VILLAPINZON                  175
VILLARRICA                    57
VILLAVICENCIO               4344
VILLAVIEJA                    55
VILLETA                      330
VIOTA                        100
VIRACACHA                     33
VISTA HERMOSA                 31
VITERBO                      160
YACOPI                        73
YACUANQUER                     5
YAGUARA                       95
YALI                          36
YARUMAL                      409
YAVARATE                       1
YOLOMBO                      115
YONDO (CASABE)                84
YOPAL                       1047
YUMBO                         49
ZAMBRANO                      81
ZAPATOCA                      91
ZAPAYAN                       24
ZARAGOZA                     151
ZARZAL                        15
ZETAQUIRA                     44
ZIPACON                       27
ZIPAQUIRA                   1161
ZONA BANANERA                294
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [170]:
dpto = data_2004_2[data_2004_2['COLE_DEPTO_UBICACION'].isnull()].index
mpio = data_2004_2[data_2004_2['COLE_MCPIO_UBICACION'].isnull()].index
mpio.difference(dpto)

Index([], dtype='object')

In [171]:
data_2004_2 = data_2004_2.drop(mpio)

### TARGETS

In [172]:
print(data_2004_2['PUNT_BIOLOGIA'].value_counts().index)
print(data_2004_2['PUNT_BIOLOGIA'].value_counts())
print(missing_data(data_2004_2['PUNT_BIOLOGIA']))

Index([  45.79,   44.36,   47.18,   42.86,   48.54,    41.3,   49.88,   51.21,
       '44.36', '45.79',   39.62, '42.86', '47.18',  '41.3',   52.54, '48.54',
       '39.62',    37.8, '49.88',   53.88, '51.21',  '37.8',   55.25,   35.79,
       '52.54',   56.64, '35.79', '53.88',   58.08,   33.52, '55.25', '33.52',
         59.58, '56.64',   30.85, '58.08',   61.17, '30.85', '59.58',   62.86,
       '61.17',   27.55, '27.55',   64.68, '62.86',   66.71, '64.68',   23.09,
       '23.09',   68.99, '66.71',   15.76, '15.76', '68.99',   71.68,   '---',
           '0', '71.68',     0.0,    75.0,   79.48,    '75'],
      dtype='object')
45.79    24022
44.36    23808
47.18    22859
42.86    21394
48.54    20797
41.3     18000
49.88    17740
51.21    14166
44.36    14102
45.79    13909
39.62    13470
42.86    13447
47.18    12611
41.3     11784
52.54    11272
48.54    10622
39.62     9205
37.8      8877
49.88     8752
53.88     8683
51.21     6724
37.8      6427
55.25     6262
35.79     5391
52.54     4922
56.64     4202
35.79     3886
53.88     3563
58.08     2906
33.52     2591
         ...
59.58     1797
56.64     1696
30.85     1079
58.08     1068
61.17     1061
30.85      928
59.58      676
62.86      621
61.17      394
27.55      382
27.55      350
64.68      303
62.86      221
66.71      166
64.68      118
23.09      100
23.09       89
68.99       58
66.71       49
15.76       37
15.76       33
68.99       26
71.68       25
---         13
0           13
71.68       10
0.0          8
75.0         7
79.48        5
75           2
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [173]:
data_2004_2['PUNT_BIOLOGIA'] = data_2004_2['PUNT_BIOLOGIA'].replace('---', np.nan)
for i in data_2004_2['PUNT_BIOLOGIA'].value_counts().index:
    if type(i) == str:
        data_2004_2['PUNT_BIOLOGIA'] = data_2004_2['PUNT_BIOLOGIA'].replace(i, float(i))

In [174]:
data_2004_2['PUNT_BIOLOGIA'].fillna(np.mean(data_2004_2['PUNT_BIOLOGIA']), inplace=True)

In [175]:
print(data_2004_2['PUNT_MATEMATICAS'].value_counts().index)
print(data_2004_2['PUNT_MATEMATICAS'].value_counts())
print(missing_data(data_2004_2['PUNT_MATEMATICAS']))

Index(['39.73', '41.46', '37.95', '43.17', '36.11', '44.85', '46.52', '34.19',
         41.46,   39.73, '48.19',   43.17, '32.16',   37.95,   44.85,   36.11,
       '49.87',   46.52, '29.99',   34.19,   48.19, '51.57',   32.16,   49.87,
       '27.65', '53.31',   29.99,   51.57, '25.06', '55.09',   53.31,   27.65,
         55.09, '56.93', '22.14',   25.06,   56.93, '58.86',   58.86, '60.89',
       '18.71',   22.14, '63.05',   60.89, '14.48',   18.71,   63.05,  '65.4',
           '0',  '8.79',   '---',    65.4, '67.99',   14.48,     0.0, '70.92',
         67.99,    8.79,   70.92, '74.34', '78.57',   74.34, '84.27'],
      dtype='object')
39.73    32364
41.46    31789
37.95    29404
43.17    28377
36.11    24039
44.85    23456
46.52    17803
34.19    17638
41.46    12630
39.73    12295
48.19    12060
43.17    11597
32.16    11349
37.95    11165
44.85     9595
36.11     8822
49.87     7770
46.52     7641
29.99     6581
34.19     6315
48.19     5433
51.57     4720
32.16     4127
49.87     3650
27.65     3488
53.31     2646
29.99     2313
51.57     2263
25.06     1553
55.09     1506
         ...
56.93      772
22.14      643
25.06      518
56.93      443
58.86      385
58.86      245
60.89      244
18.71      234
22.14      200
63.05      125
60.89      123
14.48       96
18.71       88
63.05       81
65.4        63
0           62
8.79        54
---         40
65.4        29
67.99       24
14.48       24
0.0         20
70.92       16
67.99       15
8.79        12
70.92        8
74.34        5
78.57        4
74.34        2
84.27        1
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [176]:
c = "PUNT_MATEMATICAS"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [177]:
data_2004_2['PUNT_MATEMATICAS'].fillna(np.mean(data_2004_2['PUNT_MATEMATICAS']), inplace=True)

In [178]:
print(data_2004_2['PUNT_FILOSOFIA'].value_counts().sort_index().index)
print(data_2004_2['PUNT_FILOSOFIA'].value_counts().sort_index())
print(missing_data(data_2004_2['PUNT_FILOSOFIA']))

Index(['---', '0', '10.99', '19.73', '25.06', '28.99', '32.17', '34.87',
       '37.25', '39.39', '41.37', '43.2', '44.94', '46.6', '48.19', '49.74',
       '51.25', '52.74', '54.21', '55.68', '57.15', '58.63', '60.14', '61.68',
       '63.26', '64.91', '66.63'],
      dtype='object')
---        164
0           35
10.99      113
19.73      291
25.06      910
28.99     2616
32.17     6173
34.87    12241
37.25    20749
39.39    31167
41.37    40295
43.2     46627
44.94    47923
46.6     44431
48.19    36915
49.74    27960
51.25    19299
52.74    11690
54.21     6675
55.68     3416
57.15     1607
58.63      626
60.14      265
61.68       71
63.26       14
64.91        5
66.63        1
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [179]:
c = "PUNT_FILOSOFIA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [180]:
data_2004_2['PUNT_FILOSOFIA'].fillna(np.mean(data_2004_2['PUNT_FILOSOFIA']), inplace=True)

In [181]:
print(data_2004_2['PUNT_FISICA'].value_counts().index)
print(data_2004_2['PUNT_FISICA'].value_counts())
print(missing_data(data_2004_2['PUNT_FISICA']))

Index([  42.45,   40.12,   44.61,   37.52,   46.63,   48.54,   34.59,   50.36,
         31.14,   52.12, '42.45', '40.12', '44.61',   53.83, '37.52',   26.87,
       '46.63', '34.59', '48.54',    55.5, '31.14', '50.36',   57.14,   21.11,
       '52.12', '26.87',   58.78, '53.83',   60.41,  '55.5',   11.65, '21.11',
         62.04, '57.14',   63.69,   65.36, '58.78',   67.08, '11.65',   68.84,
       '60.41',     0.0,   70.67,   72.58, '63.69', '62.04',   74.61,   76.78,
         79.13,   81.73, '67.08',     '0', '65.36',   '---',   84.68, '74.61',
       '70.67', '68.84', '92.43', '79.13',   98.21, '81.73', '72.58'],
      dtype='object')
42.45    46194
40.12    43283
44.61    42745
37.52    34862
46.63    34817
48.54    25502
34.59    23753
50.36    16938
31.14    12867
52.12    10541
42.45     7267
40.12     7192
44.61     6650
53.83     6182
37.52     5952
26.87     5651
46.63     5317
34.59     4213
48.54     3661
55.5      3444
31.14     2335
50.36     2282
57.14     1782
21.11     1777
52.12     1341
26.87     1051
58.78      994
53.83      689
60.41      567
55.5       382
         ...
57.14      192
63.69      161
65.36      107
58.78      104
67.08       87
11.65       62
68.84       61
60.41       47
0.0         37
70.67       27
72.58       25
63.69       21
62.04       19
74.61       14
76.78       13
79.13        8
81.73        6
67.08        6
0            6
65.36        6
---          5
84.68        5
74.61        4
70.67        2
68.84        2
92.43        2
79.13        1
98.21        1
81.73        1
72.58        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [182]:
c = "PUNT_FISICA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [183]:
data_2004_2['PUNT_FISICA'].fillna(np.mean(data_2004_2['PUNT_FISICA']), inplace=True)

In [184]:
print(data_2004_2['PUNT_HISTORIA'].value_counts().index)
print(data_2004_2['PUNT_HISTORIA'].value_counts())
print(missing_data(data_2004_2['PUNT_HISTORIA']))

Index([  42.56,   43.89,   41.17,   45.16,   46.39,   39.71,    47.6,   38.14,
          48.8,   49.98,   36.42,   51.16,   52.34,   34.52,   53.53,   54.75,
       '41.17', '42.56', '39.71', '43.89',   32.36,   55.99, '45.16', '38.14',
       '46.39',   57.27,  '47.6', '36.42',  '48.8',   58.61, '49.98',   29.82,
       '34.52', '51.16',    60.0, '52.34', '32.36', '53.53',   61.49, '54.75',
         26.66, '55.99', '29.82',   63.07, '57.27', '58.61', '26.66',   22.36,
          64.8,    '60', '61.49',   66.72, '22.36',   15.29, '63.07', '15.29',
        '64.8',   '---',   68.91,     0.0,   71.48, '68.91', '66.72'],
      dtype='object')
42.56    29020
43.89    28626
41.17    27746
45.16    27061
46.39    24728
39.71    24165
47.6     21705
38.14    19347
48.8     18648
49.98    15446
36.42    13486
51.16    12696
52.34     9944
34.52     8373
53.53     7848
54.75     5956
41.17     4984
42.56     4898
39.71     4677
43.89     4589
32.36     4287
55.99     4193
45.16     4079
38.14     3843
46.39     3461
57.27     2965
47.6      2926
36.42     2892
48.8      2351
58.61     1975
         ...
51.16     1425
60.0      1136
52.34     1076
32.36     1016
53.53      848
61.49      662
54.75      620
26.66      612
55.99      447
29.82      404
63.07      282
57.27      276
58.61      174
26.66      166
22.36      163
64.8       123
60         108
61.49       44
66.72       42
22.36       37
15.29       36
63.07       25
15.29       14
64.8         9
---          6
68.91        4
0.0          3
71.48        2
68.91        1
66.72        1
Name: PUNT_HISTORIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [185]:
c = "PUNT_HISTORIA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [186]:
data_2004_2['PUNT_HISTORIA'].fillna(np.mean(data_2004_2['PUNT_HISTORIA']), inplace=True)

In [187]:
print(data_2004_2['PUNT_QUIMICA'].value_counts().index)
print(data_2004_2['PUNT_QUIMICA'].value_counts())
print(missing_data(data_2004_2['PUNT_QUIMICA']))

Index([  40.87,   42.23,   39.44,   43.52,   37.91,   44.77,   36.25,   45.98,
         47.16,   34.41,   48.33,   49.49,   32.33, '39.44', '40.87', '37.91',
         50.65, '42.23', '36.25', '43.52',    51.8, '44.77', '34.41',   29.89,
         52.97, '45.98',   54.16, '32.33',   55.38, '47.16',   56.63,   26.87,
       '48.33', '29.89',   57.93, '49.49',   59.29, '50.65',   60.73, '26.87',
         62.27,  '51.8',   22.81, '52.97',   63.95, '54.16',    65.8, '55.38',
       '56.63',   67.91, '22.81', '57.93',   16.16,   70.38, '59.29', '16.16',
       '60.73',   73.42, '62.27', '63.95',     0.0,  '65.8', '67.91',   77.54,
         '---', '70.38', '73.42',     '0',   84.24],
      dtype='object')
40.87    37410
42.23    35901
39.44    34518
43.52    31850
37.91    29250
44.77    25736
36.25    21391
45.98    20070
47.16    14714
34.41    13281
48.33    10707
49.49     7687
32.33     6955
39.44     6390
40.87     6330
37.91     5665
50.65     5412
42.23     5364
36.25     4720
43.52     4489
51.8      3845
44.77     3264
34.41     3161
29.89     3141
52.97     2787
45.98     2259
54.16     2010
32.33     1734
55.38     1497
47.16     1468
         ...
26.87      307
62.27      290
51.8       279
22.81      271
52.97      227
63.95      184
54.16      136
65.8       131
55.38      110
56.63       84
67.91       80
22.81       79
57.93       54
16.16       52
70.38       37
59.29       28
16.16       28
60.73       22
73.42       21
62.27       19
63.95       12
0.0          8
65.8         7
67.91        6
77.54        4
---          4
70.38        2
73.42        2
0            2
84.24        2
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [188]:
c = "PUNT_QUIMICA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [189]:
data_2004_2['PUNT_QUIMICA'].fillna(np.mean(data_2004_2['PUNT_QUIMICA']), inplace=True)

In [190]:
print(data_2004_2['PUNT_LENGUAJE'].value_counts().index)
print(data_2004_2['PUNT_LENGUAJE'].value_counts())
print(missing_data(data_2004_2['PUNT_LENGUAJE']))

Index([  53.12,    51.6,   50.08,   54.64,   48.55,   56.17,    47.0,   57.73,
         45.42,   59.31,   43.79,   60.94,   42.11,   62.62,   64.36,   40.36,
          66.2,   38.51,   68.15,   36.54, '50.08',  '51.6', '48.55', '53.12',
          '47', '54.64',   70.25, '45.42', '56.17', '43.79', '57.73', '59.31',
       '42.11',   34.41,   72.56, '60.94', '40.36', '62.62', '38.51',   75.15,
         32.07, '64.36',  '66.2', '36.54',   78.15, '68.15',   29.43, '34.41',
       '70.25',   81.81, '32.07',   26.35, '72.56', '75.15', '29.43',   86.69,
       '78.15',   22.59, '26.35', '81.81',   94.53,   17.58, '22.59', '86.69',
       '17.58',    9.56,  '9.56',   '---',     0.0,   97.07, '97.07'],
      dtype='object')
53.12    23939
51.6     23740
50.08    23164
54.64    22487
48.55    21998
56.17    21149
47.0     20371
57.73    19173
45.42    17541
59.31    16671
43.79    14913
60.94    14167
42.11    11611
62.62    11358
64.36     8801
40.36     8728
66.2      6584
38.51     5937
68.15     4800
36.54     3997
50.08     3781
51.6      3746
48.55     3660
53.12     3595
47        3550
54.64     3388
70.25     3316
45.42     3169
56.17     2976
43.79     2673
         ...
64.36     1113
66.2       855
36.54      847
78.15      667
68.15      585
29.43      550
34.41      446
70.25      383
81.81      307
32.07      264
26.35      217
72.56      210
75.15      140
29.43      121
86.69       79
78.15       72
22.59       66
26.35       44
81.81       37
94.53       26
17.58       23
22.59       18
86.69       11
17.58        6
9.56         6
9.56         5
---          5
0.0          5
97.07        1
97.07        1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [191]:
c = "PUNT_LENGUAJE"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [192]:
data_2004_2['PUNT_LENGUAJE'].fillna(np.mean(data_2004_2['PUNT_LENGUAJE']), inplace=True)

In [193]:
print(data_2004_2['PUNT_GEOGRAFIA'].value_counts().index)
print(data_2004_2['PUNT_GEOGRAFIA'].value_counts())
print(missing_data(data_2004_2['PUNT_GEOGRAFIA']))

Index([  49.61,   50.98,   52.33,   48.23,   53.68,   46.81,   55.04,   45.35,
          56.4,   43.84,   57.79,   42.26,    59.2, '48.23', '49.61', '46.81',
         40.59, '50.98', '45.35', '52.33', '43.84', '53.68',   60.66, '55.04',
       '42.26',    38.8,  '56.4',   62.17, '40.59', '57.79',   36.87,   63.75,
        '38.8',  '59.2', '60.66',   65.42, '36.87',   34.72, '62.17',    67.2,
       '34.72', '63.75',    32.3,   69.14, '65.42',  '32.3',   29.46,  '67.2',
         71.27, '29.46', '69.14',    73.7,   25.95, '71.27', '25.95',   76.54,
         21.21,  '73.7', '21.21', '76.54',   '---',   80.04,   13.45, '13.45',
           0.0, '80.04',     '0', '84.78'],
      dtype='object')
49.61    19220
50.98    19117
52.33    18943
48.23    18749
53.68    17779
46.81    17531
55.04    16268
45.35    15789
56.4     14194
43.84    13849
57.79    11937
42.26    11512
59.2      9564
48.23     9377
49.61     9298
46.81     8936
40.59     8835
50.98     8606
45.35     8418
52.33     8126
43.84     7553
53.68     7490
60.66     7450
55.04     6396
42.26     6152
38.8      6043
56.4      5499
62.17     5427
40.59     5121
57.79     4411
         ...
62.17     1703
67.2      1438
34.72     1361
63.75     1108
32.3      1106
69.14      713
65.42      686
32.3       627
29.46      439
67.2       382
71.27      349
29.46      246
69.14      180
73.7       155
25.95      140
71.27       96
25.95       88
76.54       48
21.21       46
73.7        34
21.21       21
76.54       14
---         14
80.04       14
13.45       10
13.45        8
0.0          6
80.04        4
0            2
84.78        1
Name: PUNT_GEOGRAFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [194]:
c = "PUNT_GEOGRAFIA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [195]:
data_2004_2['PUNT_GEOGRAFIA'].fillna(np.mean(data_2004_2['PUNT_GEOGRAFIA']), inplace=True)

In [196]:
print(data_2004_2['COD_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2004_2['COD_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2004_2['COD_INTERDISCIPLINAR']))

Int64Index([43, 44, 45], dtype='int64')
43    181232
44    138452
45     42595
Name: COD_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [197]:
print(data_2004_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index().index)
print(data_2004_2['PUNT_INTERDISCIPLINAR'].value_counts().sort_index())
print(missing_data(data_2004_2['PUNT_INTERDISCIPLINAR']))

Index(['---', '0', '22.06', '23.24', '31.01', '32.26', '33.15', '35.96',
       '39.81', '40.24', '40.3', '43.1', '45.55', '45.76', '46.08', '48.9',
       '49.7', '50.49', '51.68', '53.3', '54.52', '54.77', '56.61', '57.51',
       '58.84', '59.77', '60.81', '62.83', '62.91', '64.68', '66.12', '66.89',
       '69.53', '69.66', '71.18', '73.3', '75.9', '77.47', '77.7', '81.42',
       '81.43', '83.33', '88.5', '91.93', '96.32', '99.58'],
      dtype='object')
---       2186
0         2078
22.06     1279
23.24     4540
31.01    11375
32.26     4938
33.15     3396
35.96    18767
39.81    23081
40.24     6019
40.3     13284
43.1     22653
45.55    23314
45.76     7548
46.08    18997
48.9     13929
49.7     31066
50.49     7667
51.68     9668
53.3     32896
54.52     6346
54.77     6257
56.61    29040
57.51     3806
58.84     4439
59.77    21641
60.81     2175
62.83     2771
62.91    13074
64.68     1076
66.12     6450
66.89     1527
69.53     2439
69.66      413
71.18      739
73.3       677
75.9       299
77.47       87
77.7       146
81.42      114
81.43       15
83.33       23
88.5        29
91.93        2
96.32        1
99.58       12
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [198]:
c = "PUNT_INTERDISCIPLINAR"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [199]:
data_2004_2['PUNT_INTERDISCIPLINAR'].fillna(np.mean(data_2004_2['PUNT_INTERDISCIPLINAR']), inplace=True)

In [200]:
print(data_2004_2['COD_IDIOMA'].value_counts().sort_index().index)
print(data_2004_2['COD_IDIOMA'].value_counts().sort_index())
print(missing_data(data_2004_2['COD_IDIOMA']))

Int64Index([51, 52, 53, 99], dtype='int64')
51    359880
52      1717
53       292
99       390
Name: COD_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [201]:
print(data_2004_2['PUNT_IDIOMA'].value_counts().index)
print(data_2004_2['PUNT_IDIOMA'].value_counts())
print(missing_data(data_2004_2['PUNT_IDIOMA']))

Index(['38.40', '36.79', '39.90', '35.02', '41.31', '33.06', '42.66', '43.97',
       '30.84', '45.24',
       ...
          24.2,   49.86,   77.01,   86.98,   126.2,  '48.9',   44.02,   54.77,
         59.15,   13.25],
      dtype='object', length=163)
38.40    47228
36.79    45622
39.90    42628
35.02    38232
41.31    35476
33.06    27718
42.66    26181
43.97    18071
30.84    16638
45.24    11878
28.22     8110
46.47     7628
47.70     4962
48.90     3396
24.96     3255
50.09     2414
51.29     1930
52.52     1637
53.75     1350
55.02     1110
56.31     1040
20.54      908
57.66      894
59.09      864
60.59      795
62.20      740
38.4       660
39.9       629
63.95      616
36.79      611
         ...
105.6        3
67.04        3
70.83        3
60.27        3
99.40        3
36.38        3
72.73        2
108.7        2
85.69        2
24.97        2
103.5        2
114.8        2
33.07        2
16.97        1
51.3         1
87.84        1
68.94        1
41.32        1
46.48        1
120.1        1
24.2         1
49.86        1
77.01        1
86.98        1
126.2        1
48.9         1
44.02        1
54.77        1
59.15        1
13.25        1
Name: PUNT_IDIOMA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 362279
__________________
(362279,)
None

In [202]:
c = "PUNT_IDIOMA"
data_2004_2[c] = data_2004_2[c].replace('---', np.nan)
data_2004_2[c] = data_2004_2[c].replace('*', np.nan)
for i in data_2004_2[c].value_counts().index:
    if type(i) == str:
        data_2004_2[c] = data_2004_2[c].replace(i, float(i))

In [203]:
data_2004_2['PUNT_IDIOMA'].fillna(np.mean(data_2004_2['PUNT_IDIOMA']), inplace=True)

In [209]:
idx = data_2004_2[data_2004_2['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2004_2 = data_2004_2.drop(idx)

Now i can transform the DataFrame in csv files

In [204]:
data_2004 = label_encoder(data_2004)
data_2004_2 = label_encoder(data_2004_2)

In [214]:
#data_2004.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2004_1.csv', sep = ';', index = False)
data_2004_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2004_2.csv', sep = ';', index = False)