In [2]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2007 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20071-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|')

In [3]:
data_2007.shape

(69301, 84)

In [4]:
data_2007.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB11200710000001,SB11200710000002,SB11200710000003
PERIODO,20071,20071,20071
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,F
ESTU_NACIMIENTO_DIA,22,19,21
ESTU_NACIMIENTO_MES,2,5,10
ESTU_NACIMIENTO_ANNO,1991,1994,1990
ESTU_EDAD,16,12,16
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76122,76122,76122
ESTU_RESIDE_MCPIO,CAICEDONIA,CAICEDONIA,CAICEDONIA
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,76122,76122,76122
ESTU_MCPIO_PRESENTACION,CAICEDONIA,CAICEDONIA,CAICEDONIA
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO 2007-1,EXAMEN DE ESTADO 2007-1,EXAMEN DE ESTADO 2007-1
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2007,2007,2007
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,18226,18226,18226
COLE_COD_ICFES,18226,18226,18226
...,...,...,...
FAMI_COMPUTADOR,NaN,NaN,NaN
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,0,0,0
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1805,1208,NaN
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD SANTIAGO DE CALI,UNIVERSIDAD DEL QUINDIO,NaN
ESTU_IES_COD_MPIO_DESEADA,76001,63001,NaN
ESTU_IES_MPIO_DESEADA,CALI,ARMENIA,NaN
ESTU_IES_DEPT_DESEADA,VALLE,QUINDÍO,NaN
ESTU_RAZONINSTITUTO,8,7,NaN
ESTU_CARRDESEADA_COD,16268,12411,NaN
ESTU_CARRDESEADA_RAZON,2,2,NaN
PUNT_LENGUAJE,"46,31","56,32","52,33"
PUNT_MATEMATICAS,"37,74","59,27","41,17"
PUNT_C_SOCIALES,"48,89","58,98","48,89"
PUNT_FILOSOFIA,"41,41","43,87","57,8"
PUNT_BIOLOGIA,"40,38","53,91","52,12"
PUNT_QUIMICA,"38,8","52,17","34,53"
PUNT_FISICA,"46,28","33,79","23,28"
PUNT_INGLES,"38,66","42,76","40,78"
DESEMP_INGLES,NaN,NaN,NaN
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN MATEMÁTICA,PROFUNDIZACIÓN EN BIOLOGÍA
PUNT_PROFUNDIZACION,"4,89","5,74","5,53"
DESEMP_PROFUNDIZACION,I,II,I
NOMBRE_INTERDISCIPLINAR,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"46,46","46,46","46,46"
ESTU_PUESTO,695,183,577

In [5]:
data_2007 = data_2007.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO', 
                            'ESTU_COD_MCPIO_PRESENTACION'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['BE', 'BR', 'CN', 'CO', 'CU', 'DE', 'DO', 'EC', 'ES', 'FM', 'JO', 'KP',
       'LB', 'MA', 'PA', 'RU', 'US', 'VE'],
      dtype='object')
BE        1
BR        1
CN        2
CO    69214
CU        1
DE        2
DO        2
EC        4
ES        3
FM        1
JO        1
KP        1
LB        1
MA        1
PA        2
RU        1
US       12
VE        3
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 48
__________________
Elementos diferentes de null/NaN: 69253
__________________
(69253,)
None

In [7]:
Do_resamples(data_2007, 'ESTU_PAIS_RESIDE', str)

cant null antes: 48
cant null despues: 0

In [8]:
c = 'ESTU_GENERO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['F', 'M'], dtype='object')
F    37314
M    31964
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 23
__________________
Elementos diferentes de null/NaN: 69278
__________________
(69278,)
None

In [9]:
Do_resamples(data_2007, 'ESTU_GENERO', str)

cant null antes: 23
cant null despues: 0

In [10]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     2502
2.0     2339
3.0     2373
4.0     2285
5.0     2301
6.0     2233
7.0     2224
8.0     2214
9.0     2201
10.0    2428
11.0    2230
12.0    2284
13.0    2221
14.0    2138
15.0    2393
16.0    2277
17.0    2185
18.0    2274
19.0    2175
20.0    2337
21.0    2252
22.0    2329
23.0    2163
24.0    2263
25.0    2225
26.0    2270
27.0    2338
28.0    2505
29.0    2036
30.0    2005
31.0    1228
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 69228
__________________
(69228,)
None

In [11]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     5758
2.0     5214
3.0     5920
4.0     5612
5.0     5945
6.0     5675
7.0     5826
8.0     5879
9.0     6156
10.0    5915
11.0    5496
12.0    5832
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 69228
__________________
(69228,)
None

In [12]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1930.0, 1931.0, 1932.0, 1933.0, 1936.0, 1939.0, 1940.0, 1941.0,
              1942.0, 1943.0, 1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0,
              1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0,
              1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0,
              1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0,
              1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0,
              1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0,
              1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0,
              1998.0, 2000.0, 2001.0, 2002.0, 2087.0, 2090.0, 2091.0],
             dtype='float64')
1930.0        4
1931.0        3
1932.0        2
1933.0        1
1936.0        2
1939.0        1
1940.0        4
1941.0        3
1942.0        2
1943.0        1
1944.0        4
1945.0        4
1946.0        5
1947.0        3
1948.0        5
1949.0        4
1950.0        4
1951.0        4
1952.0        5
1953.0       19
1954.0       14
1955.0       20
1956.0       24
1957.0       24
1958.0       23
1959.0       25
1960.0       45
1961.0       44
1962.0       40
1963.0       56
          ...
1975.0      161
1976.0      167
1977.0      216
1978.0      194
1979.0      247
1980.0      338
1981.0      324
1982.0      387
1983.0      453
1984.0      576
1985.0      791
1986.0     1483
1987.0     3229
1988.0     8043
1989.0    16055
1990.0    25223
1991.0     7602
1992.0      752
1993.0      363
1994.0      915
1995.0        7
1996.0        1
1997.0        1
1998.0        3
2000.0        4
2001.0        6
2002.0        3
2087.0        1
2090.0        1
2091.0        1
Name: ESTU_NACIMIENTO_ANNO, Length: 71, dtype: int64
Elementos null/NaN 73
__________________
Elementos diferentes de null/NaN: 69228
__________________
(69228,)
None

In [13]:
for i in data_2007[c].value_counts().sort_index().index:
    if i > 1995:
        data_2007[c] = data_2007[c].replace(i, np.nan)

In [14]:
anno = data_2007[data_2007['ESTU_NACIMIENTO_ANNO'].isnull()].index
data_2007 = data_2007.drop(anno)

In [15]:
c = 'ESTU_EDAD'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Int64Index([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
            29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
            46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
            63, 64, 65, 66, 67, 70, 74, 75, 76, 77],
           dtype='int64')
12      797
13      554
14      694
15     4639
16    23822
17    17879
18     9501
19     3809
20     1711
21      894
22      598
23      494
24      375
25      343
26      331
27      272
28      214
29      221
30      166
31      160
32      149
33      137
34      131
35      126
36      139
37      184
38      131
39      119
40       72
41       75
      ...
43       55
44       48
45       41
46       51
47       28
48       20
49       24
50       24
51       26
52       12
53       20
54        7
55        3
56        5
57        4
58        4
59        4
60        6
61        4
62        4
63        1
64        1
65        4
66        1
67        4
70        2
74        2
75        2
76        5
77        1
Name: ESTU_EDAD, Length: 61, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69207
__________________
(69207,)
None

In [16]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 69207
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [17]:
data_2007 = data_2007.drop([c], axis = 1)

In [18]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 69207
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [19]:
data_2007 = data_2007.drop([c], axis = 1)

In [20]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 69207
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [21]:
data_2007 = data_2007.drop([c], axis = 1)

In [22]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 69207
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [23]:
data_2007 = data_2007.drop([c], axis = 1)

In [24]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 69207
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [25]:
data_2007 = data_2007.drop([c], axis = 1)

In [26]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 69207
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [27]:
data_2007 = data_2007.drop([c], axis = 1)

In [28]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 69207
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [29]:
data_2007 = data_2007.drop([c], axis = 1)

In [30]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ABEJORRAL', 'ABRIAQUI', 'ACACIAS', 'ACEVEDO', 'AGRADO', 'AGUA DE DIOS',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'ALBAN',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VISTA HERMOSA', 'YACUANQUER', 'YOLOMBO',
       'YOPAL', 'YOTOCO', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=366)
ABEJORRAL                       6
ABRIAQUI                        2
ACACIAS                        13
ACEVEDO                         2
AGRADO                          1
AGUA DE DIOS                    1
AGUADAS                         1
AGUAZUL                         2
AGUSTIN CODAZZI                 7
ALBAN                           1
ALBAN (SAN JOSE)              122
ALBANIA                        41
ALCALA                        103
ALDANA                         65
ALMAGUER                        1
AMAGA                           4
ANCUYA                         67
ANDALUCIA                     200
ANDES                           7
ANORI                           2
ANSERMANUEVO                  127
APARTADO                       20
APIA                            5
ARATOCA                         1
ARAUCA                         16
ARBOLEDA (BERRUECOS)           48
ARGELIA                        56
ARMENIA                       176
ARMERO (GUAYABAL)               1
ATRATO (YUTO)                   3
                             ...
TUMACO                       1304
TUNJA                          66
TUQUERRES                     375
TURBACO                         1
UBATE                          10
ULLOA                          28
URIBIA                          2
UTICA                           2
VALENCIA                       12
VALLEDUPAR                    116
VELEZ                           1
VENADILLO                       1
VERSALLES                      74
VICTORIA                        5
VIJES                         112
VILLA DEL ROSARIO               1
VILLA GUAMEZ (LA HORMIGA)      21
VILLA RICA                      1
VILLAMARIA                      2
VILLANUEVA                      1
VILLAVICENCIO                 239
VILLETA                        44
VISTA HERMOSA                   1
YACUANQUER                    104
YOLOMBO                         7
YOPAL                          77
YOTOCO                        126
YUMBO                        1153
ZARZAL                        489
ZIPAQUIRA                      77
Name: ESTU_RESIDE_MCPIO, Length: 366, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69207
__________________
(69207,)
None

In [31]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2112
ARAUCA                16
ATLÁNTICO            589
BOGOTÁ              6147
BOLÍVAR              224
BOYACÁ               208
CALDAS               392
CAQUETÁ               61
CASANARE              82
CAUCA               1149
CESAR                123
CHOCÓ                  5
CUNDINAMARCA         958
CÓRDOBA               46
GUAINÍA                7
HUILA                356
LA GUAJIRA            87
MAGDALENA             74
META                 272
NARIÑO             13337
NORTE SANTANDER      173
PUTUMAYO              48
QUINDÍO              192
RISARALDA            311
SAN ANDRÉS             1
SANTANDER            565
TOLIMA               359
VALLE              41311
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 69205
__________________
(69205,)
None

In [32]:
depto = data_2007[data_2007['ESTU_RESIDE_DEPTO'].isnull()].index
data_2007 = data_2007.drop(depto)

In [33]:
c = 'ESTU_ZONA_RESIDE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      6451
2.0      3146
3.0      1086
4.0      6569
5.0      1887
6.0      3008
7.0      4014
8.0      1438
9.0      1636
10.0    39960
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 10
__________________
Elementos diferentes de null/NaN: 69195
__________________
(69195,)
None

In [34]:
Do_resamples(data_2007, 'ESTU_ZONA_RESIDE', float)

cant null antes: 10
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [35]:
c = 'ESTU_AREA_RESIDE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0], dtype='float64')
1.0    2979
2.0     714
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 65512
__________________
Elementos diferentes de null/NaN: 3693
__________________
(3693,)
None

In [36]:
Do_resamples(data_2007, 'ESTU_AREA_RESIDE', float)

cant null antes: 65512
cant null despues: 0

In [37]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ALBANIA', 'ALCALA', 'ANDALUCIA', 'ANSERMANUEVO', 'APARTADO', 'ARAUCA',
       'ARMENIA', 'BARBACOAS', 'BARRANCABERMEJA', 'BARRANQUILLA',
       ...
       'TUNJA', 'TUQUERRES', 'UBATE', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=112)
ALBANIA                      46
ALCALA                      134
ANDALUCIA                   203
ANSERMANUEVO                138
APARTADO                     41
ARAUCA                       16
ARMENIA                     177
BARBACOAS                   192
BARRANCABERMEJA               2
BARRANQUILLA                602
BELLO                       187
BOGOTÁ D.C.                6034
BOLIVAR                      89
BUCARAMANGA                 531
BUENAVENTURA               2397
BUESACO                     251
BUGA                       1694
BUGALAGRANDE                213
CAICEDONIA                  305
CALI                      20647
CALIMA (DARIEN)             190
CAMPOALEGRE                   3
CANDELARIA                  675
CARTAGENA                   216
CARTAGO                    1846
CHAPARRAL                    84
CHIA                        285
CONSACA                     107
CUCUTA                      163
CUMBAL                      341
                          ...
ROLDANILLO                  589
SAMANIEGO                   300
SAN GIL                       3
SAN PABLO                   176
SANDONA                     324
SANTA MARTA                  79
SANTA ROSA DE OSOS           26
SANTANDER DE QUILICHAO       77
SEVILLA                     389
SOACHA                      238
SOCORRO                       1
SOGAMOSO                    126
TAMINANGO                   135
TANGUA                       48
TIMBIO                       45
TIMBIQUI                     15
TORO                        151
TRUJILLO                    220
TULUA                      2553
TUMACO                     1347
TUNJA                        75
TUQUERRES                   529
UBATE                        23
VALLEDUPAR                  125
VELEZ                        25
VILLAVICENCIO               270
YOPAL                        80
YUMBO                      1336
ZARZAL                      506
ZIPAQUIRA                    91
Name: ESTU_MCPIO_PRESENTACION, Length: 112, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69205
__________________
(69205,)
None

In [38]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CUNDINAMARCA',
       'CÓRDOBA', 'GUAINÍA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SANTANDER', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           2077
ARAUCA                16
ATLÁNTICO            602
BOGOTÁ              6034
BOLÍVAR              224
BOYACÁ               201
CALDAS               487
CAQUETÁ               60
CASANARE              81
CAUCA               1091
CESAR                125
CUNDINAMARCA         884
CÓRDOBA               43
GUAINÍA                7
HUILA                355
LA GUAJIRA            90
MAGDALENA             79
META                 277
NARIÑO             13564
NORTE SANTANDER      171
PUTUMAYO              41
QUINDÍO              177
RISARALDA            307
SANTANDER            563
TOLIMA               258
VALLE              41391
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69205
__________________
(69205,)
None

In [39]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['EXAMEN DE ESTADO 2007-1'], dtype='object')
EXAMEN DE ESTADO 2007-1    69205
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69205
__________________
(69205,)
None

In [40]:
data_2007 = data_2007.drop([c], axis = 1)

In [41]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     6607
1.0    62590
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 8
__________________
Elementos diferentes de null/NaN: 69197
__________________
(69197,)
None

In [42]:
Do_resamples(data_2007, 'IND_ESTUDIO_BACHILLERATO', float)

cant null antes: 8
cant null despues: 0

In [43]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1978.0, 1980.0, 1981.0, 1982.0, 1984.0, 1990.0, 1992.0, 1995.0,
              1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0,
              2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2013.0, 9999.0],
             dtype='float64')
1978.0        1
1980.0        1
1981.0        1
1982.0        1
1984.0        1
1990.0        1
1992.0        1
1995.0        2
1997.0        2
1998.0        1
1999.0        1
2000.0        2
2001.0        2
2002.0        2
2003.0        3
2004.0        9
2005.0       13
2006.0      131
2007.0    66030
2008.0      336
2009.0       21
2010.0        4
2013.0        1
9999.0        1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 2637
__________________
Elementos diferentes de null/NaN: 66568
__________________
(66568,)
None

In [44]:
for i in data_2007[c].value_counts().sort_index().index:
    if i > 2010:
        data_2007[c] = data_2007[c].replace(i, np.nan)

In [45]:
Do_resamples(data_2007, 'IND_ANNO_TERMINO_BACHILLERATO', float)

cant null antes: 2639
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [46]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0], dtype='float64')
1.0    226
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 68979
__________________
Elementos diferentes de null/NaN: 226
__________________
(226,)
None

In [47]:
data_2007 = data_2007.drop(['IND_TERMINO_BACHILLERATO'], axis=1)

In [48]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([     2.0,      3.0,    182.0,    638.0,   1503.0,   3046.0,
                3327.0,   3418.0,   3459.0,   3525.0,
              ...
              168575.0, 170456.0, 170654.0, 170803.0, 172734.0, 173526.0,
              175687.0, 175893.0, 176370.0, 999999.0],
             dtype='float64', length=1892)
2.0           2
3.0          95
182.0        86
638.0        40
1503.0       44
3046.0       44
3327.0       18
3418.0       41
3459.0       83
3525.0      110
4234.0       40
5504.0        1
6023.0      110
6437.0        1
6635.0        1
6775.0       19
6981.0       11
7013.0       65
7054.0        7
7070.0       97
7088.0       49
7153.0        1
7419.0        1
9110.0      137
9225.0        1
9894.0        1
9910.0        2
9951.0        1
9993.0       24
10009.0       7
           ...
139436.0      1
139840.0      1
141465.0      1
141911.0      1
142927.0      1
143149.0      1
143263.0      1
143271.0      1
143495.0      2
143834.0      3
146316.0      3
152173.0      1
153692.0      2
156372.0      1
156471.0      1
157024.0      1
160515.0      1
163907.0      1
164129.0      1
164822.0      1
168575.0      1
170456.0      1
170654.0      1
170803.0      1
172734.0      1
173526.0      1
175687.0      1
175893.0      1
176370.0      1
999999.0    177
Name: IND_COD_ICFES_TERMINO, Length: 1892, dtype: int64
Elementos null/NaN 246
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [49]:
idx = data_2007[data_2007['IND_COD_ICFES_TERMINO'].isnull()].index
data_2007 =data_2007.drop(idx)

In [50]:
c = 'COLE_COD_ICFES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Int64Index([   182,    638,   1503,   3046,   3327,   3418,   3459,   3525,
              4234,   6023,
            ...
            130674, 130724, 130732, 130799, 130815, 130823, 131045, 131169,
            131201, 131581],
           dtype='int64', length=1708)
182        86
638        40
1503       44
3046       44
3327       18
3418       41
3459       83
3525      110
4234       40
6023      110
6775       19
6981       11
7013       67
7054        8
7070       99
7088       49
11213     229
11239      67
11254      40
11262      35
11270     124
11288     118
11296     250
11312     166
11320     148
11338     395
11379      19
11395      29
11403      58
11411     160
         ...
130161     18
130187     13
130195     13
130203     53
130211      4
130229      8
130237      8
130278     28
130294      8
130377      5
130385      7
130427    149
130500     11
130534     10
130567     23
130583     12
130591     20
130617     14
130625     33
130641     13
130674      8
130724     14
130732     14
130799     21
130815      7
130823     10
131045     38
131169     10
131201     44
131581     17
Name: COLE_COD_ICFES, Length: 1708, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [51]:
for i in data_2007[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2007[c] = data_2007[c].replace(i, np.nan)

In [52]:
data_2007['COLE_COD_ICFES'].fillna(method='bfill', inplace=True)

In [53]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['            ', '010500103391', '051100116867', '105001000566',
       '105001003387', '105001003395', '105001003425', '105001014397',
       '105001022446', '105088001512',
       ...
       '568001009690', '568001009700', '576001091472', '576622134546',
       '625214000001', '625269000075', '625269000082', '625286000041',
       '625843000124', '841551000001'],
      dtype='object', length=1507)
                1002
010500103391      24
051100116867      39
105001000566      26
105001003387      16
105001003395      61
105001003425       9
105001014397       4
105001022446       9
105088001512      37
105088002993      10
105129000534      44
105361000443      20
105376000440      11
105697000069      24
105792000190       9
108001003289      16
111001009971      19
111001010251      15
111001010839      40
111001010910       6
111001011029       9
111001012360      23
111001030856      11
111001034134      13
111001036781      49
111001075515      20
111001092410      80
111001102148      13
111848003031      23
                ...
476130000813       7
476130000902      11
476130000961      13
476130001186      17
476130001208      13
476248000478     115
476248000648       9
476248000877       1
476248032012      29
476520003813      14
476520006324       6
476892001183      13
476892099710      20
476892099728      14
476895000382      39
519001000002      48
519698000003      23
525899000016      15
541548000100       7
552356000068       3
568001009690      23
568001009700      19
576001091472       9
576622134546      19
625214000001      20
625269000075       9
625269000082      14
625286000041      66
625843000124       6
841551000001      14
Name: COLE_COD_DANE_INSTITUCION, Length: 1507, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [54]:
data_2007[c] = data_2007[c].replace('            ', np.nan)

In [55]:
data_2007[c].fillna(method='bfill', inplace=True)

In [56]:
c = 'COLE_NOMBRE_SEDE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index([' COL FUND STA ISABEL DE HUNGRIA', ' ESCUELA URBANA JOSE ANTONIO GALAN',
       ' FUND COL PAR SAN PEDRO CLAVER',
       '07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM',
       '20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO',
       '28/01 INSTITUCIÓN EDUCATIVA SANTA FE',
       '32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI',
       '38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO',
       '39/01 INSTITUCION EDUCATIVA BOYACA',
       '41/01 INSTITUCION EDUCATIVA VILLA DEL SUR',
       ...
       'SUSANA LOPEZ DE VALENCIA', 'TABLONES',
       'TECNOLÓGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB',
       'TERESA CALDERÓN DE LASSO',
       'TÉCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL',
       'UNIDAD TECNOLOGICA DE OCCIDENTE', 'UNIDAD TECNOLOGICA DEL SUR',
       'UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET',
       'UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA',
       'XINSTITUTO TECNICO COMERCIAL PILOTO'],
      dtype='object', length=1546)
 COL FUND STA ISABEL DE HUNGRIA                                                                         370
 ESCUELA URBANA JOSE ANTONIO GALAN                                                                       39
 FUND COL PAR SAN PEDRO CLAVER                                                                           79
07/01 INSTITUCION EDUCATIVA JORGE ISAACS INEM                                                           517
20/01 INSTITUCION EDUCATIVA, SIETE DE AGOSTO                                                             86
28/01 INSTITUCIÓN EDUCATIVA SANTA FE                                                                     92
32/01 INSTITUCION EDUCATIVA NORMAL SUPERIOR SANTIAGO DE CALI                                            165
38/01 INSTITUCION EDUCATIVA AGUSTIN NIETO CABALLERO                                                     121
39/01 INSTITUCION EDUCATIVA BOYACA                                                                      120
41/01 INSTITUCION EDUCATIVA VILLA DEL SUR                                                               117
44/01 INSTITUCIÓN EDUCATIVA COMERCIAL CIUDAD DE CALI                                                    299
58/01 INSTITUCION EDUCATIVA GABRIELA MISTRAL                                                            115
69/01 INSTITUCION EDUCATIVA LA ESPERANZA                                                                 22
74/01 INSTITUCION EDUCATIVA JUANA DE CAICEDO Y CUERO                                                     46
80/01 INSTITUCIÓN EDUCATIVA PANCE                                                                        19
81/02 INSTITUCION EDUCATIVA LA BUITRERA JOSE MARIA GARCIA DE TOLED                                       30
84/04  JOSE HOLGUIN GARCES                                                                                4
85/02 SAT JOSE HOLGUIN GARCES                                                                            14
86/02 INSTITUCION EDUCATIVA LA LEONERA  ITA FARALLONES                                                   17
ABSALON TORRES CAMACHO                                                                                  105
ACAD AMERICANA DE SISTEMAS Y COMERCIO                                                                    12
ACADE MILIT JOAQUÍN DE CAICEDO Y CUERO                                                                   20
ACADEMIA ACADEMIA SAM                                                                                    12
ACADEMIA COLOMBIANA DE ENSEÑANZA                                                                         20
ACADEMIA COMERCIAL REAL                                                                                  18
ACADEMIA DE CIENCIAS DE COLOMBIA AKADEMOS                                                                19
ACADEMIA MILIT CORONEL MIGUEL CABAL BARONA                                                               13
ACADEMIA MILITAR GENERAL CUSTODIO GARCIA ROVIRA                                                          21
ACADEMIA MILITAR GENERAL JOSÉ MARÍA CABAL                                                                32
AGRICOLA CAMPOALEGRE                                                                                     36
                                                                                                       ...
SEDE PRINCIPAL AGUACLARA                                                                                 83
SEDE PRINCIPAL CONCENTRACIÓN DE DESARROLLO RURAL                                                         30
SEDE PRINCIPAL GIMNASIO DEL PACIFICO CENTRAL                                                            368
SEDE PRINCIPAL INSTITUTO JULIA RESTREPO                                                                 286
SEDE PRINCIPAL INSTITUTO TEC.  INDUSTRIAL C.S.L.                                                        191
SEDE PRINCIPAL LA GRACIELA                                                                               79
SEDE PRINCIPAL LICEO MODERNO                                                                            178
SEDE PRINCIPAL NO. 7 MARIA ANTONIA RUIZ                                                                  35
SEDE PRINCIPAL UNIDAD DOCENTE JOVITA SANTA COLOMA                                                        79
SEM DE CRISTO SACERDOTE                                                                                  40
SEMILLA DE LA ESPERANZA                                                                                  18
SEMINARIO MENOR ARQUIDIOCESANO                                                                           57
SERVICIO EDUCATIVO NAL DE ADULTOS SENDAS                                                                110
SEVILLA                                                                                                 194
SIMON BOLIVAR                                                                                           198
SIMON RODRIGUEZ                                                                                          60
SIXTO MARIA ROJAS                                                                                        47
SOC ESCUELA KARL C PARRISH                                                                               41
SOR MARIA JULIANA                                                                                       132
STUDIO SISTEMAS AGENCIA CRISTIANA DE SERVICIO Y EDUCACION                                               113
SUSANA LOPEZ DE VALENCIA                                                                                 35
TABLONES                                                                                                 32
TECNOLÓGICO EN INFORMATICA Y COMERCIO DE BUENAVENTURA INCOMEB                                            22
TERESA CALDERÓN DE LASSO                                                                                 31
TÉCNICO INDUSTRIAL GERARDO VALENCIA CANO - SEDE PRINCIPAL                                               210
UNIDAD TECNOLOGICA DE OCCIDENTE                                                                           8
UNIDAD TECNOLOGICA DEL SUR                                                                                4
UNION PROFESIONAL PARA LA EDUCACION Y EL TRABAJO UPET                                                    16
UNIVERSIDAD NACIONAL ABIERTA Y A DISTANCIA                                                               15
XINSTITUTO TECNICO COMERCIAL PILOTO                                                                       7
Name: COLE_NOMBRE_SEDE, Length: 1546, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [57]:
data_2007 = data_2007.drop([c], axis = 1)

In [58]:
c = 'COLE_CALENDARIO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['A', 'B', 'F'], dtype='object')
A    42148
B    13125
F    13686
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [59]:
c = 'COLE_GENERO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4434
M     1137
X    63388
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [60]:
c = 'COLE_NATURALEZA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['N', 'O'], dtype='object')
N    29131
O    39828
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [61]:
c = 'COLE_BILINGUE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    61584
1.0     4134
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 3241
__________________
Elementos diferentes de null/NaN: 65718
__________________
(65718,)
None

In [62]:
Do_resamples(data_2007, 'COLE_BILINGUE', float)

cant null antes: 3241
cant null despues: 0

In [63]:
c = 'COLE_JORNADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    10311
MAÑANA                  41805
NOCHE                    6304
SABATINA - DOMINICAL     2714
TARDE                    7825
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [64]:
c = 'COLE_CARACTER'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              35586
ACADEMICO Y TECNICO    12058
NORMALISTA              1438
TECNICO                19877
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [65]:
c = 'ESTU_ETNIA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 99.0],
             dtype='float64')
1.0     3141
2.0       19
3.0       98
4.0        5
5.0        4
6.0        4
7.0        8
8.0        6
9.0       20
10.0       6
11.0    1033
12.0       8
13.0      21
14.0       9
15.0       3
16.0       3
99.0    1569
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 63002
__________________
Elementos diferentes de null/NaN: 5957
__________________
(5957,)
None

In [67]:
data_2007['ESTU_ETNIA'].fillna(99, inplace=True)

In [68]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0      8
1.0    931
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 68020
__________________
Elementos diferentes de null/NaN: 939
__________________
(939,)
None

In [69]:
data_2007 = data_2007.drop([c], axis=1)

In [70]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     13
1.0    926
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 68020
__________________
Elementos diferentes de null/NaN: 939
__________________
(939,)
None

In [71]:
data_2007 = data_2007.drop([c], axis=1)

In [72]:
c = 'FAMI_EDUCA_PADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  9.0, 10.0, 11.0, 12.0, 13.0,
              14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0     119
1.0       3
2.0       8
3.0       9
4.0       8
5.0       2
9.0     508
10.0    420
11.0    345
12.0    683
13.0     53
14.0    150
15.0     95
16.0    682
17.0    410
99.0     72
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [73]:
Do_resamples(data_2007, c, float)

cant null antes: 65392
cant null despues: 0

In [74]:
c = 'FAMI_EDUCA_MADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      60
1.0       4
2.0      13
3.0       7
4.0       1
5.0       3
7.0       2
9.0     490
10.0    419
11.0    412
12.0    721
13.0     75
14.0    203
15.0    109
16.0    697
17.0    301
99.0     50
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [75]:
Do_resamples(data_2007, c, float)

cant null antes: 65392
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [76]:
c = 'FAMI_OCUPA_PADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 6.0,  7.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0,
              18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 99.0],
             dtype='float64')
6.0       1
7.0       2
9.0      19
10.0      1
11.0      6
12.0      4
13.0    284
14.0    357
15.0    163
16.0    163
17.0    203
18.0     82
19.0    385
20.0    295
21.0    839
22.0     47
23.0    212
24.0      3
25.0      3
26.0    414
99.0     84
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [77]:
Do_resamples(data_2007, c, float)

cant null antes: 65392
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [78]:
c = 'FAMI_OCUPA_MADRE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 6.0,  7.0,  8.0,  9.0, 10.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0,
              18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 99.0],
             dtype='float64')
6.0        1
7.0        1
8.0        1
9.0        5
10.0      24
12.0       1
13.0     128
14.0     208
15.0     103
16.0     184
17.0     189
18.0     109
19.0     194
20.0     187
21.0     364
22.0    1494
23.0     114
24.0       1
25.0       4
26.0     224
99.0      31
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [79]:
Do_resamples(data_2007, c, float)

cant null antes: 65392
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [80]:
c = 'FAMI_NUM_HERMANOS'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0.0     139
1.0     352
2.0     242
3.0     115
4.0      59
5.0      21
6.0      19
7.0       3
8.0       3
9.0       1
10.0      1
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 68004
__________________
Elementos diferentes de null/NaN: 955
__________________
(955,)
None

In [81]:
Do_resamples(data_2007, c, float)

cant null antes: 68004
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [82]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1.0      30
2.0      63
3.0     116
4.0     252
5.0      35
6.0      69
7.0     115
8.0     110
9.0      11
88.0    398
99.0     31
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 67729
__________________
Elementos diferentes de null/NaN: 1230
__________________
(1230,)
None

In [83]:
Do_resamples(data_2007, c, float)

cant null antes: 67729
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [84]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1.0     449
2.0      42
88.0    325
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 68143
__________________
Elementos diferentes de null/NaN: 816
__________________
(816,)
None

In [85]:
Do_resamples(data_2007, c, float)

cant null antes: 68143
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [86]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1.0    770
2.0    960
3.0    750
4.0    351
5.0    302
6.0    420
8.0     14
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [87]:
data_2007[c] = data_2007[c].replace(8.0, np.nan)

In [88]:
Do_resamples(data_2007, c, float)

cant null antes: 65406
cant null despues: 0

In [89]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     919
2.0     551
3.0     116
4.0      61
5.0    1920
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [90]:
Do_resamples(data_2007, c, float)

cant null antes: 65392
cant null despues: 0

In [113]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      102
2.0      292
3.0      753
4.0     1081
5.0      740
6.0      302
7.0      137
8.0       80
9.0       34
10.0      24
11.0       6
12.0      15
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 65393
__________________
Elementos diferentes de null/NaN: 3566
__________________
(3566,)
None

In [114]:
Do_resamples(data_2007, c, float)

cant null antes: 65393
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [115]:
c = 'FAMI_PISOSHOGAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0      91
2.0    1030
3.0     226
4.0    1501
5.0     719
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [116]:
Do_resamples(data_2007, c, float)

cant null antes: 65392
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [117]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      24
2.0     132
3.0     340
4.0     383
5.0     316
6.0     165
7.0      62
8.0      32
9.0      16
10.0     15
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 67474
__________________
Elementos diferentes de null/NaN: 1485
__________________
(1485,)
None

In [118]:
Do_resamples(data_2007, c, float)

cant null antes: 67474
cant null despues: 0

In [119]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0], dtype='float64')
1.0      193
2.0     1024
3.0     1524
4.0      585
5.0      155
6.0       41
7.0       17
8.0        3
10.0       4
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 65413
__________________
Elementos diferentes de null/NaN: 3546
__________________
(3546,)
None

In [120]:
Do_resamples(data_2007, c, float)

cant null antes: 65413
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [121]:
c = 'FAMI_COMPUTADOR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0.0    1070
1.0      56
2.0      43
3.0    2367
4.0      31
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [122]:
Do_resamples(data_2007, c, float)

cant null antes: 65392
cant null despues: 0

In [124]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0     582
2.0    1250
3.0     544
4.0     406
5.0     172
6.0     187
7.0     426
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 65392
__________________
Elementos diferentes de null/NaN: 3567
__________________
(3567,)
None

In [125]:
Do_resamples(data_2007, c, float)

cant null antes: 65392
cant null despues: 0

In [126]:
c = 'ESTU_TRABAJA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    2139
1.0      66
2.0      30
3.0     364
4.0     196
5.0     303
6.0       1
7.0       5
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 65855
__________________
Elementos diferentes de null/NaN: 3104
__________________
(3104,)
None

In [127]:
Do_resamples(data_2007, c, float)

cant null antes: 65855
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [128]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0.0       2
1.0       3
2.0       8
3.0       5
4.0      19
5.0      19
6.0      27
7.0      10
8.0      82
9.0      13
10.0     38
11.0      5
12.0     21
13.0      8
14.0     10
15.0     18
16.0     20
17.0      2
18.0     15
19.0     10
20.0    621
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 68003
__________________
Elementos diferentes de null/NaN: 956
__________________
(956,)
None

In [129]:
Do_resamples(data_2007, c, float)

cant null antes: 68003
cant null despues: 0

In [130]:
c = 'COLE_VALOR_PENSION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0.0     35844
1.0      7632
2.0      5522
3.0      4661
4.0      3784
5.0      3057
6.0      2654
7.0      5667
8.0        85
9.0         7
10.0        6
11.0       10
12.0        7
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 23
__________________
Elementos diferentes de null/NaN: 68936
__________________
(68936,)
None

In [131]:
Do_resamples(data_2007, c, float)

cant null antes: 23
cant null despues: 0

In [132]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0.0    1
1.0    1
3.0    9
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 68948
__________________
Elementos diferentes de null/NaN: 11
__________________
(11,)
None

In [133]:
data_2007 = data_2007.drop([c], axis=1)

In [134]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([9.0, 27.0, 45.0, 57.0], dtype='float64')
9.0     3
27.0    1
45.0    4
57.0    2
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 68949
__________________
Elementos diferentes de null/NaN: 10
__________________
(10,)
None

In [135]:
data_2007 = data_2007.drop([c], axis=1)

In [137]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1107.0, 1108.0,
              1109.0, 1110.0,
              ...
              9104.0, 9105.0, 9107.0, 9109.0, 9110.0, 9111.0, 9112.0, 9113.0,
              9114.0, 9115.0],
             dtype='float64', length=300)
1101.0     2063
1102.0      131
1103.0      150
1104.0      508
1105.0       90
1106.0       35
1107.0       11
1108.0        7
1109.0        3
1110.0      948
1111.0      575
1112.0      249
1113.0       31
1114.0      107
1115.0       22
1117.0       57
1119.0       98
1120.0        3
1121.0        6
1122.0      293
1124.0        2
1125.0        1
1201.0      621
1202.0       45
1203.0    16955
1204.0      155
1205.0       36
1206.0     5719
1207.0       69
1208.0      266
          ...
4813.0       14
4814.0       38
4817.0       11
4818.0        6
4822.0       12
4823.0       13
4825.0        8
4826.0        9
4827.0       19
4828.0       51
4829.0        2
4832.0        4
4835.0       11
4837.0        4
4838.0       14
5801.0        6
5802.0        6
9101.0      138
9102.0       25
9103.0      210
9104.0      156
9105.0       39
9107.0        9
9109.0        1
9110.0      350
9111.0      892
9112.0       65
9113.0        5
9114.0       13
9115.0      255
Name: ESTU_IES_COD_DESEADA, Length: 300, dtype: int64
Elementos null/NaN 24352
__________________
Elementos diferentes de null/NaN: 44607
__________________
(44607,)
None

In [138]:
data_2007[c].fillna(method='bfill', inplace=True)
data_2007[c].fillna(method='ffill', inplace=True)

In [142]:
c = 'ESTU_IES_COD_MPIO_DESEADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

KeyError: 'ESTU_IES_COD_MPIO_DESEADA'

In [106]:
data_2007 = data_2007.drop([c], axis = 1)

In [145]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA',
       'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.', 'BUCARAMANGA', 'BUENAVENTURA',
       'BUGA', 'CALDAS', 'CALI', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'CUCUTA', 'DUITAMA',
       'ENVIGADO', 'ESPINAL', 'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'HONDA',
       'IBAGUE', 'LETICIA', 'MADRID', 'MANIZALES', 'MEDELLIN', 'MONTERIA',
       'MOSQUERA', 'NEIVA', 'NILO', 'PALMIRA', 'PAMPLONA', 'PASTO',
       'PENSILVANIA', 'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'RIOHACHA',
       'RIONEGRO', 'ROLDANILLO', 'SAN ANDRES', 'SAN GIL', 'SAN JUAN DEL CESAR',
       'SANTA MARTA', 'SANTA ROSA DE CABAL', 'SANTA ROSA DE OSOS', 'SEVILLA',
       'SIBUNDOY', 'SOGAMOSO', 'TOLU', 'TULUA', 'TUNJA', 'TURBO', 'UBATE',
       'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
ANDES                      6
APARTADO                   1
ARAUCA                     2
ARMENIA                  329
BARRANCABERMEJA            2
BARRANQUILLA             371
BELLO                      6
BOGOTÁ D.C.             7761
BUCARAMANGA              269
BUENAVENTURA             293
BUGA                     282
CALDAS                     4
CALI                   22606
CARTAGENA                148
CARTAGO                   75
CAUCASIA                   3
CERETE                     1
CHIA                     180
CHIQUINQUIRA               3
CIENAGA                    1
COPACABANA                 1
CUCUTA                    64
DUITAMA                   11
ENVIGADO                   3
ESPINAL                    4
FLORENCIA                 22
FUSAGASUGA                25
GIRARDOT                  21
HONDA                      7
IBAGUE                    95
                       ...
MOSQUERA                   5
NEIVA                    111
NILO                      97
PALMIRA                  584
PAMPLONA                  16
PASTO                   6215
PENSILVANIA               16
PEREIRA                  792
POPAYAN                 1032
PUERTO BERRIO              1
RIOHACHA                   8
RIONEGRO                  14
ROLDANILLO                60
SAN ANDRES                 3
SAN GIL                    1
SAN JUAN DEL CESAR         1
SANTA MARTA               14
SANTA ROSA DE CABAL       14
SANTA ROSA DE OSOS         2
SEVILLA                    1
SIBUNDOY                   1
SOGAMOSO                   7
TOLU                       4
TULUA                    715
TUNJA                     54
TURBO                     10
UBATE                     14
VALLEDUPAR                 3
VILLAVICENCIO             99
YOPAL                      4
Name: ESTU_IES_MPIO_DESEADA, Length: 65, dtype: int64
Elementos null/NaN 24352
__________________
Elementos diferentes de null/NaN: 44607
__________________
(44607,)
None

In [146]:
data_2007[c].fillna(method='bfill', inplace=True)
data_2007[c].fillna(method='ffill', inplace=True)

In [148]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           1498
ARAUCA                 2
ATLÁNTICO            371
BOGOTÁ              7761
BOLÍVAR              148
BOYACÁ                75
CALDAS               619
CAQUETÁ               22
CASANARE               4
CAUCA               1032
CESAR                  3
CUNDINAMARCA         367
CÓRDOBA               38
HUILA                111
LA GUAJIRA             9
MAGDALENA             15
META                  99
NARIÑO              6215
NORTE SANTANDER       80
PUTUMAYO               1
QUINDÍO              329
RISARALDA            806
SAN ANDRÉS             3
SANTANDER            272
SUCRE                  4
TOLIMA               106
VALLE              24616
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 24352
__________________
Elementos diferentes de null/NaN: 44607
__________________
(44607,)
None

In [149]:
data_2007[c].fillna(method='bfill', inplace=True)
data_2007[c].fillna(method='ffill', inplace=True)

In [150]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     1332
2.0     7113
3.0    24825
4.0     5462
5.0     3978
6.0     2494
7.0     2619
8.0     3124
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 18012
__________________
Elementos diferentes de null/NaN: 50947
__________________
(50947,)
None

In [151]:
Do_resamples(data_2007, c, float)

cant null antes: 18012
cant null despues: 0

In [152]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([    1.0,     5.0,     7.0,    63.0,    64.0,    68.0,    86.0,
                103.0,   105.0,   106.0,
              ...
              22441.0, 22546.0, 22581.0, 22764.0, 22773.0, 22839.0, 22967.0,
              22973.0, 22996.0, 24642.0],
             dtype='float64', length=2677)
1.0         1
5.0         6
7.0         8
63.0        3
64.0        1
68.0       17
86.0        1
103.0       4
105.0       1
106.0       1
107.0       1
108.0       4
116.0      62
117.0       2
120.0       6
128.0       6
129.0      11
130.0       3
131.0       4
133.0       1
142.0       7
143.0       3
152.0      28
160.0       1
161.0       1
163.0       1
164.0       1
165.0       1
166.0       1
170.0      16
           ..
21987.0     1
21989.0     1
21990.0     1
21991.0     1
21992.0     4
21996.0     1
22003.0     5
22043.0    30
22044.0     9
22045.0     2
22046.0    14
22047.0    46
22048.0     5
22049.0    14
22050.0    15
22051.0    26
22052.0    36
22053.0    15
22054.0    10
22055.0     2
22441.0     1
22546.0     1
22581.0     1
22764.0     3
22773.0     1
22839.0     3
22967.0     2
22973.0     2
22996.0     1
24642.0    18
Name: ESTU_CARRDESEADA_COD, Length: 2677, dtype: int64
Elementos null/NaN 25673
__________________
Elementos diferentes de null/NaN: 43286
__________________
(43286,)
None

In [153]:
Do_resamples(data_2007, c, float)

cant null antes: 25673
cant null despues: 0

In [154]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1.0    15898
2.0    17857
3.0     8932
4.0     4503
5.0     3226
6.0     1225
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 17318
__________________
Elementos diferentes de null/NaN: 51641
__________________
(51641,)
None

In [155]:
Do_resamples(data_2007, c, float)

cant null antes: 17318
cant null despues: 1
cant null antes: 1
cant null despues: 0

## TARGETS

In [157]:
c = 'PUNT_LENGUAJE'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '17,12', '25,02', '29,97', '33,71', '36,8', '39,5', '41,93',
       '44,18', '46,31', '48,36', '50,35', '52,33', '54,31', '56,32', '58,39',
       '60,55', '62,85', '65,33', '68,09', '71,26', '75,08', '80,12'],
      dtype='object')
-1          8
0           4
17,12      32
25,02      94
29,97     356
33,71     856
36,8     1900
39,5     3052
41,93    4538
44,18    5765
46,31    6976
48,36    7651
50,35    7745
52,33    7464
54,31    6997
56,32    5534
58,39    4224
60,55    2851
62,85    1618
65,33     784
68,09     361
71,26     117
75,08      29
80,12       3
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [158]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))
        
data_2007[c] = data_2007[c].replace(-1, np.mean(data_2007[c]))

In [160]:
c = 'PUNT_MATEMATICAS'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '100,93', '11,3', '117,16', '22,06', '28,76', '33,72',
       '37,74', '41,17', '44,22', '47,01', '49,62', '52,1', '54,52', '56,89',
       '59,27', '61,68', '64,15', '66,75', '69,51', '72,51', '75,87', '79,77',
       '84,52', '90,85'],
      dtype='object')
-1           5
0           20
100,93      35
11,3       153
117,16      10
22,06      772
28,76     2246
33,72     4898
37,74     7714
41,17     9859
44,22     9921
47,01     8843
49,62     6901
52,1      4903
54,52     3429
56,89     2450
59,27     1770
61,68     1340
64,15     1021
66,75      814
69,51      638
72,51      479
75,87      316
79,77      205
84,52      138
90,85       79
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [161]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))
        
        
data_2007[c] = data_2007[c].replace(-1, np.mean(data_2007[c]))

In [162]:
c = 'PUNT_C_SOCIALES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '1,17', '10,49', '16,27', '20,62', '24,18', '27,26', '30',
       '32,5', '34,83', '37,03', '39,13', '41,15', '43,12', '45,06', '46,98',
       '48,89', '50,82', '52,77', '54,76', '56,83', '58,98', '61,25', '63,7',
       '66,37', '69,36', '72,84', '77,09', '82,77', '91,97'],
      dtype='object')
-1          4
0           2
1,17        4
10,49      25
16,27      70
20,62     192
24,18     470
27,26     907
30       1438
32,5     2278
34,83    3201
37,03    3960
39,13    4891
41,15    5319
43,12    5761
45,06    5985
46,98    5861
48,89    5763
50,82    5305
52,77    4663
54,76    3875
56,83    3196
58,98    2355
61,25    1638
63,7      943
66,37     525
69,36     231
72,84      70
77,09      16
82,77      10
91,97       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [163]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))
        
data_2007[c] = data_2007[c].replace(-1, np.mean(data_2007[c]))

In [164]:
c = 'PUNT_FILOSOFIA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '10,39', '19,44', '25,1', '29,38', '32,93', '36,02', '38,82',
       '41,41', '43,87', '46,23', '48,54', '50,82', '53,1', '55,42', '57,8',
       '60,28', '62,91', '65,75', '68,9', '72,5', '76,85'],
      dtype='object')
-1         48
0          23
10,39      70
19,44     308
25,1     1005
29,38    2372
32,93    4116
36,02    6247
38,82    8123
41,41    9159
43,87    9378
46,23    8440
48,54    6897
50,82    5221
53,1     3465
55,42    2087
57,8     1086
60,28     539
62,91     257
65,75      89
68,9       25
72,5        2
76,85       2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [165]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))
        
data_2007[c] = data_2007[c].replace(-1, np.mean(data_2007[c]))

In [166]:
c = 'PUNT_BIOLOGIA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['0', '19,32', '26,84', '31,5', '35', '37,88', '40,38', '42,62', '44,69',
       '46,64', '48,51', '50,32', '52,12', '53,91', '55,73', '57,59', '59,54',
       '61,6', '63,84', '66,32', '69,19', '72,68', '77,33', '84,83', '97,26'],
      dtype='object')
0          20
19,32     123
26,84     581
31,5     1548
35       3230
37,88    5161
40,38    7121
42,62    8439
44,69    8538
46,64    8204
48,51    6910
50,32    5563
52,12    4202
53,91    3133
55,73    2115
57,59    1514
59,54    1070
61,6      672
63,84     389
66,32     233
69,19     123
72,68      47
77,33      19
84,83       3
97,26       1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [167]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [168]:
c = 'PUNT_QUIMICA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['0', '17,7', '24,52', '28,75', '31,92', '34,53', '36,78', '38,8',
       '40,66', '42,4', '44,07', '45,7', '47,3', '48,89', '50,51', '52,17',
       '53,9', '55,73', '57,72', '59,94', '62,49', '65,61', '69,76', '76,48',
       '87,65'],
      dtype='object')
0           8
17,7       80
24,52     353
28,75    1118
31,92    2601
34,53    4906
36,78    7044
38,8     8973
40,66    9095
42,4     8621
44,07    6927
45,7     5322
47,3     3877
48,89    2909
50,51    2055
52,17    1518
53,9     1184
55,73     894
57,72     653
59,94     455
62,49     226
65,61     106
69,76      30
76,48       2
87,65       2
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [169]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [170]:
c = 'PUNT_FISICA'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['0', '13,6', '23,28', '29,28', '33,79', '37,5', '40,72', '43,61',
       '46,28', '48,79', '51,2', '53,55', '55,86', '58,17', '60,52', '62,93',
       '65,44', '68,1', '70,98', '74,19', '77,89', '82,38', '88,36'],
      dtype='object')
0           23
13,6       124
23,28      745
29,28     2386
33,79     5181
37,5      8925
40,72    11605
43,61    12269
46,28    10369
48,79     7581
51,2      4622
53,55     2626
55,86     1335
58,17      597
60,52      287
62,93      153
65,44       70
68,1        24
70,98       27
74,19        5
77,89        3
82,38        1
88,36        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [171]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))

In [172]:
c = 'PUNT_INGLES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '14,87', '22,51', '27,27', '30,86', '33,81', '36,37',
       '38,66', '40,78', '42,76', '44,66', '46,51', '48,32', '50,13', '51,96',
       '53,84', '55,79', '57,85', '60,09', '62,57', '65,44', '68,92', '73,55',
       '81,04', '93,46'],
      dtype='object')
-1         19
0          12
14,87      91
22,51     433
27,27    1273
30,86    2756
33,81    4721
36,37    6535
38,66    7859
40,78    7968
42,76    7607
44,66    6195
46,51    4900
48,32    3773
50,13    2739
51,96    2144
53,84    1689
55,79    1417
57,85    1266
60,09    1306
62,57    1310
65,44    1234
68,92     937
73,55     545
81,04     192
93,46      38
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [173]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))
        
data_2007[c] = data_2007[c].replace(-1, np.mean(data_2007[c]))

In [174]:
c = 'DESEMP_INGLES'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([-1.0], dtype='float64')
-1.0    19
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 68940
__________________
Elementos diferentes de null/NaN: 19
__________________
(19,)
None

In [175]:
data_2007 = data_2007.drop([c], axis=1)

In [176]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             21666
PROFUNDIZACIÓN EN CIENCIAS SOCIALES    10591
PROFUNDIZACIÓN EN LENGUAJE             25476
PROFUNDIZACIÓN EN MATEMÁTICA           11226
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [177]:
c = 'PUNT_PROFUNDIZACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '10', '2,23', '2,54', '2,73', '3,08', '3,13', '3,37', '3,57',
       '3,7', '3,87', '3,92', '4,1', '4,15', '4,34', '4,38', '4,52', '4,54',
       '4,71', '4,78', '4,89', '5,05', '5,13', '5,21', '5,22', '5,38', '5,44',
       '5,53', '5,55', '5,7', '5,74', '5,83', '5,88', '6,03', '6,04', '6,15',
       '6,24', '6,34', '6,37', '6,48', '6,62', '6,65', '6,76', '6,84', '7',
       '7,08', '7,21', '7,27', '7,41', '7,65', '7,78', '7,81', '7,92', '8,55',
       '8,65', '8,73'],
      dtype='object')
-1      1863
0        292
10        11
2,23     533
2,54     190
2,73     315
3,08     372
3,13    1352
3,37     546
3,57     889
3,7     2462
3,87     994
3,92    1001
4,1     1720
4,15    3417
4,34    1430
4,38    1737
4,52    2655
4,54    3578
4,71    1707
4,78    2171
4,89    6454
5,05    1636
5,13    2106
5,21    3472
5,22    2717
5,38    1452
5,44    1543
5,53    3150
5,55    2238
5,7     1097
5,74     951
5,83    2472
5,88    1732
6,03     688
6,04     586
6,15    1666
6,24    1230
6,34     313
6,37     399
6,48    1000
6,62     730
6,65     126
6,76     208
6,84     542
7         78
7,08     399
7,21      81
7,27     223
7,41      50
7,65     170
7,78      25
7,81      71
7,92      30
8,55      53
8,65      21
8,73      15
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [178]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))
        
data_2007[c] = data_2007[c].replace(-1, np.mean(data_2007[c]))

In [179]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1      1863
GB     31833
I      27263
II      7172
III      828
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [180]:
data_2007[c] = data_2007[c].replace('-1', np.nan)
data_2007[c].fillna(method='bfill', inplace=True)

In [181]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          35241
VIOLENCIA Y SOCIEDAD    33718
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [182]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Index(['-1', '0', '11,14', '21,62', '28,47', '33,81', '38,38', '42,52',
       '42,54', '45,5', '46,46', '47,41', '48,9', '50,19', '50,38', '51,37',
       '52,5', '53,62', '54,42', '54,77', '55,99', '57,35', '58,78', '58,95',
       '60,99', '63,78', '64,13', '70,05', '79,56', '94,45'],
      dtype='object')
-1         23
0         129
11,14     260
21,62     907
28,47    2139
33,81    3795
38,38    5182
42,52    5722
42,54     500
45,5     1564
46,46    5400
47,41    3318
48,9     4768
50,19    5704
50,38    4365
51,37    5990
52,5     5156
53,62    3871
54,42    3046
54,77    2401
55,99    1201
57,35     467
58,78    1766
58,95     166
60,99      30
63,78     794
64,13       5
70,05     252
79,56      31
94,45       7
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 68959
__________________
(68959,)
None

In [183]:
for i in data_2007[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007[c] = data_2007[c].replace(i, i.replace(',', '.'))

for i in data_2007[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007[c] = data_2007[c].replace(i, float(i))
        
data_2007[c] = data_2007[c].replace(-1, np.mean(data_2007[c]))

In [184]:
c = 'ESTU_PUESTO'
print(data_2007[c].value_counts().sort_index().index)
print(data_2007[c].value_counts().sort_index())
print(missing_data(data_2007[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,
              ...
              962.0, 963.0, 964.0, 965.0, 966.0, 967.0, 968.0, 969.0, 970.0,
              971.0],
             dtype='float64', length=971)
1.0      95
2.0      82
3.0      93
4.0      87
5.0      88
6.0      91
7.0      75
8.0      89
9.0      84
10.0     77
11.0     77
12.0     86
13.0     74
14.0     94
15.0     93
16.0     77
17.0     70
18.0     72
19.0     74
20.0     79
21.0     72
22.0     78
23.0     68
24.0     71
25.0     79
26.0     85
27.0     65
28.0     69
29.0     76
30.0     72
         ..
942.0    89
943.0    85
944.0    98
945.0    85
946.0    81
947.0    83
948.0    77
949.0    81
950.0    81
951.0    90
952.0    89
953.0    92
954.0    81
955.0    80
956.0    87
957.0    89
958.0    76
959.0    86
960.0    89
961.0    86
962.0    85
963.0    96
964.0    78
965.0    93
966.0    87
967.0    87
968.0    88
969.0    87
970.0    68
971.0     3
Name: ESTU_PUESTO, Length: 971, dtype: int64
Elementos null/NaN 81
__________________
Elementos diferentes de null/NaN: 68878
__________________
(68878,)
None

In [186]:
data_2007[c].fillna(method='bfill', inplace=True)
data_2007[c].fillna(method='ffill', inplace=True)

___

___

___

# Now the other file... 2007_2

In [3]:
data_2007_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20072-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/home/aronf/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (30) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data_2007_2.shape

(444713, 84)

In [5]:
data_2007_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120072000001,SABER1120072000002,SABER1120072000003
PERIODO,20072,20072,20072
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,F
ESTU_NACIMIENTO_DIA,30,13,23
ESTU_NACIMIENTO_MES,12,6,10
ESTU_NACIMIENTO_ANNO,1990,1991,1990
ESTU_EDAD,16,16,16
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,66001,5615,66001
ESTU_RESIDE_MCPIO,PEREIRA,RIONEGRO,PEREIRA
ESTU_RESIDE_DEPTO,RISARALDA,ANTIOQUIA,RISARALDA
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,NaN,NaN,NaN
ESTU_COD_MCPIO_PRESENTACION,66001,5615,66001
ESTU_MCPIO_PRESENTACION,PEREIRA,RIONEGRO,PEREIRA
ESTU_DEPTO_PRESENTACION,RISARALDA,ANTIOQUIA,RISARALDA
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO 2007-2,EXAMEN DE ESTADO 2007-2,EXAMEN DE ESTADO 2007-2
IND_ESTUDIO_BACHILLERATO,1,1,1
IND_ANNO_TERMINO_BACHILLERATO,2007,2007,2007
IND_TERMINO_BACHILLERATO,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,13318,101964,13318
COLE_COD_ICFES,13318,101964,13318
...,...,...,...
FAMI_COMPUTADOR,NaN,NaN,NaN
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
COLE_VALOR_PENSION,0,4,0
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_CARRDESEADA_NUCLEO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,1111,9103,1111
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD TECNOLOGICA DE PEREIRA,ESCUELA MILITAR DE AVIACION,UNIVERSIDAD TECNOLOGICA DE PEREIRA
ESTU_IES_COD_MPIO_DESEADA,66001,76001,66001
ESTU_IES_MPIO_DESEADA,PEREIRA,CALI,PEREIRA
ESTU_IES_DEPT_DESEADA,RISARALDA,VALLE,RISARALDA
ESTU_RAZONINSTITUTO,3,3,3
ESTU_CARRDESEADA_COD,16985,8188,14477
ESTU_CARRDESEADA_RAZON,1,2,1
PUNT_LENGUAJE,"45,01","53,22","45,01"
PUNT_MATEMATICAS,"40,82","53,2","44,48"
PUNT_C_SOCIALES,"46,81","50,42","44,96"
PUNT_FILOSOFIA,"48,41","43,59","35,44"
PUNT_BIOLOGIA,"45,64","58,09","53,95"
PUNT_QUIMICA,"47,22","50,66","47,22"
PUNT_FISICA,"38,57","51,73","41,52"
PUNT_INGLES,"36,71","69,48","45,98"
DESEMP_INGLES,A-,B1,A1
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,PROFUNDIZACIÓN EN MATEMÁTICA,PROFUNDIZACIÓN EN BIOLOGÍA
PUNT_PROFUNDIZACION,"5,31","4,83","5,88"
DESEMP_PROFUNDIZACION,I,I,I
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,MEDIO AMBIENTE
PUNT_INTERDISCIPLINAR,"52,46","42,54","60,63"
ESTU_PUESTO,474,53,378

In [6]:
data_2007_2 = data_2007_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'ESTU_COD_MCPIO_PRESENTACION', 'COLE_NOMBRE_SEDE', 'ESTU_IES_DESEADA_NOMBRE',
                               'ESTU_IES_COD_MPIO_DESEADA'], axis = 1)

In [7]:
c = 'ESTU_PAIS_RESIDE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AR', 'BO', 'BR', 'CA', 'CH', 'CL', 'CO', 'CU', 'EC', 'ES', 'IT', 'KR',
       'MX', 'PA', 'PE', 'US', 'VE'],
      dtype='object')
AR         4
BO         2
BR         4
CA         2
CH         1
CL         2
CO    444455
CU         1
EC         4
ES         1
IT         2
KR         1
MX         1
PA         1
PE         4
US        14
VE        19
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 195
__________________
Elementos diferentes de null/NaN: 444518
__________________
(444518,)
None

In [8]:
Do_resamples(data_2007_2, c, str)

cant null antes: 195
cant null despues: 0

In [9]:
c = 'ESTU_GENERO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['F', 'M'], dtype='object')
F    240489
M    204049
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 175
__________________
Elementos diferentes de null/NaN: 444538
__________________
(444538,)
None

In [10]:
Do_resamples(data_2007_2, c, str)

cant null antes: 175
cant null despues: 0

In [11]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1.0     14943
2.0     14665
3.0     14596
4.0     14614
5.0     14659
6.0     14549
7.0     14615
8.0     14487
9.0     14417
10.0    15328
11.0    14731
12.0    14709
13.0    14288
14.0    14328
15.0    14936
16.0    14651
17.0    14479
18.0    14603
19.0    14416
20.0    15178
21.0    14419
22.0    14588
23.0    14336
24.0    14763
25.0    14307
26.0    14387
27.0    14582
28.0    14975
29.0    13408
30.0    13270
31.0     8091
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 395
__________________
Elementos diferentes de null/NaN: 444318
__________________
(444318,)
None

In [12]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0     36143
2.0     32548
3.0     36461
4.0     35236
5.0     36560
6.0     35075
7.0     37075
8.0     37498
9.0     38921
10.0    39468
11.0    36974
12.0    42359
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 395
__________________
Elementos diferentes de null/NaN: 444318
__________________
(444318,)
None

In [13]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([  14.0, 1924.0, 1930.0, 1931.0, 1932.0, 1933.0, 1934.0, 1935.0,
              1936.0, 1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0,
              1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2002.0, 2085.0, 2086.0, 2088.0, 2090.0, 2091.0],
             dtype='float64')
14.0           1
1924.0         3
1930.0        17
1931.0        15
1932.0        18
1933.0        15
1934.0        12
1935.0         6
1936.0         2
1937.0         1
1938.0         5
1939.0         5
1940.0         4
1941.0         7
1942.0         4
1943.0         8
1944.0        10
1945.0         7
1946.0        10
1947.0        16
1948.0        27
1949.0        11
1950.0        46
1951.0        34
1952.0        39
1953.0        56
1954.0        73
1955.0        64
1956.0        83
1957.0       107
           ...
1978.0       883
1979.0       978
1980.0      1250
1981.0      1338
1982.0      1550
1983.0      1875
1984.0      2448
1985.0      3840
1986.0      6912
1987.0     15454
1988.0     37815
1989.0     83119
1990.0    160461
1991.0    104431
1992.0      9111
1993.0      1124
1994.0      2431
1995.0        13
1996.0         1
1997.0         2
1998.0        21
1999.0         2
2000.0        30
2001.0        14
2002.0        17
2085.0         1
2086.0         1
2088.0         1
2090.0         2
2091.0         1
Name: ESTU_NACIMIENTO_ANNO, Length: 80, dtype: int64
Elementos null/NaN 395
__________________
Elementos diferentes de null/NaN: 444318
__________________
(444318,)
None

In [14]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)
    elif i > 1995:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)

In [15]:
anno = data_2007_2[data_2007_2[c].isnull()].index
data_2007_2 = data_2007_2.drop(anno)

In [18]:
c = 'ESTU_EDAD'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Int64Index([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
            29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45,
            46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62,
            63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77],
           dtype='int64')
12       862
13      2070
14      2101
15     27987
16    161787
17    122950
18     61512
19     26663
20     11227
21      5342
22      3210
23      2177
24      1732
25      1489
26      1285
27      1150
28       939
29       865
30       792
31       693
32       688
33       687
34       609
35       548
36       539
37       523
38       450
39       396
40       365
41       309
       ...
48       117
49       120
50        96
51        86
52        63
53        70
54        47
55        36
56        46
57        25
58        19
59        19
60        18
61        10
62         6
63        10
64         8
65         3
66         7
67         5
68         6
69         5
70         1
71         3
72         5
73        12
74        14
75        18
76        19
77        12
Name: ESTU_EDAD, Length: 66, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444221
__________________
(444221,)
None

In [19]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 444221
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [20]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [21]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 444221
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [22]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [23]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 444221
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [24]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [25]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 444221
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [26]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [27]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 444221
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [28]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [29]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 444221
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [30]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [31]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 444221
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [32]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [33]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=972)
ABEJORRAL                    154
ABREGO                       112
ABRIAQUI                      25
ACACIAS                      864
ACANDI                        50
ACEVEDO                       86
ACHI                         172
AGRADO                        81
AGUA DE DIOS                 146
AGUACHICA                    847
AGUADA                        16
AGUADAS                      229
AGUAZUL                      464
AGUSTIN CODAZZI              582
AIPE                         147
ALBAN                         62
ALBANIA                      302
ALCALA                         9
ALEJANDRIA                    24
ALGARROBO                    114
ALGECIRAS                    111
ALMAGUER                      98
ALMEIDA                       18
ALPUJARRA                     53
ALTAMIRA                      29
ALTO BAUDO (PIE DE PATO)      33
ALTOS DEL ROSARIO             48
ALVARADO                      89
AMAGA                        297
AMALFI                       194
                            ...
VILLAMARIA                   533
VILLANUEVA                   788
VILLAPINZON                  177
VILLARRICA                    56
VILLAVICENCIO               5046
VILLAVIEJA                    80
VILLETA                      369
VIOTA                        190
VIRACACHA                     33
VISTA HERMOSA                 84
VITERBO                      177
YACOPI                       104
YAGUARA                      126
YALI                          38
YARUMAL                      490
YAVARATE                      11
YOLOMBO                      178
YONDO (CASABE)                77
YOPAL                       1465
YOTOCO                         1
YUMBO                         42
ZAMBRANO                     104
ZAPATOCA                      92
ZAPAYAN                       19
ZARAGOZA                     177
ZARZAL                        15
ZETAQUIRA                    112
ZIPACON                       51
ZIPAQUIRA                   1525
ZONA BANANERA                524
Name: ESTU_RESIDE_MCPIO, Length: 972, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444221
__________________
(444221,)
None

In [34]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS             714
ANTIOQUIA          66739
ARAUCA              2424
ATLÁNTICO          27993
BOGOTÁ             93691
BOLÍVAR            22900
BOYACÁ             16374
CALDAS             10689
CAQUETÁ             3175
CASANARE            3560
CAUCA               9197
CESAR              11042
CHOCÓ               3682
CUNDINAMARCA       30638
CÓRDOBA            16222
GUAINÍA              146
GUAVIARE             494
HUILA              10079
LA GUAJIRA          6317
MAGDALENA          12536
META                8825
NARIÑO               397
NORTE SANTANDER    14961
PUTUMAYO            2054
QUINDÍO             6331
RISARALDA           9688
SAN ANDRÉS           772
SANTANDER          23868
SUCRE              10557
TOLIMA             15639
VALLE               1932
VAUPÉS               170
VICHADA              415
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444221
__________________
(444221,)
None

In [35]:
c = 'ESTU_ZONA_RESIDE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      19053
2.0       3283
3.0      11956
4.0      45395
5.0      16606
6.0       9415
7.0       9980
8.0      25971
9.0      18390
10.0    284098
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 74
__________________
Elementos diferentes de null/NaN: 444147
__________________
(444147,)
None

In [36]:
Do_resamples(data_2007_2, c, float)

cant null antes: 74
cant null despues: 0

In [37]:
c = 'ESTU_AREA_RESIDE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1.0    15244
2.0     3763
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 425214
__________________
Elementos diferentes de null/NaN: 19007
__________________
(19007,)
None

In [38]:
Do_resamples(data_2007_2, c, float)

cant null antes: 425214
cant null despues: 0

In [39]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=359)
ABEJORRAL                     158
ABREGO                        112
ACACIAS                      1083
ACANDI                         50
ACHI                          197
AGUACHICA                    1348
AGUADAS                       230
AGUAZUL                       442
AGUSTIN CODAZZI               590
AIPE                          150
ALTO BAUDO (PIE DE PATO)       32
AMAGA                         697
AMALFI                        309
ANDES                         726
ANOLAIMA                      236
ANSERMA                       680
APARTADO                     1728
ARACATACA                     366
ARAUCA                       1020
ARAUQUITA                     253
ARBELAEZ                      171
ARBOLEDAS                     101
ARBOLETES                     439
ARIGUANI (EL DIFICIL)         241
ARJONA                        718
ARMENIA                      4411
ASTREA                        213
ATRATO (YUTO)                  76
AYAPEL                        428
BAGADO                         64
                             ...
TUMACO                         56
TUNJA                        3941
TURBACO                       965
TURBO                        1214
TURMEQUE                      271
TUTA                          116
UBATE                        1115
UNGUIA                         70
URRAO                         476
VALLEDUPAR                   5738
VEGACHI                       148
VELEZ                         519
VENADILLO                     194
VENTAQUEMADA                  130
VIGIA DEL FUERTE               74
VILLA DE LEYVA                238
VILLA DEL ROSARIO             746
VILLA GUAMEZ (LA HORMIGA)     363
VILLAGARZON                   125
VILLANUEVA                    826
VILLAVICENCIO                5674
VILLETA                       883
VIOTA                         148
YARUMAL                       748
YAVARATE                       11
YOLOMBO                       235
YOPAL                        1701
ZAPATOCA                      111
ZARAGOZA                      161
ZIPAQUIRA                    2748
Name: ESTU_MCPIO_PRESENTACION, Length: 359, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444221
__________________
(444221,)
None

In [41]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS             725
ANTIOQUIA          66453
ARAUCA              2527
ATLÁNTICO          28461
BOGOTÁ             93380
BOLÍVAR            22180
BOYACÁ             17077
CALDAS             11123
CAQUETÁ             3208
CASANARE            3570
CAUCA               9331
CESAR              11221
CHOCÓ               3691
CUNDINAMARCA       29881
CÓRDOBA            16222
GUAINÍA              148
GUAVIARE             533
HUILA              10187
LA GUAJIRA          6315
MAGDALENA          12325
META                8961
NARIÑO               309
NORTE SANTANDER    15065
PUTUMAYO            2126
QUINDÍO             6379
RISARALDA           9678
SAN ANDRÉS           776
SANTANDER          24272
SUCRE              10622
TOLIMA             15186
VALLE               1696
VAUPÉS               169
VICHADA              424
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444221
__________________
(444221,)
None

In [43]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['EXAMEN DE ESTADO 2007-2'], dtype='object')
EXAMEN DE ESTADO 2007-2    444221
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444221
__________________
(444221,)
None

In [44]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [45]:
c = 'IND_ESTUDIO_BACHILLERATO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     16390
1.0    427806
Name: IND_ESTUDIO_BACHILLERATO, dtype: int64
Elementos null/NaN 25
__________________
Elementos diferentes de null/NaN: 444196
__________________
(444196,)
None

In [46]:
Do_resamples(data_2007_2, c, float)

cant null antes: 25
cant null despues: 0

In [47]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2001.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0,
              2009.0, 2010.0, 2011.0, 9999.0],
             dtype='float64')
1992.0         1
1993.0         1
1994.0         1
1995.0         1
1996.0         1
1997.0         2
1998.0         2
1999.0         1
2000.0         1
2001.0         1
2003.0         3
2004.0         1
2005.0        13
2006.0        29
2007.0    441212
2008.0      2714
2009.0       168
2010.0        24
2011.0         6
9999.0         1
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 38
__________________
Elementos diferentes de null/NaN: 444183
__________________
(444183,)
None

In [48]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)
    elif i > 2010:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)

In [49]:
Do_resamples(data_2007_2, c, float)

cant null antes: 45
cant null despues: 0

In [50]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0      1
1.0    660
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 443560
__________________
Elementos diferentes de null/NaN: 661
__________________
(661,)
None

In [51]:
data_2007_2 = data_2007_2.drop([c], axis=1)

In [52]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([     2.0,      3.0,     18.0,     59.0,     67.0,     75.0,
                  83.0,     91.0,    125.0,    141.0,
              ...
              172650.0, 172726.0, 173732.0, 173948.0, 174714.0, 175307.0,
              175315.0, 175505.0, 176354.0, 999999.0],
             dtype='float64', length=8774)
2.0            6
3.0          367
18.0          17
59.0        1109
67.0           2
75.0          72
83.0          27
91.0          92
125.0         69
141.0        104
174.0        110
190.0         71
208.0         90
216.0         43
232.0         49
240.0         59
257.0         65
265.0         10
273.0         47
281.0         77
315.0        163
349.0         31
356.0         24
364.0         62
372.0         66
380.0        135
398.0         37
406.0         26
422.0         23
430.0        105
            ...
167403.0       1
167650.0       1
167882.0       1
168344.0       3
168690.0       1
168963.0       1
168971.0       1
169102.0       1
169276.0       1
169607.0       1
169698.0       1
169748.0       1
169904.0       1
170050.0       1
170365.0       2
170472.0       1
170480.0       2
170779.0       1
171918.0       1
172064.0       1
172650.0       1
172726.0       1
173732.0       1
173948.0       1
174714.0       2
175307.0       1
175315.0       1
175505.0       1
176354.0       1
999999.0     692
Name: IND_COD_ICFES_TERMINO, Length: 8774, dtype: int64
Elementos null/NaN 867
__________________
Elementos diferentes de null/NaN: 443354
__________________
(443354,)
None

In [53]:
Do_resamples(data_2007_2, c, float)

cant null antes: 867
cant null despues: 791
cant null antes: 791
cant null despues: 715
cant null antes: 715
cant null despues: 639
cant null antes: 639
cant null despues: 563
cant null antes: 563
cant null despues: 487
cant null antes: 487
cant null despues: 411
cant null antes: 411
cant null despues: 335
cant null antes: 335
cant null despues: 259
cant null antes: 259
cant null despues: 183
cant null antes: 183
cant null despues: 107
cant null antes: 107
cant null despues: 31
cant null antes: 31
cant null despues: 0

In [54]:
c = 'COLE_COD_ICFES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Int64Index([    18,     59,     75,     83,     91,    125,    141,    174,
               190,    208,
            ...
            135525, 135533, 135541, 135566, 135574, 135590, 135616, 135640,
            135673, 135707],
           dtype='int64', length=8357)
18          17
59        1115
75          72
83          27
91          92
125         69
141        104
174        109
190         72
208         91
216         43
232         50
240         61
257         66
265         11
273         47
281         78
315        163
349         31
356         24
364         62
372         67
380        135
398         37
406         26
422         23
430        105
448         27
455        101
463        157
          ...
135269      11
135277      18
135293      12
135301      18
135319      31
135327      26
135335       8
135350       8
135376      20
135418      22
135426      14
135434      43
135442       8
135459      53
135467      15
135475      17
135483      14
135491      31
135509      12
135517      13
135525      29
135533      10
135541       5
135566       7
135574       4
135590      10
135616      31
135640      14
135673       9
135707       3
Name: COLE_COD_ICFES, Length: 8357, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 444221
__________________
(444221,)
None

In [55]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2007_2[c] = data_2007_2[c].replace(i, np.nan)

In [56]:
idx = data_2007_2[data_2007_2[c].isnull()].index
data_2007_2 = data_2007_2.drop(idx)

In [57]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2007_2[c].value_counts().index)
print(data_2007_2[c].value_counts())
print(missing_data(data_2007_2[c]))

Index(['            ', '111001024732', '111001019411', '168001003591',
       '111001010839', '113001003274', '111279000362', '108758000031',
       '173001001053', '168001000444',
       ...
       '205893000306', '108001002657',   205690000319, '519137000004',
       '125438000213',   105615000236, '205631000020',   115299000038,
         305001025592, '305088001848'],
      dtype='object', length=7555)
                2287
111001024732    1037
111001019411     891
168001003591     677
111001010839     632
113001003274     603
111279000362     598
108758000031     591
173001001053     563
168001000444     561
111001011690     550
113001000852     538
313001006701     533
105154000301     532
305001004293     525
173001000308     515
166001002339     507
111001083011     494
111001011819     493
311001004820     490
111001011070     483
111001010910     482
111001006122     478
111848003031     474
111102000753     473
125754003267     471
105001024073     470
154001000079     470
111001009652     469
111001010928     461
                ...
108549000075       1
205034000299       1
117653000124       1
425377076754       1
217541000851       1
347001051954       1
441799000543       1
105306000175       1
311001042934       1
285001001773       1
217486000791       1
105308000253       1
111001001538       1
305021000359       1
117001006163       1
308433000654       1
115183000022       1
308758076517       1
205615000508       1
373001008286       1
205893000306       1
108001002657       1
205690000319       1
519137000004       1
125438000213       1
105615000236       1
205631000020       1
115299000038       1
305001025592       1
305088001848       1
Name: COLE_COD_DANE_INSTITUCION, Length: 7555, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [58]:
data_2007_2[c] = data_2007_2[c].replace('            ', np.nan)
for i in data_2007_2[c].value_counts().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))

In [59]:
Do_resamples(data_2007_2, c, float)

cant null antes: 2287
cant null despues: 825
cant null antes: 825
cant null despues: 0

In [60]:
c = 'COLE_CALENDARIO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    385858
B       396
F     51232
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [61]:
c = 'COLE_GENERO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     23631
M      6285
X    407570
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [62]:
c = 'COLE_NATURALEZA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['N', 'O'], dtype='object')
N    111908
O    325578
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [63]:
c = 'COLE_BILINGUE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0    405660
1.0      3131
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 28695
__________________
Elementos diferentes de null/NaN: 408791
__________________
(408791,)
None

In [64]:
Do_resamples(data_2007_2, c, float)

cant null antes: 28695
cant null despues: 0

In [65]:
c = 'COLE_JORNADA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA     88938
MAÑANA                  219145
NOCHE                    30267
SABATINA - DOMINICAL     12131
TARDE                    87005
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [66]:
c = 'COLE_CARACTER'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              263471
ACADEMICO Y TECNICO     85908
DESCONOCIDO               186
NORMALISTA              10837
TECNICO                 77084
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [67]:
c = 'ESTU_ETNIA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1.0      8418
2.0       674
3.0       852
4.0       191
5.0        84
6.0       303
7.0       142
8.0       443
9.0       732
10.0     1394
11.0       67
12.0      162
13.0      101
14.0       46
15.0       93
16.0       73
17.0        1
99.0    15813
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 407897
__________________
Elementos diferentes de null/NaN: 29589
__________________
(29589,)
None

In [68]:
data_2007_2[c].fillna(99, inplace=True)

In [69]:
c = 'FAMI_LEE_ESCRIBE_PADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0     134
1.0    6547
Name: FAMI_LEE_ESCRIBE_PADRE, dtype: int64
Elementos null/NaN 430805
__________________
Elementos diferentes de null/NaN: 6681
__________________
(6681,)
None

In [70]:
Do_resamples(data_2007_2, c, float)

cant null antes: 430805
cant null despues: 0

In [71]:
c = 'FAMI_LEE_ESCRIBE_MADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0.0      93
1.0    6588
Name: FAMI_LEE_ESCRIBE_MADRE, dtype: int64
Elementos null/NaN 430805
__________________
Elementos diferentes de null/NaN: 6681
__________________
(6681,)
None

In [72]:
Do_resamples(data_2007_2, c, float)

cant null antes: 430805
cant null despues: 0

In [73]:
c = 'FAMI_EDUCA_PADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      768
1.0       11
2.0       33
3.0       16
4.0       13
5.0       14
6.0        5
7.0        4
8.0        2
9.0     3235
10.0    2917
11.0    2513
12.0    3753
13.0     340
14.0     919
15.0     416
16.0    1836
17.0     678
99.0     372
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 419641
__________________
Elementos diferentes de null/NaN: 17845
__________________
(17845,)
None

In [74]:
Do_resamples(data_2007_2, c, float)

cant null antes: 419641
cant null despues: 0

In [75]:
c = 'FAMI_EDUCA_MADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0.0      395
1.0        4
2.0       29
3.0       18
4.0       18
5.0       18
6.0        1
7.0        8
8.0        1
9.0     2751
10.0    2811
11.0    2981
12.0    4230
13.0     421
14.0    1184
15.0     447
16.0    1668
17.0     611
99.0     250
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 419640
__________________
Elementos diferentes de null/NaN: 17846
__________________
(17846,)
None

In [76]:
Do_resamples(data_2007_2, c, float)

cant null antes: 419640
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [77]:
c = 'FAMI_OCUPA_PADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1.0,  2.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 99.0],
             dtype='float64')
1.0        2
2.0        4
4.0        1
5.0        8
6.0        3
7.0       19
8.0        3
9.0       36
10.0       3
11.0       6
12.0      20
13.0     511
14.0    1715
15.0     435
16.0     599
17.0    1074
18.0     734
19.0    2402
20.0    1093
21.0    5061
22.0     319
23.0    1006
24.0      15
25.0      10
26.0    2254
99.0     514
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 419639
__________________
Elementos diferentes de null/NaN: 17847
__________________
(17847,)
None

In [78]:
Do_resamples(data_2007_2, c, float)

cant null antes: 419639
cant null despues: 0

In [79]:
c = 'FAMI_OCUPA_MADRE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 99.0],
             dtype='float64')
1.0        1
2.0        4
3.0        2
4.0        3
5.0        2
6.0        8
7.0        3
8.0        1
9.0       18
10.0      54
12.0      10
13.0     258
14.0     873
15.0     239
16.0     567
17.0     898
18.0     799
19.0    1128
20.0     532
21.0    2048
22.0    8388
23.0     487
24.0      17
25.0      27
26.0    1325
99.0     156
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 419638
__________________
Elementos diferentes de null/NaN: 17848
__________________
(17848,)
None

In [80]:
Do_resamples(data_2007_2, c, float)

cant null antes: 419638
cant null despues: 0

In [81]:
c = 'FAMI_NUM_HERMANOS'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
0.0      717
1.0     1899
2.0     2060
3.0     1095
4.0      511
5.0      250
6.0      108
7.0       60
8.0       45
9.0       20
10.0      30
Name: FAMI_NUM_HERMANOS, dtype: int64
Elementos null/NaN 430691
__________________
Elementos diferentes de null/NaN: 6795
__________________
(6795,)
None

In [82]:
Do_resamples(data_2007_2, c, float)

cant null antes: 430691
cant null despues: 0

In [83]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1.0      182
2.0      285
3.0      800
4.0     1800
5.0      242
6.0      551
7.0      730
8.0      989
9.0      136
88.0    2214
99.0     137
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 429420
__________________
Elementos diferentes de null/NaN: 8066
__________________
(8066,)
None

In [84]:
Do_resamples(data_2007_2, c, float)

cant null antes: 429420
cant null despues: 0

In [85]:
c = 'FAMI_HERMANOS_ESTUDIAN'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 88.0], dtype='float64')
1.0     3515
2.0      315
88.0    2249
Name: FAMI_HERMANOS_ESTUDIAN, dtype: int64
Elementos null/NaN 431407
__________________
Elementos diferentes de null/NaN: 6079
__________________
(6079,)
None

In [86]:
Do_resamples(data_2007_2, c, float)

cant null antes: 431407
cant null despues: 0

In [87]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1.0    4172
2.0    7320
3.0    4591
4.0    1150
5.0     387
6.0     198
8.0      54
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 419614
__________________
Elementos diferentes de null/NaN: 17872
__________________
(17872,)
None

In [88]:
data_2007_2[c] = data_2007_2[c].replace(8.0, np.nan)

In [89]:
Do_resamples(data_2007_2, c, float)

cant null antes: 419668
cant null despues: 0

In [90]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0    5285
2.0    4813
3.0    1063
4.0     255
5.0    6420
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 419650
__________________
Elementos diferentes de null/NaN: 17836
__________________
(17836,)
None

In [91]:
Do_resamples(data_2007_2, c, float)

cant null antes: 419650
cant null despues: 0

In [92]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1.0      295
2.0     1253
3.0     3306
4.0     4886
5.0     4073
6.0     2017
7.0      947
8.0      477
9.0      212
10.0     139
11.0      67
12.0     164
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 419650
__________________
Elementos diferentes de null/NaN: 17836
__________________
(17836,)
None

In [94]:
Do_resamples(data_2007_2, c, float)

cant null antes: 111330
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [95]:
c = 'FAMI_PISOSHOGAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1.0     541
2.0    6320
3.0    1119
4.0    9109
5.0     747
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 419650
__________________
Elementos diferentes de null/NaN: 17836
__________________
(17836,)
None

In [96]:
Do_resamples(data_2007_2, c, float)

cant null antes: 419650
cant null despues: 0

In [97]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0      124
2.0      854
3.0     2164
4.0     2468
5.0     1977
6.0      999
7.0      434
8.0      194
9.0       97
10.0      98
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 428077
__________________
Elementos diferentes de null/NaN: 9409
__________________
(9409,)
None

In [98]:
Do_resamples(data_2007_2, c, float)

cant null antes: 428077
cant null despues: 0

In [99]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1.0     1014
2.0     5741
3.0     7466
4.0     2483
5.0      659
6.0      242
7.0       70
8.0       42
9.0        9
10.0      48
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 419712
__________________
Elementos diferentes de null/NaN: 17774
__________________
(17774,)
None

In [101]:
Do_resamples(data_2007_2, c, float)

cant null antes: 11793
cant null despues: 0

In [102]:
c = 'FAMI_COMPUTADOR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0.0     7061
1.0      122
2.0       55
3.0    10316
4.0      282
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 419650
__________________
Elementos diferentes de null/NaN: 17836
__________________
(17836,)
None

In [103]:
Do_resamples(data_2007_2, c, float)

cant null antes: 419650
cant null despues: 0

In [153]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0    108631
2.0    170879
3.0      3625
4.0      1792
5.0       592
6.0       261
7.0       313
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 151393
__________________
Elementos diferentes de null/NaN: 286093
__________________
(286093,)
None

In [159]:
Do_resamples(data_2007_2, c, float)

cant null antes: 79596
cant null despues: 0

In [160]:
c = 'ESTU_TRABAJA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0.0    12882
1.0      584
2.0      247
3.0     1949
4.0      620
5.0      935
6.0       24
7.0       60
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 420185
__________________
Elementos diferentes de null/NaN: 17301
__________________
(17301,)
None

In [161]:
st = time()
Do_resamples(data_2007_2, c, float)
print(time()-st)

cant null antes: 420185
cant null despues: 0
1085.4796071052551

In [236]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0.0      950
1.0      845
2.0     2006
3.0     3273
4.0     8762
5.0     5771
6.0      100
7.0       50
8.0      321
9.0       70
10.0     181
11.0      21
12.0     116
13.0      18
14.0      36
15.0      88
16.0      81
17.0       7
18.0      85
19.0      22
20.0    2733
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 411950
__________________
Elementos diferentes de null/NaN: 25536
__________________
(25536,)
None

In [237]:
Do_resamples(data_2007_2, c, float)

cant null antes: 411950
cant null despues: 0

In [238]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0.0      16276
1.0      14477
2.0      34367
3.0      56073
4.0     150112
5.0      98870
6.0       1713
7.0        857
8.0       5499
9.0       1199
10.0      3101
11.0       360
12.0      1987
13.0       308
14.0       617
15.0      1508
16.0      1388
17.0       120
18.0      1456
19.0       377
20.0     46821
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [239]:
c = 'COLE_VALOR_PENSION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0.0     287078
1.0      62916
2.0      14197
3.0      12573
4.0      16398
5.0      20033
6.0      14018
7.0       9131
8.0        835
9.0        119
10.0        48
11.0        50
12.0        28
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 62
__________________
Elementos diferentes de null/NaN: 437424
__________________
(437424,)
None

In [241]:
%run -i ../tools/functions.py

In [242]:
Do_resamples(data_2007_2, c, float)

cant null antes: 0
cant null despues: 0

In [244]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0.0     7
1.0    12
2.0     8
3.0    47
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 437412
__________________
Elementos diferentes de null/NaN: 74
__________________
(74,)
None

In [245]:
data_2007_2 = data_2007_2.drop(([c]), axis=1)

In [246]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([  1.0,   4.0,   7.0,   9.0,  11.0,  12.0,  13.0,  18.0,  20.0,
               21.0,  23.0,  24.0,  25.0,  27.0,  28.0,  30.0,  31.0,  32.0,
               33.0,  34.0,  40.0,  41.0,  45.0,  57.0,  58.0,  59.0,  62.0,
               68.0,  99.0, 155.0, 160.0, 178.0, 181.0],
             dtype='float64')
1.0      1
4.0      2
7.0      1
9.0      5
11.0     1
12.0     1
13.0     4
18.0     1
20.0     1
21.0     2
23.0     1
24.0     1
25.0     1
27.0     2
28.0     3
30.0     2
31.0     3
32.0     1
33.0     2
34.0     1
40.0     3
41.0     6
45.0     5
57.0     2
58.0     2
59.0     4
62.0     2
68.0     1
99.0     2
155.0    1
160.0    1
178.0    1
181.0    1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 437419
__________________
Elementos diferentes de null/NaN: 67
__________________
(67,)
None

In [247]:
data_2007_2 = data_2007_2.drop(([c]), axis=1)

In [248]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([ 1101.0,  1102.0,  1103.0,  1104.0,  1105.0,  1106.0,  1107.0,
               1108.0,  1109.0,  1110.0,
              ...
               9105.0,  9107.0,  9109.0,  9110.0,  9111.0,  9112.0,  9113.0,
               9114.0,  9115.0, 41962.0],
             dtype='float64', length=328)
1101.0     60845
1102.0      3547
1103.0      1746
1104.0       215
1105.0      4473
1106.0      5025
1107.0       460
1108.0       866
1109.0       194
1110.0      4589
1111.0      5275
1112.0      4127
1113.0      8050
1114.0      5673
1115.0      1495
1117.0      1624
1118.0      1895
1119.0      3195
1120.0      4119
1121.0       503
1122.0        87
1123.0       315
1124.0       131
1125.0        18
1201.0     33065
1202.0      7652
1203.0      3021
1204.0     12711
1205.0     11534
1206.0       499
           ...
4813.0       642
4814.0       146
4817.0      1532
4818.0       348
4822.0       178
4825.0        54
4826.0       174
4827.0       203
4828.0         2
4829.0        74
4832.0        74
4835.0       465
4837.0        88
4838.0       147
5801.0        68
5802.0       216
9101.0      2490
9102.0       804
9103.0      1075
9104.0      3553
9105.0       762
9107.0       227
9109.0        68
9110.0     14389
9111.0       370
9112.0      3700
9113.0       216
9114.0       769
9115.0        56
41962.0        1
Name: ESTU_IES_COD_DESEADA, Length: 328, dtype: int64
Elementos null/NaN 80372
__________________
Elementos diferentes de null/NaN: 357114
__________________
(357114,)
None

In [249]:
Do_resamples(data_2007_2, c, float)

cant null antes: 80372
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [251]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AGUACHICA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'CUCUTA', 'DUITAMA',
       'ENVIGADO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA',
       'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA', 'MADRID', 'MALAGA',
       'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'MOSQUERA', 'NEIVA',
       'NILO', 'OCAÑA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PENSILVANIA',
       'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'PUERTO TEJADA', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÉ DE ANTIOQUIA', 'SEVILLA', 'SIBUNDOY',
       'SINCELEJO', 'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TOLU', 'TULUA', 'TUNJA',
       'TURBO', 'UBATE', 'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                  315
ANDES                      267
APARTADO                     9
ARAUCA                     131
ARMENIA                   3450
BARRANCABERMEJA            551
BARRANQUILLA             22750
BELLO                      202
BOGOTÁ D.C.             138691
BUCARAMANGA              19449
BUENAVENTURA                87
BUGA                        65
CALDAS                     127
CALI                      6225
CARMEN DE VIBORAL          334
CARTAGENA                16395
CARTAGO                    133
CAUCASIA                   619
CERETE                      36
CHIA                      1622
CHIQUINQUIRA               194
CIENAGA                    173
COPACABANA                  18
CUCUTA                    4471
DUITAMA                    460
ENVIGADO                   120
ESPINAL                    114
FACATATIVA                  51
FLORENCIA                 1495
FUSAGASUGA                1264
                         ...
PEREIRA                   7038
POPAYAN                   4965
PUERTO BERRIO              170
PUERTO TEJADA                6
QUIBDO                    1895
RIOHACHA                  1427
RIONEGRO                   287
ROLDANILLO                   9
SABANETA                    22
SAN ANDRES                 135
SAN GIL                    374
SAN JUAN DEL CESAR         191
SANTA MARTA               7547
SANTA ROSA DE CABAL         60
SANTA ROSA DE OSOS          24
SANTAFÉ DE ANTIOQUIA        28
SEVILLA                      4
SIBUNDOY                    18
SINCELEJO                 4402
SOCORRO                    231
SOGAMOSO                   866
SOLEDAD                    364
TOLU                       164
TULUA                       86
TUNJA                     6017
TURBO                      959
UBATE                      226
VALLEDUPAR                4119
VILLAVICENCIO             3720
YOPAL                      129
Name: ESTU_IES_MPIO_DESEADA, Length: 78, dtype: int64
Elementos null/NaN 80372
__________________
Elementos diferentes de null/NaN: 357114
__________________
(357114,)
None

In [252]:
Do_resamples(data_2007_2, c, str)

cant null antes: 80372
cant null despues: 3
cant null antes: 3
cant null despues: 0

In [253]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               18
ANTIOQUIA           54876
ARAUCA                131
ATLÁNTICO           23114
BOGOTÁ             138691
BOLÍVAR             16395
BOYACÁ               7537
CALDAS               7736
CAQUETÁ              1495
CASANARE              129
CAUCA                4971
CESAR                4434
CHOCÓ                1895
CUNDINAMARCA         5777
CÓRDOBA              9674
HUILA                5938
LA GUAJIRA           1618
MAGDALENA            7720
META                 3720
NARIÑO                661
NORTE SANTANDER     10300
PUTUMAYO               71
QUINDÍO              3450
RISARALDA            7098
SAN ANDRÉS            135
SANTANDER           20614
SUCRE                4566
TOLIMA               7485
VALLE                6865
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 80372
__________________
Elementos diferentes de null/NaN: 357114
__________________
(357114,)
None

In [254]:
Do_resamples(data_2007_2, c, str)

cant null antes: 80372
cant null despues: 4
cant null antes: 4
cant null despues: 0

In [255]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1.0     10360
2.0     54766
3.0    161147
4.0     40085
5.0     31983
6.0     17700
7.0     17553
8.0     20443
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 83449
__________________
Elementos diferentes de null/NaN: 354037
__________________
(354037,)
None

In [256]:
Do_resamples(data_2007_2, c, float)

cant null antes: 83449
cant null despues: 0

In [258]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([    1.0,     4.0,     5.0,     7.0,    10.0,    18.0,    23.0,
                 26.0,    27.0,    36.0,
              ...
              23009.0, 23010.0, 23011.0, 23031.0, 24642.0, 24643.0, 24648.0,
              24650.0, 24651.0, 24657.0],
             dtype='float64', length=6312)
1.0          8
4.0         92
5.0        285
7.0         15
10.0         1
18.0        30
23.0         1
26.0         5
27.0         6
36.0        38
56.0         6
58.0         4
59.0         3
60.0         5
61.0        12
63.0        54
64.0        36
66.0         3
67.0         5
68.0         3
74.0        28
78.0         3
79.0         3
80.0         2
86.0         9
87.0        63
89.0         2
95.0         2
98.0        10
101.0        5
          ...
22977.0      1
22978.0      1
22979.0      3
22980.0     42
22981.0     25
22983.0      4
22985.0      5
22986.0    121
22991.0      1
22993.0      1
22996.0      1
22997.0      1
22999.0      1
23000.0      3
23003.0      2
23004.0      6
23005.0     12
23006.0     14
23007.0     28
23008.0     14
23009.0      2
23010.0      2
23011.0      2
23031.0     16
24642.0     27
24643.0      8
24648.0      3
24650.0      3
24651.0      7
24657.0      3
Name: ESTU_CARRDESEADA_COD, Length: 6312, dtype: int64
Elementos null/NaN 87647
__________________
Elementos diferentes de null/NaN: 349839
__________________
(349839,)
None

In [259]:
Do_resamples(data_2007_2, c, float)

cant null antes: 87647
cant null despues: 0

In [260]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1.0     86542
2.0    131727
3.0     63159
4.0     32554
5.0     27309
6.0      7375
7.0         5
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 88815
__________________
Elementos diferentes de null/NaN: 348671
__________________
(348671,)
None

In [261]:
Do_resamples(data_2007_2, c, float)

cant null antes: 88815
cant null despues: 1
cant null antes: 1
cant null despues: 0

## TARGETS

In [262]:
c = 'PUNT_LENGUAJE'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '18,21', '26,04', '30,93', '34,62', '37,68', '40,35',
       '42,76', '45,01', '47,14', '49,19', '51,21', '53,22', '55,25', '57,32',
       '59,48', '61,76', '64,21', '66,94', '70,06', '73,82', '78,79', '86,72'],
      dtype='object')
-1          11
0          115
18,21      820
26,04     3504
30,93     9371
34,62    18954
37,68    30412
40,35    41393
42,76    49888
45,01    53450
47,14    52350
49,19    47239
51,21    39466
53,22    30910
55,25    22891
57,32    15927
59,48    10005
61,76     5813
64,21     3001
66,94     1284
70,06      494
73,82      152
78,79       31
86,72        5
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [263]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [264]:
c = 'PUNT_MATEMATICAS'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '105,63', '121,49', '21', '30,49', '36,38', '40,82', '44,48',
       '47,67', '50,54', '53,2', '55,71', '58,13', '60,49', '62,82', '65,16',
       '67,54', '69,99', '72,55', '75,27', '78,22', '81,5', '85,28', '89,86',
       '95,93'],
      dtype='object')
-1            7
0          1585
105,63       70
121,49       15
21         9541
30,49     28236
36,38     52172
40,82     70662
44,48     75109
47,67     64803
50,54     48545
53,2      32059
55,71     19903
58,13     12119
60,49      7397
62,82      4731
65,16      3208
67,54      2209
69,99      1589
72,55      1155
75,27       818
78,22       604
81,5        395
85,28       253
89,86       182
95,93       119
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [265]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [266]:
c = 'PUNT_C_SOCIALES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '15,86', '21,46', '25,63', '29,02', '31,93', '34,51',
       '36,86', '39,05', '41,1', '43,06', '44,96', '46,81', '48,62', '50,42',
       '52,23', '54,05', '55,9', '57,79', '59,76', '6,74', '61,83', '64,02',
       '66,38', '68,97', '71,89', '75,29', '79,47', '85,09', '94,22'],
      dtype='object')
-1         377
0           71
15,86      941
21,46     2981
25,63     7358
29,02    14239
31,93    23108
34,51    31810
36,86    38283
39,05    42350
41,1     43206
43,06    41482
44,96    37625
46,81    33491
48,62    27883
50,42    23453
52,23    19098
54,05    15003
55,9     11353
57,79     8128
59,76     5917
6,74       286
61,83     3797
64,02     2380
66,38     1475
68,97      798
71,89      385
75,29      146
79,47       44
85,09       17
94,22        1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [267]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [268]:
c = 'PUNT_FILOSOFIA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '18,24', '24,08', '28,53', '32,22', '35,44', '38,35',
       '41,05', '43,59', '46,04', '48,41', '50,76', '53,1', '55,47', '57,9',
       '60,41', '63,07', '65,93', '69,09', '72,7', '8,97'],
      dtype='object')
-1          20
0           55
18,24     2189
24,08     7402
28,53    18278
32,22    34633
35,44    53975
38,35    68640
41,05    73493
43,59    65887
46,04    50418
48,41    32157
50,76    17640
53,1      7893
55,47     3094
57,9      1008
60,41      241
63,07       63
65,93       14
69,09        3
72,7         1
8,97       382
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [269]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [270]:
c = 'PUNT_BIOLOGIA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '19,02', '26,7', '31,53', '35,2', '38,26', '40,94', '43,37',
       '45,64', '47,79', '49,87', '51,92', '53,95', '55,99', '58,09', '60,25',
       '62,54', '65', '67,71', '70,81', '74,54', '79,45', '87,23', '99,86'],
      dtype='object')
-1          32
0          103
19,02      827
26,7      3841
31,53    11593
35,2     25200
38,26    41879
40,94    56038
43,37    61990
45,64    59744
47,79    50577
49,87    39386
51,92    29035
53,95    20489
55,99    14254
58,09     9430
60,25     5931
62,54     3523
65        1897
67,71     1001
70,81      435
74,54      179
79,45       82
87,23       17
99,86        3
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [271]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [272]:
c = 'PUNT_QUIMICA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '21,83', '28,75', '33,07', '36,34', '39,03', '41,37',
       '43,47', '45,4', '47,22', '48,97', '50,66', '52,34', '54,01', '55,7',
       '57,44', '59,25', '61,18', '63,27', '65,59', '68,28', '71,54', '75,87',
       '82,82'],
      dtype='object')
-1           3
0           84
21,83      706
28,75     3259
33,07    10096
36,34    22878
39,03    39419
41,37    55717
43,47    65172
45,4     64847
47,22    55054
48,97    42502
50,66    29615
52,34    19028
54,01    12029
55,7      7209
57,44     4202
59,25     2500
61,18     1450
63,27      919
65,59      482
68,28      225
71,54       74
75,87       15
82,82        1
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [273]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [274]:
c = 'PUNT_FISICA'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '11,26', '20,96', '27', '31,55', '35,31', '38,57', '41,52',
       '44,26', '46,84', '49,32', '51,73', '54,12', '56,51', '58,93', '61,41',
       '64', '66,74', '69,69', '72,97', '76,74', '81,3', '87,34', '97,06'],
      dtype='object')
-1           8
0           41
11,26      420
20,96     2206
27        7762
31,55    19152
35,31    36391
38,57    54654
41,52    66921
44,26    69402
46,84    60789
49,32    46328
51,73    31075
54,12    18795
56,51    10908
58,93     5970
61,41     3198
64        1663
66,74      917
69,69      455
72,97      246
76,74      114
81,3        46
87,34       23
97,06        2
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [275]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [276]:
c = 'PUNT_INGLES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '111,94', '13,96', '17,91', '21,08', '23,77', '26,13',
       '28,24', '30,17', '31,96', '33,63', '35,21', '36,71', '38,15', '39,54',
       '40,88', '42,2', '43,48', '44,74', '45,98', '47,21', '48,43', '49,65',
       '50,87', '52,09', '53,32', '54,57', '55,84', '57,13', '58,45', '59,81',
       '61,22', '62,69', '64,23', '65,86', '67,6', '69,48', '71,53', '73,83',
       '76,45', '79,55', '8,61', '83,41', '88,67', '97,34'],
      dtype='object')
-1          234
0            26
111,94      471
13,96        42
17,91        75
21,08       204
23,77       516
26,13      1424
28,24      3083
30,17      5870
31,96     10168
33,63     15925
35,21     22897
36,71     29616
38,15     35293
39,54     39208
40,88     39966
42,2      37968
43,48     33483
44,74     28202
45,98     22822
47,21     17862
48,43     13867
49,65     10843
50,87      8464
52,09      6955
53,32      5892
54,57      5174
55,84      4494
57,13      4092
58,45      3739
59,81      3408
61,22      3078
62,69      2765
64,23      2550
65,86      2392
67,6       2163
69,48      2040
71,53      1838
73,83      1715
76,45      1599
79,55      1540
8,61         14
83,41      1412
88,67      1175
97,34       922
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [277]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [278]:
c = 'DESEMP_INGLES'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', 'A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
-1       234
A-    242295
A1    142498
A2     29877
B+      3980
B1     18602
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [280]:
data_2007_2[c] = data_2007_2[c].replace('-1', 'A1')

In [281]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             124891
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     81138
PROFUNDIZACIÓN EN LENGUAJE             171065
PROFUNDIZACIÓN EN MATEMÁTICA            60392
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [282]:
c = 'PUNT_PROFUNDIZACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '1,78', '10', '2,72', '2,8', '3,09', '3,24', '3,33', '3,64',
       '3,81', '3,9', '4,03', '4,17', '4,22', '4,42', '4,54', '4,6', '4,83',
       '4,94', '4,96', '5,18', '5,28', '5,31', '5,5', '5,59', '5,6', '5,67',
       '5,8', '5,88', '5,9', '6,04', '6,09', '6,16', '6,21', '6,39', '6,45',
       '6,46', '6,54', '6,71', '6,76', '6,89', '6,94', '7,05', '7,09', '7,31',
       '7,45', '7,48', '7,55', '7,84', '7,96', '7,98', '8,5', '8,75', '8,76'],
      dtype='object')
-1        271
0        1523
1,78      565
10         64
2,72     1939
2,8      4659
3,09     1976
3,24     2042
3,33     4375
3,64    12922
3,81     7181
3,9      5752
4,03     7131
4,17    24272
4,22     9822
4,42    10003
4,54    14974
4,6     43913
4,83    12561
4,94    22385
4,96    44779
5,18    11513
5,28    52168
5,31    10668
5,5      8309
5,59    21929
5,6     18479
5,67     8854
5,8      4723
5,88    15480
5,9     10188
6,04     6439
6,09     2413
6,16     8613
6,21     4595
6,39     1178
6,45     4076
6,46     4325
6,54     1701
6,71      592
6,76     1701
6,89      535
6,94     2444
7,05      360
7,09      722
7,31       82
7,45      290
7,48      252
7,55     1032
7,84       13
7,96      205
7,98       77
8,5       285
8,75      115
8,76       21
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [283]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [284]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', 'GB', 'I', 'II', 'III'], dtype='object')
-1        271
GB     200531
I      186082
II      46549
III      4053
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [285]:
data_2007_2[c] = data_2007_2[c].replace('-1', 'GB')

In [286]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          225139
VIOLENCIA Y SOCIEDAD    212347
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [287]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Index(['-1', '0', '16,64', '26,56', '33,02', '38,12', '42,54', '45,94',
       '46,59', '48,11', '49,51', '50,46', '50,62', '51,58', '52,46', '53,31',
       '54,15', '54,28', '55,03', '55,98', '57,08', '58,17', '58,48', '60,63',
       '62,28', '64,07', '66,78', '72', '78,6', '88,67'],
      dtype='object')
-1         475
0         2085
16,64     3208
26,56     9954
33,02    20263
38,12    31610
42,54    38445
45,94     7781
46,59    38127
48,11    19198
49,51    30717
50,46    31026
50,62    36726
51,58    35613
52,46    30501
53,31    23214
54,15    16934
54,28    20661
55,03    11362
55,98     6498
57,08     3212
58,17    11191
58,48     1230
60,63      326
62,28     4872
64,07       46
66,78     1679
72         442
78,6        81
88,67        9
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 437486
__________________
(437486,)
None

In [288]:
for i in data_2007_2[c].value_counts().sort_index().index:
    if ',' in i:
        data_2007_2[c] = data_2007_2[c].replace(i, i.replace(',', '.'))

for i in data_2007_2[c].value_counts().sort_index().index:
    if type(i) == str:
        data_2007_2[c] = data_2007_2[c].replace(i, float(i))
        
data_2007_2[c] = data_2007_2[c].replace(-1, np.mean(data_2007_2[c]))

In [289]:
c = 'ESTU_PUESTO'
print(data_2007_2[c].value_counts().sort_index().index)
print(data_2007_2[c].value_counts().sort_index())
print(missing_data(data_2007_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,
              ...
              953.0, 954.0, 955.0, 956.0, 957.0, 958.0, 959.0, 960.0, 961.0,
              962.0],
             dtype='float64', length=962)
1.0      334
2.0      356
3.0      353
4.0      332
5.0      367
6.0      352
7.0      340
8.0      348
9.0      355
10.0     365
11.0     370
12.0     362
13.0     381
14.0     377
15.0     388
16.0     386
17.0     376
18.0     387
19.0     388
20.0     382
21.0     377
22.0     385
23.0     388
24.0     402
25.0     388
26.0     389
27.0     376
28.0     377
29.0     396
30.0     400
        ...
933.0    449
934.0    439
935.0    440
936.0    445
937.0    457
938.0    460
939.0    453
940.0    455
941.0    453
942.0    455
943.0    459
944.0    450
945.0    467
946.0    462
947.0    453
948.0    444
949.0    457
950.0    453
951.0    452
952.0    451
953.0    441
954.0    443
955.0    450
956.0    448
957.0    443
958.0    456
959.0    451
960.0    433
961.0    435
962.0    186
Name: ESTU_PUESTO, Length: 962, dtype: int64
Elementos null/NaN 644
__________________
Elementos diferentes de null/NaN: 436842
__________________
(436842,)
None

In [291]:
data_2007_2.fillna(method='bfill', inplace=True)
data_2007_2.fillna(method='ffill', inplace=True)

NOW i can Transform the Obtained Dataframes in csv files

In [292]:
#data_2007 = label_encoder(data_2007)
data_2007_2 = label_encoder(data_2007_2)

In [293]:
#data_2007.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2007_1.csv', sep=';', index=False)
data_2007_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2007_2.csv', sep=';', index=False)