In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2012 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20121-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (10,11,14,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2012.shape

(95946, 114)

In [4]:
data_2012.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120121000001,SABER1120121000002,SABER1120121000003
PERIODO,20121,20121,20121
ESTU_TIPO_DOCUMENTO,C,C,R
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,M,M,F
ESTU_NACIMIENTO_DIA,25,5,3
ESTU_NACIMIENTO_MES,8,7,1
ESTU_NACIMIENTO_ANNO,1992,1970,1994
ESTU_EDAD,19,41,18
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,1
ESTU_COD_RESIDE_MCPIO,5837,5837,5837
ESTU_RESIDE_MCPIO,TURBO,TURBO,TURBO
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,1,1,1
IND_COD_ICFES_TERMINO,128306,128306,128306
COLE_COD_ICFES,128306,128306,128306
COLE_COD_DANE_INSTITUCION,2.05837e+11,2.05837e+11,2.05837e+11
COLE_NOMBRE_SEDE,I.E. VEINTICUATRO DE DICIEMBRE,I.E. VEINTICUATRO DE DICIEMBRE,I.E. VEINTICUATRO DE DICIEMBRE
COLE_CALENDARIO,A,A,A
COLE_GENERO,X,X,X
COLE_NATURALEZA,O,O,O
COLE_BILINGUE,NaN,NaN,NaN
...,...,...,...
FAMI_PERSONAS_HOGAR,5,4,7
FAMI_CUARTOS_HOGAR,NaN,NaN,NaN
FAMI_PISOSHOGAR,4,4,2
FAMI_TELEFONO_FIJO,0,1,0
FAMI_CELULAR,1,1,1
FAMI_INTERNET,0,1,0
FAMI_SERVICIO_TELEVISION,1,1,0
FAMI_COMPUTADOR,3,3,0
FAMI_LAVADORA,0,1,1
FAMI_NEVERA,1,1,1
FAMI_HORNO,0,1,0
FAMI_DVD,1,1,1
FAMI_MICROONDAS,0,1,0
FAMI_AUTOMOVIL,0,1,0
FAMI_INGRESO_FMILIAR_MENSUAL,1,2,1
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
PUNT_LENGUAJE,39,31,46
PUNT_MATEMATICAS,37,37,34
PUNT_C_SOCIALES,33,28,40
PUNT_FILOSOFIA,45,29,43
PUNT_BIOLOGIA,30,29,46
PUNT_QUIMICA,35,41,33
PUNT_FISICA,46,32,25
PUNT_INGLES,40,37,33
DESEMP_INGLES,A-,A-,A-
NOMBRE_COMP_FLEXIBLE,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,VIOLENCIA Y SOCIEDAD,PROFUNDIZACIÓN EN CIENCIAS SOCIALES
PUNT_COMP_FLEXIBLE,5,40,5
DESEMP_COMP_FLEXIBLE,GB,NaN,I
ESTU_PUESTO,961,989,905

In [5]:
data_2012 = data_2012.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                           'ESTU_IES_COD_MPIO_DESEADA', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_COD_MCPIO_PRESENTACION',
                           'ESTU_EXAM_NOMBREEXAMEN', 'COLE_NOMBRE_SEDE'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['AR', 'AW', 'BO', 'BR', 'CL', 'CO', 'CR', 'CU', 'DE', 'DO', 'EC', 'ES',
       'FR', 'GT', 'IL', 'IN', 'IR', 'JP', 'KR', 'MX', 'PE', 'SE', 'US', 'VA',
       'VE'],
      dtype='object')
AR        2
AW        1
BO        7
BR        7
CL        3
CO    95755
CR        2
CU        3
DE        2
DO        1
EC       18
ES        5
FR        3
GT        2
IL        1
IN        1
IR        1
JP        1
KR        2
MX        4
PE        7
SE        2
US        7
VA        1
VE       49
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 59
__________________
Elementos diferentes de null/NaN: 95887
__________________
(95887,)
None

In [7]:
Do_resamples(data_2012, c, str)

cant null antes: 59
cant null despues: 0

In [8]:
c = 'ESTU_GENERO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['F', 'M'], dtype='object')
F    48503
M    46852
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 591
__________________
Elementos diferentes de null/NaN: 95355
__________________
(95355,)
None

In [9]:
Do_resamples(data_2012, c, str)

cant null antes: 591
cant null despues: 0

In [10]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     3201
2     3163
3     3163
4     3208
5     3223
6     3184
7     3067
8     3122
9     3155
10    3176
11    3097
12    3252
13    3096
14    3094
15    3225
16    3179
17    3118
18    3133
19    3087
20    3219
21    3119
22    3031
23    3048
24    3205
25    3082
26    3050
27    3174
28    3176
29    2796
30    2831
31    1666
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 606
__________________
Elementos diferentes de null/NaN: 95340
__________________
(95340,)
None

In [11]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     7881
2     7053
3     8090
4     7590
5     7923
6     7725
7     7969
8     8000
9     8469
10    8264
11    7788
12    8588
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 606
__________________
Elementos diferentes de null/NaN: 95340
__________________
(95340,)
None

In [12]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1924.0, 1933.0, 1935.0, 1936.0, 1939.0, 1941.0, 1942.0, 1943.0,
              1944.0, 1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0,
              1952.0, 1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0,
              1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0,
              1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0,
              1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0,
              1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0,
              1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0,
              2000.0, 2002.0, 2003.0, 2004.0, 2005.0, 2011.0],
             dtype='float64')
1924        1
1933        1
1935        1
1936        1
1939        1
1941        1
1942        1
1943        2
1944        5
1945        9
1946        3
1947       10
1948       12
1949       13
1950       18
1951       10
1952       26
1953       21
1954       37
1955       41
1956       61
1957       59
1958       81
1959       84
1960       92
1961       90
1962      134
1963      156
1964      170
1965      175
        ...
1976      464
1977      547
1978      588
1979      734
1980      789
1981      840
1982      968
1983     1032
1984     1186
1985     1393
1986     1533
1987     1793
1988     2301
1989     2921
1990     3826
1991     5394
1992     8301
1993    13931
1994    22866
1995    15924
1996     2550
1997      165
1998       50
1999       12
2000        2
2002      905
2003       15
2004        5
2005        7
2011        1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 606
__________________
Elementos diferentes de null/NaN: 95340
__________________
(95340,)
None

In [13]:
for i in data_2012[c].value_counts().sort_index().index:
    if i < 1974:
        data_2012[c] = data_2012[c].replace(i, np.nan)
    elif i > 2003:
        data_2012[c] = data_2012[c].replace(i, np.nan)
        
anno = data_2012[data_2012[c].isnull()].index
data_2012 = data_2012.drop(anno)

In [14]:
c = 'ESTU_EDAD'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([ 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25,
            26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 40, 41, 42, 46,
            57, 58, 78],
           dtype='int64')
9       878
10       91
11        2
12       15
13       47
14      126
15     1813
16    13896
17    23276
18    14978
19     8718
20     5720
21     3975
22     3001
23     2377
24     1849
25     1535
26     1406
27     1222
28     1053
29      984
30      856
31      776
32      741
33      613
34      550
35      476
36      416
37      388
38       56
40        2
41        1
42        1
46        3
57        1
58        1
78        1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91844
__________________
(91844,)
None

In [15]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 91844
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [16]:
data_2012 = data_2012.drop([c], axis=1)

In [17]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['C'], dtype='object')
C    4
Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64
Elementos null/NaN 91840
__________________
Elementos diferentes de null/NaN: 4
__________________
(4,)
None

In [18]:
data_2012 = data_2012.drop([c], axis=1)

In [19]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['G'], dtype='object')
G    36
Name: ESTU_LIMITA_COGNITIVA, dtype: int64
Elementos null/NaN 91808
__________________
Elementos diferentes de null/NaN: 36
__________________
(36,)
None

In [20]:
data_2012 = data_2012.drop([c], axis=1)

In [21]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['I'], dtype='object')
I    25
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 91819
__________________
Elementos diferentes de null/NaN: 25
__________________
(25,)
None

In [22]:
data_2012 = data_2012.drop([c], axis=1)

In [23]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['M'], dtype='object')
M    119
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 91725
__________________
Elementos diferentes de null/NaN: 119
__________________
(119,)
None

In [24]:
data_2012 = data_2012.drop([c], axis=1)

In [25]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['R'], dtype='object')
R    13
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 91831
__________________
Elementos diferentes de null/NaN: 13
__________________
(13,)
None

In [26]:
data_2012 = data_2012.drop([c], axis=1)

In [27]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['S'], dtype='object')
S    25
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 91819
__________________
Elementos diferentes de null/NaN: 25
__________________
(25,)
None

In [28]:
data_2012 = data_2012.drop([c], axis=1)

In [29]:
c = 'ESTU_ETNIA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     2129
2        2
3      200
4       31
5       28
6       92
7       43
8       81
9      168
10     125
11     540
12       5
13      46
14      10
15       8
16      12
17      35
99    1369
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 86920
__________________
Elementos diferentes de null/NaN: 4924
__________________
(4924,)
None

In [30]:
data_2012[c].fillna(99, inplace=True)

In [31]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACEVEDO', 'ACHI', 'AGRADO',
       'AGUA DE DIOS', 'AGUACHICA', 'AGUADA', 'AGUADAS',
       ...
       'YOPAL', 'YOTOCO', 'YUMBO', 'ZAPATOCA', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=945)
ABEJORRAL                      3
ABREGO                        11
ACACIAS                      106
ACEVEDO                       61
ACHI                           1
AGRADO                        15
AGUA DE DIOS                  16
AGUACHICA                    172
AGUADA                         2
AGUADAS                        7
AGUAZUL                       82
AGUSTIN CODAZZI               46
AIPE                          38
ALBAN                          2
ALBAN (SAN JOSE)              30
ALBANIA                       70
ALCALA                        14
ALDANA                        19
ALEJANDRIA                    31
ALGARROBO                      4
ALGECIRAS                     56
ALMAGUER                       5
ALMEIDA                        1
ALPUJARRA                      8
ALTAMIRA                       8
ALTO BAUDO (PIE DE PATO)       2
ALVARADO                      21
AMAGA                          6
AMALFI                         2
AMBALEMA                       1
                            ...
VILLAGARZON                   44
VILLAHERMOSA                   7
VILLAMARIA                   128
VILLANUEVA                    66
VILLAPINZON                   13
VILLARRICA                     3
VILLAVICENCIO               1463
VILLAVIEJA                     2
VILLETA                       49
VIOTA                          2
VIRACACHA                      2
VISTA HERMOSA                 16
VITERBO                        9
YACOPI                         2
YACUANQUER                    28
YAGUARA                       24
YALI                           5
YARUMAL                        8
YOLOMBO                       14
YONDO (CASABE)                17
YOPAL                        403
YOTOCO                        10
YUMBO                        305
ZAPATOCA                       8
ZARAGOZA                       3
ZARZAL                       108
ZETAQUIRA                      5
ZIPACON                        3
ZIPAQUIRA                    175
ZONA BANANERA                  3
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 91843
__________________
(91843,)
None

In [32]:
mcpio = data_2012[data_2012[c].isnull()].index
data_2012 = data_2012.drop(mcpio)

In [33]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              20
ANTIOQUIA           7061
ARAUCA               314
ATLÁNTICO           1885
BOGOTÁ             16926
BOLÍVAR             1446
BOYACÁ              4623
CALDAS              2414
CAQUETÁ              549
CASANARE             664
CAUCA               2819
CESAR               1040
CHOCÓ                484
CUNDINAMARCA        3258
CÓRDOBA              923
GUAINÍA               45
GUAVIARE              70
HUILA               4201
LA GUAJIRA           643
MAGDALENA            618
META                1815
NARIÑO              6205
NORTE SANTANDER     1542
PUTUMAYO             680
QUINDÍO             1095
RISARALDA           1655
SAN ANDRÉS            64
SANTANDER           6427
SUCRE                442
TOLIMA              2837
VALLE              19027
VAUPÉS                23
VICHADA               28
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91843
__________________
(91843,)
None

In [34]:
c = 'ESTU_ZONA_RESIDE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      8506
2      2008
3      2508
4     10912
5      3766
6      3033
7      2562
8      3787
9      2524
10    52236
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [35]:
idx = data_2012[data_2012[c].isnull()].index
data_2012 = data_2012.drop(idx)

In [36]:
c = 'ESTU_AREA_RESIDE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    77614
2    14194
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 34
__________________
Elementos diferentes de null/NaN: 91808
__________________
(91808,)
None

In [37]:
Do_resamples(data_2012, c, float)

cant null antes: 34
cant null despues: 0

In [38]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([     0.0,      1.0,      2.0,      3.0,     26.0,     31.0,
                  34.0,     45.0,     59.0,     67.0,
              ...
              602920.0, 605246.0, 615161.0, 620963.0, 628305.0, 632968.0,
              638296.0, 638668.0, 642439.0, 999999.0],
             dtype='float64', length=9971)
0           38
1            1
2          441
3         4419
26           1
31           1
34           1
45           1
59           1
67           3
75           1
77           1
90           1
125          2
133          1
182         86
208          1
224          1
226          2
232          1
240         40
257          4
265         58
272          1
277          1
282          1
294          1
296          1
299          1
327          1
          ...
249946       1
254508       1
259218       1
265025       2
265512       1
266080       1
267674       1
267781       1
267989       1
269522       1
270736       1
273029       1
280024       2
314153       1
314492       1
441196       1
455030       1
465187       1
596783       1
601039       1
602920       1
605246       1
615161       1
620963       1
628305       1
632968       1
638296       1
638668       1
642439       1
999999    1686
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 2659
__________________
Elementos diferentes de null/NaN: 89183
__________________
(89183,)
None

In [39]:
Do_resamples(data_2012, c, float)

cant null antes: 2659
cant null despues: 0

In [40]:
c = 'COLE_COD_ICFES'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([     2.0,      3.0,     59.0,     67.0,     75.0,    125.0,
                 182.0,    232.0,    240.0,    257.0,
              ...
              164442.0, 164467.0, 164475.0, 164483.0, 164541.0, 164558.0,
              164574.0, 164590.0, 164707.0, 999999.0],
             dtype='float64', length=9258)
2          518
3         4270
59           2
67           2
75           1
125          2
182         86
232          2
240         43
257          4
265         64
372          1
380          2
406          1
422          1
455          1
463          1
521          1
638        245
687          3
711          1
760          1
786         11
794          1
810          5
844          1
851          3
919          1
935          4
943          2
          ...
164079      13
164087      20
164103       6
164129      29
164145      14
164152       4
164160      16
164202       9
164210       2
164269      11
164277       5
164293       4
164301      17
164327       1
164343       1
164350       2
164376       2
164384      13
164426       2
164434       1
164442       3
164467      11
164475       3
164483       2
164541       4
164558       1
164574       7
164590       1
164707       1
999999    2055
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 5
__________________
Elementos diferentes de null/NaN: 91837
__________________
(91837,)
None

In [41]:
for i in data_2012[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2012[c] = data_2012[c].replace(i, np.nan)
        
data_2012[c].fillna(method='bfill', inplace=True)
data_2012[c].fillna(method='ffill', inplace=True)

In [42]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([           0.0,    900086079.0,  15232300063.0,  16340100097.0,
               16354800229.0,  22524500284.0,  27021501099.0,  31100192201.0,
               31100192996.0,  31383800202.0,
              ...
              818001100011.0, 818001100022.0, 818001100027.0, 818001100035.0,
              818001100040.0, 820536000005.0, 841006000001.0, 847001000005.0,
              847001000027.0, 847001000035.0],
             dtype='float64', length=6871)
0.000000e+00    206
9.000861e+08     12
1.523230e+10     19
1.634010e+10      9
1.635480e+10      3
2.252450e+10      2
2.702150e+10      1
3.110019e+10     74
3.110019e+10      1
3.138380e+10      1
3.528351e+10      5
5.110010e+10      3
5.111012e+10      2
1.050010e+11      2
1.050010e+11      2
1.050010e+11      1
1.050010e+11     12
1.050010e+11      2
1.050010e+11      3
1.050010e+11      3
1.050010e+11      4
1.050010e+11      7
1.050010e+11      2
1.050010e+11      3
1.050010e+11      1
1.050010e+11      1
1.050010e+11      5
1.050010e+11      5
1.050010e+11     20
1.050010e+11      1
               ...
6.251810e+11     17
6.252140e+11     28
6.252690e+11      5
6.252690e+11      3
6.252690e+11     51
6.252690e+11     19
6.252690e+11     53
6.252690e+11     16
6.252860e+11     67
6.252860e+11      1
6.254380e+11     15
6.254730e+11      5
6.257450e+11      6
6.257990e+11      1
6.257990e+11      5
6.258860e+11     14
6.258990e+11     10
6.258990e+11     30
8.105360e+11      2
8.134300e+11      1
8.180011e+11      1
8.180011e+11     20
8.180011e+11      3
8.180011e+11     10
8.180011e+11     27
8.205360e+11      4
8.410060e+11     17
8.470010e+11      2
8.470010e+11      4
8.470010e+11      1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 9600
__________________
Elementos diferentes de null/NaN: 82242
__________________
(82242,)
None

In [43]:
data_2012[c].fillna(method='bfill', inplace=True)
data_2012[c].fillna(method='ffill', inplace=True)

In [44]:
c = 'COLE_CALENDARIO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['A', 'B', 'F'], dtype='object')
A    41002
B    14980
F    33800
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 2060
__________________
Elementos diferentes de null/NaN: 89782
__________________
(89782,)
None

In [45]:
Do_resamples(data_2012, c, str)

cant null antes: 2060
cant null despues: 0

In [46]:
c = 'COLE_GENERO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4716
M     1622
X    78655
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 6849
__________________
Elementos diferentes de null/NaN: 84993
__________________
(84993,)
None

In [47]:
Do_resamples(data_2012, c, str)

cant null antes: 6849
cant null despues: 0

In [48]:
c = 'COLE_NATURALEZA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['N', 'O'], dtype='object')
N    49743
O    35248
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 6851
__________________
Elementos diferentes de null/NaN: 84991
__________________
(84991,)
None

In [49]:
Do_resamples(data_2012, c, str)

cant null antes: 6851
cant null despues: 0

In [50]:
c = 'COLE_BILINGUE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    69596
1     4539
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 17707
__________________
Elementos diferentes de null/NaN: 74135
__________________
(74135,)
None

In [51]:
Do_resamples(data_2012, c, float)

cant null antes: 17707
cant null despues: 0

In [52]:
c = 'COLE_JORNADA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE', 'UNICA'],
      dtype='object')
COMPLETA U ORDINARIA    20259
MAÑANA                  37020
NOCHE                   10571
SABATINA - DOMINICAL    11118
TARDE                    8078
UNICA                       3
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 4793
__________________
Elementos diferentes de null/NaN: 87049
__________________
(87049,)
None

In [53]:
Do_resamples(data_2012, c, str)

cant null antes: 4793
cant null despues: 0

In [54]:
c = 'COLE_CARACTER'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              58505
ACADEMICO Y TECNICO    12573
DESCONOCIDO               47
NORMALISTA              1456
TECNICO                12390
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 6871
__________________
Elementos diferentes de null/NaN: 84971
__________________
(84971,)
None

In [55]:
Do_resamples(data_2012, c, str)

cant null antes: 6871
cant null despues: 0

In [56]:
c = 'COLE_VALOR_PENSION'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0     17015
1       186
2        79
3        46
4        28
5        21
6        12
7        10
8     12928
9      3870
10     2258
11     4116
12     8908
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 42365
__________________
Elementos diferentes de null/NaN: 49477
__________________
(49477,)
None

In [57]:
Do_resamples(data_2012, c, float)

cant null antes: 42365
cant null despues: 0

In [58]:
c = 'ESTU_VECES_ESTADO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    48794
1    27011
2     8102
3     5359
4     2243
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 333
__________________
Elementos diferentes de null/NaN: 91509
__________________
(91509,)
None

In [59]:
Do_resamples(data_2012, c, float)

cant null antes: 333
cant null despues: 0

In [60]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     228
1     344
2     233
3    2369
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 88668
__________________
Elementos diferentes de null/NaN: 3174
__________________
(3174,)
None

In [61]:
Do_resamples(data_2012, c, float)

cant null antes: 88668
cant null despues: 0

In [62]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 1101.0,  1102.0,  1103.0,  1104.0,  1105.0,  1106.0,  1107.0,
               1108.0,  1109.0,  1110.0,
              ...
               9114.0,  9117.0,  9120.0,  9122.0,  9124.0,  9125.0,  9129.0,
               9903.0, 21386.0, 81281.0],
             dtype='float64', length=269)
1101     515
1102      27
1103      28
1104      18
1105      21
1106     118
1107       9
1108      91
1109       2
1110     158
1111      66
1112     119
1113      12
1114     224
1115      11
1117      26
1119      36
1120      10
1121       8
1122       2
1123       5
1124       3
1201     158
1202      11
1203     864
1204     258
1205      23
1206     297
1207     108
1208      48
        ...
4817       1
4822       9
4823       1
4825       1
4828       2
4829       1
4832       3
4835       3
4838       1
5802       2
9101       3
9102       3
9103      35
9104      12
9105       8
9107       2
9109       2
9110     240
9111       6
9112       1
9114       2
9117       2
9120       1
9122       1
9124       5
9125       6
9129       1
9903       2
21386      1
81281      1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 85912
__________________
Elementos diferentes de null/NaN: 5930
__________________
(5930,)
None

In [63]:
Do_resamples(data_2012, c, float)

cant null antes: 85912
cant null despues: 51
cant null antes: 51
cant null despues: 0

In [64]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CUNDINAMARCA',
       'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO',
       'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA', 'SAN ANDRÉS',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
ANTIOQUIA           434
ARAUCA                3
ATLÁNTICO            97
BOGOTÁ             1964
BOLÍVAR              42
BOYACÁ              241
CALDAS              168
CAQUETÁ              11
CASANARE              4
CAUCA               166
CESAR                15
CUNDINAMARCA         91
CÓRDOBA              12
HUILA               231
LA GUAJIRA            1
MAGDALENA            30
META                 46
NARIÑO              317
NORTE SANTANDER      60
PUTUMAYO              3
QUINDÍO              51
RISARALDA            78
SAN ANDRÉS            1
SANTANDER           395
SUCRE                 8
TOLIMA              127
VALLE              1334
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 85912
__________________
Elementos diferentes de null/NaN: 5930
__________________
(5930,)
None

In [65]:
data_2012[c].fillna(method='bfill', inplace=True)
data_2012[c].fillna(method='ffill', inplace=True)

In [66]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['AGUACHICA', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA', 'BARRANQUILLA',
       'BELLO', 'BOGOTÁ D.C.', 'BUCARAMANGA', 'BUENAVENTURA', 'CALDAS', 'CALI',
       'CARTAGENA', 'CARTAGO', 'CHIA', 'CHIQUINQUIRA', 'CUCUTA', 'DUITAMA',
       'ENVIGADO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA', 'FUSAGASUGA',
       'GIRARDOT', 'IBAGUE', 'MADRID', 'MANIZALES', 'MARINILLA', 'MEDELLIN',
       'MOCOA', 'MONTERIA', 'NEIVA', 'NILO', 'OCAÑA', 'PALMIRA', 'PAMPLONA',
       'PASTO', 'PENSILVANIA', 'PEREIRA', 'POPAYAN', 'QUETAME', 'RIOHACHA',
       'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES', 'SAN GIL',
       'SANTA MARTA', 'SANTAFÉ DE ANTIOQUIA', 'SINCELEJO', 'SOCORRO',
       'SOGAMOSO', 'TULUA', 'TUNJA', 'TURBO', 'UBATE', 'VALLEDUPAR',
       'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                  5
ARAUCA                     3
ARMENIA                   51
BARRANCABERMEJA            5
BARRANQUILLA              97
BELLO                     16
BOGOTÁ D.C.             1964
BUCARAMANGA              371
BUENAVENTURA               2
CALDAS                     1
CALI                    1285
CARTAGENA                 42
CARTAGO                    1
CHIA                      57
CHIQUINQUIRA               2
CUCUTA                    38
DUITAMA                    9
ENVIGADO                   4
ESPINAL                    9
FACATATIVA                 2
FLORENCIA                 11
FUSAGASUGA                15
GIRARDOT                   6
IBAGUE                   118
MADRID                     4
MANIZALES                167
MARINILLA                  5
MEDELLIN                 382
MOCOA                      3
MONTERIA                  12
NEIVA                    231
NILO                       3
OCAÑA                      1
PALMIRA                   26
PAMPLONA                  21
PASTO                    317
PENSILVANIA                1
PEREIRA                   78
POPAYAN                  166
QUETAME                    1
RIOHACHA                   1
RIONEGRO                  18
ROLDANILLO                 1
SABANETA                   1
SAN ANDRES                 1
SAN GIL                   15
SANTA MARTA               30
SANTAFÉ DE ANTIOQUIA       6
SINCELEJO                  8
SOCORRO                    4
SOGAMOSO                  91
TULUA                     19
TUNJA                    139
TURBO                      1
UBATE                      3
VALLEDUPAR                10
VILLAVICENCIO             46
YOPAL                      4
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 85912
__________________
Elementos diferentes de null/NaN: 5930
__________________
(5930,)
None

In [67]:
data_2012[c].fillna(method='bfill', inplace=True)
data_2012[c].fillna(method='ffill', inplace=True)

In [68]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0,
              22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0,
              33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0,
              44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0,
              55.0, 56.0, 57.0, 58.0, 60.0, 61.0, 62.0, 63.0, 65.0, 69.0, 70.0,
              71.0, 72.0, 73.0, 74.0, 78.0, 80.0, 81.0, 84.0, 85.0, 86.0, 87.0,
              90.0, 93.0, 94.0, 99.0],
             dtype='float64')
0       3
1      12
2      21
3      38
4      28
5      45
6      30
7      28
8      41
9      25
10     40
11     52
12     48
13     59
14     56
15     98
16     76
17     71
18     63
19     53
20    185
21     73
22    101
23     91
24     90
25    208
26     65
27     55
28     62
29     82
     ...
51      1
52      6
53      3
54      7
55      8
56      5
57      4
58      7
60     17
61      2
62      6
63      4
65      1
69      1
70      6
71      9
72      1
73      1
74      6
78      2
80      7
81      3
84      2
85      4
86      2
87      5
90      2
93      1
94      3
99      3
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [69]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 6
cant null antes: 6
cant null despues: 0

In [70]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0],
             dtype='float64')
1985      82
1986       9
1987      21
1988      13
1989      16
1990      36
1991      29
1992      28
1993      26
1994      42
1995      47
1996      86
1997     131
1998     183
1999     348
2000     707
2001    1121
2002     304
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [71]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [212]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

NameError: name 'data_2012' is not defined

In [73]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [74]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1     992
2     567
3     295
4     141
5      98
6     263
7      74
8      52
9      56
10     63
11    628
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [75]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [76]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0],
             dtype='float64')
1985       6
1986       2
1987       1
1988       4
1989       4
1990      10
1991      23
1992      16
1993      16
1994      15
1995      17
1996      31
1997      22
1998      30
1999      24
2000      44
2001      70
2002      59
2003     100
2004     199
2005     481
2006    1516
2007     392
2008     147
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [77]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [78]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     495
1    1044
2     669
3    1021
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [79]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [80]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    1408
2     763
3     441
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 89230
__________________
Elementos diferentes de null/NaN: 2612
__________________
(2612,)
None

In [81]:
Do_resamples(data_2012, c, float)

cant null antes: 89230
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [82]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    3105
1     124
Name: ESTU_REPROBO_CUARTO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [83]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [84]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    2907
1     322
Name: ESTU_REPROBO_DECIMO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [85]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [86]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    2939
1     290
Name: ESTU_REPROBO_NOVENO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [87]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [88]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    2943
1     286
Name: ESTU_REPROBO_OCTAVO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [89]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [90]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    3069
1     160
Name: ESTU_REPROBO_PRIMERO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [91]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [92]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    3104
1     125
Name: ESTU_REPROBO_QUINTO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [93]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [94]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    3101
1     128
Name: ESTU_REPROBO_SEGUNDO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [95]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [96]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    2952
1     277
Name: ESTU_REPROBO_SEPTIMO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [97]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [98]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    2975
1     254
Name: ESTU_REPROBO_SEXTO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [99]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [100]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    3065
1     164
Name: ESTU_REPROBO_TERCERO, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [101]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [102]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    3036
1     193
Name: ESTU_REPROBO_ONCE_MAS, dtype: int64
Elementos null/NaN 88613
__________________
Elementos diferentes de null/NaN: 3229
__________________
(3229,)
None

In [103]:
Do_resamples(data_2012, c, float)

cant null antes: 88613
cant null despues: 0

In [104]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['-'], dtype='object')
-    91842
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [105]:
data_2012 = data_2012.drop([c], axis=1)

In [106]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['-'], dtype='object')
-    91842
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [107]:
data_2012 = data_2012.drop([c], axis=1)

In [108]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    2070
1     928
Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64
Elementos null/NaN 88844
__________________
Elementos diferentes de null/NaN: 2998
__________________
(2998,)
None

In [109]:
Do_resamples(data_2012, c, float)

cant null antes: 88844
cant null despues: 0

In [110]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['-'], dtype='object')
-    91842
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [111]:
data_2012 = data_2012.drop([c], axis=1)

In [112]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['-'], dtype='object')
-    91842
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [113]:
data_2012 = data_2012.drop([c], axis=1)

In [114]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    2337
1     661
Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64
Elementos null/NaN 88844
__________________
Elementos diferentes de null/NaN: 2998
__________________
(2998,)
None

In [115]:
Do_resamples(data_2012, c, float)

cant null antes: 88844
cant null despues: 0

In [116]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0    1287
1    1425
2     286
Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64
Elementos null/NaN 88844
__________________
Elementos diferentes de null/NaN: 2998
__________________
(2998,)
None

In [117]:
Do_resamples(data_2012, c, float)

cant null antes: 88844
cant null despues: 0

In [118]:
c = 'ESTU_RAZON_RETIRO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
1     20
2     29
3    285
4     63
5     79
6     58
7     18
8     23
9    363
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 90904
__________________
Elementos diferentes de null/NaN: 938
__________________
(938,)
None

In [119]:
Do_resamples(data_2012, c, float)

cant null antes: 90904
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [120]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    1924
1    1074
Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64
Elementos null/NaN 88844
__________________
Elementos diferentes de null/NaN: 2998
__________________
(2998,)
None

In [121]:
Do_resamples(data_2012, c, float)

cant null antes: 88844
cant null despues: 0

In [122]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['-'], dtype='object')
-    91842
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [123]:
data_2012 = data_2012.drop([c], axis=1)

In [124]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['-'], dtype='object')
-    91842
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [125]:
data_2012 = data_2012.drop([c], axis=1)

In [126]:
c = 'ESTU_POR_OTRARAZON'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    1998
1    1000
Name: ESTU_POR_OTRARAZON, dtype: int64
Elementos null/NaN 88844
__________________
Elementos diferentes de null/NaN: 2998
__________________
(2998,)
None

In [127]:
Do_resamples(data_2012, c, float)

cant null antes: 88844
cant null despues: 0

In [128]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     467
1    2531
Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64
Elementos null/NaN 88844
__________________
Elementos diferentes de null/NaN: 2998
__________________
(2998,)
None

In [129]:
Do_resamples(data_2012, c, float)

cant null antes: 88844
cant null despues: 0

In [130]:
c = 'ESTU_POR_UBICACION'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    1546
1    1452
Name: ESTU_POR_UBICACION, dtype: int64
Elementos null/NaN 88844
__________________
Elementos diferentes de null/NaN: 2998
__________________
(2998,)
None

In [131]:
Do_resamples(data_2012, c, float)

cant null antes: 88844
cant null despues: 0

In [132]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    2206
1     792
Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64
Elementos null/NaN 88844
__________________
Elementos diferentes de null/NaN: 2998
__________________
(2998,)
None

In [133]:
Do_resamples(data_2012, c, float)

cant null antes: 88844
cant null despues: 0

In [134]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['-'], dtype='object')
-    91842
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [135]:
data_2012 = data_2012.drop([c], axis=1)

In [136]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['AGUACHICA', 'ALBANIA', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.', 'BOLIVAR',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALI', 'CAMPOALEGRE',
       'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CHAPARRAL', 'CHIA', 'CUCUTA',
       'CUMARIBO', 'EL DONCELLO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA',
       'FUSAGASUGA', 'GARZON', 'GIRARDOT', 'GRANADA', 'GUAMO', 'GUATEQUE',
       'IBAGUE', 'INIRIDA', 'IPIALES', 'ITSMINA', 'LA DORADA', 'LA PLATA',
       'LETICIA', 'LORICA', 'MAGANGUE', 'MAICAO', 'MALAGA', 'MANIZALES',
       'MEDELLIN', 'MITU', 'MOCOA', 'MONIQUIRA', 'MONTELIBANO', 'MONTERIA',
       'NEIVA', 'OCAÑA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PATIA(EL BORDO)',
       'PAZ DE ARIPORO', 'PEREIRA', 'PITALITO', 'POPAYAN', 'PUERTO ASIS',
       'PUERTO CARREÑO', 'PUERTO TEJADA', 'QUIBDO', 'RIOHACHA', 'RIONEGRO',
       'ROLDANILLO', 'SAN ANDRES', 'SAN GIL', 'SAN JOSE DEL GUAVIARE',
       'SANTA MARTA', 'SANTA ROSA DE OSOS', 'SANTANDER DE QUILICHAO',
       'SEVILLA', 'SIBUNDOY', 'SILVIA', 'SINCELEJO', 'SOACHA', 'SOCORRO',
       'SOGAMOSO', 'SONSON', 'TAME', 'TULUA', 'TUMACO', 'TUNJA', 'TURBO',
       'VALLEDUPAR', 'VELEZ', 'VILLA DE LEYVA', 'VILLAVICENCIO', 'YOPAL',
       'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object')
AGUACHICA                   212
ALBANIA                      85
APARTADO                    348
ARAUCA                      176
ARMENIA                    1140
BARRANCABERMEJA             692
BARRANQUILLA               1892
BELLO                       688
BOGOTÁ D.C.               17469
BOLIVAR                      12
BUCARAMANGA                5314
BUENAVENTURA                577
BUGA                        741
CALI                      14293
CAMPOALEGRE                  74
CARTAGENA                  1283
CARTAGO                     454
CAUCASIA                     84
CHAPARRAL                   111
CHIA                        799
CUCUTA                     1119
CUMARIBO                     16
EL DONCELLO                  74
ESPINAL                     154
FACATATIVA                  609
FLORENCIA                   475
FUSAGASUGA                  180
GARZON                      271
GIRARDOT                    213
GRANADA                     129
                          ...
RIOHACHA                    334
RIONEGRO                    811
ROLDANILLO                  109
SAN ANDRES                   61
SAN GIL                     204
SAN JOSE DEL GUAVIARE        70
SANTA MARTA                 592
SANTA ROSA DE OSOS          114
SANTANDER DE QUILICHAO      616
SEVILLA                      52
SIBUNDOY                     96
SILVIA                       36
SINCELEJO                   449
SOACHA                      698
SOCORRO                     270
SOGAMOSO                   1952
SONSON                      128
TAME                        108
TULUA                       589
TUMACO                      334
TUNJA                      2279
TURBO                        99
VALLEDUPAR                  804
VELEZ                       167
VILLA DE LEYVA               90
VILLAVICENCIO              1736
YOPAL                       558
YUMBO                       320
ZARZAL                      107
ZIPAQUIRA                   424
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [137]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              21
ANTIOQUIA           7025
ARAUCA               284
ATLÁNTICO           1892
BOGOTÁ             17469
BOLÍVAR             1439
BOYACÁ              4524
CALDAS              2600
CAQUETÁ              549
CASANARE             581
CAUCA               2853
CESAR               1016
CHOCÓ                467
CUNDINAMARCA        2923
CÓRDOBA              911
GUAINÍA               43
GUAVIARE              70
HUILA               4177
LA GUAJIRA           545
MAGDALENA            592
META                1865
NARIÑO              6107
NORTE SANTANDER     1485
PUTUMAYO             584
QUINDÍO             1140
RISARALDA           1697
SAN ANDRÉS            61
SANTANDER           6738
SUCRE                449
TOLIMA              2573
VALLE              19113
VAUPÉS                23
VICHADA               26
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [138]:
c = 'FAMI_EDUCA_PADRE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      3104
1       143
2       867
3       577
4       597
5      1142
6       100
7       392
8       111
9     14288
10    11321
11    10749
12    19039
13     1319
14     4937
15     1953
16    11457
17     4805
99     4707
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 234
__________________
Elementos diferentes de null/NaN: 91608
__________________
(91608,)
None

In [139]:
Do_resamples(data_2012, c, float)

cant null antes: 234
cant null despues: 0

In [140]:
c = 'FAMI_EDUCA_MADRE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      1842
1        68
2       719
3       519
4       698
5      1301
6       121
7       537
8       118
9     12407
10    11359
11    12413
12    21266
13     1696
14     6457
15     2164
16    11569
17     4134
99     2220
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 234
__________________
Elementos diferentes de null/NaN: 91608
__________________
(91608,)
None

In [141]:
Do_resamples(data_2012, c, float)

cant null antes: 234
cant null despues: 0

In [142]:
c = 'FAMI_OCUPA_PADRE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1        88
2       155
3        67
4        74
5       493
6        97
7       800
8       223
9      1739
10      104
11      350
12      732
13     3077
14     7968
15     2616
16     3659
17     5873
18     3654
19    13067
20     5263
21    23358
22     1418
23     4186
26    12547
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 234
__________________
Elementos diferentes de null/NaN: 91608
__________________
(91608,)
None

In [143]:
Do_resamples(data_2012, c, float)

cant null antes: 234
cant null despues: 0

In [144]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    19668
2    32607
3    22749
4     6805
5     3643
6     3004
8       38
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 3328
__________________
Elementos diferentes de null/NaN: 88514
__________________
(88514,)
None

In [145]:
Do_resamples(data_2012, c, float)

cant null antes: 3328
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [146]:
c = 'FAMI_OCUPA_MADRE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1        34
2       131
3        39
4        73
5       445
6       293
7       245
8       151
9       581
10     2440
11      130
12      360
13     1398
14     3551
15     1755
16     3368
17     4905
18     3742
19     7565
20     3705
21    10291
22    38103
23     1697
26     6606
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 234
__________________
Elementos diferentes de null/NaN: 91608
__________________
(91608,)
None

In [147]:
Do_resamples(data_2012, c, float)

cant null antes: 234
cant null despues: 0

In [148]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    25639
2    20445
3     4442
4      883
5    40199
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 234
__________________
Elementos diferentes de null/NaN: 91608
__________________
(91608,)
None

In [149]:
Do_resamples(data_2012, c, float)

cant null antes: 234
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [150]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      1082
2      6612
3     18288
4     28870
5     19737
6      8988
7      3852
8      1990
9       812
10      604
11      254
12      517
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 236
__________________
Elementos diferentes de null/NaN: 91606
__________________
(91606,)
None

In [151]:
Do_resamples(data_2012, c, float)

cant null antes: 236
cant null despues: 0

In [152]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 10.0], dtype='float64')
1      266
2     1627
3     2247
4      658
5      188
6       62
7       20
8       11
10       3
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 86760
__________________
Elementos diferentes de null/NaN: 5082
__________________
(5082,)
None

In [153]:
Do_resamples(data_2012, c, float)

cant null antes: 86760
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [154]:
c = 'FAMI_PISOSHOGAR'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     2301
2    32359
3     5235
4    51467
5      246
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 234
__________________
Elementos diferentes de null/NaN: 91608
__________________
(91608,)
None

In [155]:
Do_resamples(data_2012, c, float)

cant null antes: 234
cant null despues: 0

In [156]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    36767
1    54842
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [157]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [158]:
c = 'FAMI_CELULAR'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     5335
1    86493
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 14
__________________
Elementos diferentes de null/NaN: 91828
__________________
(91828,)
None

In [159]:
Do_resamples(data_2012, c, float)

cant null antes: 14
cant null despues: 0

In [160]:
c = 'FAMI_INTERNET'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    40929
1    50680
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [161]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [162]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    28144
1    63465
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [163]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [164]:
c = 'FAMI_COMPUTADOR'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    28968
1     3586
3    59055
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [165]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [166]:
c = 'FAMI_LAVADORA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    29416
1    62193
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [167]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [168]:
c = 'FAMI_NEVERA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7627
1    84201
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 14
__________________
Elementos diferentes de null/NaN: 91828
__________________
(91828,)
None

In [169]:
Do_resamples(data_2012, c, float)

cant null antes: 14
cant null despues: 0

In [170]:
c = 'FAMI_HORNO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    47716
1    43893
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [171]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [172]:
c = 'FAMI_DVD'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    29984
1    61625
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [173]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [174]:
c = 'FAMI_MICROONDAS'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    60545
1    31064
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [175]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [176]:
c = 'FAMI_AUTOMOVIL'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    66773
1    24836
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 233
__________________
Elementos diferentes de null/NaN: 91609
__________________
(91609,)
None

In [177]:
Do_resamples(data_2012, c, float)

cant null antes: 233
cant null despues: 0

In [178]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    16347
2    40209
3    16692
4     8638
5     3104
6     2242
7     4376
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 234
__________________
Elementos diferentes de null/NaN: 91608
__________________
(91608,)
None

In [179]:
Do_resamples(data_2012, c, float)

cant null antes: 234
cant null despues: 0

In [180]:
c = 'ESTU_TRABAJA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    45915
1      109
2       18
3     1961
4      719
5      971
6     2864
7     2925
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 36360
__________________
Elementos diferentes de null/NaN: 55482
__________________
(55482,)
None

In [181]:
Do_resamples(data_2012, c, float)

cant null antes: 36360
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [182]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0        4
1        6
2       13
3       15
4       67
5       45
6       60
7       19
8      297
9       62
10     128
11       7
12      97
13       3
14      25
15      52
16      69
17      12
18      62
19      20
20    2737
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 88042
__________________
Elementos diferentes de null/NaN: 3800
__________________
(3800,)
None

In [183]:
Do_resamples(data_2012, c, float)

cant null antes: 88042
cant null despues: 1
cant null antes: 1
cant null despues: 0

## TARGETS

In [184]:
c = 'PUNT_LENGUAJE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([ 0, 17, 18, 19, 26, 27, 31, 32, 35, 36, 38, 39, 41, 43, 44, 46, 48,
            50, 52, 54, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 69, 70,
            71, 72, 74, 75, 76, 78, 79, 81, 82, 84, 86, 90, 91],
           dtype='int64')
0      121
17       1
18      47
19      46
26     165
27     154
31     477
32     446
35    1523
36     530
38    1851
39    1814
41    5358
43      63
44    7014
46    8236
48    9034
50    9589
52    9070
54    8614
56    3849
57    3645
58     235
59    6228
60     190
61    4949
62     197
63    3520
65     752
66    1716
67      95
68     670
69     625
70      62
71     297
72     265
74     103
75      80
76     125
78      14
79      31
81      10
82      17
84       8
86       1
90       4
91       1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [185]:
c = 'PUNT_MATEMATICAS'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([  0,   8,   9,  18,  19,  24,  25,  26,  29,  30,  31,  33,  34,
             35,  37,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,
             51,  52,  54,  55,  57,  59,  60,  62,  63,  65,  66,  68,  69,
             71,  72,  74,  75,  78,  79,  83,  84,  87,  89,  90,  91,  93,
             99, 100, 101, 103, 115, 116, 117],
           dtype='int64')
0        90
8        46
9        56
18      191
19      212
24      293
25      956
26        8
29     1313
30     1318
31       35
33     2394
34     2529
35       49
37     7077
39       99
40     6807
41     2220
42      111
43     7518
44     2526
45      143
46     7382
47     2397
48      141
49     8950
51     3902
52     3882
54     4888
55     1538
57     5034
59     2037
60     2040
62     2311
63      876
65     1891
66      748
68     1491
69      584
71     1222
72      453
74      629
75      703
78      514
79      540
83      425
84      347
87       40
89      234
90      120
91      126
93       15
99      137
100      56
101      59
103      19
115      64
116      26
117      30
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [186]:
for i in data_2012[c].value_counts().sort_index().index:
    if i > 100:
        data_2012[c] = data_2012[c].replace(i, 100)

In [187]:
c = 'PUNT_C_SOCIALES'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([ 0, 11, 12, 18, 19, 20, 24, 25, 28, 31, 33, 34, 36, 37, 38, 39, 40,
            41, 42, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58,
            59, 60, 62, 64, 65, 66, 67, 69, 70, 71, 72, 73, 74, 76, 77, 81, 82,
            90],
           dtype='int64')
0      201
11      23
12      17
18       1
19      60
20      45
24     188
25      84
28     736
31    1522
33    1190
34    1428
36    3926
37      45
38    3982
39    1419
40    4824
41    1664
42    7547
44    8108
45    3964
46    4127
47    3886
48    3899
49    5396
50    3587
51    5100
52    2946
53    3085
54    2571
55    2596
56    2060
57    2075
58    3266
59     119
60    2364
62    1629
64     617
65     437
66     365
67     254
69     169
70     139
71      14
72      28
73      81
74       4
76      13
77      29
81       2
82       9
90       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [188]:
c = 'PUNT_FILOSOFIA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([  0,   1,   3,   7,  11,  12,  13,  16,  17,  18,  19,  22,  23,
             26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
             39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  52,
             53,  54,  55,  56,  57,  58,  60,  61,  63,  64,  65,  66,  67,
             68,  69,  71,  72,  74,  75,  77,  80,  83,  84,  85,  86,  87,
             91,  98,  99, 100, 102, 103],
           dtype='int64')
0        64
1        20
3        52
7         3
11       78
12      162
13      113
16        5
17      206
18      429
19      288
22     1490
23      641
26     2587
27     1021
28       69
29     3828
30     1540
31     1607
32     3406
33     2110
34     3908
35     2077
36     4412
37     4637
38     2326
39     4230
40     2395
41     6277
42     2069
       ...
55     2419
56      187
57     1428
58     1214
60     1347
61      922
63      991
64      321
65      338
66      313
67      393
68      233
69      232
71      242
72      192
74      112
75      185
77      180
80       13
83       50
84       37
85        5
86       50
87       55
91        4
98       10
99        9
100       2
102       8
103       5
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [189]:
for i in data_2012[c].value_counts().sort_index().index:
    if i > 100:
        data_2012[c] = data_2012[c].replace(i, 100)

In [190]:
c = 'PUNT_BIOLOGIA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([  0,   9,  11,  12,  13,  18,  20,  21,  24,  26,  29,  30,  33,
             34,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,
             48,  49,  51,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
             63,  64,  65,  66,  67,  68,  69,  70,  72,  73,  74,  75,  77,
             78,  79,  82,  85,  86,  87,  93,  98,  99, 100],
           dtype='int64')
0        24
9         9
11       15
12       11
13       10
18       36
20       58
21      111
24      140
26      519
29      331
30     1211
33     1636
34     1757
36     2877
37     2811
38       39
39     6094
40     2108
41       85
42     9757
43      103
44     7931
45     2797
46     7832
47     2713
48     2206
49     7290
51     8127
53     5071
       ...
56     2549
57     1075
58     2831
59      144
60     1248
61     1528
62      420
63     1402
64       85
65      289
66      873
67       49
68      175
69      341
70      227
72       72
73      192
74       83
75       25
77       39
78       89
79       29
82        6
85        5
86       43
87       27
93        3
98        4
99        3
100       1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [191]:
c = 'PUNT_QUIMICA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([ 0, 18, 19, 21, 23, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37,
            38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54,
            55, 56, 57, 58, 59, 60, 61, 62, 63, 65, 66, 67, 68, 70, 71, 72, 73,
            75, 77, 79, 80, 81, 87, 88, 90, 92],
           dtype='int64')
0       48
18      17
19      22
21      52
23      61
25      75
26     103
27       3
28     184
29     461
30     250
31       6
32    1497
33     523
35    2704
36     985
37    2676
38    2664
39    3376
40    3526
41    3971
42    4011
43    4122
44    3951
45    7712
46    1826
47    5396
48    3288
49    3369
50    5917
51    1653
52    4019
53    2644
54    2627
55    2307
56    2232
57    2062
58    1936
59    1800
60    1519
61    1467
62    1108
63    1003
65     676
66     664
67      46
68     334
70     219
71     214
72     101
73      71
75      29
77     200
79      28
80      28
81      12
87      20
88      14
90       4
92       9
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [192]:
c = 'PUNT_FISICA'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([  0,   4,   5,   7,   8,   9,  16,  17,  18,  23,  24,  25,  28,
             29,  32,  33,  34,  36,  37,  38,  39,  40,  42,  43,  44,  45,
             46,  47,  48,  49,  50,  51,  52,  54,  55,  57,  59,  60,  61,
             62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  74,  75,
             76,  77,  78,  80,  81,  82,  86,  87,  88,  93,  94,  97,  99,
            100, 105, 114, 116, 123, 124],
           dtype='int64')
0        53
4        30
5         1
7        46
8        34
9        35
16      143
17      157
18      286
23      400
24      862
25      420
28      883
29     2701
32     2990
33     3014
34       75
36     6220
37     2202
38       90
39     7286
40     2553
42     7455
43     2590
44     4458
45     2590
46     2340
47     3785
48     2308
49     3607
       ...
64      171
65     1198
66     1168
67      140
68      452
69     1400
70      115
71      308
72     1014
74       98
75      209
76      499
77      168
78       62
80      131
81      268
82      161
86      169
87       73
88       53
93       25
94       43
97       21
99       26
100       3
105      18
114      11
116       5
123       3
124       4
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [193]:
for i in data_2012[c].value_counts().sort_index().index:
    if i > 100:
        data_2012[c] = data_2012[c].replace(i, 100)

In [194]:
c = 'PUNT_INGLES'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([ -1,   0,   3,   7,  11,  14,  17,  20,  23,  26,  29,  31,  33,
             35,  37,  39,  40,  42,  43,  45,  46,  47,  48,  50,  51,  52,
             53,  55,  56,  57,  59,  60,  61,  63,  65,  68,  70,  72,  75,
             77,  80,  83,  88,  92,  96, 100],
           dtype='int64')
-1         9
 0        67
 3        30
 7        52
 11       55
 14       85
 17      140
 20      325
 23      630
 26     1234
 29     2101
 31     3185
 33     4379
 35     5373
 37     6334
 39     6652
 40     6492
 42     5959
 43     9741
 45     3825
 46     3094
 47     2711
 48     2412
 50     2094
 51     1848
 52     1639
 53     1480
 55     1348
 56     1312
 57     1193
 59     1126
 60     1041
 61      967
 63      910
 65      921
 68      903
 70      931
 72      948
 75     1033
 77     1095
 80     1162
 83     1280
 88     1325
 92     1135
 96      912
 100     354
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [195]:
for i in data_2012[c].value_counts().sort_index().index:
    if i < 0:
        data_2012[c] = data_2012[c].replace(i, 0)

In [196]:
c = 'DESEMP_INGLES'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    48352
A1    22105
A2     8467
B+     5006
B1     7903
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 9
__________________
Elementos diferentes de null/NaN: 91833
__________________
(91833,)
None

In [197]:
Do_resamples(data_2012, c, str)

cant null antes: 9
cant null despues: 0

In [198]:
c = 'NOMBRE_COMP_FLEXIBLE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['MEDIO AMBIENTE', 'PROFUNDIZACIÓN EN BIOLOGÍA',
       'PROFUNDIZACIÓN EN CIENCIAS SOCIALES', 'PROFUNDIZACIÓN EN LENGUAJE',
       'PROFUNDIZACIÓN EN MATEMÁTICA', 'VIOLENCIA Y SOCIEDAD'],
      dtype='object')
MEDIO AMBIENTE                         26154
PROFUNDIZACIÓN EN BIOLOGÍA             14338
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     5879
PROFUNDIZACIÓN EN LENGUAJE              9809
PROFUNDIZACIÓN EN MATEMÁTICA           12439
VIOLENCIA Y SOCIEDAD                   23223
Name: NOMBRE_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [199]:
c = 'PUNT_COMP_FLEXIBLE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([ 0,  3,  4,  5,  6,  7,  8,  9, 18, 26, 32, 36, 40, 44, 46, 48, 49,
            50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 62, 67, 74, 85],
           dtype='int64')
0       407
3       241
4      5915
5     24760
6     10156
7      1071
8        42
9         3
18      199
26      657
32     1586
36     2653
40     3595
44     3898
46      474
48     4963
49     2283
50     3197
51     6417
52     6616
53     2596
54     5637
55     1081
56      726
57      398
58     1205
59      165
62      614
67      228
74       52
85        7
Name: PUNT_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

In [200]:
c = 'DESEMP_COMP_FLEXIBLE'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     16967
I      21771
II      3311
III      416
Name: DESEMP_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 49377
__________________
Elementos diferentes de null/NaN: 42465
__________________
(42465,)
None

In [201]:
Do_resamples(data_2012, c, str)

cant null antes: 49377
cant null despues: 0

In [202]:
c = 'ESTU_PUESTO'
print(data_2012[c].value_counts().sort_index().index)
print(data_2012[c].value_counts().sort_index())
print(missing_data(data_2012[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       96
2       96
3       96
4       95
5       96
6       96
7       96
8       96
9       96
10      94
11      93
12      95
13      95
14      96
15      96
16      95
17      97
18      96
19      95
20      96
21      96
22      94
23      93
24      94
25      92
26      92
27      93
28      95
29      95
30      97
        ..
971     87
972     92
973     88
974     90
975     89
976     90
977     88
978     90
979     93
980     89
981     86
982     86
983     84
984     91
985     90
986     83
987     88
988     89
989     88
990     88
991     87
992     92
993     78
994     80
995     54
996     32
997     29
998     67
999     17
1000    27
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 91842
__________________
(91842,)
None

___

___

___

___

___

## FILE 2: 2012_2

In [2]:
data_2012_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20122-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (11,12,13,14,15,16,24) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_2012_2.shape

(575646, 114)

In [4]:
data_2012_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120122000001,SABER1120122000002,SABER1120122000003
PERIODO,20122,20122,20122
ESTU_EDAD,18,18,17
ESTU_TIPO_DOCUMENTO,C,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,4,11,30
ESTU_NACIMIENTO_MES,1,6,11
ESTU_NACIMIENTO_ANNO,1994,1994,1994
ESTU_ETNIA,99,99,99
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,5001,5001,5001
ESTU_RESIDE_MCPIO,MEDELLIN,MEDELLIN,MEDELLIN
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,ANTIOQUIA
ESTU_ZONA_RESIDE,6,6,6
ESTU_AREA_RESIDE,NaN,NaN,NaN
IND_COD_ICFES_TERMINO,46912,46912,46912
COLE_COD_ICFES,46912,46912,46912
COLE_COD_DANE_INSTITUCION,1.05001e+11,1.05001e+11,1.05001e+11
COLE_NOMBRE_SEDE,INST EDUC SAN PABLO,INST EDUC SAN PABLO,INST EDUC SAN PABLO
COLE_CALENDARIO,A,A,A
COLE_GENERO,X,X,X
COLE_NATURALEZA,O,O,O
COLE_BILINGUE,0,0,0
...,...,...,...
FAMI_NIVEL_SISBEN,NaN,NaN,NaN
FAMI_PISOSHOGAR,NaN,NaN,NaN
FAMI_PERSONAS_HOGAR,NaN,NaN,NaN
FAMI_TELEFONO_FIJO,NaN,NaN,NaN
FAMI_CELULAR,NaN,NaN,NaN
FAMI_INTERNET,NaN,NaN,NaN
FAMI_SERVICIO_TELEVISION,NaN,NaN,NaN
FAMI_COMPUTADOR,NaN,NaN,NaN
FAMI_LAVADORA,NaN,NaN,NaN
FAMI_NEVERA,NaN,NaN,NaN
FAMI_HORNO,NaN,NaN,NaN
FAMI_DVD,NaN,NaN,NaN
FAMI_MICROONDAS,NaN,NaN,NaN
FAMI_AUTOMOVIL,NaN,NaN,NaN
FAMI_INGRESO_FMILIAR_MENSUAL,NaN,NaN,NaN
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_HORAS_TRABAJA,NaN,NaN,NaN
PUNT_LENGUAJE,44,42,42
PUNT_MATEMATICAS,20,26,45
PUNT_C_SOCIALES,43,29,29
PUNT_FILOSOFIA,32,25,35
PUNT_BIOLOGIA,43,36,31
PUNT_QUIMICA,35,40,45
PUNT_FISICA,27,44,44
PUNT_INGLES,38,27,27
DESEMP_INGLES,A-,A-,A-
NOMBRE_COMP_FLEXIBLE,PROFUNDIZACIÓN EN LENGUAJE,VIOLENCIA Y SOCIEDAD,VIOLENCIA Y SOCIEDAD
PUNT_COMP_FLEXIBLE,5,48,34
DESEMP_COMP_FLEXIBLE,I,NaN,NaN
ESTU_PUESTO,959,965,860

In [5]:
data_2012_2 = data_2012_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'COLE_NOMBRE_SEDE', 'ESTU_IES_COD_MPIO_DESEADA', 'ESTU_IES_DESEADA_NOMBRE', 
                                'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_EXAM_NOMBREEXAMEN'], axis=1)

In [6]:
c = 'ESTU_EDAD'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0,
              20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0,
              31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0,
              42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0,
              53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0,
              64.0, 65.0, 66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0,
              75.0, 76.0, 77.0, 78.0, 79.0, 80.0, 82.0],
             dtype='float64')
9       4099
10      1415
11         8
12       125
13       256
14      2530
15     50979
16    222869
17    140980
18     66228
19     27311
20     12290
21      6776
22      4557
23      3422
24      2662
25      2622
26      2553
27      2265
28      1907
29      1733
30      1542
31      1436
32      1318
33      1285
34      1166
35      1082
36       964
37       951
38       803
       ...
52       219
53       178
54       151
55       139
56       105
57        96
58        70
59        64
60        49
61        32
62        36
63        26
64        22
65        16
66        15
67        24
68        10
69         6
70         7
71        12
72         5
73         2
74         3
75         2
76         1
77         1
78         2
79         2
80         4
82         2
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 575645
__________________
(575645,)
None

In [7]:
idx = data_2012_2[data_2012_2[c].isnull()].index
data_2012_2 = data_2012_2.drop(idx)

In [8]:
c = 'ESTU_PAIS_RESIDE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['AR', 'AW', 'BO', 'BR', 'CH', 'CL', 'CN', 'CO', 'CR', 'CU', 'DE', 'EC',
       'ES', 'GT', 'HN', 'IT', 'JM', 'MX', 'NO', 'PA', 'PE', 'SV', 'TW', 'US',
       'VE', 'ZA'],
      dtype='object')
AR         3
AW         2
BO         1
BR        10
CH         1
CL         5
CN         4
CO    575403
CR         1
CU         3
DE         2
EC         8
ES         1
GT         2
HN         2
IT         1
JM         1
MX         4
NO         1
PA         4
PE        11
SV         1
TW         1
US        12
VE        38
ZA         1
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 122
__________________
Elementos diferentes de null/NaN: 575523
__________________
(575523,)
None

In [9]:
Do_resamples(data_2012_2, c, str)

cant null antes: 122
cant null despues: 0

In [10]:
c = 'ESTU_GENERO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['F', 'M'], dtype='object')
F    314514
M    258466
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 2665
__________________
Elementos diferentes de null/NaN: 572980
__________________
(572980,)
None

In [11]:
Do_resamples(data_2012_2, c, str)

cant null antes: 2665
cant null despues: 0

In [12]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     19009
2     19214
3     19045
4     18969
5     19446
6     18696
7     18724
8     18938
9     18719
10    19412
11    18700
12    19326
13    18635
14    18368
15    19208
16    18945
17    18683
18    18860
19    18340
20    19288
21    18206
22    18732
23    18581
24    19129
25    18755
26    18594
27    18762
28    18821
29    17343
30    17070
31    10445
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 2682
__________________
Elementos diferentes de null/NaN: 572963
__________________
(572963,)
None

In [13]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     46982
2     42741
3     47312
4     45622
5     47698
6     45721
7     47394
8     48864
9     50786
10    49847
11    48383
12    51613
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 2682
__________________
Elementos diferentes de null/NaN: 572963
__________________
(572963,)
None

In [14]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([  20.0,   23.0, 1930.0, 1931.0, 1932.0, 1933.0, 1935.0, 1936.0,
              1937.0, 1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0,
              1945.0, 1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0,
              1953.0, 1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0,
              1961.0, 1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0,
              1969.0, 1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0,
              1977.0, 1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0,
              1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0],
             dtype='float64')
20           1
23           1
1930         2
1931         2
1932         4
1933         1
1935         1
1936         1
1937         2
1938         4
1939         3
1940        10
1941         7
1942         8
1943         7
1944        13
1945        25
1946        16
1947        21
1948        20
1949        34
1950        31
1951        45
1952        54
1953        67
1954        85
1955       104
1956       124
1957       146
1958       161
         ...
1976      1028
1977      1141
1978      1214
1979      1311
1980      1392
1981      1513
1982      1622
1983      1793
1984      2167
1985      2383
1986      2586
1987      2617
1988      2974
1989      3996
1990      5614
1991      9276
1992     19037
1993     46589
1994    108358
1995    208147
1996    123345
1997      9169
1998       438
1999       187
2000        10
2001         6
2002      5241
2003        20
2004         7
2005         2
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 2682
__________________
Elementos diferentes de null/NaN: 572963
__________________
(572963,)
None

In [15]:
for i in data_2012_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2012_2[c] = data_2012_2[c].replace(i, np.nan)
    elif i > 2003:
        data_2012_2[c] = data_2012_2[c].replace(i, np.nan)

anno = data_2012_2[data_2012_2[c].isnull()].index
data_2012_2 = data_2012_2.drop(anno)

In [16]:
c = 'ESTU_ETNIA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     20338
2         3
3      1838
4       191
5        92
6       980
7       248
8       601
9      1455
10     3198
11     1575
12      149
13      242
14       50
15       82
16      132
17      175
99     8402
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 533201
__________________
Elementos diferentes de null/NaN: 39751
__________________
(39751,)
None

In [17]:
data_2012_2[c].fillna(99, inplace=True)

In [18]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 572952
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [19]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [20]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['C'], dtype='object')
C    23
Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64
Elementos null/NaN 572929
__________________
Elementos diferentes de null/NaN: 23
__________________
(23,)
None

In [21]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [22]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['G'], dtype='object')
G    523
Name: ESTU_LIMITA_COGNITIVA, dtype: int64
Elementos null/NaN 572429
__________________
Elementos diferentes de null/NaN: 523
__________________
(523,)
None

In [23]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [24]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['I'], dtype='object')
I    119
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 572833
__________________
Elementos diferentes de null/NaN: 119
__________________
(119,)
None

In [25]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [26]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['M'], dtype='object')
M    596
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 572356
__________________
Elementos diferentes de null/NaN: 596
__________________
(596,)
None

In [27]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [28]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['R'], dtype='object')
R    396
Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64
Elementos null/NaN 572556
__________________
Elementos diferentes de null/NaN: 396
__________________
(396,)
None

In [29]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [30]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['S'], dtype='object')
S    154
Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64
Elementos null/NaN 572798
__________________
Elementos diferentes de null/NaN: 154
__________________
(154,)
None

In [31]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [32]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1029)
ABEJORRAL                    205
ABREGO                       232
ABRIAQUI                      39
ACACIAS                     1083
ACANDI                        50
ACEVEDO                      234
ACHI                         258
AGRADO                       143
AGUA DE DIOS                 133
AGUACHICA                   1037
AGUADA                        18
AGUADAS                      293
AGUAZUL                      493
AGUSTIN CODAZZI              606
AIPE                         252
ALBAN                         92
ALBAN (SAN JOSE)             130
ALBANIA                      298
ALCALA                       167
ALDANA                        85
ALEJANDRIA                    51
ALGARROBO                    167
ALGECIRAS                    229
ALMAGUER                     105
ALMEIDA                       26
ALPUJARRA                     43
ALTAMIRA                      53
ALTO BAUDO (PIE DE PATO)      50
ALTOS DEL ROSARIO             88
ALVARADO                     105
                            ...
VILLANUEVA                  1014
VILLAPINZON                  297
VILLARRICA                    75
VILLAVICENCIO               6190
VILLAVIEJA                    73
VILLETA                      334
VIOTA                        220
VIRACACHA                     45
VISTA HERMOSA                176
VITERBO                      210
YACOPI                       154
YACUANQUER                   143
YAGUARA                      112
YALI                          27
YARUMAL                      557
YAVARATE                       6
YOLOMBO                      230
YONDO (CASABE)               152
YOPAL                       2223
YOTOCO                       156
YUMBO                       1408
ZAMBRANO                     140
ZAPATOCA                     122
ZAPAYAN                       94
ZARAGOZA                     278
ZARZAL                       607
ZETAQUIRA                     63
ZIPACON                       71
ZIPAQUIRA                   1788
ZONA BANANERA                709
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572952
__________________
(572952,)
None

In [33]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS             819
ANTIOQUIA          77166
ARAUCA              3039
ATLÁNTICO          28356
BOGOTÁ             97048
BOLÍVAR            26166
BOYACÁ             18917
CALDAS             12800
CAQUETÁ             4226
CASANARE            5193
CAUCA              13742
CESAR              11773
CHOCÓ               4444
CUNDINAMARCA       36424
CÓRDOBA            19878
GUAINÍA              180
GUAVIARE             951
HUILA              14338
LA GUAJIRA          7015
MAGDALENA          14618
META               11581
NARIÑO             18007
NORTE SANTANDER    16274
PUTUMAYO            3894
QUINDÍO             7390
RISARALDA          11401
SAN ANDRÉS           786
SANTANDER          29696
SUCRE              11161
TOLIMA             17862
VALLE              47018
VAUPÉS               316
VICHADA              472
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [34]:
idx = data_2012_2[data_2012_2[c].isnull()].index
data_2012_2 = data_2012_2.drop(idx)

In [35]:
c = 'ESTU_ZONA_RESIDE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      21458
2       7756
3      14233
4      50601
5      16651
6      12520
7      14953
8      26669
9      23591
10    384519
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [36]:
c = 'ESTU_AREA_RESIDE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    448064
2    124613
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 274
__________________
Elementos diferentes de null/NaN: 572677
__________________
(572677,)
None

In [37]:
Do_resamples(data_2012_2, c, float)

cant null antes: 274
cant null despues: 0

In [38]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([     0.0,      2.0,      3.0,     18.0,     42.0,     59.0,
                  67.0,     74.0,     75.0,     77.0,
              ...
              620476.0, 622001.0, 627653.0, 629600.0, 631101.0, 633743.0,
              638833.0, 647693.0, 658286.0, 999999.0],
             dtype='float64', length=14176)
0           65
2          201
3         3749
18          12
42           1
59        1031
67          38
74           1
75          65
77           1
83          31
90           1
91         100
117          1
125         93
134          1
139          1
141        103
174         99
190         77
208         84
216         23
222          1
223          1
226          2
232         29
237          1
240         47
257         54
265         37
          ...
502732       1
504944       1
506543       1
523407       1
536870       1
558635       1
560623       1
561589       1
593376       1
593525       1
593632       1
593699       3
595108       1
595827       1
597955       1
598052       1
605303       1
605790       1
619148       1
619601       1
620476       1
622001       1
627653       1
629600       1
631101       1
633743       1
638833       1
647693       1
658286       1
999999     717
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 8736
__________________
Elementos diferentes de null/NaN: 564215
__________________
(564215,)
None

In [39]:
Do_resamples(data_2012_2, c, float)

cant null antes: 8736
cant null despues: 0

In [40]:
c = 'COLE_COD_ICFES'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([     2.0,      3.0,     18.0,     42.0,     59.0,     67.0,
                  75.0,     83.0,     91.0,    125.0,
              ...
              169110.0, 169136.0, 169144.0, 169151.0, 169169.0, 169177.0,
              169185.0, 169193.0, 169201.0, 999999.0],
             dtype='float64', length=13000)
2          236
3         1913
18          12
42           1
59        1092
67           2
75          64
83          31
91         100
125         94
141        102
174        100
190         77
208         84
216         22
232         29
240         49
257         53
265         33
273         44
281         69
315        120
349         14
356         41
364         58
372         49
380        106
398         28
406         27
422         16
          ...
168898      41
168906      16
168914       8
168922      28
168930      48
168948      10
168955       7
168963      70
168971       9
168989       3
169003      11
169011       2
169029       8
169037       4
169045      13
169060      18
169078      17
169086      16
169094       3
169102       4
169110      20
169136       9
169144       7
169151       2
169169       4
169177       4
169185       3
169193      10
169201      13
999999     817
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 1068
__________________
Elementos diferentes de null/NaN: 571883
__________________
(571883,)
None

In [41]:
for i in data_2012_2[c].value_counts().sort_index().index:
    if len(str(i))<4:
        data_2012_2[c] = data_2012_2[c].replace(i, np.nan)

Do_resamples(data_2012_2, c, float)

cant null antes: 3217
cant null despues: 0

In [42]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2012_2[c].value_counts().index)
print(data_2012_2[c].value_counts())
print(missing_data(data_2012_2[c]))

Index([105001000108.0, 311001105391.0, 311001105863.0, 105001013340.0,
       176001005813.0, 305001003963.0, 168001003591.0, 105154000301.0,
       105615000236.0, 111001010910.0,
       ...
       276520001111.0, '163130000173', 108001003670.0, '363001000051',
       376520007151.0, '191001000489', '105190000181', '376892000999',
       '366001000742', '325899000443'],
      dtype='object', length=13666)
105001000108.0    1053
311001105391.0     943
311001105863.0     839
105001013340.0     804
176001005813.0     692
305001003963.0     658
168001003591.0     631
105154000301.0     602
105615000236.0     586
111001010910.0     545
313001006701.0     532
111102000753.0     518
111001024732.0     514
111001011819.0     510
166001002339.0     489
111001019411.0     479
111001006122.0     477
163001002941.0     476
305001004293.0     465
405001018213.0     459
115238000698.0     459
173001000308       452
111001076376.0     446
141001003341.0     428
311001004820.0     425
152001000777.0     423
311102000141.0     417
125754003267.0     413
168001002421.0     413
141001000066.0     405
                  ...
215189000061         1
217524000015         1
225769060580         1
199001000919         1
163130001137         1
111001098884         1
311001045470.0       1
252621000348         1
315001001923         1
311001037051         1
319001004561         1
344430001010         1
244430002097         1
141668000552         1
376001001388.0       1
325260000574         1
166001000069         1
308001000262.0       1
111001015911         1
170708000364.0       1
276520001111.0       1
163130000173         1
108001003670.0       1
363001000051         1
376520007151.0       1
191001000489         1
105190000181         1
376892000999         1
366001000742         1
325899000443         1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 7095
__________________
Elementos diferentes de null/NaN: 565856
__________________
(565856,)
None

In [45]:
data_2012_2[c] = data_2012_2[c].replace('PENDIENTE', np.nan)
for i in data_2012_2[c].value_counts().index:
    if ' ' in str(i):
        data_2012_2[c] = data_2012_2[c].replace(i, np.nan)
    elif type(i) == str:
        data_2012_2[c] = data_2012_2[c].replace(i, float(i))
        
Do_resamples(data_2012_2, c, float)

cant null antes: 7114
cant null despues: 0

In [46]:
c = 'COLE_CALENDARIO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    476601
B      1861
F     92604
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 1885
__________________
Elementos diferentes de null/NaN: 571066
__________________
(571066,)
None

In [47]:
Do_resamples(data_2012_2, c, str)

cant null antes: 1885
cant null despues: 0

In [48]:
c = 'COLE_GENERO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     27308
M      6577
X    535032
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 4034
__________________
Elementos diferentes de null/NaN: 568917
__________________
(568917,)
None

In [49]:
Do_resamples(data_2012_2, c, str)

cant null antes: 4034
cant null despues: 0

In [50]:
c = 'COLE_NATURALEZA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['N', 'O'], dtype='object')
N    144769
O    424147
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 4035
__________________
Elementos diferentes de null/NaN: 568916
__________________
(568916,)
None

In [51]:
Do_resamples(data_2012_2, c, str)

cant null antes: 4035
cant null despues: 0

In [52]:
c = 'COLE_BILINGUE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    474540
1      5670
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 92741
__________________
Elementos diferentes de null/NaN: 480210
__________________
(480210,)
None

In [53]:
Do_resamples(data_2012_2, c, float)

cant null antes: 92741
cant null despues: 0

In [54]:
c = 'COLE_JORNADA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE', 'UNICA'],
      dtype='object')
COMPLETA U ORDINARIA    108425
MAÑANA                  293621
NOCHE                    42767
SABATINA - DOMINICAL     33501
TARDE                    91304
UNICA                      116
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 3217
__________________
Elementos diferentes de null/NaN: 569734
__________________
(569734,)
None

In [55]:
Do_resamples(data_2012_2, c, str)

cant null antes: 3217
cant null despues: 0

In [56]:
c = 'COLE_CARACTER'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              360450
ACADEMICO Y TECNICO     93783
DESCONOCIDO               324
NORMALISTA              13190
TECNICO                101142
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 4062
__________________
Elementos diferentes de null/NaN: 568889
__________________
(568889,)
None

In [57]:
Do_resamples(data_2012_2, c, str)

cant null antes: 4062
cant null despues: 0

In [58]:
c = 'COLE_VALOR_PENSION'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0     427533
1       3532
2        289
3         98
4         70
5         65
6         55
7          3
8      44259
9      16754
10     11121
11     22711
12     20935
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 25526
__________________
Elementos diferentes de null/NaN: 547425
__________________
(547425,)
None

In [59]:
Do_resamples(data_2012_2, c, float)

cant null antes: 25526
cant null despues: 0

In [60]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     2550
1     6445
2     4306
3    45270
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 514380
__________________
Elementos diferentes de null/NaN: 58571
__________________
(58571,)
None

In [61]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514380
cant null despues: 0

In [62]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([  1101.0,   1102.0,   1103.0,   1104.0,   1105.0,   1106.0,
                1107.0,   1108.0,   1109.0,   1110.0,
              ...
              158386.0, 159251.0, 160481.0, 160762.0, 163105.0, 165845.0,
              165852.0, 166447.0, 166678.0, 167981.0],
             dtype='float64', length=433)
1101      5357
1102       546
1103       203
1104        69
1105       489
1106       561
1107       104
1108       462
1109        10
1110       937
1111       844
1112       732
1113      1252
1114      1008
1115       334
1117       233
1118       268
1119       468
1120       678
1121        42
1122        86
1123         5
1124        88
1125        30
1201      4211
1202      1504
1203      3561
1204      1541
1205      1437
1206      1104
          ...
125351       1
127720       2
128033       7
131045       4
131284       1
132621       5
135277       1
135566       1
136937       1
139949       1
143479       1
143735       1
149633       3
153031       1
153213       1
153429       1
153809       1
156919       1
157115       2
158311       1
158386       3
159251       1
160481       1
160762       2
163105       1
165845       1
165852       2
166447       1
166678       2
167981       3
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 516238
__________________
Elementos diferentes de null/NaN: 56713
__________________
(56713,)
None

In [63]:
data_2012_2[c].fillna(method='bfill', inplace=True)
data_2012_2[c].fillna(method='ffill', inplace=True)

In [64]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE', 'VICHADA'],
      dtype='object')
AMAZONAS              30
ANTIOQUIA           8293
ARAUCA                88
ATLÁNTICO           3665
BOGOTÁ             17068
BOLÍVAR             2112
BOYACÁ              1301
CALDAS              1192
CAQUETÁ              334
CASANARE              72
CAUCA               1091
CESAR                683
CHOCÓ                270
CUNDINAMARCA        1071
CÓRDOBA             1392
HUILA               1087
LA GUAJIRA           399
MAGDALENA           1219
META                 605
NARIÑO              1249
NORTE SANTANDER     1401
PUTUMAYO              74
QUINDÍO              589
RISARALDA           1089
SAN ANDRÉS            18
SANTANDER           3186
SUCRE                910
TOLIMA              1326
VALLE               4896
VICHADA                3
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 516238
__________________
Elementos diferentes de null/NaN: 56713
__________________
(56713,)
None

In [65]:
data_2012_2[c].fillna(method='bfill', inplace=True)
data_2012_2[c].fillna(method='ffill', inplace=True)

In [66]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['ABREGO', 'AGUACHICA', 'AMALFI', 'ANDES', 'APARTADO', 'ARAUCA',
       'ARMENIA', 'ARROYOHONDO', 'BARRANCABERMEJA', 'BARRANCAS',
       ...
       'TOLU', 'TULUA', 'TUNJA', 'TURBO', 'UBATE', 'VALLEDUPAR',
       'VILLAVICENCIO', 'YOPAL', 'YUMBO', 'ZARAGOZA'],
      dtype='object', length=114)
ABREGO                      1
AGUACHICA                   5
AMALFI                      8
ANDES                      39
APARTADO                   11
ARAUCA                     88
ARMENIA                   589
ARROYOHONDO                 1
BARRANCABERMEJA           143
BARRANCAS                   1
BARRANQUILLA             3410
BELLO                     321
BOGOTÁ D.C.             17068
BOLIVAR                     3
BUCARAMANGA              2765
BUENAVENTURA               86
BUESACO                     1
BUGA                       27
CAIMITO                     4
CALDAS                     10
CALDONO                     1
CALI                     4465
CANDELARIA                  8
CARMEN DE VIBORAL          19
CARTAGENA                2111
CARTAGO                    23
CASABIANCA                  1
CAUCASIA                   31
CHIA                      318
CHIQUINQUIRA               10
                        ...
QUIBDO                    270
RIOHACHA                  386
RIONEGRO                  116
ROLDANILLO                 23
SABANETA                   14
SAN ANDRES                 18
SAN GIL                   218
SAN JUAN DEL CESAR         12
SAN PEDRO                   1
SANTA MARTA              1173
SANTA ROSA DE CABAL        32
SANTA ROSA DE OSOS         11
SANTAFÉ DE ANTIOQUIA       54
SINCE                       1
SINCELEJO                 896
SOACHA                      1
SOCORRO                    46
SOGAMOSO                  462
SOLEDAD                   255
SOPO                        7
TOLU                        4
TULUA                     161
TUNJA                     725
TURBO                     120
UBATE                      54
VALLEDUPAR                678
VILLAVICENCIO             603
YOPAL                      72
YUMBO                       1
ZARAGOZA                    1
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 516238
__________________
Elementos diferentes de null/NaN: 56713
__________________
(56713,)
None

In [67]:
data_2012_2[c].fillna(method='bfill', inplace=True)
data_2012_2[c].fillna(method='ffill', inplace=True)

In [68]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0,
              22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0,
              33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0,
              44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0,
              55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0,
              66.0, 67.0, 68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0,
              77.0, 78.0, 79.0, 80.0, 81.0, 82.0, 83.0, 84.0, 85.0, 86.0, 87.0,
              88.0, 89.0, 90.0, 91.0, 92.0, 93.0, 94.0, 95.0, 97.0, 98.0,
              99.0],
             dtype='float64')
0        3
1       18
2       49
3       90
4      107
5      148
6      168
7      192
8      191
9      184
10     291
11     260
12     482
13     422
14     414
15     641
16     541
17     610
18     659
19     637
20    1048
21     802
22    1242
23    1481
24    1425
25    2140
26    1579
27    1768
28    2214
29    1910
      ...
69      23
70      52
71      20
72      32
73       1
74      33
75       2
76       9
77      21
78       8
79       8
80      27
81      14
82      10
83       1
84      11
85       8
86       2
87      12
88       9
89      12
90       1
91       7
92      10
93       4
94       2
95       1
97       1
98       8
99       4
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [69]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [70]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0],
             dtype='float64')
1985     1159
1986      136
1987      118
1988      134
1989      136
1990      203
1991      207
1992      221
1993      176
1994      212
1995      419
1996      490
1997      766
1998     1426
1999     3008
2000     8939
2001    18456
2002    22386
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [71]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [72]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      6188
2      6336
3      5131
4      3437
5      3641
6     11734
7      3002
8      1862
9      1617
10     2334
11    13310
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [73]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [74]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0],
             dtype='float64')
1985      336
1986       61
1987       39
1988       56
1989       41
1990       74
1991       94
1992       88
1993       75
1994       88
1995      100
1996      206
1997      184
1998      150
1999      150
2000      248
2001      404
2002      463
2003      652
2004     1139
2005     3242
2006    16571
2007    31045
2008     3086
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [75]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [76]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     9430
1    31105
2     9313
3     8744
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [77]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [78]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    27695
2    10901
3     6920
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 527435
__________________
Elementos diferentes de null/NaN: 45516
__________________
(45516,)
None

In [79]:
Do_resamples(data_2012_2, c, float)

cant null antes: 527435
cant null despues: 0

In [80]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    56823
1     1769
Name: ESTU_REPROBO_CUARTO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [81]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [82]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    53941
1     4651
Name: ESTU_REPROBO_DECIMO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [83]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [84]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    55799
1     2793
Name: ESTU_REPROBO_NOVENO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [85]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [86]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    55548
1     3044
Name: ESTU_REPROBO_OCTAVO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [87]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [88]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    55271
1     3321
Name: ESTU_REPROBO_PRIMERO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [89]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [90]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    56863
1     1729
Name: ESTU_REPROBO_QUINTO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [91]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [92]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    56289
1     2303
Name: ESTU_REPROBO_SEGUNDO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [93]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [94]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    55790
1     2802
Name: ESTU_REPROBO_SEPTIMO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [95]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [96]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    55678
1     2914
Name: ESTU_REPROBO_SEXTO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [97]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [98]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    56284
1     2308
Name: ESTU_REPROBO_TERCERO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [99]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [100]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    57120
1     1472
Name: ESTU_REPROBO_ONCE_MAS, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [101]:
Do_resamples(data_2012_2, c, float)

cant null antes: 514359
cant null despues: 0

In [102]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['-'], dtype='object')
-    572951
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [103]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [104]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['-'], dtype='object')
-    572951
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [105]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [106]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    41295
1    14750
Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64
Elementos null/NaN 516906
__________________
Elementos diferentes de null/NaN: 56045
__________________
(56045,)
None

In [107]:
Do_resamples(data_2012_2, c, float)

cant null antes: 516906
cant null despues: 0

In [108]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['-'], dtype='object')
-    572951
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [109]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [110]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['-'], dtype='object')
-    572951
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [111]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [112]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    47662
1     8382
Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64
Elementos null/NaN 516907
__________________
Elementos diferentes de null/NaN: 56044
__________________
(56044,)
None

In [113]:
Do_resamples(data_2012_2, c, float)

cant null antes: 516907
cant null despues: 0

In [114]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0    26637
1    24430
2     4977
Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64
Elementos null/NaN 516907
__________________
Elementos diferentes de null/NaN: 56044
__________________
(56044,)
None

In [115]:
Do_resamples(data_2012_2, c, float)

cant null antes: 516907
cant null despues: 0

In [116]:
c = 'ESTU_RAZON_RETIRO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
1     192
2     522
3    2633
4     931
5     818
6     391
7     173
8     145
9    4131
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 563015
__________________
Elementos diferentes de null/NaN: 9936
__________________
(9936,)
None

In [117]:
Do_resamples(data_2012_2, c, float)

cant null antes: 563015
cant null despues: 0

In [118]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    41507
1    14536
Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64
Elementos null/NaN 516908
__________________
Elementos diferentes de null/NaN: 56043
__________________
(56043,)
None

In [119]:
Do_resamples(data_2012_2, c, float)

cant null antes: 516908
cant null despues: 0

In [120]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['-'], dtype='object')
-    572951
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [121]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [122]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['-'], dtype='object')
-    572951
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [123]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [124]:
c = 'ESTU_POR_OTRARAZON'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    39367
1    16676
Name: ESTU_POR_OTRARAZON, dtype: int64
Elementos null/NaN 516908
__________________
Elementos diferentes de null/NaN: 56043
__________________
(56043,)
None

In [125]:
Do_resamples(data_2012_2, c, float)

cant null antes: 516908
cant null despues: 0

In [126]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    15004
1    41039
Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64
Elementos null/NaN 516908
__________________
Elementos diferentes de null/NaN: 56043
__________________
(56043,)
None

In [127]:
Do_resamples(data_2012_2, c, float)

cant null antes: 516908
cant null despues: 0

In [128]:
c = 'ESTU_POR_UBICACION'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    25355
1    30689
Name: ESTU_POR_UBICACION, dtype: int64
Elementos null/NaN 516907
__________________
Elementos diferentes de null/NaN: 56044
__________________
(56044,)
None

In [129]:
Do_resamples(data_2012_2, c, float)

cant null antes: 516907
cant null despues: 0

In [130]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    43351
1    12692
Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64
Elementos null/NaN 516908
__________________
Elementos diferentes de null/NaN: 56043
__________________
(56043,)
None

In [131]:
Do_resamples(data_2012_2, c, float)

cant null antes: 516908
cant null despues: 0

In [132]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['-'], dtype='object')
-    572951
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [133]:
data_2012_2 = data_2012_2.drop([c], axis=1)

In [134]:
c = 'ESTU_VECES_ESTADO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    518877
1     22007
2     19904
3      4410
4      1819
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 5934
__________________
Elementos diferentes de null/NaN: 567017
__________________
(567017,)
None

In [135]:
Do_resamples(data_2012_2, c, float)

cant null antes: 5934
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [136]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLETA', 'VIOTA', 'YARUMAL', 'YOLOMBO', 'YOPAL', 'YUMBO', 'ZAPATOCA',
       'ZARAGOZA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=432)
ABEJORRAL                     206
ABREGO                        237
ACACIAS                      1436
ACANDI                         51
ACHI                          323
AGUACHICA                    1350
AGUADAS                       298
AGUAZUL                       493
AGUSTIN CODAZZI               628
AIPE                          238
ALBAN (SAN JOSE)              214
ALCALA                        208
ALTO BAUDO (PIE DE PATO)       34
AMAGA                         766
AMALFI                        389
ANDALUCIA                     219
ANDES                         914
ANOLAIMA                      262
ANSERMA                       903
ANSERMANUEVO                  141
APARTADO                     1967
APIA                          290
ARACATACA                     408
ARAUCA                       1290
ARAUQUITA                     312
ARBELAEZ                      182
ARBOLEDAS                     226
ARBOLETES                     512
ARIGUANI (EL DIFICIL)         353
ARJONA                        944
                             ...
TURBO                        1674
TURMEQUE                      279
TUTA                          113
UBATE                        1341
UNGUIA                         88
URIBIA                        334
URRAO                         700
VALLEDUPAR                   5668
VALPARAISO                    144
VEGACHI                       206
VELEZ                         822
VENADILLO                     152
VENTAQUEMADA                  176
VIGIA DEL FUERTE               91
VILLA DE LEYVA                369
VILLA DEL ROSARIO             987
VILLA GUAMEZ (LA HORMIGA)     619
VILLAGARZON                   377
VILLANUEVA                    987
VILLAVICENCIO                6881
VILLETA                       567
VIOTA                         223
YARUMAL                       881
YOLOMBO                       222
YOPAL                        2420
YUMBO                        1623
ZAPATOCA                      155
ZARAGOZA                      260
ZARZAL                        620
ZIPAQUIRA                    3097
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [137]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS             822
ANTIOQUIA          76944
ARAUCA              3201
ATLÁNTICO          29130
BOGOTÁ             97018
BOLÍVAR            25402
BOYACÁ             19521
CALDAS             13209
CAQUETÁ             4334
CASANARE            5265
CAUCA              13508
CESAR              12005
CHOCÓ               4438
CUNDINAMARCA       35410
CÓRDOBA            19813
GUAINÍA              180
GUAVIARE            1047
HUILA              14548
LA GUAJIRA          6990
MAGDALENA          14337
META               11581
NARIÑO             18126
NORTE SANTANDER    16466
PUTUMAYO            4039
QUINDÍO             7358
RISARALDA          11308
SAN ANDRÉS           794
SANTANDER          29768
SUCRE              11154
TOLIMA             17419
VALLE              47009
VAUPÉS               317
VICHADA              490
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [138]:
c = 'FAMI_EDUCA_PADRE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      22159
1        621
2       3521
3       2948
4       3327
5       6649
6        500
7       1823
8        568
9     112054
10     98310
11     78127
12    119450
13      6539
14     22924
15      7603
16     40636
17      9222
99     34545
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 1425
__________________
Elementos diferentes de null/NaN: 571526
__________________
(571526,)
None

In [139]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1425
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [140]:
c = 'FAMI_EDUCA_MADRE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      13316
1        226
2       2707
3       2492
4       3516
5       7628
6        629
7       2470
8        622
9     100180
10     99695
11     91944
12    136357
13      8333
14     29023
15      8140
16     39781
17      9139
99     15328
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 1425
__________________
Elementos diferentes de null/NaN: 571526
__________________
(571526,)
None

In [141]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1425
cant null despues: 0

In [142]:
c = 'FAMI_OCUPA_PADRE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1        404
2        736
3        420
4        371
5       2633
6        693
7       4602
8       1099
9       8552
10       273
11      1335
12      3723
13      8156
14     36821
15     10074
16     15451
17     27796
18     20563
19    103983
20     22677
21    185106
22      7900
23     15352
26     92806
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 1425
__________________
Elementos diferentes de null/NaN: 571526
__________________
(571526,)
None

In [143]:
c = 'FAMI_OCUPA_MADRE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1        155
2        658
3        224
4        408
5       2495
6       1656
7       1494
8        811
9       2644
10     11994
11       380
12      1922
13      4111
14     14371
15      5943
16     13726
17     20855
18     18515
19     52607
20     13044
21     62199
22    293349
23      5587
26     42378
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 1425
__________________
Elementos diferentes de null/NaN: 571526
__________________
(571526,)
None

In [144]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1425
cant null despues: 0

In [145]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    226708
2    198592
3     98557
4     19089
5      5696
6      2376
8        42
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 21891
__________________
Elementos diferentes de null/NaN: 551060
__________________
(551060,)
None

In [146]:
data_2012_2[c] = data_2012_2[c].replace(8, 6)
Do_resamples(data_2012_2, c, float)

cant null antes: 21891
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [147]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1       894
2      8331
3     11227
4      3529
5       838
6       227
7        83
8        41
9        11
10       24
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 547746
__________________
Elementos diferentes de null/NaN: 25205
__________________
(25205,)
None

In [148]:
Do_resamples(data_2012_2, c, float)

cant null antes: 547746
cant null despues: 0

In [149]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    253216
2    135034
3     25489
4      4581
5    153205
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 1426
__________________
Elementos diferentes de null/NaN: 571525
__________________
(571525,)
None

In [150]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1426
cant null despues: 0

In [151]:
c = 'FAMI_PISOSHOGAR'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     30081
2    260610
3     29688
4    250916
5       231
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 1425
__________________
Elementos diferentes de null/NaN: 571526
__________________
(571526,)
None

In [152]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1425
cant null despues: 0

In [153]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       2947
2      26267
3      89209
4     165189
5     136481
6      72497
7      35151
8      19752
9       9203
10      6431
11      2949
12      5450
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 1425
__________________
Elementos diferentes de null/NaN: 571526
__________________
(571526,)
None

In [154]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1425
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [155]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    305477
1    266051
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [156]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [157]:
c = 'FAMI_CELULAR'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     38832
1    532977
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 1142
__________________
Elementos diferentes de null/NaN: 571809
__________________
(571809,)
None

In [158]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1142
cant null despues: 0

In [159]:
c = 'FAMI_INTERNET'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    320000
1    251528
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [160]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [161]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    220277
1    351251
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [162]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [163]:
c = 'FAMI_COMPUTADOR'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    252486
1     17942
3    301100
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [164]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [165]:
c = 'FAMI_LAVADORA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    218136
1    353392
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [166]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [167]:
c = 'FAMI_NEVERA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     69782
1    502027
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 1142
__________________
Elementos diferentes de null/NaN: 571809
__________________
(571809,)
None

In [168]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1142
cant null despues: 0

In [169]:
c = 'FAMI_HORNO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    329411
1    242117
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [170]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [171]:
c = 'FAMI_DVD'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    195674
1    375854
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [172]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [173]:
c = 'FAMI_MICROONDAS'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    419024
1    152504
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [174]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [175]:
c = 'FAMI_AUTOMOVIL'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    467448
1    104080
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 1423
__________________
Elementos diferentes de null/NaN: 571528
__________________
(571528,)
None

In [176]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1423
cant null despues: 0

In [177]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    184122
2    252517
3     77816
4     34821
5     11261
6      5823
7      5166
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 1425
__________________
Elementos diferentes de null/NaN: 571526
__________________
(571526,)
None

In [178]:
Do_resamples(data_2012_2, c, float)

cant null antes: 1425
cant null despues: 0

In [179]:
c = 'ESTU_TRABAJA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    479614
1      3563
2       301
3      1985
4      2699
5      1360
6     34814
7     25147
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 23468
__________________
Elementos diferentes de null/NaN: 549483
__________________
(549483,)
None

In [180]:
Do_resamples(data_2012_2, c, float)

cant null antes: 23468
cant null despues: 0

In [181]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0        8
1        6
2       12
3       26
4       72
5       49
6      107
7       38
8      552
9      124
10     181
11      23
12     121
13      13
14      26
15      60
16      98
17      11
18      85
19      22
20    4406
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 566911
__________________
Elementos diferentes de null/NaN: 6040
__________________
(6040,)
None

In [182]:
Do_resamples(data_2012_2, c, float)

cant null antes: 566911
cant null despues: 0

## TARGETS

In [183]:
c = 'PUNT_LENGUAJE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([ 0, 16, 17, 18, 20, 24, 25, 26, 29, 31, 32, 33, 34, 35, 36, 37, 38,
            39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
            56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 67, 68, 70, 71, 74, 75, 76,
            81, 82, 93],
           dtype='int64')
0       338
16      144
17      181
18       16
20      132
24      652
25      682
26      586
29     4178
31     1645
32     2368
33     7647
34     3792
35     4580
36    14623
37     6591
38    29711
39     8790
40    40202
41    10934
42    47202
43    12389
44    50575
45    12583
46    49718
47    11914
48    46565
49    10727
50    40931
51     8903
52    34455
53    33762
54     6409
55    20145
56     4504
57    14129
58     3256
59     9503
60     2214
61     4502
62     1568
63     1275
64     3670
65      666
67     1812
68      336
70      897
71      146
74      174
75      122
76       27
81       36
82       34
93       10
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [184]:
c = 'PUNT_MATEMATICAS'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([  0,   1,   2,   6,   7,  12,  13,  17,  18,  20,  24,  25,  26,
             28,  30,  31,  34,  35,  38,  39,  40,  42,  43,  45,  46,  48,
             49,  50,  51,  52,  53,  55,  56,  58,  59,  61,  62,  64,  65,
             67,  68,  70,  71,  72,  73,  74,  75,  76,  77,  79,  80,  81,
             84,  85,  90,  91,  96,  97, 100, 107, 108, 109, 124, 125, 126],
           dtype='int64')
0        333
1         99
2         10
6        582
7        592
12       413
13        39
17      2132
18      2348
20      1519
24      2999
25     13306
26       237
28         1
30     25514
31      7493
34     19693
35     33168
38     25992
39     43195
40         1
42     46623
43     31643
45     31218
46     45441
48       913
49     53245
50     12688
51       768
52     42685
       ...
61     13510
62      3886
64      8949
65      2638
67      6134
68      1691
70      4184
71        83
72       967
73      1504
74      1482
75        44
76       663
77      2136
79        41
80       834
81      1130
84       275
85      1032
90       493
91       300
96       106
97       345
100        3
107       85
108       70
109       22
124        6
125        4
126        4
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [185]:
for i in data_2012_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2012_2[c] = data_2012_2[c].replace(i, 100)

In [186]:
c = 'PUNT_C_SOCIALES'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([  0,   2,   9,  10,  11,  16,  17,  20,  21,  22,  24,  25,  26,
             28,  29,  30,  31,  32,  33,  35,  36,  37,  38,  40,  42,  43,
             44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,
             57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,
             71,  72,  74,  75,  76,  79,  80,  84,  85,  86,  89,  94,  96,
            104, 111],
           dtype='int64')
0        700
2         30
9        190
10        89
11        78
16       817
17       220
20      1645
21      1093
22        66
24      4863
25      1168
26       144
28     11525
29       297
30      3396
31     14962
32       435
33     27315
35      7146
36     28763
37      8149
38     35976
40     50236
42     52835
43     11338
44     42431
45     10946
46     40308
47     10109
       ...
55      4572
56     16733
57      3619
58      9488
59      3212
60      7319
61      4499
62      3486
63      4457
64        94
65      4146
66       984
67       773
68      2191
69        26
71      1551
72        16
74       275
75       395
76        11
79       163
80        60
84        20
85        32
86         2
89        11
94         8
96         1
104        4
111        1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [187]:
for i in data_2012_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2012_2[c] = data_2012_2[c].replace(i, 100)

In [188]:
c = 'PUNT_FILOSOFIA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([ 0,  1,  2,  4,  5,  6,  8, 13, 14, 15, 19, 20, 21, 22, 23, 25, 26,
            27, 29, 30, 32, 33, 34, 35, 36, 37, 39, 40, 42, 43, 45, 46, 47, 48,
            49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65,
            66, 67, 68, 69, 70, 71, 72, 73, 74, 76, 78, 79, 81],
           dtype='int64')
0       339
1       123
2       176
4       135
5       149
6        10
8       410
13     1455
14     1297
15     1240
19     2908
20     4053
21     1943
22     1665
23     5222
25     9249
26     7467
27     8335
29     8157
30    32569
32      766
33    26100
34    30116
35      931
36    32318
37    37409
39    36662
40    39292
42    61876
43    12680
      ...
49     8089
50    32290
51     5577
52     4004
53    16762
54     3567
55     4933
56     7140
57     2009
58     4087
59     2021
60     1938
61     1462
62      640
63     1236
64      342
65      110
66      328
67      119
68      141
69      112
70       70
71       27
72        7
73       21
74       16
76        8
78        4
79        3
81        2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [189]:
c = 'PUNT_BIOLOGIA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([ -1,   0,  10,  12,  14,  15,  18,  19,  22,  23,  24,  27,  28,
             30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,
             43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,
             56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,
             69,  71,  72,  73,  74,  76,  77,  78,  82,  84,  85,  86,  96,
             97,  99, 100],
           dtype='int64')
-1          3
 0        105
 10        36
 12         3
 14       136
 15       206
 18       202
 19        14
 22      1070
 23      1253
 24        31
 27      5417
 28      1566
 30      4445
 31      7942
 32      3237
 33      8219
 34     14491
 35      5751
 36     13289
 37     21879
 38      8388
 39     46380
 40     10468
 41     32217
 42     22456
 43     35120
 44     32762
 45     12094
 46     53468
        ...
 55      4512
 56      9596
 57      9556
 58      7339
 59      6717
 60      3502
 61      3171
 62      4070
 63      2375
 64      2956
 65      1443
 66      1514
 67      1173
 68       804
 69       909
 71       607
 72       401
 73       415
 74        19
 76       220
 77       170
 78       205
 82         5
 84        92
 85        36
 86        66
 96         8
 97        12
 99         5
 100        4
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [190]:
for i in data_2012_2[c].value_counts().sort_index().index:
    if i < 0:
        data_2012_2[c] = data_2012_2[c].replace(i, 0)

In [191]:
c = 'PUNT_QUIMICA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([-1,  0, 20, 23, 24, 27, 29, 30, 31, 33, 35, 36, 37, 38, 40, 41, 42,
            43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59,
            60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 73, 74, 75, 76, 81, 82,
            83, 84, 85],
           dtype='int64')
-1         1
 0       192
 20        7
 23      259
 24      521
 27       38
 29     2683
 30      734
 31      139
 33     9460
 35     9781
 36    10766
 37      529
 38    34404
 40    48673
 41    27646
 42    30749
 43    60155
 44    29700
 45    30212
 46    51671
 47    30358
 48    27844
 49    25401
 50    22019
 51    23435
 52    20336
 53    10427
 54    12767
 55    13225
 56     4734
 57     8430
 58     5036
 59     4727
 60     3521
 61     3413
 62     2297
 63      790
 64     1823
 65      929
 66      520
 67      810
 68      439
 69      207
 70      263
 73      353
 74      178
 75       67
 76      103
 81        1
 82       95
 83       39
 84       17
 85       27
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [192]:
for i in data_2012_2[c].value_counts().sort_index().index:
    if i < 0:
        data_2012_2[c] = data_2012_2[c].replace(i, 0)

In [193]:
c = 'PUNT_FISICA'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([  0,  12,  13,  14,  21,  22,  23,  27,  28,  29,  32,  33,  35,
             36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,
             49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,
             62,  63,  64,  65,  66,  67,  69,  70,  72,  73,  74,  76,  77,
             78,  80,  81,  83,  86,  87,  92,  95,  96,  97, 107, 112],
           dtype='int64')
0        242
12        17
13       683
14       183
21        51
22      2571
23      1664
27      3486
28      4463
29      5114
32      7944
33     21166
35     13912
36     18394
37     19088
38     20570
39     12142
40     39904
41     25753
42     29606
43     29136
44     28669
45     42000
46     39600
47     12594
48     55516
49       948
50     25657
51     24420
52     16974
       ...
57     12770
58       163
59      4051
60      3933
61      2549
62      2433
63        57
64      1478
65      1655
66       666
67      1257
69       531
70       558
72       179
73       193
74       179
76       147
77        65
78       101
80        37
81        43
83        52
86        41
87        18
92        21
95         1
96         5
97         7
107        7
112        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [194]:
for i in data_2012_2[c].value_counts().sort_index().index:
    if i > 100:
        data_2012_2[c] = data_2012_2[c].replace(i, 100)

In [195]:
c = 'PUNT_INGLES'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([ -1,   0,   3,   7,  10,  11,  14,  15,  17,  18,  20,  21,  22,
             23,  24,  25,  26,  27,  29,  30,  31,  32,  33,  34,  35,  36,
             37,  38,  39,  40,  42,  43,  45,  46,  47,  48,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  63,  65,  68,  70,
             72,  75,  77,  80,  83,  88,  89,  92,  94,  96, 100],
           dtype='int64')
-1        331
 0        226
 3        111
 7        161
 10       141
 11        39
 14       233
 15         7
 17       460
 18        12
 20      1133
 21        25
 22      1415
 23      1105
 24        87
 25      3068
 26      2118
 27      5596
 29      3511
 30      9617
 31      5226
 32     14762
 33      6856
 34     20201
 35      8950
 36     25980
 37      9754
 38     31615
 39     43561
 40     44851
        ...
 46     25826
 47     21850
 48     18012
 50     15267
 51     12835
 52     10744
 53      9366
 54      1374
 55      6638
 56      6864
 57      5939
 58      1088
 59      5275
 60      4739
 61      4279
 63      4033
 65      3905
 68      3757
 70      3625
 72      3407
 75      3305
 77      3048
 80      2622
 83      2096
 88        28
 89      1355
 92        15
 94       743
 96        11
 100      206
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [196]:
for i in data_2012_2[c].value_counts().sort_index().index:
    if i < 0:
        data_2012_2[c] = data_2012_2[c].replace(i, 0)

In [197]:
c = 'DESEMP_INGLES'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    324239
A1    170663
A2     45562
B+      4454
B1     27702
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 331
__________________
Elementos diferentes de null/NaN: 572620
__________________
(572620,)
None

In [198]:
Do_resamples(data_2012_2, c, str)

cant null antes: 331
cant null despues: 0

In [199]:
c = 'NOMBRE_COMP_FLEXIBLE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['MEDIO AMBIENTE', 'PROFUNDIZACIÓN EN BIOLOGÍA',
       'PROFUNDIZACIÓN EN CIENCIAS SOCIALES', 'PROFUNDIZACIÓN EN LENGUAJE',
       'PROFUNDIZACIÓN EN MATEMÁTICA', 'VIOLENCIA Y SOCIEDAD'],
      dtype='object')
MEDIO AMBIENTE                         201718
PROFUNDIZACIÓN EN BIOLOGÍA              63530
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     35743
PROFUNDIZACIÓN EN LENGUAJE              73072
PROFUNDIZACIÓN EN MATEMÁTICA            56652
VIOLENCIA Y SOCIEDAD                   142236
Name: NOMBRE_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [200]:
c = 'PUNT_COMP_FLEXIBLE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([ 0,  3,  4,  5,  6,  7,  8,  9, 10, 15, 24, 29, 34, 38, 41, 45, 47,
            48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 63, 69, 77, 90],
           dtype='int64')
0       1793
3       5044
4      44602
5     122079
6      51560
7       4379
8        264
9         76
10         1
15      1039
24      3281
29      6979
34     11733
38     16124
41     19724
45     24926
47      8590
48     21083
49     16395
50     23472
51     55112
52     43319
53     22319
54     17898
55     33857
56      4579
58      1942
59      6580
60       451
63      2820
69       788
77       131
90        11
Name: PUNT_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

In [201]:
c = 'DESEMP_COMP_FLEXIBLE'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB      92611
I      104983
II      28492
III      2911
Name: DESEMP_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 343954
__________________
Elementos diferentes de null/NaN: 228997
__________________
(228997,)
None

In [202]:
Do_resamples(data_2012_2, c, str)

cant null antes: 343954
cant null despues: 0

In [203]:
c = 'ESTU_PUESTO'
print(data_2012_2[c].value_counts().sort_index().index)
print(data_2012_2[c].value_counts().sort_index())
print(missing_data(data_2012_2[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       577
2       576
3       577
4       574
5       576
6       576
7       574
8       575
9       574
10      574
11      575
12      572
13      574
14      576
15      576
16      576
17      575
18      576
19      576
20      573
21      572
22      576
23      575
24      575
25      572
26      575
27      575
28      573
29      573
30      573
       ...
971     577
972     577
973     573
974     575
975     576
976     575
977     575
978     579
979     575
980     575
981     575
982     578
983     575
984     574
985     575
986     577
987     574
988     576
989     576
990     579
991     578
992     572
993     579
994     581
995     576
996     578
997     581
998     541
999     219
1000    186
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 572951
__________________
(572951,)
None

remaining NaNs

In [216]:
print(data_2012_2['ESTU_ANO_TERMINO_QUINTO'].value_counts().index)
print(data_2012_2['ESTU_ANO_TERMINO_QUINTO'].value_counts())
print(missing_data(data_2012_2['ESTU_ANO_TERMINO_QUINTO']))

Float64Index([2006.0, 2005.0, 2004.0, 2007.0, 2003.0, 2002.0, 2001.0, 1985.0,
              2000.0, 1999.0, 1995.0, 1996.0, 1997.0, 1998.0, 1990.0, 1994.0,
              1991.0, 1993.0, 1992.0, 1989.0, 1986.0, 1988.0, 1987.0],
             dtype='float64')
2006    32438
2005    15416
2004     2795
2007     2514
2003     1146
2002      694
2001      585
1985      576
2000      452
1999      261
1995      252
1996      213
1997      191
1998      178
1990      151
1994      140
1991      120
1993      101
1992       95
1989       88
1986       68
1988       60
1987       58
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 514359
__________________
Elementos diferentes de null/NaN: 58592
__________________
(58592,)
None

In [217]:
Do_resamples(data_2012_2, 'ESTU_ANO_TERMINO_QUINTO', float)

cant null antes: 514359
cant null despues: 0

In [220]:
print(data_2012_2['FAMI_OCUPA_PADRE'].value_counts().index)
print(data_2012_2['FAMI_OCUPA_PADRE'].value_counts())
print(missing_data(data_2012_2['FAMI_OCUPA_PADRE']))

Float64Index([21.0, 19.0, 26.0, 14.0, 17.0, 20.0, 18.0, 16.0, 23.0, 15.0,  9.0,
              13.0, 22.0,  7.0, 12.0,  5.0, 11.0,  8.0,  2.0,  6.0,  3.0,  1.0,
               4.0, 10.0],
             dtype='float64')
21    185106
19    103983
26     92806
14     36821
17     27796
20     22677
18     20563
16     15451
23     15352
15     10074
9       8552
13      8156
22      7900
7       4602
12      3723
5       2633
11      1335
8       1099
2        736
6        693
3        420
1        404
4        371
10       273
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 1425
__________________
Elementos diferentes de null/NaN: 571526
__________________
(571526,)
None

In [221]:
Do_resamples(data_2012_2, 'FAMI_OCUPA_PADRE', float)

cant null antes: 1425
cant null despues: 0

Now i can transform the obtained Dataframes in csv files

In [223]:
data_2012 = label_encoder(data_2012)
data_2012_2 = label_encoder(data_2012_2)

In [224]:
data_2012.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2012_1.csv', sep=';', index=False)
data_2012_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2012_2.csv', sep=';', index=False)