In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [372]:
data_2014 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20141-RGSTRO-CLFCCN-V1-0.txt', delimiter = '|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (18,19,20,25,26,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [373]:
data_2014.shape

(88685, 102)

In [374]:
data_2014.head(3).T

,0,1,2
PERIODO,20141,20141,20141
ESTU_CONSECUTIVO,SABER1120141000001,SABER1120141000002,SABER1120141000003
ESTU_GENERO,M,F,F
ESTU_FECHA_NACIMIENTO,21/10/90,04/11/69,20/02/72
ESTU_ETNIA,NaN,1,99
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_CONDICIONESPECIAL,-,-,-
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_SORDO,-,-,-
ESTU_LIMITA_SDOWN,-,-,-
ESTU_LIMITA_AUTISMO,-,-,-
ESTU_COD_RESIDE_MCPIO,23001,5045,5045
ESTU_RESIDE_MCPIO,MONTERIA,APARTADO,APARTADO
ESTU_RESIDE_DEPTO,CÓRDOBA,ANTIOQUIA,ANTIOQUIA
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,1,NaN,NaN
COLE_COD_ICFES,131219,131219,131219
COLE_NOMBRE_SEDE,INSTITUTO CORFERRINI,INSTITUTO CORFERRINI,INSTITUTO CORFERRINI
COLE_COD_DANE_INSTITUCION,3.05837e+11,3.05837e+11,3.05837e+11
COLE_JORNADA,SABATINA - DOMINICAL,SABATINA - DOMINICAL,SABATINA - DOMINICAL
COLE_VALOR_PENSION,NaN,NaN,NaN
ESTU_CARRDESEADA_TIPO,NaN,NaN,NaN
ESTU_IES_COD_DESEADA,NaN,NaN,NaN
ESTU_IES_COD_MPIO_DESEADA,NaN,NaN,NaN
ESTU_IES_DEPT_DESEADA,NaN,NaN,NaN
ESTU_IES_DESEADA_NOMBRE,NaN,NaN,NaN
ESTU_IES_MPIO_DESEADA,NaN,NaN,NaN
ESTU_TOTAL_ALUMNOS_CURSO,NaN,NaN,NaN
ESTU_ANO_MATRICULA_PRIMERO,NaN,NaN,NaN
...,...,...,...
FAMI_PERSONAS_HOGAR,3,3,6
FAMI_CUARTOS_HOGAR,3,2,2
FAMI_PISOSHOGAR,4,2,2
FAMI_TELEFONO_FIJO,0,0,0
FAMI_CELULAR,1,1,1
FAMI_INTERNET,1,0,0
FAMI_TELEVISOR,1,1,1
FAMI_COMPUTADOR,1,0,0
FAMI_DVD,0,0,0
FAMI_LAVADORA,1,1,1
FAMI_MICROONDAS,1,0,0
FAMI_NEVERA,1,1,1
FAMI_AUTOMOVIL,0,0,0
FAMI_HORNO,0,0,0
FAMI_INGRESO_FMILIAR_MENSUAL,4,2,2
ESTU_TRABAJA,NaN,NaN,NaN
ESTU_RECIBE_SALARIO,-,-,-
ESTU_PUESTO,608,871,850
PUNT_LENGUAJE,51,36,49
PUNT_MATEMATICAS,43,46,32
PUNT_C_SOCIALES,32,36,38
PUNT_FILOSOFIA,40,30,30
PUNT_BIOLOGIA,47,33,30
PUNT_QUIMICA,37,37,37
PUNT_FISICA,38,27,38
PUNT_INGLES,38,38,34
DESEMP_INGLES,A-,A-,A-
NOMBRE_COMP_FLEXIBLE,MEDIO AMBIENTE,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,MEDIO AMBIENTE
PUNT_COMP_FLEXIBLE,53,4,51
DESEMP_COMP_FLEXIBLE,NaN,GB,NaN

In [375]:
data_2014 = data_2014.drop(['PERIODO', 'ESTU_CONSECUTIVO', 'ESTU_COD_RESIDE_MCPIO', 'COLE_NOMBRE_SEDE',
                           'ESTU_IES_COD_MPIO_DESEADA', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_COD_MCPIO_PRESENTACION'], axis=1)

In [376]:
c = 'ESTU_GENERO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['F', 'M'], dtype='object')
F    44695
M    42772
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 1218
__________________
Elementos diferentes de null/NaN: 87467
__________________
(87467,)
None

In [377]:
Do_resamples(data_2014, c, str)

cant null antes: 1218
cant null despues: 0

In [378]:
c = 'ESTU_FECHA_NACIMIENTO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['01/01/00', '01/01/54', '01/01/56', '01/01/61', '01/01/64', '01/01/66',
       '01/01/67', '01/01/68', '01/01/71', '01/01/72',
       ...
       '31/12/89', '31/12/90', '31/12/91', '31/12/92', '31/12/93', '31/12/94',
       '31/12/95', '31/12/96', '31/12/97', '31/12/98'],
      dtype='object', length=10523)
01/01/00     3
01/01/54     1
01/01/56     1
01/01/61     1
01/01/64     3
01/01/66     1
01/01/67     2
01/01/68     1
01/01/71     2
01/01/72     3
01/01/74     1
01/01/75     2
01/01/76     2
01/01/77     1
01/01/78     2
01/01/79     5
01/01/80     1
01/01/81     1
01/01/82     4
01/01/83     7
01/01/84     7
01/01/85     4
01/01/86     6
01/01/87     2
01/01/88     2
01/01/89     7
01/01/90    10
01/01/91    18
01/01/92    12
01/01/93    16
            ..
31/10/96    57
31/10/97    20
31/10/98     1
31/12/57     3
31/12/62     1
31/12/63     1
31/12/70     1
31/12/73     2
31/12/77     2
31/12/78     3
31/12/79     2
31/12/80     3
31/12/81     2
31/12/82     4
31/12/83     2
31/12/84     3
31/12/85     3
31/12/86     3
31/12/87     1
31/12/88     3
31/12/89     7
31/12/90     3
31/12/91    12
31/12/92    13
31/12/93    12
31/12/94    36
31/12/95    26
31/12/96    51
31/12/97    14
31/12/98     1
Name: ESTU_FECHA_NACIMIENTO, dtype: int64
Elementos null/NaN 1223
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [379]:
idx = data_2014[data_2014[c].isnull()].index
data_2014 = data_2014.drop(idx)

Way to split the columns into other columns taked from [CODE Q&A](https://code.i-harness.com/es/q/1052e8e)

In [381]:
Sep_Col = pd.DataFrame(data_2014.ESTU_FECHA_NACIMIENTO.str.split('/').tolist(), columns=['ESTU_NACIMIENTO_DIA', 
                                                                                         'ESTU_NACIMIENTO_MES',
                                                                                         'ESTU_NACIMIENTO_ANNO'])

In [382]:
data_2014 = pd.concat([data_2014, Sep_Col], axis=1)

In [383]:
data_2014 = data_2014.drop('ESTU_FECHA_NACIMIENTO', axis=1)

In [384]:
c = 'ESTU_ETNIA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 99.0],
             dtype='float64')
1     3232
2       84
3      240
4       17
5      133
6      251
7       54
8      200
9      310
10     309
11    1111
12      64
13      62
14       5
15      11
16      16
17      22
18       1
99    7298
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 75254
__________________
Elementos diferentes de null/NaN: 13420
__________________
(13420,)
None

In [385]:
data_2014[c].fillna(99, inplace=True)

In [386]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['G'], dtype='object')
G    75
Name: ESTU_LIMITA_COGNITIVA, dtype: int64
Elementos null/NaN 88599
__________________
Elementos diferentes de null/NaN: 75
__________________
(75,)
None

In [387]:
data_2014 = data_2014.drop(c, axis=1)

In [389]:
c = 'ESTU_LIMITA_CONDICIONESPECIAL'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_LIMITA_CONDICIONESPECIAL, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [390]:
data_2014 = data_2014.drop(c, axis=1)

In [391]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['M'], dtype='object')
M    125
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 88549
__________________
Elementos diferentes de null/NaN: 125
__________________
(125,)
None

In [392]:
data_2014 = data_2014.drop(c, axis=1)

In [393]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['I'], dtype='object')
I    38
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 88636
__________________
Elementos diferentes de null/NaN: 38
__________________
(38,)
None

In [394]:
data_2014 = data_2014.drop(c, axis=1)

In [395]:
c = 'ESTU_LIMITA_SORDO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_LIMITA_SORDO, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [396]:
data_2014 = data_2014.drop(c, axis=1)

In [397]:
c = 'ESTU_LIMITA_SDOWN'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_LIMITA_SDOWN, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [398]:
data_2014 = data_2014.drop(c, axis=1)

In [399]:
c = 'ESTU_LIMITA_AUTISMO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_LIMITA_AUTISMO, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [400]:
data_2014 = data_2014.drop(c, axis=1)

In [402]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['ABREGO', 'ACACIAS', 'ACEVEDO', 'AGUA DE DIOS', 'AGUACHICA',
       'AGUSTIN CODAZZI', 'ALBAN (SAN JOSE)', 'ALBANIA', 'ALEJANDRIA',
       'ALTO BAUDO (PIE DE PATO)',
       ...
       'VILLANUEVA', 'VILLAPINZON', 'VILLAVICENCIO', 'VITERBO', 'YACUANQUER',
       'YOPAL', 'YUMBO', 'ZAPATOCA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=384)
ABREGO                          2
ACACIAS                        10
ACEVEDO                         1
AGUA DE DIOS                    1
AGUACHICA                     287
AGUSTIN CODAZZI                 1
ALBAN (SAN JOSE)                8
ALBANIA                       128
ALEJANDRIA                      1
ALTO BAUDO (PIE DE PATO)        7
ALVARADO                        1
ANAPOIMA                        1
ANCUYA                          2
ANDALUCIA                       1
ANSERMA                         2
APARTADO                      548
ARANZAZU                        1
ARAUCA                        113
ARAUQUITA                       1
ARBOLETES                       7
ARGELIA                         1
ARJONA                          3
ARMENIA                       976
ARMERO (GUAYABAL)               4
ATRATO (YUTO)                   5
BAGADO                          2
BAHIA SOLANO (MUTIS)            1
BAJO BAUDO   (PIZARRO)          1
BALBOA                          1
BARANOA                         2
                             ...
TIMBIQUI                        1
TOCA                            1
TOPAGA                          2
TULUA                         577
TUMACO                        244
TUNJA                        1914
TUQUERRES                     235
TURBACO                         1
TURBO                           6
UBATE                           4
URIBIA                          4
VALLEDUPAR                   1328
VELEZ                           7
VENADILLO                       1
VILLA DE LEYVA                117
VILLA DEL ROSARIO               3
VILLA GUAMEZ (LA HORMIGA)       3
VILLA RICA                      6
VILLAHERMOSA                    1
VILLAMARIA                      2
VILLANUEVA                      5
VILLAPINZON                     1
VILLAVICENCIO                1520
VITERBO                         1
YACUANQUER                      1
YOPAL                         460
YUMBO                           9
ZAPATOCA                        1
ZARZAL                          3
ZIPAQUIRA                     957
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [403]:
data_2014[c].fillna(method='bfill', inplace=True)
data_2014[c].fillna(method='ffill', inplace=True)

In [404]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              26
ANTIOQUIA           6382
ARAUCA               228
ATLÁNTICO           2536
BOGOTÁ             17283
BOLÍVAR             1759
BOYACÁ              3801
CALDAS              2310
CAQUETÁ              570
CASANARE             492
CAUCA               2867
CESAR               1631
CHOCÓ                548
CUNDINAMARCA        2286
CÓRDOBA              996
GUAINÍA               35
GUAVIARE              72
HUILA               3598
LA GUAJIRA           657
MAGDALENA            684
META                1666
NARIÑO              6363
NORTE SANTANDER     1471
PUTUMAYO             610
QUINDÍO             1005
RISARALDA           1379
SAN ANDRÉS            66
SANTANDER           6340
SUCRE                694
TOLIMA              2476
VALLE              16601
VAUPÉS                10
VICHADA               20
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [405]:
data_2014[c].fillna(method='bfill', inplace=True)
data_2014[c].fillna(method='ffill', inplace=True)

In [406]:
c = 'ESTU_ZONA_RESIDE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      9093
2      1077
3      1908
4     13046
5      7490
6      2674
7      1970
8      3845
9      2723
10    43636
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [407]:
Do_resamples(data_2014, c, float)

cant null antes: 1212
cant null despues: 0

In [409]:
c = 'ESTU_AREA_RESIDE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    11288
2     1747
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 75639
__________________
Elementos diferentes de null/NaN: 13035
__________________
(13035,)
None

In [410]:
Do_resamples(data_2014, c, float)

cant null antes: 75639
cant null despues: 0

In [411]:
c = 'COLE_COD_ICFES'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([       3.0,       34.0,       59.0,       67.0,       75.0,
                    91.0,      125.0,      141.0,      182.0,      257.0,
              ...
                179226.0,   179259.0,   179267.0,   179283.0,   179291.0,
                179325.0,   179341.0,   179358.0, 19001993.0, 68547990.0],
             dtype='float64', length=8103)
3            78
34            1
59           14
67            1
75            1
91            3
125           1
141           2
182         105
257           6
265          27
315           3
380           3
430           1
455           1
596           1
638         340
661           1
687           1
711           3
760           2
786          15
810           2
844           1
927           1
935           7
968           1
984           3
992           1
1016          5
           ...
177089       21
177196        9
177204        3
177386        1
177469       35
177592        1
177600       11
177618       35
177626        1
177667        2
177691        1
177741        1
177766       17
177816       15
177949        2
178004        6
178038        5
178202        8
178236       11
179184       11
179226       30
179259        3
179267        5
179283        1
179291        5
179325       41
179341        1
179358       74
19001993     17
68547990     13
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 20951
__________________
Elementos diferentes de null/NaN: 67723
__________________
(67723,)
None

In [412]:
for i in data_2014[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2014[c] = data_2014[c].replace(i, np.nan)
    elif len(str(i)) > 6:
        data_2014[c] = data_2014[c].replace(i, np.nan)
Do_resamples(data_2014, c, float)

cant null antes: 83908
cant null despues: 0

In [414]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2014[c].value_counts().index)
print(data_2014[c].value_counts())
print(missing_data(data_2014[c]))

Index([311001105863.0, 305001022675.0, 305001007861.0, 476248000478.0,
       376001028219.0, 152001000785.0, 152001000777.0, 368001007669.0,
       376001003461.0, 141001003341.0,
       ...
       311001050058.0, 125772000194.0, 173547000015.0, 154347000016.0,
       311001000891.0, '176109000427', 268307000213.0, 311001000832.0,
       170418000115.0, 373001011198.0],
      dtype='object', length=6585)
311001105863.0    646
305001022675.0    340
305001007861.0    285
476248000478.0    274
376001028219.0    240
152001000785.0    238
152001000777.0    216
368001007669.0    195
376001003461.0    189
141001003341.0    174
311001106410      173
376001000012.0    170
141001000066.0    165
115759001887.0    157
311001094942.0    155
376001000900.0    154
311001106177.0    154
305001000611.0    153
305001019606.0    148
376001001116.0    147
152001000599.0    145
305001017361.0    144
152001000661.0    142
176001005813.0    135
115759000279.0    131
311001010820.0    128
311001019941.0    127
317001001896.0    126
168001003591.0    125
350001006852.0    123
                 ...
476520007282        1
376001031228.0      1
347001000047.0      1
308001001587.0      1
311001092214.0      1
186865004059        1
311001099308.0      1
311001017387.0      1
125317000232.0      1
113244000397.0      1
252110000285.0      1
311001002282.0      1
308001001633.0      1
176109005836.0      1
105138000121.0      1
370820066296.0      1
276828000441.0      1
317873000639.0      1
225326000096.0      1
308001074126.0      1
311001050058.0      1
125772000194.0      1
173547000015.0      1
154347000016.0      1
311001000891.0      1
176109000427        1
268307000213.0      1
311001000832.0      1
170418000115.0      1
373001011198.0      1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 21566
__________________
Elementos diferentes de null/NaN: 67108
__________________
(67108,)
None

In [415]:
data_2014[c] = data_2014[c].replace('PENDIENTE', np.nan)
for i in data_2014[c].value_counts().index:
    if type(i) == str:
        data_2014[c] = data_2014[c].replace(i, float(i))
        
Do_resamples(data_2014, c, float)

cant null antes: 21569
cant null despues: 0

In [417]:
c = 'COLE_JORNADA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE', 'UNICA'],
      dtype='object')
COMPLETA U ORDINARIA    15197
MAÑANA                  29081
NOCHE                    8573
SABATINA - DOMINICAL     8374
TARDE                    6378
UNICA                       4
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 21067
__________________
Elementos diferentes de null/NaN: 67607
__________________
(67607,)
None

In [418]:
Do_resamples(data_2014, c, str)

cant null antes: 21067
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [419]:
c = 'COLE_VALOR_PENSION'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0, 9.0], dtype='float64')
0       9
1    2704
2    6903
3    2749
4     854
5    2110
6    8064
8       2
9       2
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 65277
__________________
Elementos diferentes de null/NaN: 23397
__________________
(23397,)
None

In [420]:
Do_resamples(data_2014, c, float)

cant null antes: 65277
cant null despues: 0

In [421]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     10
1     24
2     13
3    325
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 88302
__________________
Elementos diferentes de null/NaN: 372
__________________
(372,)
None

In [422]:
Do_resamples(data_2014, c, float)

cant null antes: 88302
cant null despues: 0

In [423]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([    59.0,   1115.0,   1222.0,   1230.0,   1255.0,   1297.0,
                1644.0,   1651.0,   1693.0,   2106.0,
              ...
              164350.0, 164566.0, 165019.0, 165118.0, 165381.0, 165852.0,
              166199.0, 167387.0, 167932.0, 168054.0],
             dtype='float64', length=290)
59         1
1115       1
1222      25
1230       1
1255       2
1297       1
1644       5
1651       5
1693       2
2106       1
5983       4
8763       1
9103       1
9142       1
11924      4
16907      1
17368      2
20693      1
20743      1
20842      6
20875      1
21121     41
21386     61
21790      2
22988      2
23234      2
24000      4
24018      3
25247      1
25411      1
          ..
155689     1
156919    14
157115     1
157669     1
158022     2
158162     2
158295     2
158386    64
158477     1
158790     1
159111     3
159251     1
160077     3
160481     3
160762     3
160838     1
161935     5
162248     1
162768     1
163105     1
164350     3
164566     1
165019     4
165118     1
165381     2
165852    24
166199     1
167387     1
167932     1
168054     3
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 86355
__________________
Elementos diferentes de null/NaN: 2319
__________________
(2319,)
None

In [424]:
for i in data_2014[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2014[c] = data_2014[c].replace(i, np.nan)
        
data_2014[c].fillna(method='bfill', inplace=True)
data_2014[c].fillna(method='ffill', inplace=True)

In [425]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'QUINDÍO', 'RISARALDA', 'SANTANDER',
       'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS             3
ANTIOQUIA          317
ATLÁNTICO           33
BOGOTÁ             786
BOLÍVAR             54
BOYACÁ               1
CALDAS               8
CAQUETÁ              2
CASANARE            11
CAUCA               18
CESAR                3
CHOCÓ                2
CUNDINAMARCA       442
CÓRDOBA             30
HUILA               13
LA GUAJIRA           4
MAGDALENA           14
META                 9
NARIÑO              29
NORTE SANTANDER     10
QUINDÍO              1
RISARALDA            6
SANTANDER          298
SUCRE               25
TOLIMA              42
VALLE              158
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 86355
__________________
Elementos diferentes de null/NaN: 2319
__________________
(2319,)
None

In [426]:
data_2014[c].fillna(method='bfill', inplace=True)
data_2014[c].fillna(method='ffill', inplace=True)

In [427]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['ABREGO', 'ALBANIA', 'ALGARROBO', 'ALGECIRAS', 'AMAGA', 'AMALFI',
       'ANDES', 'ANZOATEGUI', 'APARTADO', 'ARATOCA',
       ...
       'SOPO', 'TOLUVIEJO', 'TRINIDAD', 'TUMACO', 'VENADILLO', 'VETAS',
       'VILLAVICENCIO', 'YOPAL', 'YUMBO', 'ZARAGOZA'],
      dtype='object', length=126)
ABREGO                         3
ALBANIA                        1
ALGARROBO                      1
ALGECIRAS                      1
AMAGA                         25
AMALFI                         7
ANDES                         14
ANZOATEGUI                     2
APARTADO                       1
ARATOCA                        2
ARBOLEDAS                      1
ARJONA                         1
BARAYA                         1
BARRANCABERMEJA                1
BARRANCAS                      1
BARRANQUILLA                  17
BELLO                         72
BITUIMA                        1
BOGOTÁ D.C.                  786
BOLIVAR                        3
BUENAVENTURA                   5
BUGA                           1
CAIMITO                        3
CAJICA                        10
CALDONO                       13
CALI                          90
CANDELARIA                     6
CAQUEZA                        2
CARMEN DEL DARIEN              2
CARTAGENA                     51
                            ...
QUIMBAYA                       1
RIONEGRO                      15
ROVIRA                         1
SABANAS DE SAN ANGEL           6
SAN ALBERTO                    3
SAN ANTONIO DE TEQUENDAMA      1
SAN JUAN DE ARAMA              5
SAN PEDRO                      1
SAN PEDRO DE URABA             3
SAN PELAYO                     4
SAN ROQUE                      1
SANTA BARBARA DE PINTO         2
SANTA HELENA DEL OPON          3
SANTA MARTA                    4
SANTA ROSA DE OSOS             3
SANTAFÉ DE ANTIOQUIA           1
SANTO DOMINGO                  2
SINCELEJO                      1
SOACHA                         4
SONSON                         1
SOPO                          21
TOLUVIEJO                      1
TRINIDAD                       1
TUMACO                         4
VENADILLO                      2
VETAS                          2
VILLAVICENCIO                  1
YOPAL                          2
YUMBO                         21
ZARAGOZA                       1
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 86355
__________________
Elementos diferentes de null/NaN: 2319
__________________
(2319,)
None

In [428]:
data_2014[c].fillna(method='bfill', inplace=True)
data_2014[c].fillna(method='ffill', inplace=True)

In [429]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 1.0,  2.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0,
              13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0,
              35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0,
              46.0, 47.0, 48.0, 50.0, 51.0, 52.0, 54.0, 57.0, 58.0, 60.0, 62.0,
              64.0, 80.0, 89.0, 95.0, 96.0, 98.0, 99.0],
             dtype='float64')
1       2
2       1
4       9
5      12
6      15
7      17
8      14
9      10
10     39
11     27
12     37
13     31
14     35
15     95
16     45
17     60
18     73
19     45
20    199
21     53
22     91
23     89
24     88
25    201
26     51
27     75
28     92
29     71
30    175
31     56
     ...
34     24
35    116
36     25
37     31
38     34
39     35
40     91
41     15
42     27
43     14
44     12
45     34
46     16
47      3
48      4
50      7
51     15
52      8
54      1
57      6
58      2
60     24
62      1
64      2
80      4
89      1
95      1
96      1
98      1
99      5
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 86191
__________________
Elementos diferentes de null/NaN: 2483
__________________
(2483,)
None

In [430]:
Do_resamples(data_2014, c, float)

cant null antes: 86191
cant null despues: 0

In [431]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0],
             dtype='float64')
1985      94
1986      16
1987      10
1988      13
1989       8
1990      18
1991      10
1992      19
1993      10
1994      18
1995      26
1996      29
1997      69
1998      60
1999      88
2000     261
2001     347
2002    1387
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 86191
__________________
Elementos diferentes de null/NaN: 2483
__________________
(2483,)
None

In [432]:
Do_resamples(data_2014, c, float)

cant null antes: 86191
cant null despues: 0

In [433]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0,
              1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
              2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0],
             dtype='float64')
1986      52
1987       6
1988       5
1989      10
1990      21
1991      15
1992       9
1993       4
1994      10
1995      17
1996      12
1997      15
1998      13
1999      21
2000      35
2001      38
2002      52
2003      61
2004      61
2005     303
2006     426
2007    1297
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 86191
__________________
Elementos diferentes de null/NaN: 2483
__________________
(2483,)
None

In [434]:
Do_resamples(data_2014, c, float)

cant null antes: 86191
cant null despues: 0

In [435]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1    748
2    417
3    212
4    118
5     74
6    166
7    116
8    632
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 86191
__________________
Elementos diferentes de null/NaN: 2483
__________________
(2483,)
None

In [436]:
Do_resamples(data_2014, c, float)

cant null antes: 86191
cant null despues: 0

In [437]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0,
              1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0,
              2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0],
             dtype='float64')
1987      35
1988       5
1989       4
1990      11
1991      15
1992       7
1993      10
1994       5
1995       6
1996      13
1997      13
1998      11
1999      10
2000      18
2001      28
2002      32
2003      47
2004      53
2005      58
2006     291
2007     434
2008    1377
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 86191
__________________
Elementos diferentes de null/NaN: 2483
__________________
(2483,)
None

In [438]:
Do_resamples(data_2014, c, float)

cant null antes: 86191
cant null despues: 0

In [439]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0    303
1    713
2    535
3    932
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 86191
__________________
Elementos diferentes de null/NaN: 2483
__________________
(2483,)
None

In [440]:
Do_resamples(data_2014, c, float)

cant null antes: 86191
cant null despues: 0

In [441]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    1556
2     572
3     355
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 86191
__________________
Elementos diferentes de null/NaN: 2483
__________________
(2483,)
None

In [442]:
Do_resamples(data_2014, c, float)

cant null antes: 86191
cant null despues: 0

In [443]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_CUARTO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [444]:
data_2014 = data_2014.drop(c, axis=1)

In [446]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_DECIMO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [447]:
data_2014 = data_2014.drop(c, axis=1)

In [449]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_NOVENO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [450]:
data_2014 = data_2014.drop(c, axis=1)

In [451]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_OCTAVO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [452]:
data_2014 = data_2014.drop(c, axis=1)

In [453]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_PRIMERO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [454]:
data_2014 = data_2014.drop(c, axis=1)

In [455]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_QUINTO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [456]:
data_2014 = data_2014.drop(c, axis=1)

In [457]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEGUNDO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [458]:
data_2014 = data_2014.drop(c, axis=1)

In [459]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEPTIMO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [460]:
data_2014 = data_2014.drop(c, axis=1)

In [461]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_SEXTO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [462]:
data_2014 = data_2014.drop(c, axis=1)

In [463]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_TERCERO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [464]:
data_2014 = data_2014.drop(c, axis=1)

In [465]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_REPROBO_ONCE_MAS, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [466]:
data_2014 = data_2014.drop(c, axis=1)

In [467]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [468]:
data_2014 = data_2014.drop(c, axis=1)

In [469]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [470]:
data_2014 = data_2014.drop(c, axis=1)

In [472]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [473]:
data_2014 = data_2014.drop(c, axis=1)

In [475]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [476]:
data_2014 = data_2014.drop(c, axis=1)

In [477]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [478]:
data_2014 = data_2014.drop(c, axis=1)

In [479]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [480]:
data_2014 = data_2014.drop(c, axis=1)

In [481]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [482]:
data_2014 = data_2014.drop(c, axis=1)

In [483]:
c = 'ESTU_RAZON_RETIRO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_RAZON_RETIRO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [484]:
data_2014 = data_2014.drop(c, axis=1)

In [485]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [486]:
data_2014 = data_2014.drop(c, axis=1)

In [487]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [488]:
data_2014 = data_2014.drop(c, axis=1)

In [489]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [490]:
data_2014 = data_2014.drop(c, axis=1)

In [492]:
c = 'ESTU_POR_OTRARAZON'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_OTRARAZON, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [493]:
data_2014 = data_2014.drop(c, axis=1)

In [494]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [495]:
data_2014 = data_2014.drop(c, axis=1)

In [496]:
c = 'ESTU_POR_UBICACION'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_UBICACION, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [497]:
data_2014 = data_2014.drop(c, axis=1)

In [498]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64)
Elementos null/NaN 88674
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [499]:
data_2014 = data_2014.drop(c, axis=1)

In [501]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    87462
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [502]:
data_2014 = data_2014.drop(c, axis=1)

In [504]:
c = 'ESTU_VECES_ESTADO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0       14
1    29689
2    23289
3     6586
4     3458
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 25638
__________________
Elementos diferentes de null/NaN: 63036
__________________
(63036,)
None

In [505]:
Do_resamples(data_2014, c, float)

cant null antes: 25638
cant null despues: 0

In [506]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['AGUACHICA', 'ALBANIA', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARBOSA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BOGOTÁ D.C.', 'BUCARAMANGA',
       'BUENAVENTURA', 'BUGA', 'CALI', 'CARTAGENA', 'CARTAGO', 'CAUCASIA',
       'CHAPARRAL', 'CHOCONTA', 'CUCUTA', 'EL DONCELLO', 'FACATATIVA',
       'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'GRANADA', 'IBAGUE', 'INIRIDA',
       'IPIALES', 'ITSMINA', 'JURADO', 'LA DORADA', 'LA PLATA', 'LETICIA',
       'MAGANGUE', 'MAICAO', 'MALAGA', 'MANIZALES', 'MEDELLIN', 'MITU',
       'MOCOA', 'MONTELIBANO', 'MONTERIA', 'NEIVA', 'OCAÑA', 'ORITO',
       'PALMIRA', 'PAMPLONA', 'PASTO', 'PATIA(EL BORDO)', 'PAZ DE ARIPORO',
       'PEREIRA', 'PIEDECUESTA', 'POPAYAN', 'PUERTO ASIS', 'PUERTO CARREÑO',
       'QUIBDO', 'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SAN ANDRES', 'SAN GIL',
       'SAN JOSE DEL GUAVIARE', 'SANTA MARTA', 'SANTANDER DE QUILICHAO',
       'SEVILLA', 'SIBUNDOY', 'SINCELEJO', 'SOGAMOSO', 'SONSON', 'TAME',
       'TULUA', 'TUMACO', 'TUNJA', 'TUQUERRES', 'VALLEDUPAR', 'VILLA DE LEYVA',
       'VILLAVICENCIO', 'YOPAL', 'ZIPAQUIRA'],
      dtype='object')
AGUACHICA                   287
ALBANIA                     134
APARTADO                    575
ARAUCA                      113
ARMENIA                    1009
BARBOSA                     226
BARRANCABERMEJA             568
BARRANQUILLA               2519
BOGOTÁ D.C.               17318
BUCARAMANGA                5213
BUENAVENTURA                471
BUGA                        770
CALI                      12224
CARTAGENA                  1602
CARTAGO                     331
CAUCASIA                     71
CHAPARRAL                   138
CHOCONTA                     37
CUCUTA                     1116
EL DONCELLO                  52
FACATATIVA                  652
FLORENCIA                   533
FUSAGASUGA                  248
GIRARDOT                    324
GRANADA                     138
IBAGUE                     2300
INIRIDA                      35
IPIALES                     815
ITSMINA                      47
JURADO                       34
                          ...
PAZ DE ARIPORO               27
PEREIRA                    1373
PIEDECUESTA                  13
POPAYAN                    2033
PUERTO ASIS                 164
PUERTO CARREÑO               20
QUIBDO                      463
RIOHACHA                    342
RIONEGRO                    393
ROLDANILLO                  163
SAN ANDRES                   66
SAN GIL                     281
SAN JOSE DEL GUAVIARE        73
SANTA MARTA                 690
SANTANDER DE QUILICHAO      687
SEVILLA                      50
SIBUNDOY                    135
SINCELEJO                   696
SOGAMOSO                   1734
SONSON                        2
TAME                        113
TULUA                       568
TUMACO                      246
TUNJA                      1941
TUQUERRES                   231
VALLEDUPAR                 1344
VILLA DE LEYVA              123
VILLAVICENCIO              1523
YOPAL                       467
ZIPAQUIRA                   981
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [507]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              25
ANTIOQUIA           6337
ARAUCA               226
ATLÁNTICO           2519
BOGOTÁ             17318
BOLÍVAR             1760
BOYACÁ              3798
CALDAS              2296
CAQUETÁ              585
CASANARE             494
CAUCA               2810
CESAR               1631
CHOCÓ                544
CUNDINAMARCA        2242
CÓRDOBA             1000
GUAINÍA               35
GUAVIARE              73
HUILA               3630
LA GUAJIRA           659
MAGDALENA            690
META                1661
NARIÑO              6397
NORTE SANTANDER     1436
PUTUMAYO             627
QUINDÍO             1009
RISARALDA           1373
SAN ANDRÉS            66
SANTANDER           6406
SUCRE                696
TOLIMA              2438
VALLE              16652
VAUPÉS                 9
VICHADA               20
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 1212
__________________
Elementos diferentes de null/NaN: 87462
__________________
(87462,)
None

In [508]:
c = 'FAMI_EDUCA_PADRE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0       287
1      4257
2     13203
3     10991
4      9519
5     18444
6      1569
7      5411
8      1509
9     11608
10     5205
11     3162
12      760
13       62
14      191
15       57
16      187
17       49
99        1
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 2202
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [509]:
Do_resamples(data_2014, c, float)

cant null antes: 2202
cant null despues: 0

In [510]:
c = 'FAMI_EDUCA_MADRE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0       152
1      2372
2     11776
3     10593
4     10991
5     20425
6      1781
7      7087
8      1716
9     11806
10     4751
11     1571
12      870
13       71
14      226
15       41
16      187
17       47
99        9
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 2202
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [511]:
Do_resamples(data_2014, c, float)

cant null antes: 2202
cant null despues: 0

In [512]:
c = 'FAMI_OCUPA_PADRE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1      3032
2      2270
3      2544
4      1222
5      7248
6      1599
7     14395
8      3857
9     27725
10     1491
11     4679
12    12808
13       69
14      290
15       45
16       62
17      161
18      148
19      586
20      154
21     1121
22      104
23      229
26      633
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 2202
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [513]:
Do_resamples(data_2014, c, float)

cant null antes: 2202
cant null despues: 0

In [514]:
c = 'FAMI_OCUPA_MADRE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1      1286
2      2195
3      1410
4      1558
5      6567
6      4303
7      4646
8      3526
9     10070
10    38905
11     1702
12     6702
13       33
14      115
15       42
16       86
17      142
18      115
19      290
20       90
21      457
22     1786
23      100
26      346
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 2202
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [515]:
idx = data_2014[data_2014[c].isnull()].index
data_2014 = data_2014.drop(idx)

In [517]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    22365
2    31194
3    20226
4     6211
5     3598
6     2867
8        7
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 4
__________________
Elementos diferentes de null/NaN: 86468
__________________
(86468,)
None

In [518]:
data_2014[c] = data_2014[c].replace(8, 6)
Do_resamples(data_2014, c, float)

cant null antes: 4
cant null despues: 0

In [519]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    27953
2    17800
3     3533
4      858
5    36328
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [522]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       987
2      6421
3     18209
4     28685
5     18379
6      7538
7      3146
8      1611
9       601
10      393
11      148
12      354
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [524]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      4459
2     26880
3     36766
4     12257
5      3265
6       948
7       309
8       150
9        48
10       96
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 1294
__________________
Elementos diferentes de null/NaN: 85178
__________________
(85178,)
None

In [525]:
Do_resamples(data_2014, c, float)

cant null antes: 1294
cant null despues: 0

In [526]:
c = 'FAMI_PISOSHOGAR'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     2709
2    32985
3     5111
4    45599
5       68
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [527]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    36068
1    50403
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 86471
__________________
(86471,)
None

In [528]:
Do_resamples(data_2014, c, float)

cant null antes: 1
cant null despues: 0

In [529]:
c = 'FAMI_CELULAR'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     4337
1    82117
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 86454
__________________
(86454,)
None

In [530]:
Do_resamples(data_2014, c, float)

cant null antes: 18
cant null despues: 0

In [531]:
c = 'FAMI_INTERNET'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    34715
1    51756
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 86471
__________________
(86471,)
None

In [532]:
Do_resamples(data_2014, c, float)

cant null antes: 1
cant null despues: 0

In [533]:
c = 'FAMI_TELEVISOR'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    25717
1    59460
Name: FAMI_TELEVISOR, dtype: int64
Elementos null/NaN 1295
__________________
Elementos diferentes de null/NaN: 85177
__________________
(85177,)
None

In [534]:
Do_resamples(data_2014, c, float)

cant null antes: 1295
cant null despues: 0

In [535]:
c = 'FAMI_COMPUTADOR'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    25047
1    58931
3     2494
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [537]:
c = 'FAMI_DVD'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    30772
1    55699
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 86471
__________________
(86471,)
None

In [538]:
Do_resamples(data_2014, c, float)

cant null antes: 1
cant null despues: 0

In [539]:
c = 'FAMI_LAVADORA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    25910
1    60561
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 86471
__________________
(86471,)
None

In [540]:
Do_resamples(data_2014, c, float)

cant null antes: 1
cant null despues: 0

In [541]:
c = 'FAMI_MICROONDAS'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    56404
1    30067
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 86471
__________________
(86471,)
None

In [542]:
Do_resamples(data_2014, c, float)

cant null antes: 1
cant null despues: 0

In [543]:
c = 'FAMI_NEVERA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7672
1    78784
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 16
__________________
Elementos diferentes de null/NaN: 86456
__________________
(86456,)
None

In [544]:
Do_resamples(data_2014, c, float)

cant null antes: 16
cant null despues: 0

In [545]:
c = 'FAMI_AUTOMOVIL'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    63161
1    23310
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 86471
__________________
(86471,)
None

In [546]:
Do_resamples(data_2014, c, float)

cant null antes: 1
cant null despues: 0

In [547]:
c = 'FAMI_HORNO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46265
1    40206
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 1
__________________
Elementos diferentes de null/NaN: 86471
__________________
(86471,)
None

In [548]:
Do_resamples(data_2014, c, float)

cant null antes: 1
cant null despues: 0

In [549]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    15353
2    38257
3    15553
4     7877
5     2947
6     2055
7     4430
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [551]:
c = 'ESTU_TRABAJA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0     1851
1    19991
2     1248
3     2768
4      398
5      505
6        1
7        1
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 59709
__________________
Elementos diferentes de null/NaN: 26763
__________________
(26763,)
None

In [552]:
Do_resamples(data_2014, c, float)

cant null antes: 59709
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [553]:
c = 'ESTU_RECIBE_SALARIO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['-'], dtype='object')
-    86472
Name: ESTU_RECIBE_SALARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [554]:
data_2014 = data_2014.drop(c, axis=1)

## TARGETS

In [556]:
c = 'ESTU_PUESTO'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([   1.0,    2.0,    3.0,    4.0,    5.0,    6.0,    7.0,    8.0,
                 9.0,   10.0,
              ...
               991.0,  992.0,  993.0,  994.0,  995.0,  996.0,  997.0,  998.0,
               999.0, 1000.0],
             dtype='float64', length=1000)
1       88
2       88
3       82
4       87
5       84
6       88
7       86
8       87
9       87
10      84
11      87
12      89
13      87
14      86
15      85
16      86
17      86
18      87
19      87
20      88
21      89
22      88
23      85
24      85
25      88
26      87
27      88
28      86
29      84
30      86
        ..
971     88
972     88
973     88
974     89
975     87
976     86
977     88
978     88
979     89
980     87
981     89
982     89
983     88
984     89
985     87
986     88
987     89
988     85
989     88
990     88
991     88
992     87
993     84
994     83
995     61
996     24
997     25
998     60
999     19
1000    31
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [557]:
c = 'PUNT_LENGUAJE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([  0.0,  15.0,  17.0,  18.0,  19.0,  20.0,  23.0,  25.0,  26.0,
               27.0,  28.0,  31.0,  32.0,  33.0,  35.0,  36.0,  38.0,  39.0,
               41.0,  42.0,  43.0,  44.0,  45.0,  46.0,  47.0,  48.0,  49.0,
               50.0,  51.0,  52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,
               59.0,  60.0,  61.0,  62.0,  63.0,  65.0,  66.0,  67.0,  68.0,
               69.0,  71.0,  72.0,  73.0,  74.0,  75.0,  76.0,  77.0,  78.0,
               80.0,  81.0,  82.0,  83.0,  85.0,  91.0, 104.0],
             dtype='float64')
0       118
15        4
17       18
18       14
19       18
20      163
23       14
25       44
26       55
27       78
28      583
31      258
32      211
33     1422
35      560
36     3059
38      450
39     5110
41      613
42     7111
43      218
44      907
45     7867
46      218
47     9198
48      269
49     9141
50      271
51     8224
52      333
       ...
54      745
55     4924
56     1219
57     3620
58     1509
59     2803
60      926
61     2038
62      697
63     1660
65      492
66     1025
67      125
68      635
69       74
71      308
72       70
73       25
74       83
75       32
76        7
77       20
78       24
80        8
81        3
82        1
83        6
85        2
91        1
104       1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [558]:
for i in data_2014[c].value_counts().sort_index().index:
    if i > 100:
        data_2014[c] = data_2014[c].replace(i, 100)

In [559]:
c = 'PUNT_MATEMATICAS'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([  0.0,   9.0,  10.0,  11.0,  16.0,  19.0,  20.0,  25.0,  26.0,
               30.0,  32.0,  34.0,  36.0,  37.0,  38.0,  40.0,  43.0,  45.0,
               46.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,  54.0,  55.0,
               56.0,  57.0,  58.0,  60.0,  61.0,  63.0,  65.0,  66.0,  68.0,
               69.0,  71.0,  72.0,  73.0,  74.0,  77.0,  78.0,  81.0,  82.0,
               83.0,  84.0,  87.0,  91.0,  92.0,  93.0,  94.0,  96.0, 106.0,
              107.0, 108.0, 109.0, 111.0],
             dtype='float64')
0        120
9          6
10        15
11         4
16       377
19        57
20        52
25       192
26      1598
30       758
32      3450
34      1296
36      5951
37      1433
38       421
40     10384
43     11398
45       470
46     10024
48      1669
49      7104
50       382
51      6177
52       236
53      1153
54      3820
55       790
56      2796
57       160
58      2946
60       837
61      1635
63      2106
65       876
66       909
68       652
69       788
71       509
72       152
73       482
74       340
77       606
78       179
81       204
82        92
83       223
84        56
87       141
91        44
92        93
93        48
94        29
96       102
106       33
107       21
108       16
109       10
111       50
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [560]:
for i in data_2014[c].value_counts().sort_index().index:
    if i > 100:
        data_2014[c] = data_2014[c].replace(i, 100)

In [561]:
c = 'PUNT_C_SOCIALES'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([  0.0,   2.0,  10.0,  11.0,  12.0,  16.0,  17.0,  18.0,  21.0,
               22.0,  23.0,  24.0,  25.0,  26.0,  27.0,  29.0,  30.0,  31.0,
               32.0,  34.0,  35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,
               42.0,  43.0,  44.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,
               51.0,  52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,
               60.0,  61.0,  62.0,  63.0,  64.0,  65.0,  66.0,  67.0,  68.0,
               69.0,  70.0,  72.0,  73.0,  74.0,  77.0,  79.0,  80.0,  83.0,
               86.0,  88.0,  89.0,  92.0, 101.0, 103.0, 104.0],
             dtype='float64')
0       158
2        35
10       14
11       84
12       18
16        5
17      266
18       39
21      574
22      101
23       55
24      953
25      237
26      209
27     1534
29      714
30     2172
31      196
32     3574
34     4169
35      457
36     4044
37     1237
38     4043
39     1067
40     4897
41     1130
42     5019
43      718
44     5464
       ...
55      777
56     3555
57      725
58      526
59     2706
60      479
61     2038
62      522
63      395
64     1374
65      312
66      280
67       79
68      865
69      247
70      299
72      442
73      181
74      119
77      223
79       74
80       53
83       14
86       81
88       29
89        8
92        4
101      12
103       3
104       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [562]:
for i in data_2014[c].value_counts().sort_index().index:
    if i > 100:
        data_2014[c] = data_2014[c].replace(i, 100)

In [563]:
c = 'PUNT_FILOSOFIA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([  0.0,   4.0,   8.0,   9.0,  10.0,  14.0,  17.0,  19.0,  22.0,
               23.0,  24.0,  26.0,  27.0,  28.0,  30.0,  31.0,  32.0,  33.0,
               34.0,  35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,
               43.0,  44.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,
               53.0,  54.0,  55.0,  56.0,  58.0,  59.0,  61.0,  62.0,  63.0,
               65.0,  67.0,  69.0,  70.0,  72.0,  73.0,  75.0,  78.0,  81.0,
               83.0,  84.0,  85.0,  92.0,  95.0,  98.0, 100.0],
             dtype='float64')
0        74
4         2
8        23
9       223
10       31
14        9
17      877
19      145
22      126
23     2026
24      379
26     3492
27      460
28      639
30     5447
31      913
32     5751
33      809
34     1111
35     6147
36      965
37     7152
38      439
39     1691
40     5696
41     1299
42     5912
43      799
44     5787
46     5574
       ...
48     4582
49      615
50     3207
51     1008
52      260
53     3386
54      294
55     2334
56      797
58     1721
59      616
61     1209
62      327
63      135
65      814
67      178
69       98
70      346
72       45
73       50
75       55
78       91
81       20
83        3
84        2
85        5
92       17
95        3
98        1
100       2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [564]:
c = 'PUNT_BIOLOGIA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 0.0,  9.0, 14.0, 15.0, 16.0, 17.0, 22.0, 23.0, 27.0, 28.0, 30.0,
              31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0,
              42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0,
              53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0,
              64.0, 66.0, 67.0, 69.0, 70.0, 71.0, 73.0, 74.0, 75.0, 78.0, 81.0,
              82.0, 83.0, 86.0, 94.0, 95.0, 98.0],
             dtype='float64')
0       26
9        3
14      48
15      17
16       4
17       8
22     190
23     154
27     779
28     298
30    1542
31     490
32     412
33    3226
34     821
35     674
36    4864
37    1545
38     500
39    8130
40     764
41    7920
42    1476
43    8237
44    1316
45    8228
46     382
47    6744
48    5284
49     841
      ...
51     810
52    3025
53     995
54    2275
55    1172
56    1548
57    1037
58    1124
59     803
60     950
61     526
62     131
63     689
64     563
66     464
67     362
69     278
70     191
71      52
73      15
74     108
75     127
78      18
81      57
82      21
83      18
86       1
94       8
95       5
98       1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [565]:
c = 'PUNT_QUIMICA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 0.0, 15.0, 16.0, 17.0, 18.0, 22.0, 23.0, 24.0, 25.0, 27.0, 28.0,
              29.0, 30.0, 31.0, 33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0,
              41.0, 42.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0,
              52.0, 53.0, 54.0, 55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0,
              63.0, 64.0, 65.0, 66.0, 67.0, 70.0, 71.0, 76.0, 77.0, 78.0, 87.0,
              88.0, 89.0],
             dtype='float64')
0       47
15       3
16       8
17      24
18     134
22      29
23      29
24      62
25     539
27     162
28     188
29    1416
30     223
31     524
33    3599
34     557
35    5057
36    1094
37    6573
38    1241
39     651
40    7681
41    7253
42    1183
43    6691
44     866
45    5996
46     405
47    4917
48    4001
49     383
50    3700
51    2405
52     700
53    2273
54     567
55    2016
56     590
57    1728
58     764
59    1383
60     984
61    1177
62     393
63     580
64    1025
65     206
66     698
67     949
70     680
71     736
76     244
77     215
78     525
87      44
88      95
89     259
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [566]:
c = 'PUNT_FISICA'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([  0.0,   6.0,   8.0,   9.0,  11.0,  15.0,  16.0,  17.0,  20.0,
               21.0,  23.0,  24.0,  25.0,  27.0,  28.0,  29.0,  31.0,  32.0,
               34.0,  35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,
               43.0,  44.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,
               52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,
               61.0,  62.0,  63.0,  64.0,  65.0,  66.0,  68.0,  69.0,  71.0,
               72.0,  73.0,  74.0,  76.0,  77.0,  79.0,  80.0,  81.0,  82.0,
               83.0,  84.0,  89.0,  90.0,  91.0,  93.0,  94.0, 106.0, 107.0,
              108.0, 110.0, 111.0],
             dtype='float64')
0        80
6       164
8        15
9        56
11       23
15      140
16      782
17       45
20      330
21      141
23     2112
24      370
25      420
27     3926
28      854
29      318
31     7047
32      393
34     1363
35     7309
36      393
37      810
38     8031
39      384
40      770
41     7477
42      725
43     6531
44      668
45      674
       ...
61      435
62     1410
63      420
64      397
65     1306
66      194
68     1412
69      168
71      149
72      893
73      130
74      135
76      103
77      630
79      111
80      100
81      106
82       75
83      368
84       45
89       69
90       64
91       54
93      254
94       30
106      26
107      22
108      27
110      75
111      34
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [567]:
for i in data_2014[c].value_counts().sort_index().index:
    if i > 100:
        data_2014[c] = data_2014[c].replace(i, 100)

In [568]:
c = 'PUNT_INGLES'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([  0.0,   3.0,   7.0,   8.0,  10.0,  11.0,  12.0,  14.0,  16.0,
               17.0,  19.0,  20.0,  21.0,  23.0,  24.0,  26.0,  29.0,  31.0,
               33.0,  34.0,  35.0,  36.0,  37.0,  38.0,  39.0,  40.0,  41.0,
               42.0,  43.0,  45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,
               52.0,  53.0,  54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,
               61.0,  63.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,
               72.0,  73.0,  74.0,  75.0,  77.0,  80.0,  83.0,  89.0,  92.0,
               94.0, 100.0],
             dtype='float64')
0         69
3         29
7          5
8         33
10         1
11         6
12        34
14         8
16        81
17        18
19       181
20        41
21         7
23       538
24        11
26      1050
29      1927
31      3067
33       762
34      3249
35      1019
36      4282
37      1049
38      4840
39      1317
40      6011
41      4859
42      1262
43     10037
45      3930
       ...
51      1642
52      1486
53      1300
54      1021
55       256
56      1162
57      1092
58       789
59      1043
60       956
61       940
63       960
65       855
66        38
67       580
68       388
69       521
70       387
71       577
72       503
73       450
74        87
75       991
77      1177
80      1200
83      1225
89      1016
92        65
94       806
100      375
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [569]:
c = 'DESEMP_INGLES'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    41171
A1    24541
A2     8559
B+     3487
B1     8714
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [570]:
c = 'NOMBRE_COMP_FLEXIBLE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['MEDIO AMBIENTE', 'PROFUNDIZACIÓN EN BIOLOGÍA',
       'PROFUNDIZACIÓN EN CIENCIAS SOCIALES', 'PROFUNDIZACIÓN EN LENGUAJE',
       'PROFUNDIZACIÓN EN MATEMÁTICA', 'VIOLENCIA Y SOCIEDAD'],
      dtype='object')
MEDIO AMBIENTE                         25290
PROFUNDIZACIÓN EN BIOLOGÍA             11688
PROFUNDIZACIÓN EN CIENCIAS SOCIALES     5293
PROFUNDIZACIÓN EN LENGUAJE              9609
PROFUNDIZACIÓN EN MATEMÁTICA           10622
VIOLENCIA Y SOCIEDAD                   23970
Name: NOMBRE_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [571]:
c = 'PUNT_COMP_FLEXIBLE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Float64Index([ 0.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 11.0, 18.0, 21.0,
              22.0, 25.0, 28.0, 29.0, 32.0, 33.0, 35.0, 36.0, 37.0, 38.0, 40.0,
              41.0, 43.0, 44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0,
              53.0, 54.0, 55.0, 56.0, 57.0, 59.0, 60.0, 65.0, 66.0, 72.0, 76.0,
              77.0, 83.0],
             dtype='float64')
0       462
3       342
4      8304
5     20633
6      6753
7       692
8       116
9        29
11        2
18      111
21        5
22      104
25      325
28       14
29      921
32       35
33     1591
35       47
36     1274
37      763
38     1584
40      976
41     1686
43     1023
44     1911
45      908
46     2195
47      859
48     2142
49     4010
50     2545
51     5930
52     6683
53     2777
54     3036
55     2516
56      741
57      571
59      120
60     1088
65      164
66      318
72       82
76        2
77       73
83        9
Name: PUNT_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 86472
__________________
(86472,)
None

In [572]:
c = 'DESEMP_COMP_FLEXIBLE'
print(data_2014[c].value_counts().sort_index().index)
print(data_2014[c].value_counts().sort_index())
print(missing_data(data_2014[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     22886
I      11702
II      2365
III      259
Name: DESEMP_COMP_FLEXIBLE, dtype: int64
Elementos null/NaN 49260
__________________
Elementos diferentes de null/NaN: 37212
__________________
(37212,)
None

In [573]:
Do_resamples(data_2014, c, str)

cant null antes: 49260
cant null despues: 0

___

___

___

___

___

___

___

## FILE 2: 2014_2

In [232]:
data_2014_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20142-RGSTRO-CLFCCN-V3-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (9,10,11,12,13,14,114) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [233]:
data_2014_2.shape

(574395, 136)

In [234]:
data_2014_2.head(3).T

,0,1,2
PERIODO,20142,20142,20142
ESTU_CONSECUTIVO,SABER1120142000001,SABER1120142000002,SABER1120142000003
ESTU_ESTUDIANTE,ESTUDIANTE,ESTUDIANTE,ESTUDIANTE
ESTU_EDAD,17,17,17
ESTU_TIPO_DOCUMENTO,TI,TI,TI
ESTU_PAIS_RESIDE,1,1,1
ESTU_GENERO,M,M,F
ESTU_FECHA_NACIMIENTO,15/11/1996,06/12/1996,03/07/1997
ESTU_ETNIA,100,100,1
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_CONDICIONESPECIAL,NaN,NaN,NaN
ESTU_LIMITA_SORDO,NaN,NaN,NaN
ESTU_LIMITA_SDOWN,NaN,NaN,NaN
ESTU_LIMITA_AUTISMO,NaN,NaN,NaN
COLE_COD_MCPIO_UBICACION,5001,5051,76109
ESTU_RESIDE_MCPIO,MEDELLIN,ARBOLETES,BUENAVENTURA
ESTU_RESIDE_DEPTO,ANTIOQUIA,ANTIOQUIA,VALLE
ESTU_COD_RESIDE_MCPIO,5001,5051,76109
ESTU_ZONA_RESIDE,6,10,10
COLE_COD_DANE_INSTITUCION,1.05001e+11,1.05051e+11,1.76109e+11
COLE_COD_ICFES,113324,38992,62232
COLE_NOMBRE_SEDE,INST EDUC FE Y ALEGRIA GRANIZAL,I. E. MIGUEL VICENTE GARRIDO ORTIZ,JOSE MARIA CABAL
COLE_JORNADA,M,M,M
COLE_GENERO,MIXTO,MIXTO,MIXTO
COLE_CARACTER,TÉCNICO/ACADÉMICO,TÉCNICO/ACADÉMICO,ACADÉMICO
COLE_NATURALEZA,OFICIAL,OFICIAL,OFICIAL
COLE_BILINGUE,N,N,N
COLE_CALENDARIO,A,A,A
ESTU_AREA_RESIDE,U,U,U
...,...,...,...
FAMI_AUTOMOVIL,N,N,N
FAMI_CELULAR,S,S,S
FAMI_NEVERA,S,S,S
FAMI_HORNO,S,N,S
FAMI_INGRESO_FMILIAR_MENSUAL,2,1,2
ESTU_TRABAJA,1,1,1
ESTU_RECIBE_SALARIO,NaN,NaN,NaN
ESTU_VECES_ESTADO,NaN,NaN,NaN
ESTU_COD_PLANTEL,NaN,NaN,NaN
ESTU_COD_DEPTO_PRESENTACION,5,5,76
ESTU_COD_MCPIO_PRESENTACION,5001,5051,76109
ESTU_MCPIO_PRESENTACION,MEDELLIN,ARBOLETES,BUENAVENTURA
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,ANTIOQUIA,VALLE
DECIL_LECTURA_CRITICA,D09,D04,D09
PUNT_LECTURA_CRITICA,60,45,62
DECIL_MATEMATICAS,D08,D04,D05
PUNT_MATEMATICAS,58,47,49
DECIL_C_NATURALES,D08,D03,D08
PUNT_C_NATURALES,58,44,56
DECIL_SOCIALES_CIUDADANAS,D08,D07,D09
PUNT_SOCIALES_CIUDADANAS,59,54,62
DECIL_INGLES,D08,D03,D01
DESEMP_INGLES,A1,A-,A-
PUNT_INGLES,53,45,39
DECIL_RAZONA_CUANT,D10,D05,D03
PUNT_RAZONA_CUANT,65,49,44
DECIL_COMP_CIUDADANA,D07,D07,D09
PUNT_COMP_CIUDADANA,56,56,62
PUNT_GLOBAL,292,237,279
ESTU_PUESTO,164,589,233

In [235]:
data_2014_2 = data_2014_2.drop(['PERIODO', 'ESTU_CONSECUTIVO', 'ESTU_TIPO_DOCUMENTO', 'COLE_NOMBRE_SEDE',
                               'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA', 'ESTU_COD_MCPIO_PRESENTACION',
                               'ESTU_COD_DEPTO_PRESENTACION'], axis=1)

In [236]:
c = 'ESTU_ESTUDIANTE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['ESTUDIANTE', 'INDIVIDUAL'], dtype='object')
ESTUDIANTE    549772
INDIVIDUAL     24623
Name: ESTU_ESTUDIANTE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 574395
__________________
(574395,)
None

In [237]:
c = 'ESTU_EDAD'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([  0.0,   1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,
                9.0,  10.0,  11.0,  12.0,  13.0,  14.0,  15.0,  16.0,  17.0,
               18.0,  19.0,  20.0,  21.0,  22.0,  23.0,  24.0,  25.0,  26.0,
               27.0,  28.0,  29.0,  30.0,  31.0,  32.0,  33.0,  34.0,  35.0,
               36.0,  37.0,  38.0,  39.0,  40.0,  41.0,  42.0,  43.0,  44.0,
               45.0,  46.0,  47.0,  48.0,  49.0,  50.0,  51.0,  52.0,  53.0,
               54.0,  55.0,  56.0,  57.0,  58.0,  59.0,  60.0,  61.0,  62.0,
               63.0,  64.0,  65.0,  66.0,  67.0,  68.0,  69.0,  70.0,  71.0,
               72.0,  73.0,  74.0,  75.0,  76.0,  77.0,  78.0,  79.0,  83.0,
               84.0,  88.0,  95.0,  97.0,  98.0,  99.0, 100.0],
             dtype='float64')
0        1820
1         156
2          14
3          10
4          24
5          20
6          64
7          75
8          53
9          35
10         18
11         14
12         16
13         45
14       1138
15      28187
16     198211
17     163326
18      84092
19      34964
20      14209
21       7421
22       4703
23       3613
24       2796
25       2553
26       2172
27       2021
28       1853
29       1795
        ...
58        105
59         64
60         61
61         57
62         39
63         42
64         39
65         22
66         15
67         21
68         17
69          7
70         11
71          5
72          2
73          3
74          3
75          1
76          2
77          1
78          1
79          2
83          1
84          1
88          1
95          1
97          1
98          2
99          5
100         1
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 16
__________________
Elementos diferentes de null/NaN: 574379
__________________
(574379,)
None

In [238]:
for i in data_2014_2[c].value_counts().sort_index().index:
    if i < 9:
        data_2014_2[c] = data_2014_2[c].replace(i, np.nan)
    elif i > 80:
        data_2014_2[c] = data_2014_2[c].replace(i, np.nan)
        
data_2014_2[c].fillna(int(np.mean(data_2014_2[c])), inplace=True)

In [239]:
c = 'ESTU_PAIS_RESIDE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  1,  12,  33,  42,  46,  47,  50,  54,  57,  64,  65,  99, 104,
            110, 112, 119, 124, 144, 166, 167, 174, 175, 178, 183, 206, 209,
            236, 238, 241],
           dtype='int64')
1      574269
12          8
33          2
42          1
46          2
47          1
50          1
54          1
57          1
64          2
65         11
99          1
104         1
110         2
112         2
119         1
124         1
144         5
166         1
167         1
174        15
175         1
178         2
183         2
206         1
209        10
236         6
238         1
241        43
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 574395
__________________
(574395,)
None

In [240]:
Do_resamples(data_2014_2, c, int)

cant null antes: 0
cant null despues: 0

In [241]:
c = 'ESTU_GENERO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['F', 'M'], dtype='object')
F    314147
M    259713
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 535
__________________
Elementos diferentes de null/NaN: 573860
__________________
(573860,)
None

In [242]:
Do_resamples(data_2014_2, c, str)

cant null antes: 535
cant null despues: 0

In [243]:
c = 'ESTU_FECHA_NACIMIENTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['01/01/1953', '01/01/1956', '01/01/1959', '01/01/1960', '01/01/1961',
       '01/01/1962', '01/01/1963', '01/01/1964', '01/01/1966', '01/01/1968',
       ...
       '31/12/1992', '31/12/1993', '31/12/1994', '31/12/1995', '31/12/1996',
       '31/12/1997', '31/12/1998', '31/12/1999', '31/12/2005', '31/12/2013'],
      dtype='object', length=14258)
01/01/1953      1
01/01/1956      1
01/01/1959      2
01/01/1960      1
01/01/1961      1
01/01/1962      4
01/01/1963      1
01/01/1964      1
01/01/1966      1
01/01/1968      1
01/01/1969      2
01/01/1970      1
01/01/1971      1
01/01/1972      2
01/01/1973      1
01/01/1974      6
01/01/1975      3
01/01/1976      5
01/01/1977     12
01/01/1978      5
01/01/1979      6
01/01/1980     12
01/01/1981      4
01/01/1982      5
01/01/1983      5
01/01/1984      5
01/01/1985     16
01/01/1986      8
01/01/1987     14
01/01/1988      6
             ...
31/12/1969      1
31/12/1972      2
31/12/1973      1
31/12/1974      6
31/12/1975      1
31/12/1976      7
31/12/1977      6
31/12/1978      1
31/12/1979      2
31/12/1980      2
31/12/1981      4
31/12/1983      3
31/12/1984     10
31/12/1985      4
31/12/1986      6
31/12/1987      6
31/12/1988      3
31/12/1989      6
31/12/1990     11
31/12/1991     18
31/12/1992     10
31/12/1993     22
31/12/1994     84
31/12/1995    166
31/12/1996    351
31/12/1997    587
31/12/1998     83
31/12/1999      2
31/12/2005      1
31/12/2013      2
Name: ESTU_FECHA_NACIMIENTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 574395
__________________
(574395,)
None

In [244]:
Sep_Col = pd.DataFrame(data_2014_2.ESTU_FECHA_NACIMIENTO.str.split('/').tolist(), columns=['ESTU_NACIMIENTO_DIA', 
                                                                                         'ESTU_NACIMIENTO_MES',
                                                                                         'ESTU_NACIMIENTO_ANNO'])
data_2014_2 = pd.concat([data_2014_2, Sep_Col], axis=1)
data_2014_2 = data_2014_2.drop(c, axis=1)

In [245]:
c = 'ESTU_ETNIA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               10.0,  11.0,  12.0,  13.0,  14.0,  16.0,  17.0,  18.0,  19.0,
              100.0],
             dtype='float64')
1       29257
2         285
3        1528
4         405
5          80
6        1258
7        2574
8         378
9         163
10        146
11          1
12        377
13        298
14        221
16       2172
17       1969
18       4480
19      30234
100    484184
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 14385
__________________
Elementos diferentes de null/NaN: 560010
__________________
(560010,)
None

In [246]:
data_2014_2[c].fillna(100, inplace=True)

In [247]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['MOT'], dtype='object')
MOT    520
Name: ESTU_LIMITA_MOTRIZ, dtype: int64
Elementos null/NaN 573875
__________________
Elementos diferentes de null/NaN: 520
__________________
(520,)
None

In [248]:
data_2014_2 = data_2014_2.drop(c, axis=1)

In [249]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['VIS'], dtype='object')
VIS    172
Name: ESTU_LIMITA_INVIDENTE, dtype: int64
Elementos null/NaN 574223
__________________
Elementos diferentes de null/NaN: 172
__________________
(172,)
None

In [250]:
data_2014_2 = data_2014_2.drop(c, axis=1)

In [251]:
c = 'ESTU_LIMITA_CONDICIONESPECIAL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['CE'], dtype='object')
CE    337
Name: ESTU_LIMITA_CONDICIONESPECIAL, dtype: int64
Elementos null/NaN 574058
__________________
Elementos diferentes de null/NaN: 337
__________________
(337,)
None

In [252]:
data_2014_2 = data_2014_2.drop(c, axis=1)

In [253]:
c = 'ESTU_LIMITA_SORDO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['AUD'], dtype='object')
AUD    136
Name: ESTU_LIMITA_SORDO, dtype: int64
Elementos null/NaN 574259
__________________
Elementos diferentes de null/NaN: 136
__________________
(136,)
None

In [254]:
data_2014_2 = data_2014_2.drop(c, axis=1)

In [255]:
c = 'ESTU_LIMITA_SDOWN'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['SD'], dtype='object')
SD    33
Name: ESTU_LIMITA_SDOWN, dtype: int64
Elementos null/NaN 574362
__________________
Elementos diferentes de null/NaN: 33
__________________
(33,)
None

In [256]:
data_2014_2 = data_2014_2.drop(c, axis=1)

In [257]:
c = 'ESTU_LIMITA_AUTISMO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['AA'], dtype='object')
AA    123
Name: ESTU_LIMITA_AUTISMO, dtype: int64
Elementos null/NaN 574272
__________________
Elementos diferentes de null/NaN: 123
__________________
(123,)
None

In [258]:
data_2014_2 = data_2014_2.drop(c, axis=1)

In [259]:
c = 'COLE_COD_MCPIO_UBICACION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([ 5001.0,  5002.0,  5004.0,  5021.0,  5030.0,  5031.0,  5034.0,
               5036.0,  5038.0,  5040.0,
              ...
              95001.0, 95015.0, 95025.0, 95200.0, 97001.0, 97889.0, 99001.0,
              99524.0, 99624.0, 99773.0],
             dtype='float64', length=1105)
5001     30218
5002       138
5004        32
5021        39
5030       330
5031       277
5034       481
5036        56
5038       110
5040        88
5042       304
5044        56
5045      1336
5051       387
5055        91
5059        66
5079       541
5086        55
5088      5463
5091        92
5093       118
5101       283
5107        64
5113        40
5120       191
5125        63
5129       765
5134        46
5138       253
5142        58
         ...
86571      109
86573      186
86749      304
86755       87
86757      177
86760       76
86865      472
86885      340
88001      600
88564       43
91001      582
91263       20
91407       26
91540       86
91669        7
91798       23
94001      193
94343       32
94663       24
94883       11
95001      723
95015       63
95025      136
95200       27
97001      324
97889        8
99001      215
99524      105
99624       23
99773      125
Name: COLE_COD_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 24623
__________________
Elementos diferentes de null/NaN: 549772
__________________
(549772,)
None

In [260]:
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [261]:
c = 'ESTU_COD_RESIDE_MCPIO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([ 5001.0,  5002.0,  5004.0,  5021.0,  5030.0,  5031.0,  5034.0,
               5036.0,  5038.0,  5040.0,
              ...
              95200.0, 97001.0, 97161.0, 97666.0, 97889.0, 99001.0, 99524.0,
              99624.0, 99773.0, 99999.0],
             dtype='float64', length=1111)
5001     30512
5002       214
5004        34
5021        39
5030       345
5031       283
5034       525
5036        57
5038       155
5040       140
5042       316
5044        57
5045      1409
5051       424
5055        91
5059        69
5079       612
5086        62
5088      5756
5091       106
5093       171
5101       295
5107        69
5113        55
5120       220
5125        98
5129       842
5134        66
5138       255
5142        68
         ...
86757      227
86760       95
86865      503
86885      363
88001      611
88564       49
91001      607
91263       19
91407       16
91460       11
91540       86
91669       10
91798       23
94001      213
94343       33
94663       24
94883       11
95001      731
95015       64
95025      142
95200       28
97001      301
97161       30
97666       13
97889        8
99001      225
99524      109
99624       23
99773      134
99999        7
Name: ESTU_COD_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 155
__________________
Elementos diferentes de null/NaN: 574240
__________________
(574240,)
None

In [262]:
data_2014_2 = data_2014_2.drop(c, axis=1)

In [263]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1028)
ABEJORRAL                    214
ABREGO                       245
ABRIAQUI                      34
ACACIAS                     1205
ACANDI                       108
ACEVEDO                      277
ACHI                         318
AGRADO                       127
AGUA DE DIOS                 153
AGUACHICA                   1162
AGUADA                        20
AGUADAS                      309
AGUAZUL                      677
AGUSTIN CODAZZI              692
AIPE                         235
ALBAN                         94
ALBAN (SAN JOSE)             161
ALBANIA                      315
ALCALA                       148
ALDANA                       103
ALEJANDRIA                    39
ALGARROBO                    167
ALGECIRAS                    263
ALMAGUER                     165
ALMEIDA                       24
ALPUJARRA                     49
ALTAMIRA                      57
ALTO BAUDO (PIE DE PATO)      40
ALTOS DEL ROSARIO             45
ALVARADO                      84
                            ...
VILLANUEVA                  1022
VILLAPINZON                  301
VILLARRICA                    76
VILLAVICENCIO               6445
VILLAVIEJA                    36
VILLETA                      391
VIOTA                        193
VIRACACHA                     29
VISTA HERMOSA                161
VITERBO                      268
YACOPI                       168
YACUANQUER                   153
YAGUARA                      106
YALI                          74
YARUMAL                      652
YAVARATE                       8
YOLOMBO                      261
YONDO (CASABE)               153
YOPAL                       2720
YOTOCO                       152
YUMBO                       1297
ZAMBRANO                     177
ZAPATOCA                     150
ZAPAYAN                       54
ZARAGOZA                     209
ZARZAL                       558
ZETAQUIRA                     66
ZIPACON                       65
ZIPAQUIRA                   1896
ZONA BANANERA                846
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 155
__________________
Elementos diferentes de null/NaN: 574240
__________________
(574240,)
None

In [264]:
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [265]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'EXTRANJERO', 'GUAINIA', 'GUAVIARE', 'HUILA',
       'LA GUAJIRA', 'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER',
       'PUTUMAYO', 'QUINDIO', 'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE',
       'TOLIMA', 'VALLE', 'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             772
ANTIOQUIA          76448
ARAUCA              2888
ATLANTICO          28824
BOGOTA             96469
BOLIVAR            25395
BOYACA             18385
CALDAS             12528
CAQUETA             4156
CASANARE            6043
CAUCA              14823
CESAR              12612
CHOCO               4216
CORDOBA            19040
CUNDINAMARCA       36660
EXTRANJERO             7
GUAINIA              281
GUAVIARE             965
HUILA              15239
LA GUAJIRA          7264
MAGDALENA          15385
META               11896
NARIÑO             19370
NORTE SANTANDER    16391
PUTUMAYO            4259
QUINDIO             7570
RISARALDA          11190
SAN ANDRES           660
SANTANDER          28816
SUCRE              11267
TOLIMA             17906
VALLE              45672
VAUPES               352
VICHADA              491
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 155
__________________
Elementos diferentes de null/NaN: 574240
__________________
(574240,)
None

In [266]:
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [267]:
c = 'ESTU_ZONA_RESIDE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')
1      24223
2       5894
3      12130
4      40018
5      26420
6      12253
7      13879
8      27753
9      25883
10    385942
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 574395
__________________
(574395,)
None

In [268]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([105001000001.0, 105001000043.0, 105001000108.0, 105001000132.0,
              105001000141.0, 105001000167.0, 105001000175.0, 105001000205.0,
              105001000256.0, 105001000353.0,
              ...
              813430000003.0, 818001100011.0, 818001100022.0, 818001100027.0,
              818001100040.0, 847001000005.0, 847001000023.0, 847001000027.0,
              847001000035.0, 854874000001.0],
             dtype='float64', length=9754)
1.050010e+11      24
1.050010e+11      76
1.050010e+11    1002
1.050010e+11      77
1.050010e+11      23
1.050010e+11      39
1.050010e+11      89
1.050010e+11      43
1.050010e+11     166
1.050010e+11      52
1.050010e+11     157
1.050010e+11     121
1.050010e+11     110
1.050010e+11      76
1.050010e+11     116
1.050010e+11     119
1.050010e+11      58
1.050010e+11      65
1.050010e+11      22
1.050010e+11      60
1.050010e+11     176
1.050010e+11     227
1.050010e+11     126
1.050010e+11      61
1.050010e+11     161
1.050010e+11      89
1.050010e+11      29
1.050010e+11      48
1.050010e+11      43
1.050010e+11      62
                ...
5.540013e+11      74
5.680010e+11       6
5.680010e+11      18
5.684320e+11      11
5.684320e+11      10
6.252430e+11      12
6.252690e+11      64
6.252690e+11      13
6.252690e+11      63
6.252690e+11      62
6.252690e+11      66
6.252690e+11      17
6.254300e+11      21
6.257400e+11       9
6.257450e+11      15
6.257690e+11      22
6.257990e+11       6
6.258170e+11      63
6.258860e+11      13
6.258990e+11      99
8.134300e+11      48
8.180011e+11      35
8.180011e+11      82
8.180011e+11      56
8.180011e+11      21
8.470010e+11     193
8.470010e+11      46
8.470010e+11      59
8.470010e+11      22
8.548740e+11       1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 24623
__________________
Elementos diferentes de null/NaN: 549772
__________________
(549772,)
None

In [269]:
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [270]:
c = 'COLE_COD_ICFES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([    18.0,     59.0,     75.0,     83.0,     91.0,    125.0,
                 141.0,    174.0,    190.0,    208.0,
              ...
              190512.0, 190546.0, 190553.0, 190587.0, 190629.0, 190637.0,
              190645.0, 190652.0, 190660.0, 190686.0],
             dtype='float64', length=11907)
18          12
59        1002
75          53
83          28
91          80
125         76
141        104
174        102
190         78
208         75
216         18
232         44
240         11
257         52
265        208
281         62
315        114
349         10
356         39
364         57
372         56
380         91
398         32
406         26
422         17
430         74
448         23
455         99
463        126
471        103
          ...
189878      19
189951       5
189969       3
190009      30
190017      13
190025      46
190132       6
190181       5
190199       6
190207       8
190249      16
190272      25
190280       9
190314      18
190355       5
190371      19
190421       7
190488      17
190496      41
190504       3
190512       6
190546       1
190553      17
190587      11
190629       5
190637       5
190645       4
190652      16
190660      39
190686      11
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 24623
__________________
Elementos diferentes de null/NaN: 549772
__________________
(549772,)
None

In [271]:
for i in data_2014_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2014_2[c] = data_2014_2[c].replace(i, np.nan)
        
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [272]:
c = 'COLE_JORNADA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['C', 'M', 'N', 'S', 'T', 'U'], dtype='object')
C    107954
M    282303
N     38254
S     35427
T     85728
U       106
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 24623
__________________
Elementos diferentes de null/NaN: 549772
__________________
(549772,)
None

In [273]:
Do_resamples(data_2014_2, c, str)

cant null antes: 24623
cant null despues: 0

In [274]:
c = 'COLE_GENERO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['FEMENINO', 'MASCULINO', 'MIXTO'], dtype='object')
FEMENINO      16040
MASCULINO      5034
MIXTO        528698
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 24623
__________________
Elementos diferentes de null/NaN: 549772
__________________
(549772,)
None

In [275]:
Do_resamples(data_2014_2, c, str)

cant null antes: 24623
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [276]:
c = 'COLE_CARACTER'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['ACADÉMICO', 'NO_APLICA', 'TÉCNICO', 'TÉCNICO/ACADÉMICO'], dtype='object')
ACADÉMICO            295481
NO_APLICA              1269
TÉCNICO               59169
TÉCNICO/ACADÉMICO    191939
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 26537
__________________
Elementos diferentes de null/NaN: 547858
__________________
(547858,)
None

In [277]:
Do_resamples(data_2014_2, c, str)

cant null antes: 26537
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [278]:
c = 'COLE_NATURALEZA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['NO OFICIAL', 'OFICIAL', 'OTRO'], dtype='object')
NO OFICIAL    139416
OFICIAL       410356
OTRO           24623
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 574395
__________________
(574395,)
None

In [279]:
c = 'COLE_BILINGUE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    482269
S      5668
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 86458
__________________
Elementos diferentes de null/NaN: 487937
__________________
(487937,)
None

In [280]:
Do_resamples(data_2014_2, c, str)

cant null antes: 86458
cant null despues: 0

In [281]:
c = 'COLE_CALENDARIO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['A', 'B', 'O'], dtype='object')
A    545462
B      1942
O      2368
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 24623
__________________
Elementos diferentes de null/NaN: 549772
__________________
(549772,)
None

In [282]:
Do_resamples(data_2014_2, c, str)

cant null antes: 24623
cant null despues: 0

In [283]:
c = 'ESTU_AREA_RESIDE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['R', 'U'], dtype='object')
R    113071
U    457667
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 3657
__________________
Elementos diferentes de null/NaN: 570738
__________________
(570738,)
None

In [284]:
Do_resamples(data_2014_2, c, str)

cant null antes: 3657
cant null despues: 0

In [285]:
c = 'COLE_AREA_UBICACION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['R', 'U'], dtype='object')
R     76264
U    473491
Name: COLE_AREA_UBICACION, dtype: int64
Elementos null/NaN 24640
__________________
Elementos diferentes de null/NaN: 549755
__________________
(549755,)
None

In [286]:
Do_resamples(data_2014_2, c, str)

cant null antes: 24640
cant null despues: 0

In [287]:
c = 'COLE_DEPTO_UBICACION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             744
ANTIOQUIA          74141
ARAUCA              2745
ATLANTICO          28068
BOGOTA             92898
BOLIVAR            24695
BOYACA             17542
CALDAS             11803
CAQUETA             3949
CASANARE            5834
CAUCA              13922
CESAR              12182
CHOCO               3891
CORDOBA            18579
CUNDINAMARCA       36434
GUAINIA              260
GUAVIARE             949
HUILA              14231
LA GUAJIRA          6985
MAGDALENA          15079
META               11471
NARIÑO             17383
NORTE SANTANDER    15707
PUTUMAYO            4004
QUINDIO             7257
RISARALDA          10704
SAN ANDRES           643
SANTANDER          27319
SUCRE              11072
TOLIMA             17000
VALLE              41481
VAUPES               332
VICHADA              468
Name: COLE_DEPTO_UBICACION, dtype: int64
Elementos null/NaN 24623
__________________
Elementos diferentes de null/NaN: 549772
__________________
(549772,)
None

In [288]:
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [289]:
c = 'COLE_MCPIO_UBICACION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1024)
ABEJORRAL                    138
ABREGO                       229
ABRIAQUI                      32
ACACIAS                     1070
ACANDI                        99
ACEVEDO                      267
ACHI                         331
AGRADO                       140
AGUA DE DIOS                 138
AGUACHICA                   1158
AGUADA                        20
AGUADAS                      303
AGUAZUL                      653
AGUSTIN CODAZZI              663
AIPE                         216
ALBAN                         79
ALBAN (SAN JOSE)             154
ALBANIA                      297
ALCALA                       138
ALDANA                        96
ALEJANDRIA                    39
ALGARROBO                    192
ALGECIRAS                    243
ALMAGUER                     164
ALMEIDA                       22
ALPUJARRA                     62
ALTAMIRA                      45
ALTO BAUDO (PIE DE PATO)      37
ALTOS DEL ROSARIO             46
ALVARADO                      84
                            ...
VILLANUEVA                   967
VILLAPINZON                  352
VILLARRICA                    71
VILLAVICENCIO               6218
VILLAVIEJA                    48
VILLETA                      366
VIOTA                        188
VIRACACHA                     29
VISTA HERMOSA                137
VITERBO                      211
YACOPI                       163
YACUANQUER                   133
YAGUARA                      101
YALI                          60
YARUMAL                      748
YAVARATE                       8
YOLOMBO                      568
YONDO (CASABE)               153
YOPAL                       2619
YOTOCO                       136
YUMBO                       1244
ZAMBRANO                     180
ZAPATOCA                     141
ZAPAYAN                       63
ZARAGOZA                     199
ZARZAL                       465
ZETAQUIRA                     69
ZIPACON                       68
ZIPAQUIRA                   1752
ZONA BANANERA                841
Name: COLE_MCPIO_UBICACION, dtype: int64
Elementos null/NaN 24623
__________________
Elementos diferentes de null/NaN: 549772
__________________
(549772,)
None

In [290]:
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [291]:
c = 'ESTU_COD_RESIDE_DEPTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([    5.0,     8.0,    11.0,    13.0,    15.0,    17.0,    18.0,
                 19.0,    20.0,    23.0,    25.0,    27.0,    41.0,    44.0,
                 47.0,    50.0,    52.0,    54.0,    63.0,    66.0,    68.0,
                 70.0,    73.0,    76.0,    81.0,    85.0,    86.0,    88.0,
                 91.0,    94.0,    95.0,    97.0,    99.0, 99999.0],
             dtype='float64')
5        76448
8        28824
11       96469
13       25395
15       18385
17       12528
18        4156
19       14823
20       12612
23       19040
25       36660
27        4216
41       15239
44        7264
47       15385
50       11896
52       19370
54       16391
63        7570
66       11190
68       28816
70       11267
73       17906
76       45672
81        2888
85        6043
86        4259
88         660
91         772
94         281
95         965
97         352
99         491
99999        7
Name: ESTU_COD_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 155
__________________
Elementos diferentes de null/NaN: 574240
__________________
(574240,)
None

In [292]:
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [293]:
c = 'ESTU_PRESENTO_ANTECEDENTES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['NO', 'SI'], dtype='object')
NO    517958
SI     56437
Name: ESTU_PRESENTO_ANTECEDENTES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 574395
__________________
(574395,)
None

In [294]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    53714
S     2723
Name: ESTU_REPROBO_PRIMERO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [295]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517958
cant null despues: 0

In [296]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    54503
S     1933
Name: ESTU_REPROBO_SEGUNDO, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [297]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [298]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    54177
S     2260
Name: ESTU_REPROBO_TERCERO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [299]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517958
cant null despues: 0

In [300]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    54819
S     1617
Name: ESTU_REPROBO_CUARTO, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [301]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [302]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    54821
S     1616
Name: ESTU_REPROBO_QUINTO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [303]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517958
cant null despues: 0

In [304]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    53579
S     2857
Name: ESTU_REPROBO_SEXTO, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [305]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [306]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    53640
S     2797
Name: ESTU_REPROBO_SEPTIMO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [307]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517958
cant null despues: 0

In [308]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    52540
S     3897
Name: ESTU_REPROBO_OCTAVO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [309]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517958
cant null despues: 0

In [310]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    52486
S     3951
Name: ESTU_REPROBO_NOVENO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [311]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517958
cant null despues: 0

In [312]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    52301
S     4136
Name: ESTU_REPROBO_DECIMO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [313]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517958
cant null despues: 0

In [314]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    55190
S     1247
Name: ESTU_REPROBO_ONCE_MAS, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [315]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517958
cant null despues: 0

In [316]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     7544
1    31974
2     8267
3     8652
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [317]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517958
cant null despues: 0

In [318]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0],
             dtype='float64')
1985     1002
1986      208
1987      150
1988      131
1989      147
1990      212
1991      149
1992      160
1993      205
1994      208
1995      200
1996      267
1997      305
1998      435
1999      764
2000     2331
2001     4412
2002    17583
2003    11184
2004    16391
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 517951
__________________
Elementos diferentes de null/NaN: 56444
__________________
(56444,)
None

In [319]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517951
cant null despues: 0

In [320]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0],
             dtype='float64')
1985      465
1986       91
1987       92
1988       80
1989      102
1990      187
1991      160
1992      129
1993       92
1994       99
1995      199
1996      153
1997      168
1998      195
1999      178
2000      254
2001      281
2002      348
2003      472
2004      713
2005     3038
2006     5579
2007    23352
2008    20017
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 517951
__________________
Elementos diferentes de null/NaN: 56444
__________________
(56444,)
None

In [321]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517951
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [322]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0, 2005.0, 2006.0, 2007.0, 2008.0,
              2009.0],
             dtype='float64')
1985      261
1986       60
1987       64
1988       59
1989       53
1990      105
1991      114
1992      137
1993      101
1994       68
1995       89
1996      150
1997      147
1998      144
1999      173
2000      178
2001      216
2002      246
2003      316
2004      416
2005      651
2006     3025
2007     5626
2008    23940
2009    20098
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [323]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517958
cant null despues: 0

In [324]:
c = 'ESTU_ANO_TERMINO_BACHILL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0, 2014.0],
             dtype='float64')
1980     154
1981      24
1982      30
1983      43
1984      43
1985      54
1986      47
1987      49
1988      66
1989      48
1990      65
1991      58
1992      63
1993      83
1994      89
1995      99
1996     134
1997     174
1998     194
1999     276
2000     279
2001     288
2002     323
2003     393
2004     467
2005     446
2006     536
2007     693
2008     864
2009    1092
2010    1317
2011    2083
2012    3380
2013    8629
2014      93
Name: ESTU_ANO_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 551719
__________________
Elementos diferentes de null/NaN: 22676
__________________
(22676,)
None

In [325]:
Do_resamples(data_2014_2, c, float)

cant null antes: 551719
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [326]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    39306
2    10503
3     6628
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [327]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517958
cant null despues: 0

In [328]:
c = 'ESTU_MES_TERMINO_BACHILL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1        84
2       174
3       169
4       216
5       103
6      1301
7      2105
8       401
9       285
10      221
11     5678
12    11937
Name: ESTU_MES_TERMINO_BACHILL, dtype: int64
Elementos null/NaN 551721
__________________
Elementos diferentes de null/NaN: 22674
__________________
(22674,)
None

In [329]:
Do_resamples(data_2014_2, c, float)

cant null antes: 551721
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [330]:
c = 'ESTU_RAZON_RETIRO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
1     251
2     578
3    2471
4    1050
5     834
6     476
7     192
8     144
9    3716
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 564683
__________________
Elementos diferentes de null/NaN: 9712
__________________
(9712,)
None

In [331]:
Do_resamples(data_2014_2, c, float)

cant null antes: 564683
cant null despues: 0

In [332]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    46767
2     3253
3     3379
4     3045
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 517951
__________________
Elementos diferentes de null/NaN: 56444
__________________
(56444,)
None

In [333]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517951
cant null despues: 0

In [334]:
c = 'ESTU_TIPO_CARRERA_DESEADA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     6853
2     4590
3    42982
4     2019
Name: ESTU_TIPO_CARRERA_DESEADA, dtype: int64
Elementos null/NaN 517951
__________________
Elementos diferentes de null/NaN: 56444
__________________
(56444,)
None

In [335]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517951
cant null despues: 0

In [336]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['10009', '10013', '10052', '10055', '10086', '10139', '10143', '10151',
       '10158', '10177',
       ...
       '9609', '9645', '9646', '965', '9786', '9788', '995', '9958', '99999',
       'Otro'],
      dtype='object', length=1098)
10009        3
10013        1
10052        9
10055        1
10086        1
10139        4
10143        4
10151        1
10158        4
10177       27
10187        1
10199        3
10220        1
10241        3
10251        3
10260       40
1027         1
10281        2
10282        3
10296        1
10302        7
10306        1
10319        4
10342        2
10354        2
10357        1
1038         1
10380        1
10396        1
1041         2
         ...
9249         3
9250        42
9258         4
9264         2
9268         1
9275         1
9284         2
9296         8
9298         1
9312         1
938          1
9445         1
9448         1
9480         8
949          1
9490         7
9521         4
9582         1
9607         3
9608         1
9609         1
9645         7
9646        12
965          7
9786         5
9788         1
995          3
9958         1
99999       25
Otro     12158
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 519852
__________________
Elementos diferentes de null/NaN: 54543
__________________
(54543,)
None

In [337]:
data_2014_2[c] = data_2014_2[c].replace('Otro', np.nan)
for i in data_2014_2[c].value_counts().sort_index().index:
    if len(str(i)) < 4:
        data_2014_2[c] = data_2014_2[c].replace(i, np.nan)
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [338]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([    1.0,     2.0,     4.0,     5.0,     6.0,     7.0,     8.0,
                  9.0,    10.0,    11.0,
              ...
               1092.0,  1093.0,  1094.0,  1104.0,  1113.0,  1117.0,  1123.0,
               1124.0,  1127.0, 99999.0],
             dtype='float64', length=532)
1        6712
2           4
4           1
5           6
6          16
7          55
8           1
9           2
10          2
11         44
12          1
13        145
14          8
17         13
19        123
21          2
22          3
25          4
26          1
27         38
29          6
32          2
33         65
35        100
36         15
38          1
40          2
41          7
42          5
43          8
         ...
1057       19
1058       11
1059      269
1060        7
1065        6
1067        1
1068        9
1075        4
1076        4
1077        2
1078       73
1079        1
1080        2
1081       18
1084        4
1085        5
1087        1
1089        4
1090        4
1091       16
1092        2
1093       63
1094        2
1104        9
1113       25
1117       15
1123       10
1124        1
1127        2
99999      95
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 519718
__________________
Elementos diferentes de null/NaN: 54677
__________________
(54677,)
None

In [339]:
data_2014_2[c].fillna(method='bfill', inplace=True)
data_2014_2[c].fillna(method='ffill', inplace=True)

In [340]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    18550
S    37886
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [341]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [342]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    41350
S    15086
Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [343]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [344]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['NO', 'SI'], dtype='object')
NO    35492
SI    10021
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 528882
__________________
Elementos diferentes de null/NaN: 45513
__________________
(45513,)
None

In [345]:
Do_resamples(data_2014_2, c, str)

cant null antes: 528882
cant null despues: 0

In [346]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['NO', 'SI'], dtype='object')
NO    31194
SI    14494
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 528707
__________________
Elementos diferentes de null/NaN: 45688
__________________
(45688,)
None

In [347]:
Do_resamples(data_2014_2, c, str)

cant null antes: 528707
cant null despues: 0

In [348]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    18390
S    38046
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [349]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [350]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    41693
S    14743
Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [351]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [352]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N     4322
S    52114
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [353]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [354]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    16255
S    40181
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [355]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [356]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['NO', 'SI'], dtype='object')
NO    20525
SI    28787
Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64
Elementos null/NaN 525083
__________________
Elementos diferentes de null/NaN: 49312
__________________
(49312,)
None

In [357]:
Do_resamples(data_2014_2, c, str)

cant null antes: 525083
cant null despues: 0

In [358]:
c = 'ESTU_POR_OTRARAZON'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    42611
S    13825
Name: ESTU_POR_OTRARAZON, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [359]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [360]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    48637
S     7799
Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [361]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [362]:
c = 'ESTU_POR_UBICACION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    25010
S    31426
Name: ESTU_POR_UBICACION, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [363]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [364]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    44634
S    11802
Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [365]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [366]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    15701
S    40735
Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64
Elementos null/NaN 517959
__________________
Elementos diferentes de null/NaN: 56436
__________________
(56436,)
None

In [367]:
Do_resamples(data_2014_2, c, str)

cant null antes: 517959
cant null despues: 0

In [368]:
c = 'ESTU_PROGRAMA_ACADEMICODESEADO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 11.0, 12.0,
              13.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 24.0, 25.0, 26.0, 27.0,
              28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0, 35.0, 36.0, 37.0, 39.0,
              40.0, 41.0, 42.0, 44.0, 45.0, 46.0, 47.0, 48.0, 50.0, 53.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 61.0, 62.0, 64.0, 66.0, 68.0, 69.0, 70.0,
              99.0],
             dtype='float64')
1     1424
2      566
3      691
4      585
5      195
6      285
7     1643
8      503
9     7548
11     564
12    1564
13    1199
18    1606
19     105
20    1331
21     453
22     321
23     410
24     165
25    1844
26     554
27    2307
28     487
29     802
30    1353
31    1698
32     449
33     782
34     391
35     160
36     213
37     167
39     193
40     490
41    2566
42     278
44      91
45    5031
46     274
47     895
48     117
50     534
53     150
55      48
56     460
57    1418
58    1022
59    2038
61     686
62     121
64     969
66    2601
68     166
69     502
70     158
99    3264
Name: ESTU_PROGRAMA_ACADEMICODESEADO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [369]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517958
cant null despues: 0

In [370]:
c = 'ESTU_OTRO_PLANTEL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index([' ', ' BACHILLERATO EN PROMOCION SOCIAL P', ' COLEGIO EUGENIA RAVASCO ',
       ' I.E.ALFONZO LOPEZ', ' INSTITUCION  EDUCATIVA EDUARDO  SANTOS',
       ' INSTITUCION EDUCATIVA ALVARO ECHEVERRY ', ' ITEC',
       ' Nuevo instituto san miguel', ' PEDRONEL DURANGO',
       ' SANTA ISABEL DE HUNGRIA SEDE SAN LUIS',
       ...
       'universidad la gran colombia',
       'universidad nacional abierta y distancia', 'uribesco',
       'valentin manjarez', 'validacion', 'victor ramirez arevalo',
       'villa de las palmas', 'villa de los andes', 'villa de los andes ',
       'villa margarita'],
      dtype='object', length=5465)
                                            1
 BACHILLERATO EN PROMOCION SOCIAL P         1
 COLEGIO EUGENIA RAVASCO                    1
 I.E.ALFONZO LOPEZ                          1
 INSTITUCION  EDUCATIVA EDUARDO  SANTOS     1
 INSTITUCION EDUCATIVA ALVARO ECHEVERRY     1
 ITEC                                       1
 Nuevo instituto san miguel                 1
 PEDRONEL DURANGO                           1
 SANTA ISABEL DE HUNGRIA SEDE SAN LUIS      1
 TECNICA AGROPECUARIA SAN RAFAEL            1
 colegio guillermo cote  bautista           1
 colegio la paz                             1
 colegio tecnisistemas                      1
 esperanza amor y paz                       1
 fundacion simon maestro                    1
 instituto tecnico la esperanza             1
 juana de caicedo y cuero                   1
 la corporacion general santander           1
 nuestra señora del perpetuo socorro        1
 san agustin jornada nocturna               1
(ceo) centro ocupacional los patios         1
004788                                      1
024810                                      1
054460                                      1
101422198827052009                          1
1022390709                                  1
1048209287                                  1
1114060462                                  1
111781                                      1
                                           ..
teresita montes                             1
terminal maritimo                           1
terminal maritimo santa marta               1
tomas cipriano de mosquera                  1
tomas cipriano de mosquera nocturno         1
trinidad camacho pinzon                     1
tulio arbelaez zuluaga                      1
ucc                                         1
ucc secciòn bachillerato                    1
unad univrsidad nacional abierta y dista    1
unibercidad nacional abierta y adistanci    1
unidad bàsica ciudad de bogota              1
unidad docente antonio nariño               1
unidad educativa municipal Carlos Lozano    1
unitecnicas                                 1
universidad catolica de oriente             2
universidad catolica del norte              1
universidad catolica del oriente            1
universidad de ibague                       1
universidad javeriana                       1
universidad la gran colombia                1
universidad nacional abierta y distancia    1
uribesco                                    1
valentin manjarez                           1
validacion                                  1
victor ramirez arevalo                      1
villa de las palmas                         1
villa de los andes                          2
villa de los andes                          1
villa margarita                             1
Name: ESTU_OTRO_PLANTEL, dtype: int64
Elementos null/NaN 567308
__________________
Elementos diferentes de null/NaN: 7087
__________________
(7087,)
None

In [371]:
data_2014_2 = data_2014_2.drop(c, axis=1)

In [372]:
c = 'ESTU_COD_OTRO_PAIS_PLANTEL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([  1.0,  12.0,  13.0,  16.0,  26.0,  28.0,  33.0,  39.0,  41.0,
               42.0,  46.0,  50.0,  54.0,  65.0,  67.0,  76.0,  91.0,  98.0,
               99.0, 104.0, 116.0, 118.0, 119.0, 122.0, 144.0, 145.0, 151.0,
              157.0, 171.0, 173.0, 174.0, 201.0, 209.0, 236.0, 238.0, 241.0],
             dtype='float64')
1      22652
12         8
13         1
16         1
26         1
28         4
33         7
39         1
41         4
42         5
46         2
50         6
54         1
65        22
67         2
76         1
91         3
98         1
99         1
104        1
116        1
118        2
119        1
122        1
144        4
145        1
151        1
157        1
171        4
173        1
174       20
201        1
209       22
236       45
238        1
241       66
Name: ESTU_COD_OTRO_PAIS_PLANTEL, dtype: int64
Elementos null/NaN 551499
__________________
Elementos diferentes de null/NaN: 22896
__________________
(22896,)
None

In [373]:
Do_resamples(data_2014_2, c, float)

cant null antes: 551499
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [374]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0,
              34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0,
              45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0,
              56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0,
              67.0, 68.0, 69.0, 70.0, 72.0, 73.0, 74.0, 75.0, 77.0, 79.0, 80.0,
              82.0, 83.0, 84.0, 85.0, 86.0, 90.0, 92.0, 97.0, 99.0],
             dtype='float64')
1        7
2       20
3       34
4       92
5      145
6      162
7      166
8      185
9      181
10     274
11     225
12     297
13     268
14     487
15     712
16     592
17     569
18     731
19     674
20    1203
21     898
22    1124
23    1209
24    1449
25    2192
26    1575
27    1873
28    2360
29    1860
30    3334
      ...
57      39
58      38
59      26
60      33
61      14
62       9
63      25
64       2
65      19
66      19
67      12
68      10
69       6
70      31
72       6
73       6
74       1
75       1
77       8
79       3
80      25
82       4
83       5
84       7
85       7
86       8
90       6
92       2
97       1
99       9
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [375]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517958
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [376]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1     6209
2     6450
3     5189
4     3322
5     3669
6    11398
7     5074
8    15126
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 517958
__________________
Elementos diferentes de null/NaN: 56437
__________________
(56437,)
None

In [377]:
Do_resamples(data_2014_2, c, float)

cant null antes: 517958
cant null despues: 0

In [378]:
c = 'COLE_VALOR_PENSION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    429006
2     41874
3     17597
4     12494
5     22969
6     23900
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 26555
__________________
Elementos diferentes de null/NaN: 547840
__________________
(547840,)
None

In [379]:
Do_resamples(data_2014_2, c, float)

cant null antes: 26555
cant null despues: 0

In [380]:
c = 'ESTU_VECES_ESTADO_ESTUDIANTIL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    537206
2      9337
3       919
4       378
Name: ESTU_VECES_ESTADO_ESTUDIANTIL, dtype: int64
Elementos null/NaN 26555
__________________
Elementos diferentes de null/NaN: 547840
__________________
(547840,)
None

In [381]:
Do_resamples(data_2014_2, c, float)

cant null antes: 26555
cant null despues: 0

In [382]:
c = 'ESTU_PRESENTO_EXPECTATIVAS'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['NO', 'SI'], dtype='object')
NO    518898
SI     55497
Name: ESTU_PRESENTO_EXPECTATIVAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 574395
__________________
(574395,)
None

In [383]:
c = 'ESTU_INGRESO_CARRERA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     1860
2     8454
3    28901
4    16282
Name: ESTU_INGRESO_CARRERA, dtype: int64
Elementos null/NaN 518898
__________________
Elementos diferentes de null/NaN: 55497
__________________
(55497,)
None

In [384]:
Do_resamples(data_2014_2, c, float)

cant null antes: 518898
cant null despues: 0

In [385]:
c = 'ESTU_PUNT_ESPERADO_MATEMATICAS'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     1769
2    11628
3    32984
4     9116
Name: ESTU_PUNT_ESPERADO_MATEMATICAS, dtype: int64
Elementos null/NaN 518898
__________________
Elementos diferentes de null/NaN: 55497
__________________
(55497,)
None

In [386]:
Do_resamples(data_2014_2, c, float)

cant null antes: 518898
cant null despues: 0

In [387]:
c = 'ESTU_PUNT_ESPERADO_LENGUAJE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1      547
2     6095
3    32380
4    16475
Name: ESTU_PUNT_ESPERADO_LENGUAJE, dtype: int64
Elementos null/NaN 518898
__________________
Elementos diferentes de null/NaN: 55497
__________________
(55497,)
None

In [388]:
Do_resamples(data_2014_2, c, float)

cant null antes: 518898
cant null despues: 0

In [389]:
c = 'ESTU_PUNT_ESPERADO_INGLES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     2568
2    13889
3    28432
4    10608
Name: ESTU_PUNT_ESPERADO_INGLES, dtype: int64
Elementos null/NaN 518898
__________________
Elementos diferentes de null/NaN: 55497
__________________
(55497,)
None

In [390]:
Do_resamples(data_2014_2, c, float)

cant null antes: 518898
cant null despues: 0

In [391]:
c = 'ESTU_SALARIO_ESPERADO_BACH'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    27865
2    21828
3     3496
4     1130
5      351
6      827
Name: ESTU_SALARIO_ESPERADO_BACH, dtype: int64
Elementos null/NaN 518898
__________________
Elementos diferentes de null/NaN: 55497
__________________
(55497,)
None

In [392]:
Do_resamples(data_2014_2, c, float)

cant null antes: 518898
cant null despues: 0

In [393]:
c = 'ESTU_SALARIO_ESPERADO_TECNICO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1     4047
2    27922
3    18223
4     3968
5      862
6      475
Name: ESTU_SALARIO_ESPERADO_TECNICO, dtype: int64
Elementos null/NaN 518898
__________________
Elementos diferentes de null/NaN: 55497
__________________
(55497,)
None

In [394]:
Do_resamples(data_2014_2, c, float)

cant null antes: 518898
cant null despues: 0

In [395]:
c = 'ESTU_SALARIO_ESPERADO_PROFES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1     2784
2     6566
3    20548
4    15250
5     6729
6     3620
Name: ESTU_SALARIO_ESPERADO_PROFES, dtype: int64
Elementos null/NaN 518898
__________________
Elementos diferentes de null/NaN: 55497
__________________
(55497,)
None

In [396]:
Do_resamples(data_2014_2, c, float)

cant null antes: 518898
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [397]:
c = 'ESTU_PRIVADO_LIBERTAD'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    572585
S      1810
Name: ESTU_PRIVADO_LIBERTAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 574395
__________________
(574395,)
None

In [398]:
c = 'FAMI_EDUCA_PADRE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      28656
2     115038
3      93720
4      80738
5     129748
6       9405
7      30149
8       7073
9      43338
10      9557
11     23328
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 3645
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [399]:
Do_resamples(data_2014_2, c, float)

cant null antes: 3645
cant null despues: 0

In [400]:
c = 'FAMI_EDUCA_MADRE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      14607
2     100454
3      92317
4      93515
5     148628
6      11379
7      39376
8       8007
9      43942
10      9780
11      8745
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 3645
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [401]:
Do_resamples(data_2014_2, c, float)

cant null antes: 3645
cant null despues: 0

In [402]:
c = 'FAMI_OCUPA_PADRE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1      10562
2      12033
3      10071
4       5457
5      41400
6      10884
7     129060
8      14450
9     217324
10      6310
11     18555
12     94644
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 3645
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [403]:
Do_resamples(data_2014_2, c, float)

cant null antes: 3645
cant null despues: 2
cant null antes: 2
cant null despues: 0

In [404]:
c = 'FAMI_OCUPA_MADRE'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       4759
2      10755
3       5173
4       6480
5      33319
6      25965
7      40100
8      13463
9      68669
10    305728
11      5780
12     50558
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 3646
__________________
Elementos diferentes de null/NaN: 570749
__________________
(570749,)
None

In [405]:
Do_resamples(data_2014_2, c, float)

cant null antes: 3646
cant null despues: 0

In [406]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0], dtype='float64')
1    241974
2    199461
3    100954
4     20257
5      5844
6      2260
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 3645
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [407]:
Do_resamples(data_2014_2, c, float)

cant null antes: 3645
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [408]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    265292
2    126469
3     22517
4      4592
5    151880
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 3645
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [409]:
Do_resamples(data_2014_2, c, float)

cant null antes: 3645
cant null despues: 0

In [410]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       2717
2      27940
3      95655
4     173236
5     134489
6      68313
7      31943
8      17795
9       7431
10      5131
11      2233
12      3867
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 3645
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [411]:
Do_resamples(data_2014_2, c, float)

cant null antes: 3645
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [412]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      24728
2     203788
3     234524
4      75491
5      20741
6       6750
7       2390
8       1235
9        435
10       668
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 3645
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [413]:
Do_resamples(data_2014_2, c, float)

cant null antes: 3645
cant null despues: 1
cant null antes: 1
cant null despues: 0

In [414]:
c = 'FAMI_PISOSHOGAR'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1     32274
2    258629
3     30253
4    249594
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 3645
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [415]:
idx = data_2014_2[data_2014_2[c].isnull()].index
data_2014_2 = data_2014_2.drop(idx)

In [416]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    310553
S    260197
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [417]:
c = 'FAMI_INTERNET'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    282027
S    288723
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [418]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    200903
S    369847
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [419]:
c = 'FAMI_COMPUTADOR'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    218995
S    351755
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [420]:
c = 'FAMI_DVD'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    200868
S    369882
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [421]:
c = 'FAMI_LAVADORA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    192327
S    378423
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [422]:
c = 'FAMI_MICROONDAS'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    405824
S    164926
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [423]:
c = 'FAMI_AUTOMOVIL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    454311
S    116439
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [424]:
c = 'FAMI_CELULAR'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N     32296
S    538454
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [425]:
c = 'FAMI_NEVERA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N     70616
S    500134
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [426]:
c = 'FAMI_HORNO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N    324301
S    246449
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [427]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    173529
2    251026
3     85566
4     37400
5     11808
6      6184
7      5237
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [428]:
c = 'ESTU_TRABAJA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    496068
2     30879
3     20907
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 22896
__________________
Elementos diferentes de null/NaN: 547854
__________________
(547854,)
None

In [429]:
Do_resamples(data_2014_2, c, float)

cant null antes: 22896
cant null despues: 0

In [430]:
c = 'ESTU_RECIBE_SALARIO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['N', 'S'], dtype='object')
N     2929
S    48749
Name: ESTU_RECIBE_SALARIO, dtype: int64
Elementos null/NaN 519072
__________________
Elementos diferentes de null/NaN: 51678
__________________
(51678,)
None

In [431]:
Do_resamples(data_2014_2, c, str)

cant null antes: 519072
cant null despues: 0

In [432]:
c = 'ESTU_VECES_ESTADO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0], dtype='float64')
1    13447
2     6264
3     1961
4     1223
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 547855
__________________
Elementos diferentes de null/NaN: 22895
__________________
(22895,)
None

In [433]:
Do_resamples(data_2014_2, c, float)

cant null antes: 547855
cant null despues: 0

In [434]:
c = 'ESTU_COD_PLANTEL'
print(data_2014_2[c].value_counts().index)
print(data_2014_2[c].value_counts())
print(missing_data(data_2014_2[c]))

Index([    '0',     0.0,  '3005',  '3429',  '5127',  '4200',  '2067', '19765',
       '11129', '17567',
       ...
        '8358',  '3120', '10829',  '4757', 18157.0, 18152.0, 18132.0, '20038',
       '21328',  '6516'],
      dtype='object', length=6518)
0                          1184
0.0                         248
3005                         50
3429                         47
5127                         38
4200                         37
2067                         35
19765                        33
11129                        31
17567                        28
20294                        27
1210                         27
16212                        27
6847                         26
7480                         26
17360                        26
5912                         23
7998                         23
5963                         23
19261                        23
13053                        23
5135                         22
19027                        22
3427                         22
10982                        21
11610                        20
15253                        20
3428                         20
2827                         19
986                          19
                           ...
18314.0                       1
9750                          1
18313.0                       1
5692                          1
17851                         1
305                           1
escuela GASTON FARUDO P       1
6552                          1
475                           1
9004                          1
1484                          1
4919                          1
18234.0                       1
2607                          1
1708                          1
18226.0                       1
18222.0                       1
7364                          1
20243                         1
18202.0                       1
8358                          1
3120                          1
10829                         1
4757                          1
18157.0                       1
18152.0                       1
18132.0                       1
20038                         1
21328                         1
6516                          1
Name: ESTU_COD_PLANTEL, dtype: int64
Elementos null/NaN 555098
__________________
Elementos diferentes de null/NaN: 15652
__________________
(15652,)
None

In [435]:
data_2014_2[c] =data_2014_2[c].replace('0', np.nan)
data_2014_2[c] =data_2014_2[c].replace('gamor', np.nan)
data_2014_2[c] =data_2014_2[c].replace(0, np.nan)
for i in data_2014_2[c].value_counts().index:
    if ' ' in str(i):
        data_2014_2[c] =data_2014_2[c].replace(i, np.nan)
    elif 'a' in str(i) or 'e' in str(i):
        data_2014_2[c] =data_2014_2[c].replace(i, np.nan)
    elif len(str(i)) < 4:
        data_2014_2[c] =data_2014_2[c].replace(i, np.nan)
    elif type(i) == str:
        data_2014_2[c] =data_2014_2[c].replace(i, float(i))
        
Do_resamples(data_2014_2, c, float)

cant null antes: 557640
cant null despues: 0

In [436]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLETA', 'VIOTA', 'YARUMAL', 'YOLOMBO', 'YOPAL', 'YUMBO', 'ZAPATOCA',
       'ZARAGOZA', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=439)
ABEJORRAL                     209
ABREGO                        246
ACACIAS                      1504
ACANDI                        108
ACHI                          367
AGUACHICA                    1452
AGUADAS                       307
AGUAZUL                       723
AGUSTIN CODAZZI               695
AIPE                          175
ALBAN                          78
ALBAN (SAN JOSE)              261
ALCALA                        199
ALTO BAUDO (PIE DE PATO)       25
AMAGA                         784
AMALFI                        377
ANDALUCIA                     205
ANDES                         902
ANOLAIMA                      235
ANSERMA                       789
ANSERMANUEVO                  211
APARTADO                     1679
APIA                          251
ARACATACA                     466
ARAUCA                       1104
ARAUQUITA                     318
ARBELAEZ                      169
ARBOLEDAS                     288
ARBOLETES                     556
ARIGUANI (EL DIFICIL)         319
                             ...
TURBO                        1289
TURMEQUE                      351
TUTA                          146
UBATE                        1269
UNGUIA                         77
URIBIA                        616
URRAO                         751
VALLEDUPAR                   5957
VALPARAISO                    157
VEGACHI                       249
VELEZ                         844
VENADILLO                     183
VENTAQUEMADA                  184
VIGIA DEL FUERTE              110
VILLA DE LEYVA                348
VILLA DEL ROSARIO             876
VILLA GUAMEZ (LA HORMIGA)     722
VILLAGARZON                   353
VILLANUEVA                    988
VILLAVICENCIO                6877
VILLETA                       564
VIOTA                         189
YARUMAL                      1066
YOLOMBO                       237
YOPAL                        2950
YUMBO                        1454
ZAPATOCA                      163
ZARAGOZA                      201
ZARZAL                        567
ZIPAQUIRA                    3342
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [437]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLANTICO', 'BOGOTA', 'BOLIVAR',
       'BOYACA', 'CALDAS', 'CAQUETA', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCO',
       'CORDOBA', 'CUNDINAMARCA', 'GUAINIA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDIO',
       'RISARALDA', 'SAN ANDRES', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPES', 'VICHADA'],
      dtype='object')
AMAZONAS             769
ANTIOQUIA          75989
ARAUCA              2999
ATLANTICO          29460
BOGOTA             96212
BOLIVAR            24505
BOYACA             18740
CALDAS             12820
CAQUETA             4206
CASANARE            6103
CAUCA              14591
CESAR              12779
CHOCO               4168
CORDOBA            18865
CUNDINAMARCA       35282
GUAINIA              279
GUAVIARE            1022
HUILA              15279
LA GUAJIRA          7241
MAGDALENA          15118
META               11909
NARIÑO             19301
NORTE SANTANDER    16457
PUTUMAYO            4263
QUINDIO             7425
RISARALDA          11103
SAN ANDRES           661
SANTANDER          28764
SUCRE              11217
TOLIMA             17269
VALLE              45112
VAUPES               347
VICHADA              495
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

## TARGETS

In [438]:
c = 'DECIL_LECTURA_CRITICA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    72777
D02    46295
D03    54402
D04    59592
D05    63226
D06    60606
D07    58199
D08    52022
D09    57991
D10    45640
Name: DECIL_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [439]:
c = 'PUNT_LECTURA_CRITICA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  0,   6,   7,   9,  12,  13,  14,  15,  17,  18,  19,  20,  22,
             23,  25,  26,  28,  29,  31,  32,  33,  34,  35,  36,  37,  38,
             39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
             52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
             65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
             78,  79,  80,  82,  83,  84,  91,  92,  98, 100],
           dtype='int64')
0        359
6         11
7         41
9         10
12         2
13         1
14        45
15       120
17        31
18         2
19       179
20       165
22        47
23       961
25        31
26      2148
28      1899
29      2144
31      6609
32        44
33      9811
34        47
35     13108
36     15620
37      1003
38     18339
39      1222
40     21833
41     23240
42      7502
       ...
58     24292
59        14
60     21941
61     14803
62      4691
63     16542
64         5
65     13446
66       494
67     10053
68       430
69      5933
70      1961
71       305
72      5503
73       209
74        30
75      3454
76       130
77        37
78      1106
79      1000
80        91
82         2
83       492
84       526
91       183
92       179
98         4
100       67
Name: PUNT_LECTURA_CRITICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [440]:
c = 'DECIL_MATEMATICAS'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    60788
D02    60649
D03    77595
D04    44539
D05    42524
D06    78444
D07    62690
D08    46117
D09    44962
D10    52442
Name: DECIL_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [441]:
c = 'PUNT_MATEMATICAS'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  0,   1,   6,   7,   8,  12,  13,  16,  17,  18,  19,  20,  21,
             22,  23,  24,  26,  27,  28,  29,  31,  32,  33,  34,  35,  36,
             37,  38,  39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,
             50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,
             63,  64,  65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,
             76,  77,  78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,
             89,  90,  91,  92,  93,  94,  95,  96,  97,  99, 100],
           dtype='int64')
0        184
1         22
6         12
7         23
8         23
12        33
13        60
16        93
17       100
18        14
19         1
20       193
21       212
22        18
23       410
24       507
26       929
27      1083
28       800
29      2875
31      2990
32      3434
33      4640
34      5633
35      3299
36     12141
37      4649
38     16410
39      6045
40     21374
       ...
70      4149
71       183
72      3688
73        36
74      2925
75      2305
76       107
77      1895
78        14
79      1477
80        76
81      1154
82        74
83       925
84        63
85       734
86        47
87       501
88        47
89       160
90       213
91         4
92       230
93        23
94         1
95       189
96        18
97         2
99       116
100      133
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [442]:
c = 'DECIL_C_NATURALES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    66683
D02    63932
D03    64247
D04    47577
D05    51807
D06    62844
D07    42406
D08    62013
D09    53762
D10    55479
Name: DECIL_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [443]:
c = 'PUNT_C_NATURALES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  0,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
             27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
             40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
             66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
             79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
             93,  95,  96,  98, 100],
           dtype='int64')
0        188
15        33
16        59
17        85
18       121
19       150
20       120
21       252
22       445
23       219
24       479
25       520
26       956
27       542
28      1774
29      2010
30      1166
31      2858
32      3994
33      4565
34      5873
35      6574
36      8541
37      9049
38     16110
39     12925
40     12682
41     22096
42     16229
43     22725
       ...
67      5424
68      3764
69      4355
70      3713
71      3187
72      1972
73      2414
74      1687
75      1526
76      1331
77       963
78       929
79       828
80       426
81       588
82       282
83       287
84       249
85       159
86       179
87       119
88        48
89        50
90        60
91        30
93        44
95        12
96         9
98         8
100        9
Name: PUNT_C_NATURALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [444]:
c = 'DECIL_SOCIALES_CIUDADANAS'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    57650
D02    78550
D03    38452
D04    66705
D05    66207
D06    64644
D07    29690
D08    75315
D09    37279
D10    56258
Name: DECIL_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [445]:
c = 'PUNT_SOCIALES_CIUDADANAS'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  0,   1,   2,   8,  10,  11,  14,  15,  16,  17,  18,  19,  20,
             21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,  32,  33,
             34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,  45,  46,
             47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,
             60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
             73,  75,  76,  77,  78,  80,  81,  82,  83,  84,  86,  87,  88,
             91,  93,  94, 100],
           dtype='int64')
0        185
1         21
2         23
8          1
10        64
11        36
14         7
15        73
16       155
17       118
18         4
19         2
20       488
21       258
22        12
23       320
24      1316
25        24
26       614
27      2605
28        48
29      2484
30      3161
31      3827
32      5080
33      2821
34      6895
35      7472
36      9061
37     10475
       ...
60      5208
61     15004
62     17067
63      3481
64     10782
65      9180
66      2620
67      9010
68        14
69      7022
70      1219
71      3801
72       888
73      2665
75      2222
76       163
77       707
78       813
80       625
81       238
82        63
83       206
84       204
86        26
87        84
88        97
91        21
93        75
94         1
100       31
Name: PUNT_SOCIALES_CIUDADANAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [446]:
c = 'DECIL_INGLES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    77476
D02    76970
D03    46918
D04    49033
D05    47513
D06    64833
D07    50964
D08    46461
D09    58058
D10    52524
Name: DECIL_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [447]:
c = 'DESEMP_INGLES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['A-', 'A1', 'A2', 'B+', 'B1'], dtype='object')
A-    297951
A1    200438
A2     40801
B+      9835
B1     21725
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [448]:
c = 'PUNT_INGLES'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  0,   6,  15,  16,  19,  20,  22,  24,  26,  27,  28,  29,  30,
             31,  32,  34,  36,  38,  39,  40,  41,  42,  43,  44,  45,  46,
             47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,  58,  59,
             60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,  71,  72,
             73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  84,  85,  87,
             88,  89,  93,  94, 100],
           dtype='int64')
0        454
6         43
15        53
16         1
19         2
20        90
22         1
24       170
26         2
27       401
28         7
29         8
30      1021
31        12
32      2281
34      4440
36      8085
38     13373
39      9971
40      9704
41     27357
42     18053
43     17237
44     41680
45     46918
46       595
47     48438
48     47513
49     44449
50     20384
       ...
61      5644
62      2654
63      2525
64      4319
65      4189
66      1982
67      1769
68      3526
69      1864
70      1623
71      3232
72       196
73      2946
74       156
75      2875
76       153
77      2798
78       163
79      2789
80        39
81      1532
82      1389
84      1507
85      1383
87         1
88      2786
89        22
93      2261
94        22
100     1823
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [449]:
c = 'DECIL_RAZONA_CUANT'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    65575
D02    53028
D03    57140
D04    64195
D05    64927
D06    62102
D07    40514
D08    55563
D09    57270
D10    50436
Name: DECIL_RAZONA_CUANT, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [450]:
c = 'PUNT_RAZONA_CUANT'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  0,   2,   3,   4,   8,  10,  12,  13,  14,  17,  18,  19,  20,
             23,  24,  25,  27,  28,  29,  31,  32,  33,  34,  35,  36,  37,
             38,  39,  40,  41,  42,  43,  44,  46,  47,  49,  50,  51,  52,
             53,  54,  55,  56,  57,  58,  59,  60,  62,  63,  65,  67,  68,
             69,  70,  71,  73,  74,  76,  77,  79,  80,  81,  82,  83,  84,
             85,  87,  88,  91,  92,  93,  94,  98,  99, 100],
           dtype='int64')
0        186
2         17
3         34
4         25
8         19
10         2
12       156
13        76
14        96
17        36
18       188
19       451
20       268
23       622
24      1166
25       699
27      1304
28      2928
29      1578
31      5193
32      3164
33      3074
34      4387
35     10564
36      5341
37        62
38     23939
39      8444
40     10000
41     23226
       ...
59     23896
60      8603
62     23346
63       755
65     16955
67      2873
68      8868
69         9
70       374
71      7401
73       274
74      4937
76       163
77      3153
79       125
80      1034
81      1021
82        17
83        77
84      1162
85         2
87        45
88       710
91        28
92         4
93        75
94       250
98         1
99        10
100      113
Name: PUNT_RAZONA_CUANT, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [451]:
c = 'DECIL_COMP_CIUDADANA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Index(['D01', 'D02', 'D03', 'D04', 'D05', 'D06', 'D07', 'D08', 'D09', 'D10'], dtype='object')
D01    72024
D02    45252
D03    81498
D04    38536
D05    69683
D06    47824
D07    73879
D08    33998
D09    56082
D10    51974
Name: DECIL_COMP_CIUDADANA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [452]:
c = 'PUNT_COMP_CIUDADANA'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  0,  11,  12,  15,  17,  19,  20,  22,  24,  25,  26,  27,  28,
             29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,  40,  41,
             42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,  53,  54,
             55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,  66,  67,
             68,  70,  71,  72,  74,  75,  76,  77,  78,  82,  83,  84,  85,
            100],
           dtype='int64')
0        210
11        81
12        80
15        15
17        10
19       486
20       208
22        58
24      1403
25       580
26        41
27      1065
28      3619
29       104
30      2200
31      6847
32       178
33      6995
34      7647
35      4707
36     15923
37       229
38     19338
39      6902
40     22599
41     15751
42     17776
43     18402
44     17179
45     28141
       ...
52     38325
53       533
54     37417
55      1814
56     34115
57      1747
58     32251
59      1253
60     29197
61       989
62     24643
63        13
64      5973
65     15110
66       672
67      7435
68      7026
70       393
71      8947
72        68
74       189
75      1150
76      3163
77        35
78         3
82        69
83      1086
84       345
85        12
100      285
Name: PUNT_COMP_CIUDADANA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [453]:
c = 'PUNT_GLOBAL'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Int64Index([  0,   1,   2,   6,   7,   8,   9,  13,  14,  15,
            ...
            457, 458, 460, 462, 463, 465, 466, 471, 472, 482],
           dtype='int64', length=447)
0      78
1       1
2       3
6       1
7       1
8       2
9       1
13      3
14      2
15      1
16      3
17      6
18      5
19      1
20      7
21      1
22      1
23      1
25      1
27      3
28      3
29      4
30      2
32      4
33      2
34      1
35      3
37      1
38      4
39      2
       ..
435     6
436     4
437    11
438    12
439     2
440    10
441     7
442     5
443     2
445     5
446     3
447     2
448     9
449     1
450     1
452     7
453     1
454     1
455     2
456     4
457     3
458     2
460     2
462     2
463     1
465     1
466     1
471     1
472     1
482     1
Name: PUNT_GLOBAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

In [454]:
c = 'ESTU_PUESTO'
print(data_2014_2[c].value_counts().sort_index().index)
print(data_2014_2[c].value_counts().sort_index())
print(missing_data(data_2014_2[c]))

Float64Index([   1.0,    2.0,    3.0,    4.0,    5.0,    6.0,    7.0,    8.0,
                 9.0,   10.0,
              ...
               991.0,  992.0,  993.0,  994.0,  995.0,  996.0,  997.0,  998.0,
               999.0, 1000.0],
             dtype='float64', length=451)
1        547
2        574
3        545
4        605
5        538
6        614
7        514
8        592
9        608
10       552
11       596
12       517
13       665
14       584
15       579
16       444
17       626
18       616
19       594
20       557
21       580
22       488
23       605
24       622
25       622
26       455
27       668
28       419
29       752
30       502
        ...
970      645
972     1079
973      546
974      604
975      313
976      558
977      892
978      476
979      537
980      672
981      523
982      651
983      451
984      622
985      627
986      351
987      817
988      511
989      583
990      386
991      617
992      738
993      496
994      644
995      529
996      530
997      588
998      609
999      603
1000     652
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 570750
__________________
(570750,)
None

Now i can transform the obtained Dataframes in csv files

In [458]:
data_2014 = label_encoder(data_2014)
data_2014_2 = label_encoder(data_2014_2)

In [460]:
data_2014.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2014_1.csv', sep=';', index=False)
data_2014_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2014_2.csv', sep=';', index=False)