In [1]:
import pandas as pd
import numpy as np
%run -i ../tools/functions.py
%run -i ../tools/label_encoder.py

In [2]:
data_2009 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20091-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

In [3]:
data_2009.shape

(69743, 97)

In [4]:
data_2009.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SB20091000001,SB20091000002,SB20091000003
PERIODO,20091,20091,20091
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,M,M
ESTU_NACIMIENTO_DIA,16,6,13
ESTU_NACIMIENTO_MES,5,11,12
ESTU_NACIMIENTO_ANNO,1992,1991,1991
ESTU_EDAD,16,17,17
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,76892,76892,76892
ESTU_RESIDE_MCPIO,YUMBO,YUMBO,YUMBO
ESTU_RESIDE_DEPTO,VALLE,VALLE,VALLE
ESTU_ZONA_RESIDE,10,10,10
ESTU_AREA_RESIDE,2,2,2
FAMI_EDUCA_PADRE,10,0,9
FAMI_EDUCA_MADRE,11,13,9
FAMI_OCUPA_PADRE,14,21,19
FAMI_OCUPA_MADRE,22,18,22
FAMI_EDUCA_HERMANO,88,NaN,88
FAMI_ESTRATO_VIVIENDA,2,1,2
FAMI_NIVEL_SISBEN,4,1,5
FAMI_PERSONAS_HOGAR,4,4,3
...,...,...,...
ESTU_VECES_ESTADO,0,1,0
ESTU_CARRDESEADA_TIPO,3,NaN,3
ESTU_CARRDESEADA_NUCLEO,42,NaN,41
ESTU_IES_COD_DESEADA,1203,1203,1203
ESTU_IES_DESEADA_NOMBRE,UNIVERSIDAD DEL VALLE,UNIVERSIDAD DEL VALLE,UNIVERSIDAD DEL VALLE
ESTU_IES_COD_MPIO_DESEADA,76001,76001,76001
ESTU_IES_MPIO_DESEADA,CALI,CALI,CALI
ESTU_IES_DEPT_DESEADA,VALLE,VALLE,VALLE
ESTU_RAZONINSTITUTO,2,3,2
ESTU_CARRDESEADA_COD,NaN,NaN,NaN
ESTU_CARRDESEADA_RAZON,3,7,1
ESTU_COD_MCPIO_PRESENTACION,76892,76892,76892
ESTU_MCPIO_PRESENTACION,YUMBO,YUMBO,YUMBO
ESTU_DEPTO_PRESENTACION,VALLE,VALLE,VALLE
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES)
PUNT_LENGUAJE,"38,41","62,59","40,79"
PUNT_MATEMATICAS,"36,84","50,65","33,44"
PUNT_C_SOCIALES,"48,05","57,75","44,14"
PUNT_FILOSOFIA,"44,77","39,25","39,54"
PUNT_BIOLOGIA,"34,61",44,"27,68"
PUNT_QUIMICA,"45,27","49,97","43,56"
PUNT_FISICA,"38,62","31,11","34,84"
PUNT_INGLES,"40,5","40,5","41,6"
DESEMP_INGLES,A-,A-,A-
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN LENGUAJE,PROFUNDIZACIÓN EN BIOLOGÍA
PUNT_PROFUNDIZACION,"4,38","4,38","4,17"
DESEMP_PROFUNDIZACION,GB,GB,GB
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD
PUNT_INTERDISCIPLINAR,"51,14","50,17","45,24"
ESTU_PUESTO,794,309,893

In [5]:
data_2009 = data_2009.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                           'COLE_NOMBRE_SEDE', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA',
                           'ESTU_COD_MCPIO_PRESENTACION', 'ESTU_EXAM_NOMBREEXAMEN'], axis=1)

In [6]:
c = 'ESTU_PAIS_RESIDE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['AR', 'BR', 'CN', 'CO', 'CU', 'DE', 'DO', 'EC', 'ES', 'FR', 'IT', 'JP',
       'PE', 'RO', 'TW', 'US', 'VE'],
      dtype='object')
AR        2
BR        2
CN        1
CO    69629
CU        3
DE        1
DO        1
EC        3
ES        3
FR        1
IT        1
JP        1
PE        2
RO        1
TW        1
US        5
VE        5
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 81
__________________
Elementos diferentes de null/NaN: 69662
__________________
(69662,)
None

In [7]:
c = 'ESTU_GENERO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['F', 'M'], dtype='object')
F    37773
M    31952
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 69725
__________________
(69725,)
None

In [8]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     2401
2     2246
3     2375
4     2295
5     2279
6     2273
7     2317
8     2259
9     2269
10    2328
11    2340
12    2307
13    2204
14    2237
15    2327
16    2261
17    2333
18    2334
19    2274
20    2399
21    2246
22    2254
23    2321
24    2329
25    2307
26    2219
27    2316
28    2309
29    2095
30    2007
31    1257
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 25
__________________
Elementos diferentes de null/NaN: 69718
__________________
(69718,)
None

In [9]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     5508
2     5212
3     5805
4     5543
5     5899
6     5647
7     6049
8     6025
9     6284
10    5921
11    5618
12    6207
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 25
__________________
Elementos diferentes de null/NaN: 69718
__________________
(69718,)
None

In [10]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1930.0, 1941.0, 1942.0, 1944.0, 1945.0, 1946.0, 1947.0, 1948.0,
              1949.0, 1950.0, 1951.0, 1952.0, 1953.0, 1954.0, 1955.0, 1956.0,
              1957.0, 1958.0, 1959.0, 1960.0, 1961.0, 1962.0, 1963.0, 1964.0,
              1965.0, 1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0,
              1973.0, 1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0,
              1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0,
              1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0,
              1999.0, 2000.0, 2001.0, 2002.0],
             dtype='float64')
1930        2
1941        1
1942        3
1944        2
1945        1
1946        4
1947        2
1948        5
1949        3
1950       10
1951        5
1952       11
1953       16
1954       14
1955       20
1956       18
1957       23
1958       25
1959       28
1960       42
1961       40
1962       50
1963       61
1964       71
1965       60
1966       68
1967       69
1968       84
1969       97
1970      106
1971       94
1972      127
1973      110
1974      129
1975      121
1976      131
1977      160
1978      146
1979      197
1980      233
1981      210
1982      282
1983      315
1984      342
1985      445
1986      552
1987      835
1988     1425
1989     3100
1990     7806
1991    17010
1992    27076
1993     7436
1994      437
1995       34
1996        2
1999        1
2000       10
2001        8
2002        3
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 25
__________________
Elementos diferentes de null/NaN: 69718
__________________
(69718,)
None

In [11]:
for i in data_2009[c].value_counts().sort_index().index:
    if i < 1931:
        data_2009[c] = data_2009[c].replace(i, np.nan)
    elif i > 1996:
        data_2009[c] = data_2009[c].replace(i, np.nan)

In [12]:
c = 'ESTU_EDAD'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Int64Index([13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29,
            30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46,
            47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63,
            64, 65, 66, 67, 78],
           dtype='int64')
13       23
14      267
15     4549
16    25553
17    18920
18     9488
19     3696
20     1625
21      902
22      631
23      452
24      365
25      326
26      295
27      216
28      244
29      201
30      144
31      158
32      132
33      135
34      119
35      121
36      123
37       99
38      104
39      101
40       88
41       72
42       68
43       60
44       69
45       65
46       51
47       43
48       38
49       35
50       24
51       20
52       19
53       22
54       12
55       18
56        9
57        7
58        9
59        5
60        4
61        3
62        3
63        2
64        1
65        1
66        3
67        1
78        2
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [13]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 69743
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [14]:
data_2009 = data_2009.drop([c], axis=1)

In [15]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 69743
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [16]:
data_2009 = data_2009.drop([c], axis=1)

In [17]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 69743
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [18]:
data_2009 = data_2009.drop([c], axis=1)

In [19]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 69743
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [20]:
data_2009 = data_2009.drop([c], axis=1)

In [21]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 69743
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [22]:
data_2009 = data_2009.drop([c], axis=1)

In [23]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 69743
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [24]:
data_2009 = data_2009.drop([c], axis=1)

In [25]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 69743
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [26]:
data_2009 = data_2009.drop([c], axis=1)

In [27]:
c = 'ESTU_ETNIA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     2758
2       46
3       69
4       12
5       10
6       16
7        6
8        7
9       12
10       1
11     996
12       2
13      24
14       2
15       2
16       2
17       3
99    1369
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 64406
__________________
Elementos diferentes de null/NaN: 5337
__________________
(5337,)
None

In [28]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['ABEJORRAL', 'ACACIAS', 'ACEVEDO', 'AGUACHICA', 'AGUAZUL',
       'AGUSTIN CODAZZI', 'AIPE', 'ALBAN', 'ALBAN (SAN JOSE)', 'ALBANIA',
       ...
       'VITERBO', 'YACUANQUER', 'YARUMAL', 'YOPAL', 'YOTOCO', 'YUMBO',
       'ZARAGOZA', 'ZARZAL', 'ZIPACON', 'ZIPAQUIRA'],
      dtype='object', length=413)
ABEJORRAL                      5
ACACIAS                        7
ACEVEDO                        1
AGUACHICA                     33
AGUAZUL                       14
AGUSTIN CODAZZI               11
AIPE                           1
ALBAN                          3
ALBAN (SAN JOSE)              88
ALBANIA                       83
ALCALA                        86
ALDANA                        80
ALGARROBO                      1
AMAGA                          1
ANCUYA                        97
ANDALUCIA                    196
ANDES                          2
ANGELOPOLIS                   25
ANORI                          2
ANSERMANUEVO                 148
APARTADO                      24
ARAUCA                        47
ARAUQUITA                     15
ARBOLEDA (BERRUECOS)          51
ARBOLETES                      2
ARCABUCO                       1
ARGELIA                       45
ARJONA                         2
ARMENIA                      145
ATACO                          1
                            ...
TUNJA                         72
TUQUERRES                    413
TURBACO                       27
TURBO                         22
UBATE                          8
ULLOA                          1
UNE                            4
VALDIVIA                       4
VALENCIA                       8
VALLEDUPAR                    66
VENECIA (OSPINA PEREZ)         1
VENTAQUEMADA                   1
VERSALLES                     75
VIJES                         80
VILLA GUAMEZ (LA HORMIGA)      7
VILLA RICA                     9
VILLAGARZON                    2
VILLAMARIA                     6
VILLAVICENCIO                248
VILLETA                       21
VITERBO                        1
YACUANQUER                   113
YARUMAL                       18
YOPAL                        110
YOTOCO                       110
YUMBO                        978
ZARAGOZA                      69
ZARZAL                       484
ZIPACON                        3
ZIPAQUIRA                     91
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 69725
__________________
(69725,)
None

In [29]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE', 'VICHADA'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           3131
ARAUCA                89
ATLÁNTICO            694
BOGOTÁ              6254
BOLÍVAR              283
BOYACÁ               258
CALDAS               394
CAQUETÁ               66
CASANARE             194
CAUCA               1100
CESAR                115
CHOCÓ                  4
CUNDINAMARCA        1094
CÓRDOBA               59
HUILA                281
LA GUAJIRA           108
MAGDALENA             63
META                 275
NARIÑO             12229
NORTE SANTANDER      173
PUTUMAYO              92
QUINDÍO              189
RISARALDA            277
SANTANDER            589
SUCRE                 11
TOLIMA               351
VALLE              41345
VICHADA                6
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 69725
__________________
(69725,)
None

In [30]:
c = 'ESTU_ZONA_RESIDE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      6726
2      3338
3      1208
4      6240
5      1993
6      3791
7      3891
8      1699
9      1769
10    39011
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 77
__________________
Elementos diferentes de null/NaN: 69666
__________________
(69666,)
None

In [31]:
c = 'ESTU_AREA_RESIDE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    56659
2    13077
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 7
__________________
Elementos diferentes de null/NaN: 69736
__________________
(69736,)
None

In [32]:
c = 'FAMI_EDUCA_PADRE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      1976
1         2
2        19
3         9
4         8
5        13
6         2
7         3
8         1
9     10644
10    11669
11     8795
12    16574
13      792
14     2660
15     1171
16     7790
17     2815
99     4785
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [33]:
c = 'FAMI_EDUCA_MADRE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      1171
1         4
2        15
3         9
4         9
5        19
6         1
7         2
8         1
9     10235
10    12133
11    10621
12    17597
13     1040
14     3029
15     1269
16     7679
17     2271
99     2623
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [34]:
c = 'FAMI_OCUPA_PADRE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 1.0,  3.0,  5.0,  7.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,
              16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
1         4
3         3
5         6
7         7
9        23
10        2
11        8
12       11
13     2426
14     4812
15     2171
16     2330
17     3746
18     2678
19    13431
20     3989
21    19128
22      838
23     2589
26    11526
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [35]:
c = 'FAMI_OCUPA_MADRE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 15.0,
              16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0, 26.0],
             dtype='float64')
5         3
6         3
7         3
8         2
9        10
10       36
11        2
12        5
13     1043
14     2295
15     1208
16     2100
17     2822
18     2262
19     6160
20     2489
21     7088
22    36032
23      901
26     5264
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [36]:
c = 'FAMI_EDUCA_HERMANO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 88.0, 99.0], dtype='float64')
1       906
2      2019
3      2993
4      9244
5       834
6      1681
7      1328
8      3600
9       545
88    34648
99     3600
Name: FAMI_EDUCA_HERMANO, dtype: int64
Elementos null/NaN 8345
__________________
Elementos diferentes de null/NaN: 61398
__________________
(61398,)
None

In [37]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    20403
2    24710
3    14901
4     3890
5     2880
6     2339
8      341
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 279
__________________
Elementos diferentes de null/NaN: 69464
__________________
(69464,)
None

In [38]:
data_2009[c] = data_2009[c].replace(8.0, np.nan)

In [39]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    21821
2    15526
3     2268
4      914
5    29199
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [40]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       443
2      3287
3     11697
4     21489
5     16090
6      7903
7      3781
8      2185
9      1073
10      770
11      315
12      694
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 16
__________________
Elementos diferentes de null/NaN: 69727
__________________
(69727,)
None

In [41]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1       671
2      4715
3     12910
4     16854
5     14052
6      7927
7      3669
8      2026
9       840
10     1067
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 5012
__________________
Elementos diferentes de null/NaN: 64731
__________________
(64731,)
None

In [42]:
c = 'FAMI_DORMITORIOS_HOGAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      3361
2     23328
3     28311
4     10627
5      2737
6       858
7       284
8       110
9        45
10       67
Name: FAMI_DORMITORIOS_HOGAR, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [43]:
c = 'FAMI_PISOSHOGAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     1960
2    26501
3     3621
4    37273
5      373
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [44]:
c = 'FAMI_SANITARIO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0      432
1    60818
2     1241
3      118
4     3183
Name: FAMI_SANITARIO, dtype: int64
Elementos null/NaN 3951
__________________
Elementos diferentes de null/NaN: 65792
__________________
(65792,)
None

In [45]:
c = 'FAMI_CONEXION_SANITARIO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     3086
1    58973
Name: FAMI_CONEXION_SANITARIO, dtype: int64
Elementos null/NaN 7684
__________________
Elementos diferentes de null/NaN: 62059
__________________
(62059,)
None

In [46]:
c = 'FAMI_ELECTRICIDAD'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      419
1    60896
Name: FAMI_ELECTRICIDAD, dtype: int64
Elementos null/NaN 8428
__________________
Elementos diferentes de null/NaN: 61315
__________________
(61315,)
None

In [47]:
c = 'FAMI_ACUEDUCTO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     2341
1    58974
Name: FAMI_ACUEDUCTO, dtype: int64
Elementos null/NaN 8428
__________________
Elementos diferentes de null/NaN: 61315
__________________
(61315,)
None

In [48]:
c = 'FAMI_ALCANTARILLADO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     5770
1    55545
Name: FAMI_ALCANTARILLADO, dtype: int64
Elementos null/NaN 8428
__________________
Elementos diferentes de null/NaN: 61315
__________________
(61315,)
None

In [49]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    25662
1    44066
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [50]:
c = 'FAMI_ASEO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     7458
1    53857
Name: FAMI_ASEO, dtype: int64
Elementos null/NaN 8428
__________________
Elementos diferentes de null/NaN: 61315
__________________
(61315,)
None

In [51]:
c = 'FAMI_INTERNET'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    48739
1    20989
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [52]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    23388
1    46340
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [53]:
c = 'FAMI_COMPUTADOR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    35899
1       38
3    33791
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [54]:
c = 'FAMI_TELEVISOR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     1659
1    59770
Name: FAMI_TELEVISOR, dtype: int64
Elementos null/NaN 8314
__________________
Elementos diferentes de null/NaN: 61429
__________________
(61429,)
None

In [55]:
c = 'FAMI_DVD'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    21451
1    48277
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [56]:
c = 'FAMI_AUTOMOVIL'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    53104
1    16624
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [57]:
c = 'FAMI_LAVADORA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    32296
1    37432
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [58]:
c = 'FAMI_HORNO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    44515
1    25213
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [59]:
c = 'FAMI_MICROONDAS'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    49209
1    20519
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [60]:
c = 'FAMI_NEVERA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     8558
1    61170
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [61]:
c = 'FAMI_ESTUFA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     3563
1    57752
Name: FAMI_ESTUFA, dtype: int64
Elementos null/NaN 8428
__________________
Elementos diferentes de null/NaN: 61315
__________________
(61315,)
None

In [62]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    17327
2    30439
3    10503
4     4758
5     1995
6     1392
7     3314
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 15
__________________
Elementos diferentes de null/NaN: 69728
__________________
(69728,)
None

In [63]:
c = 'ESTU_TRABAJA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    62215
1     5615
2     1270
3      185
4      138
5      152
6       29
7       37
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 102
__________________
Elementos diferentes de null/NaN: 69641
__________________
(69641,)
None

In [64]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0       21
1       24
2       63
3      116
4      275
5      211
6      264
7      104
8      724
9      137
10     321
11      55
12     238
13      29
14      97
15     160
16     149
17      20
18     110
19      51
20    4166
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 62408
__________________
Elementos diferentes de null/NaN: 7335
__________________
(7335,)
None

In [65]:
c = 'COLE_VALOR_PENSION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
0     41267
1         4
8     14038
9      3363
10     1610
11     3201
12     6238
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 22
__________________
Elementos diferentes de null/NaN: 69721
__________________
(69721,)
None

In [66]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1981.0, 1984.0, 1994.0, 1998.0, 2001.0, 2004.0, 2005.0, 2006.0,
              2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 9999.0],
             dtype='float64')
1981        1
1984        1
1994        1
1998        1
2001        1
2004        1
2005        1
2006        2
2007        2
2008       24
2009    69455
2010      237
2011        5
9999        2
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 9
__________________
Elementos diferentes de null/NaN: 69734
__________________
(69734,)
None

In [67]:
data_2009[c] = data_2009[c].replace(9999.0, np.nan)

In [68]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      34
1    3459
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 66250
__________________
Elementos diferentes de null/NaN: 3493
__________________
(3493,)
None

In [69]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([     2.0,      3.0,    182.0,    638.0,   2816.0,   3046.0,
                3327.0,   3418.0,   3459.0,   3525.0,
              ...
              169664.0, 169748.0, 170399.0, 174524.0, 174862.0, 175190.0,
              175208.0, 175703.0, 175745.0, 999999.0],
             dtype='float64', length=1973)
2           1
3          72
182        94
638        76
2816        1
3046       55
3327       18
3418       40
3459       68
3525       85
4234       42
5108        1
6023      114
6114        1
6775       14
7013       58
7070       78
7088       50
7377        2
8904        1
9110      261
9795        1
9845        1
9878        1
9993        5
11072       1
11213     261
11239      74
11254      33
11262      54
         ...
150326      1
150342      1
150474      1
150557      1
151498      1
151878      5
151977      1
152173      2
153692      2
155911      1
155994      1
156190      1
156216      1
156802      1
158436      1
159491      1
160952      1
162180      1
164186      1
168237      1
169664      1
169748      2
170399      1
174524      1
174862      1
175190      1
175208      1
175703      1
175745      1
999999    194
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 220
__________________
Elementos diferentes de null/NaN: 69523
__________________
(69523,)
None

In [70]:
c = 'COLE_COD_ICFES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Int64Index([   182,    638,   3046,   3327,   3418,   3459,   3525,   4234,
              6023,   6775,
            ...
            143677, 143735, 143776, 143818, 143826, 144006, 144014, 144022,
            144071, 144212],
           dtype='int64', length=1807)
182        94
638        78
3046       55
3327       18
3418       41
3459       68
3525       85
4234       42
6023      114
6775       14
7013       58
7070       80
7088       51
11213     268
11239      73
11254      32
11262      54
11270      85
11288      69
11296     334
11312     139
11320     121
11338     381
11379      23
11395      43
11403      35
11411      98
11429      59
11437     116
11445      70
         ...
143016     25
143024      6
143032     25
143065     25
143099      3
143149     43
143198      5
143230     22
143255     61
143263     16
143271      9
143396      6
143479      8
143495     17
143503     33
143578      7
143594      4
143636      7
143651     70
143669     32
143677      7
143735     13
143776     15
143818      5
143826     38
144006      5
144014     11
144022      4
144071     14
144212     16
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [71]:
data_2009[c] = data_2009[c].replace(182, np.nan)
data_2009[c] = data_2009[c].replace(638, np.nan)

In [72]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['            ', '010500103391', '034100105808', '051100116867',
       '105001000175', '105001000566', '105001003387', '105001003395',
       '105001003425', '105001014397',
       ...
       '576001091472', '576622134546', '625214000001', '625269000075',
       '625269000078', '625269000082', '625269000084', '625286000041',
       '625899000017', '818001100015'],
      dtype='object', length=1601)
                807
010500103391     41
034100105808     14
051100116867      6
105001000175     13
105001000566     22
105001003387     17
105001003395     42
105001003425     16
105001014397      8
105001024571    216
105088001512     35
105088003175     15
111001009971     14
111001010031     37
111001010251     13
111001010839     31
111001011011      3
111001011029      9
111001012360     18
111001013129     17
111001030856     18
111001034134     23
111001036781     33
111001092410     36
111001098876     11
111001098884     44
111001098892     35
111001098965     20
111001102148      6
               ...
476126000418     16
476130000571     47
476130000902      9
476130000961      9
476130001186     18
476130001208     16
476233002003      8
476248000648      8
476248032012     54
476520003791     22
476520006324     12
476520007207    102
476892001183     12
476892099710     20
476895000382     31
519001000002     25
525899000016     23
537610908071     26
541548000100      5
568001009690     27
576001091472     21
576622134546     22
625214000001     25
625269000075     10
625269000078     36
625269000082     19
625269000084     10
625286000041     69
625899000017     35
818001100015      5
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 18
__________________
Elementos diferentes de null/NaN: 69725
__________________
(69725,)
None

In [73]:
data_2009[c] = data_2009[c].replace('            ', np.nan)

In [74]:
c = 'COLE_CALENDARIO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['A', 'B', 'F'], dtype='object')
A    41957
B    12913
F    14873
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [75]:
c = 'COLE_GENERO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['F', 'M', 'X'], dtype='object')
F     4083
M     1065
X    64595
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [76]:
c = 'COLE_NATURALEZA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['N', 'O'], dtype='object')
N    31189
O    38554
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [77]:
c = 'COLE_BILINGUE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    58502
1     4107
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 7134
__________________
Elementos diferentes de null/NaN: 62609
__________________
(62609,)
None

In [78]:
c = 'COLE_JORNADA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE'],
      dtype='object')
COMPLETA U ORDINARIA    10201
MAÑANA                  41429
NOCHE                    5776
SABATINA - DOMINICAL     4685
TARDE                    7652
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [79]:
c = 'COLE_CARACTER'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'NORMALISTA', 'TECNICO'], dtype='object')
ACADEMICO              38205
ACADEMICO Y TECNICO    11354
NORMALISTA              1585
TECNICO                18599
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [80]:
c = 'ESTU_VECES_ESTADO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    56292
1    10566
2     2212
3      659
4        7
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 7
__________________
Elementos diferentes de null/NaN: 69736
__________________
(69736,)
None

In [81]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     4332
1     6264
2     5157
3    46752
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 7238
__________________
Elementos diferentes de null/NaN: 62505
__________________
(62505,)
None

In [82]:
c = 'ESTU_CARRDESEADA_NUCLEO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([  1.0,   2.0,   3.0,   4.0,   5.0,   6.0,   7.0,   8.0,   9.0,
               11.0,  12.0,  13.0,  18.0,  19.0,  20.0,  21.0,  22.0,  23.0,
               24.0,  25.0,  26.0,  27.0,  28.0,  29.0,  30.0,  31.0,  32.0,
               33.0,  34.0,  35.0,  36.0,  37.0,  39.0,  40.0,  41.0,  42.0,
               44.0,  45.0,  46.0,  47.0,  48.0,  50.0,  53.0,  55.0,  56.0,
               57.0,  58.0,  59.0,  61.0,  62.0,  64.0,  66.0,  68.0,  69.0,
               70.0,  99.0, 122.0],
             dtype='float64')
1       774
2       480
3       638
4       456
5       139
6       433
7      2597
8       457
9      5868
11     1525
12     2134
13     1197
18     1287
19      154
20      829
21      551
22      345
23      641
24      343
25      939
26      127
27     4466
28      537
29     1096
30     1747
31     1724
32      377
33      328
34      490
35      174
36      102
37      204
39      171
40      404
41     3389
42      393
44      105
45     5200
46      179
47     2084
48      127
50      194
53      127
55       85
56      651
57     1867
58      551
59     2535
61     1247
62      170
64      713
66     2064
68      278
69      414
70       65
99     2005
122       1
Name: ESTU_CARRDESEADA_NUCLEO, dtype: int64
Elementos null/NaN 11565
__________________
Elementos diferentes de null/NaN: 58178
__________________
(58178,)
None

In [83]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1101.0, 1102.0, 1103.0, 1104.0, 1105.0, 1106.0, 1108.0, 1109.0,
              1110.0, 1111.0,
              ...
              9103.0, 9104.0, 9105.0, 9107.0, 9110.0, 9111.0, 9112.0, 9113.0,
              9114.0, 9115.0],
             dtype='float64', length=304)
1101     2063
1102      166
1103      172
1104      652
1105      149
1106      104
1108       26
1109        8
1110     1183
1111      770
1112      278
1113       36
1114       81
1115       49
1117       70
1118        7
1119      147
1120       52
1121       23
1122      562
1124        8
1125        1
1201     1029
1202       40
1203    25022
1204      190
1205       65
1206     6529
1207      172
1208      461
        ...
4810       26
4811       46
4812       11
4813       88
4814      105
4817        9
4818        5
4822       26
4825        1
4826        3
4827        4
4829        3
4832        9
4835       22
4836        1
4837        2
5801        4
5802       66
9101       69
9102        4
9103      523
9104      251
9105       50
9107       27
9110      381
9111     1633
9112      237
9113       29
9114       47
9115      346
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 4640
__________________
Elementos diferentes de null/NaN: 65103
__________________
(65103,)
None

In [84]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['ANDES', 'ARAUCA', 'ARMENIA', 'BARRANCABERMEJA', 'BARRANQUILLA',
       'BELLO', 'BOGOTÁ D.C.', 'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS',
       'CALI', 'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CHIA',
       'CHIQUINQUIRA', 'CUCUTA', 'ENVIGADO', 'ESPINAL', 'FACATATIVA',
       'FLORENCIA', 'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA',
       'MADRID', 'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'MOSQUERA',
       'NEIVA', 'NILO', 'OCAÑA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PEREIRA',
       'POPAYAN', 'QUIBDO', 'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA',
       'SAN ANDRES', 'SAN GIL', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÉ DE ANTIOQUIA', 'SEVILLA', 'SINCELEJO',
       'SOCORRO', 'SOGAMOSO', 'TULUA', 'TUNJA', 'TURBO', 'UBATE', 'VALLEDUPAR',
       'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
ANDES                       6
ARAUCA                      8
ARMENIA                   550
BARRANCABERMEJA            11
BARRANQUILLA              503
BELLO                     551
BOGOTÁ D.C.             11317
BUCARAMANGA               459
BUENAVENTURA              562
BUGA                      398
CALDAS                     17
CALI                    33250
CARMEN DE VIBORAL           1
CARTAGENA                 154
CARTAGO                   128
CAUCASIA                   22
CHIA                      363
CHIQUINQUIRA                8
CUCUTA                    119
ENVIGADO                   22
ESPINAL                    39
FACATATIVA                  9
FLORENCIA                  49
FUSAGASUGA                129
GIRARDOT                   19
HONDA                      10
IBAGUE                    182
LETICIA                     1
MADRID                     15
MANIZALES                 683
                        ...
NEIVA                      92
NILO                        1
OCAÑA                       2
PALMIRA                   763
PAMPLONA                   60
PASTO                    7392
PEREIRA                   927
POPAYAN                  1287
QUIBDO                      7
RIOHACHA                   48
RIONEGRO                    6
ROLDANILLO                199
SABANETA                   12
SAN ANDRES                  1
SAN GIL                    56
SANTA MARTA                64
SANTA ROSA DE CABAL        33
SANTA ROSA DE OSOS         93
SANTAFÉ DE ANTIOQUIA        9
SEVILLA                     6
SINCELEJO                  11
SOCORRO                     2
SOGAMOSO                   26
TULUA                     999
TUNJA                     132
TURBO                       1
UBATE                      14
VALLEDUPAR                 52
VILLAVICENCIO             187
YOPAL                      41
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 4640
__________________
Elementos diferentes de null/NaN: 65103
__________________
(65103,)
None

In [85]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS               1
ANTIOQUIA           3660
ARAUCA                 8
ATLÁNTICO            503
BOGOTÁ             11317
BOLÍVAR              154
BOYACÁ               166
CALDAS               683
CAQUETÁ               49
CASANARE              41
CAUCA               1287
CESAR                 52
CHOCÓ                  7
CUNDINAMARCA         579
CÓRDOBA               40
HUILA                 92
LA GUAJIRA            48
MAGDALENA             64
META                 187
NARIÑO              7392
NORTE SANTANDER      181
PUTUMAYO               6
QUINDÍO              550
RISARALDA            960
SAN ANDRÉS             1
SANTANDER            528
SUCRE                 11
TOLIMA               231
VALLE              36305
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 4640
__________________
Elementos diferentes de null/NaN: 65103
__________________
(65103,)
None

In [86]:
c = 'ESTU_RAZONINSTITUTO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0], dtype='float64')
1     1645
2    15504
3    29570
4     7022
5     5212
6     2471
7     2049
8     1644
Name: ESTU_RAZONINSTITUTO, dtype: int64
Elementos null/NaN 4626
__________________
Elementos diferentes de null/NaN: 65117
__________________
(65117,)
None

In [87]:
c = 'ESTU_CARRDESEADA_COD'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([  621.0,   643.0,  1820.0,  1869.0,  1870.0,  1882.0,  3647.0,
               4752.0,  4999.0,  6136.0,
              ...
              18129.0, 18548.0, 19902.0, 19918.0, 20143.0, 20146.0, 21612.0,
              21889.0, 22468.0, 22567.0],
             dtype='float64', length=122)
621       1
643       1
1820      1
1869      1
1870      1
1882      1
3647      1
4752      1
4999      1
6136      1
7343      2
7355      1
7387      1
8046      1
8145      3
8411      1
8651      1
8755      1
8803      1
9076      1
9390      3
9579     10
9718      1
9845      1
10082     3
10083     3
10132     3
10392     2
10742     4
10755     1
         ..
15312     2
15468     1
15570     1
15601     1
15650     1
15819     2
15955     2
15956     1
16058     3
16153     1
16242     1
16248     1
16307     1
16359     1
16552     1
16627     1
17527     1
17699     1
18004     1
18038     1
18129     1
18548     1
19902     1
19918     1
20143     7
20146     3
21612     1
21889     1
22468     1
22567     1
Name: ESTU_CARRDESEADA_COD, dtype: int64
Elementos null/NaN 69562
__________________
Elementos diferentes de null/NaN: 181
__________________
(181,)
None

In [88]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 6.0, 7.0], dtype='float64')
1    13378
2    28910
3     9644
4     7541
6      536
7     5108
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 4626
__________________
Elementos diferentes de null/NaN: 65117
__________________
(65117,)
None

In [89]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['AGUACHICA', 'ALBAN (SAN JOSE)', 'ALBANIA', 'ALCALA', 'ANDALUCIA',
       'ANSERMANUEVO', 'APARTADO', 'ARAUCA', 'ARMENIA', 'BARBACOAS',
       ...
       'TUMACO', 'TUNJA', 'TUQUERRES', 'VALLEDUPAR', 'VELEZ', 'VILLAVICENCIO',
       'YOPAL', 'YUMBO', 'ZARZAL', 'ZIPAQUIRA'],
      dtype='object', length=113)
AGUACHICA                    33
ALBAN (SAN JOSE)            148
ALBANIA                      42
ALCALA                       92
ANDALUCIA                   189
ANSERMANUEVO                145
APARTADO                     50
ARAUCA                       61
ARMENIA                     175
BARBACOAS                   231
BARRANCABERMEJA              44
BARRANQUILLA                694
BELLO                       230
BOGOTÁ D.C.                6223
BOLIVAR                      88
BUCARAMANGA                 526
BUENAVENTURA               2259
BUESACO                     191
BUGA                       1410
BUGALAGRANDE                248
CAICEDONIA                  277
CALI                      21698
CALIMA (DARIEN)             199
CANDELARIA                  648
CARTAGENA                   291
CARTAGO                    1548
CAUCASIA                    156
CHAPARRAL                    80
CHIA                        409
CONSACA                      95
                          ...
RIONEGRO                     20
ROLDANILLO                  553
SAMANIEGO                   330
SAN PABLO                   229
SANDONA                     299
SANTA MARTA                  62
SANTA ROSA DE OSOS          281
SANTANDER DE QUILICHAO      117
SEVILLA                     412
SILVIA                        8
SINCELEJO                     9
SOACHA                      175
SOCORRO                       3
SOGAMOSO                    134
TAME                         29
TAMINANGO                   243
TANGUA                       67
TORO                        120
TRUJILLO                    198
TULUA                      2702
TUMACO                       13
TUNJA                       121
TUQUERRES                   560
VALLEDUPAR                   85
VELEZ                         9
VILLAVICENCIO               255
YOPAL                       174
YUMBO                      1120
ZARZAL                      517
ZIPAQUIRA                   155
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [90]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR', 'BOYACÁ',
       'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE', 'VICHADA'],
      dtype='object')
ANTIOQUIA           3122
ARAUCA                90
ATLÁNTICO            694
BOGOTÁ              6223
BOLÍVAR              292
BOYACÁ               255
CALDAS               409
CAQUETÁ               64
CASANARE             196
CAUCA               1043
CESAR                118
CHOCÓ                  1
CUNDINAMARCA        1045
CÓRDOBA               58
HUILA                277
LA GUAJIRA           110
MAGDALENA             62
META                 271
NARIÑO             12335
NORTE SANTANDER      176
PUTUMAYO              88
QUINDÍO              175
RISARALDA            261
SANTANDER            582
SUCRE                  9
TOLIMA               322
VALLE              41459
VICHADA                6
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

## TARGETS

In [91]:
c = 'PUNT_LENGUAJE'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '11,97', '11,98', '20,26', '20,35', '25,49', '25,65', '29,46',
       '29,66', '32,73', '32,96', '35,58', '35,83', '38,15', '38,41', '40,52',
       '40,79', '42,75', '43,03', '44,9', '45,18', '47', '47,28', '49,07',
       '49,34', '51,14', '51,41', '53,24', '53,5', '55,4', '55,65', '57,65',
       '57,88', '60,02', '60,24', '62,59', '62,78', '65,43', '65,59', '68,67',
       '68,8', '72,56', '72,67', '77,66', '77,73', '85,72', '85,76', '98,78'],
      dtype='object')
0           8
11,97       8
11,98      16
20,26      50
20,35      35
25,49     149
25,65     129
29,46     316
29,66     309
32,73     687
32,96     742
35,58    1180
35,83    1192
38,15    1807
38,41    1761
40,52    2397
40,79    2463
42,75    2833
43,03    3091
44,9     3382
45,18    3477
47       3556
47,28    3689
49,07    3757
49,34    3727
51,14    3465
51,41    3546
53,24    3125
53,5     3058
55,4     2604
55,65    2442
57,65    1965
57,88    1933
60,02    1457
60,24    1337
62,59     944
62,78     944
65,43     622
65,59     549
68,67     323
68,8      284
72,56     136
72,67     129
77,66      44
77,73      55
85,72      13
85,76       6
98,78       1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [92]:
clean_target(data_2009, c)

In [93]:
c = 'PUNT_MATEMATICAS'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '110,73', '111,15', '111,37', '18,64', '19,03', '19,12', '24,84',
       '25,18', '25,28', '29,55', '29,84', '29,94', '33,44', '33,69', '33,8',
       '36,84', '37,04', '37,17', '39,9', '40,08', '40,21', '42,74', '42,89',
       '43,03', '45,43', '45,56', '45,71', '48,03', '48,13', '48,29', '50,56',
       '50,65', '50,83', '53,09', '53,16', '53,35', '55,63', '55,7', '55,9',
       '58,22', '58,3', '58,5', '60,92', '61', '61,22', '63,76', '63,86',
       '64,09', '66,83', '66,96', '67,19', '70,23', '70,38', '70,62', '74,12',
       '74,32', '74,56', '78,81', '79,06', '79,3', '8,77', '84,99', '85,29',
       '85,53', '9,23', '9,31', '94,79', '94,8', '95,17', '95,4'],
      dtype='object')
0           25
110,73      36
111,15      14
111,37      14
18,64      314
19,03      156
19,12      150
24,84      809
25,18      438
25,28      470
29,55     1796
29,84      896
29,94      921
33,44     2825
33,69     1441
33,8      1460
36,84     3832
37,04     1888
37,17     1848
39,9      4115
40,08     2102
40,21     2110
42,74     3971
42,89     2037
43,03     1996
45,43     3576
45,56     1787
45,71     1730
48,03     2909
48,13     1390
          ...
58,3       564
58,5       617
60,92      973
61         449
61,22      483
63,76      840
63,86      372
64,09      405
66,83      671
66,96      348
67,19      315
70,23      532
70,38      283
70,62      274
74,12      440
74,32      215
74,56      210
78,81      324
79,06      151
79,3       178
8,77        70
84,99      198
85,29       96
85,53       89
9,23        37
9,31        39
94,79       47
94,8        52
95,17       29
95,4        40
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [94]:
clean_target(data_2009, c)

In [95]:
c = 'PUNT_C_SOCIALES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '13,5', '13,56', '19,3', '19,33', '23,66', '23,67', '27,22',
       '27,23', '30,28', '30,3', '33,02', '33,03', '35,51', '35,53', '37,83',
       '37,85', '4,15', '4,26', '40,03', '40,04', '42,12', '42,13', '44,14',
       '46,11', '48,04', '48,05', '49,96', '51,87', '51,88', '53,79', '53,8',
       '55,75', '57,75', '59,82', '61,97', '64,26', '66,7', '66,71', '69,38',
       '69,39', '72,38', '72,4', '75,87', '75,89', '80,16'],
      dtype='object')
0           2
13,5       11
13,56      17
19,3       44
19,33      64
23,66     121
23,67     208
27,22     430
27,23     310
30,28     890
30,3      587
33,02    1387
33,03    1094
35,51    2119
35,53    1617
37,83    2869
37,85    2137
4,15        2
4,26        4
40,03    3456
40,04    2747
42,12    3675
42,13    3201
44,14    7231
46,11    7350
48,04    3111
48,05    3529
49,96    5754
51,87    2415
51,88    2525
53,79    1880
53,8     1811
55,75    2713
57,75    1872
59,82    1206
61,97     714
64,26     380
66,7       67
66,71     107
69,38      23
69,39      36
72,38      11
72,4       10
75,87       2
75,89       3
80,16       1
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [96]:
clean_target(data_2009, c)

In [97]:
c = 'PUNT_FILOSOFIA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '13,25', '13,62', '17,21', '22,38', '22,73', '26,41', '28,11',
       '28,44', '32,22', '32,47', '32,78', '36,08', '36,39', '36,66', '39,25',
       '39,54', '40,37', '42,11', '42,4', '43,64', '44,77', '45,07', '46,63',
       '47,29', '47,61', '49,44', '49,72', '50,07', '52,09', '52,13', '52,48',
       '54,45', '54,78', '54,89', '56,81', '57,33', '57,41', '59,21', '59,84',
       '60,08', '61,69', '62,46', '62,84', '64,28', '65,24', '65,73', '67,02',
       '68,25', '68,84', '70,01', '71,6', '72,28', '73,32', '75,46', '76,19',
       '80,13', '80,88'],
      dtype='object')
0          36
13,25      59
13,62      17
17,21     112
22,38     285
22,73     104
26,41     441
28,11     833
28,44     271
32,22    1032
32,47    1795
32,78     628
36,08    3016
36,39    1044
36,66    1985
39,25    4367
39,54    1406
40,37    2836
42,11    5054
42,4     1811
43,64    3313
44,77    5477
45,07    1839
46,63    3290
47,29    5103
47,61    1523
49,44    2775
49,72    4034
50,07    1269
52,09    2991
52,13    2074
52,48     852
54,45    1889
54,78    1218
54,89     593
56,81    1131
57,33     355
57,41     684
59,21     646
59,84     219
60,08     371
61,69     279
62,46     108
62,84     169
64,28     135
65,24      49
65,73      66
67,02      68
68,25      14
68,84      21
70,01      21
71,6        5
72,28      13
73,32       8
75,46       3
76,19       3
80,13       1
80,88       2
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [98]:
clean_target(data_2009, c)

In [99]:
c = 'PUNT_BIOLOGIA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '14,89', '14,99', '22,6', '22,76', '27,45', '27,68', '31,17',
       '31,45', '34,26', '34,61', '36,99', '37,4', '39,47', '39,93', '41,79',
       '42,3', '44', '44,56', '46,13', '46,74', '48,23', '48,87', '50,31',
       '50,99', '52,41', '53,11', '54,55', '55,27', '56,75', '57,49', '59,08',
       '59,82', '61,56', '62,31', '64,3', '65,04', '67,41', '68,14', '71,14',
       '71,85', '76,02', '76,71', '83,75', '84,42', '96,34', '96,99'],
      dtype='object')
0          21
14,89      41
14,99      74
22,6      228
22,76     260
27,45     587
27,68     674
31,17    1239
31,45    1380
34,26    2230
34,61    2363
36,99    2991
37,4     3122
39,47    3535
39,93    3771
41,79    4011
42,3     4104
44       3896
44,56    3798
46,13    3546
46,74    3475
48,23    3106
48,87    2957
50,31    2474
50,99    2446
52,41    1974
53,11    1929
54,55    1611
55,27    1416
56,75    1212
57,49    1057
59,08     890
59,82     786
61,56     589
62,31     557
64,3      350
65,04     362
67,41     167
68,14     213
71,14      94
71,85     101
76,02      35
76,71      40
83,75      10
84,42      17
96,34       3
96,99       1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [100]:
clean_target(data_2009, c)

In [101]:
c = 'PUNT_QUIMICA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '18,39', '18,56', '25,21', '25,4', '29,46', '29,66', '32,65',
       '32,87', '35,28', '35,51', '37,57', '37,8', '39,62', '39,86', '41,52',
       '41,77', '43,3', '43,56', '45,02', '45,27', '46,68', '46,94', '48,33',
       '48,59', '49,97', '50,23', '51,64', '51,89', '53,36', '53,59', '55,14',
       '55,37', '57,04', '57,25', '59,09', '59,28', '61,37', '61,54', '64',
       '64,14', '67,2', '67,3', '71,44', '71,51', '78,26', '78,28', '89,49',
       '89,5'],
      dtype='object')
0          96
18,39      44
18,56      66
25,21     155
25,4      252
29,46     449
29,66     641
32,65    1118
32,87    1327
35,28    2029
35,51    2227
37,57    2994
37,8     3073
39,62    3729
39,86    3785
41,52    4086
41,77    4164
43,3     4003
43,56    3827
45,02    3570
45,27    3300
46,68    3005
46,94    2873
48,33    2385
48,59    2313
49,97    1900
50,23    1761
51,64    1392
51,89    1378
53,36    1104
53,59    1094
55,14     823
55,37     829
57,04     667
57,25     604
59,09     490
59,28     470
61,37     360
61,54     358
64        229
64,14     245
67,2      145
67,3      151
71,44      75
71,51      75
78,26      26
78,28      31
89,49      13
89,5       12
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [102]:
clean_target(data_2009, c)

In [103]:
c = 'PUNT_FISICA'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '102,75', '14,43', '15,26', '24,18', '25,03', '30,26', '31,11',
       '34,84', '35,7', '38,62', '39,49', '41,91', '42,78', '44,88', '45,75',
       '47,62', '48,49', '50,22', '51,08', '52,72', '53,57', '55,16', '56',
       '57,57', '58,4', '60', '60,81', '62,46', '63,27', '65', '65,79',
       '67,66', '68,44', '70,49', '71,25', '73,56', '74,31', '76,99', '77,71',
       '80,93', '81,64', '85,72', '86,41', '92,05', '92,71'],
      dtype='object')
0          325
102,75       1
14,43      178
15,26      223
24,18      663
25,03      900
30,26     1807
31,11     2253
34,84     3381
35,7      4353
38,62     5104
39,49     5617
41,91     6115
42,78     6363
44,88     5705
45,75     5268
47,62     4368
48,49     3860
50,22     3145
51,08     2491
52,72     1812
53,57     1465
55,16     1061
56         831
57,57      590
58,4       444
60         334
60,81      239
62,46      212
63,27      135
65         115
65,79       99
67,66       79
68,44       58
70,49       39
71,25       32
73,56       20
74,31       11
76,99       14
77,71        9
80,93        7
81,64        8
85,72        2
86,41        4
92,05        2
92,71        1
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [104]:
clean_target(data_2009, c)

In [105]:
c = 'PUNT_INGLES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '10,66', '100', '13,98', '17,17', '20,24', '23,16', '25,94',
       '28,58', '3,67', '31,05', '33,35', '35,47', '37,38', '39,07', '40,5',
       '41,6', '42,2', '43,48', '44,34', '45,2', '46,06', '46,92', '47,79',
       '48,65', '49,51', '50,37', '51,23', '52,09', '53,32', '54,64', '55,95',
       '57,27', '58,59', '59,9', '61,22', '62,69', '66,91', '7,22', '71,12',
       '75,34', '79,55', '83,41', '87,56', '91,71', '95,85'],
      dtype='object')
0           7
10,66       9
100         8
13,98      17
17,17      45
20,24     160
23,16     376
25,94     885
28,58    1542
3,67        1
31,05    2527
33,35    3598
35,47    4566
37,38    5426
39,07    5809
40,5     5760
41,6     5284
42,2     4663
43,48    4041
44,34    3219
45,2     2670
46,06    2216
46,92    1821
47,79    1498
48,65    1199
49,51    1044
50,37     873
51,23     767
52,09     655
53,32     561
54,64     540
55,95     501
57,27     505
58,59     450
59,9      442
61,22     484
62,69     527
66,91     531
7,22        4
71,12     641
75,34     722
79,55     779
83,41     835
87,56     795
91,71     542
95,85     198
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [106]:
clean_target(data_2009, c)

In [107]:
c = 'DESEMP_INGLES'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['A- ', 'A1 ', 'A2 ', 'B+ ', 'B1', 'B1 '], dtype='object')
A-     40679
A1     20003
A2      3483
B+      2378
B1         1
B1      3199
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [108]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             21347
PROFUNDIZACIÓN EN CIENCIAS SOCIALES    13190
PROFUNDIZACIÓN EN LENGUAJE             22133
PROFUNDIZACIÓN EN MATEMÁTICA           13073
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [109]:
c = 'PUNT_PROFUNDIZACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '10', '2,51', '3,11', '3,37', '3,38', '3,4', '3,92', '3,94',
       '4,17', '4,36', '4,38', '4,46', '4,68', '4,73', '4,75', '4,88', '5,07',
       '5,08', '5,09', '5,23', '5,39', '5,41', '5,43', '5,56', '5,7', '5,72',
       '5,75', '5,86', '6,03', '6,04', '6,16', '6,33', '6,37', '6,38', '6,46',
       '6,62', '6,74', '6,75', '6,77', '6,92', '7,11', '7,18', '7,19', '7,25',
       '7,5', '7,63', '7,74', '8', '8,1', '8,61', '8,77', '8,83'],
      dtype='object')
0        379
10         9
2,51     695
3,11     512
3,37     713
3,38    1350
3,4      474
3,92    2901
3,94    2522
4,17    1611
4,36    1918
4,38    3614
4,46    2282
4,68    3136
4,73    2089
4,75    3935
4,88    2476
5,07    1888
5,08    4352
5,09    3428
5,23    2141
5,39    1519
5,41    2563
5,43    4338
5,56    1596
5,7     1124
5,72    1775
5,75    3259
5,86    1028
6,03     900
6,04    3169
6,16     628
6,33    1089
6,37     580
6,38     664
6,46     348
6,62     479
6,74     412
6,75     378
6,77     204
6,92     245
7,11     124
7,18     215
7,19     154
7,25     105
7,5       77
7,63      53
7,74     149
8         44
8,1       27
8,61      46
8,77      14
8,83      12
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [110]:
clean_target(data_2009, c)

In [111]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['GB', 'I', 'II', 'III'], dtype='object')
GB     28548
I      33021
II      7360
III      814
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [112]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          37211
VIOLENCIA Y SOCIEDAD    32532
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [113]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Index(['0', '20,95', '28,17', '32,86', '36,54', '39,69', '42,55', '45,24',
       '45,43', '47,62', '47,87', '49,05', '50,17', '50,53', '51,14', '52,02',
       '52,86', '53,32', '53,67', '54,5', '55,37', '56,32', '56,36', '57,42',
       '58,82', '59,9', '60,97', '64,4', '64,41', '71,4', '82,63'],
      dtype='object')
0         305
20,95     402
28,17    1211
32,86    2437
36,54    3513
39,69    4209
42,55    4137
45,24    3848
45,43     679
47,62    2020
47,87    3290
49,05    3750
50,17    5404
50,53    2844
51,14    5927
52,02    5861
52,86    4895
53,32    2402
53,67    3609
54,5     2333
55,37    1377
56,32     717
56,36    1901
57,42     291
58,82     112
59,9     1289
60,97      40
64,4        4
64,41     687
71,4      219
82,63      30
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

In [114]:
clean_target(data_2009, c)

In [115]:
c = 'ESTU_PUESTO'
print(data_2009[c].value_counts().sort_index().index)
print(data_2009[c].value_counts().sort_index())
print(missing_data(data_2009[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       107
2       103
3       116
4        84
5        90
6        82
7        84
8        76
9        92
10       83
11       82
12       82
13       82
14       76
15       72
16       75
17       69
18       79
19       78
20       67
21       66
22       73
23       75
24       72
25       69
26       64
27       70
28       65
29       73
30       71
       ...
971      86
972      79
973      86
974      94
975      94
976      86
977      85
978      88
979      86
980      86
981      91
982      97
983      89
984      85
985      94
986      86
987      86
988      87
989      92
990      81
991      89
992      79
993      76
994      94
995      97
996      88
997      83
998      70
999      17
1000      6
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 69743
__________________
(69743,)
None

# FILE 2: 2009_2

In [116]:
data_2009_2 = pd.read_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20092-RGSTRO-CLFCCN-V1-0.txt', delimiter='|')

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [117]:
data_2009_2.shape

(518220, 121)

In [118]:
data_2009_2.head(3).T

,0,1,2
ESTU_CONSECUTIVO,SABER1120092000001,SABER1120092000002,SABER1120092000003
PERIODO,20092,20092,20092
ESTU_TIPO_DOCUMENTO,T,T,T
ESTU_PAIS_RESIDE,CO,CO,CO
ESTU_GENERO,F,F,F
ESTU_NACIMIENTO_DIA,4,25,16
ESTU_NACIMIENTO_MES,9,3,12
ESTU_NACIMIENTO_ANNO,1991,1992,1992
ESTU_EDAD,17,17,16
ESTU_LIMITA_BAJAVISION,NaN,NaN,NaN
ESTU_LIMITA_SORDOCEGUERA,NaN,NaN,NaN
ESTU_LIMITA_COGNITIVA,NaN,NaN,NaN
ESTU_LIMITA_INVIDENTE,NaN,NaN,NaN
ESTU_LIMITA_MOTRIZ,NaN,NaN,NaN
ESTU_LIMITA_SORDOINTERPRETE,NaN,NaN,NaN
ESTU_LIMITA_SORDONOINTERPRETE,NaN,NaN,NaN
ESTU_ETNIA,NaN,NaN,NaN
ESTU_COD_RESIDE_MCPIO,5736,11001,54001
ESTU_RESIDE_MCPIO,SEGOVIA,BOGOTÁ D.C.,CUCUTA
ESTU_RESIDE_DEPTO,ANTIOQUIA,BOGOTÁ,NORTE SANTANDER
ESTU_ZONA_RESIDE,10,8,10
ESTU_AREA_RESIDE,2,1,1
FAMI_EDUCA_PADRE,10,12,99
FAMI_EDUCA_MADRE,10,12,99
FAMI_OCUPA_PADRE,21,20,26
FAMI_OCUPA_MADRE,22,19,26
FAMI_ESTRATO_VIVIENDA,2,2,3
FAMI_NIVEL_SISBEN,1,1,5
FAMI_PERSONAS_HOGAR,6,4,4
FAMI_CUARTOS_HOGAR,3,4,5
...,...,...,...
ESTU_POR_AMIGOSESTUDIANDO,0,1,1
ESTU_POR_COSTOMATRICULA,-,-,-
ESTU_POR_OPORTUNIDADES,-,-,-
ESTU_POR_OTRARAZON,0,1,0
ESTU_PRESTIGIOINSTITUCION,0,1,1
ESTU_POR_UBICACION,0,1,1
ESTU_POR_UNICAQUEOFRECE,0,1,0
ESTU_RETIRARSE_COLEGIO,-,-,-
ESTU_PROGRAMA_ACADEMICODESEADO,-,-,-
ESTU_VECES_ESTADO,0,0,1
ESTU_CARRDESEADA_RAZON,NaN,NaN,NaN
ESTU_MCPIO_PRESENTACION,REMEDIOS,BOGOTÁ D.C.,CUCUTA
ESTU_COD_MCPIO_PRESENTACION,5604,11001,54001
ESTU_DEPTO_PRESENTACION,ANTIOQUIA,BOGOTÁ,NORTE SANTANDER
ESTU_EXAM_NOMBREEXAMEN,EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES),EXAMEN DE ESTADO (ICFES)
PUNT_LENGUAJE,"41,63","43,99","43,85"
PUNT_MATEMATICAS,"34,91","49,14","51,6"
PUNT_C_SOCIALES,"53,33","55,22","41,83"
PUNT_FILOSOFIA,"44,51","51,28","49,02"
PUNT_BIOLOGIA,"37,73","48,79","50,78"
PUNT_QUIMICA,"50,85","50,85","50,85"
PUNT_FISICA,"42,59","45,57","50,94"
PUNT_INGLES,"42,76","58,06","49,63"
DESEMP_INGLES,A-,A2,A1
NOMBRE_PROFUNDIZACION,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,PROFUNDIZACIÓN EN CIENCIAS SOCIALES,PROFUNDIZACIÓN EN MATEMÁTICA
PUNT_PROFUNDIZACION,"4,9","6,8","4,1"
DESEMP_PROFUNDIZACION,I,II,GB
NOMBRE_INTERDISCIPLINAR,MEDIO AMBIENTE,VIOLENCIA Y SOCIEDAD,MEDIO AMBIENTE
PUNT_INTERDISCIPLINAR,"56,55","67,71","55,56"
ESTU_PUESTO,648,173,238

In [119]:
data_2009_2 = data_2009_2.drop(['ESTU_CONSECUTIVO', 'PERIODO', 'ESTU_TIPO_DOCUMENTO', 'ESTU_COD_RESIDE_MCPIO',
                               'COLE_NOMBRE_SEDE', 'ESTU_IES_DESEADA_NOMBRE', 'ESTU_IES_COD_MPIO_DESEADA',
                               'ESTU_COD_MCPIO_PRESENTACION'], axis=1)

In [120]:
c = 'ESTU_PAIS_RESIDE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AR', 'AT', 'AU', 'BO', 'BR', 'CL', 'CN', 'CO', 'CU', 'DE', 'EC', 'ES',
       'FR', 'IT', 'JP', 'KP', 'KR', 'LT', 'MX', 'NL', 'PA', 'PE', 'PY', 'RU',
       'US', 'VE'],
      dtype='object')
AR         7
AT         1
AU         1
BO         3
BR         5
CL         4
CN         2
CO    517946
CU         4
DE         2
EC         9
ES         3
FR         1
IT         2
JP         2
KP         1
KR         2
LT         1
MX         5
NL         1
PA         3
PE         9
PY         1
RU         1
US        11
VE        35
Name: ESTU_PAIS_RESIDE, dtype: int64
Elementos null/NaN 158
__________________
Elementos diferentes de null/NaN: 518062
__________________
(518062,)
None

In [121]:
c = 'ESTU_GENERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['F', 'M'], dtype='object')
F    279064
M    235694
Name: ESTU_GENERO, dtype: int64
Elementos null/NaN 3462
__________________
Elementos diferentes de null/NaN: 514758
__________________
(514758,)
None

In [122]:
c = 'ESTU_NACIMIENTO_DIA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0],
             dtype='float64')
1     17259
2     17104
3     16957
4     17158
5     17068
6     16681
7     17091
8     16965
9     16619
10    17537
11    16927
12    16987
13    16899
14    16751
15    17196
16    17245
17    16712
18    17012
19    16652
20    17460
21    16662
22    17065
23    16777
24    16834
25    16830
26    16777
27    16800
28    16843
29    15461
30    15065
31     9299
Name: ESTU_NACIMIENTO_DIA, dtype: int64
Elementos null/NaN 3527
__________________
Elementos diferentes de null/NaN: 514693
__________________
(514693,)
None

In [123]:
c = 'ESTU_NACIMIENTO_MES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1     41657
2     37759
3     42179
4     40433
5     42402
6     40507
7     43106
8     43779
9     45883
10    44816
11    43004
12    49168
Name: ESTU_NACIMIENTO_MES, dtype: int64
Elementos null/NaN 3527
__________________
Elementos diferentes de null/NaN: 514693
__________________
(514693,)
None

In [124]:
c = 'ESTU_NACIMIENTO_ANNO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([  90.0, 1930.0, 1931.0, 1933.0, 1934.0, 1935.0, 1936.0, 1937.0,
              1938.0, 1939.0, 1940.0, 1941.0, 1942.0, 1943.0, 1944.0, 1945.0,
              1946.0, 1947.0, 1948.0, 1949.0, 1950.0, 1951.0, 1952.0, 1953.0,
              1954.0, 1955.0, 1956.0, 1957.0, 1958.0, 1959.0, 1960.0, 1961.0,
              1962.0, 1963.0, 1964.0, 1965.0, 1966.0, 1967.0, 1968.0, 1969.0,
              1970.0, 1971.0, 1972.0, 1973.0, 1974.0, 1975.0, 1976.0, 1977.0,
              1978.0, 1979.0, 1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0,
              1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0,
              1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0,
              2002.0, 2003.0, 2004.0, 2015.0, 2093.0],
             dtype='float64')
90           1
1930         7
1931         3
1933         5
1934         4
1935         1
1936         1
1937         4
1938         3
1939         3
1940         4
1941         2
1942         9
1943         6
1944         9
1945        16
1946        16
1947        25
1948        29
1949        30
1950        52
1951        60
1952        64
1953        94
1954        99
1955       115
1956       125
1957       152
1958       197
1959       210
         ...
1977      1317
1978      1415
1979      1713
1980      1863
1981      2034
1982      2456
1983      2581
1984      2877
1985      3531
1986      4463
1987      6116
1988      9469
1989     18839
1990     42068
1991     92509
1992    180818
1993    114712
1994     12117
1995       901
1996        34
1997         8
1998        14
1999         9
2000       146
2001        49
2002        18
2003        25
2004        18
2015         1
2093         1
Name: ESTU_NACIMIENTO_ANNO, dtype: int64
Elementos null/NaN 3527
__________________
Elementos diferentes de null/NaN: 514693
__________________
(514693,)
None

In [125]:
for i in data_2009_2[c].value_counts().sort_index().index:
    if i < 1930:
        data_2009_2[c] = data_2009_2[c].replace(i, np.nan)
    elif i > 1996:
        data_2009_2[c] = data_2009_2[c].replace(i, np.nan)

In [126]:
c = 'ESTU_EDAD'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0, 23.0,
              24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0, 33.0, 34.0,
              35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0, 44.0, 45.0,
              46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 56.0,
              57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 67.0,
              68.0, 69.0, 70.0, 71.0, 72.0, 73.0, 74.0, 75.0, 76.0, 78.0,
              79.0],
             dtype='float64')
13       171
14      2710
15     36002
16    182686
17    136565
18     67229
19     30228
20     14147
21      7803
22      5418
23      4094
24      3374
25      2677
26      2583
27      2315
28      1950
29      1871
30      1577
31      1367
32      1286
33      1145
34      1138
35      1015
36       910
37       864
38       774
39       754
40       669
41       582
42       514
       ...
49       260
50       200
51       192
52       137
53       128
54       111
55        86
56        82
57        61
58        68
59        35
60        28
61        27
62        22
63        17
64        14
65         9
66         6
67         7
68         3
69         4
70         5
71         3
72         3
73         1
74         3
75         3
76         4
78         5
79         6
Name: ESTU_EDAD, dtype: int64
Elementos null/NaN 2
__________________
Elementos diferentes de null/NaN: 518218
__________________
(518218,)
None

In [127]:
c = 'ESTU_LIMITA_BAJAVISION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_BAJAVISION, dtype: int64)
Elementos null/NaN 518220
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [128]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [129]:
c = 'ESTU_LIMITA_SORDOCEGUERA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOCEGUERA, dtype: int64)
Elementos null/NaN 518220
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [130]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [131]:
c = 'ESTU_LIMITA_COGNITIVA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_COGNITIVA, dtype: int64)
Elementos null/NaN 518220
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [132]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [133]:
c = 'ESTU_LIMITA_INVIDENTE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_INVIDENTE, dtype: int64)
Elementos null/NaN 518220
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [134]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [135]:
c = 'ESTU_LIMITA_MOTRIZ'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_MOTRIZ, dtype: int64)
Elementos null/NaN 518220
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [136]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [137]:
c = 'ESTU_LIMITA_SORDOINTERPRETE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDOINTERPRETE, dtype: int64)
Elementos null/NaN 518220
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [138]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [139]:
c = 'ESTU_LIMITA_SORDONOINTERPRETE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([], dtype='float64')
Series([], Name: ESTU_LIMITA_SORDONOINTERPRETE, dtype: int64)
Elementos null/NaN 518220
__________________
Elementos diferentes de null/NaN: 0
__________________
(0,)
None

In [140]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [141]:
c = 'ESTU_ETNIA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
1     13254
2       753
3      1407
4       163
5       111
6       686
7       176
8       608
9      1147
10     2256
11      509
12      225
13      172
14       63
15       93
16      102
17       24
99     6377
Name: ESTU_ETNIA, dtype: int64
Elementos null/NaN 490094
__________________
Elementos diferentes de null/NaN: 28126
__________________
(28126,)
None

In [142]:
c = 'ESTU_RESIDE_MCPIO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ABRIAQUI', 'ACACIAS', 'ACANDI', 'ACEVEDO',
       'ACHI', 'AGRADO', 'AGUA DE DIOS', 'AGUACHICA',
       ...
       'YUMBO', 'ZAMBRANO', 'ZAPATOCA', 'ZAPAYAN', 'ZARAGOZA', 'ZARZAL',
       'ZETAQUIRA', 'ZIPACON', 'ZIPAQUIRA', 'ZONA BANANERA'],
      dtype='object', length=1026)
ABEJORRAL                    188
ABREGO                       182
ABRIAQUI                      24
ACACIAS                     1095
ACANDI                        72
ACEVEDO                      163
ACHI                         206
AGRADO                       106
AGUA DE DIOS                 145
AGUACHICA                   1069
AGUADA                        20
AGUADAS                      231
AGUAZUL                      499
AGUSTIN CODAZZI              558
AIPE                         212
ALBAN                         92
ALBAN (SAN JOSE)              23
ALBANIA                      336
ALCALA                        11
ALDANA                        27
ALEJANDRIA                    34
ALGARROBO                    153
ALGECIRAS                    286
ALMAGUER                     106
ALMEIDA                       25
ALPUJARRA                     54
ALTAMIRA                      56
ALTO BAUDO (PIE DE PATO)      35
ALTOS DEL ROSARIO             57
ALVARADO                     106
                            ...
VILLANUEVA                   975
VILLAPINZON                  286
VILLARRICA                    83
VILLAVICENCIO               6065
VILLAVIEJA                    83
VILLETA                      406
VIOTA                        159
VIRACACHA                     41
VISTA HERMOSA                 98
VITERBO                      223
YACOPI                       104
YACUANQUER                    30
YAGUARA                      139
YALI                          42
YARUMAL                      551
YAVARATE                      23
YOLOMBO                      237
YONDO (CASABE)               108
YOPAL                       2020
YOTOCO                        12
YUMBO                        383
ZAMBRANO                     131
ZAPATOCA                     133
ZAPAYAN                       57
ZARAGOZA                     212
ZARZAL                        54
ZETAQUIRA                     73
ZIPACON                       74
ZIPAQUIRA                   1586
ZONA BANANERA                601
Name: ESTU_RESIDE_MCPIO, dtype: int64
Elementos null/NaN 3110
__________________
Elementos diferentes de null/NaN: 515110
__________________
(515110,)
None

In [143]:
c = 'ESTU_RESIDE_DEPTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              779
ANTIOQUIA           71919
ARAUCA               3081
ATLÁNTICO           27887
BOGOTÁ             101580
BOLÍVAR             24885
BOYACÁ              19373
CALDAS              12783
CAQUETÁ              4300
CASANARE             4772
CAUCA               12394
CESAR               11990
CHOCÓ                4246
CUNDINAMARCA        33804
CÓRDOBA             17420
GUAINÍA               165
GUAVIARE              794
HUILA               15480
LA GUAJIRA           7075
MAGDALENA           13845
META                10744
NARIÑO               7740
NORTE SANTANDER     16566
PUTUMAYO             3205
QUINDÍO              7425
RISARALDA           11564
SAN ANDRÉS            812
SANTANDER           28142
SUCRE               10544
TOLIMA              17685
VALLE               11420
VAUPÉS                262
VICHADA               429
Name: ESTU_RESIDE_DEPTO, dtype: int64
Elementos null/NaN 3110
__________________
Elementos diferentes de null/NaN: 515110
__________________
(515110,)
None

In [144]:
c = 'ESTU_ZONA_RESIDE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1      21862
2       3662
3      13891
4      47638
5      19105
6      10194
7      11450
8      26972
9      21283
10    338075
Name: ESTU_ZONA_RESIDE, dtype: int64
Elementos null/NaN 4088
__________________
Elementos diferentes de null/NaN: 514132
__________________
(514132,)
None

In [145]:
c = 'ESTU_AREA_RESIDE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0], dtype='float64')
1    410309
2    107783
Name: ESTU_AREA_RESIDE, dtype: int64
Elementos null/NaN 128
__________________
Elementos diferentes de null/NaN: 518092
__________________
(518092,)
None

In [146]:
c = 'FAMI_EDUCA_PADRE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      21038
1         61
2        282
3        172
4        152
5        247
6         26
7         57
8         14
9     101683
10     94800
11     74918
12    108268
13      5848
14     19841
15      8117
16     44036
17     10505
99     27328
Name: FAMI_EDUCA_PADRE, dtype: int64
Elementos null/NaN 827
__________________
Elementos diferentes de null/NaN: 517393
__________________
(517393,)
None

In [147]:
c = 'FAMI_EDUCA_MADRE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 99.0],
             dtype='float64')
0      12287
1         35
2        277
3        188
4        176
5        282
6         24
7         72
8         15
9      90329
10     96244
11     90498
12    120599
13      7858
14     24778
15      8819
16     42239
17     10225
99     12448
Name: FAMI_EDUCA_MADRE, dtype: int64
Elementos null/NaN 827
__________________
Elementos diferentes de null/NaN: 517393
__________________
(517393,)
None

In [148]:
c = 'FAMI_OCUPA_PADRE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1         15
2         31
3          8
4          6
5         80
6         11
7        192
8         29
9        437
10        35
11       116
12       222
13      9665
14     39225
15     11063
16     15437
17     27055
18     19922
19     89508
20     25412
21    167480
22      8376
23     17448
26     85620
Name: FAMI_OCUPA_PADRE, dtype: int64
Elementos null/NaN 827
__________________
Elementos diferentes de null/NaN: 517393
__________________
(517393,)
None

In [149]:
c = 'FAMI_OCUPA_MADRE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0, 11.0,
              12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0, 22.0,
              23.0, 26.0],
             dtype='float64')
1         15
2         22
3          4
4         12
5         62
6         35
7         57
8         19
9        147
10       658
11        48
12       103
13      4667
14     15054
15      6443
16     14228
17     21069
18     17614
19     47120
20     13835
21     54876
22    276769
23      6522
26     38014
Name: FAMI_OCUPA_MADRE, dtype: int64
Elementos null/NaN 827
__________________
Elementos diferentes de null/NaN: 517393
__________________
(517393,)
None

In [150]:
c = 'FAMI_ESTRATO_VIVIENDA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 8.0], dtype='float64')
1    176720
2    195360
3    105307
4     22125
5      7255
6      3780
8      2944
Name: FAMI_ESTRATO_VIVIENDA, dtype: int64
Elementos null/NaN 4729
__________________
Elementos diferentes de null/NaN: 513491
__________________
(513491,)
None

In [151]:
data_2009_2[c] = data_2009_2[c].replace(8.0, np.nan)

In [152]:
c = 'FAMI_NIVEL_SISBEN'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1    200133
2    129746
3     25128
4      5648
5    156738
Name: FAMI_NIVEL_SISBEN, dtype: int64
Elementos null/NaN 827
__________________
Elementos diferentes de null/NaN: 517393
__________________
(517393,)
None

In [153]:
c = 'FAMI_PERSONAS_HOGAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1       3674
2      23146
3      75181
4     141577
5     125583
6      69561
7      34627
8      19281
9       9376
10      6605
11      3006
12      5755
Name: FAMI_PERSONAS_HOGAR, dtype: int64
Elementos null/NaN 848
__________________
Elementos diferentes de null/NaN: 517372
__________________
(517372,)
None

In [154]:
c = 'FAMI_CUARTOS_HOGAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0], dtype='float64')
1       7199
2      45985
3     105685
4     125791
5      96442
6      48026
7      20087
8      10123
9       4393
10      5435
Name: FAMI_CUARTOS_HOGAR, dtype: int64
Elementos null/NaN 49054
__________________
Elementos diferentes de null/NaN: 469166
__________________
(469166,)
None

In [155]:
c = 'FAMI_PISOSHOGAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0], dtype='float64')
1     23349
2    229190
3     25991
4    237734
5      1129
Name: FAMI_PISOSHOGAR, dtype: int64
Elementos null/NaN 827
__________________
Elementos diferentes de null/NaN: 517393
__________________
(517393,)
None

In [156]:
c = 'FAMI_TELEFONO_FIJO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    236639
1    280755
Name: FAMI_TELEFONO_FIJO, dtype: int64
Elementos null/NaN 826
__________________
Elementos diferentes de null/NaN: 517394
__________________
(517394,)
None

In [157]:
c = 'FAMI_CELULAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     73106
1    444102
Name: FAMI_CELULAR, dtype: int64
Elementos null/NaN 1012
__________________
Elementos diferentes de null/NaN: 517208
__________________
(517208,)
None

In [158]:
c = 'FAMI_INTERNET'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    365373
1    152023
Name: FAMI_INTERNET, dtype: int64
Elementos null/NaN 824
__________________
Elementos diferentes de null/NaN: 517396
__________________
(517396,)
None

In [159]:
c = 'FAMI_SERVICIO_TELEVISION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    217621
1    299775
Name: FAMI_SERVICIO_TELEVISION, dtype: int64
Elementos null/NaN 824
__________________
Elementos diferentes de null/NaN: 517396
__________________
(517396,)
None

In [160]:
c = 'FAMI_COMPUTADOR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 3.0], dtype='float64')
0    291429
1       772
3    225195
Name: FAMI_COMPUTADOR, dtype: int64
Elementos null/NaN 824
__________________
Elementos diferentes de null/NaN: 517396
__________________
(517396,)
None

In [161]:
c = 'FAMI_LAVADORA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    224540
1    292854
Name: FAMI_LAVADORA, dtype: int64
Elementos null/NaN 826
__________________
Elementos diferentes de null/NaN: 517394
__________________
(517394,)
None

In [162]:
c = 'FAMI_NEVERA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0     66841
1    450655
Name: FAMI_NEVERA, dtype: int64
Elementos null/NaN 724
__________________
Elementos diferentes de null/NaN: 517496
__________________
(517496,)
None

In [163]:
c = 'FAMI_HORNO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    298255
1    219139
Name: FAMI_HORNO, dtype: int64
Elementos null/NaN 826
__________________
Elementos diferentes de null/NaN: 517394
__________________
(517394,)
None

In [164]:
c = 'FAMI_DVD'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    193474
1    323922
Name: FAMI_DVD, dtype: int64
Elementos null/NaN 824
__________________
Elementos diferentes de null/NaN: 517396
__________________
(517396,)
None

In [165]:
c = 'FAMI_MICROONDAS'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    390857
1    126537
Name: FAMI_MICROONDAS, dtype: int64
Elementos null/NaN 826
__________________
Elementos diferentes de null/NaN: 517394
__________________
(517394,)
None

In [166]:
c = 'FAMI_AUTOMOVIL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    423148
1     94248
Name: FAMI_AUTOMOVIL, dtype: int64
Elementos null/NaN 824
__________________
Elementos diferentes de null/NaN: 517396
__________________
(517396,)
None

In [167]:
c = 'FAMI_INGRESO_FMILIAR_MENSUAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    149752
2    223377
3     81115
4     38819
5     12323
6      5919
7      6088
Name: FAMI_INGRESO_FMILIAR_MENSUAL, dtype: int64
Elementos null/NaN 827
__________________
Elementos diferentes de null/NaN: 517393
__________________
(517393,)
None

In [168]:
c = 'ESTU_TRABAJA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
0    419924
1       444
2       160
3      5532
4      1747
5      2451
6     28581
7     20978
Name: ESTU_TRABAJA, dtype: int64
Elementos null/NaN 38403
__________________
Elementos diferentes de null/NaN: 479817
__________________
(479817,)
None

In [169]:
c = 'ESTU_HORAS_TRABAJA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0],
             dtype='float64')
0       18
1       13
2       36
3       55
4      170
5      137
6      185
7       68
8      844
9      164
10     342
11      26
12     194
13      23
14      53
15     139
16     182
17      21
18     157
19      53
20    6910
Name: ESTU_HORAS_TRABAJA, dtype: int64
Elementos null/NaN 508430
__________________
Elementos diferentes de null/NaN: 9790
__________________
(9790,)
None

In [170]:
c = 'COLE_VALOR_PENSION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0,
              12.0],
             dtype='float64')
0     321960
1        412
2        126
3         95
4         85
5         63
6         40
7         30
8      80856
9      19436
10     13540
11     18858
12     17659
Name: COLE_VALOR_PENSION, dtype: int64
Elementos null/NaN 45060
__________________
Elementos diferentes de null/NaN: 473160
__________________
(473160,)
None

In [171]:
c = 'IND_ANNO_TERMINO_BACHILLERATO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1980.0, 1981.0, 1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0,
              1988.0, 1989.0, 1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0,
              1996.0, 1997.0, 1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0,
              2004.0, 2005.0, 2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0,
              2012.0, 2013.0, 2014.0, 2015.0, 9999.0],
             dtype='float64')
1980        15
1981         6
1982         5
1983         8
1984         2
1985         4
1986         8
1987         4
1988        11
1989        10
1990       129
1991       158
1992       184
1993       185
1994       245
1995       287
1996       378
1997       473
1998       569
1999       673
2000       786
2001       814
2002      1089
2003      1286
2004      1577
2005      1941
2006      2742
2007      4707
2008     11153
2009    475462
2010     11648
2011       547
2012        25
2013        12
2014         4
2015         3
9999       730
Name: IND_ANNO_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 340
__________________
Elementos diferentes de null/NaN: 517880
__________________
(517880,)
None

In [172]:
c = 'IND_MES_TERMINO_BACHILLERATO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0], dtype='float64')
1        233
2        360
3        475
4        668
5        413
6       7825
7       8265
8       2286
9       4047
10      2744
11    226337
12    253753
Name: IND_MES_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 10814
__________________
Elementos diferentes de null/NaN: 507406
__________________
(507406,)
None

In [173]:
c = 'IND_TERMINO_BACHILLERATO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0      368
1    22418
Name: IND_TERMINO_BACHILLERATO, dtype: int64
Elementos null/NaN 495434
__________________
Elementos diferentes de null/NaN: 22786
__________________
(22786,)
None

In [174]:
c = 'IND_COD_ICFES_TERMINO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([     0.0,      2.0,      3.0,     18.0,     28.0,     34.0,
                  42.0,     55.0,     58.0,     59.0,
              ...
              526848.0, 555193.0, 596874.0, 601138.0, 620369.0, 622977.0,
              631754.0, 633743.0, 638833.0, 999999.0],
             dtype='float64', length=12977)
0           27
2          317
3         1861
18          18
28           1
34           1
42           2
55           1
58           1
59        1052
67          23
75          57
83          33
90           1
91         117
123          1
125         59
141        100
174         86
182          1
190         79
208         98
216         27
226          1
232         37
240        222
252          1
257        152
265        110
273         71
          ...
255380       1
258541       1
260455       1
260836       1
261222       1
274704       1
275156       1
279992       1
280495       1
292847       1
300640       1
319533       1
358911       1
390856       1
404921       1
406116       1
456103       1
483214       1
496364       1
515205       1
526848       1
555193       1
596874       1
601138       1
620369       1
622977       1
631754       1
633743       1
638833       1
999999    3177
Name: IND_COD_ICFES_TERMINO, dtype: int64
Elementos null/NaN 6725
__________________
Elementos diferentes de null/NaN: 511495
__________________
(511495,)
None

In [175]:
c = 'COLE_COD_ICFES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([     2.0,     18.0,     34.0,     42.0,     59.0,     67.0,
                  75.0,     83.0,     91.0,    125.0,
              ...
              149179.0, 149187.0, 149195.0, 149278.0, 149286.0, 149302.0,
              149328.0, 149336.0, 149369.0, 999999.0],
             dtype='float64', length=12000)
2          401
18          18
34           1
42           2
59        1073
67          15
75          57
83          33
91         117
125         59
141         99
174         86
182          1
190         79
208         98
216         27
232         37
240        233
257        163
265        119
273         71
281         72
315        154
349         30
356         32
364         55
372        109
380        124
398         23
406         39
          ...
148940       6
148957      30
148965      11
148973      13
148981      17
148999      33
149005      21
149013       6
149021       4
149039      33
149047      34
149070       4
149088      10
149096       7
149104      10
149112       2
149120      13
149138       1
149146       3
149153       2
149179       7
149187      24
149195       3
149278       7
149286      28
149302      13
149328       1
149336      37
149369      37
999999    3438
Name: COLE_COD_ICFES, dtype: int64
Elementos null/NaN 3
__________________
Elementos diferentes de null/NaN: 518217
__________________
(518217,)
None

In [176]:
for i in data_2009_2[c].value_counts().sort_index().index:
    if len(str(i))<4:
        data_2009_2[c] = data_2009_2[c].replace(i, np.nan)

In [177]:
c = 'COLE_COD_DANE_INSTITUCION'
print(data_2009_2[c].value_counts().index)
print(data_2009_2[c].value_counts())
print(missing_data(data_2009_2[c]))

Index([105001000108.0, 168001003591.0, 325754005072.0, 105001013340.0,
       311001105391.0, 354001000027.0, 111001019411.0, 111001024732.0,
       105154000301.0, 305001003963.0,
       ...
       '217442000122', 305001025461.0, 376001023918.0, '223672000148',
       '311001039992', 311001004048.0, '250287000401', '311001104956',
       376275001529.0, '311001108196'],
      dtype='object', length=16990)
105001000108.0    827
168001003591.0    706
325754005072.0    702
105001013340.0    695
311001105391.0    622
354001000027.0    608
111001019411.0    599
111001024732.0    593
105154000301.0    585
305001003963.0    525
111102000753.0    508
313001029264.0    506
141001003341.0    502
111001011819.0    498
313001006701.0    488
305001004293.0    466
166001002339.0    461
111001083011.0    458
113001003274.0    450
108758000015.0    443
111001010910.0    432
163001002941.0    430
311001004820.0    425
117001001536.0    420
173001000308.0    417
173001001053.0    411
141001000066.0    408
305001022178.0    403
305001011761.0    400
111001006122.0    397
                 ...
311001019720        1
441396001809        1
176130000356        1
205034000299        1
252215000469        1
268575000706        1
217433000578        1
252001004904        1
276100000542        1
476892099710.0      1
219473000107        1
276400000609.0      1
317001001896        1
176001037600        1
308001001587        1
223001000518        1
325799000284        1
376001038320        1
176001008642        1
347001051105        1
217442000122        1
305001025461.0      1
376001023918.0      1
223672000148        1
311001039992        1
311001004048.0      1
250287000401        1
311001104956        1
376275001529.0      1
311001108196        1
Name: COLE_COD_DANE_INSTITUCION, dtype: int64
Elementos null/NaN 11763
__________________
Elementos diferentes de null/NaN: 506457
__________________
(506457,)
None

In [178]:
for i in data_2009_2[c].value_counts().index:
    if ' ' in str(i):
        data_2009_2[c] = data_2009_2[c].replace(i, np.nan)
    elif type(i) == str:
        data_2009_2[c] = data_2009_2[c].replace(i, float(i))

In [179]:
c = 'COLE_CALENDARIO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['A', 'B', 'F'], dtype='object')
A    436058
B      4512
F     74209
Name: COLE_CALENDARIO, dtype: int64
Elementos null/NaN 3441
__________________
Elementos diferentes de null/NaN: 514779
__________________
(514779,)
None

In [180]:
c = 'COLE_GENERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['F', 'M', 'X'], dtype='object')
F     28486
M      7303
X    478589
Name: COLE_GENERO, dtype: int64
Elementos null/NaN 3842
__________________
Elementos diferentes de null/NaN: 514378
__________________
(514378,)
None

In [181]:
c = 'COLE_NATURALEZA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['N', 'O'], dtype='object')
N    140074
O    374304
Name: COLE_NATURALEZA, dtype: int64
Elementos null/NaN 3842
__________________
Elementos diferentes de null/NaN: 514378
__________________
(514378,)
None

In [182]:
c = 'COLE_BILINGUE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    450678
1      5309
Name: COLE_BILINGUE, dtype: int64
Elementos null/NaN 62233
__________________
Elementos diferentes de null/NaN: 455987
__________________
(455987,)
None

In [183]:
c = 'COLE_JORNADA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['COMPLETA U ORDINARIA', 'MAÑANA', 'NOCHE', 'SABATINA - DOMINICAL',
       'TARDE', 'UNICA'],
      dtype='object')
COMPLETA U ORDINARIA    108016
MAÑANA                  254477
NOCHE                    38855
SABATINA - DOMINICAL     25652
TARDE                    90725
UNICA                       91
Name: COLE_JORNADA, dtype: int64
Elementos null/NaN 404
__________________
Elementos diferentes de null/NaN: 517816
__________________
(517816,)
None

In [184]:
c = 'COLE_CARACTER'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['ACADEMICO', 'ACADEMICO Y TECNICO', 'DESCONOCIDO', 'NORMALISTA',
       'TECNICO'],
      dtype='object')
ACADEMICO              322418
ACADEMICO Y TECNICO     92259
DESCONOCIDO               312
NORMALISTA              12382
TECNICO                 87007
Name: COLE_CARACTER, dtype: int64
Elementos null/NaN 3842
__________________
Elementos diferentes de null/NaN: 514378
__________________
(514378,)
None

In [185]:
c = 'ESTU_CARRDESEADA_TIPO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     1550
1     6116
2     3701
3    35847
Name: ESTU_CARRDESEADA_TIPO, dtype: int64
Elementos null/NaN 471006
__________________
Elementos diferentes de null/NaN: 47214
__________________
(47214,)
None

In [186]:
c = 'ESTU_IES_COD_DESEADA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([  1101.0,   1102.0,   1103.0,   1104.0,   1105.0,   1106.0,
                1107.0,   1108.0,   1109.0,   1110.0,
              ...
                9114.0,   9115.0,   9120.0,   9122.0,   9129.0,  19539.0,
               36681.0,  49122.0, 115956.0, 122853.0],
             dtype='float64', length=334)
1101      5925
1102       463
1103       229
1104        80
1105       549
1106       632
1107        64
1108       330
1109        55
1110       972
1111       844
1112       741
1113      1138
1114      1080
1115       281
1117       195
1118       261
1119       504
1120       725
1121        71
1122        10
1123        51
1124        42
1125        23
1201      4155
1202      1298
1203      2500
1204      1627
1205      1550
1206      1321
          ...
4826        49
4827         9
4829        18
4832        12
4835        26
4836         1
4837        17
4838        16
5801         7
5802        41
9101       114
9102        29
9103       129
9104       272
9105        82
9107        55
9110       797
9111        37
9112       359
9113        52
9114        75
9115         8
9120         2
9122         1
9129         1
19539        1
36681        1
49122        1
115956       1
122853       1
Name: ESTU_IES_COD_DESEADA, dtype: int64
Elementos null/NaN 464124
__________________
Elementos diferentes de null/NaN: 54096
__________________
(54096,)
None

In [187]:
c = 'ESTU_IES_DEPT_DESEADA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'HUILA', 'LA GUAJIRA', 'MAGDALENA', 'META',
       'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO', 'RISARALDA',
       'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE'],
      dtype='object')
AMAZONAS              23
ANTIOQUIA           8329
ARAUCA                42
ATLÁNTICO           3226
BOGOTÁ             16888
BOLÍVAR             2234
BOYACÁ              1241
CALDAS              1200
CAQUETÁ              281
CASANARE              66
CAUCA               1111
CESAR                776
CHOCÓ                261
CUNDINAMARCA        1056
CÓRDOBA             1310
HUILA               1129
LA GUAJIRA           342
MAGDALENA           1130
META                 587
NARIÑO              1431
NORTE SANTANDER     1405
PUTUMAYO              51
QUINDÍO              670
RISARALDA           1022
SAN ANDRÉS            16
SANTANDER           3076
SUCRE                692
TOLIMA              1279
VALLE               3222
Name: ESTU_IES_DEPT_DESEADA, dtype: int64
Elementos null/NaN 464124
__________________
Elementos diferentes de null/NaN: 54096
__________________
(54096,)
None

In [188]:
c = 'ESTU_IES_MPIO_DESEADA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AGUACHICA', 'ANDES', 'APARTADO', 'ARAUCA', 'ARMENIA',
       'BARRANCABERMEJA', 'BARRANQUILLA', 'BELLO', 'BOGOTÁ D.C.',
       'BUCARAMANGA', 'BUENAVENTURA', 'BUGA', 'CALDAS', 'CALI',
       'CARMEN DE VIBORAL', 'CARTAGENA', 'CARTAGO', 'CAUCASIA', 'CERETE',
       'CHIA', 'CHIQUINQUIRA', 'CIENAGA', 'COPACABANA', 'CUCUTA', 'DUITAMA',
       'EL BAGRE', 'ENVIGADO', 'ESPINAL', 'FACATATIVA', 'FLORENCIA',
       'FUSAGASUGA', 'GIRARDOT', 'HONDA', 'IBAGUE', 'LETICIA', 'MADRID',
       'MALAGA', 'MANIZALES', 'MEDELLIN', 'MOCOA', 'MONTERIA', 'MOSQUERA',
       'NEIVA', 'NILO', 'OCAÑA', 'PALMIRA', 'PAMPLONA', 'PASTO', 'PENSILVANIA',
       'PEREIRA', 'POPAYAN', 'PUERTO BERRIO', 'PUERTO TEJADA', 'QUIBDO',
       'RIOHACHA', 'RIONEGRO', 'ROLDANILLO', 'SABANETA', 'SAN ANDRES',
       'SAN GIL', 'SAN JUAN DEL CESAR', 'SANTA MARTA', 'SANTA ROSA DE CABAL',
       'SANTA ROSA DE OSOS', 'SANTAFÉ DE ANTIOQUIA', 'SEVILLA', 'SINCELEJO',
       'SOCORRO', 'SOGAMOSO', 'SOLEDAD', 'TULUA', 'TUNJA', 'TURBO', 'UBATE',
       'VALLEDUPAR', 'VILLAVICENCIO', 'YOPAL'],
      dtype='object')
AGUACHICA                  51
ANDES                      17
APARTADO                   13
ARAUCA                     42
ARMENIA                   670
BARRANCABERMEJA           142
BARRANQUILLA             3182
BELLO                     542
BOGOTÁ D.C.             16888
BUCARAMANGA              2696
BUENAVENTURA               10
BUGA                       10
CALDAS                     24
CALI                     3045
CARMEN DE VIBORAL          26
CARTAGENA                2234
CARTAGO                     9
CAUCASIA                   65
CERETE                      9
CHIA                      298
CHIQUINQUIRA               55
CIENAGA                    39
COPACABANA                  2
CUCUTA                    922
DUITAMA                    64
EL BAGRE                    1
ENVIGADO                   30
ESPINAL                    85
FACATATIVA                 15
FLORENCIA                 281
                        ...
PASTO                    1431
PENSILVANIA                12
PEREIRA                   999
POPAYAN                  1107
PUERTO BERRIO               5
PUERTO TEJADA               4
QUIBDO                    261
RIOHACHA                  324
RIONEGRO                  105
ROLDANILLO                  3
SABANETA                    4
SAN ANDRES                 16
SAN GIL                   174
SAN JUAN DEL CESAR         18
SANTA MARTA              1091
SANTA ROSA DE CABAL        23
SANTA ROSA DE OSOS          5
SANTAFÉ DE ANTIOQUIA        4
SEVILLA                     2
SINCELEJO                 692
SOCORRO                    58
SOGAMOSO                  330
SOLEDAD                    44
TULUA                      55
TUNJA                     792
TURBO                      17
UBATE                      38
VALLEDUPAR                725
VILLAVICENCIO             587
YOPAL                      66
Name: ESTU_IES_MPIO_DESEADA, dtype: int64
Elementos null/NaN 464124
__________________
Elementos diferentes de null/NaN: 54096
__________________
(54096,)
None

In [189]:
c = 'ESTU_TOTAL_ALUMNOS_CURSO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([ 0.0,  1.0,  2.0,  3.0,  4.0,  5.0,  6.0,  7.0,  8.0,  9.0, 10.0,
              11.0, 12.0, 13.0, 14.0, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 21.0,
              22.0, 23.0, 24.0, 25.0, 26.0, 27.0, 28.0, 29.0, 30.0, 31.0, 32.0,
              33.0, 34.0, 35.0, 36.0, 37.0, 38.0, 39.0, 40.0, 41.0, 42.0, 43.0,
              44.0, 45.0, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0,
              55.0, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0,
              67.0, 68.0, 69.0, 70.0, 72.0, 73.0, 74.0, 75.0, 76.0, 77.0, 78.0,
              80.0, 81.0, 82.0, 86.0, 87.0, 90.0, 92.0, 93.0, 95.0, 96.0, 97.0,
              98.0, 99.0],
             dtype='float64')
0        6
1       11
2       28
3       43
4       57
5       73
6      102
7      100
8      150
9      125
10     253
11     173
12     348
13     279
14     323
15     536
16     349
17     410
18     434
19     412
20     730
21     518
22     862
23     986
24     938
25    1504
26    1244
27    1188
28    1632
29    1389
      ...
60      40
61       3
62      13
63      35
64      19
65      24
67       4
68       3
69      19
70      18
72       9
73       5
74       1
75       5
76       4
77       3
78      24
80       6
81       2
82       2
86       2
87      15
90      11
92       6
93       1
95       2
96       6
97      11
98       5
99       1
Name: ESTU_TOTAL_ALUMNOS_CURSO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [190]:
c = 'ESTU_ANO_MATRICULA_PRIMERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0],
             dtype='float64')
1985     1242
1986      172
1987      182
1988      219
1989      215
1990      247
1991      292
1992      290
1993      488
1994      735
1995     1638
1996     3009
1997     5970
1998    12794
1999    20824
Name: ESTU_ANO_MATRICULA_PRIMERO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [191]:
c = 'ESTU_ANO_TERMINO_QUINTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0],
             dtype='float64')
1985      662
1986       76
1987       60
1988       49
1989       84
1990      171
1991      148
1992      137
1993      189
1994      180
1995      263
1996      244
1997      346
1998      443
1999      684
2000     1532
2001     2725
2002     7760
2003    32564
Name: ESTU_ANO_TERMINO_QUINTO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [192]:
c = 'ESTU_ANOS_COLEGIO_ACTUAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0], dtype='float64')
1      4477
2      5228
3      4070
4      2888
5      3027
6     12700
7      2787
8      1259
9      1087
10     1397
11     9397
Name: ESTU_ANOS_COLEGIO_ACTUAL, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [193]:
c = 'ESTU_ANO_MATRICULA_SEXTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1985.0, 1986.0, 1987.0, 1988.0, 1989.0, 1990.0, 1991.0, 1992.0,
              1993.0, 1994.0, 1995.0, 1996.0, 1997.0, 1998.0, 1999.0, 2000.0,
              2001.0, 2002.0, 2003.0, 2004.0],
             dtype='float64')
1985      404
1986       87
1987       59
1988       58
1989       52
1990       69
1991      133
1992       95
1993      133
1994      186
1995      159
1996      229
1997      229
1998      292
1999      368
2000      650
2001     1500
2002     2726
2003     7999
2004    32889
Name: ESTU_ANO_MATRICULA_SEXTO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [194]:
c = 'ESTU_ANOS_PREESCOLAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0], dtype='float64')
0     8223
1    23371
2     8877
3     7846
Name: ESTU_ANOS_PREESCOLAR, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [195]:
c = 'ESTU_CUANTOS_COLE_ESTUDIO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0], dtype='float64')
1    24420
2     9128
3     5514
Name: ESTU_CUANTOS_COLE_ESTUDIO, dtype: int64
Elementos null/NaN 479158
__________________
Elementos diferentes de null/NaN: 39062
__________________
(39062,)
None

In [196]:
c = 'ESTU_REPROBO_CUARTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46558
1     1759
Name: ESTU_REPROBO_CUARTO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [197]:
c = 'ESTU_REPROBO_DECIMO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45767
1     2550
Name: ESTU_REPROBO_DECIMO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [198]:
c = 'ESTU_REPROBO_NOVENO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46312
1     2005
Name: ESTU_REPROBO_NOVENO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [199]:
c = 'ESTU_REPROBO_OCTAVO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45977
1     2340
Name: ESTU_REPROBO_OCTAVO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [200]:
c = 'ESTU_REPROBO_PRIMERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45458
1     2859
Name: ESTU_REPROBO_PRIMERO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [201]:
c = 'ESTU_REPROBO_QUINTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46885
1     1432
Name: ESTU_REPROBO_QUINTO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [202]:
c = 'ESTU_REPROBO_SEGUNDO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46278
1     2039
Name: ESTU_REPROBO_SEGUNDO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [203]:
c = 'ESTU_REPROBO_SEPTIMO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    46052
1     2265
Name: ESTU_REPROBO_SEPTIMO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [204]:
c = 'ESTU_REPROBO_SEXTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45909
1     2408
Name: ESTU_REPROBO_SEXTO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [205]:
c = 'ESTU_REPROBO_TERCERO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    45945
1     2372
Name: ESTU_REPROBO_TERCERO, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [206]:
c = 'ESTU_REPROBO_ONCE_MAS'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    47158
1     1159
Name: ESTU_REPROBO_ONCE_MAS, dtype: int64
Elementos null/NaN 469903
__________________
Elementos diferentes de null/NaN: 48317
__________________
(48317,)
None

In [207]:
c = 'ESTU_POR_MEJORARPOSICIONSOCIAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    518220
Name: ESTU_POR_MEJORARPOSICIONSOCIAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [208]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [209]:
c = 'ESTU_POR_COLOMBIAAPRENDE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    518220
Name: ESTU_POR_COLOMBIAAPRENDE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [210]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [211]:
c = 'ESTU_POR_INFLUENCIAALGUIEN'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    34581
1    12175
Name: ESTU_POR_INFLUENCIAALGUIEN, dtype: int64
Elementos null/NaN 471464
__________________
Elementos diferentes de null/NaN: 46756
__________________
(46756,)
None

In [212]:
c = 'ESTU_POR_INTERESPERSONAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    518220
Name: ESTU_POR_INTERESPERSONAL, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [213]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [214]:
c = 'ESTU_POR_BUSCANDOCARRERA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    518220
Name: ESTU_POR_BUSCANDOCARRERA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [215]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [216]:
c = 'ESTU_POR_TRADICIONFAMILIAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    39463
1     7293
Name: ESTU_POR_TRADICIONFAMILIAR, dtype: int64
Elementos null/NaN 471464
__________________
Elementos diferentes de null/NaN: 46756
__________________
(46756,)
None

In [217]:
c = 'ESTU_POR_ORIENTACIONVOCACIONAL'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0], dtype='float64')
0    20884
1    21855
2     4019
Name: ESTU_POR_ORIENTACIONVOCACIONAL, dtype: int64
Elementos null/NaN 471462
__________________
Elementos diferentes de null/NaN: 46758
__________________
(46758,)
None

In [218]:
c = 'ESTU_RAZON_RETIRO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0], dtype='float64')
1     190
2     381
3    2547
4     773
5     548
6     274
7     116
8     105
9    2964
Name: ESTU_RAZON_RETIRO, dtype: int64
Elementos null/NaN 510322
__________________
Elementos diferentes de null/NaN: 7898
__________________
(7898,)
None

In [219]:
c = 'ESTU_POR_AMIGOSESTUDIANDO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    34435
1    12323
Name: ESTU_POR_AMIGOSESTUDIANDO, dtype: int64
Elementos null/NaN 471462
__________________
Elementos diferentes de null/NaN: 46758
__________________
(46758,)
None

In [220]:
c = 'ESTU_POR_COSTOMATRICULA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    518220
Name: ESTU_POR_COSTOMATRICULA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [221]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [222]:
c = 'ESTU_POR_OPORTUNIDADES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    518220
Name: ESTU_POR_OPORTUNIDADES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [223]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [224]:
c = 'ESTU_POR_OTRARAZON'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    33934
1    12824
Name: ESTU_POR_OTRARAZON, dtype: int64
Elementos null/NaN 471462
__________________
Elementos diferentes de null/NaN: 46758
__________________
(46758,)
None

In [225]:
c = 'ESTU_PRESTIGIOINSTITUCION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    11508
1    35251
Name: ESTU_PRESTIGIOINSTITUCION, dtype: int64
Elementos null/NaN 471461
__________________
Elementos diferentes de null/NaN: 46759
__________________
(46759,)
None

In [226]:
c = 'ESTU_POR_UBICACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    21895
1    24863
Name: ESTU_POR_UBICACION, dtype: int64
Elementos null/NaN 471462
__________________
Elementos diferentes de null/NaN: 46758
__________________
(46758,)
None

In [227]:
c = 'ESTU_POR_UNICAQUEOFRECE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0], dtype='float64')
0    35938
1    10820
Name: ESTU_POR_UNICAQUEOFRECE, dtype: int64
Elementos null/NaN 471462
__________________
Elementos diferentes de null/NaN: 46758
__________________
(46758,)
None

In [228]:
c = 'ESTU_RETIRARSE_COLEGIO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    518220
Name: ESTU_RETIRARSE_COLEGIO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [229]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [230]:
c = 'ESTU_PROGRAMA_ACADEMICODESEADO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-'], dtype='object')
-    518220
Name: ESTU_PROGRAMA_ACADEMICODESEADO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [231]:
data_2009_2 = data_2009_2.drop([c], axis=1)

In [232]:
c = 'ESTU_VECES_ESTADO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([0.0, 1.0, 2.0, 3.0, 4.0], dtype='float64')
0    432835
1     60763
2     16191
3      7180
4       499
Name: ESTU_VECES_ESTADO, dtype: int64
Elementos null/NaN 752
__________________
Elementos diferentes de null/NaN: 517468
__________________
(517468,)
None

In [233]:
c = 'ESTU_CARRDESEADA_RAZON'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Float64Index([1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0], dtype='float64')
1    1969
2    2599
3     875
4     477
5     177
6      52
7     287
Name: ESTU_CARRDESEADA_RAZON, dtype: int64
Elementos null/NaN 511784
__________________
Elementos diferentes de null/NaN: 6436
__________________
(6436,)
None

In [234]:
c = 'ESTU_MCPIO_PRESENTACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['ABEJORRAL', 'ABREGO', 'ACACIAS', 'ACANDI', 'ACHI', 'AGUACHICA',
       'AGUADAS', 'AGUAZUL', 'AGUSTIN CODAZZI', 'AIPE',
       ...
       'VILLAVICENCIO', 'VILLETA', 'VIOTA', 'YARUMAL', 'YAVARATE', 'YOLOMBO',
       'YOPAL', 'ZAPATOCA', 'ZARAGOZA', 'ZIPAQUIRA'],
      dtype='object', length=380)
ABEJORRAL                     190
ABREGO                        187
ACACIAS                      1461
ACANDI                         70
ACHI                          276
AGUACHICA                    1360
AGUADAS                       240
AGUAZUL                       499
AGUSTIN CODAZZI               564
AIPE                          217
ALTO BAUDO (PIE DE PATO)       29
AMAGA                         809
AMALFI                        286
ANDES                         810
ANOLAIMA                      273
ANSERMA                       802
APARTADO                     1963
APIA                          182
ARACATACA                     372
ARAUCA                       1246
ARAUQUITA                     323
ARBELAEZ                      252
ARBOLEDAS                     155
ARBOLETES                     390
ARIGUANI (EL DIFICIL)         350
ARJONA                        839
ARMENIA                      5284
ASTREA                        241
ATRATO (YUTO)                 137
AYAPEL                        388
                             ...
TUNJA                        5029
TURBACO                       963
TURBO                        1356
TURMEQUE                      256
TUTA                          132
UBATE                        1085
UNGUIA                         91
URRAO                         509
VALLEDUPAR                   6014
VALPARAISO                    237
VEGACHI                       183
VELEZ                         688
VENADILLO                     268
VENTAQUEMADA                  159
VIGIA DEL FUERTE               91
VILLA DE LEYVA                335
VILLA DEL ROSARIO             818
VILLA GUAMEZ (LA HORMIGA)     552
VILLAGARZON                   260
VILLANUEVA                   1004
VILLAVICENCIO                6663
VILLETA                       632
VIOTA                         114
YARUMAL                       954
YAVARATE                       26
YOLOMBO                       233
YOPAL                        2410
ZAPATOCA                      171
ZARAGOZA                      209
ZIPAQUIRA                    2792
Name: ESTU_MCPIO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [235]:
c = 'ESTU_DEPTO_PRESENTACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['AMAZONAS', 'ANTIOQUIA', 'ARAUCA', 'ATLÁNTICO', 'BOGOTÁ', 'BOLÍVAR',
       'BOYACÁ', 'CALDAS', 'CAQUETÁ', 'CASANARE', 'CAUCA', 'CESAR', 'CHOCÓ',
       'CUNDINAMARCA', 'CÓRDOBA', 'GUAINÍA', 'GUAVIARE', 'HUILA', 'LA GUAJIRA',
       'MAGDALENA', 'META', 'NARIÑO', 'NORTE SANTANDER', 'PUTUMAYO', 'QUINDÍO',
       'RISARALDA', 'SAN ANDRÉS', 'SANTANDER', 'SUCRE', 'TOLIMA', 'VALLE',
       'VAUPÉS', 'VICHADA'],
      dtype='object')
AMAZONAS              793
ANTIOQUIA           72035
ARAUCA               3225
ATLÁNTICO           28660
BOGOTÁ             102586
BOLÍVAR             24438
BOYACÁ              20210
CALDAS              13286
CAQUETÁ              4361
CASANARE             4916
CAUCA               12797
CESAR               12285
CHOCÓ                4265
CUNDINAMARCA        32678
CÓRDOBA             17435
GUAINÍA               181
GUAVIARE              860
HUILA               15796
LA GUAJIRA           7156
MAGDALENA           13629
META                10891
NARIÑO               7568
NORTE SANTANDER     16755
PUTUMAYO             3349
QUINDÍO              7723
RISARALDA           11573
SAN ANDRÉS            849
SANTANDER           28401
SUCRE               10637
TOLIMA              17301
VALLE               10853
VAUPÉS                277
VICHADA               451
Name: ESTU_DEPTO_PRESENTACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [236]:
c = 'ESTU_EXAM_NOMBREEXAMEN'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['EXAMEN DE ESTADO (ICFES)'], dtype='object')
EXAMEN DE ESTADO (ICFES)    518220
Name: ESTU_EXAM_NOMBREEXAMEN, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [237]:
data_2009_2 = data_2009_2.drop([c], axis=1)

## TARGETS

In [238]:
c = 'PUNT_LENGUAJE'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '15,91', '15,99', '23,94', '24,07', '29,01', '29,16', '32,88',
       '33,04', '36,1', '36,27', '38,92', '39,08', '41,48', '41,63', '43,85',
       '43,99', '46,1', '46,23', '48,26', '48,37', '50,37', '50,47', '52,45',
       '52,54', '54,54', '54,6', '56,64', '56,7', '58,8', '58,84', '61,03',
       '61,07', '63,4', '63,42', '65,94', '65,96', '68,74', '68,76', '71,94',
       '71,96', '75,79', '75,81', '80,84', '80,86', '88,84'],
      dtype='object')
0           63
15,91      134
15,99      236
23,94      743
24,07     1013
29,01     2342
29,16     3150
32,88     5472
33,04     7664
36,1     10541
36,27    14437
38,92    17790
39,08    23108
41,48    24777
41,63    32143
43,85    30770
43,99    38303
46,1     33040
46,23    40730
48,26    31701
48,37    38058
50,37    26683
50,47    31069
52,45    19886
52,54    22646
54,54    13168
54,6     14934
56,64     7880
56,7      8773
58,8      4377
58,84     4663
61,03     2187
61,07     2294
63,4      1026
63,42     1045
65,94      438
65,96      428
68,74      173
68,76      175
71,94       68
71,96       52
75,79       19
75,81       13
80,84        4
80,86        3
88,84        1
Name: PUNT_LENGUAJE, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [239]:
clean_target(data_2009_2, c)

In [240]:
c = 'PUNT_MATEMATICAS'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '10,51', '10,77', '115,34', '115,59', '20,18', '20,44', '26,24',
       '26,51', '30,84', '31,11', '34,66', '34,91', '37,99', '38,23', '41,01',
       '41,23', '43,8', '44', '46,45', '46,62', '49', '49,14', '51,49', '51,6',
       '53,95', '54,03', '56,43', '56,46', '58,94', '61,49', '61,53', '64,16',
       '64,24', '67,01', '67,13', '70,11', '70,26', '73,57', '73,76', '77,58',
       '77,8', '82,45', '82,69', '88,88', '89,15', '99,07', '99,33'],
      dtype='object')
0           207
10,51       458
10,77       651
115,34       27
115,59       19
20,18      2307
20,44      2688
26,24      6671
26,51      7666
30,84     14575
31,11     16111
34,66     23781
34,91     25372
37,99     31713
38,23     32262
41,01     34657
41,23     34892
43,8      33470
44        32881
46,45     28594
46,62     27609
49        22612
49,14     21649
51,49     17289
51,6      16252
53,95     12748
54,03     12008
56,43      9188
56,46      8664
58,94     13378
61,49      4699
61,53      4870
64,16      3302
64,24      3529
67,01      2136
67,13      2308
70,11      1435
70,26      1504
73,57       943
73,76       951
77,58       552
77,8        573
82,45       267
82,69       281
88,88       161
89,15       169
99,07        56
99,33        85
Name: PUNT_MATEMATICAS, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [241]:
clean_target(data_2009_2, c)

In [242]:
c = 'PUNT_C_SOCIALES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '112,93', '15,92', '15,93', '21,61', '25,86', '25,87', '29,33',
       '29,35', '32,32', '32,34', '34,98', '35,01', '37,41', '37,44', '39,66',
       '39,7', '41,79', '41,83', '43,82', '43,86', '45,79', '45,83', '47,71',
       '47,75', '49,59', '49,63', '51,46', '51,5', '53,33', '53,38', '55,22',
       '55,26', '57,14', '57,18', '59,12', '59,16', '6,71', '6,72', '61,16',
       '61,2', '63,31', '63,35', '65,6', '65,63', '68,06', '68,09', '70,78',
       '70,81', '73,85', '73,88', '77,45', '77,47', '81,87', '81,89', '87,79',
       '87,81', '97,35', '97,36'],
      dtype='object')
0            65
112,93        1
15,92       260
15,93       410
21,61      2254
25,86      3630
25,87      2385
29,33      7218
29,35      5326
32,32     11921
32,34      8997
34,98     17140
35,01     13825
37,41     21555
37,44     17893
39,66     24919
39,7      20983
41,79     26495
41,83     22278
43,82     26398
43,86     21940
45,79     25202
45,83     21064
47,71     23009
47,75     19023
49,59     20807
49,63     16483
51,46     17723
51,5      14340
53,33     15118
53,38     11711
55,22     12077
55,26      9861
57,14      9476
57,18      7950
59,12      7184
59,16      6155
6,71         58
6,72         84
61,16      5159
61,2       4454
63,31      3471
63,35      3114
65,6       2203
65,63      1977
68,06      1241
68,09      1150
70,78       645
70,81       629
73,85       300
73,88       312
77,45       126
77,47       116
81,87        35
81,89        46
87,79         7
87,81        11
97,35         3
97,36         3
Name: PUNT_C_SOCIALES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [243]:
clean_target(data_2009_2, c)

In [244]:
c = 'PUNT_FILOSOFIA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '17,7', '18,12', '23,34', '23,73', '27,6', '27,97', '31,12',
       '31,46', '34,19', '34,5', '36,95', '37,24', '39,52', '39,79', '41,95',
       '42,19', '44,29', '44,51', '46,59', '46,77', '48,86', '49,02', '51,14',
       '51,28', '53,46', '53,59', '55,86', '55,96', '58,36', '58,46', '61,03',
       '61,12', '63,91', '64,01', '67,12', '67,23', '70,79', '70,94', '75,23',
       '75,43', '8,66', '9,1'],
      dtype='object')
0         1234
17,7      1536
18,12     2114
23,34     4482
23,73     5518
27,6      9731
27,97    11088
31,12    17372
31,46    18317
34,19    24925
34,5     25847
36,95    31165
37,24    31847
39,52    34237
39,79    34023
41,95    33220
42,19    32575
44,29    29667
44,51    28922
46,59    24257
46,77    23333
48,86    18291
49,02    17443
51,14    12776
51,28    11971
53,46     8321
53,59     7371
55,86     4599
55,96     4140
58,36     2282
58,46     2003
61,03      956
61,12      843
63,91      339
64,01      289
67,12       94
67,23       71
70,79       25
70,94       22
75,23        5
75,43        6
8,66       414
9,1        549
Name: PUNT_FILOSOFIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [245]:
clean_target(data_2009_2, c)

In [246]:
c = 'PUNT_BIOLOGIA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '15,34', '15,43', '23,14', '23,25', '28,08', '28,2', '31,85',
       '31,98', '34,98', '35,13', '37,73', '37,89', '40,21', '40,39', '42,51',
       '42,7', '44,68', '44,9', '46,76', '47', '48,79', '49,05', '50,78',
       '51,06', '52,77', '53,07', '54,77', '55,09', '56,82', '57,16', '58,93',
       '59,3', '61,16', '61,56', '63,55', '63,98', '66,19', '66,64', '69,2',
       '69,68', '72,82', '73,34', '77,6', '78,14', '85,22', '85,8', '97,73'],
      dtype='object')
0           90
15,34       97
15,43      127
23,14      460
23,25      602
28,08     1825
28,2      2110
31,85     4590
31,98     5283
34,98     9941
35,13    10810
37,73    17019
37,89    18290
40,21    25450
40,39    26142
42,51    32697
42,7     32934
44,68    36701
44,9     35945
46,76    36570
47       35606
48,79    31770
49,05    30886
50,78    24102
51,06    23708
52,77    16668
53,07    16130
54,77     9838
55,09     9778
56,82     5518
57,16     5352
58,93     2863
59,3      2703
61,16     1419
61,56     1438
63,55      714
63,98      751
66,19      357
66,64      382
69,2       166
69,68      169
72,82       82
73,34       80
77,6        23
78,14       21
85,22        4
85,8         8
97,73        1
Name: PUNT_BIOLOGIA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [247]:
clean_target(data_2009_2, c)

In [248]:
c = 'PUNT_QUIMICA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '20,01', '20,45', '26,92', '27,32', '31,24', '31,61', '34,52',
       '34,86', '37,23', '37,54', '39,6', '39,89', '41,74', '42,01', '43,72',
       '43,97', '45,59', '45,83', '47,38', '47,62', '49,12', '49,37', '50,85',
       '51,1', '52,57', '52,83', '54,3', '54,59', '56,08', '56,4', '57,93',
       '58,28', '59,89', '60,27', '62', '62,42', '64,33', '64,8', '67',
       '67,52', '70,24', '70,81', '74,51', '75,13', '81,36', '82,04', '92,61',
       '93,33'],
      dtype='object')
0          207
20,01      304
20,45      355
26,92     1293
27,32     1428
31,24     3918
31,61     4192
34,52     8740
34,86     9497
37,23    15855
37,54    16802
39,6     23459
39,89    23900
41,74    30108
42,01    30549
43,72    33354
43,97    33222
45,59    32753
45,83    32990
47,38    29484
47,62    28625
49,12    24106
49,37    23807
50,85    18295
51,1     17889
52,57    12963
52,83    12715
54,3      8961
54,59     8633
56,08     5960
56,4      5601
57,93     3694
58,28     3627
59,89     2272
60,27     2208
62        1391
62,42     1352
64,33      856
64,8       799
67         492
67,52      459
70,24      291
70,81      264
74,51      170
75,13      160
81,36       73
82,04       94
92,61       30
93,33       23
Name: PUNT_QUIMICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [249]:
clean_target(data_2009_2, c)

In [250]:
c = 'PUNT_FISICA'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '14,18', '14,98', '24,05', '24,77', '30,24', '30,87', '34,91',
       '35,48', '38,77', '39,28', '42,13', '42,59', '45,15', '45,57', '47,95',
       '48,33', '50,58', '50,94', '53,11', '53,43', '55,56', '55,86', '57,99',
       '58,27', '60,41', '60,67', '62,86', '63,1', '65,37', '65,6', '67,99',
       '68,2', '70,76', '70,96', '73,76', '73,95', '77,08', '77,27', '80,91',
       '81,08', '85,54', '85,71', '91,68'],
      dtype='object')
0          573
14,18      795
14,98     1025
24,05     3858
24,77     4525
30,24    11171
30,87    12230
34,91    23345
35,48    24826
38,77    36372
39,28    37735
42,13    44506
42,59    45198
45,15    44687
45,57    44391
47,95    37324
48,33    36108
50,58    26188
50,94    24771
53,11    15771
53,43    14605
55,56     8419
55,86     7442
57,99     3816
58,27     3411
60,41     1657
60,67     1419
62,86      625
63,1       509
65,37      243
65,6       227
67,99      123
68,2        83
70,76       59
70,96       52
73,76       45
73,95       38
77,08       13
77,27       10
80,91        7
81,08        5
85,54        6
85,71        4
91,68        3
Name: PUNT_FISICA, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [251]:
clean_target(data_2009_2, c)

In [252]:
c = 'PUNT_INGLES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-1', '0', '10,3', '100', '13,54', '16,64', '19,57', '22,36', '24,99',
       '27,46', '29,78', '3,34', '31,94', '33,95', '35,81', '37,51', '39,05',
       '40,45', '41,68', '42,76', '43,48', '44,71', '45,94', '47,17', '48,4',
       '49,63', '50,86', '52,09', '53,32', '54,9', '56,48', '58,06', '59,64',
       '6,9', '61,22', '62,69', '65,1', '67,51', '69,92', '72,32', '74,73',
       '77,14', '79,55', '83,41', '88,94', '94,47'],
      dtype='object')
-1         224
0           31
10,3        28
100         66
13,54       55
16,64      184
19,57      440
22,36     1071
24,99     2249
27,46     4559
29,78     7756
3,34        12
31,94    12744
33,95    18885
35,81    25581
37,51    32723
39,05    38704
40,45    42967
41,68    44627
42,76    43331
43,48    40086
44,71    34773
45,94    28785
47,17    23573
48,4     18331
49,63    14417
50,86    11326
52,09     9262
53,32     7488
54,9      6298
56,48     5481
58,06     4808
59,64     4282
6,9         15
61,22     3896
62,69     3517
65,1      3513
67,51     3256
69,92     3026
72,32     3139
74,73     3052
77,14     2783
79,55     2541
83,41     2092
88,94     1580
94,47      663
Name: PUNT_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [253]:
clean_target(data_2009_2, c)

In [254]:
c = 'DESEMP_INGLES'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['-1', 'A-', 'A- ', 'A1', 'A1 ', 'A2', 'A2 ', 'B+', 'B1', 'B1 '], dtype='object')
-1        224
A-     275960
A-          2
A1     180550
A1          3
A2      32251
A2          2
B+       4401
B1      24826
B1          1
Name: DESEMP_INGLES, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [255]:
data_2009_2[c] = data_2009_2[c].replace('A- ', 'A-')
data_2009_2[c] = data_2009_2[c].replace('A1 ', 'A1')
data_2009_2[c] = data_2009_2[c].replace('A2 ', 'A2')
data_2009_2[c] = data_2009_2[c].replace('B1 ', 'B1')

In [256]:
c = 'NOMBRE_PROFUNDIZACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['PROFUNDIZACIÓN EN BIOLOGÍA', 'PROFUNDIZACIÓN EN CIENCIAS SOCIALES',
       'PROFUNDIZACIÓN EN LENGUAJE', 'PROFUNDIZACIÓN EN MATEMÁTICA'],
      dtype='object')
PROFUNDIZACIÓN EN BIOLOGÍA             153228
PROFUNDIZACIÓN EN CIENCIAS SOCIALES    109242
PROFUNDIZACIÓN EN LENGUAJE             175729
PROFUNDIZACIÓN EN MATEMÁTICA            80021
Name: NOMBRE_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [257]:
c = 'PUNT_PROFUNDIZACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '10', '3', '3,4', '3,9', '4,1', '4,4', '4,5', '4,6', '4,7', '4,9',
       '5', '5,2', '5,3', '5,4', '5,5', '5,6', '5,8', '5,9', '6', '6,2', '6,3',
       '6,5', '6,6', '6,8', '7', '7,1', '7,3', '7,4', '7,5', '7,7', '7,9', '8',
       '8,2', '8,3', '8,7', '8,9'],
      dtype='object')
0      12672
10         3
3       3855
3,4     9918
3,9    10768
4,1    34436
4,4    20585
4,5    18879
4,6    33808
4,7    18423
4,9    59805
5      35031
5,2    48188
5,3    21469
5,4    36437
5,5    33744
5,6    15467
5,8    46312
5,9     8803
6      24661
6,2     3984
6,3    11326
6,5     4893
6,6     1068
6,8     1738
7        961
7,1      194
7,3      238
7,4      230
7,5      124
7,7       32
7,9       94
8          2
8,2       20
8,3       29
8,7       11
8,9       12
Name: PUNT_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [258]:
clean_target(data_2009_2, c)

In [259]:
c = 'DESEMP_PROFUNDIZACION'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['GB', 'GB ', 'I', 'I  ', 'II', 'II ', 'III'], dtype='object')
GB     179949
GB          3
I      285183
I           6
II      50864
II          1
III      2214
Name: DESEMP_PROFUNDIZACION, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [260]:
data_2009_2[c] = data_2009_2[c].replace('GB ', 'GB')
data_2009_2[c] = data_2009_2[c].replace('I ', 'I')
data_2009_2[c] = data_2009_2[c].replace('II ', 'II')

In [261]:
c = 'NOMBRE_INTERDISCIPLINAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['MEDIO AMBIENTE', 'VIOLENCIA Y SOCIEDAD'], dtype='object')
MEDIO AMBIENTE          286296
VIOLENCIA Y SOCIEDAD    231924
Name: NOMBRE_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [262]:
c = 'PUNT_INTERDISCIPLINAR'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Index(['0', '23,81', '31,88', '37,05', '41,09', '44,57', '45,49', '47,69',
       '47,74', '49,13', '50,25', '50,76', '51,23', '52,12', '52,97', '53,75',
       '53,81', '54,66', '55,56', '56,55', '56,79', '57,69', '59,14', '60,01',
       '61,35', '63,56', '64,83', '67,71', '73', '81,21', '94,32'],
      dtype='object')
0         2990
23,81     6755
31,88    18653
37,05    32004
41,09    39252
44,57    37492
45,49     5893
47,69    16635
47,74    30662
49,13    30948
50,25    41483
50,76    22844
51,23    45835
52,12    43779
52,97    36327
53,75    15915
53,81    26984
54,66    17683
55,56    10512
56,55     5161
56,79    11088
57,69     2486
59,14      848
60,01     7545
61,35      258
63,56     4553
64,83       32
67,71     2385
73         950
81,21      241
94,32       27
Name: PUNT_INTERDISCIPLINAR, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

In [263]:
clean_target(data_2009_2, c)

In [264]:
c = 'ESTU_PUESTO'
print(data_2009_2[c].value_counts().sort_index().index)
print(data_2009_2[c].value_counts().sort_index())
print(missing_data(data_2009_2[c]))

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
             991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
           dtype='int64', length=1000)
1       519
2       519
3       519
4       519
5       518
6       519
7       519
8       520
9       518
10      519
11      519
12      519
13      518
14      517
15      519
16      519
17      517
18      518
19      518
20      519
21      519
22      519
23      517
24      518
25      516
26      518
27      518
28      519
29      519
30      519
       ...
971     520
972     519
973     518
974     518
975     518
976     520
977     518
978     518
979     518
980     519
981     518
982     519
983     517
984     519
985     518
986     518
987     518
988     519
989     519
990     518
991     518
992     518
993     519
994     518
995     520
996     518
997     518
998     519
999     519
1000    146
Name: ESTU_PUESTO, dtype: int64
Elementos null/NaN 0
__________________
Elementos diferentes de null/NaN: 518220
__________________
(518220,)
None

Now i can transform the obtained Dataframes in csv files

In [266]:
data_2009.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2009_1.csv', sep=';', index=False)
data_2009_2.to_csv('../DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/READY/2009_2.csv', sep=';', index=False)