In [1]:
import pandas as pd

In [2]:
SB11_2009 = pd.read_csv("DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20091-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|")
SB11_20092 = pd.read_csv("DatosFTPICFES/SABER11/SB11-BASES_DE_DATOS/SB11-20092-RGSTRO-CLFCCN-V1-0utf8.txt", delimiter="|")

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (51) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
SB11_2009.shape

(69743, 97)

In [4]:
SB11_20092.shape

(518220, 121)

In [3]:
INSE_2004 = pd.read_csv("DatosFTPICFES/SABER11/SB11-INDICE-SOCIOECONOMICO/SB11-2009-INSE-v1.0/SB11-INSE-2009.txt", delimiter=";")

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [6]:
INSE_2004.shape

(529706, 4)

Guardo las columnas de cada archivo

In [7]:
l = []
l = SB11_2009.columns
p = []
p = SB11_20092.columns
k = []
k = INSE_2004.columns

Comparo las columnas con las del otro archivo para conocer las diferencias

In [8]:
dif1 = p.difference(l)
dif2 = l.difference(p)
print(len(dif1))
print(len(dif2))

37
13

guardo en un archivo .csv las columnas, y las paso a un archivo de excel para ver claramente

In [ ]:
f = open('comparacion_columnas.csv', 'w')

for i in l:
    f.write(i)
    f.write(';')
f.write('/n')
for i in p:
    f.write(i)
    f.write(';')
f.write('/n')
for i in k:
    f.write(i)
    f.write(';')

f.close()

Creo dos archivos para probar la funcion MERGE

In [ ]:
x = open('archivo1.txt', 'w')
x.write("posicion")
x.write(';')
x.write('letra\n')
for i in range(10):
    x.write(str(i))
    x.write(';')
    x.write(str(i**2))
    x.write('\n')
x.close()

In [22]:
y = open('archivo2.txt', 'w')
y.write("posicion")
y.write(';')
y.write('palabra')
y.write(';')
y.write('letra\n')
for i in range(10,15):
    y.write(str(i))
    y.write(';')
    y.write(str(i**2))
    y.write(';')
    y.write(str(i/2))
    y.write('\n')
for i in range(0,5):
    y.write(str(i))
    y.write(';')
    y.write(str(i**3))
    y.write(';')
    y.write(str(i/3))
    y.write('\n')
y.close()

In [9]:
file1 = pd.read_csv("archivo1.txt", delimiter=';')
file2 = pd.read_csv("archivo2.txt", delimiter=';')

la funcion merge nos permite unir las tablas, el parametro on nos permite escoger de acuerdo a que columna se va a realizar el merge.  
Existe el parametro how, que con el valor outer nos permite obtener la union de las tablas y el atributo inner nos permite obtener la interseccion de las tablas igual que con el parametro on

In [16]:
file3 = file1.merge(file2, how = 'outer')

In [11]:
file1

   posicion  letra
0         0      0
1         1      1
2         2      4
3         3      9
4         4     16
5         5     25
6         6     36
7         7     49
8         8     64
9         9     81

In [12]:
file2

   posicion  palabra     letra
0        10      100  5.000000
1        11      121  5.500000
2        12      144  6.000000
3        13      169  6.500000
4        14      196  7.000000
5         0        0  0.000000
6         1        1  0.333333
7         2        8  0.666667
8         3       27  1.000000
9         4       64  1.333333

In [17]:
file3

    posicion      letra  palabra
0          0   0.000000        0
1          1   1.000000      NaN
2          2   4.000000      NaN
3          3   9.000000      NaN
4          4  16.000000      NaN
5          5  25.000000      NaN
6          6  36.000000      NaN
7          7  49.000000      NaN
8          8  64.000000      NaN
9          9  81.000000      NaN
10        10   5.000000      100
11        11   5.500000      121
12        12   6.000000      144
13        13   6.500000      169
14        14   7.000000      196
15         1   0.333333        1
16         2   0.666667        8
17         3   1.000000       27
18         4   1.333333       64

## Primer Intento de MERGE (Simple, entre los archivos SB11_2009 y SB11_20092, con el parametro on, en la columna del codigo de identificacion del estudiante y con el parametro how)

Se puede observar que no hay estudiantes en comun entre los dos archivos.

In [10]:
Merge_SB11_2009 = SB11_2009.merge(SB11_20092, on = 'ESTU_CONSECUTIVO')

In [11]:
Merge_SB11_2009.shape

(0, 217)

Se Puede observar que con el outer obtenemos la union por filas de los dos archivos

In [12]:
Merge_SB11_2009_2 = SB11_2009.merge(SB11_20092, how = 'outer')

In [13]:
Merge_SB11_2009_2.shape

(587963, 134)

Se puede observar que con el inner obtenemos la interserccion entre las dos tablas

In [14]:
Merge_SB11_2009_3 = SB11_2009.merge(SB11_20092, how = 'inner')

In [15]:
Merge_SB11_2009_3.shape

(0, 134)

poniendo las dos condiciones (outer y on...) obtenemos una tabla donde observamos una union de la cantidad de filas y una union entre la cantidad de columnas

In [4]:
Merge_SB11_2009_4 = SB11_2009.merge(SB11_20092, how = 'outer', on = 'ESTU_CONSECUTIVO')

In [5]:
Merge_SB11_2009_4.shape

(587963, 217)

IDEA: como no tengo estudiantes repetidos... entonces puedo preocuparme solo por poner todos los parametros de las dos tablas y ya.  
### Es posible que Merge_SB11_2009_4 sea la que busco

In [7]:
Merge_SB11_2009_4.to_csv('Merge_SB11_2009.csv', sep="|")

## MERGE con Indice SocioEconomico

In [9]:
INSE = pd.read_csv("DatosFTPICFES/SABER11/SB11-INDICE-SOCIOECONOMICO/SB11-2009-INSE-v1.0/SB11-INSE-2009.txt", delimiter=";")

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
INSE.head()

  ESTU_CONSECUTIVO  periodo INSE_091 INSE_092
0    SB20091006852    20091    82,70      NaN
1    SB20091016905    20091    22,80      NaN
2    SB20091016597    20091    36,29      NaN
3    SB20091016742    20091    15,24      NaN
4    SB20091014237    20091    38,60      NaN

In [6]:
Merge_SB11_2009_4 = pd.read_csv("Merge_SB11_2009.csv", delimiter="|")

/usr/local/lib/python3.4/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (3,4,5,19,20,60,61,62,63,64,66,67,72,74,75,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,99,100,101,115,116,148,149,150,151,152,154,155,158,160,161,180,181,183,184,189,190,195,196,199,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Se encuentran coincidencias entre los codigos que existen en el MERGE y en el archivo de INSE

In [11]:
Pruba = INSE.merge(Merge_SB11_2009_4, how='inner')

In [15]:
Pruba.iloc[1]

ESTU_CONSECUTIVO                   SB20091016905
periodo                                    20091
INSE_091                                   22,80
INSE_092                                     NaN
Unnamed: 0                                  8629
PERIODO_x                                  20091
ESTU_TIPO_DOCUMENTO_x                          T
ESTU_PAIS_RESIDE_x                            CO
ESTU_GENERO_x                                  F
ESTU_NACIMIENTO_DIA_x                         12
ESTU_NACIMIENTO_MES_x                          1
ESTU_NACIMIENTO_ANNO_x                      1993
ESTU_EDAD_x                                   16
ESTU_LIMITA_BAJAVISION_x                     NaN
ESTU_LIMITA_SORDOCEGUERA_x                   NaN
ESTU_LIMITA_COGNITIVA_x                      NaN
ESTU_LIMITA_INVIDENTE_x                      NaN
ESTU_LIMITA_MOTRIZ_x                         NaN
ESTU_LIMITA_SORDOINTERPRETE_x                NaN
ESTU_LIMITA_SORDONOINTERPRETE_x              NaN
ESTU_ETNIA_x                                 NaN
ESTU_COD_RESIDE_MCPIO_x                    76520
ESTU_RESIDE_MCPIO_x                      PALMIRA
ESTU_RESIDE_DEPTO_x                        VALLE
ESTU_ZONA_RESIDE_x                            10
ESTU_AREA_RESIDE_x                             1
FAMI_EDUCA_PADRE_x                            10
FAMI_EDUCA_MADRE_x                            10
FAMI_OCUPA_PADRE_x                            21
FAMI_OCUPA_MADRE_x                            22
                                       ...
ESTU_POR_AMIGOSESTUDIANDO                    NaN
ESTU_POR_COSTOMATRICULA                      NaN
ESTU_POR_OPORTUNIDADES                       NaN
ESTU_POR_OTRARAZON                           NaN
ESTU_PRESTIGIOINSTITUCION                    NaN
ESTU_POR_UBICACION                           NaN
ESTU_POR_UNICAQUEOFRECE                      NaN
ESTU_RETIRARSE_COLEGIO                       NaN
ESTU_PROGRAMA_ACADEMICODESEADO               NaN
ESTU_VECES_ESTADO_y                          NaN
ESTU_CARRDESEADA_RAZON_y                     NaN
ESTU_MCPIO_PRESENTACION_y                    NaN
ESTU_COD_MCPIO_PRESENTACION_y                NaN
ESTU_DEPTO_PRESENTACION_y                    NaN
ESTU_EXAM_NOMBREEXAMEN_y                     NaN
PUNT_LENGUAJE_y                              NaN
PUNT_MATEMATICAS_y                           NaN
PUNT_C_SOCIALES_y                            NaN
PUNT_FILOSOFIA_y                             NaN
PUNT_BIOLOGIA_y                              NaN
PUNT_QUIMICA_y                               NaN
PUNT_FISICA_y                                NaN
PUNT_INGLES_y                                NaN
DESEMP_INGLES_y                              NaN
NOMBRE_PROFUNDIZACION_y                      NaN
PUNT_PROFUNDIZACION_y                        NaN
DESEMP_PROFUNDIZACION_y                      NaN
NOMBRE_INTERDISCIPLINAR_y                    NaN
PUNT_INTERDISCIPLINAR_y                      NaN
ESTU_PUESTO_y                                NaN
Name: 1, dtype: object